{
  "Entries": [
    {
      "RequestUri": "https://fakekvurl.managedhsm.azure.net/keys/key2103710935/create?api-version=7.3-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        ":authority": "localhost:5001",
        ":method": "POST",
        ":path": "/keys/key2103710935/create?api-version=7.3-preview",
        ":scheme": "https"
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\u0022https://login.microsoftonline.com/00000000-0000-0000-0000-000000000000\u0022, resource=\u0022https://managedhsm.azure.net\u0022",
        "x-ms-server-latency": "1"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakekvurl.managedhsm.azure.net/keys/key2103710935/create?api-version=7.3-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        ":authority": "localhost:5001",
        ":method": "POST",
        ":path": "/keys/key2103710935/create?api-version=7.3-preview",
        ":scheme": "https",
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "kty": "RSA"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-server-latency": "211"
      },
      "ResponseBody": {
        "attributes": {
          "created": 1640018184,
          "enabled": true,
          "exportable": false,
          "recoverableDays": 7,
          "recoveryLevel": "CustomizedRecoverable\u002BPurgeable",
          "updated": 1640018184
        },
        "key": {
          "e": "AQAB",
          "key_ops": [
            "wrapKey",
            "decrypt",
            "encrypt",
            "unwrapKey",
            "sign",
            "verify"
          ],
          "kid": "https://rosebudhsm.managedhsm.azure.net/keys/key2103710935/a9c03dafa2bc4e090e9bbe478f41b12e",
          "kty": "RSA-HSM",
          "n": "yZXdZj7yCybuUv-h-demskdOEph_FeORuhsuQp8Xj2diUUlOpafWaC40AKeURpU-AvJ5Fg3omPlnwtxPwrLD2SQPR0KXpKU_FW7rxVCGgADGb7mHIadZv29dKvrBXXl7NySRnnuMIBpADK1mun77b_XjvoFl2Nmzbj1N7Hy7cJxemziXtD_OESr0aWYBJBgcnBLjPD7zcFdiAjGGTEBqzvZzL57J9kb1ov0BPlaFXlFuTHPWG3FlUtBE7JIGpb0MkdjOSM-R3-MsR9GmC_-_bXMcIx_en0kG5Thzin_EfQTIYhgT45yPBcUWujmrVF48ZKk62BLd6XsZKTc_ewFPDQ"
        }
      }
    },
    {
      "RequestUri": "https://fakekvurl.managedhsm.azure.net/keys/key2103710935hsm/create?api-version=7.3-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        ":authority": "localhost:5001",
        ":method": "POST",
        ":path": "/keys/key2103710935hsm/create?api-version=7.3-preview",
        ":scheme": "https",
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "kty": "RSA-HSM"
      },
      [...]
    {
      "RequestUri": "https://fakekvurl.managedhsm.azure.net/keys/key2103710935?api-version=7.3-preview",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        ":authority": "localhost:5001",
        ":method": "DELETE",
        ":path": "/keys/key2103710935?api-version=7.3-preview",
        ":scheme": "https",
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-server-latency": "156"
      },
      "ResponseBody": {
        "attributes": {
          "created": 1640018184,
          "enabled": true,
          "exportable": false,
          "recoverableDays": 7,
          "recoveryLevel": "CustomizedRecoverable\u002BPurgeable",
          "updated": 1640018184
        },
        "deletedDate": 1640018185,
        "key": {
          "e": "AQAB",
          "key_ops": [
            "wrapKey",
            "encrypt",
            "decrypt",
            "unwrapKey",
            "sign",
            "verify"
          ],
          "kid": "https://rosebudhsm.managedhsm.azure.net/keys/key2103710935/a9c03dafa2bc4e090e9bbe478f41b12e",
          "kty": "RSA-HSM",
          "n": "yZXdZj7yCybuUv-h-demskdOEph_FeORuhsuQp8Xj2diUUlOpafWaC40AKeURpU-AvJ5Fg3omPlnwtxPwrLD2SQPR0KXpKU_FW7rxVCGgADGb7mHIadZv29dKvrBXXl7NySRnnuMIBpADK1mun77b_XjvoFl2Nmzbj1N7Hy7cJxemziXtD_OESr0aWYBJBgcnBLjPD7zcFdiAjGGTEBqzvZzL57J9kb1ov0BPlaFXlFuTHPWG3FlUtBE7JIGpb0MkdjOSM-R3-MsR9GmC_-_bXMcIx_en0kG5Thzin_EfQTIYhgT45yPBcUWujmrVF48ZKk62BLd6XsZKTc_ewFPDQ"
        },
        "recoveryId": "https://rosebudhsm.managedhsm.azure.net/deletedkeys/key2103710935",
        "scheduledPurgeDate": 1640622985
      }
    },
    {
      "RequestUri": "https://fakekvurl.managedhsm.azure.net/deletedkeys/key2103710935?api-version=7.3-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        ":authority": "localhost:5001",
        ":method": "GET",
        ":path": "/deletedkeys/key2103710935?api-version=7.3-preview",
        ":scheme": "https",
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-build-version": "1.0.20211206-1-be739728-develop",
        "x-ms-server-latency": "29"
      },
      "ResponseBody": {
        "attributes": {
          "created": 1640018184,
          "enabled": true,
          "exportable": false,
          "recoverableDays": 7,
          "recoveryLevel": "CustomizedRecoverable\u002BPurgeable",
          "updated": 1640018184
        },
        "deletedDate": 1640018185,
        "key": {
          "e": "AQAB",
          "key_ops": [
            "verify",
            "sign",
            "unwrapKey",
            "encrypt",
            "decrypt",
            "wrapKey"
          ],
          "kid": "https://rosebudhsm.managedhsm.azure.net/keys/key2103710935/a9c03dafa2bc4e090e9bbe478f41b12e",
          "kty": "RSA-HSM",
          "n": "yZXdZj7yCybuUv-h-demskdOEph_FeORuhsuQp8Xj2diUUlOpafWaC40AKeURpU-AvJ5Fg3omPlnwtxPwrLD2SQPR0KXpKU_FW7rxVCGgADGb7mHIadZv29dKvrBXXl7NySRnnuMIBpADK1mun77b_XjvoFl2Nmzbj1N7Hy7cJxemziXtD_OESr0aWYBJBgcnBLjPD7zcFdiAjGGTEBqzvZzL57J9kb1ov0BPlaFXlFuTHPWG3FlUtBE7JIGpb0MkdjOSM-R3-MsR9GmC_-_bXMcIx_en0kG5Thzin_EfQTIYhgT45yPBcUWujmrVF48ZKk62BLd6XsZKTc_ewFPDQ"
        },
        "recoveryId": "https://rosebudhsm.managedhsm.azure.net/deletedkeys/key2103710935",
        "scheduledPurgeDate": 1640622985
      }
    },
[...]
    {
      "RequestUri": "https://fakekvurl.managedhsm.azure.net/keys/key2103710935hsm?api-version=7.3-preview",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        ":authority": "localhost:5001",
        ":method": "DELETE",
        ":path": "/keys/key2103710935hsm?api-version=7.3-preview",
        ":scheme": "https",
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/j[...]
    {
      "RequestUri": "https://fakekvurl.managedhsm.azure.net/deletedkeys/key2103710935hsm?api-version=7.3-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        ":authority": "localhost:5001",
        ":method": "GET",
        ":path": "/deletedkeys/key2103710935hsm?api-version=7.3-preview",
        ":scheme": "https",
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "appli[...]
[...]
    {
      "RequestUri": "https://fakekvurl.managedhsm.azure.net/keys/invalidName%21@%23$/create?api-version=7.3-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        ":authority": "localhost:5001",
        ":method": "POST",
        ":path": "/keys/invalidName%21@%23$/create?api-version=7.3-preview",
        ":scheme": "https",
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "kty": "RSA"
      },
      "StatusCode": 400,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-server-latency": "0"
      },
      "ResponseBody": {
        "error": {
          "code": "BadParameter",
          "message": "Invalid key identifier or name (Activity ID: f9c5778a-61b2-11ec-958b-000d3aef6d0f)"
        }
      }
    }
  ],
  "Variables": {}
}
