{
  "Entries": [
    {
      "RequestUri": "https://fakekvurl.managedhsm.azure.net/keys/key2103710935/create?api-version=7.3-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        ":authority": "localhost:5001",
        ":method": "POST",
        ":path": "/keys/key2103710935/create?api-version=7.3-preview",
        ":scheme": "https"
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\u0022https://login.microsoftonline.com/00000000-0000-0000-0000-000000000000\u0022, resource=\u0022https://managedhsm.azure.net\u0022",
        "x-ms-server-latency": "1"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakekvurl.managedhsm.azure.net/keys/key2103710935/create?api-version=7.3-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        ":authority": "localhost:5001",
        ":method": "POST",
        ":path": "/keys/key2103710935/create?api-version=7.3-preview",
        ":scheme": "https",
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "kty": "RSA"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-server-latency": "218"
      },
      "ResponseBody": {
        "attributes": {
          "created": 1640018419,
          "enabled": true,
          "exportable": false,
          "recoverableDays": 7,
          "recoveryLevel": "CustomizedRecoverable\u002BPurgeable",
          "updated": 1640018419
        },
        "key": {
          "e": "AQAB",
          "key_ops": [
            "wrapKey",
            "decrypt",
            "encrypt",
            "unwrapKey",
            "sign",
            "verify"
          ],
          "kid": "https://rosebudhsm.managedhsm.azure.net/keys/key2103710935/1045fb186d2f421985a788315ddd3bbc",
          "kty": "RSA-HSM",
          "n": "5OW7wE5qkSpGg4FSW9TAipvBNavR--DH7B-6dl1C-AC7jb4SPxChWlQ53qnBXsniwCGeERgqs3ZZwque0cloWnjEBFLnt6_RuHW_DtduRfmMyFxAbEHyCeuGo83wGbQ-Bgs4nUBxZKOAJJg_kY4SHQCR5HbxaePNjc9kXk9w5BkOxwsoWXDzEdNDYeLN8n2Kb8WPeGO3zAgwj6LT3olvBie6abbSTSRrI-Fw0qj6uEBkoXB2EU0aCKVWjYBzkbpr0CQcDDMEnqDYdoT1gH_hkcoBJ5wHPNVsbe0bESqD5oTM49gBnlW13u9fxdr9Yxj7_CxoY6jl0ujJVTwyQiVspw"
        }
      }
    },
    {
      "RequestUri": "https://fakekvurl.managedhsm.azure.net/keys/key2103710935hsm/create?api-version=7.3-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        ":authority": "localhost:5001",
        ":method": "POST",
        ":path": "/keys/key2103710935hsm/create?api-version=7.3-preview",
        ":scheme": "https",
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "kty": "RSA-HSM"
      },
      [...]
    {
      "RequestUri": "https://fakekvurl.managedhsm.azure.net/keys/key2103710935?api-version=7.3-preview",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        ":authority": "localhost:5001",
        ":method": "DELETE",
        ":path": "/keys/key2103710935?api-version=7.3-preview",
        ":scheme": "https",
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-server-latency": "143"
      },
      "ResponseBody": {
        "attributes": {
          "created": 1640018419,
          "enabled": true,
          "exportable": false,
          "recoverableDays": 7,
          "recoveryLevel": "CustomizedRecoverable\u002BPurgeable",
          "updated": 1640018419
        },
        "deletedDate": 1640018419,
        "key": {
          "e": "AQAB",
          "key_ops": [
            "wrapKey",
            "encrypt",
            "decrypt",
            "unwrapKey",
            "sign",
            "verify"
          ],
          "kid": "https://rosebudhsm.managedhsm.azure.net/keys/key2103710935/1045fb186d2f421985a788315ddd3bbc",
          "kty": "RSA-HSM",
          "n": "5OW7wE5qkSpGg4FSW9TAipvBNavR--DH7B-6dl1C-AC7jb4SPxChWlQ53qnBXsniwCGeERgqs3ZZwque0cloWnjEBFLnt6_RuHW_DtduRfmMyFxAbEHyCeuGo83wGbQ-Bgs4nUBxZKOAJJg_kY4SHQCR5HbxaePNjc9kXk9w5BkOxwsoWXDzEdNDYeLN8n2Kb8WPeGO3zAgwj6LT3olvBie6abbSTSRrI-Fw0qj6uEBkoXB2EU0aCKVWjYBzkbpr0CQcDDMEnqDYdoT1gH_hkcoBJ5wHPNVsbe0bESqD5oTM49gBnlW13u9fxdr9Yxj7_CxoY6jl0ujJVTwyQiVspw"
        },
        "recoveryId": "https://rosebudhsm.managedhsm.azure.net/deletedkeys/key2103710935",
        "scheduledPurgeDate": 1640623219
      }
    },
    {
      "RequestUri": "https://fakekvurl.managedhsm.azure.net/deletedkeys/key2103710935?api-version=7.3-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        ":authority": "localhost:5001",
        ":method": "GET",
        ":path": "/deletedkeys/key2103710935?api-version=7.3-preview",
        ":scheme": "https",
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-build-version": "1.0.20211206-1-be739728-develop",
        "x-ms-server-latency": "35"
      },
      "ResponseBody": {
        "attributes": {
          "created": 1640018419,
          "enabled": true,
          "exportable": false,
          "recoverableDays": 7,
          "recoveryLevel": "CustomizedRecoverable\u002BPurgeable",
          "updated": 1640018419
        },
        "deletedDate": 1640018419,
        "key": {
          "e": "AQAB",
          "key_ops": [
            "verify",
            "sign",
            "unwrapKey",
            "encrypt",
            "decrypt",
            "wrapKey"
          ],
          "kid": "https://rosebudhsm.managedhsm.azure.net/keys/key2103710935/1045fb186d2f421985a788315ddd3bbc",
          "kty": "RSA-HSM",
          "n": "5OW7wE5qkSpGg4FSW9TAipvBNavR--DH7B-6dl1C-AC7jb4SPxChWlQ53qnBXsniwCGeERgqs3ZZwque0cloWnjEBFLnt6_RuHW_DtduRfmMyFxAbEHyCeuGo83wGbQ-Bgs4nUBxZKOAJJg_kY4SHQCR5HbxaePNjc9kXk9w5BkOxwsoWXDzEdNDYeLN8n2Kb8WPeGO3zAgwj6LT3olvBie6abbSTSRrI-Fw0qj6uEBkoXB2EU0aCKVWjYBzkbpr0CQcDDMEnqDYdoT1gH_hkcoBJ5wHPNVsbe0bESqD5oTM49gBnlW13u9fxdr9Yxj7_CxoY6jl0ujJVTwyQiVspw"
        },
        "recoveryId": "https://rosebudhsm.managedhsm.azure.net/deletedkeys/key2103710935",
        "scheduledPurgeDate": 1640623219
      }
    },
[...]
    {
      "RequestUri": "https://fakekvurl.managedhsm.azure.net/keys/key2103710935hsm?api-version=7.3-preview",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        ":authority": "localhost:5001",
        ":method": "DELETE",
        ":path": "/keys/key2103710935hsm?api-version=7.3-preview",
        ":scheme": "https",
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/j[...]
    {
      "RequestUri": "https://fakekvurl.managedhsm.azure.net/deletedkeys/key2103710935hsm?api-version=7.3-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        ":authority": "localhost:5001",
        ":method": "GET",
        ":path": "/deletedkeys/key2103710935hsm?api-version=7.3-preview",
        ":scheme": "https",
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "appli[...]
[...]
    {
      "RequestUri": "https://fakekvurl.managedhsm.azure.net/keys/invalidName%21@%23$/create?api-version=7.3-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        ":authority": "localhost:5001",
        ":method": "POST",
        ":path": "/keys/invalidName%21@%23$/create?api-version=7.3-preview",
        ":scheme": "https",
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "kty": "RSA"
      },
      "StatusCode": 400,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-server-latency": "1"
      },
      "ResponseBody": {
        "error": {
          "code": "BadParameter",
          "message": "Invalid key identifier or name (Activity ID: 859073c8-61b3-11ec-985f-000d3aec06d7)"
        }
      }
    }
  ],
  "Variables": {}
}
