{
  "Entries": [
    {
      "RequestUri": "https://fakekvurl.managedhsm.azure.net/keys/key2103710935/create?api-version=7.3-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        ":authority": "localhost:5001",
        ":method": "POST",
        ":path": "/keys/key2103710935/create?api-version=7.3-preview",
        ":scheme": "https",
        "Content-Type": "application/json"
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\u0022https://login.microsoftonline.com/00000000-0000-0000-0000-000000000000\u0022, resource=\u0022https://managedhsm.azure.net\u0022",
        "x-ms-server-latency": "0"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakekvurl.managedhsm.azure.net/keys/key2103710935/create?api-version=7.3-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        ":authority": "localhost:5001",
        ":method": "POST",
        ":path": "/keys/key2103710935/create?api-version=7.3-preview",
        ":scheme": "https",
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "kty": "RSA"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-server-latency": "831"
      },
      "ResponseBody": {
        "attributes": {
          "created": 1637185259,
          "enabled": true,
          "exportable": false,
          "recoverableDays": 7,
          "recoveryLevel": "CustomizedRecoverable\u002BPurgeable",
          "updated": 1637185259
        },
        "key": {
          "e": "AQAB",
          "key_ops": [
            "wrapKey",
            "decrypt",
            "encrypt",
            "unwrapKey",
            "sign",
            "verify"
          ],
          "kid": "https://rosebudhsm.managedhsm.azure.net/keys/key2103710935/266d7a50d6704e312c334340c17d83ea",
          "kty": "RSA-HSM",
          "n": "xjL7bDEiONOnKL5q9276KMnMthc_jE3KWVrLsTIPL3CkIPbJWoN-8MO0tsWAGa2M_4gGGuigNDIxx1d2oW27TXZdc3kKm04zbKxtNCSd2F1VUoh-aaX47kp94mtG707Q7fvakNr8EUlwa7TwsjvGGO0QJ5EPWmYMKPGno0ay-QIlAR8up8hVM9ygQOPa58-go1AK0NRndEZ5LPCQCZdxZZJ3jzMg342j8xPTQDGs-R3bzENB04yaGoBoWOsxvFZtQCcKUvACnx1rgIKUME5AGxyrzriGbtzKINpdU7X2s_UfIN2YEizRinTFDk1mTgAfW_dC9D3EeCo1Gy_CdvBZSQ"
        }
      }
    },
    {
      "RequestUri": "https://fakekvurl.managedhsm.azure.net/keys/key2103710935hsm/create?api-version=7.3-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        ":authority": "localhost:5001",
        ":method": "POST",
        ":path": "/keys/key2103710935hsm/create?api-version=7.3-preview",
        ":scheme": "https",
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "kty": "RSA-HSM"
      },
      [...]
    {
      "RequestUri": "https://fakekvurl.managedhsm.azure.net/keys/key2103710935?api-version=7.3-preview",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        ":authority": "localhost:5001",
        ":method": "DELETE",
        ":path": "/keys/key2103710935?api-version=7.3-preview",
        ":scheme": "https",
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-server-latency": "150"
      },
      "ResponseBody": {
        "attributes": {
          "created": 1637185259,
          "enabled": true,
          "exportable": false,
          "recoverableDays": 7,
          "recoveryLevel": "CustomizedRecoverable\u002BPurgeable",
          "updated": 1637185259
        },
        "deletedDate": 1637185260,
        "key": {
          "e": "AQAB",
          "key_ops": [
            "wrapKey",
            "encrypt",
            "decrypt",
            "unwrapKey",
            "sign",
            "verify"
          ],
          "kid": "https://rosebudhsm.managedhsm.azure.net/keys/key2103710935/266d7a50d6704e312c334340c17d83ea",
          "kty": "RSA-HSM",
          "n": "xjL7bDEiONOnKL5q9276KMnMthc_jE3KWVrLsTIPL3CkIPbJWoN-8MO0tsWAGa2M_4gGGuigNDIxx1d2oW27TXZdc3kKm04zbKxtNCSd2F1VUoh-aaX47kp94mtG707Q7fvakNr8EUlwa7TwsjvGGO0QJ5EPWmYMKPGno0ay-QIlAR8up8hVM9ygQOPa58-go1AK0NRndEZ5LPCQCZdxZZJ3jzMg342j8xPTQDGs-R3bzENB04yaGoBoWOsxvFZtQCcKUvACnx1rgIKUME5AGxyrzriGbtzKINpdU7X2s_UfIN2YEizRinTFDk1mTgAfW_dC9D3EeCo1Gy_CdvBZSQ"
        },
        "recoveryId": "https://rosebudhsm.managedhsm.azure.net/deletedkeys/key2103710935",
        "scheduledPurgeDate": 1637790060
      }
    },
    {
      "RequestUri": "https://fakekvurl.managedhsm.azure.net/deletedkeys/key2103710935?api-version=7.3-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        ":authority": "localhost:5001",
        ":method": "GET",
        ":path": "/deletedkeys/key2103710935?api-version=7.3-preview",
        ":scheme": "https",
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-build-version": "1.0.20211018-1-9c44708a-develop",
        "x-ms-server-latency": "33"
      },
      "ResponseBody": {
        "attributes": {
          "created": 1637185259,
          "enabled": true,
          "exportable": false,
          "recoverableDays": 7,
          "recoveryLevel": "CustomizedRecoverable\u002BPurgeable",
          "updated": 1637185259
        },
        "deletedDate": 1637185260,
        "key": {
          "e": "AQAB",
          "key_ops": [
            "verify",
            "sign",
            "unwrapKey",
            "encrypt",
            "decrypt",
            "wrapKey"
          ],
          "kid": "https://rosebudhsm.managedhsm.azure.net/keys/key2103710935/266d7a50d6704e312c334340c17d83ea",
          "kty": "RSA-HSM",
          "n": "xjL7bDEiONOnKL5q9276KMnMthc_jE3KWVrLsTIPL3CkIPbJWoN-8MO0tsWAGa2M_4gGGuigNDIxx1d2oW27TXZdc3kKm04zbKxtNCSd2F1VUoh-aaX47kp94mtG707Q7fvakNr8EUlwa7TwsjvGGO0QJ5EPWmYMKPGno0ay-QIlAR8up8hVM9ygQOPa58-go1AK0NRndEZ5LPCQCZdxZZJ3jzMg342j8xPTQDGs-R3bzENB04yaGoBoWOsxvFZtQCcKUvACnx1rgIKUME5AGxyrzriGbtzKINpdU7X2s_UfIN2YEizRinTFDk1mTgAfW_dC9D3EeCo1Gy_CdvBZSQ"
        },
        "recoveryId": "https://rosebudhsm.managedhsm.azure.net/deletedkeys/key2103710935",
        "scheduledPurgeDate": 1637790060
      }
    },
[...]
    {
      "RequestUri": "https://fakekvurl.managedhsm.azure.net/keys/key2103710935hsm?api-version=7.3-preview",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        ":authority": "localhost:5001",
        ":method": "DELETE",
        ":path": "/keys/key2103710935hsm?api-version=7.3-preview",
        ":scheme": "https",
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/j[...]
    {
      "RequestUri": "https://fakekvurl.managedhsm.azure.net/deletedkeys/key2103710935hsm?api-version=7.3-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        ":authority": "localhost:5001",
        ":method": "GET",
        ":path": "/deletedkeys/key2103710935hsm?api-version=7.3-preview",
        ":scheme": "https",
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "appli[...]
[...]
    {
      "RequestUri": "https://fakekvurl.managedhsm.azure.net/deletedkeys/key2103710935hsm?api-version=7.3-preview",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        ":authority": "localhost:5001",
        ":method": "DELETE",
        ":path": "/deletedkeys/key2103710935hsm?api-version=7.3-preview",
        ":scheme": "https",
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-server-latency": "110"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {}
}
