{
  "Entries": [
    {
      "RequestUri": "https://fakestorageaccount.table.cosmos.azure.com/Tables",
      "RequestMethod": "POST",
      "RequestHeaders": {
        ":authority": "localhost:5001",
        ":method": "POST",
        ":path": "/Tables",
        ":scheme": "https",
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "dataserviceversion": "3.0",
        "x-ms-date": "Mon, 02 Aug 2021 18:02:07 GMT",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": {
        "TableName": "tableName3912403841"
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata=minimalmetadata",
        "ETag": "W/\u0022datetime\u00272021-08-02T18%3A02%3A06.9482504Z\u0027\u0022",
        "Location": "https://seankaneprim.table.cosmos.azure.com/Tables(\u0027tableName3912403841\u0027)"
      },
      "ResponseBody": {
        "TableName": "tableName3912403841",
        "odata.metadata": "https://seankaneprim.table.cosmos.azure.com/$metadata#Tables/@Element"
      }
    },
    {
      "RequestUri": "https://fakestorageaccount.table.cosmos.azure.com/tableName3912403841",
      "RequestMethod": "POST",
      "RequestHeaders": {
        ":authority": "localhost:5001",
        ":method": "POST",
        ":path": "/tableName3912403841",
        ":scheme": "https",
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "dataserviceversion": "3.0",
        "prefer": "return-no-content",
        "x-ms-date": "Mon, 02 Aug 2021 18:02:08 GMT",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": {
        "String": "stringystring",
        "Value": 10
      },
      "StatusCode": 400,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata=fullmetadata"
      },
      "ResponseBody": [
        "{\u0022odata.error\u0022:{\u0022code\u0022:\u0022PropertiesNeedValue\u0022,\u0022message\u0022:{\u0022lang\u0022:\u0022en-us\u0022,\u0022value\u0022:\u0022PartitionKey/RowKey cannot be empty\\r\\nActivityId: 34f62405-8424-4102-b4c6-516950e781b4, documentdb-dotnet-sdk/2.14.0 Host/64-bit MicrosoftWindowsNT/6.2.9200.0\\nRequestID:34f62405-8424-4102-b4c6-516950e781b4\\n\u0022}}}\r\n"
      ]
    },
    {
      "RequestUri": "https://fakestorageaccount.table.cosmos.azure.com/Tables(\u0027tableName3912403841\u0027)",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        ":authority": "localhost:5001",
        ":method": "DELETE",
        ":path": "/Tables(\u0027tableName3912403841\u0027)",
        ":scheme": "https",
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 02 Aug 2021 18:02:08 GMT",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
      },
      "ResponseBody": null
    }
  ],
  "Variables": {}
}