{
  "Entries": [
    {
      "RequestUri": "https://fakestorageaccount.table.core.windows.net/Tables",
      "RequestMethod": "POST",
      "RequestHeaders": {
        ":authority": "localhost:5001",
        ":method": "POST",
        ":path": "/Tables",
        ":scheme": "https",
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "dataserviceversion": "3.0",
        "x-ms-date": "Mon, 02 Aug 2021 18:02:07 GMT",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": {
        "TableName": "tableName1196245666"
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata=minimalmetadata; streaming=true; charset=utf-8",
        "Location": "https://seankaneprim.table.core.windows.net/Tables(\u0027tableName1196245666\u0027)",
        "x-ms-version": "2019-02-02"
      },
      "ResponseBody": {
        "odata.metadata": "https://seankaneprim.table.core.windows.net/$metadata#Tables/@Element",
        "TableName": "tableName1196245666"
      }
    },
    {
      "RequestUri": "https://fakestorageaccount.table.core.windows.net/tableName1196245666",
      "RequestMethod": "POST",
      "RequestHeaders": {
        ":authority": "localhost:5001",
        ":method": "POST",
        ":path": "/tableName1196245666",
        ":scheme": "https",
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "dataserviceversion": "3.0",
        "prefer": "return-no-content",
        "x-ms-date": "Mon, 02 Aug 2021 18:02:07 GMT",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": {
        "String": "stringystring",
        "Value": 10
      },
      "StatusCode": 400,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata=minimalmetadata; streaming=true; charset=utf-8",
        "Preference-Applied": "return-no-content",
        "x-ms-version": "2019-02-02"
      },
      "ResponseBody": {
        "odata.error": {
          "code": "PropertiesNeedValue",
          "message": {
            "lang": "en-US",
            "value": "The values are not specified for all properties in the entity.\nRequestId:a05b6db4-9002-0057-40c8-874646000000\nTime:2021-08-02T18:02:06.4920337Z"
          }
        }
      }
    },
    {
      "RequestUri": "https://fakestorageaccount.table.core.windows.net/Tables(\u0027tableName1196245666\u0027)",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        ":authority": "localhost:5001",
        ":method": "DELETE",
        ":path": "/Tables(\u0027tableName1196245666\u0027)",
        ":scheme": "https",
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 02 Aug 2021 18:02:07 GMT",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
        "x-ms-version": "2019-02-02"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {}
}