{
  "Entries": [
    {
      "RequestUri": "https://fakekvurl.vault.azure.net/keys/key89075156/create?api-version=7.3-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        ":authority": "localhost:5001",
        ":method": "POST",
        ":path": "/keys/key89075156/create?api-version=7.3-preview",
        ":scheme": "https",
        "Content-Type": "application/json"
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\u0022https://login.windows.net/00000000-0000-0000-0000-000000000000\u0022, resource=\u0022https://vault.azure.net\u0022"
      },
      "ResponseBody": {
        "error": {
          "code": "Unauthorized",
          "message": "AKV10000: Request is missing a Bearer or PoP token."
        }
      }
    },
    {
      "RequestUri": "https://fakekvurl.vault.azure.net/keys/key89075156/create?api-version=7.3-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        ":authority": "localhost:5001",
        ":method": "POST",
        ":path": "/keys/key89075156/create?api-version=7.3-preview",
        ":scheme": "https",
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "kty": "RSA"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "key": {
          "kid": "https://fakekvurl.vault.azure.net/keys/key89075156/0b29f1d3760f4407aeb996868c9a02a7",
          "kty": "RSA",
          "key_ops": [
            "encrypt",
            "decrypt",
            "sign",
            "verify",
            "wrapKey",
            "unwrapKey"
          ],
          "n": "yFhGI0tecUXgT4Qk37OOTtq4bG19EMxRhywg8P4qhS6A2IHH1h5KVe5D7Dy3DQsUyIgTST93lwHPgXKvTFDY_qqCpL2e0K3hE-xIrIYIeLP73tB7IwD0V-Tg4nJYzOoxEWDnmn7a0fXBEipPRqjJ5iJMilE2EbGPOIX2eRC-KFhC6_TYCQVHEfbClgP0WtfbKFA_aaKVkQCHlqhAuMvq9Q5oYz4YTz8xiZVSYEEqtJKXiO483olnCtTiSwRDiz_7bTHeylnlYeHzGUMTZVUtAuZNcvwTRQZmkTqLip4LWlIZffYQeYM8H53wIIZGz_usMiNpAJGzRkPE--6YJu0RQQ",
          "e": "AQAB"
        },
        "attributes": {
          "enabled": true,
          "created": 1639001126,
          "updated": 1639001126,
          "recoveryLevel": "CustomizedRecoverable\u002BPurgeable",
          "recoverableDays": 7
        }
      }
    },
    {
      "RequestUri": "https://fakekvurl.vault.azure.net/keys/key89075156/0b29f1d3760f4407aeb996868c9a02a7/encrypt?api-version=7.3-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        ":authority": "localhost:5001",
        ":method": "POST",
        ":path": "/keys/key89075156/0b29f1d3760f4407aeb996868c9a02a7/encrypt?api-version=7.3-preview",
        ":scheme": "https",
        "Content-Type": "application/json"
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\u0022https://login.windows.net/00000000-0000-0000-0000-000000000000\u0022, resource=\u0022https://vault.azure.net\u0022"
      },
      "ResponseBody": {
        "error": {
          "code": "Unauthorized",
          "message": "AKV10000: Request is missing a Bearer or PoP token."
        }
      }
    },
    {
      "RequestUri": "https://fakekvurl.vault.azure.net/keys/key89075156/0b29f1d3760f4407aeb996868c9a02a7/encrypt?api-version=7.3-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        ":authority": "localhost:5001",
        ":method": "POST",
        ":path": "/keys/key89075156/0b29f1d3760f4407aeb996868c9a02a7/encrypt?api-version=7.3-preview",
        ":scheme": "https",
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "alg": "RSA-OAEP",
        "value": "cGxhaW50ZXh0"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "kid": "https://rosebud.vault.azure.net/keys/key89075156/0b29f1d3760f4407aeb996868c9a02a7",
        "value": "UrbUKNSMh6XNG9rN-rv_17kxRKrOOM7PO0NawBjAWjUTL-kHZzRwhzZ7V1rQWGSaQRGJzfdJccFbRznyT7jOHyNNKpbLSQ1v7gt8UaPoDZUa_Z91namstiLf4koRg37sWbJSZvOyTuyG2-sD1zDNgu0ldx0TxDMgjBZ0Wv3u353OkzhLxkfNuIDptfyts3aOGGOBp4oVD1bl48rePOkvo-95AGuDfKRuFGvXD_9CfGxe4REcC7ciUNlHzwZlijsYEAUApd6JodNmO3F8ZaIVXAXTb1uY8upqUlAiPEp5g9O_YOuc5UTESn8Xg63_eHyBTVO6Iwj6LltV-zPeWzmI_A"
      }
    },
    {
      "RequestUri": "https://fakekvurl.vault.azure.net/keys/key89075156/0b29f1d3760f4407aeb996868c9a02a7/decrypt?api-version=7.3-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        ":authority": "localhost:5001",
        ":method": "POST",
        ":path": "/keys/key89075156/0b29f1d3760f4407aeb996868c9a02a7/decrypt?api-version=7.3-preview",
        ":scheme": "https",
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "alg": "RSA-OAEP",
        "value": "UrbUKNSMh6XNG9rN-rv_17kxRKrOOM7PO0NawBjAWjUTL-kHZzRwhzZ7V1rQWGSaQRGJzfdJccFbRznyT7jOHyNNKpbLSQ1v7gt8UaPoDZUa_Z91namstiLf4koRg37sWbJSZvOyTuyG2-sD1zDNgu0ldx0TxDMgjBZ0Wv3u353OkzhLxkfNuIDptfyts3aOGGOBp4oVD1bl48rePOkvo-95AGuDfKRuFGvXD_9CfGxe4REcC7ciUNlHzwZlijsYEAUApd6JodNmO3F8ZaIVXAXTb1uY8upqUlAiPEp5g9O_YOuc5UTESn8Xg63_eHyBTVO6Iwj6LltV-zPeWzmI_A"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "kid": "https://rosebud.vault.azure.net/keys/key89075156/0b29f1d3760f4407aeb996868c9a02a7",
        "value": "cGxhaW50ZXh0"
      }
    }
  ],
  "Variables": {}
}
