{
  "Entries": [
    {
      "RequestUri": "https://fakekvurl.vault.azure.net/keys/rehydrate-poller60869004/create?api-version=7.3",
      "RequestMethod": "POST",
      "RequestHeaders": {
        ":method": "POST"
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\u0022https://login.windows.net/00000000-0000-0000-0000-000000000000\u0022, resource=\u0022https://vault.azure.net\u0022"
      },
      "ResponseBody": {
        "error": {
          "code": "Unauthorized",
          "message": "AKV10000: Request is missing a Bearer or PoP token."
        }
      }
    },
    {
      "RequestUri": "https://fakekvurl.vault.azure.net/keys/rehydrate-poller60869004/create?api-version=7.3",
      "RequestMethod": "POST",
      "RequestHeaders": {
        ":method": "POST",
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "kty": "RSA"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "key": {
          "kid": "https://fakekvurl.vault.azure.net/keys/rehydrate-poller60869004/e588dfd9c8cc415881188fd2d7638cf8",
          "kty": "RSA",
          "key_ops": [
            "encrypt",
            "decrypt",
            "sign",
            "verify",
            "wrapKey",
            "unwrapKey"
          ],
          "n": "5Y-A74AgrCCgT3Bhv49vsufyVGEyIEr2s_XL_5tAwp7FNPqW7V_1dCUrFRp56J6fvRvaYpdc_rktdImKP_WVHQcp2LEwW2iIDkB-qn8yJvcZOo8FTQdtCjJzANjyU-zNBqp1TTDl_X2aE_UG0TeIcs6_r7QoYv11BgwYj-SjxUR2591y4LXsfoQoOr25BKrNREIRjjIgLdo3N5JWa-0CLlhhdTgK45FMfdWPpbHz2113EInlZYsdeHQLtby0JuZmCpmgLPoiNuWnPycY1GadVUTphF2NnlbB97qk1LnxykNUqu3SbQaWxOc_FbA8obgn3wNdtR4twmtN8raU2x1BGQ",
          "e": "AQAB"
        },
        "attributes": {
          "enabled": true,
          "created": 1649082738,
          "updated": 1649082738,
          "recoveryLevel": "CustomizedRecoverable\u002BPurgeable",
          "recoverableDays": 7
        }
      }
    },
    {
      "RequestUri": "https://fakekvurl.vault.azure.net/keys/rehydrate-poller60869004?api-version=7.3",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "recoveryId": "https://fakekvurl.vault.azure.net/deletedkeys/rehydrate-poller60869004",
        "deletedDate": 1649082738,
        "scheduledPurgeDate": 1649687538,
        "key": {
          "kid": "https://fakekvurl.vault.azure.net/keys/rehydrate-poller60869004/e588dfd9c8cc415881188fd2d7638cf8",
          "kty": "RSA",
          "key_ops": [
            "encrypt",
            "decrypt",
            "sign",
            "verify",
            "wrapKey",
            "unwrapKey"
          ],
          "n": "5Y-A74AgrCCgT3Bhv49vsufyVGEyIEr2s_XL_5tAwp7FNPqW7V_1dCUrFRp56J6fvRvaYpdc_rktdImKP_WVHQcp2LEwW2iIDkB-qn8yJvcZOo8FTQdtCjJzANjyU-zNBqp1TTDl_X2aE_UG0TeIcs6_r7QoYv11BgwYj-SjxUR2591y4LXsfoQoOr25BKrNREIRjjIgLdo3N5JWa-0CLlhhdTgK45FMfdWPpbHz2113EInlZYsdeHQLtby0JuZmCpmgLPoiNuWnPycY1GadVUTphF2NnlbB97qk1LnxykNUqu3SbQaWxOc_FbA8obgn3wNdtR4twmtN8raU2x1BGQ",
          "e": "AQAB"
        },
        "attributes": {
          "enabled": true,
          "created": 1649082738,
          "updated": 1649082738,
          "recoveryLevel": "CustomizedRecoverable\u002BPurgeable",
          "recoverableDays": 7
        }
      }
    },
    {
      "RequestUri": "https://fakekvurl.vault.azure.net/deletedkeys/rehydrate-poller60869004?api-version=7.3",
      "RequestMethod": "GET",
      "RequestHeaders": {
        ":method": "GET",
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "error": {
          "code": "KeyNotFound",
          "message": "Deleted Key not found: rehydrate-poller60869004"
        }
      }
    },
[...]
    {
      "RequestUri": "https://fakekvurl.vault.azure.net/keys/rehydrate-poller60869004/?api-version=7.3",
      "RequestMethod": "GET",
      "RequestHeaders": {
        ":method": "GET",
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "error": {
          "code": "KeyNotFound",
          "message": "A key with (name/id) rehydrate-poller60869004 was not found in this key vault. If you recently deleted this key you may be able to recover it using the correct recovery command. For help resolving this issue, please see https://go.microsoft.com/fwlink/?linkid=2125182"
        }
      }
    },
    {
      "RequestUri": "https://fakekvurl.vault.azure.net/deletedkeys/rehydrate-poller60869004/recover?api-version=7.3",
      "RequestMethod": "POST",
      "RequestHeaders": {
        ":method": "POST",
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "key": {
          "kid": "https://fakekvurl.vault.azure.net/keys/rehydrate-poller60869004/e588dfd9c8cc415881188fd2d7638cf8",
          "kty": "RSA",
          "key_ops": [
            "encrypt",
            "decrypt",
            "sign",
            "verify",
            "wrapKey",
            "unwrapKey"
          ],
          "n": "5Y-A74AgrCCgT3Bhv49vsufyVGEyIEr2s_XL_5tAwp7FNPqW7V_1dCUrFRp56J6fvRvaYpdc_rktdImKP_WVHQcp2LEwW2iIDkB-qn8yJvcZOo8FTQdtCjJzANjyU-zNBqp1TTDl_X2aE_UG0TeIcs6_r7QoYv11BgwYj-SjxUR2591y4LXsfoQoOr25BKrNREIRjjIgLdo3N5JWa-0CLlhhdTgK45FMfdWPpbHz2113EInlZYsdeHQLtby0JuZmCpmgLPoiNuWnPycY1GadVUTphF2NnlbB97qk1LnxykNUqu3SbQaWxOc_FbA8obgn3wNdtR4twmtN8raU2x1BGQ",
          "e": "AQAB"
        },
        "attributes": {
          "enabled": true,
          "created": 1649082738,
          "updated": 1649082738,
          "recoveryLevel": "CustomizedRecoverable\u002BPurgeable",
          "recoverableDays": 7
        }
      }
    },
[...]
    {
      "RequestUri": "https://fakekvurl.vault.azure.net/deletedkeys/rehydrate-poller60869004?api-version=7.3",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
      },
      "ResponseBody": null
    }
  ],
  "Variables": {}
}
