{
  "Entries": [
    {
      "RequestUri": "https://fakekvurl.vault.azure.net/keys/key3250500751/create?api-version=7.3-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        ":method": "POST"
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\u0022https://login.windows.net/00000000-0000-0000-0000-000000000000\u0022, resource=\u0022https://vault.azure.net\u0022"
      },
      "ResponseBody": {
        "error": {
          "code": "Unauthorized",
          "message": "AKV10000: Request is missing a Bearer or PoP token."
        }
      }
    },
    {
      "RequestUri": "https://fakekvurl.vault.azure.net/keys/key3250500751/create?api-version=7.3-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        ":method": "POST",
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "kty": "RSA",
        "tags": {
          "Tag1": "Val1"
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "key": {
          "kid": "https://fakekvurl.vault.azure.net/keys/key3250500751/e22bfa7a785845e88a7e685c88ccd3d0",
          "kty": "RSA",
          "key_ops": [
            "encrypt",
            "decrypt",
            "sign",
            "verify",
            "wrapKey",
            "unwrapKey"
          ],
          "n": "-NxoyC1L8kuGzkY5AQXa8VGsHbY2NRcmB4ZUoPll8UDnfZjJqe1xjK0UPdERQBvGi9iAqRlVoPGUYbuGZ25djeRmsYULxYuhI6y6QZJ0em1ymmICvOCfYypdD_JL8fnXJE06qt9eL__yimiucW73zC8bDzKaLIWRjWSQA0bC4hRxzFmRHK_HkODTrwg_dQjfHbKlnbf707qd99tVUCZm8BuuAnnsrKAOOgb1BEfjaRg4FmgYhlg1wG_hBxosyzfQXYyS5-1ZUh6w-0VyibnfMDixqzREkg9tWakyCgEILhK8lOytpTQ1MQdHAVcYHrQZx8M0Fe4Y-FYsMvXN8CqfMQ",
          "e": "AQAB"
        },
        "attributes": {
          "enabled": true,
          "created": 1643129762,
          "updated": 1643129762,
          "recoveryLevel": "CustomizedRecoverable\u002BPurgeable",
          "recoverableDays": 7
        },
        "tags": {
          "Tag1": "Val1"
        }
      }
    },
    {
      "RequestUri": "https://fakekvurl.vault.azure.net/keys/key3250500751/?api-version=7.3-preview",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "tags": {}
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "key": {
          "kid": "https://fakekvurl.vault.azure.net/keys/key3250500751/e22bfa7a785845e88a7e685c88ccd3d0",
          "kty": "RSA",
          "key_ops": [
            "encrypt",
            "decrypt",
            "sign",
            "verify",
            "wrapKey",
            "unwrapKey"
          ],
          "n": "-NxoyC1L8kuGzkY5AQXa8VGsHbY2NRcmB4ZUoPll8UDnfZjJqe1xjK0UPdERQBvGi9iAqRlVoPGUYbuGZ25djeRmsYULxYuhI6y6QZJ0em1ymmICvOCfYypdD_JL8fnXJE06qt9eL__yimiucW73zC8bDzKaLIWRjWSQA0bC4hRxzFmRHK_HkODTrwg_dQjfHbKlnbf707qd99tVUCZm8BuuAnnsrKAOOgb1BEfjaRg4FmgYhlg1wG_hBxosyzfQXYyS5-1ZUh6w-0VyibnfMDixqzREkg9tWakyCgEILhK8lOytpTQ1MQdHAVcYHrQZx8M0Fe4Y-FYsMvXN8CqfMQ",
          "e": "AQAB"
        },
        "attributes": {
          "enabled": true,
          "created": 1643129762,
          "updated": 1643129762,
          "recoveryLevel": "CustomizedRecoverable\u002BPurgeable",
          "recoverableDays": 7
        },
        "tags": {}
      }
    },
    {
      "RequestUri": "https://fakekvurl.vault.azure.net/keys/key3250500751?api-version=7.3-preview",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "recoveryId": "https://fakekvurl.vault.azure.net/deletedkeys/key3250500751",
        "deletedDate": 1643129762,
        "scheduledPurgeDate": 1643734562,
        "key": {
          "kid": "https://fakekvurl.vault.azure.net/keys/key3250500751/e22bfa7a785845e88a7e685c88ccd3d0",
          "kty": "RSA",
          "key_ops": [
            "encrypt",
            "decrypt",
            "sign",
            "verify",
            "wrapKey",
            "unwrapKey"
          ],
          "n": "-NxoyC1L8kuGzkY5AQXa8VGsHbY2NRcmB4ZUoPll8UDnfZjJqe1xjK0UPdERQBvGi9iAqRlVoPGUYbuGZ25djeRmsYULxYuhI6y6QZJ0em1ymmICvOCfYypdD_JL8fnXJE06qt9eL__yimiucW73zC8bDzKaLIWRjWSQA0bC4hRxzFmRHK_HkODTrwg_dQjfHbKlnbf707qd99tVUCZm8BuuAnnsrKAOOgb1BEfjaRg4FmgYhlg1wG_hBxosyzfQXYyS5-1ZUh6w-0VyibnfMDixqzREkg9tWakyCgEILhK8lOytpTQ1MQdHAVcYHrQZx8M0Fe4Y-FYsMvXN8CqfMQ",
          "e": "AQAB"
        },
        "attributes": {
          "enabled": true,
          "created": 1643129762,
          "updated": 1643129762,
          "recoveryLevel": "CustomizedRecoverable\u002BPurgeable",
          "recoverableDays": 7
        },
        "tags": {}
      }
    },
    {
      "RequestUri": "https://fakekvurl.vault.azure.net/deletedkeys/key3250500751?api-version=7.3-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        ":method": "GET",
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "error": {
          "code": "KeyNotFound",
          "message": "Deleted Key not found: key3250500751"
        }
      }
    },
[...]
    {
      "RequestUri": "https://fakekvurl.vault.azure.net/deletedkeys/key3250500751?api-version=7.3-preview",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
      },
      "ResponseBody": null
    }
  ],
  "Variables": {}
}
