//go:build go1.18
// +build go1.18

// Copyright (c) Microsoft Corporation. All rights reserved.
// Licensed under the MIT License. See License.txt in the project root for license information.
// Code generated by Microsoft (R) AutoRest Code Generator. DO NOT EDIT.
// Changes may cause incorrect behavior and will be lost if the code is regenerated.

package armsupport

import (
	"context"
	"github.com/Azure/azure-sdk-for-go/sdk/azcore"
	"github.com/Azure/azure-sdk-for-go/sdk/azcore/arm"
	"github.com/Azure/azure-sdk-for-go/sdk/azcore/policy"
	"github.com/Azure/azure-sdk-for-go/sdk/azcore/runtime"
	"net/http"
)

// LookUpResourceIDClient contains the methods for the LookUpResourceID group.
// Don't use this type directly, use NewLookUpResourceIDClient() instead.
type LookUpResourceIDClient struct {
	internal *arm.Client
}

// NewLookUpResourceIDClient creates a new instance of LookUpResourceIDClient with the specified values.
//   - credential - used to authorize requests. Usually a credential from azidentity.
//   - options - pass nil to accept the default values.
func NewLookUpResourceIDClient(credential azcore.TokenCredential, options *arm.ClientOptions) (*LookUpResourceIDClient, error) {
	cl, err := arm.NewClient(moduleName, moduleVersion, credential, options)
	if err != nil {
		return nil, err
	}
	client := &LookUpResourceIDClient{
		internal: cl,
	}
	return client, nil
}

// Post - This operation fetches ARM resource id of support resource type.
// If the operation fails it returns an *azcore.ResponseError type.
//
// Generated from API version 2023-06-01-preview
//   - lookUpResourceIDRequest - Look up resource id request body
//   - options - LookUpResourceIDClientPostOptions contains the optional parameters for the LookUpResourceIDClient.Post method.
func (client *LookUpResourceIDClient) Post(ctx context.Context, lookUpResourceIDRequest LookUpResourceIDRequest, options *LookUpResourceIDClientPostOptions) (LookUpResourceIDClientPostResponse, error) {
	var err error
	const operationName = "LookUpResourceIDClient.Post"
	ctx = context.WithValue(ctx, runtime.CtxAPINameKey{}, operationName)
	ctx, endSpan := runtime.StartSpan(ctx, operationName, client.internal.Tracer(), nil)
	defer func() { endSpan(err) }()
	req, err := client.postCreateRequest(ctx, lookUpResourceIDRequest, options)
	if err != nil {
		return LookUpResourceIDClientPostResponse{}, err
	}
	httpResp, err := client.internal.Pipeline().Do(req)
	if err != nil {
		return LookUpResourceIDClientPostResponse{}, err
	}
	if !runtime.HasStatusCode(httpResp, http.StatusOK) {
		err = runtime.NewResponseError(httpResp)
		return LookUpResourceIDClientPostResponse{}, err
	}
	resp, err := client.postHandleResponse(httpResp)
	return resp, err
}

// postCreateRequest creates the Post request.
func (client *LookUpResourceIDClient) postCreateRequest(ctx context.Context, lookUpResourceIDRequest LookUpResourceIDRequest, options *LookUpResourceIDClientPostOptions) (*policy.Request, error) {
	urlPath := "/providers/Microsoft.Support/lookUpResourceId"
	req, err := runtime.NewRequest(ctx, http.MethodPost, runtime.JoinPaths(client.internal.Endpoint(), urlPath))
	if err != nil {
		return nil, err
	}
	reqQP := req.Raw().URL.Query()
	reqQP.Set("api-version", "2023-06-01-preview")
	req.Raw().URL.RawQuery = reqQP.Encode()
	req.Raw().Header["Accept"] = []string{"application/json"}
	if err := runtime.MarshalAsJSON(req, lookUpResourceIDRequest); err != nil {
		return nil, err
	}
	return req, nil
}

// postHandleResponse handles the Post response.
func (client *LookUpResourceIDClient) postHandleResponse(resp *http.Response) (LookUpResourceIDClientPostResponse, error) {
	result := LookUpResourceIDClientPostResponse{}
	if err := runtime.UnmarshalAsJSON(resp, &result.LookUpResourceIDResponse); err != nil {
		return LookUpResourceIDClientPostResponse{}, err
	}
	return result, nil
}
