//go:build go1.18
// +build go1.18

// Copyright (c) Microsoft Corporation. All rights reserved.
// Licensed under the MIT License. See License.txt in the project root for license information.
// Code generated by Microsoft (R) AutoRest Code Generator. DO NOT EDIT.
// Changes may cause incorrect behavior and will be lost if the code is regenerated.

package armsupport

import (
	"context"
	"errors"
	"github.com/Azure/azure-sdk-for-go/sdk/azcore"
	"github.com/Azure/azure-sdk-for-go/sdk/azcore/arm"
	"github.com/Azure/azure-sdk-for-go/sdk/azcore/policy"
	"github.com/Azure/azure-sdk-for-go/sdk/azcore/runtime"
	"net/http"
	"net/url"
	"strings"
)

// ServiceClassificationsClient contains the methods for the ServiceClassifications group.
// Don't use this type directly, use NewServiceClassificationsClient() instead.
type ServiceClassificationsClient struct {
	internal       *arm.Client
	subscriptionID string
}

// NewServiceClassificationsClient creates a new instance of ServiceClassificationsClient with the specified values.
//   - subscriptionID - The ID of the target subscription. The value must be an UUID.
//   - credential - used to authorize requests. Usually a credential from azidentity.
//   - options - pass nil to accept the default values.
func NewServiceClassificationsClient(subscriptionID string, credential azcore.TokenCredential, options *arm.ClientOptions) (*ServiceClassificationsClient, error) {
	cl, err := arm.NewClient(moduleName, moduleVersion, credential, options)
	if err != nil {
		return nil, err
	}
	client := &ServiceClassificationsClient{
		subscriptionID: subscriptionID,
		internal:       cl,
	}
	return client, nil
}

// ClassifyServices - Classify the list of right Azure services.
// If the operation fails it returns an *azcore.ResponseError type.
//
// Generated from API version 2023-06-01-preview
//   - serviceClassificationRequest - Input to check.
//   - options - ServiceClassificationsClientClassifyServicesOptions contains the optional parameters for the ServiceClassificationsClient.ClassifyServices
//     method.
func (client *ServiceClassificationsClient) ClassifyServices(ctx context.Context, serviceClassificationRequest ServiceClassificationRequest, options *ServiceClassificationsClientClassifyServicesOptions) (ServiceClassificationsClientClassifyServicesResponse, error) {
	var err error
	const operationName = "ServiceClassificationsClient.ClassifyServices"
	ctx = context.WithValue(ctx, runtime.CtxAPINameKey{}, operationName)
	ctx, endSpan := runtime.StartSpan(ctx, operationName, client.internal.Tracer(), nil)
	defer func() { endSpan(err) }()
	req, err := client.classifyServicesCreateRequest(ctx, serviceClassificationRequest, options)
	if err != nil {
		return ServiceClassificationsClientClassifyServicesResponse{}, err
	}
	httpResp, err := client.internal.Pipeline().Do(req)
	if err != nil {
		return ServiceClassificationsClientClassifyServicesResponse{}, err
	}
	if !runtime.HasStatusCode(httpResp, http.StatusOK) {
		err = runtime.NewResponseError(httpResp)
		return ServiceClassificationsClientClassifyServicesResponse{}, err
	}
	resp, err := client.classifyServicesHandleResponse(httpResp)
	return resp, err
}

// classifyServicesCreateRequest creates the ClassifyServices request.
func (client *ServiceClassificationsClient) classifyServicesCreateRequest(ctx context.Context, serviceClassificationRequest ServiceClassificationRequest, options *ServiceClassificationsClientClassifyServicesOptions) (*policy.Request, error) {
	urlPath := "/subscriptions/{subscriptionId}/providers/Microsoft.Support/classifyServices"
	if client.subscriptionID == "" {
		return nil, errors.New("parameter client.subscriptionID cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{subscriptionId}", url.PathEscape(client.subscriptionID))
	req, err := runtime.NewRequest(ctx, http.MethodPost, runtime.JoinPaths(client.internal.Endpoint(), urlPath))
	if err != nil {
		return nil, err
	}
	reqQP := req.Raw().URL.Query()
	reqQP.Set("api-version", "2023-06-01-preview")
	req.Raw().URL.RawQuery = reqQP.Encode()
	req.Raw().Header["Accept"] = []string{"application/json"}
	if err := runtime.MarshalAsJSON(req, serviceClassificationRequest); err != nil {
		return nil, err
	}
	return req, nil
}

// classifyServicesHandleResponse handles the ClassifyServices response.
func (client *ServiceClassificationsClient) classifyServicesHandleResponse(resp *http.Response) (ServiceClassificationsClientClassifyServicesResponse, error) {
	result := ServiceClassificationsClientClassifyServicesResponse{}
	if err := runtime.UnmarshalAsJSON(resp, &result.ServiceClassificationOutput); err != nil {
		return ServiceClassificationsClientClassifyServicesResponse{}, err
	}
	return result, nil
}
