{
  "Entries": [
    {
      "RequestUri": "https://fakekvurl.managedhsm.azure.net/keys/key1649980179/create?api-version=7.3-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        ":authority": "localhost:5001",
        ":method": "POST",
        ":path": "/keys/key1649980179/create?api-version=7.3-preview",
        ":scheme": "https"
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\u0022https://login.microsoftonline.com/00000000-0000-0000-0000-000000000000\u0022, resource=\u0022https://managedhsm.azure.net\u0022",
        "x-ms-server-latency": "1"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakekvurl.managedhsm.azure.net/keys/key1649980179/create?api-version=7.3-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        ":authority": "localhost:5001",
        ":method": "POST",
        ":path": "/keys/key1649980179/create?api-version=7.3-preview",
        ":scheme": "https",
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "kty": "RSA"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-server-latency": "223"
      },
      "ResponseBody": {
        "attributes": {
          "created": 1640018466,
          "enabled": true,
          "exportable": false,
          "recoverableDays": 7,
          "recoveryLevel": "CustomizedRecoverable\u002BPurgeable",
          "updated": 1640018466
        },
        "key": {
          "e": "AQAB",
          "key_ops": [
            "wrapKey",
            "decrypt",
            "encrypt",
            "unwrapKey",
            "sign",
            "verify"
          ],
          "kid": "https://rosebudhsm.managedhsm.azure.net/keys/key1649980179/3f74931169584417334ba8a2b2660cdc",
          "kty": "RSA-HSM",
          "n": "l-ABr_dTz1iFQRMaf9qhzRejFNJmc19d73U0S0nN-KWSkjG7KGLKPWN9Eeoyo9Hknau8LJnTTb9bObw6coNaUR96JUv_B1Vn8SJjDL-OTd3LNf1leEh7eCt48_cEIWme06l1cDRefNcL9pVcm_uHHTbNBV3sVfh6Y4aLBywf-eguxJA3ZXtKiejiVgfg48q7mVZLO8-bbQXwbYta8Uy3BfX0-XSxlyUP1OROmMO79EYiDEIy5tLAEv5BxVnDUy_cIFHQUZcZnOBxikxOeQuBF87G56e0OPZfluQJBOgzRd1Agt7cJpIp-IgchuLSumDdcXJS4Z95Q-GwQfFtC9LZKw"
        }
      }
    },
    {
      "RequestUri": "https://fakekvurl.managedhsm.azure.net/keys/key1649980179?api-version=7.3-preview",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        ":authority": "localhost:5001",
        ":method": "DELETE",
        ":path": "/keys/key1649980179?api-version=7.3-preview",
        ":scheme": "https",
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-server-latency": "157"
      },
      "ResponseBody": {
        "attributes": {
          "created": 1640018466,
          "enabled": true,
          "exportable": false,
          "recoverableDays": 7,
          "recoveryLevel": "CustomizedRecoverable\u002BPurgeable",
          "updated": 1640018466
        },
        "deletedDate": 1640018467,
        "key": {
          "e": "AQAB",
          "key_ops": [
            "wrapKey",
            "encrypt",
            "decrypt",
            "unwrapKey",
            "sign",
            "verify"
          ],
          "kid": "https://rosebudhsm.managedhsm.azure.net/keys/key1649980179/3f74931169584417334ba8a2b2660cdc",
          "kty": "RSA-HSM",
          "n": "l-ABr_dTz1iFQRMaf9qhzRejFNJmc19d73U0S0nN-KWSkjG7KGLKPWN9Eeoyo9Hknau8LJnTTb9bObw6coNaUR96JUv_B1Vn8SJjDL-OTd3LNf1leEh7eCt48_cEIWme06l1cDRefNcL9pVcm_uHHTbNBV3sVfh6Y4aLBywf-eguxJA3ZXtKiejiVgfg48q7mVZLO8-bbQXwbYta8Uy3BfX0-XSxlyUP1OROmMO79EYiDEIy5tLAEv5BxVnDUy_cIFHQUZcZnOBxikxOeQuBF87G56e0OPZfluQJBOgzRd1Agt7cJpIp-IgchuLSumDdcXJS4Z95Q-GwQfFtC9LZKw"
        },
        "recoveryId": "https://rosebudhsm.managedhsm.azure.net/deletedkeys/key1649980179",
        "scheduledPurgeDate": 1640623267
      }
    },
    {
      "RequestUri": "https://fakekvurl.managedhsm.azure.net/deletedkeys/key1649980179?api-version=7.3-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        ":authority": "localhost:5001",
        ":method": "GET",
        ":path": "/deletedkeys/key1649980179?api-version=7.3-preview",
        ":scheme": "https",
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-build-version": "1.0.20211206-1-be739728-develop",
        "x-ms-server-latency": "31"
      },
      "ResponseBody": {
        "attributes": {
          "created": 1640018466,
          "enabled": true,
          "exportable": false,
          "recoverableDays": 7,
          "recoveryLevel": "CustomizedRecoverable\u002BPurgeable",
          "updated": 1640018466
        },
        "deletedDate": 1640018467,
        "key": {
          "e": "AQAB",
          "key_ops": [
            "verify",
            "sign",
            "unwrapKey",
            "encrypt",
            "decrypt",
            "wrapKey"
          ],
          "kid": "https://rosebudhsm.managedhsm.azure.net/keys/key1649980179/3f74931169584417334ba8a2b2660cdc",
          "kty": "RSA-HSM",
          "n": "l-ABr_dTz1iFQRMaf9qhzRejFNJmc19d73U0S0nN-KWSkjG7KGLKPWN9Eeoyo9Hknau8LJnTTb9bObw6coNaUR96JUv_B1Vn8SJjDL-OTd3LNf1leEh7eCt48_cEIWme06l1cDRefNcL9pVcm_uHHTbNBV3sVfh6Y4aLBywf-eguxJA3ZXtKiejiVgfg48q7mVZLO8-bbQXwbYta8Uy3BfX0-XSxlyUP1OROmMO79EYiDEIy5tLAEv5BxVnDUy_cIFHQUZcZnOBxikxOeQuBF87G56e0OPZfluQJBOgzRd1Agt7cJpIp-IgchuLSumDdcXJS4Z95Q-GwQfFtC9LZKw"
        },
        "recoveryId": "https://rosebudhsm.managedhsm.azure.net/deletedkeys/key1649980179",
        "scheduledPurgeDate": 1640623267
      }
    },
[...]
    {
      "RequestUri": "https://fakekvurl.managedhsm.azure.net/deletedkeys/key1649980179/recover?api-version=7.3-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        ":authority": "localhost:5001",
        ":method": "POST",
        ":path": "/deletedkeys/key1649980179/recover?api-version=7.3-preview",
        ":scheme": "https",
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-T[...]
    {
      "RequestUri": "https://fakekvurl.managedhsm.azure.net/keys/key1649980179/?api-version=7.3-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        ":authority": "localhost:5001",
        ":method": "GET",
        ":path": "/keys/key1649980179/?api-version=7.3-preview",
        ":scheme": "https",
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; chars[...]
[...]
    {
      "RequestUri": "https://fakekvurl.managedhsm.azure.net/deletedkeys/INVALIDKEYNAME/recover?api-version=7.3-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        ":authority": "localhost:5001",
        ":method": "POST",
        ":path": "/deletedkeys/INVALIDKEYNAME/recover?api-version=7.3-preview",
        ":scheme": "https",
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-server-latency": "30"
      },
      "ResponseBody": {
        "error": {
          "code": "KeyNotFound",
          "message": "Key not found: https://rosebudhsm.managedhsm.azure.net/deletedkeys/INVALIDKEYNAME (Activity ID: a19c73b4-61b3-11ec-985f-000d3aec06d7)"
        }
      }
    },
[...]
    {
      "RequestUri": "https://fakekvurl.managedhsm.azure.net/deletedkeys/key1649980179?api-version=7.3-preview",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        ":authority": "localhost:5001",
        ":method": "DELETE",
        ":path": "/deletedkeys/key1649980179?api-version=7.3-preview",
        ":scheme": "https",
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-server-latency": "114"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {}
}
