{
  "Entries": [
    {
      "RequestUri": "https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/go-sdk-test-rg?api-version=2021-04-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "location": "westus"
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-writes": "1193"
      },
      "ResponseBody": {
        "id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/go-sdk-test-rg",
        "name": "go-sdk-test-rg",
        "type": "Microsoft.Resources/resourceGroups",
        "location": "westus",
        "properties": {
          "provisioningState": "Succeeded"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/go-sdk-test-rg/providers/Microsoft.Storage/storageAccounts/fileaccountnam?api-version=2022-09-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "kind": "StorageV2",
        "location": "westus",
        "properties": {
          "allowBlobPublicAccess": false,
          "allowSharedKeyAccess": true,
          "defaultToOAuthAuthentication": false,
          "encryption": {
            "keySource": "Microsoft.Storage",
            "requireInfrastructureEncryption": false,
            "services": {
              "blob": {
                "enabled": true,
                "keyType": "Account"
              },
              "file": {
                "enabled": true,
                "keyType": "Account"
              }
            }
          },
          "isHnsEnabled": true,
          "isSftpEnabled": true,
          "keyPolicy": {
            "keyExpirationPeriodInDays": 20
          },
          "minimumTlsVersion": "TLS1_2",
          "routingPreference": {
            "publishInternetEndpoints": true,
            "publishMicrosoftEndpoints": true,
            "routingChoice": "MicrosoftRouting"
          },
          "sasPolicy": {
            "expirationAction": "Log",
            "sasExpirationPeriod": "1.15:59:59"
          }
        },
        "sku": {
          "name": "Standard_GRS"
        },
        "tags": {
          "key1": "value1",
          "key2": "value2"
        }
      },
      "StatusCode": 202,
      "ResponseHeaders": {
        "Content-Type": "text/plain; charset=utf-8",
        "Location": "https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Storage/locations/westus/asyncoperations/00000000-0000-0000-0000-000000000000?monitor=true\u0026api-version=2022-09-01",
        "Retry-After": "17",
        "x-ms-ratelimit-remaining-subscription-writes": "1192"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Storage/locations/westus/asyncoperations/00000000-0000-0000-0000-000000000000?monitor=true\u0026api-version=2022-09-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "Content-Type": "text/plain; charset=utf-8",
        "Location": "https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Storage/locations/westus/asyncoperations/00000000-0000-0000-0000-000000000000?monitor=true\u0026api-version=2022-09-01",
        "Retry-After": "3",
        "x-ms-ratelimit-remaining-subscription-reads": "11993"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Storage/locations/westus/asyncoperations/00000000-0000-0000-0000-000000000000?monitor=true\u0026api-version=2022-09-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json",
        "x-ms-ratelimit-remaining-subscription-reads": "11992"
      },
      "ResponseBody": {
        "sku": {
          "name": "Standard_GRS",
          "tier": "Standard"
        },
        "kind": "StorageV2",
        "id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/go-sdk-test-rg/providers/Microsoft.Storage/storageAccounts/fileaccountnam",
        "name": "fileaccountnam",
        "type": "Microsoft.Storage/storageAccounts",
        "location": "westus",
        "tags": {
          "key1": "value1",
          "key2": "value2"
        },
        "properties": {
          "defaultToOAuthAuthentication": false,
          "sasPolicy": {
            "sasExpirationPeriod": "1.15:59:59",
            "expirationAction": "Log"
          },
          "keyPolicy": {
            "keyExpirationPeriodInDays": 20,
            "enableAutoRotation": false
          },
          "keyCreationTime": {
            "key1": "2023-03-07T04:08:56.7895609Z",
            "key2": "2023-03-07T04:08:56.7895609Z"
          },
          "privateEndpointConnections": [],
          "routingPreference": {
            "routingChoice": "MicrosoftRouting",
            "publishMicrosoftEndpoints": true,
            "publishInternetEndpoints": true
          },
          "isLocalUserEnabled": true,
          "isSftpEnabled": true,
          "minimumTlsVersion": "TLS1_2",
          "allowBlobPublicAccess": false,
          "allowSharedKeyAccess": true,
          "isHnsEnabled": true,
          "networkAcls": {
            "bypass": "AzureServices",
            "virtualNetworkRules": [],
            "ipRules": [],
            "defaultAction": "Allow"
          },
          "supportsHttpsTrafficOnly": true,
          "encryption": {
            "requireInfrastructureEncryption": false,
            "services": {
              "file": {
                "keyType": "Account",
                "enabled": true,
                "lastEnabledTime": "2023-03-07T04:08:57.1957969Z"
              },
              "blob": {
                "keyType": "Account",
                "enabled": true,
                "lastEnabledTime": "2023-03-07T04:08:57.1957969Z"
              }
            },
            "keySource": "Microsoft.Storage"
          },
          "accessTier": "Hot",
          "provisioningState": "Succeeded",
          "creationTime": "2023-03-07T04:08:56.6957817Z",
          "primaryEndpoints": {
            "microsoftEndpoints": {
              "dfs": "https://fileaccountnam-microsoftrouting.dfs.core.windows.net/",
              "web": "https://fileaccountnam-microsoftrouting.z22.web.core.windows.net/",
              "blob": "https://fileaccountnam-microsoftrouting.blob.core.windows.net/",
              "queue": "https://fileaccountnam-microsoftrouting.queue.core.windows.net/",
              "table": "https://fileaccountnam-microsoftrouting.table.core.windows.net/",
              "file": "https://fileaccountnam-microsoftrouting.file.core.windows.net/"
            },
            "internetEndpoints": {
              "blob": "https://fileaccountnam-internetrouting.blob.core.windows.net/",
              "file": "https://fileaccountnam-internetrouting.file.core.windows.net/",
              "dfs": "https://fileaccountnam-internetrouting.dfs.core.windows.net/",
              "web": "https://fileaccountnam-internetrouting.z22.web.core.windows.net/"
            },
            "dfs": "https://fileaccountnam.dfs.core.windows.net/",
            "web": "https://fileaccountnam.z22.web.core.windows.net/",
            "blob": "https://fileaccountnam.blob.core.windows.net/",
            "queue": "https://fileaccountnam.queue.core.windows.net/",
            "table": "https://fileaccountnam.table.core.windows.net/",
            "file": "https://fileaccountnam.file.core.windows.net/"
          },
          "primaryLocation": "westus",
          "statusOfPrimary": "available",
          "secondaryLocation": "eastus",
          "statusOfSecondary": "available"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/go-sdk-test-rg/providers/Microsoft.Storage/storageAccounts/fileaccountnam/fileServices/default?api-version=2022-09-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {},
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json",
        "x-ms-ratelimit-remaining-subscription-writes": "1191"
      },
      "ResponseBody": {}
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/go-sdk-test-rg/providers/Microsoft.Storage/storageAccounts/fileaccountnam/fileServices?api-version=2022-09-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json",
        "x-ms-ratelimit-remaining-subscription-reads": "11991"
      },
      "ResponseBody": {
        "value": [
          {
            "sku": {
              "name": "Standard_GRS",
              "tier": "Standard"
            },
            "id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/go-sdk-test-rg/providers/Microsoft.Storage/storageAccounts/fileaccountnam/fileServices/default",
            "name": "default",
            "type": "Microsoft.Storage/storageAccounts/fileServices",
            "properties": {
              "protocolSettings": {
                "smb": {}
              },
              "cors": {
                "corsRules": []
              },
              "shareDeleteRetentionPolicy": {
                "enabled": true,
                "days": 7
              }
            }
          }
        ]
      }
    },
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/go-sdk-test-rg/providers/Microsoft.Storage/storageAccounts/fileaccountnam/fileServices/default/shares/sharename?api-version=2022-09-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {},
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json",
        "ETag": "\u00220x8DB1EC1BB2E2E7E\u0022",
        "x-ms-ratelimit-remaining-subscription-writes": "1190"
      },
      "ResponseBody": {
        "id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/go-sdk-test-rg/providers/Microsoft.Storage/storageAccounts/fileaccountnam/fileServices/default/shares/sharename",
        "name": "sharename",
        "type": "Microsoft.Storage/storageAccounts/fileServices/shares"
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/go-sdk-test-rg/providers/Microsoft.Storage/storageAccounts/fileaccountnam/fileServices/default/shares?api-version=2022-09-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json",
        "x-ms-ratelimit-remaining-subscription-reads": "11989"
      },
      "ResponseBody": {
        "value": [
          {
            "id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/go-sdk-test-rg/providers/Microsoft.Storage/storageAccounts/fileaccountnam/fileServices/default/shares/sharename",
            "name": "sharename",
            "type": "Microsoft.Storage/storageAccounts/fileServices/shares",
            "etag": "\u00220x8DB1EC1BB2E2E7E\u0022",
            "properties": {
              "leaseStatus": "unlocked",
              "leaseState": "available",
              "accessTier": "TransactionOptimized",
              "accessTierChangeTime": "2023-03-07T04:09:21.0000000Z",
              "lastModifiedTime": "2023-03-07T04:09:22.0000000Z",
              "shareQuota": 5120,
              "enabledProtocols": "SMB"
            }
          }
        ]
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/go-sdk-test-rg/providers/Microsoft.Storage/storageAccounts/fileaccountnam/fileServices/default/shares/sharename?api-version=2022-09-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json",
        "ETag": "\u00220x8DB1EC1BB2E2E7E\u0022",
        "x-ms-ratelimit-remaining-subscription-reads": "11988"
      },
      "ResponseBody": {
        "id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/go-sdk-test-rg/providers/Microsoft.Storage/storageAccounts/fileaccountnam/fileServices/default/shares/sharename",
        "name": "sharename",
        "type": "Microsoft.Storage/storageAccounts/fileServices/shares",
        "etag": "\u00220x8DB1EC1BB2E2E7E\u0022",
        "properties": {
          "leaseStatus": "unlocked",
          "leaseState": "available",
          "signedIdentifiers": [],
          "accessTier": "TransactionOptimized",
          "accessTierChangeTime": "2023-03-07T04:09:21.0000000Z",
          "lastModifiedTime": "2023-03-07T04:09:22.0000000Z",
          "shareQuota": 5120
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/go-sdk-test-rg/providers/Microsoft.Storage/storageAccounts/fileaccountnam/fileServices/default/shares/sharename?api-version=2022-09-01",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "properties": {
          "metadata": {
            "type": "image"
          }
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json",
        "ETag": "\u00220x8DB1EC1BC0ED014\u0022",
        "x-ms-ratelimit-remaining-subscription-writes": "1189"
      },
      "ResponseBody": {
        "id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/go-sdk-test-rg/providers/Microsoft.Storage/storageAccounts/fileaccountnam/fileServices/default/shares/sharename",
        "name": "sharename",
        "type": "Microsoft.Storage/storageAccounts/fileServices/shares",
        "properties": {
          "metadata": {
            "type": "image"
          }
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/go-sdk-test-rg/providers/Microsoft.Storage/storageAccounts/fileaccountnam/fileServices/default/shares/sharename/lease?api-version=2022-09-01",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "action": "Acquire",
        "leaseDuration": -1
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json",
        "ETag": "\u00220x8DB1EC1BC0ED014\u0022",
        "x-ms-ratelimit-remaining-subscription-writes": "1195"
      },
      "ResponseBody": {
        "leaseId": "00000000-0000-0000-0000-000000000000"
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/go-sdk-test-rg/providers/Microsoft.Storage/storageAccounts/fileaccountnam/fileServices/default/shares/sharename/lease?api-version=2022-09-01",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "action": "Break",
        "leaseDuration": -1
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json",
        "ETag": "\u00220x8DB1EC1BC0ED014\u0022",
        "x-ms-ratelimit-remaining-subscription-writes": "1194"
      },
      "ResponseBody": {
        "leaseTimeSeconds": "0"
      }
    },
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/go-sdk-test-rg?api-version=2021-04-01",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "Location": "https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/operationresults/eyJqb2JJZCI6IlJFU09VUkNFR1JPVVBERUxFVElPTkpPQi1HTzoyRFNESzoyRFRFU1Q6MkQxNzEtV0VTVFVTIiwiam9iTG9jYXRpb24iOiJ3ZXN0dXMifQ?api-version=2021-04-01",
        "Retry-After": "15",
        "x-ms-ratelimit-remaining-subscription-deletes": "14995"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "recordingRandomSeed": "0"
  }
}
