{
  "Entries": [
    {
      "RequestUri": "https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/go-sdk-test-rg?api-version=2021-04-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "location": "westus"
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-writes": "1188"
      },
      "ResponseBody": {
        "id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/go-sdk-test-rg",
        "name": "go-sdk-test-rg",
        "type": "Microsoft.Resources/resourceGroups",
        "location": "westus",
        "properties": {
          "provisioningState": "Succeeded"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/go-sdk-test-rg/providers/Microsoft.Storage/storageAccounts/queueaccountnam?api-version=2022-09-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "kind": "StorageV2",
        "location": "westus",
        "properties": {
          "allowBlobPublicAccess": false,
          "allowSharedKeyAccess": true,
          "defaultToOAuthAuthentication": false,
          "encryption": {
            "keySource": "Microsoft.Storage",
            "requireInfrastructureEncryption": false,
            "services": {
              "blob": {
                "enabled": true,
                "keyType": "Account"
              },
              "file": {
                "enabled": true,
                "keyType": "Account"
              }
            }
          },
          "isHnsEnabled": true,
          "isSftpEnabled": true,
          "keyPolicy": {
            "keyExpirationPeriodInDays": 20
          },
          "minimumTlsVersion": "TLS1_2",
          "routingPreference": {
            "publishInternetEndpoints": true,
            "publishMicrosoftEndpoints": true,
            "routingChoice": "MicrosoftRouting"
          },
          "sasPolicy": {
            "expirationAction": "Log",
            "sasExpirationPeriod": "1.15:59:59"
          }
        },
        "sku": {
          "name": "Standard_GRS"
        },
        "tags": {
          "key1": "value1",
          "key2": "value2"
        }
      },
      "StatusCode": 202,
      "ResponseHeaders": {
        "Content-Type": "text/plain; charset=utf-8",
        "Location": "https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Storage/locations/westus/asyncoperations/00000000-0000-0000-0000-000000000000?monitor=true\u0026api-version=2022-09-01",
        "Retry-After": "17",
        "x-ms-ratelimit-remaining-subscription-writes": "1187"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Storage/locations/westus/asyncoperations/00000000-0000-0000-0000-000000000000?monitor=true\u0026api-version=2022-09-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json",
        "x-ms-ratelimit-remaining-subscription-reads": "11987"
      },
      "ResponseBody": {
        "sku": {
          "name": "Standard_GRS",
          "tier": "Standard"
        },
        "kind": "StorageV2",
        "id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/go-sdk-test-rg/providers/Microsoft.Storage/storageAccounts/queueaccountnam",
        "name": "queueaccountnam",
        "type": "Microsoft.Storage/storageAccounts",
        "location": "westus",
        "tags": {
          "key1": "value1",
          "key2": "value2"
        },
        "properties": {
          "defaultToOAuthAuthentication": false,
          "sasPolicy": {
            "sasExpirationPeriod": "1.15:59:59",
            "expirationAction": "Log"
          },
          "keyPolicy": {
            "keyExpirationPeriodInDays": 20,
            "enableAutoRotation": false
          },
          "keyCreationTime": {
            "key1": "2023-03-07T04:09:30.7430095Z",
            "key2": "2023-03-07T04:09:30.7430095Z"
          },
          "privateEndpointConnections": [],
          "routingPreference": {
            "routingChoice": "MicrosoftRouting",
            "publishMicrosoftEndpoints": true,
            "publishInternetEndpoints": true
          },
          "isLocalUserEnabled": true,
          "isSftpEnabled": true,
          "minimumTlsVersion": "TLS1_2",
          "allowBlobPublicAccess": false,
          "allowSharedKeyAccess": true,
          "isHnsEnabled": true,
          "networkAcls": {
            "bypass": "AzureServices",
            "virtualNetworkRules": [],
            "ipRules": [],
            "defaultAction": "Allow"
          },
          "supportsHttpsTrafficOnly": true,
          "encryption": {
            "requireInfrastructureEncryption": false,
            "services": {
              "file": {
                "keyType": "Account",
                "enabled": true,
                "lastEnabledTime": "2023-03-07T04:09:31.1336463Z"
              },
              "blob": {
                "keyType": "Account",
                "enabled": true,
                "lastEnabledTime": "2023-03-07T04:09:31.1336463Z"
              }
            },
            "keySource": "Microsoft.Storage"
          },
          "accessTier": "Hot",
          "provisioningState": "Succeeded",
          "creationTime": "2023-03-07T04:09:30.6492543Z",
          "primaryEndpoints": {
            "microsoftEndpoints": {
              "dfs": "https://queueaccountnam-microsoftrouting.dfs.core.windows.net/",
              "web": "https://queueaccountnam-microsoftrouting.z22.web.core.windows.net/",
              "blob": "https://queueaccountnam-microsoftrouting.blob.core.windows.net/",
              "queue": "https://queueaccountnam-microsoftrouting.queue.core.windows.net/",
              "table": "https://queueaccountnam-microsoftrouting.table.core.windows.net/",
              "file": "https://queueaccountnam-microsoftrouting.file.core.windows.net/"
            },
            "internetEndpoints": {
              "blob": "https://queueaccountnam-internetrouting.blob.core.windows.net/",
              "file": "https://queueaccountnam-internetrouting.file.core.windows.net/",
              "dfs": "https://queueaccountnam-internetrouting.dfs.core.windows.net/",
              "web": "https://queueaccountnam-internetrouting.z22.web.core.windows.net/"
            },
            "dfs": "https://queueaccountnam.dfs.core.windows.net/",
            "web": "https://queueaccountnam.z22.web.core.windows.net/",
            "blob": "https://queueaccountnam.blob.core.windows.net/",
            "queue": "https://queueaccountnam.queue.core.windows.net/",
            "table": "https://queueaccountnam.table.core.windows.net/",
            "file": "https://queueaccountnam.file.core.windows.net/"
          },
          "primaryLocation": "westus",
          "statusOfPrimary": "available",
          "secondaryLocation": "eastus",
          "statusOfSecondary": "available"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/go-sdk-test-rg/providers/Microsoft.Storage/storageAccounts/queueaccountnam/queueServices/default/queues/queuename?api-version=2022-09-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {},
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json",
        "x-ms-ratelimit-remaining-subscription-writes": "1186"
      },
      "ResponseBody": {
        "id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/go-sdk-test-rg/providers/Microsoft.Storage/storageAccounts/queueaccountnam/queueServices/default/queues/queuename",
        "name": "queuename",
        "type": "Microsoft.Storage/storageAccounts/queueServices/queues",
        "properties": {
          "metadata": {}
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/go-sdk-test-rg/providers/Microsoft.Storage/storageAccounts/queueaccountnam/queueServices/default/queues?api-version=2022-09-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json",
        "x-ms-ratelimit-remaining-subscription-reads": "11986"
      },
      "ResponseBody": {
        "value": [
          {
            "id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/go-sdk-test-rg/providers/Microsoft.Storage/storageAccounts/queueaccountnam/queueServices/default/queues/queuename",
            "name": "queuename",
            "type": "Microsoft.Storage/storageAccounts/queueServices/queues",
            "properties": {
              "metadata": {}
            }
          }
        ]
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/go-sdk-test-rg/providers/Microsoft.Storage/storageAccounts/queueaccountnam/queueServices/default/queues/queuename?api-version=2022-09-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json",
        "x-ms-ratelimit-remaining-subscription-reads": "11985"
      },
      "ResponseBody": {
        "id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/go-sdk-test-rg/providers/Microsoft.Storage/storageAccounts/queueaccountnam/queueServices/default/queues/queuename",
        "name": "queuename",
        "type": "Microsoft.Storage/storageAccounts/queueServices/queues",
        "properties": {
          "metadata": {},
          "approximateMessageCount": 0
        }
      }
    },
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/go-sdk-test-rg/providers/Microsoft.Storage/storageAccounts/queueaccountnam/queueServices/default?api-version=2022-09-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {},
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json",
        "x-ms-ratelimit-remaining-subscription-writes": "1184"
      },
      "ResponseBody": {}
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/go-sdk-test-rg/providers/Microsoft.Storage/storageAccounts/queueaccountnam/queueServices?api-version=2022-09-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json",
        "x-ms-ratelimit-remaining-subscription-reads": "11984"
      },
      "ResponseBody": {
        "value": [
          {
            "id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/go-sdk-test-rg/providers/Microsoft.Storage/storageAccounts/queueaccountnam/queueServices/default",
            "name": "default",
            "type": "Microsoft.Storage/storageAccounts/queueServices",
            "properties": {
              "logging": {
                "version": "1.0",
                "delete": false,
                "read": false,
                "write": false,
                "retentionPolicy": {
                  "enabled": false
                }
              },
              "cors": {
                "corsRules": []
              }
            }
          }
        ]
      }
    },
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/go-sdk-test-rg?api-version=2021-04-01",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "Location": "https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/operationresults/eyJqb2JJZCI6IlJFU09VUkNFR1JPVVBERUxFVElPTkpPQi1HTzoyRFNESzoyRFRFU1Q6MkQ5NzEtV0VTVFVTIiwiam9iTG9jYXRpb24iOiJ3ZXN0dXMifQ?api-version=2021-04-01",
        "Retry-After": "15",
        "x-ms-ratelimit-remaining-subscription-deletes": "14993"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "recordingRandomSeed": "0"
  }
}
