{
  "Entries": [
    {
      "RequestUri": "https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/move124734398?api-version=2021-04-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "location": "westus"
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-writes": "1140"
      },
      "ResponseBody": {
        "id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/move124734398",
        "name": "move124734398",
        "type": "Microsoft.Resources/resourceGroups",
        "location": "westus",
        "properties": {
          "provisioningState": "Succeeded"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/move124734398/providers/Microsoft.Storage/storageAccounts/account124734398?api-version=2021-08-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "kind": "StorageV2",
        "location": "westus",
        "properties": {
          "encryption": {
            "keySource": "Microsoft.Storage",
            "services": {
              "blob": {
                "enabled": true,
                "keyType": "Account"
              },
              "file": {
                "enabled": true,
                "keyType": "Account"
              }
            }
          }
        },
        "sku": {
          "name": "Standard_GRS"
        },
        "tags": {
          "key1": "value1",
          "key2": "value2"
        }
      },
      "StatusCode": 202,
      "ResponseHeaders": {
        "Content-Type": "text/plain; charset=utf-8",
        "Location": "https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Storage/locations/westus/asyncoperations/cc58c993-b02a-448a-a39f-c10ab2b57a4a?monitor=true\u0026api-version=2021-08-01",
        "Retry-After": "17",
        "x-ms-ratelimit-remaining-subscription-writes": "1139"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Storage/locations/westus/asyncoperations/cc58c993-b02a-448a-a39f-c10ab2b57a4a?monitor=true\u0026api-version=2021-08-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        ":method": "GET",
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json",
        "x-ms-ratelimit-remaining-subscription-reads": "11962"
      },
      "ResponseBody": {
        "sku": {
          "name": "Standard_GRS",
          "tier": "Standard"
        },
        "kind": "StorageV2",
        "id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/move124734398/providers/Microsoft.Storage/storageAccounts/account124734398",
        "name": "account124734398",
        "type": "Microsoft.Storage/storageAccounts",
        "location": "westus",
        "tags": {
          "key1": "value1",
          "key2": "value2"
        },
        "properties": {
          "keyCreationTime": {
            "key1": "2022-02-28T08:50:59.7519290Z",
            "key2": "2022-02-28T08:50:59.7519290Z"
          },
          "privateEndpointConnections": [],
          "minimumTlsVersion": "TLS1_0",
          "allowBlobPublicAccess": true,
          "networkAcls": {
            "bypass": "AzureServices",
            "virtualNetworkRules": [],
            "ipRules": [],
            "defaultAction": "Allow"
          },
          "supportsHttpsTrafficOnly": true,
          "encryption": {
            "services": {
              "file": {
                "keyType": "Account",
                "enabled": true,
                "lastEnabledTime": "2022-02-28T08:50:59.7519290Z"
              },
              "blob": {
                "keyType": "Account",
                "enabled": true,
                "lastEnabledTime": "2022-02-28T08:50:59.7519290Z"
              }
            },
            "keySource": "Microsoft.Storage"
          },
          "accessTier": "Hot",
          "provisioningState": "Succeeded",
          "creationTime": "2022-02-28T08:50:59.6425326Z",
          "primaryEndpoints": {
            "dfs": "https://account124734398.dfs.core.windows.net/",
            "web": "https://account124734398.z22.web.core.windows.net/",
            "blob": "https://account124734398.blob.core.windows.net/",
            "queue": "https://account124734398.queue.core.windows.net/",
            "table": "https://account124734398.table.core.windows.net/",
            "file": "https://account124734398.file.core.windows.net/"
          },
          "primaryLocation": "westus",
          "statusOfPrimary": "available",
          "secondaryLocation": "eastus",
          "statusOfSecondary": "available"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/move124734398/providers/Microsoft.Storage/storageAccounts/account124734398/listKeys?api-version=2021-08-01",
      "RequestMethod": "POST",
      "RequestHeaders": {
        ":method": "POST",
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json",
        "x-ms-ratelimit-remaining-subscription-resource-requests": "11999"
      },
      "ResponseBody": {
        "keys": [
          {
            "creationTime": "2022-02-28T08:50:59.7519290Z",
            "keyName": "key1",
            "value": "rC3iWuFPFtUO5B34YCNPBqzasNprF7u68NPLYOizeHff9VawLQWLDTBC5d76EwgKD6\u002B62oh1VN2bmz\u002B3i6a7wA==",
            "permissions": "FULL"
          },
          {
            "creationTime": "2022-02-28T08:50:59.7519290Z",
            "keyName": "key2",
            "value": "8lRfCVlyA/7vXAzE4wKLUZ9tW4TKoz4Sknf0aa3b9bL/eOerj5X7vC2QYfyjHhUvQH/bfIspmvd0q9MqC9dvuw==",
            "permissions": "FULL"
          }
        ]
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/move124734398?api-version=2021-04-01",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "Location": "https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/operationresults/eyJqb2JJZCI6IlJFU09VUkNFR1JPVVBERUxFVElPTkpPQi1NT1ZFMTI0NzM0Mzk4LVdFU1RVUyIsImpvYkxvY2F0aW9uIjoid2VzdHVzIn0?api-version=2021-04-01",
        "Retry-After": "15",
        "x-ms-ratelimit-remaining-subscription-deletes": "14976"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {}
}
