//go:build go1.16
// +build go1.16

// Copyright (c) Microsoft Corporation. All rights reserved.
// Licensed under the MIT License. See License.txt in the project root for license information.
// Code generated by Microsoft (R) AutoRest Code Generator.
// Changes may cause incorrect behavior and will be lost if the code is regenerated.

package armmixedreality

import (
	"context"
	"errors"
	"fmt"
	"github.com/Azure/azure-sdk-for-go/sdk/azcore"
	"github.com/Azure/azure-sdk-for-go/sdk/azcore/arm"
	armruntime "github.com/Azure/azure-sdk-for-go/sdk/azcore/arm/runtime"
	"github.com/Azure/azure-sdk-for-go/sdk/azcore/policy"
	"github.com/Azure/azure-sdk-for-go/sdk/azcore/runtime"
	"net/http"
	"net/url"
	"strings"
)

// MixedRealityClient contains the methods for the MixedRealityClient group.
// Don't use this type directly, use NewMixedRealityClient() instead.
type MixedRealityClient struct {
	ep             string
	pl             runtime.Pipeline
	subscriptionID string
}

// NewMixedRealityClient creates a new instance of MixedRealityClient with the specified values.
func NewMixedRealityClient(subscriptionID string, credential azcore.TokenCredential, options *arm.ClientOptions) *MixedRealityClient {
	cp := arm.ClientOptions{}
	if options != nil {
		cp = *options
	}
	if len(cp.Host) == 0 {
		cp.Host = arm.AzurePublicCloud
	}
	return &MixedRealityClient{subscriptionID: subscriptionID, ep: string(cp.Host), pl: armruntime.NewPipeline(module, version, credential, &cp)}
}

// CheckNameAvailabilityLocal - Check Name Availability for local uniqueness
// If the operation fails it returns the *CloudError error type.
func (client *MixedRealityClient) CheckNameAvailabilityLocal(ctx context.Context, location string, checkNameAvailability CheckNameAvailabilityRequest, options *MixedRealityClientCheckNameAvailabilityLocalOptions) (MixedRealityClientCheckNameAvailabilityLocalResponse, error) {
	req, err := client.checkNameAvailabilityLocalCreateRequest(ctx, location, checkNameAvailability, options)
	if err != nil {
		return MixedRealityClientCheckNameAvailabilityLocalResponse{}, err
	}
	resp, err := client.pl.Do(req)
	if err != nil {
		return MixedRealityClientCheckNameAvailabilityLocalResponse{}, err
	}
	if !runtime.HasStatusCode(resp, http.StatusOK) {
		return MixedRealityClientCheckNameAvailabilityLocalResponse{}, client.checkNameAvailabilityLocalHandleError(resp)
	}
	return client.checkNameAvailabilityLocalHandleResponse(resp)
}

// checkNameAvailabilityLocalCreateRequest creates the CheckNameAvailabilityLocal request.
func (client *MixedRealityClient) checkNameAvailabilityLocalCreateRequest(ctx context.Context, location string, checkNameAvailability CheckNameAvailabilityRequest, options *MixedRealityClientCheckNameAvailabilityLocalOptions) (*policy.Request, error) {
	urlPath := "/subscriptions/{subscriptionId}/providers/Microsoft.MixedReality/locations/{location}/checkNameAvailability"
	if client.subscriptionID == "" {
		return nil, errors.New("parameter client.subscriptionID cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{subscriptionId}", url.PathEscape(client.subscriptionID))
	if location == "" {
		return nil, errors.New("parameter location cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{location}", url.PathEscape(location))
	req, err := runtime.NewRequest(ctx, http.MethodPost, runtime.JoinPaths(client.ep, urlPath))
	if err != nil {
		return nil, err
	}
	reqQP := req.Raw().URL.Query()
	reqQP.Set("api-version", "2021-03-01-preview")
	req.Raw().URL.RawQuery = reqQP.Encode()
	req.Raw().Header.Set("Accept", "application/json")
	return req, runtime.MarshalAsJSON(req, checkNameAvailability)
}

// checkNameAvailabilityLocalHandleResponse handles the CheckNameAvailabilityLocal response.
func (client *MixedRealityClient) checkNameAvailabilityLocalHandleResponse(resp *http.Response) (MixedRealityClientCheckNameAvailabilityLocalResponse, error) {
	result := MixedRealityClientCheckNameAvailabilityLocalResponse{RawResponse: resp}
	if err := runtime.UnmarshalAsJSON(resp, &result.CheckNameAvailabilityResponse); err != nil {
		return MixedRealityClientCheckNameAvailabilityLocalResponse{}, runtime.NewResponseError(err, resp)
	}
	return result, nil
}

// checkNameAvailabilityLocalHandleError handles the CheckNameAvailabilityLocal error response.
func (client *MixedRealityClient) checkNameAvailabilityLocalHandleError(resp *http.Response) error {
	body, err := runtime.Payload(resp)
	if err != nil {
		return runtime.NewResponseError(err, resp)
	}
	errType := CloudError{raw: string(body)}
	if err := runtime.UnmarshalAsJSON(resp, &errType); err != nil {
		return runtime.NewResponseError(fmt.Errorf("%s\n%s", string(body), err), resp)
	}
	return runtime.NewResponseError(&errType, resp)
}
