//go:build go1.16
// +build go1.16

// Copyright (c) Microsoft Corporation. All rights reserved.
// Licensed under the MIT License. See License.txt in the project root for license information.
// Code generated by Microsoft (R) AutoRest Code Generator.
// Changes may cause incorrect behavior and will be lost if the code is regenerated.

package armpeering

import (
	"context"
	"errors"
	"github.com/Azure/azure-sdk-for-go/sdk/azcore"
	"github.com/Azure/azure-sdk-for-go/sdk/azcore/arm"
	armruntime "github.com/Azure/azure-sdk-for-go/sdk/azcore/arm/runtime"
	"github.com/Azure/azure-sdk-for-go/sdk/azcore/policy"
	"github.com/Azure/azure-sdk-for-go/sdk/azcore/runtime"
	"net/http"
	"net/url"
	"strings"
)

// ReceivedRoutesClient contains the methods for the ReceivedRoutes group.
// Don't use this type directly, use NewReceivedRoutesClient() instead.
type ReceivedRoutesClient struct {
	host           string
	subscriptionID string
	pl             runtime.Pipeline
}

// NewReceivedRoutesClient creates a new instance of ReceivedRoutesClient with the specified values.
// subscriptionID - The Azure subscription ID.
// credential - used to authorize requests. Usually a credential from azidentity.
// options - pass nil to accept the default values.
func NewReceivedRoutesClient(subscriptionID string, credential azcore.TokenCredential, options *arm.ClientOptions) *ReceivedRoutesClient {
	if options == nil {
		options = &arm.ClientOptions{}
	}
	ep := options.Endpoint
	if len(ep) == 0 {
		ep = arm.AzurePublicCloud
	}
	client := &ReceivedRoutesClient{
		subscriptionID: subscriptionID,
		host:           string(ep),
		pl:             armruntime.NewPipeline(moduleName, moduleVersion, credential, runtime.PipelineOptions{}, options),
	}
	return client
}

// ListByPeering - Lists the prefixes received over the specified peering under the given subscription and resource group.
// If the operation fails it returns an *azcore.ResponseError type.
// resourceGroupName - The name of the resource group.
// peeringName - The name of the peering.
// options - ReceivedRoutesClientListByPeeringOptions contains the optional parameters for the ReceivedRoutesClient.ListByPeering
// method.
func (client *ReceivedRoutesClient) ListByPeering(resourceGroupName string, peeringName string, options *ReceivedRoutesClientListByPeeringOptions) *ReceivedRoutesClientListByPeeringPager {
	return &ReceivedRoutesClientListByPeeringPager{
		client: client,
		requester: func(ctx context.Context) (*policy.Request, error) {
			return client.listByPeeringCreateRequest(ctx, resourceGroupName, peeringName, options)
		},
		advancer: func(ctx context.Context, resp ReceivedRoutesClientListByPeeringResponse) (*policy.Request, error) {
			return runtime.NewRequest(ctx, http.MethodGet, *resp.ReceivedRouteListResult.NextLink)
		},
	}
}

// listByPeeringCreateRequest creates the ListByPeering request.
func (client *ReceivedRoutesClient) listByPeeringCreateRequest(ctx context.Context, resourceGroupName string, peeringName string, options *ReceivedRoutesClientListByPeeringOptions) (*policy.Request, error) {
	urlPath := "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Peering/peerings/{peeringName}/receivedRoutes"
	if resourceGroupName == "" {
		return nil, errors.New("parameter resourceGroupName cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{resourceGroupName}", url.PathEscape(resourceGroupName))
	if peeringName == "" {
		return nil, errors.New("parameter peeringName cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{peeringName}", url.PathEscape(peeringName))
	if client.subscriptionID == "" {
		return nil, errors.New("parameter client.subscriptionID cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{subscriptionId}", url.PathEscape(client.subscriptionID))
	req, err := runtime.NewRequest(ctx, http.MethodGet, runtime.JoinPaths(client.host, urlPath))
	if err != nil {
		return nil, err
	}
	reqQP := req.Raw().URL.Query()
	if options != nil && options.Prefix != nil {
		reqQP.Set("prefix", *options.Prefix)
	}
	if options != nil && options.AsPath != nil {
		reqQP.Set("asPath", *options.AsPath)
	}
	if options != nil && options.OriginAsValidationState != nil {
		reqQP.Set("originAsValidationState", *options.OriginAsValidationState)
	}
	if options != nil && options.RpkiValidationState != nil {
		reqQP.Set("rpkiValidationState", *options.RpkiValidationState)
	}
	if options != nil && options.SkipToken != nil {
		reqQP.Set("$skipToken", *options.SkipToken)
	}
	reqQP.Set("api-version", "2021-06-01")
	req.Raw().URL.RawQuery = reqQP.Encode()
	req.Raw().Header.Set("Accept", "application/json")
	return req, nil
}

// listByPeeringHandleResponse handles the ListByPeering response.
func (client *ReceivedRoutesClient) listByPeeringHandleResponse(resp *http.Response) (ReceivedRoutesClientListByPeeringResponse, error) {
	result := ReceivedRoutesClientListByPeeringResponse{RawResponse: resp}
	if err := runtime.UnmarshalAsJSON(resp, &result.ReceivedRouteListResult); err != nil {
		return ReceivedRoutesClientListByPeeringResponse{}, err
	}
	return result, nil
}
