{
  "Entries": [
    {
      "RequestUri": "https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/go-sdk-test-rg?api-version=2021-04-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "location": "westus"
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-writes": "1194"
      },
      "ResponseBody": {
        "id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/go-sdk-test-rg",
        "name": "go-sdk-test-rg",
        "type": "Microsoft.Resources/resourceGroups",
        "location": "westus",
        "properties": {
          "provisioningState": "Succeeded"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/go-sdk-test-rg/providers/Microsoft.ServiceBus/namespaces/sbnamespacetIoY4jZ?api-version=2022-01-01-preview",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "location": "westus",
        "sku": {
          "name": "Standard",
          "tier": "Standard"
        },
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "Server-SB": "Service-Bus-Resource-Provider/SN1",
        "x-ms-ratelimit-remaining-subscription-writes": "1193"
      },
      "ResponseBody": {
        "sku": {
          "name": "Standard",
          "tier": "Standard"
        },
        "id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/go-sdk-test-rg/providers/Microsoft.ServiceBus/namespaces/sbnamespacetIoY4jZ",
        "name": "sbnamespacetIoY4jZ",
        "type": "Microsoft.ServiceBus/Namespaces",
        "location": "West US",
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        },
        "properties": {
          "minimumTlsVersion": "1.2",
          "publicNetworkAccess": "Enabled",
          "disableLocalAuth": false,
          "zoneRedundant": false,
          "provisioningState": "Created",
          "metricId": "00000000-0000-0000-0000-000000000000:sbnamespacetioy4jz",
          "createdAt": "2022-09-06T08:40:53.2Z",
          "updatedAt": "2022-09-06T08:40:53.2Z",
          "serviceBusEndpoint": "https://sbnamespacetIoY4jZ.servicebus.windows.net:443/",
          "status": "Activating"
        }
      }
    },
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/go-sdk-test-rg/providers/Microsoft.ServiceBus/namespaces/sbnamespacetIoY4jZ/topics/topicnaIoY4jZ?api-version=2022-01-01-preview",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "properties": {
          "enableExpress": true
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-writes": "1192"
      },
      "ResponseBody": {
        "id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/go-sdk-test-rg/providers/Microsoft.ServiceBus/namespaces/sbnamespacetIoY4jZ/topics/topicnaIoY4jZ",
        "name": "topicnaIoY4jZ",
        "type": "Microsoft.ServiceBus/Namespaces/Topics",
        "location": "westus",
        "properties": {
          "maxMessageSizeInKilobytes": 256,
          "defaultMessageTimeToLive": "P10675199DT2H48M5.4775807S",
          "maxSizeInMegabytes": 1024,
          "requiresDuplicateDetection": false,
          "duplicateDetectionHistoryTimeWindow": "PT10M",
          "enableBatchedOperations": true,
          "sizeInBytes": 0,
          "status": "Active",
          "supportOrdering": true,
          "autoDeleteOnIdle": "P10675199DT2H48M5.4775807S",
          "enablePartitioning": false,
          "enableExpress": true,
          "createdAt": "2022-09-06T08:41:59.893Z",
          "updatedAt": "2022-09-06T08:41:59.96Z",
          "accessedAt": "0001-01-01T00:00:00",
          "subscriptionCount": 0,
          "countDetails": {
            "activeMessageCount": 0,
            "deadLetterMessageCount": 0,
            "scheduledMessageCount": 0,
            "transferMessageCount": 0,
            "transferDeadLetterMessageCount": 0
          }
        }
      }
    },
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/go-sdk-test-rg/providers/Microsoft.ServiceBus/namespaces/sbnamespacetIoY4jZ/topics?api-version=2022-01-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-inline-count": "",
        "x-ms-ratelimit-remaining-subscription-reads": "11978"
      },
      "ResponseBody": {
        "value": [
          {
            "id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/go-sdk-test-rg/providers/Microsoft.ServiceBus/namespaces/sbnamespacetIoY4jZ/topics/topicnaioy4jz",
            "name": "topicnaioy4jz",
            "type": "Microsoft.ServiceBus/Namespaces/Topics",
            "location": "westus",
            "properties": {
              "maxMessageSizeInKilobytes": 256,
              "defaultMessageTimeToLive": "P10675199DT2H48M5.4775807S",
              "maxSizeInMegabytes": 1024,
              "requiresDuplicateDetection": false,
              "duplicateDetectionHistoryTimeWindow": "PT10M",
              "enableBatchedOperations": true,
              "sizeInBytes": 0,
              "status": "Active",
              "supportOrdering": true,
              "autoDeleteOnIdle": "P10675199DT2H48M5.4775807S",
              "enablePartitioning": false,
              "enableExpress": true,
              "createdAt": "2022-09-06T08:41:59.893Z",
              "updatedAt": "2022-09-06T08:41:59.96Z",
              "accessedAt": "0001-01-01T00:00:00Z",
              "subscriptionCount": 0,
              "countDetails": {
                "activeMessageCount": 0,
                "deadLetterMessageCount": 0,
                "scheduledMessageCount": 0,
                "transferMessageCount": 0,
                "transferDeadLetterMessageCount": 0
              }
            }
          }
        ]
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/go-sdk-test-rg/providers/Microsoft.ServiceBus/namespaces/sbnamespacetIoY4jZ/topics/topicnaIoY4jZ/authorizationRules/topicauthruleIoY4jZ?api-version=2022-01-01-preview",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "properties": {
          "rights": [
            "Listen",
            "Send"
          ]
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-writes": "1191"
      },
      "ResponseBody": {
        "id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/go-sdk-test-rg/providers/Microsoft.ServiceBus/namespaces/sbnamespacetIoY4jZ/topics/topicnaIoY4jZ/authorizationRules/topicauthruleIoY4jZ",
        "name": "topicauthruleIoY4jZ",
        "type": "Microsoft.ServiceBus/Namespaces/Topics/AuthorizationRules",
        "properties": {
          "rights": [
            "Listen",
            "Send"
          ]
        }
      }
    },
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/go-sdk-test-rg/providers/Microsoft.ServiceBus/namespaces/sbnamespacetIoY4jZ/topics/topicnaIoY4jZ/authorizationRules?api-version=2022-01-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-reads": "11976"
      },
      "ResponseBody": {
        "value": [
          {
            "id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/go-sdk-test-rg/providers/Microsoft.ServiceBus/namespaces/sbnamespacetIoY4jZ/topics/topicnaIoY4jZ/authorizationrules/topicauthruleIoY4jZ",
            "name": "topicauthruleIoY4jZ",
            "type": "Microsoft.ServiceBus/Namespaces/Topics/AuthorizationRules",
            "location": "westus",
            "properties": {
              "rights": [
                "Listen",
                "Send"
              ]
            }
          }
        ]
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/go-sdk-test-rg/providers/Microsoft.ServiceBus/namespaces/sbnamespacetIoY4jZ/topics/topicnaIoY4jZ/authorizationRules/topicauthruleIoY4jZ/regenerateKeys?api-version=2022-01-01-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "keyType": "PrimaryKey"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-writes": "1195"
      },
      "ResponseBody": {
        "primaryConnectionString": "Endpoint=sb://sbnamespacetioy4jz.servicebus.windows.net/;SharedAccessKeyName=topicauthruleIoY4jZ;SharedAccessKey=pMc27SlCGnzjOLmtHPoElAimW4QcZG2XiYFHFzLlayE=;EntityPath=topicnaIoY4jZ",
        "secondaryConnectionString": "Endpoint=sb://sbnamespacetioy4jz.servicebus.windows.net/;SharedAccessKeyName=topicauthruleIoY4jZ;SharedAccessKey=N8ld9vKHorUl5F9uC75bnevc4UZbTOFKYQOPZ6b3Tio=;EntityPath=topicnaIoY4jZ",
        "primaryKey": "pMc27SlCGnzjOLmtHPoElAimW4QcZG2XiYFHFzLlayE=",
        "secondaryKey": "N8ld9vKHorUl5F9uC75bnevc4UZbTOFKYQOPZ6b3Tio=",
        "keyName": "topicauthruleIoY4jZ"
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/go-sdk-test-rg/providers/Microsoft.ServiceBus/namespaces/sbnamespacetIoY4jZ/topics/topicnaIoY4jZ/authorizationRules/topicauthruleIoY4jZ/ListKeys?api-version=2022-01-01-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-writes": "1194"
      },
      "ResponseBody": {
        "primaryConnectionString": "Endpoint=sb://sbnamespacetioy4jz.servicebus.windows.net/;SharedAccessKeyName=topicauthruleIoY4jZ;SharedAccessKey=pMc27SlCGnzjOLmtHPoElAimW4QcZG2XiYFHFzLlayE=;EntityPath=topicnaIoY4jZ",
        "secondaryConnectionString": "Endpoint=sb://sbnamespacetioy4jz.servicebus.windows.net/;SharedAccessKeyName=topicauthruleIoY4jZ;SharedAccessKey=N8ld9vKHorUl5F9uC75bnevc4UZbTOFKYQOPZ6b3Tio=;EntityPath=topicnaIoY4jZ",
        "primaryKey": "pMc27SlCGnzjOLmtHPoElAimW4QcZG2XiYFHFzLlayE=",
        "secondaryKey": "N8ld9vKHorUl5F9uC75bnevc4UZbTOFKYQOPZ6b3Tio=",
        "keyName": "topicauthruleIoY4jZ"
      }
    },
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/go-sdk-test-rg/providers/Microsoft.ServiceBus/namespaces/sbnamespacetIoY4jZ/topics/topicnaIoY4jZ/subscriptions/subscriptionnaIoY4jZ?api-version=2022-01-01-preview",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "properties": {
          "enableBatchedOperations": true
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-writes": "1190"
      },
      "ResponseBody": {
        "id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/go-sdk-test-rg/providers/Microsoft.ServiceBus/namespaces/sbnamespacetIoY4jZ/topics/topicnaIoY4jZ/subscriptions/subscriptionnaIoY4jZ",
        "name": "subscriptionnaIoY4jZ",
        "type": "Microsoft.ServiceBus/Namespaces/Topics/Subscriptions",
        "location": "westus",
        "properties": {
          "isClientAffine": false,
          "lockDuration": "PT1M",
          "requiresSession": false,
          "defaultMessageTimeToLive": "P10675199DT2H48M5.4775807S",
          "deadLetteringOnMessageExpiration": false,
          "deadLetteringOnFilterEvaluationExceptions": true,
          "messageCount": 0,
          "maxDeliveryCount": 10,
          "status": "Active",
          "enableBatchedOperations": true,
          "createdAt": "2022-09-06T08:42:09.9560743Z",
          "updatedAt": "2022-09-06T08:42:09.9560743Z",
          "accessedAt": "0001-01-01T00:00:00",
          "countDetails": {
            "activeMessageCount": 0,
            "deadLetterMessageCount": 0,
            "scheduledMessageCount": 0,
            "transferMessageCount": 0,
            "transferDeadLetterMessageCount": 0
          },
          "autoDeleteOnIdle": "P10675199DT2H48M5.4775807S"
        }
      }
    },
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/go-sdk-test-rg/providers/Microsoft.ServiceBus/namespaces/sbnamespacetIoY4jZ/topics/topicnaIoY4jZ/subscriptions?api-version=2022-01-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=ut[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/go-sdk-test-rg/providers/Microsoft.ServiceBus/namespaces/sbnamespacetIoY4jZ/topics/topicnaIoY4jZ/subscriptions/subscriptionnaIoY4jZ/rules/rulenaIoY4jZ?api-version=2022-01-01-preview",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "properties": {
          "correlationFilter": {
            "properties": {
              "topicHint": "Crop"
            }
          },
          "filterType": "CorrelationFilter"
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-writes": "1189"
      },
      "ResponseBody": {
        "id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/go-sdk-test-rg/providers/Microsoft.ServiceBus/namespaces/sbnamespacetIoY4jZ/topics/topicnaIoY4jZ/subscriptions/subscriptionnaIoY4jZ/rules/rulenaIoY4jZ",
        "name": "rulenaIoY4jZ",
        "type": "Microsoft.ServiceBus/Namespaces/Topics/Subscriptions/Rules",
        "location": "westus",
        "properties": {
          "action": {},
          "filterType": "CorrelationFilter",
          "correlationFilter": {
            "properties": {
              "topicHint": "Crop"
            }
          }
        }
      }
    },
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/go-sdk-test-rg/providers/Microsoft.ServiceBus/namespaces/sbnamespacetIoY4jZ/topics/topicnaIoY4jZ/subscriptions/subscriptionnaIoY4jZ/rules?api-version=2022-01-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-inline-count": "",
        "x-ms-ratelimit-remaining-subscription-reads": "11972"
      },
      "ResponseBody": {
        "value": [
          {
            "id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/go-sdk-test-rg/providers/Microsoft.ServiceBus/namespaces/sbnamespacetIoY4jZ/topics/topicnaIoY4jZ/subscriptions/subscriptionnaIoY4jZ/rules/rulenaIoY4jZ",
            "name": "rulenaIoY4jZ",
            "type": "Microsoft.ServiceBus/Namespaces/Topics/Subscriptions/Rules",
            "location": "westus",
            "properties": {
              "action": {},
              "filterType": "CorrelationFilter",
              "correlationFilter": {
                "properties": {
                  "topicHint": "Crop"
                }
              }
            }
          }
        ]
      }
    },
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/go-sdk-test-rg/providers/Microsoft.ServiceBus/namespaces/sbnamespacetIoY4jZ?api-version=2022-01-01-preview",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "Location": "https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/go-sdk-test-rg/providers/Microsoft.ServiceBus/locations/westus/operationStatus/sbnamespacetIoY4jZ?api-version=2022-01-01-preview\u0026resourceType=Namespace",
        "Server-SB": "Service-Bus-Resource-Provider/SN1",
        "x-ms-ratelimit-remaining-subscription-deletes": "14988"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/go-sdk-test-rg/providers/Microsoft.ServiceBus/locations/westus/operationStatus/sbnamespacetIoY4jZ?api-version=2022-01-01-preview\u0026resourceType=Namespace",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "Location": "https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/go-sdk-test-rg/providers/Microsoft.ServiceBus/locations/westus/operationStatus/sbnamespacetIoY4jZ?api-version=2022-01-01-preview\u0026resourceType=Namespace",
        "Server-SB": "Service-Bus-Resource-Provider/SN1",
        "x-ms-ratelimit-remaining-subscription-reads": "11971"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/go-sdk-test-rg?api-version=2021-04-01",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "Location": "https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/operationresults/eyJqb2JJZCI6IlJFU09VUkNFR1JPVVBERUxFVElPTkpPQi1HTzoyRFNESzoyRFRFU1Q6MkQ1Ny1XRVNUVVMiLCJqb2JMb2NhdGlvbiI6Indlc3R1cyJ9?api-version=2021-04-01",
        "Retry-After": "15",
        "x-ms-ratelimit-remaining-subscription-deletes": "14987"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "recordingRandomSeed": "1662452400"
  }
}
