// Copyright (c) Microsoft Corporation. All rights reserved.
// Licensed under the MIT License. See License.txt in the project root for license information.
// Code generated by Microsoft (R) AutoRest Code Generator. DO NOT EDIT.
// Changes may cause incorrect behavior and will be lost if the code is regenerated.

package armcognitiveservices

import (
	"context"
	"errors"
	"github.com/Azure/azure-sdk-for-go/sdk/azcore"
	"github.com/Azure/azure-sdk-for-go/sdk/azcore/arm"
	"github.com/Azure/azure-sdk-for-go/sdk/azcore/policy"
	"github.com/Azure/azure-sdk-for-go/sdk/azcore/runtime"
	"net/http"
	"net/url"
	"strings"
)

// TestRaiExternalSafetyProviderClient contains the methods for the TestRaiExternalSafetyProvider group.
// Don't use this type directly, use NewTestRaiExternalSafetyProviderClient() instead.
type TestRaiExternalSafetyProviderClient struct {
	internal       *arm.Client
	subscriptionID string
}

// NewTestRaiExternalSafetyProviderClient creates a new instance of TestRaiExternalSafetyProviderClient with the specified values.
//   - subscriptionID - The ID of the target subscription.
//   - credential - used to authorize requests. Usually a credential from azidentity.
//   - options - Contains optional client configuration. Pass nil to accept the default values.
func NewTestRaiExternalSafetyProviderClient(subscriptionID string, credential azcore.TokenCredential, options *arm.ClientOptions) (*TestRaiExternalSafetyProviderClient, error) {
	cl, err := arm.NewClient(moduleName, moduleVersion, credential, options)
	if err != nil {
		return nil, err
	}
	client := &TestRaiExternalSafetyProviderClient{
		subscriptionID: subscriptionID,
		internal:       cl,
	}
	return client, nil
}

// CreateOrUpdate - Test the rai safety provider associated with the subscription.
// If the operation fails it returns an *azcore.ResponseError type.
//
// Generated from API version 2025-10-01-preview
//   - resourceGroupName - The name of the resource group. The name is case insensitive.
//   - accountName - The name of Cognitive Services account.
//   - safetyProviderName - The name of the Rai External Safety Provider associated with the Cognitive Services Account
//   - safetyProvider - Properties describing the rai external safety provider.
//   - options - TestRaiExternalSafetyProviderClientCreateOrUpdateOptions contains the optional parameters for the TestRaiExternalSafetyProviderClient.CreateOrUpdate
//     method.
func (client *TestRaiExternalSafetyProviderClient) CreateOrUpdate(ctx context.Context, resourceGroupName string, accountName string, safetyProviderName string, safetyProvider RaiExternalSafetyProviderSchema, options *TestRaiExternalSafetyProviderClientCreateOrUpdateOptions) (TestRaiExternalSafetyProviderClientCreateOrUpdateResponse, error) {
	var err error
	const operationName = "TestRaiExternalSafetyProviderClient.CreateOrUpdate"
	ctx = context.WithValue(ctx, runtime.CtxAPINameKey{}, operationName)
	ctx, endSpan := runtime.StartSpan(ctx, operationName, client.internal.Tracer(), nil)
	defer func() { endSpan(err) }()
	req, err := client.createOrUpdateCreateRequest(ctx, resourceGroupName, accountName, safetyProviderName, safetyProvider, options)
	if err != nil {
		return TestRaiExternalSafetyProviderClientCreateOrUpdateResponse{}, err
	}
	httpResp, err := client.internal.Pipeline().Do(req)
	if err != nil {
		return TestRaiExternalSafetyProviderClientCreateOrUpdateResponse{}, err
	}
	if !runtime.HasStatusCode(httpResp, http.StatusOK, http.StatusCreated) {
		err = runtime.NewResponseError(httpResp)
		return TestRaiExternalSafetyProviderClientCreateOrUpdateResponse{}, err
	}
	resp, err := client.createOrUpdateHandleResponse(httpResp)
	return resp, err
}

// createOrUpdateCreateRequest creates the CreateOrUpdate request.
func (client *TestRaiExternalSafetyProviderClient) createOrUpdateCreateRequest(ctx context.Context, resourceGroupName string, accountName string, safetyProviderName string, safetyProvider RaiExternalSafetyProviderSchema, _ *TestRaiExternalSafetyProviderClientCreateOrUpdateOptions) (*policy.Request, error) {
	urlPath := "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.CognitiveServices/accounts/{accountName}/testRaiExternalSafetyProvider/{safetyProviderName}"
	if client.subscriptionID == "" {
		return nil, errors.New("parameter client.subscriptionID cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{subscriptionId}", url.PathEscape(client.subscriptionID))
	if resourceGroupName == "" {
		return nil, errors.New("parameter resourceGroupName cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{resourceGroupName}", url.PathEscape(resourceGroupName))
	if accountName == "" {
		return nil, errors.New("parameter accountName cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{accountName}", url.PathEscape(accountName))
	if safetyProviderName == "" {
		return nil, errors.New("parameter safetyProviderName cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{safetyProviderName}", url.PathEscape(safetyProviderName))
	req, err := runtime.NewRequest(ctx, http.MethodPut, runtime.JoinPaths(client.internal.Endpoint(), urlPath))
	if err != nil {
		return nil, err
	}
	reqQP := req.Raw().URL.Query()
	reqQP.Set("api-version", "2025-10-01-preview")
	req.Raw().URL.RawQuery = reqQP.Encode()
	req.Raw().Header["Accept"] = []string{"application/json"}
	if err := runtime.MarshalAsJSON(req, safetyProvider); err != nil {
		return nil, err
	}
	return req, nil
}

// createOrUpdateHandleResponse handles the CreateOrUpdate response.
func (client *TestRaiExternalSafetyProviderClient) createOrUpdateHandleResponse(resp *http.Response) (TestRaiExternalSafetyProviderClientCreateOrUpdateResponse, error) {
	result := TestRaiExternalSafetyProviderClientCreateOrUpdateResponse{}
	if err := runtime.UnmarshalAsJSON(resp, &result.RaiExternalSafetyProviderSchema); err != nil {
		return TestRaiExternalSafetyProviderClientCreateOrUpdateResponse{}, err
	}
	return result, nil
}
