//go:build go1.16
// +build go1.16

// Copyright (c) Microsoft Corporation. All rights reserved.
// Licensed under the MIT License. See License.txt in the project root for license information.
// Code generated by Microsoft (R) AutoRest Code Generator.
// Changes may cause incorrect behavior and will be lost if the code is regenerated.

package armresourcemover

import (
	"context"
	"fmt"
	"github.com/Azure/azure-sdk-for-go/sdk/azcore"
	"github.com/Azure/azure-sdk-for-go/sdk/azcore/arm"
	armruntime "github.com/Azure/azure-sdk-for-go/sdk/azcore/arm/runtime"
	"github.com/Azure/azure-sdk-for-go/sdk/azcore/policy"
	"github.com/Azure/azure-sdk-for-go/sdk/azcore/runtime"
	"net/http"
)

// OperationsDiscoveryClient contains the methods for the OperationsDiscovery group.
// Don't use this type directly, use NewOperationsDiscoveryClient() instead.
type OperationsDiscoveryClient struct {
	ep string
	pl runtime.Pipeline
}

// NewOperationsDiscoveryClient creates a new instance of OperationsDiscoveryClient with the specified values.
func NewOperationsDiscoveryClient(credential azcore.TokenCredential, options *arm.ClientOptions) *OperationsDiscoveryClient {
	cp := arm.ClientOptions{}
	if options != nil {
		cp = *options
	}
	if len(cp.Host) == 0 {
		cp.Host = arm.AzurePublicCloud
	}
	return &OperationsDiscoveryClient{ep: string(cp.Host), pl: armruntime.NewPipeline(module, version, credential, &cp)}
}

// Get -
// If the operation fails it returns the *CloudError error type.
func (client *OperationsDiscoveryClient) Get(ctx context.Context, options *OperationsDiscoveryGetOptions) (OperationsDiscoveryGetResponse, error) {
	req, err := client.getCreateRequest(ctx, options)
	if err != nil {
		return OperationsDiscoveryGetResponse{}, err
	}
	resp, err := client.pl.Do(req)
	if err != nil {
		return OperationsDiscoveryGetResponse{}, err
	}
	if !runtime.HasStatusCode(resp, http.StatusOK) {
		return OperationsDiscoveryGetResponse{}, client.getHandleError(resp)
	}
	return client.getHandleResponse(resp)
}

// getCreateRequest creates the Get request.
func (client *OperationsDiscoveryClient) getCreateRequest(ctx context.Context, options *OperationsDiscoveryGetOptions) (*policy.Request, error) {
	urlPath := "/providers/Microsoft.Migrate/operations"
	req, err := runtime.NewRequest(ctx, http.MethodGet, runtime.JoinPaths(client.ep, urlPath))
	if err != nil {
		return nil, err
	}
	reqQP := req.Raw().URL.Query()
	reqQP.Set("api-version", "2021-08-01")
	req.Raw().URL.RawQuery = reqQP.Encode()
	req.Raw().Header.Set("Accept", "application/json")
	return req, nil
}

// getHandleResponse handles the Get response.
func (client *OperationsDiscoveryClient) getHandleResponse(resp *http.Response) (OperationsDiscoveryGetResponse, error) {
	result := OperationsDiscoveryGetResponse{RawResponse: resp}
	if err := runtime.UnmarshalAsJSON(resp, &result.OperationsDiscoveryCollection); err != nil {
		return OperationsDiscoveryGetResponse{}, runtime.NewResponseError(err, resp)
	}
	return result, nil
}

// getHandleError handles the Get error response.
func (client *OperationsDiscoveryClient) getHandleError(resp *http.Response) error {
	body, err := runtime.Payload(resp)
	if err != nil {
		return runtime.NewResponseError(err, resp)
	}
	errType := CloudError{raw: string(body)}
	if err := runtime.UnmarshalAsJSON(resp, &errType); err != nil {
		return runtime.NewResponseError(fmt.Errorf("%s\n%s", string(body), err), resp)
	}
	return runtime.NewResponseError(&errType, resp)
}
