//go:build go1.13
// +build go1.13

// Copyright (c) Microsoft Corporation. All rights reserved.
// Licensed under the MIT License. See License.txt in the project root for license information.
// Code generated by Microsoft (R) AutoRest Code Generator.
// Changes may cause incorrect behavior and will be lost if the code is regenerated.

package armrecoveryservices

import (
	"context"
	"errors"
	"github.com/Azure/azure-sdk-for-go/sdk/armcore"
	"github.com/Azure/azure-sdk-for-go/sdk/azcore"
	"net/http"
	"net/url"
	"strings"
)

// ReplicationUsagesClient contains the methods for the ReplicationUsages group.
// Don't use this type directly, use NewReplicationUsagesClient() instead.
type ReplicationUsagesClient struct {
	con            *armcore.Connection
	subscriptionID string
}

// NewReplicationUsagesClient creates a new instance of ReplicationUsagesClient with the specified values.
func NewReplicationUsagesClient(con *armcore.Connection, subscriptionID string) *ReplicationUsagesClient {
	return &ReplicationUsagesClient{con: con, subscriptionID: subscriptionID}
}

// List - Fetches the replication usages of the vault.
// If the operation fails it returns a generic error.
func (client *ReplicationUsagesClient) List(ctx context.Context, resourceGroupName string, vaultName string, options *ReplicationUsagesListOptions) (ReplicationUsagesListResponse, error) {
	req, err := client.listCreateRequest(ctx, resourceGroupName, vaultName, options)
	if err != nil {
		return ReplicationUsagesListResponse{}, err
	}
	resp, err := client.con.Pipeline().Do(req)
	if err != nil {
		return ReplicationUsagesListResponse{}, err
	}
	if !resp.HasStatusCode(http.StatusOK) {
		return ReplicationUsagesListResponse{}, client.listHandleError(resp)
	}
	return client.listHandleResponse(resp)
}

// listCreateRequest creates the List request.
func (client *ReplicationUsagesClient) listCreateRequest(ctx context.Context, resourceGroupName string, vaultName string, options *ReplicationUsagesListOptions) (*azcore.Request, error) {
	urlPath := "/Subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.RecoveryServices/vaults/{vaultName}/replicationUsages"
	if client.subscriptionID == "" {
		return nil, errors.New("parameter client.subscriptionID cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{subscriptionId}", url.PathEscape(client.subscriptionID))
	if resourceGroupName == "" {
		return nil, errors.New("parameter resourceGroupName cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{resourceGroupName}", url.PathEscape(resourceGroupName))
	if vaultName == "" {
		return nil, errors.New("parameter vaultName cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{vaultName}", url.PathEscape(vaultName))
	req, err := azcore.NewRequest(ctx, http.MethodGet, azcore.JoinPaths(client.con.Endpoint(), urlPath))
	if err != nil {
		return nil, err
	}
	req.Telemetry(telemetryInfo)
	reqQP := req.URL.Query()
	reqQP.Set("api-version", "2021-06-01")
	req.URL.RawQuery = reqQP.Encode()
	req.Header.Set("Accept", "application/json")
	return req, nil
}

// listHandleResponse handles the List response.
func (client *ReplicationUsagesClient) listHandleResponse(resp *azcore.Response) (ReplicationUsagesListResponse, error) {
	result := ReplicationUsagesListResponse{RawResponse: resp.Response}
	if err := resp.UnmarshalAsJSON(&result.ReplicationUsageList); err != nil {
		return ReplicationUsagesListResponse{}, err
	}
	return result, nil
}

// listHandleError handles the List error response.
func (client *ReplicationUsagesClient) listHandleError(resp *azcore.Response) error {
	body, err := resp.Payload()
	if err != nil {
		return azcore.NewResponseError(err, resp.Response)
	}
	if len(body) == 0 {
		return azcore.NewResponseError(errors.New(resp.Status), resp.Response)
	}
	return azcore.NewResponseError(errors.New(string(body)), resp.Response)
}
