//go:build go1.16
// +build go1.16

// Copyright (c) Microsoft Corporation. All rights reserved.
// Licensed under the MIT License. See License.txt in the project root for license information.
// Code generated by Microsoft (R) AutoRest Code Generator.
// Changes may cause incorrect behavior and will be lost if the code is regenerated.

package armautomation

import (
	"context"
	"errors"
	"fmt"
	"github.com/Azure/azure-sdk-for-go/sdk/azcore"
	"github.com/Azure/azure-sdk-for-go/sdk/azcore/arm"
	armruntime "github.com/Azure/azure-sdk-for-go/sdk/azcore/arm/runtime"
	"github.com/Azure/azure-sdk-for-go/sdk/azcore/policy"
	"github.com/Azure/azure-sdk-for-go/sdk/azcore/runtime"
	"net/http"
	"net/url"
	"strings"
)

// AutomationClient contains the methods for the AutomationClient group.
// Don't use this type directly, use NewAutomationClient() instead.
type AutomationClient struct {
	ep             string
	pl             runtime.Pipeline
	subscriptionID string
}

// NewAutomationClient creates a new instance of AutomationClient with the specified values.
func NewAutomationClient(subscriptionID string, credential azcore.TokenCredential, options *arm.ClientOptions) *AutomationClient {
	cp := arm.ClientOptions{}
	if options != nil {
		cp = *options
	}
	if len(cp.Host) == 0 {
		cp.Host = arm.AzurePublicCloud
	}
	return &AutomationClient{subscriptionID: subscriptionID, ep: string(cp.Host), pl: armruntime.NewPipeline(module, version, credential, &cp)}
}

// ConvertGraphRunbookContent - Post operation to serialize or deserialize GraphRunbookContent
// If the operation fails it returns the *ErrorResponse error type.
func (client *AutomationClient) ConvertGraphRunbookContent(ctx context.Context, resourceGroupName string, automationAccountName string, parameters GraphicalRunbookContent, options *AutomationClientConvertGraphRunbookContentOptions) (AutomationClientConvertGraphRunbookContentResponse, error) {
	req, err := client.convertGraphRunbookContentCreateRequest(ctx, resourceGroupName, automationAccountName, parameters, options)
	if err != nil {
		return AutomationClientConvertGraphRunbookContentResponse{}, err
	}
	resp, err := client.pl.Do(req)
	if err != nil {
		return AutomationClientConvertGraphRunbookContentResponse{}, err
	}
	if !runtime.HasStatusCode(resp, http.StatusOK) {
		return AutomationClientConvertGraphRunbookContentResponse{}, client.convertGraphRunbookContentHandleError(resp)
	}
	return client.convertGraphRunbookContentHandleResponse(resp)
}

// convertGraphRunbookContentCreateRequest creates the ConvertGraphRunbookContent request.
func (client *AutomationClient) convertGraphRunbookContentCreateRequest(ctx context.Context, resourceGroupName string, automationAccountName string, parameters GraphicalRunbookContent, options *AutomationClientConvertGraphRunbookContentOptions) (*policy.Request, error) {
	urlPath := "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Automation/automationAccounts/{automationAccountName}/convertGraphRunbookContent"
	if resourceGroupName == "" {
		return nil, errors.New("parameter resourceGroupName cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{resourceGroupName}", url.PathEscape(resourceGroupName))
	if automationAccountName == "" {
		return nil, errors.New("parameter automationAccountName cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{automationAccountName}", url.PathEscape(automationAccountName))
	if client.subscriptionID == "" {
		return nil, errors.New("parameter client.subscriptionID cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{subscriptionId}", url.PathEscape(client.subscriptionID))
	req, err := runtime.NewRequest(ctx, http.MethodPost, runtime.JoinPaths(client.ep, urlPath))
	if err != nil {
		return nil, err
	}
	reqQP := req.Raw().URL.Query()
	reqQP.Set("api-version", "2021-06-22")
	req.Raw().URL.RawQuery = reqQP.Encode()
	req.Raw().Header.Set("Accept", "application/json")
	return req, runtime.MarshalAsJSON(req, parameters)
}

// convertGraphRunbookContentHandleResponse handles the ConvertGraphRunbookContent response.
func (client *AutomationClient) convertGraphRunbookContentHandleResponse(resp *http.Response) (AutomationClientConvertGraphRunbookContentResponse, error) {
	result := AutomationClientConvertGraphRunbookContentResponse{RawResponse: resp}
	if err := runtime.UnmarshalAsJSON(resp, &result.GraphicalRunbookContent); err != nil {
		return AutomationClientConvertGraphRunbookContentResponse{}, runtime.NewResponseError(err, resp)
	}
	return result, nil
}

// convertGraphRunbookContentHandleError handles the ConvertGraphRunbookContent error response.
func (client *AutomationClient) convertGraphRunbookContentHandleError(resp *http.Response) error {
	body, err := runtime.Payload(resp)
	if err != nil {
		return runtime.NewResponseError(err, resp)
	}
	errType := ErrorResponse{raw: string(body)}
	if err := runtime.UnmarshalAsJSON(resp, &errType); err != nil {
		return runtime.NewResponseError(fmt.Errorf("%s\n%s", string(body), err), resp)
	}
	return runtime.NewResponseError(&errType, resp)
}
