{
  "Entries": [
    {
      "RequestUri": "https://seankane.vault.azure.net/secrets/secret2308941325?api-version=7.2",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        ":authority": "localhost:5001",
        ":method": "PUT",
        ":path": "/secrets/secret2308941325?api-version=7.2",
        ":scheme": "https",
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "x-ms-date": "Fri, 17 Sep 2021 19:18:43 GMT"
      },
      "RequestBody": {
        "value": "value2308941325"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "value": "value2308941325",
        "id": "https://seankane.vault.azure.net/secrets/secret2308941325/e72d8564e5d942b79863c213172cb08d",
        "attributes": {
          "enabled": true,
          "created": 1631906323,
          "updated": 1631906323,
          "recoveryLevel": "CustomizedRecoverable\u002BPurgeable",
          "recoverableDays": 7
        }
      }
    },
[...]
    {
      "RequestUri": "https://seankane.vault.azure.net/secrets/secret2308941325/versions?api-version=7.2",
      "RequestMethod": "GET",
      "RequestHeaders": {
        ":authority": "localhost:5001",
        ":method": "GET",
        ":path": "/secrets/secret2308941325/versions?api-version=7.2",
        ":scheme": "https",
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 17 Sep 2021 19:18:44 GMT"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "Response[...]
    {
      "RequestUri": "https://seankane.vault.azure.net/secrets/secret2308941325?api-version=7.2",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        ":authority": "localhost:5001",
        ":method": "DELETE",
        ":path": "/secrets/secret2308941325?api-version=7.2",
        ":scheme": "https",
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 17 Sep 2021 19:18:44 GMT"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "recoveryId": "https://seankane.vault.azure.net/deletedsecrets/secret2308941325",
        "deletedDate": 1631906324,
        "scheduledPurgeDate": 1632511124,
        "id": "https://seankane.vault.azure.net/secrets/secret2308941325/c51b129dbfea496ea71b1277e7d18d9e",
        "attributes": {
          "enabled": true,
          "created": 1631906323,
          "updated": 1631906323,
          "recoveryLevel": "CustomizedRecoverable\u002BPurgeable",
          "recoverableDays": 7
        }
      }
    },
    {
      "RequestUri": "https://seankane.vault.azure.net/deletedsecrets/secret2308941325?api-version=7.2",
      "RequestMethod": "GET",
      "RequestHeaders": {
        ":authority": "localhost:5001",
        ":method": "GET",
        ":path": "/deletedsecrets/secret2308941325?api-version=7.2",
        ":scheme": "https",
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 17 Sep 2021 19:18:44 GMT"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "error": {
          "code": "SecretNotFound",
          "message": "Deleted Secret not found: secret2308941325"
        }
      }
    },
[...]
    {
      "RequestUri": "https://seankane.vault.azure.net/deletedsecrets/secret2308941325?api-version=7.2",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        ":authority": "localhost:5001",
        ":method": "DELETE",
        ":path": "/deletedsecrets/secret2308941325?api-version=7.2",
        ":scheme": "https",
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 17 Sep 2021 19:18:45 GMT"
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
      },
      "ResponseBody": null
    }
  ],
  "Variables": {}
}
