{
  "Entries": [
    {
      "RequestUri": "https://fakekvurl.vault.azure.netsecrets/secret14039052661?api-version=7.2",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        ":authority": "localhost:5001",
        ":method": "PUT",
        ":path": "/secrets/secret14039052661?api-version=7.2",
        ":scheme": "https",
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "x-ms-date": "Tue, 21 Sep 2021 20:51:55 GMT"
      },
      "RequestBody": {
        "attributes": {},
        "value": "value14039052661"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "value": "value14039052661",
        "id": "https://seankane.vault.azure.net/secrets/secret14039052661/1f4201aecc9048c488212f4838879a19",
        "attributes": {
          "enabled": true,
          "created": 1632257516,
          "updated": 1632257516,
          "recoveryLevel": "CustomizedRecoverable\u002BPurgeable",
          "recoverableDays": 7
        }
      }
    },
    {
      "RequestUri": "https://fakekvurl.vault.azure.netsecrets/secret14039052661?api-version=7.2",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        ":authority": "localhost:5001",
        ":method": "DELETE",
        ":path": "/secrets/secret14039052661?api-version=7.2",
        ":scheme": "https",
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 21 Sep 2021 20:51:56 GMT"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "recoveryId": "https://seankane.vault.azure.net/deletedsecrets/secret14039052661",
        "deletedDate": 1632257516,
        "scheduledPurgeDate": 1632862316,
        "id": "https://seankane.vault.azure.net/secrets/secret14039052661/1f4201aecc9048c488212f4838879a19",
        "attributes": {
          "enabled": true,
          "created": 1632257516,
          "updated": 1632257516,
          "recoveryLevel": "CustomizedRecoverable\u002BPurgeable",
          "recoverableDays": 7
        }
      }
    },
    {
      "RequestUri": "https://fakekvurl.vault.azure.netdeletedsecrets/secret14039052661?api-version=7.2",
      "RequestMethod": "GET",
      "RequestHeaders": {
        ":authority": "localhost:5001",
        ":method": "GET",
        ":path": "/deletedsecrets/secret14039052661?api-version=7.2",
        ":scheme": "https",
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 21 Sep 2021 20:51:56 GMT"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "error": {
          "code": "SecretNotFound",
          "message": "Deleted Secret not found: secret14039052661"
        }
      }
    },
[...]
    {
      "RequestUri": "https://fakekvurl.vault.azure.netdeletedsecrets?api-version=7.2",
      "RequestMethod": "GET",
      "RequestHeaders": {
        ":authority": "localhost:5001",
        ":method": "GET",
        ":path": "/deletedsecrets?api-version=7.2",
        ":scheme": "https",
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 21 Sep 2021 20:51:57 GMT"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "value": [],
        "nextLink": null
      }
    }
  ],
  "Variables": {}
}
