{
  "Entries": [
    {
      "RequestUri": "https://fakekvurl.vault.azure.netsecrets/secret2319658013?api-version=7.2",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        ":authority": "localhost:5001",
        ":method": "PUT",
        ":path": "/secrets/secret2319658013?api-version=7.2",
        ":scheme": "https",
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "x-ms-date": "Tue, 21 Sep 2021 20:51:58 GMT"
      },
      "RequestBody": {
        "attributes": {},
        "value": "value2319658013"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "value": "value2319658013",
        "id": "https://seankane.vault.azure.net/secrets/secret2319658013/c7f7ae5406ec4e1e94e3b5a37ec87141",
        "attributes": {
          "enabled": true,
          "created": 1632257518,
          "updated": 1632257518,
          "recoveryLevel": "CustomizedRecoverable\u002BPurgeable",
          "recoverableDays": 7
        }
      }
    },
    {
      "RequestUri": "https://fakekvurl.vault.azure.netsecrets/secret2319658013/?api-version=7.2",
      "RequestMethod": "GET",
      "RequestHeaders": {
        ":authority": "localhost:5001",
        ":method": "GET",
        ":path": "/secrets/secret2319658013/?api-version=7.2",
        ":scheme": "https",
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 21 Sep 2021 20:51:58 GMT"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "value": "value2319658013",
        "id": "https://seankane.vault.azure.net/secrets/secret2319658013/c7f7ae5406ec4e1e94e3b5a37ec87141",
        "attributes": {
          "enabled": true,
          "created": 1632257518,
          "updated": 1632257518,
          "recoveryLevel": "CustomizedRecoverable\u002BPurgeable",
          "recoverableDays": 7
        }
      }
    },
    {
      "RequestUri": "https://fakekvurl.vault.azure.netsecrets/secret2319658013/?api-version=7.2",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        ":authority": "localhost:5001",
        ":method": "PATCH",
        ":path": "/secrets/secret2319658013/?api-version=7.2",
        ":scheme": "https",
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "x-ms-date": "Tue, 21 Sep 2021 20:51:58 GMT"
      },
      "RequestBody": {
        "contentType": "password",
        "tags": {
          "Tag1": "TagVal1"
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "contentType": "password",
        "id": "https://seankane.vault.azure.net/secrets/secret2319658013/c7f7ae5406ec4e1e94e3b5a37ec87141",
        "attributes": {
          "enabled": true,
          "created": 1632257518,
          "updated": 1632257519,
          "recoveryLevel": "CustomizedRecoverable\u002BPurgeable",
          "recoverableDays": 7
        },
        "tags": {
          "Tag1": "TagVal1"
        }
      }
    },
[...]
    {
      "RequestUri": "https://fakekvurl.vault.azure.netsecrets/secret2319658013?api-version=7.2",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        ":authority": "localhost:5001",
        ":method": "DELETE",
        ":path": "/secrets/secret2319658013?api-version=7.2",
        ":scheme": "https",
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 21 Sep 2021 20:51:58 GMT"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "recoveryId": "https://seankane.vault.azure.net/deletedsecrets/secret2319658013",
        "deletedDate": 1632257519,
        "scheduledPurgeDate": 1632862319,
        "contentType": "password",
        "id": "https://seankane.vault.azure.net/secrets/secret2319658013/c7f7ae5406ec4e1e94e3b5a37ec87141",
        "attributes": {
          "enabled": true,
          "created": 1632257518,
          "updated": 1632257519,
          "recoveryLevel": "CustomizedRecoverable\u002BPurgeable",
          "recoverableDays": 7
        },
        "tags": {
          "Tag1": "TagVal1"
        }
      }
    },
    {
      "RequestUri": "https://fakekvurl.vault.azure.netdeletedsecrets/secret2319658013?api-version=7.2",
      "RequestMethod": "GET",
      "RequestHeaders": {
        ":authority": "localhost:5001",
        ":method": "GET",
        ":path": "/deletedsecrets/secret2319658013?api-version=7.2",
        ":scheme": "https",
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 21 Sep 2021 20:51:58 GMT"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "error": {
          "code": "SecretNotFound",
          "message": "Deleted Secret not found: secret2319658013"
        }
      }
    },
[...]
    {
      "RequestUri": "https://fakekvurl.vault.azure.netdeletedsecrets/secret2319658013?api-version=7.2",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        ":authority": "localhost:5001",
        ":method": "DELETE",
        ":path": "/deletedsecrets/secret2319658013?api-version=7.2",
        ":scheme": "https",
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 21 Sep 2021 20:51:59 GMT"
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
      },
      "ResponseBody": null
    }
  ],
  "Variables": {}
}
