{
  "Entries": [
    {
      "RequestUri": "https://seankane.vault.azure.net/secrets/secret1641844154?api-version=7.2",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        ":authority": "localhost:5001",
        ":method": "PUT",
        ":path": "/secrets/secret1641844154?api-version=7.2",
        ":scheme": "https",
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "x-ms-date": "Fri, 17 Sep 2021 15:08:05 GMT"
      },
      "RequestBody": {
        "value": "value1641844154"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "value": "value1641844154",
        "id": "https://seankane.vault.azure.net/secrets/secret1641844154/d9378bec78ad41198a835a52697635f8",
        "attributes": {
          "enabled": true,
          "created": 1631891284,
          "updated": 1631891284,
          "recoveryLevel": "CustomizedRecoverable\u002BPurgeable",
          "recoverableDays": 7
        }
      }
    },
    {
      "RequestUri": "https://seankane.vault.azure.net/secrets/secret1641844154?api-version=7.2",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        ":authority": "localhost:5001",
        ":method": "DELETE",
        ":path": "/secrets/secret1641844154?api-version=7.2",
        ":scheme": "https",
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 17 Sep 2021 15:08:05 GMT"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "recoveryId": "https://seankane.vault.azure.net/deletedsecrets/secret1641844154",
        "deletedDate": 1631891285,
        "scheduledPurgeDate": 1632496085,
        "id": "https://seankane.vault.azure.net/secrets/secret1641844154/d9378bec78ad41198a835a52697635f8",
        "attributes": {
          "enabled": true,
          "created": 1631891284,
          "updated": 1631891284,
          "recoveryLevel": "CustomizedRecoverable\u002BPurgeable",
          "recoverableDays": 7
        }
      }
    },
    {
      "RequestUri": "https://seankane.vault.azure.net/deletedsecrets/secret1641844154?api-version=7.2",
      "RequestMethod": "GET",
      "RequestHeaders": {
        ":authority": "localhost:5001",
        ":method": "GET",
        ":path": "/deletedsecrets/secret1641844154?api-version=7.2",
        ":scheme": "https",
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 17 Sep 2021 15:08:05 GMT"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "error": {
          "code": "SecretNotFound",
          "message": "Deleted Secret not found: secret1641844154"
        }
      }
    },
[...]
    {
      "RequestUri": "https://seankane.vault.azure.net/deletedsecrets/secret1641844154?api-version=7.2",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        ":authority": "localhost:5001",
        ":method": "DELETE",
        ":path": "/deletedsecrets/secret1641844154?api-version=7.2",
        ":scheme": "https",
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 17 Sep 2021 15:08:06 GMT"
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
      },
      "ResponseBody": null
    }
  ],
  "Variables": {}
}
