{
  "Entries": [
    {
      "RequestUri": "https://seankane.vault.azure.net/secrets/secret13245351623?api-version=7.2",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        ":authority": "localhost:5001",
        ":method": "PUT",
        ":path": "/secrets/secret13245351623?api-version=7.2",
        ":scheme": "https",
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "x-ms-date": "Fri, 17 Sep 2021 15:08:01 GMT"
      },
      "RequestBody": {
        "value": "value13245351623"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "value": "value13245351623",
        "id": "https://seankane.vault.azure.net/secrets/secret13245351623/d4c5537ca3524adea5bf5751c77c1b4b",
        "attributes": {
          "enabled": true,
          "created": 1631891281,
          "updated": 1631891281,
          "recoveryLevel": "CustomizedRecoverable\u002BPurgeable",
          "recoverableDays": 7
        }
      }
    },
[...]
    {
      "RequestUri": "https://seankane.vault.azure.net/secrets/secret13245351623?api-version=7.2",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        ":authority": "localhost:5001",
        ":method": "DELETE",
        ":path": "/secrets/secret13245351623?api-version=7.2",
        ":scheme": "https",
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 17 Sep 2021 15:08:02 GMT"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "recoveryId": "https://seankane.vault.azure.net/deletedsecrets/secret13245351623",
        "deletedDate": 1631891281,
        "scheduledPurgeDate": 1632496081,
        "id": "https://seankane.vault.azure.net/secrets/secret13245351623/d4c5537ca3524adea5bf5751c77c1b4b",
        "attributes": {
          "enabled": true,
          "created": 1631891281,
          "updated": 1631891281,
          "recoveryLevel": "CustomizedRecoverable\u002BPurgeable",
          "recoverableDays": 7
        }
      }
    },
    {
      "RequestUri": "https://seankane.vault.azure.net/deletedsecrets/secret13245351623?api-version=7.2",
      "RequestMethod": "GET",
      "RequestHeaders": {
        ":authority": "localhost:5001",
        ":method": "GET",
        ":path": "/deletedsecrets/secret13245351623?api-version=7.2",
        ":scheme": "https",
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 17 Sep 2021 15:08:02 GMT"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "error": {
          "code": "SecretNotFound",
          "message": "Deleted Secret not found: secret13245351623"
        }
      }
    },
[...]
    {
      "RequestUri": "https://seankane.vault.azure.net/deletedsecrets?api-version=7.2",
      "RequestMethod": "GET",
      "RequestHeaders": {
        ":authority": "localhost:5001",
        ":method": "GET",
        ":path": "/deletedsecrets?api-version=7.2",
        ":scheme": "https",
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 17 Sep 2021 15:08:04 GMT"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "a[...]
[...]
    {
      "RequestUri": "https://seankane.vault.azure.net/deletedsecrets/secret23245351623?api-version=7.2",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        ":authority": "localhost:5001",
        ":method": "DELETE",
        ":path": "/deletedsecrets/secret23245351623?api-version=7.2",
        ":scheme": "https",
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 17 Sep 2021 15:08:04 GMT"
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
      },
      "ResponseBody": null
    }
  ],
  "Variables": {}
}
