{
  "Entries": [
    {
      "RequestUri": "https://seankane.vault.azure.net/secrets/secret1973943927?api-version=7.2",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        ":authority": "localhost:5001",
        ":method": "PUT",
        ":path": "/secrets/secret1973943927?api-version=7.2",
        ":scheme": "https",
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "x-ms-date": "Fri, 17 Sep 2021 20:57:26 GMT"
      },
      "RequestBody": {
        "value": "value1973943927"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "value": "value1973943927",
        "id": "https://seankane.vault.azure.net/secrets/secret1973943927/68badcf05e2c4705a1f1deb2a0dee144",
        "attributes": {
          "enabled": true,
          "created": 1631912246,
          "updated": 1631912246,
          "recoveryLevel": "CustomizedRecoverable\u002BPurgeable",
          "recoverableDays": 7
        }
      }
    },
    {
      "RequestUri": "https://seankane.vault.azure.net/secrets/secret1973943927/backup?api-version=7.2",
      "RequestMethod": "POST",
      "RequestHeaders": {
        ":authority": "localhost:5001",
        ":method": "POST",
        ":path": "/secrets/secret1973943927/backup?api-version=7.2",
        ":scheme": "https",
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 17 Sep 2021 20:57:26 GMT"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHe[...]
    {
      "RequestUri": "https://seankane.vault.azure.net/secrets/secret1973943927?api-version=7.2",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        ":authority": "localhost:5001",
        ":method": "DELETE",
        ":path": "/secrets/secret1973943927?api-version=7.2",
        ":scheme": "https",
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 17 Sep 2021 20:57:26 GMT"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "recoveryId": "https://seankane.vault.azure.net/deletedsecrets/secret1973943927",
        "deletedDate": 1631912246,
        "scheduledPurgeDate": 1632517046,
        "id": "https://seankane.vault.azure.net/secrets/secret1973943927/68badcf05e2c4705a1f1deb2a0dee144",
        "attributes": {
          "enabled": true,
          "created": 1631912246,
          "updated": 1631912246,
          "recoveryLevel": "CustomizedRecoverable\u002BPurgeable",
          "recoverableDays": 7
        }
      }
    },
    {
      "RequestUri": "https://seankane.vault.azure.net/deletedsecrets/secret1973943927?api-version=7.2",
      "RequestMethod": "GET",
      "RequestHeaders": {
        ":authority": "localhost:5001",
        ":method": "GET",
        ":path": "/deletedsecrets/secret1973943927?api-version=7.2",
        ":scheme": "https",
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 17 Sep 2021 20:57:27 GMT"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "error": {
          "code": "SecretNotFound",
          "message": "Deleted Secret not found: secret1973943927"
        }
      }
    },
[...]
    {
      "RequestUri": "https://seankane.vault.azure.net/secrets/restore?api-version=7.2",
      "RequestMethod": "POST",
      "RequestHeaders": {
        ":authority": "localhost:5001",
        ":method": "POST",
        ":path": "/secrets/restore?api-version=7.2",
        ":scheme": "https",
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "x-ms-date": "Fri, 17 Sep 2021 20:57:35 GMT"
      },
      "RequestBody": {
        "value": "KUF6dXJlS2V5VmF1[...]
