# Instructions for CODEOWNERS file format and automatic build failure notifications:
# https://github.com/Azure/azure-sdk/blob/master/docs/policies/opensource.md#codeowners

####################
# Client Libraries
####################

# Catch all for non-code project files and unowned files | folders
/**                                                                @rickwinter @jhendrixMSFT
/sdk/                                                              @rickwinter @chlowell @richardpark-msft

# Samples
/sdk/samples/                                                      @rickwinter @chlowell @jhendrixMSFT @richardpark-msft

# ServiceLabel: %AAD
# ServiceOwners:                                                   @adamedx

# ServiceLabel: %Advisor
# ServiceOwners:                                                   @mojayara @Prasanna-Padmanabhan

# ServiceLabel: %AKS
# ServiceOwners:                                                   @Azure/aks-pm

# ServiceLabel: %Alerts Management
# ServiceOwners:                                                   @liadtal @yairgil

# ServiceLabel: %Analysis Services
# ServiceOwners:                                                   @athipp @taiwu @minghan

# ServiceLabel: %API Management
# ServiceOwners:                                                   @miaojiang

# PRLabel: %App Configuration
/sdk/data/azappconfig/                                             @RichardChen820 @linglingye001 @jhendrixMSFT

# ServiceLabel: %App Configuration
# AzureSdkOwners:                                                  @jhendrixMSFT
# ServiceOwners:                                                   @jhendrixMSFT @rickwinter

# ServiceLabel: %App Configuration
# ServiceOwners:                                                   @shenmuxiaosen @avanigupta

# ServiceLabel: %App Services
# ServiceOwners:                                                   @antcp @AzureAppServiceCLI

# ServiceLabel: %ARO
# ServiceOwners:                                                   @mjudeikis @jim-minter @julienstroheker @amanohar

# ServiceLabel: %Attestation
# ServiceOwners:                                                   @anilba06

# ServiceLabel: %Authorization
# ServiceOwners:                                                   @darshanhs90 @AshishGargMicrosoft

# ServiceLabel: %Automation
# ServiceOwners:                                                   @zjalexander

# ServiceLabel: %AVS
# ServiceOwners:                                                   @divka78 @amitchat @aishu

# ServiceLabel: %Azure Arc enabled servers
# ServiceOwners:                                                   @rpsqrd @edyoung

# ServiceLabel: %Azure Data Explorer
# ServiceOwners:                                                   @ilayrn @orhasban @zoharHenMicrosoft

# ServiceLabel: %Azure Stack
# ServiceOwners:                                                   @sarathys @bganapa @rakku-ms

# PRLabel: %Azure.Core
/sdk/azcore/                                                       @rickwinter @chlowell @jhendrixMSFT @richardpark-msft

# ServiceLabel: %Azure.Core
# AzureSdkOwners:                                                  @jhendrixMSFT
# ServiceOwners:                                                   @rickwinter @chlowell @jhendrixMSFT @richardpark-msft

# PRLabel: %Azure.Identity
/sdk/azidentity/                                                   @chlowell @jhendrixMSFT @rickwinter @Azure/azure-sdk-write-identity

# ServiceLabel: %Azure.Identity
# AzureSdkOwners:                                                  @chlowell
# ServiceOwners:                                                   @chlowell @jhendrixMSFT @rickwinter @Azure/azure-sdk-write-identity

# ServiceLabel: %Azure.Spring - Cosmos
# ServiceOwners:                                                   @kushagraThapar @Pilchie

# ServiceLabel: %Batch
# ServiceOwners:                                                   @mksuni @bgklein @mscurrell @dpwatrous @gingi @paterasMSFT @cRui861

# ServiceLabel: %BatchAI
# ServiceOwners:                                                   @matthchr

# ServiceLabel: %Billing
# ServiceOwners:                                                   @cabbpt

# ServiceLabel: %Blueprint
# ServiceOwners:                                                   @alex-frankel @filizt

# ServiceLabel: %Bot Service
# ServiceOwners:                                                   @sgellock

# ServiceLabel: %Cloud Shell
# ServiceOwners:                                                   @maertendMSFT

# ServiceLabel: %Cognitive - Anomaly Detector
# ServiceOwners:                                                   @yingqunpku @bowgong

# ServiceLabel: %Cognitive - Bing
# ServiceOwners:                                                   @jaggerbodas-ms @arwong

# ServiceLabel: %Cognitive - Computer Vision
# ServiceOwners:                                                   @ryogok @TFR258 @tburns10

# ServiceLabel: %Cognitive - Content Moderator
# ServiceOwners:                                                   @swiftarrow11

# ServiceLabel: %Cognitive - Custom Vision
# ServiceOwners:                                                   @areddish @tburns10

# ServiceLabel: %Cognitive - Face
# ServiceOwners:                                                   @JinyuID @dipidoo @SteveMSFT

# ServiceLabel: %Cognitive - Form Recognizer
# ServiceOwners:                                                   @ctstone @anrothMSFT

# ServiceLabel: %Cognitive - Immersive Reader
# ServiceOwners:                                                   @metanMSFT

# ServiceLabel: %Cognitive - Ink Recognizer
# ServiceOwners:                                                   @olduroja

# ServiceLabel: %Cognitive - LUIS
# ServiceOwners:                                                   @cahann @kayousef

# ServiceLabel: %Cognitive - Mgmt
# ServiceOwners:                                                   @yangyuan

# ServiceLabel: %Cognitive - Personalizer
# ServiceOwners:                                                   @dwaijam

# ServiceLabel: %Cognitive - QnA Maker
# ServiceOwners:                                                   @bingisbestest @nerajput1607

# ServiceLabel: %Cognitive - Speech
# ServiceOwners:                                                   @oscholz

# ServiceLabel: %Cognitive - Text Analytics
# ServiceOwners:                                                   @assafi

# ServiceLabel: %Cognitive - Translator
# ServiceOwners:                                                   @swmachan

# ServiceLabel: %Commerce
# ServiceOwners:                                                   @ms-premp @qiaozha

# ServiceLabel: %Communication
# ServiceOwners:                                                   @acsdevx-msft

# ServiceLabel: %Compute
# ServiceOwners:                                                   @Drewm3 @avirishuv @vaibhav-agar @amjads1

# ServiceLabel: %Compute - Extensions
# ServiceOwners:                                                   @Drewm3 @amjads1

# ServiceLabel: %Compute - Images
# ServiceOwners:                                                   @Drewm3 @vaibhav-agar

# ServiceLabel: %Compute - Managed Disks
# ServiceOwners:                                                   @Drewm3 @vaibhav-agar

# ServiceLabel: %Compute - RDFE
# ServiceOwners:                                                   @Drewm3 @avirishuv

# ServiceLabel: %Compute - VM
# ServiceOwners:                                                   @Drewm3 @avirishuv

# ServiceLabel: %Compute - VMSS
# ServiceOwners:                                                   @Drewm3 @avirishuv

# ServiceLabel: %Connected Kubernetes
# ServiceOwners:                                                   @akashkeshari

# ServiceLabel: %Consumption - Billing
# ServiceOwners:                                                   @ccmbpxpcrew

# ServiceLabel: %Consumption - Budget
# ServiceOwners:                                                   @ccmaxpcrew

# ServiceLabel: %Consumption - Query
# ServiceOwners:                                                   @ccmixpdevs

# ServiceLabel: %Consumption - RIandShowBack
# ServiceOwners:                                                   @ccmshowbackdevs

# ServiceLabel: %Consumption - UsageDetailsAndExport
# ServiceOwners:                                                   @TiagoCrewGitHubIssues

# ServiceLabel: %Container Instances
# ServiceOwners:                                                   @macolso

# ServiceLabel: %Container Registry
# ServiceOwners:                                                   @toddysm @northtyphoon

# ServiceLabel: %Container Service
# ServiceOwners:                                                   @qike-ms @jwilder @thomas1206 @seanmck

# PRLabel: %Cosmos
/sdk/data/azcosmos/                                                @Azure/azure-cosmos-go-sdk

# ServiceLabel: %Cosmos
# AzureSdkOwners:                                                  @jhendrixMSFT
# ServiceOwners:                                                   @kirankumarkolli @simorenoh @kushagraThapar @Pilchie @analogrelay

# ServiceLabel: %Cosmos
# ServiceOwners:                                                   @Wmengmsft @MehaKaushik @Pilchie

# ServiceLabel: %Cost Management - Billing
# ServiceOwners:                                                   @ccmbpxpcrew

# ServiceLabel: %Cost Management - Budget
# ServiceOwners:                                                   @ccmaxpcrew

# ServiceLabel: %Cost Management - Query
# ServiceOwners:                                                   @ccmixpdevs

# ServiceLabel: %Cost Management - RIandShowBack
# ServiceOwners:                                                   @ccmshowbackdevs

# ServiceLabel: %Cost Management - UsageDetailsAndExport
# ServiceOwners:                                                   @TiagoCrewGitHubIssues

# ServiceLabel: %Custom Providers
# ServiceOwners:                                                   @manoharp @MSEvanhi

# ServiceLabel: %Customer Insights
# ServiceOwners:                                                   @shefymk

# ServiceLabel: %CycleCloud
# ServiceOwners:                                                   @adriankjohnson

# ServiceLabel: %Data Bricks
# ServiceOwners:                                                   @arindamc

# ServiceLabel: %Data Catalog
# ServiceOwners:                                                   @ingave

# ServiceLabel: %Data Factory
# ServiceOwners:                                                   @Jingshu923 @zhangyd2015 @Frey-Wang

# ServiceLabel: %Data Lake
# ServiceOwners:                                                   @sumantmehtams

# ServiceLabel: %Data Lake Analytics
# ServiceOwners:                                                   @idear1203

# ServiceLabel: %Data Lake Storage Gen1
# ServiceOwners:                                                   @sumantmehtams

# ServiceLabel: %Data Lake Storage Gen2
# ServiceOwners:                                                   @sumantmehtams

# ServiceLabel: %Data Lake Store
# ServiceOwners:                                                   @sumantmehtams

# ServiceLabel: %Data Migration
# ServiceOwners:                                                   @radjaram @kavitham10

# ServiceLabel: %Data Share
# ServiceOwners:                                                   @raedJarrar @jifems

# ServiceLabel: %DataBox
# ServiceOwners:                                                   @tmvishwajit @matdickson @manuaery @madhurinms

# ServiceLabel: %DataBox Edge
# ServiceOwners:                                                   @a-t-mason @ganzee @manuaery

# ServiceLabel: %Dev Spaces
# ServiceOwners:                                                   @yuzorMa @johnsta @greenie-msft

# ServiceLabel: %Device Provisioning Service
# ServiceOwners:                                                   @nberdy

# ServiceLabel: %DevOps
# ServiceOwners:                                                   @narula0781 @ashishonce @romil07

# ServiceLabel: %Devtestlab
# ServiceOwners:                                                   @Tanmayeekamath

# ServiceLabel: %Digital Twins
# ServiceOwners:                                                   @sourabhguha @inesk-vt

# PRLabel: %EngSys
/sdk/template/                                                     @benbp @weshaggard

# ServiceLabel: %EngSys
# AzureSdkOwners:                                                  @benbp
# ServiceOwners:                                                   @benbp @weshaggard

# PRLabel: %Event Grid
/sdk/messaging/eventgrid/                                          @shankarsama @rajeshka

# ServiceLabel: %Event Grid
# AzureSdkOwners:                                                  @shankarsama @rajeshka
# ServiceOwners:                                                   @shankarsama @rajeshka

# PRLabel: %Event Hubs
/sdk/messaging/azeventhubs/                                        @axisc @sjkwak @hmlam

# ServiceLabel: %Event Hubs
# ServiceOwners:                                                   @axisc @sjkwak @hmlam

# ServiceLabel: %Functions
# ServiceOwners:                                                   @ahmedelnably @fabiocav

# ServiceLabel: %Graph.Microsoft
# ServiceOwners:                                                   @dkershaw10 @baywet

# ServiceLabel: %Guest Configuration
# ServiceOwners:                                                   @mgreenegit @vivlingaiah

# ServiceLabel: %HDInsight
# ServiceOwners:                                                   @aim-for-better @idear1203 @deshriva

# ServiceLabel: %HPC Cache
# ServiceOwners:                                                   @romahamu @omzevall

# ServiceLabel: %Import Export
# ServiceOwners:                                                   @madhurinms

# ServiceLabel: %Insights
# ServiceOwners:                                                   @AzmonLogA

# PRLabel: %Internal
/sdk/internal/                                                     @chlowell @jhendrixMSFT @richardpark-msft @rickwinter

# ServiceLabel: %Internal
# AzureSdkOwners:                                                  @jhendrixMSFT
# ServiceOwners:                                                   @chlowell @jhendrixMSFT @richardpark-msft @rickwinter

# ServiceLabel: %IoT - CLI
# ServiceOwners:                                                   @Azure/azure-iot-cli-triage

# PRLabel: %KeyVault
/sdk/security/keyvault/                                            @Azure/azure-sdk-write-keyvault

# ServiceLabel: %KeyVault
# ServiceOwners:                                                   @chen-karen @Azure/azure-sdk-write-keyvault

# ServiceLabel: %Kubernetes Configuration
# ServiceOwners:                                                   @NarayanThiru

# ServiceLabel: %Lab Services
# ServiceOwners:                                                   @Tanmayeekamath

# ServiceLabel: %Logic App
# ServiceOwners:                                                   @Azure/azure-logicapps-team

# ServiceLabel: %LOUIS
# ServiceOwners:                                                   @minamnmik

# ServiceLabel: %Machine Learning
# ServiceOwners:                                                   @azureml-github

# ServiceLabel: %Machine Learning Compute
# ServiceOwners:                                                   @azureml-github

# ServiceLabel: %Machine Learning Experimentation
# ServiceOwners:                                                   @aashishb

# ServiceLabel: %Managed Identity
# ServiceOwners:                                                   @varunkch

# ServiceLabel: %ManagedServices
# ServiceOwners:                                                   @Lighthouse-Azure

# ServiceLabel: %MariaDB
# ServiceOwners:                                                   @ambhatna @savjani

# ServiceLabel: %Marketplace Ordering
# ServiceOwners:                                                   @prbansa

# ServiceLabel: %Media Services
# ServiceOwners:                                                   @akucer

# ServiceLabel: %Migrate
# ServiceOwners:                                                   @shijojoy

# ServiceLabel: %Mobile Engagement
# ServiceOwners:                                                   @kpiteira

# PRLabel: %Monitor
/sdk/monitor/                                                      @gracewilcox @chlowell @jhendrixMSFT @Azure/azure-sdk-write-monitor-data-plane @Azure/azure-sdk-write-monitor-query-logs

# ServiceLabel: %Monitor
# AzureSdkOwners:                                                  @gracewilcox
# ServiceOwners:                                                   @gracewilcox @chlowell @jhendrixMSFT @Azure/azure-sdk-write-monitor-data-plane

# PRLabel: %Monitor
/sdk/monitor/query/azmetrics/                                      @Azure/azure-sdk-write-monitor-query-metrics

# ServiceLabel: %Monitor
# ServiceOwners:                                                   @SameergMS @dadunl @AzMonEssential @AzmonAlerts @AzmonActionG @AzmonLogA

# ServiceLabel: %Monitor - ApplicationInsights
# ServiceOwners:                                                   @azmonapplicationinsights

# ServiceLabel: %Monitor - ApplicationInsights
# ServiceOwners:                                                   @azmonapplicationinsights

# ServiceLabel: %Monitor - Exporter
# ServiceOwners:                                                   @cijothomas @reyang @rajkumar-rangaraj @TimothyMothra

# ServiceLabel: %MySQL
# ServiceOwners:                                                   @ambhatna @savjani

# ServiceLabel: %Network
# ServiceOwners:                                                   @aznetsuppgithub

# ServiceLabel: %Network - Application Gateway
# ServiceOwners:                                                   @appgwsuppgithub

# ServiceLabel: %Network - Bastion
# ServiceOwners:                                                   @bastionsuppgithub

# ServiceLabel: %Network - CDN
# ServiceOwners:                                                   @cdnfdsuppgithub

# ServiceLabel: %Network - DDOS Protection
# ServiceOwners:                                                   @ddossuppgithub

# ServiceLabel: %Network - DNS
# ServiceOwners:                                                   @dnssuppgithub

# ServiceLabel: %Network - ExpressRoute
# ServiceOwners:                                                   @exrsuppgithub

# ServiceLabel: %Network - Firewall
# ServiceOwners:                                                   @fwsuppgithub

# ServiceLabel: %Network - Front Door
# ServiceOwners:                                                   @cdnfdsuppgithub

# ServiceLabel: %Network - Load Balancer
# ServiceOwners:                                                   @slbsupportgithub

# ServiceLabel: %Network - Network Virtual Appliance
# ServiceOwners:                                                   @nvasuppgithub

# ServiceLabel: %Network - Network Watcher
# ServiceOwners:                                                   @netwatchsuppgithub

# ServiceLabel: %Network - Private Link
# ServiceOwners:                                                   @privlinksuppgithub

# ServiceLabel: %Network - Traffic Manager
# ServiceOwners:                                                   @tmsuppgithub

# ServiceLabel: %Network - Virtual Network
# ServiceOwners:                                                   @vnetsuppgithub

# ServiceLabel: %Network - Virtual Network NAT
# ServiceOwners:                                                   @vnetsuppgithub

# ServiceLabel: %Network - Virtual WAN
# ServiceOwners:                                                   @vwansuppgithub

# ServiceLabel: %Network - VPN Gateway
# ServiceOwners:                                                   @vpngwsuppgithub

# ServiceLabel: %Notification Hub
# ServiceOwners:                                                   @tjsomasundaram

# PRLabel: %OpenAI
/sdk/ai                                                            @richardpark-msft @jhendrixMSFT @chlowell @achauhan-scc @PratibhaShrivastav18 @kingernupur @glecaros

# ServiceLabel: %OpenAI
# AzureSdkOwners:                                                  @richardpark-msft
# ServiceOwners:                                                   @richardpark-msft @jhendrixMSFT @chlowell @achauhan-scc @PratibhaShrivastav18 @kingernupur @glecaros

# PRLabel: %OpenTelemetry
/sdk/tracing/azotel                                                @jhendrixMSFT @rickwinter

# ServiceLabel: %OpenTelemetry
# AzureSdkOwners:                                                  @jhendrixMSFT
# ServiceOwners:                                                   @jhendrixMSFT @rickwinter

# ServiceLabel: %Operator Nexus - Network Cloud
# ServiceOwners:                                                   @Azure/azure-sdk-write-networkcloud

# ServiceLabel: %Policy
# ServiceOwners:                                                   @aperezcloud @kenieva

# ServiceLabel: %Policy Insights
# ServiceOwners:                                                   @kenieva

# ServiceLabel: %PostgreSQL
# ServiceOwners:                                                   @sunilagarwal @lfittl-msft @sr-msft @niklarin

# ServiceLabel: %Recovery Services Backup
# ServiceOwners:                                                   @pvrk @adityabalaji-msft

# ServiceLabel: %Recovery Services Site-Recovery
# ServiceOwners:                                                   @Sharmistha-Rai

# ServiceLabel: %Redis Cache
# ServiceOwners:                                                   @yegu-ms @ArthurMa1978 @m-nash

# ServiceLabel: %Reservations
# ServiceOwners:                                                   @Rkapso

# ServiceLabel: %Resource Authorization
# ServiceOwners:                                                   @darshanhs90 @AshishGargMicrosoft

# ServiceLabel: %Resource Graph
# ServiceOwners:                                                   @chiragg4u

# ServiceLabel: %Resource Health
# ServiceOwners:                                                   @stephbaron

# ServiceLabel: %Scheduler
# ServiceOwners:                                                   @derek1ee

# ServiceLabel: %Schema Registry
# ServiceOwners:                                                   @axisc @sjkwak @hmlam

# ServiceLabel: %Search
# ServiceOwners:                                                   @tjacobhi @markheff @miwelsh

# ServiceLabel: %Security
# ServiceOwners:                                                   @chlahav

# ServiceLabel: %SecurityInsights
# ServiceOwners:                                                   @amirkeren

# PRLabel: %Service Bus
/sdk/messaging/azservicebus/                                       @skarri-microsoft @EldertGrootenboer

# ServiceLabel: %Service Bus
# ServiceOwners:                                                   @skarri-microsoft @EldertGrootenboer

# PRLabel: %Service Bus
/sdk/messaging/stress/                                             @skarri-microsoft @EldertGrootenboer

# ServiceLabel: %Service Fabric
# ServiceOwners:                                                   @QingChenmsft @vaishnavk @juhacket

# ServiceLabel: %SignalR
# ServiceOwners:                                                   @sffamily @chenkennt

# ServiceLabel: %SQL
# ServiceOwners:                                                   @azureSQLGitHub

# ServiceLabel: %SQL - Backup & Restore
# ServiceOwners:                                                   @azureSQLGitHub

# ServiceLabel: %SQL - Data Security
# ServiceOwners:                                                   @azureSQLGitHub

# ServiceLabel: %SQL - Elastic Jobs
# ServiceOwners:                                                   @azureSQLGitHub

# ServiceLabel: %SQL - Managed Instance
# ServiceOwners:                                                   @azureSQLGitHub

# ServiceLabel: %SQL - Replication & Failover
# ServiceOwners:                                                   @azureSQLGitHub

# ServiceLabel: %SQL - VM
# ServiceOwners:                                                   @azureSQLGitHub

# PRLabel: %Storage
/sdk/storage/                                                      @souravgupta-msft @jhendrixMSFT @gapra-msft @vibhansa-msft @tanyasethi-msft

# ServiceLabel: %Storage
# AzureSdkOwners:                                                  @jhendrixMSFT
# ServiceOwners:                                                   @tanyasethi-msft

# ServiceLabel: %Storage
# ServiceOwners:                                                   @xgithubtriage

# ServiceLabel: %Storsimple
# ServiceOwners:                                                   @anoobbacker @ganzee @manuaery

# ServiceLabel: %Stream Analytics
# ServiceOwners:                                                   @atpham256

# ServiceLabel: %Subscription
# ServiceOwners:                                                   @anuragdalmia @shilpigautam @ramaganesan-rg

# ServiceLabel: %Support
# ServiceOwners:                                                   @shahbj79 @mit2nil @aygoya @ganganarayanan

# ServiceLabel: %Synapse
# ServiceOwners:                                                   @zesluo

# PRLabel: %Tables
/sdk/data/aztables/                                                @jhendrixMSFT @richardpark-msft

# ServiceLabel: %Tables
# AzureSdkOwners:                                                  @jhendrixMSFT
# ServiceOwners:                                                   @jhendrixMSFT @richardpark-msft

# ServiceLabel: %Tables
# ServiceOwners:                                                   @klaaslanghout

# ServiceLabel: %TimeseriesInsights
# ServiceOwners:                                                   @Shipra1Mishra

# ServiceLabel: %Web Apps
# ServiceOwners:                                                   @AzureAppServiceCLI @antcp

# PRLabel: %WebPubSub
/sdk/messaging/azwebpubsub/                                        @vicancy @chenkennt @jhendrixMSFT

# ServiceLabel: %WebPubSub
# AzureSdkOwners:                                                  @vicancy
# ServiceOwners:                                                   @vicancy @chenkennt @jhendrixMSFT

####################
# Management Libraries
####################

# ServiceLabel: %ARM
# ServiceOwners:                                                   @armleads-azure

# ServiceLabel: %ARM - Core
# ServiceOwners:                                                   @armleads-azure

# ServiceLabel: %ARM - Managed Applications
# ServiceOwners:                                                   @armleads-azure

# ServiceLabel: %ARM - RBAC
# ServiceOwners:                                                   @armleads-azure

# ServiceLabel: %ARM - Service Catalog
# ServiceOwners:                                                   @armleads-azure

# ServiceLabel: %ARM - Tags
# ServiceOwners:                                                   @armleads-azure

# ServiceLabel: %ARM - Templates
# ServiceOwners:                                                   @armleads-azure

# PRLabel: %Mgmt
/sdk/resourcemanager/                                              @lirenhe @tadelesh @JiaqiZhang-Dev

# ServiceLabel: %Mgmt
# AzureSdkOwners:                                                  @lirenhe
# ServiceOwners:                                                   @lirenhe @tadelesh @JiaqiZhang-Dev

###########
# Eng Sys
###########
/eng/                              @benbp @weshaggard
/eng/common/                       @Azure/azure-sdk-eng
/eng/config.json                   @richardpark-msft @jhendrixMSFT @rickwinter @chlowell @gracewilcox
/.config/1espt/                    @benbp @weshaggard
/.github/workflows/                @Azure/azure-sdk-eng
/.github/CODEOWNERS                @rickwinter @sandeep-sen @Azure/azure-sdk-eng
/.github/copilot-instructions.md   @richardpark @praveenkuttappan @maririos

# Add owners for go sdk tool
/eng/tools/generator          @lirenhe @tadelesh @JiaqiZhang-Dev
/eng/tools/internal           @lirenhe @tadelesh @JiaqiZhang-Dev

# Add owners for typespec emitter config
/eng/emitter-package-lock.json  @lirenhe @tadelesh @JiaqiZhang-Dev @richardpark-msft @jhendrixMSFT @rickwinter @chlowell @gracewilcox
/eng/emitter-package.json       @lirenhe @tadelesh @JiaqiZhang-Dev @richardpark-msft @jhendrixMSFT @rickwinter @chlowell @gracewilcox


# Add owners for notifications for specific pipelines
/eng/common/pipelines/codeowners-linter.yml       @rickwinter
