{
  "Entries": [
    {
      "RequestUri": "https://management.azure.com/",
      "RequestMethod": "POST",
      "RequestHeaders": {
        ":authority": "localhost:5001",
        ":method": "POST",
        ":path": "/",
        ":scheme": "https"
      },
      "RequestBody": null,
      "StatusCode": 400,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-failure-cause": "gateway"
      },
      "ResponseBody": {
        "error": {
          "code": "MissingApiVersionParameter",
          "message": "The api-version query parameter (?api-version=) is required for all requests."
        }
      }
    }
  ],
  "Variables": {}
}
