{
  "Entries": [
    {
      "RequestUri": "https://login.microsoftonline.com/common/discovery/instance?api-version=1.1\u0026authorization_endpoint=https%3A%2F%2Flogin.microsoftonline.com%2Ffake-tenant%2Foauth2%2Fv2.0%2Fauthorize",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "tenant_discovery_endpoint": "https://login.microsoftonline.com/fake-tenant/v2.0/.well-known/openid-configuration",
        "api-version": "1.1",
        "metadata": [
          {
            "preferred_network": "login.microsoftonline.com",
            "preferred_cache": "login.windows.net",
            "aliases": [
              "login.microsoftonline.com",
              "login.windows.net",
              "login.microsoft.com",
              "sts.windows.net"
            ]
          },
          {
            "preferred_network": "login.partner.microsoftonline.cn",
            "preferred_cache": "login.partner.microsoftonline.cn",
            "aliases": [
              "login.partner.microsoftonline.cn",
              "login.chinacloudapi.cn"
            ]
          },
          {
            "preferred_network": "login.microsoftonline.de",
            "preferred_cache": "login.microsoftonline.de",
            "aliases": [
              "login.microsoftonline.de"
            ]
          },
          {
            "preferred_network": "login.microsoftonline.us",
            "preferred_cache": "login.microsoftonline.us",
            "aliases": [
              "login.microsoftonline.us",
              "login.usgovcloudapi.net"
            ]
          },
          {
            "preferred_network": "login-us.microsoftonline.com",
            "preferred_cache": "login-us.microsoftonline.com",
            "aliases": [
              "login-us.microsoftonline.com"
            ]
          }
        ]
      }
    },
    {
      "RequestUri": "https://login.microsoftonline.com/fake-tenant/v2.0/.well-known/openid-configuration",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "token_endpoint": "https://login.microsoftonline.com/fake-tenant/oauth2/v2.0/token",
        "token_endpoint_auth_methods_supported": [
          "client_secret_post",
          "private_key_jwt",
          "client_secret_basic"
        ],
        "jwks_uri": "https://login.microsoftonline.com/fake-tenant/discovery/v2.0/keys",
        "response_modes_supported": [
          "query",
          "fragment",
          "form_post"
        ],
        "subject_types_supported": [
          "pairwise"
        ],
        "id_token_signing_alg_values_supported": [
          "RS256"
        ],
        "response_types_supported": [
          "code",
          "id_token",
          "code id_token",
          "id_token token"
        ],
        "scopes_supported": [
          "openid",
          "profile",
          "email",
          "offline_access"
        ],
        "issuer": "https://login.microsoftonline.com/{tenantid}/v2.0",
        "request_uri_parameter_supported": false,
        "userinfo_endpoint": "https://graph.microsoft.com/oidc/userinfo",
        "authorization_endpoint": "https://login.microsoftonline.com/fake-tenant/oauth2/v2.0/authorize",
        "device_authorization_endpoint": "https://login.microsoftonline.com/fake-tenant/oauth2/v2.0/devicecode",
        "http_logout_supported": true,
        "frontchannel_logout_supported": true,
        "end_session_endpoint": "https://login.microsoftonline.com/fake-tenant/oauth2/v2.0/logout",
        "claims_supported": [
          "sub",
          "iss",
          "cloud_instance_name",
          "cloud_instance_host_name",
          "cloud_graph_host_name",
          "msgraph_host",
          "aud",
          "exp",
          "iat",
          "auth_time",
          "acr",
          "nonce",
          "preferred_username",
          "name",
          "tid",
          "ver",
          "at_hash",
          "c_hash",
          "email"
        ],
        "kerberos_endpoint": "https://login.microsoftonline.com/fake-tenant/kerberos",
        "tenant_region_scope": null,
        "cloud_instance_name": "microsoftonline.com",
        "cloud_graph_host_name": "graph.windows.net",
        "msgraph_host": "graph.microsoft.com",
        "rbac_url": "https://pas.windows.net"
      }
    },
    {
      "RequestUri": "https://login.microsoftonline.com/fake-tenant/oauth2/v2.0/devicecode",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/x-www-form-urlencoded; charset=utf-8"
      },
      "RequestBody": {},
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "user_code": "redacted",
        "device_code": "redacted",
        "verification_uri": "https://microsoft.com/devicelogin",
        "expires_in": 900,
        "interval": 5,
        "message": "redacted"
      }
    },
    {
      "RequestUri": "https://login.microsoftonline.com/fake-tenant/oauth2/v2.0/token",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/x-www-form-urlencoded; charset=utf-8"
      },
      "RequestBody": {},
      "StatusCode": 400,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "error": "authorization_pending",
        "error_description": "AADSTS70016: OAuth 2.0 device flow error. Authorization is pending. Continue polling.\r\nTrace ID: 92f92264-3646-4c18-a11d-0ac4e12a8f00\r\nCorrelation ID: 53d8a100-6047-48d2-b107-dd468793a8ab\r\nTimestamp: 2023-01-27 01:10:22Z",
        "error_codes": [
          70016
        ],
        "timestamp": "2023-01-27 01:10:22Z",
        "trace_id": "92f92264-3646-4c18-a11d-0ac4e12a8f00",
        "correlation_id": "53d8a100-6047-48d2-b107-dd468793a8ab",
        "error_uri": "https://login.microsoftonline.com/error?code=70016"
      }
    },
[...]
    {
      "RequestUri": "https://login.microsoftonline.com/fake-tenant/oauth2/v2.0/token",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/x-www-form-urlencoded; charset=utf-8"
      },
      "RequestBody": {},
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "token_type": "Bearer",
        "scope": "https://management.core.windows.net//user_impersonation https://management.core.windows.net//.default",
        "expires_in": 5270,
        "ext_expires_in": 5270,
        "access_token": "redacted",
        "refresh_token": "redacted",
        "foci": "1",
        "id_token": "eyJ0eXAiOiJKV1QiLCJhbGciOiJSUzI1NiIsImtpZCI6Ii1LSTNROW5OUjdiUm9meG1lWm9YcWJIWkdldyJ9.eyJhdWQiOiIwNGIwNzc5NS04ZGRiLTQ2MWEtYmJlZS0wMmY5ZTFiZjdiNDYiLCJpc3MiOiJodHRwczovL2xvZ2luLm1pY3Jvc29mdG9ubGluZS5jb20vNzJmOTg4YmYtODZmMS00MWFmLTkxYWItMmQ3Y2QwMTFkYjQ3L3YyLjAiLCJpYXQiOjE2NzQ3ODE1NTQsIm5iZiI6MTY3NDc4MTU1NCwiZXhwIjoxNjc0Nzg1NDU0LCJhaW8iOiJBWFFBaS84VEFBQUFBeTZIVlRYcm8vdGwvc0JrR01aRVNockk4M1M3OXpieHBHWGp5bTB2VExXb0NHd0szTmlLN1dGZU5SalJVdHdwaGFNajUwYlFyTGV2VWlrMUdKcVkyMXZNNU9yeGZXZW5paU9DZnY5UDNPS2ZaclUzbUMvS1hVeitOc1d2QUV2WU9ZamE4SitXdXE4NmlGbmN2WEpVdFE9PSIsIm5hbWUiOiJKb25hdGhhbiBOZ3V5ZW4iLCJvaWQiOiJjYjg2MjRhNi1iZWFjLTRlOGYtOTg3Zi05NzY5ZWFjZWEyZjgiLCJwcmVmZXJyZWRfdXNlcm5hbWUiOiJqb25uZ3V5ZW5AbWljcm9zb2Z0LmNvbSIsInB1aWQiOiIxMDAzMjAwMjI0MTEyNjc2IiwicmgiOiIwLkFSb0F2NGo1Y3ZHR3IwR1JxeTE4MEJIYlI1VjNzQVRialJwR3UtNEMtZUdfZTBZYUFFRS4iLCJzdWIiOiJaeWVJZ25PUENuX2JUWnJzSTJmc2xWckI2aDhmNGx4WlhtdHJSdDRMNXprIiwidGlkIjoiNzJmOTg4YmYtODZmMS00MWFmLTkxYWItMmQ3Y2QwMTFkYjQ3IiwidXRpIjoiM2Z1b3FaeEs0RS1DZ0w5Nk5UczNBQSIsInZlciI6IjIuMCJ9.INhaBPm-1Hau7QoE8OGXbpDghm_PRvGfFNhal7A5BWwGteT7K8zdEygcInya_QfH1QV8O6nz5VW_spyFWHQEb7CPbXRTslou4qNHjvXUzOWl0z9wdre89VHzx20-aZKGGciN739KG2XO6mxPwyR-5FGRhpxAaoGvJdtlhk1DRTJ25theGbRCsjBwIDLfFDMEl9LGhSq6huwgVIK93w6QfxRVhMvm-S0kJn7uoINA1Py0ygSlogEwvxyKK4_z0bqGyFSVZ8lfE6sjzxtVBL5QF9nrCd1rMtPNbA-dLCUOgzimfXafSnrGNUHcen-HZQ9JTLXnaySFhpFXKJnfHYEtgA",
        "client_info": "eyJ1aWQiOiJjYjg2MjRhNi1iZWFjLTRlOGYtOTg3Zi05NzY5ZWFjZWEyZjgiLCJ1dGlkIjoiNzJmOTg4YmYtODZmMS00MWFmLTkxYWItMmQ3Y2QwMTFkYjQ3In0"
      }
    }
  ],
  "Variables": {}
}
