{
  "Entries": [
    {
      "RequestUri": "https://fakekvurl.managedhsm.azure.net/rng?api-version=7.3-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        ":authority": "localhost:5001",
        ":method": "POST",
        ":path": "/rng?api-version=7.3-preview",
        ":scheme": "https"
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\u0022https://login.microsoftonline.com/00000000-0000-0000-0000-000000000000\u0022, resource=\u0022https://managedhsm.azure.net\u0022",
        "x-ms-server-latency": "0"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakekvurl.managedhsm.azure.net/rng?api-version=7.3-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        ":authority": "localhost:5001",
        ":method": "POST",
        ":path": "/rng?api-version=7.3-preview",
        ":scheme": "https",
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "count": 100
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-server-latency": "1"
      },
      "ResponseBody": {
        "value": "XaIS3waclBp-dm7CdScmgd7Ig_RqnlV-W8zMl0_61VzglD2Lo90oXPgsumLOCurraIMzozq0LlvjmPXOAiWndZSK8PK6Jb09_0hX0QoOdveSQJl4XKUHQeDuja0pVuLzQImbNQ"
      }
    },
    {
      "RequestUri": "https://fakekvurl.managedhsm.azure.net/rng?api-version=7.3-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        ":authority": "localhost:5001",
        ":method": "POST",
        ":path": "/rng?api-version=7.3-preview",
        ":scheme": "https",
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "count": -1
      },
      "StatusCode": 400,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-server-latency": "0"
      },
      "ResponseBody": {
        "error": {
          "code": "BadParameter",
          "message": "GetRandomBytesRequest: count cannot be greater than 128 or less than 1 (Activity ID: ad2b07cc-61b3-11ec-985f-000d3aec06d7)"
        }
      }
    }
  ],
  "Variables": {}
}
