{
  "Entries": [
    {
      "RequestUri": "https://fakekvurl.managedhsm.azure.net/keys/list-del-key02135889235/create?api-version=7.3-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        ":authority": "localhost:5001",
        ":method": "POST",
        ":path": "/keys/list-del-key02135889235/create?api-version=7.3-preview",
        ":scheme": "https"
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\u0022https://login.microsoftonline.com/00000000-0000-0000-0000-000000000000\u0022, resource=\u0022https://managedhsm.azure.net\u0022",
        "x-ms-server-latency": "1"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakekvurl.managedhsm.azure.net/keys/list-del-key02135889235/create?api-version=7.3-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        ":authority": "localhost:5001",
        ":method": "POST",
        ":path": "/keys/list-del-key02135889235/create?api-version=7.3-preview",
        ":scheme": "https",
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "kty": "RSA"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-server-latency": "229"
      },
      "ResponseBody": {
        "attributes": {
          "created": 1640018477,
          "enabled": true,
          "exportable": false,
          "recoverableDays": 7,
          "recoveryLevel": "CustomizedRecoverable\u002BPurgeable",
          "updated": 1640018477
        },
        "key": {
          "e": "AQAB",
          "key_ops": [
            "wrapKey",
            "decrypt",
            "encrypt",
            "unwrapKey",
            "sign",
            "verify"
          ],
          "kid": "https://rosebudhsm.managedhsm.azure.net/keys/list-del-key02135889235/5209c541e0224439871cfb8a12719437",
          "kty": "RSA-HSM",
          "n": "txdIc09-rj-EHBjy45a_fYzol-56MaseZLaHzESMAegm-c7FQzk0Ke5hoJDoX75zVaPeyy83DQEbE2OrU2gZ5dhZsXLnQsbfVAtgFxAzSoy96wE9z6j_NvT2ZIzKTd8-ayfiyue744N4932P-6te8V0J4P2HjDjT3E8Fa4ChAWrclkZtkkyHnXeQPlKNkmFKyVL_PfbQA0nXVQPYcScl9XB1UzGYyCE42m85F2tnrotwPqQ2tFGdZI9RvRS-95xc1pmiOkO_eJuV47nqKRqlTHXEJ0wf0mEtVqJyF1OoEqmlizvAaaeJ1Wk6hmC1zT5czjDRyCGmh_kSyKR-qRSTzw"
        }
      }
    },
    {
      "RequestUri": "https://fakekvurl.managedhsm.azure.net/keys/list-del-key02135889235?api-version=7.3-preview",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        ":authority": "localhost:5001",
        ":method": "DELETE",
        ":path": "/keys/list-del-key02135889235?api-version=7.3-preview",
        ":scheme": "https",
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-server-latency": "138"
      },
      "ResponseBody": {
        "attributes": {
          "created": 1640018477,
          "enabled": true,
          "exportable": false,
          "recoverableDays": 7,
          "recoveryLevel": "CustomizedRecoverable\u002BPurgeable",
          "updated": 1640018477
        },
        "deletedDate": 1640018477,
        "key": {
          "e": "AQAB",
          "key_ops": [
            "wrapKey",
            "encrypt",
            "decrypt",
            "unwrapKey",
            "sign",
            "verify"
          ],
          "kid": "https://rosebudhsm.managedhsm.azure.net/keys/list-del-key02135889235/5209c541e0224439871cfb8a12719437",
          "kty": "RSA-HSM",
          "n": "txdIc09-rj-EHBjy45a_fYzol-56MaseZLaHzESMAegm-c7FQzk0Ke5hoJDoX75zVaPeyy83DQEbE2OrU2gZ5dhZsXLnQsbfVAtgFxAzSoy96wE9z6j_NvT2ZIzKTd8-ayfiyue744N4932P-6te8V0J4P2HjDjT3E8Fa4ChAWrclkZtkkyHnXeQPlKNkmFKyVL_PfbQA0nXVQPYcScl9XB1UzGYyCE42m85F2tnrotwPqQ2tFGdZI9RvRS-95xc1pmiOkO_eJuV47nqKRqlTHXEJ0wf0mEtVqJyF1OoEqmlizvAaaeJ1Wk6hmC1zT5czjDRyCGmh_kSyKR-qRSTzw"
        },
        "recoveryId": "https://rosebudhsm.managedhsm.azure.net/deletedkeys/list-del-key02135889235",
        "scheduledPurgeDate": 1640623277
      }
    },
    {
      "RequestUri": "https://fakekvurl.managedhsm.azure.net/deletedkeys/list-del-key02135889235?api-version=7.3-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        ":authority": "localhost:5001",
        ":method": "GET",
        ":path": "/deletedkeys/list-del-key02135889235?api-version=7.3-preview",
        ":scheme": "https",
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-build-version": "1.0.20211206-1-be739728-develop",
        "x-ms-server-latency": "35"
      },
      "ResponseBody": {
        "attributes": {
          "created": 1640018477,
          "enabled": true,
          "exportable": false,
          "recoverableDays": 7,
          "recoveryLevel": "CustomizedRecoverable\u002BPurgeable",
          "updated": 1640018477
        },
        "deletedDate": 1640018477,
        "key": {
          "e": "AQAB",
          "key_ops": [
            "verify",
            "sign",
            "unwrapKey",
            "encrypt",
            "decrypt",
            "wrapKey"
          ],
          "kid": "https://rosebudhsm.managedhsm.azure.net/keys/list-del-key02135889235/5209c541e0224439871cfb8a12719437",
          "kty": "RSA-HSM",
          "n": "txdIc09-rj-EHBjy45a_fYzol-56MaseZLaHzESMAegm-c7FQzk0Ke5hoJDoX75zVaPeyy83DQEbE2OrU2gZ5dhZsXLnQsbfVAtgFxAzSoy96wE9z6j_NvT2ZIzKTd8-ayfiyue744N4932P-6te8V0J4P2HjDjT3E8Fa4ChAWrclkZtkkyHnXeQPlKNkmFKyVL_PfbQA0nXVQPYcScl9XB1UzGYyCE42m85F2tnrotwPqQ2tFGdZI9RvRS-95xc1pmiOkO_eJuV47nqKRqlTHXEJ0wf0mEtVqJyF1OoEqmlizvAaaeJ1Wk6hmC1zT5czjDRyCGmh_kSyKR-qRSTzw"
        },
        "recoveryId": "https://rosebudhsm.managedhsm.azure.net/deletedkeys/list-del-key02135889235",
        "scheduledPurgeDate": 1640623277
      }
    },
[...]
    {
      "RequestUri": "https://fakekvurl.managedhsm.azure.net/deletedkeys?api-version=7.3-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        ":authority": "localhost:5001",
        ":method": "GET",
        ":path": "/deletedkeys?api-version=7.3-preview",
        ":scheme": "https",
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-build-version": "1.0.20211206-1-be739728-develop",
        "x-ms-server-latency": "33"
      },
      "ResponseBody": {
        "value": [
          {
            "attributes": {
              "created": 1640018477,
              "enabled": true,
              "exportable": false,
              "recoverableDays": 7,
              "recoveryLevel": "CustomizedRecoverable\u002BPurgeable",
              "updated": 1640018477
            },
            "deletedDate": 1640018477,
            "kid": "https://rosebudhsm.managedhsm.azure.net/keys/list-del-key02135889235",
            "recoveryId": "https://rosebudhsm.managedhsm.azure.net[...]
    {
      "RequestUri": "https://fakekvurl.managedhsm.azure.net/keys/list-del-key22135889235?api-version=7.3-preview",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        ":authority": "localhost:5001",
        ":method": "DELETE",
        ":path": "/keys/list-del-key22135889235?api-version=7.3-preview",
        ":scheme": "https",
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-server-latency": "19"
      },
      "ResponseBody": {
        "error": {
          "code": "KeyNotFound",
          "message": "Key not found: https://rosebudhsm.managedhsm.azure.net/keys/list-del-key22135889235 (Activity ID: a866e1fc-61b3-11ec-985f-000d3aec06d7)"
        }
      }
    },
[...]
    {
      "RequestUri": "https://fakekvurl.managedhsm.azure.net/keys/list-del-key02135889235?api-version=7.3-preview",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        ":authority": "localhost:5001",
        ":method": "DELETE",
        ":path": "/keys/list-del-key02135889235?api-version=7.3-preview",
        ":scheme": "https",
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-server-latency": "19"
      },
      "ResponseBody": {
        "error": {
          "code": "KeyNotFound",
          "message": "Key not found: https://rosebudhsm.managedhsm.azure.net/keys/list-del-key02135889235 (Activity ID: a885f1d2-61b3-11ec-985f-000d3aec06d7)"
        }
      }
    }
  ],
  "Variables": {}
}
