{
  "Entries": [
    {
      "RequestUri": "https://fakekvurl.vault.azure.net/keys/list-delkey0762797297/create?api-version=7.3-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        ":authority": "localhost:5001",
        ":method": "POST",
        ":path": "/keys/list-delkey0762797297/create?api-version=7.3-preview",
        ":scheme": "https",
        "Content-Type": "application/json"
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\u0022https://login.windows.net/00000000-0000-0000-0000-000000000000\u0022, resource=\u0022https://vault.azure.net\u0022"
      },
      "ResponseBody": {
        "error": {
          "code": "Unauthorized",
          "message": "AKV10000: Request is missing a Bearer or PoP token."
        }
      }
    },
    {
      "RequestUri": "https://fakekvurl.vault.azure.net/keys/list-delkey0762797297/create?api-version=7.3-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        ":authority": "localhost:5001",
        ":method": "POST",
        ":path": "/keys/list-delkey0762797297/create?api-version=7.3-preview",
        ":scheme": "https",
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "kty": "RSA"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "key": {
          "kid": "https://fakekvurl.vault.azure.net/keys/list-delkey0762797297/37e5acface7649569dadc0748553b7ce",
          "kty": "RSA",
          "key_ops": [
            "encrypt",
            "decrypt",
            "sign",
            "verify",
            "wrapKey",
            "unwrapKey"
          ],
          "n": "vIfsuAWhYIkOy0Yqsb187u4UB9wQpWvupnmviJ8wQJR1KkhGbX_4YbUHmEh07cyUJbVf1FUrRjp_tAWOfUeG1okes-Gaxs_pV3fag1rgcoI58OCptHYPC4Lt4Vf-ygRLSkkP_7BQLem0CEyUu6Pvsz15zr8jzlcIsvYeUzo4XpeS8GahRaGPlWehEv2ZksZJ_nlefjCRNYEpmJLtvTLDX2-58I3WTCHZsXxGr9Hbq7OCNh17WbBvz5crWrX6meIyh5zxuxKftQPwbqVIB7AX_48yZEjzaruAe_EROBZeLVt_JNH3uCGVGznAz7a_B-eheQmSw_25sLx4-SrLXeNOvQ",
          "e": "AQAB"
        },
        "attributes": {
          "enabled": true,
          "created": 1635445432,
          "updated": 1635445432,
          "recoveryLevel": "CustomizedRecoverable\u002BPurgeable",
          "recoverableDays": 7
        }
      }
    },
    {
      "RequestUri": "https://fakekvurl.vault.azure.net/keys/list-delkey0762797297?api-version=7.3-preview",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        ":authority": "localhost:5001",
        ":method": "DELETE",
        ":path": "/keys/list-delkey0762797297?api-version=7.3-preview",
        ":scheme": "https"
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\u0022https://login.windows.net/00000000-0000-0000-0000-000000000000\u0022, resource=\u0022https://vault.azure.net\u0022"
      },
      "ResponseBody": {
        "error": {
          "code": "Unauthorized",
          "message": "AKV10000: Request is missing a Bearer or PoP token."
        }
      }
    },
    {
      "RequestUri": "https://fakekvurl.vault.azure.net/keys/list-delkey0762797297?api-version=7.3-preview",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        ":authority": "localhost:5001",
        ":method": "DELETE",
        ":path": "/keys/list-delkey0762797297?api-version=7.3-preview",
        ":scheme": "https",
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "recoveryId": "https://fakekvurl.vault.azure.net/deletedkeys/list-delkey0762797297",
        "deletedDate": 1635445433,
        "scheduledPurgeDate": 1636050233,
        "key": {
          "kid": "https://fakekvurl.vault.azure.net/keys/list-delkey0762797297/37e5acface7649569dadc0748553b7ce",
          "kty": "RSA",
          "key_ops": [
            "encrypt",
            "decrypt",
            "sign",
            "verify",
            "wrapKey",
            "unwrapKey"
          ],
          "n": "vIfsuAWhYIkOy0Yqsb187u4UB9wQpWvupnmviJ8wQJR1KkhGbX_4YbUHmEh07cyUJbVf1FUrRjp_tAWOfUeG1okes-Gaxs_pV3fag1rgcoI58OCptHYPC4Lt4Vf-ygRLSkkP_7BQLem0CEyUu6Pvsz15zr8jzlcIsvYeUzo4XpeS8GahRaGPlWehEv2ZksZJ_nlefjCRNYEpmJLtvTLDX2-58I3WTCHZsXxGr9Hbq7OCNh17WbBvz5crWrX6meIyh5zxuxKftQPwbqVIB7AX_48yZEjzaruAe_EROBZeLVt_JNH3uCGVGznAz7a_B-eheQmSw_25sLx4-SrLXeNOvQ",
          "e": "AQAB"
        },
        "attributes": {
          "enabled": true,
          "created": 1635445432,
          "updated": 1635445432,
          "recoveryLevel": "CustomizedRecoverable\u002BPurgeable",
          "recoverableDays": 7
        }
      }
    },
    {
      "RequestUri": "https://fakekvurl.vault.azure.net/deletedkeys/list-delkey0762797297?api-version=7.3-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        ":authority": "localhost:5001",
        ":method": "GET",
        ":path": "/deletedkeys/list-delkey0762797297?api-version=7.3-preview",
        ":scheme": "https"
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\u0022https://login.windows.net/00000000-0000-0000-0000-000000000000\u0022, resource=\u0022https://vault.azure.net\u0022"
      },
      "ResponseBody": {
        "error": {
          "code": "Unauthorized",
          "message": "AKV10000: Request is missing a Bearer or PoP token."
        }
      }
    },
[...]
    {
      "RequestUri": "https://fakekvurl.vault.azure.net/deletedkeys?api-version=7.3-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        ":authority": "localhost:5001",
        ":method": "GET",
        ":path": "/deletedkeys?api-version=7.3-preview",
        ":scheme": "https"
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\u0022https://login.windows.net/00000000-0000-0000-0000-000000000000\u0022, resource=\u0022https://vault.azure.net\u0022"
      },
      "ResponseBody": {
        "error": {
          "code": "Unauthorized",
          "message": "AKV10000: Request is missing a Bearer or PoP token."
        }
      }
    },
    {
      "RequestUri": "https://fakekvurl.vault.azure.net/deletedkeys?api-version=7.3-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        ":authority": "localhost:5001",
        ":method": "GET",
        ":path": "/deletedkeys?api-version=7.3-preview",
        ":scheme": "https",
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "value": [
          {
            "recoveryId": "https://fakekvurl.vault.azure.net/deletedkeys/list-delkey0762797297",
            "deletedDate": 1635445433,
            "scheduledPurgeDate": 1636050233,
            "kid": "https://fakekvurl.vault.azure.net/keys/list-delkey0762797297",
            "attributes": {
              "enabled": true,
              "created": 1635445432,
              "updated": 1635445432,
              "recoveryLevel": "CustomizedRecoverable\u002BPurgeable",
              "r[...]
[...]
    {
      "RequestUri": "https://fakekvurl.vault.azure.net/keys/list-delkey0762797297?api-version=7.3-preview",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        ":authority": "localhost:5001",
        ":method": "DELETE",
        ":path": "/keys/list-delkey0762797297?api-version=7.3-preview",
        ":scheme": "https",
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "error": {
          "code": "KeyNotFound",
          "message": "A key with (name/id) list-delkey0762797297 was not found in this key vault. If you recently deleted this key you may be able to recover it using the correct recovery command. For help resolving this issue, please see https://go.microsoft.com/fwlink/?linkid=2125182"
        }
      }
    }
  ],
  "Variables": {}
}
