# Compiled Object files, Static and Dynamic libs (Shared Objects)
*.o
*.a
*.so

# Folders
_obj
_test

# Architecture specific extensions/prefixes
# *.[568vq]
[568vq].out

*.cgo1.go
*.cgo2.c
_cgo_defun.c
_cgo_gotypes.go
_cgo_export.*

# ignore any generated coverage files
coverage.txt
coverage.json
coverage.xml
coverage.html

_testmain.go

*.exe
*.test
*.prof
*.zip

# Editor swap files
*.swp
*~
.DS_Store
.vs
.idea

# ignore vendor/
vendor/

# environment variables
.env

# vscode
**/.vscode/*
!.vscode/cspell.json
!.vscode/mcp.json

# api view file
*.gosource

# Default Test Proxy Assets restore directory
.assets

# Default Test Proxy tools install directory
.proxy

# Default sync TypeSpec Project directory
TempTypeSpecFiles/

# Node modules for pinned tsp-client
/eng/common/tsp-client/node_modules
