//go:build go1.18
// +build go1.18

// Copyright (c) Microsoft Corporation. All rights reserved.
// Licensed under the MIT License. See License.txt in the project root for license information.
// Code generated by Microsoft (R) AutoRest Code Generator.
// Changes may cause incorrect behavior and will be lost if the code is regenerated.

package armvideoindexer

import (
	"context"
	"errors"
	"github.com/Azure/azure-sdk-for-go/sdk/azcore"
	"github.com/Azure/azure-sdk-for-go/sdk/azcore/arm"
	armruntime "github.com/Azure/azure-sdk-for-go/sdk/azcore/arm/runtime"
	"github.com/Azure/azure-sdk-for-go/sdk/azcore/cloud"
	"github.com/Azure/azure-sdk-for-go/sdk/azcore/policy"
	"github.com/Azure/azure-sdk-for-go/sdk/azcore/runtime"
	"net/http"
	"net/url"
	"strings"
)

// GenerateClient contains the methods for the Generate group.
// Don't use this type directly, use NewGenerateClient() instead.
type GenerateClient struct {
	host           string
	subscriptionID string
	pl             runtime.Pipeline
}

// NewGenerateClient creates a new instance of GenerateClient with the specified values.
// subscriptionID - The ID of the target subscription.
// credential - used to authorize requests. Usually a credential from azidentity.
// options - pass nil to accept the default values.
func NewGenerateClient(subscriptionID string, credential azcore.TokenCredential, options *arm.ClientOptions) (*GenerateClient, error) {
	if options == nil {
		options = &arm.ClientOptions{}
	}
	ep := cloud.AzurePublicCloud.Services[cloud.ResourceManager].Endpoint
	if c, ok := options.Cloud.Services[cloud.ResourceManager]; ok {
		ep = c.Endpoint
	}
	pl, err := armruntime.NewPipeline(moduleName, moduleVersion, credential, runtime.PipelineOptions{}, options)
	if err != nil {
		return nil, err
	}
	client := &GenerateClient{
		subscriptionID: subscriptionID,
		host:           ep,
		pl:             pl,
	}
	return client, nil
}

// AccessToken - Generate an Azure Video Indexer access token.
// If the operation fails it returns an *azcore.ResponseError type.
// resourceGroupName - The name of the resource group. The name is case insensitive.
// accountName - The name of the Azure Video Indexer account.
// options - GenerateClientAccessTokenOptions contains the optional parameters for the GenerateClient.AccessToken method.
func (client *GenerateClient) AccessToken(ctx context.Context, resourceGroupName string, accountName string, options *GenerateClientAccessTokenOptions) (GenerateClientAccessTokenResponse, error) {
	req, err := client.accessTokenCreateRequest(ctx, resourceGroupName, accountName, options)
	if err != nil {
		return GenerateClientAccessTokenResponse{}, err
	}
	resp, err := client.pl.Do(req)
	if err != nil {
		return GenerateClientAccessTokenResponse{}, err
	}
	if !runtime.HasStatusCode(resp, http.StatusOK) {
		return GenerateClientAccessTokenResponse{}, runtime.NewResponseError(resp)
	}
	return client.accessTokenHandleResponse(resp)
}

// accessTokenCreateRequest creates the AccessToken request.
func (client *GenerateClient) accessTokenCreateRequest(ctx context.Context, resourceGroupName string, accountName string, options *GenerateClientAccessTokenOptions) (*policy.Request, error) {
	urlPath := "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.VideoIndexer/accounts/{accountName}/generateAccessToken"
	if client.subscriptionID == "" {
		return nil, errors.New("parameter client.subscriptionID cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{subscriptionId}", url.PathEscape(client.subscriptionID))
	if resourceGroupName == "" {
		return nil, errors.New("parameter resourceGroupName cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{resourceGroupName}", url.PathEscape(resourceGroupName))
	if accountName == "" {
		return nil, errors.New("parameter accountName cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{accountName}", url.PathEscape(accountName))
	req, err := runtime.NewRequest(ctx, http.MethodPost, runtime.JoinPaths(client.host, urlPath))
	if err != nil {
		return nil, err
	}
	reqQP := req.Raw().URL.Query()
	reqQP.Set("api-version", "2022-04-13-preview")
	req.Raw().URL.RawQuery = reqQP.Encode()
	req.Raw().Header.Set("Accept", "application/json")
	if options != nil && options.Parameters != nil {
		return req, runtime.MarshalAsJSON(req, *options.Parameters)
	}
	return req, nil
}

// accessTokenHandleResponse handles the AccessToken response.
func (client *GenerateClient) accessTokenHandleResponse(resp *http.Response) (GenerateClientAccessTokenResponse, error) {
	result := GenerateClientAccessTokenResponse{}
	if err := runtime.UnmarshalAsJSON(resp, &result.AccessToken); err != nil {
		return GenerateClientAccessTokenResponse{}, err
	}
	return result, nil
}
