//go:build go1.16
// +build go1.16

// Copyright (c) Microsoft Corporation. All rights reserved.
// Licensed under the MIT License. See License.txt in the project root for license information.
// Code generated by Microsoft (R) AutoRest Code Generator.
// Changes may cause incorrect behavior and will be lost if the code is regenerated.

package armvideoindexer

import (
	"context"
	"errors"
	"fmt"
	"github.com/Azure/azure-sdk-for-go/sdk/azcore"
	"github.com/Azure/azure-sdk-for-go/sdk/azcore/arm"
	armruntime "github.com/Azure/azure-sdk-for-go/sdk/azcore/arm/runtime"
	"github.com/Azure/azure-sdk-for-go/sdk/azcore/policy"
	"github.com/Azure/azure-sdk-for-go/sdk/azcore/runtime"
	"net/http"
	"net/url"
	"strings"
)

// UserClassicAccountsClient contains the methods for the UserClassicAccounts group.
// Don't use this type directly, use NewUserClassicAccountsClient() instead.
type UserClassicAccountsClient struct {
	ep string
	pl runtime.Pipeline
}

// NewUserClassicAccountsClient creates a new instance of UserClassicAccountsClient with the specified values.
func NewUserClassicAccountsClient(credential azcore.TokenCredential, options *arm.ClientOptions) *UserClassicAccountsClient {
	cp := arm.ClientOptions{}
	if options != nil {
		cp = *options
	}
	if len(cp.Host) == 0 {
		cp.Host = arm.AzurePublicCloud
	}
	return &UserClassicAccountsClient{ep: string(cp.Host), pl: armruntime.NewPipeline(module, version, credential, &cp)}
}

// List - Lists all Azure Video Analyzer for Media classic accounts
// If the operation fails it returns one of the following error types.
// - *ErrorResponse, *ErrorResponse
func (client *UserClassicAccountsClient) List(location string, options *UserClassicAccountsListOptions) *UserClassicAccountsListPager {
	return &UserClassicAccountsListPager{
		client: client,
		requester: func(ctx context.Context) (*policy.Request, error) {
			return client.listCreateRequest(ctx, location, options)
		},
		advancer: func(ctx context.Context, resp UserClassicAccountsListResponse) (*policy.Request, error) {
			return runtime.NewRequest(ctx, http.MethodGet, *resp.UserClassicAccountList.NextLink)
		},
	}
}

// listCreateRequest creates the List request.
func (client *UserClassicAccountsClient) listCreateRequest(ctx context.Context, location string, options *UserClassicAccountsListOptions) (*policy.Request, error) {
	urlPath := "/providers/Microsoft.VideoIndexer/locations/{location}/userClassicAccounts"
	if location == "" {
		return nil, errors.New("parameter location cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{location}", url.PathEscape(location))
	req, err := runtime.NewRequest(ctx, http.MethodGet, runtime.JoinPaths(client.ep, urlPath))
	if err != nil {
		return nil, err
	}
	reqQP := req.Raw().URL.Query()
	reqQP.Set("api-version", "2021-11-10-preview")
	req.Raw().URL.RawQuery = reqQP.Encode()
	req.Raw().Header.Set("Accept", "application/json")
	return req, nil
}

// listHandleResponse handles the List response.
func (client *UserClassicAccountsClient) listHandleResponse(resp *http.Response) (UserClassicAccountsListResponse, error) {
	result := UserClassicAccountsListResponse{RawResponse: resp}
	if err := runtime.UnmarshalAsJSON(resp, &result.UserClassicAccountList); err != nil {
		return UserClassicAccountsListResponse{}, runtime.NewResponseError(err, resp)
	}
	return result, nil
}

// listHandleError handles the List error response.
func (client *UserClassicAccountsClient) listHandleError(resp *http.Response) error {
	body, err := runtime.Payload(resp)
	if err != nil {
		return runtime.NewResponseError(err, resp)
	}
	errType := ErrorResponse{raw: string(body)}
	if err := runtime.UnmarshalAsJSON(resp, &errType); err != nil {
		return runtime.NewResponseError(fmt.Errorf("%s\n%s", string(body), err), resp)
	}
	return runtime.NewResponseError(&errType, resp)
}
