---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
      Authorization:
      - SharedKey golangrocksonazure:HoqfmnpOWNgvkMJPJzJbuIKirlcMv3Ay2UaVx5VL5z8=
      x-ms-date:
      - Tue, 13 Apr 2021 15:57:38 GMT
      x-ms-version:
      - "2018-03-28"
    url: https://golangrocksonazure.blob.core.windows.net/61containersuitetestsetthengetco?restype=container
    method: PUT
  response:
    body: ""
    headers:
      Etag:
      - '"0x8D8FE94DC8984C7"'
      Last-Modified:
      - Tue, 13 Apr 2021 15:57:38 GMT
      X-Ms-Version:
      - "2018-03-28"
    status: 201 Created
    code: 201
    duration: ""
- request:
    body: <SignedIdentifiers><SignedIdentifier><Id>AutoRestIsSuperCool</Id><AccessPolicy><Start>2050-12-20T21:55:06Z</Start><Expiry>2050-12-21T07:55:06Z</Expiry><Permission>rwd</Permission></AccessPolicy></SignedIdentifier><SignedIdentifier><Id>GolangRocksOnAzure</Id><AccessPolicy><Start>2050-12-21T17:55:06Z</Start><Expiry>2050-12-22T03:55:06Z</Expiry><Permission>r</Permission></AccessPolicy></SignedIdentifier></SignedIdentifiers>
    form: {}
    headers:
      Authorization:
      - SharedKey golangrocksonazure:+mRIUq25sEhL2515Uno3z8H1+M0Me9llrQiTHGhAYJk=
      x-ms-blob-public-access:
      - blob
      x-ms-date:
      - Tue, 13 Apr 2021 15:57:38 GMT
      x-ms-version:
      - "2018-03-28"
    url: https://golangrocksonazure.blob.core.windows.net/61containersuitetestsetthengetco?comp=acl&restype=container
    method: PUT
  response:
    body: ""
    headers:
      Etag:
      - '"0x8D8FE94DC971E3F"'
      Last-Modified:
      - Tue, 13 Apr 2021 15:57:38 GMT
      X-Ms-Version:
      - "2018-03-28"
    status: 200 OK
    code: 200
    duration: ""
[...]
