{
  "Entries": [
    {
      "RequestUri": "https://fakekvurl.vault.azure.net/keys/key3984012801/create?api-version=7.3-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        ":authority": "localhost:5001",
        ":method": "POST",
        ":path": "/keys/key3984012801/create?api-version=7.3-preview",
        ":scheme": "https",
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "x-ms-date": "Mon, 25 Oct 2021 17:52:41 GMT"
      },
      "RequestBody": {
        "kty": "EC"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "key": {
          "kid": "https://rosebud.vault.azure.net/keys/key3984012801/7dd4a1e3b980428b98fb3b4b9786d159",
          "kty": "EC",
          "key_ops": [
            "sign",
            "verify"
          ],
          "crv": "P-256",
          "x": "kXSDIJCd7XELm5qkfiEsAQBKk9HgT552b1EeByKQM10",
          "y": "z-rTRyN-oAPhBFzuB-tyzy4dJLq0NpqBhCCVk16ruwk"
        },
        "attributes": {
          "enabled": true,
          "created": 1635184361,
          "updated": 1635184361,
          "recoveryLevel": "CustomizedRecoverable\u002BPurgeable",
          "recoverableDays": 7
        }
      }
    },
    {
      "RequestUri": "https://fakekvurl.vault.azure.net/keys/key3984012801?api-version=7.3-preview",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        ":authority": "localhost:5001",
        ":method": "DELETE",
        ":path": "/keys/key3984012801?api-version=7.3-preview",
        ":scheme": "https",
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 25 Oct 2021 17:52:42 GMT"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "recoveryId": "https://rosebud.vault.azure.net/deletedkeys/key3984012801",
        "deletedDate": 1635184361,
        "scheduledPurgeDate": 1635789161,
        "key": {
          "kid": "https://rosebud.vault.azure.net/keys/key3984012801/7dd4a1e3b980428b98fb3b4b9786d159",
          "kty": "EC",
          "key_ops": [
            "sign",
            "verify"
          ],
          "crv": "P-256",
          "x": "kXSDIJCd7XELm5qkfiEsAQBKk9HgT552b1EeByKQM10",
          "y": "z-rTRyN-oAPhBFzuB-tyzy4dJLq0NpqBhCCVk16ruwk"
        },
        "attributes": {
          "enabled": true,
          "created": 1635184361,
          "updated": 1635184361,
          "recoveryLevel": "CustomizedRecoverable\u002BPurgeable",
          "recoverableDays": 7
        }
      }
    },
    {
      "RequestUri": "https://fakekvurl.vault.azure.net/deletedkeys/key3984012801?api-version=7.3-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        ":authority": "localhost:5001",
        ":method": "GET",
        ":path": "/deletedkeys/key3984012801?api-version=7.3-preview",
        ":scheme": "https",
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 25 Oct 2021 17:52:42 GMT"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "error": {
          "code": "KeyNotFound",
          "message": "Deleted Key not found: key3984012801"
        }
      }
    },
[...]
    {
      "RequestUri": "https://fakekvurl.vault.azure.net/deletedkeys/key3984012801?api-version=7.3-preview",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        ":authority": "localhost:5001",
        ":method": "DELETE",
        ":path": "/deletedkeys/key3984012801?api-version=7.3-preview",
        ":scheme": "https",
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 25 Oct 2021 17:52:43 GMT"
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
      },
      "ResponseBody": null
    }
  ],
  "Variables": {}
}
