// +build go1.13

// Copyright (c) Microsoft Corporation. All rights reserved.
// Licensed under the MIT License. See License.txt in the project root for license information.
// Code generated by Microsoft (R) AutoRest Code Generator.
// Changes may cause incorrect behavior and will be lost if the code is regenerated.

package armsql

import (
	"context"
	"errors"
	"github.com/Azure/azure-sdk-for-go/sdk/armcore"
	"github.com/Azure/azure-sdk-for-go/sdk/azcore"
	"net/http"
	"net/url"
	"strings"
	"time"
)

// TdeCertificatesClient contains the methods for the TdeCertificates group.
// Don't use this type directly, use NewTdeCertificatesClient() instead.
type TdeCertificatesClient struct {
	con            *armcore.Connection
	subscriptionID string
}

// NewTdeCertificatesClient creates a new instance of TdeCertificatesClient with the specified values.
func NewTdeCertificatesClient(con *armcore.Connection, subscriptionID string) *TdeCertificatesClient {
	return &TdeCertificatesClient{con: con, subscriptionID: subscriptionID}
}

// BeginCreate - Creates a TDE certificate for a given server.
// If the operation fails it returns a generic error.
func (client *TdeCertificatesClient) BeginCreate(ctx context.Context, resourceGroupName string, serverName string, parameters TdeCertificate, options *TdeCertificatesBeginCreateOptions) (TdeCertificatesCreatePollerResponse, error) {
	resp, err := client.create(ctx, resourceGroupName, serverName, parameters, options)
	if err != nil {
		return TdeCertificatesCreatePollerResponse{}, err
	}
	result := TdeCertificatesCreatePollerResponse{
		RawResponse: resp.Response,
	}
	pt, err := armcore.NewLROPoller("TdeCertificatesClient.Create", "", resp, client.con.Pipeline(), client.createHandleError)
	if err != nil {
		return TdeCertificatesCreatePollerResponse{}, err
	}
	poller := &tdeCertificatesCreatePoller{
		pt: pt,
	}
	result.Poller = poller
	result.PollUntilDone = func(ctx context.Context, frequency time.Duration) (TdeCertificatesCreateResponse, error) {
		return poller.pollUntilDone(ctx, frequency)
	}
	return result, nil
}

// ResumeCreate creates a new TdeCertificatesCreatePoller from the specified resume token.
// token - The value must come from a previous call to TdeCertificatesCreatePoller.ResumeToken().
func (client *TdeCertificatesClient) ResumeCreate(ctx context.Context, token string) (TdeCertificatesCreatePollerResponse, error) {
	pt, err := armcore.NewLROPollerFromResumeToken("TdeCertificatesClient.Create", token, client.con.Pipeline(), client.createHandleError)
	if err != nil {
		return TdeCertificatesCreatePollerResponse{}, err
	}
	poller := &tdeCertificatesCreatePoller{
		pt: pt,
	}
	resp, err := poller.Poll(ctx)
	if err != nil {
		return TdeCertificatesCreatePollerResponse{}, err
	}
	result := TdeCertificatesCreatePollerResponse{
		RawResponse: resp,
	}
	result.Poller = poller
	result.PollUntilDone = func(ctx context.Context, frequency time.Duration) (TdeCertificatesCreateResponse, error) {
		return poller.pollUntilDone(ctx, frequency)
	}
	return result, nil
}

// Create - Creates a TDE certificate for a given server.
// If the operation fails it returns a generic error.
func (client *TdeCertificatesClient) create(ctx context.Context, resourceGroupName string, serverName string, parameters TdeCertificate, options *TdeCertificatesBeginCreateOptions) (*azcore.Response, error) {
	req, err := client.createCreateRequest(ctx, resourceGroupName, serverName, parameters, options)
	if err != nil {
		return nil, err
	}
	resp, err := client.con.Pipeline().Do(req)
	if err != nil {
		return nil, err
	}
	if !resp.HasStatusCode(http.StatusOK, http.StatusAccepted) {
		return nil, client.createHandleError(resp)
	}
	return resp, nil
}

// createCreateRequest creates the Create request.
func (client *TdeCertificatesClient) createCreateRequest(ctx context.Context, resourceGroupName string, serverName string, parameters TdeCertificate, options *TdeCertificatesBeginCreateOptions) (*azcore.Request, error) {
	urlPath := "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Sql/servers/{serverName}/tdeCertificates"
	if resourceGroupName == "" {
		return nil, errors.New("parameter resourceGroupName cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{resourceGroupName}", url.PathEscape(resourceGroupName))
	if serverName == "" {
		return nil, errors.New("parameter serverName cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{serverName}", url.PathEscape(serverName))
	if client.subscriptionID == "" {
		return nil, errors.New("parameter client.subscriptionID cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{subscriptionId}", url.PathEscape(client.subscriptionID))
	req, err := azcore.NewRequest(ctx, http.MethodPost, azcore.JoinPaths(client.con.Endpoint(), urlPath))
	if err != nil {
		return nil, err
	}
	req.Telemetry(telemetryInfo)
	reqQP := req.URL.Query()
	reqQP.Set("api-version", "2020-11-01-preview")
	req.URL.RawQuery = reqQP.Encode()
	return req, req.MarshalAsJSON(parameters)
}

// createHandleError handles the Create error response.
func (client *TdeCertificatesClient) createHandleError(resp *azcore.Response) error {
	body, err := resp.Payload()
	if err != nil {
		return azcore.NewResponseError(err, resp.Response)
	}
	if len(body) == 0 {
		return azcore.NewResponseError(errors.New(resp.Status), resp.Response)
	}
	return azcore.NewResponseError(errors.New(string(body)), resp.Response)
}
