//go:build go1.16
// +build go1.16

// Copyright (c) Microsoft Corporation. All rights reserved.
// Licensed under the MIT License. See License.txt in the project root for license information.
// Code generated by Microsoft (R) AutoRest Code Generator.
// Changes may cause incorrect behavior and will be lost if the code is regenerated.

package armiotsecurity

import (
	"context"
	"errors"
	"github.com/Azure/azure-sdk-for-go/sdk/azcore"
	"github.com/Azure/azure-sdk-for-go/sdk/azcore/arm"
	armruntime "github.com/Azure/azure-sdk-for-go/sdk/azcore/arm/runtime"
	"github.com/Azure/azure-sdk-for-go/sdk/azcore/policy"
	"github.com/Azure/azure-sdk-for-go/sdk/azcore/runtime"
	"net/http"
	"net/url"
	"strings"
)

// AlertTypesClient contains the methods for the AlertTypes group.
// Don't use this type directly, use NewAlertTypesClient() instead.
type AlertTypesClient struct {
	host           string
	subscriptionID string
	pl             runtime.Pipeline
}

// NewAlertTypesClient creates a new instance of AlertTypesClient with the specified values.
// subscriptionID - The ID of the target subscription.
// credential - used to authorize requests. Usually a credential from azidentity.
// options - pass nil to accept the default values.
func NewAlertTypesClient(subscriptionID string, credential azcore.TokenCredential, options *arm.ClientOptions) *AlertTypesClient {
	cp := arm.ClientOptions{}
	if options != nil {
		cp = *options
	}
	if len(cp.Endpoint) == 0 {
		cp.Endpoint = arm.AzurePublicCloud
	}
	client := &AlertTypesClient{
		subscriptionID: subscriptionID,
		host:           string(cp.Endpoint),
		pl:             armruntime.NewPipeline(moduleName, moduleVersion, credential, runtime.PipelineOptions{}, &cp),
	}
	return client
}

// Get - Get IoT alert type
// If the operation fails it returns an *azcore.ResponseError type.
// alertTypeName - Name of the alert type
// options - AlertTypesClientGetOptions contains the optional parameters for the AlertTypesClient.Get method.
func (client *AlertTypesClient) Get(ctx context.Context, alertTypeName string, options *AlertTypesClientGetOptions) (AlertTypesClientGetResponse, error) {
	req, err := client.getCreateRequest(ctx, alertTypeName, options)
	if err != nil {
		return AlertTypesClientGetResponse{}, err
	}
	resp, err := client.pl.Do(req)
	if err != nil {
		return AlertTypesClientGetResponse{}, err
	}
	if !runtime.HasStatusCode(resp, http.StatusOK) {
		return AlertTypesClientGetResponse{}, runtime.NewResponseError(resp)
	}
	return client.getHandleResponse(resp)
}

// getCreateRequest creates the Get request.
func (client *AlertTypesClient) getCreateRequest(ctx context.Context, alertTypeName string, options *AlertTypesClientGetOptions) (*policy.Request, error) {
	urlPath := "/subscriptions/{subscriptionId}/providers/Microsoft.IoTSecurity/alertTypes/{alertTypeName}"
	if client.subscriptionID == "" {
		return nil, errors.New("parameter client.subscriptionID cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{subscriptionId}", url.PathEscape(client.subscriptionID))
	if alertTypeName == "" {
		return nil, errors.New("parameter alertTypeName cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{alertTypeName}", url.PathEscape(alertTypeName))
	req, err := runtime.NewRequest(ctx, http.MethodGet, runtime.JoinPaths(client.host, urlPath))
	if err != nil {
		return nil, err
	}
	reqQP := req.Raw().URL.Query()
	reqQP.Set("api-version", "2021-07-01-preview")
	req.Raw().URL.RawQuery = reqQP.Encode()
	req.Raw().Header.Set("Accept", "application/json")
	return req, nil
}

// getHandleResponse handles the Get response.
func (client *AlertTypesClient) getHandleResponse(resp *http.Response) (AlertTypesClientGetResponse, error) {
	result := AlertTypesClientGetResponse{RawResponse: resp}
	if err := runtime.UnmarshalAsJSON(resp, &result.AlertType); err != nil {
		return AlertTypesClientGetResponse{}, err
	}
	return result, nil
}

// List - List IoT alert types
// If the operation fails it returns an *azcore.ResponseError type.
// options - AlertTypesClientListOptions contains the optional parameters for the AlertTypesClient.List method.
func (client *AlertTypesClient) List(ctx context.Context, options *AlertTypesClientListOptions) (AlertTypesClientListResponse, error) {
	req, err := client.listCreateRequest(ctx, options)
	if err != nil {
		return AlertTypesClientListResponse{}, err
	}
	resp, err := client.pl.Do(req)
	if err != nil {
		return AlertTypesClientListResponse{}, err
	}
	if !runtime.HasStatusCode(resp, http.StatusOK) {
		return AlertTypesClientListResponse{}, runtime.NewResponseError(resp)
	}
	return client.listHandleResponse(resp)
}

// listCreateRequest creates the List request.
func (client *AlertTypesClient) listCreateRequest(ctx context.Context, options *AlertTypesClientListOptions) (*policy.Request, error) {
	urlPath := "/subscriptions/{subscriptionId}/providers/Microsoft.IoTSecurity/alertTypes"
	if client.subscriptionID == "" {
		return nil, errors.New("parameter client.subscriptionID cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{subscriptionId}", url.PathEscape(client.subscriptionID))
	req, err := runtime.NewRequest(ctx, http.MethodGet, runtime.JoinPaths(client.host, urlPath))
	if err != nil {
		return nil, err
	}
	reqQP := req.Raw().URL.Query()
	reqQP.Set("api-version", "2021-07-01-preview")
	req.Raw().URL.RawQuery = reqQP.Encode()
	req.Raw().Header.Set("Accept", "application/json")
	return req, nil
}

// listHandleResponse handles the List response.
func (client *AlertTypesClient) listHandleResponse(resp *http.Response) (AlertTypesClientListResponse, error) {
	result := AlertTypesClientListResponse{RawResponse: resp}
	if err := runtime.UnmarshalAsJSON(resp, &result.AlertTypeList); err != nil {
		return AlertTypesClientListResponse{}, err
	}
	return result, nil
}
