//go:build go1.16
// +build go1.16

// Copyright (c) Microsoft Corporation. All rights reserved.
// Licensed under the MIT License. See License.txt in the project root for license information.
// Code generated by Microsoft (R) AutoRest Code Generator.
// Changes may cause incorrect behavior and will be lost if the code is regenerated.

package armiotsecurity

import (
	"context"
	"errors"
	"github.com/Azure/azure-sdk-for-go/sdk/azcore"
	"github.com/Azure/azure-sdk-for-go/sdk/azcore/arm"
	armruntime "github.com/Azure/azure-sdk-for-go/sdk/azcore/arm/runtime"
	"github.com/Azure/azure-sdk-for-go/sdk/azcore/policy"
	"github.com/Azure/azure-sdk-for-go/sdk/azcore/runtime"
	"net/http"
	"net/url"
	"strings"
)

// RecommendationTypesClient contains the methods for the RecommendationTypes group.
// Don't use this type directly, use NewRecommendationTypesClient() instead.
type RecommendationTypesClient struct {
	host           string
	subscriptionID string
	pl             runtime.Pipeline
}

// NewRecommendationTypesClient creates a new instance of RecommendationTypesClient with the specified values.
// subscriptionID - The ID of the target subscription.
// credential - used to authorize requests. Usually a credential from azidentity.
// options - pass nil to accept the default values.
func NewRecommendationTypesClient(subscriptionID string, credential azcore.TokenCredential, options *arm.ClientOptions) *RecommendationTypesClient {
	cp := arm.ClientOptions{}
	if options != nil {
		cp = *options
	}
	if len(cp.Endpoint) == 0 {
		cp.Endpoint = arm.AzurePublicCloud
	}
	client := &RecommendationTypesClient{
		subscriptionID: subscriptionID,
		host:           string(cp.Endpoint),
		pl:             armruntime.NewPipeline(moduleName, moduleVersion, credential, runtime.PipelineOptions{}, &cp),
	}
	return client
}

// Get - Get IoT recommendation type
// If the operation fails it returns an *azcore.ResponseError type.
// recommendationTypeName - Name of the recommendation type
// options - RecommendationTypesClientGetOptions contains the optional parameters for the RecommendationTypesClient.Get method.
func (client *RecommendationTypesClient) Get(ctx context.Context, recommendationTypeName string, options *RecommendationTypesClientGetOptions) (RecommendationTypesClientGetResponse, error) {
	req, err := client.getCreateRequest(ctx, recommendationTypeName, options)
	if err != nil {
		return RecommendationTypesClientGetResponse{}, err
	}
	resp, err := client.pl.Do(req)
	if err != nil {
		return RecommendationTypesClientGetResponse{}, err
	}
	if !runtime.HasStatusCode(resp, http.StatusOK) {
		return RecommendationTypesClientGetResponse{}, runtime.NewResponseError(resp)
	}
	return client.getHandleResponse(resp)
}

// getCreateRequest creates the Get request.
func (client *RecommendationTypesClient) getCreateRequest(ctx context.Context, recommendationTypeName string, options *RecommendationTypesClientGetOptions) (*policy.Request, error) {
	urlPath := "/subscriptions/{subscriptionId}/providers/Microsoft.IoTSecurity/recommendationTypes/{recommendationTypeName}"
	if client.subscriptionID == "" {
		return nil, errors.New("parameter client.subscriptionID cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{subscriptionId}", url.PathEscape(client.subscriptionID))
	if recommendationTypeName == "" {
		return nil, errors.New("parameter recommendationTypeName cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{recommendationTypeName}", url.PathEscape(recommendationTypeName))
	req, err := runtime.NewRequest(ctx, http.MethodGet, runtime.JoinPaths(client.host, urlPath))
	if err != nil {
		return nil, err
	}
	reqQP := req.Raw().URL.Query()
	reqQP.Set("api-version", "2021-07-01-preview")
	req.Raw().URL.RawQuery = reqQP.Encode()
	req.Raw().Header.Set("Accept", "application/json")
	return req, nil
}

// getHandleResponse handles the Get response.
func (client *RecommendationTypesClient) getHandleResponse(resp *http.Response) (RecommendationTypesClientGetResponse, error) {
	result := RecommendationTypesClientGetResponse{RawResponse: resp}
	if err := runtime.UnmarshalAsJSON(resp, &result.RecommendationType); err != nil {
		return RecommendationTypesClientGetResponse{}, err
	}
	return result, nil
}

// List - List IoT recommendation types
// If the operation fails it returns an *azcore.ResponseError type.
// options - RecommendationTypesClientListOptions contains the optional parameters for the RecommendationTypesClient.List
// method.
func (client *RecommendationTypesClient) List(ctx context.Context, options *RecommendationTypesClientListOptions) (RecommendationTypesClientListResponse, error) {
	req, err := client.listCreateRequest(ctx, options)
	if err != nil {
		return RecommendationTypesClientListResponse{}, err
	}
	resp, err := client.pl.Do(req)
	if err != nil {
		return RecommendationTypesClientListResponse{}, err
	}
	if !runtime.HasStatusCode(resp, http.StatusOK) {
		return RecommendationTypesClientListResponse{}, runtime.NewResponseError(resp)
	}
	return client.listHandleResponse(resp)
}

// listCreateRequest creates the List request.
func (client *RecommendationTypesClient) listCreateRequest(ctx context.Context, options *RecommendationTypesClientListOptions) (*policy.Request, error) {
	urlPath := "/subscriptions/{subscriptionId}/providers/Microsoft.IoTSecurity/recommendationTypes"
	if client.subscriptionID == "" {
		return nil, errors.New("parameter client.subscriptionID cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{subscriptionId}", url.PathEscape(client.subscriptionID))
	req, err := runtime.NewRequest(ctx, http.MethodGet, runtime.JoinPaths(client.host, urlPath))
	if err != nil {
		return nil, err
	}
	reqQP := req.Raw().URL.Query()
	reqQP.Set("api-version", "2021-07-01-preview")
	req.Raw().URL.RawQuery = reqQP.Encode()
	req.Raw().Header.Set("Accept", "application/json")
	return req, nil
}

// listHandleResponse handles the List response.
func (client *RecommendationTypesClient) listHandleResponse(resp *http.Response) (RecommendationTypesClientListResponse, error) {
	result := RecommendationTypesClientListResponse{RawResponse: resp}
	if err := runtime.UnmarshalAsJSON(resp, &result.RecommendationTypeList); err != nil {
		return RecommendationTypesClientListResponse{}, err
	}
	return result, nil
}
