{
  "Entries": [
    {
      "RequestUri": "https://fakeaccount.table.core.windows.net/Tables",
      "RequestMethod": "POST",
      "RequestHeaders": {
        ":method": "POST",
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "dataserviceversion": "3.0",
        "x-ms-date": "Thu, 14 Apr 2022 14:57:59 GMT",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": {
        "TableName": "tableName3353762574"
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata=minimalmetadata; streaming=true; charset=utf-8",
        "Location": "https://fakeaccount.table.core.windows.net/Tables(\u0027tableName3353762574\u0027)",
        "x-ms-version": "2019-02-02"
      },
      "ResponseBody": {
        "odata.metadata": "https://fakeaccount.table.core.windows.net/$metadata#Tables/@Element",
        "TableName": "tableName3353762574"
      }
    },
    {
      "RequestUri": "https://fakeaccount.table.core.windows.net/tableName3353762574?comp=acl",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/xml",
        "x-ms-date": "Thu, 14 Apr 2022 14:57:59 GMT",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": [
        "\u003C?xml version=\u00221.0\u0022 encoding=\u0022UTF-8\u0022?\u003E\n",
        "\u003CSignedIdentifiers\u003E\u003CSignedIdentifier\u003E\u003CAccessPolicy\u003E\u003CExpiry\u003E2042-01-01T01:01:01.000000001Z\u003C/Expiry\u003E\u003C/AccessPolicy\u003E\u003C/SignedIdentifier\u003E\u003C/SignedIdentifiers\u003E"
      ],
      "StatusCode": 400,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-error-code": "InvalidXmlDocument",
        "x-ms-version": "2019-02-02"
      },
      "ResponseBody": [
        "\u003C?xml version=\u00221.0\u0022 encoding=\u0022utf-8\u0022?\u003E\u003Cm:error xmlns:m=\u0022http://schemas.microsoft.com/ado/2007/08/dataservices/metadata\u0022\u003E\u003Cm:code\u003EInvalidXmlDocument\u003C/m:code\u003E\u003Cm:message xml:lang=\u0022en-US\u0022\u003EXML specified is not syntactically valid.\n",
        "RequestId:1cf78a75-c002-0045-5010-503db1000000\n",
        "Time:2022-04-14T14:57:59.6660178Z\u003C/m:message\u003E\u003C/m:error\u003E"
      ]
    },
    {
      "RequestUri": "https://fakeaccount.table.core.windows.net/Tables(\u0027tableName3353762574\u0027)",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 14 Apr 2022 14:57:59 GMT",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
        "x-ms-version": "2019-02-02"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {}
}
