{
  "Entries": [
    {
      "RequestUri": "https://fakeaccount.table.core.windows.net/Tables",
      "RequestMethod": "POST",
      "RequestHeaders": {
        ":method": "POST",
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "dataserviceversion": "3.0",
        "x-ms-date": "Mon, 24 Jan 2022 20:59:09 GMT",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": {
        "TableName": "tableName1429617116"
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata=minimalmetadata; streaming=true; charset=utf-8",
        "Location": "https://rosebudprim.table.core.windows.net/Tables(\u0027tableName1429617116\u0027)",
        "x-ms-version": "2019-02-02"
      },
      "ResponseBody": {
        "odata.metadata": "https://rosebudprim.table.core.windows.net/$metadata#Tables/@Element",
        "TableName": "tableName1429617116"
      }
    },
    {
      "RequestUri": "https://fakeaccount.table.core.windows.net/tableName1429617116?comp=acl",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/xml",
        "x-ms-date": "Mon, 24 Jan 2022 20:59:09 GMT",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": "\u003CSignedIdentifiers\u003E\u003CSignedIdentifier\u003E\u003CAccessPolicy\u003E\u003CPermission\u003Er\u003C/Permission\u003E\u003CExpiry\[...]
    {
      "RequestUri": "https://fakeaccount.table.core.windows.net/Tables(\u0027tableName1429617116\u0027)",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 24 Jan 2022 20:59:09 GMT",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
        "x-ms-version": "2019-02-02"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {}
}
