{
  "Entries": [
    {
      "RequestUri": "https://fakekvurl.vault.azure.net/keys/key3297178601/create?api-version=7.3-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        ":authority": "localhost:5001",
        ":method": "POST",
        ":path": "/keys/key3297178601/create?api-version=7.3-preview",
        ":scheme": "https",
        "Content-Type": "application/json"
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\u0022https://login.windows.net/00000000-0000-0000-0000-000000000000\u0022, resource=\u0022https://vault.azure.net\u0022"
      },
      "ResponseBody": {
        "error": {
          "code": "Unauthorized",
          "message": "AKV10000: Request is missing a Bearer or PoP token."
        }
      }
    },
    {
      "RequestUri": "https://fakekvurl.vault.azure.net/keys/key3297178601/create?api-version=7.3-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        ":authority": "localhost:5001",
        ":method": "POST",
        ":path": "/keys/key3297178601/create?api-version=7.3-preview",
        ":scheme": "https",
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "kty": "RSA"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "key": {
          "kid": "https://fakekvurl.vault.azure.net/keys/key3297178601/d18279d8e57542c8a1ac80eb2d549cc8",
          "kty": "RSA",
          "key_ops": [
            "encrypt",
            "decrypt",
            "sign",
            "verify",
            "wrapKey",
            "unwrapKey"
          ],
          "n": "rE6_eGSaMybmGiIQAL5P1a3owsVEN-uivdp8yQvTn3ae8qrQJLpMqrLPRftnp3bWNAzAeqFh5d0EI7s_r9IY7U7Rnblx8QyLVHs6beQvoIR7eqIk3AKBAHEvMo5oB5B7BuQ5hytpp42a1ThvM3g99R0EXwTgVm_n8_JpJCU8jCw-0HHbffFbFpYWPSOTGIUeCSVA8JEzmKmY6DhCQ11PDsEOXHUZwjPtRQLdKgdYjiSA6w5rc0bjU66r3H-H3nZ8RwpuNmE7EcuFSHnNro8eTixA-yh56yAgFtNnNHRTaKwO8JTsqCkxeSNKdCzukK6JZ_rwWTqCI8M9wsG1TJoChQ",
          "e": "AQAB"
        },
        "attributes": {
          "enabled": true,
          "created": 1635460113,
          "updated": 1635460113,
          "recoveryLevel": "CustomizedRecoverable\u002BPurgeable",
          "recoverableDays": 7
        }
      }
    },
    {
      "RequestUri": "https://fakekvurl.vault.azure.net/keys/key3297178601/rotate?api-version=7.3-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        ":authority": "localhost:5001",
        ":method": "POST",
        ":path": "/keys/key3297178601/rotate?api-version=7.3-preview",
        ":scheme": "https",
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/js[...]
    {
      "RequestUri": "https://fakekvurl.vault.azure.net/keys/key3297178601?api-version=7.3-preview",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        ":authority": "localhost:5001",
        ":method": "DELETE",
        ":path": "/keys/key3297178601?api-version=7.3-preview",
        ":scheme": "https",
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "recoveryId": "https://fakekvurl.vault.azure.net/deletedkeys/key3297178601",
        "deletedDate": 1635460114,
        "scheduledPurgeDate": 1636064914,
        "key": {
          "kid": "https://fakekvurl.vault.azure.net/keys/key3297178601/2bf5a9055bf74b4e975791bfdf058f7c",
          "kty": "RSA",
          "key_ops": [
            "encrypt",
            "decrypt",
            "sign",
            "verify",
            "wrapKey",
            "unwrapKey"
          ],
          "n": "rNBm1BbuTeUgwJQh88niakVC1PfcHhSsQ0U1QyGL2fICklS8oHzNwESbN80XlC4Wdr5_dz-P-CFft20tPbRyvFHstskKDVvCSVEkSPUQ8itTZB_4QeSU6rxxB0LUID0OtO6VazF5RBk0OfzLGvS4Guh3HeVW8rQ75psgY6AX0lJPSzRSlM5OxlDOu5VrHK-JT7hbMvMmIz6xiDxozKmPuNKTOU8rkIhLso6btOQVFn3XgCCoNDrPBNipKjr-67UUZT8ZtzGel94-ji9t52q7q-Q_xx8GU8CllDz51QR7FlbmXqQJXxhB2NLaElxQiDkMS8AePsaJZPSbY9xX-PEB-Q",
          "e": "AQAB"
        },
        "attributes": {
          "enabled": true,
          "created": 1635460114,
          "updated": 1635460114,
          "recoveryLevel": "CustomizedRecoverable\u002BPurgeable",
          "recoverableDays": 7
        }
      }
    },
    {
      "RequestUri": "https://fakekvurl.vault.azure.net/deletedkeys/key3297178601?api-version=7.3-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        ":authority": "localhost:5001",
        ":method": "GET",
        ":path": "/deletedkeys/key3297178601?api-version=7.3-preview",
        ":scheme": "https",
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "error": {
          "code": "KeyNotFound",
          "message": "Deleted Key not found: key3297178601"
        }
      }
    },
[...]
    {
      "RequestUri": "https://fakekvurl.vault.azure.net/deletedkeys/key3297178601?api-version=7.3-preview",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        ":authority": "localhost:5001",
        ":method": "DELETE",
        ":path": "/deletedkeys/key3297178601?api-version=7.3-preview",
        ":scheme": "https",
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
      },
      "ResponseBody": null
    }
  ],
  "Variables": {}
}
