{
  "Entries": [
    {
      "RequestUri": "https://fakekvurl.vault.azure.net/keys/key3297178601/create?api-version=7.3-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        ":authority": "localhost:5001",
        ":method": "POST",
        ":path": "/keys/key3297178601/create?api-version=7.3-preview",
        ":scheme": "https",
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "x-ms-date": "Mon, 25 Oct 2021 15:44:14 GMT"
      },
      "RequestBody": {
        "kty": "RSA"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "key": {
          "kid": "https://rosebud.vault.azure.net/keys/key3297178601/ed99ad227ec64afd928a0d3be93aa78b",
          "kty": "RSA",
          "key_ops": [
            "encrypt",
            "decrypt",
            "sign",
            "verify",
            "wrapKey",
            "unwrapKey"
          ],
          "n": "_RrnP3E0liZriJtK2KUnGHVolpa-zCBToMZqG9BcJGSCm8weiHV7Bht5JVi7Xs3F8hKRLWaOargvbtSlhar_pvpuKr3OAY5qOa5K-QpznfYNZfYZBx_tVvHa6XXV1JGOn7usdOURtTIdK5YzJnC1TS41rrXizeMzAAuXIMhDjoYsyxZ-cpYkziiSNCQt962Jym0vfnpmwTakc5NHhCcaPOT1TlAB7DFIVcyEuWjmWAmHgbcJ6mS4fFsfyUYcIle5hjPgP03YqzS0KOvFoWsV8lmPH5eszl5efWV99UlP-OMWYFf63QgY6LJbsf2y327sGj2KqNiS-S7G9GfFSuLm5Q",
          "e": "AQAB"
        },
        "attributes": {
          "enabled": true,
          "created": 1635176653,
          "updated": 1635176653,
          "recoveryLevel": "Recoverable\u002BPurgeable",
          "recoverableDays": 90
        }
      }
    },
    {
      "RequestUri": "https://fakekvurl.vault.azure.net/keys/key3297178601/rotate?api-version=7.3-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        ":authority": "localhost:5001",
        ":method": "POST",
        ":path": "/keys/key3297178601/rotate?api-version=7.3-preview",
        ":scheme": "https",
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 25 Oct 2021 15:44:14 GMT"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "Respo[...]
    {
      "RequestUri": "https://fakekvurl.vault.azure.net/keys/key3297178601?api-version=7.3-preview",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        ":authority": "localhost:5001",
        ":method": "DELETE",
        ":path": "/keys/key3297178601?api-version=7.3-preview",
        ":scheme": "https",
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 25 Oct 2021 15:44:14 GMT"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "recoveryId": "https://rosebud.vault.azure.net/deletedkeys/key3297178601",
        "deletedDate": 1635176654,
        "scheduledPurgeDate": 1642952654,
        "key": {
          "kid": "https://rosebud.vault.azure.net/keys/key3297178601/9b0d78a7dad94e5d987a476139622928",
          "kty": "RSA",
          "key_ops": [
            "encrypt",
            "decrypt",
            "sign",
            "verify",
            "wrapKey",
            "unwrapKey"
          ],
          "n": "xwRw3WwrK2ooE8NI3Evwyx5cPf4VIQMzb-cF6CYl1JwpAdGL_dum0p-hK3zZYWpHZXQlrD080ZJahV18l4xocZZLGYBSxUQXvOUXlL6sQzEgMwf4VlsdZeV6OOr_HvSAGhZmQU4NsfvntxPPR5OQixNYZEBjf1K5hEODsotF4UAProWiSMukQ_QcRHd8sRlcNvXJUv3a8cbmyhGzKwfTDfOMOJ-M2Wz0afEk0_CovA7ppMH9lm9DSsWsHxyIroXxD2H_N11dr4WKuB4klEEJP3EiW1KmbX4kR51zZDPTw15rwYiWDM4JsezwQxv_SM8e_-Yq2iD-0hxKOeHKMvSu9Q",
          "e": "AQAB"
        },
        "attributes": {
          "enabled": true,
          "created": 1635176654,
          "updated": 1635176654,
          "recoveryLevel": "Recoverable\u002BPurgeable",
          "recoverableDays": 90
        }
      }
    },
    {
      "RequestUri": "https://fakekvurl.vault.azure.net/deletedkeys/key3297178601?api-version=7.3-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        ":authority": "localhost:5001",
        ":method": "GET",
        ":path": "/deletedkeys/key3297178601?api-version=7.3-preview",
        ":scheme": "https",
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 25 Oct 2021 15:44:15 GMT"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "error": {
          "code": "KeyNotFound",
          "message": "Deleted Key not found: key3297178601"
        }
      }
    },
[...]
    {
      "RequestUri": "https://fakekvurl.vault.azure.net/deletedkeys/key3297178601?api-version=7.3-preview",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        ":authority": "localhost:5001",
        ":method": "DELETE",
        ":path": "/deletedkeys/key3297178601?api-version=7.3-preview",
        ":scheme": "https",
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 25 Oct 2021 15:44:18 GMT"
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
      },
      "ResponseBody": null
    }
  ],
  "Variables": {}
}
