{
  "Entries": [
    {
      "RequestUri": "https://fakekvurl.vault.azure.net/keys/key3297178601/create?api-version=7.3",
      "RequestMethod": "POST",
      "RequestHeaders": {
        ":method": "POST"
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\u0022https://login.windows.net/72f988bf-86f1-41af-91ab-2d7cd011db47\u0022, resource=\u0022https://vault.azure.net\u0022"
      },
      "ResponseBody": {
        "error": {
          "code": "Unauthorized",
          "message": "AKV10000: Request is missing a Bearer or PoP token."
        }
      }
    },
    {
      "RequestUri": "https://fakekvurl.vault.azure.net/keys/key3297178601/create?api-version=7.3",
      "RequestMethod": "POST",
      "RequestHeaders": {
        ":method": "POST",
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "kty": "RSA"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "key": {
          "kid": "https://fakekvurl.vault.azure.net/keys/key3297178601/628adab1462a4831807fff40e4d44aa1",
          "kty": "RSA",
          "key_ops": [
            "encrypt",
            "decrypt",
            "sign",
            "verify",
            "wrapKey",
            "unwrapKey"
          ],
          "n": "stp1MHUaMWP72Eoo-UOJDISeu0VucfqCbmI8qhDkggY8gWSwlh_zZ0z1dli5LBsA6L-TirwOyzTArBuHji7AoWJ28g61bGwl-GCLJo8Lj9faSjXEw3tdLAkDrmcEtCkPgn67I_tHmJsJgaqJnie2TmaRz6dI7vhvB8GRI5y_shFsFj3pieMmmQQ8UguHdhyhxEFPBjWgC08TfpkHR5bSPFj-attLISNGw-4bAH1W4NLEECfU6OLqZZlPzrHD6jXbkKWpxJWeOde0dMo7vOs-JCVd80Q9XLhJSK1CCtOQl40eWxkBO9kaUg-ATunOoJbTguGedlDBslZDop7H-JXmhQ",
          "e": "AQAB"
        },
        "attributes": {
          "enabled": true,
          "created": 1652819073,
          "updated": 1652819073,
          "recoveryLevel": "CustomizedRecoverable\u002BPurgeable",
          "recoverableDays": 7
        }
      }
    },
    {
      "RequestUri": "https://fakekvurl.vault.azure.net/keys/key3297178601/rotate?api-version=7.3",
      "RequestMethod": "POST",
      "RequestHeaders": {
        ":method": "POST",
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "key": {
          "kid": "https://fakekvurl.vault.azure.net/keys/key3297178601/37abe873e64f44a3b5d7a38d25e7d4cc",
          "kty": "RSA",
          "key_ops": [
            "encrypt",
            "decrypt",
            "sign",
            "verify",
            "wrapKey",
            "unwrapKey"
          ],
          "n": "6Z5Ludux-vLSiiXjfK9pJJOqF4GkYCM9-ct-IT_GBhX7ew4b4xKqgeG4mxl7P366y42ZBVb1xuA_BPB6PgDIOvVW2lzv6JGIZ9Cj5IUVIhL3VMOIjvbExxckij-NBHg6ysbR5QQThOp2_sBjYu_Msgmf3RS-itYp1w9mCIA2IfCKVT1V3MnOcy_DvuPDOMO3nm5PIQ5w0u9X4h3Oyshcd5YSRyYBnWpPm4rBHRwwYWCbxSqbaNAu5HZhPCPA2YJT9N3W6waatGjeBqtP0ckGJBEI-ydUnE9i_H9pZMZZrK7oUBlR5cDXieNH3xlNhWPZnMQn6ftAjkDlqcJgQtZKjQ",
          "e": "AQAB"
        },
        "attributes": {
          "enabled": true,
          "created": 1652819073,
          "updated": 1652819073,
          "recoveryLevel": "CustomizedRecoverable\u002BPurgeable",
          "recoverableDays": 7
        }
      }
    },
    {
      "RequestUri": "https://fakekvurl.vault.azure.net/keys/keynonexistent/rotate?api-version=7.3",
      "RequestMethod": "POST",
      "RequestHeaders": {
        ":method": "POST",
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "error": {
          "code": "KeyNotFound",
          "message": "A key with (name/id) keynonexistent was not found in this key vault. If you recently deleted this key you may be able to recover it using the correct recovery command. For help resolving this issue, please see https://go.microsoft.com/fwlink/?linkid=2125182"
        }
      }
    },
    {
      "RequestUri": "https://fakekvurl.vault.azure.net/keys/key3297178601?api-version=7.3",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "recoveryId": "https://fakekvurl.vault.azure.net/deletedkeys/key3297178601",
        "deletedDate": 1652819074,
        "scheduledPurgeDate": 1653423874,
        "key": {
          "kid": "https://fakekvurl.vault.azure.net/keys/key3297178601/37abe873e64f44a3b5d7a38d25e7d4cc",
          "kty": "RSA",
          "key_ops": [
            "encrypt",
            "decrypt",
            "sign",
            "verify",
            "wrapKey",
            "unwrapKey"
          ],
          "n": "6Z5Ludux-vLSiiXjfK9pJJOqF4GkYCM9-ct-IT_GBhX7ew4b4xKqgeG4mxl7P366y42ZBVb1xuA_BPB6PgDIOvVW2lzv6JGIZ9Cj5IUVIhL3VMOIjvbExxckij-NBHg6ysbR5QQThOp2_sBjYu_Msgmf3RS-itYp1w9mCIA2IfCKVT1V3MnOcy_DvuPDOMO3nm5PIQ5w0u9X4h3Oyshcd5YSRyYBnWpPm4rBHRwwYWCbxSqbaNAu5HZhPCPA2YJT9N3W6waatGjeBqtP0ckGJBEI-ydUnE9i_H9pZMZZrK7oUBlR5cDXieNH3xlNhWPZnMQn6ftAjkDlqcJgQtZKjQ",
          "e": "AQAB"
        },
        "attributes": {
          "enabled": true,
          "created": 1652819073,
          "updated": 1652819073,
          "recoveryLevel": "CustomizedRecoverable\u002BPurgeable",
          "recoverableDays": 7
        }
      }
    },
    {
      "RequestUri": "https://fakekvurl.vault.azure.net/deletedkeys/key3297178601?api-version=7.3",
      "RequestMethod": "GET",
      "RequestHeaders": {
        ":method": "GET",
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "error": {
          "code": "KeyNotFound",
          "message": "Deleted Key not found: key3297178601"
        }
      }
    },
[...]
    {
      "RequestUri": "https://fakekvurl.vault.azure.net/deletedkeys/key3297178601?api-version=7.3",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
      },
      "ResponseBody": null
    }
  ],
  "Variables": {}
}
