{
  "Entries": [
    {
      "RequestUri": "https://fakekvurl.vault.azure.net/keys/key3297178601/create?api-version=7.3",
      "RequestMethod": "POST",
      "RequestHeaders": {
        ":method": "POST"
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\u0022https://login.windows.net/72f988bf-86f1-41af-91ab-2d7cd011db47\u0022, resource=\u0022https://vault.azure.net\u0022"
      },
      "ResponseBody": {
        "error": {
          "code": "Unauthorized",
          "message": "AKV10000: Request is missing a Bearer or PoP token."
        }
      }
    },
    {
      "RequestUri": "https://fakekvurl.vault.azure.net/keys/key3297178601/create?api-version=7.3",
      "RequestMethod": "POST",
      "RequestHeaders": {
        ":method": "POST",
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "kty": "RSA"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "key": {
          "kid": "https://fakekvurl.vault.azure.net/keys/key3297178601/94a4305e28d841b791f195f8afbc9a64",
          "kty": "RSA",
          "key_ops": [
            "encrypt",
            "decrypt",
            "sign",
            "verify",
            "wrapKey",
            "unwrapKey"
          ],
          "n": "wssQQMQJRdU8-yOFBYEIqJBaw6CKkJxIq9mJqHE_WCat6Mf7BjnX-_u6RqjLkdfBdjX0Ib4vQWi0FZO9A-mnD4EtgKKn4Z99_1ns05WBhufaUgt3vwfAoEwPkf032nOSzPA8t3WNH9dFdgXvjoGNUxixaXlPx0l3Gdty3hTcBY5aI63NKRwXFsVrFgZ_Sp5imQJXCQ7cgcFvf8_ktqc06XP-1rM3gg4H83D22cixTi83ZY1eSZi4Ow1lmKcclBeM2jZF2yixQcF55d0t2GsBNFlprQtHS4PQYfdKm7CGhP41UZz-xkbi5JslacKovn89hnEjQr_zLTdN6sKazjDV1Q",
          "e": "AQAB"
        },
        "attributes": {
          "enabled": true,
          "created": 1651703871,
          "updated": 1651703871,
          "recoveryLevel": "CustomizedRecoverable\u002BPurgeable",
          "recoverableDays": 7
        }
      }
    },
    {
      "RequestUri": "https://fakekvurl.vault.azure.net/keys/key3297178601/rotate?api-version=7.3",
      "RequestMethod": "POST",
      "RequestHeaders": {
        ":method": "POST",
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "key": {
          "kid": "https://fakekvurl.vault.azure.net/keys/key3297178601/be07b438e99a4edb840a795f40f49067",
          "kty": "RSA",
          "key_ops": [
            "encrypt",
            "decrypt",
            "sign",
            "verify",
            "wrapKey",
            "unwrapKey"
          ],
          "n": "nYexW3WAu6hyuRTgsjB_U3-AAo5alIMx-CPX_SIuiOx-WSb8OoB8YDHU3oZUUuewtiyEe5HT0kaWo8AWYyKDPr2qx0q9DBBGUfhf1a_m9YfFu-w6woglicMOf-Wv5-tJhzyylkcfV8Da2xBDGFyF02GXoydKjwyrEgUNyWZbAicZCJgW9L5dsh8ji4CujU9pRtC4t8rzwVl-7r-3Oozi8_uzSNN1MM_LXGaZjcVCpgzdkk9FrpHzdr_297kOQIoE2pLKRrTvh7Fu7FRt5ihdW3eJO2ADkuzkvvfe6O0NLD9LacTBYjs2B2xn-7R77z7aSfSyJYrZ6imLEDkI6DgEzQ",
          "e": "AQAB"
        },
        "attributes": {
          "enabled": true,
          "created": 1651703871,
          "updated": 1651703871,
          "recoveryLevel": "CustomizedRecoverable\u002BPurgeable",
          "recoverableDays": 7
        }
      }
    },
    {
      "RequestUri": "https://fakekvurl.vault.azure.net/keys/keynonexistent/rotate?api-version=7.3",
      "RequestMethod": "POST",
      "RequestHeaders": {
        ":method": "POST",
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "error": {
          "code": "KeyNotFound",
          "message": "A key with (name/id) keynonexistent was not found in this key vault. If you recently deleted this key you may be able to recover it using the correct recovery command. For help resolving this issue, please see https://go.microsoft.com/fwlink/?linkid=2125182"
        }
      }
    },
    {
      "RequestUri": "https://fakekvurl.vault.azure.net/keys/key3297178601?api-version=7.3",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "recoveryId": "https://fakekvurl.vault.azure.net/deletedkeys/key3297178601",
        "deletedDate": 1651703871,
        "scheduledPurgeDate": 1652308671,
        "key": {
          "kid": "https://fakekvurl.vault.azure.net/keys/key3297178601/be07b438e99a4edb840a795f40f49067",
          "kty": "RSA",
          "key_ops": [
            "encrypt",
            "decrypt",
            "sign",
            "verify",
            "wrapKey",
            "unwrapKey"
          ],
          "n": "nYexW3WAu6hyuRTgsjB_U3-AAo5alIMx-CPX_SIuiOx-WSb8OoB8YDHU3oZUUuewtiyEe5HT0kaWo8AWYyKDPr2qx0q9DBBGUfhf1a_m9YfFu-w6woglicMOf-Wv5-tJhzyylkcfV8Da2xBDGFyF02GXoydKjwyrEgUNyWZbAicZCJgW9L5dsh8ji4CujU9pRtC4t8rzwVl-7r-3Oozi8_uzSNN1MM_LXGaZjcVCpgzdkk9FrpHzdr_297kOQIoE2pLKRrTvh7Fu7FRt5ihdW3eJO2ADkuzkvvfe6O0NLD9LacTBYjs2B2xn-7R77z7aSfSyJYrZ6imLEDkI6DgEzQ",
          "e": "AQAB"
        },
        "attributes": {
          "enabled": true,
          "created": 1651703871,
          "updated": 1651703871,
          "recoveryLevel": "CustomizedRecoverable\u002BPurgeable",
          "recoverableDays": 7
        }
      }
    },
    {
      "RequestUri": "https://fakekvurl.vault.azure.net/deletedkeys/key3297178601?api-version=7.3",
      "RequestMethod": "GET",
      "RequestHeaders": {
        ":method": "GET",
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "error": {
          "code": "KeyNotFound",
          "message": "Deleted Key not found: key3297178601"
        }
      }
    },
[...]
    {
      "RequestUri": "https://fakekvurl.vault.azure.net/deletedkeys/key3297178601?api-version=7.3",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
      },
      "ResponseBody": null
    }
  ],
  "Variables": {}
}
