{
  "Entries": [
    {
      "RequestUri": "https://fakekvurl.managedhsm.azure.net/keys/key386817259/create?api-version=7.3-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        ":authority": "localhost:5001",
        ":method": "POST",
        ":path": "/keys/key386817259/create?api-version=7.3-preview",
        ":scheme": "https",
        "Content-Type": "application/json"
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\u0022https://login.microsoftonline.com/00000000-0000-0000-0000-000000000000\u0022, resource=\u0022https://managedhsm.azure.net\u0022",
        "x-ms-server-latency": "0"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakekvurl.managedhsm.azure.net/keys/key386817259/create?api-version=7.3-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        ":authority": "localhost:5001",
        ":method": "POST",
        ":path": "/keys/key386817259/create?api-version=7.3-preview",
        ":scheme": "https",
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "kty": "RSA"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-server-latency": "224"
      },
      "ResponseBody": {
        "attributes": {
          "created": 1635444646,
          "enabled": true,
          "exportable": false,
          "recoverableDays": 7,
          "recoveryLevel": "CustomizedRecoverable\u002BPurgeable",
          "updated": 1635444646
        },
        "key": {
          "e": "AQAB",
          "key_ops": [
            "wrapKey",
            "decrypt",
            "encrypt",
            "unwrapKey",
            "sign",
            "verify"
          ],
          "kid": "https://fakekvurl.managedhsm.azure.net/keys/key386817259/8fead6575e030d66b98d5c2fd475b149",
          "kty": "RSA-HSM",
          "n": "227UKfLhMToesRmH0WWWq4HhVcG_aDGT4_VG_DuzHneSU6Tz--Br48NqunjWM1Z8nKxzpZ9zJ0bST2Kyb_7B_jrtnDHDsxV6FJod52lVBMG7ecealfogec7vCgPtopfORGGY1i83Cb2iEJMVEEonk1td3bYPVSetUPwqmDpKk_4LcjzNLO70G1u5Rdtd2yRNZwf5iQTwW7Eq6mm-BTj8pEWr4UlEQ5SgYwdJ1ph4LV5omxsQZNVclb2d23Oxr8nRXj6LTCYXs52Z8FctD-fZgP6Of9AeZVZ926KRlRRCHBHtdZPFCZStJMolNv9rMX9xuugzw6fLBTEds75ji8g7mQ"
        }
      }
    },
    {
      "RequestUri": "https://fakekvurl.managedhsm.azure.net/keys/key386817259/rotate?api-version=7.3-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        ":authority": "localhost:5001",
        ":method": "POST",
        ":path": "/keys/key386817259/rotate?api-version=7.3-preview",
        ":scheme": "https"
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\u0022https://login.microsoftonline.com/00000000-0000-0000-0000-000000000000\u0022, resource=\u0022https://managedhsm.azure.net\u0022",
        "x-ms-server-latency": "0"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakekvurl.managedhsm.azure.net/keys/key386817259/rotate?api-version=7.3-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        ":authority": "localhost:5001",
        ":method": "POST",
        ":path": "/keys/key386817259/rotate?api-version=7.3-preview",
        ":scheme": "https",
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 400,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-server-latency": "0"
      },
      "ResponseBody": {
        "error": {
          "code": "NotSupported",
          "message": "action \u0027rotate\u0027 not supported (Activity ID: 5fd07416-381a-11ec-bb04-000d3a7068c9)"
        }
      }
    },
    {
      "RequestUri": "https://fakekvurl.managedhsm.azure.net/keys/key386817259?api-version=7.3-preview",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        ":authority": "localhost:5001",
        ":method": "DELETE",
        ":path": "/keys/key386817259?api-version=7.3-preview",
        ":scheme": "https"
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\u0022https://login.microsoftonline.com/00000000-0000-0000-0000-000000000000\u0022, resource=\u0022https://managedhsm.azure.net\u0022",
        "x-ms-server-latency": "0"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakekvurl.managedhsm.azure.net/keys/key386817259?api-version=7.3-preview",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        ":authority": "localhost:5001",
        ":method": "DELETE",
        ":path": "/keys/key386817259?api-version=7.3-preview",
        ":scheme": "https",
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-server-latency": "144"
      },
      "ResponseBody": {
        "attributes": {
          "created": 1635444646,
          "enabled": true,
          "exportable": false,
          "recoverableDays": 7,
          "recoveryLevel": "CustomizedRecoverable\u002BPurgeable",
          "updated": 1635444646
        },
        "deletedDate": 1635444647,
        "key": {
          "e": "AQAB",
          "key_ops": [
            "wrapKey",
            "encrypt",
            "decrypt",
            "unwrapKey",
            "sign",
            "verify"
          ],
          "kid": "https://fakekvurl.managedhsm.azure.net/keys/key386817259/8fead6575e030d66b98d5c2fd475b149",
          "kty": "RSA-HSM",
          "n": "227UKfLhMToesRmH0WWWq4HhVcG_aDGT4_VG_DuzHneSU6Tz--Br48NqunjWM1Z8nKxzpZ9zJ0bST2Kyb_7B_jrtnDHDsxV6FJod52lVBMG7ecealfogec7vCgPtopfORGGY1i83Cb2iEJMVEEonk1td3bYPVSetUPwqmDpKk_4LcjzNLO70G1u5Rdtd2yRNZwf5iQTwW7Eq6mm-BTj8pEWr4UlEQ5SgYwdJ1ph4LV5omxsQZNVclb2d23Oxr8nRXj6LTCYXs52Z8FctD-fZgP6Of9AeZVZ926KRlRRCHBHtdZPFCZStJMolNv9rMX9xuugzw6fLBTEds75ji8g7mQ"
        },
        "recoveryId": "https://fakekvurl.managedhsm.azure.net/deletedkeys/key386817259",
        "scheduledPurgeDate": 1636049447
      }
    },
    {
      "RequestUri": "https://fakekvurl.managedhsm.azure.net/deletedkeys/key386817259?api-version=7.3-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        ":authority": "localhost:5001",
        ":method": "GET",
        ":path": "/deletedkeys/key386817259?api-version=7.3-preview",
        ":scheme": "https"
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\u0022https://login.microsoftonline.com/00000000-0000-0000-0000-000000000000\u0022, resource=\u0022https://managedhsm.azure.net\u0022",
        "x-ms-build-version": "1.0.20210929-1-5b78c022-develop",
        "x-ms-server-latency": "0"
      },
      "ResponseBody": "OK"
    },
[...]
    {
      "RequestUri": "https://fakekvurl.managedhsm.azure.net/deletedkeys/key386817259?api-version=7.3-preview",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        ":authority": "localhost:5001",
        ":method": "DELETE",
        ":path": "/deletedkeys/key386817259?api-version=7.3-preview",
        ":scheme": "https",
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-server-latency": "103"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {}
}
