{
  "Entries": [
    {
      "RequestUri": "https://fakekvurl.vault.azure.net/keys/key3297178601/create?api-version=7.3-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        ":authority": "localhost:5001",
        ":method": "POST",
        ":path": "/keys/key3297178601/create?api-version=7.3-preview",
        ":scheme": "https"
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\u0022https://login.windows.net/00000000-0000-0000-0000-000000000000\u0022, resource=\u0022https://vault.azure.net\u0022"
      },
      "ResponseBody": {
        "error": {
          "code": "Unauthorized",
          "message": "AKV10000: Request is missing a Bearer or PoP token."
        }
      }
    },
    {
      "RequestUri": "https://fakekvurl.vault.azure.net/keys/key3297178601/create?api-version=7.3-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        ":authority": "localhost:5001",
        ":method": "POST",
        ":path": "/keys/key3297178601/create?api-version=7.3-preview",
        ":scheme": "https",
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "kty": "RSA"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "key": {
          "kid": "https://fakekvurl.vault.azure.net/keys/key3297178601/4b714b5a41ef45a980533bc49f5b3f8f",
          "kty": "RSA",
          "key_ops": [
            "encrypt",
            "decrypt",
            "sign",
            "verify",
            "wrapKey",
            "unwrapKey"
          ],
          "n": "2_5Bvlpk28wR0dWqIrUmf7zOZZnvVHGaj3miGKJIqCAsxD2zC5VRYuKJYdrzUkfrROLhVvdZxhT6RZpyogDCoWCJobf4CUDn8Rk9AAcPMzvMBPtGxnQTHxO4Kq1X9lep5Eiz4_9L39QRPChRSCMIxjlz-HPJgDLuZTL7fjqeJBESbM4lH562ifG_o9bXJZB0TvaeJM1aGKWGj18_ZC2Tq8gA4zZLvASvQ2QpHOU4m18kiBa_7_-7aeJHh-CezHfd70xdsgmY_ae3b1SQ_1UyNUL7RBgT42ATkj79SciFkf0wRCdf3X2GyxJJmaMMDb_h1cdHb0n_Osj1FVvN5JYKNQ",
          "e": "AQAB"
        },
        "attributes": {
          "enabled": true,
          "created": 1640018491,
          "updated": 1640018491,
          "recoveryLevel": "CustomizedRecoverable\u002BPurgeable",
          "recoverableDays": 7
        }
      }
    },
    {
      "RequestUri": "https://fakekvurl.vault.azure.net/keys/key3297178601/rotate?api-version=7.3-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        ":authority": "localhost:5001",
        ":method": "POST",
        ":path": "/keys/key3297178601/rotate?api-version=7.3-preview",
        ":scheme": "https",
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/js[...]
    {
      "RequestUri": "https://fakekvurl.vault.azure.net/keys/keynonexistent/rotate?api-version=7.3-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        ":authority": "localhost:5001",
        ":method": "POST",
        ":path": "/keys/keynonexistent/rotate?api-version=7.3-preview",
        ":scheme": "https",
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "error": {
          "code": "KeyNotFound",
          "message": "A key with (name/id) keynonexistent was not found in this key vault. If you recently deleted this key you may be able to recover it using the correct recovery command. For help resolving this issue, please see https://go.microsoft.com/fwlink/?linkid=2125182"
        }
      }
    },
    {
      "RequestUri": "https://fakekvurl.vault.azure.net/keys/key3297178601?api-version=7.3-preview",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        ":authority": "localhost:5001",
        ":method": "DELETE",
        ":path": "/keys/key3297178601?api-version=7.3-preview",
        ":scheme": "https",
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "recoveryId": "https://fakekvurl.vault.azure.net/deletedkeys/key3297178601",
        "deletedDate": 1640018492,
        "scheduledPurgeDate": 1640623292,
        "key": {
          "kid": "https://fakekvurl.vault.azure.net/keys/key3297178601/00760098264b4bf0a6774e754f48d44c",
          "kty": "RSA",
          "key_ops": [
            "encrypt",
            "decrypt",
            "sign",
            "verify",
            "wrapKey",
            "unwrapKey"
          ],
          "n": "v1Y5t2t9uucU1EucaRwVDSwYAjAfcqEZTGXyG0VhAt7vjsOcwuIm0NSbcdhLg-Or9D7bae_xisd9086raqBmxD6gUIxlsOyv1BbisNYUKUuI6C8ikjWOfG5C4Htmnsn4wYzC41iYHw1MJS0fJnv4XQRD05uTaH-XNxLMNAz31Buc2myWRTyTiYy1QL5Zar2Hs4961OXW8GG8gBOVi8AS9S4RchUsoUGW7U5G99mmO5xeoJc6CdwgrcRTMgoZde8an8SyyrfudAM8t903AHQ2axm_H_T4dVpPt5RKe7uKTnID18i5XdIBfgMZMMiSQPOMcqy0jlCacXUvSEWWdm1BmQ",
          "e": "AQAB"
        },
        "attributes": {
          "enabled": true,
          "created": 1640018492,
          "updated": 1640018492,
          "recoveryLevel": "CustomizedRecoverable\u002BPurgeable",
          "recoverableDays": 7
        }
      }
    },
    {
      "RequestUri": "https://fakekvurl.vault.azure.net/deletedkeys/key3297178601?api-version=7.3-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        ":authority": "localhost:5001",
        ":method": "GET",
        ":path": "/deletedkeys/key3297178601?api-version=7.3-preview",
        ":scheme": "https",
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "error": {
          "code": "KeyNotFound",
          "message": "Deleted Key not found: key3297178601"
        }
      }
    },
[...]
    {
      "RequestUri": "https://fakekvurl.vault.azure.net/deletedkeys/key3297178601?api-version=7.3-preview",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        ":authority": "localhost:5001",
        ":method": "DELETE",
        ":path": "/deletedkeys/key3297178601?api-version=7.3-preview",
        ":scheme": "https",
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
      },
      "ResponseBody": null
    }
  ],
  "Variables": {}
}
