{
  "Entries": [
    {
      "RequestUri": "https://fakekvurl.vault.azure.net/certificates/cert02395596731/create?api-version=7.3-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        ":authority": "localhost:5001",
        ":method": "POST",
        ":path": "/certificates/cert02395596731/create?api-version=7.3-preview",
        ":scheme": "https",
        "Content-Type": "application/json"
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\u0022https://login.windows.net/00000000-0000-0000-0000-000000000000\u0022, resource=\u0022https://vault.azure.net\u0022"
      },
      "ResponseBody": {
        "error": {
          "code": "Unauthorized",
          "message": "AKV10000: Request is missing a Bearer or PoP token."
        }
      }
    },
    {
      "RequestUri": "https://fakekvurl.vault.azure.net/certificates/cert02395596731/create?api-version=7.3-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        ":authority": "localhost:5001",
        ":method": "POST",
        ":path": "/certificates/cert02395596731/create?api-version=7.3-preview",
        ":scheme": "https",
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "policy": {
          "issuer": {
            "name": "Self"
          },
          "x509_props": {
            "sans": {},
            "subject": "CN=DefaultPolicy"
          }
        }
      },
      "StatusCode": 202,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "Location": "https://fakekvurl.vault.azure.net/certificates/cert02395596731/pending?api-version=7.3-preview\u0026request_id=542fca263e8147c09e10756fc224c86a",
        "Retry-After": "10"
      },
      "ResponseBody": {
        "id": "https://fakekvurl.vault.azure.net/certificates/cert02395596731/pending",
        "issuer": {
          "name": "Self"
        },
        "csr": "MIICqDCCAZACAQAwGDEWMBQGA1UEAxMNRGVmYXVsdFBvbGljeTCCASIwDQYJKoZIhvcNAQEBBQADggEPADCCAQoCggEBAMqtNfjuif85peabJxgY2LJD3Vb7hPuDX2v2TRHrtYkG0pzK0espIokFGU2JvIf6z7NkkwD5Qutn39rTeIob22kqLA/WbBtENEO0dne86OAsfheeOp7gvCOs\u002BzElL9RPUaqw1bObIWmDwpxDqRUbkziOpUtnj4sycm0MvfwX6FBiDa\u002BF3tT1yNTqE9sNUn5zEr6q9eiNoC2h38fPArNsi\u002Bn6PCU/XkIDweEThUqtlE5pJltY4p29taeZtVpMMifpCksTYLCHvQUVd3UB5oU3tXhLFvdCmrz9ZUTil9d/dw80W63qPB/MFJAi1cJWxn5osy5ZKV86XDi7VnxkuH0Pmq0CAwEAAaBLMEkGCSqGSIb3DQEJDjE8MDowDgYDVR0PAQH/BAQDAgWgMB0GA1UdJQQWMBQGCCsGAQUFBwMBBggrBgEFBQcDAjAJBgNVHRMEAjAAMA0GCSqGSIb3DQEBCwUAA4IBAQC9q8oGMgi3FF/EbHxqFSA9zXslv5NYcy6leOAbP6uLOQq1d2nEhL/K7zNIFxu7TGbMNVYpaxCO6qcjnLskNVP8O2buutW1cwjDUcjaCDynW4n4TgnW5kcsfG20DT5vKt4ZrcL3NflGlB3BNbgvgbQU\u002BeaHa4WA\u002BJipp4jnh0Prrz1mfmAtjbT1Fnb9U1FWvnNqD\u002BQ4hYIg4dYjarb4r\u002BWlC47Ljh16PZLisGRhkGp5yg0492TisFOsrYitujI/f51F6VDkxeGcYChPjASYqlieAYB0MXcXaamQYaic04yxFHZSFR8hVcgA\u002BasipapgJnav4OOXKaGB/JZbumlndqhf",
        "cancellation_requested": false,
        "status": "inProgress",
        "status_details": "Pending certificate created. Certificate request is in progress. This may take some time based on the issuer provider. Please check again later.",
        "request_id": "542fca263e8147c09e10756fc224c86a"
      }
    },
    {
      "RequestUri": "https://fakekvurl.vault.azure.net/certificates/cert02395596731/?api-version=7.3-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        ":authority": "localhost:5001",
        ":method": "GET",
        ":path": "/certificates/cert02395596731/?api-version=7.3-preview",
        ":scheme": "https",
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "id": "https://fakekvurl.vault.azure.net/certificates/cert02395596731/a93dfb3392b24355baa376b23cf94da2",
        "attributes": {
          "enabled": false,
          "nbf": 1641590650,
          "exp": 1673127250,
          "created": 1641591250,
          "updated": 1641591250,
          "recoveryLevel": "CustomizedRecoverable\u002BPurgeable",
          "recoverableDays": 7
        },
        "policy": {
          "id": "https://fakekvurl.vault.azure.net/certificates/cert02395596731/policy",
          "key_props": {
            "exportable": true,
            "kty": "RSA",
            "key_size": 2048,
            "reuse_key": false
          },
          "secret_props": {
            "contentType": "application/x-pkcs12"
          },
          "x509_props": {
            "subject": "CN=DefaultPolicy",
            "sans": {},
            "ekus": [
              "1.3.6.1.5.5.7.3.1",
              "1.3.6.1.5.5.7.3.2"
            ],
            "key_usage": [
              "digitalSignature",
              "keyEncipherment"
            ],
            "validity_months": 12,
            "basic_constraints": {
              "ca": false
            }
          },
          "lifetime_actions": [
            {
              "trigger": {
                "lifetime_percentage": 80
              },
              "action": {
                "action_type": "AutoRenew"
              }
            }
          ],
          "issuer": {
            "name": "Self"
          },
          "attributes": {
            "enabled": true,
            "created": 1641591250,
            "updated": 1641591250
          }
        },
        "pending": {
          "id": "https://fakekvurl.vault.azure.net/certificates/cert02395596731/pending"
        }
      }
    },
[...]
    {
      "RequestUri": "https://fakekvurl.vault.azure.net/certificates?api-version=7.3-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        ":authority": "localhost:5001",
        ":method": "GET",
        ":path": "/certificates?api-version=7.3-preview",
        ":scheme": "https",
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "value": [
          {
            "id": "https://fakekvurl.vault.azure.net/certificates/cert02395596731",
            "x5t": "xc2hzqA2EBbfMOxiHtSI1Qa-7kU",
            "attributes": {
              "enabled": true,
              "nbf": 1641590652,
              "exp": 1673127252,
              "created": 1641591252,
              "updated": 1641591252
            },
            "subject": ""
          },
          {
            "id": "https://fakekvurl.vault.azure.net/certificates/cert12395596731",
            "x5t": "NqJkDoEsp7Mb-3xzKDQtspRPh_A",
            "attributes": {
              "enabled": true,
              "nbf": 1641590652,
              "exp": 1673127252,
              "created": 1641591252,
              "updated": 1641591252
            },
            "subject": ""
          },
          {
            "id": "https://fakekvurl.vault.azure.net/certificates/cert22395596731",
            "x5t": "OIU-kKNaFJLDk4xn8dBwgcLZME0",
            "attributes": {
              "enabled": true,
              "nbf": 1641590653,
              "exp": 1673127253,
              "created": 1641591253,
              "updated": 1641591253
            },
            "subject": ""
          },
          {
            "id": "https://fakekvurl.vault.azure.net/certificates/cert32395596731",
            "x5t": "yblPmIZDy-3AXgyf-5fZaZyMYzM",
            "attributes": {
              "enabled": true,
              "nbf": 1641590654,
              "exp": 1673127254,
              "created": 1641591254,
              "updated": 1641591254
            },
            "subject": ""
          }
        ],
        "nextLink": null
      }
    },
    {
      "RequestUri": "https://fakekvurl.vault.azure.net/certificates/cert32395596731?api-version=7.3-preview",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        ":authority": "localhost:5001",
        ":method": "DELETE",
        ":path": "/certificates/cert32395596731?api-version=7.3-preview",
        ":scheme": "https",
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "recoveryId": "https://fakekvurl.vault.azure.net/deletedcertificates/cert32395596731",
        "deletedDate": 1641591261,
        "scheduledPurgeDate": 1642196061,
        "id": "https://fakekvurl.vault.azure.net/certificates/cert32395596731/a315082aa4d5459a8e6d1c0005377014",
        "kid": "https://fakekvurl.vault.azure.net/keys/cert32395596731/a315082aa4d5459a8e6d1c0005377014",
        "sid": "https://fakekvurl.vault.azure.net/secrets/cert32395596731/a315082aa4d5459a8e6d1c0005377014",
        "x5t": "yblPmIZDy-3AXgyf-5fZaZyMYzM",
        "cer": "MIIDNjCCAh6gAwIBAgIQaFNQe4S1Se29jcs6DNg1oTANBgkqhkiG9w0BAQsFADAYMRYwFAYDVQQDEw1EZWZhdWx0UG9saWN5MB4XDTIyMDEwNzIxMjQxNFoXDTIzMDEwNzIxMzQxNFowGDEWMBQGA1UEAxMNRGVmYXVsdFBvbGljeTCCASIwDQYJKoZIhvcNAQEBBQADggEPADCCAQoCggEBAMedHFLZBM5z8Ks\u002BjrROMvc5qx1JO6W7N9hnkbG9Z\u002BzcWBo/gJ6zJxx/G9N4n4T2OgxZCfX1mGIUwQgLbYIU0CCjvKrIM5w0zvNiXTdGW6r4kznm\u002BQgfW1qzic5V9AKc6yfeBr\u002B4IlOv2xb\u002BBgNDCyLS2dnGS1gN9xBME6M1PVse0xUbc5thaXoTeufwZ0p6v39il422HseD8RBdpTngxep2zJ\u002BsMfEIQyzvzro3Gha4nkYyesCBEta3u727[...]
    {
      "RequestUri": "https://fakekvurl.vault.azure.net/deletedcertificates/cert32395596731?api-version=7.3-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        ":authority": "localhost:5001",
        ":method": "GET",
        ":path": "/deletedcertificates/cert32395596731?api-version=7.3-preview",
        ":scheme": "https",
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "error": {
          "code": "CertificateNotFound",
          "message": "Deleted Certificate not found: cert32395596731"
        }
      }
    },
[...]
    {
      "RequestUri": "https://fakekvurl.vault.azure.net/deletedcertificates/cert02395596731?api-version=7.3-preview",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        ":authority": "localhost:5001",
        ":method": "DELETE",
        ":path": "/deletedcertificates/cert02395596731?api-version=7.3-preview",
        ":scheme": "https",
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
      },
      "ResponseBody": null
    }
  ],
  "Variables": {}
}
