{
  "Entries": [
    {
      "RequestUri": "https://fakekvurl.vault.azure.net/certificates/cert3943821326/create?api-version=7.3-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        ":method": "POST"
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\u0022https://login.windows.net/00000000-0000-0000-0000-000000000000\u0022, resource=\u0022https://vault.azure.net\u0022"
      },
      "ResponseBody": {
        "error": {
          "code": "Unauthorized",
          "message": "AKV10000: Request is missing a Bearer or PoP token."
        }
      }
    },
    {
      "RequestUri": "https://fakekvurl.vault.azure.net/certificates/cert3943821326/create?api-version=7.3-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        ":method": "POST",
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "policy": {
          "issuer": {
            "name": "Self"
          },
          "x509_props": {
            "sans": {},
            "subject": "CN=DefaultPolicy"
          }
        }
      },
      "StatusCode": 202,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "Location": "https://fakekvurl.vault.azure.net/certificates/cert3943821326/pending?api-version=7.3-preview\u0026request_id=1e41676b61e848098a20ff3c2e05fa85",
        "Retry-After": "10"
      },
      "ResponseBody": {
        "id": "https://fakekvurl.vault.azure.net/certificates/cert3943821326/pending",
        "issuer": {
          "name": "Self"
        },
        "csr": "MIICqDCCAZACAQAwGDEWMBQGA1UEAxMNRGVmYXVsdFBvbGljeTCCASIwDQYJKoZIhvcNAQEBBQADggEPADCCAQoCggEBALmQtCVYUZGHR74nKi\u002B1nW5hQcYR2R/W8GfF6tcLQsgaJNA8PG9OlqfvDdxqcLC6kDAVlZoF76KvrftInCmMWS4vRE3fdqcstvHT4xo/KTefmkh77mc47lKCvMXhIHlMnFz\u002BE4BEWyvcpe\u002BhHBEzkwuNKQ0bW7poUXtFWhQgrjcFWmtUNUSUqg3rZk4NEHXkiYZ746/F7XzqlX8xon1n5oFH9TWca12A/hOx3QA1k7Cs6LO\u002B201k9Qxug5JyWD\u002BZZYy7HNTCqJvmfELHFnZYjA9FUK6vdhduKy3cXIcrUITLvAZmN8DmuJgHh1bMHZIq9s9jmiRKJbkKfgRg/a3FiyECAwEAAaBLMEkGCSqGSIb3DQEJDjE8MDowDgYDVR0PAQH/BAQDAgWgMB0GA1UdJQQWMBQGCCsGAQUFBwMBBggrBgEFBQcDAjAJBgNVHRMEAjAAMA0GCSqGSIb3DQEBCwUAA4IBAQCLpd9FhtFQ835AXc5REWk8\u002BB14qrmLyhfuihM7I4kBeEHeeESX17otqP3RJMy7pFlL3QCpy4eKby/nC2x5w2OvQcOq9DwHxtkFxz3e2JVO5F2vfg555asdMq5dtUNyUVTKzcKPtGyRI\u002BBriT94RZ1uKAR76m4fh/UvQMPQpvK4LpfVtCvuvxpdJnqYrqUO40s6PYECK\u002BnfTJfbFKcUtYXxBATBvKCUMHXB6\u002Bm1LApETYtMwloDWLM8S6IWU6agrB3LjWDfRklOq7RrReElzR6SHrLgocpZdwMjVoxpOO2Re75NlHyDhT/mcHdVHG\u002BTwJwnHfD6x/4GXsSg8JNM5AY4",
        "cancellation_requested": false,
        "status": "inProgress",
        "status_details": "Pending certificate created. Certificate request is in progress. This may take some time based on the issuer provider. Please check again later.",
        "request_id": "1e41676b61e848098a20ff3c2e05fa85"
      }
    },
    {
      "RequestUri": "https://fakekvurl.vault.azure.net/certificates/cert3943821326/?api-version=7.3-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        ":method": "GET",
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "id": "https://fakekvurl.vault.azure.net/certificates/cert3943821326/c16b3e3464224f17a2dd64eafbc6fbef",
        "attributes": {
          "enabled": false,
          "nbf": 1643385133,
          "exp": 1674921733,
          "created": 1643385733,
          "updated": 1643385733,
          "recoveryLevel": "CustomizedRecoverable\u002BPurgeable",
          "recoverableDays": 7
        },
        "policy": {
          "id": "https://fakekvurl.vault.azure.net/certificates/cert3943821326/policy",
          "key_props": {
            "exportable": true,
            "kty": "RSA",
            "key_size": 2048,
            "reuse_key": false
          },
          "secret_props": {
            "contentType": "application/x-pkcs12"
          },
          "x509_props": {
            "subject": "CN=DefaultPolicy",
            "sans": {},
            "ekus": [
              "1.3.6.1.5.5.7.3.1",
              "1.3.6.1.5.5.7.3.2"
            ],
            "key_usage": [
              "digitalSignature",
              "keyEncipherment"
            ],
            "validity_months": 12,
            "basic_constraints": {
              "ca": false
            }
          },
          "lifetime_actions": [
            {
              "trigger": {
                "lifetime_percentage": 80
              },
              "action": {
                "action_type": "AutoRenew"
              }
            }
          ],
          "issuer": {
            "name": "Self"
          },
          "attributes": {
            "enabled": true,
            "created": 1643385733,
            "updated": 1643385733
          }
        },
        "pending": {
          "id": "https://fakekvurl.vault.azure.net/certificates/cert3943821326/pending"
        }
      }
    },
    {
      "RequestUri": "https://fakekvurl.vault.azure.net/certificates/cert3943821326?api-version=7.3-preview",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "recoveryId": "https://fakekvurl.vault.azure.net/deletedcertificates/cert3943821326",
        "deletedDate": 1643385733,
        "scheduledPurgeDate": 1643990533,
        "id": "https://fakekvurl.vault.azure.net/certificates/cert3943821326/c16b3e3464224f17a2dd64eafbc6fbef",
        "attributes": {
          "enabled": false,
          "nbf": 1643385133,
          "exp": 1674921733,
          "created": 1643385733,
          "updated": 1643385733,
          "recoveryLevel": "CustomizedRecoverable\u002BPurgeable",
          "recoverableDays": 7
        },
        "policy": {
          "id": "https://fakekvurl.vault.azure.net/certificates/cert39[...]
    {
      "RequestUri": "https://fakekvurl.vault.azure.net/deletedcertificates/cert3943821326?api-version=7.3-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        ":method": "GET",
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "error": {
          "code": "CertificateNotFound",
          "message": "Deleted Certificate not found: cert3943821326"
        }
      }
    },
[...]
    {
      "RequestUri": "https://fakekvurl.vault.azure.net/deletedcertificates/cert3943821326?api-version=7.3-preview",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
      },
      "ResponseBody": null
    }
  ],
  "Variables": {}
}
