{
  "Entries": [
    {
      "RequestUri": "https://fakekvurl.vault.azure.net/certificates/cert12124965311/create?api-version=7.3",
      "RequestMethod": "POST",
      "RequestHeaders": {
        ":method": "POST"
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\u0022https://login.windows.net/00000000-0000-0000-0000-000000000000\u0022, resource=\u0022https://vault.azure.net\u0022"
      },
      "ResponseBody": {
        "error": {
          "code": "Unauthorized",
          "message": "AKV10000: Request is missing a Bearer or PoP token."
        }
      }
    },
    {
      "RequestUri": "https://fakekvurl.vault.azure.net/certificates/cert12124965311/create?api-version=7.3",
      "RequestMethod": "POST",
      "RequestHeaders": {
        ":method": "POST",
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "attributes": {},
        "policy": {
          "issuer": {
            "name": "Self"
          },
          "secret_props": {},
          "x509_props": {
            "sans": {},
            "subject": "CN=DefaultPolicy"
          }
        }
      },
      "StatusCode": 202,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "Location": "https://fakekvurl.vault.azure.net/certificates/cert12124965311/pending?api-version=7.3\u0026request_id=d37675c780b847238cb368a19d839479",
        "Retry-After": "10"
      },
      "ResponseBody": {
        "id": "https://fakekvurl.vault.azure.net/certificates/cert12124965311/pending",
        "issuer": {
          "name": "Self"
        },
        "csr": "MIICqDCCAZACAQAwGDEWMBQGA1UEAxMNRGVmYXVsdFBvbGljeTCCASIwDQYJKoZIhvcNAQEBBQADggEPADCCAQoCggEBAMvppU/9wa9z6jk6f1Nv5v4ER1p\u002Bz5Dp73KqflqU0U9/FYQCKht1g0RNibwH65peG7kOsUjMNtMd2Y\u002BhgJ3Z6aDxQVFmm2NwJiUMf1vFPtnQD1UjeRDMEr44P9IyZV74ADCJmLmkLJg001m01IqVwCyYrzea7YEeCGZteBHN7OOZp1ltaPYZck\u002Bi9usZrTL4wV7ZgeBvHoJpiHYOiT1iHYng\u002Bv93ZZRxG4Lgz4nqWmgIWOsjmVyXyyGMOIOtAG5fgd2pL3xVd9JNIHZf\u002BM\u002BhqNrAj/jYjgnL757nxW1XyeSOGPfxb7P5J6VPmtGDb/YHRbbaEoBrcUQpeQC0zGKopHUCAwEAAaBLMEkGCSqGSIb3DQEJDjE8MDowDgYDVR0PAQH/BAQDAgWgMB0GA1UdJQQWMBQGCCsGAQUFBwMBBggrBgEFBQcDAjAJBgNVHRMEAjAAMA0GCSqGSIb3DQEBCwUAA4IBAQCYLaIxOu8sOXe8hSHQ5BbyUxL7b7QSsLot1B8IE48wvesfjAB7PMb8DBWY9Dds63q\u002B\u002Booh4H5aMOwy8XC08QVE7oXQnmibVcqD5CJAjc\u002BrP4edzV/KwSrZ7j\u002BwA59qtYDp\u002BjAKwDAsVhiFgiOQbdiD3IzgatjRTrTzenmI3nXxQemT\u002BJMtE4I1I/vlRMa0mvCXD0uYH6\u002B4zDEtYvmhT0T4Eo7pylKBHcNJ0SKVmbdlkSpiClZaVVjGCnV3Fqj3dXK8xwtpeOEeDPtZTSYz5dVT4ImDfzXs\u002BGhRuUdJJXbcv44CogUM\u002BcdIDkKCAAQkhhhGoZQuPZxYi8520vFvCM4F",
        "cancellation_requested": false,
        "status": "inProgress",
        "status_details": "Pending certificate created. Certificate request is in progress. This may take some time based on the issuer provider. Please check again later.",
        "request_id": "d37675c780b847238cb368a19d839479"
      }
    },
    {
      "RequestUri": "https://fakekvurl.vault.azure.net/certificates/cert12124965311/?api-version=7.3",
      "RequestMethod": "GET",
      "RequestHeaders": {
        ":method": "GET",
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "id": "https://fakekvurl.vault.azure.net/certificates/cert12124965311/7071cc559f7945549423fdfa93b79820",
        "attributes": {
          "enabled": false,
          "nbf": 1648845352,
          "exp": 1680381952,
          "created": 1648845952,
          "updated": 1648845952,
          "recoveryLevel": "CustomizedRecoverable\u002BPurgeable",
          "recoverableDays": 7
        },
        "policy": {
          "id": "https://fakekvurl.vault.azure.net/certificates/cert12124965311/policy",
          "key_props": {
            "exportable": true,
            "kty": "RSA",
            "key_size": 2048,
            "reuse_key": false
          },
          "secret_props": {
            "contentType": "application/x-pkcs12"
          },
          "x509_props": {
            "subject": "CN=DefaultPolicy",
            "sans": {},
            "ekus": [
              "1.3.6.1.5.5.7.3.1",
              "1.3.6.1.5.5.7.3.2"
            ],
            "key_usage": [
              "digitalSignature",
              "keyEncipherment"
            ],
            "validity_months": 12,
            "basic_constraints": {
              "ca": false
            }
          },
          "lifetime_actions": [
            {
              "trigger": {
                "lifetime_percentage": 80
              },
              "action": {
                "action_type": "AutoRenew"
              }
            }
          ],
          "issuer": {
            "name": "Self"
          },
          "attributes": {
            "enabled": true,
            "created": 1648845952,
            "updated": 1648845952
          }
        },
        "pending": {
          "id": "https://fakekvurl.vault.azure.net/certificates/cert12124965311/pending"
        }
      }
    },
    {
      "RequestUri": "https://fakekvurl.vault.azure.net/certificates/cert12124965311/versions?api-version=7.3",
      "RequestMethod": "GET",
      "RequestHeaders": {
        ":method": "GET",
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "value": [
          {
            "id": "https://fakekvurl.vault.azure.net/certificates/cert12124965311/56d37306ea7049ee8baa9b9721c43550",
            "x5t": "zvSskTPYfa2YCUUbmwmrjTcFSE0",
            "attributes": {
              "enabled": true,
              "nbf": 1648845354,
              "exp": 1680381954,
              "created": 1648845954,
              "updated": 1648845954
            },
            "subject": ""
          }
        ],
        "nextLink": null
      }
    },
[...]
    {
      "RequestUri": "https://fakekvurl.vault.azure.net/certificates/cert12124965311/?api-version=7.3",
      "RequestMethod": "GET",
      "RequestHeaders": {
        ":method": "GET",
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "id": "https://fakekvurl.vault.azure.net/certificates/cert12124965311/56d37306ea7049ee8baa9b9721c43550",
        "kid": "https://fakekvurl.vault.azure.net/keys/cert12124965311/56d37306ea7049ee8baa9b9721c43550",
        "sid": "https://fakekvurl.vault.azure.net/secrets/cert12124965311/56d37306ea7049ee8baa9b9721c43550",
        "x5t": "zvSskTPYfa2YCUUbmwmrjTcFSE0",
        "cer": "MIIDNjCCAh6gAwIBAgIQQTCFs71zTn\u002Bu0TYDrJmXdzANBgkqhkiG9w0BAQsFADAYMRYwFAYDVQQDEw1EZWZhdWx0UG9saWN5MB4XDTIyMDQwMTIwMzU1NFoXDTIzMDQwMTIwNDU1NFowGDEWMBQGA1UEAxMNRGVmYXVsdFBvbGljeTCCASIwDQYJKoZIhvcNAQEBBQADggEPADCCAQoCggEBAMvppU/9wa9z6jk6f1Nv5v4ER1p\u002Bz5Dp73KqflqU0U9/FYQCKht1g0RNibwH65peG7kOsUjMNtMd2Y\u002BhgJ3Z6aDxQVFmm2NwJiUMf1vFPtnQD1UjeRDMEr44P9IyZV74ADCJmLmkLJg001m01IqVwCyYrzea7YEeCGZteBHN7OOZp1ltaPYZck\u002Bi9usZrTL4wV7ZgeBvHoJpiHYOiT1iHYng\u002Bv93ZZRxG4Lgz4nqWmgIWOsjmVyXyyGMOIOtAG5fg[...]
[...]
    {
      "RequestUri": "https://fakekvurl.vault.azure.net/certificates/cert12124965311?api-version=7.3",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "recoveryId": "https://fakekvurl.vault.azure.net/deletedcertificates/cert12124965311",
        "deletedDate": 1648845984,
        "scheduledPurgeDate": 1649450784,
        "id": "https://fakekvurl.vault.azure.net/certificates/cert12124965311/2ea5b62c13fe41069dcd1e244d68f741",
        "kid": "https://fakekvurl.vault.azure.net/keys/cert12124965311/2ea5b62c13fe41069dcd1e244d68f741",
        "sid": "https://fakekvurl.vault.azure.net/secrets/cert12124965311/2ea5b62c13fe41069dcd1e244d68f741",
        "x5t": "ZJ9cdkbTaqq2SWSC5QDfs4eNQXw",
        "cer": "MIIDNjCCAh6gAwIBAgIQbrLCVy3wQlyEcxJXCY\u002BcHTANBgkqhkiG9w0BAQsFADAYMRYwFAYDVQQDEw1EZWZhdWx0UG9s[...]
    {
      "RequestUri": "https://fakekvurl.vault.azure.net/deletedcertificates/cert12124965311?api-version=7.3",
      "RequestMethod": "GET",
      "RequestHeaders": {
        ":method": "GET",
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "error": {
          "code": "CertificateNotFound",
          "message": "Deleted Certificate not found: cert12124965311"
        }
      }
    },
[...]
    {
      "RequestUri": "https://fakekvurl.vault.azure.net/deletedcertificates/cert12124965311?api-version=7.3",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
      },
      "ResponseBody": null
    }
  ],
  "Variables": {}
}
