{
  "Entries": [
    {
      "RequestUri": "https://fakekvurl.vault.azure.net/certificates/policyCertificate2501526751/create?api-version=7.3-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        ":method": "POST"
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\u0022https://login.windows.net/00000000-0000-0000-0000-000000000000\u0022, resource=\u0022https://vault.azure.net\u0022"
      },
      "ResponseBody": {
        "error": {
          "code": "Unauthorized",
          "message": "AKV10000: Request is missing a Bearer or PoP token."
        }
      }
    },
    {
      "RequestUri": "https://fakekvurl.vault.azure.net/certificates/policyCertificate2501526751/create?api-version=7.3-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        ":method": "POST",
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "policy": {
          "issuer": {
            "cert_transparency": false,
            "name": "Self"
          },
          "key_props": {
            "exportable": true,
            "key_size": 2048,
            "kty": "RSA",
            "reuse_key": true
          },
          "lifetime_actions": [
            {
              "action": {
                "action_type": "EmailContacts"
              },
              "trigger": {
                "lifetime_percentage": 98
              }
            }
          ],
          "secret_props": {
            "contentType": "application/x-pkcs12"
          },
          "x509_props": {
            "ekus": [
              "1.3.6.1.5.5.7.3.1",
              "1.3.6.1.5.5.7.3.2"
            ],
            "key_usage": [
              "decipherOnly"
            ],
            "sans": {
              "dns_names": [
                "sdk.azure-int.net"
              ]
            },
            "subject": "CN=DefaultPolicy",
            "validity_months": 12
          }
        }
      },
      "StatusCode": 202,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "Location": "https://fakekvurl.vault.azure.net/certificates/policyCertificate2501526751/pending?api-version=7.3-preview\u0026request_id=c33c65a24bec481bbb08e600248f16c1",
        "Retry-After": "10"
      },
      "ResponseBody": {
        "id": "https://fakekvurl.vault.azure.net/certificates/policyCertificate2501526751/pending",
        "issuer": {
          "name": "Self"
        },
        "csr": "MIICxzCCAa8CAQAwGDEWMBQGA1UEAxMNRGVmYXVsdFBvbGljeTCCASIwDQYJKoZIhvcNAQEBBQADggEPADCCAQoCggEBAKr9RDZf2BWahFw0m38gDddvb4PghAHHFF57eeHA3518qQ9Af4WnSZ5a7vCNOnMVD4FyNUpII4MZEnP3q7/SAbx1UPU2u08\u002BwtL04Q7BE64\u002Bx/sXelfPRMPQw3EBJcDmDUhpn0g4HZVjh6A5H1j/cUCaXT7kIJuSNQPec7nEeX3w0s8rlyCyWvCFGih3w3fb22cJcymWU\u002BfxgYjb/HSdWaUPSsu3BUSk4GKgD/M/5nxY8Bu3PbdULRlJw5EU4hsmjMVzVmFFQDOt9szKt\u002Bp\u002B\u002BPQFtA2ji7aICBenM4LEYLA0ix72ALhYBZ3cdqW61TaAX/Lm1/zU90gSDwb\u002BCPlemK0CAwEAAaBqMGgGCSqGSIb3DQEJDjFbMFkwDwYDVR0PAQH/BAUDAwcAgDAdBgNVHSUEFjAUBggrBgEFBQcDAQYIKwYBBQUHAwIwHAYDVR0RBBUwE4IRc2RrLmF6dXJlLWludC5uZXQwCQYDVR0TBAIwADANBgkqhkiG9w0BAQsFAAOCAQEAO4gQoSXKXRDpQuI7x\u002BTf9Ejuo0ay2mCFnVW65QOyxzxX46BrPHcZHC\u002BHqKXwGfV2j60nLLpKdcUF4hPbCpEggHcrtnbKqUVtFFn6QkUnltTTxhdAOqXPpzqzcxxcn8qvnLaSzbA003lVVAOKEVJqQ/EvwjIj5fhEMiU734P2phetaxTcD7fxyPysHckm9nqP\u002BVrRrx5WOD90pcBt/6sgogHzI8Y1foumLw0XdpcPzP6/9RdPUhc5xd1LGFXTuDNiNqu3X2X2av5iY3zDrp9J04whfayVu9Cmq6ls3\u002BSf/Xb8jkKhyX7Hx8pllXTUMJ29QNsUOyux7G0hUz7cl\u002BLBgw==",
        "cancellation_requested": false,
        "status": "inProgress",
        "status_details": "Pending certificate created. Certificate request is in progress. This may take some time based on the issuer provider. Please check again later.",
        "request_id": "c33c65a24bec481bbb08e600248f16c1"
      }
    },
    {
      "RequestUri": "https://fakekvurl.vault.azure.net/certificates/policyCertificate2501526751/policy?api-version=7.3-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        ":method": "GET",
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "id": "https://fakekvurl.vault.azure.net/certificates/policyCertificate2501526751/policy",
        "key_props": {
          "exportable": true,
          "kty": "RSA",
          "key_size": 2048,
          "reuse_key": true
        },
        "secret_props": {
          "contentType": "application/x-pkcs12"
        },
        "x509_props": {
          "subject": "CN=DefaultPolicy",
          "sans": {
            "dns_names": [
              "sdk.azure-int.net"
            ]
          },
          "ekus": [
            "1.3.6.1.5.5.7.3.1",
            "1.3.6.1.5.5.7.3.2"
          ],
          "key_usage": [
            "decipherOnly"
          ],
          "validity_months": 12,
          "basic_constraints": {
            "ca": false
          }
        },
        "lifetime_actions": [
          {
            "trigger": {
              "lifetime_percentage": 98
            },
            "action": {
              "action_type": "EmailContacts"
            }
          }
        ],
        "issuer": {
          "name": "Self",
          "cert_transparency": false
        },
        "attributes": {
          "enabled": true,
          "created": 1643667225,
          "updated": 1643667225
        }
      }
    },
    {
      "RequestUri": "https://fakekvurl.vault.azure.net/certificates/policyCertificate2501526751/policy?api-version=7.3-preview",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "issuer": {
          "cert_transparency": false,
          "name": "Self"
        },
        "key_props": {
          "crv": "P-256",
          "exportable": true,
          "key_size": 256,
          "kty": "EC",
          "reuse_key": true
        },
        "lifetime_actions": [
          {
            "action": {
              "action_type": "EmailContacts"
            },
            "trigger": {
              "lifetime_percentage": 98
            }
          }
        ],
        "secret_props": {
          "contentType": "application/x-pkcs12"
        },
        "x509_props": {
          "ekus": [
            "1[...]
