{
  "Entries": [
    {
      "RequestUri": "https://fakekvurl.vault.azure.net/certificates/policyCertificate2501526751/create?api-version=7.3-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        ":authority": "localhost:5001",
        ":method": "POST",
        ":path": "/certificates/policyCertificate2501526751/create?api-version=7.3-preview",
        ":scheme": "https",
        "Content-Type": "application/json"
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\u0022https://login.windows.net/00000000-0000-0000-0000-000000000000\u0022, resource=\u0022https://vault.azure.net\u0022"
      },
      "ResponseBody": {
        "error": {
          "code": "Unauthorized",
          "message": "AKV10000: Request is missing a Bearer or PoP token."
        }
      }
    },
    {
      "RequestUri": "https://fakekvurl.vault.azure.net/certificates/policyCertificate2501526751/create?api-version=7.3-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        ":authority": "localhost:5001",
        ":method": "POST",
        ":path": "/certificates/policyCertificate2501526751/create?api-version=7.3-preview",
        ":scheme": "https",
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "policy": {
          "issuer": {
            "cert_transparency": false,
            "name": "Self"
          },
          "key_props": {
            "exportable": true,
            "key_size": 2048,
            "kty": "RSA",
            "reuse_key": true
          },
          "lifetime_actions": [
            {
              "action": {
                "action_type": "EmailContacts"
              },
              "trigger": {
                "lifetime_percentage": 98
              }
            }
          ],
          "secret_props": {
            "contentType": "application/x-pkcs12"
          },
          "x509_props": {
            "ekus": [
              "1.3.6.1.5.5.7.3.1",
              "1.3.6.1.5.5.7.3.2"
            ],
            "key_usage": [
              "decipherOnly"
            ],
            "sans": {
              "dns_names": [
                "sdk.azure-int.net"
              ]
            },
            "subject": "CN=DefaultPolicy",
            "validity_months": 12
          }
        }
      },
      "StatusCode": 202,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "Location": "https://fakekvurl.vault.azure.net/certificates/policyCertificate2501526751/pending?api-version=7.3-preview\u0026request_id=0e2b0a0b589d47039d3bf19218f62b09",
        "Retry-After": "10"
      },
      "ResponseBody": {
        "id": "https://fakekvurl.vault.azure.net/certificates/policyCertificate2501526751/pending",
        "issuer": {
          "name": "Self"
        },
        "csr": "MIICxzCCAa8CAQAwGDEWMBQGA1UEAxMNRGVmYXVsdFBvbGljeTCCASIwDQYJKoZIhvcNAQEBBQADggEPADCCAQoCggEBAPC7nxQxMLCbNme6cyuhAeYu9AsApJaf7M/99bqZn394mrIsn7q6FFhhoHsC40/MS2oePorrtK7seiLO6OFBdxkmYYbAx74Gy20BkExGzP8a\u002BxV7liJspCJZDz7COdooCHrtT8WIUwadiP1An506BRXH/xEUtK3jAPSjcW3GR2Xb6B5OvNapP5cvRmEbyqqsmekgeX6EWEt8zH6CXznJixgRidqeKC4pTKNXmWrP7KR4YEu5feUHQ4hIiUVma4sx8\u002BZ2DyVF6n7Wa8euaZ5nS8TY2m6fc0W5LbyU1pGlOlGcCAEkTwabKIKZpHizaZ9LtfDU7tB7fKNNajUc/rB9uN0CAwEAAaBqMGgGCSqGSIb3DQEJDjFbMFkwDwYDVR0PAQH/BAUDAwcAgDAdBgNVHSUEFjAUBggrBgEFBQcDAQYIKwYBBQUHAwIwHAYDVR0RBBUwE4IRc2RrLmF6dXJlLWludC5uZXQwCQYDVR0TBAIwADANBgkqhkiG9w0BAQsFAAOCAQEAw6ZPeiuy2Ng\u002BBcBchDlBDKcD99BQzyct1QZHeql0pkHgs05O98ki1uIjCT4TkNTVsgn8Sz9tXKw3USSUaTUJVu736E1HrH42eBUMBkoi\u002BgXlX5nlaxYUlNA9OJturK60UfNoOodpxoyO7P7UKkhfRRyO0UYohGRAWFCFOioDOzSAtOlOvgeKuiw4Bedlb9NLOQzjwXv5\u002BRzPcjLwjGZQy02rkq/Gyit63rO1UCyJtwOwOC7i1ph7FeFMT9q03BswMFlK0lwP\u002BDyALiKgWO/GEpQ0r5SpLB0BOUIx858kMvA0baaY7m14/IJa/p1d7Q7rKAorS1H\u002B2p/0ePZFfSwQJg==",
        "cancellation_requested": false,
        "status": "inProgress",
        "status_details": "Pending certificate created. Certificate request is in progress. This may take some time based on the issuer provider. Please check again later.",
        "request_id": "0e2b0a0b589d47039d3bf19218f62b09"
      }
    },
    {
      "RequestUri": "https://fakekvurl.vault.azure.net/certificates/policyCertificate2501526751/policy?api-version=7.3-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        ":authority": "localhost:5001",
        ":method": "GET",
        ":path": "/certificates/policyCertificate2501526751/policy?api-version=7.3-preview",
        ":scheme": "https",
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "id": "https://fakekvurl.vault.azure.net/certificates/policyCertificate2501526751/policy",
        "key_props": {
          "exportable": true,
          "kty": "RSA",
          "key_size": 2048,
          "reuse_key": true
        },
        "secret_props": {
          "contentType": "application/x-pkcs12"
        },
        "x509_props": {
          "subject": "CN=DefaultPolicy",
          "sans": {
            "dns_names": [
              "sdk.azure-int.net"
            ]
          },
          "ekus": [
            "1.3.6.1.5.5.7.3.1",
            "1.3.6.1.5.5.7.3.2"
          ],
          "key_usage": [
            "decipherOnly"
          ],
          "validity_months": 12,
          "basic_constraints": {
            "ca": false
          }
        },
        "lifetime_actions": [
          {
            "trigger": {
              "lifetime_percentage": 98
            },
            "action": {
              "action_type": "EmailContacts"
            }
          }
        ],
        "issuer": {
          "name": "Self",
          "cert_transparency": false
        },
        "attributes": {
          "enabled": true,
          "created": 1642097011,
          "updated": 1642097011
        }
      }
    },
    {
      "RequestUri": "https://fakekvurl.vault.azure.net/certificates/policyCertificate2501526751/policy?api-version=7.3-preview",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        ":authority": "localhost:5001",
        ":method": "PATCH",
        ":path": "/certificates/policyCertificate2501526751/policy?api-version=7.3-preview",
        ":scheme": "https",
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "issuer": {
          "cert_transparency": false,
          "name": "Self"
        },
        "key_props": {
          "crv": "P-256",
          "exportable": true,
          "key_size": 256,
          "kty": "EC",
          "reuse_key": true
        },
        "lifetime_actions": [
          {
            "action": {
              "action_type": "EmailContacts"
            },
            "trigger": {
              "lifetime_percentage": 98
            }
          }
        ],
        "secret_props": {
          "contentType": "application/x-pkcs12"
        },
        "x509_props": {
          "ekus": [
            "1[...]
