{
  "Entries": [
    {
      "RequestUri": "https://fakekvurl.vault.azure.net/certificates/issuers/issuer3351460800?api-version=7.3-preview",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\u0022https://login.windows.net/00000000-0000-0000-0000-000000000000\u0022, resource=\u0022https://vault.azure.net\u0022"
      },
      "ResponseBody": {
        "error": {
          "code": "Unauthorized",
          "message": "AKV10000: Request is missing a Bearer or PoP token."
        }
      }
    },
    {
      "RequestUri": "https://fakekvurl.vault.azure.net/certificates/issuers/issuer3351460800?api-version=7.3-preview",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "provider": "Test",
        "attributes": {
          "enabled": true
        },
        "credentials": {
          "account_id": "keyvaultuser"
        },
        "org_details": {
          "admin_details": [
            {
              "email": "admin@microsoft.com",
              "first_name": "John",
              "last_name": "Doe",
              "phone": "4255555555"
            }
          ]
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "id": "https://fakekvurl.vault.azure.net/certificates/issuers/issuer3351460800",
        "provider": "Test",
        "credentials": {
          "account_id": "keyvaultuser"
        },
        "org_details": {
          "zip": 0,
          "admin_details": [
            {
              "first_name": "John",
              "last_name": "Doe",
              "email": "admin@microsoft.com",
              "phone": "4255555555"
            }
          ]
        },
        "attributes": {
          "enabled": true,
          "created": 1643305264,
          "updated": 1643305264
        }
      }
    },
[...]
    {
      "RequestUri": "https://fakekvurl.vault.azure.net/certificates/issuers?api-version=7.3-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        ":method": "GET",
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "value": [
          {
            "id": "https://fakekvurl.vault.azure.net/certificates/issuers/issuer23351460800",
            "provider": "Test"
          },
          {
            "id": "https://fakekvurl.vault.azure.net/certificates/issuers/issuer3351460800",
            "provider": "Test"
          }
        ],
        "nextLink": null
      }
    },
[...]
    {
      "RequestUri": "https://fakekvurl.vault.azure.net/certificates/issuers/issuer3351460800?api-version=7.3-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        ":method": "GET",
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "error": {
          "code": "CertificateIssuerNotFound",
          "message": "Issuer not found"
        }
      }
    }
  ],
  "Variables": {}
}
