{
  "Entries": [
    {
      "RequestUri": "https://fakekvurl.vault.azure.net/certificates/certRecover634943320/create?api-version=7.3-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        ":method": "POST"
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\u0022https://login.windows.net/00000000-0000-0000-0000-000000000000\u0022, resource=\u0022https://vault.azure.net\u0022"
      },
      "ResponseBody": {
        "error": {
          "code": "Unauthorized",
          "message": "AKV10000: Request is missing a Bearer or PoP token."
        }
      }
    },
    {
      "RequestUri": "https://fakekvurl.vault.azure.net/certificates/certRecover634943320/create?api-version=7.3-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        ":method": "POST",
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "policy": {
          "issuer": {
            "name": "Self"
          },
          "x509_props": {
            "sans": {},
            "subject": "CN=DefaultPolicy"
          }
        }
      },
      "StatusCode": 202,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "Location": "https://fakekvurl.vault.azure.net/certificates/certRecover634943320/pending?api-version=7.3-preview\u0026request_id=e816b29538ec4fe99e9b57dd31acd307",
        "Retry-After": "10"
      },
      "ResponseBody": {
        "id": "https://fakekvurl.vault.azure.net/certificates/certRecover634943320/pending",
        "issuer": {
          "name": "Self"
        },
        "csr": "MIICqDCCAZACAQAwGDEWMBQGA1UEAxMNRGVmYXVsdFBvbGljeTCCASIwDQYJKoZIhvcNAQEBBQADggEPADCCAQoCggEBAMkwjosC\u002BVAh5Mepl0rE49umDv2ZHgCBC0/9V3yQqMiBQsOER5EkkTyUtdXJAQsjJpW\u002BAuWTmBODcLyVjHDYy9mJXsGk81c7Ge8OG7e1oAcGsoxpYJxJ9HeXnPwfUN7VTbahae/B2OyBkXy1hroVIB3VjybRpDrSxHQF/7Wdma3bS8AR2dtrH2jCN6jYOEyr6lba/BpNamNyAw0I8shZgdeQ4pl58X4rQIFWPOqoEWZ85L4\u002B5TziRC6GBXiihm08syNU7Guu9qaW9Pttrnud16zuHe5A2UwDDQQb6vPtpLQ72unzNgOoMbysbOyD/ydu6SjhBTn17SLrlXafugvf94UCAwEAAaBLMEkGCSqGSIb3DQEJDjE8MDowDgYDVR0PAQH/BAQDAgWgMB0GA1UdJQQWMBQGCCsGAQUFBwMBBggrBgEFBQcDAjAJBgNVHRMEAjAAMA0GCSqGSIb3DQEBCwUAA4IBAQC1qwrIECmZdbAuNiJB6OTu9VM/LyCORU6/TyiKIKU5wFrKsKe1bGM8ZxQuflNvwzBX/iSu0eIN73p3yq\u002B36i6otD5DLH973\u002BrVxgX7We5w10Db\u002Bq06FwRcmzqBeyfPb3hHXODJdagWGoP\u002B42a9tvMQwxpp1JZLIB6gqx1ARu4LK\u002Btpx4iNhhANJWo1r6LmN7skSp6QodYMkRcfx65OJeWawyuxSmanh8LnUlFAPWDCXColKjAiUNHEjwJtr7Tz2/AfvVLFCFHaYFwwYM68xWToyczhcQW86JK3atUQFvFogWC2gRf1kaO/TSLVyKGio18w3N/FqJlkOzRuValMpyFB",
        "cancellation_requested": false,
        "status": "inProgress",
        "status_details": "Pending certificate created. Certificate request is in progress. This may take some time based on the issuer provider. Please check again later.",
        "request_id": "e816b29538ec4fe99e9b57dd31acd307"
      }
    },
    {
      "RequestUri": "https://fakekvurl.vault.azure.net/certificates/certRecover634943320/?api-version=7.3-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        ":method": "GET",
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "id": "https://fakekvurl.vault.azure.net/certificates/certRecover634943320/632c52a94ed647e881f8d7c4da1eafec",
        "attributes": {
          "enabled": false,
          "nbf": 1643385223,
          "exp": 1674921823,
          "created": 1643385824,
          "updated": 1643385824,
          "recoveryLevel": "CustomizedRecoverable\u002BPurgeable",
          "recoverableDays": 7
        },
        "policy": {
          "id": "https://fakekvurl.vault.azure.net/certificates/certRecover634943320/policy",
          "key_props": {
            "exportable": true,
            "kty": "RSA",
            "key_size": 2048,
            "reuse_key": false
          },
          "secret_props": {
            "contentType": "application/x-pkcs12"
          },
          "x509_props": {
            "subject": "CN=DefaultPolicy",
            "sans": {},
            "ekus": [
              "1.3.6.1.5.5.7.3.1",
              "1.3.6.1.5.5.7.3.2"
            ],
            "key_usage": [
              "digitalSignature",
              "keyEncipherment"
            ],
            "validity_months": 12,
            "basic_constraints": {
              "ca": false
            }
          },
          "lifetime_actions": [
            {
              "trigger": {
                "lifetime_percentage": 80
              },
              "action": {
                "action_type": "AutoRenew"
              }
            }
          ],
          "issuer": {
            "name": "Self"
          },
          "attributes": {
            "enabled": true,
            "created": 1643385824,
            "updated": 1643385824
          }
        },
        "pending": {
          "id": "https://fakekvurl.vault.azure.net/certificates/certRecover634943320/pending"
        }
      }
    },
    {
      "RequestUri": "https://fakekvurl.vault.azure.net/certificates/certRecover634943320?api-version=7.3-preview",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "recoveryId": "https://fakekvurl.vault.azure.net/deletedcertificates/certRecover634943320",
        "deletedDate": 1643385824,
        "scheduledPurgeDate": 1643990624,
        "id": "https://fakekvurl.vault.azure.net/certificates/certRecover634943320/632c52a94ed647e881f8d7c4da1eafec",
        "attributes": {
          "enabled": false,
          "nbf": 1643385223,
          "exp": 1674921823,
          "created": 1643385824,
          "updated": 1643385824,
          "recoveryLevel": "CustomizedRecoverable\u002BPurgeable",
          "recoverableDays": 7
        },
        "policy": {
          "id": "https://fakekvurl.vault.azure.net/certificates/[...]
    {
      "RequestUri": "https://fakekvurl.vault.azure.net/deletedcertificates/certRecover634943320?api-version=7.3-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        ":method": "GET",
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "error": {
          "code": "CertificateNotFound",
          "message": "Deleted Certificate not found: certRecover634943320"
        }
      }
    },
[...]
    {
      "RequestUri": "https://fakekvurl.vault.azure.net/deletedcertificates/certRecover634943320/recover?api-version=7.3-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        ":method": "POST",
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "id": "https://fakekvurl.vault.azure.net/certificates/ce[...]
[...]
    {
      "RequestUri": "https://fakekvurl.vault.azure.net/deletedcertificates/certRecover634943320?api-version=7.3-preview",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
      },
      "ResponseBody": null
    }
  ],
  "Variables": {}
}
