{
  "Entries": [
    {
      "RequestUri": "https://fakekvurl.vault.azure.net/certificates/certRecover634943320/create?api-version=7.3-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        ":method": "POST"
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\u0022https://login.windows.net/00000000-0000-0000-0000-000000000000\u0022, resource=\u0022https://vault.azure.net\u0022"
      },
      "ResponseBody": {
        "error": {
          "code": "Unauthorized",
          "message": "AKV10000: Request is missing a Bearer or PoP token."
        }
      }
    },
    {
      "RequestUri": "https://fakekvurl.vault.azure.net/certificates/certRecover634943320/create?api-version=7.3-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        ":method": "POST",
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "policy": {
          "issuer": {
            "name": "Self"
          },
          "x509_props": {
            "sans": {},
            "subject": "CN=DefaultPolicy"
          }
        }
      },
      "StatusCode": 202,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "Location": "https://fakekvurl.vault.azure.net/certificates/certRecover634943320/pending?api-version=7.3-preview\u0026request_id=ce775fc7c96543ce88824a166e4ad073",
        "Retry-After": "10"
      },
      "ResponseBody": {
        "id": "https://fakekvurl.vault.azure.net/certificates/certRecover634943320/pending",
        "issuer": {
          "name": "Self"
        },
        "csr": "MIICqDCCAZACAQAwGDEWMBQGA1UEAxMNRGVmYXVsdFBvbGljeTCCASIwDQYJKoZIhvcNAQEBBQADggEPADCCAQoCggEBAMUFHOueIBn/vMZkZ0K1J3yz1xTloY1eZ7NyWUQvLjKJOkxixtSBlFPzOSZXsOsRrrnpswbfxUp\u002Bc9n3eAhAdXyPER2xpHp9YUzCRK\u002B6943mXLBl7AgABgvmwnD43JyeeNLgWaIXPjoL\u002Bl1jUUuBehsJCSdP3rzVtr5vtOevbtXYTeODInYNXmjbyX0AAQdDgrwr8NO3IOcb/pRjtOBvc\u002B4txP0iQ4xVlChKJS2unVuiBuo4WNY3mY30fsX2fQJWvvzjrIn10pniGTZn4FHWg5dbKGWtcA/pbeu8rRv1aB8boDVgRMLUu\u002BllQ5sJomKpT\u002BAu4cMIqPl49aP8QJ2Vxc0CAwEAAaBLMEkGCSqGSIb3DQEJDjE8MDowDgYDVR0PAQH/BAQDAgWgMB0GA1UdJQQWMBQGCCsGAQUFBwMBBggrBgEFBQcDAjAJBgNVHRMEAjAAMA0GCSqGSIb3DQEBCwUAA4IBAQCijYJszzNjFjE6vOaQbnsZJ2XrRlq8qXPnSlEgGcYPJXXA6jBMhnd/Vi4B9A/nC32bofngW28o/I6LbonP/JE2TNo9t1GqprnJIS0P7fWL7uVaP/KvawfnhE63XQW5hYRfVP0wXzriPkHVJBApq7JlvRmhMYElZ7NHpAs1y6mAwtu7yNFSb\u002Bc5GE1pnXVV9Xd4GtsSGZChxN9ZNJtnD90iPgDItZ6YcdKXX\u002BZtmqx13MAjONCUOvvJme14BSi\u002BBD1hkKT9718Zsat7uly\u002BvBL1V\u002B\u002BZdGl3gCnV5RCaDcbyoDP\u002BJcqIu0jtiY1TFxEtLxX58wSGLZiktJoFTObLqmgL",
        "cancellation_requested": false,
        "status": "inProgress",
        "status_details": "Pending certificate created. Certificate request is in progress. This may take some time based on the issuer provider. Please check again later.",
        "request_id": "ce775fc7c96543ce88824a166e4ad073"
      }
    },
    {
      "RequestUri": "https://fakekvurl.vault.azure.net/certificates/certRecover634943320/?api-version=7.3-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        ":method": "GET",
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "id": "https://fakekvurl.vault.azure.net/certificates/certRecover634943320/c6515af635a6406fa86d4377e2dee33c",
        "attributes": {
          "enabled": false,
          "nbf": 1643666634,
          "exp": 1675203234,
          "created": 1643667234,
          "updated": 1643667234,
          "recoveryLevel": "CustomizedRecoverable\u002BPurgeable",
          "recoverableDays": 7
        },
        "policy": {
          "id": "https://fakekvurl.vault.azure.net/certificates/certRecover634943320/policy",
          "key_props": {
            "exportable": true,
            "kty": "RSA",
            "key_size": 2048,
            "reuse_key": false
          },
          "secret_props": {
            "contentType": "application/x-pkcs12"
          },
          "x509_props": {
            "subject": "CN=DefaultPolicy",
            "sans": {},
            "ekus": [
              "1.3.6.1.5.5.7.3.1",
              "1.3.6.1.5.5.7.3.2"
            ],
            "key_usage": [
              "digitalSignature",
              "keyEncipherment"
            ],
            "validity_months": 12,
            "basic_constraints": {
              "ca": false
            }
          },
          "lifetime_actions": [
            {
              "trigger": {
                "lifetime_percentage": 80
              },
              "action": {
                "action_type": "AutoRenew"
              }
            }
          ],
          "issuer": {
            "name": "Self"
          },
          "attributes": {
            "enabled": true,
            "created": 1643667234,
            "updated": 1643667234
          }
        },
        "pending": {
          "id": "https://fakekvurl.vault.azure.net/certificates/certRecover634943320/pending"
        }
      }
    },
    {
      "RequestUri": "https://fakekvurl.vault.azure.net/certificates/certRecover634943320?api-version=7.3-preview",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "recoveryId": "https://fakekvurl.vault.azure.net/deletedcertificates/certRecover634943320",
        "deletedDate": 1643667235,
        "scheduledPurgeDate": 1644272035,
        "id": "https://fakekvurl.vault.azure.net/certificates/certRecover634943320/c6515af635a6406fa86d4377e2dee33c",
        "attributes": {
          "enabled": false,
          "nbf": 1643666634,
          "exp": 1675203234,
          "created": 1643667234,
          "updated": 1643667234,
          "recoveryLevel": "CustomizedRecoverable\u002BPurgeable",
          "recoverableDays": 7
        },
        "policy": {
          "id": "https://fakekvurl.vault.azure.net/certificates/[...]
    {
      "RequestUri": "https://fakekvurl.vault.azure.net/deletedcertificates/certRecover634943320?api-version=7.3-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        ":method": "GET",
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "error": {
          "code": "CertificateNotFound",
          "message": "Deleted Certificate not found: certRecover634943320"
        }
      }
    },
[...]
    {
      "RequestUri": "https://fakekvurl.vault.azure.net/deletedcertificates/certRecover634943320/recover?api-version=7.3-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        ":method": "POST",
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "id": "https://fakekvurl.vault.azure.net/certificates/ce[...]
[...]
    {
      "RequestUri": "https://fakekvurl.vault.azure.net/deletedcertificates/certRecover634943320?api-version=7.3-preview",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
      },
      "ResponseBody": null
    }
  ],
  "Variables": {}
}
