{
  "Entries": [
    {
      "RequestUri": "https://fakeaccount.table.core.windows.net/Tables",
      "RequestMethod": "POST",
      "RequestHeaders": {
        ":method": "POST",
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "dataserviceversion": "3.0",
        "x-ms-date": "Mon, 24 Jan 2022 20:59:45 GMT",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": {
        "TableName": "tableName1318965604"
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata=minimalmetadata; streaming=true; charset=utf-8",
        "Location": "https://rosebudprim.table.core.windows.net/Tables(\u0027tableName1318965604\u0027)",
        "x-ms-version": "2019-02-02"
      },
      "ResponseBody": {
        "odata.metadata": "https://rosebudprim.table.core.windows.net/$metadata#Tables/@Element",
        "TableName": "tableName1318965604"
      }
    },
    {
      "RequestUri": "https://fakeaccount.table.core.windows.net/tableName1318965604",
      "RequestMethod": "POST",
      "RequestHeaders": {
        ":method": "POST",
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "dataserviceversion": "3.0",
        "prefer": "return-no-content",
        "x-ms-date": "Mon, 24 Jan 2022 20:59:45 GMT",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": {
        "Binary": "U29tZUJpbmFyeQ==",
        "Binary@odata.type": "Edm.Binary",
        "Bool": false,
        "DateTime": "2013-08-02T17:37:43.0090043Z",
        "DateTime@odata.type": "Edm.DateTime",
        "Double": 1234.1234,
        "Guid": "4185404a-5818-48c3-b9be-f217df0dba6f",
        "Guid@odata.type": "Edm.Guid",
        "Int32": 1234,
        "Int64": "123456789012",
        "Int64@odata.type": "Edm.Int64",
        "PartitionKey": "partition",
        "RowKey": "1",
        "String": "test"
      },
      "StatusCode": 204,
      "ResponseHeaders": {
        "DataServiceId": "https://rosebudprim.table.core.windows.net/tableName1318965604(PartitionKey=\u0027partition\u0027,RowKey=\u00271\u0027)",
        "ETag": "W/\u0022datetime\u00272022-01-24T20%3A59%3A46.2887383Z\u0027\u0022",
        "Location": "https://rosebudprim.table.core.windows.net/tableName1318965604(PartitionKey=\u0027partition\u0027,RowKey=\u00271\u0027)",
        "Preference-Applied": "return-no-content",
        "x-ms-version": "2019-02-02"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakeaccount.table.core.windows.net/tableName1318965604(PartitionKey=\u0027partition\u0027,RowKey=\u00271\u0027)?%24format=application%2Fjson%3Bodata%3Dminimalmetadata",
      "RequestMethod": "GET",
      "RequestHeaders": {
        ":method": "GET",
        "Authorization": "Sanitized",
        "dataserviceversion": "3.0",
        "x-ms-date": "Mon, 24 Jan 2022 20:59:45 GMT",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata=minimalmetadata; streaming=true; charset=utf-8",
        "ETag": "W/\u0022datetime\u00272022-01-24T20%3A59%3A46.2887383Z\u0027\u0022",
        "x-ms-version": "2019-02-02"
      },
      "ResponseBody": {
        "odata.metadata": "https://rosebudprim.table.core.windows.net/$metadata#tableName1318965604/@Element",
        "odata.etag": "W/\u0022datetime\u00272022-01-24T20%3A59%3A46.2887383Z\u0027\u0022",
        "PartitionKey": "partition",
        "RowKey": "1",
        "Timestamp": "2022-01-24T20:59:46.2887383Z",
        "Binary@odata.type": "Edm.Binary",
        "Binary": "U29tZUJpbmFyeQ==",
        "Bool": false,
        "DateTime@odata.type": "Edm.DateTime",
        "DateTime": "2013-08-02T17:37:43.0090043Z",
        "Double": 1234.1234,
        "Guid@odata.type": "Edm.Guid",
        "Guid": "4185404a-5818-48c3-b9be-f217df0dba6f",
        "Int32": 1234,
        "Int64@odata.type": "Edm.Int64",
        "Int64": "123456789012",
        "String": "test"
      }
    },
    {
      "RequestUri": "https://fakeaccount.table.core.windows.net/Tables(\u0027tableName1318965604\u0027)",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 24 Jan 2022 20:59:45 GMT",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
        "x-ms-version": "2019-02-02"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {}
}
