# Azure OpenAI
AOAI_ENDPOINT=https://<your-azure-openai-host>.openai.azure.com/
AOAI_API_KEY=<Azure-OpenAI-APIKey>

# These names will come from your model deployments in your Azure OpenAI resource
# ex: text-davinci-003
AOAI_COMPLETIONS_MODEL_DEPLOYMENT=<Completions model deployment ID>
# ex: gpt-4
AOAI_CHAT_COMPLETIONS_MODEL_DEPLOYMENT=<Chat completions model deployment ID>
AOAI_EMBEDDINGS_MODEL_DEPLOYMENT=<Embeddings model deployment ID>

# public OpenAI
OPENAI_ENDPOINT=https://api.openai.com/v1
OPENAI_API_KEY=<OpenAI-APIKey>
# ex: text-davinci-003
OPENAI_COMPLETIONS_MODEL=<Completions model>
# ex: gpt-4
OPENAI_CHAT_COMPLETIONS_MODEL=<Chat completions model>
OPENAI_EMBEDDINGS_MODEL=<Embeddings model>