//go:build go1.16
// +build go1.16

// Copyright (c) Microsoft Corporation. All rights reserved.
// Licensed under the MIT License. See License.txt in the project root for license information.
// Code generated by Microsoft (R) AutoRest Code Generator.
// Changes may cause incorrect behavior and will be lost if the code is regenerated.

package armcosmos

import (
	"context"
	"errors"
	"fmt"
	"net/http"
	"net/url"
	"strings"

	"github.com/Azure/azure-sdk-for-go/sdk/azcore/arm"
	"github.com/Azure/azure-sdk-for-go/sdk/azcore/policy"
	"github.com/Azure/azure-sdk-for-go/sdk/azcore/runtime"
)

// CosmosDBManagementClient contains the methods for the CosmosDBManagementClient group.
// Don't use this type directly, use NewCosmosDBManagementClient() instead.
type CosmosDBManagementClient struct {
	ep             string
	pl             runtime.Pipeline
	subscriptionID string
}

// NewCosmosDBManagementClient creates a new instance of CosmosDBManagementClient with the specified values.
func NewCosmosDBManagementClient(con *arm.Connection, subscriptionID string) *CosmosDBManagementClient {
	return &CosmosDBManagementClient{ep: con.Endpoint(), pl: con.NewPipeline(module, version), subscriptionID: subscriptionID}
}

// LocationGet - Get the properties of an existing Cosmos DB location
// If the operation fails it returns the *CloudError error type.
func (client *CosmosDBManagementClient) LocationGet(ctx context.Context, location string, options *CosmosDBManagementClientLocationGetOptions) (CosmosDBManagementClientLocationGetResponse, error) {
	req, err := client.locationGetCreateRequest(ctx, location, options)
	if err != nil {
		return CosmosDBManagementClientLocationGetResponse{}, err
	}
	resp, err := client.pl.Do(req)
	if err != nil {
		return CosmosDBManagementClientLocationGetResponse{}, err
	}
	if !runtime.HasStatusCode(resp, http.StatusOK) {
		return CosmosDBManagementClientLocationGetResponse{}, client.locationGetHandleError(resp)
	}
	return client.locationGetHandleResponse(resp)
}

// locationGetCreateRequest creates the LocationGet request.
func (client *CosmosDBManagementClient) locationGetCreateRequest(ctx context.Context, location string, options *CosmosDBManagementClientLocationGetOptions) (*policy.Request, error) {
	urlPath := "/subscriptions/{subscriptionId}/providers/Microsoft.DocumentDB/locations/{location}"
	if client.subscriptionID == "" {
		return nil, errors.New("parameter client.subscriptionID cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{subscriptionId}", url.PathEscape(client.subscriptionID))
	if location == "" {
		return nil, errors.New("parameter location cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{location}", url.PathEscape(location))
	req, err := runtime.NewRequest(ctx, http.MethodGet, runtime.JoinPaths(client.ep, urlPath))
	if err != nil {
		return nil, err
	}
	reqQP := req.Raw().URL.Query()
	reqQP.Set("api-version", "2021-07-01-preview")
	req.Raw().URL.RawQuery = reqQP.Encode()
	req.Raw().Header.Set("Accept", "application/json")
	return req, nil
}

// locationGetHandleResponse handles the LocationGet response.
func (client *CosmosDBManagementClient) locationGetHandleResponse(resp *http.Response) (CosmosDBManagementClientLocationGetResponse, error) {
	result := CosmosDBManagementClientLocationGetResponse{RawResponse: resp}
	if err := runtime.UnmarshalAsJSON(resp, &result.LocationGetResult); err != nil {
		return CosmosDBManagementClientLocationGetResponse{}, err
	}
	return result, nil
}

// locationGetHandleError handles the LocationGet error response.
func (client *CosmosDBManagementClient) locationGetHandleError(resp *http.Response) error {
	body, err := runtime.Payload(resp)
	if err != nil {
		return runtime.NewResponseError(err, resp)
	}
	errType := CloudError{raw: string(body)}
	if err := runtime.UnmarshalAsJSON(resp, &errType); err != nil {
		return runtime.NewResponseError(fmt.Errorf("%s\n%s", string(body), err), resp)
	}
	return runtime.NewResponseError(&errType, resp)
}

// LocationList - List Cosmos DB locations and their properties
// If the operation fails it returns the *CloudError error type.
func (client *CosmosDBManagementClient) LocationList(ctx context.Context, options *CosmosDBManagementClientLocationListOptions) (CosmosDBManagementClientLocationListResponse, error) {
	req, err := client.locationListCreateRequest(ctx, options)
	if err != nil {
		return CosmosDBManagementClientLocationListResponse{}, err
	}
	resp, err := client.pl.Do(req)
	if err != nil {
		return CosmosDBManagementClientLocationListResponse{}, err
	}
	if !runtime.HasStatusCode(resp, http.StatusOK) {
		return CosmosDBManagementClientLocationListResponse{}, client.locationListHandleError(resp)
	}
	return client.locationListHandleResponse(resp)
}

// locationListCreateRequest creates the LocationList request.
func (client *CosmosDBManagementClient) locationListCreateRequest(ctx context.Context, options *CosmosDBManagementClientLocationListOptions) (*policy.Request, error) {
	urlPath := "/subscriptions/{subscriptionId}/providers/Microsoft.DocumentDB/locations"
	if client.subscriptionID == "" {
		return nil, errors.New("parameter client.subscriptionID cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{subscriptionId}", url.PathEscape(client.subscriptionID))
	req, err := runtime.NewRequest(ctx, http.MethodGet, runtime.JoinPaths(client.ep, urlPath))
	if err != nil {
		return nil, err
	}
	reqQP := req.Raw().URL.Query()
	reqQP.Set("api-version", "2021-07-01-preview")
	req.Raw().URL.RawQuery = reqQP.Encode()
	req.Raw().Header.Set("Accept", "application/json")
	return req, nil
}

// locationListHandleResponse handles the LocationList response.
func (client *CosmosDBManagementClient) locationListHandleResponse(resp *http.Response) (CosmosDBManagementClientLocationListResponse, error) {
	result := CosmosDBManagementClientLocationListResponse{RawResponse: resp}
	if err := runtime.UnmarshalAsJSON(resp, &result.LocationListResult); err != nil {
		return CosmosDBManagementClientLocationListResponse{}, err
	}
	return result, nil
}

// locationListHandleError handles the LocationList error response.
func (client *CosmosDBManagementClient) locationListHandleError(resp *http.Response) error {
	body, err := runtime.Payload(resp)
	if err != nil {
		return runtime.NewResponseError(err, resp)
	}
	errType := CloudError{raw: string(body)}
	if err := runtime.UnmarshalAsJSON(resp, &errType); err != nil {
		return runtime.NewResponseError(fmt.Errorf("%s\n%s", string(body), err), resp)
	}
	return runtime.NewResponseError(&errType, resp)
}
