{
  "Entries": [
    {
      "RequestUri": "https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/rg21653850398?api-version=2021-04-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        ":authority": "localhost:5001",
        ":method": "PUT",
        ":path": "/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/rg21653850398?api-version=2021-04-01",
        ":scheme": "https",
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "location": "westus"
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-writes": "1190"
      },
      "ResponseBody": {
        "id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/rg21653850398",
        "name": "rg21653850398",
        "type": "Microsoft.Resources/resourceGroups",
        "location": "westus",
        "properties": {
          "provisioningState": "Succeeded"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/rg21653850398/providers/Microsoft.ManagedIdentity/userAssignedIdentities/identity1653850398?api-version=2018-11-30",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        ":authority": "localhost:5001",
        ":method": "PUT",
        ":path": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/rg21653850398/providers/Microsoft.ManagedIdentity/userAssignedIdentities/identity1653850398?api-version=2018-11-30",
        ":scheme": "https",
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "location": "westus"
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "Location": "/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/rg21653850398/providers/Microsoft.ManagedIdentity/userAssignedIdentities/identity1653850398",
        "x-ms-ratelimit-remaining-subscription-writes": "1189"
      },
      "ResponseBody": {
        "id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/rg21653850398/providers/Microsoft.ManagedIdentity/userAssignedIdentities/identity1653850398",
        "name": "identity1653850398",
        "type": "Microsoft.ManagedIdentity/userAssignedIdentities",
        "location": "westus",
        "tags": {},
        "properties": {
          "tenantId": "72f988bf-86f1-41af-91ab-2d7cd011db47",
          "principalId": "008c1dcc-b18e-40d3-85d1-7abeea70f604",
          "clientId": "bdc7c23c-5fbd-4379-b684-28d1adc92fb6"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/rg21653850398/providers/Microsoft.Resources/deploymentScripts/script1653850398?api-version=2020-10-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        ":authority": "localhost:5001",
        ":method": "PUT",
        ":path": "/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/rg21653850398/providers/Microsoft.Resources/deploymentScripts/script1653850398?api-version=2020-10-01",
        ":scheme": "https",
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": "{\u0022identity\u0022:{\u0022type\u0022:\u0022UserAssigned\u0022,\u0022userAssignedIdentities\u0022:{\u0022/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/rg21653850398/providers/Microsoft.ManagedIdentity/userAssignedIdentities/identity1653850398\u0022:{}}},\u0022kind\u0022:\u0022AzurePowerShell\u0022,\u0022location\u0022:\u0022westus\u0022,\u0022properties\u0022:{\u0022arguments\u0022:\u0022-name \\\u0022John Dole\\\u0022\u0022,\u0022azPowerShellVersion\u0022:\u00223.0\u0022,\u0022primaryScriptUri\u0022:\u0022https://raw.githubusercontent.com/Azure/azure-docs-json-samples/master/deployment-script/deploymentscript-helloworld.ps1\u0022,\u0022retentionInterval\u0022:\u0022PT26H\u0022,\u0022timeout\u0022:\u0022PT30M\u0022}}",
      "StatusCode": 201,
      "ResponseHeaders": {
        "Azure-AsyncOperation": "https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Resources/locations/westus/deploymentScriptOperationResults/889268f9-94aa-415a-a1a1-8ad32db3c23f?api-version=2020-10-01",
        "Content-Type": "application/json; charset=utf-8",
        "Retry-After": "17",
        "x-ms-ratelimit-remaining-subscription-writes": "1188"
      },
      "ResponseBody": [
        "{\r\n",
        "  \u0022kind\u0022: \u0022AzurePowerShell\u0022,\r\n",
        "  \u0022identity\u0022: {\r\n",
        "    \u0022type\u0022: \u0022userAssigned\u0022,\r\n",
        "    \u0022tenantId\u0022: \u002272f988bf-86f1-41af-91ab-2d7cd011db47\u0022,\r\n",
        "    \u0022userAssignedIdentities\u0022: {\r\n",
        "      \u0022/subscriptions/00000000-0000-0000-0000-0000[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Resources/locations/westus/deploymentScriptOperationResults/889268f9-94aa-415a-a1a1-8ad32db3c23f?api-version=2020-10-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        ":authority": "localhost:5001",
        ":method": "GET",
        ":path": "/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Resources/locations/westus/deploymentScriptOperationResults/889268f9-94aa-415a-a1a1-8ad32db3c23f?api-version=2020-10-01",
        ":scheme": "https",
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-reads": "11973"
      },
      "ResponseBody": [
        "{\r\n",
        "  \u0022id\u0022: \u0022/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Resources/locations/westus/deploymentScriptOperationResults/889268f9-94aa-415a-a1a1-8ad32db3c23f\u0022,\r\n",
        "  \u0022name\u0022: \u0022889268f9-94aa-415a-a1a1-8ad32db3c23f\u0022,\r\n",
        "  \u0022status\u0022: \u0022provisioningResources\u0022\r\n",
        "}"
      ]
    },
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/rg21653850398?api-version=2021-04-01",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        ":authority": "localhost:5001",
        ":method": "DELETE",
        ":path": "/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/rg21653850398?api-version=2021-04-01",
        ":scheme": "https",
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "Location": "https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/operationresults/eyJqb2JJZCI6IlJFU09VUkNFR1JPVVBERUxFVElPTkpPQi1SRzIxNjUzODUwMzk4LVdFU1RVUyIsImpvYkxvY2F0aW9uIjoid2VzdHVzIn0?api-version=2021-04-01",
        "Retry-After": "15",
        "x-ms-ratelimit-remaining-subscription-deletes": "14996"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {}
}
