//go:build go1.18
// +build go1.18

// Copyright (c) Microsoft Corporation. All rights reserved.
// Licensed under the MIT License. See License.txt in the project root for license information.
// Code generated by Microsoft (R) AutoRest Code Generator.
// Changes may cause incorrect behavior and will be lost if the code is regenerated.
// DO NOT EDIT.

package armhelp

import (
	"context"
	"github.com/Azure/azure-sdk-for-go/sdk/azcore"
	"github.com/Azure/azure-sdk-for-go/sdk/azcore/arm"
	"github.com/Azure/azure-sdk-for-go/sdk/azcore/policy"
	"github.com/Azure/azure-sdk-for-go/sdk/azcore/runtime"
	"net/http"
	"strings"
)

// DiscoverySolutionClient contains the methods for the DiscoverySolution group.
// Don't use this type directly, use NewDiscoverySolutionClient() instead.
type DiscoverySolutionClient struct {
	internal  *arm.Client
	scope     string
	filter    *string
	skiptoken *string
}

// NewDiscoverySolutionClient creates a new instance of DiscoverySolutionClient with the specified values.
//   - scope - This is an extension resource provider and only resource level extension is supported at the moment.
//   - filter - Can be used to filter solutionIds by 'ProblemClassificationId'. The filter supports only 'and' and 'eq' operators.
//     Example: $filter=ProblemClassificationId eq '1ddda5b4-cf6c-4d4f-91ad-bc38ab0e811e'
//     and ProblemClassificationId eq '0a9673c2-7af6-4e19-90d3-4ee2461076d9'.
//   - skiptoken - Skiptoken is only used if a previous operation returned a partial result. If a previous response contains a
//     nextLink element, the value of the nextLink element will include a skiptoken parameter that
//     specifies a starting point to use for subsequent calls.
//   - credential - used to authorize requests. Usually a credential from azidentity.
//   - options - pass nil to accept the default values.
func NewDiscoverySolutionClient(scope string, filter *string, skiptoken *string, credential azcore.TokenCredential, options *arm.ClientOptions) (*DiscoverySolutionClient, error) {
	cl, err := arm.NewClient(moduleName+".DiscoverySolutionClient", moduleVersion, credential, options)
	if err != nil {
		return nil, err
	}
	client := &DiscoverySolutionClient{
		scope:     scope,
		filter:    filter,
		skiptoken: skiptoken,
		internal:  cl,
	}
	return client, nil
}

// NewListPager - Overview:
// Azure Help API programmatically helps you troubleshoot Azure issues and provides access to rich and powerful self-help
// solutions and diagnostics. Using the API, you can perform the following
// operations: Solution Discovery Lists the diagnostics for an Azure issue based on the prerequisites (see below).
// Diagnostics Create and Get diagnostics for issues with Azure resources.
// Prerequisites for solution discovery:
// You can call the API to discover solutions with the following inputs: i. Required inputs: resourceUri. ii. Optional input:
// problemClassificationId.
// This API enables discovery of diagnostics for a defined list of Azure support issues, and is not supported for all ProblemClassificationId(s)
// at the moment. For ProblemClassificationId(s) that are not
// supported, the API response will not return any diagnostics. You can use ProblemClassifications API to get the problem
// categories and ProblemClassificationId(s) reference.
// [https://docs.microsoft.com/azure/virtual-machine-scale-sets/virtual-machine-scale-sets-faq#how-do-i-turn-on-antimalware-in-my-virtual-machine-scale-set]
// You must have reader access role [https://learn.microsoft.com/en-us/azure/role-based-access-control/built-in-roles#reader]
// at the resource level to get the solutions.
// Note: 'RequiredParameterSets' from Discovery Solutions API response has to be passed via 'properties.insights.additionalParameters'
// as an input to Diagnostics API.
//
// Generated from API version 2023-01-01-preview
//   - options - DiscoverySolutionClientListOptions contains the optional parameters for the DiscoverySolutionClient.NewListPager
//     method.
func (client *DiscoverySolutionClient) NewListPager(options *DiscoverySolutionClientListOptions) *runtime.Pager[DiscoverySolutionClientListResponse] {
	return runtime.NewPager(runtime.PagingHandler[DiscoverySolutionClientListResponse]{
		More: func(page DiscoverySolutionClientListResponse) bool {
			return page.NextLink != nil && len(*page.NextLink) > 0
		},
		Fetcher: func(ctx context.Context, page *DiscoverySolutionClientListResponse) (DiscoverySolutionClientListResponse, error) {
			var req *policy.Request
			var err error
			if page == nil {
				req, err = client.listCreateRequest(ctx, options)
			} else {
				req, err = runtime.NewRequest(ctx, http.MethodGet, *page.NextLink)
			}
			if err != nil {
				return DiscoverySolutionClientListResponse{}, err
			}
			resp, err := client.internal.Pipeline().Do(req)
			if err != nil {
				return DiscoverySolutionClientListResponse{}, err
			}
			if !runtime.HasStatusCode(resp, http.StatusOK) {
				return DiscoverySolutionClientListResponse{}, runtime.NewResponseError(resp)
			}
			return client.listHandleResponse(resp)
		},
	})
}

// listCreateRequest creates the List request.
func (client *DiscoverySolutionClient) listCreateRequest(ctx context.Context, options *DiscoverySolutionClientListOptions) (*policy.Request, error) {
	urlPath := "/{scope}/providers/Microsoft.Help/discoverySolutions"
	urlPath = strings.ReplaceAll(urlPath, "{scope}", client.scope)
	req, err := runtime.NewRequest(ctx, http.MethodGet, runtime.JoinPaths(client.internal.Endpoint(), urlPath))
	if err != nil {
		return nil, err
	}
	reqQP := req.Raw().URL.Query()
	reqQP.Set("api-version", "2023-01-01-preview")
	if client.skiptoken != nil {
		reqQP.Set("$skiptoken", *client.skiptoken)
	}
	req.Raw().URL.RawQuery = reqQP.Encode()
	unencodedParams := []string{req.Raw().URL.RawQuery}
	if client.filter != nil {
		unencodedParams = append(unencodedParams, "$filter="+*client.filter)
	}
	req.Raw().URL.RawQuery = strings.Join(unencodedParams, "&")
	req.Raw().Header["Accept"] = []string{"application/json"}
	return req, nil
}

// listHandleResponse handles the List response.
func (client *DiscoverySolutionClient) listHandleResponse(resp *http.Response) (DiscoverySolutionClientListResponse, error) {
	result := DiscoverySolutionClientListResponse{}
	if err := runtime.UnmarshalAsJSON(resp, &result.DiscoveryResponse); err != nil {
		return DiscoverySolutionClientListResponse{}, err
	}
	return result, nil
}
