// Copyright (c) Microsoft Corporation. All rights reserved.
// Licensed under the MIT License. See License.txt in the project root for license information.
// Code generated by Microsoft (R) AutoRest Code Generator. DO NOT EDIT.
// Changes may cause incorrect behavior and will be lost if the code is regenerated.

package fake

import (
	"context"
	"errors"
	"fmt"
	azfake "github.com/Azure/azure-sdk-for-go/sdk/azcore/fake"
	"github.com/Azure/azure-sdk-for-go/sdk/azcore/fake/server"
	"github.com/Azure/azure-sdk-for-go/sdk/azcore/runtime"
	"github.com/Azure/azure-sdk-for-go/sdk/azcore/to"
	"github.com/Azure/azure-sdk-for-go/sdk/resourcemanager/migrationassessment/armmigrationassessment"
	"net/http"
	"net/url"
	"regexp"
)

// AksClusterOperationsServer is a fake server for instances of the armmigrationassessment.AksClusterOperationsClient type.
type AksClusterOperationsServer struct {
	// Get is the fake for method AksClusterOperationsClient.Get
	// HTTP status codes to indicate success: http.StatusOK
	Get func(ctx context.Context, resourceGroupName string, projectName string, assessmentName string, clusterName string, options *armmigrationassessment.AksClusterOperationsClientGetOptions) (resp azfake.Responder[armmigrationassessment.AksClusterOperationsClientGetResponse], errResp azfake.ErrorResponder)

	// NewListByAksAssessmentPager is the fake for method AksClusterOperationsClient.NewListByAksAssessmentPager
	// HTTP status codes to indicate success: http.StatusOK
	NewListByAksAssessmentPager func(resourceGroupName string, projectName string, assessmentName string, options *armmigrationassessment.AksClusterOperationsClientListByAksAssessmentOptions) (resp azfake.PagerResponder[armmigrationassessment.AksClusterOperationsClientListByAksAssessmentResponse])
}

// NewAksClusterOperationsServerTransport creates a new instance of AksClusterOperationsServerTransport with the provided implementation.
// The returned AksClusterOperationsServerTransport instance is connected to an instance of armmigrationassessment.AksClusterOperationsClient via the
// azcore.ClientOptions.Transporter field in the client's constructor parameters.
func NewAksClusterOperationsServerTransport(srv *AksClusterOperationsServer) *AksClusterOperationsServerTransport {
	return &AksClusterOperationsServerTransport{
		srv:                         srv,
		newListByAksAssessmentPager: newTracker[azfake.PagerResponder[armmigrationassessment.AksClusterOperationsClientListByAksAssessmentResponse]](),
	}
}

// AksClusterOperationsServerTransport connects instances of armmigrationassessment.AksClusterOperationsClient to instances of AksClusterOperationsServer.
// Don't use this type directly, use NewAksClusterOperationsServerTransport instead.
type AksClusterOperationsServerTransport struct {
	srv                         *AksClusterOperationsServer
	newListByAksAssessmentPager *tracker[azfake.PagerResponder[armmigrationassessment.AksClusterOperationsClientListByAksAssessmentResponse]]
}

// Do implements the policy.Transporter interface for AksClusterOperationsServerTransport.
func (a *AksClusterOperationsServerTransport) Do(req *http.Request) (*http.Response, error) {
	rawMethod := req.Context().Value(runtime.CtxAPINameKey{})
	method, ok := rawMethod.(string)
	if !ok {
		return nil, nonRetriableError{errors.New("unable to dispatch request, missing value for CtxAPINameKey")}
	}

	return a.dispatchToMethodFake(req, method)
}

func (a *AksClusterOperationsServerTransport) dispatchToMethodFake(req *http.Request, method string) (*http.Response, error) {
	resultChan := make(chan result)
	defer close(resultChan)

	go func() {
		var intercepted bool
		var res result
		if aksClusterOperationsServerTransportInterceptor != nil {
			res.resp, res.err, intercepted = aksClusterOperationsServerTransportInterceptor.Do(req)
		}
		if !intercepted {
			switch method {
			case "AksClusterOperationsClient.Get":
				res.resp, res.err = a.dispatchGet(req)
			case "AksClusterOperationsClient.NewListByAksAssessmentPager":
				res.resp, res.err = a.dispatchNewListByAksAssessmentPager(req)
			default:
				res.err = fmt.Errorf("unhandled API %s", method)
			}

		}
		select {
		case resultChan <- res:
		case <-req.Context().Done():
		}
	}()

	select {
	case <-req.Context().Done():
		return nil, req.Context().Err()
	case res := <-resultChan:
		return res.resp, res.err
	}
}

func (a *AksClusterOperationsServerTransport) dispatchGet(req *http.Request) (*http.Response, error) {
	if a.srv.Get == nil {
		return nil, &nonRetriableError{errors.New("fake for method Get not implemented")}
	}
	const regexStr = `/subscriptions/(?P<subscriptionId>[!#&$-;=?-\[\]_a-zA-Z0-9~%@]+)/resourceGroups/(?P<resourceGroupName>[!#&$-;=?-\[\]_a-zA-Z0-9~%@]+)/providers/Microsoft\.Migrate/assessmentProjects/(?P<projectName>[!#&$-;=?-\[\]_a-zA-Z0-9~%@]+)/aksAssessments/(?P<assessmentName>[!#&$-;=?-\[\]_a-zA-Z0-9~%@]+)/clusters/(?P<clusterName>[!#&$-;=?-\[\]_a-zA-Z0-9~%@]+)`
	regex := regexp.MustCompile(regexStr)
	matches := regex.FindStringSubmatch(req.URL.EscapedPath())
	if matches == nil || len(matches) < 5 {
		return nil, fmt.Errorf("failed to parse path %s", req.URL.Path)
	}
	resourceGroupNameParam, err := url.PathUnescape(matches[regex.SubexpIndex("resourceGroupName")])
	if err != nil {
		return nil, err
	}
	projectNameParam, err := url.PathUnescape(matches[regex.SubexpIndex("projectName")])
	if err != nil {
		return nil, err
	}
	assessmentNameParam, err := url.PathUnescape(matches[regex.SubexpIndex("assessmentName")])
	if err != nil {
		return nil, err
	}
	clusterNameParam, err := url.PathUnescape(matches[regex.SubexpIndex("clusterName")])
	if err != nil {
		return nil, err
	}
	respr, errRespr := a.srv.Get(req.Context(), resourceGroupNameParam, projectNameParam, assessmentNameParam, clusterNameParam, nil)
	if respErr := server.GetError(errRespr, req); respErr != nil {
		return nil, respErr
	}
	respContent := server.GetResponseContent(respr)
	if !contains([]int{http.StatusOK}, respContent.HTTPStatus) {
		return nil, &nonRetriableError{fmt.Errorf("unexpected status code %d. acceptable values are http.StatusOK", respContent.HTTPStatus)}
	}
	resp, err := server.MarshalResponseAsJSON(respContent, server.GetResponse(respr).AKSCluster, req)
	if err != nil {
		return nil, err
	}
	return resp, nil
}

func (a *AksClusterOperationsServerTransport) dispatchNewListByAksAssessmentPager(req *http.Request) (*http.Response, error) {
	if a.srv.NewListByAksAssessmentPager == nil {
		return nil, &nonRetriableError{errors.New("fake for method NewListByAksAssessmentPager not implemented")}
	}
	newListByAksAssessmentPager := a.newListByAksAssessmentPager.get(req)
	if newListByAksAssessmentPager == nil {
		const regexStr = `/subscriptions/(?P<subscriptionId>[!#&$-;=?-\[\]_a-zA-Z0-9~%@]+)/resourceGroups/(?P<resourceGroupName>[!#&$-;=?-\[\]_a-zA-Z0-9~%@]+)/providers/Microsoft\.Migrate/assessmentProjects/(?P<projectName>[!#&$-;=?-\[\]_a-zA-Z0-9~%@]+)/aksAssessments/(?P<assessmentName>[!#&$-;=?-\[\]_a-zA-Z0-9~%@]+)/clusters`
		regex := regexp.MustCompile(regexStr)
		matches := regex.FindStringSubmatch(req.URL.EscapedPath())
		if matches == nil || len(matches) < 4 {
			return nil, fmt.Errorf("failed to parse path %s", req.URL.Path)
		}
		qp := req.URL.Query()
		resourceGroupNameParam, err := url.PathUnescape(matches[regex.SubexpIndex("resourceGroupName")])
		if err != nil {
			return nil, err
		}
		filterUnescaped, err := url.QueryUnescape(qp.Get("$filter"))
		if err != nil {
			return nil, err
		}
		filterParam := getOptional(filterUnescaped)
		projectNameParam, err := url.PathUnescape(matches[regex.SubexpIndex("projectName")])
		if err != nil {
			return nil, err
		}
		assessmentNameParam, err := url.PathUnescape(matches[regex.SubexpIndex("assessmentName")])
		if err != nil {
			return nil, err
		}
		var options *armmigrationassessment.AksClusterOperationsClientListByAksAssessmentOptions
		if filterParam != nil {
			options = &armmigrationassessment.AksClusterOperationsClientListByAksAssessmentOptions{
				Filter: filterParam,
			}
		}
		resp := a.srv.NewListByAksAssessmentPager(resourceGroupNameParam, projectNameParam, assessmentNameParam, options)
		newListByAksAssessmentPager = &resp
		a.newListByAksAssessmentPager.add(req, newListByAksAssessmentPager)
		server.PagerResponderInjectNextLinks(newListByAksAssessmentPager, req, func(page *armmigrationassessment.AksClusterOperationsClientListByAksAssessmentResponse, createLink func() string) {
			page.NextLink = to.Ptr(createLink())
		})
	}
	resp, err := server.PagerResponderNext(newListByAksAssessmentPager, req)
	if err != nil {
		return nil, err
	}
	if !contains([]int{http.StatusOK}, resp.StatusCode) {
		a.newListByAksAssessmentPager.remove(req)
		return nil, &nonRetriableError{fmt.Errorf("unexpected status code %d. acceptable values are http.StatusOK", resp.StatusCode)}
	}
	if !server.PagerResponderMore(newListByAksAssessmentPager) {
		a.newListByAksAssessmentPager.remove(req)
	}
	return resp, nil
}

// set this to conditionally intercept incoming requests to AksClusterOperationsServerTransport
var aksClusterOperationsServerTransportInterceptor interface {
	// Do returns true if the server transport should use the returned response/error
	Do(*http.Request) (*http.Response, error, bool)
}
