// Copyright (c) Microsoft Corporation. All rights reserved.
// Licensed under the MIT License. See License.txt in the project root for license information.
// Code generated by Microsoft (R) AutoRest Code Generator. DO NOT EDIT.
// Changes may cause incorrect behavior and will be lost if the code is regenerated.

package fake

import (
	"context"
	"errors"
	"fmt"
	azfake "github.com/Azure/azure-sdk-for-go/sdk/azcore/fake"
	"github.com/Azure/azure-sdk-for-go/sdk/azcore/fake/server"
	"github.com/Azure/azure-sdk-for-go/sdk/azcore/runtime"
	"github.com/Azure/azure-sdk-for-go/sdk/azcore/to"
	"github.com/Azure/azure-sdk-for-go/sdk/resourcemanager/migrationassessment/armmigrationassessment"
	"net/http"
	"net/url"
	"regexp"
)

// AksSummaryOperationsServer is a fake server for instances of the armmigrationassessment.AksSummaryOperationsClient type.
type AksSummaryOperationsServer struct {
	// Get is the fake for method AksSummaryOperationsClient.Get
	// HTTP status codes to indicate success: http.StatusOK
	Get func(ctx context.Context, resourceGroupName string, projectName string, assessmentName string, summaryName string, options *armmigrationassessment.AksSummaryOperationsClientGetOptions) (resp azfake.Responder[armmigrationassessment.AksSummaryOperationsClientGetResponse], errResp azfake.ErrorResponder)

	// NewListByAksAssessmentPager is the fake for method AksSummaryOperationsClient.NewListByAksAssessmentPager
	// HTTP status codes to indicate success: http.StatusOK
	NewListByAksAssessmentPager func(resourceGroupName string, projectName string, assessmentName string, options *armmigrationassessment.AksSummaryOperationsClientListByAksAssessmentOptions) (resp azfake.PagerResponder[armmigrationassessment.AksSummaryOperationsClientListByAksAssessmentResponse])
}

// NewAksSummaryOperationsServerTransport creates a new instance of AksSummaryOperationsServerTransport with the provided implementation.
// The returned AksSummaryOperationsServerTransport instance is connected to an instance of armmigrationassessment.AksSummaryOperationsClient via the
// azcore.ClientOptions.Transporter field in the client's constructor parameters.
func NewAksSummaryOperationsServerTransport(srv *AksSummaryOperationsServer) *AksSummaryOperationsServerTransport {
	return &AksSummaryOperationsServerTransport{
		srv:                         srv,
		newListByAksAssessmentPager: newTracker[azfake.PagerResponder[armmigrationassessment.AksSummaryOperationsClientListByAksAssessmentResponse]](),
	}
}

// AksSummaryOperationsServerTransport connects instances of armmigrationassessment.AksSummaryOperationsClient to instances of AksSummaryOperationsServer.
// Don't use this type directly, use NewAksSummaryOperationsServerTransport instead.
type AksSummaryOperationsServerTransport struct {
	srv                         *AksSummaryOperationsServer
	newListByAksAssessmentPager *tracker[azfake.PagerResponder[armmigrationassessment.AksSummaryOperationsClientListByAksAssessmentResponse]]
}

// Do implements the policy.Transporter interface for AksSummaryOperationsServerTransport.
func (a *AksSummaryOperationsServerTransport) Do(req *http.Request) (*http.Response, error) {
	rawMethod := req.Context().Value(runtime.CtxAPINameKey{})
	method, ok := rawMethod.(string)
	if !ok {
		return nil, nonRetriableError{errors.New("unable to dispatch request, missing value for CtxAPINameKey")}
	}

	return a.dispatchToMethodFake(req, method)
}

func (a *AksSummaryOperationsServerTransport) dispatchToMethodFake(req *http.Request, method string) (*http.Response, error) {
	resultChan := make(chan result)
	defer close(resultChan)

	go func() {
		var intercepted bool
		var res result
		if aksSummaryOperationsServerTransportInterceptor != nil {
			res.resp, res.err, intercepted = aksSummaryOperationsServerTransportInterceptor.Do(req)
		}
		if !intercepted {
			switch method {
			case "AksSummaryOperationsClient.Get":
				res.resp, res.err = a.dispatchGet(req)
			case "AksSummaryOperationsClient.NewListByAksAssessmentPager":
				res.resp, res.err = a.dispatchNewListByAksAssessmentPager(req)
			default:
				res.err = fmt.Errorf("unhandled API %s", method)
			}

		}
		select {
		case resultChan <- res:
		case <-req.Context().Done():
		}
	}()

	select {
	case <-req.Context().Done():
		return nil, req.Context().Err()
	case res := <-resultChan:
		return res.resp, res.err
	}
}

func (a *AksSummaryOperationsServerTransport) dispatchGet(req *http.Request) (*http.Response, error) {
	if a.srv.Get == nil {
		return nil, &nonRetriableError{errors.New("fake for method Get not implemented")}
	}
	const regexStr = `/subscriptions/(?P<subscriptionId>[!#&$-;=?-\[\]_a-zA-Z0-9~%@]+)/resourceGroups/(?P<resourceGroupName>[!#&$-;=?-\[\]_a-zA-Z0-9~%@]+)/providers/Microsoft\.Migrate/assessmentProjects/(?P<projectName>[!#&$-;=?-\[\]_a-zA-Z0-9~%@]+)/aksAssessments/(?P<assessmentName>[!#&$-;=?-\[\]_a-zA-Z0-9~%@]+)/summaries/(?P<summaryName>[!#&$-;=?-\[\]_a-zA-Z0-9~%@]+)`
	regex := regexp.MustCompile(regexStr)
	matches := regex.FindStringSubmatch(req.URL.EscapedPath())
	if matches == nil || len(matches) < 5 {
		return nil, fmt.Errorf("failed to parse path %s", req.URL.Path)
	}
	resourceGroupNameParam, err := url.PathUnescape(matches[regex.SubexpIndex("resourceGroupName")])
	if err != nil {
		return nil, err
	}
	projectNameParam, err := url.PathUnescape(matches[regex.SubexpIndex("projectName")])
	if err != nil {
		return nil, err
	}
	assessmentNameParam, err := url.PathUnescape(matches[regex.SubexpIndex("assessmentName")])
	if err != nil {
		return nil, err
	}
	summaryNameParam, err := url.PathUnescape(matches[regex.SubexpIndex("summaryName")])
	if err != nil {
		return nil, err
	}
	respr, errRespr := a.srv.Get(req.Context(), resourceGroupNameParam, projectNameParam, assessmentNameParam, summaryNameParam, nil)
	if respErr := server.GetError(errRespr, req); respErr != nil {
		return nil, respErr
	}
	respContent := server.GetResponseContent(respr)
	if !contains([]int{http.StatusOK}, respContent.HTTPStatus) {
		return nil, &nonRetriableError{fmt.Errorf("unexpected status code %d. acceptable values are http.StatusOK", respContent.HTTPStatus)}
	}
	resp, err := server.MarshalResponseAsJSON(respContent, server.GetResponse(respr).AKSSummary, req)
	if err != nil {
		return nil, err
	}
	return resp, nil
}

func (a *AksSummaryOperationsServerTransport) dispatchNewListByAksAssessmentPager(req *http.Request) (*http.Response, error) {
	if a.srv.NewListByAksAssessmentPager == nil {
		return nil, &nonRetriableError{errors.New("fake for method NewListByAksAssessmentPager not implemented")}
	}
	newListByAksAssessmentPager := a.newListByAksAssessmentPager.get(req)
	if newListByAksAssessmentPager == nil {
		const regexStr = `/subscriptions/(?P<subscriptionId>[!#&$-;=?-\[\]_a-zA-Z0-9~%@]+)/resourceGroups/(?P<resourceGroupName>[!#&$-;=?-\[\]_a-zA-Z0-9~%@]+)/providers/Microsoft\.Migrate/assessmentProjects/(?P<projectName>[!#&$-;=?-\[\]_a-zA-Z0-9~%@]+)/aksAssessments/(?P<assessmentName>[!#&$-;=?-\[\]_a-zA-Z0-9~%@]+)/summaries`
		regex := regexp.MustCompile(regexStr)
		matches := regex.FindStringSubmatch(req.URL.EscapedPath())
		if matches == nil || len(matches) < 4 {
			return nil, fmt.Errorf("failed to parse path %s", req.URL.Path)
		}
		resourceGroupNameParam, err := url.PathUnescape(matches[regex.SubexpIndex("resourceGroupName")])
		if err != nil {
			return nil, err
		}
		projectNameParam, err := url.PathUnescape(matches[regex.SubexpIndex("projectName")])
		if err != nil {
			return nil, err
		}
		assessmentNameParam, err := url.PathUnescape(matches[regex.SubexpIndex("assessmentName")])
		if err != nil {
			return nil, err
		}
		resp := a.srv.NewListByAksAssessmentPager(resourceGroupNameParam, projectNameParam, assessmentNameParam, nil)
		newListByAksAssessmentPager = &resp
		a.newListByAksAssessmentPager.add(req, newListByAksAssessmentPager)
		server.PagerResponderInjectNextLinks(newListByAksAssessmentPager, req, func(page *armmigrationassessment.AksSummaryOperationsClientListByAksAssessmentResponse, createLink func() string) {
			page.NextLink = to.Ptr(createLink())
		})
	}
	resp, err := server.PagerResponderNext(newListByAksAssessmentPager, req)
	if err != nil {
		return nil, err
	}
	if !contains([]int{http.StatusOK}, resp.StatusCode) {
		a.newListByAksAssessmentPager.remove(req)
		return nil, &nonRetriableError{fmt.Errorf("unexpected status code %d. acceptable values are http.StatusOK", resp.StatusCode)}
	}
	if !server.PagerResponderMore(newListByAksAssessmentPager) {
		a.newListByAksAssessmentPager.remove(req)
	}
	return resp, nil
}

// set this to conditionally intercept incoming requests to AksSummaryOperationsServerTransport
var aksSummaryOperationsServerTransportInterceptor interface {
	// Do returns true if the server transport should use the returned response/error
	Do(*http.Request) (*http.Response, error, bool)
}
