// Copyright (c) Microsoft Corporation. All rights reserved.
// Licensed under the MIT License. See License.txt in the project root for license information.
// Code generated by Microsoft (R) AutoRest Code Generator. DO NOT EDIT.
// Changes may cause incorrect behavior and will be lost if the code is regenerated.

package fake

import (
	"context"
	"errors"
	"fmt"
	azfake "github.com/Azure/azure-sdk-for-go/sdk/azcore/fake"
	"github.com/Azure/azure-sdk-for-go/sdk/azcore/fake/server"
	"github.com/Azure/azure-sdk-for-go/sdk/azcore/runtime"
	"github.com/Azure/azure-sdk-for-go/sdk/azcore/to"
	"github.com/Azure/azure-sdk-for-go/sdk/resourcemanager/migrationassessment/armmigrationassessment"
	"net/http"
	"net/url"
	"regexp"
)

// BusinessCaseAvsSummaryOperationsServer is a fake server for instances of the armmigrationassessment.BusinessCaseAvsSummaryOperationsClient type.
type BusinessCaseAvsSummaryOperationsServer struct {
	// Get is the fake for method BusinessCaseAvsSummaryOperationsClient.Get
	// HTTP status codes to indicate success: http.StatusOK
	Get func(ctx context.Context, resourceGroupName string, projectName string, businessCaseName string, avsSummaryName string, options *armmigrationassessment.BusinessCaseAvsSummaryOperationsClientGetOptions) (resp azfake.Responder[armmigrationassessment.BusinessCaseAvsSummaryOperationsClientGetResponse], errResp azfake.ErrorResponder)

	// NewListByBusinessCasePager is the fake for method BusinessCaseAvsSummaryOperationsClient.NewListByBusinessCasePager
	// HTTP status codes to indicate success: http.StatusOK
	NewListByBusinessCasePager func(resourceGroupName string, projectName string, businessCaseName string, options *armmigrationassessment.BusinessCaseAvsSummaryOperationsClientListByBusinessCaseOptions) (resp azfake.PagerResponder[armmigrationassessment.BusinessCaseAvsSummaryOperationsClientListByBusinessCaseResponse])
}

// NewBusinessCaseAvsSummaryOperationsServerTransport creates a new instance of BusinessCaseAvsSummaryOperationsServerTransport with the provided implementation.
// The returned BusinessCaseAvsSummaryOperationsServerTransport instance is connected to an instance of armmigrationassessment.BusinessCaseAvsSummaryOperationsClient via the
// azcore.ClientOptions.Transporter field in the client's constructor parameters.
func NewBusinessCaseAvsSummaryOperationsServerTransport(srv *BusinessCaseAvsSummaryOperationsServer) *BusinessCaseAvsSummaryOperationsServerTransport {
	return &BusinessCaseAvsSummaryOperationsServerTransport{
		srv:                        srv,
		newListByBusinessCasePager: newTracker[azfake.PagerResponder[armmigrationassessment.BusinessCaseAvsSummaryOperationsClientListByBusinessCaseResponse]](),
	}
}

// BusinessCaseAvsSummaryOperationsServerTransport connects instances of armmigrationassessment.BusinessCaseAvsSummaryOperationsClient to instances of BusinessCaseAvsSummaryOperationsServer.
// Don't use this type directly, use NewBusinessCaseAvsSummaryOperationsServerTransport instead.
type BusinessCaseAvsSummaryOperationsServerTransport struct {
	srv                        *BusinessCaseAvsSummaryOperationsServer
	newListByBusinessCasePager *tracker[azfake.PagerResponder[armmigrationassessment.BusinessCaseAvsSummaryOperationsClientListByBusinessCaseResponse]]
}

// Do implements the policy.Transporter interface for BusinessCaseAvsSummaryOperationsServerTransport.
func (b *BusinessCaseAvsSummaryOperationsServerTransport) Do(req *http.Request) (*http.Response, error) {
	rawMethod := req.Context().Value(runtime.CtxAPINameKey{})
	method, ok := rawMethod.(string)
	if !ok {
		return nil, nonRetriableError{errors.New("unable to dispatch request, missing value for CtxAPINameKey")}
	}

	return b.dispatchToMethodFake(req, method)
}

func (b *BusinessCaseAvsSummaryOperationsServerTransport) dispatchToMethodFake(req *http.Request, method string) (*http.Response, error) {
	resultChan := make(chan result)
	defer close(resultChan)

	go func() {
		var intercepted bool
		var res result
		if businessCaseAvsSummaryOperationsServerTransportInterceptor != nil {
			res.resp, res.err, intercepted = businessCaseAvsSummaryOperationsServerTransportInterceptor.Do(req)
		}
		if !intercepted {
			switch method {
			case "BusinessCaseAvsSummaryOperationsClient.Get":
				res.resp, res.err = b.dispatchGet(req)
			case "BusinessCaseAvsSummaryOperationsClient.NewListByBusinessCasePager":
				res.resp, res.err = b.dispatchNewListByBusinessCasePager(req)
			default:
				res.err = fmt.Errorf("unhandled API %s", method)
			}

		}
		select {
		case resultChan <- res:
		case <-req.Context().Done():
		}
	}()

	select {
	case <-req.Context().Done():
		return nil, req.Context().Err()
	case res := <-resultChan:
		return res.resp, res.err
	}
}

func (b *BusinessCaseAvsSummaryOperationsServerTransport) dispatchGet(req *http.Request) (*http.Response, error) {
	if b.srv.Get == nil {
		return nil, &nonRetriableError{errors.New("fake for method Get not implemented")}
	}
	const regexStr = `/subscriptions/(?P<subscriptionId>[!#&$-;=?-\[\]_a-zA-Z0-9~%@]+)/resourceGroups/(?P<resourceGroupName>[!#&$-;=?-\[\]_a-zA-Z0-9~%@]+)/providers/Microsoft\.Migrate/assessmentProjects/(?P<projectName>[!#&$-;=?-\[\]_a-zA-Z0-9~%@]+)/businessCases/(?P<businessCaseName>[!#&$-;=?-\[\]_a-zA-Z0-9~%@]+)/avsSummaries/(?P<avsSummaryName>[!#&$-;=?-\[\]_a-zA-Z0-9~%@]+)`
	regex := regexp.MustCompile(regexStr)
	matches := regex.FindStringSubmatch(req.URL.EscapedPath())
	if matches == nil || len(matches) < 5 {
		return nil, fmt.Errorf("failed to parse path %s", req.URL.Path)
	}
	resourceGroupNameParam, err := url.PathUnescape(matches[regex.SubexpIndex("resourceGroupName")])
	if err != nil {
		return nil, err
	}
	projectNameParam, err := url.PathUnescape(matches[regex.SubexpIndex("projectName")])
	if err != nil {
		return nil, err
	}
	businessCaseNameParam, err := url.PathUnescape(matches[regex.SubexpIndex("businessCaseName")])
	if err != nil {
		return nil, err
	}
	avsSummaryNameParam, err := url.PathUnescape(matches[regex.SubexpIndex("avsSummaryName")])
	if err != nil {
		return nil, err
	}
	respr, errRespr := b.srv.Get(req.Context(), resourceGroupNameParam, projectNameParam, businessCaseNameParam, avsSummaryNameParam, nil)
	if respErr := server.GetError(errRespr, req); respErr != nil {
		return nil, respErr
	}
	respContent := server.GetResponseContent(respr)
	if !contains([]int{http.StatusOK}, respContent.HTTPStatus) {
		return nil, &nonRetriableError{fmt.Errorf("unexpected status code %d. acceptable values are http.StatusOK", respContent.HTTPStatus)}
	}
	resp, err := server.MarshalResponseAsJSON(respContent, server.GetResponse(respr).AvsSummary, req)
	if err != nil {
		return nil, err
	}
	return resp, nil
}

func (b *BusinessCaseAvsSummaryOperationsServerTransport) dispatchNewListByBusinessCasePager(req *http.Request) (*http.Response, error) {
	if b.srv.NewListByBusinessCasePager == nil {
		return nil, &nonRetriableError{errors.New("fake for method NewListByBusinessCasePager not implemented")}
	}
	newListByBusinessCasePager := b.newListByBusinessCasePager.get(req)
	if newListByBusinessCasePager == nil {
		const regexStr = `/subscriptions/(?P<subscriptionId>[!#&$-;=?-\[\]_a-zA-Z0-9~%@]+)/resourceGroups/(?P<resourceGroupName>[!#&$-;=?-\[\]_a-zA-Z0-9~%@]+)/providers/Microsoft\.Migrate/assessmentProjects/(?P<projectName>[!#&$-;=?-\[\]_a-zA-Z0-9~%@]+)/businessCases/(?P<businessCaseName>[!#&$-;=?-\[\]_a-zA-Z0-9~%@]+)/avsSummaries`
		regex := regexp.MustCompile(regexStr)
		matches := regex.FindStringSubmatch(req.URL.EscapedPath())
		if matches == nil || len(matches) < 4 {
			return nil, fmt.Errorf("failed to parse path %s", req.URL.Path)
		}
		resourceGroupNameParam, err := url.PathUnescape(matches[regex.SubexpIndex("resourceGroupName")])
		if err != nil {
			return nil, err
		}
		projectNameParam, err := url.PathUnescape(matches[regex.SubexpIndex("projectName")])
		if err != nil {
			return nil, err
		}
		businessCaseNameParam, err := url.PathUnescape(matches[regex.SubexpIndex("businessCaseName")])
		if err != nil {
			return nil, err
		}
		resp := b.srv.NewListByBusinessCasePager(resourceGroupNameParam, projectNameParam, businessCaseNameParam, nil)
		newListByBusinessCasePager = &resp
		b.newListByBusinessCasePager.add(req, newListByBusinessCasePager)
		server.PagerResponderInjectNextLinks(newListByBusinessCasePager, req, func(page *armmigrationassessment.BusinessCaseAvsSummaryOperationsClientListByBusinessCaseResponse, createLink func() string) {
			page.NextLink = to.Ptr(createLink())
		})
	}
	resp, err := server.PagerResponderNext(newListByBusinessCasePager, req)
	if err != nil {
		return nil, err
	}
	if !contains([]int{http.StatusOK}, resp.StatusCode) {
		b.newListByBusinessCasePager.remove(req)
		return nil, &nonRetriableError{fmt.Errorf("unexpected status code %d. acceptable values are http.StatusOK", resp.StatusCode)}
	}
	if !server.PagerResponderMore(newListByBusinessCasePager) {
		b.newListByBusinessCasePager.remove(req)
	}
	return resp, nil
}

// set this to conditionally intercept incoming requests to BusinessCaseAvsSummaryOperationsServerTransport
var businessCaseAvsSummaryOperationsServerTransportInterceptor interface {
	// Do returns true if the server transport should use the returned response/error
	Do(*http.Request) (*http.Response, error, bool)
}
