// Copyright (c) Microsoft Corporation. All rights reserved.
// Licensed under the MIT License. See License.txt in the project root for license information.
// Code generated by Microsoft (R) AutoRest Code Generator. DO NOT EDIT.
// Changes may cause incorrect behavior and will be lost if the code is regenerated.

package fake

import (
	"context"
	"errors"
	"fmt"
	azfake "github.com/Azure/azure-sdk-for-go/sdk/azcore/fake"
	"github.com/Azure/azure-sdk-for-go/sdk/azcore/fake/server"
	"github.com/Azure/azure-sdk-for-go/sdk/azcore/runtime"
	"github.com/Azure/azure-sdk-for-go/sdk/azcore/to"
	"github.com/Azure/azure-sdk-for-go/sdk/resourcemanager/migrationassessment/armmigrationassessment"
	"net/http"
	"net/url"
	"regexp"
)

// SQLAssessmentOptionsOperationsServer is a fake server for instances of the armmigrationassessment.SQLAssessmentOptionsOperationsClient type.
type SQLAssessmentOptionsOperationsServer struct {
	// Get is the fake for method SQLAssessmentOptionsOperationsClient.Get
	// HTTP status codes to indicate success: http.StatusOK
	Get func(ctx context.Context, resourceGroupName string, projectName string, assessmentOptionsName string, options *armmigrationassessment.SQLAssessmentOptionsOperationsClientGetOptions) (resp azfake.Responder[armmigrationassessment.SQLAssessmentOptionsOperationsClientGetResponse], errResp azfake.ErrorResponder)

	// NewListByAssessmentProjectPager is the fake for method SQLAssessmentOptionsOperationsClient.NewListByAssessmentProjectPager
	// HTTP status codes to indicate success: http.StatusOK
	NewListByAssessmentProjectPager func(resourceGroupName string, projectName string, options *armmigrationassessment.SQLAssessmentOptionsOperationsClientListByAssessmentProjectOptions) (resp azfake.PagerResponder[armmigrationassessment.SQLAssessmentOptionsOperationsClientListByAssessmentProjectResponse])
}

// NewSQLAssessmentOptionsOperationsServerTransport creates a new instance of SQLAssessmentOptionsOperationsServerTransport with the provided implementation.
// The returned SQLAssessmentOptionsOperationsServerTransport instance is connected to an instance of armmigrationassessment.SQLAssessmentOptionsOperationsClient via the
// azcore.ClientOptions.Transporter field in the client's constructor parameters.
func NewSQLAssessmentOptionsOperationsServerTransport(srv *SQLAssessmentOptionsOperationsServer) *SQLAssessmentOptionsOperationsServerTransport {
	return &SQLAssessmentOptionsOperationsServerTransport{
		srv:                             srv,
		newListByAssessmentProjectPager: newTracker[azfake.PagerResponder[armmigrationassessment.SQLAssessmentOptionsOperationsClientListByAssessmentProjectResponse]](),
	}
}

// SQLAssessmentOptionsOperationsServerTransport connects instances of armmigrationassessment.SQLAssessmentOptionsOperationsClient to instances of SQLAssessmentOptionsOperationsServer.
// Don't use this type directly, use NewSQLAssessmentOptionsOperationsServerTransport instead.
type SQLAssessmentOptionsOperationsServerTransport struct {
	srv                             *SQLAssessmentOptionsOperationsServer
	newListByAssessmentProjectPager *tracker[azfake.PagerResponder[armmigrationassessment.SQLAssessmentOptionsOperationsClientListByAssessmentProjectResponse]]
}

// Do implements the policy.Transporter interface for SQLAssessmentOptionsOperationsServerTransport.
func (s *SQLAssessmentOptionsOperationsServerTransport) Do(req *http.Request) (*http.Response, error) {
	rawMethod := req.Context().Value(runtime.CtxAPINameKey{})
	method, ok := rawMethod.(string)
	if !ok {
		return nil, nonRetriableError{errors.New("unable to dispatch request, missing value for CtxAPINameKey")}
	}

	return s.dispatchToMethodFake(req, method)
}

func (s *SQLAssessmentOptionsOperationsServerTransport) dispatchToMethodFake(req *http.Request, method string) (*http.Response, error) {
	resultChan := make(chan result)
	defer close(resultChan)

	go func() {
		var intercepted bool
		var res result
		if sqlAssessmentOptionsOperationsServerTransportInterceptor != nil {
			res.resp, res.err, intercepted = sqlAssessmentOptionsOperationsServerTransportInterceptor.Do(req)
		}
		if !intercepted {
			switch method {
			case "SQLAssessmentOptionsOperationsClient.Get":
				res.resp, res.err = s.dispatchGet(req)
			case "SQLAssessmentOptionsOperationsClient.NewListByAssessmentProjectPager":
				res.resp, res.err = s.dispatchNewListByAssessmentProjectPager(req)
			default:
				res.err = fmt.Errorf("unhandled API %s", method)
			}

		}
		select {
		case resultChan <- res:
		case <-req.Context().Done():
		}
	}()

	select {
	case <-req.Context().Done():
		return nil, req.Context().Err()
	case res := <-resultChan:
		return res.resp, res.err
	}
}

func (s *SQLAssessmentOptionsOperationsServerTransport) dispatchGet(req *http.Request) (*http.Response, error) {
	if s.srv.Get == nil {
		return nil, &nonRetriableError{errors.New("fake for method Get not implemented")}
	}
	const regexStr = `/subscriptions/(?P<subscriptionId>[!#&$-;=?-\[\]_a-zA-Z0-9~%@]+)/resourceGroups/(?P<resourceGroupName>[!#&$-;=?-\[\]_a-zA-Z0-9~%@]+)/providers/Microsoft\.Migrate/assessmentProjects/(?P<projectName>[!#&$-;=?-\[\]_a-zA-Z0-9~%@]+)/sqlAssessmentOptions/(?P<assessmentOptionsName>[!#&$-;=?-\[\]_a-zA-Z0-9~%@]+)`
	regex := regexp.MustCompile(regexStr)
	matches := regex.FindStringSubmatch(req.URL.EscapedPath())
	if matches == nil || len(matches) < 4 {
		return nil, fmt.Errorf("failed to parse path %s", req.URL.Path)
	}
	resourceGroupNameParam, err := url.PathUnescape(matches[regex.SubexpIndex("resourceGroupName")])
	if err != nil {
		return nil, err
	}
	projectNameParam, err := url.PathUnescape(matches[regex.SubexpIndex("projectName")])
	if err != nil {
		return nil, err
	}
	assessmentOptionsNameParam, err := url.PathUnescape(matches[regex.SubexpIndex("assessmentOptionsName")])
	if err != nil {
		return nil, err
	}
	respr, errRespr := s.srv.Get(req.Context(), resourceGroupNameParam, projectNameParam, assessmentOptionsNameParam, nil)
	if respErr := server.GetError(errRespr, req); respErr != nil {
		return nil, respErr
	}
	respContent := server.GetResponseContent(respr)
	if !contains([]int{http.StatusOK}, respContent.HTTPStatus) {
		return nil, &nonRetriableError{fmt.Errorf("unexpected status code %d. acceptable values are http.StatusOK", respContent.HTTPStatus)}
	}
	resp, err := server.MarshalResponseAsJSON(respContent, server.GetResponse(respr).SQLAssessmentOptions, req)
	if err != nil {
		return nil, err
	}
	return resp, nil
}

func (s *SQLAssessmentOptionsOperationsServerTransport) dispatchNewListByAssessmentProjectPager(req *http.Request) (*http.Response, error) {
	if s.srv.NewListByAssessmentProjectPager == nil {
		return nil, &nonRetriableError{errors.New("fake for method NewListByAssessmentProjectPager not implemented")}
	}
	newListByAssessmentProjectPager := s.newListByAssessmentProjectPager.get(req)
	if newListByAssessmentProjectPager == nil {
		const regexStr = `/subscriptions/(?P<subscriptionId>[!#&$-;=?-\[\]_a-zA-Z0-9~%@]+)/resourceGroups/(?P<resourceGroupName>[!#&$-;=?-\[\]_a-zA-Z0-9~%@]+)/providers/Microsoft\.Migrate/assessmentProjects/(?P<projectName>[!#&$-;=?-\[\]_a-zA-Z0-9~%@]+)/sqlAssessmentOptions`
		regex := regexp.MustCompile(regexStr)
		matches := regex.FindStringSubmatch(req.URL.EscapedPath())
		if matches == nil || len(matches) < 3 {
			return nil, fmt.Errorf("failed to parse path %s", req.URL.Path)
		}
		resourceGroupNameParam, err := url.PathUnescape(matches[regex.SubexpIndex("resourceGroupName")])
		if err != nil {
			return nil, err
		}
		projectNameParam, err := url.PathUnescape(matches[regex.SubexpIndex("projectName")])
		if err != nil {
			return nil, err
		}
		resp := s.srv.NewListByAssessmentProjectPager(resourceGroupNameParam, projectNameParam, nil)
		newListByAssessmentProjectPager = &resp
		s.newListByAssessmentProjectPager.add(req, newListByAssessmentProjectPager)
		server.PagerResponderInjectNextLinks(newListByAssessmentProjectPager, req, func(page *armmigrationassessment.SQLAssessmentOptionsOperationsClientListByAssessmentProjectResponse, createLink func() string) {
			page.NextLink = to.Ptr(createLink())
		})
	}
	resp, err := server.PagerResponderNext(newListByAssessmentProjectPager, req)
	if err != nil {
		return nil, err
	}
	if !contains([]int{http.StatusOK}, resp.StatusCode) {
		s.newListByAssessmentProjectPager.remove(req)
		return nil, &nonRetriableError{fmt.Errorf("unexpected status code %d. acceptable values are http.StatusOK", resp.StatusCode)}
	}
	if !server.PagerResponderMore(newListByAssessmentProjectPager) {
		s.newListByAssessmentProjectPager.remove(req)
	}
	return resp, nil
}

// set this to conditionally intercept incoming requests to SQLAssessmentOptionsOperationsServerTransport
var sqlAssessmentOptionsOperationsServerTransportInterceptor interface {
	// Do returns true if the server transport should use the returned response/error
	Do(*http.Request) (*http.Response, error, bool)
}
