// Copyright (c) Microsoft Corporation. All rights reserved.
// Licensed under the MIT License. See License.txt in the project root for license information.
// Code generated by Microsoft (R) AutoRest Code Generator. DO NOT EDIT.
// Changes may cause incorrect behavior and will be lost if the code is regenerated.

package fake

import (
	"context"
	"errors"
	"fmt"
	azfake "github.com/Azure/azure-sdk-for-go/sdk/azcore/fake"
	"github.com/Azure/azure-sdk-for-go/sdk/azcore/fake/server"
	"github.com/Azure/azure-sdk-for-go/sdk/azcore/runtime"
	"github.com/Azure/azure-sdk-for-go/sdk/azcore/to"
	"github.com/Azure/azure-sdk-for-go/sdk/resourcemanager/migrationassessment/armmigrationassessment"
	"net/http"
	"net/url"
	"regexp"
)

// WebAppAssessmentV2SummaryOperationsServer is a fake server for instances of the armmigrationassessment.WebAppAssessmentV2SummaryOperationsClient type.
type WebAppAssessmentV2SummaryOperationsServer struct {
	// Get is the fake for method WebAppAssessmentV2SummaryOperationsClient.Get
	// HTTP status codes to indicate success: http.StatusOK
	Get func(ctx context.Context, resourceGroupName string, projectName string, groupName string, assessmentName string, summaryName string, options *armmigrationassessment.WebAppAssessmentV2SummaryOperationsClientGetOptions) (resp azfake.Responder[armmigrationassessment.WebAppAssessmentV2SummaryOperationsClientGetResponse], errResp azfake.ErrorResponder)

	// NewListByWebAppAssessmentV2Pager is the fake for method WebAppAssessmentV2SummaryOperationsClient.NewListByWebAppAssessmentV2Pager
	// HTTP status codes to indicate success: http.StatusOK
	NewListByWebAppAssessmentV2Pager func(resourceGroupName string, projectName string, groupName string, assessmentName string, options *armmigrationassessment.WebAppAssessmentV2SummaryOperationsClientListByWebAppAssessmentV2Options) (resp azfake.PagerResponder[armmigrationassessment.WebAppAssessmentV2SummaryOperationsClientListByWebAppAssessmentV2Response])
}

// NewWebAppAssessmentV2SummaryOperationsServerTransport creates a new instance of WebAppAssessmentV2SummaryOperationsServerTransport with the provided implementation.
// The returned WebAppAssessmentV2SummaryOperationsServerTransport instance is connected to an instance of armmigrationassessment.WebAppAssessmentV2SummaryOperationsClient via the
// azcore.ClientOptions.Transporter field in the client's constructor parameters.
func NewWebAppAssessmentV2SummaryOperationsServerTransport(srv *WebAppAssessmentV2SummaryOperationsServer) *WebAppAssessmentV2SummaryOperationsServerTransport {
	return &WebAppAssessmentV2SummaryOperationsServerTransport{
		srv:                              srv,
		newListByWebAppAssessmentV2Pager: newTracker[azfake.PagerResponder[armmigrationassessment.WebAppAssessmentV2SummaryOperationsClientListByWebAppAssessmentV2Response]](),
	}
}

// WebAppAssessmentV2SummaryOperationsServerTransport connects instances of armmigrationassessment.WebAppAssessmentV2SummaryOperationsClient to instances of WebAppAssessmentV2SummaryOperationsServer.
// Don't use this type directly, use NewWebAppAssessmentV2SummaryOperationsServerTransport instead.
type WebAppAssessmentV2SummaryOperationsServerTransport struct {
	srv                              *WebAppAssessmentV2SummaryOperationsServer
	newListByWebAppAssessmentV2Pager *tracker[azfake.PagerResponder[armmigrationassessment.WebAppAssessmentV2SummaryOperationsClientListByWebAppAssessmentV2Response]]
}

// Do implements the policy.Transporter interface for WebAppAssessmentV2SummaryOperationsServerTransport.
func (w *WebAppAssessmentV2SummaryOperationsServerTransport) Do(req *http.Request) (*http.Response, error) {
	rawMethod := req.Context().Value(runtime.CtxAPINameKey{})
	method, ok := rawMethod.(string)
	if !ok {
		return nil, nonRetriableError{errors.New("unable to dispatch request, missing value for CtxAPINameKey")}
	}

	return w.dispatchToMethodFake(req, method)
}

func (w *WebAppAssessmentV2SummaryOperationsServerTransport) dispatchToMethodFake(req *http.Request, method string) (*http.Response, error) {
	resultChan := make(chan result)
	defer close(resultChan)

	go func() {
		var intercepted bool
		var res result
		if webAppAssessmentV2SummaryOperationsServerTransportInterceptor != nil {
			res.resp, res.err, intercepted = webAppAssessmentV2SummaryOperationsServerTransportInterceptor.Do(req)
		}
		if !intercepted {
			switch method {
			case "WebAppAssessmentV2SummaryOperationsClient.Get":
				res.resp, res.err = w.dispatchGet(req)
			case "WebAppAssessmentV2SummaryOperationsClient.NewListByWebAppAssessmentV2Pager":
				res.resp, res.err = w.dispatchNewListByWebAppAssessmentV2Pager(req)
			default:
				res.err = fmt.Errorf("unhandled API %s", method)
			}

		}
		select {
		case resultChan <- res:
		case <-req.Context().Done():
		}
	}()

	select {
	case <-req.Context().Done():
		return nil, req.Context().Err()
	case res := <-resultChan:
		return res.resp, res.err
	}
}

func (w *WebAppAssessmentV2SummaryOperationsServerTransport) dispatchGet(req *http.Request) (*http.Response, error) {
	if w.srv.Get == nil {
		return nil, &nonRetriableError{errors.New("fake for method Get not implemented")}
	}
	const regexStr = `/subscriptions/(?P<subscriptionId>[!#&$-;=?-\[\]_a-zA-Z0-9~%@]+)/resourceGroups/(?P<resourceGroupName>[!#&$-;=?-\[\]_a-zA-Z0-9~%@]+)/providers/Microsoft\.Migrate/assessmentProjects/(?P<projectName>[!#&$-;=?-\[\]_a-zA-Z0-9~%@]+)/groups/(?P<groupName>[!#&$-;=?-\[\]_a-zA-Z0-9~%@]+)/webAppAssessments/(?P<assessmentName>[!#&$-;=?-\[\]_a-zA-Z0-9~%@]+)/summaries/(?P<summaryName>[!#&$-;=?-\[\]_a-zA-Z0-9~%@]+)`
	regex := regexp.MustCompile(regexStr)
	matches := regex.FindStringSubmatch(req.URL.EscapedPath())
	if matches == nil || len(matches) < 6 {
		return nil, fmt.Errorf("failed to parse path %s", req.URL.Path)
	}
	resourceGroupNameParam, err := url.PathUnescape(matches[regex.SubexpIndex("resourceGroupName")])
	if err != nil {
		return nil, err
	}
	projectNameParam, err := url.PathUnescape(matches[regex.SubexpIndex("projectName")])
	if err != nil {
		return nil, err
	}
	groupNameParam, err := url.PathUnescape(matches[regex.SubexpIndex("groupName")])
	if err != nil {
		return nil, err
	}
	assessmentNameParam, err := url.PathUnescape(matches[regex.SubexpIndex("assessmentName")])
	if err != nil {
		return nil, err
	}
	summaryNameParam, err := url.PathUnescape(matches[regex.SubexpIndex("summaryName")])
	if err != nil {
		return nil, err
	}
	respr, errRespr := w.srv.Get(req.Context(), resourceGroupNameParam, projectNameParam, groupNameParam, assessmentNameParam, summaryNameParam, nil)
	if respErr := server.GetError(errRespr, req); respErr != nil {
		return nil, respErr
	}
	respContent := server.GetResponseContent(respr)
	if !contains([]int{http.StatusOK}, respContent.HTTPStatus) {
		return nil, &nonRetriableError{fmt.Errorf("unexpected status code %d. acceptable values are http.StatusOK", respContent.HTTPStatus)}
	}
	resp, err := server.MarshalResponseAsJSON(respContent, server.GetResponse(respr).WebAppAssessmentV2Summary, req)
	if err != nil {
		return nil, err
	}
	return resp, nil
}

func (w *WebAppAssessmentV2SummaryOperationsServerTransport) dispatchNewListByWebAppAssessmentV2Pager(req *http.Request) (*http.Response, error) {
	if w.srv.NewListByWebAppAssessmentV2Pager == nil {
		return nil, &nonRetriableError{errors.New("fake for method NewListByWebAppAssessmentV2Pager not implemented")}
	}
	newListByWebAppAssessmentV2Pager := w.newListByWebAppAssessmentV2Pager.get(req)
	if newListByWebAppAssessmentV2Pager == nil {
		const regexStr = `/subscriptions/(?P<subscriptionId>[!#&$-;=?-\[\]_a-zA-Z0-9~%@]+)/resourceGroups/(?P<resourceGroupName>[!#&$-;=?-\[\]_a-zA-Z0-9~%@]+)/providers/Microsoft\.Migrate/assessmentProjects/(?P<projectName>[!#&$-;=?-\[\]_a-zA-Z0-9~%@]+)/groups/(?P<groupName>[!#&$-;=?-\[\]_a-zA-Z0-9~%@]+)/webAppAssessments/(?P<assessmentName>[!#&$-;=?-\[\]_a-zA-Z0-9~%@]+)/summaries`
		regex := regexp.MustCompile(regexStr)
		matches := regex.FindStringSubmatch(req.URL.EscapedPath())
		if matches == nil || len(matches) < 5 {
			return nil, fmt.Errorf("failed to parse path %s", req.URL.Path)
		}
		resourceGroupNameParam, err := url.PathUnescape(matches[regex.SubexpIndex("resourceGroupName")])
		if err != nil {
			return nil, err
		}
		projectNameParam, err := url.PathUnescape(matches[regex.SubexpIndex("projectName")])
		if err != nil {
			return nil, err
		}
		groupNameParam, err := url.PathUnescape(matches[regex.SubexpIndex("groupName")])
		if err != nil {
			return nil, err
		}
		assessmentNameParam, err := url.PathUnescape(matches[regex.SubexpIndex("assessmentName")])
		if err != nil {
			return nil, err
		}
		resp := w.srv.NewListByWebAppAssessmentV2Pager(resourceGroupNameParam, projectNameParam, groupNameParam, assessmentNameParam, nil)
		newListByWebAppAssessmentV2Pager = &resp
		w.newListByWebAppAssessmentV2Pager.add(req, newListByWebAppAssessmentV2Pager)
		server.PagerResponderInjectNextLinks(newListByWebAppAssessmentV2Pager, req, func(page *armmigrationassessment.WebAppAssessmentV2SummaryOperationsClientListByWebAppAssessmentV2Response, createLink func() string) {
			page.NextLink = to.Ptr(createLink())
		})
	}
	resp, err := server.PagerResponderNext(newListByWebAppAssessmentV2Pager, req)
	if err != nil {
		return nil, err
	}
	if !contains([]int{http.StatusOK}, resp.StatusCode) {
		w.newListByWebAppAssessmentV2Pager.remove(req)
		return nil, &nonRetriableError{fmt.Errorf("unexpected status code %d. acceptable values are http.StatusOK", resp.StatusCode)}
	}
	if !server.PagerResponderMore(newListByWebAppAssessmentV2Pager) {
		w.newListByWebAppAssessmentV2Pager.remove(req)
	}
	return resp, nil
}

// set this to conditionally intercept incoming requests to WebAppAssessmentV2SummaryOperationsServerTransport
var webAppAssessmentV2SummaryOperationsServerTransportInterceptor interface {
	// Do returns true if the server transport should use the returned response/error
	Do(*http.Request) (*http.Response, error, bool)
}
