{
  "Entries": [
    {
      "RequestUri": "https://fakestorageaccount.table.cosmos.azure.com/Tables",
      "RequestMethod": "POST",
      "RequestHeaders": {
        ":authority": "localhost:5001",
        ":method": "POST",
        ":path": "/Tables",
        ":scheme": "https",
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "dataserviceversion": "3.0",
        "x-ms-date": "Tue, 31 Aug 2021 15:41:13 GMT",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": {
        "TableName": "tableName3858182091"
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata=minimalmetadata",
        "ETag": "W/\u0022datetime\u00272021-08-31T15%3A41%3A14.0265992Z\u0027\u0022",
        "Location": "https://seankaneprim.table.cosmos.azure.com/Tables(\u0027tableName3858182091\u0027)"
      },
      "ResponseBody": {
        "TableName": "tableName3858182091",
        "odata.metadata": "https://seankaneprim.table.cosmos.azure.com/$metadata#Tables/@Element"
      }
    },
    {
      "RequestUri": "https://fakestorageaccount.table.cosmos.azure.com/tableName3858182091(PartitionKey=\u0027partition\u0027,RowKey=\u00271\u0027)",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        ":authority": "localhost:5001",
        ":method": "PUT",
        ":path": "/tableName3858182091(PartitionKey=\u0027partition\u0027,RowKey=\u00271\u0027)",
        ":scheme": "https",
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "dataserviceversion": "3.0",
        "x-ms-date": "Tue, 31 Aug 2021 15:41:13 GMT",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": {
        "Bool": true,
        "Integer": 1,
        "PartitionKey": "partition",
        "RowKey": "1",
        "String": "some string 1",
        "Timestamp": "0001-01-01T00:00:00Z"
      },
      "StatusCode": 204,
      "ResponseHeaders": {
        "Content-Type": "application/json",
        "ETag": "W/\u0022datetime\u00272021-08-31T15%3A41%3A14.4760328Z\u0027\u0022"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakestorageaccount.table.cosmos.azure.com/tableName3858182091(PartitionKey=\u0027partition\u0027,RowKey=\u00271\u0027)?%24format=application%2Fjson%3Bodata%3Dminimalmetadata",
      "RequestMethod": "GET",
      "RequestHeaders": {
        ":authority": "localhost:5001",
        ":method": "GET",
        ":path": "/tableName3858182091(PartitionKey=\u0027partition\u0027,RowKey=\u00271\u0027)?%24format=application%2Fjson%3Bodata%3Dminimalmetadata",
        ":scheme": "https",
        "Authorization": "Sanitized",
        "dataserviceversion": "3.0",
        "x-ms-date": "Tue, 31 Aug 2021 15:41:14 GMT",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata=minimalmetadata",
        "ETag": "W/\u0022datetime\u00272021-08-31T15%3A41%3A14.4760328Z\u0027\u0022"
      },
      "ResponseBody": {
        "odata.metadata": "https://seankaneprim.table.cosmos.azure.com/tableName3858182091/$metadata#tableName3858182091/@Element",
        "odata.etag": "W/\u0022datetime\u00272021-08-31T15%3A41%3A14.4760328Z\u0027\u0022",
        "PartitionKey": "partition",
        "RowKey": "1",
        "Bool": true,
        "Integer": 1,
        "String": "some string 1",
        "Timestamp": "2021-08-31T15:41:14.4760328Z"
      }
    },
    {
      "RequestUri": "https://fakestorageaccount.table.cosmos.azure.com/tableName3858182091(PartitionKey=\u0027partition\u0027,RowKey=\u00271\u0027)",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        ":authority": "localhost:5001",
        ":method": "PUT",
        ":path": "/tableName3858182091(PartitionKey=\u0027partition\u0027,RowKey=\u00271\u0027)",
        ":scheme": "https",
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "dataserviceversion": "3.0",
        "x-ms-date": "Tue, 31 Aug 2021 15:41:14 GMT",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": {
        "Integer": 1,
        "MergeProperty": "foo",
        "PartitionKey": "partition",
        "RowKey": "1",
        "String": "some string 1"
      },
      "StatusCode": 204,
      "ResponseHeaders": {
        "Content-Type": "application/json",
        "ETag": "W/\u0022datetime\u00272021-08-31T15%3A41%3A14.6962952Z\u0027\u0022"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakestorageaccount.table.cosmos.azure.com/tableName3858182091()?%24filter=RowKey\u002Beq\u002B%271%27\u0026%24format=application%2Fjson%3Bodata%3Dminimalmetadata",
      "RequestMethod": "GET",
      "RequestHeaders": {
        ":authority": "localhost:5001",
        ":method": "GET",
        ":path": "/tableName3858182091()?%24filter=RowKey\u002Beq\u002B%271%27\u0026%24format=application%2Fjson%3Bodata%3Dminimalmetadata",
        ":scheme": "https",
        "Authorization": "Sanitized",
        "dataserviceversion": "3.0",
        "x-ms-date": "Tue, 31 Aug 2021 15:41:14 GMT",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata=minimalmetadata"
      },
      "ResponseBody": {
        "value": [
          {
            "odata.etag": "W/\u0022datetime\u00272021-08-31T15%3A41%3A14.6962952Z\u0027\u0022",
            "PartitionKey": "partition",
            "RowKey": "1",
            "Integer": 1,
            "MergeProperty": "foo",
            "String": "some string 1",
            "Timestamp": "2021-08-31T15:41:14.6962952Z"
          }
        ],
        "odata.metadata": "https://seankaneprim.table.cosmos.azure.com/$metadata#tableName3858182091"
      }
    },
    {
      "RequestUri": "https://fakestorageaccount.table.cosmos.azure.com/Tables(\u0027tableName3858182091\u0027)",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        ":authority": "localhost:5001",
        ":method": "DELETE",
        ":path": "/Tables(\u0027tableName3858182091\u0027)",
        ":scheme": "https",
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 31 Aug 2021 15:41:14 GMT",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
      },
      "ResponseBody": null
    }
  ],
  "Variables": {}
}