// Copyright (c) Microsoft Corporation. All rights reserved.
// Licensed under the MIT License. See License.txt in the project root for license information.
// Code generated by Microsoft (R) AutoRest Code Generator. DO NOT EDIT.
// Changes may cause incorrect behavior and will be lost if the code is regenerated.

package armproviderhub

import (
	"context"
	"errors"
	"github.com/Azure/azure-sdk-for-go/sdk/azcore"
	"github.com/Azure/azure-sdk-for-go/sdk/azcore/arm"
	"github.com/Azure/azure-sdk-for-go/sdk/azcore/policy"
	"github.com/Azure/azure-sdk-for-go/sdk/azcore/runtime"
	"net/http"
	"net/url"
	"strings"
)

// ResourceActionsClient contains the methods for the ResourceActions group.
// Don't use this type directly, use NewResourceActionsClient() instead.
type ResourceActionsClient struct {
	internal       *arm.Client
	subscriptionID string
}

// NewResourceActionsClient creates a new instance of ResourceActionsClient with the specified values.
//   - subscriptionID - The ID of the target subscription. The value must be an UUID.
//   - credential - used to authorize requests. Usually a credential from azidentity.
//   - options - pass nil to accept the default values.
func NewResourceActionsClient(subscriptionID string, credential azcore.TokenCredential, options *arm.ClientOptions) (*ResourceActionsClient, error) {
	cl, err := arm.NewClient(moduleName, moduleVersion, credential, options)
	if err != nil {
		return nil, err
	}
	client := &ResourceActionsClient{
		subscriptionID: subscriptionID,
		internal:       cl,
	}
	return client, nil
}

// BeginDeleteResources - Deletes resources.
// If the operation fails it returns an *azcore.ResponseError type.
//
// Generated from API version 2024-09-01
//   - providerNamespace - The name of the resource provider hosted within ProviderHub.
//   - resourceActionName - The resource action name.
//   - properties - The properties supplied to the DeleteResources operation.
//   - options - ResourceActionsClientBeginDeleteResourcesOptions contains the optional parameters for the ResourceActionsClient.BeginDeleteResources
//     method.
func (client *ResourceActionsClient) BeginDeleteResources(ctx context.Context, providerNamespace string, resourceActionName string, properties ResourceManagementAction, options *ResourceActionsClientBeginDeleteResourcesOptions) (*runtime.Poller[ResourceActionsClientDeleteResourcesResponse], error) {
	if options == nil || options.ResumeToken == "" {
		resp, err := client.deleteResources(ctx, providerNamespace, resourceActionName, properties, options)
		if err != nil {
			return nil, err
		}
		poller, err := runtime.NewPoller(resp, client.internal.Pipeline(), &runtime.NewPollerOptions[ResourceActionsClientDeleteResourcesResponse]{
			FinalStateVia: runtime.FinalStateViaLocation,
			Tracer:        client.internal.Tracer(),
		})
		return poller, err
	} else {
		return runtime.NewPollerFromResumeToken(options.ResumeToken, client.internal.Pipeline(), &runtime.NewPollerFromResumeTokenOptions[ResourceActionsClientDeleteResourcesResponse]{
			Tracer: client.internal.Tracer(),
		})
	}
}

// DeleteResources - Deletes resources.
// If the operation fails it returns an *azcore.ResponseError type.
//
// Generated from API version 2024-09-01
func (client *ResourceActionsClient) deleteResources(ctx context.Context, providerNamespace string, resourceActionName string, properties ResourceManagementAction, options *ResourceActionsClientBeginDeleteResourcesOptions) (*http.Response, error) {
	var err error
	const operationName = "ResourceActionsClient.BeginDeleteResources"
	ctx = context.WithValue(ctx, runtime.CtxAPINameKey{}, operationName)
	ctx, endSpan := runtime.StartSpan(ctx, operationName, client.internal.Tracer(), nil)
	defer func() { endSpan(err) }()
	req, err := client.deleteResourcesCreateRequest(ctx, providerNamespace, resourceActionName, properties, options)
	if err != nil {
		return nil, err
	}
	httpResp, err := client.internal.Pipeline().Do(req)
	if err != nil {
		return nil, err
	}
	if !runtime.HasStatusCode(httpResp, http.StatusAccepted) {
		err = runtime.NewResponseError(httpResp)
		return nil, err
	}
	return httpResp, nil
}

// deleteResourcesCreateRequest creates the DeleteResources request.
func (client *ResourceActionsClient) deleteResourcesCreateRequest(ctx context.Context, providerNamespace string, resourceActionName string, properties ResourceManagementAction, _ *ResourceActionsClientBeginDeleteResourcesOptions) (*policy.Request, error) {
	urlPath := "/subscriptions/{subscriptionId}/providers/Microsoft.ProviderHub/providerRegistrations/{providerNamespace}/resourceActions/{resourceActionName}/deleteResources"
	if client.subscriptionID == "" {
		return nil, errors.New("parameter client.subscriptionID cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{subscriptionId}", url.PathEscape(client.subscriptionID))
	if providerNamespace == "" {
		return nil, errors.New("parameter providerNamespace cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{providerNamespace}", url.PathEscape(providerNamespace))
	if resourceActionName == "" {
		return nil, errors.New("parameter resourceActionName cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{resourceActionName}", url.PathEscape(resourceActionName))
	req, err := runtime.NewRequest(ctx, http.MethodPost, runtime.JoinPaths(client.internal.Endpoint(), urlPath))
	if err != nil {
		return nil, err
	}
	reqQP := req.Raw().URL.Query()
	reqQP.Set("api-version", "2024-09-01")
	req.Raw().URL.RawQuery = reqQP.Encode()
	req.Raw().Header["Accept"] = []string{"application/json"}
	if err := runtime.MarshalAsJSON(req, properties); err != nil {
		return nil, err
	}
	return req, nil
}
