{
  "Entries": [
    {
      "RequestUri": "https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/createVMSS1074274463?api-version=2021-04-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "location": "westus2"
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-writes": "1188"
      },
      "ResponseBody": {
        "id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/createVMSS1074274463",
        "name": "createVMSS1074274463",
        "type": "Microsoft.Resources/resourceGroups",
        "location": "westus2",
        "properties": {
          "provisioningState": "Succeeded"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/createVMSS1074274463/providers/Microsoft.Network/virtualNetworks/network1074274463?api-version=2021-05-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "location": "eastus",
        "properties": {
          "addressSpace": {
            "addressPrefixes": [
              "10.1.0.0/16"
            ]
          },
          "subnets": [
            {
              "name": "subnet1074274463",
              "properties": {
                "addressPrefix": "10.1.0.0/24"
              }
            }
          ]
        }
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Azure-AsyncNotification": "Enabled",
        "Azure-AsyncOperation": "https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Network/locations/eastus/operations/e13bede0-407c-4c12-b890-e40d8743aca5?api-version=2021-05-01",
        "Content-Type": "application/json; charset=utf-8",
        "Retry-After": "3",
        "x-ms-ratelimit-remaining-subscription-writes": "1187"
      },
      "ResponseBody": {
        "name": "network1074274463",
        "id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/createVMSS1074274463/providers/Microsoft.Network/virtualNetworks/network1074274463",
        "etag": "W/\u0022a569a2cc-cdca-42fe-8d1e-fb7b7c039610\u0022",
        "type": "Microsoft.Network/virtualNetworks",
        "location": "eastus",
        "properties": {
          "provisioningState": "Updating",
          "resourceGuid": "fbe13911-d8cc-4b51-bcce-cf6387f504af",
          "addressSpace": {
            "addressPrefixes": [
              "10.1.0.0/16"
            ]
          },
          "subnets": [
            {
              "name": "subnet1074274463",
              "id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/createVMSS1074274463/providers/Microsoft.Network/virtualNetworks/network1074274463/subnets/subnet1074274463",
              "etag": "W/\u0022a569a2cc-cdca-42fe-8d1e-fb7b7c039610\u0022",
              "properties": {
                "provisioningState": "Updating",
                "addressPrefix": "10.1.0.0/24",
                "delegations": [],
                "privateEndpointNetworkPolicies": "Enabled",
                "privateLinkServiceNetworkPolicies": "Enabled"
              },
              "type": "Microsoft.Network/virtualNetworks/subnets"
            }
          ],
          "virtualNetworkPeerings": [],
          "enableDdosProtection": false
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Network/locations/eastus/operations/e13bede0-407c-4c12-b890-e40d8743aca5?api-version=2021-05-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        ":method": "GET",
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-reads": "11978"
      },
      "ResponseBody": {
        "status": "Succeeded"
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/createVMSS1074274463/providers/Microsoft.Network/virtualNetworks/network1074274463?api-version=2021-05-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        ":method": "GET",
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "W/\u002200668a03-1d68-48a5-9801-afd57e668e7d\u0022",
        "x-ms-ratelimit-remaining-subscription-reads": "11977"
      },
      "ResponseBody": {
        "name": "network1074274463",
        "id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/createVMSS1074274463/providers/Microsoft.Network/virtualNetworks/network1074274463",
        "etag": "W/\u002200668a03-1d68-48a5-9801-afd57e668e7d\u0022",
        "type": "Microsoft.Network/virtualNetworks",
        "location": "e[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/createVMSS1074274463/providers/Microsoft.Compute/virtualMachineScaleSets/vmss1074274463?api-version=2021-07-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "location": "eastus",
        "properties": {
          "overprovision": false,
          "upgradePolicy": {
            "automaticOSUpgradePolicy": {
              "disableAutomaticRollback": false,
              "enableAutomaticOSUpgrade": false
            },
            "mode": "Manual"
          },
          "virtualMachineProfile": {
            "networkProfile": {
              "networkInterfaceConfigurations": [
                {
                  "name": "vmss1074274463",
                  "properties": {
                    "enableIPForwarding": true,
                    "ipConfigurations": [
                      {
                        "name": "vmss1074274463",
                        "properties": {
                          "subnet": {
                            "id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/createVMSS1074274463/providers/Microsoft.Network/virtualNetworks/network1074274463/subnets/subnet1074274463"
                          }
                        }
                      }
                    ],
                    "primary": true
                  }
                }
              ]
            },
            "osProfile": {
              "adminPassword": "Password01!@#",
              "adminUsername": "sample-user",
              "computerNamePrefix": "vmss"
            },
            "storageProfile": {
              "imageReference": {
                "offer": "WindowsServer",
                "publisher": "MicrosoftWindowsServer",
                "sku": "2019-Datacenter",
                "version": "latest"
              }
            }
          }
        },
        "sku": {
          "capacity": 1,
          "name": "Basic_A0"
        }
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Azure-AsyncNotification": "Enabled",
        "Azure-AsyncOperation": "https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Compute/locations/eastus/operations/79fa9443-fdfa-42a8-a9f3-da22efc72764?p=f8cfeb74-5cf7-40e0-89b1-3d95a1060fe7\u0026api-version=2021-07-01",
        "Content-Type": "application/json; charset=utf-8",
        "Retry-After": "10",
        "x-ms-ratelimit-remaining-resource": "Microsoft.Compute/CreateVMScaleSet3Min;59,Microsoft.Compute/CreateVMScaleSet30Min;299,Microsoft.Compute/VMScaleSetBatchedVMRequests5Min;1199,Microsoft.Compute/VmssQueuedVMOperations;0",
        "x-ms-ratelimit-remaining-subscription-writes": "1186",
        "x-ms-request-charge": "1"
      },
      "ResponseBody": {
        "name": "vmss1074274463",
        "id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/createVMSS1074274463/providers/Microsoft.Compute/virtualMachineScaleSets/vmss1074274463",
        "type": "Microsoft.Compute/virtualMachineScaleSets",
        "location": "eastus",
        "tags": {
          "azsecpack": "nonprod",
          "platformsettings.host_environment.service.platform_optedin_for_rootcerts": "true"
        },
        "sku": {
          "name": "Basic_A0",
          "tier": "Basic",
          "capacity": 1
        },
        "properties": {
          "singlePlacementGroup": true,
          "upgradePolicy": {
            "mode": "Manual",
            "automaticOSUpgradePolicy": {
              "enableAutomaticOSUpgrade": false,
              "useRollingUpgradePolicy": false,
              "disableAutomaticRollback": false
            }
          },
          "virtualMachineProfile": {
            "osProfile": {
              "computerNamePrefix": "vmss",
              "adminUsername": "sample-user",
              "windowsConfiguration": {
                "provisionVMAgent": true,
                "enableAutomaticUpdates": true
              },
              "secrets": [],
              "allowExtensionOperations": true,
              "requireGuestProvisionSignal": true
            },
            "storageProfile": {
              "osDisk": {
                "osType": "Windows",
                "createOption": "FromImage",
                "caching": "None",
                "managedDisk": {
                  "storageAccountType": "Standard_LRS"
                },
                "diskSizeGB": 127
              },
              "imageReference": {
                "publisher": "MicrosoftWindowsServer",
                "offer": "WindowsServer",
                "sku": "2019-Datacenter",
                "version": "latest"
              }
            },
            "networkProfile": {
              "networkInterfaceConfigurations": [
                {
                  "name": "vmss1074274463",
                  "properties": {
                    "primary": true,
                    "enableAcceleratedNetworking": false,
                    "dnsSettings": {
                      "dnsServers": []
                    },
                    "enableIPForwarding": true,
                    "ipConfigurations": [
                      {
                        "name": "vmss1074274463",
                        "properties": {
                          "subnet": {
                            "id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/createVMSS1074274463/providers/Microsoft.Network/virtualNetworks/network1074274463/subnets/subnet1074274463"
                          },
                          "privateIPAddressVersion": "IPv4"
                        }
                      }
                    ]
                  }
                }
              ]
            },
            "extensionProfile": {
              "extensions": [
                {
                  "name": "Microsoft.Azure.Security.AntimalwareSignature.AntimalwareConfiguration",
                  "properties": {
                    "autoUpgradeMinorVersion": true,
                    "enableAutomaticUpgrade": true,
                    "publisher": "Microsoft.Azure.Security.AntimalwareSignature",
                    "type": "AntimalwareConfiguration",
                    "typeHandlerVersion": "2.0",
                    "settings": {}
                  }
                },
                {
                  "name": "Microsoft.Azure.Geneva.GenevaMonitoring",
                  "properties": {
                    "autoUpgradeMinorVersion": true,
                    "enableAutomaticUpgrade": true,
                    "publisher": "Microsoft.Azure.Geneva",
                    "type": "GenevaMonitoring",
                    "typeHandlerVersion": "2.0",
                    "settings": {}
                  }
                }
              ]
            }
          },
          "provisioningState": "Creating",
          "overprovision": false,
          "doNotRunExtensionsOnOverprovisionedVMs": false,
          "uniqueId": "5fc06df5-c9c3-48f8-85e6-26a4ae1de59c"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Compute/locations/eastus/operations/79fa9443-fdfa-42a8-a9f3-da22efc72764?p=f8cfeb74-5cf7-40e0-89b1-3d95a1060fe7\u0026api-version=2021-07-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        ":method": "GET",
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "Retry-After": "97",
        "x-ms-ratelimit-remaining-resource": "Microsoft.Compute/GetOperation3Min;14999,Microsoft.Compute/GetOperation30Min;29999",
        "x-ms-ratelimit-remaining-subscription-reads": "11976"
      },
      "ResponseBody": {
        "startTime": "2022-03-02T06:25:32.8352128\u002B00:00",
        "status": "InProgress",
        "name": "79fa9443-fdfa-42a8-a9f3-da22efc72764"
      }
    },
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Compute/locations/eastus/operations/79fa9443-fdfa-42a8-a9f3-da22efc72764?p=f8cfeb74-5cf7-40e0-89b1-3d95a1060fe7\u0026api-version=2021-07-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        ":method": "GET",
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-resource": "Microsoft.Compute/GetOperation3Min;14993,Microsoft.Compute/GetOperation30Min;29935",
        "x-ms-ratelimit-remaining-subscription-reads": "11949"
      },
      "ResponseBody": {
        "startTime": "2022-03-02T06:25:32.8352128\u002B00:00",
        "endTime": "2022-03-02T06:52:39.4879073\u002B00:00",
        "status": "Succeeded",
        "name": "79fa9443-fdfa-42a8-a9f3-da22efc72764"
      }
    },
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/createVMSS1074274463?api-version=2021-04-01",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "Location": "https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/operationresults/eyJqb2JJZCI6IlJFU09VUkNFR1JPVVBERUxFVElPTkpPQi1DUkVBVEVWTVNTMTA3NDI3NDQ2My1XRVNUVVMyIiwiam9iTG9jYXRpb24iOiJ3ZXN0dXMyIn0?api-version=2021-04-01",
        "Retry-After": "15",
        "x-ms-ratelimit-remaining-subscription-deletes": "14999"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {}
}
