{
  "Entries": [
    {
      "RequestUri": "https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/createAS1720151325?api-version=2021-04-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        ":authority": "localhost:5001",
        ":method": "PUT",
        ":path": "/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/createAS1720151325?api-version=2021-04-01",
        ":scheme": "https",
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "location": "westus"
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-writes": "1199"
      },
      "ResponseBody": {
        "id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/createAS1720151325",
        "name": "createAS1720151325",
        "type": "Microsoft.Resources/resourceGroups",
        "location": "westus",
        "properties": {
          "provisioningState": "Succeeded"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/createAS1720151325/providers/Microsoft.Compute/availabilitySets/set1720151325?api-version=2021-07-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        ":authority": "localhost:5001",
        ":method": "PUT",
        ":path": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/createAS1720151325/providers/Microsoft.Compute/availabilitySets/set1720151325?api-version=2021-07-01",
        ":scheme": "https",
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "location": "westus",
        "properties": {
          "platformFaultDomainCount": 1,
          "platformUpdateDomainCount": 1
        },
        "sku": {
          "name": "Aligned"
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-resource": "Microsoft.Compute/PutVM3Min;239,Microsoft.Compute/PutVM30Min;1199",
        "x-ms-ratelimit-remaining-subscription-writes": "1198"
      },
      "ResponseBody": [
        "{\r\n",
        "  \u0022name\u0022: \u0022set1720151325\u0022,\r\n",
        "  \u0022id\u0022: \u0022/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/createAS1720151325/providers/Microsoft.Compute/availabilitySets/set1720151325\u0022,\r\n",
        "  \u0022type\u0022: \u0022Microsoft.Compute/availabilitySets\u0022,\r\n",
        "  \u0022location\u0022: \u0022westus\u0022,\r\n",
        "  \u0022properties\u0022: {\r\n",
        "    \u0022platformUpdateDomainCount\u0022: 1,\r\n",
        "    \u0022platformFaultDomainCount\u0022: 1\r\n",
        "  },\r\n",
        "  \u0022sku\u0022: {\r\n",
        "    \u0022name\u0022: \u0022Aligned\u0022\r\n",
        "  }\r\n",
        "}"
      ]
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/createAS1720151325?api-version=2021-04-01",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        ":authority": "localhost:5001",
        ":method": "DELETE",
        ":path": "/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/createAS1720151325?api-version=2021-04-01",
        ":scheme": "https",
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "Location": "https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/operationresults/eyJqb2JJZCI6IlJFU09VUkNFR1JPVVBERUxFVElPTkpPQi1DUkVBVEVBUzE3MjAxNTEzMjUtV0VTVFVTIiwiam9iTG9jYXRpb24iOiJ3ZXN0dXMifQ?api-version=2021-04-01",
        "Retry-After": "15",
        "x-ms-ratelimit-remaining-subscription-deletes": "14999"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {}
}
