{
  "Entries": [
    {
      "RequestUri": "https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/go-sdk-test-rg?api-version=2021-04-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "location": "eastus"
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-writes": "1190"
      },
      "ResponseBody": {
        "id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/go-sdk-test-rg",
        "name": "go-sdk-test-rg",
        "type": "Microsoft.Resources/resourceGroups",
        "location": "eastus",
        "properties": {
          "provisioningState": "Succeeded"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/providers/Microsoft.Compute/operations?api-version=2022-11-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-tenant-reads": "11999"
      },
      "ResponseBody": {
        "value": [
          {
            "origin": "user,system",
            "name": "Microsoft.Compute/availabilitySets/read",
            "isDataAction": false,
            "display": {
              "provider": "Microsoft Compute",
              "resource": "Availability Sets",
              "operation": "Get Availablity Set",
              "description": "Get the properties of an availability set"
            }
          },
          {
            "origin": "user,system",
            "name": "Microsoft.Compute/availabilitySets/write",
            "isDataAction": false,
            "display": {
              "provider": "Microsoft Compute",
              "resource": "Availability Sets",
              "operation": "Create or Update Availability Set",
              "description": "Creates a new availability set or updates an existing one"
        [...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Compute/locations/eastus/usages?api-version=2022-11-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-resource": "Microsoft.Compute/GetSubscriptionInfo3Min;359",
        "x-ms-ratelimit-remaining-subscription-reads": "11989"
      },
      "ResponseBody": {
        "value": [
          {
            "limit": 2500,
            "unit": "Count",
            "currentValue": 0,
            "name": {
              "value": "availabilitySets",
              "localizedValue": "Availability Sets"
            }
          },
          {
            "limit": 428,
            "unit": "Count",
            "currentValue": 34,
            "name": {
              "value": "cores",
              "localizedValue": "Total Regional vCPUs"
            }
          },
          {
            "limit": 25000,
            "unit": "Count",
            "currentValue": 3,
            "name": {
              "value": "virtualMachines",
              "localizedValue": "Virtual Machines"
  [...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Compute/locations/eastus/vmSizes?api-version=2022-11-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-resource": "Microsoft.Compute/GetSubscriptionInfo3Min;358",
        "x-ms-ratelimit-remaining-subscription-reads": "11988"
      },
      "ResponseBody": {
        "value": [
          {
            "name": "Standard_B1ls",
            "numberOfCores": 1,
            "osDiskSizeInMB": 1047552,
            "resourceDiskSizeInMB": 4096,
            "memoryInMB": 512,
            "maxDataDiskCount": 2
          },
          {
            "name": "Standard_B1ms",
            "numberOfCores": 1,
            "osDiskSizeInMB": 1047552,
            "resourceDiskSizeInMB": 4096,
            "memoryInMB": 2048,
            "maxDataDiskCount": 2
          },
          {
            "name": "Standard_B1s",
            "numberOfCores": 1,
            "osDiskSizeInMB": 1047552,
            "resourceDiskSizeInMB": 4096,
            "memoryInMB": 1024,
            "maxDataDiskCount": 2
          },
   [...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/go-sdk-test-rg?api-version=2021-04-01",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "Location": "https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/operationresults/eyJqb2JJZCI6IlJFU09VUkNFR1JPVVBERUxFVElPTkpPQi1HTzoyRFNESzoyRFRFU1Q6MkQxNDEtRUFTVFVTIiwiam9iTG9jYXRpb24iOiJlYXN0dXMifQ?api-version=2021-04-01",
        "Retry-After": "15",
        "x-ms-ratelimit-remaining-subscription-deletes": "14993"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "recordingRandomSeed": "1676972548"
  }
}
