{
  "Entries": [
    {
      "RequestUri": "https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/testRG-dhcreate1194393251/providers/Microsoft.Compute/hostGroups/createDH1194393251?api-version=2021-07-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        ":authority": "localhost:5001",
        ":method": "PUT",
        ":path": "/subscriptions/92f95d8f-3c67-4124-91c7-8cf07cdbf241/resourceGroups/testRG-dhcreate1194393251/providers/Microsoft.Compute/hostGroups/createDH1194393251?api-version=2021-07-01",
        ":scheme": "https",
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "location": "eastus",
        "properties": {
          "platformFaultDomainCount": 3
        },
        "zones": [
          "1"
        ]
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-resource": "Microsoft.Compute/PutDeleteDedicatedHost3Min;119,Microsoft.Compute/PutDeleteDedicatedHost30Min;599",
        "x-ms-ratelimit-remaining-subscription-writes": "1192"
      },
      "ResponseBody": [
        "{\r\n",
        "  \u0022name\u0022: \u0022createDH1194393251\u0022,\r\n",
        "  \u0022id\u0022: \u0022/subscriptions/92f95d8f-3c67-4124-91c7-8cf07cdbf241/resourceGroups/TESTRG-DHCREATE1194393251/providers/Microsoft.Compute/hostGroups/createDH1194393251\u0022,\r\n",
        "  \u0022type\u0022: \u0022Microsoft.Compute/hostGroups\u0022,\r\n",
        "  \u0022location\u0022: \u0022eastus\u0022,\r\n",
        "  \u0022zones\u0022: [\r\n",
        "    \u00221\u0022\r\n",
        "  ],\r\n",
        "  \u0022properties\u0022: {\r\n",
        "    \u0022platformFaultDomainCount\u0022: 3,\r\n",
        "    \u0022supportAutomaticPlacement\u0022: false\r\n",
        "  }\r\n",
        "}"
      ]
    }
  ],
  "Variables": {}
}
