{
  "Entries": [
    {
      "RequestUri": "https://fakekvurl.vault.azure.net/keys/key231821625/create?api-version=7.3",
      "RequestMethod": "POST",
      "RequestHeaders": {
        ":method": "POST"
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\u0022https://login.windows.net/72f988bf-86f1-41af-91ab-2d7cd011db47\u0022, resource=\u0022https://vault.azure.net\u0022"
      },
      "ResponseBody": {
        "error": {
          "code": "Unauthorized",
          "message": "AKV10000: Request is missing a Bearer or PoP token."
        }
      }
    },
    {
      "RequestUri": "https://fakekvurl.vault.azure.net/keys/key231821625/create?api-version=7.3",
      "RequestMethod": "POST",
      "RequestHeaders": {
        ":method": "POST",
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "kty": "RSA"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "key": {
          "kid": "https://fakekvurl.vault.azure.net/keys/key231821625/868a992d88aa41a4bf08482fa9e0a9da",
          "kty": "RSA",
          "key_ops": [
            "encrypt",
            "decrypt",
            "sign",
            "verify",
            "wrapKey",
            "unwrapKey"
          ],
          "n": "wlZP55qR9WRzqfr81t02Mqvz2Kiy0NiRX85xpsQG9u6UuvvtV_42bhtpefAbheNp2AsLd5RDflxwvoPo2ZvcoxTXbNDOdo-GcDkShuAPNT-11rjcFVBtEMzp_YK_c654ABHnn_gbNjbig071asa6sTzv6ib9GPdhULUTKQ1Da3i0Vo1CMsnEo9zmfDF1Hf2KwI6UMzQWQ6g5KMey-R2XTDerYlssYP9zAMtgB8A3PPUO9WwycWTCwwxjv5TLsd-kYBEbG_zBPQxijBqmsIex_JwNYimh3F7ACJVQ9l-7zUb6ow0-W4_-uHGP0JDp_c_dLtLpMKNLSD4RTbJzoOPlCQ",
          "e": "AQAB"
        },
        "attributes": {
          "enabled": true,
          "created": 1652819066,
          "updated": 1652819066,
          "recoveryLevel": "CustomizedRecoverable\u002BPurgeable",
          "recoverableDays": 7
        }
      }
    },
[...]
    {
      "RequestUri": "https://fakekvurl.vault.azure.net/keys/key231821625/versions?api-version=7.3",
      "RequestMethod": "GET",
      "RequestHeaders": {
        ":method": "GET",
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "value": [
          {
            "kid": "https://jhendrixazkeys.vault.azure.net/keys/key231821625/0f6898ba0391437b8daedf5b748b5715",
            "attributes": {
              "enabled": true,
              "created": 1652819067,
              "updated": 1652819067,
              "recoveryLevel": "CustomizedRecoverable\u002BPurgeable",
              "recoverableDays": 7
            }
          },
          {
            "kid": "https://jhendrixazkeys.vault.azure.net/keys/key231821625/20b72a37acc1416d9e[...]
    {
      "RequestUri": "https://fakekvurl.vault.azure.net/keys/key231821625?api-version=7.3",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "recoveryId": "https://fakekvurl.vault.azure.net/deletedkeys/key231821625",
        "deletedDate": 1652819067,
        "scheduledPurgeDate": 1653423867,
        "key": {
          "kid": "https://fakekvurl.vault.azure.net/keys/key231821625/aaa03ca2a8ff47179f4f087ba8ca2c96",
          "kty": "RSA",
          "key_ops": [
            "encrypt",
            "decrypt",
            "sign",
            "verify",
            "wrapKey",
            "unwrapKey"
          ],
          "n": "3Ghi2Boe9U6_ch7B9AeFKfg6cZvF9XhU7vk8ghZpOu09hjg2grPsF3RTNYj_TITDVjF3RtqFYoZWm7NEdZh6qmwr9rqNZWiUqG2RKv1jlPStPPUoQAKcC5hHE_0bDzqRGwmNs7HDANMBYe4krN97-Ty_CoA0xA1QmHzULnvSGKX8QMFBTLL7k2VQlB6ZZqoEFm_nHkdvPga46nzqg6X3uIV3HxgQcDlmoLkEMtAXlwD7jLBkIm359MhT-fT7T7YQaTDRdpfL5oxV6-8sWOADKqspO22hfcNgp05Jew5Pp1VLVafqRKzIU6bVQVX_072LVWIkxZh9Zq8q5NkoCdYyBQ",
          "e": "AQAB"
        },
        "attributes": {
          "enabled": true,
          "created": 1652819067,
          "updated": 1652819067,
          "recoveryLevel": "CustomizedRecoverable\u002BPurgeable",
          "recoverableDays": 7
        }
      }
    },
    {
      "RequestUri": "https://fakekvurl.vault.azure.net/deletedkeys/key231821625?api-version=7.3",
      "RequestMethod": "GET",
      "RequestHeaders": {
        ":method": "GET",
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "error": {
          "code": "KeyNotFound",
          "message": "Deleted Key not found: key231821625"
        }
      }
    },
[...]
    {
      "RequestUri": "https://fakekvurl.vault.azure.net/deletedkeys/key231821625?api-version=7.3",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
      },
      "ResponseBody": null
    }
  ],
  "Variables": {}
}
