{
  "Entries": [
    {
      "RequestUri": "https://fakekvurl.vault.azure.net/keys/key231821625/create?api-version=7.3-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        ":method": "POST"
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\u0022https://login.windows.net/00000000-0000-0000-0000-000000000000\u0022, resource=\u0022https://vault.azure.net\u0022"
      },
      "ResponseBody": {
        "error": {
          "code": "Unauthorized",
          "message": "AKV10000: Request is missing a Bearer or PoP token."
        }
      }
    },
    {
      "RequestUri": "https://fakekvurl.vault.azure.net/keys/key231821625/create?api-version=7.3-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        ":method": "POST",
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "kty": "RSA"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "key": {
          "kid": "https://fakekvurl.vault.azure.net/keys/key231821625/f867db2141cf4fb29fbae835cfb7099e",
          "kty": "RSA",
          "key_ops": [
            "encrypt",
            "decrypt",
            "sign",
            "verify",
            "wrapKey",
            "unwrapKey"
          ],
          "n": "0ALEn4dx9MmginKo3b5LAdEkz3d0TQlfwBvHKw6mmYTGBN4WXx59EFvqD-1D-qqA2PpMliyLksjpx3bsBUCAE2bBZwRl1iCypleG4JB3dHQzi4gBZBFN4zL-ZpL7WLRCTRzIit1HX5IZWknffLXIGCE6S7AwGSUfCBOVF1zXEgU8qDqJZEJGYfga2JHZCDsRxTfZBvNnv1sQcZT6sRWwPwoMeeY9uQNkFm2NrLPkKuHxRcyTHdvfOoVpaIY-HvjokbkyuV10WYJaut_bVpmNwHQWXxzyfvBjfVGGKXp9oe-7hQDyYPKzwkmgnZb3QYi6FJpx1n2K06w8apSJPlIPpQ",
          "e": "AQAB"
        },
        "attributes": {
          "enabled": true,
          "created": 1643129833,
          "updated": 1643129833,
          "recoveryLevel": "CustomizedRecoverable\u002BPurgeable",
          "recoverableDays": 7
        }
      }
    },
[...]
    {
      "RequestUri": "https://fakekvurl.vault.azure.net/keys/key231821625/versions?api-version=7.3-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        ":method": "GET",
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "value": [
          {
            "kid": "https://rosebud.vault.azure.net/keys/key231821625/181f5839d5c441498769d38d98f162b7",
            "attributes": {
              "enabled": true,
              "created": 1643129834,
              "updated": 1643129834,
              "recoveryLevel": "CustomizedRecoverable\u002BPurgeable",
              "recoverableDays": 7
            }
          },
          {
            "kid": "https://rosebud.vault.azure.net/keys/key231821625/6d36e874936740828a17bbc696addce5[...]
    {
      "RequestUri": "https://fakekvurl.vault.azure.net/keys/key231821625?api-version=7.3-preview",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "recoveryId": "https://fakekvurl.vault.azure.net/deletedkeys/key231821625",
        "deletedDate": 1643129835,
        "scheduledPurgeDate": 1643734635,
        "key": {
          "kid": "https://fakekvurl.vault.azure.net/keys/key231821625/181f5839d5c441498769d38d98f162b7",
          "kty": "RSA",
          "key_ops": [
            "encrypt",
            "decrypt",
            "sign",
            "verify",
            "wrapKey",
            "unwrapKey"
          ],
          "n": "yGT0Z2xWZHd_TEqYA1lTQsOaDP-wswsm1i6k0MHDZ1c6L9F88S99Z0sKnvsPpu0kCjbE38SKQUXTcjJ3CJgGvvhfK6gUbt-oTzgHNH8cPSakwPhZSny8FxR634lRHeMDLzOxIYPweLWNxkV6jxFlq4svaHdfepmKg1Nls14cRPpcla6c9KIS9FTxx6jCP7bYKtpxip57UW9SyvpWr5bGDX40O_2ZOnjnjTVcsvoeCDn399uw7WpqYL3ayv7r6LUh_LAJzbIY1HKmSUeMW-JQyolu_9NbeB0rQgzW64QtvTlkTaWiDTHfwXvvA3QA4nd63XuWGgWiYSoEW3EE95c70Q",
          "e": "AQAB"
        },
        "attributes": {
          "enabled": true,
          "created": 1643129834,
          "updated": 1643129834,
          "recoveryLevel": "CustomizedRecoverable\u002BPurgeable",
          "recoverableDays": 7
        }
      }
    },
    {
      "RequestUri": "https://fakekvurl.vault.azure.net/deletedkeys/key231821625?api-version=7.3-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        ":method": "GET",
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "error": {
          "code": "KeyNotFound",
          "message": "Deleted Key not found: key231821625"
        }
      }
    },
[...]
    {
      "RequestUri": "https://fakekvurl.vault.azure.net/deletedkeys/key231821625?api-version=7.3-preview",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
      },
      "ResponseBody": null
    }
  ],
  "Variables": {}
}
