//go:build go1.18
// +build go1.18

// Copyright (c) Microsoft Corporation. All rights reserved.
// Licensed under the MIT License. See License.txt in the project root for license information.
// Code generated by Microsoft (R) AutoRest Code Generator.
// Changes may cause incorrect behavior and will be lost if the code is regenerated.

package armeducation

import (
	"context"
	"github.com/Azure/azure-sdk-for-go/sdk/azcore"
	"github.com/Azure/azure-sdk-for-go/sdk/azcore/arm"
	armruntime "github.com/Azure/azure-sdk-for-go/sdk/azcore/arm/runtime"
	"github.com/Azure/azure-sdk-for-go/sdk/azcore/cloud"
	"github.com/Azure/azure-sdk-for-go/sdk/azcore/policy"
	"github.com/Azure/azure-sdk-for-go/sdk/azcore/runtime"
	"net/http"
)

// StudentLabsClient contains the methods for the StudentLabs group.
// Don't use this type directly, use NewStudentLabsClient() instead.
type StudentLabsClient struct {
	host string
	pl   runtime.Pipeline
}

// NewStudentLabsClient creates a new instance of StudentLabsClient with the specified values.
// credential - used to authorize requests. Usually a credential from azidentity.
// options - pass nil to accept the default values.
func NewStudentLabsClient(credential azcore.TokenCredential, options *arm.ClientOptions) (*StudentLabsClient, error) {
	if options == nil {
		options = &arm.ClientOptions{}
	}
	ep := cloud.AzurePublicCloud.Services[cloud.ResourceManager].Endpoint
	if c, ok := options.Cloud.Services[cloud.ResourceManager]; ok {
		ep = c.Endpoint
	}
	pl, err := armruntime.NewPipeline(moduleName, moduleVersion, credential, runtime.PipelineOptions{}, options)
	if err != nil {
		return nil, err
	}
	client := &StudentLabsClient{
		host: ep,
		pl:   pl,
	}
	return client, nil
}

// NewListPager - Get a list of all labs associated with the caller of the API.
// If the operation fails it returns an *azcore.ResponseError type.
// options - StudentLabsClientListOptions contains the optional parameters for the StudentLabsClient.List method.
func (client *StudentLabsClient) NewListPager(options *StudentLabsClientListOptions) *runtime.Pager[StudentLabsClientListResponse] {
	return runtime.NewPager(runtime.PageProcessor[StudentLabsClientListResponse]{
		More: func(page StudentLabsClientListResponse) bool {
			return page.NextLink != nil && len(*page.NextLink) > 0
		},
		Fetcher: func(ctx context.Context, page *StudentLabsClientListResponse) (StudentLabsClientListResponse, error) {
			var req *policy.Request
			var err error
			if page == nil {
				req, err = client.listCreateRequest(ctx, options)
			} else {
				req, err = runtime.NewRequest(ctx, http.MethodGet, *page.NextLink)
			}
			if err != nil {
				return StudentLabsClientListResponse{}, err
			}
			resp, err := client.pl.Do(req)
			if err != nil {
				return StudentLabsClientListResponse{}, err
			}
			if !runtime.HasStatusCode(resp, http.StatusOK) {
				return StudentLabsClientListResponse{}, runtime.NewResponseError(resp)
			}
			return client.listHandleResponse(resp)
		},
	})
}

// listCreateRequest creates the List request.
func (client *StudentLabsClient) listCreateRequest(ctx context.Context, options *StudentLabsClientListOptions) (*policy.Request, error) {
	urlPath := "/providers/Microsoft.Education/studentLabs"
	req, err := runtime.NewRequest(ctx, http.MethodGet, runtime.JoinPaths(client.host, urlPath))
	if err != nil {
		return nil, err
	}
	reqQP := req.Raw().URL.Query()
	reqQP.Set("api-version", "2021-12-01-preview")
	req.Raw().URL.RawQuery = reqQP.Encode()
	req.Raw().Header.Set("Accept", "application/json")
	return req, nil
}

// listHandleResponse handles the List response.
func (client *StudentLabsClient) listHandleResponse(resp *http.Response) (StudentLabsClientListResponse, error) {
	result := StudentLabsClientListResponse{}
	if err := runtime.UnmarshalAsJSON(resp, &result.StudentLabListResult); err != nil {
		return StudentLabsClientListResponse{}, err
	}
	return result, nil
}
