// Copyright (c) Microsoft Corporation. All rights reserved.
// Licensed under the MIT License. See License.txt in the project root for license information.
// Code generated by Microsoft (R) AutoRest Code Generator. DO NOT EDIT.
// Changes may cause incorrect behavior and will be lost if the code is regenerated.

package armsecurity

import (
	"context"
	"errors"
	"github.com/Azure/azure-sdk-for-go/sdk/azcore"
	"github.com/Azure/azure-sdk-for-go/sdk/azcore/arm"
	"github.com/Azure/azure-sdk-for-go/sdk/azcore/policy"
	"github.com/Azure/azure-sdk-for-go/sdk/azcore/runtime"
	"net/http"
	"net/url"
	"strings"
)

// ArmStandardsClient contains the methods for the ArmStandards group.
// Don't use this type directly, use NewArmStandardsClient() instead.
type ArmStandardsClient struct {
	internal       *arm.Client
	subscriptionID string
}

// NewArmStandardsClient creates a new instance of ArmStandardsClient with the specified values.
//   - subscriptionID - Azure subscription ID
//   - credential - used to authorize requests. Usually a credential from azidentity.
//   - options - Contains optional client configuration. Pass nil to accept the default values.
func NewArmStandardsClient(subscriptionID string, credential azcore.TokenCredential, options *arm.ClientOptions) (*ArmStandardsClient, error) {
	cl, err := arm.NewClient(moduleName, moduleVersion, credential, options)
	if err != nil {
		return nil, err
	}
	client := &ArmStandardsClient{
		subscriptionID: subscriptionID,
		internal:       cl,
	}
	return client, nil
}

// CreateOrUpdate - Create a security standard on the given scope. Available only for custom standards. Will create/update
// the required standard definitions.
// If the operation fails it returns an *azcore.ResponseError type.
//
// Generated from API version 2021-08-01-preview
//   - resourceGroupName - The name of the resource group within the user's subscription. The name is case insensitive.
//   - standardID - The Security Standard key - unique key for the standard type
//   - standard - Custom security standard over a pre-defined scope
//   - options - ArmStandardsClientCreateOrUpdateOptions contains the optional parameters for the ArmStandardsClient.CreateOrUpdate
//     method.
func (client *ArmStandardsClient) CreateOrUpdate(ctx context.Context, resourceGroupName string, standardID string, standard Standard, options *ArmStandardsClientCreateOrUpdateOptions) (ArmStandardsClientCreateOrUpdateResponse, error) {
	var err error
	const operationName = "ArmStandardsClient.CreateOrUpdate"
	ctx = context.WithValue(ctx, runtime.CtxAPINameKey{}, operationName)
	ctx, endSpan := runtime.StartSpan(ctx, operationName, client.internal.Tracer(), nil)
	defer func() { endSpan(err) }()
	req, err := client.createOrUpdateCreateRequest(ctx, resourceGroupName, standardID, standard, options)
	if err != nil {
		return ArmStandardsClientCreateOrUpdateResponse{}, err
	}
	httpResp, err := client.internal.Pipeline().Do(req)
	if err != nil {
		return ArmStandardsClientCreateOrUpdateResponse{}, err
	}
	if !runtime.HasStatusCode(httpResp, http.StatusOK, http.StatusCreated) {
		err = runtime.NewResponseError(httpResp)
		return ArmStandardsClientCreateOrUpdateResponse{}, err
	}
	resp, err := client.createOrUpdateHandleResponse(httpResp)
	return resp, err
}

// createOrUpdateCreateRequest creates the CreateOrUpdate request.
func (client *ArmStandardsClient) createOrUpdateCreateRequest(ctx context.Context, resourceGroupName string, standardID string, standard Standard, _ *ArmStandardsClientCreateOrUpdateOptions) (*policy.Request, error) {
	urlPath := "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Security/standards/{standardId}"
	if client.subscriptionID == "" {
		return nil, errors.New("parameter client.subscriptionID cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{subscriptionId}", url.PathEscape(client.subscriptionID))
	if resourceGroupName == "" {
		return nil, errors.New("parameter resourceGroupName cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{resourceGroupName}", url.PathEscape(resourceGroupName))
	if standardID == "" {
		return nil, errors.New("parameter standardID cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{standardId}", url.PathEscape(standardID))
	req, err := runtime.NewRequest(ctx, http.MethodPut, runtime.JoinPaths(client.internal.Endpoint(), urlPath))
	if err != nil {
		return nil, err
	}
	reqQP := req.Raw().URL.Query()
	reqQP.Set("api-version", "2021-08-01-preview")
	req.Raw().URL.RawQuery = reqQP.Encode()
	req.Raw().Header["Accept"] = []string{"application/json"}
	if err := runtime.MarshalAsJSON(req, standard); err != nil {
		return nil, err
	}
	return req, nil
}

// createOrUpdateHandleResponse handles the CreateOrUpdate response.
func (client *ArmStandardsClient) createOrUpdateHandleResponse(resp *http.Response) (ArmStandardsClientCreateOrUpdateResponse, error) {
	result := ArmStandardsClientCreateOrUpdateResponse{}
	if err := runtime.UnmarshalAsJSON(resp, &result.Standard); err != nil {
		return ArmStandardsClientCreateOrUpdateResponse{}, err
	}
	return result, nil
}

// Delete - Delete a security standard on a scope.
// If the operation fails it returns an *azcore.ResponseError type.
//
// Generated from API version 2021-08-01-preview
//   - resourceGroupName - The name of the resource group within the user's subscription. The name is case insensitive.
//   - standardID - The Security Standard key - unique key for the standard type
//   - options - ArmStandardsClientDeleteOptions contains the optional parameters for the ArmStandardsClient.Delete method.
func (client *ArmStandardsClient) Delete(ctx context.Context, resourceGroupName string, standardID string, options *ArmStandardsClientDeleteOptions) (ArmStandardsClientDeleteResponse, error) {
	var err error
	const operationName = "ArmStandardsClient.Delete"
	ctx = context.WithValue(ctx, runtime.CtxAPINameKey{}, operationName)
	ctx, endSpan := runtime.StartSpan(ctx, operationName, client.internal.Tracer(), nil)
	defer func() { endSpan(err) }()
	req, err := client.deleteCreateRequest(ctx, resourceGroupName, standardID, options)
	if err != nil {
		return ArmStandardsClientDeleteResponse{}, err
	}
	httpResp, err := client.internal.Pipeline().Do(req)
	if err != nil {
		return ArmStandardsClientDeleteResponse{}, err
	}
	if !runtime.HasStatusCode(httpResp, http.StatusOK, http.StatusNoContent) {
		err = runtime.NewResponseError(httpResp)
		return ArmStandardsClientDeleteResponse{}, err
	}
	return ArmStandardsClientDeleteResponse{}, nil
}

// deleteCreateRequest creates the Delete request.
func (client *ArmStandardsClient) deleteCreateRequest(ctx context.Context, resourceGroupName string, standardID string, _ *ArmStandardsClientDeleteOptions) (*policy.Request, error) {
	urlPath := "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Security/standards/{standardId}"
	if client.subscriptionID == "" {
		return nil, errors.New("parameter client.subscriptionID cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{subscriptionId}", url.PathEscape(client.subscriptionID))
	if resourceGroupName == "" {
		return nil, errors.New("parameter resourceGroupName cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{resourceGroupName}", url.PathEscape(resourceGroupName))
	if standardID == "" {
		return nil, errors.New("parameter standardID cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{standardId}", url.PathEscape(standardID))
	req, err := runtime.NewRequest(ctx, http.MethodDelete, runtime.JoinPaths(client.internal.Endpoint(), urlPath))
	if err != nil {
		return nil, err
	}
	reqQP := req.Raw().URL.Query()
	reqQP.Set("api-version", "2021-08-01-preview")
	req.Raw().URL.RawQuery = reqQP.Encode()
	req.Raw().Header["Accept"] = []string{"application/json"}
	return req, nil
}

// Get - Get a specific security standard for the requested scope
// If the operation fails it returns an *azcore.ResponseError type.
//
// Generated from API version 2021-08-01-preview
//   - resourceGroupName - The name of the resource group within the user's subscription. The name is case insensitive.
//   - standardID - The Security Standard key - unique key for the standard type
//   - options - ArmStandardsClientGetOptions contains the optional parameters for the ArmStandardsClient.Get method.
func (client *ArmStandardsClient) Get(ctx context.Context, resourceGroupName string, standardID string, options *ArmStandardsClientGetOptions) (ArmStandardsClientGetResponse, error) {
	var err error
	const operationName = "ArmStandardsClient.Get"
	ctx = context.WithValue(ctx, runtime.CtxAPINameKey{}, operationName)
	ctx, endSpan := runtime.StartSpan(ctx, operationName, client.internal.Tracer(), nil)
	defer func() { endSpan(err) }()
	req, err := client.getCreateRequest(ctx, resourceGroupName, standardID, options)
	if err != nil {
		return ArmStandardsClientGetResponse{}, err
	}
	httpResp, err := client.internal.Pipeline().Do(req)
	if err != nil {
		return ArmStandardsClientGetResponse{}, err
	}
	if !runtime.HasStatusCode(httpResp, http.StatusOK) {
		err = runtime.NewResponseError(httpResp)
		return ArmStandardsClientGetResponse{}, err
	}
	resp, err := client.getHandleResponse(httpResp)
	return resp, err
}

// getCreateRequest creates the Get request.
func (client *ArmStandardsClient) getCreateRequest(ctx context.Context, resourceGroupName string, standardID string, _ *ArmStandardsClientGetOptions) (*policy.Request, error) {
	urlPath := "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Security/standards/{standardId}"
	if client.subscriptionID == "" {
		return nil, errors.New("parameter client.subscriptionID cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{subscriptionId}", url.PathEscape(client.subscriptionID))
	if resourceGroupName == "" {
		return nil, errors.New("parameter resourceGroupName cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{resourceGroupName}", url.PathEscape(resourceGroupName))
	if standardID == "" {
		return nil, errors.New("parameter standardID cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{standardId}", url.PathEscape(standardID))
	req, err := runtime.NewRequest(ctx, http.MethodGet, runtime.JoinPaths(client.internal.Endpoint(), urlPath))
	if err != nil {
		return nil, err
	}
	reqQP := req.Raw().URL.Query()
	reqQP.Set("api-version", "2021-08-01-preview")
	req.Raw().URL.RawQuery = reqQP.Encode()
	req.Raw().Header["Accept"] = []string{"application/json"}
	return req, nil
}

// getHandleResponse handles the Get response.
func (client *ArmStandardsClient) getHandleResponse(resp *http.Response) (ArmStandardsClientGetResponse, error) {
	result := ArmStandardsClientGetResponse{}
	if err := runtime.UnmarshalAsJSON(resp, &result.Standard); err != nil {
		return ArmStandardsClientGetResponse{}, err
	}
	return result, nil
}

// NewListPager - Get security standards on all your resources inside a scope
//
// Generated from API version 2021-08-01-preview
//   - resourceGroupName - The name of the resource group within the user's subscription. The name is case insensitive.
//   - options - ArmStandardsClientListOptions contains the optional parameters for the ArmStandardsClient.NewListPager method.
func (client *ArmStandardsClient) NewListPager(resourceGroupName string, options *ArmStandardsClientListOptions) *runtime.Pager[ArmStandardsClientListResponse] {
	return runtime.NewPager(runtime.PagingHandler[ArmStandardsClientListResponse]{
		More: func(page ArmStandardsClientListResponse) bool {
			return page.NextLink != nil && len(*page.NextLink) > 0
		},
		Fetcher: func(ctx context.Context, page *ArmStandardsClientListResponse) (ArmStandardsClientListResponse, error) {
			ctx = context.WithValue(ctx, runtime.CtxAPINameKey{}, "ArmStandardsClient.NewListPager")
			nextLink := ""
			if page != nil {
				nextLink = *page.NextLink
			}
			resp, err := runtime.FetcherForNextLink(ctx, client.internal.Pipeline(), nextLink, func(ctx context.Context) (*policy.Request, error) {
				return client.listCreateRequest(ctx, resourceGroupName, options)
			}, nil)
			if err != nil {
				return ArmStandardsClientListResponse{}, err
			}
			return client.listHandleResponse(resp)
		},
		Tracer: client.internal.Tracer(),
	})
}

// listCreateRequest creates the List request.
func (client *ArmStandardsClient) listCreateRequest(ctx context.Context, resourceGroupName string, _ *ArmStandardsClientListOptions) (*policy.Request, error) {
	urlPath := "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Security/standards"
	if client.subscriptionID == "" {
		return nil, errors.New("parameter client.subscriptionID cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{subscriptionId}", url.PathEscape(client.subscriptionID))
	if resourceGroupName == "" {
		return nil, errors.New("parameter resourceGroupName cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{resourceGroupName}", url.PathEscape(resourceGroupName))
	req, err := runtime.NewRequest(ctx, http.MethodGet, runtime.JoinPaths(client.internal.Endpoint(), urlPath))
	if err != nil {
		return nil, err
	}
	reqQP := req.Raw().URL.Query()
	reqQP.Set("api-version", "2021-08-01-preview")
	req.Raw().URL.RawQuery = reqQP.Encode()
	req.Raw().Header["Accept"] = []string{"application/json"}
	return req, nil
}

// listHandleResponse handles the List response.
func (client *ArmStandardsClient) listHandleResponse(resp *http.Response) (ArmStandardsClientListResponse, error) {
	result := ArmStandardsClientListResponse{}
	if err := runtime.UnmarshalAsJSON(resp, &result.StandardList); err != nil {
		return ArmStandardsClientListResponse{}, err
	}
	return result, nil
}

// NewListBySubscriptionPager - Get a list of all relevant security standards over a subscription level scope.
//
// Generated from API version 2021-08-01-preview
//   - options - ArmStandardsClientListBySubscriptionOptions contains the optional parameters for the ArmStandardsClient.NewListBySubscriptionPager
//     method.
func (client *ArmStandardsClient) NewListBySubscriptionPager(options *ArmStandardsClientListBySubscriptionOptions) *runtime.Pager[ArmStandardsClientListBySubscriptionResponse] {
	return runtime.NewPager(runtime.PagingHandler[ArmStandardsClientListBySubscriptionResponse]{
		More: func(page ArmStandardsClientListBySubscriptionResponse) bool {
			return page.NextLink != nil && len(*page.NextLink) > 0
		},
		Fetcher: func(ctx context.Context, page *ArmStandardsClientListBySubscriptionResponse) (ArmStandardsClientListBySubscriptionResponse, error) {
			ctx = context.WithValue(ctx, runtime.CtxAPINameKey{}, "ArmStandardsClient.NewListBySubscriptionPager")
			nextLink := ""
			if page != nil {
				nextLink = *page.NextLink
			}
			resp, err := runtime.FetcherForNextLink(ctx, client.internal.Pipeline(), nextLink, func(ctx context.Context) (*policy.Request, error) {
				return client.listBySubscriptionCreateRequest(ctx, options)
			}, nil)
			if err != nil {
				return ArmStandardsClientListBySubscriptionResponse{}, err
			}
			return client.listBySubscriptionHandleResponse(resp)
		},
		Tracer: client.internal.Tracer(),
	})
}

// listBySubscriptionCreateRequest creates the ListBySubscription request.
func (client *ArmStandardsClient) listBySubscriptionCreateRequest(ctx context.Context, _ *ArmStandardsClientListBySubscriptionOptions) (*policy.Request, error) {
	urlPath := "/subscriptions/{subscriptionId}/providers/Microsoft.Security/standards"
	if client.subscriptionID == "" {
		return nil, errors.New("parameter client.subscriptionID cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{subscriptionId}", url.PathEscape(client.subscriptionID))
	req, err := runtime.NewRequest(ctx, http.MethodGet, runtime.JoinPaths(client.internal.Endpoint(), urlPath))
	if err != nil {
		return nil, err
	}
	reqQP := req.Raw().URL.Query()
	reqQP.Set("api-version", "2021-08-01-preview")
	req.Raw().URL.RawQuery = reqQP.Encode()
	req.Raw().Header["Accept"] = []string{"application/json"}
	return req, nil
}

// listBySubscriptionHandleResponse handles the ListBySubscription response.
func (client *ArmStandardsClient) listBySubscriptionHandleResponse(resp *http.Response) (ArmStandardsClientListBySubscriptionResponse, error) {
	result := ArmStandardsClientListBySubscriptionResponse{}
	if err := runtime.UnmarshalAsJSON(resp, &result.StandardList); err != nil {
		return ArmStandardsClientListBySubscriptionResponse{}, err
	}
	return result, nil
}
