// Copyright (c) Microsoft Corporation. All rights reserved.
// Licensed under the MIT License. See License.txt in the project root for license information.
// Code generated by Microsoft (R) AutoRest Code Generator. DO NOT EDIT.
// Changes may cause incorrect behavior and will be lost if the code is regenerated.

package armsecurity

import (
	"context"
	"errors"
	"github.com/Azure/azure-sdk-for-go/sdk/azcore"
	"github.com/Azure/azure-sdk-for-go/sdk/azcore/arm"
	"github.com/Azure/azure-sdk-for-go/sdk/azcore/policy"
	"github.com/Azure/azure-sdk-for-go/sdk/azcore/runtime"
	"net/http"
	"net/url"
	"strings"
)

// ArmSecurityStandardsClient contains the methods for the ArmSecurityStandards group.
// Don't use this type directly, use NewArmSecurityStandardsClient() instead.
type ArmSecurityStandardsClient struct {
	internal *arm.Client
}

// NewArmSecurityStandardsClient creates a new instance of ArmSecurityStandardsClient with the specified values.
//   - credential - used to authorize requests. Usually a credential from azidentity.
//   - options - Contains optional client configuration. Pass nil to accept the default values.
func NewArmSecurityStandardsClient(credential azcore.TokenCredential, options *arm.ClientOptions) (*ArmSecurityStandardsClient, error) {
	cl, err := arm.NewClient(moduleName, moduleVersion, credential, options)
	if err != nil {
		return nil, err
	}
	client := &ArmSecurityStandardsClient{
		internal: cl,
	}
	return client, nil
}

// CreateOrUpdate - Creates or updates a security standard over a given scope
// If the operation fails it returns an *azcore.ResponseError type.
//
// Generated from API version 2024-08-01
//   - scope - The scope of the security standard. Valid scopes are: management group (format: 'providers/Microsoft.Management/managementGroups/{managementGroup}'),
//     subscription (format:
//     'subscriptions/{subscriptionId}'), or security connector (format:
//     'subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Security/securityConnectors/{securityConnectorName})'
//   - standardID - The Security Standard key - unique key for the standard type
//   - standard - Custom security standard over a pre-defined scope
//   - options - ArmSecurityStandardsClientCreateOrUpdateOptions contains the optional parameters for the ArmSecurityStandardsClient.CreateOrUpdate
//     method.
func (client *ArmSecurityStandardsClient) CreateOrUpdate(ctx context.Context, scope string, standardID string, standard ArmSecurityStandard, options *ArmSecurityStandardsClientCreateOrUpdateOptions) (ArmSecurityStandardsClientCreateOrUpdateResponse, error) {
	var err error
	const operationName = "ArmSecurityStandardsClient.CreateOrUpdate"
	ctx = context.WithValue(ctx, runtime.CtxAPINameKey{}, operationName)
	ctx, endSpan := runtime.StartSpan(ctx, operationName, client.internal.Tracer(), nil)
	defer func() { endSpan(err) }()
	req, err := client.createOrUpdateCreateRequest(ctx, scope, standardID, standard, options)
	if err != nil {
		return ArmSecurityStandardsClientCreateOrUpdateResponse{}, err
	}
	httpResp, err := client.internal.Pipeline().Do(req)
	if err != nil {
		return ArmSecurityStandardsClientCreateOrUpdateResponse{}, err
	}
	if !runtime.HasStatusCode(httpResp, http.StatusOK, http.StatusCreated) {
		err = runtime.NewResponseError(httpResp)
		return ArmSecurityStandardsClientCreateOrUpdateResponse{}, err
	}
	resp, err := client.createOrUpdateHandleResponse(httpResp)
	return resp, err
}

// createOrUpdateCreateRequest creates the CreateOrUpdate request.
func (client *ArmSecurityStandardsClient) createOrUpdateCreateRequest(ctx context.Context, scope string, standardID string, standard ArmSecurityStandard, _ *ArmSecurityStandardsClientCreateOrUpdateOptions) (*policy.Request, error) {
	urlPath := "/{scope}/providers/Microsoft.Security/securityStandards/{standardId}"
	if scope == "" {
		return nil, errors.New("parameter scope cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{scope}", url.PathEscape(scope))
	if standardID == "" {
		return nil, errors.New("parameter standardID cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{standardId}", url.PathEscape(standardID))
	req, err := runtime.NewRequest(ctx, http.MethodPut, runtime.JoinPaths(client.internal.Endpoint(), urlPath))
	if err != nil {
		return nil, err
	}
	reqQP := req.Raw().URL.Query()
	reqQP.Set("api-version", "2024-08-01")
	req.Raw().URL.RawQuery = reqQP.Encode()
	req.Raw().Header["Accept"] = []string{"application/json"}
	if err := runtime.MarshalAsJSON(req, standard); err != nil {
		return nil, err
	}
	return req, nil
}

// createOrUpdateHandleResponse handles the CreateOrUpdate response.
func (client *ArmSecurityStandardsClient) createOrUpdateHandleResponse(resp *http.Response) (ArmSecurityStandardsClientCreateOrUpdateResponse, error) {
	result := ArmSecurityStandardsClientCreateOrUpdateResponse{}
	if err := runtime.UnmarshalAsJSON(resp, &result.ArmSecurityStandard); err != nil {
		return ArmSecurityStandardsClientCreateOrUpdateResponse{}, err
	}
	return result, nil
}

// Delete - Delete a security standard over a given scope
// If the operation fails it returns an *azcore.ResponseError type.
//
// Generated from API version 2024-08-01
//   - scope - The scope of the security standard. Valid scopes are: management group (format: 'providers/Microsoft.Management/managementGroups/{managementGroup}'),
//     subscription (format:
//     'subscriptions/{subscriptionId}'), or security connector (format:
//     'subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Security/securityConnectors/{securityConnectorName})'
//   - standardID - The Security Standard key - unique key for the standard type
//   - options - ArmSecurityStandardsClientDeleteOptions contains the optional parameters for the ArmSecurityStandardsClient.Delete
//     method.
func (client *ArmSecurityStandardsClient) Delete(ctx context.Context, scope string, standardID string, options *ArmSecurityStandardsClientDeleteOptions) (ArmSecurityStandardsClientDeleteResponse, error) {
	var err error
	const operationName = "ArmSecurityStandardsClient.Delete"
	ctx = context.WithValue(ctx, runtime.CtxAPINameKey{}, operationName)
	ctx, endSpan := runtime.StartSpan(ctx, operationName, client.internal.Tracer(), nil)
	defer func() { endSpan(err) }()
	req, err := client.deleteCreateRequest(ctx, scope, standardID, options)
	if err != nil {
		return ArmSecurityStandardsClientDeleteResponse{}, err
	}
	httpResp, err := client.internal.Pipeline().Do(req)
	if err != nil {
		return ArmSecurityStandardsClientDeleteResponse{}, err
	}
	if !runtime.HasStatusCode(httpResp, http.StatusOK, http.StatusNoContent) {
		err = runtime.NewResponseError(httpResp)
		return ArmSecurityStandardsClientDeleteResponse{}, err
	}
	return ArmSecurityStandardsClientDeleteResponse{}, nil
}

// deleteCreateRequest creates the Delete request.
func (client *ArmSecurityStandardsClient) deleteCreateRequest(ctx context.Context, scope string, standardID string, _ *ArmSecurityStandardsClientDeleteOptions) (*policy.Request, error) {
	urlPath := "/{scope}/providers/Microsoft.Security/securityStandards/{standardId}"
	if scope == "" {
		return nil, errors.New("parameter scope cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{scope}", url.PathEscape(scope))
	if standardID == "" {
		return nil, errors.New("parameter standardID cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{standardId}", url.PathEscape(standardID))
	req, err := runtime.NewRequest(ctx, http.MethodDelete, runtime.JoinPaths(client.internal.Endpoint(), urlPath))
	if err != nil {
		return nil, err
	}
	reqQP := req.Raw().URL.Query()
	reqQP.Set("api-version", "2024-08-01")
	req.Raw().URL.RawQuery = reqQP.Encode()
	req.Raw().Header["Accept"] = []string{"application/json"}
	return req, nil
}

// Get - Get a specific security standard for the requested scope by standardId
// If the operation fails it returns an *azcore.ResponseError type.
//
// Generated from API version 2024-08-01
//   - scope - The scope of the security standard. Valid scopes are: management group (format: 'providers/Microsoft.Management/managementGroups/{managementGroup}'),
//     subscription (format:
//     'subscriptions/{subscriptionId}'), or security connector (format:
//     'subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Security/securityConnectors/{securityConnectorName})'
//   - standardID - The Security Standard key - unique key for the standard type
//   - options - ArmSecurityStandardsClientGetOptions contains the optional parameters for the ArmSecurityStandardsClient.Get
//     method.
func (client *ArmSecurityStandardsClient) Get(ctx context.Context, scope string, standardID string, options *ArmSecurityStandardsClientGetOptions) (ArmSecurityStandardsClientGetResponse, error) {
	var err error
	const operationName = "ArmSecurityStandardsClient.Get"
	ctx = context.WithValue(ctx, runtime.CtxAPINameKey{}, operationName)
	ctx, endSpan := runtime.StartSpan(ctx, operationName, client.internal.Tracer(), nil)
	defer func() { endSpan(err) }()
	req, err := client.getCreateRequest(ctx, scope, standardID, options)
	if err != nil {
		return ArmSecurityStandardsClientGetResponse{}, err
	}
	httpResp, err := client.internal.Pipeline().Do(req)
	if err != nil {
		return ArmSecurityStandardsClientGetResponse{}, err
	}
	if !runtime.HasStatusCode(httpResp, http.StatusOK) {
		err = runtime.NewResponseError(httpResp)
		return ArmSecurityStandardsClientGetResponse{}, err
	}
	resp, err := client.getHandleResponse(httpResp)
	return resp, err
}

// getCreateRequest creates the Get request.
func (client *ArmSecurityStandardsClient) getCreateRequest(ctx context.Context, scope string, standardID string, _ *ArmSecurityStandardsClientGetOptions) (*policy.Request, error) {
	urlPath := "/{scope}/providers/Microsoft.Security/securityStandards/{standardId}"
	if scope == "" {
		return nil, errors.New("parameter scope cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{scope}", url.PathEscape(scope))
	if standardID == "" {
		return nil, errors.New("parameter standardID cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{standardId}", url.PathEscape(standardID))
	req, err := runtime.NewRequest(ctx, http.MethodGet, runtime.JoinPaths(client.internal.Endpoint(), urlPath))
	if err != nil {
		return nil, err
	}
	reqQP := req.Raw().URL.Query()
	reqQP.Set("api-version", "2024-08-01")
	req.Raw().URL.RawQuery = reqQP.Encode()
	req.Raw().Header["Accept"] = []string{"application/json"}
	return req, nil
}

// getHandleResponse handles the Get response.
func (client *ArmSecurityStandardsClient) getHandleResponse(resp *http.Response) (ArmSecurityStandardsClientGetResponse, error) {
	result := ArmSecurityStandardsClientGetResponse{}
	if err := runtime.UnmarshalAsJSON(resp, &result.ArmSecurityStandard); err != nil {
		return ArmSecurityStandardsClientGetResponse{}, err
	}
	return result, nil
}

// NewListPager - Get a list of all relevant security standards over a scope
//
// Generated from API version 2024-08-01
//   - scope - The scope of the security standard. Valid scopes are: management group (format: 'providers/Microsoft.Management/managementGroups/{managementGroup}'),
//     subscription (format:
//     'subscriptions/{subscriptionId}'), or security connector (format:
//     'subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Security/securityConnectors/{securityConnectorName})'
//   - options - ArmSecurityStandardsClientListOptions contains the optional parameters for the ArmSecurityStandardsClient.NewListPager
//     method.
func (client *ArmSecurityStandardsClient) NewListPager(scope string, options *ArmSecurityStandardsClientListOptions) *runtime.Pager[ArmSecurityStandardsClientListResponse] {
	return runtime.NewPager(runtime.PagingHandler[ArmSecurityStandardsClientListResponse]{
		More: func(page ArmSecurityStandardsClientListResponse) bool {
			return page.NextLink != nil && len(*page.NextLink) > 0
		},
		Fetcher: func(ctx context.Context, page *ArmSecurityStandardsClientListResponse) (ArmSecurityStandardsClientListResponse, error) {
			ctx = context.WithValue(ctx, runtime.CtxAPINameKey{}, "ArmSecurityStandardsClient.NewListPager")
			nextLink := ""
			if page != nil {
				nextLink = *page.NextLink
			}
			resp, err := runtime.FetcherForNextLink(ctx, client.internal.Pipeline(), nextLink, func(ctx context.Context) (*policy.Request, error) {
				return client.listCreateRequest(ctx, scope, options)
			}, nil)
			if err != nil {
				return ArmSecurityStandardsClientListResponse{}, err
			}
			return client.listHandleResponse(resp)
		},
		Tracer: client.internal.Tracer(),
	})
}

// listCreateRequest creates the List request.
func (client *ArmSecurityStandardsClient) listCreateRequest(ctx context.Context, scope string, _ *ArmSecurityStandardsClientListOptions) (*policy.Request, error) {
	urlPath := "/{scope}/providers/Microsoft.Security/securityStandards"
	if scope == "" {
		return nil, errors.New("parameter scope cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{scope}", url.PathEscape(scope))
	req, err := runtime.NewRequest(ctx, http.MethodGet, runtime.JoinPaths(client.internal.Endpoint(), urlPath))
	if err != nil {
		return nil, err
	}
	reqQP := req.Raw().URL.Query()
	reqQP.Set("api-version", "2024-08-01")
	req.Raw().URL.RawQuery = reqQP.Encode()
	req.Raw().Header["Accept"] = []string{"application/json"}
	return req, nil
}

// listHandleResponse handles the List response.
func (client *ArmSecurityStandardsClient) listHandleResponse(resp *http.Response) (ArmSecurityStandardsClientListResponse, error) {
	result := ArmSecurityStandardsClientListResponse{}
	if err := runtime.UnmarshalAsJSON(resp, &result.ArmSecurityStandardList); err != nil {
		return ArmSecurityStandardsClientListResponse{}, err
	}
	return result, nil
}
