//go:build go1.16
// +build go1.16

// Copyright (c) Microsoft Corporation. All rights reserved.
// Licensed under the MIT License. See License.txt in the project root for license information.
// Code generated by Microsoft (R) AutoRest Code Generator.
// Changes may cause incorrect behavior and will be lost if the code is regenerated.

package armsecurity

import (
	"context"
	"errors"
	"fmt"
	"github.com/Azure/azure-sdk-for-go/sdk/azcore"
	"github.com/Azure/azure-sdk-for-go/sdk/azcore/arm"
	armruntime "github.com/Azure/azure-sdk-for-go/sdk/azcore/arm/runtime"
	"github.com/Azure/azure-sdk-for-go/sdk/azcore/policy"
	"github.com/Azure/azure-sdk-for-go/sdk/azcore/runtime"
	"net/http"
	"net/url"
	"strings"
)

// CompliancesClient contains the methods for the Compliances group.
// Don't use this type directly, use NewCompliancesClient() instead.
type CompliancesClient struct {
	ep string
	pl runtime.Pipeline
}

// NewCompliancesClient creates a new instance of CompliancesClient with the specified values.
func NewCompliancesClient(credential azcore.TokenCredential, options *arm.ClientOptions) *CompliancesClient {
	cp := arm.ClientOptions{}
	if options != nil {
		cp = *options
	}
	if len(cp.Host) == 0 {
		cp.Host = arm.AzurePublicCloud
	}
	return &CompliancesClient{ep: string(cp.Host), pl: armruntime.NewPipeline(module, version, credential, &cp)}
}

// Get - Details of a specific Compliance.
// If the operation fails it returns the *CloudError error type.
func (client *CompliancesClient) Get(ctx context.Context, scope string, complianceName string, options *CompliancesGetOptions) (CompliancesGetResponse, error) {
	req, err := client.getCreateRequest(ctx, scope, complianceName, options)
	if err != nil {
		return CompliancesGetResponse{}, err
	}
	resp, err := client.pl.Do(req)
	if err != nil {
		return CompliancesGetResponse{}, err
	}
	if !runtime.HasStatusCode(resp, http.StatusOK) {
		return CompliancesGetResponse{}, client.getHandleError(resp)
	}
	return client.getHandleResponse(resp)
}

// getCreateRequest creates the Get request.
func (client *CompliancesClient) getCreateRequest(ctx context.Context, scope string, complianceName string, options *CompliancesGetOptions) (*policy.Request, error) {
	urlPath := "/{scope}/providers/Microsoft.Security/compliances/{complianceName}"
	urlPath = strings.ReplaceAll(urlPath, "{scope}", scope)
	if complianceName == "" {
		return nil, errors.New("parameter complianceName cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{complianceName}", url.PathEscape(complianceName))
	req, err := runtime.NewRequest(ctx, http.MethodGet, runtime.JoinPaths(client.ep, urlPath))
	if err != nil {
		return nil, err
	}
	reqQP := req.Raw().URL.Query()
	reqQP.Set("api-version", "2017-08-01-preview")
	req.Raw().URL.RawQuery = reqQP.Encode()
	req.Raw().Header.Set("Accept", "application/json")
	return req, nil
}

// getHandleResponse handles the Get response.
func (client *CompliancesClient) getHandleResponse(resp *http.Response) (CompliancesGetResponse, error) {
	result := CompliancesGetResponse{RawResponse: resp}
	if err := runtime.UnmarshalAsJSON(resp, &result.Compliance); err != nil {
		return CompliancesGetResponse{}, runtime.NewResponseError(err, resp)
	}
	return result, nil
}

// getHandleError handles the Get error response.
func (client *CompliancesClient) getHandleError(resp *http.Response) error {
	body, err := runtime.Payload(resp)
	if err != nil {
		return runtime.NewResponseError(err, resp)
	}
	errType := CloudError{raw: string(body)}
	if err := runtime.UnmarshalAsJSON(resp, &errType.InnerError); err != nil {
		return runtime.NewResponseError(fmt.Errorf("%s\n%s", string(body), err), resp)
	}
	return runtime.NewResponseError(&errType, resp)
}

// List - The Compliance scores of the specific management group.
// If the operation fails it returns the *CloudError error type.
func (client *CompliancesClient) List(scope string, options *CompliancesListOptions) *CompliancesListPager {
	return &CompliancesListPager{
		client: client,
		requester: func(ctx context.Context) (*policy.Request, error) {
			return client.listCreateRequest(ctx, scope, options)
		},
		advancer: func(ctx context.Context, resp CompliancesListResponse) (*policy.Request, error) {
			return runtime.NewRequest(ctx, http.MethodGet, *resp.ComplianceList.NextLink)
		},
	}
}

// listCreateRequest creates the List request.
func (client *CompliancesClient) listCreateRequest(ctx context.Context, scope string, options *CompliancesListOptions) (*policy.Request, error) {
	urlPath := "/{scope}/providers/Microsoft.Security/compliances"
	urlPath = strings.ReplaceAll(urlPath, "{scope}", scope)
	req, err := runtime.NewRequest(ctx, http.MethodGet, runtime.JoinPaths(client.ep, urlPath))
	if err != nil {
		return nil, err
	}
	reqQP := req.Raw().URL.Query()
	reqQP.Set("api-version", "2017-08-01-preview")
	req.Raw().URL.RawQuery = reqQP.Encode()
	req.Raw().Header.Set("Accept", "application/json")
	return req, nil
}

// listHandleResponse handles the List response.
func (client *CompliancesClient) listHandleResponse(resp *http.Response) (CompliancesListResponse, error) {
	result := CompliancesListResponse{RawResponse: resp}
	if err := runtime.UnmarshalAsJSON(resp, &result.ComplianceList); err != nil {
		return CompliancesListResponse{}, runtime.NewResponseError(err, resp)
	}
	return result, nil
}

// listHandleError handles the List error response.
func (client *CompliancesClient) listHandleError(resp *http.Response) error {
	body, err := runtime.Payload(resp)
	if err != nil {
		return runtime.NewResponseError(err, resp)
	}
	errType := CloudError{raw: string(body)}
	if err := runtime.UnmarshalAsJSON(resp, &errType.InnerError); err != nil {
		return runtime.NewResponseError(fmt.Errorf("%s\n%s", string(body), err), resp)
	}
	return runtime.NewResponseError(&errType, resp)
}
