//go:build go1.16
// +build go1.16

// Copyright (c) Microsoft Corporation. All rights reserved.
// Licensed under the MIT License. See License.txt in the project root for license information.
// Code generated by Microsoft (R) AutoRest Code Generator.
// Changes may cause incorrect behavior and will be lost if the code is regenerated.

package armsecurity

import (
	"context"
	"errors"
	"fmt"
	"github.com/Azure/azure-sdk-for-go/sdk/azcore"
	"github.com/Azure/azure-sdk-for-go/sdk/azcore/arm"
	armruntime "github.com/Azure/azure-sdk-for-go/sdk/azcore/arm/runtime"
	"github.com/Azure/azure-sdk-for-go/sdk/azcore/policy"
	"github.com/Azure/azure-sdk-for-go/sdk/azcore/runtime"
	"net/http"
	"net/url"
	"strings"
)

// MdeOnboardingsClient contains the methods for the MdeOnboardings group.
// Don't use this type directly, use NewMdeOnboardingsClient() instead.
type MdeOnboardingsClient struct {
	ep             string
	pl             runtime.Pipeline
	subscriptionID string
}

// NewMdeOnboardingsClient creates a new instance of MdeOnboardingsClient with the specified values.
func NewMdeOnboardingsClient(subscriptionID string, credential azcore.TokenCredential, options *arm.ClientOptions) *MdeOnboardingsClient {
	cp := arm.ClientOptions{}
	if options != nil {
		cp = *options
	}
	if len(cp.Host) == 0 {
		cp.Host = arm.AzurePublicCloud
	}
	return &MdeOnboardingsClient{subscriptionID: subscriptionID, ep: string(cp.Host), pl: armruntime.NewPipeline(module, version, credential, &cp)}
}

// Get - The default configuration or data needed to onboard the machine to MDE
// If the operation fails it returns the *CloudError error type.
func (client *MdeOnboardingsClient) Get(ctx context.Context, options *MdeOnboardingsGetOptions) (MdeOnboardingsGetResponse, error) {
	req, err := client.getCreateRequest(ctx, options)
	if err != nil {
		return MdeOnboardingsGetResponse{}, err
	}
	resp, err := client.pl.Do(req)
	if err != nil {
		return MdeOnboardingsGetResponse{}, err
	}
	if !runtime.HasStatusCode(resp, http.StatusOK) {
		return MdeOnboardingsGetResponse{}, client.getHandleError(resp)
	}
	return client.getHandleResponse(resp)
}

// getCreateRequest creates the Get request.
func (client *MdeOnboardingsClient) getCreateRequest(ctx context.Context, options *MdeOnboardingsGetOptions) (*policy.Request, error) {
	urlPath := "/subscriptions/{subscriptionId}/providers/Microsoft.Security/mdeOnboardings/default"
	if client.subscriptionID == "" {
		return nil, errors.New("parameter client.subscriptionID cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{subscriptionId}", url.PathEscape(client.subscriptionID))
	req, err := runtime.NewRequest(ctx, http.MethodGet, runtime.JoinPaths(client.ep, urlPath))
	if err != nil {
		return nil, err
	}
	reqQP := req.Raw().URL.Query()
	reqQP.Set("api-version", "2021-10-01-preview")
	req.Raw().URL.RawQuery = reqQP.Encode()
	req.Raw().Header.Set("Accept", "application/json")
	return req, nil
}

// getHandleResponse handles the Get response.
func (client *MdeOnboardingsClient) getHandleResponse(resp *http.Response) (MdeOnboardingsGetResponse, error) {
	result := MdeOnboardingsGetResponse{RawResponse: resp}
	if err := runtime.UnmarshalAsJSON(resp, &result.MdeOnboardingData); err != nil {
		return MdeOnboardingsGetResponse{}, runtime.NewResponseError(err, resp)
	}
	return result, nil
}

// getHandleError handles the Get error response.
func (client *MdeOnboardingsClient) getHandleError(resp *http.Response) error {
	body, err := runtime.Payload(resp)
	if err != nil {
		return runtime.NewResponseError(err, resp)
	}
	errType := CloudError{raw: string(body)}
	if err := runtime.UnmarshalAsJSON(resp, &errType.InnerError); err != nil {
		return runtime.NewResponseError(fmt.Errorf("%s\n%s", string(body), err), resp)
	}
	return runtime.NewResponseError(&errType, resp)
}

// List - The configuration or data needed to onboard the machine to MDE
// If the operation fails it returns the *CloudError error type.
func (client *MdeOnboardingsClient) List(ctx context.Context, options *MdeOnboardingsListOptions) (MdeOnboardingsListResponse, error) {
	req, err := client.listCreateRequest(ctx, options)
	if err != nil {
		return MdeOnboardingsListResponse{}, err
	}
	resp, err := client.pl.Do(req)
	if err != nil {
		return MdeOnboardingsListResponse{}, err
	}
	if !runtime.HasStatusCode(resp, http.StatusOK) {
		return MdeOnboardingsListResponse{}, client.listHandleError(resp)
	}
	return client.listHandleResponse(resp)
}

// listCreateRequest creates the List request.
func (client *MdeOnboardingsClient) listCreateRequest(ctx context.Context, options *MdeOnboardingsListOptions) (*policy.Request, error) {
	urlPath := "/subscriptions/{subscriptionId}/providers/Microsoft.Security/mdeOnboardings"
	if client.subscriptionID == "" {
		return nil, errors.New("parameter client.subscriptionID cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{subscriptionId}", url.PathEscape(client.subscriptionID))
	req, err := runtime.NewRequest(ctx, http.MethodGet, runtime.JoinPaths(client.ep, urlPath))
	if err != nil {
		return nil, err
	}
	reqQP := req.Raw().URL.Query()
	reqQP.Set("api-version", "2021-10-01-preview")
	req.Raw().URL.RawQuery = reqQP.Encode()
	req.Raw().Header.Set("Accept", "application/json")
	return req, nil
}

// listHandleResponse handles the List response.
func (client *MdeOnboardingsClient) listHandleResponse(resp *http.Response) (MdeOnboardingsListResponse, error) {
	result := MdeOnboardingsListResponse{RawResponse: resp}
	if err := runtime.UnmarshalAsJSON(resp, &result.MdeOnboardingDataList); err != nil {
		return MdeOnboardingsListResponse{}, runtime.NewResponseError(err, resp)
	}
	return result, nil
}

// listHandleError handles the List error response.
func (client *MdeOnboardingsClient) listHandleError(resp *http.Response) error {
	body, err := runtime.Payload(resp)
	if err != nil {
		return runtime.NewResponseError(err, resp)
	}
	errType := CloudError{raw: string(body)}
	if err := runtime.UnmarshalAsJSON(resp, &errType.InnerError); err != nil {
		return runtime.NewResponseError(fmt.Errorf("%s\n%s", string(body), err), resp)
	}
	return runtime.NewResponseError(&errType, resp)
}
