// +build go1.13

// Copyright (c) Microsoft Corporation. All rights reserved.
// Licensed under the MIT License. See License.txt in the project root for license information.
// Code generated by Microsoft (R) AutoRest Code Generator.
// Changes may cause incorrect behavior and will be lost if the code is regenerated.

package armsecurity

import (
	"context"
	"errors"
	"fmt"
	"github.com/Azure/azure-sdk-for-go/sdk/armcore"
	"github.com/Azure/azure-sdk-for-go/sdk/azcore"
	"net/http"
	"net/url"
	"strings"
)

// SecurityContactsClient contains the methods for the SecurityContacts group.
// Don't use this type directly, use NewSecurityContactsClient() instead.
type SecurityContactsClient struct {
	con            *armcore.Connection
	subscriptionID string
}

// NewSecurityContactsClient creates a new instance of SecurityContactsClient with the specified values.
func NewSecurityContactsClient(con *armcore.Connection, subscriptionID string) *SecurityContactsClient {
	return &SecurityContactsClient{con: con, subscriptionID: subscriptionID}
}

// Create - Security contact configurations for the subscription
// If the operation fails it returns the *CloudError error type.
func (client *SecurityContactsClient) Create(ctx context.Context, securityContactName string, securityContact SecurityContact, options *SecurityContactsCreateOptions) (SecurityContactsCreateResponse, error) {
	req, err := client.createCreateRequest(ctx, securityContactName, securityContact, options)
	if err != nil {
		return SecurityContactsCreateResponse{}, err
	}
	resp, err := client.con.Pipeline().Do(req)
	if err != nil {
		return SecurityContactsCreateResponse{}, err
	}
	if !resp.HasStatusCode(http.StatusOK) {
		return SecurityContactsCreateResponse{}, client.createHandleError(resp)
	}
	return client.createHandleResponse(resp)
}

// createCreateRequest creates the Create request.
func (client *SecurityContactsClient) createCreateRequest(ctx context.Context, securityContactName string, securityContact SecurityContact, options *SecurityContactsCreateOptions) (*azcore.Request, error) {
	urlPath := "/subscriptions/{subscriptionId}/providers/Microsoft.Security/securityContacts/{securityContactName}"
	if client.subscriptionID == "" {
		return nil, errors.New("parameter client.subscriptionID cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{subscriptionId}", url.PathEscape(client.subscriptionID))
	if securityContactName == "" {
		return nil, errors.New("parameter securityContactName cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{securityContactName}", url.PathEscape(securityContactName))
	req, err := azcore.NewRequest(ctx, http.MethodPut, azcore.JoinPaths(client.con.Endpoint(), urlPath))
	if err != nil {
		return nil, err
	}
	req.Telemetry(telemetryInfo)
	reqQP := req.URL.Query()
	reqQP.Set("api-version", "2017-08-01-preview")
	req.URL.RawQuery = reqQP.Encode()
	req.Header.Set("Accept", "application/json")
	return req, req.MarshalAsJSON(securityContact)
}

// createHandleResponse handles the Create response.
func (client *SecurityContactsClient) createHandleResponse(resp *azcore.Response) (SecurityContactsCreateResponse, error) {
	result := SecurityContactsCreateResponse{RawResponse: resp.Response}
	if err := resp.UnmarshalAsJSON(&result.SecurityContact); err != nil {
		return SecurityContactsCreateResponse{}, err
	}
	return result, nil
}

// createHandleError handles the Create error response.
func (client *SecurityContactsClient) createHandleError(resp *azcore.Response) error {
	body, err := resp.Payload()
	if err != nil {
		return azcore.NewResponseError(err, resp.Response)
	}
	errType := CloudError{raw: string(body)}
	if err := resp.UnmarshalAsJSON(&errType.InnerError); err != nil {
		return azcore.NewResponseError(fmt.Errorf("%s\n%s", string(body), err), resp.Response)
	}
	return azcore.NewResponseError(&errType, resp.Response)
}

// Delete - Security contact configurations for the subscription
// If the operation fails it returns the *CloudError error type.
func (client *SecurityContactsClient) Delete(ctx context.Context, securityContactName string, options *SecurityContactsDeleteOptions) (SecurityContactsDeleteResponse, error) {
	req, err := client.deleteCreateRequest(ctx, securityContactName, options)
	if err != nil {
		return SecurityContactsDeleteResponse{}, err
	}
	resp, err := client.con.Pipeline().Do(req)
	if err != nil {
		return SecurityContactsDeleteResponse{}, err
	}
	if !resp.HasStatusCode(http.StatusNoContent) {
		return SecurityContactsDeleteResponse{}, client.deleteHandleError(resp)
	}
	return SecurityContactsDeleteResponse{RawResponse: resp.Response}, nil
}

// deleteCreateRequest creates the Delete request.
func (client *SecurityContactsClient) deleteCreateRequest(ctx context.Context, securityContactName string, options *SecurityContactsDeleteOptions) (*azcore.Request, error) {
	urlPath := "/subscriptions/{subscriptionId}/providers/Microsoft.Security/securityContacts/{securityContactName}"
	if client.subscriptionID == "" {
		return nil, errors.New("parameter client.subscriptionID cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{subscriptionId}", url.PathEscape(client.subscriptionID))
	if securityContactName == "" {
		return nil, errors.New("parameter securityContactName cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{securityContactName}", url.PathEscape(securityContactName))
	req, err := azcore.NewRequest(ctx, http.MethodDelete, azcore.JoinPaths(client.con.Endpoint(), urlPath))
	if err != nil {
		return nil, err
	}
	req.Telemetry(telemetryInfo)
	reqQP := req.URL.Query()
	reqQP.Set("api-version", "2017-08-01-preview")
	req.URL.RawQuery = reqQP.Encode()
	req.Header.Set("Accept", "application/json")
	return req, nil
}

// deleteHandleError handles the Delete error response.
func (client *SecurityContactsClient) deleteHandleError(resp *azcore.Response) error {
	body, err := resp.Payload()
	if err != nil {
		return azcore.NewResponseError(err, resp.Response)
	}
	errType := CloudError{raw: string(body)}
	if err := resp.UnmarshalAsJSON(&errType.InnerError); err != nil {
		return azcore.NewResponseError(fmt.Errorf("%s\n%s", string(body), err), resp.Response)
	}
	return azcore.NewResponseError(&errType, resp.Response)
}

// Get - Security contact configurations for the subscription
// If the operation fails it returns the *CloudError error type.
func (client *SecurityContactsClient) Get(ctx context.Context, securityContactName string, options *SecurityContactsGetOptions) (SecurityContactsGetResponse, error) {
	req, err := client.getCreateRequest(ctx, securityContactName, options)
	if err != nil {
		return SecurityContactsGetResponse{}, err
	}
	resp, err := client.con.Pipeline().Do(req)
	if err != nil {
		return SecurityContactsGetResponse{}, err
	}
	if !resp.HasStatusCode(http.StatusOK) {
		return SecurityContactsGetResponse{}, client.getHandleError(resp)
	}
	return client.getHandleResponse(resp)
}

// getCreateRequest creates the Get request.
func (client *SecurityContactsClient) getCreateRequest(ctx context.Context, securityContactName string, options *SecurityContactsGetOptions) (*azcore.Request, error) {
	urlPath := "/subscriptions/{subscriptionId}/providers/Microsoft.Security/securityContacts/{securityContactName}"
	if client.subscriptionID == "" {
		return nil, errors.New("parameter client.subscriptionID cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{subscriptionId}", url.PathEscape(client.subscriptionID))
	if securityContactName == "" {
		return nil, errors.New("parameter securityContactName cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{securityContactName}", url.PathEscape(securityContactName))
	req, err := azcore.NewRequest(ctx, http.MethodGet, azcore.JoinPaths(client.con.Endpoint(), urlPath))
	if err != nil {
		return nil, err
	}
	req.Telemetry(telemetryInfo)
	reqQP := req.URL.Query()
	reqQP.Set("api-version", "2017-08-01-preview")
	req.URL.RawQuery = reqQP.Encode()
	req.Header.Set("Accept", "application/json")
	return req, nil
}

// getHandleResponse handles the Get response.
func (client *SecurityContactsClient) getHandleResponse(resp *azcore.Response) (SecurityContactsGetResponse, error) {
	result := SecurityContactsGetResponse{RawResponse: resp.Response}
	if err := resp.UnmarshalAsJSON(&result.SecurityContact); err != nil {
		return SecurityContactsGetResponse{}, err
	}
	return result, nil
}

// getHandleError handles the Get error response.
func (client *SecurityContactsClient) getHandleError(resp *azcore.Response) error {
	body, err := resp.Payload()
	if err != nil {
		return azcore.NewResponseError(err, resp.Response)
	}
	errType := CloudError{raw: string(body)}
	if err := resp.UnmarshalAsJSON(&errType.InnerError); err != nil {
		return azcore.NewResponseError(fmt.Errorf("%s\n%s", string(body), err), resp.Response)
	}
	return azcore.NewResponseError(&errType, resp.Response)
}

// List - Security contact configurations for the subscription
// If the operation fails it returns the *CloudError error type.
func (client *SecurityContactsClient) List(options *SecurityContactsListOptions) SecurityContactsListPager {
	return &securityContactsListPager{
		client: client,
		requester: func(ctx context.Context) (*azcore.Request, error) {
			return client.listCreateRequest(ctx, options)
		},
		advancer: func(ctx context.Context, resp SecurityContactsListResponse) (*azcore.Request, error) {
			return azcore.NewRequest(ctx, http.MethodGet, *resp.SecurityContactList.NextLink)
		},
	}
}

// listCreateRequest creates the List request.
func (client *SecurityContactsClient) listCreateRequest(ctx context.Context, options *SecurityContactsListOptions) (*azcore.Request, error) {
	urlPath := "/subscriptions/{subscriptionId}/providers/Microsoft.Security/securityContacts"
	if client.subscriptionID == "" {
		return nil, errors.New("parameter client.subscriptionID cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{subscriptionId}", url.PathEscape(client.subscriptionID))
	req, err := azcore.NewRequest(ctx, http.MethodGet, azcore.JoinPaths(client.con.Endpoint(), urlPath))
	if err != nil {
		return nil, err
	}
	req.Telemetry(telemetryInfo)
	reqQP := req.URL.Query()
	reqQP.Set("api-version", "2017-08-01-preview")
	req.URL.RawQuery = reqQP.Encode()
	req.Header.Set("Accept", "application/json")
	return req, nil
}

// listHandleResponse handles the List response.
func (client *SecurityContactsClient) listHandleResponse(resp *azcore.Response) (SecurityContactsListResponse, error) {
	result := SecurityContactsListResponse{RawResponse: resp.Response}
	if err := resp.UnmarshalAsJSON(&result.SecurityContactList); err != nil {
		return SecurityContactsListResponse{}, err
	}
	return result, nil
}

// listHandleError handles the List error response.
func (client *SecurityContactsClient) listHandleError(resp *azcore.Response) error {
	body, err := resp.Payload()
	if err != nil {
		return azcore.NewResponseError(err, resp.Response)
	}
	errType := CloudError{raw: string(body)}
	if err := resp.UnmarshalAsJSON(&errType.InnerError); err != nil {
		return azcore.NewResponseError(fmt.Errorf("%s\n%s", string(body), err), resp.Response)
	}
	return azcore.NewResponseError(&errType, resp.Response)
}

// Update - Security contact configurations for the subscription
// If the operation fails it returns the *CloudError error type.
func (client *SecurityContactsClient) Update(ctx context.Context, securityContactName string, securityContact SecurityContact, options *SecurityContactsUpdateOptions) (SecurityContactsUpdateResponse, error) {
	req, err := client.updateCreateRequest(ctx, securityContactName, securityContact, options)
	if err != nil {
		return SecurityContactsUpdateResponse{}, err
	}
	resp, err := client.con.Pipeline().Do(req)
	if err != nil {
		return SecurityContactsUpdateResponse{}, err
	}
	if !resp.HasStatusCode(http.StatusOK) {
		return SecurityContactsUpdateResponse{}, client.updateHandleError(resp)
	}
	return client.updateHandleResponse(resp)
}

// updateCreateRequest creates the Update request.
func (client *SecurityContactsClient) updateCreateRequest(ctx context.Context, securityContactName string, securityContact SecurityContact, options *SecurityContactsUpdateOptions) (*azcore.Request, error) {
	urlPath := "/subscriptions/{subscriptionId}/providers/Microsoft.Security/securityContacts/{securityContactName}"
	if client.subscriptionID == "" {
		return nil, errors.New("parameter client.subscriptionID cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{subscriptionId}", url.PathEscape(client.subscriptionID))
	if securityContactName == "" {
		return nil, errors.New("parameter securityContactName cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{securityContactName}", url.PathEscape(securityContactName))
	req, err := azcore.NewRequest(ctx, http.MethodPatch, azcore.JoinPaths(client.con.Endpoint(), urlPath))
	if err != nil {
		return nil, err
	}
	req.Telemetry(telemetryInfo)
	reqQP := req.URL.Query()
	reqQP.Set("api-version", "2017-08-01-preview")
	req.URL.RawQuery = reqQP.Encode()
	req.Header.Set("Accept", "application/json")
	return req, req.MarshalAsJSON(securityContact)
}

// updateHandleResponse handles the Update response.
func (client *SecurityContactsClient) updateHandleResponse(resp *azcore.Response) (SecurityContactsUpdateResponse, error) {
	result := SecurityContactsUpdateResponse{RawResponse: resp.Response}
	if err := resp.UnmarshalAsJSON(&result.SecurityContact); err != nil {
		return SecurityContactsUpdateResponse{}, err
	}
	return result, nil
}

// updateHandleError handles the Update error response.
func (client *SecurityContactsClient) updateHandleError(resp *azcore.Response) error {
	body, err := resp.Payload()
	if err != nil {
		return azcore.NewResponseError(err, resp.Response)
	}
	errType := CloudError{raw: string(body)}
	if err := resp.UnmarshalAsJSON(&errType.InnerError); err != nil {
		return azcore.NewResponseError(fmt.Errorf("%s\n%s", string(body), err), resp.Response)
	}
	return azcore.NewResponseError(&errType, resp.Response)
}
