// +build go1.13

// Copyright (c) Microsoft Corporation. All rights reserved.
// Licensed under the MIT License. See License.txt in the project root for license information.
// Code generated by Microsoft (R) AutoRest Code Generator.
// Changes may cause incorrect behavior and will be lost if the code is regenerated.

package armsecurity

import (
	"context"
	"errors"
	"fmt"
	"github.com/Azure/azure-sdk-for-go/sdk/armcore"
	"github.com/Azure/azure-sdk-for-go/sdk/azcore"
	"net/http"
	"net/url"
	"strings"
)

// AutoProvisioningSettingsClient contains the methods for the AutoProvisioningSettings group.
// Don't use this type directly, use NewAutoProvisioningSettingsClient() instead.
type AutoProvisioningSettingsClient struct {
	con            *armcore.Connection
	subscriptionID string
}

// NewAutoProvisioningSettingsClient creates a new instance of AutoProvisioningSettingsClient with the specified values.
func NewAutoProvisioningSettingsClient(con *armcore.Connection, subscriptionID string) *AutoProvisioningSettingsClient {
	return &AutoProvisioningSettingsClient{con: con, subscriptionID: subscriptionID}
}

// Create - Details of a specific setting
// If the operation fails it returns the *CloudError error type.
func (client *AutoProvisioningSettingsClient) Create(ctx context.Context, settingName string, setting AutoProvisioningSetting, options *AutoProvisioningSettingsCreateOptions) (AutoProvisioningSettingsCreateResponse, error) {
	req, err := client.createCreateRequest(ctx, settingName, setting, options)
	if err != nil {
		return AutoProvisioningSettingsCreateResponse{}, err
	}
	resp, err := client.con.Pipeline().Do(req)
	if err != nil {
		return AutoProvisioningSettingsCreateResponse{}, err
	}
	if !resp.HasStatusCode(http.StatusOK) {
		return AutoProvisioningSettingsCreateResponse{}, client.createHandleError(resp)
	}
	return client.createHandleResponse(resp)
}

// createCreateRequest creates the Create request.
func (client *AutoProvisioningSettingsClient) createCreateRequest(ctx context.Context, settingName string, setting AutoProvisioningSetting, options *AutoProvisioningSettingsCreateOptions) (*azcore.Request, error) {
	urlPath := "/subscriptions/{subscriptionId}/providers/Microsoft.Security/autoProvisioningSettings/{settingName}"
	if client.subscriptionID == "" {
		return nil, errors.New("parameter client.subscriptionID cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{subscriptionId}", url.PathEscape(client.subscriptionID))
	if settingName == "" {
		return nil, errors.New("parameter settingName cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{settingName}", url.PathEscape(settingName))
	req, err := azcore.NewRequest(ctx, http.MethodPut, azcore.JoinPaths(client.con.Endpoint(), urlPath))
	if err != nil {
		return nil, err
	}
	req.Telemetry(telemetryInfo)
	reqQP := req.URL.Query()
	reqQP.Set("api-version", "2017-08-01-preview")
	req.URL.RawQuery = reqQP.Encode()
	req.Header.Set("Accept", "application/json")
	return req, req.MarshalAsJSON(setting)
}

// createHandleResponse handles the Create response.
func (client *AutoProvisioningSettingsClient) createHandleResponse(resp *azcore.Response) (AutoProvisioningSettingsCreateResponse, error) {
	result := AutoProvisioningSettingsCreateResponse{RawResponse: resp.Response}
	if err := resp.UnmarshalAsJSON(&result.AutoProvisioningSetting); err != nil {
		return AutoProvisioningSettingsCreateResponse{}, err
	}
	return result, nil
}

// createHandleError handles the Create error response.
func (client *AutoProvisioningSettingsClient) createHandleError(resp *azcore.Response) error {
	body, err := resp.Payload()
	if err != nil {
		return azcore.NewResponseError(err, resp.Response)
	}
	errType := CloudError{raw: string(body)}
	if err := resp.UnmarshalAsJSON(&errType.InnerError); err != nil {
		return azcore.NewResponseError(fmt.Errorf("%s\n%s", string(body), err), resp.Response)
	}
	return azcore.NewResponseError(&errType, resp.Response)
}

// Get - Details of a specific setting
// If the operation fails it returns the *CloudError error type.
func (client *AutoProvisioningSettingsClient) Get(ctx context.Context, settingName string, options *AutoProvisioningSettingsGetOptions) (AutoProvisioningSettingsGetResponse, error) {
	req, err := client.getCreateRequest(ctx, settingName, options)
	if err != nil {
		return AutoProvisioningSettingsGetResponse{}, err
	}
	resp, err := client.con.Pipeline().Do(req)
	if err != nil {
		return AutoProvisioningSettingsGetResponse{}, err
	}
	if !resp.HasStatusCode(http.StatusOK) {
		return AutoProvisioningSettingsGetResponse{}, client.getHandleError(resp)
	}
	return client.getHandleResponse(resp)
}

// getCreateRequest creates the Get request.
func (client *AutoProvisioningSettingsClient) getCreateRequest(ctx context.Context, settingName string, options *AutoProvisioningSettingsGetOptions) (*azcore.Request, error) {
	urlPath := "/subscriptions/{subscriptionId}/providers/Microsoft.Security/autoProvisioningSettings/{settingName}"
	if client.subscriptionID == "" {
		return nil, errors.New("parameter client.subscriptionID cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{subscriptionId}", url.PathEscape(client.subscriptionID))
	if settingName == "" {
		return nil, errors.New("parameter settingName cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{settingName}", url.PathEscape(settingName))
	req, err := azcore.NewRequest(ctx, http.MethodGet, azcore.JoinPaths(client.con.Endpoint(), urlPath))
	if err != nil {
		return nil, err
	}
	req.Telemetry(telemetryInfo)
	reqQP := req.URL.Query()
	reqQP.Set("api-version", "2017-08-01-preview")
	req.URL.RawQuery = reqQP.Encode()
	req.Header.Set("Accept", "application/json")
	return req, nil
}

// getHandleResponse handles the Get response.
func (client *AutoProvisioningSettingsClient) getHandleResponse(resp *azcore.Response) (AutoProvisioningSettingsGetResponse, error) {
	result := AutoProvisioningSettingsGetResponse{RawResponse: resp.Response}
	if err := resp.UnmarshalAsJSON(&result.AutoProvisioningSetting); err != nil {
		return AutoProvisioningSettingsGetResponse{}, err
	}
	return result, nil
}

// getHandleError handles the Get error response.
func (client *AutoProvisioningSettingsClient) getHandleError(resp *azcore.Response) error {
	body, err := resp.Payload()
	if err != nil {
		return azcore.NewResponseError(err, resp.Response)
	}
	errType := CloudError{raw: string(body)}
	if err := resp.UnmarshalAsJSON(&errType.InnerError); err != nil {
		return azcore.NewResponseError(fmt.Errorf("%s\n%s", string(body), err), resp.Response)
	}
	return azcore.NewResponseError(&errType, resp.Response)
}

// List - Exposes the auto provisioning settings of the subscriptions
// If the operation fails it returns the *CloudError error type.
func (client *AutoProvisioningSettingsClient) List(options *AutoProvisioningSettingsListOptions) AutoProvisioningSettingsListPager {
	return &autoProvisioningSettingsListPager{
		client: client,
		requester: func(ctx context.Context) (*azcore.Request, error) {
			return client.listCreateRequest(ctx, options)
		},
		advancer: func(ctx context.Context, resp AutoProvisioningSettingsListResponse) (*azcore.Request, error) {
			return azcore.NewRequest(ctx, http.MethodGet, *resp.AutoProvisioningSettingList.NextLink)
		},
	}
}

// listCreateRequest creates the List request.
func (client *AutoProvisioningSettingsClient) listCreateRequest(ctx context.Context, options *AutoProvisioningSettingsListOptions) (*azcore.Request, error) {
	urlPath := "/subscriptions/{subscriptionId}/providers/Microsoft.Security/autoProvisioningSettings"
	if client.subscriptionID == "" {
		return nil, errors.New("parameter client.subscriptionID cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{subscriptionId}", url.PathEscape(client.subscriptionID))
	req, err := azcore.NewRequest(ctx, http.MethodGet, azcore.JoinPaths(client.con.Endpoint(), urlPath))
	if err != nil {
		return nil, err
	}
	req.Telemetry(telemetryInfo)
	reqQP := req.URL.Query()
	reqQP.Set("api-version", "2017-08-01-preview")
	req.URL.RawQuery = reqQP.Encode()
	req.Header.Set("Accept", "application/json")
	return req, nil
}

// listHandleResponse handles the List response.
func (client *AutoProvisioningSettingsClient) listHandleResponse(resp *azcore.Response) (AutoProvisioningSettingsListResponse, error) {
	result := AutoProvisioningSettingsListResponse{RawResponse: resp.Response}
	if err := resp.UnmarshalAsJSON(&result.AutoProvisioningSettingList); err != nil {
		return AutoProvisioningSettingsListResponse{}, err
	}
	return result, nil
}

// listHandleError handles the List error response.
func (client *AutoProvisioningSettingsClient) listHandleError(resp *azcore.Response) error {
	body, err := resp.Payload()
	if err != nil {
		return azcore.NewResponseError(err, resp.Response)
	}
	errType := CloudError{raw: string(body)}
	if err := resp.UnmarshalAsJSON(&errType.InnerError); err != nil {
		return azcore.NewResponseError(fmt.Errorf("%s\n%s", string(body), err), resp.Response)
	}
	return azcore.NewResponseError(&errType, resp.Response)
}
