// +build go1.13

// Copyright (c) Microsoft Corporation. All rights reserved.
// Licensed under the MIT License. See License.txt in the project root for license information.
// Code generated by Microsoft (R) AutoRest Code Generator.
// Changes may cause incorrect behavior and will be lost if the code is regenerated.

package armsecurity

import (
	"context"
	"errors"
	"fmt"
	"github.com/Azure/azure-sdk-for-go/sdk/armcore"
	"github.com/Azure/azure-sdk-for-go/sdk/azcore"
	"net/http"
	"net/url"
	"strings"
)

// SecureScoresClient contains the methods for the SecureScores group.
// Don't use this type directly, use NewSecureScoresClient() instead.
type SecureScoresClient struct {
	con            *armcore.Connection
	subscriptionID string
}

// NewSecureScoresClient creates a new instance of SecureScoresClient with the specified values.
func NewSecureScoresClient(con *armcore.Connection, subscriptionID string) *SecureScoresClient {
	return &SecureScoresClient{con: con, subscriptionID: subscriptionID}
}

// Get - Get secure score for a specific Security Center initiative within your current scope. For the ASC Default initiative, use 'ascScore'.
// If the operation fails it returns the *CloudError error type.
func (client *SecureScoresClient) Get(ctx context.Context, secureScoreName string, options *SecureScoresGetOptions) (SecureScoresGetResponse, error) {
	req, err := client.getCreateRequest(ctx, secureScoreName, options)
	if err != nil {
		return SecureScoresGetResponse{}, err
	}
	resp, err := client.con.Pipeline().Do(req)
	if err != nil {
		return SecureScoresGetResponse{}, err
	}
	if !resp.HasStatusCode(http.StatusOK) {
		return SecureScoresGetResponse{}, client.getHandleError(resp)
	}
	return client.getHandleResponse(resp)
}

// getCreateRequest creates the Get request.
func (client *SecureScoresClient) getCreateRequest(ctx context.Context, secureScoreName string, options *SecureScoresGetOptions) (*azcore.Request, error) {
	urlPath := "/subscriptions/{subscriptionId}/providers/Microsoft.Security/secureScores/{secureScoreName}"
	if client.subscriptionID == "" {
		return nil, errors.New("parameter client.subscriptionID cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{subscriptionId}", url.PathEscape(client.subscriptionID))
	if secureScoreName == "" {
		return nil, errors.New("parameter secureScoreName cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{secureScoreName}", url.PathEscape(secureScoreName))
	req, err := azcore.NewRequest(ctx, http.MethodGet, azcore.JoinPaths(client.con.Endpoint(), urlPath))
	if err != nil {
		return nil, err
	}
	req.Telemetry(telemetryInfo)
	reqQP := req.URL.Query()
	reqQP.Set("api-version", "2020-01-01")
	req.URL.RawQuery = reqQP.Encode()
	req.Header.Set("Accept", "application/json")
	return req, nil
}

// getHandleResponse handles the Get response.
func (client *SecureScoresClient) getHandleResponse(resp *azcore.Response) (SecureScoresGetResponse, error) {
	result := SecureScoresGetResponse{RawResponse: resp.Response}
	if err := resp.UnmarshalAsJSON(&result.SecureScoreItem); err != nil {
		return SecureScoresGetResponse{}, err
	}
	return result, nil
}

// getHandleError handles the Get error response.
func (client *SecureScoresClient) getHandleError(resp *azcore.Response) error {
	body, err := resp.Payload()
	if err != nil {
		return azcore.NewResponseError(err, resp.Response)
	}
	errType := CloudError{raw: string(body)}
	if err := resp.UnmarshalAsJSON(&errType.InnerError); err != nil {
		return azcore.NewResponseError(fmt.Errorf("%s\n%s", string(body), err), resp.Response)
	}
	return azcore.NewResponseError(&errType, resp.Response)
}

// List - List secure scores for all your Security Center initiatives within your current scope.
// If the operation fails it returns the *CloudError error type.
func (client *SecureScoresClient) List(options *SecureScoresListOptions) SecureScoresListPager {
	return &secureScoresListPager{
		client: client,
		requester: func(ctx context.Context) (*azcore.Request, error) {
			return client.listCreateRequest(ctx, options)
		},
		advancer: func(ctx context.Context, resp SecureScoresListResponse) (*azcore.Request, error) {
			return azcore.NewRequest(ctx, http.MethodGet, *resp.SecureScoresList.NextLink)
		},
	}
}

// listCreateRequest creates the List request.
func (client *SecureScoresClient) listCreateRequest(ctx context.Context, options *SecureScoresListOptions) (*azcore.Request, error) {
	urlPath := "/subscriptions/{subscriptionId}/providers/Microsoft.Security/secureScores"
	if client.subscriptionID == "" {
		return nil, errors.New("parameter client.subscriptionID cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{subscriptionId}", url.PathEscape(client.subscriptionID))
	req, err := azcore.NewRequest(ctx, http.MethodGet, azcore.JoinPaths(client.con.Endpoint(), urlPath))
	if err != nil {
		return nil, err
	}
	req.Telemetry(telemetryInfo)
	reqQP := req.URL.Query()
	reqQP.Set("api-version", "2020-01-01")
	req.URL.RawQuery = reqQP.Encode()
	req.Header.Set("Accept", "application/json")
	return req, nil
}

// listHandleResponse handles the List response.
func (client *SecureScoresClient) listHandleResponse(resp *azcore.Response) (SecureScoresListResponse, error) {
	result := SecureScoresListResponse{RawResponse: resp.Response}
	if err := resp.UnmarshalAsJSON(&result.SecureScoresList); err != nil {
		return SecureScoresListResponse{}, err
	}
	return result, nil
}

// listHandleError handles the List error response.
func (client *SecureScoresClient) listHandleError(resp *azcore.Response) error {
	body, err := resp.Payload()
	if err != nil {
		return azcore.NewResponseError(err, resp.Response)
	}
	errType := CloudError{raw: string(body)}
	if err := resp.UnmarshalAsJSON(&errType.InnerError); err != nil {
		return azcore.NewResponseError(fmt.Errorf("%s\n%s", string(body), err), resp.Response)
	}
	return azcore.NewResponseError(&errType, resp.Response)
}
