// +build go1.13

// Copyright (c) Microsoft Corporation. All rights reserved.
// Licensed under the MIT License. See License.txt in the project root for license information.
// Code generated by Microsoft (R) AutoRest Code Generator.
// Changes may cause incorrect behavior and will be lost if the code is regenerated.

package armsecurity

import (
	"context"
	"errors"
	"fmt"
	"github.com/Azure/azure-sdk-for-go/sdk/armcore"
	"github.com/Azure/azure-sdk-for-go/sdk/azcore"
	"net/http"
	"net/url"
	"strconv"
	"strings"
)

// IotSecuritySolutionsAnalyticsRecommendationClient contains the methods for the IotSecuritySolutionsAnalyticsRecommendation group.
// Don't use this type directly, use NewIotSecuritySolutionsAnalyticsRecommendationClient() instead.
type IotSecuritySolutionsAnalyticsRecommendationClient struct {
	con            *armcore.Connection
	subscriptionID string
}

// NewIotSecuritySolutionsAnalyticsRecommendationClient creates a new instance of IotSecuritySolutionsAnalyticsRecommendationClient with the specified values.
func NewIotSecuritySolutionsAnalyticsRecommendationClient(con *armcore.Connection, subscriptionID string) *IotSecuritySolutionsAnalyticsRecommendationClient {
	return &IotSecuritySolutionsAnalyticsRecommendationClient{con: con, subscriptionID: subscriptionID}
}

// Get - Use this method to get the aggregated security analytics recommendation of yours IoT Security solution. This aggregation is performed by recommendation
// name.
// If the operation fails it returns the *CloudError error type.
func (client *IotSecuritySolutionsAnalyticsRecommendationClient) Get(ctx context.Context, resourceGroupName string, solutionName string, aggregatedRecommendationName string, options *IotSecuritySolutionsAnalyticsRecommendationGetOptions) (IotSecuritySolutionsAnalyticsRecommendationGetResponse, error) {
	req, err := client.getCreateRequest(ctx, resourceGroupName, solutionName, aggregatedRecommendationName, options)
	if err != nil {
		return IotSecuritySolutionsAnalyticsRecommendationGetResponse{}, err
	}
	resp, err := client.con.Pipeline().Do(req)
	if err != nil {
		return IotSecuritySolutionsAnalyticsRecommendationGetResponse{}, err
	}
	if !resp.HasStatusCode(http.StatusOK) {
		return IotSecuritySolutionsAnalyticsRecommendationGetResponse{}, client.getHandleError(resp)
	}
	return client.getHandleResponse(resp)
}

// getCreateRequest creates the Get request.
func (client *IotSecuritySolutionsAnalyticsRecommendationClient) getCreateRequest(ctx context.Context, resourceGroupName string, solutionName string, aggregatedRecommendationName string, options *IotSecuritySolutionsAnalyticsRecommendationGetOptions) (*azcore.Request, error) {
	urlPath := "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Security/iotSecuritySolutions/{solutionName}/analyticsModels/default/aggregatedRecommendations/{aggregatedRecommendationName}"
	if client.subscriptionID == "" {
		return nil, errors.New("parameter client.subscriptionID cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{subscriptionId}", url.PathEscape(client.subscriptionID))
	if resourceGroupName == "" {
		return nil, errors.New("parameter resourceGroupName cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{resourceGroupName}", url.PathEscape(resourceGroupName))
	if solutionName == "" {
		return nil, errors.New("parameter solutionName cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{solutionName}", url.PathEscape(solutionName))
	if aggregatedRecommendationName == "" {
		return nil, errors.New("parameter aggregatedRecommendationName cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{aggregatedRecommendationName}", url.PathEscape(aggregatedRecommendationName))
	req, err := azcore.NewRequest(ctx, http.MethodGet, azcore.JoinPaths(client.con.Endpoint(), urlPath))
	if err != nil {
		return nil, err
	}
	req.Telemetry(telemetryInfo)
	reqQP := req.URL.Query()
	reqQP.Set("api-version", "2019-08-01")
	req.URL.RawQuery = reqQP.Encode()
	req.Header.Set("Accept", "application/json")
	return req, nil
}

// getHandleResponse handles the Get response.
func (client *IotSecuritySolutionsAnalyticsRecommendationClient) getHandleResponse(resp *azcore.Response) (IotSecuritySolutionsAnalyticsRecommendationGetResponse, error) {
	result := IotSecuritySolutionsAnalyticsRecommendationGetResponse{RawResponse: resp.Response}
	if err := resp.UnmarshalAsJSON(&result.IoTSecurityAggregatedRecommendation); err != nil {
		return IotSecuritySolutionsAnalyticsRecommendationGetResponse{}, err
	}
	return result, nil
}

// getHandleError handles the Get error response.
func (client *IotSecuritySolutionsAnalyticsRecommendationClient) getHandleError(resp *azcore.Response) error {
	body, err := resp.Payload()
	if err != nil {
		return azcore.NewResponseError(err, resp.Response)
	}
	errType := CloudError{raw: string(body)}
	if err := resp.UnmarshalAsJSON(&errType.InnerError); err != nil {
		return azcore.NewResponseError(fmt.Errorf("%s\n%s", string(body), err), resp.Response)
	}
	return azcore.NewResponseError(&errType, resp.Response)
}

// List - Use this method to get the list of aggregated security analytics recommendations of yours IoT Security solution.
// If the operation fails it returns the *CloudError error type.
func (client *IotSecuritySolutionsAnalyticsRecommendationClient) List(resourceGroupName string, solutionName string, options *IotSecuritySolutionsAnalyticsRecommendationListOptions) IotSecuritySolutionsAnalyticsRecommendationListPager {
	return &iotSecuritySolutionsAnalyticsRecommendationListPager{
		client: client,
		requester: func(ctx context.Context) (*azcore.Request, error) {
			return client.listCreateRequest(ctx, resourceGroupName, solutionName, options)
		},
		advancer: func(ctx context.Context, resp IotSecuritySolutionsAnalyticsRecommendationListResponse) (*azcore.Request, error) {
			return azcore.NewRequest(ctx, http.MethodGet, *resp.IoTSecurityAggregatedRecommendationList.NextLink)
		},
	}
}

// listCreateRequest creates the List request.
func (client *IotSecuritySolutionsAnalyticsRecommendationClient) listCreateRequest(ctx context.Context, resourceGroupName string, solutionName string, options *IotSecuritySolutionsAnalyticsRecommendationListOptions) (*azcore.Request, error) {
	urlPath := "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Security/iotSecuritySolutions/{solutionName}/analyticsModels/default/aggregatedRecommendations"
	if client.subscriptionID == "" {
		return nil, errors.New("parameter client.subscriptionID cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{subscriptionId}", url.PathEscape(client.subscriptionID))
	if resourceGroupName == "" {
		return nil, errors.New("parameter resourceGroupName cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{resourceGroupName}", url.PathEscape(resourceGroupName))
	if solutionName == "" {
		return nil, errors.New("parameter solutionName cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{solutionName}", url.PathEscape(solutionName))
	req, err := azcore.NewRequest(ctx, http.MethodGet, azcore.JoinPaths(client.con.Endpoint(), urlPath))
	if err != nil {
		return nil, err
	}
	req.Telemetry(telemetryInfo)
	reqQP := req.URL.Query()
	reqQP.Set("api-version", "2019-08-01")
	if options != nil && options.Top != nil {
		reqQP.Set("$top", strconv.FormatInt(int64(*options.Top), 10))
	}
	req.URL.RawQuery = reqQP.Encode()
	req.Header.Set("Accept", "application/json")
	return req, nil
}

// listHandleResponse handles the List response.
func (client *IotSecuritySolutionsAnalyticsRecommendationClient) listHandleResponse(resp *azcore.Response) (IotSecuritySolutionsAnalyticsRecommendationListResponse, error) {
	result := IotSecuritySolutionsAnalyticsRecommendationListResponse{RawResponse: resp.Response}
	if err := resp.UnmarshalAsJSON(&result.IoTSecurityAggregatedRecommendationList); err != nil {
		return IotSecuritySolutionsAnalyticsRecommendationListResponse{}, err
	}
	return result, nil
}

// listHandleError handles the List error response.
func (client *IotSecuritySolutionsAnalyticsRecommendationClient) listHandleError(resp *azcore.Response) error {
	body, err := resp.Payload()
	if err != nil {
		return azcore.NewResponseError(err, resp.Response)
	}
	errType := CloudError{raw: string(body)}
	if err := resp.UnmarshalAsJSON(&errType.InnerError); err != nil {
		return azcore.NewResponseError(fmt.Errorf("%s\n%s", string(body), err), resp.Response)
	}
	return azcore.NewResponseError(&errType, resp.Response)
}
