// +build go1.13

// Copyright (c) Microsoft Corporation. All rights reserved.
// Licensed under the MIT License. See License.txt in the project root for license information.
// Code generated by Microsoft (R) AutoRest Code Generator.
// Changes may cause incorrect behavior and will be lost if the code is regenerated.

package armsecurity

import (
	"context"
	"errors"
	"fmt"
	"github.com/Azure/azure-sdk-for-go/sdk/armcore"
	"github.com/Azure/azure-sdk-for-go/sdk/azcore"
	"net/http"
	"net/url"
	"strings"
)

// SecuritySolutionsClient contains the methods for the SecuritySolutions group.
// Don't use this type directly, use NewSecuritySolutionsClient() instead.
type SecuritySolutionsClient struct {
	con            *armcore.Connection
	subscriptionID string
	ascLocation    string
}

// NewSecuritySolutionsClient creates a new instance of SecuritySolutionsClient with the specified values.
func NewSecuritySolutionsClient(con *armcore.Connection, subscriptionID string, ascLocation string) *SecuritySolutionsClient {
	return &SecuritySolutionsClient{con: con, subscriptionID: subscriptionID, ascLocation: ascLocation}
}

// Get - Gets a specific Security Solution.
// If the operation fails it returns the *CloudError error type.
func (client *SecuritySolutionsClient) Get(ctx context.Context, resourceGroupName string, securitySolutionName string, options *SecuritySolutionsGetOptions) (SecuritySolutionsGetResponse, error) {
	req, err := client.getCreateRequest(ctx, resourceGroupName, securitySolutionName, options)
	if err != nil {
		return SecuritySolutionsGetResponse{}, err
	}
	resp, err := client.con.Pipeline().Do(req)
	if err != nil {
		return SecuritySolutionsGetResponse{}, err
	}
	if !resp.HasStatusCode(http.StatusOK) {
		return SecuritySolutionsGetResponse{}, client.getHandleError(resp)
	}
	return client.getHandleResponse(resp)
}

// getCreateRequest creates the Get request.
func (client *SecuritySolutionsClient) getCreateRequest(ctx context.Context, resourceGroupName string, securitySolutionName string, options *SecuritySolutionsGetOptions) (*azcore.Request, error) {
	urlPath := "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Security/locations/{ascLocation}/securitySolutions/{securitySolutionName}"
	if client.subscriptionID == "" {
		return nil, errors.New("parameter client.subscriptionID cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{subscriptionId}", url.PathEscape(client.subscriptionID))
	if resourceGroupName == "" {
		return nil, errors.New("parameter resourceGroupName cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{resourceGroupName}", url.PathEscape(resourceGroupName))
	if client.ascLocation == "" {
		return nil, errors.New("parameter client.ascLocation cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{ascLocation}", url.PathEscape(client.ascLocation))
	if securitySolutionName == "" {
		return nil, errors.New("parameter securitySolutionName cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{securitySolutionName}", url.PathEscape(securitySolutionName))
	req, err := azcore.NewRequest(ctx, http.MethodGet, azcore.JoinPaths(client.con.Endpoint(), urlPath))
	if err != nil {
		return nil, err
	}
	req.Telemetry(telemetryInfo)
	reqQP := req.URL.Query()
	reqQP.Set("api-version", "2020-01-01")
	req.URL.RawQuery = reqQP.Encode()
	req.Header.Set("Accept", "application/json")
	return req, nil
}

// getHandleResponse handles the Get response.
func (client *SecuritySolutionsClient) getHandleResponse(resp *azcore.Response) (SecuritySolutionsGetResponse, error) {
	result := SecuritySolutionsGetResponse{RawResponse: resp.Response}
	if err := resp.UnmarshalAsJSON(&result.SecuritySolution); err != nil {
		return SecuritySolutionsGetResponse{}, err
	}
	return result, nil
}

// getHandleError handles the Get error response.
func (client *SecuritySolutionsClient) getHandleError(resp *azcore.Response) error {
	body, err := resp.Payload()
	if err != nil {
		return azcore.NewResponseError(err, resp.Response)
	}
	errType := CloudError{raw: string(body)}
	if err := resp.UnmarshalAsJSON(&errType.InnerError); err != nil {
		return azcore.NewResponseError(fmt.Errorf("%s\n%s", string(body), err), resp.Response)
	}
	return azcore.NewResponseError(&errType, resp.Response)
}

// List - Gets a list of Security Solutions for the subscription.
// If the operation fails it returns the *CloudError error type.
func (client *SecuritySolutionsClient) List(options *SecuritySolutionsListOptions) SecuritySolutionsListPager {
	return &securitySolutionsListPager{
		client: client,
		requester: func(ctx context.Context) (*azcore.Request, error) {
			return client.listCreateRequest(ctx, options)
		},
		advancer: func(ctx context.Context, resp SecuritySolutionsListResponse) (*azcore.Request, error) {
			return azcore.NewRequest(ctx, http.MethodGet, *resp.SecuritySolutionList.NextLink)
		},
	}
}

// listCreateRequest creates the List request.
func (client *SecuritySolutionsClient) listCreateRequest(ctx context.Context, options *SecuritySolutionsListOptions) (*azcore.Request, error) {
	urlPath := "/subscriptions/{subscriptionId}/providers/Microsoft.Security/securitySolutions"
	if client.subscriptionID == "" {
		return nil, errors.New("parameter client.subscriptionID cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{subscriptionId}", url.PathEscape(client.subscriptionID))
	req, err := azcore.NewRequest(ctx, http.MethodGet, azcore.JoinPaths(client.con.Endpoint(), urlPath))
	if err != nil {
		return nil, err
	}
	req.Telemetry(telemetryInfo)
	reqQP := req.URL.Query()
	reqQP.Set("api-version", "2020-01-01")
	req.URL.RawQuery = reqQP.Encode()
	req.Header.Set("Accept", "application/json")
	return req, nil
}

// listHandleResponse handles the List response.
func (client *SecuritySolutionsClient) listHandleResponse(resp *azcore.Response) (SecuritySolutionsListResponse, error) {
	result := SecuritySolutionsListResponse{RawResponse: resp.Response}
	if err := resp.UnmarshalAsJSON(&result.SecuritySolutionList); err != nil {
		return SecuritySolutionsListResponse{}, err
	}
	return result, nil
}

// listHandleError handles the List error response.
func (client *SecuritySolutionsClient) listHandleError(resp *azcore.Response) error {
	body, err := resp.Payload()
	if err != nil {
		return azcore.NewResponseError(err, resp.Response)
	}
	errType := CloudError{raw: string(body)}
	if err := resp.UnmarshalAsJSON(&errType.InnerError); err != nil {
		return azcore.NewResponseError(fmt.Errorf("%s\n%s", string(body), err), resp.Response)
	}
	return azcore.NewResponseError(&errType, resp.Response)
}
