// +build go1.13

// Copyright (c) Microsoft Corporation. All rights reserved.
// Licensed under the MIT License. See License.txt in the project root for license information.
// Code generated by Microsoft (R) AutoRest Code Generator.
// Changes may cause incorrect behavior and will be lost if the code is regenerated.

package armsecurity

import (
	"context"
	"errors"
	"fmt"
	"github.com/Azure/azure-sdk-for-go/sdk/armcore"
	"github.com/Azure/azure-sdk-for-go/sdk/azcore"
	"net/http"
	"net/url"
	"strings"
)

// IngestionSettingsClient contains the methods for the IngestionSettings group.
// Don't use this type directly, use NewIngestionSettingsClient() instead.
type IngestionSettingsClient struct {
	con            *armcore.Connection
	subscriptionID string
}

// NewIngestionSettingsClient creates a new instance of IngestionSettingsClient with the specified values.
func NewIngestionSettingsClient(con *armcore.Connection, subscriptionID string) *IngestionSettingsClient {
	return &IngestionSettingsClient{con: con, subscriptionID: subscriptionID}
}

// Create - Create setting for ingesting security data and logs to correlate with resources associated with the subscription.
// If the operation fails it returns the *CloudError error type.
func (client *IngestionSettingsClient) Create(ctx context.Context, ingestionSettingName string, ingestionSetting IngestionSetting, options *IngestionSettingsCreateOptions) (IngestionSettingsCreateResponse, error) {
	req, err := client.createCreateRequest(ctx, ingestionSettingName, ingestionSetting, options)
	if err != nil {
		return IngestionSettingsCreateResponse{}, err
	}
	resp, err := client.con.Pipeline().Do(req)
	if err != nil {
		return IngestionSettingsCreateResponse{}, err
	}
	if !resp.HasStatusCode(http.StatusOK) {
		return IngestionSettingsCreateResponse{}, client.createHandleError(resp)
	}
	return client.createHandleResponse(resp)
}

// createCreateRequest creates the Create request.
func (client *IngestionSettingsClient) createCreateRequest(ctx context.Context, ingestionSettingName string, ingestionSetting IngestionSetting, options *IngestionSettingsCreateOptions) (*azcore.Request, error) {
	urlPath := "/subscriptions/{subscriptionId}/providers/Microsoft.Security/ingestionSettings/{ingestionSettingName}"
	if client.subscriptionID == "" {
		return nil, errors.New("parameter client.subscriptionID cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{subscriptionId}", url.PathEscape(client.subscriptionID))
	if ingestionSettingName == "" {
		return nil, errors.New("parameter ingestionSettingName cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{ingestionSettingName}", url.PathEscape(ingestionSettingName))
	req, err := azcore.NewRequest(ctx, http.MethodPut, azcore.JoinPaths(client.con.Endpoint(), urlPath))
	if err != nil {
		return nil, err
	}
	req.Telemetry(telemetryInfo)
	reqQP := req.URL.Query()
	reqQP.Set("api-version", "2021-01-15-preview")
	req.URL.RawQuery = reqQP.Encode()
	req.Header.Set("Accept", "application/json")
	return req, req.MarshalAsJSON(ingestionSetting)
}

// createHandleResponse handles the Create response.
func (client *IngestionSettingsClient) createHandleResponse(resp *azcore.Response) (IngestionSettingsCreateResponse, error) {
	result := IngestionSettingsCreateResponse{RawResponse: resp.Response}
	if err := resp.UnmarshalAsJSON(&result.IngestionSetting); err != nil {
		return IngestionSettingsCreateResponse{}, err
	}
	return result, nil
}

// createHandleError handles the Create error response.
func (client *IngestionSettingsClient) createHandleError(resp *azcore.Response) error {
	body, err := resp.Payload()
	if err != nil {
		return azcore.NewResponseError(err, resp.Response)
	}
	errType := CloudError{raw: string(body)}
	if err := resp.UnmarshalAsJSON(&errType.InnerError); err != nil {
		return azcore.NewResponseError(fmt.Errorf("%s\n%s", string(body), err), resp.Response)
	}
	return azcore.NewResponseError(&errType, resp.Response)
}

// Delete - Deletes the ingestion settings for this subscription.
// If the operation fails it returns the *CloudError error type.
func (client *IngestionSettingsClient) Delete(ctx context.Context, ingestionSettingName string, options *IngestionSettingsDeleteOptions) (IngestionSettingsDeleteResponse, error) {
	req, err := client.deleteCreateRequest(ctx, ingestionSettingName, options)
	if err != nil {
		return IngestionSettingsDeleteResponse{}, err
	}
	resp, err := client.con.Pipeline().Do(req)
	if err != nil {
		return IngestionSettingsDeleteResponse{}, err
	}
	if !resp.HasStatusCode(http.StatusOK, http.StatusNoContent) {
		return IngestionSettingsDeleteResponse{}, client.deleteHandleError(resp)
	}
	return IngestionSettingsDeleteResponse{RawResponse: resp.Response}, nil
}

// deleteCreateRequest creates the Delete request.
func (client *IngestionSettingsClient) deleteCreateRequest(ctx context.Context, ingestionSettingName string, options *IngestionSettingsDeleteOptions) (*azcore.Request, error) {
	urlPath := "/subscriptions/{subscriptionId}/providers/Microsoft.Security/ingestionSettings/{ingestionSettingName}"
	if client.subscriptionID == "" {
		return nil, errors.New("parameter client.subscriptionID cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{subscriptionId}", url.PathEscape(client.subscriptionID))
	if ingestionSettingName == "" {
		return nil, errors.New("parameter ingestionSettingName cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{ingestionSettingName}", url.PathEscape(ingestionSettingName))
	req, err := azcore.NewRequest(ctx, http.MethodDelete, azcore.JoinPaths(client.con.Endpoint(), urlPath))
	if err != nil {
		return nil, err
	}
	req.Telemetry(telemetryInfo)
	reqQP := req.URL.Query()
	reqQP.Set("api-version", "2021-01-15-preview")
	req.URL.RawQuery = reqQP.Encode()
	req.Header.Set("Accept", "application/json")
	return req, nil
}

// deleteHandleError handles the Delete error response.
func (client *IngestionSettingsClient) deleteHandleError(resp *azcore.Response) error {
	body, err := resp.Payload()
	if err != nil {
		return azcore.NewResponseError(err, resp.Response)
	}
	errType := CloudError{raw: string(body)}
	if err := resp.UnmarshalAsJSON(&errType.InnerError); err != nil {
		return azcore.NewResponseError(fmt.Errorf("%s\n%s", string(body), err), resp.Response)
	}
	return azcore.NewResponseError(&errType, resp.Response)
}

// Get - Settings for ingesting security data and logs to correlate with resources associated with the subscription.
// If the operation fails it returns the *CloudError error type.
func (client *IngestionSettingsClient) Get(ctx context.Context, ingestionSettingName string, options *IngestionSettingsGetOptions) (IngestionSettingsGetResponse, error) {
	req, err := client.getCreateRequest(ctx, ingestionSettingName, options)
	if err != nil {
		return IngestionSettingsGetResponse{}, err
	}
	resp, err := client.con.Pipeline().Do(req)
	if err != nil {
		return IngestionSettingsGetResponse{}, err
	}
	if !resp.HasStatusCode(http.StatusOK) {
		return IngestionSettingsGetResponse{}, client.getHandleError(resp)
	}
	return client.getHandleResponse(resp)
}

// getCreateRequest creates the Get request.
func (client *IngestionSettingsClient) getCreateRequest(ctx context.Context, ingestionSettingName string, options *IngestionSettingsGetOptions) (*azcore.Request, error) {
	urlPath := "/subscriptions/{subscriptionId}/providers/Microsoft.Security/ingestionSettings/{ingestionSettingName}"
	if client.subscriptionID == "" {
		return nil, errors.New("parameter client.subscriptionID cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{subscriptionId}", url.PathEscape(client.subscriptionID))
	if ingestionSettingName == "" {
		return nil, errors.New("parameter ingestionSettingName cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{ingestionSettingName}", url.PathEscape(ingestionSettingName))
	req, err := azcore.NewRequest(ctx, http.MethodGet, azcore.JoinPaths(client.con.Endpoint(), urlPath))
	if err != nil {
		return nil, err
	}
	req.Telemetry(telemetryInfo)
	reqQP := req.URL.Query()
	reqQP.Set("api-version", "2021-01-15-preview")
	req.URL.RawQuery = reqQP.Encode()
	req.Header.Set("Accept", "application/json")
	return req, nil
}

// getHandleResponse handles the Get response.
func (client *IngestionSettingsClient) getHandleResponse(resp *azcore.Response) (IngestionSettingsGetResponse, error) {
	result := IngestionSettingsGetResponse{RawResponse: resp.Response}
	if err := resp.UnmarshalAsJSON(&result.IngestionSetting); err != nil {
		return IngestionSettingsGetResponse{}, err
	}
	return result, nil
}

// getHandleError handles the Get error response.
func (client *IngestionSettingsClient) getHandleError(resp *azcore.Response) error {
	body, err := resp.Payload()
	if err != nil {
		return azcore.NewResponseError(err, resp.Response)
	}
	errType := CloudError{raw: string(body)}
	if err := resp.UnmarshalAsJSON(&errType.InnerError); err != nil {
		return azcore.NewResponseError(fmt.Errorf("%s\n%s", string(body), err), resp.Response)
	}
	return azcore.NewResponseError(&errType, resp.Response)
}

// List - Settings for ingesting security data and logs to correlate with resources associated with the subscription.
// If the operation fails it returns the *CloudError error type.
func (client *IngestionSettingsClient) List(options *IngestionSettingsListOptions) IngestionSettingsListPager {
	return &ingestionSettingsListPager{
		client: client,
		requester: func(ctx context.Context) (*azcore.Request, error) {
			return client.listCreateRequest(ctx, options)
		},
		advancer: func(ctx context.Context, resp IngestionSettingsListResponse) (*azcore.Request, error) {
			return azcore.NewRequest(ctx, http.MethodGet, *resp.IngestionSettingList.NextLink)
		},
	}
}

// listCreateRequest creates the List request.
func (client *IngestionSettingsClient) listCreateRequest(ctx context.Context, options *IngestionSettingsListOptions) (*azcore.Request, error) {
	urlPath := "/subscriptions/{subscriptionId}/providers/Microsoft.Security/ingestionSettings"
	if client.subscriptionID == "" {
		return nil, errors.New("parameter client.subscriptionID cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{subscriptionId}", url.PathEscape(client.subscriptionID))
	req, err := azcore.NewRequest(ctx, http.MethodGet, azcore.JoinPaths(client.con.Endpoint(), urlPath))
	if err != nil {
		return nil, err
	}
	req.Telemetry(telemetryInfo)
	reqQP := req.URL.Query()
	reqQP.Set("api-version", "2021-01-15-preview")
	req.URL.RawQuery = reqQP.Encode()
	req.Header.Set("Accept", "application/json")
	return req, nil
}

// listHandleResponse handles the List response.
func (client *IngestionSettingsClient) listHandleResponse(resp *azcore.Response) (IngestionSettingsListResponse, error) {
	result := IngestionSettingsListResponse{RawResponse: resp.Response}
	if err := resp.UnmarshalAsJSON(&result.IngestionSettingList); err != nil {
		return IngestionSettingsListResponse{}, err
	}
	return result, nil
}

// listHandleError handles the List error response.
func (client *IngestionSettingsClient) listHandleError(resp *azcore.Response) error {
	body, err := resp.Payload()
	if err != nil {
		return azcore.NewResponseError(err, resp.Response)
	}
	errType := CloudError{raw: string(body)}
	if err := resp.UnmarshalAsJSON(&errType.InnerError); err != nil {
		return azcore.NewResponseError(fmt.Errorf("%s\n%s", string(body), err), resp.Response)
	}
	return azcore.NewResponseError(&errType, resp.Response)
}

// ListConnectionStrings - Connection strings for ingesting security scan logs and data.
// If the operation fails it returns the *CloudError error type.
func (client *IngestionSettingsClient) ListConnectionStrings(ctx context.Context, ingestionSettingName string, options *IngestionSettingsListConnectionStringsOptions) (IngestionSettingsListConnectionStringsResponse, error) {
	req, err := client.listConnectionStringsCreateRequest(ctx, ingestionSettingName, options)
	if err != nil {
		return IngestionSettingsListConnectionStringsResponse{}, err
	}
	resp, err := client.con.Pipeline().Do(req)
	if err != nil {
		return IngestionSettingsListConnectionStringsResponse{}, err
	}
	if !resp.HasStatusCode(http.StatusOK) {
		return IngestionSettingsListConnectionStringsResponse{}, client.listConnectionStringsHandleError(resp)
	}
	return client.listConnectionStringsHandleResponse(resp)
}

// listConnectionStringsCreateRequest creates the ListConnectionStrings request.
func (client *IngestionSettingsClient) listConnectionStringsCreateRequest(ctx context.Context, ingestionSettingName string, options *IngestionSettingsListConnectionStringsOptions) (*azcore.Request, error) {
	urlPath := "/subscriptions/{subscriptionId}/providers/Microsoft.Security/ingestionSettings/{ingestionSettingName}/listConnectionStrings"
	if client.subscriptionID == "" {
		return nil, errors.New("parameter client.subscriptionID cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{subscriptionId}", url.PathEscape(client.subscriptionID))
	if ingestionSettingName == "" {
		return nil, errors.New("parameter ingestionSettingName cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{ingestionSettingName}", url.PathEscape(ingestionSettingName))
	req, err := azcore.NewRequest(ctx, http.MethodPost, azcore.JoinPaths(client.con.Endpoint(), urlPath))
	if err != nil {
		return nil, err
	}
	req.Telemetry(telemetryInfo)
	reqQP := req.URL.Query()
	reqQP.Set("api-version", "2021-01-15-preview")
	req.URL.RawQuery = reqQP.Encode()
	req.Header.Set("Accept", "application/json")
	return req, nil
}

// listConnectionStringsHandleResponse handles the ListConnectionStrings response.
func (client *IngestionSettingsClient) listConnectionStringsHandleResponse(resp *azcore.Response) (IngestionSettingsListConnectionStringsResponse, error) {
	result := IngestionSettingsListConnectionStringsResponse{RawResponse: resp.Response}
	if err := resp.UnmarshalAsJSON(&result.ConnectionStrings); err != nil {
		return IngestionSettingsListConnectionStringsResponse{}, err
	}
	return result, nil
}

// listConnectionStringsHandleError handles the ListConnectionStrings error response.
func (client *IngestionSettingsClient) listConnectionStringsHandleError(resp *azcore.Response) error {
	body, err := resp.Payload()
	if err != nil {
		return azcore.NewResponseError(err, resp.Response)
	}
	errType := CloudError{raw: string(body)}
	if err := resp.UnmarshalAsJSON(&errType.InnerError); err != nil {
		return azcore.NewResponseError(fmt.Errorf("%s\n%s", string(body), err), resp.Response)
	}
	return azcore.NewResponseError(&errType, resp.Response)
}

// ListTokens - Returns the token that is used for correlating ingested telemetry with the resources in the subscription.
// If the operation fails it returns the *CloudError error type.
func (client *IngestionSettingsClient) ListTokens(ctx context.Context, ingestionSettingName string, options *IngestionSettingsListTokensOptions) (IngestionSettingsListTokensResponse, error) {
	req, err := client.listTokensCreateRequest(ctx, ingestionSettingName, options)
	if err != nil {
		return IngestionSettingsListTokensResponse{}, err
	}
	resp, err := client.con.Pipeline().Do(req)
	if err != nil {
		return IngestionSettingsListTokensResponse{}, err
	}
	if !resp.HasStatusCode(http.StatusOK) {
		return IngestionSettingsListTokensResponse{}, client.listTokensHandleError(resp)
	}
	return client.listTokensHandleResponse(resp)
}

// listTokensCreateRequest creates the ListTokens request.
func (client *IngestionSettingsClient) listTokensCreateRequest(ctx context.Context, ingestionSettingName string, options *IngestionSettingsListTokensOptions) (*azcore.Request, error) {
	urlPath := "/subscriptions/{subscriptionId}/providers/Microsoft.Security/ingestionSettings/{ingestionSettingName}/listTokens"
	if client.subscriptionID == "" {
		return nil, errors.New("parameter client.subscriptionID cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{subscriptionId}", url.PathEscape(client.subscriptionID))
	if ingestionSettingName == "" {
		return nil, errors.New("parameter ingestionSettingName cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{ingestionSettingName}", url.PathEscape(ingestionSettingName))
	req, err := azcore.NewRequest(ctx, http.MethodPost, azcore.JoinPaths(client.con.Endpoint(), urlPath))
	if err != nil {
		return nil, err
	}
	req.Telemetry(telemetryInfo)
	reqQP := req.URL.Query()
	reqQP.Set("api-version", "2021-01-15-preview")
	req.URL.RawQuery = reqQP.Encode()
	req.Header.Set("Accept", "application/json")
	return req, nil
}

// listTokensHandleResponse handles the ListTokens response.
func (client *IngestionSettingsClient) listTokensHandleResponse(resp *azcore.Response) (IngestionSettingsListTokensResponse, error) {
	result := IngestionSettingsListTokensResponse{RawResponse: resp.Response}
	if err := resp.UnmarshalAsJSON(&result.IngestionSettingToken); err != nil {
		return IngestionSettingsListTokensResponse{}, err
	}
	return result, nil
}

// listTokensHandleError handles the ListTokens error response.
func (client *IngestionSettingsClient) listTokensHandleError(resp *azcore.Response) error {
	body, err := resp.Payload()
	if err != nil {
		return azcore.NewResponseError(err, resp.Response)
	}
	errType := CloudError{raw: string(body)}
	if err := resp.UnmarshalAsJSON(&errType.InnerError); err != nil {
		return azcore.NewResponseError(fmt.Errorf("%s\n%s", string(body), err), resp.Response)
	}
	return azcore.NewResponseError(&errType, resp.Response)
}
