//go:build go1.16
// +build go1.16

// Copyright (c) Microsoft Corporation. All rights reserved.
// Licensed under the MIT License. See License.txt in the project root for license information.
// Code generated by Microsoft (R) AutoRest Code Generator.
// Changes may cause incorrect behavior and will be lost if the code is regenerated.

package armpowerbiprivatelinks

import (
	"context"
	"errors"
	"fmt"
	"github.com/Azure/azure-sdk-for-go/sdk/azcore"
	"github.com/Azure/azure-sdk-for-go/sdk/azcore/arm"
	armruntime "github.com/Azure/azure-sdk-for-go/sdk/azcore/arm/runtime"
	"github.com/Azure/azure-sdk-for-go/sdk/azcore/policy"
	"github.com/Azure/azure-sdk-for-go/sdk/azcore/runtime"
	"net/http"
	"net/url"
	"strings"
)

// PrivateLinkServiceResourceOperationResultsClient contains the methods for the PrivateLinkServiceResourceOperationResults group.
// Don't use this type directly, use NewPrivateLinkServiceResourceOperationResultsClient() instead.
type PrivateLinkServiceResourceOperationResultsClient struct {
	ep             string
	pl             runtime.Pipeline
	subscriptionID string
	operationID    string
}

// NewPrivateLinkServiceResourceOperationResultsClient creates a new instance of PrivateLinkServiceResourceOperationResultsClient with the specified values.
func NewPrivateLinkServiceResourceOperationResultsClient(subscriptionID string, operationID string, credential azcore.TokenCredential, options *arm.ClientOptions) *PrivateLinkServiceResourceOperationResultsClient {
	cp := arm.ClientOptions{}
	if options != nil {
		cp = *options
	}
	if len(cp.Host) == 0 {
		cp.Host = arm.AzurePublicCloud
	}
	return &PrivateLinkServiceResourceOperationResultsClient{subscriptionID: subscriptionID, operationID: operationID, ep: string(cp.Host), pl: armruntime.NewPipeline(module, version, credential, &cp)}
}

// BeginGet - Gets operation result of Private Link Service Resources for Power BI.
// If the operation fails it returns the *ErrorResponse error type.
func (client *PrivateLinkServiceResourceOperationResultsClient) BeginGet(ctx context.Context, options *PrivateLinkServiceResourceOperationResultsBeginGetOptions) (PrivateLinkServiceResourceOperationResultsGetPollerResponse, error) {
	resp, err := client.get(ctx, options)
	if err != nil {
		return PrivateLinkServiceResourceOperationResultsGetPollerResponse{}, err
	}
	result := PrivateLinkServiceResourceOperationResultsGetPollerResponse{
		RawResponse: resp,
	}
	pt, err := armruntime.NewPoller("PrivateLinkServiceResourceOperationResultsClient.Get", "azure-async-operation", resp, client.pl, client.getHandleError)
	if err != nil {
		return PrivateLinkServiceResourceOperationResultsGetPollerResponse{}, err
	}
	result.Poller = &PrivateLinkServiceResourceOperationResultsGetPoller{
		pt: pt,
	}
	return result, nil
}

// Get - Gets operation result of Private Link Service Resources for Power BI.
// If the operation fails it returns the *ErrorResponse error type.
func (client *PrivateLinkServiceResourceOperationResultsClient) get(ctx context.Context, options *PrivateLinkServiceResourceOperationResultsBeginGetOptions) (*http.Response, error) {
	req, err := client.getCreateRequest(ctx, options)
	if err != nil {
		return nil, err
	}
	resp, err := client.pl.Do(req)
	if err != nil {
		return nil, err
	}
	if !runtime.HasStatusCode(resp, http.StatusOK, http.StatusAccepted) {
		return nil, client.getHandleError(resp)
	}
	return resp, nil
}

// getCreateRequest creates the Get request.
func (client *PrivateLinkServiceResourceOperationResultsClient) getCreateRequest(ctx context.Context, options *PrivateLinkServiceResourceOperationResultsBeginGetOptions) (*policy.Request, error) {
	urlPath := "/subscriptions/{subscriptionId}/providers/Microsoft.PowerBI/operationResults/{operationId}"
	if client.subscriptionID == "" {
		return nil, errors.New("parameter client.subscriptionID cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{subscriptionId}", url.PathEscape(client.subscriptionID))
	if client.operationID == "" {
		return nil, errors.New("parameter client.operationID cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{operationId}", url.PathEscape(client.operationID))
	req, err := runtime.NewRequest(ctx, http.MethodGet, runtime.JoinPaths(client.ep, urlPath))
	if err != nil {
		return nil, err
	}
	reqQP := req.Raw().URL.Query()
	reqQP.Set("api-version", "2020-06-01")
	req.Raw().URL.RawQuery = reqQP.Encode()
	req.Raw().Header.Set("Accept", "application/json")
	return req, nil
}

// getHandleError handles the Get error response.
func (client *PrivateLinkServiceResourceOperationResultsClient) getHandleError(resp *http.Response) error {
	body, err := runtime.Payload(resp)
	if err != nil {
		return runtime.NewResponseError(err, resp)
	}
	errType := ErrorResponse{raw: string(body)}
	if err := runtime.UnmarshalAsJSON(resp, &errType); err != nil {
		return runtime.NewResponseError(fmt.Errorf("%s\n%s", string(body), err), resp)
	}
	return runtime.NewResponseError(&errType, resp)
}
