//go:build go1.16
// +build go1.16

// Copyright (c) Microsoft Corporation. All rights reserved.
// Licensed under the MIT License. See License.txt in the project root for license information.
// Code generated by Microsoft (R) AutoRest Code Generator.
// Changes may cause incorrect behavior and will be lost if the code is regenerated.

package armbilling

import (
	"context"
	"errors"
	"fmt"
	"github.com/Azure/azure-sdk-for-go/sdk/azcore"
	"github.com/Azure/azure-sdk-for-go/sdk/azcore/arm"
	armruntime "github.com/Azure/azure-sdk-for-go/sdk/azcore/arm/runtime"
	"github.com/Azure/azure-sdk-for-go/sdk/azcore/policy"
	"github.com/Azure/azure-sdk-for-go/sdk/azcore/runtime"
	"net/http"
	"net/url"
	"strconv"
	"strings"
)

// BillingPeriodsClient contains the methods for the BillingPeriods group.
// Don't use this type directly, use NewBillingPeriodsClient() instead.
type BillingPeriodsClient struct {
	ep             string
	pl             runtime.Pipeline
	subscriptionID string
}

// NewBillingPeriodsClient creates a new instance of BillingPeriodsClient with the specified values.
func NewBillingPeriodsClient(subscriptionID string, credential azcore.TokenCredential, options *arm.ClientOptions) *BillingPeriodsClient {
	cp := arm.ClientOptions{}
	if options != nil {
		cp = *options
	}
	if len(cp.Host) == 0 {
		cp.Host = arm.AzurePublicCloud
	}
	return &BillingPeriodsClient{subscriptionID: subscriptionID, ep: string(cp.Host), pl: armruntime.NewPipeline(module, version, credential, &cp)}
}

// Get - Gets a named billing period. This is only supported for Azure Web-Direct subscriptions. Other subscription types which were not purchased directly
// through the Azure web portal are not supported
// through this preview API.
// If the operation fails it returns the *ErrorResponse error type.
func (client *BillingPeriodsClient) Get(ctx context.Context, billingPeriodName string, options *BillingPeriodsGetOptions) (BillingPeriodsGetResponse, error) {
	req, err := client.getCreateRequest(ctx, billingPeriodName, options)
	if err != nil {
		return BillingPeriodsGetResponse{}, err
	}
	resp, err := client.pl.Do(req)
	if err != nil {
		return BillingPeriodsGetResponse{}, err
	}
	if !runtime.HasStatusCode(resp, http.StatusOK) {
		return BillingPeriodsGetResponse{}, client.getHandleError(resp)
	}
	return client.getHandleResponse(resp)
}

// getCreateRequest creates the Get request.
func (client *BillingPeriodsClient) getCreateRequest(ctx context.Context, billingPeriodName string, options *BillingPeriodsGetOptions) (*policy.Request, error) {
	urlPath := "/subscriptions/{subscriptionId}/providers/Microsoft.Billing/billingPeriods/{billingPeriodName}"
	if client.subscriptionID == "" {
		return nil, errors.New("parameter client.subscriptionID cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{subscriptionId}", url.PathEscape(client.subscriptionID))
	if billingPeriodName == "" {
		return nil, errors.New("parameter billingPeriodName cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{billingPeriodName}", url.PathEscape(billingPeriodName))
	req, err := runtime.NewRequest(ctx, http.MethodGet, runtime.JoinPaths(client.ep, urlPath))
	if err != nil {
		return nil, err
	}
	reqQP := req.Raw().URL.Query()
	reqQP.Set("api-version", "2018-03-01-preview")
	req.Raw().URL.RawQuery = reqQP.Encode()
	req.Raw().Header.Set("Accept", "application/json")
	return req, nil
}

// getHandleResponse handles the Get response.
func (client *BillingPeriodsClient) getHandleResponse(resp *http.Response) (BillingPeriodsGetResponse, error) {
	result := BillingPeriodsGetResponse{RawResponse: resp}
	if err := runtime.UnmarshalAsJSON(resp, &result.BillingPeriod); err != nil {
		return BillingPeriodsGetResponse{}, runtime.NewResponseError(err, resp)
	}
	return result, nil
}

// getHandleError handles the Get error response.
func (client *BillingPeriodsClient) getHandleError(resp *http.Response) error {
	body, err := runtime.Payload(resp)
	if err != nil {
		return runtime.NewResponseError(err, resp)
	}
	errType := ErrorResponse{raw: string(body)}
	if err := runtime.UnmarshalAsJSON(resp, &errType); err != nil {
		return runtime.NewResponseError(fmt.Errorf("%s\n%s", string(body), err), resp)
	}
	return runtime.NewResponseError(&errType, resp)
}

// List - Lists the available billing periods for a subscription in reverse chronological order. This is only supported for Azure Web-Direct subscriptions.
// Other subscription types which were not purchased
// directly through the Azure web portal are not supported through this preview API.
// If the operation fails it returns the *ErrorResponse error type.
func (client *BillingPeriodsClient) List(options *BillingPeriodsListOptions) *BillingPeriodsListPager {
	return &BillingPeriodsListPager{
		client: client,
		requester: func(ctx context.Context) (*policy.Request, error) {
			return client.listCreateRequest(ctx, options)
		},
		advancer: func(ctx context.Context, resp BillingPeriodsListResponse) (*policy.Request, error) {
			return runtime.NewRequest(ctx, http.MethodGet, *resp.BillingPeriodsListResult.NextLink)
		},
	}
}

// listCreateRequest creates the List request.
func (client *BillingPeriodsClient) listCreateRequest(ctx context.Context, options *BillingPeriodsListOptions) (*policy.Request, error) {
	urlPath := "/subscriptions/{subscriptionId}/providers/Microsoft.Billing/billingPeriods"
	if client.subscriptionID == "" {
		return nil, errors.New("parameter client.subscriptionID cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{subscriptionId}", url.PathEscape(client.subscriptionID))
	req, err := runtime.NewRequest(ctx, http.MethodGet, runtime.JoinPaths(client.ep, urlPath))
	if err != nil {
		return nil, err
	}
	reqQP := req.Raw().URL.Query()
	reqQP.Set("api-version", "2018-03-01-preview")
	if options != nil && options.Filter != nil {
		reqQP.Set("$filter", *options.Filter)
	}
	if options != nil && options.Skiptoken != nil {
		reqQP.Set("$skiptoken", *options.Skiptoken)
	}
	if options != nil && options.Top != nil {
		reqQP.Set("$top", strconv.FormatInt(int64(*options.Top), 10))
	}
	req.Raw().URL.RawQuery = reqQP.Encode()
	req.Raw().Header.Set("Accept", "application/json")
	return req, nil
}

// listHandleResponse handles the List response.
func (client *BillingPeriodsClient) listHandleResponse(resp *http.Response) (BillingPeriodsListResponse, error) {
	result := BillingPeriodsListResponse{RawResponse: resp}
	if err := runtime.UnmarshalAsJSON(resp, &result.BillingPeriodsListResult); err != nil {
		return BillingPeriodsListResponse{}, runtime.NewResponseError(err, resp)
	}
	return result, nil
}

// listHandleError handles the List error response.
func (client *BillingPeriodsClient) listHandleError(resp *http.Response) error {
	body, err := runtime.Payload(resp)
	if err != nil {
		return runtime.NewResponseError(err, resp)
	}
	errType := ErrorResponse{raw: string(body)}
	if err := runtime.UnmarshalAsJSON(resp, &errType); err != nil {
		return runtime.NewResponseError(fmt.Errorf("%s\n%s", string(body), err), resp)
	}
	return runtime.NewResponseError(&errType, resp)
}
