//go:build go1.16
// +build go1.16

// Copyright (c) Microsoft Corporation. All rights reserved.
// Licensed under the MIT License. See License.txt in the project root for license information.
// Code generated by Microsoft (R) AutoRest Code Generator.
// Changes may cause incorrect behavior and will be lost if the code is regenerated.

package armbilling

import (
	"context"
	"errors"
	"fmt"
	"github.com/Azure/azure-sdk-for-go/sdk/azcore"
	"github.com/Azure/azure-sdk-for-go/sdk/azcore/arm"
	armruntime "github.com/Azure/azure-sdk-for-go/sdk/azcore/arm/runtime"
	"github.com/Azure/azure-sdk-for-go/sdk/azcore/policy"
	"github.com/Azure/azure-sdk-for-go/sdk/azcore/runtime"
	"net/http"
	"net/url"
	"strings"
)

// BillingPropertyClient contains the methods for the BillingProperty group.
// Don't use this type directly, use NewBillingPropertyClient() instead.
type BillingPropertyClient struct {
	ep             string
	pl             runtime.Pipeline
	subscriptionID string
}

// NewBillingPropertyClient creates a new instance of BillingPropertyClient with the specified values.
func NewBillingPropertyClient(subscriptionID string, credential azcore.TokenCredential, options *arm.ClientOptions) *BillingPropertyClient {
	cp := arm.ClientOptions{}
	if options != nil {
		cp = *options
	}
	if len(cp.Host) == 0 {
		cp.Host = arm.AzurePublicCloud
	}
	return &BillingPropertyClient{subscriptionID: subscriptionID, ep: string(cp.Host), pl: armruntime.NewPipeline(module, version, credential, &cp)}
}

// Get - Get the billing properties for a subscription. This operation is not supported for billing accounts with agreement type Enterprise Agreement.
// If the operation fails it returns the *ErrorResponse error type.
func (client *BillingPropertyClient) Get(ctx context.Context, options *BillingPropertyGetOptions) (BillingPropertyGetResponse, error) {
	req, err := client.getCreateRequest(ctx, options)
	if err != nil {
		return BillingPropertyGetResponse{}, err
	}
	resp, err := client.pl.Do(req)
	if err != nil {
		return BillingPropertyGetResponse{}, err
	}
	if !runtime.HasStatusCode(resp, http.StatusOK) {
		return BillingPropertyGetResponse{}, client.getHandleError(resp)
	}
	return client.getHandleResponse(resp)
}

// getCreateRequest creates the Get request.
func (client *BillingPropertyClient) getCreateRequest(ctx context.Context, options *BillingPropertyGetOptions) (*policy.Request, error) {
	urlPath := "/subscriptions/{subscriptionId}/providers/Microsoft.Billing/billingProperty/default"
	if client.subscriptionID == "" {
		return nil, errors.New("parameter client.subscriptionID cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{subscriptionId}", url.PathEscape(client.subscriptionID))
	req, err := runtime.NewRequest(ctx, http.MethodGet, runtime.JoinPaths(client.ep, urlPath))
	if err != nil {
		return nil, err
	}
	reqQP := req.Raw().URL.Query()
	reqQP.Set("api-version", "2020-05-01")
	req.Raw().URL.RawQuery = reqQP.Encode()
	req.Raw().Header.Set("Accept", "application/json")
	return req, nil
}

// getHandleResponse handles the Get response.
func (client *BillingPropertyClient) getHandleResponse(resp *http.Response) (BillingPropertyGetResponse, error) {
	result := BillingPropertyGetResponse{RawResponse: resp}
	if err := runtime.UnmarshalAsJSON(resp, &result.BillingProperty); err != nil {
		return BillingPropertyGetResponse{}, runtime.NewResponseError(err, resp)
	}
	return result, nil
}

// getHandleError handles the Get error response.
func (client *BillingPropertyClient) getHandleError(resp *http.Response) error {
	body, err := runtime.Payload(resp)
	if err != nil {
		return runtime.NewResponseError(err, resp)
	}
	errType := ErrorResponse{raw: string(body)}
	if err := runtime.UnmarshalAsJSON(resp, &errType); err != nil {
		return runtime.NewResponseError(fmt.Errorf("%s\n%s", string(body), err), resp)
	}
	return runtime.NewResponseError(&errType, resp)
}

// Update - Updates the billing property of a subscription. Currently, cost center can be updated. The operation is supported only for billing accounts
// with agreement type Microsoft Customer Agreement.
// If the operation fails it returns the *ErrorResponse error type.
func (client *BillingPropertyClient) Update(ctx context.Context, parameters BillingProperty, options *BillingPropertyUpdateOptions) (BillingPropertyUpdateResponse, error) {
	req, err := client.updateCreateRequest(ctx, parameters, options)
	if err != nil {
		return BillingPropertyUpdateResponse{}, err
	}
	resp, err := client.pl.Do(req)
	if err != nil {
		return BillingPropertyUpdateResponse{}, err
	}
	if !runtime.HasStatusCode(resp, http.StatusOK) {
		return BillingPropertyUpdateResponse{}, client.updateHandleError(resp)
	}
	return client.updateHandleResponse(resp)
}

// updateCreateRequest creates the Update request.
func (client *BillingPropertyClient) updateCreateRequest(ctx context.Context, parameters BillingProperty, options *BillingPropertyUpdateOptions) (*policy.Request, error) {
	urlPath := "/subscriptions/{subscriptionId}/providers/Microsoft.Billing/billingProperty/default"
	if client.subscriptionID == "" {
		return nil, errors.New("parameter client.subscriptionID cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{subscriptionId}", url.PathEscape(client.subscriptionID))
	req, err := runtime.NewRequest(ctx, http.MethodPatch, runtime.JoinPaths(client.ep, urlPath))
	if err != nil {
		return nil, err
	}
	reqQP := req.Raw().URL.Query()
	reqQP.Set("api-version", "2020-05-01")
	req.Raw().URL.RawQuery = reqQP.Encode()
	req.Raw().Header.Set("Accept", "application/json")
	return req, runtime.MarshalAsJSON(req, parameters)
}

// updateHandleResponse handles the Update response.
func (client *BillingPropertyClient) updateHandleResponse(resp *http.Response) (BillingPropertyUpdateResponse, error) {
	result := BillingPropertyUpdateResponse{RawResponse: resp}
	if err := runtime.UnmarshalAsJSON(resp, &result.BillingProperty); err != nil {
		return BillingPropertyUpdateResponse{}, runtime.NewResponseError(err, resp)
	}
	return result, nil
}

// updateHandleError handles the Update error response.
func (client *BillingPropertyClient) updateHandleError(resp *http.Response) error {
	body, err := runtime.Payload(resp)
	if err != nil {
		return runtime.NewResponseError(err, resp)
	}
	errType := ErrorResponse{raw: string(body)}
	if err := runtime.UnmarshalAsJSON(resp, &errType); err != nil {
		return runtime.NewResponseError(fmt.Errorf("%s\n%s", string(body), err), resp)
	}
	return runtime.NewResponseError(&errType, resp)
}
