{
  "Entries": [
    {
      "RequestUri": "https://fakeaccount.table.core.windows.net/Tables",
      "RequestMethod": "POST",
      "RequestHeaders": {
        ":method": "POST",
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "dataserviceversion": "3.0",
        "x-ms-date": "Wed, 13 Apr 2022 19:25:38 GMT",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": {
        "TableName": "tableName869598272"
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata=minimalmetadata; streaming=true; charset=utf-8",
        "Location": "https://fakeaccount.table.core.windows.net/Tables(\u0027tableName869598272\u0027)",
        "x-ms-version": "2019-02-02"
      },
      "ResponseBody": {
        "odata.metadata": "https://fakeaccount.table.core.windows.net/$metadata#Tables/@Element",
        "TableName": "tableName869598272"
      }
    },
    {
      "RequestUri": "https://fakeaccount.table.core.windows.net/tableName869598272",
      "RequestMethod": "POST",
      "RequestHeaders": {
        ":method": "POST",
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "dataserviceversion": "3.0",
        "prefer": "return-no-content",
        "x-ms-date": "Wed, 13 Apr 2022 19:25:38 GMT",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": {
        "DoubleQuote": "\u0022\u0022",
        "JustSpaces": "    ",
        "LeadingSpaces": "   abc",
        "LeadingTrailingSpaces": "    abc    ",
        "PartitionKey": "partition869598272",
        "RowKey": "1",
        "SingleQuote": "\u0027\u0027",
        "TrailingSpaces": "abc     "
      },
      "StatusCode": 204,
      "ResponseHeaders": {
        "DataServiceId": "https://fakeaccount.table.core.windows.net/tableName869598272(PartitionKey=\u0027partition869598272\u0027,RowKey=\u00271\u0027)",
        "ETag": "W/\u0022datetime\u00272022-04-13T19%3A25%3A38.4350102Z\u0027\u0022",
        "Location": "https://fakeaccount.table.core.windows.net/tableName869598272(PartitionKey=\u0027partition869598272\u0027,RowKey=\u00271\u0027)",
        "Preference-Applied": "return-no-content",
        "x-ms-version": "2019-02-02"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakeaccount.table.core.windows.net/tableName869598272(PartitionKey=\u0027partition869598272\u0027,RowKey=\u00271\u0027)?%24format=application%2Fjson%3Bodata%3Dminimalmetadata",
      "RequestMethod": "GET",
      "RequestHeaders": {
        ":method": "GET",
        "Authorization": "Sanitized",
        "dataserviceversion": "3.0",
        "x-ms-date": "Wed, 13 Apr 2022 19:25:38 GMT",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata=minimalmetadata; streaming=true; charset=utf-8",
        "ETag": "W/\u0022datetime\u00272022-04-13T19%3A25%3A38.4350102Z\u0027\u0022",
        "x-ms-version": "2019-02-02"
      },
      "ResponseBody": {
        "odata.metadata": "https://fakeaccount.table.core.windows.net/$metadata#tableName869598272/@Element",
        "odata.etag": "W/\u0022datetime\u00272022-04-13T19%3A25%3A38.4350102Z\u0027\u0022",
        "PartitionKey": "partition869598272",
        "RowKey": "1",
        "Timestamp": "2022-04-13T19:25:38.4350102Z",
        "DoubleQuote": "\u0022\u0022",
        "JustSpaces": "    ",
        "LeadingSpaces": "   abc",
        "LeadingTrailingSpaces": "    abc    ",
        "SingleQuote": "\u0027\u0027",
        "TrailingSpaces": "abc     "
      }
    },
    {
      "RequestUri": "https://fakeaccount.table.core.windows.net/Tables(\u0027tableName869598272\u0027)",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 13 Apr 2022 19:25:38 GMT",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
        "x-ms-version": "2019-02-02"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {}
}
