// Copyright (c) Microsoft Corporation. All rights reserved.
// Licensed under the MIT License. See License.txt in the project root for license information.
// Code generated by Microsoft (R) AutoRest Code Generator. DO NOT EDIT.
// Changes may cause incorrect behavior and will be lost if the code is regenerated.

package armbillingbenefits

import (
	"context"
	"github.com/Azure/azure-sdk-for-go/sdk/azcore"
	"github.com/Azure/azure-sdk-for-go/sdk/azcore/arm"
	"github.com/Azure/azure-sdk-for-go/sdk/azcore/policy"
	"github.com/Azure/azure-sdk-for-go/sdk/azcore/runtime"
	"net/http"
)

// BenefitClient contains the methods for the Benefit group.
// Don't use this type directly, use NewBenefitClient() instead.
type BenefitClient struct {
	internal *arm.Client
}

// NewBenefitClient creates a new instance of BenefitClient with the specified values.
//   - credential - used to authorize requests. Usually a credential from azidentity.
//   - options - Contains optional client configuration. Pass nil to accept the default values.
func NewBenefitClient(credential azcore.TokenCredential, options *arm.ClientOptions) (*BenefitClient, error) {
	cl, err := arm.NewClient(moduleName, moduleVersion, credential, options)
	if err != nil {
		return nil, err
	}
	client := &BenefitClient{
		internal: cl,
	}
	return client, nil
}

// Validate - Validate any benefit.
// If the operation fails it returns an *azcore.ResponseError type.
//
// Generated from API version 2025-12-01-preview
//   - body - Request body for validating a benefit
//   - options - BenefitClientValidateOptions contains the optional parameters for the BenefitClient.Validate method.
func (client *BenefitClient) Validate(ctx context.Context, body BenefitValidateRequest, options *BenefitClientValidateOptions) (BenefitClientValidateResponse, error) {
	var err error
	const operationName = "BenefitClient.Validate"
	ctx = context.WithValue(ctx, runtime.CtxAPINameKey{}, operationName)
	ctx, endSpan := runtime.StartSpan(ctx, operationName, client.internal.Tracer(), nil)
	defer func() { endSpan(err) }()
	req, err := client.validateCreateRequest(ctx, body, options)
	if err != nil {
		return BenefitClientValidateResponse{}, err
	}
	httpResp, err := client.internal.Pipeline().Do(req)
	if err != nil {
		return BenefitClientValidateResponse{}, err
	}
	if !runtime.HasStatusCode(httpResp, http.StatusOK) {
		err = runtime.NewResponseError(httpResp)
		return BenefitClientValidateResponse{}, err
	}
	resp, err := client.validateHandleResponse(httpResp)
	return resp, err
}

// validateCreateRequest creates the Validate request.
func (client *BenefitClient) validateCreateRequest(ctx context.Context, body BenefitValidateRequest, _ *BenefitClientValidateOptions) (*policy.Request, error) {
	urlPath := "/providers/Microsoft.BillingBenefits/validate"
	req, err := runtime.NewRequest(ctx, http.MethodPost, runtime.JoinPaths(client.internal.Endpoint(), urlPath))
	if err != nil {
		return nil, err
	}
	reqQP := req.Raw().URL.Query()
	reqQP.Set("api-version", "2025-12-01-preview")
	req.Raw().URL.RawQuery = reqQP.Encode()
	req.Raw().Header["Accept"] = []string{"application/json"}
	if err := runtime.MarshalAsJSON(req, body); err != nil {
		return nil, err
	}
	return req, nil
}

// validateHandleResponse handles the Validate response.
func (client *BenefitClient) validateHandleResponse(resp *http.Response) (BenefitClientValidateResponse, error) {
	result := BenefitClientValidateResponse{}
	if err := runtime.UnmarshalAsJSON(resp, &result.BenefitValidateResponse); err != nil {
		return BenefitClientValidateResponse{}, err
	}
	return result, nil
}
