//go:build go1.18
// +build go1.18

// Copyright (c) Microsoft Corporation. All rights reserved.
// Licensed under the MIT License. See License.txt in the project root for license information.
// Code generated by Microsoft (R) AutoRest Code Generator.
// Changes may cause incorrect behavior and will be lost if the code is regenerated.
// DO NOT EDIT.

package armbillingbenefits

import (
	"context"
	"github.com/Azure/azure-sdk-for-go/sdk/azcore"
	"github.com/Azure/azure-sdk-for-go/sdk/azcore/arm"
	armruntime "github.com/Azure/azure-sdk-for-go/sdk/azcore/arm/runtime"
	"github.com/Azure/azure-sdk-for-go/sdk/azcore/cloud"
	"github.com/Azure/azure-sdk-for-go/sdk/azcore/policy"
	"github.com/Azure/azure-sdk-for-go/sdk/azcore/runtime"
	"net/http"
)

// SavingsPlanPurchaseClient contains the methods for the SavingsPlanPurchase group.
// Don't use this type directly, use NewSavingsPlanPurchaseClient() instead.
type SavingsPlanPurchaseClient struct {
	host string
	pl   runtime.Pipeline
}

// NewSavingsPlanPurchaseClient creates a new instance of SavingsPlanPurchaseClient with the specified values.
// credential - used to authorize requests. Usually a credential from azidentity.
// options - pass nil to accept the default values.
func NewSavingsPlanPurchaseClient(credential azcore.TokenCredential, options *arm.ClientOptions) (*SavingsPlanPurchaseClient, error) {
	if options == nil {
		options = &arm.ClientOptions{}
	}
	ep := cloud.AzurePublic.Services[cloud.ResourceManager].Endpoint
	if c, ok := options.Cloud.Services[cloud.ResourceManager]; ok {
		ep = c.Endpoint
	}
	pl, err := armruntime.NewPipeline(moduleName, moduleVersion, credential, runtime.PipelineOptions{}, options)
	if err != nil {
		return nil, err
	}
	client := &SavingsPlanPurchaseClient{
		host: ep,
		pl:   pl,
	}
	return client, nil
}

// Validate - Validate savings plan purchase.
// If the operation fails it returns an *azcore.ResponseError type.
// Generated from API version 2022-11-01
// body - Request body for validating the purchase of a savings plan
// options - SavingsPlanPurchaseClientValidateOptions contains the optional parameters for the SavingsPlanPurchaseClient.Validate
// method.
func (client *SavingsPlanPurchaseClient) Validate(ctx context.Context, body SavingsPlanPurchaseValidateRequest, options *SavingsPlanPurchaseClientValidateOptions) (SavingsPlanPurchaseClientValidateResponse, error) {
	req, err := client.validateCreateRequest(ctx, body, options)
	if err != nil {
		return SavingsPlanPurchaseClientValidateResponse{}, err
	}
	resp, err := client.pl.Do(req)
	if err != nil {
		return SavingsPlanPurchaseClientValidateResponse{}, err
	}
	if !runtime.HasStatusCode(resp, http.StatusOK) {
		return SavingsPlanPurchaseClientValidateResponse{}, runtime.NewResponseError(resp)
	}
	return client.validateHandleResponse(resp)
}

// validateCreateRequest creates the Validate request.
func (client *SavingsPlanPurchaseClient) validateCreateRequest(ctx context.Context, body SavingsPlanPurchaseValidateRequest, options *SavingsPlanPurchaseClientValidateOptions) (*policy.Request, error) {
	urlPath := "/providers/Microsoft.BillingBenefits/validate"
	req, err := runtime.NewRequest(ctx, http.MethodPost, runtime.JoinPaths(client.host, urlPath))
	if err != nil {
		return nil, err
	}
	reqQP := req.Raw().URL.Query()
	reqQP.Set("api-version", "2022-11-01")
	req.Raw().URL.RawQuery = reqQP.Encode()
	req.Raw().Header["Accept"] = []string{"application/json"}
	return req, runtime.MarshalAsJSON(req, body)
}

// validateHandleResponse handles the Validate response.
func (client *SavingsPlanPurchaseClient) validateHandleResponse(resp *http.Response) (SavingsPlanPurchaseClientValidateResponse, error) {
	result := SavingsPlanPurchaseClientValidateResponse{}
	if err := runtime.UnmarshalAsJSON(resp, &result.SavingsPlanValidateResponse); err != nil {
		return SavingsPlanPurchaseClientValidateResponse{}, err
	}
	return result, nil
}
