//go:build go1.18
// +build go1.18

// Copyright (c) Microsoft Corporation. All rights reserved.
// Licensed under the MIT License. See License.txt in the project root for license information.
// Code generated by Microsoft (R) AutoRest Code Generator.
// Changes may cause incorrect behavior and will be lost if the code is regenerated.
// DO NOT EDIT.

package armbillingbenefits

import (
	"context"
	"errors"
	"github.com/Azure/azure-sdk-for-go/sdk/azcore"
	"github.com/Azure/azure-sdk-for-go/sdk/azcore/arm"
	armruntime "github.com/Azure/azure-sdk-for-go/sdk/azcore/arm/runtime"
	"github.com/Azure/azure-sdk-for-go/sdk/azcore/cloud"
	"github.com/Azure/azure-sdk-for-go/sdk/azcore/policy"
	"github.com/Azure/azure-sdk-for-go/sdk/azcore/runtime"
	"net/http"
	"net/url"
	"strings"
)

// SavingsPlansInOrderClient contains the methods for the SavingsPlansInOrder group.
// Don't use this type directly, use NewSavingsPlansInOrderClient() instead.
type SavingsPlansInOrderClient struct {
	host string
	pl   runtime.Pipeline
}

// NewSavingsPlansInOrderClient creates a new instance of SavingsPlansInOrderClient with the specified values.
// credential - used to authorize requests. Usually a credential from azidentity.
// options - pass nil to accept the default values.
func NewSavingsPlansInOrderClient(credential azcore.TokenCredential, options *arm.ClientOptions) (*SavingsPlansInOrderClient, error) {
	if options == nil {
		options = &arm.ClientOptions{}
	}
	ep := cloud.AzurePublic.Services[cloud.ResourceManager].Endpoint
	if c, ok := options.Cloud.Services[cloud.ResourceManager]; ok {
		ep = c.Endpoint
	}
	pl, err := armruntime.NewPipeline(moduleName, moduleVersion, credential, runtime.PipelineOptions{}, options)
	if err != nil {
		return nil, err
	}
	client := &SavingsPlansInOrderClient{
		host: ep,
		pl:   pl,
	}
	return client, nil
}

// NewListPager - List savings plans in an order.
// Generated from API version 2022-11-01
// savingsPlanOrderID - Order ID of the savings plan
// options - SavingsPlansInOrderClientListOptions contains the optional parameters for the SavingsPlansInOrderClient.List
// method.
func (client *SavingsPlansInOrderClient) NewListPager(savingsPlanOrderID string, options *SavingsPlansInOrderClientListOptions) *runtime.Pager[SavingsPlansInOrderClientListResponse] {
	return runtime.NewPager(runtime.PagingHandler[SavingsPlansInOrderClientListResponse]{
		More: func(page SavingsPlansInOrderClientListResponse) bool {
			return page.NextLink != nil && len(*page.NextLink) > 0
		},
		Fetcher: func(ctx context.Context, page *SavingsPlansInOrderClientListResponse) (SavingsPlansInOrderClientListResponse, error) {
			var req *policy.Request
			var err error
			if page == nil {
				req, err = client.listCreateRequest(ctx, savingsPlanOrderID, options)
			} else {
				req, err = runtime.NewRequest(ctx, http.MethodGet, *page.NextLink)
			}
			if err != nil {
				return SavingsPlansInOrderClientListResponse{}, err
			}
			resp, err := client.pl.Do(req)
			if err != nil {
				return SavingsPlansInOrderClientListResponse{}, err
			}
			if !runtime.HasStatusCode(resp, http.StatusOK) {
				return SavingsPlansInOrderClientListResponse{}, runtime.NewResponseError(resp)
			}
			return client.listHandleResponse(resp)
		},
	})
}

// listCreateRequest creates the List request.
func (client *SavingsPlansInOrderClient) listCreateRequest(ctx context.Context, savingsPlanOrderID string, options *SavingsPlansInOrderClientListOptions) (*policy.Request, error) {
	urlPath := "/providers/Microsoft.BillingBenefits/savingsPlanOrders/{savingsPlanOrderId}/savingsPlans"
	if savingsPlanOrderID == "" {
		return nil, errors.New("parameter savingsPlanOrderID cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{savingsPlanOrderId}", url.PathEscape(savingsPlanOrderID))
	req, err := runtime.NewRequest(ctx, http.MethodGet, runtime.JoinPaths(client.host, urlPath))
	if err != nil {
		return nil, err
	}
	reqQP := req.Raw().URL.Query()
	reqQP.Set("api-version", "2022-11-01")
	req.Raw().URL.RawQuery = reqQP.Encode()
	req.Raw().Header["Accept"] = []string{"application/json"}
	return req, nil
}

// listHandleResponse handles the List response.
func (client *SavingsPlansInOrderClient) listHandleResponse(resp *http.Response) (SavingsPlansInOrderClientListResponse, error) {
	result := SavingsPlansInOrderClientListResponse{}
	if err := runtime.UnmarshalAsJSON(resp, &result.SavingsPlanModelList); err != nil {
		return SavingsPlansInOrderClientListResponse{}, err
	}
	return result, nil
}
