//go:build go1.18
// +build go1.18

// Copyright (c) Microsoft Corporation. All rights reserved.
// Licensed under the MIT License. See License.txt in the project root for license information.
// Code generated by Microsoft (R) AutoRest Code Generator.
// Changes may cause incorrect behavior and will be lost if the code is regenerated.
// DO NOT EDIT.

package armbillingbenefits

import (
	"context"
	"errors"
	"github.com/Azure/azure-sdk-for-go/sdk/azcore"
	"github.com/Azure/azure-sdk-for-go/sdk/azcore/arm"
	armruntime "github.com/Azure/azure-sdk-for-go/sdk/azcore/arm/runtime"
	"github.com/Azure/azure-sdk-for-go/sdk/azcore/cloud"
	"github.com/Azure/azure-sdk-for-go/sdk/azcore/policy"
	"github.com/Azure/azure-sdk-for-go/sdk/azcore/runtime"
	"net/http"
	"net/url"
	"strings"
)

// SavingsPlanUpdateClient contains the methods for the SavingsPlanUpdate group.
// Don't use this type directly, use NewSavingsPlanUpdateClient() instead.
type SavingsPlanUpdateClient struct {
	host string
	pl   runtime.Pipeline
}

// NewSavingsPlanUpdateClient creates a new instance of SavingsPlanUpdateClient with the specified values.
// credential - used to authorize requests. Usually a credential from azidentity.
// options - pass nil to accept the default values.
func NewSavingsPlanUpdateClient(credential azcore.TokenCredential, options *arm.ClientOptions) (*SavingsPlanUpdateClient, error) {
	if options == nil {
		options = &arm.ClientOptions{}
	}
	ep := cloud.AzurePublic.Services[cloud.ResourceManager].Endpoint
	if c, ok := options.Cloud.Services[cloud.ResourceManager]; ok {
		ep = c.Endpoint
	}
	pl, err := armruntime.NewPipeline(moduleName, moduleVersion, credential, runtime.PipelineOptions{}, options)
	if err != nil {
		return nil, err
	}
	client := &SavingsPlanUpdateClient{
		host: ep,
		pl:   pl,
	}
	return client, nil
}

// Validate - Validate savings plan patch.
// If the operation fails it returns an *azcore.ResponseError type.
// Generated from API version 2022-11-01
// savingsPlanOrderID - Order ID of the savings plan
// savingsPlanID - ID of the savings plan
// body - Request body for validating a savings plan patch request
// options - SavingsPlanUpdateClientValidateOptions contains the optional parameters for the SavingsPlanUpdateClient.Validate
// method.
func (client *SavingsPlanUpdateClient) Validate(ctx context.Context, savingsPlanOrderID string, savingsPlanID string, body SavingsPlanUpdateValidateRequest, options *SavingsPlanUpdateClientValidateOptions) (SavingsPlanUpdateClientValidateResponse, error) {
	req, err := client.validateCreateRequest(ctx, savingsPlanOrderID, savingsPlanID, body, options)
	if err != nil {
		return SavingsPlanUpdateClientValidateResponse{}, err
	}
	resp, err := client.pl.Do(req)
	if err != nil {
		return SavingsPlanUpdateClientValidateResponse{}, err
	}
	if !runtime.HasStatusCode(resp, http.StatusOK) {
		return SavingsPlanUpdateClientValidateResponse{}, runtime.NewResponseError(resp)
	}
	return client.validateHandleResponse(resp)
}

// validateCreateRequest creates the Validate request.
func (client *SavingsPlanUpdateClient) validateCreateRequest(ctx context.Context, savingsPlanOrderID string, savingsPlanID string, body SavingsPlanUpdateValidateRequest, options *SavingsPlanUpdateClientValidateOptions) (*policy.Request, error) {
	urlPath := "/providers/Microsoft.BillingBenefits/savingsPlanOrders/{savingsPlanOrderId}/savingsPlans/{savingsPlanId}/validate"
	if savingsPlanOrderID == "" {
		return nil, errors.New("parameter savingsPlanOrderID cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{savingsPlanOrderId}", url.PathEscape(savingsPlanOrderID))
	if savingsPlanID == "" {
		return nil, errors.New("parameter savingsPlanID cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{savingsPlanId}", url.PathEscape(savingsPlanID))
	req, err := runtime.NewRequest(ctx, http.MethodPost, runtime.JoinPaths(client.host, urlPath))
	if err != nil {
		return nil, err
	}
	reqQP := req.Raw().URL.Query()
	reqQP.Set("api-version", "2022-11-01")
	req.Raw().URL.RawQuery = reqQP.Encode()
	req.Raw().Header["Accept"] = []string{"application/json"}
	return req, runtime.MarshalAsJSON(req, body)
}

// validateHandleResponse handles the Validate response.
func (client *SavingsPlanUpdateClient) validateHandleResponse(resp *http.Response) (SavingsPlanUpdateClientValidateResponse, error) {
	result := SavingsPlanUpdateClientValidateResponse{}
	if err := runtime.UnmarshalAsJSON(resp, &result.SavingsPlanValidateResponse); err != nil {
		return SavingsPlanUpdateClientValidateResponse{}, err
	}
	return result, nil
}
