{
  "Entries": [
    {
      "RequestUri": "https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/go-sdk-test-rg?api-version=2021-04-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "location": "westus"
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-writes": "1188"
      },
      "ResponseBody": {
        "id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/go-sdk-test-rg",
        "name": "go-sdk-test-rg",
        "type": "Microsoft.Resources/resourceGroups",
        "location": "westus",
        "properties": {
          "provisioningState": "Succeeded"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/go-sdk-test-rg/providers/Microsoft.OperationalInsights/workspaces/oiintelliagencepackpeY9An?api-version=2021-12-01-preview",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "location": "westus",
        "properties": {
          "retentionInDays": 30,
          "sku": {
            "name": "PerGB2018"
          }
        }
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "api-supported-versions": "2021-12-01-preview",
        "Content-Type": "application/json; charset=utf-8",
        "Location": "https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/go-sdk-test-rg/providers/Microsoft.OperationalInsights/workspaces/oiintelliagencepackpeY9An?api-version=2021-12-01-preview",
        "x-ms-ratelimit-remaining-subscription-writes": "1187"
      },
      "ResponseBody": {
        "properties": {
          "customerId": "00000000-0000-0000-0000-000000000000",
          "provisioningState": "Creating",
          "sku": {
            "name": "PerGB2018",
            "lastSkuUpdate": "2022-11-03T08:01:25.5313476Z"
          },
          "retentionInDays": 30,
          "features": {
            "legacy": 0,
            "searchVersion": 1,
            "enableLogAccessUsingOnlyResourcePermissions": true
          },
          "workspaceCapping": {
            "dailyQuotaGb": -1.0,
            "quotaNextResetTime": "2022-11-04T02:00:00Z",
            "dataIngestionStatus": "RespectQuota"
          },
          "publicNetworkAccessForIngestion": "Enabled",
          "publicNetworkAccessForQuery": "Enabled",
          "createdDate": "2022-11-03T08:01:25.5313476Z",
          "modifiedDate": "2022-11-03T08:01:25.5313476Z"
        },
        "location": "westus",
        "id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/go-sdk-test-rg/providers/Microsoft.OperationalInsights/workspaces/oiintelliagencepackpeY9An",
        "name": "oiintelliagencepackpeY9An",
        "type": "Microsoft.OperationalInsights/workspaces"
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/go-sdk-test-rg/providers/Microsoft.OperationalInsights/workspaces/oiintelliagencepackpeY9An?api-version=2021-12-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2021-12-01-preview",
        "Content[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/go-sdk-test-rg/providers/Microsoft.OperationalInsights/workspaces/oiintelliagencepackpeY9An/intelligencePacks?api-version=2020-08-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2015-03-20, 2020-08-01",
  [...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/go-sdk-test-rg/providers/Microsoft.OperationalInsights/workspaces/oiintelliagencepackpeY9An/intelligencePacks/ChangeTracking/Enable?api-version=2020-08-01",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2015-03-20, 2020-08-01",
        "x-ms-ratelimit-remaining-subscription-writes": "1199"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/go-sdk-test-rg/providers/Microsoft.OperationalInsights/workspaces/oiintelliagencepackpeY9An/intelligencePacks/ChangeTracking/Disable?api-version=2020-08-01",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2015-03-20, 2020-08-01",
        "x-ms-ratelimit-remaining-subscription-writes": "1198"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/go-sdk-test-rg?api-version=2021-04-01",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "Location": "https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/operationresults/eyJqb2JJZCI6IlJFU09VUkNFR1JPVVBERUxFVElPTkpPQi1HTzoyRFNESzoyRFRFU1Q6MkQyMjktV0VTVFVTIiwiam9iTG9jYXRpb24iOiJ3ZXN0dXMifQ?api-version=2021-04-01",
        "Retry-After": "15",
        "x-ms-ratelimit-remaining-subscription-deletes": "14993"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "recordingRandomSeed": "1667460681"
  }
}
