//go:build go1.18
// +build go1.18

// Copyright (c) Microsoft Corporation. All rights reserved.
// Licensed under the MIT License. See License.txt in the project root for license information.
// Code generated by Microsoft (R) AutoRest Code Generator.
// Changes may cause incorrect behavior and will be lost if the code is regenerated.
// DO NOT EDIT.

package armmonitor

import (
	"context"
	"github.com/Azure/azure-sdk-for-go/sdk/azcore"
	"github.com/Azure/azure-sdk-for-go/sdk/azcore/arm"
	armruntime "github.com/Azure/azure-sdk-for-go/sdk/azcore/arm/runtime"
	"github.com/Azure/azure-sdk-for-go/sdk/azcore/cloud"
	"github.com/Azure/azure-sdk-for-go/sdk/azcore/policy"
	"github.com/Azure/azure-sdk-for-go/sdk/azcore/runtime"
	"net/http"
)

// Client contains the methods for the Monitor group.
// Don't use this type directly, use NewClient() instead.
type Client struct {
	host string
	pl   runtime.Pipeline
}

// NewClient creates a new instance of Client with the specified values.
// credential - used to authorize requests. Usually a credential from azidentity.
// options - pass nil to accept the default values.
func NewClient(credential azcore.TokenCredential, options *arm.ClientOptions) (*Client, error) {
	if options == nil {
		options = &arm.ClientOptions{}
	}
	ep := cloud.AzurePublic.Services[cloud.ResourceManager].Endpoint
	if c, ok := options.Cloud.Services[cloud.ResourceManager]; ok {
		ep = c.Endpoint
	}
	pl, err := armruntime.NewPipeline(moduleName, moduleVersion, credential, runtime.PipelineOptions{}, options)
	if err != nil {
		return nil, err
	}
	client := &Client{
		host: ep,
		pl:   pl,
	}
	return client, nil
}

// NewOperationsListPager - Lists available Operations for this Resource Provider
// Generated from API version 2021-06-03-preview
// options - ClientOperationsListOptions contains the optional parameters for the Client.OperationsList method.
func (client *Client) NewOperationsListPager(options *ClientOperationsListOptions) *runtime.Pager[ClientOperationsListResponse] {
	return runtime.NewPager(runtime.PagingHandler[ClientOperationsListResponse]{
		More: func(page ClientOperationsListResponse) bool {
			return page.NextLink != nil && len(*page.NextLink) > 0
		},
		Fetcher: func(ctx context.Context, page *ClientOperationsListResponse) (ClientOperationsListResponse, error) {
			var req *policy.Request
			var err error
			if page == nil {
				req, err = client.operationsListCreateRequest(ctx, options)
			} else {
				req, err = runtime.NewRequest(ctx, http.MethodGet, *page.NextLink)
			}
			if err != nil {
				return ClientOperationsListResponse{}, err
			}
			resp, err := client.pl.Do(req)
			if err != nil {
				return ClientOperationsListResponse{}, err
			}
			if !runtime.HasStatusCode(resp, http.StatusOK) {
				return ClientOperationsListResponse{}, runtime.NewResponseError(resp)
			}
			return client.operationsListHandleResponse(resp)
		},
	})
}

// operationsListCreateRequest creates the OperationsList request.
func (client *Client) operationsListCreateRequest(ctx context.Context, options *ClientOperationsListOptions) (*policy.Request, error) {
	urlPath := "/providers/Microsoft.Monitor/operations"
	req, err := runtime.NewRequest(ctx, http.MethodGet, runtime.JoinPaths(client.host, urlPath))
	if err != nil {
		return nil, err
	}
	reqQP := req.Raw().URL.Query()
	reqQP.Set("api-version", "2021-06-03-preview")
	req.Raw().URL.RawQuery = reqQP.Encode()
	req.Raw().Header["Accept"] = []string{"application/json"}
	return req, nil
}

// operationsListHandleResponse handles the OperationsList response.
func (client *Client) operationsListHandleResponse(resp *http.Response) (ClientOperationsListResponse, error) {
	result := ClientOperationsListResponse{}
	if err := runtime.UnmarshalAsJSON(resp, &result.OperationListResultAutoGenerated); err != nil {
		return ClientOperationsListResponse{}, err
	}
	return result, nil
}
