// Copyright (c) Microsoft Corporation. All rights reserved.
// Licensed under the MIT License. See License.txt in the project root for license information.
// Code generated by Microsoft (R) AutoRest Code Generator. DO NOT EDIT.
// Changes may cause incorrect behavior and will be lost if the code is regenerated.

package armmonitor

import (
	"context"
	"errors"
	"github.com/Azure/azure-sdk-for-go/sdk/azcore"
	"github.com/Azure/azure-sdk-for-go/sdk/azcore/arm"
	"github.com/Azure/azure-sdk-for-go/sdk/azcore/policy"
	"github.com/Azure/azure-sdk-for-go/sdk/azcore/runtime"
	"net/http"
	"net/url"
	"strings"
)

// MetricsContainersClient contains the methods for the MetricsContainers group.
// Don't use this type directly, use NewMetricsContainersClient() instead.
type MetricsContainersClient struct {
	internal       *arm.Client
	subscriptionID string
}

// NewMetricsContainersClient creates a new instance of MetricsContainersClient with the specified values.
//   - subscriptionID - The ID of the target subscription.
//   - credential - used to authorize requests. Usually a credential from azidentity.
//   - options - Contains optional client configuration. Pass nil to accept the default values.
func NewMetricsContainersClient(subscriptionID string, credential azcore.TokenCredential, options *arm.ClientOptions) (*MetricsContainersClient, error) {
	cl, err := arm.NewClient(moduleName, moduleVersion, credential, options)
	if err != nil {
		return nil, err
	}
	client := &MetricsContainersClient{
		subscriptionID: subscriptionID,
		internal:       cl,
	}
	return client, nil
}

// CreateOrUpdate - Creates or updates metrics container settings for a monitoring account.
// If the operation fails it returns an *azcore.ResponseError type.
//
// Generated from API version 2025-05-03-preview
//   - resourceGroupName - The name of the resource group. The name is case insensitive.
//   - azureMonitorWorkspaceName - The name of the Azure Monitor Workspace. The name is case insensitive
//   - metricsContainerName - The name of the MetricsContainer
//   - resource - Resource create parameters.
//   - options - MetricsContainersClientCreateOrUpdateOptions contains the optional parameters for the MetricsContainersClient.CreateOrUpdate
//     method.
func (client *MetricsContainersClient) CreateOrUpdate(ctx context.Context, resourceGroupName string, azureMonitorWorkspaceName string, metricsContainerName string, resource MetricsContainerResource, options *MetricsContainersClientCreateOrUpdateOptions) (MetricsContainersClientCreateOrUpdateResponse, error) {
	var err error
	const operationName = "MetricsContainersClient.CreateOrUpdate"
	ctx = context.WithValue(ctx, runtime.CtxAPINameKey{}, operationName)
	ctx, endSpan := runtime.StartSpan(ctx, operationName, client.internal.Tracer(), nil)
	defer func() { endSpan(err) }()
	req, err := client.createOrUpdateCreateRequest(ctx, resourceGroupName, azureMonitorWorkspaceName, metricsContainerName, resource, options)
	if err != nil {
		return MetricsContainersClientCreateOrUpdateResponse{}, err
	}
	httpResp, err := client.internal.Pipeline().Do(req)
	if err != nil {
		return MetricsContainersClientCreateOrUpdateResponse{}, err
	}
	if !runtime.HasStatusCode(httpResp, http.StatusOK, http.StatusCreated) {
		err = runtime.NewResponseError(httpResp)
		return MetricsContainersClientCreateOrUpdateResponse{}, err
	}
	resp, err := client.createOrUpdateHandleResponse(httpResp)
	return resp, err
}

// createOrUpdateCreateRequest creates the CreateOrUpdate request.
func (client *MetricsContainersClient) createOrUpdateCreateRequest(ctx context.Context, resourceGroupName string, azureMonitorWorkspaceName string, metricsContainerName string, resource MetricsContainerResource, _ *MetricsContainersClientCreateOrUpdateOptions) (*policy.Request, error) {
	urlPath := "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Monitor/accounts/{azureMonitorWorkspaceName}/metricsContainers/{metricsContainerName}"
	if client.subscriptionID == "" {
		return nil, errors.New("parameter client.subscriptionID cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{subscriptionId}", url.PathEscape(client.subscriptionID))
	if resourceGroupName == "" {
		return nil, errors.New("parameter resourceGroupName cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{resourceGroupName}", url.PathEscape(resourceGroupName))
	if azureMonitorWorkspaceName == "" {
		return nil, errors.New("parameter azureMonitorWorkspaceName cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{azureMonitorWorkspaceName}", url.PathEscape(azureMonitorWorkspaceName))
	if metricsContainerName == "" {
		return nil, errors.New("parameter metricsContainerName cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{metricsContainerName}", url.PathEscape(metricsContainerName))
	req, err := runtime.NewRequest(ctx, http.MethodPut, runtime.JoinPaths(client.internal.Endpoint(), urlPath))
	if err != nil {
		return nil, err
	}
	reqQP := req.Raw().URL.Query()
	reqQP.Set("api-version", "2025-05-03-preview")
	req.Raw().URL.RawQuery = reqQP.Encode()
	req.Raw().Header["Accept"] = []string{"application/json"}
	if err := runtime.MarshalAsJSON(req, resource); err != nil {
		return nil, err
	}
	return req, nil
}

// createOrUpdateHandleResponse handles the CreateOrUpdate response.
func (client *MetricsContainersClient) createOrUpdateHandleResponse(resp *http.Response) (MetricsContainersClientCreateOrUpdateResponse, error) {
	result := MetricsContainersClientCreateOrUpdateResponse{}
	if err := runtime.UnmarshalAsJSON(resp, &result.MetricsContainerResource); err != nil {
		return MetricsContainersClientCreateOrUpdateResponse{}, err
	}
	return result, nil
}

// Get - Gets metrics container settings for a monitoring account.
// If the operation fails it returns an *azcore.ResponseError type.
//
// Generated from API version 2025-05-03-preview
//   - resourceGroupName - The name of the resource group. The name is case insensitive.
//   - azureMonitorWorkspaceName - The name of the Azure Monitor Workspace. The name is case insensitive
//   - metricsContainerName - The name of the MetricsContainer
//   - options - MetricsContainersClientGetOptions contains the optional parameters for the MetricsContainersClient.Get method.
func (client *MetricsContainersClient) Get(ctx context.Context, resourceGroupName string, azureMonitorWorkspaceName string, metricsContainerName string, options *MetricsContainersClientGetOptions) (MetricsContainersClientGetResponse, error) {
	var err error
	const operationName = "MetricsContainersClient.Get"
	ctx = context.WithValue(ctx, runtime.CtxAPINameKey{}, operationName)
	ctx, endSpan := runtime.StartSpan(ctx, operationName, client.internal.Tracer(), nil)
	defer func() { endSpan(err) }()
	req, err := client.getCreateRequest(ctx, resourceGroupName, azureMonitorWorkspaceName, metricsContainerName, options)
	if err != nil {
		return MetricsContainersClientGetResponse{}, err
	}
	httpResp, err := client.internal.Pipeline().Do(req)
	if err != nil {
		return MetricsContainersClientGetResponse{}, err
	}
	if !runtime.HasStatusCode(httpResp, http.StatusOK) {
		err = runtime.NewResponseError(httpResp)
		return MetricsContainersClientGetResponse{}, err
	}
	resp, err := client.getHandleResponse(httpResp)
	return resp, err
}

// getCreateRequest creates the Get request.
func (client *MetricsContainersClient) getCreateRequest(ctx context.Context, resourceGroupName string, azureMonitorWorkspaceName string, metricsContainerName string, _ *MetricsContainersClientGetOptions) (*policy.Request, error) {
	urlPath := "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Monitor/accounts/{azureMonitorWorkspaceName}/metricsContainers/{metricsContainerName}"
	if client.subscriptionID == "" {
		return nil, errors.New("parameter client.subscriptionID cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{subscriptionId}", url.PathEscape(client.subscriptionID))
	if resourceGroupName == "" {
		return nil, errors.New("parameter resourceGroupName cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{resourceGroupName}", url.PathEscape(resourceGroupName))
	if azureMonitorWorkspaceName == "" {
		return nil, errors.New("parameter azureMonitorWorkspaceName cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{azureMonitorWorkspaceName}", url.PathEscape(azureMonitorWorkspaceName))
	if metricsContainerName == "" {
		return nil, errors.New("parameter metricsContainerName cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{metricsContainerName}", url.PathEscape(metricsContainerName))
	req, err := runtime.NewRequest(ctx, http.MethodGet, runtime.JoinPaths(client.internal.Endpoint(), urlPath))
	if err != nil {
		return nil, err
	}
	reqQP := req.Raw().URL.Query()
	reqQP.Set("api-version", "2025-05-03-preview")
	req.Raw().URL.RawQuery = reqQP.Encode()
	req.Raw().Header["Accept"] = []string{"application/json"}
	return req, nil
}

// getHandleResponse handles the Get response.
func (client *MetricsContainersClient) getHandleResponse(resp *http.Response) (MetricsContainersClientGetResponse, error) {
	result := MetricsContainersClientGetResponse{}
	if err := runtime.UnmarshalAsJSON(resp, &result.MetricsContainerResource); err != nil {
		return MetricsContainersClientGetResponse{}, err
	}
	return result, nil
}

// NewListByAzureMonitorWorkspacePager - Lists metrics containers for a monitoring account.
//
// Generated from API version 2025-05-03-preview
//   - resourceGroupName - The name of the resource group. The name is case insensitive.
//   - azureMonitorWorkspaceName - The name of the Azure Monitor Workspace. The name is case insensitive
//   - options - MetricsContainersClientListByAzureMonitorWorkspaceOptions contains the optional parameters for the MetricsContainersClient.NewListByAzureMonitorWorkspacePager
//     method.
func (client *MetricsContainersClient) NewListByAzureMonitorWorkspacePager(resourceGroupName string, azureMonitorWorkspaceName string, options *MetricsContainersClientListByAzureMonitorWorkspaceOptions) *runtime.Pager[MetricsContainersClientListByAzureMonitorWorkspaceResponse] {
	return runtime.NewPager(runtime.PagingHandler[MetricsContainersClientListByAzureMonitorWorkspaceResponse]{
		More: func(page MetricsContainersClientListByAzureMonitorWorkspaceResponse) bool {
			return page.NextLink != nil && len(*page.NextLink) > 0
		},
		Fetcher: func(ctx context.Context, page *MetricsContainersClientListByAzureMonitorWorkspaceResponse) (MetricsContainersClientListByAzureMonitorWorkspaceResponse, error) {
			ctx = context.WithValue(ctx, runtime.CtxAPINameKey{}, "MetricsContainersClient.NewListByAzureMonitorWorkspacePager")
			nextLink := ""
			if page != nil {
				nextLink = *page.NextLink
			}
			resp, err := runtime.FetcherForNextLink(ctx, client.internal.Pipeline(), nextLink, func(ctx context.Context) (*policy.Request, error) {
				return client.listByAzureMonitorWorkspaceCreateRequest(ctx, resourceGroupName, azureMonitorWorkspaceName, options)
			}, nil)
			if err != nil {
				return MetricsContainersClientListByAzureMonitorWorkspaceResponse{}, err
			}
			return client.listByAzureMonitorWorkspaceHandleResponse(resp)
		},
		Tracer: client.internal.Tracer(),
	})
}

// listByAzureMonitorWorkspaceCreateRequest creates the ListByAzureMonitorWorkspace request.
func (client *MetricsContainersClient) listByAzureMonitorWorkspaceCreateRequest(ctx context.Context, resourceGroupName string, azureMonitorWorkspaceName string, _ *MetricsContainersClientListByAzureMonitorWorkspaceOptions) (*policy.Request, error) {
	urlPath := "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Monitor/accounts/{azureMonitorWorkspaceName}/metricsContainers"
	if client.subscriptionID == "" {
		return nil, errors.New("parameter client.subscriptionID cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{subscriptionId}", url.PathEscape(client.subscriptionID))
	if resourceGroupName == "" {
		return nil, errors.New("parameter resourceGroupName cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{resourceGroupName}", url.PathEscape(resourceGroupName))
	if azureMonitorWorkspaceName == "" {
		return nil, errors.New("parameter azureMonitorWorkspaceName cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{azureMonitorWorkspaceName}", url.PathEscape(azureMonitorWorkspaceName))
	req, err := runtime.NewRequest(ctx, http.MethodGet, runtime.JoinPaths(client.internal.Endpoint(), urlPath))
	if err != nil {
		return nil, err
	}
	reqQP := req.Raw().URL.Query()
	reqQP.Set("api-version", "2025-05-03-preview")
	req.Raw().URL.RawQuery = reqQP.Encode()
	req.Raw().Header["Accept"] = []string{"application/json"}
	return req, nil
}

// listByAzureMonitorWorkspaceHandleResponse handles the ListByAzureMonitorWorkspace response.
func (client *MetricsContainersClient) listByAzureMonitorWorkspaceHandleResponse(resp *http.Response) (MetricsContainersClientListByAzureMonitorWorkspaceResponse, error) {
	result := MetricsContainersClientListByAzureMonitorWorkspaceResponse{}
	if err := runtime.UnmarshalAsJSON(resp, &result.MetricsContainerResourceListResult); err != nil {
		return MetricsContainersClientListByAzureMonitorWorkspaceResponse{}, err
	}
	return result, nil
}
