//go:build go1.18
// +build go1.18

// Copyright (c) Microsoft Corporation. All rights reserved.
// Licensed under the MIT License. See License.txt in the project root for license information.
// Code generated by Microsoft (R) AutoRest Code Generator.
// Changes may cause incorrect behavior and will be lost if the code is regenerated.
// DO NOT EDIT.

package armmonitor

import (
	"context"
	"github.com/Azure/azure-sdk-for-go/sdk/azcore"
	"github.com/Azure/azure-sdk-for-go/sdk/azcore/arm"
	"github.com/Azure/azure-sdk-for-go/sdk/azcore/policy"
	"github.com/Azure/azure-sdk-for-go/sdk/azcore/runtime"
	"net/http"
	"strings"
)

// ServiceDiagnosticSettingsClient contains the methods for the ServiceDiagnosticSettings group.
// Don't use this type directly, use NewServiceDiagnosticSettingsClient() instead.
type ServiceDiagnosticSettingsClient struct {
	internal *arm.Client
}

// NewServiceDiagnosticSettingsClient creates a new instance of ServiceDiagnosticSettingsClient with the specified values.
//   - credential - used to authorize requests. Usually a credential from azidentity.
//   - options - pass nil to accept the default values.
func NewServiceDiagnosticSettingsClient(credential azcore.TokenCredential, options *arm.ClientOptions) (*ServiceDiagnosticSettingsClient, error) {
	cl, err := arm.NewClient(moduleName+".ServiceDiagnosticSettingsClient", moduleVersion, credential, options)
	if err != nil {
		return nil, err
	}
	client := &ServiceDiagnosticSettingsClient{
		internal: cl,
	}
	return client, nil
}

// CreateOrUpdate - Create or update new diagnostic settings for the specified resource. WARNING: This method will be deprecated
// in future releases.
// If the operation fails it returns an *azcore.ResponseError type.
//
// Generated from API version 2016-09-01
//   - resourceURI - The identifier of the resource.
//   - parameters - Parameters supplied to the operation.
//   - options - ServiceDiagnosticSettingsClientCreateOrUpdateOptions contains the optional parameters for the ServiceDiagnosticSettingsClient.CreateOrUpdate
//     method.
func (client *ServiceDiagnosticSettingsClient) CreateOrUpdate(ctx context.Context, resourceURI string, parameters ServiceDiagnosticSettingsResource, options *ServiceDiagnosticSettingsClientCreateOrUpdateOptions) (ServiceDiagnosticSettingsClientCreateOrUpdateResponse, error) {
	req, err := client.createOrUpdateCreateRequest(ctx, resourceURI, parameters, options)
	if err != nil {
		return ServiceDiagnosticSettingsClientCreateOrUpdateResponse{}, err
	}
	resp, err := client.internal.Pipeline().Do(req)
	if err != nil {
		return ServiceDiagnosticSettingsClientCreateOrUpdateResponse{}, err
	}
	if !runtime.HasStatusCode(resp, http.StatusOK) {
		return ServiceDiagnosticSettingsClientCreateOrUpdateResponse{}, runtime.NewResponseError(resp)
	}
	return client.createOrUpdateHandleResponse(resp)
}

// createOrUpdateCreateRequest creates the CreateOrUpdate request.
func (client *ServiceDiagnosticSettingsClient) createOrUpdateCreateRequest(ctx context.Context, resourceURI string, parameters ServiceDiagnosticSettingsResource, options *ServiceDiagnosticSettingsClientCreateOrUpdateOptions) (*policy.Request, error) {
	urlPath := "/{resourceUri}/providers/microsoft.insights/diagnosticSettings/service"
	urlPath = strings.ReplaceAll(urlPath, "{resourceUri}", resourceURI)
	req, err := runtime.NewRequest(ctx, http.MethodPut, runtime.JoinPaths(client.internal.Endpoint(), urlPath))
	if err != nil {
		return nil, err
	}
	reqQP := req.Raw().URL.Query()
	reqQP.Set("api-version", "2016-09-01")
	req.Raw().URL.RawQuery = reqQP.Encode()
	req.Raw().Header["Accept"] = []string{"application/json"}
	return req, runtime.MarshalAsJSON(req, parameters)
}

// createOrUpdateHandleResponse handles the CreateOrUpdate response.
func (client *ServiceDiagnosticSettingsClient) createOrUpdateHandleResponse(resp *http.Response) (ServiceDiagnosticSettingsClientCreateOrUpdateResponse, error) {
	result := ServiceDiagnosticSettingsClientCreateOrUpdateResponse{}
	if err := runtime.UnmarshalAsJSON(resp, &result.ServiceDiagnosticSettingsResource); err != nil {
		return ServiceDiagnosticSettingsClientCreateOrUpdateResponse{}, err
	}
	return result, nil
}

// Get - Gets the active diagnostic settings for the specified resource. WARNING: This method will be deprecated in future
// releases.
// If the operation fails it returns an *azcore.ResponseError type.
//
// Generated from API version 2016-09-01
//   - resourceURI - The identifier of the resource.
//   - options - ServiceDiagnosticSettingsClientGetOptions contains the optional parameters for the ServiceDiagnosticSettingsClient.Get
//     method.
func (client *ServiceDiagnosticSettingsClient) Get(ctx context.Context, resourceURI string, options *ServiceDiagnosticSettingsClientGetOptions) (ServiceDiagnosticSettingsClientGetResponse, error) {
	req, err := client.getCreateRequest(ctx, resourceURI, options)
	if err != nil {
		return ServiceDiagnosticSettingsClientGetResponse{}, err
	}
	resp, err := client.internal.Pipeline().Do(req)
	if err != nil {
		return ServiceDiagnosticSettingsClientGetResponse{}, err
	}
	if !runtime.HasStatusCode(resp, http.StatusOK) {
		return ServiceDiagnosticSettingsClientGetResponse{}, runtime.NewResponseError(resp)
	}
	return client.getHandleResponse(resp)
}

// getCreateRequest creates the Get request.
func (client *ServiceDiagnosticSettingsClient) getCreateRequest(ctx context.Context, resourceURI string, options *ServiceDiagnosticSettingsClientGetOptions) (*policy.Request, error) {
	urlPath := "/{resourceUri}/providers/microsoft.insights/diagnosticSettings/service"
	urlPath = strings.ReplaceAll(urlPath, "{resourceUri}", resourceURI)
	req, err := runtime.NewRequest(ctx, http.MethodGet, runtime.JoinPaths(client.internal.Endpoint(), urlPath))
	if err != nil {
		return nil, err
	}
	reqQP := req.Raw().URL.Query()
	reqQP.Set("api-version", "2016-09-01")
	req.Raw().URL.RawQuery = reqQP.Encode()
	req.Raw().Header["Accept"] = []string{"application/json"}
	return req, nil
}

// getHandleResponse handles the Get response.
func (client *ServiceDiagnosticSettingsClient) getHandleResponse(resp *http.Response) (ServiceDiagnosticSettingsClientGetResponse, error) {
	result := ServiceDiagnosticSettingsClientGetResponse{}
	if err := runtime.UnmarshalAsJSON(resp, &result.ServiceDiagnosticSettingsResource); err != nil {
		return ServiceDiagnosticSettingsClientGetResponse{}, err
	}
	return result, nil
}

// Update - Updates an existing ServiceDiagnosticSettingsResource. To update other fields use the CreateOrUpdate method. WARNING:
// This method will be deprecated in future releases.
// If the operation fails it returns an *azcore.ResponseError type.
//
// Generated from API version 2016-09-01
//   - resourceURI - The identifier of the resource.
//   - serviceDiagnosticSettingsResource - Parameters supplied to the operation.
//   - options - ServiceDiagnosticSettingsClientUpdateOptions contains the optional parameters for the ServiceDiagnosticSettingsClient.Update
//     method.
func (client *ServiceDiagnosticSettingsClient) Update(ctx context.Context, resourceURI string, serviceDiagnosticSettingsResource ServiceDiagnosticSettingsResourcePatch, options *ServiceDiagnosticSettingsClientUpdateOptions) (ServiceDiagnosticSettingsClientUpdateResponse, error) {
	req, err := client.updateCreateRequest(ctx, resourceURI, serviceDiagnosticSettingsResource, options)
	if err != nil {
		return ServiceDiagnosticSettingsClientUpdateResponse{}, err
	}
	resp, err := client.internal.Pipeline().Do(req)
	if err != nil {
		return ServiceDiagnosticSettingsClientUpdateResponse{}, err
	}
	if !runtime.HasStatusCode(resp, http.StatusOK) {
		return ServiceDiagnosticSettingsClientUpdateResponse{}, runtime.NewResponseError(resp)
	}
	return client.updateHandleResponse(resp)
}

// updateCreateRequest creates the Update request.
func (client *ServiceDiagnosticSettingsClient) updateCreateRequest(ctx context.Context, resourceURI string, serviceDiagnosticSettingsResource ServiceDiagnosticSettingsResourcePatch, options *ServiceDiagnosticSettingsClientUpdateOptions) (*policy.Request, error) {
	urlPath := "/{resourceUri}/providers/microsoft.insights/diagnosticSettings/service"
	urlPath = strings.ReplaceAll(urlPath, "{resourceUri}", resourceURI)
	req, err := runtime.NewRequest(ctx, http.MethodPatch, runtime.JoinPaths(client.internal.Endpoint(), urlPath))
	if err != nil {
		return nil, err
	}
	reqQP := req.Raw().URL.Query()
	reqQP.Set("api-version", "2016-09-01")
	req.Raw().URL.RawQuery = reqQP.Encode()
	req.Raw().Header["Accept"] = []string{"application/json"}
	return req, runtime.MarshalAsJSON(req, serviceDiagnosticSettingsResource)
}

// updateHandleResponse handles the Update response.
func (client *ServiceDiagnosticSettingsClient) updateHandleResponse(resp *http.Response) (ServiceDiagnosticSettingsClientUpdateResponse, error) {
	result := ServiceDiagnosticSettingsClientUpdateResponse{}
	if err := runtime.UnmarshalAsJSON(resp, &result.ServiceDiagnosticSettingsResource); err != nil {
		return ServiceDiagnosticSettingsClientUpdateResponse{}, err
	}
	return result, nil
}
