//go:build go1.16
// +build go1.16

// Copyright (c) Microsoft Corporation. All rights reserved.
// Licensed under the MIT License. See License.txt in the project root for license information.
// Code generated by Microsoft (R) AutoRest Code Generator.
// Changes may cause incorrect behavior and will be lost if the code is regenerated.

package armcdn

import (
	"context"
	"errors"
	"fmt"
	"github.com/Azure/azure-sdk-for-go/sdk/azcore"
	"github.com/Azure/azure-sdk-for-go/sdk/azcore/arm"
	armruntime "github.com/Azure/azure-sdk-for-go/sdk/azcore/arm/runtime"
	"github.com/Azure/azure-sdk-for-go/sdk/azcore/policy"
	"github.com/Azure/azure-sdk-for-go/sdk/azcore/runtime"
	"net/http"
	"net/url"
	"strings"
)

// ValidateClient contains the methods for the Validate group.
// Don't use this type directly, use NewValidateClient() instead.
type ValidateClient struct {
	ep             string
	pl             runtime.Pipeline
	subscriptionID string
}

// NewValidateClient creates a new instance of ValidateClient with the specified values.
func NewValidateClient(subscriptionID string, credential azcore.TokenCredential, options *arm.ClientOptions) *ValidateClient {
	cp := arm.ClientOptions{}
	if options != nil {
		cp = *options
	}
	if len(cp.Host) == 0 {
		cp.Host = arm.AzurePublicCloud
	}
	return &ValidateClient{subscriptionID: subscriptionID, ep: string(cp.Host), pl: armruntime.NewPipeline(module, version, credential, &cp)}
}

// Secret - Validate a Secret in the profile.
// If the operation fails it returns the *AfdErrorResponse error type.
func (client *ValidateClient) Secret(ctx context.Context, validateSecretInput ValidateSecretInput, options *ValidateSecretOptions) (ValidateSecretResponse, error) {
	req, err := client.secretCreateRequest(ctx, validateSecretInput, options)
	if err != nil {
		return ValidateSecretResponse{}, err
	}
	resp, err := client.pl.Do(req)
	if err != nil {
		return ValidateSecretResponse{}, err
	}
	if !runtime.HasStatusCode(resp, http.StatusOK) {
		return ValidateSecretResponse{}, client.secretHandleError(resp)
	}
	return client.secretHandleResponse(resp)
}

// secretCreateRequest creates the Secret request.
func (client *ValidateClient) secretCreateRequest(ctx context.Context, validateSecretInput ValidateSecretInput, options *ValidateSecretOptions) (*policy.Request, error) {
	urlPath := "/subscriptions/{subscriptionId}/providers/Microsoft.Cdn/validateSecret"
	if client.subscriptionID == "" {
		return nil, errors.New("parameter client.subscriptionID cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{subscriptionId}", url.PathEscape(client.subscriptionID))
	req, err := runtime.NewRequest(ctx, http.MethodPost, runtime.JoinPaths(client.ep, urlPath))
	if err != nil {
		return nil, err
	}
	reqQP := req.Raw().URL.Query()
	reqQP.Set("api-version", "2020-09-01")
	req.Raw().URL.RawQuery = reqQP.Encode()
	req.Raw().Header.Set("Accept", "application/json")
	return req, runtime.MarshalAsJSON(req, validateSecretInput)
}

// secretHandleResponse handles the Secret response.
func (client *ValidateClient) secretHandleResponse(resp *http.Response) (ValidateSecretResponse, error) {
	result := ValidateSecretResponse{RawResponse: resp}
	if err := runtime.UnmarshalAsJSON(resp, &result.ValidateSecretOutput); err != nil {
		return ValidateSecretResponse{}, runtime.NewResponseError(err, resp)
	}
	return result, nil
}

// secretHandleError handles the Secret error response.
func (client *ValidateClient) secretHandleError(resp *http.Response) error {
	body, err := runtime.Payload(resp)
	if err != nil {
		return runtime.NewResponseError(err, resp)
	}
	errType := AfdErrorResponse{raw: string(body)}
	if err := runtime.UnmarshalAsJSON(resp, &errType); err != nil {
		return runtime.NewResponseError(fmt.Errorf("%s\n%s", string(body), err), resp)
	}
	return runtime.NewResponseError(&errType, resp)
}
