{
  "Entries": [
    {
      "RequestUri": "https://fakekvurl.managedhsm.azure.net/keys/key3690675049/create?api-version=7.3",
      "RequestMethod": "POST",
      "RequestHeaders": {
        ":method": "POST"
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\u0022https://login.microsoftonline.com/72f988bf-86f1-41af-91ab-2d7cd011db47\u0022, resource=\u0022https://managedhsm.azure.net\u0022",
        "x-ms-server-latency": "3"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakekvurl.managedhsm.azure.net/keys/key3690675049/create?api-version=7.3",
      "RequestMethod": "POST",
      "RequestHeaders": {
        ":method": "POST",
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "kty": "RSA"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-server-latency": "308"
      },
      "ResponseBody": {
        "attributes": {
          "created": 1651877532,
          "enabled": true,
          "exportable": false,
          "recoverableDays": 7,
          "recoveryLevel": "CustomizedRecoverable\u002BPurgeable",
          "updated": 1651877532
        },
        "key": {
          "e": "AQAB",
          "key_ops": [
            "wrapKey",
            "decrypt",
            "encrypt",
            "unwrapKey",
            "sign",
            "verify"
          ],
          "kid": "https://fakekvurl.managedhsm.azure.net/keys/key3690675049/8574d939c6200a5b199f978166fa28dd",
          "kty": "RSA-HSM",
          "n": "h3NXDbWxDughVs9JmNjGLP7CdxOLPqpwP1oR-6M5zMiOzqnvRroJI4UP-2MPS7D5bJNN9R2_OtE4Ll2je-KOTJUoGaPjRbSpYcI5IuMZWdCvbCnQG338pikDJ-Et-TfV9b0FDn8DQ1fnNy33c0p_pHRY3olkJC6CBa94pazJT1W2MgI3eVdd5b3Wxz6Gvx_Z-pa6d6RRMQ6mHBMMbm2ZaDtdxbmUCJVK3cA5Wj7RE8mkk5Tm3MIO4VBukoDs6Io5AwSq75VZcpjLsJY_MWE9dZBQGAqYu1xkcFVIAx5ugiLo1hxGFNt8oyHKV6jqWPy6VwGMtBdzjOL41ycq-fMDbQ"
        }
      }
    },
    {
      "RequestUri": "https://fakekvurl.managedhsm.azure.net/keys/key3690675049?api-version=7.3",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-server-latency": "208"
      },
      "ResponseBody": {
        "attributes": {
          "created": 1651877532,
          "enabled": true,
          "exportable": false,
          "recoverableDays": 7,
          "recoveryLevel": "CustomizedRecoverable\u002BPurgeable",
          "updated": 1651877532
        },
        "deletedDate": 1651877532,
        "key": {
          "e": "AQAB",
          "key_ops": [
            "wrapKey",
            "encrypt",
            "decrypt",
            "unwrapKey",
            "sign",
            "verify"
          ],
          "kid": "https://fakekvurl.managedhsm.azure.net/keys/key3690675049/8574d939c6200a5b199f978166fa28dd",
          "kty": "RSA-HSM",
          "n": "h3NXDbWxDughVs9JmNjGLP7CdxOLPqpwP1oR-6M5zMiOzqnvRroJI4UP-2MPS7D5bJNN9R2_OtE4Ll2je-KOTJUoGaPjRbSpYcI5IuMZWdCvbCnQG338pikDJ-Et-TfV9b0FDn8DQ1fnNy33c0p_pHRY3olkJC6CBa94pazJT1W2MgI3eVdd5b3Wxz6Gvx_Z-pa6d6RRMQ6mHBMMbm2ZaDtdxbmUCJVK3cA5Wj7RE8mkk5Tm3MIO4VBukoDs6Io5AwSq75VZcpjLsJY_MWE9dZBQGAqYu1xkcFVIAx5ugiLo1hxGFNt8oyHKV6jqWPy6VwGMtBdzjOL41ycq-fMDbQ"
        },
        "recoveryId": "https://fakekvurl.managedhsm.azure.net/deletedkeys/key3690675049",
        "scheduledPurgeDate": 1652482332
      }
    },
    {
      "RequestUri": "https://fakekvurl.managedhsm.azure.net/deletedkeys/key3690675049?api-version=7.3",
      "RequestMethod": "GET",
      "RequestHeaders": {
        ":method": "GET",
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-build-version": "1.0.20220422-1-08f4685d-1.0.20220404-2-da0eff37-pre-openssl",
        "x-ms-server-latency": "54"
      },
      "ResponseBody": {
        "attributes": {
          "created": 1651877532,
          "enabled": true,
          "exportable": false,
          "recoverableDays": 7,
          "recoveryLevel": "CustomizedRecoverable\u002BPurgeable",
          "updated": 1651877532
        },
        "deletedDate": 1651877532,
        "key": {
          "e": "AQAB",
          "key_ops": [
            "verify",
            "sign",
            "unwrapKey",
            "encrypt",
            "decrypt",
            "wrapKey"
          ],
          "kid": "https://fakekvurl.managedhsm.azure.net/keys/key3690675049/8574d939c6200a5b199f978166fa28dd",
          "kty": "RSA-HSM",
          "n": "h3NXDbWxDughVs9JmNjGLP7CdxOLPqpwP1oR-6M5zMiOzqnvRroJI4UP-2MPS7D5bJNN9R2_OtE4Ll2je-KOTJUoGaPjRbSpYcI5IuMZWdCvbCnQG338pikDJ-Et-TfV9b0FDn8DQ1fnNy33c0p_pHRY3olkJC6CBa94pazJT1W2MgI3eVdd5b3Wxz6Gvx_Z-pa6d6RRMQ6mHBMMbm2ZaDtdxbmUCJVK3cA5Wj7RE8mkk5Tm3MIO4VBukoDs6Io5AwSq75VZcpjLsJY_MWE9dZBQGAqYu1xkcFVIAx5ugiLo1hxGFNt8oyHKV6jqWPy6VwGMtBdzjOL41ycq-fMDbQ"
        },
        "recoveryId": "https://fakekvurl.managedhsm.azure.net/deletedkeys/key3690675049",
        "scheduledPurgeDate": 1652482332
      }
    },
[...]
    {
      "RequestUri": "https://fakekvurl.managedhsm.azure.net/deletedkeys/key3690675049?api-version=7.3",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-server-latency": "193"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {}
}
