{
  "Entries": [
    {
      "RequestUri": "https://fakekvurl.vault.azure.net/keys/key3813505923/create?api-version=7.3-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        ":authority": "localhost:5001",
        ":method": "POST",
        ":path": "/keys/key3813505923/create?api-version=7.3-preview",
        ":scheme": "https"
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\u0022https://login.windows.net/00000000-0000-0000-0000-000000000000\u0022, resource=\u0022https://vault.azure.net\u0022"
      },
      "ResponseBody": {
        "error": {
          "code": "Unauthorized",
          "message": "AKV10000: Request is missing a Bearer or PoP token."
        }
      }
    },
    {
      "RequestUri": "https://fakekvurl.vault.azure.net/keys/key3813505923/create?api-version=7.3-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        ":authority": "localhost:5001",
        ":method": "POST",
        ":path": "/keys/key3813505923/create?api-version=7.3-preview",
        ":scheme": "https",
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "kty": "RSA"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "key": {
          "kid": "https://fakekvurl.vault.azure.net/keys/key3813505923/4ac8e7acdafb427daa86a099a7a44112",
          "kty": "RSA",
          "key_ops": [
            "encrypt",
            "decrypt",
            "sign",
            "verify",
            "wrapKey",
            "unwrapKey"
          ],
          "n": "tlIz3yZZZJ4MS3FBkRXjrntzLnYiSNx7yl-3L-M8qaiNkd6J1SVe6fOZLvWjq5FbAYBxr3TPKfE451NlVaKjpguTarsPnySFIoeG4IjgkeYEkOMii0MaHnGv_6r0F9v4EHnYc6vUlfnvNJrJD7ijlPW_viR0cpjaTLTcg4sOQAWPH-U_me6K_U5wB_4BKC9tdFJabmZ8sFi5Yo-mj22nlYo1Yarz27or_6kN4TGWgefanVe-FtkvkgcgXcMs5-WUwBHlUYcGtV2hn8jBz_Kr6C4FgB1TKd5b_VEvFCvEZj1L53IWYeutOi80x68q1w57ueRSSBCgLhzQZ8sJyJM8gQ",
          "e": "AQAB"
        },
        "attributes": {
          "enabled": true,
          "created": 1640018578,
          "updated": 1640018578,
          "recoveryLevel": "CustomizedRecoverable\u002BPurgeable",
          "recoverableDays": 7
        }
      }
    },
    {
      "RequestUri": "https://fakekvurl.vault.azure.net/keys/key3813505923//release?api-version=7.3-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        ":authority": "localhost:5001",
        ":method": "POST",
        ":path": "/keys/key3813505923//release?api-version=7.3-preview",
        ":scheme": "https",
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "target": "target"
      },
      "StatusCode": 403,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "error": {
          "code": "Forbidden",
          "message": "Target environment attestation statement cannot be verified.",
          "innererror": {
            "code": "AccessDenied"
          }
        }
      }
    },
    {
      "RequestUri": "https://fakekvurl.vault.azure.net/keys/key3813505923?api-version=7.3-preview",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        ":authority": "localhost:5001",
        ":method": "DELETE",
        ":path": "/keys/key3813505923?api-version=7.3-preview",
        ":scheme": "https",
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "recoveryId": "https://fakekvurl.vault.azure.net/deletedkeys/key3813505923",
        "deletedDate": 1640018578,
        "scheduledPurgeDate": 1640623378,
        "key": {
          "kid": "https://fakekvurl.vault.azure.net/keys/key3813505923/4ac8e7acdafb427daa86a099a7a44112",
          "kty": "RSA",
          "key_ops": [
            "encrypt",
            "decrypt",
            "sign",
            "verify",
            "wrapKey",
            "unwrapKey"
          ],
          "n": "tlIz3yZZZJ4MS3FBkRXjrntzLnYiSNx7yl-3L-M8qaiNkd6J1SVe6fOZLvWjq5FbAYBxr3TPKfE451NlVaKjpguTarsPnySFIoeG4IjgkeYEkOMii0MaHnGv_6r0F9v4EHnYc6vUlfnvNJrJD7ijlPW_viR0cpjaTLTcg4sOQAWPH-U_me6K_U5wB_4BKC9tdFJabmZ8sFi5Yo-mj22nlYo1Yarz27or_6kN4TGWgefanVe-FtkvkgcgXcMs5-WUwBHlUYcGtV2hn8jBz_Kr6C4FgB1TKd5b_VEvFCvEZj1L53IWYeutOi80x68q1w57ueRSSBCgLhzQZ8sJyJM8gQ",
          "e": "AQAB"
        },
        "attributes": {
          "enabled": true,
          "created": 1640018578,
          "updated": 1640018578,
          "recoveryLevel": "CustomizedRecoverable\u002BPurgeable",
          "recoverableDays": 7
        }
      }
    },
    {
      "RequestUri": "https://fakekvurl.vault.azure.net/deletedkeys/key3813505923?api-version=7.3-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        ":authority": "localhost:5001",
        ":method": "GET",
        ":path": "/deletedkeys/key3813505923?api-version=7.3-preview",
        ":scheme": "https",
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "error": {
          "code": "KeyNotFound",
          "message": "Deleted Key not found: key3813505923"
        }
      }
    },
[...]
    {
      "RequestUri": "https://fakekvurl.vault.azure.net/deletedkeys/key3813505923?api-version=7.3-preview",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        ":authority": "localhost:5001",
        ":method": "DELETE",
        ":path": "/deletedkeys/key3813505923?api-version=7.3-preview",
        ":scheme": "https",
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
      },
      "ResponseBody": null
    }
  ],
  "Variables": {}
}
