{
  "Entries": [
    {
      "RequestUri": "https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/go-sdk-test-rg?api-version=2021-04-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "location": "westus"
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-writes": "1135"
      },
      "ResponseBody": {
        "id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/go-sdk-test-rg",
        "name": "go-sdk-test-rg",
        "type": "Microsoft.Resources/resourceGroups",
        "location": "westus",
        "properties": {
          "provisioningState": "Succeeded"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/go-sdk-test-rg/providers/Microsoft.Network/publicIPAddresses/publicipadxtBhLe?api-version=2022-07-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "location": "westus"
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Azure-AsyncNotification": "Enabled",
        "Azure-AsyncOperation": "https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Network/locations/westus/operations/00000000-0000-0000-0000-000000000000?api-version=2022-07-01",
        "Content-Type": "application/json; charset=utf-8",
        "Retry-After": "1",
        "x-ms-ratelimit-remaining-subscription-writes": "1134"
      },
      "ResponseBody": {
        "name": "publicipadxtBhLe",
        "id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/go-sdk-test-rg/providers/Microsoft.Network/publicIPAddresses/publicipadxtBhLe",
        "etag": "W/\u002200000000-0000-0000-0000-000000000000\u0022",
        "location": "westus",
        "properties": {
          "provisioningState": "Updating",
          "resourceGuid": "00000000-0000-0000-0000-000000000000",
          "publicIPAddressVersion": "IPv4",
          "publicIPAllocationMethod": "Dynamic",
          "idleTimeoutInMinutes": 4,
          "ipTags": []
        },
        "type": "Microsoft.Network/publicIPAddresses",
        "sku": {
          "name": "Basic",
          "tier": "Regional"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Network/locations/westus/operations/00000000-0000-0000-0000-000000000000?api-version=2022-07-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-reads": "11863"
      },
      "ResponseBody": {
        "status": "Succeeded"
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/go-sdk-test-rg/providers/Microsoft.Network/publicIPAddresses/publicipadxtBhLe?api-version=2022-07-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "W/\u002200000000-0000-0000-0000-000000000000\u0022",
        "x-ms-ratelimit-remaining-subscription-reads": "11862"
      },
      "ResponseBody": {
        "name": "publicipadxtBhLe",
        "id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/go-sdk-test-rg/providers/Microsoft.Network/publicIPAddresses/publicipadxtBhLe",
        "etag": "W/\u002200000000-0000-0000-0000-000000000000\u0022",
        "location": "westus",
        "properties": {
          "provisioningState": "Succeeded",
          "resourceGuid": "00000000-0000-0000-0000-000000000000",
          "publicIPAddressVersion": "IPv4",
          "publicIPAllocationMethod": "Dynamic",
          "idleTimeoutInMinutes": 4,
          "ipTags": []
        },
        "type": "Microsoft.Network/publicIPAddresses",
        "sku": {
          "name": "Basic",
          "tier": "Regional"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Network/publicIPAddresses?api-version=2022-07-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-original-request-ids": [
          "00000000-0000-0000-0000-000000000000",
          "18fa8a51-3058-45bd-b2ee-491d757217c5"
        ],
        "x-ms-ratelimit-remaining-subscription-reads": "11861"
      },
      "ResponseBody": {
        "value": [
          {
            "name": "publicipadxtBhLe",
            "id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/go-sdk-test-rg/providers/Microsoft.Network/publicIPAddresses/publicipadxtBhLe",
            "etag": "W/\u002200000000-0000-0000-0000-000000000000\u0022",
            "location": "westus",
            "properties": {
              "provisioningState": "Succeeded",
              "resourceGuid": "00000000-0000-0000-0000-000000000000",
              "publicIPAddressVersion": "IPv4",
              "publicIPAllocationMethod": "Dynamic",
              "idleTimeoutInMinutes": 4,
              "ipTags": []
            },
            "type": "Microsoft.Network/publicIPAddresses",
            "sku": {
              "name": "Basic",
              "tier": "Regional"
            }
          },
          {
            "name": "test-ip",
            "id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/go-sdk-test-rg/providers/Microsoft.Network/publicIPAddresses/test-ip",
            "etag": "W/\u002200000000-0000-0000-0000-000000000000\u0022",
            "location": "westus",
            "properties": {
              "provisioningState": "Succeeded",
              "resourceGuid": "00000000-0000-0000-0000-000000000000",
              "ipAddress": "104.42.172.163",
              "publicIPAddressVersion": "IPv4",
              "publicIPAllocationMethod": "Static",
              "idleTimeoutInMinutes": 10,
              "ipTags": [],
              "ipConfiguration": {
                "id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/go-sdk-test-rg/providers/Microsoft.Network/bastionHosts/bastionhoswTvha8/bastionHostIpConfigurations/bastionHostIpConfiguration"
              },
              "ddosSettings": {
                "protectionMode": "VirtualNetworkInherited"
              }
            },
            "type": "Microsoft.Network/publicIPAddresses",
            "sku": {
              "name": "Standard",
              "tier": "Regional"
            }
          },
          {
            "name": "publicipadgatewayuVjBcs",
            "id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/go-sdk-test-rg/providers/Microsoft.Network/publicIPAddresses/publicipadgatewayuVjBcs",
            "etag": "W/\u002200000000-0000-0000-0000-000000000000\u0022",
            "location": "westus",
            "properties": {
              "provisioningState": "Succeeded",
              "resourceGuid": "00000000-0000-0000-0000-000000000000",
              "publicIPAddressVersion": "IPv4",
              "publicIPAllocationMethod": "Dynamic",
              "idleTimeoutInMinutes": 4,
              "ipTags": []
            },
            "type": "Microsoft.Network/publicIPAddresses",
            "sku": {
              "name": "Basic",
              "tier": "Regional"
            }
          },
          {
            "name": "testvm-ip",
            "id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/chenjieshitest/providers/Microsoft.Network/publicIPAddresses/testvm-ip",
            "etag": "W/\u002200000000-0000-0000-0000-000000000000\u0022",
            "location": "eastus",
            "zones": [
              "1"
            ],
            "properties": {
              "provisioningState": "Succeeded",
              "resourceGuid": "00000000-0000-0000-0000-000000000000",
              "ipAddress": "20.115.89.210",
              "publicIPAddressVersion": "IPv4",
              "publicIPAllocationMethod": "Static",
              "idleTimeoutInMinutes": 4,
              "ipTags": [],
              "ipConfiguration": {
                "id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/chenjieshitest/providers/Microsoft.Network/networkInterfaces/testvm491_z1/ipConfigurations/ipconfig1"
              }
            },
            "type": "Microsoft.Network/publicIPAddresses",
            "sku": {
              "name": "Standard",
              "tier": "Regional"
            }
          },
          {
            "name": "mypid",
            "id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/golivetest/providers/Microsoft.Network/publicIPAddresses/mypid",
            "etag": "W/\u002200000000-0000-0000-0000-000000000000\u0022",
            "location": "eastus",
            "tags": {},
            "zones": [
              "3",
              "1",
              "2"
            ],
            "properties": {
              "provisioningState": "Succeeded",
              "resourceGuid": "00000000-0000-0000-0000-000000000000",
              "ipAddress": "20.85.206.111",
              "publicIPAddressVersion": "IPv4",
              "publicIPAllocationMethod": "Static",
              "idleTimeoutInMinutes": 4,
              "ipTags": []
            },
            "type": "Microsoft.Network/publicIPAddresses",
            "sku": {
              "name": "Standard",
              "tier": "Regional"
            }
          }
        ]
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/go-sdk-test-rg/providers/Microsoft.Network/publicIPAddresses?api-version=2022-07-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-reads": "11860"
      },
      "ResponseBody": {
        "value": [
          {
            "name": "publicipadxtBhLe",
            "id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/go-sdk-test-rg/providers/Microsoft.Network/publicIPAddresses/publicipadxtBhLe",
            "etag": "W/\u002200000000-0000-0000-0000-000000000000\u0022",
            "location": "westus",
            "properties": {
              "provisioningState": "Succeeded",
              "resourceGuid": "00000000-0000-0000-0000-000000000000",
              "publicIPAddressVersion": "IPv4",
              "publicIPAllocationMethod": "Dynamic",
              "idleTimeoutInMinutes": 4,
              "ipTags": []
            },
            "type": "Microsoft.Network/publicIPAddresses",
            "sku": {
              "name": "Basic",
              "tier": "Regional"
            }
          }
        ]
      }
    },
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/go-sdk-test-rg/providers/Microsoft.Network/publicIPAddresses/publicipadxtBhLe?api-version=2022-07-01",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Azure-AsyncNotification": "Enabled",
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-writes": "1133"
      },
      "ResponseBody": {
        "name": "publicipadxtBhLe",
        "id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/go-sdk-test-rg/providers/Microsoft.Network/publicIPAddresses/publicipadxtBhLe",
        "etag": "W/\u002200000000-0000-0000-0000-000000000000\u0022",
        "location": "westus",
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        },
        "properties": {
          "provisioningState": "Succeeded",
          "resourceGuid": "00000000-0000-0000-0000-000000000000",
          "publicIPAddressVersion": "IPv4",
          "publicIPAllocationMethod": "Dynamic",
          "idleTimeoutInMinutes": 4,
          "ipTags": []
        },
        "type": "Microsoft.Network/publicIPAddresses",
        "sku": {
          "name": "Basic",
          "tier": "Regional"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/go-sdk-test-rg/providers/Microsoft.Network/publicIPAddresses/publicipadxtBhLe?api-version=2022-07-01",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "Azure-AsyncNotification": "Enabled",
        "Azure-AsyncOperation": "https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Network/locations/westus/operations/00000000-0000-0000-0000-000000000000?api-version=2022-07-01",
        "Location": "https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Network/locations/westus/operationResults/00000000-0000-0000-0000-000000000000?api-version=2022-07-01",
        "Retry-After": "10",
        "x-ms-ratelimit-remaining-subscription-deletes": "14959"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/go-sdk-test-rg?api-version=2021-04-01",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "Location": "https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/operationresults/eyJqb2JJZCI6IlJFU09VUkNFR1JPVVBERUxFVElPTkpPQi1HTzoyRFNESzoyRFRFU1Q6MkQxOTktV0VTVFVTIiwiam9iTG9jYXRpb24iOiJ3ZXN0dXMifQ?api-version=2021-04-01",
        "Retry-After": "15",
        "x-ms-ratelimit-remaining-subscription-deletes": "14958"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "recordingRandomSeed": "1677811516"
  }
}
