{
  "Entries": [
    {
      "RequestUri": "https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/testRG-createVN3801349794/providers/Microsoft.Network/virtualNetworks/network3801349794?api-version=2021-05-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        ":authority": "localhost:5001",
        ":method": "PUT",
        ":path": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/testRG-createVN3801349794/providers/Microsoft.Network/virtualNetworks/network3801349794?api-version=2021-05-01",
        ":scheme": "https",
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "location": "westus",
        "properties": {
          "addressSpace": {
            "addressPrefixes": [
              "10.1.0.0/16"
            ]
          }
        }
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Azure-AsyncNotification": "Enabled",
        "Azure-AsyncOperation": "https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Network/locations/westus/operations/36abf5ad-0351-4d26-982d-11f303e45d82?api-version=2021-05-01",
        "Content-Type": "application/json; charset=utf-8",
        "Retry-After": "3",
        "x-ms-ratelimit-remaining-subscription-writes": "1187"
      },
      "ResponseBody": [
        "{\r\n",
        "  \u0022name\u0022: \u0022network3801349794\u0022,\r\n",
        "  \u0022id\u0022: \u0022/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/testRG-createVN3801349794/providers/Microsoft.Network/virtualNetworks/network3801349794\u0022,\r\n",
        "  \u0022etag\u0022: \u0022W/\\\u0022dfcdf72c-85a3-47a4-afc0-3e322ce750de\\\u0022\u0022,\r\n",
        "  \u0022type\u0022: \u0022Microsoft.Network/virtualNetworks\u0022,\r\n",
        "  \u0022location\u0022: \u0022westus\u0022,\r\n",
        "  \u0022properties\u0022: {\r\n",
        "    \u0022provisioningState\u0022: \u0022Updating\u0022,\r\n",
        "    \u0022resourceGuid\u0022: \u0022f0b6a2e1-fb1a-4d33-a922-ae4d05ac2581\u0022,\r\n",
        "    \u0022addressSpace\u0022: {\r\n",
        "      \u0022addressPrefixes\u0022: [\r\n",
        "        \u002210.1.0.0/16\u0022\r\n",
        "      ]\r\n",
        "    },\r\n",
        "    \u0022subnets\u0022: [],\r\n",
        "    \u0022virtualNetworkPeerings\u0022: [],\r\n",
        "    \u0022enableDdosProtection\u0022: false\r\n",
        "  }\r\n",
        "}"
      ]
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Network/locations/westus/operations/36abf5ad-0351-4d26-982d-11f303e45d82?api-version=2021-05-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        ":authority": "localhost:5001",
        ":method": "GET",
        ":path": "/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Network/locations/westus/operations/36abf5ad-0351-4d26-982d-11f303e45d82?api-version=2021-05-01",
        ":scheme": "https",
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-reads": "11970"
      },
      "ResponseBody": [
        "{\r\n",
        "  \u0022status\u0022: \u0022Succeeded\u0022\r\n",
        "}"
      ]
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/testRG-createVN3801349794/providers/Microsoft.Network/virtualNetworks/network3801349794?api-version=2021-05-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        ":authority": "localhost:5001",
        ":method": "GET",
        ":path": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/testRG-createVN3801349794/providers/Microsoft.Network/virtualNetworks/network3801349794?api-version=2021-05-01",
        ":scheme": "https",
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "W/\u0022d6702386-ca11-492f-b1a6-11bdeab25142\u0022",
        "x-ms-ratelimit-remaining-subscription-reads": "11969"
      },
      "ResponseBody": [
        "{\r\n",
        "  \u0022name\u0022: \u0022network3801349794\u0022,\r\n",
        "  \u0022id\u0022: \u0022/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/testRG-createVN3801349794/providers/Microsoft.Network/virtualNetworks/network3801349794\u0022,\r\n",
        "  \u0022etag\u0022: \u0022W/\\\u0022d6702386-ca11-492f-b1a6-11bdeab25142\\\u0022\u0022,\r\n",
        "  \u0022type\u0022: \u0022Microsoft.Network/virtualNetworks\u0022,\r\n",
        "  \u0022location\u0022: \u0022westus\u0022,\r\n",
        "  \u0022properties\u0022: {\r\n",
        "    \u0022provisioningState\u0022: \u0022Succeeded\u0022,\r\n",
        "    \u0022resourceGuid\u0022: \u0022f0b6a2e1-fb1a-4d33-a922-ae4d05ac2581\u0022,\r\n",
        "    \u0022addressSpace\u0022: {\r\n",
        "      \u0022addressPrefixes\u0022: [\r\n",
        "        \u002210.1.0.0/16\u0022\r\n",
        "      ]\r\n",
        "    },\r\n",
        "    \u0022subnets\u0022: [],\r\n",
        "    \u0022virtualNetworkPeerings\u0022: [],\r\n",
        "    \u0022enableDdosProtection\u0022: false\r\n",
        "  }\r\n",
        "}"
      ]
    }
  ],
  "Variables": {}
}
