{
  "Entries": [
    {
      "RequestUri": "https://fakekvurl.managedhsm.azure.net/keys/keyName122725103/create?api-version=7.3",
      "RequestMethod": "POST",
      "RequestHeaders": {
        ":method": "POST"
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\u0022https://login.microsoftonline.com/72f988bf-86f1-41af-91ab-2d7cd011db47\u0022, resource=\u0022https://managedhsm.azure.net\u0022",
        "x-ms-server-latency": "0"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakekvurl.managedhsm.azure.net/keys/keyName122725103/create?api-version=7.3",
      "RequestMethod": "POST",
      "RequestHeaders": {
        ":method": "POST",
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "kty": "RSA"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-server-latency": "285"
      },
      "ResponseBody": {
        "attributes": {
          "created": 1651859892,
          "enabled": true,
          "exportable": false,
          "recoverableDays": 7,
          "recoveryLevel": "CustomizedRecoverable\u002BPurgeable",
          "updated": 1651859892
        },
        "key": {
          "e": "AQAB",
          "key_ops": [
            "wrapKey",
            "decrypt",
            "encrypt",
            "unwrapKey",
            "sign",
            "verify"
          ],
          "kid": "https://fakekvurl.managedhsm.azure.net/keys/keyName122725103/468a380efcf7472d2771fc71a867aa18",
          "kty": "RSA-HSM",
          "n": "qtkhZAas2fyDl7rPiY-TK0eWcnLfTca-fg1EIz2ths76job5z5HVHecfS_K0cWybUqxRA3ltQjXNrg_mE9krvcuh0ATXmeCwbTy0dqp2OJBOsEW4s_a_IGs5Q_L8XW5y5vpYsBQsYpSuDqGhnetkiS2g65zrRRpVzqB0IrGufbd7PRk5Zy6403Xw55Xe58bMPFqAQBM6-f2W5C4dUyin35hZoSomMk0M9Vna8jY87o8QNeG7cM08s1cxIRS_yBOrsHNLf3ycxnXidbiF_QspciYk7IOBT72039epmOcxk-PmnsY33KfNdD43FKrrP-X125oNdGzIVJR-XC8uE7u2BQ"
        }
      }
    },
    {
      "RequestUri": "https://fakekvurl.managedhsm.azure.net/keys/keyName122725103?api-version=7.3",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-server-latency": "196"
      },
      "ResponseBody": {
        "attributes": {
          "created": 1651859892,
          "enabled": true,
          "exportable": false,
          "recoverableDays": 7,
          "recoveryLevel": "CustomizedRecoverable\u002BPurgeable",
          "updated": 1651859892
        },
        "deletedDate": 1651859893,
        "key": {
          "e": "AQAB",
          "key_ops": [
            "wrapKey",
            "encrypt",
            "decrypt",
            "unwrapKey",
            "sign",
            "verify"
          ],
          "kid": "https://fakekvurl.managedhsm.azure.net/keys/keyName122725103/468a380efcf7472d2771fc71a867aa18",
          "kty": "RSA-HSM",
          "n": "qtkhZAas2fyDl7rPiY-TK0eWcnLfTca-fg1EIz2ths76job5z5HVHecfS_K0cWybUqxRA3ltQjXNrg_mE9krvcuh0ATXmeCwbTy0dqp2OJBOsEW4s_a_IGs5Q_L8XW5y5vpYsBQsYpSuDqGhnetkiS2g65zrRRpVzqB0IrGufbd7PRk5Zy6403Xw55Xe58bMPFqAQBM6-f2W5C4dUyin35hZoSomMk0M9Vna8jY87o8QNeG7cM08s1cxIRS_yBOrsHNLf3ycxnXidbiF_QspciYk7IOBT72039epmOcxk-PmnsY33KfNdD43FKrrP-X125oNdGzIVJR-XC8uE7u2BQ"
        },
        "recoveryId": "https://fakekvurl.managedhsm.azure.net/deletedkeys/keyName122725103",
        "scheduledPurgeDate": 1652464693
      }
    },
    {
      "RequestUri": "https://fakekvurl.managedhsm.azure.net/deletedkeys/keyName122725103?api-version=7.3",
      "RequestMethod": "GET",
      "RequestHeaders": {
        ":method": "GET",
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-build-version": "1.0.20220422-1-08f4685d-1.0.20220404-2-da0eff37-pre-openssl",
        "x-ms-server-latency": "37"
      },
      "ResponseBody": {
        "attributes": {
          "created": 1651859892,
          "enabled": true,
          "exportable": false,
          "recoverableDays": 7,
          "recoveryLevel": "CustomizedRecoverable\u002BPurgeable",
          "updated": 1651859892
        },
        "deletedDate": 1651859893,
        "key": {
          "e": "AQAB",
          "key_ops": [
            "verify",
            "sign",
            "unwrapKey",
            "encrypt",
            "decrypt",
            "wrapKey"
          ],
          "kid": "https://fakekvurl.managedhsm.azure.net/keys/keyName122725103/468a380efcf7472d2771fc71a867aa18",
          "kty": "RSA-HSM",
          "n": "qtkhZAas2fyDl7rPiY-TK0eWcnLfTca-fg1EIz2ths76job5z5HVHecfS_K0cWybUqxRA3ltQjXNrg_mE9krvcuh0ATXmeCwbTy0dqp2OJBOsEW4s_a_IGs5Q_L8XW5y5vpYsBQsYpSuDqGhnetkiS2g65zrRRpVzqB0IrGufbd7PRk5Zy6403Xw55Xe58bMPFqAQBM6-f2W5C4dUyin35hZoSomMk0M9Vna8jY87o8QNeG7cM08s1cxIRS_yBOrsHNLf3ycxnXidbiF_QspciYk7IOBT72039epmOcxk-PmnsY33KfNdD43FKrrP-X125oNdGzIVJR-XC8uE7u2BQ"
        },
        "recoveryId": "https://fakekvurl.managedhsm.azure.net/deletedkeys/keyName122725103",
        "scheduledPurgeDate": 1652464693
      }
    },
[...]
    {
      "RequestUri": "https://fakekvurl.managedhsm.azure.net/keys/keyName122725103?api-version=7.3",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-server-latency": "17"
      },
      "ResponseBody": {
        "error": {
          "code": "KeyNotFound",
          "message": "Key not found: https://fakekvurl.managedhsm.azure.net/keys/keyName122725103 (Activity ID: 1af0b1b2-cd66-11ec-830e-6045bd86d60f)"
        }
      }
    }
  ],
  "Variables": {}
}
