{
  "Entries": [
    {
      "RequestUri": "https://fakeaccount.table.core.windows.net/Tables",
      "RequestMethod": "POST",
      "RequestHeaders": {
        ":authority": "localhost:5001",
        ":method": "POST",
        ":path": "/Tables",
        ":scheme": "https",
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "dataserviceversion": "3.0",
        "x-ms-date": "Tue, 26 Oct 2021 20:12:43 GMT",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": {
        "TableName": "tableName1927585112"
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata=minimalmetadata; streaming=true; charset=utf-8",
        "Location": "https://seankaneprim.table.core.windows.net/Tables(\u0027tableName1927585112\u0027)",
        "x-ms-version": "2019-02-02"
      },
      "ResponseBody": {
        "odata.metadata": "https://seankaneprim.table.core.windows.net/$metadata#Tables/@Element",
        "TableName": "tableName1927585112"
      }
    },
    {
      "RequestUri": "https://fakeaccount.table.core.windows.net/tableName1927585112",
      "RequestMethod": "POST",
      "RequestHeaders": {
        ":authority": "localhost:5001",
        ":method": "POST",
        ":path": "/tableName1927585112",
        ":scheme": "https",
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "dataserviceversion": "3.0",
        "prefer": "return-no-content",
        "x-ms-date": "Tue, 26 Oct 2021 20:12:43 GMT",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": {
        "Bool": true,
        "Integer": 10,
        "PartitionKey": "pk001",
        "RowKey": "rk001",
        "String": "abcdef",
        "Timestamp": "0001-01-01T00:00:00Z"
      },
      "StatusCode": 204,
      "ResponseHeaders": {
        "DataServiceId": "https://seankaneprim.table.core.windows.net/tableName1927585112(PartitionKey=\u0027pk001\u0027,RowKey=\u0027rk001\u0027)",
        "ETag": "W/\u0022datetime\u00272021-10-26T20%3A12%3A43.214455Z\u0027\u0022",
        "Location": "https://seankaneprim.table.core.windows.net/tableName1927585112(PartitionKey=\u0027pk001\u0027,RowKey=\u0027rk001\u0027)",
        "Preference-Applied": "return-no-content",
        "x-ms-version": "2019-02-02"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakeaccount.table.core.windows.net/tableName1927585112(PartitionKey=\u0027pk001\u0027,RowKey=\u0027rk001\u0027)?%24format=application%2Fjson%3Bodata%3Dminimalmetadata",
      "RequestMethod": "GET",
      "RequestHeaders": {
        ":authority": "localhost:5001",
        ":method": "GET",
        ":path": "/tableName1927585112(PartitionKey=\u0027pk001\u0027,RowKey=\u0027rk001\u0027)?%24format=application%2Fjson%3Bodata%3Dminimalmetadata",
        ":scheme": "https",
        "Authorization": "Sanitized",
        "dataserviceversion": "3.0",
        "x-ms-date": "Tue, 26 Oct 2021 20:12:43 GMT",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata=minimalmetadata; streaming=true; charset=utf-8",
        "ETag": "W/\u0022datetime\u00272021-10-26T20%3A12%3A43.214455Z\u0027\u0022",
        "x-ms-version": "2019-02-02"
      },
      "ResponseBody": {
        "odata.metadata": "https://seankaneprim.table.core.windows.net/$metadata#tableName1927585112/@Element",
        "odata.etag": "W/\u0022datetime\u00272021-10-26T20%3A12%3A43.214455Z\u0027\u0022",
        "PartitionKey": "pk001",
        "RowKey": "rk001",
        "Timestamp": "2021-10-26T20:12:43.214455Z",
        "Bool": true,
        "Integer": 10,
        "String": "abcdef"
      }
    },
    {
      "RequestUri": "https://fakeaccount.table.core.windows.net/tableName1927585112()?%24filter=PartitionKey\u002Beq\u002B%27pk001%27\u0026%24format=application%2Fjson%3Bodata%3Dminimalmetadata",
      "RequestMethod": "GET",
      "RequestHeaders": {
        ":authority": "localhost:5001",
        ":method": "GET",
        ":path": "/tableName1927585112()?%24filter=PartitionKey\u002Beq\u002B%27pk001%27\u0026%24format=application%2Fjson%3Bodata%3Dminimalmetadata",
        ":scheme": "https",
        "Authorization": "Sanitized",
        "dataserviceversion": "3.0",
        "x-ms-date": "Tue, 26 Oct 2021 20:12:43 GMT",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata=minimalmetadata; streaming=true; charset=utf-8",
        "x-ms-version": "2019-02-02"
      },
      "ResponseBody": {
        "odata.metadata": "https://seankaneprim.table.core.windows.net/$metadata#tableName1927585112",
        "value": [
          {
            "odata.etag": "W/\u0022datetime\u00272021-10-26T20%3A12%3A43.214455Z\u0027\u0022",
            "PartitionKey": "pk001",
            "RowKey": "rk001",
            "Timestamp": "2021-10-26T20:12:43.214455Z",
            "Bool": true,
            "Integer": 10,
            "String": "abcdef"
          }
        ]
      }
    },
    {
      "RequestUri": "https://fakeaccount.table.core.windows.net/Tables(\u0027tableName1927585112\u0027)",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        ":authority": "localhost:5001",
        ":method": "DELETE",
        ":path": "/Tables(\u0027tableName1927585112\u0027)",
        ":scheme": "https",
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 26 Oct 2021 20:12:43 GMT",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
        "x-ms-version": "2019-02-02"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {}
}
