{
  "Entries": [
    {
      "RequestUri": "https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/go-sdk-test-rg?api-version=2021-04-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "location": "eastus"
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-writes": "1199"
      },
      "ResponseBody": {
        "id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/go-sdk-test-rg",
        "name": "go-sdk-test-rg",
        "type": "Microsoft.Resources/resourceGroups",
        "location": "eastus",
        "properties": {
          "provisioningState": "Succeeded"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/go-sdk-test-rg/providers/Microsoft.KeyVault/vaults/go-test-vault3?api-version=2021-11-01-preview",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "location": "eastus",
        "properties": {
          "accessPolicies": [
            {
              "objectId": "00000000-0000-0000-0000-000000000000",
              "permissions": {
                "certificates": [
                  "get",
                  "list",
                  "create"
                ],
                "keys": [
                  "get",
                  "list",
                  "create"
                ],
                "secrets": [
                  "get",
                  "list"
                ]
              },
              "tenantId": "00000000-0000-0000-0000-000000000000"
            }
          ],
          "sku": {
            "family": "A",
            "name": "standard"
          },
          "tenantId": "00000000-0000-0000-0000-000000000000"
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-writes": "1198"
      },
      "ResponseBody": {
        "id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/go-sdk-test-rg/providers/Microsoft.KeyVault/vaults/go-test-vault3",
        "name": "go-test-vault3",
        "type": "Microsoft.KeyVault/vaults",
        "location": "eastus",
        "tags": {},
        "systemData": {
          "createdBy": "00000000-0000-0000-0000-000000000000",
          "createdByType": "Application",
          "createdAt": "2022-03-14T07:31:45.158Z",
          "lastModifiedBy": "00000000-0000-0000-0000-000000000000",
          "lastModifiedByType": "Application",
          "lastModifiedAt": "2022-03-14T07:31:45.158Z"
        },
        "properties": {
          "sku": {
            "family": "A",
            "name": "standard"
          },
          "tenantId": "00000000-0000-0000-0000-000000000000",
          "accessPolicies": [
            {
              "tenantId": "00000000-0000-0000-0000-000000000000",
              "objectId": "00000000-0000-0000-0000-000000000000",
              "permissions": {
                "certificates": [
                  "get",
                  "list",
                  "create"
                ],
                "keys": [
                  "get",
                  "list",
                  "create"
                ],
                "secrets": [
                  "get",
                  "list"
                ]
              }
            }
          ],
          "enabledForDeployment": false,
          "enableSoftDelete": true,
          "vaultUri": "https://go-test-vault3.vault.azure.net",
          "provisioningState": "RegisteringDns",
          "publicNetworkAccess": "Enabled"
        }
      }
    },
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/go-sdk-test-rg/providers/Microsoft.KeyVault/vaults/go-test-vault3/keys/go-test-key?api-version=2021-11-01-preview",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "properties": {
          "attributes": {
            "enabled": true
          },
          "keyOps": [
            "encrypt",
            "decrypt"
          ],
          "keySize": 2048,
          "kty": "RSA"
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-writes": "1197"
      },
      "ResponseBody": {
        "id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/go-sdk-test-rg/providers/Microsoft.KeyVault/vaults/go-test-vault3/keys/go-test-key",
        "name": "go-test-key",
        "type": "Microsoft.KeyVault/vaults/keys",
        "location": "eastus",
        "properties": {
          "attributes": {
            "enabled": true,
            "created": 1647243149,
            "updated": 1647243149,
            "recoveryLevel": "Recoverable\u002BPurgeable"
          },
          "kty": "RSA",
          "keyOps": [
            "encrypt",
            "decrypt"
          ],
          "keySize": 2048,
          "keyUri": "https://go-test-vault3.vault.azure.net/keys/go-test-key",
          "keyUriWithVersion": "https://go-test-vault3.vault.azure.net/keys/go-test-key/7ccd23700dad4c1c953cb0a46fd0c12e"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/go-sdk-test-rg/providers/Microsoft.KeyVault/vaults/go-test-vault3/keys/go-test-key?api-version=2021-11-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        ":method": "GET",
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-reads": "11997"
      },
      "ResponseBody": {
        "id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/go-sdk-test-rg/providers/Microsoft.KeyVault/vaults/go-test-vault3/keys/go-test-key",
        "name": "go-test-key",
        "type": "Microsoft.KeyVault/vaults/keys",
        "location": "eastus",
        "properties": {
          "attributes": {
            "enabled": true,
            "created": 1647243149,
            "updated": 1647243149,
            "recoveryLevel": "Recoverable\u002BPurgeable"
          },
          "rotationPolicy": {
            "lifetimeActions": [
              {
                "trigger": {
                  "timeBeforeExpiry": "P30D"
                },
                "action": {
                  "type": "Notify"
                }
              }
            ]
          },
          "kty": "RSA",
          "keyOps": [
            "encrypt",
            "decrypt"
          ],
          "keySize": 2048,
          "keyUri": "https://go-test-vault3.vault.azure.net/keys/go-test-key",
          "keyUriWithVersion": "https://go-test-vault3.vault.azure.net/keys/go-test-key/7ccd23700dad4c1c953cb0a46fd0c12e"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/go-sdk-test-rg/providers/Microsoft.KeyVault/vaults/go-test-vault3/keys?api-version=2021-11-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        ":method": "GET",
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-reads": "11996"
      },
      "ResponseBody": {
        "value": [
          {
            "id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/go-sdk-test-rg/providers/Microsoft.KeyVault/vaults/go-test-vault3/keys/go-test-key",
            "name": "go-test-key",
            "type": "Microsoft.KeyVault/vaults/keys",
            "location": "eastus",
            "properties": {
              "attributes": {
                "enabled": true,
                "created": 1647243149,
                "updated": 1647243149,
                "recoveryLevel": "Recoverable\u002BPurgeable"
              },
              "keyUri": "https://go-test-vault3.vault.azure.net/keys/go-test-key"
            }
          }
        ]
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/go-sdk-test-rg/providers/Microsoft.KeyVault/vaults/go-test-vault3/keys/go-test-key/versions?api-version=2021-11-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        ":method": "GET",
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; cha[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/go-sdk-test-rg?api-version=2021-04-01",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "Location": "https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/operationresults/eyJqb2JJZCI6IlJFU09VUkNFR1JPVVBERUxFVElPTkpPQi1HTzoyRFNESzoyRFRFU1Q6MkQyMjMtRUFTVFVTIiwiam9iTG9jYXRpb24iOiJlYXN0dXMifQ?api-version=2021-04-01",
        "Retry-After": "15",
        "x-ms-ratelimit-remaining-subscription-deletes": "14999"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {}
}
