{
  "Entries": [
    {
      "RequestUri": "https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/rg24059646483?api-version=2021-04-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        ":authority": "localhost:5001",
        ":method": "PUT",
        ":path": "/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/rg24059646483?api-version=2021-04-01",
        ":scheme": "https",
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "location": "westus"
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-writes": "1190"
      },
      "ResponseBody": {
        "id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/rg24059646483",
        "name": "rg24059646483",
        "type": "Microsoft.Resources/resourceGroups",
        "location": "westus",
        "properties": {
          "provisioningState": "Succeeded"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/rg24059646483/providers/Microsoft.KeyVault/vaults/vaultx4093201721?api-version=2021-11-01-preview",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        ":authority": "localhost:5001",
        ":method": "PUT",
        ":path": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/rg24059646483/providers/Microsoft.KeyVault/vaults/vaultx4093201721?api-version=2021-11-01-preview",
        ":scheme": "https",
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "location": "westus",
        "properties": {
          "accessPolicies": [
            {
              "objectId": "22222222-2222-2222-2222-222222222222",
              "permissions": {
                "certificates": [
                  "get",
                  "list",
                  "create"
                ],
                "keys": [
                  "get",
                  "list",
                  "create"
                ],
                "secrets": [
                  "get",
                  "list"
                ]
              },
              "tenantId": "11111111-1111-1111-1111-111111111111"
            }
          ],
          "sku": {
            "family": "A",
            "name": "standard"
          },
          "tenantId": "11111111-1111-1111-1111-111111111111"
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-writes": "1189"
      },
      "ResponseBody": {
        "id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/rg24059646483/providers/Microsoft.KeyVault/vaults/vaultx4093201721",
        "name": "vaultx4093201721",
        "type": "Microsoft.KeyVault/vaults",
        "location": "westus",
        "tags": {},
        "systemData": {
          "createdBy": "a1fc368b-7f40-4802-8fa1-260d3a6ec34b",
          "createdByType": "Application",
          "createdAt": "2022-02-15T09:59:17.985Z",
          "lastModifiedBy": "a1fc368b-7f40-4802-8fa1-260d3a6ec34b",
          "lastModifiedByType": "Application",
          "lastModifiedAt": "2022-02-15T09:59:17.985Z"
        },
        "properties": {
          "sku": {
            "family": "A",
            "name": "standard"
          },
          "tenantId": "11111111-1111-1111-1111-111111111111",
          "accessPolicies": [
            {
              "tenantId": "11111111-1111-1111-1111-111111111111",
              "objectId": "22222222-2222-2222-2222-222222222222",
              "permissions": {
                "certificates": [
                  "get",
                  "list",
                  "create"
                ],
                "keys": [
                  "get",
                  "list",
                  "create"
                ],
                "secrets": [
                  "get",
                  "list"
                ]
              }
            }
          ],
          "enabledForDeployment": false,
          "enableSoftDelete": true,
          "vaultUri": "https://vaultx4093201721.vault.azure.net",
          "provisioningState": "RegisteringDns",
          "publicNetworkAccess": "Enabled"
        }
      }
    },
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/rg24059646483/providers/Microsoft.KeyVault/vaults/vaultx4093201721/keys/key1910390038?api-version=2021-11-01-preview",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        ":authority": "localhost:5001",
        ":method": "PUT",
        ":path": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/rg24059646483/providers/Microsoft.KeyVault/vaults/vaultx4093201721/keys/key1910390038?api-version=2021-11-01-preview",
        ":scheme": "https",
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "properties": {
          "attributes": {
            "enabled": true
          },
          "keyOps": [
            "encrypt",
            "decrypt"
          ],
          "keySize": 2048,
          "kty": "RSA"
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-writes": "1188"
      },
      "ResponseBody": {
        "id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/rg24059646483/providers/Microsoft.KeyVault/vaults/vaultx4093201721/keys/key1910390038",
        "name": "key1910390038",
        "type": "Microsoft.KeyVault/vaults/keys",
        "location": "westus",
        "properties": {
          "attributes": {
            "enabled": true,
            "created": 1644919181,
            "updated": 1644919181,
            "recoveryLevel": "Recoverable\u002BPurgeable"
          },
          "kty": "RSA",
          "keyOps": [
            "encrypt",
            "decrypt"
          ],
          "keySize": 2048,
          "keyUri": "https://vaultx4093201721.vault.azure.net/keys/key1910390038",
          "keyUriWithVersion": "https://vaultx4093201721.vault.azure.net/keys/key1910390038/534e82ea926c4fee8a489b50249a8cb9"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/rg24059646483?api-version=2021-04-01",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        ":authority": "localhost:5001",
        ":method": "DELETE",
        ":path": "/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/rg24059646483?api-version=2021-04-01",
        ":scheme": "https",
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "Location": "https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/operationresults/eyJqb2JJZCI6IlJFU09VUkNFR1JPVVBERUxFVElPTkpPQi1SRzI0MDU5NjQ2NDgzLVdFU1RVUyIsImpvYkxvY2F0aW9uIjoid2VzdHVzIn0?api-version=2021-04-01",
        "Retry-After": "15",
        "x-ms-ratelimit-remaining-subscription-deletes": "14997"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {}
}
