{
  "Entries": [
    {
      "RequestUri": "https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/rg1367502488?api-version=2021-04-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        ":authority": "localhost:5001",
        ":method": "PUT",
        ":path": "/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/rg1367502488?api-version=2021-04-01",
        ":scheme": "https",
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "location": "westus"
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-writes": "1172"
      },
      "ResponseBody": {
        "id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/rg1367502488",
        "name": "rg1367502488",
        "type": "Microsoft.Resources/resourceGroups",
        "location": "westus",
        "properties": {
          "provisioningState": "Succeeded"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/rg1367502488/providers/Microsoft.KeyVault/vaults/vault1401057726?api-version=2021-11-01-preview",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        ":authority": "localhost:5001",
        ":method": "PUT",
        ":path": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/rg1367502488/providers/Microsoft.KeyVault/vaults/vault1401057726?api-version=2021-11-01-preview",
        ":scheme": "https",
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "location": "westus",
        "properties": {
          "accessPolicies": [
            {
              "objectId": "22222222-2222-2222-2222-222222222222",
              "permissions": {
                "certificates": [
                  "get",
                  "list",
                  "create"
                ],
                "keys": [
                  "get",
                  "list",
                  "create"
                ],
                "secrets": [
                  "get",
                  "list"
                ]
              },
              "tenantId": "11111111-1111-1111-1111-111111111111"
            }
          ],
          "sku": {
            "family": "A",
            "name": "standard"
          },
          "tenantId": "11111111-1111-1111-1111-111111111111"
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-writes": "1171"
      },
      "ResponseBody": {
        "id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/rg1367502488/providers/Microsoft.KeyVault/vaults/vault1401057726",
        "name": "vault1401057726",
        "type": "Microsoft.KeyVault/vaults",
        "location": "westus",
        "tags": {},
        "systemData": {
          "createdBy": "a1fc368b-7f40-4802-8fa1-260d3a6ec34b",
          "createdByType": "Application",
          "createdAt": "2022-02-15T10:02:18.204Z",
          "lastModifiedBy": "a1fc368b-7f40-4802-8fa1-260d3a6ec34b",
          "lastModifiedByType": "Application",
          "lastModifiedAt": "2022-02-15T10:02:18.204Z"
        },
        "properties": {
          "sku": {
            "family": "A",
            "name": "standard"
          },
          "tenantId": "11111111-1111-1111-1111-111111111111",
          "accessPolicies": [
            {
              "tenantId": "11111111-1111-1111-1111-111111111111",
              "objectId": "22222222-2222-2222-2222-222222222222",
              "permissions": {
                "certificates": [
                  "get",
                  "list",
                  "create"
                ],
                "keys": [
                  "get",
                  "list",
                  "create"
                ],
                "secrets": [
                  "get",
                  "list"
                ]
              }
            }
          ],
          "enabledForDeployment": false,
          "enableSoftDelete": true,
          "vaultUri": "https://vault1401057726.vault.azure.net",
          "provisioningState": "RegisteringDns",
          "publicNetworkAccess": "Enabled"
        }
      }
    },
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/rg1367502488/providers/Microsoft.KeyVault/vaults/vault1401057726/accessPolicies/add?api-version=2021-11-01-preview",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        ":authority": "localhost:5001",
        ":method": "PUT",
        ":path": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/rg1367502488/providers/Microsoft.KeyVault/vaults/vault[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/rg1367502488?api-version=2021-04-01",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        ":authority": "localhost:5001",
        ":method": "DELETE",
        ":path": "/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/rg1367502488?api-version=2021-04-01",
        ":scheme": "https",
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "Location": "https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/operationresults/eyJqb2JJZCI6IlJFU09VUkNFR1JPVVBERUxFVElPTkpPQi1SRzEzNjc1MDI0ODgtV0VTVFVTIiwiam9iTG9jYXRpb24iOiJ3ZXN0dXMifQ?api-version=2021-04-01",
        "Retry-After": "15",
        "x-ms-ratelimit-remaining-subscription-deletes": "14991"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {}
}
