{
  "Entries": [
    {
      "RequestUri": "https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/rg71952959?api-version=2021-04-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "location": "westus"
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-writes": "1162"
      },
      "ResponseBody": {
        "id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/rg71952959",
        "name": "rg71952959",
        "type": "Microsoft.Resources/resourceGroups",
        "location": "westus",
        "properties": {
          "provisioningState": "Succeeded"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/rg71952959/providers/Microsoft.KeyVault/vaults/vault71952959?api-version=2021-11-01-preview",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "location": "westus",
        "properties": {
          "accessPolicies": [
            {
              "objectId": "22222222-2222-2222-2222-222222222222",
              "permissions": {
                "certificates": [
                  "get",
                  "list",
                  "create"
                ],
                "keys": [
                  "get",
                  "list",
                  "create"
                ],
                "secrets": [
                  "get",
                  "list"
                ]
              },
              "tenantId": "11111111-1111-1111-1111-111111111111"
            }
          ],
          "sku": {
            "family": "A",
            "name": "standard"
          },
          "tenantId": "11111111-1111-1111-1111-111111111111"
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-writes": "1161"
      },
      "ResponseBody": {
        "id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/rg71952959/providers/Microsoft.KeyVault/vaults/vault71952959",
        "name": "vault71952959",
        "type": "Microsoft.KeyVault/vaults",
        "location": "westus",
        "tags": {},
        "systemData": {
          "createdBy": "a1fc368b-7f40-4802-8fa1-260d3a6ec34b",
          "createdByType": "Application",
          "createdAt": "2022-02-15T09:24:39.606Z",
          "lastModifiedBy": "a1fc368b-7f40-4802-8fa1-260d3a6ec34b",
          "lastModifiedByType": "Application",
          "lastModifiedAt": "2022-02-25T09:49:51.595Z"
        },
        "properties": {
          "sku": {
            "family": "A",
            "name": "standard"
          },
          "tenantId": "11111111-1111-1111-1111-111111111111",
          "accessPolicies": [
            {
              "tenantId": "11111111-1111-1111-1111-111111111111",
              "objectId": "22222222-2222-2222-2222-222222222222",
              "permissions": {
                "certificates": [
                  "get",
                  "list",
                  "create"
                ],
                "keys": [
                  "get",
                  "list",
                  "create"
                ],
                "secrets": [
                  "get",
                  "list"
                ]
              }
            }
          ],
          "enabledForDeployment": false,
          "enableSoftDelete": true,
          "vaultUri": "https://vault71952959.vault.azure.net/",
          "provisioningState": "Succeeded",
          "publicNetworkAccess": "Enabled"
        }
      }
    },
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/rg71952959?api-version=2021-04-01",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "Location": "https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/operationresults/eyJqb2JJZCI6IlJFU09VUkNFR1JPVVBERUxFVElPTkpPQi1SRzcxOTUyOTU5LVdFU1RVUyIsImpvYkxvY2F0aW9uIjoid2VzdHVzIn0?api-version=2021-04-01",
        "Retry-After": "15",
        "x-ms-ratelimit-remaining-subscription-deletes": "14986"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {}
}
