{
  "Entries": [
    {
      "RequestUri": "https://rosebudhsm.managedhsm.azure.net/keys/key-02357843325/create?api-version=7.3-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        ":authority": "localhost:5001",
        ":method": "POST",
        ":path": "/keys/key-02357843325/create?api-version=7.3-preview",
        ":scheme": "https",
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "x-ms-date": "Mon, 25 Oct 2021 17:52:51 GMT"
      },
      "RequestBody": {
        "key_ops": [],
        "kty": "RSA"
      },
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\u0022https://login.microsoftonline.com/72f988bf-86f1-41af-91ab-2d7cd011db47\u0022, resource=\u0022https://managedhsm.azure.net\u0022",
        "x-ms-server-latency": "0"
      },
      "ResponseBody": {
        "error": {
          "code": "Unauthorized",
          "message": "Found token with aud=https://vault.azure.net, but expected aud=https://managedhsm.azure.net (Activity ID: 5f4e1a12-35bc-11ec-b248-000d3a706e2f)"
        }
      }
    }
  ],
  "Variables": {}
}
