{
  "Entries": [
    {
      "RequestUri": "https://fakekvurl.managedhsm.azure.net/keys/key-02357843325/create?api-version=7.3-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        ":authority": "localhost:5001",
        ":method": "POST",
        ":path": "/keys/key-02357843325/create?api-version=7.3-preview",
        ":scheme": "https",
        "Content-Type": "application/json"
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\u0022https://login.microsoftonline.com/00000000-0000-0000-0000-000000000000\u0022, resource=\u0022https://managedhsm.azure.net\u0022",
        "x-ms-server-latency": "1"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakekvurl.managedhsm.azure.net/keys/key-02357843325/create?api-version=7.3-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        ":authority": "localhost:5001",
        ":method": "POST",
        ":path": "/keys/key-02357843325/create?api-version=7.3-preview",
        ":scheme": "https",
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "key_ops": [],
        "kty": "RSA"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-server-latency": "221"
      },
      "ResponseBody": {
        "attributes": {
          "created": 1635445327,
          "enabled": true,
          "exportable": false,
          "recoverableDays": 7,
          "recoveryLevel": "CustomizedRecoverable\u002BPurgeable",
          "updated": 1635445327
        },
        "key": {
          "e": "AQAB",
          "key_ops": [
            "wrapKey",
            "decrypt",
            "encrypt",
            "unwrapKey",
            "sign",
            "verify"
          ],
          "kid": "https://fakekvurl.managedhsm.azure.net/keys/key-02357843325/1a074d2572c405ddbbacdeb8de29d1f7",
          "kty": "RSA-HSM",
          "n": "lxvBFI-ztW8trchA5yDu1Js9kIePtqXhKUCuh1usH04cb5RnFB8uLtnzhB1_7kdcbngyB75ULDzlfiDUxpa1RAY5r_Wxm-dKKVxLqWvuC7E3DUNcE7_23p0oZnS5J_XWPhlxUC9gl2Z_vEf9-QX0ZU1RGZIyzhj-LDoivyqwvNXpFdvk8sXgwYUSrABQKoRAK2hXmtCXTFuqLB2Zf3Xs9WsM5CCgYPA8vuiYHX79pppG7X66lsHb12jWkTI0Yal26Me6PPunTfxzg_IYdmQ_1SPJ6mY3vhcRO0xVy25qRb_pir2s4VCyf11vlhiH3LQbefubXsRyGQYna2tKhUBzjw"
        }
      }
    },
[...]
    {
      "RequestUri": "https://fakekvurl.managedhsm.azure.net/keys?api-version=7.3-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        ":authority": "localhost:5001",
        ":method": "GET",
        ":path": "/keys?api-version=7.3-preview",
        ":scheme": "https"
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\u0022https://login.microsoftonline.com/00000000-0000-0000-0000-000000000000\u0022, resource=\u0022https://managedhsm.azure.net\u0022",
        "x-ms-build-version": "1.0.20210929-1-5b78c022-develop",
        "x-ms-server-latency": "0"
      },
      "ResponseBody": "OK"
    },
    {
      "RequestUri": "https://fakekvurl.managedhsm.azure.net/keys?api-version=7.3-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        ":authority": "localhost:5001",
        ":method": "GET",
        ":path": "/keys?api-version=7.3-preview",
        ":scheme": "https",
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-build-version": "1.0.20210929-1-5b78c022-develop",
        "x-ms-server-latency": "37"
      },
      "ResponseBody": {
        "value": [
          {
            "attributes": {
              "created": 1635444922,
              "enabled": true,
              "exportable": false,
              "recoverableDays": 7,
              "recoveryLevel": "CustomizedRecoverable\u002BPurgeable",
              "updated": 1635444922
            },
            "kid": "https://fakekvurl.managedhsm.azure.net/keys/key1478960915"
          },
          {
            "attributes": {
              "created": 1635445049,
              "enabled": tr[...]
    {
      "RequestUri": "https://fakekvurl.managedhsm.azure.net/keys/key-02357843325?api-version=7.3-preview",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        ":authority": "localhost:5001",
        ":method": "DELETE",
        ":path": "/keys/key-02357843325?api-version=7.3-preview",
        ":scheme": "https"
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\u0022https://login.microsoftonline.com/00000000-0000-0000-0000-000000000000\u0022, resource=\u0022https://managedhsm.azure.net\u0022",
        "x-ms-server-latency": "0"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakekvurl.managedhsm.azure.net/keys/key-02357843325?api-version=7.3-preview",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        ":authority": "localhost:5001",
        ":method": "DELETE",
        ":path": "/keys/key-02357843325?api-version=7.3-preview",
        ":scheme": "https",
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-server-latency": "141"
      },
      "ResponseBody": {
        "attributes": {
          "created": 1635445327,
          "enabled": true,
          "exportable": false,
          "recoverableDays": 7,
          "recoveryLevel": "CustomizedRecoverable\u002BPurgeable",
          "updated": 1635445327
        },
        "deletedDate": 1635445329,
        "key": {
          "e": "AQAB",
          "key_ops": [
            "wrapKey",
            "encrypt",
            "decrypt",
            "unwrapKey",
            "sign",
            "verify"
          ],
          "kid": "https://fakekvurl.managedhsm.azure.net/keys/key-02357843325/1a074d2572c405ddbbacdeb8de29d1f7",
          "kty": "RSA-HSM",
          "n": "lxvBFI-ztW8trchA5yDu1Js9kIePtqXhKUCuh1usH04cb5RnFB8uLtnzhB1_7kdcbngyB75ULDzlfiDUxpa1RAY5r_Wxm-dKKVxLqWvuC7E3DUNcE7_23p0oZnS5J_XWPhlxUC9gl2Z_vEf9-QX0ZU1RGZIyzhj-LDoivyqwvNXpFdvk8sXgwYUSrABQKoRAK2hXmtCXTFuqLB2Zf3Xs9WsM5CCgYPA8vuiYHX79pppG7X66lsHb12jWkTI0Yal26Me6PPunTfxzg_IYdmQ_1SPJ6mY3vhcRO0xVy25qRb_pir2s4VCyf11vlhiH3LQbefubXsRyGQYna2tKhUBzjw"
        },
        "recoveryId": "https://fakekvurl.managedhsm.azure.net/deletedkeys/key-02357843325",
        "scheduledPurgeDate": 1636050129
      }
    },
    {
      "RequestUri": "https://fakekvurl.managedhsm.azure.net/deletedkeys/key-02357843325?api-version=7.3-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        ":authority": "localhost:5001",
        ":method": "GET",
        ":path": "/deletedkeys/key-02357843325?api-version=7.3-preview",
        ":scheme": "https"
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\u0022https://login.microsoftonline.com/00000000-0000-0000-0000-000000000000\u0022, resource=\u0022https://managedhsm.azure.net\u0022",
        "x-ms-build-version": "1.0.20210929-1-5b78c022-develop",
        "x-ms-server-latency": "0"
      },
      "ResponseBody": "OK"
    },
[...]
    {
      "RequestUri": "https://fakekvurl.managedhsm.azure.net/deletedkeys/key-32357843325?api-version=7.3-preview",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        ":authority": "localhost:5001",
        ":method": "DELETE",
        ":path": "/deletedkeys/key-32357843325?api-version=7.3-preview",
        ":scheme": "https",
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-server-latency": "122"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {}
}
