{
  "Entries": [
    {
      "RequestUri": "https://fakekvurl.vault.azure.net/keys/key398251057/create?api-version=7.3-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        ":authority": "localhost:5001",
        ":method": "POST",
        ":path": "/keys/key398251057/create?api-version=7.3-preview",
        ":scheme": "https",
        "Content-Type": "application/json"
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\u0022https://login.windows.net/00000000-0000-0000-0000-000000000000\u0022, resource=\u0022https://vault.azure.net\u0022"
      },
      "ResponseBody": {
        "error": {
          "code": "Unauthorized",
          "message": "AKV10000: Request is missing a Bearer or PoP token."
        }
      }
    },
    {
      "RequestUri": "https://fakekvurl.vault.azure.net/keys/key398251057/create?api-version=7.3-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        ":authority": "localhost:5001",
        ":method": "POST",
        ":path": "/keys/key398251057/create?api-version=7.3-preview",
        ":scheme": "https",
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "key_ops": [],
        "kty": "RSA"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "key": {
          "kid": "https://fakekvurl.vault.azure.net/keys/key398251057/78a42bc42dcf4538ab49f71b8b322dab",
          "kty": "RSA",
          "key_ops": [
            "encrypt",
            "decrypt",
            "sign",
            "verify",
            "wrapKey",
            "unwrapKey"
          ],
          "n": "4wUW_rwKARx8-zrdj-wK3PDZNmUldql1K5d7c9Je3RNkAJCZrE1Wdni-Rh_6rAp8yRrDAngRTCIjkQKOaYEM8S2O2LA4lHor5qdjWKqEI1T5vFa3Q41fG9Jxqh-ohctb6sA4FvYw54LzWsapHaxamKjU5Ipi7RQOGvcqR72YB0GqUx7Lt07CIY2YWbwAthizsOLDMo_RXnzUAsSAkIj22p2FtstU7O4WuTZ_H-gawJZliXWI9Tspj079tDMnu2IL4uZp-WCtrYAoSxCz276oyhrOGLqgVDk8xOCrwAqhkBg7kVF9m5SKnBNdsf3iWriVjRyoGNQt_M5xY-TJt6HVEQ",
          "e": "AQAB"
        },
        "attributes": {
          "enabled": true,
          "created": 1637185302,
          "updated": 1637185302,
          "recoveryLevel": "CustomizedRecoverable\u002BPurgeable",
          "recoverableDays": 7
        }
      }
    },
    {
      "RequestUri": "https://fakekvurl.vault.azure.net/keys/key398251057/?api-version=7.3-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        ":authority": "localhost:5001",
        ":method": "GET",
        ":path": "/keys/key398251057/?api-version=7.3-preview",
        ":scheme": "https",
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "key": {
          "kid": "https://fakekvurl.vault.azure.net/keys/key398251057/78a42bc42dcf4538ab49f71b8b322dab",
          "kty": "RSA",
          "key_ops": [
            "encrypt",
            "decrypt",
            "sign",
            "verify",
            "wrapKey",
            "unwrapKey"
          ],
          "n": "4wUW_rwKARx8-zrdj-wK3PDZNmUldql1K5d7c9Je3RNkAJCZrE1Wdni-Rh_6rAp8yRrDAngRTCIjkQKOaYEM8S2O2LA4lHor5qdjWKqEI1T5vFa3Q41fG9Jxqh-ohctb6sA4FvYw54LzWsapHaxamKjU5Ipi7RQOGvcqR72YB0GqUx7Lt07CIY2YWbwAthizsOLDMo_RXnzUAsSAkIj22p2FtstU7O4WuTZ_H-gawJZliXWI9Tspj079tDMnu2IL4uZp-WCtrYAoSxCz276oyhrOGLqgVDk8xOCrwAqhkBg7kVF9m5SKnBNdsf3iWriVjRyoGNQt_M5xY-TJt6HVEQ",
          "e": "AQAB"
        },
        "attributes": {
          "enabled": true,
          "created": 1637185302,
          "updated": 1637185302,
          "recoveryLevel": "CustomizedRecoverable\u002BPurgeable",
          "recoverableDays": 7
        }
      }
    }
  ],
  "Variables": {}
}
