package costmanagement

// Copyright (c) Microsoft Corporation. All rights reserved.
// Licensed under the MIT License. See License.txt in the project root for license information.
//
// Code generated by Microsoft (R) AutoRest Code Generator.
// Changes may cause incorrect behavior and will be lost if the code is regenerated.

import (
	"context"
	"github.com/Azure/go-autorest/autorest"
	"github.com/Azure/go-autorest/autorest/azure"
	"github.com/Azure/go-autorest/tracing"
	"net/http"
)

// GenerateDetailedCostReportOperationResultsClient is the client for the GenerateDetailedCostReportOperationResults
// methods of the Costmanagement service.
type GenerateDetailedCostReportOperationResultsClient struct {
	BaseClient
}

// NewGenerateDetailedCostReportOperationResultsClient creates an instance of the
// GenerateDetailedCostReportOperationResultsClient client.
func NewGenerateDetailedCostReportOperationResultsClient(subscriptionID string) GenerateDetailedCostReportOperationResultsClient {
	return NewGenerateDetailedCostReportOperationResultsClientWithBaseURI(DefaultBaseURI, subscriptionID)
}

// NewGenerateDetailedCostReportOperationResultsClientWithBaseURI creates an instance of the
// GenerateDetailedCostReportOperationResultsClient client using a custom endpoint.  Use this when interacting with an
// Azure cloud that uses a non-standard base URI (sovereign clouds, Azure stack).
func NewGenerateDetailedCostReportOperationResultsClientWithBaseURI(baseURI string, subscriptionID string) GenerateDetailedCostReportOperationResultsClient {
	return GenerateDetailedCostReportOperationResultsClient{NewWithBaseURI(baseURI, subscriptionID)}
}

// Get get the result of the specified operation. This link is provided in the GenerateDetailedCostReport creation
// request response header.
// Parameters:
// operationID - the target operation Id.
// scope - the scope associated with usage details operations. This includes '/subscriptions/{subscriptionId}/'
// for subscription scope, '/providers/Microsoft.Billing/billingAccounts/{billingAccountId}' for Billing
// Account scope, '/providers/Microsoft.Billing/departments/{departmentId}' for Department scope,
// '/providers/Microsoft.Billing/enrollmentAccounts/{enrollmentAccountId}' for EnrollmentAccount scope. Also,
// Modern Commerce Account scopes are '/providers/Microsoft.Billing/billingAccounts/{billingAccountId}' for
// billingAccount scope,
// '/providers/Microsoft.Billing/billingAccounts/{billingAccountId}/billingProfiles/{billingProfileId}' for
// billingProfile scope,
// 'providers/Microsoft.Billing/billingAccounts/{billingAccountId}/billingProfiles/{billingProfileId}/invoiceSections/{invoiceSectionId}'
// for invoiceSection scope, and
// 'providers/Microsoft.Billing/billingAccounts/{billingAccountId}/customers/{customerId}' specific for
// partners.
func (client GenerateDetailedCostReportOperationResultsClient) Get(ctx context.Context, operationID string, scope string) (result GenerateDetailedCostReportOperationResult, err error) {
	if tracing.IsEnabled() {
		ctx = tracing.StartSpan(ctx, fqdn+"/GenerateDetailedCostReportOperationResultsClient.Get")
		defer func() {
			sc := -1
			if result.Response.Response != nil {
				sc = result.Response.Response.StatusCode
			}
			tracing.EndSpan(ctx, sc, err)
		}()
	}
	req, err := client.GetPreparer(ctx, operationID, scope)
	if err != nil {
		err = autorest.NewErrorWithError(err, "costmanagement.GenerateDetailedCostReportOperationResultsClient", "Get", nil, "Failure preparing request")
		return
	}

	resp, err := client.GetSender(req)
	if err != nil {
		result.Response = autorest.Response{Response: resp}
		err = autorest.NewErrorWithError(err, "costmanagement.GenerateDetailedCostReportOperationResultsClient", "Get", resp, "Failure sending request")
		return
	}

	result, err = client.GetResponder(resp)
	if err != nil {
		err = autorest.NewErrorWithError(err, "costmanagement.GenerateDetailedCostReportOperationResultsClient", "Get", resp, "Failure responding to request")
		return
	}

	return
}

// GetPreparer prepares the Get request.
func (client GenerateDetailedCostReportOperationResultsClient) GetPreparer(ctx context.Context, operationID string, scope string) (*http.Request, error) {
	pathParameters := map[string]interface{}{
		"operationId": autorest.Encode("path", operationID),
		"scope":       scope,
	}

	const APIVersion = "2021-01-01"
	queryParameters := map[string]interface{}{
		"api-version": APIVersion,
	}

	preparer := autorest.CreatePreparer(
		autorest.AsGet(),
		autorest.WithBaseURL(client.BaseURI),
		autorest.WithPathParameters("/{scope}/providers/Microsoft.CostManagement/operationResults/{operationId}", pathParameters),
		autorest.WithQueryParameters(queryParameters))
	return preparer.Prepare((&http.Request{}).WithContext(ctx))
}

// GetSender sends the Get request. The method will close the
// http.Response Body if it receives an error.
func (client GenerateDetailedCostReportOperationResultsClient) GetSender(req *http.Request) (*http.Response, error) {
	return client.Send(req, autorest.DoRetryForStatusCodes(client.RetryAttempts, client.RetryDuration, autorest.StatusCodesForRetry...))
}

// GetResponder handles the response to the Get request. The method always
// closes the http.Response Body.
func (client GenerateDetailedCostReportOperationResultsClient) GetResponder(resp *http.Response) (result GenerateDetailedCostReportOperationResult, err error) {
	err = autorest.Respond(
		resp,
		azure.WithErrorUnlessStatusCode(http.StatusOK, http.StatusAccepted),
		autorest.ByUnmarshallingJSON(&result),
		autorest.ByClosing())
	result.Response = autorest.Response{Response: resp}
	return
}
