// Copyright (c) Microsoft Corporation. All rights reserved.
// Licensed under the MIT License. See License.txt in the project root for license information.
// Code generated by Microsoft (R) AutoRest Code Generator. DO NOT EDIT.
// Changes may cause incorrect behavior and will be lost if the code is regenerated.

package armmigrationassessment

import (
	"context"
	"errors"
	"github.com/Azure/azure-sdk-for-go/sdk/azcore"
	"github.com/Azure/azure-sdk-for-go/sdk/azcore/arm"
	"github.com/Azure/azure-sdk-for-go/sdk/azcore/policy"
	"github.com/Azure/azure-sdk-for-go/sdk/azcore/runtime"
	"net/http"
	"net/url"
	"strings"
)

// AksCostDetailOperationsClient contains the methods for the AksCostDetailOperations group.
// Don't use this type directly, use NewAksCostDetailOperationsClient() instead.
type AksCostDetailOperationsClient struct {
	internal       *arm.Client
	subscriptionID string
}

// NewAksCostDetailOperationsClient creates a new instance of AksCostDetailOperationsClient with the specified values.
//   - subscriptionID - The ID of the target subscription. The value must be an UUID.
//   - credential - used to authorize requests. Usually a credential from azidentity.
//   - options - pass nil to accept the default values.
func NewAksCostDetailOperationsClient(subscriptionID string, credential azcore.TokenCredential, options *arm.ClientOptions) (*AksCostDetailOperationsClient, error) {
	cl, err := arm.NewClient(moduleName, moduleVersion, credential, options)
	if err != nil {
		return nil, err
	}
	client := &AksCostDetailOperationsClient{
		subscriptionID: subscriptionID,
		internal:       cl,
	}
	return client, nil
}

// NewListByAksAssessmentPager - List AKSCostDetail resources by AKSAssessment
//
// Generated from API version 2024-01-01-preview
//   - resourceGroupName - The name of the resource group. The name is case insensitive.
//   - projectName - Assessment Project Name
//   - assessmentName - AKS Assessment Name.
//   - options - AksCostDetailOperationsClientListByAksAssessmentOptions contains the optional parameters for the AksCostDetailOperationsClient.NewListByAksAssessmentPager
//     method.
func (client *AksCostDetailOperationsClient) NewListByAksAssessmentPager(resourceGroupName string, projectName string, assessmentName string, options *AksCostDetailOperationsClientListByAksAssessmentOptions) *runtime.Pager[AksCostDetailOperationsClientListByAksAssessmentResponse] {
	return runtime.NewPager(runtime.PagingHandler[AksCostDetailOperationsClientListByAksAssessmentResponse]{
		More: func(page AksCostDetailOperationsClientListByAksAssessmentResponse) bool {
			return page.NextLink != nil && len(*page.NextLink) > 0
		},
		Fetcher: func(ctx context.Context, page *AksCostDetailOperationsClientListByAksAssessmentResponse) (AksCostDetailOperationsClientListByAksAssessmentResponse, error) {
			ctx = context.WithValue(ctx, runtime.CtxAPINameKey{}, "AksCostDetailOperationsClient.NewListByAksAssessmentPager")
			nextLink := ""
			if page != nil {
				nextLink = *page.NextLink
			}
			resp, err := runtime.FetcherForNextLink(ctx, client.internal.Pipeline(), nextLink, func(ctx context.Context) (*policy.Request, error) {
				return client.listByAksAssessmentCreateRequest(ctx, resourceGroupName, projectName, assessmentName, options)
			}, nil)
			if err != nil {
				return AksCostDetailOperationsClientListByAksAssessmentResponse{}, err
			}
			return client.listByAksAssessmentHandleResponse(resp)
		},
		Tracer: client.internal.Tracer(),
	})
}

// listByAksAssessmentCreateRequest creates the ListByAksAssessment request.
func (client *AksCostDetailOperationsClient) listByAksAssessmentCreateRequest(ctx context.Context, resourceGroupName string, projectName string, assessmentName string, options *AksCostDetailOperationsClientListByAksAssessmentOptions) (*policy.Request, error) {
	urlPath := "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Migrate/assessmentProjects/{projectName}/aksAssessments/{assessmentName}/costDetails"
	if client.subscriptionID == "" {
		return nil, errors.New("parameter client.subscriptionID cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{subscriptionId}", url.PathEscape(client.subscriptionID))
	if resourceGroupName == "" {
		return nil, errors.New("parameter resourceGroupName cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{resourceGroupName}", url.PathEscape(resourceGroupName))
	if projectName == "" {
		return nil, errors.New("parameter projectName cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{projectName}", url.PathEscape(projectName))
	if assessmentName == "" {
		return nil, errors.New("parameter assessmentName cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{assessmentName}", url.PathEscape(assessmentName))
	req, err := runtime.NewRequest(ctx, http.MethodGet, runtime.JoinPaths(client.internal.Endpoint(), urlPath))
	if err != nil {
		return nil, err
	}
	reqQP := req.Raw().URL.Query()
	if options != nil && options.Filter != nil {
		reqQP.Set("$filter", *options.Filter)
	}
	reqQP.Set("api-version", "2024-01-01-preview")
	req.Raw().URL.RawQuery = reqQP.Encode()
	req.Raw().Header["Accept"] = []string{"application/json"}
	return req, nil
}

// listByAksAssessmentHandleResponse handles the ListByAksAssessment response.
func (client *AksCostDetailOperationsClient) listByAksAssessmentHandleResponse(resp *http.Response) (AksCostDetailOperationsClientListByAksAssessmentResponse, error) {
	result := AksCostDetailOperationsClientListByAksAssessmentResponse{}
	if err := runtime.UnmarshalAsJSON(resp, &result.AKSCostDetailListResult); err != nil {
		return AksCostDetailOperationsClientListByAksAssessmentResponse{}, err
	}
	return result, nil
}
