// Copyright (c) Microsoft Corporation. All rights reserved.
// Licensed under the MIT License. See License.txt in the project root for license information.
// Code generated by Microsoft (R) AutoRest Code Generator. DO NOT EDIT.
// Changes may cause incorrect behavior and will be lost if the code is regenerated.

package armmigrationassessment

import (
	"context"
	"errors"
	"github.com/Azure/azure-sdk-for-go/sdk/azcore"
	"github.com/Azure/azure-sdk-for-go/sdk/azcore/arm"
	"github.com/Azure/azure-sdk-for-go/sdk/azcore/policy"
	"github.com/Azure/azure-sdk-for-go/sdk/azcore/runtime"
	"net/http"
	"net/url"
	"strings"
)

// AksClusterOperationsClient contains the methods for the AksClusterOperations group.
// Don't use this type directly, use NewAksClusterOperationsClient() instead.
type AksClusterOperationsClient struct {
	internal       *arm.Client
	subscriptionID string
}

// NewAksClusterOperationsClient creates a new instance of AksClusterOperationsClient with the specified values.
//   - subscriptionID - The ID of the target subscription. The value must be an UUID.
//   - credential - used to authorize requests. Usually a credential from azidentity.
//   - options - pass nil to accept the default values.
func NewAksClusterOperationsClient(subscriptionID string, credential azcore.TokenCredential, options *arm.ClientOptions) (*AksClusterOperationsClient, error) {
	cl, err := arm.NewClient(moduleName, moduleVersion, credential, options)
	if err != nil {
		return nil, err
	}
	client := &AksClusterOperationsClient{
		subscriptionID: subscriptionID,
		internal:       cl,
	}
	return client, nil
}

// Get - Get a AKSCluster
// If the operation fails it returns an *azcore.ResponseError type.
//
// Generated from API version 2024-01-01-preview
//   - resourceGroupName - The name of the resource group. The name is case insensitive.
//   - projectName - Assessment Project Name
//   - assessmentName - AKS Assessment Name.
//   - clusterName - AKS Cluster Name.
//   - options - AksClusterOperationsClientGetOptions contains the optional parameters for the AksClusterOperationsClient.Get
//     method.
func (client *AksClusterOperationsClient) Get(ctx context.Context, resourceGroupName string, projectName string, assessmentName string, clusterName string, options *AksClusterOperationsClientGetOptions) (AksClusterOperationsClientGetResponse, error) {
	var err error
	const operationName = "AksClusterOperationsClient.Get"
	ctx = context.WithValue(ctx, runtime.CtxAPINameKey{}, operationName)
	ctx, endSpan := runtime.StartSpan(ctx, operationName, client.internal.Tracer(), nil)
	defer func() { endSpan(err) }()
	req, err := client.getCreateRequest(ctx, resourceGroupName, projectName, assessmentName, clusterName, options)
	if err != nil {
		return AksClusterOperationsClientGetResponse{}, err
	}
	httpResp, err := client.internal.Pipeline().Do(req)
	if err != nil {
		return AksClusterOperationsClientGetResponse{}, err
	}
	if !runtime.HasStatusCode(httpResp, http.StatusOK) {
		err = runtime.NewResponseError(httpResp)
		return AksClusterOperationsClientGetResponse{}, err
	}
	resp, err := client.getHandleResponse(httpResp)
	return resp, err
}

// getCreateRequest creates the Get request.
func (client *AksClusterOperationsClient) getCreateRequest(ctx context.Context, resourceGroupName string, projectName string, assessmentName string, clusterName string, _ *AksClusterOperationsClientGetOptions) (*policy.Request, error) {
	urlPath := "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Migrate/assessmentProjects/{projectName}/aksAssessments/{assessmentName}/clusters/{clusterName}"
	if client.subscriptionID == "" {
		return nil, errors.New("parameter client.subscriptionID cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{subscriptionId}", url.PathEscape(client.subscriptionID))
	if resourceGroupName == "" {
		return nil, errors.New("parameter resourceGroupName cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{resourceGroupName}", url.PathEscape(resourceGroupName))
	if projectName == "" {
		return nil, errors.New("parameter projectName cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{projectName}", url.PathEscape(projectName))
	if assessmentName == "" {
		return nil, errors.New("parameter assessmentName cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{assessmentName}", url.PathEscape(assessmentName))
	if clusterName == "" {
		return nil, errors.New("parameter clusterName cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{clusterName}", url.PathEscape(clusterName))
	req, err := runtime.NewRequest(ctx, http.MethodGet, runtime.JoinPaths(client.internal.Endpoint(), urlPath))
	if err != nil {
		return nil, err
	}
	reqQP := req.Raw().URL.Query()
	reqQP.Set("api-version", "2024-01-01-preview")
	req.Raw().URL.RawQuery = reqQP.Encode()
	req.Raw().Header["Accept"] = []string{"application/json"}
	return req, nil
}

// getHandleResponse handles the Get response.
func (client *AksClusterOperationsClient) getHandleResponse(resp *http.Response) (AksClusterOperationsClientGetResponse, error) {
	result := AksClusterOperationsClientGetResponse{}
	if err := runtime.UnmarshalAsJSON(resp, &result.AKSCluster); err != nil {
		return AksClusterOperationsClientGetResponse{}, err
	}
	return result, nil
}

// NewListByAksAssessmentPager - List AKSCluster resources by AKSAssessment
//
// Generated from API version 2024-01-01-preview
//   - resourceGroupName - The name of the resource group. The name is case insensitive.
//   - projectName - Assessment Project Name
//   - assessmentName - AKS Assessment Name.
//   - options - AksClusterOperationsClientListByAksAssessmentOptions contains the optional parameters for the AksClusterOperationsClient.NewListByAksAssessmentPager
//     method.
func (client *AksClusterOperationsClient) NewListByAksAssessmentPager(resourceGroupName string, projectName string, assessmentName string, options *AksClusterOperationsClientListByAksAssessmentOptions) *runtime.Pager[AksClusterOperationsClientListByAksAssessmentResponse] {
	return runtime.NewPager(runtime.PagingHandler[AksClusterOperationsClientListByAksAssessmentResponse]{
		More: func(page AksClusterOperationsClientListByAksAssessmentResponse) bool {
			return page.NextLink != nil && len(*page.NextLink) > 0
		},
		Fetcher: func(ctx context.Context, page *AksClusterOperationsClientListByAksAssessmentResponse) (AksClusterOperationsClientListByAksAssessmentResponse, error) {
			ctx = context.WithValue(ctx, runtime.CtxAPINameKey{}, "AksClusterOperationsClient.NewListByAksAssessmentPager")
			nextLink := ""
			if page != nil {
				nextLink = *page.NextLink
			}
			resp, err := runtime.FetcherForNextLink(ctx, client.internal.Pipeline(), nextLink, func(ctx context.Context) (*policy.Request, error) {
				return client.listByAksAssessmentCreateRequest(ctx, resourceGroupName, projectName, assessmentName, options)
			}, nil)
			if err != nil {
				return AksClusterOperationsClientListByAksAssessmentResponse{}, err
			}
			return client.listByAksAssessmentHandleResponse(resp)
		},
		Tracer: client.internal.Tracer(),
	})
}

// listByAksAssessmentCreateRequest creates the ListByAksAssessment request.
func (client *AksClusterOperationsClient) listByAksAssessmentCreateRequest(ctx context.Context, resourceGroupName string, projectName string, assessmentName string, options *AksClusterOperationsClientListByAksAssessmentOptions) (*policy.Request, error) {
	urlPath := "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Migrate/assessmentProjects/{projectName}/aksAssessments/{assessmentName}/clusters"
	if client.subscriptionID == "" {
		return nil, errors.New("parameter client.subscriptionID cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{subscriptionId}", url.PathEscape(client.subscriptionID))
	if resourceGroupName == "" {
		return nil, errors.New("parameter resourceGroupName cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{resourceGroupName}", url.PathEscape(resourceGroupName))
	if projectName == "" {
		return nil, errors.New("parameter projectName cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{projectName}", url.PathEscape(projectName))
	if assessmentName == "" {
		return nil, errors.New("parameter assessmentName cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{assessmentName}", url.PathEscape(assessmentName))
	req, err := runtime.NewRequest(ctx, http.MethodGet, runtime.JoinPaths(client.internal.Endpoint(), urlPath))
	if err != nil {
		return nil, err
	}
	reqQP := req.Raw().URL.Query()
	if options != nil && options.Filter != nil {
		reqQP.Set("$filter", *options.Filter)
	}
	reqQP.Set("api-version", "2024-01-01-preview")
	req.Raw().URL.RawQuery = reqQP.Encode()
	req.Raw().Header["Accept"] = []string{"application/json"}
	return req, nil
}

// listByAksAssessmentHandleResponse handles the ListByAksAssessment response.
func (client *AksClusterOperationsClient) listByAksAssessmentHandleResponse(resp *http.Response) (AksClusterOperationsClientListByAksAssessmentResponse, error) {
	result := AksClusterOperationsClientListByAksAssessmentResponse{}
	if err := runtime.UnmarshalAsJSON(resp, &result.AKSClusterListResult); err != nil {
		return AksClusterOperationsClientListByAksAssessmentResponse{}, err
	}
	return result, nil
}
