// Copyright (c) Microsoft Corporation. All rights reserved.
// Licensed under the MIT License. See License.txt in the project root for license information.
// Code generated by Microsoft (R) AutoRest Code Generator. DO NOT EDIT.
// Changes may cause incorrect behavior and will be lost if the code is regenerated.

package armmigrationassessment

import (
	"context"
	"errors"
	"github.com/Azure/azure-sdk-for-go/sdk/azcore"
	"github.com/Azure/azure-sdk-for-go/sdk/azcore/arm"
	"github.com/Azure/azure-sdk-for-go/sdk/azcore/policy"
	"github.com/Azure/azure-sdk-for-go/sdk/azcore/runtime"
	"net/http"
	"net/url"
	"strings"
)

// AksSummaryOperationsClient contains the methods for the AksSummaryOperations group.
// Don't use this type directly, use NewAksSummaryOperationsClient() instead.
type AksSummaryOperationsClient struct {
	internal       *arm.Client
	subscriptionID string
}

// NewAksSummaryOperationsClient creates a new instance of AksSummaryOperationsClient with the specified values.
//   - subscriptionID - The ID of the target subscription. The value must be an UUID.
//   - credential - used to authorize requests. Usually a credential from azidentity.
//   - options - pass nil to accept the default values.
func NewAksSummaryOperationsClient(subscriptionID string, credential azcore.TokenCredential, options *arm.ClientOptions) (*AksSummaryOperationsClient, error) {
	cl, err := arm.NewClient(moduleName, moduleVersion, credential, options)
	if err != nil {
		return nil, err
	}
	client := &AksSummaryOperationsClient{
		subscriptionID: subscriptionID,
		internal:       cl,
	}
	return client, nil
}

// Get - Get a AKSSummary
// If the operation fails it returns an *azcore.ResponseError type.
//
// Generated from API version 2024-01-01-preview
//   - resourceGroupName - The name of the resource group. The name is case insensitive.
//   - projectName - Assessment Project Name
//   - assessmentName - AKS Assessment Name.
//   - summaryName - AKS Assessment Summary Name.
//   - options - AksSummaryOperationsClientGetOptions contains the optional parameters for the AksSummaryOperationsClient.Get
//     method.
func (client *AksSummaryOperationsClient) Get(ctx context.Context, resourceGroupName string, projectName string, assessmentName string, summaryName string, options *AksSummaryOperationsClientGetOptions) (AksSummaryOperationsClientGetResponse, error) {
	var err error
	const operationName = "AksSummaryOperationsClient.Get"
	ctx = context.WithValue(ctx, runtime.CtxAPINameKey{}, operationName)
	ctx, endSpan := runtime.StartSpan(ctx, operationName, client.internal.Tracer(), nil)
	defer func() { endSpan(err) }()
	req, err := client.getCreateRequest(ctx, resourceGroupName, projectName, assessmentName, summaryName, options)
	if err != nil {
		return AksSummaryOperationsClientGetResponse{}, err
	}
	httpResp, err := client.internal.Pipeline().Do(req)
	if err != nil {
		return AksSummaryOperationsClientGetResponse{}, err
	}
	if !runtime.HasStatusCode(httpResp, http.StatusOK) {
		err = runtime.NewResponseError(httpResp)
		return AksSummaryOperationsClientGetResponse{}, err
	}
	resp, err := client.getHandleResponse(httpResp)
	return resp, err
}

// getCreateRequest creates the Get request.
func (client *AksSummaryOperationsClient) getCreateRequest(ctx context.Context, resourceGroupName string, projectName string, assessmentName string, summaryName string, _ *AksSummaryOperationsClientGetOptions) (*policy.Request, error) {
	urlPath := "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Migrate/assessmentProjects/{projectName}/aksAssessments/{assessmentName}/summaries/{summaryName}"
	if client.subscriptionID == "" {
		return nil, errors.New("parameter client.subscriptionID cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{subscriptionId}", url.PathEscape(client.subscriptionID))
	if resourceGroupName == "" {
		return nil, errors.New("parameter resourceGroupName cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{resourceGroupName}", url.PathEscape(resourceGroupName))
	if projectName == "" {
		return nil, errors.New("parameter projectName cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{projectName}", url.PathEscape(projectName))
	if assessmentName == "" {
		return nil, errors.New("parameter assessmentName cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{assessmentName}", url.PathEscape(assessmentName))
	if summaryName == "" {
		return nil, errors.New("parameter summaryName cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{summaryName}", url.PathEscape(summaryName))
	req, err := runtime.NewRequest(ctx, http.MethodGet, runtime.JoinPaths(client.internal.Endpoint(), urlPath))
	if err != nil {
		return nil, err
	}
	reqQP := req.Raw().URL.Query()
	reqQP.Set("api-version", "2024-01-01-preview")
	req.Raw().URL.RawQuery = reqQP.Encode()
	req.Raw().Header["Accept"] = []string{"application/json"}
	return req, nil
}

// getHandleResponse handles the Get response.
func (client *AksSummaryOperationsClient) getHandleResponse(resp *http.Response) (AksSummaryOperationsClientGetResponse, error) {
	result := AksSummaryOperationsClientGetResponse{}
	if err := runtime.UnmarshalAsJSON(resp, &result.AKSSummary); err != nil {
		return AksSummaryOperationsClientGetResponse{}, err
	}
	return result, nil
}

// NewListByAksAssessmentPager - List AKSSummary resources by AKSAssessment
//
// Generated from API version 2024-01-01-preview
//   - resourceGroupName - The name of the resource group. The name is case insensitive.
//   - projectName - Assessment Project Name
//   - assessmentName - AKS Assessment Name.
//   - options - AksSummaryOperationsClientListByAksAssessmentOptions contains the optional parameters for the AksSummaryOperationsClient.NewListByAksAssessmentPager
//     method.
func (client *AksSummaryOperationsClient) NewListByAksAssessmentPager(resourceGroupName string, projectName string, assessmentName string, options *AksSummaryOperationsClientListByAksAssessmentOptions) *runtime.Pager[AksSummaryOperationsClientListByAksAssessmentResponse] {
	return runtime.NewPager(runtime.PagingHandler[AksSummaryOperationsClientListByAksAssessmentResponse]{
		More: func(page AksSummaryOperationsClientListByAksAssessmentResponse) bool {
			return page.NextLink != nil && len(*page.NextLink) > 0
		},
		Fetcher: func(ctx context.Context, page *AksSummaryOperationsClientListByAksAssessmentResponse) (AksSummaryOperationsClientListByAksAssessmentResponse, error) {
			ctx = context.WithValue(ctx, runtime.CtxAPINameKey{}, "AksSummaryOperationsClient.NewListByAksAssessmentPager")
			nextLink := ""
			if page != nil {
				nextLink = *page.NextLink
			}
			resp, err := runtime.FetcherForNextLink(ctx, client.internal.Pipeline(), nextLink, func(ctx context.Context) (*policy.Request, error) {
				return client.listByAksAssessmentCreateRequest(ctx, resourceGroupName, projectName, assessmentName, options)
			}, nil)
			if err != nil {
				return AksSummaryOperationsClientListByAksAssessmentResponse{}, err
			}
			return client.listByAksAssessmentHandleResponse(resp)
		},
		Tracer: client.internal.Tracer(),
	})
}

// listByAksAssessmentCreateRequest creates the ListByAksAssessment request.
func (client *AksSummaryOperationsClient) listByAksAssessmentCreateRequest(ctx context.Context, resourceGroupName string, projectName string, assessmentName string, _ *AksSummaryOperationsClientListByAksAssessmentOptions) (*policy.Request, error) {
	urlPath := "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Migrate/assessmentProjects/{projectName}/aksAssessments/{assessmentName}/summaries"
	if client.subscriptionID == "" {
		return nil, errors.New("parameter client.subscriptionID cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{subscriptionId}", url.PathEscape(client.subscriptionID))
	if resourceGroupName == "" {
		return nil, errors.New("parameter resourceGroupName cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{resourceGroupName}", url.PathEscape(resourceGroupName))
	if projectName == "" {
		return nil, errors.New("parameter projectName cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{projectName}", url.PathEscape(projectName))
	if assessmentName == "" {
		return nil, errors.New("parameter assessmentName cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{assessmentName}", url.PathEscape(assessmentName))
	req, err := runtime.NewRequest(ctx, http.MethodGet, runtime.JoinPaths(client.internal.Endpoint(), urlPath))
	if err != nil {
		return nil, err
	}
	reqQP := req.Raw().URL.Query()
	reqQP.Set("api-version", "2024-01-01-preview")
	req.Raw().URL.RawQuery = reqQP.Encode()
	req.Raw().Header["Accept"] = []string{"application/json"}
	return req, nil
}

// listByAksAssessmentHandleResponse handles the ListByAksAssessment response.
func (client *AksSummaryOperationsClient) listByAksAssessmentHandleResponse(resp *http.Response) (AksSummaryOperationsClientListByAksAssessmentResponse, error) {
	result := AksSummaryOperationsClientListByAksAssessmentResponse{}
	if err := runtime.UnmarshalAsJSON(resp, &result.AKSSummaryListResult); err != nil {
		return AksSummaryOperationsClientListByAksAssessmentResponse{}, err
	}
	return result, nil
}
