// Copyright (c) Microsoft Corporation. All rights reserved.
// Licensed under the MIT License. See License.txt in the project root for license information.
// Code generated by Microsoft (R) AutoRest Code Generator. DO NOT EDIT.
// Changes may cause incorrect behavior and will be lost if the code is regenerated.

package armmigrationassessment

import (
	"context"
	"errors"
	"github.com/Azure/azure-sdk-for-go/sdk/azcore"
	"github.com/Azure/azure-sdk-for-go/sdk/azcore/arm"
	"github.com/Azure/azure-sdk-for-go/sdk/azcore/policy"
	"github.com/Azure/azure-sdk-for-go/sdk/azcore/runtime"
	"net/http"
	"net/url"
	"strconv"
	"strings"
)

// AvsAssessedMachinesOperationsClient contains the methods for the AvsAssessedMachinesOperations group.
// Don't use this type directly, use NewAvsAssessedMachinesOperationsClient() instead.
type AvsAssessedMachinesOperationsClient struct {
	internal       *arm.Client
	subscriptionID string
}

// NewAvsAssessedMachinesOperationsClient creates a new instance of AvsAssessedMachinesOperationsClient with the specified values.
//   - subscriptionID - The ID of the target subscription. The value must be an UUID.
//   - credential - used to authorize requests. Usually a credential from azidentity.
//   - options - pass nil to accept the default values.
func NewAvsAssessedMachinesOperationsClient(subscriptionID string, credential azcore.TokenCredential, options *arm.ClientOptions) (*AvsAssessedMachinesOperationsClient, error) {
	cl, err := arm.NewClient(moduleName, moduleVersion, credential, options)
	if err != nil {
		return nil, err
	}
	client := &AvsAssessedMachinesOperationsClient{
		subscriptionID: subscriptionID,
		internal:       cl,
	}
	return client, nil
}

// Get - Get a AvsAssessedMachine
// If the operation fails it returns an *azcore.ResponseError type.
//
// Generated from API version 2024-01-01-preview
//   - resourceGroupName - The name of the resource group. The name is case insensitive.
//   - projectName - Assessment Project Name
//   - groupName - Group ARM name
//   - assessmentName - AVS Assessment ARM name
//   - avsAssessedMachineName - AVS assessment Assessed Machine ARM name
//   - options - AvsAssessedMachinesOperationsClientGetOptions contains the optional parameters for the AvsAssessedMachinesOperationsClient.Get
//     method.
func (client *AvsAssessedMachinesOperationsClient) Get(ctx context.Context, resourceGroupName string, projectName string, groupName string, assessmentName string, avsAssessedMachineName string, options *AvsAssessedMachinesOperationsClientGetOptions) (AvsAssessedMachinesOperationsClientGetResponse, error) {
	var err error
	const operationName = "AvsAssessedMachinesOperationsClient.Get"
	ctx = context.WithValue(ctx, runtime.CtxAPINameKey{}, operationName)
	ctx, endSpan := runtime.StartSpan(ctx, operationName, client.internal.Tracer(), nil)
	defer func() { endSpan(err) }()
	req, err := client.getCreateRequest(ctx, resourceGroupName, projectName, groupName, assessmentName, avsAssessedMachineName, options)
	if err != nil {
		return AvsAssessedMachinesOperationsClientGetResponse{}, err
	}
	httpResp, err := client.internal.Pipeline().Do(req)
	if err != nil {
		return AvsAssessedMachinesOperationsClientGetResponse{}, err
	}
	if !runtime.HasStatusCode(httpResp, http.StatusOK) {
		err = runtime.NewResponseError(httpResp)
		return AvsAssessedMachinesOperationsClientGetResponse{}, err
	}
	resp, err := client.getHandleResponse(httpResp)
	return resp, err
}

// getCreateRequest creates the Get request.
func (client *AvsAssessedMachinesOperationsClient) getCreateRequest(ctx context.Context, resourceGroupName string, projectName string, groupName string, assessmentName string, avsAssessedMachineName string, _ *AvsAssessedMachinesOperationsClientGetOptions) (*policy.Request, error) {
	urlPath := "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Migrate/assessmentProjects/{projectName}/groups/{groupName}/avsAssessments/{assessmentName}/avsAssessedMachines/{avsAssessedMachineName}"
	if client.subscriptionID == "" {
		return nil, errors.New("parameter client.subscriptionID cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{subscriptionId}", url.PathEscape(client.subscriptionID))
	if resourceGroupName == "" {
		return nil, errors.New("parameter resourceGroupName cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{resourceGroupName}", url.PathEscape(resourceGroupName))
	if projectName == "" {
		return nil, errors.New("parameter projectName cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{projectName}", url.PathEscape(projectName))
	if groupName == "" {
		return nil, errors.New("parameter groupName cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{groupName}", url.PathEscape(groupName))
	if assessmentName == "" {
		return nil, errors.New("parameter assessmentName cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{assessmentName}", url.PathEscape(assessmentName))
	if avsAssessedMachineName == "" {
		return nil, errors.New("parameter avsAssessedMachineName cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{avsAssessedMachineName}", url.PathEscape(avsAssessedMachineName))
	req, err := runtime.NewRequest(ctx, http.MethodGet, runtime.JoinPaths(client.internal.Endpoint(), urlPath))
	if err != nil {
		return nil, err
	}
	reqQP := req.Raw().URL.Query()
	reqQP.Set("api-version", "2024-01-01-preview")
	req.Raw().URL.RawQuery = reqQP.Encode()
	req.Raw().Header["Accept"] = []string{"application/json"}
	return req, nil
}

// getHandleResponse handles the Get response.
func (client *AvsAssessedMachinesOperationsClient) getHandleResponse(resp *http.Response) (AvsAssessedMachinesOperationsClientGetResponse, error) {
	result := AvsAssessedMachinesOperationsClientGetResponse{}
	if err := runtime.UnmarshalAsJSON(resp, &result.AvsAssessedMachine); err != nil {
		return AvsAssessedMachinesOperationsClientGetResponse{}, err
	}
	return result, nil
}

// NewListByAvsAssessmentPager - List AvsAssessedMachine resources by AvsAssessment
//
// Generated from API version 2024-01-01-preview
//   - resourceGroupName - The name of the resource group. The name is case insensitive.
//   - projectName - Assessment Project Name
//   - groupName - Group ARM name
//   - assessmentName - AVS Assessment ARM name
//   - options - AvsAssessedMachinesOperationsClientListByAvsAssessmentOptions contains the optional parameters for the AvsAssessedMachinesOperationsClient.NewListByAvsAssessmentPager
//     method.
func (client *AvsAssessedMachinesOperationsClient) NewListByAvsAssessmentPager(resourceGroupName string, projectName string, groupName string, assessmentName string, options *AvsAssessedMachinesOperationsClientListByAvsAssessmentOptions) *runtime.Pager[AvsAssessedMachinesOperationsClientListByAvsAssessmentResponse] {
	return runtime.NewPager(runtime.PagingHandler[AvsAssessedMachinesOperationsClientListByAvsAssessmentResponse]{
		More: func(page AvsAssessedMachinesOperationsClientListByAvsAssessmentResponse) bool {
			return page.NextLink != nil && len(*page.NextLink) > 0
		},
		Fetcher: func(ctx context.Context, page *AvsAssessedMachinesOperationsClientListByAvsAssessmentResponse) (AvsAssessedMachinesOperationsClientListByAvsAssessmentResponse, error) {
			ctx = context.WithValue(ctx, runtime.CtxAPINameKey{}, "AvsAssessedMachinesOperationsClient.NewListByAvsAssessmentPager")
			nextLink := ""
			if page != nil {
				nextLink = *page.NextLink
			}
			resp, err := runtime.FetcherForNextLink(ctx, client.internal.Pipeline(), nextLink, func(ctx context.Context) (*policy.Request, error) {
				return client.listByAvsAssessmentCreateRequest(ctx, resourceGroupName, projectName, groupName, assessmentName, options)
			}, nil)
			if err != nil {
				return AvsAssessedMachinesOperationsClientListByAvsAssessmentResponse{}, err
			}
			return client.listByAvsAssessmentHandleResponse(resp)
		},
		Tracer: client.internal.Tracer(),
	})
}

// listByAvsAssessmentCreateRequest creates the ListByAvsAssessment request.
func (client *AvsAssessedMachinesOperationsClient) listByAvsAssessmentCreateRequest(ctx context.Context, resourceGroupName string, projectName string, groupName string, assessmentName string, options *AvsAssessedMachinesOperationsClientListByAvsAssessmentOptions) (*policy.Request, error) {
	urlPath := "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Migrate/assessmentProjects/{projectName}/groups/{groupName}/avsAssessments/{assessmentName}/avsAssessedMachines"
	if client.subscriptionID == "" {
		return nil, errors.New("parameter client.subscriptionID cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{subscriptionId}", url.PathEscape(client.subscriptionID))
	if resourceGroupName == "" {
		return nil, errors.New("parameter resourceGroupName cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{resourceGroupName}", url.PathEscape(resourceGroupName))
	if projectName == "" {
		return nil, errors.New("parameter projectName cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{projectName}", url.PathEscape(projectName))
	if groupName == "" {
		return nil, errors.New("parameter groupName cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{groupName}", url.PathEscape(groupName))
	if assessmentName == "" {
		return nil, errors.New("parameter assessmentName cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{assessmentName}", url.PathEscape(assessmentName))
	req, err := runtime.NewRequest(ctx, http.MethodGet, runtime.JoinPaths(client.internal.Endpoint(), urlPath))
	if err != nil {
		return nil, err
	}
	reqQP := req.Raw().URL.Query()
	if options != nil && options.Filter != nil {
		reqQP.Set("$filter", *options.Filter)
	}
	reqQP.Set("api-version", "2024-01-01-preview")
	if options != nil && options.ContinuationToken != nil {
		reqQP.Set("continuationToken", *options.ContinuationToken)
	}
	if options != nil && options.PageSize != nil {
		reqQP.Set("pageSize", strconv.FormatInt(int64(*options.PageSize), 10))
	}
	if options != nil && options.TotalRecordCount != nil {
		reqQP.Set("totalRecordCount", strconv.FormatInt(int64(*options.TotalRecordCount), 10))
	}
	req.Raw().URL.RawQuery = reqQP.Encode()
	req.Raw().Header["Accept"] = []string{"application/json"}
	return req, nil
}

// listByAvsAssessmentHandleResponse handles the ListByAvsAssessment response.
func (client *AvsAssessedMachinesOperationsClient) listByAvsAssessmentHandleResponse(resp *http.Response) (AvsAssessedMachinesOperationsClientListByAvsAssessmentResponse, error) {
	result := AvsAssessedMachinesOperationsClientListByAvsAssessmentResponse{}
	if err := runtime.UnmarshalAsJSON(resp, &result.AvsAssessedMachineListResult); err != nil {
		return AvsAssessedMachinesOperationsClientListByAvsAssessmentResponse{}, err
	}
	return result, nil
}
