// Copyright (c) Microsoft Corporation. All rights reserved.
// Licensed under the MIT License. See License.txt in the project root for license information.
// Code generated by Microsoft (R) AutoRest Code Generator. DO NOT EDIT.
// Changes may cause incorrect behavior and will be lost if the code is regenerated.

package armmigrationassessment

import (
	"context"
	"errors"
	"github.com/Azure/azure-sdk-for-go/sdk/azcore"
	"github.com/Azure/azure-sdk-for-go/sdk/azcore/arm"
	"github.com/Azure/azure-sdk-for-go/sdk/azcore/policy"
	"github.com/Azure/azure-sdk-for-go/sdk/azcore/runtime"
	"net/http"
	"net/url"
	"strings"
)

// BusinessCaseOverviewSummaryOperationsClient contains the methods for the BusinessCaseOverviewSummaryOperations group.
// Don't use this type directly, use NewBusinessCaseOverviewSummaryOperationsClient() instead.
type BusinessCaseOverviewSummaryOperationsClient struct {
	internal       *arm.Client
	subscriptionID string
}

// NewBusinessCaseOverviewSummaryOperationsClient creates a new instance of BusinessCaseOverviewSummaryOperationsClient with the specified values.
//   - subscriptionID - The ID of the target subscription. The value must be an UUID.
//   - credential - used to authorize requests. Usually a credential from azidentity.
//   - options - pass nil to accept the default values.
func NewBusinessCaseOverviewSummaryOperationsClient(subscriptionID string, credential azcore.TokenCredential, options *arm.ClientOptions) (*BusinessCaseOverviewSummaryOperationsClient, error) {
	cl, err := arm.NewClient(moduleName, moduleVersion, credential, options)
	if err != nil {
		return nil, err
	}
	client := &BusinessCaseOverviewSummaryOperationsClient{
		subscriptionID: subscriptionID,
		internal:       cl,
	}
	return client, nil
}

// Get - Get a OverviewSummary
// If the operation fails it returns an *azcore.ResponseError type.
//
// Generated from API version 2024-01-01-preview
//   - resourceGroupName - The name of the resource group. The name is case insensitive.
//   - projectName - Assessment Project Name
//   - businessCaseName - Business case ARM name
//   - overviewSummaryName - Gets the Name of the Overview Summary.
//   - options - BusinessCaseOverviewSummaryOperationsClientGetOptions contains the optional parameters for the BusinessCaseOverviewSummaryOperationsClient.Get
//     method.
func (client *BusinessCaseOverviewSummaryOperationsClient) Get(ctx context.Context, resourceGroupName string, projectName string, businessCaseName string, overviewSummaryName string, options *BusinessCaseOverviewSummaryOperationsClientGetOptions) (BusinessCaseOverviewSummaryOperationsClientGetResponse, error) {
	var err error
	const operationName = "BusinessCaseOverviewSummaryOperationsClient.Get"
	ctx = context.WithValue(ctx, runtime.CtxAPINameKey{}, operationName)
	ctx, endSpan := runtime.StartSpan(ctx, operationName, client.internal.Tracer(), nil)
	defer func() { endSpan(err) }()
	req, err := client.getCreateRequest(ctx, resourceGroupName, projectName, businessCaseName, overviewSummaryName, options)
	if err != nil {
		return BusinessCaseOverviewSummaryOperationsClientGetResponse{}, err
	}
	httpResp, err := client.internal.Pipeline().Do(req)
	if err != nil {
		return BusinessCaseOverviewSummaryOperationsClientGetResponse{}, err
	}
	if !runtime.HasStatusCode(httpResp, http.StatusOK) {
		err = runtime.NewResponseError(httpResp)
		return BusinessCaseOverviewSummaryOperationsClientGetResponse{}, err
	}
	resp, err := client.getHandleResponse(httpResp)
	return resp, err
}

// getCreateRequest creates the Get request.
func (client *BusinessCaseOverviewSummaryOperationsClient) getCreateRequest(ctx context.Context, resourceGroupName string, projectName string, businessCaseName string, overviewSummaryName string, _ *BusinessCaseOverviewSummaryOperationsClientGetOptions) (*policy.Request, error) {
	urlPath := "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Migrate/assessmentProjects/{projectName}/businessCases/{businessCaseName}/overviewSummaries/{overviewSummaryName}"
	if client.subscriptionID == "" {
		return nil, errors.New("parameter client.subscriptionID cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{subscriptionId}", url.PathEscape(client.subscriptionID))
	if resourceGroupName == "" {
		return nil, errors.New("parameter resourceGroupName cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{resourceGroupName}", url.PathEscape(resourceGroupName))
	if projectName == "" {
		return nil, errors.New("parameter projectName cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{projectName}", url.PathEscape(projectName))
	if businessCaseName == "" {
		return nil, errors.New("parameter businessCaseName cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{businessCaseName}", url.PathEscape(businessCaseName))
	if overviewSummaryName == "" {
		return nil, errors.New("parameter overviewSummaryName cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{overviewSummaryName}", url.PathEscape(overviewSummaryName))
	req, err := runtime.NewRequest(ctx, http.MethodGet, runtime.JoinPaths(client.internal.Endpoint(), urlPath))
	if err != nil {
		return nil, err
	}
	reqQP := req.Raw().URL.Query()
	reqQP.Set("api-version", "2024-01-01-preview")
	req.Raw().URL.RawQuery = reqQP.Encode()
	req.Raw().Header["Accept"] = []string{"application/json"}
	return req, nil
}

// getHandleResponse handles the Get response.
func (client *BusinessCaseOverviewSummaryOperationsClient) getHandleResponse(resp *http.Response) (BusinessCaseOverviewSummaryOperationsClientGetResponse, error) {
	result := BusinessCaseOverviewSummaryOperationsClientGetResponse{}
	if err := runtime.UnmarshalAsJSON(resp, &result.OverviewSummary); err != nil {
		return BusinessCaseOverviewSummaryOperationsClientGetResponse{}, err
	}
	return result, nil
}

// NewListByBusinessCasePager - List OverviewSummary resources by BusinessCase
//
// Generated from API version 2024-01-01-preview
//   - resourceGroupName - The name of the resource group. The name is case insensitive.
//   - projectName - Assessment Project Name
//   - businessCaseName - Business case ARM name
//   - options - BusinessCaseOverviewSummaryOperationsClientListByBusinessCaseOptions contains the optional parameters for the
//     BusinessCaseOverviewSummaryOperationsClient.NewListByBusinessCasePager method.
func (client *BusinessCaseOverviewSummaryOperationsClient) NewListByBusinessCasePager(resourceGroupName string, projectName string, businessCaseName string, options *BusinessCaseOverviewSummaryOperationsClientListByBusinessCaseOptions) *runtime.Pager[BusinessCaseOverviewSummaryOperationsClientListByBusinessCaseResponse] {
	return runtime.NewPager(runtime.PagingHandler[BusinessCaseOverviewSummaryOperationsClientListByBusinessCaseResponse]{
		More: func(page BusinessCaseOverviewSummaryOperationsClientListByBusinessCaseResponse) bool {
			return page.NextLink != nil && len(*page.NextLink) > 0
		},
		Fetcher: func(ctx context.Context, page *BusinessCaseOverviewSummaryOperationsClientListByBusinessCaseResponse) (BusinessCaseOverviewSummaryOperationsClientListByBusinessCaseResponse, error) {
			ctx = context.WithValue(ctx, runtime.CtxAPINameKey{}, "BusinessCaseOverviewSummaryOperationsClient.NewListByBusinessCasePager")
			nextLink := ""
			if page != nil {
				nextLink = *page.NextLink
			}
			resp, err := runtime.FetcherForNextLink(ctx, client.internal.Pipeline(), nextLink, func(ctx context.Context) (*policy.Request, error) {
				return client.listByBusinessCaseCreateRequest(ctx, resourceGroupName, projectName, businessCaseName, options)
			}, nil)
			if err != nil {
				return BusinessCaseOverviewSummaryOperationsClientListByBusinessCaseResponse{}, err
			}
			return client.listByBusinessCaseHandleResponse(resp)
		},
		Tracer: client.internal.Tracer(),
	})
}

// listByBusinessCaseCreateRequest creates the ListByBusinessCase request.
func (client *BusinessCaseOverviewSummaryOperationsClient) listByBusinessCaseCreateRequest(ctx context.Context, resourceGroupName string, projectName string, businessCaseName string, _ *BusinessCaseOverviewSummaryOperationsClientListByBusinessCaseOptions) (*policy.Request, error) {
	urlPath := "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Migrate/assessmentProjects/{projectName}/businessCases/{businessCaseName}/overviewSummaries"
	if client.subscriptionID == "" {
		return nil, errors.New("parameter client.subscriptionID cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{subscriptionId}", url.PathEscape(client.subscriptionID))
	if resourceGroupName == "" {
		return nil, errors.New("parameter resourceGroupName cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{resourceGroupName}", url.PathEscape(resourceGroupName))
	if projectName == "" {
		return nil, errors.New("parameter projectName cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{projectName}", url.PathEscape(projectName))
	if businessCaseName == "" {
		return nil, errors.New("parameter businessCaseName cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{businessCaseName}", url.PathEscape(businessCaseName))
	req, err := runtime.NewRequest(ctx, http.MethodGet, runtime.JoinPaths(client.internal.Endpoint(), urlPath))
	if err != nil {
		return nil, err
	}
	reqQP := req.Raw().URL.Query()
	reqQP.Set("api-version", "2024-01-01-preview")
	req.Raw().URL.RawQuery = reqQP.Encode()
	req.Raw().Header["Accept"] = []string{"application/json"}
	return req, nil
}

// listByBusinessCaseHandleResponse handles the ListByBusinessCase response.
func (client *BusinessCaseOverviewSummaryOperationsClient) listByBusinessCaseHandleResponse(resp *http.Response) (BusinessCaseOverviewSummaryOperationsClientListByBusinessCaseResponse, error) {
	result := BusinessCaseOverviewSummaryOperationsClientListByBusinessCaseResponse{}
	if err := runtime.UnmarshalAsJSON(resp, &result.OverviewSummaryListResult); err != nil {
		return BusinessCaseOverviewSummaryOperationsClientListByBusinessCaseResponse{}, err
	}
	return result, nil
}
