// Copyright (c) Microsoft Corporation. All rights reserved.
// Licensed under the MIT License. See License.txt in the project root for license information.
// Code generated by Microsoft (R) AutoRest Code Generator. DO NOT EDIT.
// Changes may cause incorrect behavior and will be lost if the code is regenerated.

package armmigrationassessment

import (
	"context"
	"errors"
	"github.com/Azure/azure-sdk-for-go/sdk/azcore"
	"github.com/Azure/azure-sdk-for-go/sdk/azcore/arm"
	"github.com/Azure/azure-sdk-for-go/sdk/azcore/policy"
	"github.com/Azure/azure-sdk-for-go/sdk/azcore/runtime"
	"net/http"
	"net/url"
	"strings"
)

// BusinessCasePaasSummaryOperationsClient contains the methods for the BusinessCasePaasSummaryOperations group.
// Don't use this type directly, use NewBusinessCasePaasSummaryOperationsClient() instead.
type BusinessCasePaasSummaryOperationsClient struct {
	internal       *arm.Client
	subscriptionID string
}

// NewBusinessCasePaasSummaryOperationsClient creates a new instance of BusinessCasePaasSummaryOperationsClient with the specified values.
//   - subscriptionID - The ID of the target subscription. The value must be an UUID.
//   - credential - used to authorize requests. Usually a credential from azidentity.
//   - options - pass nil to accept the default values.
func NewBusinessCasePaasSummaryOperationsClient(subscriptionID string, credential azcore.TokenCredential, options *arm.ClientOptions) (*BusinessCasePaasSummaryOperationsClient, error) {
	cl, err := arm.NewClient(moduleName, moduleVersion, credential, options)
	if err != nil {
		return nil, err
	}
	client := &BusinessCasePaasSummaryOperationsClient{
		subscriptionID: subscriptionID,
		internal:       cl,
	}
	return client, nil
}

// Get - Get a PaasSummary
// If the operation fails it returns an *azcore.ResponseError type.
//
// Generated from API version 2024-01-01-preview
//   - resourceGroupName - The name of the resource group. The name is case insensitive.
//   - projectName - Assessment Project Name
//   - businessCaseName - Business case ARM name
//   - paasSummaryName - Gets the Name of the Paas Summary.
//   - options - BusinessCasePaasSummaryOperationsClientGetOptions contains the optional parameters for the BusinessCasePaasSummaryOperationsClient.Get
//     method.
func (client *BusinessCasePaasSummaryOperationsClient) Get(ctx context.Context, resourceGroupName string, projectName string, businessCaseName string, paasSummaryName string, options *BusinessCasePaasSummaryOperationsClientGetOptions) (BusinessCasePaasSummaryOperationsClientGetResponse, error) {
	var err error
	const operationName = "BusinessCasePaasSummaryOperationsClient.Get"
	ctx = context.WithValue(ctx, runtime.CtxAPINameKey{}, operationName)
	ctx, endSpan := runtime.StartSpan(ctx, operationName, client.internal.Tracer(), nil)
	defer func() { endSpan(err) }()
	req, err := client.getCreateRequest(ctx, resourceGroupName, projectName, businessCaseName, paasSummaryName, options)
	if err != nil {
		return BusinessCasePaasSummaryOperationsClientGetResponse{}, err
	}
	httpResp, err := client.internal.Pipeline().Do(req)
	if err != nil {
		return BusinessCasePaasSummaryOperationsClientGetResponse{}, err
	}
	if !runtime.HasStatusCode(httpResp, http.StatusOK) {
		err = runtime.NewResponseError(httpResp)
		return BusinessCasePaasSummaryOperationsClientGetResponse{}, err
	}
	resp, err := client.getHandleResponse(httpResp)
	return resp, err
}

// getCreateRequest creates the Get request.
func (client *BusinessCasePaasSummaryOperationsClient) getCreateRequest(ctx context.Context, resourceGroupName string, projectName string, businessCaseName string, paasSummaryName string, _ *BusinessCasePaasSummaryOperationsClientGetOptions) (*policy.Request, error) {
	urlPath := "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Migrate/assessmentProjects/{projectName}/businessCases/{businessCaseName}/paasSummaries/{paasSummaryName}"
	if client.subscriptionID == "" {
		return nil, errors.New("parameter client.subscriptionID cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{subscriptionId}", url.PathEscape(client.subscriptionID))
	if resourceGroupName == "" {
		return nil, errors.New("parameter resourceGroupName cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{resourceGroupName}", url.PathEscape(resourceGroupName))
	if projectName == "" {
		return nil, errors.New("parameter projectName cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{projectName}", url.PathEscape(projectName))
	if businessCaseName == "" {
		return nil, errors.New("parameter businessCaseName cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{businessCaseName}", url.PathEscape(businessCaseName))
	if paasSummaryName == "" {
		return nil, errors.New("parameter paasSummaryName cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{paasSummaryName}", url.PathEscape(paasSummaryName))
	req, err := runtime.NewRequest(ctx, http.MethodGet, runtime.JoinPaths(client.internal.Endpoint(), urlPath))
	if err != nil {
		return nil, err
	}
	reqQP := req.Raw().URL.Query()
	reqQP.Set("api-version", "2024-01-01-preview")
	req.Raw().URL.RawQuery = reqQP.Encode()
	req.Raw().Header["Accept"] = []string{"application/json"}
	return req, nil
}

// getHandleResponse handles the Get response.
func (client *BusinessCasePaasSummaryOperationsClient) getHandleResponse(resp *http.Response) (BusinessCasePaasSummaryOperationsClientGetResponse, error) {
	result := BusinessCasePaasSummaryOperationsClientGetResponse{}
	if err := runtime.UnmarshalAsJSON(resp, &result.PaasSummary); err != nil {
		return BusinessCasePaasSummaryOperationsClientGetResponse{}, err
	}
	return result, nil
}

// NewListByBusinessCasePager - List PaasSummary resources by BusinessCase
//
// Generated from API version 2024-01-01-preview
//   - resourceGroupName - The name of the resource group. The name is case insensitive.
//   - projectName - Assessment Project Name
//   - businessCaseName - Business case ARM name
//   - options - BusinessCasePaasSummaryOperationsClientListByBusinessCaseOptions contains the optional parameters for the BusinessCasePaasSummaryOperationsClient.NewListByBusinessCasePager
//     method.
func (client *BusinessCasePaasSummaryOperationsClient) NewListByBusinessCasePager(resourceGroupName string, projectName string, businessCaseName string, options *BusinessCasePaasSummaryOperationsClientListByBusinessCaseOptions) *runtime.Pager[BusinessCasePaasSummaryOperationsClientListByBusinessCaseResponse] {
	return runtime.NewPager(runtime.PagingHandler[BusinessCasePaasSummaryOperationsClientListByBusinessCaseResponse]{
		More: func(page BusinessCasePaasSummaryOperationsClientListByBusinessCaseResponse) bool {
			return page.NextLink != nil && len(*page.NextLink) > 0
		},
		Fetcher: func(ctx context.Context, page *BusinessCasePaasSummaryOperationsClientListByBusinessCaseResponse) (BusinessCasePaasSummaryOperationsClientListByBusinessCaseResponse, error) {
			ctx = context.WithValue(ctx, runtime.CtxAPINameKey{}, "BusinessCasePaasSummaryOperationsClient.NewListByBusinessCasePager")
			nextLink := ""
			if page != nil {
				nextLink = *page.NextLink
			}
			resp, err := runtime.FetcherForNextLink(ctx, client.internal.Pipeline(), nextLink, func(ctx context.Context) (*policy.Request, error) {
				return client.listByBusinessCaseCreateRequest(ctx, resourceGroupName, projectName, businessCaseName, options)
			}, nil)
			if err != nil {
				return BusinessCasePaasSummaryOperationsClientListByBusinessCaseResponse{}, err
			}
			return client.listByBusinessCaseHandleResponse(resp)
		},
		Tracer: client.internal.Tracer(),
	})
}

// listByBusinessCaseCreateRequest creates the ListByBusinessCase request.
func (client *BusinessCasePaasSummaryOperationsClient) listByBusinessCaseCreateRequest(ctx context.Context, resourceGroupName string, projectName string, businessCaseName string, _ *BusinessCasePaasSummaryOperationsClientListByBusinessCaseOptions) (*policy.Request, error) {
	urlPath := "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Migrate/assessmentProjects/{projectName}/businessCases/{businessCaseName}/paasSummaries"
	if client.subscriptionID == "" {
		return nil, errors.New("parameter client.subscriptionID cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{subscriptionId}", url.PathEscape(client.subscriptionID))
	if resourceGroupName == "" {
		return nil, errors.New("parameter resourceGroupName cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{resourceGroupName}", url.PathEscape(resourceGroupName))
	if projectName == "" {
		return nil, errors.New("parameter projectName cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{projectName}", url.PathEscape(projectName))
	if businessCaseName == "" {
		return nil, errors.New("parameter businessCaseName cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{businessCaseName}", url.PathEscape(businessCaseName))
	req, err := runtime.NewRequest(ctx, http.MethodGet, runtime.JoinPaths(client.internal.Endpoint(), urlPath))
	if err != nil {
		return nil, err
	}
	reqQP := req.Raw().URL.Query()
	reqQP.Set("api-version", "2024-01-01-preview")
	req.Raw().URL.RawQuery = reqQP.Encode()
	req.Raw().Header["Accept"] = []string{"application/json"}
	return req, nil
}

// listByBusinessCaseHandleResponse handles the ListByBusinessCase response.
func (client *BusinessCasePaasSummaryOperationsClient) listByBusinessCaseHandleResponse(resp *http.Response) (BusinessCasePaasSummaryOperationsClientListByBusinessCaseResponse, error) {
	result := BusinessCasePaasSummaryOperationsClientListByBusinessCaseResponse{}
	if err := runtime.UnmarshalAsJSON(resp, &result.PaasSummaryListResult); err != nil {
		return BusinessCasePaasSummaryOperationsClientListByBusinessCaseResponse{}, err
	}
	return result, nil
}
