// Copyright (c) Microsoft Corporation. All rights reserved.
// Licensed under the MIT License. See License.txt in the project root for license information.
// Code generated by Microsoft (R) AutoRest Code Generator. DO NOT EDIT.
// Changes may cause incorrect behavior and will be lost if the code is regenerated.

package armmigrationassessment

import (
	"context"
	"errors"
	"github.com/Azure/azure-sdk-for-go/sdk/azcore"
	"github.com/Azure/azure-sdk-for-go/sdk/azcore/arm"
	"github.com/Azure/azure-sdk-for-go/sdk/azcore/policy"
	"github.com/Azure/azure-sdk-for-go/sdk/azcore/runtime"
	"net/http"
	"net/url"
	"strings"
)

// SQLAssessmentV2SummaryOperationsClient contains the methods for the SQLAssessmentV2SummaryOperations group.
// Don't use this type directly, use NewSQLAssessmentV2SummaryOperationsClient() instead.
type SQLAssessmentV2SummaryOperationsClient struct {
	internal       *arm.Client
	subscriptionID string
}

// NewSQLAssessmentV2SummaryOperationsClient creates a new instance of SQLAssessmentV2SummaryOperationsClient with the specified values.
//   - subscriptionID - The ID of the target subscription. The value must be an UUID.
//   - credential - used to authorize requests. Usually a credential from azidentity.
//   - options - pass nil to accept the default values.
func NewSQLAssessmentV2SummaryOperationsClient(subscriptionID string, credential azcore.TokenCredential, options *arm.ClientOptions) (*SQLAssessmentV2SummaryOperationsClient, error) {
	cl, err := arm.NewClient(moduleName, moduleVersion, credential, options)
	if err != nil {
		return nil, err
	}
	client := &SQLAssessmentV2SummaryOperationsClient{
		subscriptionID: subscriptionID,
		internal:       cl,
	}
	return client, nil
}

// Get - Get a SqlAssessmentV2Summary
// If the operation fails it returns an *azcore.ResponseError type.
//
// Generated from API version 2024-01-01-preview
//   - resourceGroupName - The name of the resource group. The name is case insensitive.
//   - projectName - Assessment Project Name
//   - groupName - Group ARM name
//   - assessmentName - SQL Assessment arm name.
//   - summaryName - Gets the Name of the SQL Summary.
//   - options - SQLAssessmentV2SummaryOperationsClientGetOptions contains the optional parameters for the SQLAssessmentV2SummaryOperationsClient.Get
//     method.
func (client *SQLAssessmentV2SummaryOperationsClient) Get(ctx context.Context, resourceGroupName string, projectName string, groupName string, assessmentName string, summaryName string, options *SQLAssessmentV2SummaryOperationsClientGetOptions) (SQLAssessmentV2SummaryOperationsClientGetResponse, error) {
	var err error
	const operationName = "SQLAssessmentV2SummaryOperationsClient.Get"
	ctx = context.WithValue(ctx, runtime.CtxAPINameKey{}, operationName)
	ctx, endSpan := runtime.StartSpan(ctx, operationName, client.internal.Tracer(), nil)
	defer func() { endSpan(err) }()
	req, err := client.getCreateRequest(ctx, resourceGroupName, projectName, groupName, assessmentName, summaryName, options)
	if err != nil {
		return SQLAssessmentV2SummaryOperationsClientGetResponse{}, err
	}
	httpResp, err := client.internal.Pipeline().Do(req)
	if err != nil {
		return SQLAssessmentV2SummaryOperationsClientGetResponse{}, err
	}
	if !runtime.HasStatusCode(httpResp, http.StatusOK) {
		err = runtime.NewResponseError(httpResp)
		return SQLAssessmentV2SummaryOperationsClientGetResponse{}, err
	}
	resp, err := client.getHandleResponse(httpResp)
	return resp, err
}

// getCreateRequest creates the Get request.
func (client *SQLAssessmentV2SummaryOperationsClient) getCreateRequest(ctx context.Context, resourceGroupName string, projectName string, groupName string, assessmentName string, summaryName string, _ *SQLAssessmentV2SummaryOperationsClientGetOptions) (*policy.Request, error) {
	urlPath := "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Migrate/assessmentProjects/{projectName}/groups/{groupName}/sqlAssessments/{assessmentName}/summaries/{summaryName}"
	if client.subscriptionID == "" {
		return nil, errors.New("parameter client.subscriptionID cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{subscriptionId}", url.PathEscape(client.subscriptionID))
	if resourceGroupName == "" {
		return nil, errors.New("parameter resourceGroupName cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{resourceGroupName}", url.PathEscape(resourceGroupName))
	if projectName == "" {
		return nil, errors.New("parameter projectName cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{projectName}", url.PathEscape(projectName))
	if groupName == "" {
		return nil, errors.New("parameter groupName cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{groupName}", url.PathEscape(groupName))
	if assessmentName == "" {
		return nil, errors.New("parameter assessmentName cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{assessmentName}", url.PathEscape(assessmentName))
	if summaryName == "" {
		return nil, errors.New("parameter summaryName cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{summaryName}", url.PathEscape(summaryName))
	req, err := runtime.NewRequest(ctx, http.MethodGet, runtime.JoinPaths(client.internal.Endpoint(), urlPath))
	if err != nil {
		return nil, err
	}
	reqQP := req.Raw().URL.Query()
	reqQP.Set("api-version", "2024-01-01-preview")
	req.Raw().URL.RawQuery = reqQP.Encode()
	req.Raw().Header["Accept"] = []string{"application/json"}
	return req, nil
}

// getHandleResponse handles the Get response.
func (client *SQLAssessmentV2SummaryOperationsClient) getHandleResponse(resp *http.Response) (SQLAssessmentV2SummaryOperationsClientGetResponse, error) {
	result := SQLAssessmentV2SummaryOperationsClientGetResponse{}
	if err := runtime.UnmarshalAsJSON(resp, &result.SQLAssessmentV2Summary); err != nil {
		return SQLAssessmentV2SummaryOperationsClientGetResponse{}, err
	}
	return result, nil
}

// NewListBySQLAssessmentV2Pager - List SqlAssessmentV2Summary resources by SqlAssessmentV2
//
// Generated from API version 2024-01-01-preview
//   - resourceGroupName - The name of the resource group. The name is case insensitive.
//   - projectName - Assessment Project Name
//   - groupName - Group ARM name
//   - assessmentName - SQL Assessment arm name.
//   - options - SQLAssessmentV2SummaryOperationsClientListBySQLAssessmentV2Options contains the optional parameters for the SQLAssessmentV2SummaryOperationsClient.NewListBySQLAssessmentV2Pager
//     method.
func (client *SQLAssessmentV2SummaryOperationsClient) NewListBySQLAssessmentV2Pager(resourceGroupName string, projectName string, groupName string, assessmentName string, options *SQLAssessmentV2SummaryOperationsClientListBySQLAssessmentV2Options) *runtime.Pager[SQLAssessmentV2SummaryOperationsClientListBySQLAssessmentV2Response] {
	return runtime.NewPager(runtime.PagingHandler[SQLAssessmentV2SummaryOperationsClientListBySQLAssessmentV2Response]{
		More: func(page SQLAssessmentV2SummaryOperationsClientListBySQLAssessmentV2Response) bool {
			return page.NextLink != nil && len(*page.NextLink) > 0
		},
		Fetcher: func(ctx context.Context, page *SQLAssessmentV2SummaryOperationsClientListBySQLAssessmentV2Response) (SQLAssessmentV2SummaryOperationsClientListBySQLAssessmentV2Response, error) {
			ctx = context.WithValue(ctx, runtime.CtxAPINameKey{}, "SQLAssessmentV2SummaryOperationsClient.NewListBySQLAssessmentV2Pager")
			nextLink := ""
			if page != nil {
				nextLink = *page.NextLink
			}
			resp, err := runtime.FetcherForNextLink(ctx, client.internal.Pipeline(), nextLink, func(ctx context.Context) (*policy.Request, error) {
				return client.listBySQLAssessmentV2CreateRequest(ctx, resourceGroupName, projectName, groupName, assessmentName, options)
			}, nil)
			if err != nil {
				return SQLAssessmentV2SummaryOperationsClientListBySQLAssessmentV2Response{}, err
			}
			return client.listBySQLAssessmentV2HandleResponse(resp)
		},
		Tracer: client.internal.Tracer(),
	})
}

// listBySQLAssessmentV2CreateRequest creates the ListBySQLAssessmentV2 request.
func (client *SQLAssessmentV2SummaryOperationsClient) listBySQLAssessmentV2CreateRequest(ctx context.Context, resourceGroupName string, projectName string, groupName string, assessmentName string, _ *SQLAssessmentV2SummaryOperationsClientListBySQLAssessmentV2Options) (*policy.Request, error) {
	urlPath := "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Migrate/assessmentProjects/{projectName}/groups/{groupName}/sqlAssessments/{assessmentName}/summaries"
	if client.subscriptionID == "" {
		return nil, errors.New("parameter client.subscriptionID cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{subscriptionId}", url.PathEscape(client.subscriptionID))
	if resourceGroupName == "" {
		return nil, errors.New("parameter resourceGroupName cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{resourceGroupName}", url.PathEscape(resourceGroupName))
	if projectName == "" {
		return nil, errors.New("parameter projectName cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{projectName}", url.PathEscape(projectName))
	if groupName == "" {
		return nil, errors.New("parameter groupName cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{groupName}", url.PathEscape(groupName))
	if assessmentName == "" {
		return nil, errors.New("parameter assessmentName cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{assessmentName}", url.PathEscape(assessmentName))
	req, err := runtime.NewRequest(ctx, http.MethodGet, runtime.JoinPaths(client.internal.Endpoint(), urlPath))
	if err != nil {
		return nil, err
	}
	reqQP := req.Raw().URL.Query()
	reqQP.Set("api-version", "2024-01-01-preview")
	req.Raw().URL.RawQuery = reqQP.Encode()
	req.Raw().Header["Accept"] = []string{"application/json"}
	return req, nil
}

// listBySQLAssessmentV2HandleResponse handles the ListBySQLAssessmentV2 response.
func (client *SQLAssessmentV2SummaryOperationsClient) listBySQLAssessmentV2HandleResponse(resp *http.Response) (SQLAssessmentV2SummaryOperationsClientListBySQLAssessmentV2Response, error) {
	result := SQLAssessmentV2SummaryOperationsClientListBySQLAssessmentV2Response{}
	if err := runtime.UnmarshalAsJSON(resp, &result.SQLAssessmentV2SummaryListResult); err != nil {
		return SQLAssessmentV2SummaryOperationsClientListBySQLAssessmentV2Response{}, err
	}
	return result, nil
}
