---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
      Authorization:
      - sanitized
      X-Ms-Date:
      - Tue, 12 Jul 2022 07:32:16 GMT
      x-ms-version:
      - "2020-10-02"
    url: https://azureblobstoragecanada.blob.core.windows.net/gocblobcreatepageifmodifiedsincetrue?restype=container
    method: PUT
  response:
    body: ""
    headers:
      Etag:
      - '"0x8DA63D8A518C34A"'
      Last-Modified:
      - Tue, 12 Jul 2022 07:32:16 GMT
      X-Ms-Version:
      - "2020-10-02"
    status: 201 Created
    code: 201
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Authorization:
      - sanitized
      X-Ms-Date:
      - Tue, 12 Jul 2022 07:32:16 GMT
      x-ms-blob-content-length:
      - "512"
      x-ms-blob-type:
      - PageBlob
      x-ms-version:
      - "2020-10-02"
    url: https://azureblobstoragecanada.blob.core.windows.net/gocblobcreatepageifmodifiedsincetrue/gotestblobblobcreatepageifmodifiedsincetrue
    method: PUT
  response:
    body: ""
    headers:
      Etag:
      - '"0x8DA63D8A53F4011"'
      Last-Modified:
      - Tue, 12 Jul 2022 07:32:16 GMT
      X-Ms-Request-Server-Encrypted:
      - "true"
      X-Ms-Version:
      - "2020-10-02"
      X-Ms-Version-Id:
      - "2022-07-12T07:32:16.2818065Z"
    status: 201 Created
    code: 201
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Authorization:
      - sanitized
      If-Modified-Since:
      - Tue, 12 Jul 2022 07:32:05 GMT
      X-Ms-Date:
      - Tue, 12 Jul 2022 07:32:16 GMT
      x-ms-blob-cache-control:
      - control
      x-ms-blob-content-disposition:
      - my_disposition
      x-ms-blob-content-encoding:
      - my_encoding
      x-ms-blob-content-language:
      - my_language
      x-ms-blob-content-length:
      - "512"
      x-ms-blob-content-type:
      - my_type
      x-ms-blob-sequence-number:
      - "0"
      x-ms-blob-type:
      - PageBlob
      x-ms-meta-Foo:
      - bar
      x-ms-version:
      - "2020-10-02"
    url: https://azureblobstoragecanada.blob.core.windows.net/gocblobcreatepageifmodifiedsincetrue/gotestblobblobcreatepageifmodifiedsincetrue
    method: PUT
  response:
    body: ""
    headers:
      Etag:
      - '"0x8DA63D8A5667168"'
      Last-Modified:
      - Tue, 12 Jul 2022 07:32:16 GMT
      X-Ms-Request-Server-Encrypted:
      - "true"
      X-Ms-Version:
      - "2020-10-02"
      X-Ms-Version-Id:
      - "2022-07-12T07:32:16.5396600Z"
    status: 201 Created
    code: 201
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Authorization:
      - sanitized
      X-Ms-Date:
      - Tue, 12 Jul 2022 07:32:17 GMT
      x-ms-version:
      - "2020-10-02"
    url: https://azureblobstoragecanada.blob.core.windows.net/gocblobcreatepageifmodifiedsincetrue/gotestblobblobcreatepageifmodifiedsincetrue
    method: HEAD
  response:
    body: ""
    headers:
      Content-Disposition:
      - my_disposition
      Content-Language:
      - my_language
      Content-Type:
      - my_type
      Etag:
      - '"0x8DA63D8A5667168"'
      Last-Modified:
      - Tue, 12 Jul 2022 07:32:16 GMT
      X-Ms-Blob-Sequence-Number:
      - "0"
      X-Ms-Blob-Type:
      - PageBlob
      X-Ms-Creation-Time:
      - Tue, 12 Jul 2022 07:32:16 GMT
      X-Ms-Is-Current-Version:
      - "true"
      X-Ms-Lease-State:
      - available
      X-Ms-Lease-Status:
      - unlocked
      X-Ms-Meta-Foo:
      - bar
      X-Ms-Server-Encrypted:
      - "true"
      X-Ms-Version:
      - "2020-10-02"
      X-Ms-Version-Id:
      - "2022-07-12T07:32:16.5396600Z"
    status: 200 OK
    code: 200
    duration: ""
[...]
