---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
      Authorization:
      - sanitized
      X-Ms-Date:
      - Tue, 05 Jul 2022 09:45:33 GMT
      x-ms-version:
      - "2020-10-02"
    url: https://azureblobstoragecanada.blob.core.windows.net/gocblobstartcopymetadata?restype=container
    method: PUT
  response:
    body: ""
    headers:
      Etag:
      - '"0x8DA5E6B1A82D15C"'
      Last-Modified:
      - Tue, 05 Jul 2022 09:45:32 GMT
      X-Ms-Version:
      - "2020-10-02"
    status: 201 Created
    code: 201
    duration: ""
- request:
    body: GoBlockBlobData
    form: {}
    headers:
      Authorization:
      - sanitized
      Content-Type:
      - application/octet-stream
      X-Ms-Date:
      - Tue, 05 Jul 2022 09:45:33 GMT
      x-ms-blob-type:
      - BlockBlob
      x-ms-version:
      - "2020-10-02"
    url: https://azureblobstoragecanada.blob.core.windows.net/gocblobstartcopymetadata/gotestblobblobstartcopymetadata
    method: PUT
  response:
    body: ""
    headers:
      Content-Md5:
      - ebncwguMQu9sgPmr0GazhA==
      Etag:
      - '"0x8DA5E6B1AB089FE"'
      Last-Modified:
      - Tue, 05 Jul 2022 09:45:32 GMT
      X-Ms-Content-Crc64:
      - +JGsS7CR5kg=
      X-Ms-Request-Server-Encrypted:
      - "true"
      X-Ms-Version:
      - "2020-10-02"
      X-Ms-Version-Id:
      - "2022-07-05T09:45:32.8635390Z"
    status: 201 Created
    code: 201
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Authorization:
      - sanitized
      X-Ms-Date:
      - Tue, 05 Jul 2022 09:45:33 GMT
      x-ms-copy-source:
      - https://azureblobstoragecanada.blob.core.windows.net/gocblobstartcopymetadata/gotestblobblobstartcopymetadata
      x-ms-meta-Bla:
      - foo
      x-ms-version:
      - "2020-10-02"
    url: https://azureblobstoragecanada.blob.core.windows.net/gocblobstartcopymetadata/copygotestblobblobstartcopymetadata
    method: PUT
  response:
    body: ""
    headers:
      Etag:
      - '"0x8DA5E6B1ADFF721"'
      Last-Modified:
      - Tue, 05 Jul 2022 09:45:33 GMT
      X-Ms-Copy-Id:
      - 7b762cd8-30ab-44ab-9965-5dd6b24fad8f
      X-Ms-Copy-Status:
      - success
      X-Ms-Version:
      - "2020-10-02"
      X-Ms-Version-Id:
      - "2022-07-05T09:45:33.1753511Z"
    status: 202 Accepted
    code: 202
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Authorization:
      - sanitized
      X-Ms-Date:
      - Tue, 05 Jul 2022 09:45:34 GMT
      x-ms-version:
      - "2020-10-02"
    url: https://azureblobstoragecanada.blob.core.windows.net/gocblobstartcopymetadata/copygotestblobblobstartcopymetadata
    method: HEAD
  response:
    body: ""
    headers:
      Content-Md5:
      - ebncwguMQu9sgPmr0GazhA==
      Content-Type:
      - application/octet-stream
      Etag:
      - '"0x8DA5E6B1ADFF721"'
      Last-Modified:
      - Tue, 05 Jul 2022 09:45:33 GMT
      X-Ms-Access-Tier:
      - Hot
      X-Ms-Access-Tier-Inferred:
      - "true"
      X-Ms-Blob-Type:
      - BlockBlob
      X-Ms-Copy-Completion-Time:
      - Tue, 05 Jul 2022 09:45:33 GMT
      X-Ms-Copy-Id:
      - 7b762cd8-30ab-44ab-9965-5dd6b24fad8f
      X-Ms-Copy-Progress:
      - 15/15
      X-Ms-Copy-Source:
      - https://azureblobstoragecanada.blob.core.windows.net/gocblobstartcopymetadata/gotestblobblobstartcopymetadata
      X-Ms-Copy-Status:
      - success
      X-Ms-Creation-Time:
      - Tue, 05 Jul 2022 09:45:33 GMT
      X-Ms-Is-Current-Version:
      - "true"
      X-Ms-Lease-State:
      - available
      X-Ms-Lease-Status:
      - unlocked
      X-Ms-Meta-Bla:
      - foo
      X-Ms-Server-Encrypted:
      - "true"
      X-Ms-Version:
      - "2020-10-02"
      X-Ms-Version-Id:
      - "2022-07-05T09:45:33.1753511Z"
    status: 200 OK
    code: 200
    duration: ""
[...]
