---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
      Authorization:
      - sanitized
      X-Ms-Date:
      - Thu, 21 Jul 2022 10:45:15 GMT
      x-ms-version:
      - "2020-10-02"
    url: https://azureblobstoragecanada.blob.core.windows.net/gocblobstartcopysourceifmatchtrue?restype=container
    method: PUT
  response:
    body: ""
    headers:
      Etag:
      - '"0x8DA6B0618618FE0"'
      Last-Modified:
      - Thu, 21 Jul 2022 10:45:14 GMT
      X-Ms-Version:
      - "2020-10-02"
    status: 201 Created
    code: 201
    duration: ""
- request:
    body: GoBlockBlobData
    form: {}
    headers:
      Authorization:
      - sanitized
      Content-Type:
      - application/octet-stream
      X-Ms-Date:
      - Thu, 21 Jul 2022 10:45:15 GMT
      x-ms-blob-type:
      - BlockBlob
      x-ms-version:
      - "2020-10-02"
    url: https://azureblobstoragecanada.blob.core.windows.net/gocblobstartcopysourceifmatchtrue/gotestblobblobstartcopysourceifmatchtrue
    method: PUT
  response:
    body: ""
    headers:
      Content-Md5:
      - ebncwguMQu9sgPmr0GazhA==
      Etag:
      - '"0x8DA6B0619207283"'
      Last-Modified:
      - Thu, 21 Jul 2022 10:45:16 GMT
      X-Ms-Content-Crc64:
      - +JGsS7CR5kg=
      X-Ms-Request-Server-Encrypted:
      - "true"
      X-Ms-Version:
      - "2020-10-02"
      X-Ms-Version-Id:
      - "2022-07-21T10:45:16.1889173Z"
    status: 201 Created
    code: 201
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Authorization:
      - sanitized
      X-Ms-Date:
      - Thu, 21 Jul 2022 10:45:16 GMT
      x-ms-version:
      - "2020-10-02"
    url: https://azureblobstoragecanada.blob.core.windows.net/gocblobstartcopysourceifmatchtrue/gotestblobblobstartcopysourceifmatchtrue
    method: HEAD
  response:
    body: ""
    headers:
      Content-Md5:
      - ebncwguMQu9sgPmr0GazhA==
      Content-Type:
      - application/octet-stream
      Etag:
      - '"0x8DA6B0619207283"'
      Last-Modified:
      - Thu, 21 Jul 2022 10:45:16 GMT
      X-Ms-Access-Tier:
      - Hot
      X-Ms-Access-Tier-Inferred:
      - "true"
      X-Ms-Blob-Type:
      - BlockBlob
      X-Ms-Creation-Time:
      - Thu, 21 Jul 2022 10:45:16 GMT
      X-Ms-Is-Current-Version:
      - "true"
      X-Ms-Lease-State:
      - available
      X-Ms-Lease-Status:
      - unlocked
      X-Ms-Server-Encrypted:
      - "true"
      X-Ms-Version:
      - "2020-10-02"
      X-Ms-Version-Id:
      - "2022-07-21T10:45:16.1889173Z"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Authorization:
      - sanitized
      X-Ms-Date:
      - Thu, 21 Jul 2022 10:45:17 GMT
      x-ms-copy-source:
      - https://azureblobstoragecanada.blob.core.windows.net/gocblobstartcopysourceifmatchtrue/gotestblobblobstartcopysourceifmatchtrue
      x-ms-source-if-match:
      - '"0x8DA6B0619207283"'
      x-ms-version:
      - "2020-10-02"
    url: https://azureblobstoragecanada.blob.core.windows.net/gocblobstartcopysourceifmatchtrue/destgotestblobblobstartcopysourceifmatchtrue
    method: PUT
  response:
    body: ""
    headers:
      Etag:
      - '"0x8DA6B0619CF0FF2"'
      Last-Modified:
      - Thu, 21 Jul 2022 10:45:17 GMT
      X-Ms-Copy-Id:
      - 3b6e176e-0dbe-467c-924a-61f2dc084661
      X-Ms-Copy-Status:
      - success
      X-Ms-Version:
      - "2020-10-02"
      X-Ms-Version-Id:
      - "2022-07-21T10:45:17.3332731Z"
    status: 202 Accepted
    code: 202
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Authorization:
      - sanitized
      X-Ms-Date:
      - Thu, 21 Jul 2022 10:45:17 GMT
      x-ms-version:
      - "2020-10-02"
    url: https://azureblobstoragecanada.blob.core.windows.net/gocblobstartcopysourceifmatchtrue/destgotestblobblobstartcopysourceifmatchtrue
    method: HEAD
  response:
    body: ""
    headers:
      Content-Md5:
      - ebncwguMQu9sgPmr0GazhA==
      Content-Type:
      - application/octet-stream
      Etag:
      - '"0x8DA6B0619CF0FF2"'
      Last-Modified:
      - Thu, 21 Jul 2022 10:45:17 GMT
      X-Ms-Access-Tier:
      - Hot
      X-Ms-Access-Tier-Inferred:
      - "true"
      X-Ms-Blob-Type:
      - BlockBlob
      X-Ms-Copy-Completion-Time:
      - Thu, 21 Jul 2022 10:45:17 GMT
      X-Ms-Copy-Id:
      - 3b6e176e-0dbe-467c-924a-61f2dc084661
      X-Ms-Copy-Progress:
      - 15/15
      X-Ms-Copy-Source:
      - https://azureblobstoragecanada.blob.core.windows.net/gocblobstartcopysourceifmatchtrue/gotestblobblobstartcopysourceifmatchtrue
      X-Ms-Copy-Status:
      - success
      X-Ms-Creation-Time:
      - Thu, 21 Jul 2022 10:45:17 GMT
      X-Ms-Is-Current-Version:
      - "true"
      X-Ms-Lease-State:
      - available
      X-Ms-Lease-Status:
      - unlocked
      X-Ms-Server-Encrypted:
      - "true"
      X-Ms-Version:
      - "2020-10-02"
      X-Ms-Version-Id:
      - "2022-07-21T10:45:17.3332731Z"
    status: 200 OK
    code: 200
    duration: ""
[...]
