---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
      Authorization:
      - sanitized
      X-Ms-Date:
      - Tue, 05 Jul 2022 09:45:27 GMT
      x-ms-version:
      - "2020-10-02"
    url: https://azureblobstoragecanada.blob.core.windows.net/gocblobstartcopydestifnonematchtrue?restype=container
    method: PUT
  response:
    body: ""
    headers:
      Etag:
      - '"0x8DA5E6B16FCD71D"'
      Last-Modified:
      - Tue, 05 Jul 2022 09:45:26 GMT
      X-Ms-Version:
      - "2020-10-02"
    status: 201 Created
    code: 201
    duration: ""
- request:
    body: GoBlockBlobData
    form: {}
    headers:
      Authorization:
      - sanitized
      Content-Type:
      - application/octet-stream
      X-Ms-Date:
      - Tue, 05 Jul 2022 09:45:27 GMT
      x-ms-blob-type:
      - BlockBlob
      x-ms-version:
      - "2020-10-02"
    url: https://azureblobstoragecanada.blob.core.windows.net/gocblobstartcopydestifnonematchtrue/gotestblobblobstartcopydestifnonematchtrue
    method: PUT
  response:
    body: ""
    headers:
      Content-Md5:
      - ebncwguMQu9sgPmr0GazhA==
      Etag:
      - '"0x8DA5E6B172619F1"'
      Last-Modified:
      - Tue, 05 Jul 2022 09:45:26 GMT
      X-Ms-Content-Crc64:
      - +JGsS7CR5kg=
      X-Ms-Request-Server-Encrypted:
      - "true"
      X-Ms-Version:
      - "2020-10-02"
      X-Ms-Version-Id:
      - "2022-07-05T09:45:26.9231089Z"
    status: 201 Created
    code: 201
    duration: ""
- request:
    body: GoBlockBlobData
    form: {}
    headers:
      Authorization:
      - sanitized
      Content-Type:
      - application/octet-stream
      X-Ms-Date:
      - Tue, 05 Jul 2022 09:45:27 GMT
      x-ms-blob-type:
      - BlockBlob
      x-ms-version:
      - "2020-10-02"
    url: https://azureblobstoragecanada.blob.core.windows.net/gocblobstartcopydestifnonematchtrue/destgotestblobblobstartcopydestifnonematchtrue
    method: PUT
  response:
    body: ""
    headers:
      Content-Md5:
      - ebncwguMQu9sgPmr0GazhA==
      Etag:
      - '"0x8DA5E6B17553902"'
      Last-Modified:
      - Tue, 05 Jul 2022 09:45:27 GMT
      X-Ms-Content-Crc64:
      - +JGsS7CR5kg=
      X-Ms-Request-Server-Encrypted:
      - "true"
      X-Ms-Version:
      - "2020-10-02"
      X-Ms-Version-Id:
      - "2022-07-05T09:45:27.2319234Z"
    status: 201 Created
    code: 201
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Authorization:
      - sanitized
      X-Ms-Date:
      - Tue, 05 Jul 2022 09:45:28 GMT
      x-ms-version:
      - "2020-10-02"
    url: https://azureblobstoragecanada.blob.core.windows.net/gocblobstartcopydestifnonematchtrue/destgotestblobblobstartcopydestifnonematchtrue
    method: HEAD
  response:
    body: ""
    headers:
      Content-Md5:
      - ebncwguMQu9sgPmr0GazhA==
      Content-Type:
      - application/octet-stream
      Etag:
      - '"0x8DA5E6B17553902"'
      Last-Modified:
      - Tue, 05 Jul 2022 09:45:27 GMT
      X-Ms-Access-Tier:
      - Hot
      X-Ms-Access-Tier-Inferred:
      - "true"
      X-Ms-Blob-Type:
      - BlockBlob
      X-Ms-Creation-Time:
      - Tue, 05 Jul 2022 09:45:27 GMT
      X-Ms-Is-Current-Version:
      - "true"
      X-Ms-Lease-State:
      - available
      X-Ms-Lease-Status:
      - unlocked
      X-Ms-Server-Encrypted:
      - "true"
      X-Ms-Version:
      - "2020-10-02"
      X-Ms-Version-Id:
      - "2022-07-05T09:45:27.2319234Z"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Authorization:
      - sanitized
      X-Ms-Date:
      - Tue, 05 Jul 2022 09:45:28 GMT
      x-ms-version:
      - "2020-10-02"
    url: https://azureblobstoragecanada.blob.core.windows.net/gocblobstartcopydestifnonematchtrue/destgotestblobblobstartcopydestifnonematchtrue?comp=metadata
    method: PUT
  response:
    body: ""
    headers:
      Etag:
      - '"0x8DA5E6B17A98D9A"'
      Last-Modified:
      - Tue, 05 Jul 2022 09:45:27 GMT
      X-Ms-Request-Server-Encrypted:
      - "true"
      X-Ms-Version:
      - "2020-10-02"
      X-Ms-Version-Id:
      - "2022-07-05T09:45:27.7865908Z"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Authorization:
      - sanitized
      If-None-Match:
      - '"0x8DA5E6B17553902"'
      X-Ms-Date:
      - Tue, 05 Jul 2022 09:45:28 GMT
      x-ms-copy-source:
      - https://azureblobstoragecanada.blob.core.windows.net/gocblobstartcopydestifnonematchtrue/gotestblobblobstartcopydestifnonematchtrue
      x-ms-version:
      - "2020-10-02"
    url: https://azureblobstoragecanada.blob.core.windows.net/gocblobstartcopydestifnonematchtrue/destgotestblobblobstartcopydestifnonematchtrue
    method: PUT
  response:
    body: ""
    headers:
      Etag:
      - '"0x8DA5E6B17D30836"'
      Last-Modified:
      - Tue, 05 Jul 2022 09:45:28 GMT
      X-Ms-Copy-Id:
      - 780151f5-ff6b-47bb-95e3-2b3939fc3d44
      X-Ms-Copy-Status:
      - success
      X-Ms-Version:
      - "2020-10-02"
      X-Ms-Version-Id:
      - "2022-07-05T09:45:28.0574278Z"
    status: 202 Accepted
    code: 202
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Authorization:
      - sanitized
      X-Ms-Date:
      - Tue, 05 Jul 2022 09:45:29 GMT
      x-ms-version:
      - "2020-10-02"
    url: https://azureblobstoragecanada.blob.core.windows.net/gocblobstartcopydestifnonematchtrue/destgotestblobblobstartcopydestifnonematchtrue
    method: HEAD
  response:
    body: ""
    headers:
      Content-Md5:
      - ebncwguMQu9sgPmr0GazhA==
      Content-Type:
      - application/octet-stream
      Etag:
      - '"0x8DA5E6B17D30836"'
      Last-Modified:
      - Tue, 05 Jul 2022 09:45:28 GMT
      X-Ms-Access-Tier:
      - Hot
      X-Ms-Access-Tier-Inferred:
      - "true"
      X-Ms-Blob-Type:
      - BlockBlob
      X-Ms-Copy-Completion-Time:
      - Tue, 05 Jul 2022 09:45:28 GMT
      X-Ms-Copy-Id:
      - 780151f5-ff6b-47bb-95e3-2b3939fc3d44
      X-Ms-Copy-Progress:
      - 15/15
      X-Ms-Copy-Source:
      - https://azureblobstoragecanada.blob.core.windows.net/gocblobstartcopydestifnonematchtrue/gotestblobblobstartcopydestifnonematchtrue
      X-Ms-Copy-Status:
      - success
      X-Ms-Creation-Time:
      - Tue, 05 Jul 2022 09:45:27 GMT
      X-Ms-Is-Current-Version:
      - "true"
      X-Ms-Lease-State:
      - available
      X-Ms-Lease-Status:
      - unlocked
      X-Ms-Server-Encrypted:
      - "true"
      X-Ms-Version:
      - "2020-10-02"
      X-Ms-Version-Id:
      - "2022-07-05T09:45:28.0574278Z"
    status: 200 OK
    code: 200
    duration: ""
[...]
