//go:build go1.16
// +build go1.16

// Copyright (c) Microsoft Corporation. All rights reserved.
// Licensed under the MIT License. See License.txt in the project root for license information.
// Code generated by Microsoft (R) AutoRest Code Generator.
// Changes may cause incorrect behavior and will be lost if the code is regenerated.

package armdns

import (
	"context"
	"errors"
	"fmt"
	"github.com/Azure/azure-sdk-for-go/sdk/azcore"
	"github.com/Azure/azure-sdk-for-go/sdk/azcore/arm"
	armruntime "github.com/Azure/azure-sdk-for-go/sdk/azcore/arm/runtime"
	"github.com/Azure/azure-sdk-for-go/sdk/azcore/policy"
	"github.com/Azure/azure-sdk-for-go/sdk/azcore/runtime"
	"net/http"
	"net/url"
	"strings"
)

// DNSResourceReferenceClient contains the methods for the DNSResourceReference group.
// Don't use this type directly, use NewDNSResourceReferenceClient() instead.
type DNSResourceReferenceClient struct {
	ep             string
	pl             runtime.Pipeline
	subscriptionID string
}

// NewDNSResourceReferenceClient creates a new instance of DNSResourceReferenceClient with the specified values.
func NewDNSResourceReferenceClient(subscriptionID string, credential azcore.TokenCredential, options *arm.ClientOptions) *DNSResourceReferenceClient {
	cp := arm.ClientOptions{}
	if options != nil {
		cp = *options
	}
	if len(cp.Host) == 0 {
		cp.Host = arm.AzurePublicCloud
	}
	return &DNSResourceReferenceClient{subscriptionID: subscriptionID, ep: string(cp.Host), pl: armruntime.NewPipeline(module, version, credential, &cp)}
}

// GetByTargetResources - Returns the DNS records specified by the referencing targetResourceIds.
// If the operation fails it returns the *CloudError error type.
func (client *DNSResourceReferenceClient) GetByTargetResources(ctx context.Context, parameters DNSResourceReferenceRequest, options *DNSResourceReferenceGetByTargetResourcesOptions) (DNSResourceReferenceGetByTargetResourcesResponse, error) {
	req, err := client.getByTargetResourcesCreateRequest(ctx, parameters, options)
	if err != nil {
		return DNSResourceReferenceGetByTargetResourcesResponse{}, err
	}
	resp, err := client.pl.Do(req)
	if err != nil {
		return DNSResourceReferenceGetByTargetResourcesResponse{}, err
	}
	if !runtime.HasStatusCode(resp, http.StatusOK) {
		return DNSResourceReferenceGetByTargetResourcesResponse{}, client.getByTargetResourcesHandleError(resp)
	}
	return client.getByTargetResourcesHandleResponse(resp)
}

// getByTargetResourcesCreateRequest creates the GetByTargetResources request.
func (client *DNSResourceReferenceClient) getByTargetResourcesCreateRequest(ctx context.Context, parameters DNSResourceReferenceRequest, options *DNSResourceReferenceGetByTargetResourcesOptions) (*policy.Request, error) {
	urlPath := "/subscriptions/{subscriptionId}/providers/Microsoft.Network/getDnsResourceReference"
	if client.subscriptionID == "" {
		return nil, errors.New("parameter client.subscriptionID cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{subscriptionId}", url.PathEscape(client.subscriptionID))
	req, err := runtime.NewRequest(ctx, http.MethodPost, runtime.JoinPaths(client.ep, urlPath))
	if err != nil {
		return nil, err
	}
	reqQP := req.Raw().URL.Query()
	reqQP.Set("api-version", "2018-05-01")
	req.Raw().URL.RawQuery = reqQP.Encode()
	req.Raw().Header.Set("Accept", "application/json")
	return req, runtime.MarshalAsJSON(req, parameters)
}

// getByTargetResourcesHandleResponse handles the GetByTargetResources response.
func (client *DNSResourceReferenceClient) getByTargetResourcesHandleResponse(resp *http.Response) (DNSResourceReferenceGetByTargetResourcesResponse, error) {
	result := DNSResourceReferenceGetByTargetResourcesResponse{RawResponse: resp}
	if err := runtime.UnmarshalAsJSON(resp, &result.DNSResourceReferenceResult); err != nil {
		return DNSResourceReferenceGetByTargetResourcesResponse{}, runtime.NewResponseError(err, resp)
	}
	return result, nil
}

// getByTargetResourcesHandleError handles the GetByTargetResources error response.
func (client *DNSResourceReferenceClient) getByTargetResourcesHandleError(resp *http.Response) error {
	body, err := runtime.Payload(resp)
	if err != nil {
		return runtime.NewResponseError(err, resp)
	}
	errType := CloudError{raw: string(body)}
	if err := runtime.UnmarshalAsJSON(resp, &errType); err != nil {
		return runtime.NewResponseError(fmt.Errorf("%s\n%s", string(body), err), resp)
	}
	return runtime.NewResponseError(&errType, resp)
}
