// +build go1.13

// Copyright (c) Microsoft Corporation. All rights reserved.
// Licensed under the MIT License. See License.txt in the project root for license information.
// Code generated by Microsoft (R) AutoRest Code Generator.
// Changes may cause incorrect behavior and will be lost if the code is regenerated.

package armapimanagement

import (
	"context"
	"errors"
	"fmt"
	"github.com/Azure/azure-sdk-for-go/sdk/armcore"
	"github.com/Azure/azure-sdk-for-go/sdk/azcore"
	"net/http"
	"net/url"
	"strings"
)

// APIManagementSKUsClient contains the methods for the APIManagementSKUs group.
// Don't use this type directly, use NewAPIManagementSKUsClient() instead.
type APIManagementSKUsClient struct {
	con            *armcore.Connection
	subscriptionID string
}

// NewAPIManagementSKUsClient creates a new instance of APIManagementSKUsClient with the specified values.
func NewAPIManagementSKUsClient(con *armcore.Connection, subscriptionID string) *APIManagementSKUsClient {
	return &APIManagementSKUsClient{con: con, subscriptionID: subscriptionID}
}

// List - Gets the list of Microsoft.ApiManagement SKUs available for your Subscription.
// If the operation fails it returns the *ErrorResponse error type.
func (client *APIManagementSKUsClient) List(options *APIManagementSKUsListOptions) APIManagementSKUsListPager {
	return &apiManagementSKUsListPager{
		client: client,
		requester: func(ctx context.Context) (*azcore.Request, error) {
			return client.listCreateRequest(ctx, options)
		},
		advancer: func(ctx context.Context, resp APIManagementSKUsListResponse) (*azcore.Request, error) {
			return azcore.NewRequest(ctx, http.MethodGet, *resp.APIManagementSKUsResult.NextLink)
		},
	}
}

// listCreateRequest creates the List request.
func (client *APIManagementSKUsClient) listCreateRequest(ctx context.Context, options *APIManagementSKUsListOptions) (*azcore.Request, error) {
	urlPath := "/subscriptions/{subscriptionId}/providers/Microsoft.ApiManagement/skus"
	if client.subscriptionID == "" {
		return nil, errors.New("parameter client.subscriptionID cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{subscriptionId}", url.PathEscape(client.subscriptionID))
	req, err := azcore.NewRequest(ctx, http.MethodGet, azcore.JoinPaths(client.con.Endpoint(), urlPath))
	if err != nil {
		return nil, err
	}
	req.Telemetry(telemetryInfo)
	reqQP := req.URL.Query()
	reqQP.Set("api-version", "2020-12-01")
	req.URL.RawQuery = reqQP.Encode()
	req.Header.Set("Accept", "application/json")
	return req, nil
}

// listHandleResponse handles the List response.
func (client *APIManagementSKUsClient) listHandleResponse(resp *azcore.Response) (APIManagementSKUsListResponse, error) {
	result := APIManagementSKUsListResponse{RawResponse: resp.Response}
	if err := resp.UnmarshalAsJSON(&result.APIManagementSKUsResult); err != nil {
		return APIManagementSKUsListResponse{}, err
	}
	return result, nil
}

// listHandleError handles the List error response.
func (client *APIManagementSKUsClient) listHandleError(resp *azcore.Response) error {
	body, err := resp.Payload()
	if err != nil {
		return azcore.NewResponseError(err, resp.Response)
	}
	errType := ErrorResponse{raw: string(body)}
	if err := resp.UnmarshalAsJSON(&errType.InnerError); err != nil {
		return azcore.NewResponseError(fmt.Errorf("%s\n%s", string(body), err), resp.Response)
	}
	return azcore.NewResponseError(&errType, resp.Response)
}
