// +build go1.13

// Copyright (c) Microsoft Corporation. All rights reserved.
// Licensed under the MIT License. See License.txt in the project root for license information.
// Code generated by Microsoft (R) AutoRest Code Generator.
// Changes may cause incorrect behavior and will be lost if the code is regenerated.

package armapimanagement

import (
	"context"
	"fmt"
	"github.com/Azure/azure-sdk-for-go/sdk/armcore"
	"github.com/Azure/azure-sdk-for-go/sdk/azcore"
	"net/http"
)

// APIManagementOperationsClient contains the methods for the APIManagementOperations group.
// Don't use this type directly, use NewAPIManagementOperationsClient() instead.
type APIManagementOperationsClient struct {
	con *armcore.Connection
}

// NewAPIManagementOperationsClient creates a new instance of APIManagementOperationsClient with the specified values.
func NewAPIManagementOperationsClient(con *armcore.Connection) *APIManagementOperationsClient {
	return &APIManagementOperationsClient{con: con}
}

// List - Lists all of the available REST API operations of the Microsoft.ApiManagement provider.
// If the operation fails it returns the *ErrorResponse error type.
func (client *APIManagementOperationsClient) List(options *APIManagementOperationsListOptions) APIManagementOperationsListPager {
	return &apiManagementOperationsListPager{
		client: client,
		requester: func(ctx context.Context) (*azcore.Request, error) {
			return client.listCreateRequest(ctx, options)
		},
		advancer: func(ctx context.Context, resp APIManagementOperationsListResponse) (*azcore.Request, error) {
			return azcore.NewRequest(ctx, http.MethodGet, *resp.OperationListResult.NextLink)
		},
	}
}

// listCreateRequest creates the List request.
func (client *APIManagementOperationsClient) listCreateRequest(ctx context.Context, options *APIManagementOperationsListOptions) (*azcore.Request, error) {
	urlPath := "/providers/Microsoft.ApiManagement/operations"
	req, err := azcore.NewRequest(ctx, http.MethodGet, azcore.JoinPaths(client.con.Endpoint(), urlPath))
	if err != nil {
		return nil, err
	}
	req.Telemetry(telemetryInfo)
	reqQP := req.URL.Query()
	reqQP.Set("api-version", "2020-12-01")
	req.URL.RawQuery = reqQP.Encode()
	req.Header.Set("Accept", "application/json")
	return req, nil
}

// listHandleResponse handles the List response.
func (client *APIManagementOperationsClient) listHandleResponse(resp *azcore.Response) (APIManagementOperationsListResponse, error) {
	result := APIManagementOperationsListResponse{RawResponse: resp.Response}
	if err := resp.UnmarshalAsJSON(&result.OperationListResult); err != nil {
		return APIManagementOperationsListResponse{}, err
	}
	return result, nil
}

// listHandleError handles the List error response.
func (client *APIManagementOperationsClient) listHandleError(resp *azcore.Response) error {
	body, err := resp.Payload()
	if err != nil {
		return azcore.NewResponseError(err, resp.Response)
	}
	errType := ErrorResponse{raw: string(body)}
	if err := resp.UnmarshalAsJSON(&errType.InnerError); err != nil {
		return azcore.NewResponseError(fmt.Errorf("%s\n%s", string(body), err), resp.Response)
	}
	return azcore.NewResponseError(&errType, resp.Response)
}
