// +build go1.13

// Copyright (c) Microsoft Corporation. All rights reserved.
// Licensed under the MIT License. See License.txt in the project root for license information.
// Code generated by Microsoft (R) AutoRest Code Generator.
// Changes may cause incorrect behavior and will be lost if the code is regenerated.

package armapimanagement

import (
	"context"
	"errors"
	"fmt"
	"github.com/Azure/azure-sdk-for-go/sdk/armcore"
	"github.com/Azure/azure-sdk-for-go/sdk/azcore"
	"net/http"
	"net/url"
	"strings"
)

// APIManagementServiceSKUsClient contains the methods for the APIManagementServiceSKUs group.
// Don't use this type directly, use NewAPIManagementServiceSKUsClient() instead.
type APIManagementServiceSKUsClient struct {
	con            *armcore.Connection
	subscriptionID string
}

// NewAPIManagementServiceSKUsClient creates a new instance of APIManagementServiceSKUsClient with the specified values.
func NewAPIManagementServiceSKUsClient(con *armcore.Connection, subscriptionID string) *APIManagementServiceSKUsClient {
	return &APIManagementServiceSKUsClient{con: con, subscriptionID: subscriptionID}
}

// ListAvailableServiceSKUs - Gets all available SKU for a given API Management service
// If the operation fails it returns the *ErrorResponse error type.
func (client *APIManagementServiceSKUsClient) ListAvailableServiceSKUs(resourceGroupName string, serviceName string, options *APIManagementServiceSKUsListAvailableServiceSKUsOptions) APIManagementServiceSKUsListAvailableServiceSKUsPager {
	return &apiManagementServiceSKUsListAvailableServiceSKUsPager{
		client: client,
		requester: func(ctx context.Context) (*azcore.Request, error) {
			return client.listAvailableServiceSKUsCreateRequest(ctx, resourceGroupName, serviceName, options)
		},
		advancer: func(ctx context.Context, resp APIManagementServiceSKUsListAvailableServiceSKUsResponse) (*azcore.Request, error) {
			return azcore.NewRequest(ctx, http.MethodGet, *resp.ResourceSKUResults.NextLink)
		},
	}
}

// listAvailableServiceSKUsCreateRequest creates the ListAvailableServiceSKUs request.
func (client *APIManagementServiceSKUsClient) listAvailableServiceSKUsCreateRequest(ctx context.Context, resourceGroupName string, serviceName string, options *APIManagementServiceSKUsListAvailableServiceSKUsOptions) (*azcore.Request, error) {
	urlPath := "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ApiManagement/service/{serviceName}/skus"
	if resourceGroupName == "" {
		return nil, errors.New("parameter resourceGroupName cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{resourceGroupName}", url.PathEscape(resourceGroupName))
	if serviceName == "" {
		return nil, errors.New("parameter serviceName cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{serviceName}", url.PathEscape(serviceName))
	if client.subscriptionID == "" {
		return nil, errors.New("parameter client.subscriptionID cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{subscriptionId}", url.PathEscape(client.subscriptionID))
	req, err := azcore.NewRequest(ctx, http.MethodGet, azcore.JoinPaths(client.con.Endpoint(), urlPath))
	if err != nil {
		return nil, err
	}
	req.Telemetry(telemetryInfo)
	reqQP := req.URL.Query()
	reqQP.Set("api-version", "2020-12-01")
	req.URL.RawQuery = reqQP.Encode()
	req.Header.Set("Accept", "application/json")
	return req, nil
}

// listAvailableServiceSKUsHandleResponse handles the ListAvailableServiceSKUs response.
func (client *APIManagementServiceSKUsClient) listAvailableServiceSKUsHandleResponse(resp *azcore.Response) (APIManagementServiceSKUsListAvailableServiceSKUsResponse, error) {
	result := APIManagementServiceSKUsListAvailableServiceSKUsResponse{RawResponse: resp.Response}
	if err := resp.UnmarshalAsJSON(&result.ResourceSKUResults); err != nil {
		return APIManagementServiceSKUsListAvailableServiceSKUsResponse{}, err
	}
	return result, nil
}

// listAvailableServiceSKUsHandleError handles the ListAvailableServiceSKUs error response.
func (client *APIManagementServiceSKUsClient) listAvailableServiceSKUsHandleError(resp *azcore.Response) error {
	body, err := resp.Payload()
	if err != nil {
		return azcore.NewResponseError(err, resp.Response)
	}
	errType := ErrorResponse{raw: string(body)}
	if err := resp.UnmarshalAsJSON(&errType.InnerError); err != nil {
		return azcore.NewResponseError(fmt.Errorf("%s\n%s", string(body), err), resp.Response)
	}
	return azcore.NewResponseError(&errType, resp.Response)
}
