//go:build go1.16
// +build go1.16

// Copyright (c) Microsoft Corporation. All rights reserved.
// Licensed under the MIT License. See License.txt in the project root for license information.
// Code generated by Microsoft (R) AutoRest Code Generator.
// Changes may cause incorrect behavior and will be lost if the code is regenerated.

package armnetapp

import (
	"context"
	"errors"
	"github.com/Azure/azure-sdk-for-go/sdk/azcore"
	"github.com/Azure/azure-sdk-for-go/sdk/azcore/arm"
	armruntime "github.com/Azure/azure-sdk-for-go/sdk/azcore/arm/runtime"
	"github.com/Azure/azure-sdk-for-go/sdk/azcore/policy"
	"github.com/Azure/azure-sdk-for-go/sdk/azcore/runtime"
	"net/http"
	"net/url"
	"strings"
)

// NetAppResourceQuotaLimitsClient contains the methods for the NetAppResourceQuotaLimits group.
// Don't use this type directly, use NewNetAppResourceQuotaLimitsClient() instead.
type NetAppResourceQuotaLimitsClient struct {
	ep             string
	pl             runtime.Pipeline
	subscriptionID string
}

// NewNetAppResourceQuotaLimitsClient creates a new instance of NetAppResourceQuotaLimitsClient with the specified values.
func NewNetAppResourceQuotaLimitsClient(subscriptionID string, credential azcore.TokenCredential, options *arm.ClientOptions) *NetAppResourceQuotaLimitsClient {
	cp := arm.ClientOptions{}
	if options != nil {
		cp = *options
	}
	if len(cp.Host) == 0 {
		cp.Host = arm.AzurePublicCloud
	}
	return &NetAppResourceQuotaLimitsClient{subscriptionID: subscriptionID, ep: string(cp.Host), pl: armruntime.NewPipeline(module, version, credential, &cp)}
}

// Get - Get the default and current subscription quota limit
// If the operation fails it returns a generic error.
func (client *NetAppResourceQuotaLimitsClient) Get(ctx context.Context, location string, quotaLimitName string, options *NetAppResourceQuotaLimitsGetOptions) (NetAppResourceQuotaLimitsGetResponse, error) {
	req, err := client.getCreateRequest(ctx, location, quotaLimitName, options)
	if err != nil {
		return NetAppResourceQuotaLimitsGetResponse{}, err
	}
	resp, err := client.pl.Do(req)
	if err != nil {
		return NetAppResourceQuotaLimitsGetResponse{}, err
	}
	if !runtime.HasStatusCode(resp, http.StatusOK) {
		return NetAppResourceQuotaLimitsGetResponse{}, client.getHandleError(resp)
	}
	return client.getHandleResponse(resp)
}

// getCreateRequest creates the Get request.
func (client *NetAppResourceQuotaLimitsClient) getCreateRequest(ctx context.Context, location string, quotaLimitName string, options *NetAppResourceQuotaLimitsGetOptions) (*policy.Request, error) {
	urlPath := "/subscriptions/{subscriptionId}/providers/Microsoft.NetApp/locations/{location}/quotaLimits/{quotaLimitName}"
	if client.subscriptionID == "" {
		return nil, errors.New("parameter client.subscriptionID cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{subscriptionId}", url.PathEscape(client.subscriptionID))
	if location == "" {
		return nil, errors.New("parameter location cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{location}", url.PathEscape(location))
	if quotaLimitName == "" {
		return nil, errors.New("parameter quotaLimitName cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{quotaLimitName}", url.PathEscape(quotaLimitName))
	req, err := runtime.NewRequest(ctx, http.MethodGet, runtime.JoinPaths(client.ep, urlPath))
	if err != nil {
		return nil, err
	}
	reqQP := req.Raw().URL.Query()
	reqQP.Set("api-version", "2021-08-01")
	req.Raw().URL.RawQuery = reqQP.Encode()
	req.Raw().Header.Set("Accept", "application/json")
	return req, nil
}

// getHandleResponse handles the Get response.
func (client *NetAppResourceQuotaLimitsClient) getHandleResponse(resp *http.Response) (NetAppResourceQuotaLimitsGetResponse, error) {
	result := NetAppResourceQuotaLimitsGetResponse{RawResponse: resp}
	if err := runtime.UnmarshalAsJSON(resp, &result.SubscriptionQuotaItem); err != nil {
		return NetAppResourceQuotaLimitsGetResponse{}, runtime.NewResponseError(err, resp)
	}
	return result, nil
}

// getHandleError handles the Get error response.
func (client *NetAppResourceQuotaLimitsClient) getHandleError(resp *http.Response) error {
	body, err := runtime.Payload(resp)
	if err != nil {
		return runtime.NewResponseError(err, resp)
	}
	if len(body) == 0 {
		return runtime.NewResponseError(errors.New(resp.Status), resp)
	}
	return runtime.NewResponseError(errors.New(string(body)), resp)
}

// List - Get the default and current limits for quotas
// If the operation fails it returns a generic error.
func (client *NetAppResourceQuotaLimitsClient) List(ctx context.Context, location string, options *NetAppResourceQuotaLimitsListOptions) (NetAppResourceQuotaLimitsListResponse, error) {
	req, err := client.listCreateRequest(ctx, location, options)
	if err != nil {
		return NetAppResourceQuotaLimitsListResponse{}, err
	}
	resp, err := client.pl.Do(req)
	if err != nil {
		return NetAppResourceQuotaLimitsListResponse{}, err
	}
	if !runtime.HasStatusCode(resp, http.StatusOK) {
		return NetAppResourceQuotaLimitsListResponse{}, client.listHandleError(resp)
	}
	return client.listHandleResponse(resp)
}

// listCreateRequest creates the List request.
func (client *NetAppResourceQuotaLimitsClient) listCreateRequest(ctx context.Context, location string, options *NetAppResourceQuotaLimitsListOptions) (*policy.Request, error) {
	urlPath := "/subscriptions/{subscriptionId}/providers/Microsoft.NetApp/locations/{location}/quotaLimits"
	if client.subscriptionID == "" {
		return nil, errors.New("parameter client.subscriptionID cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{subscriptionId}", url.PathEscape(client.subscriptionID))
	if location == "" {
		return nil, errors.New("parameter location cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{location}", url.PathEscape(location))
	req, err := runtime.NewRequest(ctx, http.MethodGet, runtime.JoinPaths(client.ep, urlPath))
	if err != nil {
		return nil, err
	}
	reqQP := req.Raw().URL.Query()
	reqQP.Set("api-version", "2021-08-01")
	req.Raw().URL.RawQuery = reqQP.Encode()
	req.Raw().Header.Set("Accept", "application/json")
	return req, nil
}

// listHandleResponse handles the List response.
func (client *NetAppResourceQuotaLimitsClient) listHandleResponse(resp *http.Response) (NetAppResourceQuotaLimitsListResponse, error) {
	result := NetAppResourceQuotaLimitsListResponse{RawResponse: resp}
	if err := runtime.UnmarshalAsJSON(resp, &result.SubscriptionQuotaItemList); err != nil {
		return NetAppResourceQuotaLimitsListResponse{}, runtime.NewResponseError(err, resp)
	}
	return result, nil
}

// listHandleError handles the List error response.
func (client *NetAppResourceQuotaLimitsClient) listHandleError(resp *http.Response) error {
	body, err := runtime.Payload(resp)
	if err != nil {
		return runtime.NewResponseError(err, resp)
	}
	if len(body) == 0 {
		return runtime.NewResponseError(errors.New(resp.Status), resp)
	}
	return runtime.NewResponseError(errors.New(string(body)), resp)
}
