//go:build go1.16
// +build go1.16

// Copyright (c) Microsoft Corporation. All rights reserved.
// Licensed under the MIT License. See License.txt in the project root for license information.
// Code generated by Microsoft (R) AutoRest Code Generator.
// Changes may cause incorrect behavior and will be lost if the code is regenerated.

package armelastic

import (
	"context"
	"errors"
	"fmt"
	"github.com/Azure/azure-sdk-for-go/sdk/azcore"
	"github.com/Azure/azure-sdk-for-go/sdk/azcore/arm"
	armruntime "github.com/Azure/azure-sdk-for-go/sdk/azcore/arm/runtime"
	"github.com/Azure/azure-sdk-for-go/sdk/azcore/policy"
	"github.com/Azure/azure-sdk-for-go/sdk/azcore/runtime"
	"net/http"
	"net/url"
	"strings"
)

// VMIngestionClient contains the methods for the VMIngestion group.
// Don't use this type directly, use NewVMIngestionClient() instead.
type VMIngestionClient struct {
	ep             string
	pl             runtime.Pipeline
	subscriptionID string
}

// NewVMIngestionClient creates a new instance of VMIngestionClient with the specified values.
func NewVMIngestionClient(subscriptionID string, credential azcore.TokenCredential, options *arm.ClientOptions) *VMIngestionClient {
	cp := arm.ClientOptions{}
	if options != nil {
		cp = *options
	}
	if len(cp.Host) == 0 {
		cp.Host = arm.AzurePublicCloud
	}
	return &VMIngestionClient{subscriptionID: subscriptionID, ep: string(cp.Host), pl: armruntime.NewPipeline(module, version, credential, &cp)}
}

// Details - List the vm ingestion details that will be monitored by the Elastic monitor resource.
// If the operation fails it returns the *ResourceProviderDefaultErrorResponse error type.
func (client *VMIngestionClient) Details(ctx context.Context, resourceGroupName string, monitorName string, options *VMIngestionDetailsOptions) (VMIngestionDetailsResponseEnvelope, error) {
	req, err := client.detailsCreateRequest(ctx, resourceGroupName, monitorName, options)
	if err != nil {
		return VMIngestionDetailsResponseEnvelope{}, err
	}
	resp, err := client.pl.Do(req)
	if err != nil {
		return VMIngestionDetailsResponseEnvelope{}, err
	}
	if !runtime.HasStatusCode(resp, http.StatusOK) {
		return VMIngestionDetailsResponseEnvelope{}, client.detailsHandleError(resp)
	}
	return client.detailsHandleResponse(resp)
}

// detailsCreateRequest creates the Details request.
func (client *VMIngestionClient) detailsCreateRequest(ctx context.Context, resourceGroupName string, monitorName string, options *VMIngestionDetailsOptions) (*policy.Request, error) {
	urlPath := "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Elastic/monitors/{monitorName}/vmIngestionDetails"
	if client.subscriptionID == "" {
		return nil, errors.New("parameter client.subscriptionID cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{subscriptionId}", url.PathEscape(client.subscriptionID))
	if resourceGroupName == "" {
		return nil, errors.New("parameter resourceGroupName cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{resourceGroupName}", url.PathEscape(resourceGroupName))
	if monitorName == "" {
		return nil, errors.New("parameter monitorName cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{monitorName}", url.PathEscape(monitorName))
	req, err := runtime.NewRequest(ctx, http.MethodPost, runtime.JoinPaths(client.ep, urlPath))
	if err != nil {
		return nil, err
	}
	reqQP := req.Raw().URL.Query()
	reqQP.Set("api-version", "2020-07-01")
	req.Raw().URL.RawQuery = reqQP.Encode()
	req.Raw().Header.Set("Accept", "application/json")
	return req, nil
}

// detailsHandleResponse handles the Details response.
func (client *VMIngestionClient) detailsHandleResponse(resp *http.Response) (VMIngestionDetailsResponseEnvelope, error) {
	result := VMIngestionDetailsResponseEnvelope{RawResponse: resp}
	if err := runtime.UnmarshalAsJSON(resp, &result.VMIngestionDetailsResponse); err != nil {
		return VMIngestionDetailsResponseEnvelope{}, runtime.NewResponseError(err, resp)
	}
	return result, nil
}

// detailsHandleError handles the Details error response.
func (client *VMIngestionClient) detailsHandleError(resp *http.Response) error {
	body, err := runtime.Payload(resp)
	if err != nil {
		return runtime.NewResponseError(err, resp)
	}
	errType := ResourceProviderDefaultErrorResponse{raw: string(body)}
	if err := runtime.UnmarshalAsJSON(resp, &errType); err != nil {
		return runtime.NewResponseError(fmt.Errorf("%s\n%s", string(body), err), resp)
	}
	return runtime.NewResponseError(&errType, resp)
}
