//go:build go1.16
// +build go1.16

// Copyright (c) Microsoft Corporation. All rights reserved.
// Licensed under the MIT License. See License.txt in the project root for license information.
// Code generated by Microsoft (R) AutoRest Code Generator.
// Changes may cause incorrect behavior and will be lost if the code is regenerated.

package armmaps

import (
	"context"
	"errors"
	"fmt"
	"github.com/Azure/azure-sdk-for-go/sdk/azcore"
	"github.com/Azure/azure-sdk-for-go/sdk/azcore/arm"
	armruntime "github.com/Azure/azure-sdk-for-go/sdk/azcore/arm/runtime"
	"github.com/Azure/azure-sdk-for-go/sdk/azcore/policy"
	"github.com/Azure/azure-sdk-for-go/sdk/azcore/runtime"
	"net/http"
	"net/url"
	"strings"
)

// MapsClient contains the methods for the Maps group.
// Don't use this type directly, use NewMapsClient() instead.
type MapsClient struct {
	ep             string
	pl             runtime.Pipeline
	subscriptionID string
}

// NewMapsClient creates a new instance of MapsClient with the specified values.
func NewMapsClient(subscriptionID string, credential azcore.TokenCredential, options *arm.ClientOptions) *MapsClient {
	cp := arm.ClientOptions{}
	if options != nil {
		cp = *options
	}
	if len(cp.Host) == 0 {
		cp.Host = arm.AzurePublicCloud
	}
	return &MapsClient{subscriptionID: subscriptionID, ep: string(cp.Host), pl: armruntime.NewPipeline(module, version, credential, &cp)}
}

// ListOperations - List operations available for the Maps Resource Provider
// If the operation fails it returns the *ErrorResponse error type.
func (client *MapsClient) ListOperations(options *MapsListOperationsOptions) *MapsListOperationsPager {
	return &MapsListOperationsPager{
		client: client,
		requester: func(ctx context.Context) (*policy.Request, error) {
			return client.listOperationsCreateRequest(ctx, options)
		},
		advancer: func(ctx context.Context, resp MapsListOperationsResponse) (*policy.Request, error) {
			return runtime.NewRequest(ctx, http.MethodGet, *resp.MapsOperations.NextLink)
		},
	}
}

// listOperationsCreateRequest creates the ListOperations request.
func (client *MapsClient) listOperationsCreateRequest(ctx context.Context, options *MapsListOperationsOptions) (*policy.Request, error) {
	urlPath := "/providers/Microsoft.Maps/operations"
	req, err := runtime.NewRequest(ctx, http.MethodGet, runtime.JoinPaths(client.ep, urlPath))
	if err != nil {
		return nil, err
	}
	reqQP := req.Raw().URL.Query()
	reqQP.Set("api-version", "2021-12-01-preview")
	req.Raw().URL.RawQuery = reqQP.Encode()
	req.Raw().Header.Set("Accept", "application/json")
	return req, nil
}

// listOperationsHandleResponse handles the ListOperations response.
func (client *MapsClient) listOperationsHandleResponse(resp *http.Response) (MapsListOperationsResponse, error) {
	result := MapsListOperationsResponse{RawResponse: resp}
	if err := runtime.UnmarshalAsJSON(resp, &result.MapsOperations); err != nil {
		return MapsListOperationsResponse{}, runtime.NewResponseError(err, resp)
	}
	return result, nil
}

// listOperationsHandleError handles the ListOperations error response.
func (client *MapsClient) listOperationsHandleError(resp *http.Response) error {
	body, err := runtime.Payload(resp)
	if err != nil {
		return runtime.NewResponseError(err, resp)
	}
	errType := ErrorResponse{raw: string(body)}
	if err := runtime.UnmarshalAsJSON(resp, &errType); err != nil {
		return runtime.NewResponseError(fmt.Errorf("%s\n%s", string(body), err), resp)
	}
	return runtime.NewResponseError(&errType, resp)
}

// ListSubscriptionOperations - List operations available for the Maps Resource Provider
// If the operation fails it returns the *ErrorResponse error type.
func (client *MapsClient) ListSubscriptionOperations(options *MapsListSubscriptionOperationsOptions) *MapsListSubscriptionOperationsPager {
	return &MapsListSubscriptionOperationsPager{
		client: client,
		requester: func(ctx context.Context) (*policy.Request, error) {
			return client.listSubscriptionOperationsCreateRequest(ctx, options)
		},
		advancer: func(ctx context.Context, resp MapsListSubscriptionOperationsResponse) (*policy.Request, error) {
			return runtime.NewRequest(ctx, http.MethodGet, *resp.MapsOperations.NextLink)
		},
	}
}

// listSubscriptionOperationsCreateRequest creates the ListSubscriptionOperations request.
func (client *MapsClient) listSubscriptionOperationsCreateRequest(ctx context.Context, options *MapsListSubscriptionOperationsOptions) (*policy.Request, error) {
	urlPath := "/subscriptions/{subscriptionId}/providers/Microsoft.Maps/operations"
	if client.subscriptionID == "" {
		return nil, errors.New("parameter client.subscriptionID cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{subscriptionId}", url.PathEscape(client.subscriptionID))
	req, err := runtime.NewRequest(ctx, http.MethodGet, runtime.JoinPaths(client.ep, urlPath))
	if err != nil {
		return nil, err
	}
	reqQP := req.Raw().URL.Query()
	reqQP.Set("api-version", "2021-12-01-preview")
	req.Raw().URL.RawQuery = reqQP.Encode()
	req.Raw().Header.Set("Accept", "application/json")
	return req, nil
}

// listSubscriptionOperationsHandleResponse handles the ListSubscriptionOperations response.
func (client *MapsClient) listSubscriptionOperationsHandleResponse(resp *http.Response) (MapsListSubscriptionOperationsResponse, error) {
	result := MapsListSubscriptionOperationsResponse{RawResponse: resp}
	if err := runtime.UnmarshalAsJSON(resp, &result.MapsOperations); err != nil {
		return MapsListSubscriptionOperationsResponse{}, runtime.NewResponseError(err, resp)
	}
	return result, nil
}

// listSubscriptionOperationsHandleError handles the ListSubscriptionOperations error response.
func (client *MapsClient) listSubscriptionOperationsHandleError(resp *http.Response) error {
	body, err := runtime.Payload(resp)
	if err != nil {
		return runtime.NewResponseError(err, resp)
	}
	errType := ErrorResponse{raw: string(body)}
	if err := runtime.UnmarshalAsJSON(resp, &errType); err != nil {
		return runtime.NewResponseError(fmt.Errorf("%s\n%s", string(body), err), resp)
	}
	return runtime.NewResponseError(&errType, resp)
}
