{
  "Entries": [
    {
      "RequestUri": "https://seankaneprim.table.core.windows.net/Tables",
      "RequestMethod": "GET",
      "RequestHeaders": {
        ":authority": "localhost:5001",
        ":method": "GET",
        ":path": "/Tables",
        ":scheme": "https",
        "Authorization": "Sanitized",
        "dataserviceversion": "3.0",
        "x-ms-date": "Fri, 30 Jul 2021 15:34:48 GMT",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata=minimalmetadata; streaming=true; charset=utf-8",
        "x-ms-version": "2019-02-02"
      },
      "ResponseBody": {
        "odata.metadata": "https://seankaneprim.table.core.windows.net/$metadata#Tables",
        "value": []
      }
    },
    {
      "RequestUri": "https://seankaneprim.table.core.windows.net/Tables",
      "RequestMethod": "POST",
      "RequestHeaders": {
        ":authority": "localhost:5001",
        ":method": "POST",
        ":path": "/Tables",
        ":scheme": "https",
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "dataserviceversion": "3.0",
        "x-ms-date": "Fri, 30 Jul 2021 15:34:48 GMT",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": {
        "TableName": "tableName6987239260"
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata=minimalmetadata; streaming=true; charset=utf-8",
        "Location": "https://seankaneprim.table.core.windows.net/Tables(\u0027tableName6987239260\u0027)",
        "x-ms-version": "2019-02-02"
      },
      "ResponseBody": {
        "odata.metadata": "https://seankaneprim.table.core.windows.net/$metadata#Tables/@Element",
        "TableName": "tableName6987239260"
      }
    },
[...]
    {
      "RequestUri": "https://seankaneprim.table.core.windows.net/Tables(\u0027tableName6987239260\u0027)",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        ":authority": "localhost:5001",
        ":method": "DELETE",
        ":path": "/Tables(\u0027tableName6987239260\u0027)",
        ":scheme": "https",
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 30 Jul 2021 15:34:49 GMT",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
        "x-ms-version": "2019-02-02"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://seankaneprim.table.core.windows.net/Tables(\u0027tableName6987239264\u0027)",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        ":authority": "localhost:5001",
        ":method": "DELETE",
        ":path": "/Tables(\u0027tableName6987239264\u0027)",
        ":scheme": "https",
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 30 Jul 2021 15:34:50 GMT",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
        "x-ms-version": "2019-02-02"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {}
}