//go:build go1.18
// +build go1.18

// Copyright (c) Microsoft Corporation. All rights reserved.
// Licensed under the MIT License. See License.txt in the project root for license information.
// Code generated by Microsoft (R) AutoRest Code Generator.
// Changes may cause incorrect behavior and will be lost if the code is regenerated.
// DO NOT EDIT.

package armadvisor

import (
	"context"
	"errors"
	"github.com/Azure/azure-sdk-for-go/sdk/azcore"
	"github.com/Azure/azure-sdk-for-go/sdk/azcore/arm"
	armruntime "github.com/Azure/azure-sdk-for-go/sdk/azcore/arm/runtime"
	"github.com/Azure/azure-sdk-for-go/sdk/azcore/cloud"
	"github.com/Azure/azure-sdk-for-go/sdk/azcore/policy"
	"github.com/Azure/azure-sdk-for-go/sdk/azcore/runtime"
	"net/http"
	"net/url"
	"strings"
)

// ManagementClient contains the methods for the AdvisorManagementClient group.
// Don't use this type directly, use NewManagementClient() instead.
type ManagementClient struct {
	host           string
	subscriptionID string
	pl             runtime.Pipeline
}

// NewManagementClient creates a new instance of ManagementClient with the specified values.
// subscriptionID - The Azure subscription ID.
// credential - used to authorize requests. Usually a credential from azidentity.
// options - pass nil to accept the default values.
func NewManagementClient(subscriptionID string, credential azcore.TokenCredential, options *arm.ClientOptions) (*ManagementClient, error) {
	if options == nil {
		options = &arm.ClientOptions{}
	}
	ep := cloud.AzurePublic.Services[cloud.ResourceManager].Endpoint
	if c, ok := options.Cloud.Services[cloud.ResourceManager]; ok {
		ep = c.Endpoint
	}
	pl, err := armruntime.NewPipeline(moduleName, moduleVersion, credential, runtime.PipelineOptions{}, options)
	if err != nil {
		return nil, err
	}
	client := &ManagementClient{
		subscriptionID: subscriptionID,
		host:           ep,
		pl:             pl,
	}
	return client, nil
}

// Predict - Predicts a recommendation.
// If the operation fails it returns an *azcore.ResponseError type.
// Generated from API version 2022-09-01
// predictionRequest - Parameters for predict recommendation.
// options - ManagementClientPredictOptions contains the optional parameters for the ManagementClient.Predict method.
func (client *ManagementClient) Predict(ctx context.Context, predictionRequest PredictionRequest, options *ManagementClientPredictOptions) (ManagementClientPredictResponse, error) {
	req, err := client.predictCreateRequest(ctx, predictionRequest, options)
	if err != nil {
		return ManagementClientPredictResponse{}, err
	}
	resp, err := client.pl.Do(req)
	if err != nil {
		return ManagementClientPredictResponse{}, err
	}
	if !runtime.HasStatusCode(resp, http.StatusOK) {
		return ManagementClientPredictResponse{}, runtime.NewResponseError(resp)
	}
	return client.predictHandleResponse(resp)
}

// predictCreateRequest creates the Predict request.
func (client *ManagementClient) predictCreateRequest(ctx context.Context, predictionRequest PredictionRequest, options *ManagementClientPredictOptions) (*policy.Request, error) {
	urlPath := "/subscriptions/{subscriptionId}/providers/Microsoft.Advisor/predict"
	if client.subscriptionID == "" {
		return nil, errors.New("parameter client.subscriptionID cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{subscriptionId}", url.PathEscape(client.subscriptionID))
	req, err := runtime.NewRequest(ctx, http.MethodPost, runtime.JoinPaths(client.host, urlPath))
	if err != nil {
		return nil, err
	}
	reqQP := req.Raw().URL.Query()
	reqQP.Set("api-version", "2022-09-01")
	req.Raw().URL.RawQuery = reqQP.Encode()
	req.Raw().Header["Accept"] = []string{"application/json"}
	return req, runtime.MarshalAsJSON(req, predictionRequest)
}

// predictHandleResponse handles the Predict response.
func (client *ManagementClient) predictHandleResponse(resp *http.Response) (ManagementClientPredictResponse, error) {
	result := ManagementClientPredictResponse{}
	if err := runtime.UnmarshalAsJSON(resp, &result.PredictionResponse); err != nil {
		return ManagementClientPredictResponse{}, err
	}
	return result, nil
}
