// Copyright (c) Microsoft Corporation. All rights reserved.
// Licensed under the MIT License. See License.txt in the project root for license information.
// Code generated by Microsoft (R) AutoRest Code Generator. DO NOT EDIT.
// Changes may cause incorrect behavior and will be lost if the code is regenerated.

package armadvisor

import (
	"context"
	"errors"
	"github.com/Azure/azure-sdk-for-go/sdk/azcore"
	"github.com/Azure/azure-sdk-for-go/sdk/azcore/arm"
	"github.com/Azure/azure-sdk-for-go/sdk/azcore/policy"
	"github.com/Azure/azure-sdk-for-go/sdk/azcore/runtime"
	"net/http"
	"net/url"
	"strconv"
	"strings"
)

// ResiliencyReviewsClient contains the methods for the ResiliencyReviews group.
// Don't use this type directly, use NewResiliencyReviewsClient() instead.
type ResiliencyReviewsClient struct {
	internal       *arm.Client
	subscriptionID string
}

// NewResiliencyReviewsClient creates a new instance of ResiliencyReviewsClient with the specified values.
//   - subscriptionID - The ID of the target subscription. The value must be an UUID.
//   - credential - used to authorize requests. Usually a credential from azidentity.
//   - options - Contains optional client configuration. Pass nil to accept the default values.
func NewResiliencyReviewsClient(subscriptionID string, credential azcore.TokenCredential, options *arm.ClientOptions) (*ResiliencyReviewsClient, error) {
	cl, err := arm.NewClient(moduleName, moduleVersion, credential, options)
	if err != nil {
		return nil, err
	}
	client := &ResiliencyReviewsClient{
		subscriptionID: subscriptionID,
		internal:       cl,
	}
	return client, nil
}

// Get - Get existing Azure Advisor resiliency review by id.
// If the operation fails it returns an *azcore.ResponseError type.
//
// Generated from API version 2025-05-01-preview
//   - reviewID - Existing review id. This is a GUID-formatted string (e.g. 00000000-0000-0000-0000-000000000000).
//   - options - ResiliencyReviewsClientGetOptions contains the optional parameters for the ResiliencyReviewsClient.Get method.
func (client *ResiliencyReviewsClient) Get(ctx context.Context, reviewID string, options *ResiliencyReviewsClientGetOptions) (ResiliencyReviewsClientGetResponse, error) {
	var err error
	const operationName = "ResiliencyReviewsClient.Get"
	ctx = context.WithValue(ctx, runtime.CtxAPINameKey{}, operationName)
	ctx, endSpan := runtime.StartSpan(ctx, operationName, client.internal.Tracer(), nil)
	defer func() { endSpan(err) }()
	req, err := client.getCreateRequest(ctx, reviewID, options)
	if err != nil {
		return ResiliencyReviewsClientGetResponse{}, err
	}
	httpResp, err := client.internal.Pipeline().Do(req)
	if err != nil {
		return ResiliencyReviewsClientGetResponse{}, err
	}
	if !runtime.HasStatusCode(httpResp, http.StatusOK) {
		err = runtime.NewResponseError(httpResp)
		return ResiliencyReviewsClientGetResponse{}, err
	}
	resp, err := client.getHandleResponse(httpResp)
	return resp, err
}

// getCreateRequest creates the Get request.
func (client *ResiliencyReviewsClient) getCreateRequest(ctx context.Context, reviewID string, _ *ResiliencyReviewsClientGetOptions) (*policy.Request, error) {
	urlPath := "/subscriptions/{subscriptionId}/providers/Microsoft.Advisor/resiliencyReviews/{reviewId}"
	if client.subscriptionID == "" {
		return nil, errors.New("parameter client.subscriptionID cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{subscriptionId}", url.PathEscape(client.subscriptionID))
	if reviewID == "" {
		return nil, errors.New("parameter reviewID cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{reviewId}", url.PathEscape(reviewID))
	req, err := runtime.NewRequest(ctx, http.MethodGet, runtime.JoinPaths(client.internal.Endpoint(), urlPath))
	if err != nil {
		return nil, err
	}
	reqQP := req.Raw().URL.Query()
	reqQP.Set("api-version", "2025-05-01-preview")
	req.Raw().URL.RawQuery = reqQP.Encode()
	req.Raw().Header["Accept"] = []string{"application/json"}
	return req, nil
}

// getHandleResponse handles the Get response.
func (client *ResiliencyReviewsClient) getHandleResponse(resp *http.Response) (ResiliencyReviewsClientGetResponse, error) {
	result := ResiliencyReviewsClientGetResponse{}
	if err := runtime.UnmarshalAsJSON(resp, &result.ResiliencyReview); err != nil {
		return ResiliencyReviewsClientGetResponse{}, err
	}
	return result, nil
}

// NewListPager - Get list of Azure Advisor resiliency reviews.
//
// Generated from API version 2025-05-01-preview
//   - options - ResiliencyReviewsClientListOptions contains the optional parameters for the ResiliencyReviewsClient.NewListPager
//     method.
func (client *ResiliencyReviewsClient) NewListPager(options *ResiliencyReviewsClientListOptions) *runtime.Pager[ResiliencyReviewsClientListResponse] {
	return runtime.NewPager(runtime.PagingHandler[ResiliencyReviewsClientListResponse]{
		More: func(page ResiliencyReviewsClientListResponse) bool {
			return page.NextLink != nil && len(*page.NextLink) > 0
		},
		Fetcher: func(ctx context.Context, page *ResiliencyReviewsClientListResponse) (ResiliencyReviewsClientListResponse, error) {
			ctx = context.WithValue(ctx, runtime.CtxAPINameKey{}, "ResiliencyReviewsClient.NewListPager")
			nextLink := ""
			if page != nil {
				nextLink = *page.NextLink
			}
			resp, err := runtime.FetcherForNextLink(ctx, client.internal.Pipeline(), nextLink, func(ctx context.Context) (*policy.Request, error) {
				return client.listCreateRequest(ctx, options)
			}, nil)
			if err != nil {
				return ResiliencyReviewsClientListResponse{}, err
			}
			return client.listHandleResponse(resp)
		},
		Tracer: client.internal.Tracer(),
	})
}

// listCreateRequest creates the List request.
func (client *ResiliencyReviewsClient) listCreateRequest(ctx context.Context, options *ResiliencyReviewsClientListOptions) (*policy.Request, error) {
	urlPath := "/subscriptions/{subscriptionId}/providers/Microsoft.Advisor/resiliencyReviews"
	if client.subscriptionID == "" {
		return nil, errors.New("parameter client.subscriptionID cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{subscriptionId}", url.PathEscape(client.subscriptionID))
	req, err := runtime.NewRequest(ctx, http.MethodGet, runtime.JoinPaths(client.internal.Endpoint(), urlPath))
	if err != nil {
		return nil, err
	}
	reqQP := req.Raw().URL.Query()
	if options != nil && options.Filter != nil {
		reqQP.Set("$filter", *options.Filter)
	}
	if options != nil && options.Skip != nil {
		reqQP.Set("$skip", strconv.FormatInt(int64(*options.Skip), 10))
	}
	if options != nil && options.Top != nil {
		reqQP.Set("$top", strconv.FormatInt(int64(*options.Top), 10))
	}
	reqQP.Set("api-version", "2025-05-01-preview")
	req.Raw().URL.RawQuery = reqQP.Encode()
	req.Raw().Header["Accept"] = []string{"application/json"}
	return req, nil
}

// listHandleResponse handles the List response.
func (client *ResiliencyReviewsClient) listHandleResponse(resp *http.Response) (ResiliencyReviewsClientListResponse, error) {
	result := ResiliencyReviewsClientListResponse{}
	if err := runtime.UnmarshalAsJSON(resp, &result.ResiliencyReviewCollection); err != nil {
		return ResiliencyReviewsClientListResponse{}, err
	}
	return result, nil
}
