// +build go1.13

// Copyright (c) Microsoft Corporation. All rights reserved.
// Licensed under the MIT License. See License.txt in the project root for license information.
// Code generated by Microsoft (R) AutoRest Code Generator.
// Changes may cause incorrect behavior and will be lost if the code is regenerated.

package armweb

import (
	"context"
	"errors"
	"fmt"
	"github.com/Azure/azure-sdk-for-go/sdk/armcore"
	"github.com/Azure/azure-sdk-for-go/sdk/azcore"
	"net/http"
	"net/url"
	"strings"
)

// ProviderClient contains the methods for the Provider group.
// Don't use this type directly, use NewProviderClient() instead.
type ProviderClient struct {
	con            *armcore.Connection
	subscriptionID string
}

// NewProviderClient creates a new instance of ProviderClient with the specified values.
func NewProviderClient(con *armcore.Connection, subscriptionID string) *ProviderClient {
	return &ProviderClient{con: con, subscriptionID: subscriptionID}
}

// GetAvailableStacks - Description for Get available application frameworks and their versions
// If the operation fails it returns the *DefaultErrorResponse error type.
func (client *ProviderClient) GetAvailableStacks(options *ProviderGetAvailableStacksOptions) ProviderGetAvailableStacksPager {
	return &providerGetAvailableStacksPager{
		client: client,
		requester: func(ctx context.Context) (*azcore.Request, error) {
			return client.getAvailableStacksCreateRequest(ctx, options)
		},
		advancer: func(ctx context.Context, resp ProviderGetAvailableStacksResponse) (*azcore.Request, error) {
			return azcore.NewRequest(ctx, http.MethodGet, *resp.ApplicationStackCollection.NextLink)
		},
	}
}

// getAvailableStacksCreateRequest creates the GetAvailableStacks request.
func (client *ProviderClient) getAvailableStacksCreateRequest(ctx context.Context, options *ProviderGetAvailableStacksOptions) (*azcore.Request, error) {
	urlPath := "/providers/Microsoft.Web/availableStacks"
	req, err := azcore.NewRequest(ctx, http.MethodGet, azcore.JoinPaths(client.con.Endpoint(), urlPath))
	if err != nil {
		return nil, err
	}
	req.Telemetry(telemetryInfo)
	reqQP := req.URL.Query()
	if options != nil && options.OSTypeSelected != nil {
		reqQP.Set("osTypeSelected", string(*options.OSTypeSelected))
	}
	reqQP.Set("api-version", "2021-01-15")
	req.URL.RawQuery = reqQP.Encode()
	req.Header.Set("Accept", "application/json")
	return req, nil
}

// getAvailableStacksHandleResponse handles the GetAvailableStacks response.
func (client *ProviderClient) getAvailableStacksHandleResponse(resp *azcore.Response) (ProviderGetAvailableStacksResponse, error) {
	result := ProviderGetAvailableStacksResponse{RawResponse: resp.Response}
	if err := resp.UnmarshalAsJSON(&result.ApplicationStackCollection); err != nil {
		return ProviderGetAvailableStacksResponse{}, err
	}
	return result, nil
}

// getAvailableStacksHandleError handles the GetAvailableStacks error response.
func (client *ProviderClient) getAvailableStacksHandleError(resp *azcore.Response) error {
	body, err := resp.Payload()
	if err != nil {
		return azcore.NewResponseError(err, resp.Response)
	}
	errType := DefaultErrorResponse{raw: string(body)}
	if err := resp.UnmarshalAsJSON(&errType); err != nil {
		return azcore.NewResponseError(fmt.Errorf("%s\n%s", string(body), err), resp.Response)
	}
	return azcore.NewResponseError(&errType, resp.Response)
}

// GetAvailableStacksOnPrem - Description for Get available application frameworks and their versions
// If the operation fails it returns the *DefaultErrorResponse error type.
func (client *ProviderClient) GetAvailableStacksOnPrem(options *ProviderGetAvailableStacksOnPremOptions) ProviderGetAvailableStacksOnPremPager {
	return &providerGetAvailableStacksOnPremPager{
		client: client,
		requester: func(ctx context.Context) (*azcore.Request, error) {
			return client.getAvailableStacksOnPremCreateRequest(ctx, options)
		},
		advancer: func(ctx context.Context, resp ProviderGetAvailableStacksOnPremResponse) (*azcore.Request, error) {
			return azcore.NewRequest(ctx, http.MethodGet, *resp.ApplicationStackCollection.NextLink)
		},
	}
}

// getAvailableStacksOnPremCreateRequest creates the GetAvailableStacksOnPrem request.
func (client *ProviderClient) getAvailableStacksOnPremCreateRequest(ctx context.Context, options *ProviderGetAvailableStacksOnPremOptions) (*azcore.Request, error) {
	urlPath := "/subscriptions/{subscriptionId}/providers/Microsoft.Web/availableStacks"
	if client.subscriptionID == "" {
		return nil, errors.New("parameter client.subscriptionID cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{subscriptionId}", url.PathEscape(client.subscriptionID))
	req, err := azcore.NewRequest(ctx, http.MethodGet, azcore.JoinPaths(client.con.Endpoint(), urlPath))
	if err != nil {
		return nil, err
	}
	req.Telemetry(telemetryInfo)
	reqQP := req.URL.Query()
	if options != nil && options.OSTypeSelected != nil {
		reqQP.Set("osTypeSelected", string(*options.OSTypeSelected))
	}
	reqQP.Set("api-version", "2021-01-15")
	req.URL.RawQuery = reqQP.Encode()
	req.Header.Set("Accept", "application/json")
	return req, nil
}

// getAvailableStacksOnPremHandleResponse handles the GetAvailableStacksOnPrem response.
func (client *ProviderClient) getAvailableStacksOnPremHandleResponse(resp *azcore.Response) (ProviderGetAvailableStacksOnPremResponse, error) {
	result := ProviderGetAvailableStacksOnPremResponse{RawResponse: resp.Response}
	if err := resp.UnmarshalAsJSON(&result.ApplicationStackCollection); err != nil {
		return ProviderGetAvailableStacksOnPremResponse{}, err
	}
	return result, nil
}

// getAvailableStacksOnPremHandleError handles the GetAvailableStacksOnPrem error response.
func (client *ProviderClient) getAvailableStacksOnPremHandleError(resp *azcore.Response) error {
	body, err := resp.Payload()
	if err != nil {
		return azcore.NewResponseError(err, resp.Response)
	}
	errType := DefaultErrorResponse{raw: string(body)}
	if err := resp.UnmarshalAsJSON(&errType); err != nil {
		return azcore.NewResponseError(fmt.Errorf("%s\n%s", string(body), err), resp.Response)
	}
	return azcore.NewResponseError(&errType, resp.Response)
}

// GetFunctionAppStacks - Description for Get available Function app frameworks and their versions
// If the operation fails it returns the *DefaultErrorResponse error type.
func (client *ProviderClient) GetFunctionAppStacks(options *ProviderGetFunctionAppStacksOptions) ProviderGetFunctionAppStacksPager {
	return &providerGetFunctionAppStacksPager{
		client: client,
		requester: func(ctx context.Context) (*azcore.Request, error) {
			return client.getFunctionAppStacksCreateRequest(ctx, options)
		},
		advancer: func(ctx context.Context, resp ProviderGetFunctionAppStacksResponse) (*azcore.Request, error) {
			return azcore.NewRequest(ctx, http.MethodGet, *resp.FunctionAppStackCollection.NextLink)
		},
	}
}

// getFunctionAppStacksCreateRequest creates the GetFunctionAppStacks request.
func (client *ProviderClient) getFunctionAppStacksCreateRequest(ctx context.Context, options *ProviderGetFunctionAppStacksOptions) (*azcore.Request, error) {
	urlPath := "/providers/Microsoft.Web/functionAppStacks"
	req, err := azcore.NewRequest(ctx, http.MethodGet, azcore.JoinPaths(client.con.Endpoint(), urlPath))
	if err != nil {
		return nil, err
	}
	req.Telemetry(telemetryInfo)
	reqQP := req.URL.Query()
	if options != nil && options.StackOsType != nil {
		reqQP.Set("stackOsType", string(*options.StackOsType))
	}
	reqQP.Set("api-version", "2021-01-15")
	req.URL.RawQuery = reqQP.Encode()
	req.Header.Set("Accept", "application/json")
	return req, nil
}

// getFunctionAppStacksHandleResponse handles the GetFunctionAppStacks response.
func (client *ProviderClient) getFunctionAppStacksHandleResponse(resp *azcore.Response) (ProviderGetFunctionAppStacksResponse, error) {
	result := ProviderGetFunctionAppStacksResponse{RawResponse: resp.Response}
	if err := resp.UnmarshalAsJSON(&result.FunctionAppStackCollection); err != nil {
		return ProviderGetFunctionAppStacksResponse{}, err
	}
	return result, nil
}

// getFunctionAppStacksHandleError handles the GetFunctionAppStacks error response.
func (client *ProviderClient) getFunctionAppStacksHandleError(resp *azcore.Response) error {
	body, err := resp.Payload()
	if err != nil {
		return azcore.NewResponseError(err, resp.Response)
	}
	errType := DefaultErrorResponse{raw: string(body)}
	if err := resp.UnmarshalAsJSON(&errType); err != nil {
		return azcore.NewResponseError(fmt.Errorf("%s\n%s", string(body), err), resp.Response)
	}
	return azcore.NewResponseError(&errType, resp.Response)
}

// GetFunctionAppStacksForLocation - Description for Get available Function app frameworks and their versions for location
// If the operation fails it returns the *DefaultErrorResponse error type.
func (client *ProviderClient) GetFunctionAppStacksForLocation(location string, options *ProviderGetFunctionAppStacksForLocationOptions) ProviderGetFunctionAppStacksForLocationPager {
	return &providerGetFunctionAppStacksForLocationPager{
		client: client,
		requester: func(ctx context.Context) (*azcore.Request, error) {
			return client.getFunctionAppStacksForLocationCreateRequest(ctx, location, options)
		},
		advancer: func(ctx context.Context, resp ProviderGetFunctionAppStacksForLocationResponse) (*azcore.Request, error) {
			return azcore.NewRequest(ctx, http.MethodGet, *resp.FunctionAppStackCollection.NextLink)
		},
	}
}

// getFunctionAppStacksForLocationCreateRequest creates the GetFunctionAppStacksForLocation request.
func (client *ProviderClient) getFunctionAppStacksForLocationCreateRequest(ctx context.Context, location string, options *ProviderGetFunctionAppStacksForLocationOptions) (*azcore.Request, error) {
	urlPath := "/providers/Microsoft.Web/locations/{location}/functionAppStacks"
	if location == "" {
		return nil, errors.New("parameter location cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{location}", url.PathEscape(location))
	req, err := azcore.NewRequest(ctx, http.MethodGet, azcore.JoinPaths(client.con.Endpoint(), urlPath))
	if err != nil {
		return nil, err
	}
	req.Telemetry(telemetryInfo)
	reqQP := req.URL.Query()
	if options != nil && options.StackOsType != nil {
		reqQP.Set("stackOsType", string(*options.StackOsType))
	}
	reqQP.Set("api-version", "2021-01-15")
	req.URL.RawQuery = reqQP.Encode()
	req.Header.Set("Accept", "application/json")
	return req, nil
}

// getFunctionAppStacksForLocationHandleResponse handles the GetFunctionAppStacksForLocation response.
func (client *ProviderClient) getFunctionAppStacksForLocationHandleResponse(resp *azcore.Response) (ProviderGetFunctionAppStacksForLocationResponse, error) {
	result := ProviderGetFunctionAppStacksForLocationResponse{RawResponse: resp.Response}
	if err := resp.UnmarshalAsJSON(&result.FunctionAppStackCollection); err != nil {
		return ProviderGetFunctionAppStacksForLocationResponse{}, err
	}
	return result, nil
}

// getFunctionAppStacksForLocationHandleError handles the GetFunctionAppStacksForLocation error response.
func (client *ProviderClient) getFunctionAppStacksForLocationHandleError(resp *azcore.Response) error {
	body, err := resp.Payload()
	if err != nil {
		return azcore.NewResponseError(err, resp.Response)
	}
	errType := DefaultErrorResponse{raw: string(body)}
	if err := resp.UnmarshalAsJSON(&errType); err != nil {
		return azcore.NewResponseError(fmt.Errorf("%s\n%s", string(body), err), resp.Response)
	}
	return azcore.NewResponseError(&errType, resp.Response)
}

// GetWebAppStacks - Description for Get available Web app frameworks and their versions
// If the operation fails it returns the *DefaultErrorResponse error type.
func (client *ProviderClient) GetWebAppStacks(options *ProviderGetWebAppStacksOptions) ProviderGetWebAppStacksPager {
	return &providerGetWebAppStacksPager{
		client: client,
		requester: func(ctx context.Context) (*azcore.Request, error) {
			return client.getWebAppStacksCreateRequest(ctx, options)
		},
		advancer: func(ctx context.Context, resp ProviderGetWebAppStacksResponse) (*azcore.Request, error) {
			return azcore.NewRequest(ctx, http.MethodGet, *resp.WebAppStackCollection.NextLink)
		},
	}
}

// getWebAppStacksCreateRequest creates the GetWebAppStacks request.
func (client *ProviderClient) getWebAppStacksCreateRequest(ctx context.Context, options *ProviderGetWebAppStacksOptions) (*azcore.Request, error) {
	urlPath := "/providers/Microsoft.Web/webAppStacks"
	req, err := azcore.NewRequest(ctx, http.MethodGet, azcore.JoinPaths(client.con.Endpoint(), urlPath))
	if err != nil {
		return nil, err
	}
	req.Telemetry(telemetryInfo)
	reqQP := req.URL.Query()
	if options != nil && options.StackOsType != nil {
		reqQP.Set("stackOsType", string(*options.StackOsType))
	}
	reqQP.Set("api-version", "2021-01-15")
	req.URL.RawQuery = reqQP.Encode()
	req.Header.Set("Accept", "application/json")
	return req, nil
}

// getWebAppStacksHandleResponse handles the GetWebAppStacks response.
func (client *ProviderClient) getWebAppStacksHandleResponse(resp *azcore.Response) (ProviderGetWebAppStacksResponse, error) {
	result := ProviderGetWebAppStacksResponse{RawResponse: resp.Response}
	if err := resp.UnmarshalAsJSON(&result.WebAppStackCollection); err != nil {
		return ProviderGetWebAppStacksResponse{}, err
	}
	return result, nil
}

// getWebAppStacksHandleError handles the GetWebAppStacks error response.
func (client *ProviderClient) getWebAppStacksHandleError(resp *azcore.Response) error {
	body, err := resp.Payload()
	if err != nil {
		return azcore.NewResponseError(err, resp.Response)
	}
	errType := DefaultErrorResponse{raw: string(body)}
	if err := resp.UnmarshalAsJSON(&errType); err != nil {
		return azcore.NewResponseError(fmt.Errorf("%s\n%s", string(body), err), resp.Response)
	}
	return azcore.NewResponseError(&errType, resp.Response)
}

// GetWebAppStacksForLocation - Description for Get available Web app frameworks and their versions for location
// If the operation fails it returns the *DefaultErrorResponse error type.
func (client *ProviderClient) GetWebAppStacksForLocation(location string, options *ProviderGetWebAppStacksForLocationOptions) ProviderGetWebAppStacksForLocationPager {
	return &providerGetWebAppStacksForLocationPager{
		client: client,
		requester: func(ctx context.Context) (*azcore.Request, error) {
			return client.getWebAppStacksForLocationCreateRequest(ctx, location, options)
		},
		advancer: func(ctx context.Context, resp ProviderGetWebAppStacksForLocationResponse) (*azcore.Request, error) {
			return azcore.NewRequest(ctx, http.MethodGet, *resp.WebAppStackCollection.NextLink)
		},
	}
}

// getWebAppStacksForLocationCreateRequest creates the GetWebAppStacksForLocation request.
func (client *ProviderClient) getWebAppStacksForLocationCreateRequest(ctx context.Context, location string, options *ProviderGetWebAppStacksForLocationOptions) (*azcore.Request, error) {
	urlPath := "/providers/Microsoft.Web/locations/{location}/webAppStacks"
	if location == "" {
		return nil, errors.New("parameter location cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{location}", url.PathEscape(location))
	req, err := azcore.NewRequest(ctx, http.MethodGet, azcore.JoinPaths(client.con.Endpoint(), urlPath))
	if err != nil {
		return nil, err
	}
	req.Telemetry(telemetryInfo)
	reqQP := req.URL.Query()
	if options != nil && options.StackOsType != nil {
		reqQP.Set("stackOsType", string(*options.StackOsType))
	}
	reqQP.Set("api-version", "2021-01-15")
	req.URL.RawQuery = reqQP.Encode()
	req.Header.Set("Accept", "application/json")
	return req, nil
}

// getWebAppStacksForLocationHandleResponse handles the GetWebAppStacksForLocation response.
func (client *ProviderClient) getWebAppStacksForLocationHandleResponse(resp *azcore.Response) (ProviderGetWebAppStacksForLocationResponse, error) {
	result := ProviderGetWebAppStacksForLocationResponse{RawResponse: resp.Response}
	if err := resp.UnmarshalAsJSON(&result.WebAppStackCollection); err != nil {
		return ProviderGetWebAppStacksForLocationResponse{}, err
	}
	return result, nil
}

// getWebAppStacksForLocationHandleError handles the GetWebAppStacksForLocation error response.
func (client *ProviderClient) getWebAppStacksForLocationHandleError(resp *azcore.Response) error {
	body, err := resp.Payload()
	if err != nil {
		return azcore.NewResponseError(err, resp.Response)
	}
	errType := DefaultErrorResponse{raw: string(body)}
	if err := resp.UnmarshalAsJSON(&errType); err != nil {
		return azcore.NewResponseError(fmt.Errorf("%s\n%s", string(body), err), resp.Response)
	}
	return azcore.NewResponseError(&errType, resp.Response)
}

// ListOperations - Description for Gets all available operations for the Microsoft.Web resource provider. Also exposes resource metric definitions
// If the operation fails it returns the *DefaultErrorResponse error type.
func (client *ProviderClient) ListOperations(options *ProviderListOperationsOptions) ProviderListOperationsPager {
	return &providerListOperationsPager{
		client: client,
		requester: func(ctx context.Context) (*azcore.Request, error) {
			return client.listOperationsCreateRequest(ctx, options)
		},
		advancer: func(ctx context.Context, resp ProviderListOperationsResponse) (*azcore.Request, error) {
			return azcore.NewRequest(ctx, http.MethodGet, *resp.CsmOperationCollection.NextLink)
		},
	}
}

// listOperationsCreateRequest creates the ListOperations request.
func (client *ProviderClient) listOperationsCreateRequest(ctx context.Context, options *ProviderListOperationsOptions) (*azcore.Request, error) {
	urlPath := "/providers/Microsoft.Web/operations"
	req, err := azcore.NewRequest(ctx, http.MethodGet, azcore.JoinPaths(client.con.Endpoint(), urlPath))
	if err != nil {
		return nil, err
	}
	req.Telemetry(telemetryInfo)
	reqQP := req.URL.Query()
	reqQP.Set("api-version", "2021-01-15")
	req.URL.RawQuery = reqQP.Encode()
	req.Header.Set("Accept", "application/json")
	return req, nil
}

// listOperationsHandleResponse handles the ListOperations response.
func (client *ProviderClient) listOperationsHandleResponse(resp *azcore.Response) (ProviderListOperationsResponse, error) {
	result := ProviderListOperationsResponse{RawResponse: resp.Response}
	if err := resp.UnmarshalAsJSON(&result.CsmOperationCollection); err != nil {
		return ProviderListOperationsResponse{}, err
	}
	return result, nil
}

// listOperationsHandleError handles the ListOperations error response.
func (client *ProviderClient) listOperationsHandleError(resp *azcore.Response) error {
	body, err := resp.Payload()
	if err != nil {
		return azcore.NewResponseError(err, resp.Response)
	}
	errType := DefaultErrorResponse{raw: string(body)}
	if err := resp.UnmarshalAsJSON(&errType); err != nil {
		return azcore.NewResponseError(fmt.Errorf("%s\n%s", string(body), err), resp.Response)
	}
	return azcore.NewResponseError(&errType, resp.Response)
}
