// +build go1.13

// Copyright (c) Microsoft Corporation. All rights reserved.
// Licensed under the MIT License. See License.txt in the project root for license information.
// Code generated by Microsoft (R) AutoRest Code Generator.
// Changes may cause incorrect behavior and will be lost if the code is regenerated.

package armweb

import (
	"context"
	"fmt"
	"github.com/Azure/azure-sdk-for-go/sdk/armcore"
	"github.com/Azure/azure-sdk-for-go/sdk/azcore"
	"net/http"
)

// DomainRegistrationProviderClient contains the methods for the DomainRegistrationProvider group.
// Don't use this type directly, use NewDomainRegistrationProviderClient() instead.
type DomainRegistrationProviderClient struct {
	con *armcore.Connection
}

// NewDomainRegistrationProviderClient creates a new instance of DomainRegistrationProviderClient with the specified values.
func NewDomainRegistrationProviderClient(con *armcore.Connection) *DomainRegistrationProviderClient {
	return &DomainRegistrationProviderClient{con: con}
}

// ListOperations - Description for Implements Csm operations Api to exposes the list of available Csm Apis under the resource provider
// If the operation fails it returns the *DefaultErrorResponse error type.
func (client *DomainRegistrationProviderClient) ListOperations(options *DomainRegistrationProviderListOperationsOptions) DomainRegistrationProviderListOperationsPager {
	return &domainRegistrationProviderListOperationsPager{
		client: client,
		requester: func(ctx context.Context) (*azcore.Request, error) {
			return client.listOperationsCreateRequest(ctx, options)
		},
		advancer: func(ctx context.Context, resp DomainRegistrationProviderListOperationsResponse) (*azcore.Request, error) {
			return azcore.NewRequest(ctx, http.MethodGet, *resp.CsmOperationCollection.NextLink)
		},
	}
}

// listOperationsCreateRequest creates the ListOperations request.
func (client *DomainRegistrationProviderClient) listOperationsCreateRequest(ctx context.Context, options *DomainRegistrationProviderListOperationsOptions) (*azcore.Request, error) {
	urlPath := "/providers/Microsoft.DomainRegistration/operations"
	req, err := azcore.NewRequest(ctx, http.MethodGet, azcore.JoinPaths(client.con.Endpoint(), urlPath))
	if err != nil {
		return nil, err
	}
	req.Telemetry(telemetryInfo)
	reqQP := req.URL.Query()
	reqQP.Set("api-version", "2021-01-15")
	req.URL.RawQuery = reqQP.Encode()
	req.Header.Set("Accept", "application/json")
	return req, nil
}

// listOperationsHandleResponse handles the ListOperations response.
func (client *DomainRegistrationProviderClient) listOperationsHandleResponse(resp *azcore.Response) (DomainRegistrationProviderListOperationsResponse, error) {
	result := DomainRegistrationProviderListOperationsResponse{RawResponse: resp.Response}
	if err := resp.UnmarshalAsJSON(&result.CsmOperationCollection); err != nil {
		return DomainRegistrationProviderListOperationsResponse{}, err
	}
	return result, nil
}

// listOperationsHandleError handles the ListOperations error response.
func (client *DomainRegistrationProviderClient) listOperationsHandleError(resp *azcore.Response) error {
	body, err := resp.Payload()
	if err != nil {
		return azcore.NewResponseError(err, resp.Response)
	}
	errType := DefaultErrorResponse{raw: string(body)}
	if err := resp.UnmarshalAsJSON(&errType); err != nil {
		return azcore.NewResponseError(fmt.Errorf("%s\n%s", string(body), err), resp.Response)
	}
	return azcore.NewResponseError(&errType, resp.Response)
}
