{
  "Entries": [
    {
      "RequestUri": "https://api.loganalytics.io/v1/$batch",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {},
      "StatusCode": 400,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "error": {
          "message": "The request had some invalid properties",
          "code": "BadArgumentError",
          "correlationId": "40476c85-a90b-4517-8fe3-a0ccd178aa8f",
          "innererror": {
            "code": "QueryValidationError",
            "message": "body must contain \u0027requests\u0027 property"
          }
        }
      }
    }
  ],
  "Variables": {}
}
