{
  "Entries": [
    {
      "RequestUri": "https://management.azure.com/123/providers/microsoft.insights/metricNamespaces?api-version=2017-12-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-failure-cause": "gateway"
      },
      "ResponseBody": {
        "error": {
          "code": "MissingSubscription",
          "message": "The request did not have a subscription or a valid tenant level resource provider."
        }
      }
    }
  ],
  "Variables": {}
}
