{
  "Entries": [
    {
      "RequestUri": "https://management.azure.com/subscriptions/faa080af-c1d8-40ad-9cce-e1a451va7b87/resourceGroups/rg-example/providers/Microsoft.AppConfiguration/configurationStores/example/providers/Microsoft.Insights/metrics?aggregation=Average%2Ccount\u0026api-version=2018-01-01\u0026interval=PT1M\u0026metricnamespace=Microsoft.AppConfiguration%2FconfigurationStores\u0026orderby=Average\u002Basc\u0026timespan=PT12H",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json",
        "x-ms-ratelimit-remaining-subscription-reads": "11999"
      },
      "ResponseBody": {
        "cost": 1438,
        "timespan": "2022-09-07T12:00:48Z/2022-09-08T00:00:48Z",
        "interval": "PT1M",
        "value": [
          {
            "id": "/subscriptions/faa080af-c1d8-40ad-9cce-e1a451va7b87/resourceGroups/rg-example/providers/Microsoft.AppConfiguration/configurationStores/example/providers/Microsoft.Insights/metrics/HttpIncomingRequestCount",
            "type": "Microsoft.Insights/metrics",
            "name": {
              "value": "HttpIncomingRequestCount",
              "localizedValue": "HttpIncomingRequestCount"
            },
            "displayDescription": "Total number of incoming http requests.",
            "unit": "Count",
            "timeseries": [
              {
                "metadatavalues": [],
                "data": [
                  {
                    "timeStamp": "2022-09-07T12:00:00Z",
                    "count": 0.0,
                    "average": 0.0
                  },
                  {
                    "timeStamp": "2022-09-07T12:01:00Z",
                    "count": 0.0,
                    "average": 0.0
                  },
                  {
                    "timeStamp": "2022-09-07T12:02:00Z",
                    "count": 0.0,
                    "average": 0.0
                  },
                  {
                    "timeStamp": "2022-09-07T12:03:00Z",
                    "count": 0.0,
                    "average"[...]
