{
  "Entries": [
    {
      "RequestUri": "https://management.azure.com/subscriptions/faa080af-c1d8-40ad-9cce-e1a450ca5b57/resourceGroups/rg-gracewilcoxazquery/providers/Microsoft.AppConfiguration/configurationStores/gracewilcoxazquery/providers/microsoft.insights/metricNamespaces?api-version=2017-12-01-preview\u0026startTime=2022-08-01T15%3A53%3A00Z",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-reads": "11998"
      },
      "ResponseBody": {
        "value": [
          {
            "id": "/subscriptions/faa080af-c1d8-40ad-9cce-e1a451va7b87/resourceGroups/rg-example/providers/Microsoft.AppConfiguration/configurationStores/example/providers/microsoft.insights/metricNamespaces/microsoft.appconfiguration-configurationstores",
            "name": "microsoft.appconfiguration-configurationstores",
            "type": "Microsoft.Insights/metricNamespaces",
            "classification": "Platform",
            "properties": {
              "metricNamespaceName": "microsoft.appconfiguration/configurationstores"
            }
          }
        ]
      }
    }
  ],
  "Variables": {}
}
