{
  "Entries": [
    {
      "RequestUri": "https://management.azure.com/subscriptions/faa080af-c1d8-40ad-9cce-e1a451va7b87/resourceGroups/rg-example/providers/Microsoft.AppConfiguration/configurationStores/example/providers/Microsoft.Insights/metricDefinitions?api-version=2018-01-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json",
        "x-ms-ratelimit-remaining-subscription-resource-requests": "399"
      },
      "ResponseBody": {
        "value": [
          {
            "id": "/subscriptions/faa080af-c1d8-40ad-9cce-e1a451va7b87/resourceGroups/rg-example/providers/Microsoft.AppConfiguration/configurationStores/example/providers/microsoft.insights/metricdefinitions/HttpIncomingRequestCount",
            "resourceId": "/subscriptions/faa080af-c1d8-40ad-9cce-e1a451va7b87/resourceGroups/rg-example/providers/Microsoft.AppConfiguration/configurationStores/example",
            "namespace": "Microsoft.AppConfiguration/configurationStores",
            "name": {
              "value": "HttpIncomingRequestCount",
              "localizedValue": "HttpIncomingRequestCount"
            },
            "displayDescription": "Total number of incoming http requests.",
            "isDimensionRequired": false,
            "unit": "Count",
            "primaryAggregationType": "Total",
            "supportedAggregationTypes": [
              "None",
              "Average",
              "Minimum",
              "Maximum",
              "Total",
              "Count"
            ],
            "metricAvailabilities": [
              {
                "timeGrain": "PT1M",
                "retention": "P93D"
              },
              {
                "timeGrain": "PT5M",
                "retention": "P93D"
              },
              {
                "timeGrain": "PT15M",
                "retention": "P93D"
              },
              {
                "timeGrain": "PT30M",
                "retention": "P93D"
              },
              {
                "timeGrain": "PT1H",
                "retention": "P93D"
              },
              {
                "timeGrain": "PT6H",
                "retention": "P93D"
              },
              {
                "timeGrain": "PT12H",
                "retention": "P93D"
              },
              {
                "timeGrain": "P1D",
                "retention": "P93D"
              }
            ],
            "dimensions": [
              {
                "value": "StatusCode",
                "localizedValue": "HttpStatusCode"
              },
              {
                "value": "Authentication",
                "localizedValue": "AuthenticationScheme"
              }
            ]
          },
          {
            "id": "/subscriptions/faa080af-c1d8-40ad-9cce-e1a451va7b87/resourceGroups/rg-example/providers/Microsoft.AppConfiguration/configurationStores/example/providers/microsoft.insights/metricdefini[...]
