---
version: 1
interactions:
- request:
    body: '{"TableName":"gotable5hickrxl8lpbo"}'
    form: {}
    headers:
      Authorization:
      - sanitized
      Content-Type:
      - application/json
      Dataserviceversion:
      - "3.0"
      X-Ms-Date:
      - Sun, 04 Apr 2021 21:59:10 GMT
      X-Ms-Version:
      - "2019-02-02"
    url: https://chrisstablesprim.table.cosmos.azure.com/Tables
    method: POST
  response:
    body: '{"TableName":"gotable5hickrxl8lpbo","odata.metadata":"https://chrisstablesprim.table.cosmos.azure.com/$metadata#Tables/@Element"}'
    headers:
      Content-Type:
      - application/json;odata=minimalmetadata
      Etag:
      - W/"datetime'2021-04-04T21%3A59%3A10.9652488Z'"
      Location:
      - https://chrisstablesprim.table.cosmos.azure.com/Tables('gotable5hickrxl8lpbo')
    status: 201 Created
    code: 201
    duration: ""
- request:
    body: '{"TableName":"gotable5hickrxl8lpbo"}'
    form: {}
    headers:
      Authorization:
      - sanitized
      Content-Type:
      - application/json
      Dataserviceversion:
      - "3.0"
      X-Ms-Date:
      - Sun, 04 Apr 2021 21:59:11 GMT
      X-Ms-Version:
      - "2019-02-02"
    url: https://chrisstablesprim.table.cosmos.azure.com/Tables
    method: POST
  response:
    body: "{\"odata.error\":{\"code\":\"TableAlreadyExists\",\"message\":{\"lang\":\"en-us\",\"value\":\"The
      specified table already exists.\\nRequestID:e216471c-9dae-4105-99a9-66a274775cce\\n\"}}}\r\n"
    headers:
      Content-Type:
      - application/json;odata=minimalmetadata
    status: 409 Conflict
    code: 409
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Authorization:
      - sanitized
      X-Ms-Date:
      - Sun, 04 Apr 2021 21:59:11 GMT
      X-Ms-Version:
      - "2019-02-02"
    url: https://chrisstablesprim.table.cosmos.azure.com/Tables('gotable5hickrxl8lpbo')
    method: DELETE
  response:
    body: ""
    headers:
    status: 204 No Content
    code: 204
    duration: ""
