---
version: 1
interactions:
- request:
    body: '{"TableName":"gotableh1fl45kimwdu0"}'
    form: {}
    headers:
      Authorization:
      - sanitized
      Content-Type:
      - application/json
      Dataserviceversion:
      - "3.0"
      X-Ms-Date:
      - Fri, 16 Jul 2021 18:09:36 GMT
      X-Ms-Version:
      - "2019-02-02"
    url: https://seankaneprim.table.cosmos.azure.com/Tables
    method: POST
  response:
    body: '{"TableName":"gotableh1fl45kimwdu0","odata.metadata":"https://seankaneprim.table.cosmos.azure.com/$metadata#Tables/@Element"}'
    headers:
      Content-Type:
      - application/json;odata=minimalmetadata
      Etag:
      - W/"datetime'2021-07-16T18%3A09%3A36.6401032Z'"
      Location:
      - https://seankaneprim.table.cosmos.azure.com/Tables('gotableh1fl45kimwdu0')
    status: 201 Created
    code: 201
    duration: ""
- request:
    body: '{"BigInt":"1125899906842624","Guid":"abcd-efgh-ijkl","PartitionKey":"partition","RowKey":"1","Time":"2021-1-2T3:4:5.6Z","Timestamp":"0001-01-01T00:00:00Z"}'
    form: {}
    headers:
      Authorization:
      - sanitized
      Content-Type:
      - application/json
      Dataserviceversion:
      - "3.0"
      Prefer:
      - return-no-content
      X-Ms-Date:
      - Fri, 16 Jul 2021 18:09:38 GMT
      X-Ms-Version:
      - "2019-02-02"
    url: https://seankaneprim.table.cosmos.azure.com/gotableh1fl45kimwdu0
    method: POST
  response:
    body: ""
    headers:
      Etag:
      - W/"datetime'2021-07-16T18%3A09%3A37.5560712Z'"
      Location:
      - https://seankaneprim.table.cosmos.azure.com/gotableh1fl45kimwdu0(PartitionKey='partition',RowKey='1')
      Preference-Applied:
      - return-no-content
    status: 204 No Content
    code: 204
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Authorization:
      - sanitized
      Dataserviceversion:
      - "3.0"
      X-Ms-Date:
      - Fri, 16 Jul 2021 18:09:38 GMT
      X-Ms-Version:
      - "2019-02-02"
    url: https://seankaneprim.table.cosmos.azure.com/gotableh1fl45kimwdu0(PartitionKey='partition',RowKey='1')?%24format=application%2Fjson%3Bodata%3Dfullmetadata
    method: GET
  response:
    body: '{"odata.metadata":"https://seankaneprim.table.cosmos.azure.com/gotableh1fl45kimwdu0/$metadata#gotableh1fl45kimwdu0/@Element","odata.etag":"W/\"datetime''2021-07-16T18%3A09%3A37.5560712Z''\"","BigInt":"1125899906842624","Guid":"abcd-efgh-ijkl","PartitionKey":"partition","RowKey":"1","Time":"2021-1-2T3:4:5.6Z","Timestamp":"2021-07-16T18:09:37.5560712Z"}'
    headers:
      Content-Type:
      - application/json;odata=minimalmetadata
      Etag:
      - W/"datetime'2021-07-16T18%3A09%3A37.5560712Z'"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Authorization:
      - sanitized
      X-Ms-Date:
      - Fri, 16 Jul 2021 18:09:38 GMT
      X-Ms-Version:
      - "2019-02-02"
    url: https://seankaneprim.table.cosmos.azure.com/Tables('gotableh1fl45kimwdu0')
    method: DELETE
  response:
    body: ""
    headers:
    status: 204 No Content
    code: 204
    duration: ""
