---
version: 1
interactions:
- request:
    body: '{"TableName":"gotabled5f9jcewxl5vu"}'
    form: {}
    headers:
      Authorization:
      - sanitized
      Content-Type:
      - application/json
      Dataserviceversion:
      - "3.0"
      X-Ms-Date:
      - Mon, 26 Jul 2021 21:18:17 GMT
      X-Ms-Version:
      - "2019-02-02"
    url: https://seankaneprim.table.cosmos.azure.com/Tables
    method: POST
  response:
    body: '{"TableName":"gotabled5f9jcewxl5vu","odata.metadata":"https://seankaneprim.table.cosmos.azure.com/$metadata#Tables/@Element"}'
    headers:
      Content-Type:
      - application/json;odata=minimalmetadata
      Etag:
      - W/"datetime'2021-07-26T21%3A18%3A17.9556360Z'"
      Location:
      - https://seankaneprim.table.cosmos.azure.com/Tables('gotabled5f9jcewxl5vu')
    status: 201 Created
    code: 201
    duration: ""
- request:
    body: '{"String":"stringystring","Value":10}'
    form: {}
    headers:
      Authorization:
      - sanitized
      Content-Type:
      - application/json
      Dataserviceversion:
      - "3.0"
      Prefer:
      - return-no-content
      X-Ms-Date:
      - Mon, 26 Jul 2021 21:18:18 GMT
      X-Ms-Version:
      - "2019-02-02"
    url: https://seankaneprim.table.cosmos.azure.com/gotabled5f9jcewxl5vu
    method: POST
  response:
    body: "{\"odata.error\":{\"code\":\"PropertiesNeedValue\",\"message\":{\"lang\":\"en-us\",\"value\":\"PartitionKey/RowKey
      cannot be empty\\r\\nActivityId: 7b96353a-fdb5-4339-b593-be51dffa66e7, documentdb-dotnet-sdk/2.14.0
      Host/64-bit MicrosoftWindowsNT/6.2.9200.0\\nRequestID:7b96353a-fdb5-4339-b593-be51dffa66e7\\n\"}}}\r\n"
    headers:
      Content-Type:
      - application/json;odata=fullmetadata
    status: 400 Bad Request
    code: 400
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Authorization:
      - sanitized
      X-Ms-Date:
      - Mon, 26 Jul 2021 21:18:18 GMT
      X-Ms-Version:
      - "2019-02-02"
    url: https://seankaneprim.table.cosmos.azure.com/Tables('gotabled5f9jcewxl5vu')
    method: DELETE
  response:
    body: ""
    headers:
    status: 204 No Content
    code: 204
    duration: ""
