---
version: 1
interactions:
- request:
    body: '{"TableName":"gotableoyd5279len6hv"}'
    form: {}
    headers:
      Authorization:
      - sanitized
      Content-Type:
      - application/json
      Dataserviceversion:
      - "3.0"
      X-Ms-Date:
      - Tue, 13 Jul 2021 19:46:22 GMT
      X-Ms-Version:
      - "2019-02-02"
    url: https://seankaneprim.table.cosmos.azure.com/Tables
    method: POST
  response:
    body: '{"TableName":"gotableoyd5279len6hv","odata.metadata":"https://seankaneprim.table.cosmos.azure.com/$metadata#Tables/@Element"}'
    headers:
      Content-Type:
      - application/json;odata=minimalmetadata
      Etag:
      - W/"datetime'2021-07-13T19%3A46%3A22.7600392Z'"
      Location:
      - https://seankaneprim.table.cosmos.azure.com/Tables('gotableoyd5279len6hv')
    status: 201 Created
    code: 201
    duration: ""
- request:
    body: '{"Float":3.14159,"Integer":10,"PartitionKey":"pk001","RowKey":"rk001","String":"abcdef","TimeStamp":"0001-01-01T00:00:00Z"}'
    form: {}
    headers:
      Authorization:
      - sanitized
      Content-Type:
      - application/json
      Dataserviceversion:
      - "3.0"
      Prefer:
      - return-no-content
      X-Ms-Date:
      - Tue, 13 Jul 2021 19:46:24 GMT
      X-Ms-Version:
      - "2019-02-02"
    url: https://seankaneprim.table.cosmos.azure.com/gotableoyd5279len6hv
    method: POST
  response:
    body: ""
    headers:
      Etag:
      - W/"datetime'2021-07-13T19%3A46%3A23.4834952Z'"
      Location:
      - https://seankaneprim.table.cosmos.azure.com/gotableoyd5279len6hv(PartitionKey='pk001',RowKey='rk001')
      Preference-Applied:
      - return-no-content
    status: 204 No Content
    code: 204
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Authorization:
      - sanitized
      Dataserviceversion:
      - "3.0"
      X-Ms-Date:
      - Tue, 13 Jul 2021 19:46:24 GMT
      X-Ms-Version:
      - "2019-02-02"
    url: https://seankaneprim.table.cosmos.azure.com/gotableoyd5279len6hv(PartitionKey='pk001',RowKey='rk001')
    method: GET
  response:
    body: '{"odata.metadata":"https://seankaneprim.table.cosmos.azure.com/gotableoyd5279len6hv/$metadata#gotableoyd5279len6hv/@Element","odata.etag":"W/\"datetime''2021-07-13T19%3A46%3A23.4834952Z''\"","Float":3.14159,"Integer":10,"PartitionKey":"pk001","RowKey":"rk001","String":"abcdef","TimeStamp":"0001-01-01T00:00:00Z","Timestamp":"2021-07-13T19:46:23.4834952Z"}'
    headers:
      Content-Type:
      - application/json;odata=minimalmetadata
      Etag:
      - W/"datetime'2021-07-13T19%3A46%3A23.4834952Z'"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Authorization:
      - sanitized
      Dataserviceversion:
      - "3.0"
      X-Ms-Date:
      - Tue, 13 Jul 2021 19:46:24 GMT
      X-Ms-Version:
      - "2019-02-02"
    url: https://seankaneprim.table.cosmos.azure.com/gotableoyd5279len6hv()?%24filter=PartitionKey+eq+%27pk001%27
    method: GET
  response:
    body: '{"value":[{"odata.etag":"W/\"datetime''2021-07-13T19%3A46%3A23.4834952Z''\"","Float":3.14159,"Integer":10,"PartitionKey":"pk001","RowKey":"rk001","String":"abcdef","TimeStamp":"0001-01-01T00:00:00Z","Timestamp":"2021-07-13T19:46:23.4834952Z"}],"odata.metadata":"https://seankaneprim.table.cosmos.azure.com/$metadata#gotableoyd5279len6hv"}'
    headers:
      Content-Type:
      - application/json;odata=minimalmetadata
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Authorization:
      - sanitized
      X-Ms-Date:
      - Tue, 13 Jul 2021 19:46:24 GMT
      X-Ms-Version:
      - "2019-02-02"
    url: https://seankaneprim.table.cosmos.azure.com/Tables('gotableoyd5279len6hv')
    method: DELETE
  response:
    body: ""
    headers:
    status: 204 No Content
    code: 204
    duration: ""
