---
version: 1
interactions:
- request:
    body: '{"TableName":"gotabledyvuc22s4eouv"}'
    form: {}
    headers:
      Authorization:
      - sanitized
      Content-Type:
      - application/json
      Dataserviceversion:
      - "3.0"
      X-Ms-Date:
      - Wed, 14 Jul 2021 15:53:26 GMT
      X-Ms-Version:
      - "2019-02-02"
    url: https://seankaneprim.table.cosmos.azure.com/Tables
    method: POST
  response:
    body: '{"TableName":"gotabledyvuc22s4eouv","odata.metadata":"https://seankaneprim.table.cosmos.azure.com/$metadata#Tables/@Element"}'
    headers:
      Content-Type:
      - application/json;odata=minimalmetadata
      Etag:
      - W/"datetime'2021-07-14T15%3A53%3A27.3693192Z'"
      Location:
      - https://seankaneprim.table.cosmos.azure.com/Tables('gotabledyvuc22s4eouv')
    status: 201 Created
    code: 201
    duration: ""
- request:
    body: '{"Bool":true,"Integer":1,"PartitionKey":"partition","RowKey":"1","String":"some
      string 1","TimeStamp":"0001-01-01T00:00:00Z"}'
    form: {}
    headers:
      Authorization:
      - sanitized
      Content-Type:
      - application/json
      Dataserviceversion:
      - "3.0"
      Prefer:
      - return-no-content
      X-Ms-Date:
      - Wed, 14 Jul 2021 15:53:28 GMT
      X-Ms-Version:
      - "2019-02-02"
    url: https://seankaneprim.table.cosmos.azure.com/gotabledyvuc22s4eouv
    method: POST
  response:
    body: ""
    headers:
      Etag:
      - W/"datetime'2021-07-14T15%3A53%3A28.1628168Z'"
      Location:
      - https://seankaneprim.table.cosmos.azure.com/gotabledyvuc22s4eouv(PartitionKey='partition',RowKey='1')
      Preference-Applied:
      - return-no-content
    status: 204 No Content
    code: 204
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Authorization:
      - sanitized
      X-Ms-Date:
      - Wed, 14 Jul 2021 15:53:28 GMT
      X-Ms-Version:
      - "2019-02-02"
    url: https://seankaneprim.table.cosmos.azure.com/Tables('gotabledyvuc22s4eouv')
    method: DELETE
  response:
    body: ""
    headers:
    status: 204 No Content
    code: 204
    duration: ""
