---
version: 1
interactions:
- request:
    body: '{"TableName":"gotableg9wjv0g5uub4s"}'
    form: {}
    headers:
      Authorization:
      - sanitized
      Content-Type:
      - application/json
      Dataserviceversion:
      - "3.0"
      X-Ms-Date:
      - Thu, 01 Jul 2021 16:10:11 GMT
      X-Ms-Version:
      - "2019-02-02"
    url: https://seankaneprim.table.cosmos.azure.com/Tables
    method: POST
  response:
    body: '{"TableName":"gotableg9wjv0g5uub4s","odata.metadata":"https://seankaneprim.table.cosmos.azure.com/$metadata#Tables/@Element"}'
    headers:
      Content-Type:
      - application/json;odata=minimalmetadata
      Etag:
      - W/"datetime'2021-07-01T16%3A10%3A13.3360648Z'"
      Location:
      - https://seankaneprim.table.cosmos.azure.com/Tables('gotableg9wjv0g5uub4s')
    status: 201 Created
    code: 201
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Authorization:
      - sanitized
      Dataserviceversion:
      - "3.0"
      X-Ms-Date:
      - Thu, 01 Jul 2021 16:10:12 GMT
      X-Ms-Version:
      - "2019-02-02"
    url: https://seankaneprim.table.cosmos.azure.com/gotableg9wjv0g5uub4s(PartitionKey='pk001',RowKey='rk001')
    method: GET
  response:
    body: "{\"odata.error\":{\"code\":\"ResourceNotFound\",\"message\":{\"lang\":\"en-us\",\"value\":\"The
      specified resource does not exist.\\nRequestID:2f5a0f0c-c436-4039-9c84-0103811d6ca2\\n\"}}}\r\n"
    headers:
      Content-Type:
      - application/json;odata=minimalmetadata
    status: 404 Not Found
    code: 404
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Authorization:
      - sanitized
      X-Ms-Date:
      - Thu, 01 Jul 2021 16:10:13 GMT
      X-Ms-Version:
      - "2019-02-02"
    url: https://seankaneprim.table.cosmos.azure.com/Tables('gotableg9wjv0g5uub4s')
    method: DELETE
  response:
    body: ""
    headers:
    status: 204 No Content
    code: 204
    duration: ""
