---
version: 1
interactions:
- request:
    body: '{"TableName":"gotablegig6ivswqh66t"}'
    form: {}
    headers:
      Authorization:
      - sanitized
      Content-Type:
      - application/json
      Dataserviceversion:
      - "3.0"
      X-Ms-Date:
      - Mon, 26 Jul 2021 21:18:09 GMT
      X-Ms-Version:
      - "2019-02-02"
    url: https://seankaneprim.table.cosmos.azure.com/Tables
    method: POST
  response:
    body: '{"TableName":"gotablegig6ivswqh66t","odata.metadata":"https://seankaneprim.table.cosmos.azure.com/$metadata#Tables/@Element"}'
    headers:
      Content-Type:
      - application/json;odata=minimalmetadata
      Etag:
      - W/"datetime'2021-07-26T21%3A18%3A09.4510088Z'"
      Location:
      - https://seankaneprim.table.cosmos.azure.com/Tables('gotablegig6ivswqh66t')
    status: 201 Created
    code: 201
    duration: ""
- request:
    body: "--batch_410cec07-ea0d-4b4f-60d1-b4b49f9e3c02\r\nContent-Type: multipart/mixed;
      boundary=changeset_e9dc23e1-6e18-4abe-6595-151021cfe2d8\r\n\r\n--changeset_e9dc23e1-6e18-4abe-6595-151021cfe2d8\r\nContent-Transfer-Encoding:
      binary\r\nContent-Type: application/http\r\n\r\nPOST https://seankaneprim.table.cosmos.azure.com/gotablegig6ivswqh66t?%24format=application%2Fjson%3Bodata%3Dminimalmetadata
      HTTP/1.1\r\nAccept: application/json;odata=minimalmetadata\r\nContent-Length:
      367\r\nContent-Type: application/json\r\nDataserviceversion: 3.0\r\nPrefer:
      return-no-content\r\nX-Ms-Version: 2019-02-02\r\n\r\n{\"Binary\":\"U29tZUJpbmFyeQ==\",\"Binary@odata.type\":\"Edm.Binary\",\"Bool\":false,\"DateTime\":\"2013-08-02T17:37:43.0090043Z\",\"DateTime@odata.type\":\"Edm.DateTime\",\"Double\":1234.1234,\"Guid\":\"4185404a-5818-48c3-b9be-f217df0dba6f\",\"Guid@odata.type\":\"Edm.Guid\",\"Int32\":1234,\"Int64\":\"123456789012\",\"Int64@odata.type\":\"Edm.Int64\",\"PartitionKey\":\"pk001\",\"RowKey\":\"1\",\"String\":\"test\"}\r\n--changeset_e9dc23e1-6e18-4abe-6595-151021cfe2d8\r\nContent-Transfer-Encoding:
      binary\r\nContent-Type: application/http\r\n\r\nPOST https://seankaneprim.table.cosmos.azure.com/gotablegig6ivswqh66t?%24format=application%2Fjson%3Bodata%3Dminimalmetadata
      HTTP/1.1\r\nAccept: application/json;odata=minimalmetadata\r\nContent-Length:
      367\r\nContent-Type: application/json\r\nDataserviceversion: 3.0\r\nPrefer:
      return-no-content\r\nX-Ms-Version: 2019-02-02\r\n\r\n{\"B[...]
[...]
- request:
    body: ""
    form: {}
    headers:
      Authorization:
      - sanitized
      Dataserviceversion:
      - "3.0"
      X-Ms-Date:
      - Mon, 26 Jul 2021 21:18:10 GMT
      X-Ms-Version:
      - "2019-02-02"
    url: https://seankaneprim.table.cosmos.azure.com/gotablegig6ivswqh66t(PartitionKey='pk001',RowKey='1')
    method: GET
  response:
    body: '{"odata.metadata":"https://seankaneprim.table.cosmos.azure.com/gotablegig6ivswqh66t/$metadata#gotablegig6ivswqh66t/@Element","odata.etag":"W/\"datetime''2021-07-26T21%3A18%3A10.2574088Z''\"","Binary@odata.type":"Edm.Binary","Binary":"U29tZUJpbmFyeQ==","Bool":false,"DateTime@odata.type":"Edm.DateTime","DateTime":"2013-08-02T17:37:43.0090043Z","Double":1234.1234,"Guid@odata.type":"Edm.Guid","Guid":"4185404a-5818-48c3-b9be-f217df0dba6f","Int32":1234,"Int64@odata.type":"Edm.Int64","Int64":"123456789012","PartitionKey":"pk001","RowKey":"1","String":"test","Timestamp":"2021-07-26T21:18:10.2574088Z"}'
    headers:
      Content-Type:
      - application/json;odata=minimalmetadata
      Etag:
      - W/"datetime'2021-07-26T21%3A18%3A10.2574088Z'"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
      Authorization:
      - sanitized
      Dataserviceversion:
      - "3.0"
      X-Ms-Date:
      - Mon, 26 Jul 2021 21:18:10 GMT
      X-Ms-Version:
      - "2019-02-02"
    url: https://seankaneprim.table.cosmos.azure.com/gotablegig6ivswqh66t(PartitionKey='pk001',RowKey='3')
    method: GET
  response:
    body: "{\"odata.error\":{\"code\":\"ResourceNotFound\",\"message\":{\"lang\":\"en-us\",\"value\":\"The
      specified resource does not exist.\\nRequestID:becebde2-6484-4466-bd40-28cfb6a42849\\n\"}}}\r\n"
    headers:
      Content-Type:
      - application/json;odata=minimalmetadata
    status: 404 Not Found
    code: 404
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Authorization:
      - sanitized
      X-Ms-Date:
      - Mon, 26 Jul 2021 21:18:10 GMT
      X-Ms-Version:
      - "2019-02-02"
    url: https://seankaneprim.table.cosmos.azure.com/Tables('gotablegig6ivswqh66t')
    method: DELETE
  response:
    body: ""
    headers:
    status: 204 No Content
    code: 204
    duration: ""
