---
version: 1
interactions:
- request:
    body: '{"TableName":"gotable1msfgttesz2cp"}'
    form: {}
    headers:
      Authorization:
      - sanitized
      Content-Type:
      - application/json
      Dataserviceversion:
      - "3.0"
      X-Ms-Date:
      - Fri, 21 May 2021 20:34:59 GMT
      X-Ms-Version:
      - "2019-02-02"
    url: https://chrisstablesprim.table.cosmos.azure.com/Tables
    method: POST
  response:
    body: '{"TableName":"gotable1msfgttesz2cp","odata.metadata":"https://chrisstablesprim.table.cosmos.azure.com/$metadata#Tables/@Element"}'
    headers:
      Content-Type:
      - application/json;odata=minimalmetadata
      Etag:
      - W/"datetime'2021-05-21T20%3A35%3A00.7158280Z'"
      Location:
      - https://chrisstablesprim.table.cosmos.azure.com/Tables('gotable1msfgttesz2cp')
    status: 201 Ok
    code: 201
    duration: ""
- request:
    body: '{"BoolProp":true,"IntProp":1,"PartitionKey":"partition","RowKey":"1","StringProp":"some
      string 1"}'
    form: {}
    headers:
      Authorization:
      - sanitized
      Content-Type:
      - application/json
      Dataserviceversion:
      - "3.0"
      X-Ms-Date:
      - Fri, 21 May 2021 20:35:01 GMT
      X-Ms-Version:
      - "2019-02-02"
    url: https://chrisstablesprim.table.cosmos.azure.com/gotable1msfgttesz2cp(PartitionKey='partition',RowKey='1')
    method: PUT
  response:
    body: ""
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"datetime'2021-05-21T20%3A35%3A01.3144584Z'"
    status: 204 No Content
    code: 204
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Authorization:
      - sanitized
      Dataserviceversion:
      - "3.0"
      X-Ms-Date:
      - Fri, 21 May 2021 20:35:01 GMT
      X-Ms-Version:
      - "2019-02-02"
    url: https://chrisstablesprim.table.cosmos.azure.com/gotable1msfgttesz2cp()?%24filter=RowKey+eq+%271%27
    method: GET
  response:
    body: '{"value":[{"odata.etag":"W/\"datetime''2021-05-21T20%3A35%3A01.3144584Z''\"","PartitionKey":"partition","RowKey":"1","BoolProp":true,"IntProp":1,"StringProp":"some
      string 1","Timestamp":"2021-05-21T20:35:01.3144584Z"}],"odata.metadata":"https://chrisstablesprim.table.cosmos.azure.com/$metadata#gotable1msfgttesz2cp"}'
    headers:
      Content-Type:
      - application/json;odata=minimalmetadata
    status: 200 Ok
    code: 200
    duration: ""
- request:
    body: '{"MergeProperty":"foo","PartitionKey":"partition","RowKey":"1"}'
    form: {}
    headers:
      Authorization:
      - sanitized
      Content-Type:
      - application/json
      Dataserviceversion:
      - "3.0"
      X-Ms-Date:
      - Fri, 21 May 2021 20:35:01 GMT
      X-Ms-Version:
      - "2019-02-02"
    url: https://chrisstablesprim.table.cosmos.azure.com/gotable1msfgttesz2cp(PartitionKey='partition',RowKey='1')
    method: PUT
  response:
    body: ""
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"datetime'2021-05-21T20%3A35%3A01.4885384Z'"
    status: 204 No Content
    code: 204
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
      Authorization:
      - sanitized
      X-Ms-Date:
      - Fri, 21 May 2021 20:35:01 GMT
      X-Ms-Version:
      - "2019-02-02"
    url: https://chrisstablesprim.table.cosmos.azure.com/Tables('gotable1msfgttesz2cp')
    method: DELETE
  response:
    body: ""
    headers:
    status: 204 No Content
    code: 204
    duration: ""
