---
version: 1
interactions:
- request:
    body: '{"TableName":"gotablezdpmnyzkryrie"}'
    form: {}
    headers:
      Authorization:
      - sanitized
      Content-Type:
      - application/json
      Dataserviceversion:
      - "3.0"
      X-Ms-Date:
      - Fri, 21 May 2021 19:12:58 GMT
      X-Ms-Version:
      - "2019-02-02"
    url: https://chrisstablesprim.table.cosmos.azure.com/Tables
    method: POST
  response:
    body: '{"TableName":"gotablezdpmnyzkryrie","odata.metadata":"https://chrisstablesprim.table.cosmos.azure.com/$metadata#Tables/@Element"}'
    headers:
      Content-Type:
      - application/json;odata=minimalmetadata
      Etag:
      - W/"datetime'2021-05-21T19%3A12%3A59.2534536Z'"
      Location:
      - https://chrisstablesprim.table.cosmos.azure.com/Tables('gotablezdpmnyzkryrie')
    status: 201 Ok
    code: 201
    duration: ""
- request:
    body: '{"BoolProp":true,"IntProp":1,"PartitionKey":"partition","RowKey":"1","StringProp":"some
      string 1"}'
    form: {}
    headers:
      Authorization:
      - sanitized
      Content-Type:
      - application/json
      Dataserviceversion:
      - "3.0"
      Prefer:
      - return-no-content
      X-Ms-Date:
      - Fri, 21 May 2021 19:12:59 GMT
      X-Ms-Version:
      - "2019-02-02"
    url: https://chrisstablesprim.table.cosmos.azure.com/gotablezdpmnyzkryrie
    method: POST
  response:
    body: ""
    headers:
      Etag:
      - W/"datetime'2021-05-21T19%3A12%3A59.7676040Z'"
      Location:
      - https://chrisstablesprim.table.cosmos.azure.com/gotablezdpmnyzkryrie(PartitionKey='partition',RowKey='1')
      Preference-Applied:
      - return-no-content
    status: 204 No Content
    code: 204
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Authorization:
      - sanitized
      Dataserviceversion:
      - "3.0"
      If-Match:
      - '*'
      X-Ms-Date:
      - Fri, 21 May 2021 19:12:59 GMT
      X-Ms-Version:
      - "2019-02-02"
    url: https://chrisstablesprim.table.cosmos.azure.com/gotablezdpmnyzkryrie(PartitionKey='partition',RowKey='1')
    method: DELETE
  response:
    body: ""
    headers:
    status: 204 No Content
    code: 204
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Authorization:
      - sanitized
      X-Ms-Date:
      - Fri, 21 May 2021 19:12:59 GMT
      X-Ms-Version:
      - "2019-02-02"
    url: https://chrisstablesprim.table.cosmos.azure.com/Tables('gotablezdpmnyzkryrie')
    method: DELETE
  response:
    body: ""
    headers:
    status: 204 No Content
    code: 204
    duration: ""
