---
version: 1
interactions:
- request:
    body: '{"TableName":"gotablesp39ovbvezw7o"}'
    form: {}
    headers:
      Authorization:
      - sanitized
      Content-Type:
      - application/json
      Dataserviceversion:
      - "3.0"
      X-Ms-Date:
      - Wed, 14 Jul 2021 14:37:25 GMT
      X-Ms-Version:
      - "2019-02-02"
    url: https://seankaneprim.table.cosmos.azure.com/Tables
    method: POST
  response:
    body: '{"TableName":"gotablesp39ovbvezw7o","odata.metadata":"https://seankaneprim.table.cosmos.azure.com/$metadata#Tables/@Element"}'
    headers:
      Content-Type:
      - application/json;odata=minimalmetadata
      Etag:
      - W/"datetime'2021-07-14T14%3A37%3A25.8360840Z'"
      Location:
      - https://seankaneprim.table.cosmos.azure.com/Tables('gotablesp39ovbvezw7o')
    status: 201 Created
    code: 201
    duration: ""
- request:
    body: '{"Float":3.14159,"Integer":10,"PartitionKey":"pk001","RowKey":"rk001","String":"abcdef","TimeStamp":"0001-01-01T00:00:00Z"}'
    form: {}
    headers:
      Authorization:
      - sanitized
      Content-Type:
      - application/json
      Dataserviceversion:
      - "3.0"
      Prefer:
      - return-no-content
      X-Ms-Date:
      - Wed, 14 Jul 2021 14:37:27 GMT
      X-Ms-Version:
      - "2019-02-02"
    url: https://seankaneprim.table.cosmos.azure.com/gotablesp39ovbvezw7o
    method: POST
  response:
    body: ""
    headers:
      Etag:
      - W/"datetime'2021-07-14T14%3A37%3A26.4790536Z'"
      Location:
      - https://seankaneprim.table.cosmos.azure.com/gotablesp39ovbvezw7o(PartitionKey='pk001',RowKey='rk001')
      Preference-Applied:
      - return-no-content
    status: 204 No Content
    code: 204
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Authorization:
      - sanitized
      Dataserviceversion:
      - "3.0"
      X-Ms-Date:
      - Wed, 14 Jul 2021 14:37:27 GMT
      X-Ms-Version:
      - "2019-02-02"
    url: https://seankaneprim.table.cosmos.azure.com/gotablesp39ovbvezw7o(PartitionKey='pk001',RowKey='rk001')
    method: GET
  response:
    body: '{"odata.metadata":"https://seankaneprim.table.cosmos.azure.com/gotablesp39ovbvezw7o/$metadata#gotablesp39ovbvezw7o/@Element","odata.etag":"W/\"datetime''2021-07-14T14%3A37%3A26.4790536Z''\"","Float":3.14159,"Integer":10,"PartitionKey":"pk001","RowKey":"rk001","String":"abcdef","TimeStamp":"0001-01-01T00:00:00Z","Timestamp":"2021-07-14T14:37:26.4790536Z"}'
    headers:
      Content-Type:
      - application/json;odata=minimalmetadata
      Etag:
      - W/"datetime'2021-07-14T14%3A37%3A26.4790536Z'"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Authorization:
      - sanitized
      Dataserviceversion:
      - "3.0"
      X-Ms-Date:
      - Wed, 14 Jul 2021 14:37:27 GMT
      X-Ms-Version:
      - "2019-02-02"
    url: https://seankaneprim.table.cosmos.azure.com/gotablesp39ovbvezw7o()?%24filter=PartitionKey+eq+%27pk001%27
    method: GET
  response:
    body: '{"value":[{"odata.etag":"W/\"datetime''2021-07-14T14%3A37%3A26.4790536Z''\"","Float":3.14159,"Integer":10,"PartitionKey":"pk001","RowKey":"rk001","String":"abcdef","TimeStamp":"0001-01-01T00:00:00Z","Timestamp":"2021-07-14T14:37:26.4790536Z"}],"odata.metadata":"https://seankaneprim.table.cosmos.azure.com/$metadata#gotablesp39ovbvezw7o"}'
    headers:
      Content-Type:
      - application/json;odata=minimalmetadata
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Authorization:
      - sanitized
      X-Ms-Date:
      - Wed, 14 Jul 2021 14:37:27 GMT
      X-Ms-Version:
      - "2019-02-02"
    url: https://seankaneprim.table.cosmos.azure.com/Tables('gotablesp39ovbvezw7o')
    method: DELETE
  response:
    body: ""
    headers:
    status: 204 No Content
    code: 204
    duration: ""
