---
version: 1
interactions:
- request:
    body: '{"TableName":"gotablez98v63681ga8a"}'
    form: {}
    headers:
      Authorization:
      - sanitized
      Content-Type:
      - application/json
      Dataserviceversion:
      - "3.0"
      X-Ms-Date:
      - Wed, 14 Jul 2021 15:54:14 GMT
      X-Ms-Version:
      - "2019-02-02"
    url: https://seankaneprim.table.cosmos.azure.com/Tables
    method: POST
  response:
    body: '{"TableName":"gotablez98v63681ga8a","odata.metadata":"https://seankaneprim.table.cosmos.azure.com/$metadata#Tables/@Element"}'
    headers:
      Content-Type:
      - application/json;odata=minimalmetadata
      Etag:
      - W/"datetime'2021-07-14T15%3A54%3A14.9053448Z'"
      Location:
      - https://seankaneprim.table.cosmos.azure.com/Tables('gotablez98v63681ga8a')
    status: 201 Created
    code: 201
    duration: ""
- request:
    body: '{"Bool":true,"Integer":10,"PartitionKey":"pk001","RowKey":"rk001","String":"abcdef","TimeStamp":"0001-01-01T00:00:00Z"}'
    form: {}
    headers:
      Authorization:
      - sanitized
      Content-Type:
      - application/json
      Dataserviceversion:
      - "3.0"
      Prefer:
      - return-no-content
      X-Ms-Date:
      - Wed, 14 Jul 2021 15:54:16 GMT
      X-Ms-Version:
      - "2019-02-02"
    url: https://seankaneprim.table.cosmos.azure.com/gotablez98v63681ga8a
    method: POST
  response:
    body: ""
    headers:
      Etag:
      - W/"datetime'2021-07-14T15%3A54%3A15.7128712Z'"
      Location:
      - https://seankaneprim.table.cosmos.azure.com/gotablez98v63681ga8a(PartitionKey='pk001',RowKey='rk001')
      Preference-Applied:
      - return-no-content
    status: 204 No Content
    code: 204
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Authorization:
      - sanitized
      Dataserviceversion:
      - "3.0"
      X-Ms-Date:
      - Wed, 14 Jul 2021 15:54:16 GMT
      X-Ms-Version:
      - "2019-02-02"
    url: https://seankaneprim.table.cosmos.azure.com/gotablez98v63681ga8a(PartitionKey='pk001',RowKey='rk001')
    method: GET
  response:
    body: '{"odata.metadata":"https://seankaneprim.table.cosmos.azure.com/gotablez98v63681ga8a/$metadata#gotablez98v63681ga8a/@Element","odata.etag":"W/\"datetime''2021-07-14T15%3A54%3A15.7128712Z''\"","Bool":true,"Integer":10,"PartitionKey":"pk001","RowKey":"rk001","String":"abcdef","TimeStamp":"0001-01-01T00:00:00Z","Timestamp":"2021-07-14T15:54:15.7128712Z"}'
    headers:
      Content-Type:
      - application/json;odata=minimalmetadata
      Etag:
      - W/"datetime'2021-07-14T15%3A54%3A15.7128712Z'"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Authorization:
      - sanitized
      Dataserviceversion:
      - "3.0"
      X-Ms-Date:
      - Wed, 14 Jul 2021 15:54:16 GMT
      X-Ms-Version:
      - "2019-02-02"
    url: https://seankaneprim.table.cosmos.azure.com/gotablez98v63681ga8a()?%24filter=PartitionKey+eq+%27pk001%27
    method: GET
  response:
    body: '{"value":[{"odata.etag":"W/\"datetime''2021-07-14T15%3A54%3A15.7128712Z''\"","Bool":true,"Integer":10,"PartitionKey":"pk001","RowKey":"rk001","String":"abcdef","TimeStamp":"0001-01-01T00:00:00Z","Timestamp":"2021-07-14T15:54:15.7128712Z"}],"odata.metadata":"https://seankaneprim.table.cosmos.azure.com/$metadata#gotablez98v63681ga8a"}'
    headers:
      Content-Type:
      - application/json;odata=minimalmetadata
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Authorization:
      - sanitized
      X-Ms-Date:
      - Wed, 14 Jul 2021 15:54:16 GMT
      X-Ms-Version:
      - "2019-02-02"
    url: https://seankaneprim.table.cosmos.azure.com/Tables('gotablez98v63681ga8a')
    method: DELETE
  response:
    body: ""
    headers:
    status: 204 No Content
    code: 204
    duration: ""
