---
version: 1
interactions:
- request:
    body: '{"TableName":"gotablesnsmbvy9t1s18"}'
    form: {}
    headers:
      Authorization:
      - sanitized
      Content-Type:
      - application/json
      Dataserviceversion:
      - "3.0"
      X-Ms-Date:
      - Wed, 14 Jul 2021 20:00:48 GMT
      X-Ms-Version:
      - "2019-02-02"
    url: https://seankaneprim.table.cosmos.azure.com/Tables
    method: POST
  response:
    body: '{"TableName":"gotablesnsmbvy9t1s18","odata.metadata":"https://seankaneprim.table.cosmos.azure.com/$metadata#Tables/@Element"}'
    headers:
      Content-Type:
      - application/json;odata=minimalmetadata
      Etag:
      - W/"datetime'2021-07-14T20%3A00%3A48.4885512Z'"
      Location:
      - https://seankaneprim.table.cosmos.azure.com/Tables('gotablesnsmbvy9t1s18')
    status: 201 Created
    code: 201
    duration: ""
- request:
    body: '{"Bool":true,"Byte":"c29tZWJ5dGVz","DateTime":"2021-07-13T00:00:00Z","Float":3.14159,"Integer":1,"PartitionKey":"partition","RowKey":"1","String":"someString","TimeStamp":"0001-01-01T00:00:00Z"}'
    form: {}
    headers:
      Authorization:
      - sanitized
      Content-Type:
      - application/json
      Dataserviceversion:
      - "3.0"
      Prefer:
      - return-no-content
      X-Ms-Date:
      - Wed, 14 Jul 2021 20:00:49 GMT
      X-Ms-Version:
      - "2019-02-02"
    url: https://seankaneprim.table.cosmos.azure.com/gotablesnsmbvy9t1s18
    method: POST
  response:
    body: ""
    headers:
      Etag:
      - W/"datetime'2021-07-14T20%3A00%3A49.2275720Z'"
      Location:
      - https://seankaneprim.table.cosmos.azure.com/gotablesnsmbvy9t1s18(PartitionKey='partition',RowKey='1')
      Preference-Applied:
      - return-no-content
    status: 204 No Content
    code: 204
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Authorization:
      - sanitized
      X-Ms-Date:
      - Wed, 14 Jul 2021 20:00:49 GMT
      X-Ms-Version:
      - "2019-02-02"
    url: https://seankaneprim.table.cosmos.azure.com/Tables('gotablesnsmbvy9t1s18')
    method: DELETE
  response:
    body: ""
    headers:
    status: 204 No Content
    code: 204
    duration: ""
