---
version: 1
interactions:
- request:
    body: '{"TableName":"gotablex1913nmx6e729"}'
    form: {}
    headers:
      Authorization:
      - sanitized
      Content-Type:
      - application/json
      Dataserviceversion:
      - "3.0"
      X-Ms-Date:
      - Thu, 15 Jul 2021 21:46:36 GMT
      X-Ms-Version:
      - "2019-02-02"
    url: https://seankaneprim.table.cosmos.azure.com/Tables
    method: POST
  response:
    body: '{"TableName":"gotablex1913nmx6e729","odata.metadata":"https://seankaneprim.table.cosmos.azure.com/$metadata#Tables/@Element"}'
    headers:
      Content-Type:
      - application/json;odata=minimalmetadata
      Etag:
      - W/"datetime'2021-07-15T21%3A46%3A36.0097800Z'"
      Location:
      - https://seankaneprim.table.cosmos.azure.com/Tables('gotablex1913nmx6e729')
    status: 201 Created
    code: 201
    duration: ""
- request:
    body: "--batch_91789fa1-7728-4b0a-4ef7-bf84cd1ef031\r\nContent-Type: multipart/mixed;
      boundary=changeset_9e4ef1fe-196d-4d54-402d-71975aeaaca1\r\n\r\n--changeset_9e4ef1fe-196d-4d54-402d-71975aeaaca1\r\nContent-Transfer-Encoding:
      binary\r\nContent-Type: application/http\r\n\r\nPOST https://seankaneprim.table.cosmos.azure.com/gotablex1913nmx6e729?%24format=application%2Fjson%3Bodata%3Dminimalmetadata
      HTTP/1.1\r\nAccept: application/json;odata=minimalmetadata\r\nContent-Length:
      260\r\nContent-Type: application/json\r\nDataserviceversion: 3.0\r\nPrefer:
      return-no-content\r\nX-Ms-Version: 2019-02-02\r\n\r\n{\"Bool\":true,\"Byte\":\"c29tZWJ5dGVz\",\"DateTime\":\"2021-07-13T00:00:00Z\",\"Float\":3.14159,\"Float@odata.type\":\"Edm.Double\",\"Integer\":1,\"Integer@odata.type\":\"Edm.Double\",\"PartitionKey\":\"partition\",\"RowKey\":\"1\",\"String\":\"someString\",\"Timestamp\":\"0001-01-01T00:00:00Z\"}\r\n--changeset_9e4ef1fe-196d-4d54-402d-71975aeaaca1\r\nContent-Transfer-Encoding:
      binary\r\nContent-Type: application/http\r\n\r\nPOST https://seankaneprim.table.cosmos.azure.com/gotablex1913nmx6e729?%24format=application%2Fjson%3Bodata%3Dminimalmetadata
      HTTP/1.1\r\nAccept: application/json;odata=minimalmetadata\r\nContent-Length:
      260\r\nContent-Type: application/json\r\nDataserviceversion: 3.0\r\nPrefer:
      return-no-content\r\nX-Ms-Version: 2019-0[...]
- request:
    body: ""
    form: {}
    headers:
      Authorization:
      - sanitized
      Dataserviceversion:
      - "3.0"
      X-Ms-Date:
      - Thu, 15 Jul 2021 21:46:37 GMT
      X-Ms-Version:
      - "2019-02-02"
    url: https://seankaneprim.table.cosmos.azure.com/gotablex1913nmx6e729()?%24filter=RowKey+eq+%271%27
    method: GET
  response:
    body: '{"value":[{"odata.etag":"W/\"datetime''2021-07-15T21%3A46%3A36.8018440Z''\"","Bool":true,"Byte":"c29tZWJ5dGVz","DateTime":"2021-07-13T00:00:00Z","Float":3.14159,"Integer":1.0,"PartitionKey":"partition","RowKey":"1","String":"someString","Timestamp":"2021-07-15T21:46:36.8018440Z"}],"odata.metadata":"https://seankaneprim.table.cosmos.azure.com/$metadata#gotablex1913nmx6e729"}'
    headers:
      Content-Type:
      - application/json;odata=minimalmetadata
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: "--batch_8fa36a09-2e86-404c-6f73-a7feb9ec183b\r\nContent-Type: multipart/mixed;
      boundary=changeset_b7546f22-aa51-481e-6b67-4722dc3666fc\r\n\r\n--changeset_b7546f22-aa51-481e-6b67-4722dc3666fc\r\nContent-Transfer-Encoding:
      binary\r\nContent-Type: application/http\r\n\r\nPOST https://seankaneprim.table.cosmos.azure.com/gotablex1913nmx6e729(PartitionKey='partition',RowKey='1')?%24format=application%2Fjson%3Bodata%3Dminimalmetadata
      HTTP/1.1\r\nAccept: application/json\r\nContent-Length: 63\r\nContent-Type:
      application/json\r\nDataserviceversion: 3.0\r\nIf-Match: W/\"datetime'2021-07-15T21%3A46%3A36.8018440Z'\"\r\nX-Http-Method:
      MERGE\r\nX-Ms-Version: 2019-02-02\r\n\r\n{\"MergeProperty\":\"foo\",\"PartitionKey\":\"partition\",\"RowKey\":\"1\"}\r\n--changeset_b7546f22-aa51-481e-6b67-4722dc3666fc\r\nContent-Transfer-Encoding:
      binary\r\nContent-Type: application/http\r\n\r\nDELETE https://seankaneprim.table.cosmos.azure.com/gotablex1913nmx6e729(PartitionKey='partition',RowKey='2')?%24format=application%2Fjson%3Bodata%3Dminimalmetadata
      HTTP/1.1\r\nAccept: application/json;odata=minimalmetadata\r\nDataserviceversion:
      3.0\r\nIf-Match: *\r\nX-Ms-Version: 2019-02-02\r\n\r\n\r\n--changeset_b7546f22-aa51-481e-6b67-4722dc3666fc\r\nContent-Transfer-Encoding:
      binary\r\nContent-Type: application/http\r\n\r\nPUT https://seankaneprim.table.cosmos.azure.com/gotablex1913nmx6e729(PartitionKey='partition',RowKey='3')?%24format=application%2Fjson%3Bodata%3Dminimalmetadata
      HTTP/1.1\r\nAccept: application/json\r\nContent-Length: 65\r\nContent-Type:
      application/json\r\nDataserviceversion: 3.0\r\nIf-Match: *\r\nX-Ms-Version:
      2019-02-02\r\n\r\n{\"PartitionKey\":\"partition\",\"ReplaceProperty\":\"foo\",\"RowKey\":\"3\"}\r\n--changeset_b7546f22-aa51-481e-6b67-4722dc3666fc\r\nContent-Transfer-Encoding:
      binary\r\nContent-Type: application/http\r\n\r\nPOST https://seankaneprim.table.cosmos.azure.com/gotablex1913nmx6e729?%24format=application%2Fjson%3Bodata%3Dminimalmetadata
      HTTP/1.1\r\nAccept: application/json;odata=minimalmetadata\r\nContent-Length:
      260\r\nContent-Type: application/json\r\nDataserviceversion: 3.0\r\nPrefer:
      return-no-content\r\nX-Ms-Version: 2019-0[...]
[...]
- request:
    body: ""
    form: {}
    headers:
      Authorization:
      - sanitized
      X-Ms-Date:
      - Thu, 15 Jul 2021 21:46:38 GMT
      X-Ms-Version:
      - "2019-02-02"
    url: https://seankaneprim.table.cosmos.azure.com/Tables('gotablex1913nmx6e729')
    method: DELETE
  response:
    body: ""
    headers:
    status: 204 No Content
    code: 204
    duration: ""
