---
version: 1
interactions:
- request:
    body: '{"TableName":"gotable6cte8xhujo8kn"}'
    form: {}
    headers:
      Authorization:
      - sanitized
      Content-Type:
      - application/json
      Dataserviceversion:
      - "3.0"
      X-Ms-Date:
      - Wed, 14 Jul 2021 20:06:05 GMT
      X-Ms-Version:
      - "2019-02-02"
    url: https://seankaneprim.table.cosmos.azure.com/Tables
    method: POST
  response:
    body: '{"TableName":"gotable6cte8xhujo8kn","odata.metadata":"https://seankaneprim.table.cosmos.azure.com/$metadata#Tables/@Element"}'
    headers:
      Content-Type:
      - application/json;odata=minimalmetadata
      Etag:
      - W/"datetime'2021-07-14T20%3A06%3A06.5598472Z'"
      Location:
      - https://seankaneprim.table.cosmos.azure.com/Tables('gotable6cte8xhujo8kn')
    status: 201 Created
    code: 201
    duration: ""
- request:
    body: '{"Bool":true,"Byte":"c29tZWJ5dGVz","DateTime":"2021-07-13T00:00:00Z","Float":3.14159,"Integer":1,"PartitionKey":"partition","RowKey":"1","String":"someString","TimeStamp":"0001-01-01T00:00:00Z"}'
    form: {}
    headers:
      Authorization:
      - sanitized
      Content-Type:
      - application/json
      Dataserviceversion:
      - "3.0"
      Prefer:
      - return-no-content
      X-Ms-Date:
      - Wed, 14 Jul 2021 20:06:07 GMT
      X-Ms-Version:
      - "2019-02-02"
    url: https://seankaneprim.table.cosmos.azure.com/gotable6cte8xhujo8kn
    method: POST
  response:
    body: ""
    headers:
      Etag:
      - W/"datetime'2021-07-14T20%3A06%3A07.3636872Z'"
      Location:
      - https://seankaneprim.table.cosmos.azure.com/gotable6cte8xhujo8kn(PartitionKey='partition',RowKey='1')
      Preference-Applied:
      - return-no-content
    status: 204 No Content
    code: 204
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
      Authorization:
      - sanitized
      Dataserviceversion:
      - "3.0"
      X-Ms-Date:
      - Wed, 14 Jul 2021 20:06:08 GMT
      X-Ms-Version:
      - "2019-02-02"
    url: https://seankaneprim.table.cosmos.azure.com/gotable6cte8xhujo8kn()?%24filter=RowKey+lt+%275%27
    method: GET
  response:
    body: '{"value":[{"odata.etag":"W/\"datetime''2021-07-14T20%3A06%3A07.3636872Z''\"","Bool":true,"Byte":"c29tZWJ5dGVz","DateTime":"2021-07-13T00:00:00Z","Float":3.14159,"Integer":1,"PartitionKey":"partition","RowKey":"1","String":"someString","TimeStamp":"0001-01-01T00:00:00Z","Timestamp":"2021-07-14T20:06:07.3636872Z"},{"odata.etag":"W/\"datetime''2021-07-14T20%3A06%3A07.5098120Z''\"","Bool":true,"Byte":"c29tZWJ5dGVz","DateTime":"2021-07-13T00:00:00Z","Float":3.14159,"Integer":2,"PartitionKey":"partition","RowKey":"2","String":"someString","TimeStamp":"0001-01-01T00:00:00Z","Timestamp":"2021-07-14T20:06:07.5098120Z"},{"odata.etag":"W/\"datetime''2021-07-14T20%3A06%3A07.6210184Z''\"","Bool":true,"Byte":"c29tZWJ5dGVz","DateTime":"2021-07-13T00:00:00Z","Float":3.14159,"Integer":3,"PartitionKey":"partition","RowKey":"3","String":"someString","TimeStamp":"0001-01-01T00:00:00Z","Timestamp":"2021-07-14T20:06:07.6210184Z"},{"odata.etag":"W/\"datetime''2021-07-14T20%3A06%3A07.7661192Z''\"","Bool":true,"Byte":"c29tZWJ5dGVz","DateTime":"2021-07-13T00:00:00Z","Float":3.14159,"Integer":4,"PartitionKey":"partition","RowKey":"4","String":"someString","TimeStamp":"0001-01-01T00:00:00Z","Timestamp":"2021-07-14T20:06:07.7661192Z"}],"odata.metadata":"https://seankaneprim.table.cosmos.azure.com/$metadata#gotable6cte8xhujo8kn"}'
    headers:
      Content-Type:
      - application/json;odata=minimalmetadata
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Authorization:
      - sanitized
      X-Ms-Date:
      - Wed, 14 Jul 2021 20:06:08 GMT
      X-Ms-Version:
      - "2019-02-02"
    url: https://seankaneprim.table.cosmos.azure.com/Tables('gotable6cte8xhujo8kn')
    method: DELETE
  response:
    body: ""
    headers:
    status: 204 No Content
    code: 204
    duration: ""
