---
version: 1
interactions:
- request:
    body: '{"TableName":"gotableas9dj7zb9zmt2"}'
    form: {}
    headers:
      Authorization:
      - sanitized
      Content-Type:
      - application/json
      Dataserviceversion:
      - "3.0"
      X-Ms-Date:
      - Thu, 15 Jul 2021 21:46:45 GMT
      X-Ms-Version:
      - "2019-02-02"
    url: https://seankaneprim.table.cosmos.azure.com/Tables
    method: POST
  response:
    body: '{"TableName":"gotableas9dj7zb9zmt2","odata.metadata":"https://seankaneprim.table.cosmos.azure.com/$metadata#Tables/@Element"}'
    headers:
      Content-Type:
      - application/json;odata=minimalmetadata
      Etag:
      - W/"datetime'2021-07-15T21%3A46%3A45.0530312Z'"
      Location:
      - https://seankaneprim.table.cosmos.azure.com/Tables('gotableas9dj7zb9zmt2')
    status: 201 Created
    code: 201
    duration: ""
- request:
    body: '{"Bool":true,"Integer":1,"PartitionKey":"partition","RowKey":"1","String":"some
      string 1","Timestamp":"0001-01-01T00:00:00Z"}'
    form: {}
    headers:
      Authorization:
      - sanitized
      Content-Type:
      - application/json
      Dataserviceversion:
      - "3.0"
      Prefer:
      - return-no-content
      X-Ms-Date:
      - Thu, 15 Jul 2021 21:46:46 GMT
      X-Ms-Version:
      - "2019-02-02"
    url: https://seankaneprim.table.cosmos.azure.com/gotableas9dj7zb9zmt2
    method: POST
  response:
    body: ""
    headers:
      Etag:
      - W/"datetime'2021-07-15T21%3A46%3A45.8457096Z'"
      Location:
      - https://seankaneprim.table.cosmos.azure.com/gotableas9dj7zb9zmt2(PartitionKey='partition',RowKey='1')
      Preference-Applied:
      - return-no-content
    status: 204 No Content
    code: 204
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
      Authorization:
      - sanitized
      Dataserviceversion:
      - "3.0"
      X-Ms-Date:
      - Thu, 15 Jul 2021 21:46:47 GMT
      X-Ms-Version:
      - "2019-02-02"
    url: https://seankaneprim.table.cosmos.azure.com/gotableas9dj7zb9zmt2()?%24filter=RowKey+lt+%275%27
    method: GET
  response:
    body: '{"value":[{"odata.etag":"W/\"datetime''2021-07-15T21%3A46%3A45.8457096Z''\"","Bool":true,"Integer":1,"PartitionKey":"partition","RowKey":"1","String":"some
      string 1","Timestamp":"2021-07-15T21:46:45.8457096Z"},{"odata.etag":"W/\"datetime''2021-07-15T21%3A46%3A45.9550728Z''\"","Bool":true,"Integer":2,"PartitionKey":"partition","RowKey":"2","String":"some
      string 2","Timestamp":"2021-07-15T21:46:45.9550728Z"},{"odata.etag":"W/\"datetime''2021-07-15T21%3A46%3A46.0663816Z''\"","Bool":true,"Integer":3,"PartitionKey":"partition","RowKey":"3","String":"some
      string 3","Timestamp":"2021-07-15T21:46:46.0663816Z"},{"odata.etag":"W/\"datetime''2021-07-15T21%3A46%3A46.1749256Z''\"","Bool":true,"Integer":4,"PartitionKey":"partition","RowKey":"4","String":"some
      string 4","Timestamp":"2021-07-15T21:46:46.1749256Z"}],"odata.metadata":"https://seankaneprim.table.cosmos.azure.com/$metadata#gotableas9dj7zb9zmt2"}'
    headers:
      Content-Type:
      - application/json;odata=minimalmetadata
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Authorization:
      - sanitized
      X-Ms-Date:
      - Thu, 15 Jul 2021 21:46:47 GMT
      X-Ms-Version:
      - "2019-02-02"
    url: https://seankaneprim.table.cosmos.azure.com/Tables('gotableas9dj7zb9zmt2')
    method: DELETE
  response:
    body: ""
    headers:
    status: 204 No Content
    code: 204
    duration: ""
