{
  "Entries": [
    {
      "RequestUri": "https://fakestorageaccount.table.core.windows.net/Tables",
      "RequestMethod": "POST",
      "RequestHeaders": {
        ":authority": "localhost:5001",
        ":method": "POST",
        ":path": "/Tables",
        ":scheme": "https",
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "dataserviceversion": "3.0",
        "x-ms-date": "Tue, 31 Aug 2021 15:41:37 GMT",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": {
        "TableName": "tableName246899398"
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata=minimalmetadata; streaming=true; charset=utf-8",
        "Location": "https://seankaneprim.table.core.windows.net/Tables(\u0027tableName246899398\u0027)",
        "x-ms-version": "2019-02-02"
      },
      "ResponseBody": {
        "odata.metadata": "https://seankaneprim.table.core.windows.net/$metadata#Tables/@Element",
        "TableName": "tableName246899398"
      }
    },
    {
      "RequestUri": "https://fakestorageaccount.table.core.windows.net/tableName246899398",
      "RequestMethod": "POST",
      "RequestHeaders": {
        ":authority": "localhost:5001",
        ":method": "POST",
        ":path": "/tableName246899398",
        ":scheme": "https",
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "dataserviceversion": "3.0",
        "prefer": "return-no-content",
        "x-ms-date": "Tue, 31 Aug 2021 15:41:37 GMT",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": {
        "Bool": true,
        "Integer": 1,
        "PartitionKey": "partition",
        "RowKey": "1",
        "String": "some string 1",
        "Timestamp": "0001-01-01T00:00:00Z"
      },
      "StatusCode": 204,
      "ResponseHeaders": {
        "DataServiceId": "https://seankaneprim.table.core.windows.net/tableName246899398(PartitionKey=\u0027partition\u0027,RowKey=\u00271\u0027)",
        "ETag": "W/\u0022datetime\u00272021-08-31T15%3A41%3A38.3027816Z\u0027\u0022",
        "Location": "https://seankaneprim.table.core.windows.net/tableName246899398(PartitionKey=\u0027partition\u0027,RowKey=\u00271\u0027)",
        "Preference-Applied": "return-no-content",
        "x-ms-version": "2019-02-02"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://fakestorageaccount.table.core.windows.net/tableName246899398()?%24filter=RowKey\u002Blt\u002B%275%27\u0026%24format=application%2Fjson%3Bodata%3Dminimalmetadata",
      "RequestMethod": "GET",
      "RequestHeaders": {
        ":authority": "localhost:5001",
        ":method": "GET",
        ":path": "/tableName246899398()?%24filter=RowKey\u002Blt\u002B%275%27\u0026%24format=application%2Fjson%3Bodata%3Dminimalmetadata",
        ":scheme": "https",
        "Authorization": "Sanitized",
        "dataserviceversion": "3.0",
        "x-ms-date": "Tue, 31 Aug 2021 15:41:38 GMT",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata=minimalmetadata; streaming=true; charset=utf-8",
        "x-ms-version": "2019-02-02"
      },
      "ResponseBody": {
        "odata.metadata": "https://seankaneprim.table.core.windows.net/$metadata#tableName246899398",
        "value": [
          {
            "odata.etag": "W/\u0022datetime\u00272021-08-31T15%3A41%3A38.3027816Z\u0027\u0022",
            "PartitionKey": "partition",
            "RowKey": "1",
            "Timestamp": "2021-08-31T15:41:38.3027816Z",
            "Bool": true,
            "Integer": 1,
            "String": "some string 1"
          },
          {
            "odata.etag": "W/\u0022datetime\u00272021-08-31T15%3A41%3A38.4038527Z\u0027\u0022",
            "PartitionKey": "partition",
            "RowKey": "2",
            "Timestamp": "2021-08-31T15:41:38.4038527Z",
            "Bool": true,
            "Integer": 2,
            "String": "some string 2"
          },
          {
            "odata.etag": "W/\u0022datetime\u00272021-08-31T15%3A41%3A38.5049242Z\u0027\u0022",
            "PartitionKey": "partition",
            "RowKey": "3",
            "Timestamp": "2021-08-31T15:41:38.5049242Z",
            "Bool": true,
            "Integer": 3,
            "String": "some string 3"
          },
          {
            "odata.etag": "W/\u0022datetime\u00272021-08-31T15%3A41%3A38.5939863Z\u0027\u0022",
            "PartitionKey": "partition",
            "RowKey": "4",
            "Timestamp": "2021-08-31T15:41:38.5939863Z",
            "Bool": true,
            "Integer": 4,
            "String": "some string 4"
          }
        ]
      }
    },
    {
      "RequestUri": "https://fakestorageaccount.table.core.windows.net/Tables(\u0027tableName246899398\u0027)",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        ":authority": "localhost:5001",
        ":method": "DELETE",
        ":path": "/Tables(\u0027tableName246899398\u0027)",
        ":scheme": "https",
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 31 Aug 2021 15:41:38 GMT",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
        "x-ms-version": "2019-02-02"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {}
}