{
  "Entries": [
    {
      "RequestUri": "https://fakestorageaccount.table.cosmos.azure.com/Tables",
      "RequestMethod": "POST",
      "RequestHeaders": {
        ":authority": "localhost:5001",
        ":method": "POST",
        ":path": "/Tables",
        ":scheme": "https",
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "dataserviceversion": "3.0",
        "x-ms-date": "Mon, 02 Aug 2021 18:01:29 GMT",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": {
        "TableName": "tableName3051201099"
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata=minimalmetadata",
        "ETag": "W/\u0022datetime\u00272021-08-02T18%3A01%3A29.5478792Z\u0027\u0022",
        "Location": "https://seankaneprim.table.cosmos.azure.com/Tables(\u0027tableName3051201099\u0027)"
      },
      "ResponseBody": {
        "TableName": "tableName3051201099",
        "odata.metadata": "https://seankaneprim.table.cosmos.azure.com/$metadata#Tables/@Element"
      }
    },
    {
      "RequestUri": "https://fakestorageaccount.table.cosmos.azure.com/tableName3051201099",
      "RequestMethod": "POST",
      "RequestHeaders": {
        ":authority": "localhost:5001",
        ":method": "POST",
        ":path": "/tableName3051201099",
        ":scheme": "https",
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "dataserviceversion": "3.0",
        "prefer": "return-no-content",
        "x-ms-date": "Mon, 02 Aug 2021 18:01:30 GMT",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": {
        "Binary": "U29tZUJpbmFyeQ==",
        "Binary@odata.type": "Edm.Binary",
        "Bool": false,
        "DateTime": "2013-08-02T17:37:43.0090043Z",
        "DateTime@odata.type": "Edm.DateTime",
        "Double": 1234.1234,
        "Guid": "4185404a-5818-48c3-b9be-f217df0dba6f",
        "Guid@odata.type": "Edm.Guid",
        "Int32": 1234,
        "Int64": "123456789012",
        "Int64@odata.type": "Edm.Int64",
        "PartitionKey": "partition",
        "RowKey": "1",
        "String": "test"
      },
      "StatusCode": 204,
      "ResponseHeaders": {
        "ETag": "W/\u0022datetime\u00272021-08-02T18%3A01%3A30.2675464Z\u0027\u0022",
        "Location": "https://seankaneprim.table.cosmos.azure.com/tableName3051201099(PartitionKey=\u0027partition\u0027,RowKey=\u00271\u0027)",
        "Preference-Applied": "return-no-content"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakestorageaccount.table.cosmos.azure.com/tableName3051201099(PartitionKey=\u0027partition\u0027,RowKey=\u00271\u0027)?%24format=application%2Fjson%3Bodata%3Dfullmetadata",
      "RequestMethod": "GET",
      "RequestHeaders": {
        ":authority": "localhost:5001",
        ":method": "GET",
        ":path": "/tableName3051201099(PartitionKey=\u0027partition\u0027,RowKey=\u00271\u0027)?%24format=application%2Fjson%3Bodata%3Dfullmetadata",
        ":scheme": "https",
        "Authorization": "Sanitized",
        "dataserviceversion": "3.0",
        "x-ms-date": "Mon, 02 Aug 2021 18:01:31 GMT",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata=minimalmetadata",
        "ETag": "W/\u0022datetime\u00272021-08-02T18%3A01%3A30.2675464Z\u0027\u0022"
      },
      "ResponseBody": {
        "odata.metadata": "https://seankaneprim.table.cosmos.azure.com/tableName3051201099/$metadata#tableName3051201099/@Element",
        "odata.etag": "W/\u0022datetime\u00272021-08-02T18%3A01%3A30.2675464Z\u0027\u0022",
        "Binary@odata.type": "Edm.Binary",
        "Binary": "U29tZUJpbmFyeQ==",
        "Bool": false,
        "DateTime@odata.type": "Edm.DateTime",
        "DateTime": "2013-08-02T17:37:43.0090043Z",
        "Double": 1234.1234,
        "Guid@odata.type": "Edm.Guid",
        "Guid": "4185404a-5818-48c3-b9be-f217df0dba6f",
        "Int32": 1234,
        "Int64@odata.type": "Edm.Int64",
        "Int64": "123456789012",
        "PartitionKey": "partition",
        "RowKey": "1",
        "String": "test",
        "Timestamp": "2021-08-02T18:01:30.2675464Z"
      }
    },
    {
      "RequestUri": "https://fakestorageaccount.table.cosmos.azure.com/Tables(\u0027tableName3051201099\u0027)",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        ":authority": "localhost:5001",
        ":method": "DELETE",
        ":path": "/Tables(\u0027tableName3051201099\u0027)",
        ":scheme": "https",
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 02 Aug 2021 18:01:31 GMT",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
      },
      "ResponseBody": null
    }
  ],
  "Variables": {}
}