//go:build go1.13
// +build go1.13

// Copyright (c) Microsoft Corporation. All rights reserved.
// Licensed under the MIT License. See License.txt in the project root for license information.
// Code generated by Microsoft (R) AutoRest Code Generator.
// Changes may cause incorrect behavior and will be lost if the code is regenerated.

package armautomation

import (
	"context"
	"errors"
	"fmt"
	"github.com/Azure/azure-sdk-for-go/sdk/armcore"
	"github.com/Azure/azure-sdk-for-go/sdk/azcore"
	"net/http"
	"net/url"
	"strings"
)

// NodeCountInformationClient contains the methods for the NodeCountInformation group.
// Don't use this type directly, use NewNodeCountInformationClient() instead.
type NodeCountInformationClient struct {
	con            *armcore.Connection
	subscriptionID string
}

// NewNodeCountInformationClient creates a new instance of NodeCountInformationClient with the specified values.
func NewNodeCountInformationClient(con *armcore.Connection, subscriptionID string) *NodeCountInformationClient {
	return &NodeCountInformationClient{con: con, subscriptionID: subscriptionID}
}

// Get - Retrieve counts for Dsc Nodes.
// If the operation fails it returns the *ErrorResponse error type.
func (client *NodeCountInformationClient) Get(ctx context.Context, resourceGroupName string, automationAccountName string, countType CountType, options *NodeCountInformationGetOptions) (NodeCountInformationGetResponse, error) {
	req, err := client.getCreateRequest(ctx, resourceGroupName, automationAccountName, countType, options)
	if err != nil {
		return NodeCountInformationGetResponse{}, err
	}
	resp, err := client.con.Pipeline().Do(req)
	if err != nil {
		return NodeCountInformationGetResponse{}, err
	}
	if !resp.HasStatusCode(http.StatusOK) {
		return NodeCountInformationGetResponse{}, client.getHandleError(resp)
	}
	return client.getHandleResponse(resp)
}

// getCreateRequest creates the Get request.
func (client *NodeCountInformationClient) getCreateRequest(ctx context.Context, resourceGroupName string, automationAccountName string, countType CountType, options *NodeCountInformationGetOptions) (*azcore.Request, error) {
	urlPath := "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Automation/automationAccounts/{automationAccountName}/nodecounts/{countType}"
	if resourceGroupName == "" {
		return nil, errors.New("parameter resourceGroupName cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{resourceGroupName}", url.PathEscape(resourceGroupName))
	if automationAccountName == "" {
		return nil, errors.New("parameter automationAccountName cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{automationAccountName}", url.PathEscape(automationAccountName))
	if countType == "" {
		return nil, errors.New("parameter countType cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{countType}", url.PathEscape(string(countType)))
	if client.subscriptionID == "" {
		return nil, errors.New("parameter client.subscriptionID cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{subscriptionId}", url.PathEscape(client.subscriptionID))
	req, err := azcore.NewRequest(ctx, http.MethodGet, azcore.JoinPaths(client.con.Endpoint(), urlPath))
	if err != nil {
		return nil, err
	}
	req.Telemetry(telemetryInfo)
	reqQP := req.URL.Query()
	reqQP.Set("api-version", "2020-01-13-preview")
	req.URL.RawQuery = reqQP.Encode()
	req.Header.Set("Accept", "application/json")
	return req, nil
}

// getHandleResponse handles the Get response.
func (client *NodeCountInformationClient) getHandleResponse(resp *azcore.Response) (NodeCountInformationGetResponse, error) {
	result := NodeCountInformationGetResponse{RawResponse: resp.Response}
	if err := resp.UnmarshalAsJSON(&result.NodeCounts); err != nil {
		return NodeCountInformationGetResponse{}, err
	}
	return result, nil
}

// getHandleError handles the Get error response.
func (client *NodeCountInformationClient) getHandleError(resp *azcore.Response) error {
	body, err := resp.Payload()
	if err != nil {
		return azcore.NewResponseError(err, resp.Response)
	}
	errType := ErrorResponse{raw: string(body)}
	if err := resp.UnmarshalAsJSON(&errType); err != nil {
		return azcore.NewResponseError(fmt.Errorf("%s\n%s", string(body), err), resp.Response)
	}
	return azcore.NewResponseError(&errType, resp.Response)
}
