//go:build go1.13
// +build go1.13

// Copyright (c) Microsoft Corporation. All rights reserved.
// Licensed under the MIT License. See License.txt in the project root for license information.
// Code generated by Microsoft (R) AutoRest Code Generator.
// Changes may cause incorrect behavior and will be lost if the code is regenerated.

package armautomation

import (
	"context"
	"errors"
	"fmt"
	"github.com/Azure/azure-sdk-for-go/sdk/armcore"
	"github.com/Azure/azure-sdk-for-go/sdk/azcore"
	"net/http"
	"net/url"
	"strings"
)

// DscCompilationJobStreamClient contains the methods for the DscCompilationJobStream group.
// Don't use this type directly, use NewDscCompilationJobStreamClient() instead.
type DscCompilationJobStreamClient struct {
	con            *armcore.Connection
	subscriptionID string
}

// NewDscCompilationJobStreamClient creates a new instance of DscCompilationJobStreamClient with the specified values.
func NewDscCompilationJobStreamClient(con *armcore.Connection, subscriptionID string) *DscCompilationJobStreamClient {
	return &DscCompilationJobStreamClient{con: con, subscriptionID: subscriptionID}
}

// ListByJob - Retrieve all the job streams for the compilation Job.
// If the operation fails it returns the *ErrorResponse error type.
func (client *DscCompilationJobStreamClient) ListByJob(ctx context.Context, resourceGroupName string, automationAccountName string, jobID string, options *DscCompilationJobStreamListByJobOptions) (DscCompilationJobStreamListByJobResponse, error) {
	req, err := client.listByJobCreateRequest(ctx, resourceGroupName, automationAccountName, jobID, options)
	if err != nil {
		return DscCompilationJobStreamListByJobResponse{}, err
	}
	resp, err := client.con.Pipeline().Do(req)
	if err != nil {
		return DscCompilationJobStreamListByJobResponse{}, err
	}
	if !resp.HasStatusCode(http.StatusOK) {
		return DscCompilationJobStreamListByJobResponse{}, client.listByJobHandleError(resp)
	}
	return client.listByJobHandleResponse(resp)
}

// listByJobCreateRequest creates the ListByJob request.
func (client *DscCompilationJobStreamClient) listByJobCreateRequest(ctx context.Context, resourceGroupName string, automationAccountName string, jobID string, options *DscCompilationJobStreamListByJobOptions) (*azcore.Request, error) {
	urlPath := "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Automation/automationAccounts/{automationAccountName}/compilationjobs/{jobId}/streams"
	if resourceGroupName == "" {
		return nil, errors.New("parameter resourceGroupName cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{resourceGroupName}", url.PathEscape(resourceGroupName))
	if automationAccountName == "" {
		return nil, errors.New("parameter automationAccountName cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{automationAccountName}", url.PathEscape(automationAccountName))
	urlPath = strings.ReplaceAll(urlPath, "{jobId}", url.PathEscape(jobID))
	if client.subscriptionID == "" {
		return nil, errors.New("parameter client.subscriptionID cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{subscriptionId}", url.PathEscape(client.subscriptionID))
	req, err := azcore.NewRequest(ctx, http.MethodGet, azcore.JoinPaths(client.con.Endpoint(), urlPath))
	if err != nil {
		return nil, err
	}
	req.Telemetry(telemetryInfo)
	reqQP := req.URL.Query()
	reqQP.Set("api-version", "2020-01-13-preview")
	req.URL.RawQuery = reqQP.Encode()
	req.Header.Set("Accept", "application/json")
	return req, nil
}

// listByJobHandleResponse handles the ListByJob response.
func (client *DscCompilationJobStreamClient) listByJobHandleResponse(resp *azcore.Response) (DscCompilationJobStreamListByJobResponse, error) {
	result := DscCompilationJobStreamListByJobResponse{RawResponse: resp.Response}
	if err := resp.UnmarshalAsJSON(&result.JobStreamListResult); err != nil {
		return DscCompilationJobStreamListByJobResponse{}, err
	}
	return result, nil
}

// listByJobHandleError handles the ListByJob error response.
func (client *DscCompilationJobStreamClient) listByJobHandleError(resp *azcore.Response) error {
	body, err := resp.Payload()
	if err != nil {
		return azcore.NewResponseError(err, resp.Response)
	}
	errType := ErrorResponse{raw: string(body)}
	if err := resp.UnmarshalAsJSON(&errType); err != nil {
		return azcore.NewResponseError(fmt.Errorf("%s\n%s", string(body), err), resp.Response)
	}
	return azcore.NewResponseError(&errType, resp.Response)
}
