// +build go1.13

// Copyright (c) Microsoft Corporation. All rights reserved.
// Licensed under the MIT License. See License.txt in the project root for license information.
// Code generated by Microsoft (R) AutoRest Code Generator.
// Changes may cause incorrect behavior and will be lost if the code is regenerated.

package armpostgresql

import (
	"context"
	"errors"
	"fmt"
	"github.com/Azure/azure-sdk-for-go/sdk/armcore"
	"github.com/Azure/azure-sdk-for-go/sdk/azcore"
	"net/http"
	"net/url"
	"strings"
	"time"
)

// ServerParametersClient contains the methods for the ServerParameters group.
// Don't use this type directly, use NewServerParametersClient() instead.
type ServerParametersClient struct {
	con            *armcore.Connection
	subscriptionID string
}

// NewServerParametersClient creates a new instance of ServerParametersClient with the specified values.
func NewServerParametersClient(con *armcore.Connection, subscriptionID string) *ServerParametersClient {
	return &ServerParametersClient{con: con, subscriptionID: subscriptionID}
}

// BeginListUpdateConfigurations - Update a list of configurations in a given server.
// If the operation fails it returns the *CloudError error type.
func (client *ServerParametersClient) BeginListUpdateConfigurations(ctx context.Context, resourceGroupName string, serverName string, value ConfigurationListResult, options *ServerParametersBeginListUpdateConfigurationsOptions) (ServerParametersListUpdateConfigurationsPollerResponse, error) {
	resp, err := client.listUpdateConfigurations(ctx, resourceGroupName, serverName, value, options)
	if err != nil {
		return ServerParametersListUpdateConfigurationsPollerResponse{}, err
	}
	result := ServerParametersListUpdateConfigurationsPollerResponse{
		RawResponse: resp.Response,
	}
	pt, err := armcore.NewLROPoller("ServerParametersClient.ListUpdateConfigurations", "azure-async-operation", resp, client.con.Pipeline(), client.listUpdateConfigurationsHandleError)
	if err != nil {
		return ServerParametersListUpdateConfigurationsPollerResponse{}, err
	}
	poller := &serverParametersListUpdateConfigurationsPoller{
		pt: pt,
	}
	result.Poller = poller
	result.PollUntilDone = func(ctx context.Context, frequency time.Duration) (ServerParametersListUpdateConfigurationsResponse, error) {
		return poller.pollUntilDone(ctx, frequency)
	}
	return result, nil
}

// ResumeListUpdateConfigurations creates a new ServerParametersListUpdateConfigurationsPoller from the specified resume token.
// token - The value must come from a previous call to ServerParametersListUpdateConfigurationsPoller.ResumeToken().
func (client *ServerParametersClient) ResumeListUpdateConfigurations(ctx context.Context, token string) (ServerParametersListUpdateConfigurationsPollerResponse, error) {
	pt, err := armcore.NewLROPollerFromResumeToken("ServerParametersClient.ListUpdateConfigurations", token, client.con.Pipeline(), client.listUpdateConfigurationsHandleError)
	if err != nil {
		return ServerParametersListUpdateConfigurationsPollerResponse{}, err
	}
	poller := &serverParametersListUpdateConfigurationsPoller{
		pt: pt,
	}
	resp, err := poller.Poll(ctx)
	if err != nil {
		return ServerParametersListUpdateConfigurationsPollerResponse{}, err
	}
	result := ServerParametersListUpdateConfigurationsPollerResponse{
		RawResponse: resp,
	}
	result.Poller = poller
	result.PollUntilDone = func(ctx context.Context, frequency time.Duration) (ServerParametersListUpdateConfigurationsResponse, error) {
		return poller.pollUntilDone(ctx, frequency)
	}
	return result, nil
}

// ListUpdateConfigurations - Update a list of configurations in a given server.
// If the operation fails it returns the *CloudError error type.
func (client *ServerParametersClient) listUpdateConfigurations(ctx context.Context, resourceGroupName string, serverName string, value ConfigurationListResult, options *ServerParametersBeginListUpdateConfigurationsOptions) (*azcore.Response, error) {
	req, err := client.listUpdateConfigurationsCreateRequest(ctx, resourceGroupName, serverName, value, options)
	if err != nil {
		return nil, err
	}
	resp, err := client.con.Pipeline().Do(req)
	if err != nil {
		return nil, err
	}
	if !resp.HasStatusCode(http.StatusOK, http.StatusAccepted) {
		return nil, client.listUpdateConfigurationsHandleError(resp)
	}
	return resp, nil
}

// listUpdateConfigurationsCreateRequest creates the ListUpdateConfigurations request.
func (client *ServerParametersClient) listUpdateConfigurationsCreateRequest(ctx context.Context, resourceGroupName string, serverName string, value ConfigurationListResult, options *ServerParametersBeginListUpdateConfigurationsOptions) (*azcore.Request, error) {
	urlPath := "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DBforPostgreSQL/servers/{serverName}/updateConfigurations"
	if client.subscriptionID == "" {
		return nil, errors.New("parameter client.subscriptionID cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{subscriptionId}", url.PathEscape(client.subscriptionID))
	if resourceGroupName == "" {
		return nil, errors.New("parameter resourceGroupName cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{resourceGroupName}", url.PathEscape(resourceGroupName))
	if serverName == "" {
		return nil, errors.New("parameter serverName cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{serverName}", url.PathEscape(serverName))
	req, err := azcore.NewRequest(ctx, http.MethodPost, azcore.JoinPaths(client.con.Endpoint(), urlPath))
	if err != nil {
		return nil, err
	}
	req.Telemetry(telemetryInfo)
	reqQP := req.URL.Query()
	reqQP.Set("api-version", "2017-12-01")
	req.URL.RawQuery = reqQP.Encode()
	req.Header.Set("Accept", "application/json")
	return req, req.MarshalAsJSON(value)
}

// listUpdateConfigurationsHandleError handles the ListUpdateConfigurations error response.
func (client *ServerParametersClient) listUpdateConfigurationsHandleError(resp *azcore.Response) error {
	body, err := resp.Payload()
	if err != nil {
		return azcore.NewResponseError(err, resp.Response)
	}
	errType := CloudError{raw: string(body)}
	if err := resp.UnmarshalAsJSON(&errType); err != nil {
		return azcore.NewResponseError(fmt.Errorf("%s\n%s", string(body), err), resp.Response)
	}
	return azcore.NewResponseError(&errType, resp.Response)
}
