---
version: 1
interactions:
- request:
    body: <StorageServiceProperties><MinuteMetrics><Enabled>true</Enabled><IncludeAPIs>true</IncludeAPIs><RetentionPolicy><Enabled>true</Enabled><Days>366</Days></RetentionPolicy><Version>1.0</Version></MinuteMetrics></StorageServiceProperties>
    form: {}
    headers:
      Authorization:
      - sanitized
      Content-Type:
      - application/xml
      X-Ms-Date:
      - Wed, 21 Jul 2021 18:51:15 GMT
      X-Ms-Version:
      - "2019-02-02"
    url: https://seankaneprim.table.core.windows.net/?comp=properties&restype=service
    method: PUT
  response:
    body: |-
      <?xml version="1.0" encoding="utf-8"?><m:error xmlns:m="http://schemas.microsoft.com/ado/2007/08/dataservices/metadata"><m:code>InvalidXmlDocument</m:code><m:message xml:lang="en-US">XML specified is not syntactically valid.
      RequestId:3ef1f362-6002-00a7-5261-7e00b7000000
      Time:2021-07-21T18:51:16.5818083Z</m:message></m:error>
    headers:
      Content-Type:
      - application/xml
      X-Ms-Error-Code:
      - InvalidXmlDocument
      X-Ms-Version:
      - "2019-02-02"
    status: 400 XML specified is not syntactically valid.
    code: 400
    duration: ""
