{
  "Entries": [
    {
      "RequestUri": "https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/go-sdk-test-rg?api-version=2021-04-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "location": "eastus"
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-writes": "1199"
      },
      "ResponseBody": {
        "id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/go-sdk-test-rg",
        "name": "go-sdk-test-rg",
        "type": "Microsoft.Resources/resourceGroups",
        "location": "eastus",
        "properties": {
          "provisioningState": "Succeeded"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/go-sdk-test-rg/providers/Microsoft.ContainerRegistry/registries/registrynanvl0bg?api-version=2022-02-01-preview",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "location": "eastus",
        "properties": {
          "adminUserEnabled": true
        },
        "sku": {
          "name": "Premium"
        },
        "tags": {
          "key": "value"
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2022-02-01-preview",
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-writes": "1198"
      },
      "ResponseBody": {
        "sku": {
          "name": "Premium",
          "tier": "Premium"
        },
        "type": "Microsoft.ContainerRegistry/registries",
        "id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/go-sdk-test-rg/providers/Microsoft.ContainerRegistry/registries/registrynanvl0bg",
        "name": "registrynanvl0bg",
        "location": "eastus",
        "tags": {
          "key": "value"
        },
        "systemData": {
          "createdBy": "00000000-0000-0000-0000-000000000000",
          "createdByType": "Application",
          "createdAt": "2022-10-12T08:38:12.7965718\u002B00:00",
          "lastModifiedBy": "00000000-0000-0000-0000-000000000000",
          "lastModifiedByType": "Application",
          "lastModifiedAt": "2022-10-12T08:38:12.7965718\u002B00:00"
        },
        "properties": {
          "loginServer": "registrynanvl0bg.azurecr.io",
          "creationDate": "2022-10-12T08:38:12.7965718Z",
          "provisioningState": "Succeeded",
          "adminUserEnabled": true,
          "networkRuleSet": {
            "defaultAction": "Allow",
            "ipRules": []
          },
          "policies": {
            "quarantinePolicy": {
              "status": "disabled"
            },
            "trustPolicy": {
              "type": "Notary",
              "status": "disabled"
            },
            "retentionPolicy": {
              "days": 7,
              "lastUpdatedTime": "2022-10-12T08:38:26.1518374\u002B00:00",
              "status": "disabled"
            },
            "exportPolicy": {
              "status": "enabled"
            },
            "azureADAuthenticationAsArmPolicy": {
              "status": "enabled"
            },
            "softDeletePolicy": {
              "retentionDays": 7,
              "lastUpdatedTime": "2022-10-12T08:38:26.1518374\u002B00:00",
              "status": "disabled"
            }
          },
          "encryption": {
            "status": "disabled"
          },
          "dataEndpointEnabled": false,
          "dataEndpointHostNames": [],
          "privateEndpointConnections": [],
          "publicNetworkAccess": "Enabled",
          "networkRuleBypassOptions": "AzureServices",
          "zoneRedundancy": "Disabled",
          "anonymousPullEnabled": false
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/go-sdk-test-rg/providers/Microsoft.ContainerRegistry/registries/registrynanvl0bg/scopeMaps/scopemapnanvl0bg?api-version=2022-02-01-preview",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "properties": {
          "actions": [
            "repositories/myrepository/content/write",
            "repositories/myrepository/content/delete"
          ],
          "description": "Developer Scopes"
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2019-05-01-preview, 2020-11-01-preview, 2021-06-01-preview, 2021-08-01-preview, 2021-12-01-preview, 2022-02-01-preview",
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-writes": "1197"
      },
      "ResponseBody": {
        "type": "Microsoft.ContainerRegistry/registries/scopeMaps",
        "id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/go-sdk-test-rg/providers/Microsoft.ContainerRegistry/registries/registrynanvl0bg/scopeMaps/scopemapnanvl0bg",
        "name": "scopemapnanvl0bg",
        "systemData": {
          "createdBy": "00000000-0000-0000-0000-000000000000",
          "createdByType": "Application",
          "createdAt": "2022-10-12T08:38:27.9649922\u002B00:00",
          "lastModifiedBy": "00000000-0000-0000-0000-000000000000",
          "lastModifiedByType": "Application",
          "lastModifiedAt": "2022-10-12T08:38:27.9649922\u002B00:00"
        },
        "properties": {
          "description": "Developer Scopes",
          "type": "UserDefined",
          "creationDate": "2022-10-12T08:38:28.2303787\u002B00:00",
          "provisioningState": "Succeeded",
          "actions": [
            "repositories/myrepository/content/write",
            "repositories/myrepository/content/delete"
          ]
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/go-sdk-test-rg/providers/Microsoft.ContainerRegistry/registries/registrynanvl0bg/tokens/tokennamenvl0bg?api-version=2022-02-01-preview",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "properties": {
          "scopeMapId": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/go-sdk-test-rg/providers/Microsoft.ContainerRegistry/registries/registrynanvl0bg/scopeMaps/scopemapnanvl0bg",
          "status": "disabled"
        }
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "api-supported-versions": "2019-05-01-preview, 2020-11-01-preview, 2021-06-01-preview, 2021-08-01-preview, 2021-12-01-preview, 2022-02-01-preview",
        "Azure-AsyncOperation": "https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/go-sdk-test-rg/providers/Microsoft.ContainerRegistry/registries/registrynanvl0bg/tokens/tokennamenvl0bg/operationStatuses/token-00000000-0000-0000-0000-000000000000?api-version=2022-02-01-preview",
        "Content-Type": "application/json; charset=utf-8",
        "Retry-After": "10",
        "x-ms-ratelimit-remaining-subscription-writes": "1196"
      },
      "ResponseBody": {
        "type": "Microsoft.ContainerRegistry/registries/tokens",
        "id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/go-sdk-test-rg/providers/Microsoft.ContainerRegistry/registries/registrynanvl0bg/tokens/tokennamenvl0bg",
        "name": "tokennamenvl0bg",
        "systemData": {
          "createdBy": "00000000-0000-0000-0000-000000000000",
          "createdByType": "Application",
          "createdAt": "2022-10-12T08:38:28.5899971\u002B00:00",
          "lastModifiedBy": "00000000-0000-0000-0000-000000000000",
          "lastModifiedByType": "Application",
          "lastModifiedAt": "2022-10-12T08:38:28.5899971\u002B00:00"
        },
        "properties": {
          "creationDate": "2022-10-12T08:38:28.9492744\u002B00:00",
          "provisioningState": "Creating",
          "scopeMapId": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/go-sdk-test-rg/providers/Microsoft.ContainerRegistry/registries/registrynanvl0bg/scopeMaps/scopemapnanvl0bg",
          "credentials": {
            "passwords": []
          },
          "status": "disabled"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/go-sdk-test-rg/providers/Microsoft.ContainerRegistry/registries/registrynanvl0bg/tokens/tokennamenvl0bg/operationStatuses/token-00000000-0000-0000-0000-000000000000?api-version=2022-02-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2019-05-01-preview, 2020-11-01-preview, 2021-06-01-preview, 2021-08-01-preview, 2021-12-01-preview, 2022-02-01-preview",
        "Azure-AsyncOperation": "https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/go-sdk-test-rg/providers/Microsoft.ContainerRegistry/registries/registrynanvl0bg/tokens/tokennamenvl0bg/operationStatuses/token-00000000-0000-0000-0000-000000000000?api-version=2022-02-01-preview",
        "Content-Type": "application/json; charset=utf-8",
        "Retry-After": "10",
        "x-ms-ratelimit-remaining-subscription-reads": "11999"
      },
      "ResponseBody": {
        "status": "Succeeded"
      }
    },
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.ContainerRegistry/checkNameAvailability?api-version=2022-02-01-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "name": "myRegistry",
        "type": "Microsoft.ContainerRegistry/registries"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-reads": "11997"
      },
      "ResponseBody": {
        "nameAvailable": false,
        "reason": "AlreadyExists",
        "message": "The registry myRegistry is already in use."
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.ContainerRegistry/registries?api-version=2022-02-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-original-request-ids": [
          "",
          ""
        ],
        "x-ms-ratelimit-remaining-subscription-reads": "11996"
      },
      "ResponseBody": {
        "value": [
          {
            "sku": {
              "name": "Premium",
              "tier": "Premium"
            },
            "type": "Microsoft.ContainerRegistry/registries",
            "id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/go-sdk-test-rg/providers/Microsoft.ContainerRegistry/registries/registrynanvl0bg",
            "name": "registrynanvl0bg",
            "location": "eastus",
            "tags": {
              "key": "value"
            },
            "[...]
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/go-sdk-test-rg/providers/Microsoft.ContainerRegistry/registries?api-version=2022-02-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2022-02-01-preview",
        "Content-Type": "application/json; c[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/go-sdk-test-rg/providers/Microsoft.ContainerRegistry/registries/registrynanvl0bg/listUsages?api-version=2022-02-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2022-02-01-preview",
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-reads": "11993"
      },
      "ResponseBody": {
        "value": [
          {
            "name": "Size",
            "limit": 536870912000,
            "currentValue": 0,
            "unit": "Bytes"
          },
          {
            "name": "Webhooks",
            "limit": 500,
            "currentValue": 0,
            "unit": "Count"
          },
          {
            "name": "Geo-replications",
            "limit": -1,
            "currentValue": 0,
            "unit": "Count"
          },
          {
            "name": "IPRules",
            "limit": 100,
            "currentValue": 0,
            "unit": "Count"
          },
          {
            "name": "VNetRules",
            "limit": 100,
            "currentValue": 0,
            "unit": "Count"
          },
          {
            "name": "PrivateEndpointConnections",
            "limit": 200,
            "currentValue": 0,
            "unit": "Count"
          }
        ]
      }
    },
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/go-sdk-test-rg/providers/Microsoft.ContainerRegistry/registries/registrynanvl0bg/privateLinkResources?api-version=2022-02-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2022-02-01-preview",
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-reads": "11992"
      },
      "ResponseBody": {
        "value": [
          {
            "type": "Microsoft.ContainerRegistry/registries/privateLinkResources",
            "id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/go-sdk-test-rg/providers/Microsoft.ContainerRegistry/registries/registrynanvl0bg/privateLinkResources/registry",
            "name": "registry",
            "properties": {
              "groupId": "registry",
              "requiredMembers": [
                "registry_data_eastus",
                "registry"
              ],
              "requiredZoneNames": [
                "privatelink.azurecr.io"
              ]
            }
          }
        ]
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/go-sdk-test-rg/providers/Microsoft.ContainerRegistry/registries/registrynanvl0bg/privateLinkResources/registry?api-version=2022-02-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2022-02-01-preview",
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-reads": "11991"
      },
      "ResponseBody": {
        "type": "Microsoft.ContainerRegistry/registries/privateLinkResources",
        "id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/go-sdk-test-rg/providers/Microsoft.ContainerRegistry/registries/registrynanvl0bg/privateLinkResources/registry",
        "name": "registry",
        "properties": {
          "groupId": "registry",
          "requiredMembers": [
            "registry_data_eastus",
            "registry"
          ],
          "requiredZoneNames": [
            "privatelink.azurecr.io"
          ]
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/go-sdk-test-rg/providers/Microsoft.ContainerRegistry/registries/registrynanvl0bg/exportPipelines/exportpipenvl0bg?api-version=2022-02-01-preview",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "identity": {
          "type": "SystemAssigned"
        },
        "location": "eastus",
        "properties": {
          "options": [
            "OverwriteBlobs"
          ],
          "target": {
            "keyVaultUri": "https://myvault.vault.azure.net/secrets/acrexportsas",
            "type": "AzureStorageBlobContainer",
            "uri": "https://accountname.blob.core.windows.net/containername"
          }
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2019-12-01-preview, 2020-11-01-preview, 2021-06-01-preview, 2021-08-01-preview, 2021-12-01-preview, 2022-02-01-preview",
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-writes": "1194"
      },
      "ResponseBody": {
        "type": "Microsoft.ContainerRegistry/registries/exportPipelines",
        "location": "EASTUS",
        "identity": {
          "principalId": "00000000-0000-0000-0000-000000000000",
          "tenantId": "00000000-0000-0000-0000-000000000000",
          "type": "systemAssigned"
        },
        "id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/go-sdk-test-rg/providers/Microsoft.ContainerRegistry/registries/registrynanvl0bg/exportPipelines/exportpipenvl0bg",
        "name": "exportpipenvl0bg",
        "systemData": {
          "createdBy": "00000000-0000-0000-0000-000000000000",
          "createdByType": "Application",
          "createdAt": "2022-10-12T08:38:47.5599313\u002B00:00",
          "lastModifiedBy": "00000000-0000-0000-0000-000000000000",
          "lastModifiedByType": "Application",
          "lastModifiedAt": "2022-10-12T08:38:47.5599313\u002B00:00"
        },
        "properties": {
          "target": {
            "type": "AzureStorageBlobContainer",
            "uri": "https://accountname.blob.core.windows.net/containername",
            "keyVaultUri": "https://myvault.vault.azure.net/secrets/acrexportsas"
          },
          "options": [
            "OverwriteBlobs"
          ],
          "provisioningState": "Succeeded"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/go-sdk-test-rg/providers/Microsoft.ContainerRegistry/registries/registrynanvl0bg/exportPipelines?api-version=2022-02-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2019-12-01-preview, 2020-11-01-p[...]
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/go-sdk-test-rg/providers/Microsoft.ContainerRegistry/registries/registrynanvl0bg/importPipelines/importpipenvl0bg?api-version=2022-02-01-preview",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "identity": {
          "type": "SystemAssigned"
        },
        "location": "eastus",
        "properties": {
          "options": [
            "OverwriteTags",
            "DeleteSourceBlobOnSuccess",
            "ContinueOnErrors"
          ],
          "source": {
            "keyVaultUri": "https://myvault.vault.azure.net/secrets/acrimportsas",
            "type": "AzureStorageBlobContainer",
            "uri": "https://accountname.blob.core.windows.net/containername"
          }
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2019-12-01-preview, 2020-11-01-preview, 2021-06-01-preview, 2021-08-01-preview, 2021-12-01-preview, 2022-02-01-preview",
        "Content-Type": "application/json; charse[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/go-sdk-test-rg/providers/Microsoft.ContainerRegistry/registries/registrynanvl0bg/importPipelines?api-version=2022-02-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2019-12-01-preview, 2020-11-01-p[...]
[...]
    {
      "RequestUri": "https://management.azure.com/providers/Microsoft.ContainerRegistry/operations?api-version=2022-02-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-tenant-reads": "11999"
      },
      "ResponseBody": {
        "value": [
          {
            "name": "Microsoft.ContainerRegistry/locations/deleteVirtualNetworkOrSubnets/action",
            "display": {
              "provider": "Microsoft ContainerRegistry",
              "resource": "",
              "operation": "Delete virtual network or subnets notifications",
              "description": "Notifies Microsoft.ContainerRegistry that virtual network or subnet is being deleted"
            },
            "isDataAction": false
          },
          {
            "name": "Microsoft.ContainerRegistry/register/action",
            "display": {
              "provider": "Microsoft ContainerRegistry",
              "resource": "",
              "operation": "Register the Container Registry Resource Provider",
              "description": "Registers the subscription for the container registry resource provider and enables the creation of container registries."
            },
            "isDataAction": false
       [...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/go-sdk-test-rg/providers/Microsoft.ContainerRegistry/registries/registrynanvl0bg/generateCredentials?api-version=2022-02-01-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "tokenId": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/go-sdk-test-rg/providers/Microsoft.ContainerRegistry/registries/registrynanvl0bg/tokens/tokennamenvl0bg"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2019-05-01-preview, 2020-11-01-preview, 2021-06-01-preview, 2021-08-01-preview, 2021-12-01-preview, 2022-02-01-preview",
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-writes": "1199"
      },
      "ResponseBody": {
        "username": "tokennamenvl0bg",
        "passwords": [
          {
            "creationTime": "2022-10-12T08:38:57.0320744\u002B00:00",
            "name": "password1",
            "value": "ri/YyvqWZsuN2qT6aMInNZSRan2DfQLK"
          },
          {
            "creationTime": "2022-10-12T08:38:57.0320744\u002B00:00",
            "name": "password2",
            "value": "aX4QDWgaF7rqjtdukFXRGw8t0gfVbF=c"
          }
        ]
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/go-sdk-test-rg/providers/Microsoft.ContainerRegistry/registries/registrynanvl0bg/regenerateCredential?api-version=2022-02-01-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "name": "password"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2022-02-01-preview",
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-writes": "1198"
      },
      "ResponseBody": {
        "username": "registrynanvl0bg",
        "passwords": [
          {
            "name": "password",
            "value": "2MhzUGOs7NKBkUgW1j4TXUgHfYwFe8=i"
          },
          {
            "name": "password2",
            "value": "k4i2=jP7Hb3k4hlAFJBlAFaWEDZS3gTT"
          }
        ]
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/go-sdk-test-rg/providers/Microsoft.ContainerRegistry/registries/registrynanvl0bg/listCredentials?api-version=2022-02-01-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2022-02-01-preview",
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-writes": "1197"
      },
      "ResponseBody": {
        "username": "registrynanvl0bg",
        "passwords": [
          {
            "name": "password",
            "value": "2MhzUGOs7NKBkUgW1j4TXUgHfYwFe8=i"
          },
          {
            "name": "password2",
            "value": "k4i2=jP7Hb3k4hlAFJBlAFaWEDZS3gTT"
          }
        ]
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/go-sdk-test-rg/providers/Microsoft.ContainerRegistry/registries/registrynanvl0bg/replications/replicationvl0bg?api-version=2022-02-01-preview",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "location": "westus2"
      },
      "StatusCode": 201,
 [...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/go-sdk-test-rg/providers/Microsoft.ContainerRegistry/registries/registrynanvl0bg/replications/replicationvl0bg/operationStatuses/replications-00000000-0000-0000-0000-000000000000?api-version=2022-02-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2020-11-01-preview, 2021-06-01-preview, 2021-08-01-preview, 2021-09-01, 2021-12-01-preview, 2022-02-01-preview",
        "Azure-AsyncOperation": "https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/go-sdk-test-rg/providers/Microsoft.ContainerRegistry/registries/registrynanvl0bg/replications/replicationvl0bg/operationStatuses/replications-00000000-0000-0000-0000-000000000000?api-version=2022-02-01-preview",
        "Content-Type": "application/json; charset=utf-8",
        "Retry-After": "10",
        "x-ms-ratelimit-remaining-subscription-reads": "11986"
      },
      "ResponseBody": {
        "status": "Creating"
      }
    },
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/go-sdk-test-rg/providers/Microsoft.ContainerRegistry/registries/registrynanvl0bg/replications?api-version=2022-02-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2020-11-01-preview, 2021-06-01-prev[...]
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/go-sdk-test-rg/providers/Microsoft.ContainerRegistry/registries/registrynanvl0bg/replications/replicationvl0bg?api-version=2022-02-01-preview",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "api-supported-versions": "2020-11-01-preview, 2021-06-01-preview, 2021-08-01-preview, 2021-09-01, 2021-12-01-preview, 2022-02-01-preview",
        "Content-Type": "application/json; charset=utf-8",
        "Location": "https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.ContainerRegistry/locations/westus2/operationResults/replications-00000000-0000-0000-0000-000000000000?api-version=2022-02-01-preview",
        "Retry-After": "10",
        "x-ms-ratelimit-remaining-subscription-deletes": "14996"
      },
      "ResponseBody": "null"
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.ContainerRegistry/locations/westus2/operationResults/replications-00000000-0000-0000-0000-000000000000?api-version=2022-02-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
[...]
