{
  "Entries": [
    {
      "RequestUri": "https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/go-sdk-test-rg?api-version=2021-04-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "location": "eastus"
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-writes": "1199"
      },
      "ResponseBody": {
        "id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/go-sdk-test-rg",
        "name": "go-sdk-test-rg",
        "type": "Microsoft.Resources/resourceGroups",
        "location": "eastus",
        "properties": {
          "provisioningState": "Succeeded"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/go-sdk-test-rg/providers/Microsoft.ContainerRegistry/registries/registryna2nvl0bg?api-version=2022-02-01-preview",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "location": "eastus",
        "properties": {
          "adminUserEnabled": true
        },
        "sku": {
          "name": "Premium"
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2022-02-01-preview",
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-writes": "1198"
      },
      "ResponseBody": {
        "sku": {
          "name": "Premium",
          "tier": "Premium"
        },
        "type": "Microsoft.ContainerRegistry/registries",
        "id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/go-sdk-test-rg/providers/Microsoft.ContainerRegistry/registries/registryna2nvl0bg",
        "name": "registryna2nvl0bg",
        "location": "eastus",
        "tags": {},
        "systemData": {
          "createdBy": "00000000-0000-0000-0000-000000000000",
          "createdByType": "Application",
          "createdAt": "2022-10-12T08:22:00.1826216\u002B00:00",
          "lastModifiedBy": "00000000-0000-0000-0000-000000000000",
          "lastModifiedByType": "Application",
          "lastModifiedAt": "2022-10-12T08:22:00.1826216\u002B00:00"
        },
        "properties": {
          "loginServer": "registryna2nvl0bg.azurecr.io",
          "creationDate": "2022-10-12T08:22:00.1826216Z",
          "provisioningState": "Succeeded",
          "adminUserEnabled": true,
          "networkRuleSet": {
            "defaultAction": "Allow",
            "ipRules": []
          },
          "policies": {
            "quarantinePolicy": {
              "status": "disabled"
            },
            "trustPolicy": {
              "type": "Notary",
              "status": "disabled"
            },
            "retentionPolicy": {
              "days": 7,
              "lastUpdatedTime": "2022-10-12T08:22:08.936237\u002B00:00",
              "status": "disabled"
            },
            "exportPolicy": {
              "status": "enabled"
            },
            "azureADAuthenticationAsArmPolicy": {
              "status": "enabled"
            },
            "softDeletePolicy": {
              "retentionDays": 7,
              "lastUpdatedTime": "2022-10-12T08:22:08.936237\u002B00:00",
              "status": "disabled"
            }
          },
          "encryption": {
            "status": "disabled"
          },
          "dataEndpointEnabled": false,
          "dataEndpointHostNames": [],
          "privateEndpointConnections": [],
          "publicNetworkAccess": "Enabled",
          "networkRuleBypassOptions": "AzureServices",
          "zoneRedundancy": "Disabled",
          "anonymousPullEnabled": false
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/go-sdk-test-rg/providers/Microsoft.ContainerRegistry/registries/registryna2nvl0bg/agentPools/agentpoolnnvl0bg?api-version=2019-06-01-preview",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "location": "eastus",
        "properties": {
          "count": 1,
          "os": "Linux",
          "tier": "S1"
        },
        "tags": {
          "key": "value"
        }
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Azure-AsyncOperation": "https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/go-sdk-test-rg/providers/Microsoft.ContainerRegistry/registries/registryna2nvl0bg/agentPools/agentpoolnnvl0bg/operationStatuses/00000000-0000-0000-0000-000000000000?api-version=2019-06-01-preview",
        "Content-Type": "application/json; charset=utf-8",
        "Retry-After": "10",
        "x-ms-ratelimit-remaining-subscription-writes": "1197"
      },
      "ResponseBody": {
        "type": "Microsoft.ContainerRegistry/registries/agentPools",
        "properties": {
          "count": 1,
          "tier": "S1",
          "os": "Linux",
          "provisioningState": "Creating"
        },
        "id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/go-sdk-test-rg/providers/Microsoft.ContainerRegistry/registries/registryna2nvl0bg/agentPools/agentpoolnnvl0bg",
        "name": "agentpoolnnvl0bg",
        "location": "eastus",
        "systemData": {
          "createdBy": "00000000-0000-0000-0000-000000000000",
          "createdByType": "Application",
          "createdAt": "2022-10-12T08:22:12.7296171\u002B00:00",
          "lastModifiedBy": "00000000-0000-0000-0000-000000000000",
          "lastModifiedByType": "Application",
          "lastModifiedAt": "2022-10-12T08:22:12.7296171\u002B00:00"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/go-sdk-test-rg/providers/Microsoft.ContainerRegistry/registries/registryna2nvl0bg/agentPools/agentpoolnnvl0bg/operationStatuses/00000000-0000-0000-0000-000000000000?api-version=2019-06-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-reads": "11999"
      },
      "ResponseBody": {
        "status": "Creating"
      }
    },
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/go-sdk-test-rg/providers/Microsoft.ContainerRegistry/registries/registryna2nvl0bg/agentPools?api-version=2019-06-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-reads": "11978"
      },
      "ResponseBody": {
        "value": [
          {
            "type": "Microsoft.ContainerRegistry/registries/agentPools",
            "properties": {
              "count": 1,
              "tier": "S1",
              "os": "Linux",
              "provisioningState": "Succeeded"
            },
            "id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/go-sdk-test-rg/providers/Microsoft.ContainerRegistry/registries/registryna2nvl0bg/agentPools/agentpoolnnvl0bg",
            "name": "agentpoolnnvl0bg",
            "location": "eastus",
            "systemData": {
              "createdBy": "00000000-0000-0000-0000-000000000000",
              "createdByType": "Application",
              "createdAt": "2022-10-12T08:22:12.7296171\u002B00:00",
              "lastModifiedBy": "00000000-0000-0000-0000-000000000000",
              "lastModifiedByType": "Application",
              "lastModifiedAt": "2022-10-12T08:22:12.7296171\u002B00:00"
            }
          }
        ]
      }
    },
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/go-sdk-test-rg/providers/Microsoft.ContainerRegistry/registries/registryna2nvl0bg/agentPools/agentpoolnnvl0bg/listQueueStatus?api-version=2019-06-01-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-writes": "1199"
      },
      "ResponseBody": {
        "count": 0
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/go-sdk-test-rg/providers/Microsoft.ContainerRegistry/registries/registryna2nvl0bg/agentPools/agentpoolnnvl0bg?api-version=2019-06-01-preview",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "Location": "https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/go-sdk-test-rg/providers/Microsoft.ContainerRegistry/registries/registryna2nvl0bg/agentPoolsOperationResults/00000000-0000-0000-0000-000000000000/status?api-version=2019-06-01-preview",
        "Retry-After": "10",
        "x-ms-ratelimit-remaining-subscription-deletes": "14999"
      },
      "ResponseBody": {
        "type": "Microsoft.ContainerRegistry/registries/agentPools",
        "properties": {
          "count": 1,
          "tier": "S1",
          "os": "Linux",
          "provisioningState": "Deleting"
        },
        "id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/go-sdk-test-rg/providers/Microsoft.ContainerRegistry/registries/registryna2nvl0bg/agentPools/agentpoolnnvl0bg",
        "name": "agentpoolnnvl0bg",
        "location": "eastus",
        "systemData": {
          "createdBy": "00000000-0000-0000-0000-000000000000",
          "createdByType": "Application",
          "createdAt": "2022-10-12T08:22:12.7296171\u002B00:00",
          "lastModifiedBy": "00000000-0000-0000-0000-000000000000",
          "lastModifiedByType": "Application",
          "lastModifiedAt": "2022-10-12T08:32:12.0322107\u002B00:00"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/go-sdk-test-rg/providers/Microsoft.ContainerRegistry/registries/registryna2nvl0bg/agentPoolsOperationResults/00000000-0000-0000-0000-000000000000/status?api-version=2019-06-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "Location": "https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/go-sdk-test-rg/providers/Microsoft.ContainerRegistry/registries/registryna2nvl0bg/agentPoolsOperationResults/00000000-0000-0000-0000-000000000000/status?api-version=2019-06-01-preview",
        "Retry-After": "10",
        "x-ms-ratelimit-remaining-subscription-reads": "11974"
      },
      "ResponseBody": "null"
    },
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/go-sdk-test-rg/providers/Microsoft.ContainerRegistry/registries/registryna2nvl0bg/tasks/tasknamenvl0bg?api-version=2019-06-01-preview",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "location": "eastus",
        "properties": {
          "agentConfiguration": {
            "cpu": 2
          },
          "isSystemTask": false,
          "platform": {
            "os": "Linux",
            "architecture": "amd64"
          },
          "status": "Enabled",
          "step": {
            "contextPath": "https://github.com/SteveLasker/node-helloworld",
            "dockerFilePath": "DockerFile",
            "imageNames": [
              "testtask:v1"
            ],
            "isPushEnabled": true,
            "noCache": false,
            "type": "Docker"
          },
          "trigger": {
            "baseImageTrigger": {
              "baseImageTriggerType": "Runtime",
              "name": "myBaseImageTrigger",
              "status": "Enabled",
              "updateTriggerPayloadType": "Default"
            }
          }
        },
        "tags": {
          "testkey": "value"
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-writes": "1195"
      },
      "ResponseBody": {
        "type": "Microsoft.ContainerRegistry/registries/tasks",
        "properties": {
          "provisioningState": "Succeeded",
          "creationDate": "2022-10-12T08:36:57.7713201\u002B00:00",
          "status": "Enabled",
          "platform": {
            "os": "Linux",
            "architecture": "amd64"
          },
          "agentConfiguration": {
            "cpu": 2
          },
          "timeout": 3600,
          "step": {
            "type": "Docker",
            "imageNames": [
              "testtask:v1"
            ],
            "isPushEnabled": true,
            "noCache": false,
            "dockerFilePath": "DockerFile",
            "contextPath": "https://github.com/SteveLasker/node-helloworld"
          },
          "trigger": {
            "baseImageTrigger": {
              "baseImageTriggerType": "Runtime",
              "updateTriggerPayloadType": "Default",
              "status": "Enabled",
              "name": "myBaseImageTrigger"
            }
          },
          "isSystemTask": false
        },
        "id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/go-sdk-test-rg/providers/Microsoft.ContainerRegistry/registries/registryna2nvl0bg/tasks/tasknamenvl0bg",
        "name": "tasknamenvl0bg",
        "tags": {
          "testkey": "value"
        },
        "location": "eastus",
        "systemData": {
          "createdBy": "00000000-0000-0000-0000-000000000000",
          "createdByType": "Application",
          "createdAt": "2022-10-12T08:36:57.6283216\u002B00:00",
          "lastModifiedBy": "00000000-0000-0000-0000-000000000000",
          "lastModifiedByType": "Application",
          "lastModifiedAt": "2022-10-12T08:36:57.6283216\u002B00:00"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/go-sdk-test-rg/providers/Microsoft.ContainerRegistry/registries/registryna2nvl0bg/tasks?api-version=2019-06-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-rat[...]
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/go-sdk-test-rg/providers/Microsoft.ContainerRegistry/registries/registryna2nvl0bg/tasks/tasknamenvl0bg/listDetails?api-version=2019-06-01-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; chars[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/go-sdk-test-rg/providers/Microsoft.ContainerRegistry/registries/registryna2nvl0bg/taskRuns/taskrunnamnvl0bg?api-version=2019-06-01-preview",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "properties": {
          "forceUpdateTag": "test",
          "runRequest": {
            "credentials": {},
            "encodedTaskContent": "c3RlcHM6IAogIC0gY21kOiB7eyAuVmFsdWVzLmNvbW1hbmQgfX0K",
            "encodedValuesContent": "Y29tbWFuZDogYmFzaCBlY2hvIHt7LlJ1bi5SZWdpc3RyeX19Cg==",
            "platform": {
              "os": "Linux",
              "architecture": "amd64"
            },
            "type": "EncodedTaskRunRequest",
            "values": []
          }
        }
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Azure-AsyncOperation": "https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/go-sdk-test-rg/providers/Microsoft.ContainerRegistry/registries/registryna2nvl0bg/taskRuns/taskrunnamnvl0bg/operationStatuses/ca1?api-version=2019-06-01-preview",
        "Content-Type": "application/json; charset=utf-8",
        "Retry-After": "30",
        "x-ms-ratelimit-remaining-subscription-writes": "1193"
      },
      "ResponseBody": {
        "type": "Microsoft.ContainerRegistry/registries/taskRuns",
        "properties": {
          "provisioningState": "Creating",
          "runRequest": {
            "type": "EncodedTaskRunRequest",
            "encodedTaskContent": "c3RlcHM6IAogIC0gY21kOiB7eyAuVmFsdWVzLmNvbW1hbmQgfX0K",
            "encodedValuesContent": "Y29tbWFuZDogYmFzaCBlY2hvIHt7LlJ1bi5SZWdpc3RyeX19Cg==",
            "values": [],
            "platform": {
              "os": "Linux",
              "architecture": "amd64"
            }
          },
          "runResult": {
            "type": "Microsoft.ContainerRegistry/registries/runs",
            "properties": {
              "runId": "ca1",
              "status": "Queued",
              "lastUpdatedTime": "2022-10-12T08:37:04\u002B00:00",
              "runType": "QuickRun",
              "createTime": "2022-10-12T08:37:04.4078443\u002B00:00",
              "platform": {
                "os": "Linux",
                "architecture": "amd64"
              },
              "agentConfiguration": {
                "cpu": 2
              },
              "provisioningState": "Succeeded",
              "isArchiveEnabled": false
            },
            "id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/go-sdk-test-rg/providers/Microsoft.ContainerRegistry/registries/registryna2nvl0bg/runs/ca1",
            "name": "ca1"
          }
        },
        "id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/go-sdk-test-rg/providers/Microsoft.ContainerRegistry/registries/registryna2nvl0bg/taskRuns/taskrunnamnvl0bg",
        "name": "taskrunnamnvl0bg",
        "systemData": {
          "createdBy": "00000000-0000-0000-0000-000000000000",
          "createdByType": "Application",
          "createdAt": "2022-10-12T08:37:04.003373\u002B00:00",
          "lastModifiedBy": "00000000-0000-0000-0000-000000000000",
          "lastModifiedByType": "Application",
          "lastModifiedAt": "2022-10-12T08:37:04.003373\u002B00:00"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/go-sdk-test-rg/providers/Microsoft.ContainerRegistry/registries/registryna2nvl0bg/taskRuns/taskrunnamnvl0bg/operationStatuses/ca1?api-version=2019-06-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Azure-AsyncOperation": "https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/go-sdk-test-rg/providers/Microsoft.ContainerRegistry/registries/registryna2nvl0bg/taskRuns/taskrunnamnvl0bg/operationStatuses/ca1/operationStatuses/ca1?api-version=2019-06-01-preview",
        "Content-Type": "application/json; charset=utf-8",
        "Retry-After": "30",
        "x-ms-ratelimit-remaining-subscription-reads": "11947"
      },
      "ResponseBody": {
        "status": "Succeeded"
      }
    },
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/go-sdk-test-rg/providers/Microsoft.ContainerRegistry/registries/registryna2nvl0bg/taskRuns?api-version=2019-06-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-[...]
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/go-sdk-test-rg/providers/Microsoft.ContainerRegistry/registries/registryna2nvl0bg/taskRuns/taskrunnamnvl0bg/listDetails?api-version=2019-06-01-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; [...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/go-sdk-test-rg/providers/Microsoft.ContainerRegistry/registries/registryna2nvl0bg/listBuildSourceUploadUrl?api-version=2019-06-01-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-writes": "1196"
      },
      "ResponseBody": {
        "uploadUrl": "https://eusmanaged8.blob.core.windows.net/4b152b64b11b4fbc99337644b7a7feb5-ymz4fcc3pf/source/202210120000/00000000-0000-0000-0000-000000000000.tar.gz?sv=2018-03-28\u0026sr=b\u0026sig=H0js71IE1XUqP3PRUyChQrKVAOMHFSVGMu4qPxA55DE%3D\u0026se=2022-10-12T09%3A37%3A39Z\u0026sp=cw",
        "relativePath": "source/202210120000/00000000-0000-0000-0000-000000000000.tar.gz"
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/go-sdk-test-rg/providers/Microsoft.ContainerRegistry/registries/registryna2nvl0bg/runs?%24top=10\u0026api-version=2019-06-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-reads": "11943"
      },
      "ResponseBody": {
        "value": [
          {
            "type": "Microsoft.ContainerRegistry/registries/runs",
            "properties": {
              "runId": "ca1",
              "status": "Succeeded",
              "lastUpdatedTime": "2022-10-12T08:37:11\u002B00:00",
              "runType": "QuickRun",
              "createTime": "2022-10-12T08:37:04.4078443\u002B00:00",
              "startTime": "2022-10-12T08:37:04.8476801\u002B00:00",
              "finishTime": "2022-10-12T08:37:11.6591648\u002B00:00",
              "platform": {
                "os": "Linux",
                "architecture": "amd64"
              },
              "agentConfiguration": {
                "cpu": 2
              },
              "provisioningState": "Succeeded",
              "isArchiveEnabled": false
            },
            "id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/go-sdk-test-rg/providers/Microsoft.ContainerRegistry/registries/registryna2nvl0bg/runs/ca1",
            "name": "ca1"
          }
        ]
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/go-sdk-test-rg/providers/Microsoft.ContainerRegistry/registries/registryna2nvl0bg/runs/ca1?api-version=2019-06-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-reads": "11942"
      },
      "ResponseBody": {
        "type": "Microsoft.ContainerRegistry/registries/runs",
        "properties": {
          "runId": "ca1",
          "status": "Succeeded",
          "lastUpdatedTime": "2022-10-12T08:37:11\u002B00:00",
          "runType": "QuickRun",
          "createTime": "2022-10-12T08:37:04.4078443\u002B00:00",
          "startTime": "2022-10-12T08:37:04.8476801\u002B00:00",
          "finishTime": "2022-10-12T08:37:11.6591648\u002B00:00",
          "platform": {
            "os": "Linux",
            "architecture": "amd64"
          },
          "agentConfiguration": {
            "cpu": 2
          },
          "provisioningState": "Succeeded",
          "isArchiveEnabled": false
        },
        "id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/go-sdk-test-rg/providers/Microsoft.ContainerRegistry/registries/registryna2nvl0bg/runs/ca1",
        "name": "ca1"
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/go-sdk-test-rg/providers/Microsoft.ContainerRegistry/registries/registryna2nvl0bg/runs/ca1/cancel?api-version=2019-06-01-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-writes": "1195"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/go-sdk-test-rg/providers/Microsoft.ContainerRegistry/registries/registryna2nvl0bg/runs/ca1/listLogSasUrl?api-version=2019-06-01-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-writes": "1194"
      },
      "ResponseBody": {
        "logLink": "https://eusmanaged8.blob.core.windows.net/4b152b64b11b4fbc99337644b7a7feb5-ymz4fcc3pf/logs/ca1/rawtext.log?sv=2018-03-28\u0026sr=b\u0026sig=pALMC5RVW1w74I5aegzp5Lfy0KONxPDeVATJ3Pwnsp0%3D\u0026se=2022-10-12T08%3A52%3A43Z\u0026sp=r"
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/go-sdk-test-rg/providers/Microsoft.ContainerRegistry/registries/registryna2nvl0bg/scheduleRun?api-version=2019-06-01-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "agentConfiguration": {
          "cpu": 2
        },
        "arguments": [
          {
            "name": "mytestargument",
            "value": "mytestvalue",
            "isSecret": false
          },
          {
            "name": "mysecrettestargument",
            "value": "mysecrettestvalue",
            "isSecret": true
          }
        ],
        "dockerFilePath": "DockerFile",
        "imageNames": [
          "azurerest:testtag"
        ],
        "isArchiveEnabled": true,
        "isPushEnabled": true,
        "noCache": true,
        "platform": {
          "os": "Linux",
          "architecture": "amd64"
        },
        "sourceLocation": "https://myaccount.blob.core.windows.net/sascontainer/source.zip?sv=2015-04-05\u0026st=2015-04-29T22%3A18%3A26Z\u0026se=2015-04-30T02%3A23%3A26Z\u0026sr=b\u0026sp=rw\u0026sip=168.1.5.60-168.1.5.70\u0026spr=https\u0026sig=Z%2FRHIX5Xcg0Mq2rqI3OlWTjEg2tYkboXr1P9ZUXDtkk%3D",
        "type": "DockerBuildRequest"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-writes": "1193"
      },
      "ResponseBody": {
        "type": "Microsoft.ContainerRegistry/registries/runs",
        "properties": {
          "runId": "ca2",
          "status": "Queued",
          "lastUpdatedTime": "2022-10-12T08:37:44\u002B00:00",
          "provisioningState": "Succeeded",
          "isArchiveEnabled": true
        },
        "id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/go-sdk-test-rg/providers/Microsoft.ContainerRegistry/registries/registryna2nvl0bg/runs/ca2",
        "name": "ca2",
        "systemData": {
          "lastModifiedBy": "00000000-0000-0000-0000-000000000000",
          "lastModifiedByType": "Application",
          "lastModifiedAt": "2022-10-12T08:37:43.7068209\u002B00:00"
        }
      }
    },
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/go-sdk-test-rg?api-version=2021-04-01",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 202,
[...]
