{
  "Entries": [
    {
      "RequestUri": "https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/go-sdk-test-rg?api-version=2021-04-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "location": "eastus"
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-writes": "1199"
      },
      "ResponseBody": {
        "id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/go-sdk-test-rg",
        "name": "go-sdk-test-rg",
        "type": "Microsoft.Resources/resourceGroups",
        "location": "eastus",
        "properties": {
          "provisioningState": "Succeeded"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/go-sdk-test-rg/providers/Microsoft.ContainerRegistry/registries/registryna2X32t0Y?api-version=2022-02-01-preview",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "location": "eastus",
        "properties": {
          "adminUserEnabled": true
        },
        "sku": {
          "name": "Premium"
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2022-02-01-preview",
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-writes": "1198"
      },
      "ResponseBody": {
        "sku": {
          "name": "Premium",
          "tier": "Premium"
        },
        "type": "Microsoft.ContainerRegistry/registries",
        "id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/go-sdk-test-rg/providers/Microsoft.ContainerRegistry/registries/registryna2X32t0Y",
        "name": "registryna2X32t0Y",
        "location": "eastus",
        "tags": {},
        "systemData": {
          "createdBy": "00000000-0000-0000-0000-000000000000",
          "createdByType": "Application",
          "createdAt": "2022-09-01T08:02:49.1449291\u002B00:00",
          "lastModifiedBy": "00000000-0000-0000-0000-000000000000",
          "lastModifiedByType": "Application",
          "lastModifiedAt": "2022-09-01T08:02:49.1449291\u002B00:00"
        },
        "properties": {
          "loginServer": "registryna2x32t0y.azurecr.io",
          "creationDate": "2022-09-01T08:02:49.1449291Z",
          "provisioningState": "Succeeded",
          "adminUserEnabled": true,
          "networkRuleSet": {
            "defaultAction": "Allow",
            "ipRules": []
          },
          "policies": {
            "quarantinePolicy": {
              "status": "disabled"
            },
            "trustPolicy": {
              "type": "Notary",
              "status": "disabled"
            },
            "retentionPolicy": {
              "days": 7,
              "lastUpdatedTime": "2022-09-01T08:02:51.8839339\u002B00:00",
              "status": "disabled"
            },
            "exportPolicy": {
              "status": "enabled"
            },
            "azureADAuthenticationAsArmPolicy": {
              "status": "enabled"
            },
            "softDeletePolicy": {
              "retentionDays": 7,
              "lastUpdatedTime": "2022-09-01T08:02:51.8839339\u002B00:00",
              "status": "disabled"
            }
          },
          "encryption": {
            "status": "disabled"
          },
          "dataEndpointEnabled": false,
          "dataEndpointHostNames": [],
          "privateEndpointConnections": [],
          "publicNetworkAccess": "Enabled",
          "networkRuleBypassOptions": "AzureServices",
          "zoneRedundancy": "Disabled",
          "anonymousPullEnabled": false
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/go-sdk-test-rg/providers/Microsoft.ContainerRegistry/registries/registryna2X32t0Y/agentPools/agentpoolnX32t0Y?api-version=2019-06-01-preview",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "location": "eastus",
        "properties": {
          "count": 1,
          "os": "Linux",
          "tier": "S1"
        },
        "tags": {
          "key": "value"
        }
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Azure-AsyncOperation": "https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/go-sdk-test-rg/providers/Microsoft.ContainerRegistry/registries/registryna2X32t0Y/agentPools/agentpoolnX32t0Y/operationStatuses/00000000-0000-0000-0000-000000000000?api-version=2019-06-01-preview",
        "Content-Type": "application/json; charset=utf-8",
        "Retry-After": "10",
        "x-ms-ratelimit-remaining-subscription-writes": "1197"
      },
      "ResponseBody": {
        "type": "Microsoft.ContainerRegistry/registries/agentPools",
        "properties": {
          "count": 1,
          "tier": "S1",
          "os": "Linux",
          "provisioningState": "Creating"
        },
        "id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/go-sdk-test-rg/providers/Microsoft.ContainerRegistry/registries/registryna2X32t0Y/agentPools/agentpoolnx32t0y",
        "name": "agentpoolnx32t0y",
        "location": "eastus",
        "systemData": {
          "createdBy": "00000000-0000-0000-0000-000000000000",
          "createdByType": "Application",
          "createdAt": "2022-09-01T08:02:54.8536657\u002B00:00",
          "lastModifiedBy": "00000000-0000-0000-0000-000000000000",
          "lastModifiedByType": "Application",
          "lastModifiedAt": "2022-09-01T08:02:54.8536657\u002B00:00"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/go-sdk-test-rg/providers/Microsoft.ContainerRegistry/registries/registryna2X32t0Y/agentPools/agentpoolnX32t0Y/operationStatuses/00000000-0000-0000-0000-000000000000?api-version=2019-06-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-reads": "11999"
      },
      "ResponseBody": {
        "status": "Creating"
      }
    },
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/go-sdk-test-rg/providers/Microsoft.ContainerRegistry/registries/registryna2X32t0Y/agentPools?api-version=2019-06-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-reads": "11975"
      },
      "ResponseBody": {
        "value": [
          {
            "type": "Microsoft.ContainerRegistry/registries/agentPools",
            "properties": {
              "count": 1,
              "tier": "S1",
              "os": "Linux",
              "provisioningState": "Succeeded"
            },
            "id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/go-sdk-test-rg/providers/Microsoft.ContainerRegistry/registries/registryna2X32t0Y/agentPools/agentpoolnx32t0y",
            "name": "agentpoolnx32t0y",
            "location": "eastus",
            "systemData": {
              "createdBy": "00000000-0000-0000-0000-000000000000",
              "createdByType": "Application",
              "createdAt": "2022-09-01T08:02:54.8536657\u002B00:00",
              "lastModifiedBy": "00000000-0000-0000-0000-000000000000",
              "lastModifiedByType": "Application",
              "lastModifiedAt": "2022-09-01T08:02:54.8536657\u002B00:00"
            }
          }
        ]
      }
    },
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/go-sdk-test-rg/providers/Microsoft.ContainerRegistry/registries/registryna2X32t0Y/agentPools/agentpoolnX32t0Y/listQueueStatus?api-version=2019-06-01-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-writes": "1199"
      },
      "ResponseBody": {
        "count": 0
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/go-sdk-test-rg/providers/Microsoft.ContainerRegistry/registries/registryna2X32t0Y/tasks/tasknameX32t0Y?api-version=2019-06-01-preview",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "location": "eastus",
        "properties": {
          "agentConfiguration": {
            "cpu": 2
          },
          "isSystemTask": false,
          "platform": {
            "os": "Linux",
            "architecture": "amd64"
          },
          "status": "Enabled",
          "step": {
            "contextPath": "https://github.com/SteveLasker/node-helloworld",
            "dockerFilePath": "DockerFile",
            "imageNames": [
              "testtask:v1"
            ],
            "isPushEnabled": true,
            "noCache": false,
            "type": "Docker"
          },
          "trigger": {
            "baseImageTrigger": {
              "baseImageTriggerType": "Runtime",
              "name": "myBaseImageTrigger",
              "status": "Enabled",
              "updateTriggerPayloadType": "Default"
            }
          }
        },
        "tags": {
          "testkey": "value"
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-writes": "1195"
      },
      "ResponseBody": {
        "type": "Microsoft.ContainerRegistry/registries/tasks",
        "properties": {
          "provisioningState": "Succeeded",
          "creationDate": "2022-09-01T08:14:40.2321422\u002B00:00",
          "status": "Enabled",
          "platform": {
            "os": "Linux",
            "architecture": "amd64"
          },
          "agentConfiguration": {
            "cpu": 2
          },
          "timeout": 3600,
          "step": {
            "type": "Docker",
            "imageNames": [
              "testtask:v1"
            ],
            "isPushEnabled": true,
            "noCache": false,
            "dockerFilePath": "DockerFile",
            "contextPath": "https://github.com/SteveLasker/node-helloworld"
          },
          "trigger": {
            "baseImageTrigger": {
              "baseImageTriggerType": "Runtime",
              "updateTriggerPayloadType": "Default",
              "status": "Enabled",
              "name": "myBaseImageTrigger"
            }
          },
          "isSystemTask": false
        },
        "id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/go-sdk-test-rg/providers/Microsoft.ContainerRegistry/registries/registryna2X32t0Y/tasks/tasknameX32t0Y",
        "name": "tasknameX32t0Y",
        "tags": {
          "testkey": "value"
        },
        "location": "eastus",
        "systemData": {
          "createdBy": "00000000-0000-0000-0000-000000000000",
          "createdByType": "Application",
          "createdAt": "2022-09-01T08:14:40.0891205\u002B00:00",
          "lastModifiedBy": "00000000-0000-0000-0000-000000000000",
          "lastModifiedByType": "Application",
          "lastModifiedAt": "2022-09-01T08:14:40.0891205\u002B00:00"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/go-sdk-test-rg/providers/Microsoft.ContainerRegistry/registries/registryna2X32t0Y/tasks?api-version=2019-06-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-rat[...]
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/go-sdk-test-rg/providers/Microsoft.ContainerRegistry/registries/registryna2X32t0Y/tasks/tasknameX32t0Y/listDetails?api-version=2019-06-01-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; chars[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/go-sdk-test-rg/providers/Microsoft.ContainerRegistry/registries/registryna2X32t0Y/taskRuns/taskrunnamX32t0Y?api-version=2019-06-01-preview",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "properties": {
          "forceUpdateTag": "test",
          "runRequest": {
            "credentials": {},
            "encodedTaskContent": "c3RlcHM6IAogIC0gY21kOiB7eyAuVmFsdWVzLmNvbW1hbmQgfX0K",
            "encodedValuesContent": "Y29tbWFuZDogYmFzaCBlY2hvIHt7LlJ1bi5SZWdpc3RyeX19Cg==",
            "platform": {
              "os": "Linux",
              "architecture": "amd64"
            },
            "type": "EncodedTaskRunRequest",
            "values": []
          }
        }
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Azure-AsyncOperation": "https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/go-sdk-test-rg/providers/Microsoft.ContainerRegistry/registries/registryna2X32t0Y/taskRuns/taskrunnamX32t0Y/operationStatuses/ca1?api-version=2019-06-01-preview",
        "Content-Type": "application/json; charset=utf-8",
        "Retry-After": "30",
        "x-ms-ratelimit-remaining-subscription-writes": "1193"
      },
      "ResponseBody": {
        "type": "Microsoft.ContainerRegistry/registries/taskRuns",
        "properties": {
          "provisioningState": "Creating",
          "runRequest": {
            "type": "EncodedTaskRunRequest",
            "encodedTaskContent": "c3RlcHM6IAogIC0gY21kOiB7eyAuVmFsdWVzLmNvbW1hbmQgfX0K",
            "encodedValuesContent": "Y29tbWFuZDogYmFzaCBlY2hvIHt7LlJ1bi5SZWdpc3RyeX19Cg==",
            "values": [],
            "platform": {
              "os": "Linux",
              "architecture": "amd64"
            }
          },
          "runResult": {
            "type": "Microsoft.ContainerRegistry/registries/runs",
            "properties": {
              "runId": "ca1",
              "status": "Queued",
              "lastUpdatedTime": "2022-09-01T08:14:46\u002B00:00",
              "runType": "QuickRun",
              "createTime": "2022-09-01T08:14:46.7248966\u002B00:00",
              "platform": {
                "os": "Linux",
                "architecture": "amd64"
              },
              "agentConfiguration": {
                "cpu": 2
              },
              "provisioningState": "Succeeded",
              "isArchiveEnabled": false
            },
            "id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/go-sdk-test-rg/providers/Microsoft.ContainerRegistry/registries/registryna2X32t0Y/runs/ca1",
            "name": "ca1"
          }
        },
        "id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/go-sdk-test-rg/providers/Microsoft.ContainerRegistry/registries/registryna2X32t0Y/taskRuns/taskrunnamX32t0Y",
        "name": "taskrunnamX32t0Y",
        "systemData": {
          "createdBy": "00000000-0000-0000-0000-000000000000",
          "createdByType": "Application",
          "createdAt": "2022-09-01T08:14:46.3589004\u002B00:00",
          "lastModifiedBy": "00000000-0000-0000-0000-000000000000",
          "lastModifiedByType": "Application",
          "lastModifiedAt": "2022-09-01T08:14:46.3589004\u002B00:00"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/go-sdk-test-rg/providers/Microsoft.ContainerRegistry/registries/registryna2X32t0Y/taskRuns/taskrunnamX32t0Y/operationStatuses/ca1?api-version=2019-06-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Azure-AsyncOperation": "https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/go-sdk-test-rg/providers/Microsoft.ContainerRegistry/registries/registryna2X32t0Y/taskRuns/taskrunnamX32t0Y/operationStatuses/ca1/operationStatuses/ca1?api-version=2019-06-01-preview",
        "Content-Type": "application/json; charset=utf-8",
        "Retry-After": "30",
        "x-ms-ratelimit-remaining-subscription-reads": "11969"
      },
      "ResponseBody": {
        "status": "Succeeded"
      }
    },
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/go-sdk-test-rg/providers/Microsoft.ContainerRegistry/registries/registryna2X32t0Y/taskRuns?api-version=2019-06-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-[...]
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/go-sdk-test-rg/providers/Microsoft.ContainerRegistry/registries/registryna2X32t0Y/taskRuns/taskrunnamX32t0Y/listDetails?api-version=2019-06-01-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; [...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/go-sdk-test-rg/providers/Microsoft.ContainerRegistry/registries/registryna2X32t0Y/listBuildSourceUploadUrl?api-version=2019-06-01-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-writes": "1196"
      },
      "ResponseBody": {
        "uploadUrl": "https://eusmanaged46.blob.core.windows.net/81a5a6dc5b6b4252a80c6eaaa4781f95-boze09hia8/source/202209010000/00000000-0000-0000-0000-000000000000.tar.gz?sv=2018-03-28\u0026sr=b\u0026sig=xEqSufh8IhAhGaGzH6rUokB%2F6b%2BbJHXbKQh2VijkyEs%3D\u0026se=2022-09-01T09%3A15%3A21Z\u0026sp=cw",
        "relativePath": "source/202209010000/00000000-0000-0000-0000-000000000000.tar.gz"
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/go-sdk-test-rg/providers/Microsoft.ContainerRegistry/registries/registryna2X32t0Y/runs?%24top=10\u0026api-version=2019-06-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-reads": "11965"
      },
      "ResponseBody": {
        "value": [
          {
            "type": "Microsoft.ContainerRegistry/registries/runs",
            "properties": {
              "runId": "ca1",
              "status": "Succeeded",
              "lastUpdatedTime": "2022-09-01T08:14:52\u002B00:00",
              "runType": "QuickRun",
              "createTime": "2022-09-01T08:14:46.7248966\u002B00:00",
              "startTime": "2022-09-01T08:14:47.0792681\u002B00:00",
              "finishTime": "2022-09-01T08:14:52.7582369\u002B00:00",
              "platform": {
                "os": "Linux",
                "architecture": "amd64"
              },
              "agentConfiguration": {
                "cpu": 2
              },
              "provisioningState": "Succeeded",
              "isArchiveEnabled": false
            },
            "id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/go-sdk-test-rg/providers/Microsoft.ContainerRegistry/registries/registryna2X32t0Y/runs/ca1",
            "name": "ca1"
          }
        ]
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/go-sdk-test-rg/providers/Microsoft.ContainerRegistry/registries/registryna2X32t0Y/runs/ca1?api-version=2019-06-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-reads": "11964"
      },
      "ResponseBody": {
        "type": "Microsoft.ContainerRegistry/registries/runs",
        "properties": {
          "runId": "ca1",
          "status": "Succeeded",
          "lastUpdatedTime": "2022-09-01T08:14:52\u002B00:00",
          "runType": "QuickRun",
          "createTime": "2022-09-01T08:14:46.7248966\u002B00:00",
          "startTime": "2022-09-01T08:14:47.0792681\u002B00:00",
          "finishTime": "2022-09-01T08:14:52.7582369\u002B00:00",
          "platform": {
            "os": "Linux",
            "architecture": "amd64"
          },
          "agentConfiguration": {
            "cpu": 2
          },
          "provisioningState": "Succeeded",
          "isArchiveEnabled": false
        },
        "id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/go-sdk-test-rg/providers/Microsoft.ContainerRegistry/registries/registryna2X32t0Y/runs/ca1",
        "name": "ca1"
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/go-sdk-test-rg/providers/Microsoft.ContainerRegistry/registries/registryna2X32t0Y/runs/ca1/cancel?api-version=2019-06-01-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-writes": "1195"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/go-sdk-test-rg/providers/Microsoft.ContainerRegistry/registries/registryna2X32t0Y/runs/ca1/listLogSasUrl?api-version=2019-06-01-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-writes": "1194"
      },
      "ResponseBody": {
        "logLink": "https://eusmanaged46.blob.core.windows.net/81a5a6dc5b6b4252a80c6eaaa4781f95-boze09hia8/logs/ca1/rawtext.log?sv=2018-03-28\u0026sr=b\u0026sig=l4%2BoB73k6zP1Exh4lHjV7XDeLjnXXWGblV018J8nPLk%3D\u0026se=2022-09-01T08%3A30%3A23Z\u0026sp=r"
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/go-sdk-test-rg/providers/Microsoft.ContainerRegistry/registries/registryna2X32t0Y/scheduleRun?api-version=2019-06-01-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "agentConfiguration": {
          "cpu": 2
        },
        "arguments": [
          {
            "name": "mytestargument",
            "value": "mytestvalue",
            "isSecret": false
          },
          {
            "name": "mysecrettestargument",
            "value": "mysecrettestvalue",
            "isSecret": true
          }
        ],
        "dockerFilePath": "DockerFile",
        "imageNames": [
          "azurerest:testtag"
        ],
        "isArchiveEnabled": true,
        "isPushEnabled": true,
        "noCache": true,
        "platform": {
          "os": "Linux",
          "architecture": "amd64"
        },
        "sourceLocation": "https://myaccount.blob.core.windows.net/sascontainer/source.zip?sv=2015-04-05\u0026st=2015-04-29T22%3A18%3A26Z\u0026se=2015-04-30T02%3A23%3A26Z\u0026sr=b\u0026sp=rw\u0026sip=168.1.5.60-168.1.5.70\u0026spr=https\u0026sig=Z%2FRHIX5Xcg0Mq2rqI3OlWTjEg2tYkboXr1P9ZUXDtkk%3D",
        "type": "DockerBuildRequest"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-writes": "1193"
      },
      "ResponseBody": {
        "type": "Microsoft.ContainerRegistry/registries/runs",
        "properties": {
          "runId": "ca2",
          "status": "Queued",
          "lastUpdatedTime": "2022-09-01T08:15:24\u002B00:00",
          "provisioningState": "Succeeded",
          "isArchiveEnabled": true
        },
        "id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/go-sdk-test-rg/providers/Microsoft.ContainerRegistry/registries/registryna2X32t0Y/runs/ca2",
        "name": "ca2",
        "systemData": {
          "lastModifiedBy": "00000000-0000-0000-0000-000000000000",
          "lastModifiedByType": "Application",
          "lastModifiedAt": "2022-09-01T08:15:24.0758602\u002B00:00"
        }
      }
    },
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/go-sdk-test-rg/providers/Microsoft.ContainerRegistry/registries/registryna2X32t0Y/agentPools/agentpoolnX32t0Y?api-version=2019-06-01-preview",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "Location": "https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/go-sdk-test-rg/providers/Microsoft.ContainerRegistry/registries/registryna2X32t0Y/agentPoolsOperationResults/00000000-0000-0000-0000-000000000000/status?api-version=2019-06-01-preview",
        "Retry-After": "10",
        "x-ms-ratelimit-remaining-subscription-deletes": "14997"
      },
      "ResponseBody": {
        "type": "Microsoft.ContainerRegistry/registries/agentPools",
        "properties": {
          "count": 1,
          "tier": "S1",
          "os": "Linux",
          "provisioningState": "Deleting"
        },
        "id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/go-sdk-test-rg/providers/Microsoft.ContainerRegistry/registries/registryna2X32t0Y/agentPools/agentpoolnx32t0y",
        "name": "agentpoolnx32t0y",
        "location": "eastus",
        "systemData": {
          "createdBy": "00000000-0000-0000-0000-000000000000",
          "createdByType": "Application",
          "createdAt": "2022-09-01T08:02:54.8536657\u002B00:00",
          "lastModifiedBy": "00000000-0000-0000-0000-000000000000",
          "lastModifiedByType": "Application",
          "lastModifiedAt": "2022-09-01T08:14:23.8579678\u002B00:00"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/go-sdk-test-rg/providers/Microsoft.ContainerRegistry/registries/registryna2X32t0Y/agentPoolsOperationResults/00000000-0000-0000-0000-000000000000/status?api-version=2019-06-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "Location": "https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/go-sdk-test-rg/providers/Microsoft.ContainerRegistry/registries/registryna2X32t0Y/agentPoolsOperationResults/00000000-0000-0000-0000-000000000000/status?api-version=2019-06-01-preview",
        "Retry-After": "10",
        "x-ms-ratelimit-remaining-subscription-reads": "11963"
      },
      "ResponseBody": "null"
    },
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/go-sdk-test-rg?api-version=2021-04-01",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 202,
[...]
