{
  "Entries": [
    {
      "RequestUri": "https://seankaneprim.table.core.windows.net/Tables",
      "RequestMethod": "POST",
      "RequestHeaders": {
        ":authority": "localhost:5001",
        ":method": "POST",
        ":path": "/Tables",
        ":scheme": "https",
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "dataserviceversion": "3.0",
        "x-ms-date": "Thu, 29 Jul 2021 22:28:25 GMT",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": {
        "TableName": "createPseudoRandomName"
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata=minimalmetadata; streaming=true; charset=utf-8",
        "Location": "https://seankaneprim.table.core.windows.net/Tables(\u0027createPseudoRandomName\u0027)",
        "x-ms-version": "2019-02-02"
      },
      "ResponseBody": {
        "odata.metadata": "https://seankaneprim.table.core.windows.net/$metadata#Tables/@Element",
        "TableName": "createPseudoRandomName"
      }
    },
    {
      "RequestUri": "https://seankaneprim.table.core.windows.net/Tables",
      "RequestMethod": "POST",
      "RequestHeaders": {
        ":authority": "localhost:5001",
        ":method": "POST",
        ":path": "/Tables",
        ":scheme": "https",
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "dataserviceversion": "3.0",
        "x-ms-date": "Thu, 29 Jul 2021 22:28:25 GMT",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": {
        "TableName": "createPseudoRandomName"
      },
      "StatusCode": 409,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata=minimalmetadata; streaming=true; charset=utf-8",
        "x-ms-version": "2019-02-02"
      },
      "ResponseBody": {
        "odata.error": {
          "code": "TableAlreadyExists",
          "message": {
            "lang": "en-US",
            "value": "The table specified already exists.\nRequestId:aa85df9e-6002-0053-41c9-84cb41000000\nTime:2021-07-29T22:28:26.8116529Z"
          }
        }
      }
    },
    {
      "RequestUri": "https://seankaneprim.table.core.windows.net/Tables(\u0027createPseudoRandomName\u0027)",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        ":authority": "localhost:5001",
        ":method": "DELETE",
        ":path": "/Tables(\u0027createPseudoRandomName\u0027)",
        ":scheme": "https",
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 29 Jul 2021 22:28:26 GMT",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
        "x-ms-version": "2019-02-02"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {}
}