{
  "Entries": [
    {
      "RequestUri": "https://fakestorage.blob.core.windows.net/?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "blob",
        "X-Ms-Date": "Wed, 18 Jan 2023 17:04:51 GMT",
        "x-ms-version": "2020-10-02"
      },
      "RequestBody": null,
      "StatusCode": 400,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-error-code": "InvalidQueryParameterValue"
      },
      "ResponseBody": [
        "\uFEFF\u003C?xml version=\u00221.0\u0022 encoding=\u0022utf-8\u0022?\u003E\u003CError\u003E\u003CCode\u003EInvalidQueryParameterValue\u003C/Code\u003E\u003CMessage\u003EValue for one of the query parameters specified in the request URI is invalid.\n",
        "RequestId:bb5fe1ea-801e-0019-495e-2bad40000000\n",
        "Time:2023-01-18T17:04:51.8726350Z\u003C/Message\u003E\u003CQueryParameterName\u003Ecomp\u003C/QueryParameterName\u003E\u003CQueryParameterValue /\u003E\u003CReason /\u003E\u003C/Error\u003E"
      ]
    }
  ],
  "Variables": {}
}
