{
  "Entries": [
    {
      "RequestUri": "https://fakestorage.blob.core.windows.net/gocfilterblobswithtags1?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "X-Ms-Date": "Tue, 17 Jan 2023 22:01:39 GMT",
        "x-ms-version": "2020-10-02"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DAF8D669C66EDA\u0022",
        "Last-Modified": "Tue, 17 Jan 2023 22:01:40 GMT",
        "x-ms-version": "2020-10-02"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakestorage.blob.core.windows.net/gocfilterblobswithtags1/gotestblobfilterblobswithtags1",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-blob-type": "BlockBlob",
        "X-Ms-Date": "Tue, 17 Jan 2023 22:01:39 GMT",
        "x-ms-version": "2020-10-02"
      },
      "RequestBody": "R29CbG9ja0Jsb2JEYXRh",
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-MD5": "ebncwguMQu9sgPmr0GazhA==",
        "ETag": "\u00220x8DAF8D669D4C127\u0022",
        "Last-Modified": "Tue, 17 Jan 2023 22:01:40 GMT",
        "x-ms-content-crc64": "\u002BJGsS7CR5kg=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2020-10-02",
        "x-ms-version-id": "2023-01-17T22:01:40.8597042Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakestorage.blob.core.windows.net/gocfilterblobswithtags1/gotestblobfilterblobswithtags1?comp=tags",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/xml",
        "X-Ms-Date": "Tue, 17 Jan 2023 22:01:39 GMT",
        "x-ms-version": "2020-10-02"
      },
      "RequestBody": [
        "\u003C?xml version=\u00221.0\u0022 encoding=\u0022UTF-8\u0022?\u003E\n",
        "\u003CTags\u003E\u003CTagSet\u003E\u003CTag\u003E\u003CKey\u003Etag2\u003C/Key\u003E\u003CValue\u003Etagsecond\u003C/Value\u003E\u003C/Tag\u003E\u003CTag\u003E\u003CKey\u003Etag3\u003C/Key\u003E\u003CValue\u003Etagthird\u003C/Value\u003E\u003C/Tag\u003E\u003C/TagSet\u003E\u003C/Tags\u003E"
      ],
      "StatusCode": 204,
      "ResponseHeaders": {
        "x-ms-version": "2020-10-02"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://fakestorage.blob.core.windows.net/?comp=blobs\u0026where=%22tag4%22%3D%27fourthtag%27",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "X-Ms-Date": "Tue, 17 Jan 2023 22:01:49 GMT",
        "x-ms-version": "2020-10-02"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2020-10-02"
      },
      "ResponseBody": [
        "\uFEFF\u003C?xml version=\u00221.0\u0022 encoding=\u0022utf-8\u0022?\u003E\n",
        "\u003CEnumerationResults ServiceEndpoint=\u0022https://tamerdevtest.blob.core.windows.net/\u0022\u003E\u003CWhere\u003E\u0026quot;tag4\u0026quot;=\u0026apos;fourthtag\u0026apos;\u003C/Where\u003E\u003CBlobs/\u003E\u003CNextMarker/\u003E\u003C/EnumerationResults\u003E"
      ]
    },
    {
      "RequestUri": "https://fakestorage.blob.core.windows.net/?comp=blobs\u0026where=%22tag1%22%3D%27firsttag%27AND%22tag2%22%3D%27secondtag%27",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "X-Ms-Date": "Tue, 17 Jan 2023 22:01:51 GMT",
        "x-ms-version": "2020-10-02"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2020-10-02"
      },
      "ResponseBody": [
        "\uFEFF\u003C?xml version=\u00221.0\u0022 encoding=\u0022utf-8\u0022?\u003E\n",
        "\u003CEnumerationResults ServiceEndpoint=\u0022https://tamerdevtest.blob.core.windows.net/\u0022\u003E\u003CWhere\u003E\u0026quot;tag1\u0026quot;=\u0026apos;firsttag\u0026apos;AND\u0026quot;tag2\u0026quot;=\u0026apos;secondtag\u0026apos;\u003C/Where\u003E\u003CBlobs\u003E\u003CBlob\u003E\u003CName\u003Egotestblobfilterblobswithtags2\u003C/Name\u003E\u003CContainerName\u003Egocfilterblobswithtags1\u003C/ContainerName\u003E\u003CTags\u003E\u003CTagSet\u003E\u003CTag\u003E\u003CKey\u003Etag1\u003C/Key\u003E\u003CValue\u003Efirsttag\u003C/Value\u003E\u003C/Tag\u003E\u003CTag\u003E\u003CKey\u003Etag2\u003C/Key\u003E\u003CValue\u003Esecondtag\u003C/Value\u003E\u003C/Tag\u003E\u003C/TagSet\u003E\u003C/Tags\u003E\u003C/Blob\u003E\u003C/Blobs\u003E\u003CNextMarker/\u003E\u003C/EnumerationResults\u003E"
      ]
    },
    {
      "RequestUri": "https://fakestorage.blob.core.windows.net/?comp=blobs\u0026where=%22tag%20key%22%3D%27tag%20value%27",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "X-Ms-Date": "Tue, 17 Jan 2023 22:01:51 GMT",
        "x-ms-version": "2020-10-02"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2020-10-02"
      },
      "ResponseBody": [
        "\uFEFF\u003C?xml version=\u00221.0\u0022 encoding=\u0022utf-8\u0022?\u003E\n",
        "\u003CEnumerationResults ServiceEndpoint=\u0022https://tamerdevtest.blob.core.windows.net/\u0022\u003E\u003CWhere\u003E\u0026quot;tag key\u0026quot;=\u0026apos;tag value\u0026apos;\u003C/Where\u003E\u003CBlobs\u003E\u003CBlob\u003E\u003CName\u003Egotestblobfilterblobswithtags2\u003C/Name\u003E\u003CContainerName\u003Egocfilterblobswithtags1\u003C/ContainerName\u003E\u003CTags\u003E\u003CTagSet\u003E\u003CTag\u003E\u003CKey\u003Etag key\u003C/Key\u003E\u003CValue\u003Etag value\u003C/Value\u003E\u003C/Tag\u003E\u003C/TagSet\u003E\u003C/Tags\u003E\u003C/Blob\u003E\u003C/Blobs\u003E\u003CNextMarker/\u003E\u003C/EnumerationResults\u003E"
      ]
    },
    {
      "RequestUri": "https://fakestorage.blob.core.windows.net/gocfilterblobswithtags1?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "X-Ms-Date": "Tue, 17 Jan 2023 22:01:51 GMT",
        "x-ms-version": "2020-10-02"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2020-10-02"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {}
}
