{
  "Entries": [
    {
      "RequestUri": "https://fakestorage.blob.core.windows.net/gocblobsetpropertiesifunmodifiedsincetrue?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "X-Ms-Date": "Wed, 10 Aug 2022 23:34:14 GMT",
        "x-ms-version": "2020-10-02"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DA7B3014E0FD24\u0022",
        "Last-Modified": "Thu, 11 Aug 2022 00:26:06 GMT",
        "x-ms-version": "2020-10-02"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakestorage.blob.core.windows.net/gocblobsetpropertiesifunmodifiedsincetrue/gotestblobblobsetpropertiesifunmodifiedsincetrue",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-blob-type": "BlockBlob",
        "X-Ms-Date": "Wed, 10 Aug 2022 23:34:14 GMT",
        "x-ms-version": "2020-10-02"
      },
      "RequestBody": "R29CbG9ja0Jsb2JEYXRh",
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-MD5": "ebncwguMQu9sgPmr0GazhA==",
        "ETag": "\u00220x8DA7B3014E8A0BA\u0022",
        "Last-Modified": "Thu, 11 Aug 2022 00:26:06 GMT",
        "x-ms-content-crc64": "\u002BJGsS7CR5kg=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2020-10-02",
        "x-ms-version-id": "2022-08-11T00:26:06.5782970Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakestorage.blob.core.windows.net/gocblobsetpropertiesifunmodifiedsincetrue/gotestblobblobsetpropertiesifunmodifiedsincetrue?comp=properties",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-Unmodified-Since": "Thu, 11 Aug 2022 00:26:16 GMT",
        "x-ms-blob-content-disposition": "my_disposition",
        "X-Ms-Date": "Wed, 10 Aug 2022 23:34:14 GMT",
        "x-ms-version": "2020-10-02"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\u00220x8DA7B3014ED33EC\u0022",
        "Last-Modified": "Thu, 11 Aug 2022 00:26:06 GMT",
        "x-ms-version": "2020-10-02"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakestorage.blob.core.windows.net/gocblobsetpropertiesifunmodifiedsincetrue/gotestblobblobsetpropertiesifunmodifiedsincetrue",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "X-Ms-Date": "Wed, 10 Aug 2022 23:34:14 GMT",
        "x-ms-version": "2020-10-02"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Disposition": "my_disposition",
        "ETag": "\u00220x8DA7B3014ED33EC\u0022",
        "Last-Modified": "Thu, 11 Aug 2022 00:26:06 GMT",
        "x-ms-access-tier": "Hot",
        "x-ms-access-tier-inferred": "true",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Thu, 11 Aug 2022 00:26:06 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2020-10-02",
        "x-ms-version-id": "2022-08-11T00:26:06.5782970Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakestorage.blob.core.windows.net/gocblobsetpropertiesifunmodifiedsincetrue?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "X-Ms-Date": "Wed, 10 Aug 2022 23:34:14 GMT",
        "x-ms-version": "2020-10-02"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2020-10-02"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {}
}
