{
  "Entries": [
    {
      "RequestUri": "https://fakestorage.blob.core.windows.net/gocdeleteimmutabilitypolicy/gotestblobdeleteimmutabilitypolicy",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-blob-type": "BlockBlob",
        "X-Ms-Date": "Mon, 17 Oct 2022 18:51:47 GMT",
        "x-ms-version": "2020-10-02"
      },
      "RequestBody": "R29CbG9ja0Jsb2JEYXRh",
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-MD5": "ebncwguMQu9sgPmr0GazhA==",
        "ETag": "\u00220x8DAB070A5C87784\u0022",
        "Last-Modified": "Mon, 17 Oct 2022 18:51:49 GMT",
        "x-ms-content-crc64": "\u002BJGsS7CR5kg=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2020-10-02",
        "x-ms-version-id": "2022-10-17T18:51:49.0560660Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakestorage.blob.core.windows.net/gocdeleteimmutabilitypolicy/gotestblobdeleteimmutabilitypolicy",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "X-Ms-Date": "Mon, 17 Oct 2022 18:51:47 GMT",
        "x-ms-version": "2020-10-02"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-MD5": "ebncwguMQu9sgPmr0GazhA==",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DAB070A5C87784\u0022",
        "Last-Modified": "Mon, 17 Oct 2022 18:51:49 GMT",
        "x-ms-access-tier": "Hot",
        "x-ms-access-tier-inferred": "true",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Mon, 17 Oct 2022 18:51:49 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2020-10-02",
        "x-ms-version-id": "2022-10-17T18:51:49.0560660Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakestorage.blob.core.windows.net/gocdeleteimmutabilitypolicy/gotestblobdeleteimmutabilitypolicy?comp=immutabilityPolicies",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "X-Ms-Date": "Mon, 17 Oct 2022 18:51:47 GMT",
        "x-ms-immutability-policy-mode": "Unlocked",
        "x-ms-immutability-policy-until-date": "Tue, 18 Oct 2022 10:00:00 GMT",
        "x-ms-version": "2020-10-02"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "x-ms-immutability-policy-mode": "unlocked",
        "x-ms-immutability-policy-until-date": "Tue, 18 Oct 2022 10:00:00 GMT",
        "x-ms-version": "2020-10-02"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakestorage.blob.core.windows.net/gocdeleteimmutabilitypolicy/gotestblobdeleteimmutabilitypolicy?comp=immutabilityPolicies",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "X-Ms-Date": "Mon, 17 Oct 2022 18:51:47 GMT",
        "x-ms-version": "2020-10-02"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "x-ms-version": "2020-10-02"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {}
}
