{
  "Entries": [
    {
      "RequestUri": "https://fakestorage.blob.core.windows.net/gocappendblockwithcpkscope?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "X-Ms-Date": "Wed, 10 Aug 2022 23:34:14 GMT",
        "x-ms-version": "2020-10-02"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DA7B2FB8714195\u0022",
        "Last-Modified": "Thu, 11 Aug 2022 00:23:31 GMT",
        "x-ms-version": "2020-10-02"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakestorage.blob.core.windows.net/gocappendblockwithcpkscope/gotestblobappendblockwithcpkscope",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-type": "AppendBlob",
        "X-Ms-Date": "Wed, 10 Aug 2022 23:34:14 GMT",
        "x-ms-encryption-scope": "blobgokeytestscope",
        "x-ms-version": "2020-10-02"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DA7B2FB87DDD7D\u0022",
        "Last-Modified": "Thu, 11 Aug 2022 00:23:31 GMT",
        "x-ms-encryption-scope": "blobgokeytestscope",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2020-10-02",
        "x-ms-version-id": "2022-08-11T00:23:31.5282301Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakestorage.blob.core.windows.net/gocappendblockwithcpkscope/gotestblobappendblockwithcpkscope?comp=appendblock",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "X-Ms-Date": "Wed, 10 Aug 2022 23:34:14 GMT",
        "x-ms-encryption-scope": "blobgokeytestscope",
        "x-ms-version": "2020-10-02"
      },
      "RequestBody": "QUFBIA==",
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DA7B2FB88AD3BF\u0022",
        "Last-Modified": "Thu, 11 Aug 2022 00:23:31 GMT",
        "x-ms-blob-append-offset": "0",
        "x-ms-blob-committed-block-count": "1",
        "x-ms-content-crc64": "6dmbGE8Kwf0=",
        "x-ms-encryption-scope": "blobgokeytestscope",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2020-10-02"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://fakestorage.blob.core.windows.net/gocappendblockwithcpkscope/gotestblobappendblockwithcpkscope",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "X-Ms-Date": "Wed, 10 Aug 2022 23:34:14 GMT",
        "x-ms-version": "2020-10-02"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DA7B2FB897F114\u0022",
        "Last-Modified": "Thu, 11 Aug 2022 00:23:31 GMT",
        "x-ms-blob-committed-block-count": "3",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-creation-time": "Thu, 11 Aug 2022 00:23:31 GMT",
        "x-ms-encryption-scope": "blobgokeytestscope",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2020-10-02",
        "x-ms-version-id": "2022-08-11T00:23:31.5282301Z"
      },
      "ResponseBody": "QUFBIEJCQiBDQ0Mg"
    },
    {
      "RequestUri": "https://fakestorage.blob.core.windows.net/gocappendblockwithcpkscope?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "X-Ms-Date": "Wed, 10 Aug 2022 23:34:14 GMT",
        "x-ms-version": "2020-10-02"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2020-10-02"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {}
}
