{
  "Entries": [
    {
      "RequestUri": "https://fakestorage.blob.core.windows.net/gocappendsetimmutabilitypolicy?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "X-Ms-Date": "Tue, 08 Nov 2022 20:24:06 GMT",
        "x-ms-version": "2020-10-02"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DAC1C7300FDDBF\u0022",
        "Last-Modified": "Tue, 08 Nov 2022 20:24:07 GMT",
        "x-ms-version": "2020-10-02"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakestorage.blob.core.windows.net/gocappendsetimmutabilitypolicy/gotestblobappendsetimmutabilitypolicy",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-type": "AppendBlob",
        "X-Ms-Date": "Tue, 08 Nov 2022 20:24:07 GMT",
        "x-ms-version": "2020-10-02"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DAC1C7301EE2E8\u0022",
        "Last-Modified": "Tue, 08 Nov 2022 20:24:07 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2020-10-02",
        "x-ms-version-id": "2022-11-08T20:24:07.6329704Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakestorage.blob.core.windows.net/gocappendsetimmutabilitypolicy/gotestblobappendsetimmutabilitypolicy?comp=immutabilityPolicies",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "X-Ms-Date": "Tue, 08 Nov 2022 20:24:07 GMT",
        "x-ms-immutability-policy-mode": "Unlocked",
        "x-ms-immutability-policy-until-date": "Fri, 11 Jun 2049 20:00:00 GMT",
        "x-ms-version": "2020-10-02"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "x-ms-immutability-policy-mode": "unlocked",
        "x-ms-immutability-policy-until-date": "Fri, 11 Jun 2049 20:00:00 GMT",
        "x-ms-version": "2020-10-02"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakestorage.blob.core.windows.net/gocappendsetimmutabilitypolicy/gotestblobappendsetimmutabilitypolicy?comp=legalhold",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "X-Ms-Date": "Tue, 08 Nov 2022 20:24:07 GMT",
        "x-ms-legal-hold": "false",
        "x-ms-version": "2020-10-02"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "x-ms-legal-hold": "false",
        "x-ms-version": "2020-10-02"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakestorage.blob.core.windows.net/gocappendsetimmutabilitypolicy/gotestblobappendsetimmutabilitypolicy",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "X-Ms-Date": "Tue, 08 Nov 2022 20:24:07 GMT",
        "x-ms-version": "2020-10-02"
      },
      "RequestBody": null,
      "StatusCode": 409,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-error-code": "BlobImmutableDueToPolicy",
        "x-ms-version": "2020-10-02"
      },
      "ResponseBody": [
        "\uFEFF\u003C?xml version=\u00221.0\u0022 encoding=\u0022utf-8\u0022?\u003E\u003CError\u003E\u003CCode\u003EBlobImmutableDueToPolicy\u003C/Code\u003E\u003CMessage\u003EThis operation is not permitted as the blob is immutable due to a policy.\n",
        "RequestId:bec0d43d-701e-0044-2db0-f32830000000\n",
        "Time:2022-11-08T20:24:07.9512968Z\u003C/Message\u003E\u003C/Error\u003E"
      ]
    },
[...]
    {
      "RequestUri": "https://fakestorage.blob.core.windows.net/gocappendsetimmutabilitypolicy/gotestblobappendsetimmutabilitypolicy",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "X-Ms-Date": "Tue, 08 Nov 2022 20:24:07 GMT",
        "x-ms-version": "2020-10-02"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-delete-type-permanent": "false",
        "x-ms-version": "2020-10-02"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {}
}
