{
  "Entries": [
    {
      "RequestUri": "https://fakestorage.blob.core.windows.net/gocblockblobsettieronsnapshots?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "X-Ms-Date": "Tue, 04 Oct 2022 10:55:55 GMT",
        "x-ms-version": "2020-10-02"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DAA5F704164177\u0022",
        "Last-Modified": "Tue, 04 Oct 2022 10:55:57 GMT",
        "x-ms-version": "2020-10-02"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakestorage.blob.core.windows.net/gocblockblobsettieronsnapshots/gotestblobblockblobsettieronsnapshots",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-blob-type": "BlockBlob",
        "X-Ms-Date": "Tue, 04 Oct 2022 10:55:57 GMT",
        "x-ms-version": "2020-10-02"
      },
      "RequestBody": "R29CbG9ja0Jsb2JEYXRh",
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-MD5": "ebncwguMQu9sgPmr0GazhA==",
        "ETag": "\u00220x8DAA5F7043AA226\u0022",
        "Last-Modified": "Tue, 04 Oct 2022 10:55:57 GMT",
        "x-ms-content-crc64": "\u002BJGsS7CR5kg=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2020-10-02",
        "x-ms-version-id": "2022-10-04T10:55:57.2803110Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakestorage.blob.core.windows.net/gocblockblobsettieronsnapshots/gotestblobblockblobsettieronsnapshots?comp=snapshot",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "X-Ms-Date": "Tue, 04 Oct 2022 10:55:57 GMT",
        "x-ms-version": "2020-10-02"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DAA5F7043AA226\u0022",
        "Last-Modified": "Tue, 04 Oct 2022 10:55:57 GMT",
        "x-ms-request-server-encrypted": "false",
        "x-ms-snapshot": "2022-10-04T10:55:57.5171800Z",
        "x-ms-version": "2020-10-02",
        "x-ms-version-id": "2022-10-04T10:55:57.5181800Z"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://fakestorage.blob.core.windows.net/gocblockblobsettieronsnapshots?comp=list\u0026include=snapshots\u0026restype=container",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "X-Ms-Date": "Tue, 04 Oct 2022 10:55:58 GMT",
        "x-ms-version": "2020-10-02"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2[...]
    {
      "RequestUri": "https://fakestorage.blob.core.windows.net/gocblockblobsettieronsnapshots/gotestblobblockblobsettieronsnapshots?comp=tier\u0026snapshot=2022-10-04T10%3A55%3A57.5171800Z",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-access-tier": "Archive",
        "X-Ms-Date": "Tue, 04 Oct 2022 10:55:58 GMT",
        "x-ms-version": "2020-10-02"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "x-ms-version": "2020-10-02"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://fakestorage.blob.core.windows.net/gocblockblobsettieronsnapshots/gotestblobblockblobsettieronsnapshots?snapshot=2022-10-04T10%3A55%3A57.5171800Z",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "X-Ms-Date": "Tue, 04 Oct 2022 10:55:59 GMT",
        "x-ms-version": "2020-10-02"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-MD5": "ebncwguMQu9sgPmr0GazhA==",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DAA5F7043AA226\u0022",
        "Last-Modified": "Tue, 04 Oct 2022 10:55:57 GMT",
        "x-ms-access-tier": "Archive",
        "x-ms-access-tier-change-time": "Tue, 04 Oct 2022 10:55:59 GMT",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Tue, 04 Oct 2022 10:55:57 GMT",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2020-10-02"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://fakestorage.blob.core.windows.net/gocblockblobsettieronsnapshots/gotestblobblockblobsettieronsnapshots?snapshot=2022-10-04T10%3A55%3A58.2407779Z",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "X-Ms-Date": "Tue, 04 Oct 2022 10:56:00 GMT",
        "x-ms-version": "2020-10-02"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-MD5": "ebncwguMQu9sgPmr0GazhA==",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DAA5F7043AA226\u0022",
        "Last-Modified": "Tue, 04 Oct 2022 10:55:57 GMT",
        "x-ms-access-tier": "Hot",
        "x-ms-access-tier-inferred": "true",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Tue, 04 Oct 2022 10:55:57 GMT",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2020-10-02"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://fakestorage.blob.core.windows.net/gocblockblobsettieronsnapshots/gotestblobblockblobsettieronsnapshots?comp=tier\u0026snapshot=2022-10-04T10%3A55%3A57.5171800Z",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-access-tier": "Cool",
        "X-Ms-Date": "Tue, 04 Oct 2022 10:56:00 GMT",
        "x-ms-version": "2020-10-02"
      },
      "RequestBody": null,
      "StatusCode": 409,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-error-code": "BlobOperationNotSupported",
        "x-ms-version": "2020-10-02"
      },
      "ResponseBody": [
        "\uFEFF\u003C?xml version=\u00221.0\u0022 encoding=\u0022utf-8\u0022?\u003E\u003CError\u003E\u003CCode\u003EBlobOperationNotSupported\u003C/Code\u003E\u003CMessage\u003EBlob operation is not supported.\n",
        "RequestId:06755a32-d01e-0019-7cdf-d74554000000\n",
        "Time:2022-10-04T10:56:01.0796281Z\u003C/Message\u003E\u003C/Error\u003E"
      ]
    },
    {
      "RequestUri": "https://fakestorage.blob.core.windows.net/gocblockblobsettieronsnapshots?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "X-Ms-Date": "Tue, 04 Oct 2022 10:56:01 GMT",
        "x-ms-version": "2020-10-02"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2020-10-02"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {}
}
