{
  "Entries": [
    {
      "RequestUri": "https://fakestorage.blob.core.windows.net/goccopyunsealedblob?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "X-Ms-Date": "Thu, 11 Aug 2022 15:08:08 GMT",
        "x-ms-version": "2020-10-02"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DA7BAB4D23B353\u0022",
        "Last-Modified": "Thu, 11 Aug 2022 15:08:09 GMT",
        "x-ms-version": "2020-10-02"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakestorage.blob.core.windows.net/goccopyunsealedblob/gotestblobcopyunsealedblob",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-type": "AppendBlob",
        "X-Ms-Date": "Thu, 11 Aug 2022 15:08:09 GMT",
        "x-ms-version": "2020-10-02"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DA7BAB4D28A0F0\u0022",
        "Last-Modified": "Thu, 11 Aug 2022 15:08:09 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2020-10-02",
        "x-ms-version-id": "2022-08-11T15:08:09.0478832Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakestorage.blob.core.windows.net/goccopyunsealedblob/copygotestblobcopyunsealedblob",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-copy-source": "https://fakestorage.blob.core.windows.net/goccopyunsealedblob/gotestblobcopyunsealedblob",
        "X-Ms-Date": "Thu, 11 Aug 2022 15:08:09 GMT",
        "x-ms-seal-blob": "true",
        "x-ms-version": "2020-10-02"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "ETag": "\u00220x8DA7BAB4D2D5B2B\u0022",
        "Last-Modified": "Thu, 11 Aug 2022 15:08:09 GMT",
        "x-ms-copy-id": "feff819c-aaf1-4cb8-a415-f558da575468",
        "x-ms-copy-status": "success",
        "x-ms-version": "2020-10-02",
        "x-ms-version-id": "2022-08-11T15:08:09.0788651Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakestorage.blob.core.windows.net/goccopyunsealedblob/copygotestblobcopyunsealedblob",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "X-Ms-Date": "Thu, 11 Aug 2022 15:08:09 GMT",
        "x-ms-version": "2020-10-02"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DA7BAB4D2D5B2B\u0022",
        "Last-Modified": "Thu, 11 Aug 2022 15:08:09 GMT",
        "x-ms-blob-committed-block-count": "0",
        "x-ms-blob-sealed": "true",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-copy-completion-time": "Thu, 11 Aug 2022 15:08:09 GMT",
        "x-ms-copy-id": "feff819c-aaf1-4cb8-a415-f558da575468",
        "x-ms-copy-progress": "0/0",
        "x-ms-copy-source": "https://fakestorage.blob.core.windows.net/goccopyunsealedblob/gotestblobcopyunsealedblob",
        "x-ms-copy-status": "success",
        "x-ms-creation-time": "Thu, 11 Aug 2022 15:08:09 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2020-10-02",
        "x-ms-version-id": "2022-08-11T15:08:09.0788651Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakestorage.blob.core.windows.net/goccopyunsealedblob?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "X-Ms-Date": "Thu, 11 Aug 2022 15:08:09 GMT",
        "x-ms-version": "2020-10-02"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2020-10-02"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {}
}
