{
  "Entries": [
    {
      "RequestUri": "https://fakestorage.blob.core.windows.net/?comp=properties\u0026restype=service",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/xml",
        "X-Ms-Date": "Wed, 28 Sep 2022 07:36:33 GMT",
        "x-ms-version": "2020-10-02"
      },
      "RequestBody": [
        "\u003C?xml version=\u00221.0\u0022 encoding=\u0022UTF-8\u0022?\u003E\n",
        "\u003CStorageServiceProperties\u003E\u003CDeleteRetentionPolicy\u003E\u003CEnabled\u003Etrue\u003C/Enabled\u003E\u003CDays\u003E1\u003C/Days\u003E\u003C/DeleteRetentionPolicy\u003E\u003C/StorageServiceProperties\u003E"
      ],
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2020-10-02"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakestorage.blob.core.windows.net/gocundeleteappendblobversion?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "X-Ms-Date": "Wed, 28 Sep 2022 07:37:05 GMT",
        "x-ms-version": "2020-10-02"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DAA1243ED3F43C\u0022",
        "Last-Modified": "Wed, 28 Sep 2022 07:37:07 GMT",
        "x-ms-version": "2020-10-02"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakestorage.blob.core.windows.net/gocundeleteappendblobversion/gotestblobundeleteappendblobversion",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-type": "AppendBlob",
        "X-Ms-Date": "Wed, 28 Sep 2022 07:37:06 GMT",
        "x-ms-version": "2020-10-02"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DAA1243EFBEAC1\u0022",
        "Last-Modified": "Wed, 28 Sep 2022 07:37:07 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2020-10-02",
        "x-ms-version-id": "2022-09-28T07:37:07.3938113Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakestorage.blob.core.windows.net/gocundeleteappendblobversion/gotestblobundeleteappendblobversion?comp=appendblock",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "X-Ms-Date": "Wed, 28 Sep 2022 07:37:06 GMT",
        "x-ms-version": "2020-10-02"
      },
      "RequestBody": "QXBwZW5kaW5nIGJsb2NrCg==",
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DAA1243F24A270\u0022",
        "Last-Modified": "Wed, 28 Sep 2022 07:37:07 GMT",
        "x-ms-blob-append-offset": "0",
        "x-ms-blob-committed-block-count": "1",
        "x-ms-content-crc64": "F3xJF8HTFZQ=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2020-10-02"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakestorage.blob.core.windows.net/gocundeleteappendblobversion/gotestblobundeleteappendblobversion?comp=snapshot",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "X-Ms-Date": "Wed, 28 Sep 2022 07:37:06 GMT",
        "x-ms-version": "2020-10-02"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DAA1243F24A270\u0022",
        "Last-Modified": "Wed, 28 Sep 2022 07:37:07 GMT",
        "x-ms-request-server-encrypted": "false",
        "x-ms-snapshot": "2022-09-28T07:37:07.9245069Z",
        "x-ms-version": "2020-10-02",
        "x-ms-version-id": "2022-09-28T07:37:07.9255069Z"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://fakestorage.blob.core.windows.net/gocundeleteappendblobversion?comp=list\u0026include=versions\u0026restype=container",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "X-Ms-Date": "Wed, 28 Sep 2022 07:37:07 GMT",
        "x-ms-version": "2020-10-02"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2020[...]
    {
      "RequestUri": "https://fakestorage.blob.core.windows.net/gocundeleteappendblobversion/gotestblobundeleteappendblobversion?versionid=2022-09-28T07%3A37%3A07.9255069Z",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "X-Ms-Date": "Wed, 28 Sep 2022 07:37:08 GMT",
        "x-ms-version": "2020-10-02"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-delete-type-permanent": "false",
        "x-ms-version": "2020-10-02"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://fakestorage.blob.core.windows.net/gocundeleteappendblobversion/gotestblobundeleteappendblobversion?comp=undelete",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "X-Ms-Date": "Wed, 28 Sep 2022 07:37:09 GMT",
        "x-ms-version": "2020-10-02"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "x-ms-version": "2020-10-02"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://fakestorage.blob.core.windows.net/gocundeleteappendblobversion?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "X-Ms-Date": "Wed, 28 Sep 2022 07:37:40 GMT",
        "x-ms-version": "2020-10-02"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2020-10-02"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {}
}
