{
  "Entries": [
    {
      "RequestUri": "https://fakestorage.blob.core.windows.net/gocappendblockpermanentdelete?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "X-Ms-Date": "Thu, 10 Nov 2022 23:19:09 GMT",
        "x-ms-version": "2020-10-02"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DAC371F8BE0C60\u0022",
        "Last-Modified": "Thu, 10 Nov 2022 23:19:09 GMT",
        "x-ms-version": "2020-10-02"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakestorage.blob.core.windows.net/gocappendblockpermanentdelete/gotestblobappendblockpermanentdelete",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-type": "AppendBlob",
        "X-Ms-Date": "Thu, 10 Nov 2022 23:19:10 GMT",
        "x-ms-version": "2020-10-02"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DAC371F8CDB215\u0022",
        "Last-Modified": "Thu, 10 Nov 2022 23:19:09 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2020-10-02",
        "x-ms-version-id": "2022-11-10T23:19:09.9297301Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakestorage.blob.core.windows.net/gocappendblockpermanentdelete/gotestblobappendblockpermanentdelete?comp=snapshot",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "X-Ms-Date": "Thu, 10 Nov 2022 23:19:10 GMT",
        "x-ms-version": "2020-10-02"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DAC371F8CDB215\u0022",
        "Last-Modified": "Thu, 10 Nov 2022 23:19:09 GMT",
        "x-ms-request-server-encrypted": "false",
        "x-ms-snapshot": "2022-11-10T23:19:10.0146830Z",
        "x-ms-version": "2020-10-02",
        "x-ms-version-id": "2022-11-10T23:19:10.0156830Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakestorage.blob.core.windows.net/gocappendblockpermanentdelete?comp=list\u0026include=snapshots\u0026restype=container",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "X-Ms-Date": "Thu, 10 Nov 2022 23:19:10 GMT",
        "x-ms-version": "2020-10-02"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2020-10-02"
      },
      "ResponseBody": "\uFEFF\u003C?xml version=\u00221.0\u0022 encoding=\u0022utf-8\u0022?\u003E\u003CEnumerationResults ServiceEndpoint=\u0022https://siminmaintest.blob.core.windows.net/\u0022 ContainerName=\u0022gocappendblockpermanentdelete\u0022\u003E\u003CBlobs\u003E\u003CBlob\u003E\u003CName\u003Egotestblobappendblockpermanentdelete\u003C/Name\u003E\u003CSnapshot\u003E2022-11-10T23:19:10.0146830Z\u003C/Snapshot\u003E\u003CP[...]
    {
      "RequestUri": "https://fakestorage.blob.core.windows.net/gocappendblockpermanentdelete/gotestblobappendblockpermanentdelete",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "X-Ms-Date": "Thu, 10 Nov 2022 23:19:10 GMT",
        "x-ms-delete-snapshots": "only",
        "x-ms-version": "2020-10-02"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-delete-type-permanent": "false",
        "x-ms-version": "2020-10-02"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://fakestorage.blob.core.windows.net/gocappendblockpermanentdelete?comp=list\u0026include=deleted%2Csnapshots\u0026restype=container",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "X-Ms-Date": "Thu, 10 Nov 2022 23:19:10 GMT",
        "x-ms-version": "2020-10-02"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-ver[...]
    {
      "RequestUri": "https://fakestorage.blob.core.windows.net/gocappendblockpermanentdelete/gotestblobappendblockpermanentdelete?deletetype=Permanent\u0026snapshot=2022-11-10T23%3A19%3A10.0146830Z",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "X-Ms-Date": "Thu, 10 Nov 2022 23:19:10 GMT",
        "x-ms-version": "2020-10-02"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-delete-type-permanent": "true",
        "x-ms-version": "2020-10-02"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://fakestorage.blob.core.windows.net/gocappendblockpermanentdelete?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "X-Ms-Date": "Thu, 10 Nov 2022 23:19:10 GMT",
        "x-ms-version": "2020-10-02"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2020-10-02"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {}
}
