{
  "Entries": [
    {
      "RequestUri": "https://fakestorage.blob.core.windows.net/gocblobsnapshotmetadataempty?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "X-Ms-Date": "Thu, 11 Aug 2022 15:07:54 GMT",
        "x-ms-version": "2020-10-02"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DA7BAB44582DF3\u0022",
        "Last-Modified": "Thu, 11 Aug 2022 15:07:54 GMT",
        "x-ms-version": "2020-10-02"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakestorage.blob.core.windows.net/gocblobsnapshotmetadataempty/gotestblobblobsnapshotmetadataempty",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-blob-type": "BlockBlob",
        "X-Ms-Date": "Thu, 11 Aug 2022 15:07:54 GMT",
        "x-ms-version": "2020-10-02"
      },
      "RequestBody": "R29CbG9ja0Jsb2JEYXRh",
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-MD5": "ebncwguMQu9sgPmr0GazhA==",
        "ETag": "\u00220x8DA7BAB445D47C0\u0022",
        "Last-Modified": "Thu, 11 Aug 2022 15:07:54 GMT",
        "x-ms-content-crc64": "\u002BJGsS7CR5kg=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2020-10-02",
        "x-ms-version-id": "2022-08-11T15:07:54.2934464Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakestorage.blob.core.windows.net/gocblobsnapshotmetadataempty/gotestblobblobsnapshotmetadataempty?comp=metadata",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "X-Ms-Date": "Thu, 11 Aug 2022 15:07:54 GMT",
        "x-ms-meta-Foo": "bar",
        "x-ms-version": "2020-10-02"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\u00220x8DA7BAB44613EC5\u0022",
        "Last-Modified": "Thu, 11 Aug 2022 15:07:54 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2020-10-02",
        "x-ms-version-id": "2022-08-11T15:07:54.3214313Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakestorage.blob.core.windows.net/gocblobsnapshotmetadataempty/gotestblobblobsnapshotmetadataempty?comp=snapshot",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "X-Ms-Date": "Thu, 11 Aug 2022 15:07:54 GMT",
        "x-ms-version": "2020-10-02"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DA7BAB44613EC5\u0022",
        "Last-Modified": "Thu, 11 Aug 2022 15:07:54 GMT",
        "x-ms-request-server-encrypted": "false",
        "x-ms-snapshot": "2022-08-11T15:07:54.3524136Z",
        "x-ms-version": "2020-10-02",
        "x-ms-version-id": "2022-08-11T15:07:54.3534136Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakestorage.blob.core.windows.net/gocblobsnapshotmetadataempty/gotestblobblobsnapshotmetadataempty?snapshot=2022-08-11T15%3A07%3A54.3524136Z",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "X-Ms-Date": "Thu, 11 Aug 2022 15:07:54 GMT",
        "x-ms-version": "2020-10-02"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-MD5": "ebncwguMQu9sgPmr0GazhA==",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DA7BAB44613EC5\u0022",
        "Last-Modified": "Thu, 11 Aug 2022 15:07:54 GMT",
        "x-ms-access-tier": "Hot",
        "x-ms-access-tier-inferred": "true",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Thu, 11 Aug 2022 15:07:54 GMT",
        "x-ms-meta-Foo": "bar",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2020-10-02"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakestorage.blob.core.windows.net/gocblobsnapshotmetadataempty?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "X-Ms-Date": "Thu, 11 Aug 2022 15:07:54 GMT",
        "x-ms-version": "2020-10-02"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2020-10-02"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {}
}
