{
  "Entries": [
    {
      "RequestUri": "https://fakestorage.blob.core.windows.net/goccontainerrestorefailures?comp=undelete\u0026restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "X-Ms-Date": "Tue, 11 Oct 2022 03:51:30 GMT",
        "x-ms-deleted-container-name": "goccontainerrestorefailures",
        "x-ms-deleted-container-version": "",
        "x-ms-version": "2020-10-02"
      },
      "RequestBody": null,
      "StatusCode": 400,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-error-code": "MissingRequiredHeader",
        "x-ms-version": "2020-10-02"
      },
      "ResponseBody": [
        "\uFEFF\u003C?xml version=\u00221.0\u0022 encoding=\u0022utf-8\u0022?\u003E\n",
        "\u003CError\u003E\u003CCode\u003EMissingRequiredHeader\u003C/Code\u003E\u003CMessage\u003EAn HTTP header that\u0026apos;s mandatory for this request is not specified.\n",
        "RequestId:b3048f87-a01e-0071-7a24-dd23c4000000\n",
        "Time:2022-10-11T03:51:30.6559536Z\u003C/Message\u003E\u003CHeaderName\u003Ex-ms-deleted-container-version\u003C/HeaderName\u003E\u003C/Error\u003E"
      ]
    },
    {
      "RequestUri": "https://fakestorage.blob.core.windows.net/?comp=undelete\u0026restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "X-Ms-Date": "Tue, 11 Oct 2022 03:51:30 GMT",
        "x-ms-deleted-container-name": "",
        "x-ms-deleted-container-version": "",
        "x-ms-version": "2020-10-02"
      },
      "RequestBody": null,
      "StatusCode": 400,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-error-code": "MissingRequiredHeader",
        "x-ms-version": "2020-10-02"
      },
      "ResponseBody": [
        "\uFEFF\u003C?xml version=\u00221.0\u0022 encoding=\u0022utf-8\u0022?\u003E\n",
        "\u003CError\u003E\u003CCode\u003EMissingRequiredHeader\u003C/Code\u003E\u003CMessage\u003EAn HTTP header that\u0026apos;s mandatory for this request is not specified.\n",
        "RequestId:b3049089-a01e-0071-7324-dd23c4000000\n",
        "Time:2022-10-11T03:51:30.8958066Z\u003C/Message\u003E\u003CHeaderName\u003Ex-ms-deleted-container-name\u003C/HeaderName\u003E\u003C/Error\u003E"
      ]
    }
  ],
  "Variables": {}
}
