{
  "Entries": [
    {
      "RequestUri": "https://fakestorage.blob.core.windows.net/azcontainerpagedgoclistcontainerspaged0?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "X-Ms-Date": "Thu, 12 Jan 2023 19:51:02 GMT",
        "x-ms-version": "2020-10-02"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DAF4D65626C0C0\u0022",
        "Last-Modified": "Thu, 12 Jan 2023 19:51:03 GMT",
        "x-ms-version": "2020-10-02"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://fakestorage.blob.core.windows.net/?comp=list\u0026include=metadata\u0026maxresults=2\u0026prefix=azcontainerpagedgoc",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "X-Ms-Date": "Thu, 12 Jan 2023 19:51:02 GMT",
        "x-ms-version": "2020-10-02"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2020-10-02"
      },
      "ResponseBody": "\uFEFF\u003C?xml version=\u00221.0\u0022 encoding=\u0022utf-8\u0022?\u003E\u003CEnumerationResults ServiceEndpoint=\u0022https://gaprauswest2.blob.core.windows.net/\u0022\u003E\u003CPrefix\u003Eazcontainerpagedgoc\u003C/Prefix\u003E\u003CMaxResults\u003E2\u003C/MaxResults\u003E\u003CContainers\u003E\u003CContainer\u003E\u003CName\u003Eazcontainerpagedgoclistcontainerspaged0\u003C/Name\u003E\u003CProperties\u[...]
    {
      "RequestUri": "https://fakestorage.blob.core.windows.net/?comp=list\u0026include=metadata\u0026marker=%2Fgaprauswest2%2Fazcontainerpagedgoclistcontainerspaged2\u0026maxresults=2\u0026prefix=azcontainerpagedgoc",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "X-Ms-Date": "Thu, 12 Jan 2023 19:51:02 GMT",
        "x-ms-version": "2020-10-02"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
   [...]
[...]
    {
      "RequestUri": "https://fakestorage.blob.core.windows.net/azcontainerpagedgoclistcontainerspaged5?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "X-Ms-Date": "Thu, 12 Jan 2023 19:51:03 GMT",
        "x-ms-version": "2020-10-02"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2020-10-02"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {}
}
