{
  "Entries": [
    {
      "RequestUri": "https://fakestorage.blob.core.windows.net/gocgetpropertiesreturnstagscount?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "X-Ms-Date": "Tue, 17 Jan 2023 22:00:38 GMT",
        "x-ms-version": "2020-10-02"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DAF8D6457D522B\u0022",
        "Last-Modified": "Tue, 17 Jan 2023 22:00:39 GMT",
        "x-ms-version": "2020-10-02"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakestorage.blob.core.windows.net/gocgetpropertiesreturnstagscount/gotestblobgetpropertiesreturnstagscount",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-blob-cache-control": "control",
        "x-ms-blob-content-disposition": "my_disposition",
        "x-ms-blob-content-encoding": "my_encoding",
        "x-ms-blob-content-language": "my_language",
        "x-ms-blob-content-type": "my_type",
        "x-ms-blob-type": "BlockBlob",
        "X-Ms-Date": "Tue, 17 Jan 2023 22:00:38 GMT",
        "x-ms-meta-Foo": "bar",
        "x-ms-tags": "azure=blob\u0026blob=sdk\u0026sdk=go",
        "x-ms-version": "2020-10-02"
      },
      "RequestBody": "ZGF0YQ==",
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-MD5": "jXd/OF09/siBXSD3SWAm3A==",
        "ETag": "\u00220x8DAF8D6458BA006\u0022",
        "Last-Modified": "Tue, 17 Jan 2023 22:00:39 GMT",
        "x-ms-content-crc64": "gCf8jkNhru0=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2020-10-02",
        "x-ms-version-id": "2023-01-17T22:00:39.9814662Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakestorage.blob.core.windows.net/gocgetpropertiesreturnstagscount/gotestblobgetpropertiesreturnstagscount",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "X-Ms-Date": "Tue, 17 Jan 2023 22:00:38 GMT",
        "x-ms-version": "2020-10-02"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Disposition": "my_disposition",
        "Content-Language": "my_language",
        "Content-MD5": "jXd/OF09/siBXSD3SWAm3A==",
        "Content-Type": "my_type",
        "ETag": "\u00220x8DAF8D6458BA006\u0022",
        "Last-Modified": "Tue, 17 Jan 2023 22:00:39 GMT",
        "x-ms-access-tier": "Hot",
        "x-ms-access-tier-inferred": "true",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Tue, 17 Jan 2023 22:00:39 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-meta-Foo": "bar",
        "x-ms-server-encrypted": "true",
        "x-ms-tag-count": "3",
        "x-ms-version": "2020-10-02",
        "x-ms-version-id": "2023-01-17T22:00:39.9814662Z"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://fakestorage.blob.core.windows.net/gocgetpropertiesreturnstagscount?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "X-Ms-Date": "Tue, 17 Jan 2023 22:00:38 GMT",
        "x-ms-version": "2020-10-02"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2020-10-02"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {}
}
