{
  "Entries": [
    {
      "RequestUri": "https://fakestorage.blob.core.windows.net/goccreateappendblobwithtags?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "X-Ms-Date": "Tue, 17 Jan 2023 21:46:47 GMT",
        "x-ms-version": "2020-10-02"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DAF8D4566840F8\u0022",
        "Last-Modified": "Tue, 17 Jan 2023 21:46:49 GMT",
        "x-ms-version": "2020-10-02"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakestorage.blob.core.windows.net/goccreateappendblobwithtags/gotestblobcreateappendblobwithtags",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-type": "AppendBlob",
        "X-Ms-Date": "Tue, 17 Jan 2023 21:46:48 GMT",
        "x-ms-tags": "%2B-.%2F%3A%3D_\u002B=firsttag\u0026tag2=%2B-.%2F%3A%3D_\u0026%2B-.%2F%3A%3D_1=%2B-.%2F%3A%3D_\u0026Microsoft\u002BAzure=Azure\u002BStorage\u0026Storage%2BSDK=SDK%2FGO\u0026GO\u002B=.Net",
        "x-ms-version": "2020-10-02"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DAF8D45676FAEC\u0022",
        "Last-Modified": "Tue, 17 Jan 2023 21:46:49 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2020-10-02",
        "x-ms-version-id": "2023-01-17T21:46:49.3739756Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakestorage.blob.core.windows.net/goccreateappendblobwithtags/gotestblobcreateappendblobwithtags",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "X-Ms-Date": "Tue, 17 Jan 2023 21:46:58 GMT",
        "x-ms-version": "2020-10-02"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DAF8D45676FAEC\u0022",
        "Last-Modified": "Tue, 17 Jan 2023 21:46:49 GMT",
        "x-ms-blob-committed-block-count": "0",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-creation-time": "Tue, 17 Jan 2023 21:46:49 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-tag-count": "6",
        "x-ms-version": "2020-10-02",
        "x-ms-version-id": "2023-01-17T21:46:49.3739756Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakestorage.blob.core.windows.net/goccreateappendblobwithtags/gotestblobcreateappendblobwithtags?comp=tags",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "X-Ms-Date": "Tue, 17 Jan 2023 21:46:58 GMT",
        "x-ms-version": "2020-10-02"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2020-10-02"
      },
      "ResponseBody": [
        "\uFEFF\u003C?xml version=\u00221.0\u0022 encoding=\u0022utf-8\u0022?\u003E\n",
        "\u003CTags\u003E\u003CTagSet\u003E\u003CTag\u003E\u003CKey\u003E\u002B-./:=_ \u003C/Key\u003E\u003CValue\u003Efirsttag\u003C/Value\u003E\u003C/Tag\u003E\u003CTag\u003E\u003CKey\u003E\u002B-./:=_1\u003C/Key\u003E\u003CValue\u003E\u002B-./:=_\u003C/Value\u003E\u003C/Tag\u003E\u003CTag\u003E\u003CKey\u003EGO \u003C/Key\u003E\u003CValue\u003E.Net\u003C/Value\u003E\u003C/Tag\u003E\u003CTag\u003E\u003CKey\u003EMicrosoft Azure\u003C/Key\u003E\u003CValue\u003EAzure Storage\u003C/Value\u003E\u003C/Tag\u003E\u003CTag\u003E\u003CKey\u003EStorage\u002BSDK\u003C/Key\u003E\u003CValue\u003ESDK/GO\u003C/Value\u003E\u003C/Tag\u003E\u003CTag\u003E\u003CKey\u003Etag2\u003C/Key\u003E\u003CValue\u003E\u002B-./:=_\u003C/Value\u003E\u003C/Tag\u003E\u003C/TagSet\u003E\u003C/Tags\u003E"
      ]
    },
    {
      "RequestUri": "https://fakestorage.blob.core.windows.net/goccreateappendblobwithtags/gotestblobcreateappendblobwithtags?comp=snapshot",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "X-Ms-Date": "Tue, 17 Jan 2023 21:46:58 GMT",
        "x-ms-version": "2020-10-02"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DAF8D45676FAEC\u0022",
        "Last-Modified": "Tue, 17 Jan 2023 21:46:49 GMT",
        "x-ms-request-server-encrypted": "false",
        "x-ms-snapshot": "2023-01-17T21:46:59.8110143Z",
        "x-ms-version": "2020-10-02",
        "x-ms-version-id": "2023-01-17T21:46:59.8120143Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakestorage.blob.core.windows.net/goccreateappendblobwithtags/gotestblobcreateappendblobwithtags?snapshot=2023-01-17T21%3A46%3A59.8110143Z",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "X-Ms-Date": "Tue, 17 Jan 2023 21:46:58 GMT",
        "x-ms-version": "2020-10-02"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DAF8D45676FAEC\u0022",
        "Last-Modified": "Tue, 17 Jan 2023 21:46:49 GMT",
        "x-ms-blob-committed-block-count": "0",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-creation-time": "Tue, 17 Jan 2023 21:46:49 GMT",
        "x-ms-server-encrypted": "true",
        "x-ms-tag-count": "6",
        "x-ms-version": "2020-10-02"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://fakestorage.blob.core.windows.net/?comp=blobs\u0026where=%22GO%20%22%3D%27.Net%27",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "X-Ms-Date": "Tue, 17 Jan 2023 21:46:58 GMT",
        "x-ms-version": "2020-10-02"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2020-10-02"
      },
      "ResponseBody[...]
    {
      "RequestUri": "https://fakestorage.blob.core.windows.net/goccreateappendblobwithtags?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "X-Ms-Date": "Tue, 17 Jan 2023 21:47:01 GMT",
        "x-ms-version": "2020-10-02"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2020-10-02"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {}
}
