{
  "Entries": [
    {
      "RequestUri": "https://fakestorage.blob.core.windows.net/goccopysealedblob?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "X-Ms-Date": "Wed, 10 Aug 2022 23:34:14 GMT",
        "x-ms-version": "2020-10-02"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DA7B30402DBE25\u0022",
        "Last-Modified": "Thu, 11 Aug 2022 00:27:19 GMT",
        "x-ms-version": "2020-10-02"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakestorage.blob.core.windows.net/goccopysealedblob/gotestblobcopysealedblob",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-type": "AppendBlob",
        "X-Ms-Date": "Wed, 10 Aug 2022 23:34:14 GMT",
        "x-ms-version": "2020-10-02"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DA7B304033046B\u0022",
        "Last-Modified": "Thu, 11 Aug 2022 00:27:19 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2020-10-02",
        "x-ms-version-id": "2022-08-11T00:27:19.2078443Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakestorage.blob.core.windows.net/goccopysealedblob/gotestblobcopysealedblob?comp=seal",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "X-Ms-Date": "Wed, 10 Aug 2022 23:34:14 GMT",
        "x-ms-version": "2020-10-02"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\u00220x8DA7B304037BE99\u0022",
        "Last-Modified": "Thu, 11 Aug 2022 00:27:19 GMT",
        "x-ms-blob-sealed": "true",
        "x-ms-version": "2020-10-02"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakestorage.blob.core.windows.net/goccopysealedblob/copy1gotestblobcopysealedblob",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-copy-source": "https://fakestorage.blob.core.windows.net/goccopysealedblob/gotestblobcopysealedblob",
        "X-Ms-Date": "Wed, 10 Aug 2022 23:34:14 GMT",
        "x-ms-version": "2020-10-02"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "ETag": "\u00220x8DA7B30403E4D41\u0022",
        "Last-Modified": "Thu, 11 Aug 2022 00:27:19 GMT",
        "x-ms-copy-id": "824519ed-77ea-4096-b63a-85319251d1d2",
        "x-ms-copy-status": "success",
        "x-ms-version": "2020-10-02",
        "x-ms-version-id": "2022-08-11T00:27:19.2817985Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakestorage.blob.core.windows.net/goccopysealedblob/copy1gotestblobcopysealedblob",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "X-Ms-Date": "Wed, 10 Aug 2022 23:34:14 GMT",
        "x-ms-version": "2020-10-02"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DA7B30403E4D41\u0022",
        "Last-Modified": "Thu, 11 Aug 2022 00:27:19 GMT",
        "x-ms-blob-committed-block-count": "0",
        "x-ms-blob-sealed": "true",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-copy-completion-time": "Thu, 11 Aug 2022 00:27:19 GMT",
        "x-ms-copy-id": "824519ed-77ea-4096-b63a-85319251d1d2",
        "x-ms-copy-progress": "0/0",
        "x-ms-copy-source": "https://fakestorage.blob.core.windows.net/goccopysealedblob/gotestblobcopysealedblob",
        "x-ms-copy-status": "success",
        "x-ms-creation-time": "Thu, 11 Aug 2022 00:27:19 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2020-10-02",
        "x-ms-version-id": "2022-08-11T00:27:19.2817985Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakestorage.blob.core.windows.net/goccopysealedblob/copy1gotestblobcopysealedblob?comp=appendblock",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "X-Ms-Date": "Wed, 10 Aug 2022 23:34:14 GMT",
        "x-ms-version": "2020-10-02"
      },
      "RequestBody": "MlNEZ1pqNlJrS1l6SnB1MDRzd2VRZWs0dVdITzhuZFBuWWxaMHRuRlM2MWhqbkZaNUlrdklHR1k0NGVLQUJvdjJTRGdaajZS[...]
    {
      "RequestUri": "https://fakestorage.blob.core.windows.net/goccopysealedblob/copy2gotestblobcopysealedblob",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-copy-source": "https://fakestorage.blob.core.windows.net/goccopysealedblob/gotestblobcopysealedblob",
        "X-Ms-Date": "Wed, 10 Aug 2022 23:34:14 GMT",
        "x-ms-seal-blob": "true",
        "x-ms-version": "2020-10-02"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "ETag": "\u00220x8DA7B30407C8503\u0022",
        "Last-Modified": "Thu, 11 Aug 2022 00:27:19 GMT",
        "x-ms-copy-id": "8093ed5a-25b1-4204-ae42-d332b8cfe39a",
        "x-ms-copy-status": "success",
        "x-ms-version": "2020-10-02",
        "x-ms-version-id": "2022-08-11T00:27:19.6895491Z"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://fakestorage.blob.core.windows.net/goccopysealedblob?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "X-Ms-Date": "Wed, 10 Aug 2022 23:34:14 GMT",
        "x-ms-version": "2020-10-02"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2020-10-02"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {}
}
