{
  "Entries": [
    {
      "RequestUri": "https://fakestorage.blob.core.windows.net/gocbloblistwrapperlistingerror?comp=list\u0026restype=container",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "X-Ms-Date": "Tue, 23 Aug 2022 23:09:43 GMT",
        "x-ms-version": "2020-10-02"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-error-code": "ContainerNotFound",
        "x-ms-version": "2020-10-02"
      },
      "ResponseBody": [
        "\uFEFF\u003C?xml version=\u00221.0\u0022 encoding=\u0022utf-8\u0022?\u003E\u003CError\u003E\u003CCode\u003EContainerNotFound\u003C/Code\u003E\u003CMessage\u003EThe specified container does not exist.\n",
        "RequestId:c3d7d650-301e-008a-4345-b75b08000000\n",
        "Time:2022-08-23T23:09:44.0258465Z\u003C/Message\u003E\u003C/Error\u003E"
      ]
    }
  ],
  "Variables": {}
}
