# These values should be filled out when testing.
SERVICEBUS_CONNECTION_STRING=<service bus connection string>

TEST_SERVICEBUS_LOCATION=<ex: eastus>
TEST_SERVICEBUS_RESOURCE_GROUP=<resource group>

AZURE_SUBSCRIPTION_ID=<Azure subscription>
AZURE_TENANT_ID=<Azure tenant>
AZURE_CLIENT_ID=<Azure client>
AZURE_CLIENT_SECRET=<Azure client secret>

# Used for examples*_test.go.
# This queue will need to be created manually
SERVICEBUS_QUEUE=samples
