{
  "Entries": [
    {
      "RequestUri": "https://primseankane.blob.core.windows.net/gocuploadblockblobwithspecialcharactersintags?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 16 Feb 2022 16:05:42 GMT",
        "x-ms-version": "2019-12-12"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D9F1662F59A164\u0022",
        "Last-Modified": "Wed, 16 Feb 2022 16:05:43 GMT",
        "x-ms-version": "2019-12-12"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://primseankane.blob.core.windows.net/gocuploadblockblobwithspecialcharactersintags/gotestblobuploadblockblobwithspecialcharactersintags",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-blob-cache-control": "control",
        "x-ms-blob-content-disposition": "my_disposition",
        "x-ms-blob-content-encoding": "my_encoding",
        "x-ms-blob-content-language": "my_language",
        "x-ms-blob-content-type": "my_type",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Wed, 16 Feb 2022 16:05:43 GMT",
        "x-ms-meta-foo": "bar",
        "x-ms-tags": "%2B-.%2F%3A%3D_\u002B=firsttag\u0026tag2=%2B-.%2F%3A%3D_\u0026%2B-.%2F%3A%3D_1=%2B-.%2F%3A%3D_",
        "x-ms-version": "2019-12-12"
      },
      "RequestBody": "ZGF0YQ==",
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-MD5": "jXd/OF09/siBXSD3SWAm3A==",
        "ETag": "\u00220x8D9F1662F6F4A62\u0022",
        "Last-Modified": "Wed, 16 Feb 2022 16:05:43 GMT",
        "x-ms-content-crc64": "gCf8jkNhru0=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2019-12-12"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://primseankane.blob.core.windows.net/gocuploadblockblobwithspecialcharactersintags/gotestblobuploadblockblobwithspecialcharactersintags?comp=tags",
      "RequestMethod": "GET",
      "RequestHeaders": {
        ":method": "GET",
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 16 Feb 2022 16:05:43 GMT",
        "x-ms-version": "2019-12-12"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2019-12-12"
      },
      "ResponseBody": [
        "\uFEFF\u003C?xml version=\u00221.0\u0022 encoding=\u0022utf-8\u0022?\u003E\n",
        "\u003CTags\u003E\u003CTagSet\u003E\u003CTag\u003E\u003CKey\u003E\u002B-./:=_ \u003C/Key\u003E\u003CValue\u003Efirsttag\u003C/Value\u003E\u003C/Tag\u003E\u003CTag\u003E\u003CKey\u003E\u002B-./:=_1\u003C/Key\u003E\u003CValue\u003E\u002B-./:=_\u003C/Value\u003E\u003C/Tag\u003E\u003CTag\u003E\u003CKey\u003Etag2\u003C/Key\u003E\u003CValue\u003E\u002B-./:=_\u003C/Value\u003E\u003C/Tag\u003E\u003C/TagSet\u003E\u003C/Tags\u003E"
      ]
    },
    {
      "RequestUri": "https://primseankane.blob.core.windows.net/gocuploadblockblobwithspecialcharactersintags?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 16 Feb 2022 16:05:43 GMT",
        "x-ms-version": "2019-12-12"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2019-12-12"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {}
}
