{
  "Entries": [
    {
      "RequestUri": "https://fakestorageaccount.blob.core.windows.net/goccreateanddownloadblobspecialcharacterswithvid?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 16 Feb 2022 18:34:27 GMT",
        "x-ms-version": "2019-12-12"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D9F17AF7335A86\u0022",
        "Last-Modified": "Wed, 16 Feb 2022 18:34:28 GMT",
        "x-ms-version": "2019-12-12"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakestorageaccount.blob.core.windows.net/goccreateanddownloadblobspecialcharacterswithvid/abc-",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Wed, 16 Feb 2022 18:34:28 GMT",
        "x-ms-version": "2019-12-12"
      },
      "RequestBody": "LQ==",
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-MD5": "M21evFQ2U05h0W5j3fyjJw==",
        "ETag": "\u00220x8D9F17AF7464185\u0022",
        "Last-Modified": "Wed, 16 Feb 2022 18:34:28 GMT",
        "x-ms-content-crc64": "qZnwPj9XCzQ=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2019-12-12"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakestorageaccount.blob.core.windows.net/goccreateanddownloadblobspecialcharacterswithvid?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 16 Feb 2022 18:34:28 GMT",
        "x-ms-version": "2019-12-12"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2019-12-12"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {}
}
