{
  "Entries": [
    {
      "RequestUri": "https://fakestorageaccount.blob.core.windows.net/gocblobsetmetadataempty?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 17 Feb 2022 00:55:51 GMT",
        "x-ms-version": "2019-12-12"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D9F1B03EC46422\u0022",
        "Last-Modified": "Thu, 17 Feb 2022 00:55:51 GMT",
        "x-ms-version": "2019-12-12"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakestorageaccount.blob.core.windows.net/gocblobsetmetadataempty/gotestblobblobsetmetadataempty",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Thu, 17 Feb 2022 00:55:51 GMT",
        "x-ms-version": "2019-12-12"
      },
      "RequestBody": "R29CbG9ja0Jsb2JEYXRh",
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-MD5": "ebncwguMQu9sgPmr0GazhA==",
        "ETag": "\u00220x8D9F1B03ED5C0A7\u0022",
        "Last-Modified": "Thu, 17 Feb 2022 00:55:52 GMT",
        "x-ms-content-crc64": "\u002BJGsS7CR5kg=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2019-12-12"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakestorageaccount.blob.core.windows.net/gocblobsetmetadataempty/gotestblobblobsetmetadataempty?comp=metadata",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 17 Feb 2022 00:55:51 GMT",
        "x-ms-meta-not": "nil",
        "x-ms-version": "2019-12-12"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\u00220x8D9F1B03EE48B83\u0022",
        "Last-Modified": "Thu, 17 Feb 2022 00:55:52 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2019-12-12"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://fakestorageaccount.blob.core.windows.net/gocblobsetmetadataempty/gotestblobblobsetmetadataempty",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 17 Feb 2022 00:55:52 GMT",
        "x-ms-version": "2019-12-12"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-MD5": "ebncwguMQu9sgPmr0GazhA==",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8D9F1B03EF2BA35\u0022",
        "Last-Modified": "Thu, 17 Feb 2022 00:55:52 GMT",
        "x-ms-access-tier": "Hot",
        "x-ms-access-tier-inferred": "true",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Thu, 17 Feb 2022 00:55:52 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2019-12-12"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakestorageaccount.blob.core.windows.net/gocblobsetmetadataempty?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 17 Feb 2022 00:55:52 GMT",
        "x-ms-version": "2019-12-12"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2019-12-12"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {}
}
