{
  "Entries": [
    {
      "RequestUri": "https://fakestorageaccount.blob.core.windows.net/goccontainersetpermissionspublicaccesscontainer?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 16 Feb 2022 16:43:02 GMT",
        "x-ms-version": "2019-12-12"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D9F16B65EB9893\u0022",
        "Last-Modified": "Wed, 16 Feb 2022 16:43:02 GMT",
        "x-ms-version": "2019-12-12"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakestorageaccount.blob.core.windows.net/goccontainersetpermissionspublicaccesscontainer?comp=acl\u0026restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Wed, 16 Feb 2022 16:43:02 GMT",
        "x-ms-version": "2019-12-12"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\u00220x8D9F16B660D3887\u0022",
        "Last-Modified": "Wed, 16 Feb 2022 16:43:02 GMT",
        "x-ms-version": "2019-12-12"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakestorageaccount.blob.core.windows.net/goccontainersetpermissionspublicaccesscontainer?comp=acl\u0026restype=container",
      "RequestMethod": "GET",
      "RequestHeaders": {
        ":method": "GET",
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 16 Feb 2022 16:43:02 GMT",
        "x-ms-version": "2019-12-12"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "ETag": "\u00220x8D9F16B660D3887\u0022",
        "Last-Modified": "Wed, 16 Feb 2022 16:43:02 GMT",
        "x-ms-blob-public-access": "container",
        "x-ms-version": "2019-12-12"
      },
      "ResponseBody": "\uFEFF\u003C?xml version=\u00221.0\u0022 encoding=\u0022utf-8\u0022?\u003E\u003CSignedIdentifiers /\u003E"
    },
    {
      "RequestUri": "https://fakestorageaccount.blob.core.windows.net/goccontainersetpermissionspublicaccesscontainer?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 16 Feb 2022 16:43:02 GMT",
        "x-ms-version": "2019-12-12"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2019-12-12"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {}
}
