{
  "Entries": [
    {
      "RequestUri": "https://fakeaccount.blob.core.windows.net/gocblobstartcopymetadatanil?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        ":authority": "localhost:5001",
        ":method": "PUT",
        ":path": "/gocblobstartcopymetadatanil?restype=container",
        ":scheme": "https",
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 13 Dec 2021 20:21:18 GMT",
        "x-ms-version": "2019-12-12"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D9BE761B32ECF4\u0022",
        "Last-Modified": "Mon, 13 Dec 2021 20:21:12 GMT",
        "x-ms-version": "2019-12-12"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakeaccount.blob.core.windows.net/gocblobstartcopymetadatanil/gotestblobblobstartcopymetadatanil",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        ":authority": "localhost:5001",
        ":method": "PUT",
        ":path": "/gocblobstartcopymetadatanil/gotestblobblobstartcopymetadatanil",
        ":scheme": "https",
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Mon, 13 Dec 2021 20:21:18 GMT",
        "x-ms-version": "2019-12-12"
      },
      "RequestBody": "R29CbG9ja0Jsb2JEYXRh",
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-MD5": "ebncwguMQu9sgPmr0GazhA==",
        "ETag": "\u00220x8D9BE761B41B22B\u0022",
        "Last-Modified": "Mon, 13 Dec 2021 20:21:12 GMT",
        "x-ms-content-crc64": "\u002BJGsS7CR5kg=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2019-12-12"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakeaccount.blob.core.windows.net/gocblobstartcopymetadatanil/copygotestblobblobstartcopymetadatanil",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        ":authority": "localhost:5001",
        ":method": "PUT",
        ":path": "/gocblobstartcopymetadatanil/copygotestblobblobstartcopymetadatanil",
        ":scheme": "https",
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Mon, 13 Dec 2021 20:21:19 GMT",
        "x-ms-version": "2019-12-12"
      },
      "RequestBody": "ZGF0YQ==",
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-MD5": "jXd/OF09/siBXSD3SWAm3A==",
        "ETag": "\u00220x8D9BE761B50CB23\u0022",
        "Last-Modified": "Mon, 13 Dec 2021 20:21:12 GMT",
        "x-ms-content-crc64": "gCf8jkNhru0=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2019-12-12"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakeaccount.blob.core.windows.net/gocblobstartcopymetadatanil/copygotestblobblobstartcopymetadatanil",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        ":authority": "localhost:5001",
        ":method": "PUT",
        ":path": "/gocblobstartcopymetadatanil/copygotestblobblobstartcopymetadatanil",
        ":scheme": "https",
        "Authorization": "Sanitized",
        "x-ms-copy-source": "https://primrosebud.blob.core.windows.net/gocblobstartcopymetadatanil/gotestblobblobstartcopymetadatanil",
        "x-ms-date": "Mon, 13 Dec 2021 20:21:19 GMT",
        "x-ms-version": "2019-12-12"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "ETag": "\u00220x8D9BE761B603239\u0022",
        "Last-Modified": "Mon, 13 Dec 2021 20:21:12 GMT",
        "x-ms-copy-id": "2c3afe9e-b53d-4655-b863-a95006d344cf",
        "x-ms-copy-status": "success",
        "x-ms-version": "2019-12-12"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakeaccount.blob.core.windows.net/gocblobstartcopymetadatanil?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        ":authority": "localhost:5001",
        ":method": "DELETE",
        ":path": "/gocblobstartcopymetadatanil?restype=container",
        ":scheme": "https",
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 13 Dec 2021 20:22:10 GMT",
        "x-ms-version": "2019-12-12"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2019-12-12"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {}
}
