{
  "Entries": [
    {
      "RequestUri": "https://fakeaccount.blob.core.windows.net/?comp=properties\u0026restype=service",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        ":authority": "localhost:5001",
        ":method": "PUT",
        ":path": "/?comp=properties\u0026restype=service",
        ":scheme": "https",
        "Authorization": "Sanitized",
        "Content-Type": "application/xml",
        "x-ms-date": "Thu, 16 Dec 2021 20:54:22 GMT",
        "x-ms-version": "2019-12-12"
      },
      "RequestBody": "\u003CStorageServiceProperties\u003E\u003CDeleteRetentionPolicy\u003E\u003CEnabled\u003Etrue\u003C/Enabled\u003E\u003CDays\u003E5\u003C/Days\u003E\u003C/DeleteRetentionPolicy\u003E\u003C/StorageServiceProperties\u003E",
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2019-12-12"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://fakeaccount.blob.core.windows.net/?comp=properties\u0026restype=service",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        ":authority": "localhost:5001",
        ":method": "PUT",
        ":path": "/?comp=properties\u0026restype=service",
        ":scheme": "https",
        "Authorization": "Sanitized",
        "Content-Type": "application/xml",
        "x-ms-date": "Thu, 16 Dec 2021 20:54:54 GMT",
        "x-ms-version": "2019-12-12"
      },
      "RequestBody": "\u003CStorageServiceProperties\u003E\u003CDeleteRetentionPolicy\u003E\u003C/DeleteRetentionPolicy\u003E\u003C/StorageServiceProperties\u003E",
      "StatusCode": 400,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-error-code": "InvalidXmlDocument",
        "x-ms-version": "2019-12-12"
      },
      "ResponseBody": [
        "\uFEFF\u003C?xml version=\u00221.0\u0022 encoding=\u0022utf-8\u0022?\u003E\u003CError\u003E\u003CCode\u003EInvalidXmlDocument\u003C/Code\u003E\u003CMessage\u003EXML specified is not syntactically valid.\n",
        "RequestId:95a0ff6f-d01e-0044-6abf-f20f29000000\n",
        "Time:2021-12-16T20:54:53.7647362Z\u003C/Message\u003E\u003CLineNumber\u003E1\u003C/LineNumber\u003E\u003CLinePosition\u003E52\u003C/LinePosition\u003E\u003CReason\u003EElement is missing: Enabled.\u003C/Reason\u003E\u003C/Error\u003E"
      ]
    }
  ],
  "Variables": {}
}
