{
  "Entries": [
    {
      "RequestUri": "https://fakeaccount.blob.core.windows.net/?comp=properties\u0026restype=service",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        ":authority": "localhost:5001",
        ":method": "PUT",
        ":path": "/?comp=properties\u0026restype=service",
        ":scheme": "https",
        "Authorization": "Sanitized",
        "Content-Type": "application/xml",
        "x-ms-date": "Thu, 16 Dec 2021 21:02:18 GMT",
        "x-ms-version": "2019-12-12"
      },
      "RequestBody": "\u003CStorageServiceProperties\u003E\u003CDeleteRetentionPolicy\u003E\u003CEnabled\u003Etrue\u003C/Enabled\u003E\u003CDays\u003E366\u003C/Days\u003E\u003C/DeleteRetentionPolicy\u003E\u003C/StorageServiceProperties\u003E",
      "StatusCode": 400,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-error-code": "InvalidXmlDocument",
        "x-ms-version": "2019-12-12"
      },
      "ResponseBody": [
        "\uFEFF\u003C?xml version=\u00221.0\u0022 encoding=\u0022utf-8\u0022?\u003E\u003CError\u003E\u003CCode\u003EInvalidXmlDocument\u003C/Code\u003E\u003CMessage\u003EXML specified is not syntactically valid.\n",
        "RequestId:295a1f40-801e-002b-2fc0-f205da000000\n",
        "Time:2021-12-16T21:02:18.4880335Z\u003C/Message\u003E\u003CLineNumber\u003E1\u003C/LineNumber\u003E\u003CLinePosition\u003E91\u003C/LinePosition\u003E\u003CReason\u003ERetention days must be greater than 0 and less than or equal to 365 days.\u003C/Reason\u003E\u003C/Error\u003E"
      ]
    },
[...]
