{
  "Entries": [
    {
      "RequestUri": "https://primseankane.blob.core.windows.net/gocsetblobtagforsnapshot?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 16 Feb 2022 16:18:15 GMT",
        "x-ms-version": "2019-12-12"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D9F167F05BEC87\u0022",
        "Last-Modified": "Wed, 16 Feb 2022 16:18:16 GMT",
        "x-ms-version": "2019-12-12"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://primseankane.blob.core.windows.net/gocsetblobtagforsnapshot/gotestblobsetblobtagforsnapshot",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Wed, 16 Feb 2022 16:18:16 GMT",
        "x-ms-version": "2019-12-12"
      },
      "RequestBody": "R29CbG9ja0Jsb2JEYXRh",
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-MD5": "ebncwguMQu9sgPmr0GazhA==",
        "ETag": "\u00220x8D9F167F06E933B\u0022",
        "Last-Modified": "Wed, 16 Feb 2022 16:18:16 GMT",
        "x-ms-content-crc64": "\u002BJGsS7CR5kg=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2019-12-12"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://primseankane.blob.core.windows.net/gocsetblobtagforsnapshot/gotestblobsetblobtagforsnapshot?comp=tags",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/xml",
        "x-ms-date": "Wed, 16 Feb 2022 16:18:16 GMT",
        "x-ms-version": "2019-12-12"
      },
      "RequestBody": "\u003CTags\u003E\u003CTagSet\u003E\u003CTag\u003E\u003CKey\u003EMicrosoft Azure\u003C/Key\u003E\u003CValue\u003EAzure Storage\u003C/Value\u003E\u003C/Tag\u003E\u003CTag\u003E\u003CKey\u003EStorage\u002BSDK\u003C/Key\u003E\u003CValue\u003ESDK/GO\u003C/Value\u003E\u003C/Tag\u003E\u003CTag\u003E\u003CKey\u003EGO \u003C/Key\u003E\u003CValue\u003E.Net\u003C/Value\u003E\u003C/Tag\u003E\u003C/TagSet\u003E\u003C/Tags\u003E",
      "StatusCode": 204,
      "ResponseHeaders": {
        "x-ms-version": "2019-12-12"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://primseankane.blob.core.windows.net/gocsetblobtagforsnapshot/gotestblobsetblobtagforsnapshot?comp=snapshot",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 16 Feb 2022 16:18:16 GMT",
        "x-ms-version": "2019-12-12"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D9F167F06E933B\u0022",
        "Last-Modified": "Wed, 16 Feb 2022 16:18:16 GMT",
        "x-ms-request-server-encrypted": "false",
        "x-ms-snapshot": "2022-02-16T16:18:16.9868371Z",
        "x-ms-version": "2019-12-12"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://primseankane.blob.core.windows.net/gocsetblobtagforsnapshot/gotestblobsetblobtagforsnapshot?snapshot=2022-02-16T16%3A18%3A16.9868371Z",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 16 Feb 2022 16:18:17 GMT",
        "x-ms-version": "2019-12-12"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-MD5": "ebncwguMQu9sgPmr0GazhA==",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8D9F167F06E933B\u0022",
        "Last-Modified": "Wed, 16 Feb 2022 16:18:16 GMT",
        "x-ms-access-tier": "Hot",
        "x-ms-access-tier-inferred": "true",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Wed, 16 Feb 2022 16:18:16 GMT",
        "x-ms-server-encrypted": "true",
        "x-ms-tag-count": "3",
        "x-ms-version": "2019-12-12"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://primseankane.blob.core.windows.net/gocsetblobtagforsnapshot?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 16 Feb 2022 16:18:17 GMT",
        "x-ms-version": "2019-12-12"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2019-12-12"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {}
}
