{
  "Entries": [
    {
      "RequestUri": "https://fakeaccount.blob.core.windows.net/gocblobsetsequencenumberifmodifiedsincetrue?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        ":authority": "localhost:5001",
        ":method": "PUT",
        ":path": "/gocblobsetsequencenumberifmodifiedsincetrue?restype=container",
        ":scheme": "https",
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 17 Dec 2021 16:59:17 GMT",
        "x-ms-version": "2019-12-12"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D9C17E8FCD913C\u0022",
        "Last-Modified": "Fri, 17 Dec 2021 16:59:17 GMT",
        "x-ms-version": "2019-12-12"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakeaccount.blob.core.windows.net/gocblobsetsequencenumberifmodifiedsincetrue/gotestblobblobsetsequencenumberifmodifiedsincetrue",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        ":authority": "localhost:5001",
        ":method": "PUT",
        ":path": "/gocblobsetsequencenumberifmodifiedsincetrue/gotestblobblobsetsequencenumberifmodifiedsincetrue",
        ":scheme": "https",
        "Authorization": "Sanitized",
        "x-ms-blob-content-length": "5120",
        "x-ms-blob-type": "PageBlob",
        "x-ms-date": "Fri, 17 Dec 2021 16:59:17 GMT",
        "x-ms-version": "2019-12-12"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D9C17E8FDC78BB\u0022",
        "Last-Modified": "Fri, 17 Dec 2021 16:59:17 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2019-12-12"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakeaccount.blob.core.windows.net/gocblobsetsequencenumberifmodifiedsincetrue/gotestblobblobsetsequencenumberifmodifiedsincetrue?comp=properties",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        ":authority": "localhost:5001",
        ":method": "PUT",
        ":path": "/gocblobsetsequencenumberifmodifiedsincetrue/gotestblobblobsetsequencenumberifmodifiedsincetrue?comp=properties",
        ":scheme": "https",
        "Authorization": "Sanitized",
        "If-Modified-Since": "Fri, 17 Dec 2021 16:59:06 GMT",
        "x-ms-date": "Fri, 17 Dec 2021 16:59:17 GMT",
        "x-ms-sequence-number-action": "increment",
        "x-ms-version": "2019-12-12"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\u00220x8D9C17E8FEBB8C2\u0022",
        "Last-Modified": "Fri, 17 Dec 2021 16:59:17 GMT",
        "x-ms-blob-sequence-number": "1",
        "x-ms-version": "2019-12-12"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakeaccount.blob.core.windows.net/gocblobsetsequencenumberifmodifiedsincetrue?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        ":authority": "localhost:5001",
        ":method": "DELETE",
        ":path": "/gocblobsetsequencenumberifmodifiedsincetrue?restype=container",
        ":scheme": "https",
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 17 Dec 2021 17:00:09 GMT",
        "x-ms-version": "2019-12-12"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2019-12-12"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {}
}
