{
  "Entries": [
    {
      "RequestUri": "https://fakeaccount.blob.core.windows.net/goccontainersetpermissionsifunmodifiedsincefalse?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        ":authority": "localhost:5001",
        ":method": "PUT",
        ":path": "/goccontainersetpermissionsifunmodifiedsincefalse?restype=container",
        ":scheme": "https",
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 21 Dec 2021 17:49:45 GMT",
        "x-ms-version": "2019-12-12"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D9C4AA470FB83A\u0022",
        "Last-Modified": "Tue, 21 Dec 2021 17:49:46 GMT",
        "x-ms-version": "2019-12-12"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakeaccount.blob.core.windows.net/goccontainersetpermissionsifunmodifiedsincefalse?comp=acl\u0026restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        ":authority": "localhost:5001",
        ":method": "PUT",
        ":path": "/goccontainersetpermissionsifunmodifiedsincefalse?comp=acl\u0026restype=container",
        ":scheme": "https",
        "Authorization": "Sanitized",
        "If-Unmodified-Since": "Tue, 21 Dec 2021 17:49:36 GMT",
        "x-ms-date": "Tue, 21 Dec 2021 17:49:46 GMT",
        "x-ms-version": "2019-12-12"
      },
      "RequestBody": null,
      "StatusCode": 412,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-error-code": "ConditionNotMet",
        "x-ms-version": "2019-12-12"
      },
      "ResponseBody": [
        "\uFEFF\u003C?xml version=\u00221.0\u0022 encoding=\u0022utf-8\u0022?\u003E\u003CError\u003E\u003CCode\u003EConditionNotMet\u003C/Code\u003E\u003CMessage\u003EThe condition specified using HTTP conditional header(s) is not met.\n",
        "RequestId:04fa856b-101e-0072-0293-f6dd6b000000\n",
        "Time:2021-12-21T17:49:46.6302248Z\u003C/Message\u003E\u003C/Error\u003E"
      ]
    },
    {
      "RequestUri": "https://fakeaccount.blob.core.windows.net/goccontainersetpermissionsifunmodifiedsincefalse?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        ":authority": "localhost:5001",
        ":method": "DELETE",
        ":path": "/goccontainersetpermissionsifunmodifiedsincefalse?restype=container",
        ":scheme": "https",
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 21 Dec 2021 17:49:46 GMT",
        "x-ms-version": "2019-12-12"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2019-12-12"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {}
}
