{
  "Entries": [
    {
      "RequestUri": "https://fakestorageaccount.blob.core.windows.net/gocincrementalcopy?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 25 Feb 2022 21:34:14 GMT",
        "x-ms-version": "2019-12-12"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D9F8A692715E6A\u0022",
        "Last-Modified": "Fri, 25 Feb 2022 21:34:15 GMT",
        "x-ms-version": "2019-12-12"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakestorageaccount.blob.core.windows.net/gocincrementalcopy?comp=acl\u0026restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "blob",
        "x-ms-date": "Fri, 25 Feb 2022 21:34:15 GMT",
        "x-ms-version": "2019-12-12"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\u00220x8D9F8A69281BE66\u0022",
        "Last-Modified": "Fri, 25 Feb 2022 21:34:15 GMT",
        "x-ms-version": "2019-12-12"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakestorageaccount.blob.core.windows.net/gocincrementalcopy/srcgotestblobincrementalcopy",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-content-length": "5120",
        "x-ms-blob-type": "PageBlob",
        "x-ms-date": "Fri, 25 Feb 2022 21:34:15 GMT",
        "x-ms-version": "2019-12-12"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D9F8A692908F62\u0022",
        "Last-Modified": "Fri, 25 Feb 2022 21:34:15 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2019-12-12"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakestorageaccount.blob.core.windows.net/gocincrementalcopy/srcgotestblobincrementalcopy?comp=page",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Fri, 25 Feb 2022 21:34:15 GMT",
        "x-ms-page-write": "update",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2019-12-12"
      },
      "RequestBody": "MlNEZ1pqNlJrS1l6SnB1MDRzd2VRZWs0dVdITzhuZFBuWWxaMHRuRlM2MWhqbkZaNUlrdklHR1k0NGVLQUJvdjJTRGdaajZSa0tZekpwdTA0c3dlUWVrNHVXSE84bmRQbllsWjB0bkZTNjFoam5GWjVJa3ZJR0dZNDRlS0FCb3YyU0RnWmo2UmtLWXpKcHUwNHN3ZVFlazR1V0hPOG5kUG5ZbFowdG5GUzYxaGpuRlo1SWt2SUdHWTQ0ZUtBQm92MlNEZ1pqNlJrS1l6SnB1MDRzd2VRZWs0dVdITzhuZFBuWWxaMHRuRlM2MWhqbkZaNUlrdklHR1k0NGVLQUJvdjJTRGdaajZSa0tZekpwdTA0c3dlUWVrNHVXSE84bmRQbllsWjB0bkZTNjFoam5GWjVJa3ZJR0d[...]
    {
      "RequestUri": "https://fakestorageaccount.blob.core.windows.net/gocincrementalcopy/srcgotestblobincrementalcopy?comp=snapshot",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 25 Feb 2022 21:34:15 GMT",
        "x-ms-version": "2019-12-12"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D9F8A692A1CAE9\u0022",
        "Last-Modified": "Fri, 25 Feb 2022 21:34:15 GMT",
        "x-ms-request-server-encrypted": "false",
        "x-ms-snapshot": "2022-02-25T21:34:15.8961633Z",
        "x-ms-version": "2019-12-12"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakestorageaccount.blob.core.windows.net/gocincrementalcopy/dstgotestblobincrementalcopy?comp=incrementalcopy",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-copy-source": "https://fakestorageaccount.blob.core.windows.net/gocincrementalcopy/srcgotestblobincrementalcopy?snapshot=2022-02-25T21%3A34%3A15.8961633Z",
        "x-ms-date": "Fri, 25 Feb 2022 21:34:15 GMT",
        "x-ms-version": "2019-12-12"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "ETag": "\u00220x8D9F8A692D619B9\u0022",
        "Last-Modified": "Fri, 25 Feb 2022 21:34:16 GMT",
        "x-ms-copy-id": "0250f6ec-9816-468f-9729-191ccd152612",
        "x-ms-copy-status": "pending",
        "x-ms-version": "2019-12-12"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakestorageaccount.blob.core.windows.net/gocincrementalcopy/dstgotestblobincrementalcopy",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 25 Feb 2022 21:34:15 GMT",
        "x-ms-version": "2019-12-12"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8D9F8A692D619B9\u0022",
        "Last-Modified": "Fri, 25 Feb 2022 21:34:16 GMT",
        "x-ms-blob-sequence-number": "0",
        "x-ms-blob-type": "PageBlob",
        "x-ms-copy-id": "0250f6ec-9816-468f-9729-191ccd152612",
        "x-ms-copy-progress": "0/5120",
        "x-ms-copy-source": "https://fakestorageaccount.blob.core.windows.net/gocincrementalcopy/srcgotestblobincrementalcopy?snapshot=2022-02-25T21%3A34%3A15.8961633Z",
        "x-ms-copy-status": "pending",
        "x-ms-creation-time": "Fri, 25 Feb 2022 21:34:16 GMT",
        "x-ms-incremental-copy": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2019-12-12"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakestorageaccount.blob.core.windows.net/gocincrementalcopy/dstgotestblobincrementalcopy",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 25 Feb 2022 21:34:15 GMT",
        "x-ms-version": "2019-12-12"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8D9F8A692EE8026\u0022",
        "Last-Modified": "Fri, 25 Feb 2022 21:34:16 GMT",
        "x-ms-blob-sequence-number": "0",
        "x-ms-blob-type": "PageBlob",
        "x-ms-copy-completion-time": "Fri, 25 Feb 2022 21:34:16 GMT",
        "x-ms-copy-destination-snapshot": "2022-02-25T21:34:16.3129257Z",
        "x-ms-copy-id": "0250f6ec-9816-468f-9729-191ccd152612",
        "x-ms-copy-progress": "5120/5120",
        "x-ms-copy-source": "https://fakestorageaccount.blob.core.windows.net/gocincrementalcopy/srcgotestblobincrementalcopy?snapshot=2022-02-25T21%3A34%3A15.8961633Z",
        "x-ms-copy-status": "success",
        "x-ms-creation-time": "Fri, 25 Feb 2022 21:34:16 GMT",
        "x-ms-incremental-copy": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2019-12-12"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakestorageaccount.blob.core.windows.net/gocincrementalcopy?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 25 Feb 2022 21:34:15 GMT",
        "x-ms-version": "2019-12-12"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2019-12-12"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {}
}
