{
  "Entries": [
    {
      "RequestUri": "https://fakestorageaccount.blob.core.windows.net/gocincrementalcopy?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 04 Mar 2022 15:57:34 GMT",
        "x-ms-version": "2019-12-12"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D9FDF7B25EE646\u0022",
        "Last-Modified": "Fri, 04 Mar 2022 15:57:34 GMT",
        "x-ms-version": "2019-12-12"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakestorageaccount.blob.core.windows.net/gocincrementalcopy?comp=acl\u0026restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "blob",
        "x-ms-date": "Fri, 04 Mar 2022 15:57:34 GMT",
        "x-ms-version": "2019-12-12"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\u00220x8D9FDF7B2861D39\u0022",
        "Last-Modified": "Fri, 04 Mar 2022 15:57:34 GMT",
        "x-ms-version": "2019-12-12"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakestorageaccount.blob.core.windows.net/gocincrementalcopy/srcgotestblobincrementalcopy",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-content-length": "5120",
        "x-ms-blob-type": "PageBlob",
        "x-ms-date": "Fri, 04 Mar 2022 15:57:34 GMT",
        "x-ms-version": "2019-12-12"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D9FDF7B2AD0C2C\u0022",
        "Last-Modified": "Fri, 04 Mar 2022 15:57:34 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2019-12-12",
        "x-ms-version-id": "2022-03-04T15:57:34.6070572Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakestorageaccount.blob.core.windows.net/gocincrementalcopy/srcgotestblobincrementalcopy?comp=page",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Fri, 04 Mar 2022 15:57:35 GMT",
        "x-ms-page-write": "update",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2019-12-12"
      },
      "RequestBody": "MlNEZ1pqNlJrS1l6SnB1MDRzd2VRZWs0dVdITzhuZFBuWWxaMHRuRlM2MWhqbkZaNUlrdklHR1k0NGVLQUJvdjJTRGdaajZSa0tZekpwdTA0c3dlUWVrNHVXSE84bmRQbllsWjB0bkZTNjFoam5GWjVJa3ZJR0dZNDRlS0FCb3YyU0RnWmo2UmtLWXpKcHUwNHN3ZVFlazR1V0hPOG5kUG5ZbFowdG5GUzYxaGpuRlo1SWt2SUdHWTQ0ZUtBQm92MlNEZ1pqNlJrS1l6SnB1MDRzd2VRZWs0dVdITzhuZFBuWWxaMHRuRlM2MWhqbkZaNUlrdklHR1k0NGVLQUJvdjJTRGdaajZSa0tZekpwdTA0c3dlUWVrNHVXSE84bmRQbllsWjB0bkZTNjFoam5GWjVJa3ZJR0d[...]
    {
      "RequestUri": "https://fakestorageaccount.blob.core.windows.net/gocincrementalcopy/srcgotestblobincrementalcopy?comp=snapshot",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 04 Mar 2022 15:57:35 GMT",
        "x-ms-version": "2019-12-12"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D9FDF7B3007710\u0022",
        "Last-Modified": "Fri, 04 Mar 2022 15:57:35 GMT",
        "x-ms-request-server-encrypted": "false",
        "x-ms-snapshot": "2022-03-04T15:57:35.4065984Z",
        "x-ms-version": "2019-12-12",
        "x-ms-version-id": "2022-03-04T15:57:35.4075984Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakestorageaccount.blob.core.windows.net/gocincrementalcopy/dstgotestblobincrementalcopy?comp=incrementalcopy",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-copy-source": "https://fakestorageaccount.blob.core.windows.net/gocincrementalcopy/srcgotestblobincrementalcopy?snapshot=2022-03-04T15%3A57%3A35.4065984Z",
        "x-ms-date": "Fri, 04 Mar 2022 15:57:36 GMT",
        "x-ms-version": "2019-12-12"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "ETag": "\u00220x8D9FDF7B3556858\u0022",
        "Last-Modified": "Fri, 04 Mar 2022 15:57:35 GMT",
        "x-ms-copy-id": "4f89edf1-5714-403f-b503-ed92f6ad2d75",
        "x-ms-copy-status": "pending",
        "x-ms-version": "2019-12-12",
        "x-ms-version-id": "2022-03-04T15:57:35.7104216Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakestorageaccount.blob.core.windows.net/gocincrementalcopy/dstgotestblobincrementalcopy",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 04 Mar 2022 15:57:36 GMT",
        "x-ms-version": "2019-12-12"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8D9FDF7B361E9AA\u0022",
        "Last-Modified": "Fri, 04 Mar 2022 15:57:35 GMT",
        "x-ms-blob-sequence-number": "0",
        "x-ms-blob-type": "PageBlob",
        "x-ms-copy-completion-time": "Fri, 04 Mar 2022 15:57:35 GMT",
        "x-ms-copy-destination-snapshot": "2022-03-04T15:57:35.8083655Z",
        "x-ms-copy-id": "4f89edf1-5714-403f-b503-ed92f6ad2d75",
        "x-ms-copy-progress": "5120/5120",
        "x-ms-copy-source": "https://fakestorageaccount.blob.core.windows.net/gocincrementalcopy/srcgotestblobincrementalcopy?snapshot=2022-03-04T15%3A57%3A35.4065984Z",
        "x-ms-copy-status": "success",
        "x-ms-creation-time": "Fri, 04 Mar 2022 15:57:35 GMT",
        "x-ms-incremental-copy": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2019-12-12"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakestorageaccount.blob.core.windows.net/gocincrementalcopy?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 04 Mar 2022 15:57:36 GMT",
        "x-ms-version": "2019-12-12"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2019-12-12"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {}
}
