{
  "Entries": [
    {
      "RequestUri": "https://fakeaccount.blob.core.windows.net/gocserviceclientfromconnectionstring?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        ":authority": "localhost:5001",
        ":method": "PUT",
        ":path": "/gocserviceclientfromconnectionstring?restype=container",
        ":scheme": "https",
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 16 Dec 2021 20:43:42 GMT",
        "x-ms-version": "2019-12-12"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D9C0D4BF11F148\u0022",
        "Last-Modified": "Thu, 16 Dec 2021 20:43:42 GMT",
        "x-ms-version": "2019-12-12"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakeaccount.blob.core.windows.net/gocserviceclientfromconnectionstring?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        ":authority": "localhost:5001",
        ":method": "DELETE",
        ":path": "/gocserviceclientfromconnectionstring?restype=container",
        ":scheme": "https",
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 16 Dec 2021 20:43:42 GMT",
        "x-ms-version": "2019-12-12"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2019-12-12"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {}
}
