{
  "Entries": [
    {
      "RequestUri": "https://fakestorageaccount.blob.core.windows.net/gocblobsnapshotifmodifiedsincetrue?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 04 Mar 2022 15:50:54 GMT",
        "x-ms-version": "2019-12-12"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D9FDF6C3E546B4\u0022",
        "Last-Modified": "Fri, 04 Mar 2022 15:50:54 GMT",
        "x-ms-version": "2019-12-12"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakestorageaccount.blob.core.windows.net/gocblobsnapshotifmodifiedsincetrue/gotestblobblobsnapshotifmodifiedsincetrue",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Fri, 04 Mar 2022 15:50:54 GMT",
        "x-ms-version": "2019-12-12"
      },
      "RequestBody": "R29CbG9ja0Jsb2JEYXRh",
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-MD5": "ebncwguMQu9sgPmr0GazhA==",
        "ETag": "\u00220x8D9FDF6C40B7F95\u0022",
        "Last-Modified": "Fri, 04 Mar 2022 15:50:54 GMT",
        "x-ms-content-crc64": "\u002BJGsS7CR5kg=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2019-12-12",
        "x-ms-version-id": "2022-03-04T15:50:54.2505877Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakestorageaccount.blob.core.windows.net/gocblobsnapshotifmodifiedsincetrue/gotestblobblobsnapshotifmodifiedsincetrue?comp=snapshot",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-Modified-Since": "Fri, 04 Mar 2022 15:50:43 GMT",
        "x-ms-date": "Fri, 04 Mar 2022 15:50:54 GMT",
        "x-ms-version": "2019-12-12"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D9FDF6C40B7F95\u0022",
        "Last-Modified": "Fri, 04 Mar 2022 15:50:54 GMT",
        "x-ms-request-server-encrypted": "false",
        "x-ms-snapshot": "2022-03-04T15:50:54.5084408Z",
        "x-ms-version": "2019-12-12",
        "x-ms-version-id": "2022-03-04T15:50:54.5094408Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakestorageaccount.blob.core.windows.net/gocblobsnapshotifmodifiedsincetrue?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 04 Mar 2022 15:50:55 GMT",
        "x-ms-version": "2019-12-12"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2019-12-12"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {}
}
