{
  "Entries": [
    {
      "RequestUri": "https://fakeaccount.blob.core.windows.net/gocblobsetsequencenumberactiontypeinvalid?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        ":authority": "localhost:5001",
        ":method": "PUT",
        ":path": "/gocblobsetsequencenumberactiontypeinvalid?restype=container",
        ":scheme": "https",
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 17 Dec 2021 16:59:16 GMT",
        "x-ms-version": "2019-12-12"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D9C17E8F514738\u0022",
        "Last-Modified": "Fri, 17 Dec 2021 16:59:16 GMT",
        "x-ms-version": "2019-12-12"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakeaccount.blob.core.windows.net/gocblobsetsequencenumberactiontypeinvalid/gotestblobblobsetsequencenumberactiontypeinvalid",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        ":authority": "localhost:5001",
        ":method": "PUT",
        ":path": "/gocblobsetsequencenumberactiontypeinvalid/gotestblobblobsetsequencenumberactiontypeinvalid",
        ":scheme": "https",
        "Authorization": "Sanitized",
        "x-ms-blob-content-length": "5120",
        "x-ms-blob-type": "PageBlob",
        "x-ms-date": "Fri, 17 Dec 2021 16:59:16 GMT",
        "x-ms-version": "2019-12-12"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D9C17E8F607D09\u0022",
        "Last-Modified": "Fri, 17 Dec 2021 16:59:16 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2019-12-12"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakeaccount.blob.core.windows.net/gocblobsetsequencenumberactiontypeinvalid/gotestblobblobsetsequencenumberactiontypeinvalid?comp=properties",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        ":authority": "localhost:5001",
        ":method": "PUT",
        ":path": "/gocblobsetsequencenumberactiontypeinvalid/gotestblobblobsetsequencenumberactiontypeinvalid?comp=properties",
        ":scheme": "https",
        "Authorization": "Sanitized",
        "x-ms-blob-sequence-number": "1",
        "x-ms-date": "Fri, 17 Dec 2021 16:59:16 GMT",
        "x-ms-sequence-number-action": "garbage",
        "x-ms-version": "2019-12-12"
      },
      "RequestBody": null,
      "StatusCode": 400,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-error-code": "InvalidHeaderValue",
        "x-ms-version": "2019-12-12"
      },
      "ResponseBody": [
        "\uFEFF\u003C?xml version=\u00221.0\u0022 encoding=\u0022utf-8\u0022?\u003E\u003CError\u003E\u003CCode\u003EInvalidHeaderValue\u003C/Code\u003E\u003CMessage\u003EThe value for one of the HTTP headers is not in the correct format.\n",
        "RequestId:3a3ec925-d01e-0054-5167-f3ca41000000\n",
        "Time:2021-12-17T16:59:16.6103332Z\u003C/Message\u003E\u003CHeaderName\u003Ex-ms-sequence-number-action\u003C/HeaderName\u003E\u003CHeaderValue\u003Egarbage\u003C/HeaderValue\u003E\u003C/Error\u003E"
      ]
    },
    {
      "RequestUri": "https://fakeaccount.blob.core.windows.net/gocblobsetsequencenumberactiontypeinvalid?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        ":authority": "localhost:5001",
        ":method": "DELETE",
        ":path": "/gocblobsetsequencenumberactiontypeinvalid?restype=container",
        ":scheme": "https",
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 17 Dec 2021 16:59:16 GMT",
        "x-ms-version": "2019-12-12"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2019-12-12"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {}
}
