{
  "Entries": [
    {
      "RequestUri": "https://fakeaccount.blob.core.windows.net/gocblobsnapshotifmodifiedsincefalse?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        ":authority": "localhost:5001",
        ":method": "PUT",
        ":path": "/gocblobsnapshotifmodifiedsincefalse?restype=container",
        ":scheme": "https",
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 14 Dec 2021 21:31:02 GMT",
        "x-ms-version": "2019-12-12"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D9BF4902972B9F\u0022",
        "Last-Modified": "Tue, 14 Dec 2021 21:30:54 GMT",
        "x-ms-version": "2019-12-12"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakeaccount.blob.core.windows.net/gocblobsnapshotifmodifiedsincefalse/gotestblobblobsnapshotifmodifiedsincefalse",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        ":authority": "localhost:5001",
        ":method": "PUT",
        ":path": "/gocblobsnapshotifmodifiedsincefalse/gotestblobblobsnapshotifmodifiedsincefalse",
        ":scheme": "https",
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Tue, 14 Dec 2021 21:31:02 GMT",
        "x-ms-version": "2019-12-12"
      },
      "RequestBody": "R29CbG9ja0Jsb2JEYXRh",
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-MD5": "ebncwguMQu9sgPmr0GazhA==",
        "ETag": "\u00220x8D9BF4902A5CB6B\u0022",
        "Last-Modified": "Tue, 14 Dec 2021 21:30:54 GMT",
        "x-ms-content-crc64": "\u002BJGsS7CR5kg=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2019-12-12"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakeaccount.blob.core.windows.net/gocblobsnapshotifmodifiedsincefalse/gotestblobblobsnapshotifmodifiedsincefalse?comp=snapshot",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        ":authority": "localhost:5001",
        ":method": "PUT",
        ":path": "/gocblobsnapshotifmodifiedsincefalse/gotestblobblobsnapshotifmodifiedsincefalse?comp=snapshot",
        ":scheme": "https",
        "Authorization": "Sanitized",
        "If-Modified-Since": "Tue, 14 Dec 2021 21:31:03 GMT",
        "x-ms-date": "Tue, 14 Dec 2021 21:31:03 GMT",
        "x-ms-version": "2019-12-12"
      },
      "RequestBody": null,
      "StatusCode": 412,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-error-code": "ConditionNotMet",
        "x-ms-version": "2019-12-12"
      },
      "ResponseBody": [
        "\uFEFF\u003C?xml version=\u00221.0\u0022 encoding=\u0022utf-8\u0022?\u003E\u003CError\u003E\u003CCode\u003EConditionNotMet\u003C/Code\u003E\u003CMessage\u003EThe condition specified using HTTP conditional header(s) is not met.\n",
        "RequestId:b04753c5-f01e-0064-0231-f18045000000\n",
        "Time:2021-12-14T21:30:54.8534091Z\u003C/Message\u003E\u003C/Error\u003E"
      ]
    },
    {
      "RequestUri": "https://fakeaccount.blob.core.windows.net/gocblobsnapshotifmodifiedsincefalse?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        ":authority": "localhost:5001",
        ":method": "DELETE",
        ":path": "/gocblobsnapshotifmodifiedsincefalse?restype=container",
        ":scheme": "https",
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 14 Dec 2021 21:31:03 GMT",
        "x-ms-version": "2019-12-12"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2019-12-12"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {}
}
