{
  "Entries": [
    {
      "RequestUri": "https://fakestorageaccount.blob.core.windows.net/goccopyunsealedblob?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 16 Feb 2022 21:20:26 GMT",
        "x-ms-version": "2019-12-12"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D9F19226CD6EF6\u0022",
        "Last-Modified": "Wed, 16 Feb 2022 21:20:26 GMT",
        "x-ms-version": "2019-12-12"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakestorageaccount.blob.core.windows.net/goccopyunsealedblob/gotestblobcopyunsealedblob",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-date": "Wed, 16 Feb 2022 21:20:26 GMT",
        "x-ms-version": "2019-12-12"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D9F19226DF8A1C\u0022",
        "Last-Modified": "Wed, 16 Feb 2022 21:20:26 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2019-12-12"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakestorageaccount.blob.core.windows.net/goccopyunsealedblob/copygotestblobcopyunsealedblob",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-copy-source": "https://fakestorageaccount.blob.core.windows.net/goccopyunsealedblob/gotestblobcopyunsealedblob",
        "x-ms-date": "Wed, 16 Feb 2022 21:20:26 GMT",
        "x-ms-seal-blob": "true",
        "x-ms-version": "2019-12-12"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "ETag": "\u00220x8D9F19226F02966\u0022",
        "Last-Modified": "Wed, 16 Feb 2022 21:20:27 GMT",
        "x-ms-copy-id": "8172033e-0544-48f3-ab65-41a9383b520f",
        "x-ms-copy-status": "success",
        "x-ms-version": "2019-12-12"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakestorageaccount.blob.core.windows.net/goccopyunsealedblob/copygotestblobcopyunsealedblob",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 16 Feb 2022 21:20:26 GMT",
        "x-ms-version": "2019-12-12"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8D9F19226F02966\u0022",
        "Last-Modified": "Wed, 16 Feb 2022 21:20:27 GMT",
        "x-ms-blob-committed-block-count": "0",
        "x-ms-blob-sealed": "true",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-copy-completion-time": "Wed, 16 Feb 2022 21:20:27 GMT",
        "x-ms-copy-id": "8172033e-0544-48f3-ab65-41a9383b520f",
        "x-ms-copy-progress": "0/0",
        "x-ms-copy-source": "https://fakestorageaccount.blob.core.windows.net/goccopyunsealedblob/gotestblobcopyunsealedblob",
        "x-ms-copy-status": "success",
        "x-ms-creation-time": "Wed, 16 Feb 2022 21:20:27 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2019-12-12"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakestorageaccount.blob.core.windows.net/goccopyunsealedblob?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 16 Feb 2022 21:20:26 GMT",
        "x-ms-version": "2019-12-12"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2019-12-12"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {}
}
