{
  "Entries": [
    {
      "RequestUri": "https://primseankane.blob.core.windows.net/gocsetblobtagswithvid?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 16 Feb 2022 16:02:27 GMT",
        "x-ms-version": "2019-12-12"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D9F165BB24EB56\u0022",
        "Last-Modified": "Wed, 16 Feb 2022 16:02:28 GMT",
        "x-ms-version": "2019-12-12"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://primseankane.blob.core.windows.net/gocsetblobtagswithvid/gotestblobsetblobtagswithvid",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Wed, 16 Feb 2022 16:02:28 GMT",
        "x-ms-version": "2019-12-12"
      },
      "RequestBody": "ZGF0YQ==",
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-MD5": "jXd/OF09/siBXSD3SWAm3A==",
        "ETag": "\u00220x8D9F165BB373461\u0022",
        "Last-Modified": "Wed, 16 Feb 2022 16:02:28 GMT",
        "x-ms-content-crc64": "gCf8jkNhru0=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2019-12-12"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://primseankane.blob.core.windows.net/gocsetblobtagswithvid/gotestblobsetblobtagswithvid?comp=tags",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/xml",
        "x-ms-date": "Wed, 16 Feb 2022 16:02:28 GMT",
        "x-ms-version": "2019-12-12"
      },
      "RequestBody": "\u003CTags\u003E\u003CTagSet\u003E\u003CTag\u003E\u003CKey\u003EGo\u003C/Key\u003E\u003CValue\u003ECPlusPlus\u003C/Value\u003E\u003C/Tag\u003E\u003CTag\u003E\u003CKey\u003EPython\u003C/Key\u003E\u003CValue\u003ECSharp\u003C/Value\u003E\u003C/Tag\u003E\u003CTag\u003E\u003CKey\u003EJavascript\u003C/Key\u003E\u003CValue\u003EAndroid\u003C/Value\u003E\u003C/Tag\u003E\u003C/TagSet\u003E\u003C/Tags\u003E",
      "StatusCode": 204,
      "ResponseHeaders": {
        "x-ms-version": "2019-12-12"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://primseankane.blob.core.windows.net/gocsetblobtagswithvid?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 16 Feb 2022 16:02:28 GMT",
        "x-ms-version": "2019-12-12"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2019-12-12"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {}
}
