{
  "Entries": [
    {
      "RequestUri": "https://fakestorageaccount.blob.core.windows.net/gocblobcreateappendifunmodifiedsincefalse?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 04 Mar 2022 15:49:15 GMT",
        "x-ms-version": "2019-12-12"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D9FDF6893E7080\u0022",
        "Last-Modified": "Fri, 04 Mar 2022 15:49:15 GMT",
        "x-ms-version": "2019-12-12"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakestorageaccount.blob.core.windows.net/gocblobcreateappendifunmodifiedsincefalse/gotestblobblobcreateappendifunmodifiedsincefalse",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-date": "Fri, 04 Mar 2022 15:49:16 GMT",
        "x-ms-version": "2019-12-12"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D9FDF68973723B\u0022",
        "Last-Modified": "Fri, 04 Mar 2022 15:49:15 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2019-12-12",
        "x-ms-version-id": "2022-03-04T15:49:15.9462459Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakestorageaccount.blob.core.windows.net/gocblobcreateappendifunmodifiedsincefalse/gotestblobblobcreateappendifunmodifiedsincefalse",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-Unmodified-Since": "Fri, 04 Mar 2022 15:49:05 GMT",
        "x-ms-blob-cache-control": "control",
        "x-ms-blob-content-disposition": "my_disposition",
        "x-ms-blob-content-encoding": "my_encoding",
        "x-ms-blob-content-language": "my_language",
        "x-ms-blob-content-type": "my_type",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-date": "Fri, 04 Mar 2022 15:49:16 GMT",
        "x-ms-meta-foo": "bar",
        "x-ms-version": "2019-12-12"
      },
      "RequestBody": null,
      "StatusCode": 412,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-error-code": "ConditionNotMet",
        "x-ms-version": "2019-12-12"
      },
      "ResponseBody": [
        "\uFEFF\u003C?xml version=\u00221.0\u0022 encoding=\u0022utf-8\u0022?\u003E\u003CError\u003E\u003CCode\u003EConditionNotMet\u003C/Code\u003E\u003CMessage\u003EThe condition specified using HTTP conditional header(s) is not met.\n",
        "RequestId:70fbba76-601e-0063-3edf-2f1283000000\n",
        "Time:2022-03-04T15:49:16.2514907Z\u003C/Message\u003E\u003C/Error\u003E"
      ]
    },
    {
      "RequestUri": "https://fakestorageaccount.blob.core.windows.net/gocblobcreateappendifunmodifiedsincefalse?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 04 Mar 2022 15:49:16 GMT",
        "x-ms-version": "2019-12-12"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2019-12-12"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {}
}
