{
  "Entries": [
    {
      "RequestUri": "https://fakeaccount.blob.core.windows.net/gocblobdeletenonexistent?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        ":authority": "localhost:5001",
        ":method": "PUT",
        ":path": "/gocblobdeletenonexistent?restype=container",
        ":scheme": "https",
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 14 Dec 2021 22:19:13 GMT",
        "x-ms-version": "2019-12-12"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D9BF4FC2366CA7\u0022",
        "Last-Modified": "Tue, 14 Dec 2021 22:19:13 GMT",
        "x-ms-version": "2019-12-12"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakeaccount.blob.core.windows.net/gocblobdeletenonexistent/gotestblobblobdeletenonexistent",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        ":authority": "localhost:5001",
        ":method": "DELETE",
        ":path": "/gocblobdeletenonexistent/gotestblobblobdeletenonexistent",
        ":scheme": "https",
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 14 Dec 2021 22:19:13 GMT",
        "x-ms-version": "2019-12-12"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-error-code": "BlobNotFound",
        "x-ms-version": "2019-12-12"
      },
      "ResponseBody": [
        "\uFEFF\u003C?xml version=\u00221.0\u0022 encoding=\u0022utf-8\u0022?\u003E\u003CError\u003E\u003CCode\u003EBlobNotFound\u003C/Code\u003E\u003CMessage\u003EThe specified blob does not exist.\n",
        "RequestId:52fe33d9-501e-006d-5438-f1c596000000\n",
        "Time:2021-12-14T22:19:13.2423465Z\u003C/Message\u003E\u003C/Error\u003E"
      ]
    },
    {
      "RequestUri": "https://fakeaccount.blob.core.windows.net/gocblobdeletenonexistent?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        ":authority": "localhost:5001",
        ":method": "DELETE",
        ":path": "/gocblobdeletenonexistent?restype=container",
        ":scheme": "https",
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 14 Dec 2021 22:19:13 GMT",
        "x-ms-version": "2019-12-12"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2019-12-12"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {}
}
