{
  "Entries": [
    {
      "RequestUri": "https://fakeaccount.blob.core.windows.net/goccontainerreleaselease?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        ":authority": "localhost:5001",
        ":method": "PUT",
        ":path": "/goccontainerreleaselease?restype=container",
        ":scheme": "https",
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 16 Dec 2021 21:28:07 GMT",
        "x-ms-version": "2019-12-12"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D9C0DAF3A0BED7\u0022",
        "Last-Modified": "Thu, 16 Dec 2021 21:28:07 GMT",
        "x-ms-version": "2019-12-12"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakeaccount.blob.core.windows.net/goccontainerreleaselease?comp=lease\u0026restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        ":authority": "localhost:5001",
        ":method": "PUT",
        ":path": "/goccontainerreleaselease?comp=lease\u0026restype=container",
        ":scheme": "https",
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 16 Dec 2021 21:28:07 GMT",
        "x-ms-lease-action": "acquire",
        "x-ms-lease-duration": "60",
        "x-ms-proposed-lease-id": "c820a799-76d7-4ee2-6e15-546f19325c2c",
        "x-ms-version": "2019-12-12"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D9C0DAF3A0BED7\u0022",
        "Last-Modified": "Thu, 16 Dec 2021 21:28:07 GMT",
        "x-ms-lease-id": "c820a799-76d7-4ee2-6e15-546f19325c2c",
        "x-ms-version": "2019-12-12"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakeaccount.blob.core.windows.net/goccontainerreleaselease?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        ":authority": "localhost:5001",
        ":method": "DELETE",
        ":path": "/goccontainerreleaselease?restype=container",
        ":scheme": "https",
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 16 Dec 2021 21:28:07 GMT",
        "x-ms-version": "2019-12-12"
      },
      "RequestBody": null,
      "StatusCode": 412,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-error-code": "LeaseIdMissing",
        "x-ms-version": "2019-12-12"
      },
      "ResponseBody": [
        "\uFEFF\u003C?xml version=\u00221.0\u0022 encoding=\u0022utf-8\u0022?\u003E\u003CError\u003E\u003CCode\u003ELeaseIdMissing\u003C/Code\u003E\u003CMessage\u003EThere is currently a lease on the container and no lease ID was specified in the request.\n",
        "RequestId:851d7275-201e-007f-1bc3-f24a8d000000\n",
        "Time:2021-12-16T21:28:07.4466179Z\u003C/Message\u003E\u003C/Error\u003E"
      ]
    },
[...]
    {
      "RequestUri": "https://fakeaccount.blob.core.windows.net/goccontainerreleaselease?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        ":authority": "localhost:5001",
        ":method": "DELETE",
        ":path": "/goccontainerreleaselease?restype=container",
        ":scheme": "https",
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 16 Dec 2021 21:28:08 GMT",
        "x-ms-version": "2019-12-12"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2019-12-12"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {}
}
