{
  "Entries": [
    {
      "RequestUri": "https://fakeaccount.blob.core.windows.net/gocblobsetsequencenumbersequencenumberinvalid?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        ":authority": "localhost:5001",
        ":method": "PUT",
        ":path": "/gocblobsetsequencenumbersequencenumberinvalid?restype=container",
        ":scheme": "https",
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 17 Dec 2021 16:59:17 GMT",
        "x-ms-version": "2019-12-12"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D9C17E8F8FA6C4\u0022",
        "Last-Modified": "Fri, 17 Dec 2021 16:59:16 GMT",
        "x-ms-version": "2019-12-12"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakeaccount.blob.core.windows.net/gocblobsetsequencenumbersequencenumberinvalid/gotestblobblobsetsequencenumbersequencenumberinvalid",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        ":authority": "localhost:5001",
        ":method": "PUT",
        ":path": "/gocblobsetsequencenumbersequencenumberinvalid/gotestblobblobsetsequencenumbersequencenumberinvalid",
        ":scheme": "https",
        "Authorization": "Sanitized",
        "x-ms-blob-content-length": "5120",
        "x-ms-blob-type": "PageBlob",
        "x-ms-date": "Fri, 17 Dec 2021 16:59:17 GMT",
        "x-ms-version": "2019-12-12"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D9C17E8F9EDC75\u0022",
        "Last-Modified": "Fri, 17 Dec 2021 16:59:16 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2019-12-12"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakeaccount.blob.core.windows.net/gocblobsetsequencenumbersequencenumberinvalid/gotestblobblobsetsequencenumbersequencenumberinvalid?comp=properties",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        ":authority": "localhost:5001",
        ":method": "PUT",
        ":path": "/gocblobsetsequencenumbersequencenumberinvalid/gotestblobblobsetsequencenumbersequencenumberinvalid?comp=properties",
        ":scheme": "https",
        "Authorization": "Sanitized",
        "x-ms-blob-sequence-number": "-1",
        "x-ms-date": "Fri, 17 Dec 2021 16:59:17 GMT",
        "x-ms-sequence-number-action": "update",
        "x-ms-version": "2019-12-12"
      },
      "RequestBody": null,
      "StatusCode": 400,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-error-code": "InvalidHeaderValue",
        "x-ms-version": "2019-12-12"
      },
      "ResponseBody": [
        "\uFEFF\u003C?xml version=\u00221.0\u0022 encoding=\u0022utf-8\u0022?\u003E\u003CError\u003E\u003CCode\u003EInvalidHeaderValue\u003C/Code\u003E\u003CMessage\u003EThe value for one of the HTTP headers is not in the correct format.\n",
        "RequestId:3a3ec9c3-d01e-0054-6b67-f3ca41000000\n",
        "Time:2021-12-17T16:59:17.0151054Z\u003C/Message\u003E\u003CHeaderName\u003Ex-ms-blob-sequence-number\u003C/HeaderName\u003E\u003CHeaderValue\u003E-1\u003C/HeaderValue\u003E\u003C/Error\u003E"
      ]
    },
    {
      "RequestUri": "https://fakeaccount.blob.core.windows.net/gocblobsetsequencenumbersequencenumberinvalid?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        ":authority": "localhost:5001",
        ":method": "DELETE",
        ":path": "/gocblobsetsequencenumbersequencenumberinvalid?restype=container",
        ":scheme": "https",
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 17 Dec 2021 16:59:17 GMT",
        "x-ms-version": "2019-12-12"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2019-12-12"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {}
}
