{
  "Entries": [
    {
      "RequestUri": "https://fakeaccount.blob.core.windows.net/gocblobstartcopysourceprivate?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        ":authority": "localhost:5001",
        ":method": "PUT",
        ":path": "/gocblobstartcopysourceprivate?restype=container",
        ":scheme": "https",
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 04 Jan 2022 16:55:44 GMT",
        "x-ms-version": "2019-12-12"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D9CFA30D9A4512\u0022",
        "Last-Modified": "Tue, 04 Jan 2022 16:55:46 GMT",
        "x-ms-version": "2019-12-12"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakeaccount.blob.core.windows.net/gocblobstartcopysourceprivate?comp=acl\u0026restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        ":authority": "localhost:5001",
        ":method": "PUT",
        ":path": "/gocblobstartcopysourceprivate?comp=acl\u0026restype=container",
        ":scheme": "https",
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 04 Jan 2022 16:55:45 GMT",
        "x-ms-version": "2019-12-12"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\u00220x8D9CFA30DA9634A\u0022",
        "Last-Modified": "Tue, 04 Jan 2022 16:55:46 GMT",
        "x-ms-version": "2019-12-12"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakeaccount.blob.core.windows.net/gocblobstartcopysourceprivate/gotestblobblobstartcopysourceprivate",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        ":authority": "localhost:5001",
        ":method": "PUT",
        ":path": "/gocblobstartcopysourceprivate/gotestblobblobstartcopysourceprivate",
        ":scheme": "https",
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Tue, 04 Jan 2022 16:55:45 GMT",
        "x-ms-version": "2019-12-12"
      },
      "RequestBody": "R29CbG9ja0Jsb2JEYXRh",
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-MD5": "ebncwguMQu9sgPmr0GazhA==",
        "ETag": "\u00220x8D9CFA30DBD823B\u0022",
        "Last-Modified": "Tue, 04 Jan 2022 16:55:46 GMT",
        "x-ms-content-crc64": "\u002BJGsS7CR5kg=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2019-12-12"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakeaccount.blob.core.windows.net/cpycgocblobstartcopysourceprivate?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        ":authority": "localhost:5001",
        ":method": "PUT",
        ":path": "/cpycgocblobstartcopysourceprivate?restype=container",
        ":scheme": "https",
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 04 Jan 2022 16:55:45 GMT",
        "x-ms-version": "2019-12-12"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D9CFA30E0E9663\u0022",
        "Last-Modified": "Tue, 04 Jan 2022 16:55:47 GMT",
        "x-ms-version": "2019-12-12"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakeaccount.blob.core.windows.net/cpycgocblobstartcopysourceprivate/copybgotestblobblobstartcopysourceprivate",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        ":authority": "localhost:5001",
        ":method": "PUT",
        ":path": "/cpycgocblobstartcopysourceprivate/copybgotestblobblobstartcopysourceprivate",
        ":scheme": "https",
        "Authorization": "Sanitized",
        "x-ms-copy-source": "https://fakeaccount.blob.core.windows.net/gocblobstartcopysourceprivate/gotestblobblobstartcopysourceprivate",
        "x-ms-date": "Tue, 04 Jan 2022 16:55:46 GMT",
        "x-ms-version": "2019-12-12"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-error-code": "CannotVerifyCopySource",
        "x-ms-version": "2019-12-12"
      },
      "ResponseBody": [
        "\uFEFF\u003C?xml version=\u00221.0\u0022 encoding=\u0022utf-8\u0022?\u003E\u003CError\u003E\u003CCode\u003ECannotVerifyCopySource\u003C/Code\u003E\u003CMessage\u003EThe specified resource does not exist.\n",
        "RequestId:05154f17-101e-00d7-298b-014d8b000000\n",
        "Time:2022-01-04T16:55:47.4750116Z\u003C/Message\u003E\u003C/Error\u003E"
      ]
    },
[...]
    {
      "RequestUri": "https://fakeaccount.blob.core.windows.net/gocblobstartcopysourceprivate?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        ":authority": "localhost:5001",
        ":method": "DELETE",
        ":path": "/gocblobstartcopysourceprivate?restype=container",
        ":scheme": "https",
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 04 Jan 2022 16:55:46 GMT",
        "x-ms-version": "2019-12-12"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2019-12-12"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {}
}
