{
  "Entries": [
    {
      "RequestUri": "https://fakeaccount.blob.core.windows.net/gocappendblockwithcpkscope?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        ":authority": "localhost:5001",
        ":method": "PUT",
        ":path": "/gocappendblockwithcpkscope?restype=container",
        ":scheme": "https",
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 16 Dec 2021 22:19:22 GMT",
        "x-ms-version": "2019-12-12"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D9C0E21C716336\u0022",
        "Last-Modified": "Thu, 16 Dec 2021 22:19:22 GMT",
        "x-ms-version": "2019-12-12"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakeaccount.blob.core.windows.net/gocappendblockwithcpkscope/gotestblobappendblockwithcpkscope",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        ":authority": "localhost:5001",
        ":method": "PUT",
        ":path": "/gocappendblockwithcpkscope/gotestblobappendblockwithcpkscope",
        ":scheme": "https",
        "Authorization": "Sanitized",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-date": "Thu, 16 Dec 2021 22:19:22 GMT",
        "x-ms-encryption-scope": "blobgokeytestscope",
        "x-ms-version": "2019-12-12"
      },
      "RequestBody": null,
      "StatusCode": 409,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-error-code": "EncryptionScopeNotAvailable",
        "x-ms-version": "2019-12-12"
      },
      "ResponseBody": [
        "\uFEFF\u003C?xml version=\u00221.0\u0022 encoding=\u0022utf-8\u0022?\u003E\u003CError\u003E\u003CCode\u003EEncryptionScopeNotAvailable\u003C/Code\u003E\u003CMessage\u003EThe given encryption scope is not available.\n",
        "RequestId:854bedfa-f01e-001e-51ca-f269ce000000\n",
        "Time:2021-12-16T22:19:22.3030145Z\u003C/Message\u003E\u003C/Error\u003E"
      ]
    },
    {
      "RequestUri": "https://fakeaccount.blob.core.windows.net/gocappendblockwithcpkscope?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        ":authority": "localhost:5001",
        ":method": "DELETE",
        ":path": "/gocappendblockwithcpkscope?restype=container",
        ":scheme": "https",
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 16 Dec 2021 22:19:22 GMT",
        "x-ms-version": "2019-12-12"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2019-12-12"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {}
}
