{
  "Entries": [
    {
      "RequestUri": "https://fakekvurl.vault.azure.net/secrets/secret14039052661?api-version=7.2",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        ":authority": "localhost:5001",
        ":method": "PUT",
        ":path": "/secrets/secret14039052661?api-version=7.2",
        ":scheme": "https",
        "Content-Type": "application/json"
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\u0022https://login.windows.net/72f988bf-86f1-41af-91ab-2d7cd011db47\u0022, resource=\u0022https://vault.azure.net\u0022"
      },
      "ResponseBody": {
        "error": {
          "code": "Unauthorized",
          "message": "AKV10000: Request is missing a Bearer or PoP token."
        }
      }
    },
    {
      "RequestUri": "https://fakekvurl.vault.azure.net/secrets/secret14039052661?api-version=7.2",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        ":authority": "localhost:5001",
        ":method": "PUT",
        ":path": "/secrets/secret14039052661?api-version=7.2",
        ":scheme": "https",
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "attributes": {},
        "tags": {},
        "value": "value14039052661"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "value": "value14039052661",
        "id": "https://rosebud.vault.azure.net/secrets/secret14039052661/3fa0bf76b3704aedaba3e4263c4e35be",
        "attributes": {
          "enabled": true,
          "created": 1636487070,
          "updated": 1636487070,
          "recoveryLevel": "CustomizedRecoverable\u002BPurgeable",
          "recoverableDays": 7
        },
        "tags": {}
      }
    },
    {
      "RequestUri": "https://fakekvurl.vault.azure.net/secrets/secret14039052661?api-version=7.2",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        ":authority": "localhost:5001",
        ":method": "DELETE",
        ":path": "/secrets/secret14039052661?api-version=7.2",
        ":scheme": "https",
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "recoveryId": "https://rosebud.vault.azure.net/deletedsecrets/secret14039052661",
        "deletedDate": 1636487071,
        "scheduledPurgeDate": 1637091871,
        "id": "https://rosebud.vault.azure.net/secrets/secret14039052661/3fa0bf76b3704aedaba3e4263c4e35be",
        "attributes": {
          "enabled": true,
          "created": 1636487070,
          "updated": 1636487070,
          "recoveryLevel": "CustomizedRecoverable\u002BPurgeable",
          "recoverableDays": 7
        },
        "tags": {}
      }
    },
    {
      "RequestUri": "https://fakekvurl.vault.azure.net/deletedsecrets/secret14039052661?api-version=7.2",
      "RequestMethod": "GET",
      "RequestHeaders": {
        ":authority": "localhost:5001",
        ":method": "GET",
        ":path": "/deletedsecrets/secret14039052661?api-version=7.2",
        ":scheme": "https",
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "error": {
          "code": "SecretNotFound",
          "message": "Deleted Secret not found: secret14039052661"
        }
      }
    },
[...]
    {
      "RequestUri": "https://fakekvurl.vault.azure.net/deletedsecrets?api-version=7.2",
      "RequestMethod": "GET",
      "RequestHeaders": {
        ":authority": "localhost:5001",
        ":method": "GET",
        ":path": "/deletedsecrets?api-version=7.2",
        ":scheme": "https",
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "value": [],
        "nextLink": null
      }
    }
  ],
  "Variables": {}
}
