{
  "Entries": [
    {
      "RequestUri": "https://fakekvurl.vault.azure.net/secrets/secret14039052661?api-version=7.3",
      "RequestMethod": "PUT",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\u0022https://login.windows.net/72f988bf-86f1-41af-91ab-2d7cd011db47\u0022, resource=\u0022https://vault.azure.net\u0022"
      },
      "ResponseBody": {
        "error": {
          "code": "Unauthorized",
          "message": "AKV10000: Request is missing a Bearer or PoP token."
        }
      }
    },
    {
      "RequestUri": "https://fakekvurl.vault.azure.net/secrets/secret14039052661?api-version=7.3",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "attributes": {},
        "value": "value14039052661"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "value": "value14039052661",
        "id": "https://fakekvurl.vault.azure.net/secrets/secret14039052661/79199da2e2a7453cbe59d292665aeab6",
        "attributes": {
          "enabled": true,
          "created": 1652898926,
          "updated": 1652898926,
          "recoveryLevel": "CustomizedRecoverable\u002BPurgeable",
          "recoverableDays": 7
        }
      }
    },
    {
      "RequestUri": "https://fakekvurl.vault.azure.net/secrets/secret14039052661?api-version=7.3",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "recoveryId": "https://fakekvurl.vault.azure.net/deletedsecrets/secret14039052661",
        "deletedDate": 1652898927,
        "scheduledPurgeDate": 1653503727,
        "id": "https://fakekvurl.vault.azure.net/secrets/secret14039052661/79199da2e2a7453cbe59d292665aeab6",
        "attributes": {
          "enabled": true,
          "created": 1652898926,
          "updated": 1652898926,
          "recoveryLevel": "CustomizedRecoverable\u002BPurgeable",
          "recoverableDays": 7
        }
      }
    },
    {
      "RequestUri": "https://fakekvurl.vault.azure.net/deletedsecrets/secret14039052661?api-version=7.3",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "error": {
          "code": "SecretNotFound",
          "message": "Deleted Secret not found: secret14039052661"
        }
      }
    },
[...]
    {
      "RequestUri": "https://fakekvurl.vault.azure.net/deletedsecrets?api-version=7.3",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "value": [
          {
            "recoveryId": "https://fakekvurl.vault.azure.net/deletedsecrets/listsecrets32663316706",
            "deletedDate": 1652898927,
            "scheduledPurgeDate": 1653503727,
            "id": "https://fakekvurl.vault.azure.net/secrets/listsecrets32663316706",
            "attributes": {
              "enabled": true,
              "created": 1652898927,
              "updated": 1652898927,
              "recoveryLevel": "CustomizedRecoverable\u002BPurgeable",
              "recoverableDays": 7
            }
          }
        ],
        "nextLink": "https://fakekvurl.vault.azure.net:443/deletedsecrets?api-version=7.3\u0026$skiptoken=eyJOZXh0TWFya2VyIjoiMiExMzYhTURBd01EVTJJWE5sWTNKbGRDOVRSVU5TUlZRek5UUTNOakU1T0RJM0x6QkZNak0yUWtZd00wSTBORFF3UmtZNFFqRkNPVE0xUVVJM09FTkJOVVZESVRBd01EQXlPQ0U1T1RrNUxURXlMVE14VkRJek9qVTVPalU1TGprNU9UazVPVGxhSVEtLSIsIlRhcmdldExvY2F0aW9uIjowfQ"
      }
    },
    {
      "RequestUri": "https://fakekvurl.vault.azure.net/deletedsecrets?api-version=7.3\u0026$skiptoken=eyJOZXh0TWFya2VyIjoiMiExMzYhTURBd01EVTJJWE5sWTNKbGRDOVRSVU5TUlZRek5UUTNOakU1T0RJM0x6QkZNak0yUWtZd00wSTBORFF3UmtZNFFqRkNPVE0xUVVJM09FTkJOVVZESVRBd01EQXlPQ0U1T1RrNUxURXlMVE14VkRJek9qVTVPalU1TGprNU9UazVPVGxhSVEtLSIsIlRhcmdldExvY2F0aW9uIjowfQ",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "value": [],
        "nextLink": null
      }
    }
  ],
  "Variables": {}
}
