// Copyright (c) Microsoft Corporation. All rights reserved.
// Licensed under the MIT License. See License.txt in the project root for license information.
// Code generated by Microsoft (R) AutoRest Code Generator. DO NOT EDIT.
// Changes may cause incorrect behavior and will be lost if the code is regenerated.

package armredhatopenshift

import (
	"context"
	"errors"
	"github.com/Azure/azure-sdk-for-go/sdk/azcore"
	"github.com/Azure/azure-sdk-for-go/sdk/azcore/arm"
	"github.com/Azure/azure-sdk-for-go/sdk/azcore/policy"
	"github.com/Azure/azure-sdk-for-go/sdk/azcore/runtime"
	"net/http"
	"net/url"
	"strings"
)

// PlatformWorkloadIdentityRoleSetClient contains the methods for the PlatformWorkloadIdentityRoleSet group.
// Don't use this type directly, use NewPlatformWorkloadIdentityRoleSetClient() instead.
type PlatformWorkloadIdentityRoleSetClient struct {
	internal       *arm.Client
	subscriptionID string
}

// NewPlatformWorkloadIdentityRoleSetClient creates a new instance of PlatformWorkloadIdentityRoleSetClient with the specified values.
//   - subscriptionID - The ID of the target subscription. The value must be an UUID.
//   - credential - used to authorize requests. Usually a credential from azidentity.
//   - options - Contains optional client configuration. Pass nil to accept the default values.
func NewPlatformWorkloadIdentityRoleSetClient(subscriptionID string, credential azcore.TokenCredential, options *arm.ClientOptions) (*PlatformWorkloadIdentityRoleSetClient, error) {
	cl, err := arm.NewClient(moduleName, moduleVersion, credential, options)
	if err != nil {
		return nil, err
	}
	client := &PlatformWorkloadIdentityRoleSetClient{
		subscriptionID: subscriptionID,
		internal:       cl,
	}
	return client, nil
}

// Get - This operation returns Platform Workload Identity Role Set as a string
// If the operation fails it returns an *azcore.ResponseError type.
//
// Generated from API version 2025-07-25
//   - location - The name of the Azure region.
//   - openShiftMinorVersion - The desired version value of the PlatformWorkloadIdentityRoleSet resource.
//   - options - PlatformWorkloadIdentityRoleSetClientGetOptions contains the optional parameters for the PlatformWorkloadIdentityRoleSetClient.Get
//     method.
func (client *PlatformWorkloadIdentityRoleSetClient) Get(ctx context.Context, location string, openShiftMinorVersion string, options *PlatformWorkloadIdentityRoleSetClientGetOptions) (PlatformWorkloadIdentityRoleSetClientGetResponse, error) {
	var err error
	const operationName = "PlatformWorkloadIdentityRoleSetClient.Get"
	ctx = context.WithValue(ctx, runtime.CtxAPINameKey{}, operationName)
	ctx, endSpan := runtime.StartSpan(ctx, operationName, client.internal.Tracer(), nil)
	defer func() { endSpan(err) }()
	req, err := client.getCreateRequest(ctx, location, openShiftMinorVersion, options)
	if err != nil {
		return PlatformWorkloadIdentityRoleSetClientGetResponse{}, err
	}
	httpResp, err := client.internal.Pipeline().Do(req)
	if err != nil {
		return PlatformWorkloadIdentityRoleSetClientGetResponse{}, err
	}
	if !runtime.HasStatusCode(httpResp, http.StatusOK) {
		err = runtime.NewResponseError(httpResp)
		return PlatformWorkloadIdentityRoleSetClientGetResponse{}, err
	}
	resp, err := client.getHandleResponse(httpResp)
	return resp, err
}

// getCreateRequest creates the Get request.
func (client *PlatformWorkloadIdentityRoleSetClient) getCreateRequest(ctx context.Context, location string, openShiftMinorVersion string, _ *PlatformWorkloadIdentityRoleSetClientGetOptions) (*policy.Request, error) {
	urlPath := "/subscriptions/{subscriptionId}/providers/Microsoft.RedHatOpenShift/locations/{location}/platformWorkloadIdentityRoleSets/{openShiftMinorVersion}"
	if client.subscriptionID == "" {
		return nil, errors.New("parameter client.subscriptionID cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{subscriptionId}", url.PathEscape(client.subscriptionID))
	if location == "" {
		return nil, errors.New("parameter location cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{location}", url.PathEscape(location))
	if openShiftMinorVersion == "" {
		return nil, errors.New("parameter openShiftMinorVersion cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{openShiftMinorVersion}", url.PathEscape(openShiftMinorVersion))
	req, err := runtime.NewRequest(ctx, http.MethodGet, runtime.JoinPaths(client.internal.Endpoint(), urlPath))
	if err != nil {
		return nil, err
	}
	reqQP := req.Raw().URL.Query()
	reqQP.Set("api-version", "2025-07-25")
	req.Raw().URL.RawQuery = reqQP.Encode()
	req.Raw().Header["Accept"] = []string{"application/json"}
	return req, nil
}

// getHandleResponse handles the Get response.
func (client *PlatformWorkloadIdentityRoleSetClient) getHandleResponse(resp *http.Response) (PlatformWorkloadIdentityRoleSetClientGetResponse, error) {
	result := PlatformWorkloadIdentityRoleSetClientGetResponse{}
	if err := runtime.UnmarshalAsJSON(resp, &result.PlatformWorkloadIdentityRoleSet); err != nil {
		return PlatformWorkloadIdentityRoleSetClientGetResponse{}, err
	}
	return result, nil
}
