// +build go1.13

// Copyright (c) Microsoft Corporation. All rights reserved.
// Licensed under the MIT License. See License.txt in the project root for license information.
// Code generated by Microsoft (R) AutoRest Code Generator.
// Changes may cause incorrect behavior and will be lost if the code is regenerated.

package armservicebus

import (
	"context"
	"errors"
	"fmt"
	"github.com/Azure/azure-sdk-for-go/sdk/armcore"
	"github.com/Azure/azure-sdk-for-go/sdk/azcore"
	"net/http"
	"net/url"
	"strings"
)

// RegionsClient contains the methods for the Regions group.
// Don't use this type directly, use NewRegionsClient() instead.
type RegionsClient struct {
	con            *armcore.Connection
	subscriptionID string
}

// NewRegionsClient creates a new instance of RegionsClient with the specified values.
func NewRegionsClient(con *armcore.Connection, subscriptionID string) *RegionsClient {
	return &RegionsClient{con: con, subscriptionID: subscriptionID}
}

// ListBySKU - Gets the available Regions for a given sku
// If the operation fails it returns the *ErrorResponse error type.
func (client *RegionsClient) ListBySKU(sku string, options *RegionsListBySKUOptions) RegionsListBySKUPager {
	return &regionsListBySKUPager{
		client: client,
		requester: func(ctx context.Context) (*azcore.Request, error) {
			return client.listBySKUCreateRequest(ctx, sku, options)
		},
		advancer: func(ctx context.Context, resp RegionsListBySKUResponse) (*azcore.Request, error) {
			return azcore.NewRequest(ctx, http.MethodGet, *resp.PremiumMessagingRegionsListResult.NextLink)
		},
	}
}

// listBySKUCreateRequest creates the ListBySKU request.
func (client *RegionsClient) listBySKUCreateRequest(ctx context.Context, sku string, options *RegionsListBySKUOptions) (*azcore.Request, error) {
	urlPath := "/subscriptions/{subscriptionId}/providers/Microsoft.ServiceBus/sku/{sku}/regions"
	if client.subscriptionID == "" {
		return nil, errors.New("parameter client.subscriptionID cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{subscriptionId}", url.PathEscape(client.subscriptionID))
	if sku == "" {
		return nil, errors.New("parameter sku cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{sku}", url.PathEscape(sku))
	req, err := azcore.NewRequest(ctx, http.MethodGet, azcore.JoinPaths(client.con.Endpoint(), urlPath))
	if err != nil {
		return nil, err
	}
	req.Telemetry(telemetryInfo)
	reqQP := req.URL.Query()
	reqQP.Set("api-version", "2018-01-01-preview")
	req.URL.RawQuery = reqQP.Encode()
	req.Header.Set("Accept", "application/json")
	return req, nil
}

// listBySKUHandleResponse handles the ListBySKU response.
func (client *RegionsClient) listBySKUHandleResponse(resp *azcore.Response) (RegionsListBySKUResponse, error) {
	result := RegionsListBySKUResponse{RawResponse: resp.Response}
	if err := resp.UnmarshalAsJSON(&result.PremiumMessagingRegionsListResult); err != nil {
		return RegionsListBySKUResponse{}, err
	}
	return result, nil
}

// listBySKUHandleError handles the ListBySKU error response.
func (client *RegionsClient) listBySKUHandleError(resp *azcore.Response) error {
	body, err := resp.Payload()
	if err != nil {
		return azcore.NewResponseError(err, resp.Response)
	}
	errType := ErrorResponse{raw: string(body)}
	if err := resp.UnmarshalAsJSON(&errType); err != nil {
		return azcore.NewResponseError(fmt.Errorf("%s\n%s", string(body), err), resp.Response)
	}
	return azcore.NewResponseError(&errType, resp.Response)
}
