//go:build go1.13
// +build go1.13

// Copyright (c) Microsoft Corporation. All rights reserved.
// Licensed under the MIT License. See License.txt in the project root for license information.
// Code generated by Microsoft (R) AutoRest Code Generator.
// Changes may cause incorrect behavior and will be lost if the code is regenerated.

package armcdn

import (
	"context"
	"fmt"
	"github.com/Azure/azure-sdk-for-go/sdk/armcore"
	"github.com/Azure/azure-sdk-for-go/sdk/azcore"
	"net/http"
)

// EdgeNodesClient contains the methods for the EdgeNodes group.
// Don't use this type directly, use NewEdgeNodesClient() instead.
type EdgeNodesClient struct {
	con *armcore.Connection
}

// NewEdgeNodesClient creates a new instance of EdgeNodesClient with the specified values.
func NewEdgeNodesClient(con *armcore.Connection) *EdgeNodesClient {
	return &EdgeNodesClient{con: con}
}

// List - Edgenodes are the global Point of Presence (POP) locations used to deliver CDN content to end users.
// If the operation fails it returns the *ErrorResponse error type.
func (client *EdgeNodesClient) List(options *EdgeNodesListOptions) EdgeNodesListPager {
	return &edgeNodesListPager{
		client: client,
		requester: func(ctx context.Context) (*azcore.Request, error) {
			return client.listCreateRequest(ctx, options)
		},
		advancer: func(ctx context.Context, resp EdgeNodesListResponse) (*azcore.Request, error) {
			return azcore.NewRequest(ctx, http.MethodGet, *resp.EdgenodeResult.NextLink)
		},
	}
}

// listCreateRequest creates the List request.
func (client *EdgeNodesClient) listCreateRequest(ctx context.Context, options *EdgeNodesListOptions) (*azcore.Request, error) {
	urlPath := "/providers/Microsoft.Cdn/edgenodes"
	req, err := azcore.NewRequest(ctx, http.MethodGet, azcore.JoinPaths(client.con.Endpoint(), urlPath))
	if err != nil {
		return nil, err
	}
	req.Telemetry(telemetryInfo)
	reqQP := req.URL.Query()
	reqQP.Set("api-version", "2020-09-01")
	req.URL.RawQuery = reqQP.Encode()
	req.Header.Set("Accept", "application/json")
	return req, nil
}

// listHandleResponse handles the List response.
func (client *EdgeNodesClient) listHandleResponse(resp *azcore.Response) (EdgeNodesListResponse, error) {
	result := EdgeNodesListResponse{RawResponse: resp.Response}
	if err := resp.UnmarshalAsJSON(&result.EdgenodeResult); err != nil {
		return EdgeNodesListResponse{}, err
	}
	return result, nil
}

// listHandleError handles the List error response.
func (client *EdgeNodesClient) listHandleError(resp *azcore.Response) error {
	body, err := resp.Payload()
	if err != nil {
		return azcore.NewResponseError(err, resp.Response)
	}
	errType := ErrorResponse{raw: string(body)}
	if err := resp.UnmarshalAsJSON(&errType); err != nil {
		return azcore.NewResponseError(fmt.Errorf("%s\n%s", string(body), err), resp.Response)
	}
	return azcore.NewResponseError(&errType, resp.Response)
}
