//go:build go1.13
// +build go1.13

// Copyright (c) Microsoft Corporation. All rights reserved.
// Licensed under the MIT License. See License.txt in the project root for license information.
// Code generated by Microsoft (R) AutoRest Code Generator.
// Changes may cause incorrect behavior and will be lost if the code is regenerated.

package armcdn

import (
	"context"
	"errors"
	"fmt"
	"github.com/Azure/azure-sdk-for-go/sdk/armcore"
	"github.com/Azure/azure-sdk-for-go/sdk/azcore"
	"net/http"
	"net/url"
	"strings"
)

// CdnManagementClient contains the methods for the CdnManagementClient group.
// Don't use this type directly, use NewCdnManagementClient() instead.
type CdnManagementClient struct {
	con            *armcore.Connection
	subscriptionID string
}

// NewCdnManagementClient creates a new instance of CdnManagementClient with the specified values.
func NewCdnManagementClient(con *armcore.Connection, subscriptionID string) *CdnManagementClient {
	return &CdnManagementClient{con: con, subscriptionID: subscriptionID}
}

// CheckNameAvailability - Check the availability of a resource name. This is needed for resources where name is globally unique, such as a CDN endpoint.
// If the operation fails it returns the *ErrorResponse error type.
func (client *CdnManagementClient) CheckNameAvailability(ctx context.Context, checkNameAvailabilityInput CheckNameAvailabilityInput, options *CdnManagementClientCheckNameAvailabilityOptions) (CdnManagementClientCheckNameAvailabilityResponse, error) {
	req, err := client.checkNameAvailabilityCreateRequest(ctx, checkNameAvailabilityInput, options)
	if err != nil {
		return CdnManagementClientCheckNameAvailabilityResponse{}, err
	}
	resp, err := client.con.Pipeline().Do(req)
	if err != nil {
		return CdnManagementClientCheckNameAvailabilityResponse{}, err
	}
	if !resp.HasStatusCode(http.StatusOK) {
		return CdnManagementClientCheckNameAvailabilityResponse{}, client.checkNameAvailabilityHandleError(resp)
	}
	return client.checkNameAvailabilityHandleResponse(resp)
}

// checkNameAvailabilityCreateRequest creates the CheckNameAvailability request.
func (client *CdnManagementClient) checkNameAvailabilityCreateRequest(ctx context.Context, checkNameAvailabilityInput CheckNameAvailabilityInput, options *CdnManagementClientCheckNameAvailabilityOptions) (*azcore.Request, error) {
	urlPath := "/providers/Microsoft.Cdn/checkNameAvailability"
	req, err := azcore.NewRequest(ctx, http.MethodPost, azcore.JoinPaths(client.con.Endpoint(), urlPath))
	if err != nil {
		return nil, err
	}
	req.Telemetry(telemetryInfo)
	reqQP := req.URL.Query()
	reqQP.Set("api-version", "2020-09-01")
	req.URL.RawQuery = reqQP.Encode()
	req.Header.Set("Accept", "application/json")
	return req, req.MarshalAsJSON(checkNameAvailabilityInput)
}

// checkNameAvailabilityHandleResponse handles the CheckNameAvailability response.
func (client *CdnManagementClient) checkNameAvailabilityHandleResponse(resp *azcore.Response) (CdnManagementClientCheckNameAvailabilityResponse, error) {
	result := CdnManagementClientCheckNameAvailabilityResponse{RawResponse: resp.Response}
	if err := resp.UnmarshalAsJSON(&result.CheckNameAvailabilityOutput); err != nil {
		return CdnManagementClientCheckNameAvailabilityResponse{}, err
	}
	return result, nil
}

// checkNameAvailabilityHandleError handles the CheckNameAvailability error response.
func (client *CdnManagementClient) checkNameAvailabilityHandleError(resp *azcore.Response) error {
	body, err := resp.Payload()
	if err != nil {
		return azcore.NewResponseError(err, resp.Response)
	}
	errType := ErrorResponse{raw: string(body)}
	if err := resp.UnmarshalAsJSON(&errType); err != nil {
		return azcore.NewResponseError(fmt.Errorf("%s\n%s", string(body), err), resp.Response)
	}
	return azcore.NewResponseError(&errType, resp.Response)
}

// CheckNameAvailabilityWithSubscription - Check the availability of a resource name. This is needed for resources where name is globally unique, such as
// a CDN endpoint.
// If the operation fails it returns the *ErrorResponse error type.
func (client *CdnManagementClient) CheckNameAvailabilityWithSubscription(ctx context.Context, checkNameAvailabilityInput CheckNameAvailabilityInput, options *CdnManagementClientCheckNameAvailabilityWithSubscriptionOptions) (CdnManagementClientCheckNameAvailabilityWithSubscriptionResponse, error) {
	req, err := client.checkNameAvailabilityWithSubscriptionCreateRequest(ctx, checkNameAvailabilityInput, options)
	if err != nil {
		return CdnManagementClientCheckNameAvailabilityWithSubscriptionResponse{}, err
	}
	resp, err := client.con.Pipeline().Do(req)
	if err != nil {
		return CdnManagementClientCheckNameAvailabilityWithSubscriptionResponse{}, err
	}
	if !resp.HasStatusCode(http.StatusOK) {
		return CdnManagementClientCheckNameAvailabilityWithSubscriptionResponse{}, client.checkNameAvailabilityWithSubscriptionHandleError(resp)
	}
	return client.checkNameAvailabilityWithSubscriptionHandleResponse(resp)
}

// checkNameAvailabilityWithSubscriptionCreateRequest creates the CheckNameAvailabilityWithSubscription request.
func (client *CdnManagementClient) checkNameAvailabilityWithSubscriptionCreateRequest(ctx context.Context, checkNameAvailabilityInput CheckNameAvailabilityInput, options *CdnManagementClientCheckNameAvailabilityWithSubscriptionOptions) (*azcore.Request, error) {
	urlPath := "/subscriptions/{subscriptionId}/providers/Microsoft.Cdn/checkNameAvailability"
	if client.subscriptionID == "" {
		return nil, errors.New("parameter client.subscriptionID cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{subscriptionId}", url.PathEscape(client.subscriptionID))
	req, err := azcore.NewRequest(ctx, http.MethodPost, azcore.JoinPaths(client.con.Endpoint(), urlPath))
	if err != nil {
		return nil, err
	}
	req.Telemetry(telemetryInfo)
	reqQP := req.URL.Query()
	reqQP.Set("api-version", "2020-09-01")
	req.URL.RawQuery = reqQP.Encode()
	req.Header.Set("Accept", "application/json")
	return req, req.MarshalAsJSON(checkNameAvailabilityInput)
}

// checkNameAvailabilityWithSubscriptionHandleResponse handles the CheckNameAvailabilityWithSubscription response.
func (client *CdnManagementClient) checkNameAvailabilityWithSubscriptionHandleResponse(resp *azcore.Response) (CdnManagementClientCheckNameAvailabilityWithSubscriptionResponse, error) {
	result := CdnManagementClientCheckNameAvailabilityWithSubscriptionResponse{RawResponse: resp.Response}
	if err := resp.UnmarshalAsJSON(&result.CheckNameAvailabilityOutput); err != nil {
		return CdnManagementClientCheckNameAvailabilityWithSubscriptionResponse{}, err
	}
	return result, nil
}

// checkNameAvailabilityWithSubscriptionHandleError handles the CheckNameAvailabilityWithSubscription error response.
func (client *CdnManagementClient) checkNameAvailabilityWithSubscriptionHandleError(resp *azcore.Response) error {
	body, err := resp.Payload()
	if err != nil {
		return azcore.NewResponseError(err, resp.Response)
	}
	errType := ErrorResponse{raw: string(body)}
	if err := resp.UnmarshalAsJSON(&errType); err != nil {
		return azcore.NewResponseError(fmt.Errorf("%s\n%s", string(body), err), resp.Response)
	}
	return azcore.NewResponseError(&errType, resp.Response)
}

// ValidateProbe - Check if the probe path is a valid path and the file can be accessed. Probe path is the path to a file hosted on the origin server to
// help accelerate the delivery of dynamic content via the CDN
// endpoint. This path is relative to the origin path specified in the endpoint configuration.
// If the operation fails it returns the *ErrorResponse error type.
func (client *CdnManagementClient) ValidateProbe(ctx context.Context, validateProbeInput ValidateProbeInput, options *CdnManagementClientValidateProbeOptions) (CdnManagementClientValidateProbeResponse, error) {
	req, err := client.validateProbeCreateRequest(ctx, validateProbeInput, options)
	if err != nil {
		return CdnManagementClientValidateProbeResponse{}, err
	}
	resp, err := client.con.Pipeline().Do(req)
	if err != nil {
		return CdnManagementClientValidateProbeResponse{}, err
	}
	if !resp.HasStatusCode(http.StatusOK) {
		return CdnManagementClientValidateProbeResponse{}, client.validateProbeHandleError(resp)
	}
	return client.validateProbeHandleResponse(resp)
}

// validateProbeCreateRequest creates the ValidateProbe request.
func (client *CdnManagementClient) validateProbeCreateRequest(ctx context.Context, validateProbeInput ValidateProbeInput, options *CdnManagementClientValidateProbeOptions) (*azcore.Request, error) {
	urlPath := "/subscriptions/{subscriptionId}/providers/Microsoft.Cdn/validateProbe"
	if client.subscriptionID == "" {
		return nil, errors.New("parameter client.subscriptionID cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{subscriptionId}", url.PathEscape(client.subscriptionID))
	req, err := azcore.NewRequest(ctx, http.MethodPost, azcore.JoinPaths(client.con.Endpoint(), urlPath))
	if err != nil {
		return nil, err
	}
	req.Telemetry(telemetryInfo)
	reqQP := req.URL.Query()
	reqQP.Set("api-version", "2020-09-01")
	req.URL.RawQuery = reqQP.Encode()
	req.Header.Set("Accept", "application/json")
	return req, req.MarshalAsJSON(validateProbeInput)
}

// validateProbeHandleResponse handles the ValidateProbe response.
func (client *CdnManagementClient) validateProbeHandleResponse(resp *azcore.Response) (CdnManagementClientValidateProbeResponse, error) {
	result := CdnManagementClientValidateProbeResponse{RawResponse: resp.Response}
	if err := resp.UnmarshalAsJSON(&result.ValidateProbeOutput); err != nil {
		return CdnManagementClientValidateProbeResponse{}, err
	}
	return result, nil
}

// validateProbeHandleError handles the ValidateProbe error response.
func (client *CdnManagementClient) validateProbeHandleError(resp *azcore.Response) error {
	body, err := resp.Payload()
	if err != nil {
		return azcore.NewResponseError(err, resp.Response)
	}
	errType := ErrorResponse{raw: string(body)}
	if err := resp.UnmarshalAsJSON(&errType); err != nil {
		return azcore.NewResponseError(fmt.Errorf("%s\n%s", string(body), err), resp.Response)
	}
	return azcore.NewResponseError(&errType, resp.Response)
}
