//go:build go1.13
// +build go1.13

// Copyright (c) Microsoft Corporation. All rights reserved.
// Licensed under the MIT License. See License.txt in the project root for license information.
// Code generated by Microsoft (R) AutoRest Code Generator.
// Changes may cause incorrect behavior and will be lost if the code is regenerated.

package armcdn

import (
	"context"
	"errors"
	"fmt"
	"github.com/Azure/azure-sdk-for-go/sdk/armcore"
	"github.com/Azure/azure-sdk-for-go/sdk/azcore"
	"net/http"
	"net/url"
	"strings"
)

// ValidateClient contains the methods for the Validate group.
// Don't use this type directly, use NewValidateClient() instead.
type ValidateClient struct {
	con            *armcore.Connection
	subscriptionID string
}

// NewValidateClient creates a new instance of ValidateClient with the specified values.
func NewValidateClient(con *armcore.Connection, subscriptionID string) *ValidateClient {
	return &ValidateClient{con: con, subscriptionID: subscriptionID}
}

// Secret - Validate a Secret in the profile.
// If the operation fails it returns the *AfdErrorResponse error type.
func (client *ValidateClient) Secret(ctx context.Context, validateSecretInput ValidateSecretInput, options *ValidateSecretOptions) (ValidateSecretResponse, error) {
	req, err := client.secretCreateRequest(ctx, validateSecretInput, options)
	if err != nil {
		return ValidateSecretResponse{}, err
	}
	resp, err := client.con.Pipeline().Do(req)
	if err != nil {
		return ValidateSecretResponse{}, err
	}
	if !resp.HasStatusCode(http.StatusOK) {
		return ValidateSecretResponse{}, client.secretHandleError(resp)
	}
	return client.secretHandleResponse(resp)
}

// secretCreateRequest creates the Secret request.
func (client *ValidateClient) secretCreateRequest(ctx context.Context, validateSecretInput ValidateSecretInput, options *ValidateSecretOptions) (*azcore.Request, error) {
	urlPath := "/subscriptions/{subscriptionId}/providers/Microsoft.Cdn/validateSecret"
	if client.subscriptionID == "" {
		return nil, errors.New("parameter client.subscriptionID cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{subscriptionId}", url.PathEscape(client.subscriptionID))
	req, err := azcore.NewRequest(ctx, http.MethodPost, azcore.JoinPaths(client.con.Endpoint(), urlPath))
	if err != nil {
		return nil, err
	}
	req.Telemetry(telemetryInfo)
	reqQP := req.URL.Query()
	reqQP.Set("api-version", "2020-09-01")
	req.URL.RawQuery = reqQP.Encode()
	req.Header.Set("Accept", "application/json")
	return req, req.MarshalAsJSON(validateSecretInput)
}

// secretHandleResponse handles the Secret response.
func (client *ValidateClient) secretHandleResponse(resp *azcore.Response) (ValidateSecretResponse, error) {
	result := ValidateSecretResponse{RawResponse: resp.Response}
	if err := resp.UnmarshalAsJSON(&result.ValidateSecretOutput); err != nil {
		return ValidateSecretResponse{}, err
	}
	return result, nil
}

// secretHandleError handles the Secret error response.
func (client *ValidateClient) secretHandleError(resp *azcore.Response) error {
	body, err := resp.Payload()
	if err != nil {
		return azcore.NewResponseError(err, resp.Response)
	}
	errType := AfdErrorResponse{raw: string(body)}
	if err := resp.UnmarshalAsJSON(&errType); err != nil {
		return azcore.NewResponseError(fmt.Errorf("%s\n%s", string(body), err), resp.Response)
	}
	return azcore.NewResponseError(&errType, resp.Response)
}
