//go:build go1.13
// +build go1.13

// Copyright (c) Microsoft Corporation. All rights reserved.
// Licensed under the MIT License. See License.txt in the project root for license information.
// Code generated by Microsoft (R) AutoRest Code Generator.
// Changes may cause incorrect behavior and will be lost if the code is regenerated.

package armcdn

import (
	"context"
	"errors"
	"fmt"
	"github.com/Azure/azure-sdk-for-go/sdk/armcore"
	"github.com/Azure/azure-sdk-for-go/sdk/azcore"
	"net/http"
	"net/url"
	"strings"
)

// ResourceUsageClient contains the methods for the ResourceUsage group.
// Don't use this type directly, use NewResourceUsageClient() instead.
type ResourceUsageClient struct {
	con            *armcore.Connection
	subscriptionID string
}

// NewResourceUsageClient creates a new instance of ResourceUsageClient with the specified values.
func NewResourceUsageClient(con *armcore.Connection, subscriptionID string) *ResourceUsageClient {
	return &ResourceUsageClient{con: con, subscriptionID: subscriptionID}
}

// List - Check the quota and actual usage of the CDN profiles under the given subscription.
// If the operation fails it returns the *ErrorResponse error type.
func (client *ResourceUsageClient) List(options *ResourceUsageListOptions) ResourceUsageListPager {
	return &resourceUsageListPager{
		client: client,
		requester: func(ctx context.Context) (*azcore.Request, error) {
			return client.listCreateRequest(ctx, options)
		},
		advancer: func(ctx context.Context, resp ResourceUsageListResponse) (*azcore.Request, error) {
			return azcore.NewRequest(ctx, http.MethodGet, *resp.ResourceUsageListResult.NextLink)
		},
	}
}

// listCreateRequest creates the List request.
func (client *ResourceUsageClient) listCreateRequest(ctx context.Context, options *ResourceUsageListOptions) (*azcore.Request, error) {
	urlPath := "/subscriptions/{subscriptionId}/providers/Microsoft.Cdn/checkResourceUsage"
	if client.subscriptionID == "" {
		return nil, errors.New("parameter client.subscriptionID cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{subscriptionId}", url.PathEscape(client.subscriptionID))
	req, err := azcore.NewRequest(ctx, http.MethodPost, azcore.JoinPaths(client.con.Endpoint(), urlPath))
	if err != nil {
		return nil, err
	}
	req.Telemetry(telemetryInfo)
	reqQP := req.URL.Query()
	reqQP.Set("api-version", "2020-09-01")
	req.URL.RawQuery = reqQP.Encode()
	req.Header.Set("Accept", "application/json")
	return req, nil
}

// listHandleResponse handles the List response.
func (client *ResourceUsageClient) listHandleResponse(resp *azcore.Response) (ResourceUsageListResponse, error) {
	result := ResourceUsageListResponse{RawResponse: resp.Response}
	if err := resp.UnmarshalAsJSON(&result.ResourceUsageListResult); err != nil {
		return ResourceUsageListResponse{}, err
	}
	return result, nil
}

// listHandleError handles the List error response.
func (client *ResourceUsageClient) listHandleError(resp *azcore.Response) error {
	body, err := resp.Payload()
	if err != nil {
		return azcore.NewResponseError(err, resp.Response)
	}
	errType := ErrorResponse{raw: string(body)}
	if err := resp.UnmarshalAsJSON(&errType); err != nil {
		return azcore.NewResponseError(fmt.Errorf("%s\n%s", string(body), err), resp.Response)
	}
	return azcore.NewResponseError(&errType, resp.Response)
}
