//go:build go1.16
// +build go1.16

// Copyright (c) Microsoft Corporation. All rights reserved.
// Licensed under the MIT License. See License.txt in the project root for license information.
// Code generated by Microsoft (R) AutoRest Code Generator.
// Changes may cause incorrect behavior and will be lost if the code is regenerated.

package armtrafficmanager

import (
	"context"
	"errors"
	"fmt"
	"github.com/Azure/azure-sdk-for-go/sdk/azcore"
	"github.com/Azure/azure-sdk-for-go/sdk/azcore/arm"
	armruntime "github.com/Azure/azure-sdk-for-go/sdk/azcore/arm/runtime"
	"github.com/Azure/azure-sdk-for-go/sdk/azcore/policy"
	"github.com/Azure/azure-sdk-for-go/sdk/azcore/runtime"
	"net/http"
	"net/url"
	"strings"
)

// HeatMapClient contains the methods for the HeatMap group.
// Don't use this type directly, use NewHeatMapClient() instead.
type HeatMapClient struct {
	ep             string
	pl             runtime.Pipeline
	subscriptionID string
}

// NewHeatMapClient creates a new instance of HeatMapClient with the specified values.
func NewHeatMapClient(subscriptionID string, credential azcore.TokenCredential, options *arm.ClientOptions) *HeatMapClient {
	cp := arm.ClientOptions{}
	if options != nil {
		cp = *options
	}
	if len(cp.Host) == 0 {
		cp.Host = arm.AzurePublicCloud
	}
	return &HeatMapClient{subscriptionID: subscriptionID, ep: string(cp.Host), pl: armruntime.NewPipeline(module, version, credential, &cp)}
}

// Get - Gets latest heatmap for Traffic Manager profile.
// If the operation fails it returns the *CloudError error type.
func (client *HeatMapClient) Get(ctx context.Context, resourceGroupName string, profileName string, heatMapType Enum8, options *HeatMapGetOptions) (HeatMapGetResponse, error) {
	req, err := client.getCreateRequest(ctx, resourceGroupName, profileName, heatMapType, options)
	if err != nil {
		return HeatMapGetResponse{}, err
	}
	resp, err := client.pl.Do(req)
	if err != nil {
		return HeatMapGetResponse{}, err
	}
	if !runtime.HasStatusCode(resp, http.StatusOK) {
		return HeatMapGetResponse{}, client.getHandleError(resp)
	}
	return client.getHandleResponse(resp)
}

// getCreateRequest creates the Get request.
func (client *HeatMapClient) getCreateRequest(ctx context.Context, resourceGroupName string, profileName string, heatMapType Enum8, options *HeatMapGetOptions) (*policy.Request, error) {
	urlPath := "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/trafficmanagerprofiles/{profileName}/heatMaps/{heatMapType}"
	if client.subscriptionID == "" {
		return nil, errors.New("parameter client.subscriptionID cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{subscriptionId}", url.PathEscape(client.subscriptionID))
	if resourceGroupName == "" {
		return nil, errors.New("parameter resourceGroupName cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{resourceGroupName}", url.PathEscape(resourceGroupName))
	if profileName == "" {
		return nil, errors.New("parameter profileName cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{profileName}", url.PathEscape(profileName))
	if heatMapType == "" {
		return nil, errors.New("parameter heatMapType cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{heatMapType}", url.PathEscape(string(heatMapType)))
	req, err := runtime.NewRequest(ctx, http.MethodGet, runtime.JoinPaths(client.ep, urlPath))
	if err != nil {
		return nil, err
	}
	reqQP := req.Raw().URL.Query()
	if options != nil && options.TopLeft != nil {
		reqQP.Set("topLeft", strings.Join(strings.Fields(strings.Trim(fmt.Sprint(options.TopLeft), "[]")), ","))
	}
	if options != nil && options.BotRight != nil {
		reqQP.Set("botRight", strings.Join(strings.Fields(strings.Trim(fmt.Sprint(options.BotRight), "[]")), ","))
	}
	reqQP.Set("api-version", "2018-08-01")
	req.Raw().URL.RawQuery = reqQP.Encode()
	req.Raw().Header.Set("Accept", "application/json")
	return req, nil
}

// getHandleResponse handles the Get response.
func (client *HeatMapClient) getHandleResponse(resp *http.Response) (HeatMapGetResponse, error) {
	result := HeatMapGetResponse{RawResponse: resp}
	if err := runtime.UnmarshalAsJSON(resp, &result.HeatMapModel); err != nil {
		return HeatMapGetResponse{}, runtime.NewResponseError(err, resp)
	}
	return result, nil
}

// getHandleError handles the Get error response.
func (client *HeatMapClient) getHandleError(resp *http.Response) error {
	body, err := runtime.Payload(resp)
	if err != nil {
		return runtime.NewResponseError(err, resp)
	}
	errType := CloudError{raw: string(body)}
	if err := runtime.UnmarshalAsJSON(resp, &errType); err != nil {
		return runtime.NewResponseError(fmt.Errorf("%s\n%s", string(body), err), resp)
	}
	return runtime.NewResponseError(&errType, resp)
}
