---
version: 1
rwmutex: {}
interactions:
- request:
    body: ""
    form: {}
    headers:
      Prefer:
      - return-no-content
      X-Ms-Version:
      - 2016-05-31
    url: https://golangrocksonazure.table.core.windows.net/%28retry%29?timeout=30
    method: DELETE
  response:
    body: '{"odata.error":{"code":"ResourceNotFound","message":{"lang":"en-US","value":"The
      specified resource does not exist.\nRequestId:395e1eb1-0002-003a-2b22-db411a000000\nTime:2017-06-01T21:59:19.1338954Z"}}}'
    headers:
      Content-Type:
      - application/json
      X-Ms-Version:
      - 2016-05-31
    status: 404 The specified resource does not exist.
    code: 404
[...]
- request:
    body: ""
    form: {}
    headers:
      X-Ms-Date:
      - Thu, 01 Jun 2017 21:59:25 GMT
      X-Ms-Version:
      - 2016-05-31
    url: https://golangrocksonazure.blob.core.windows.net/cnt-31storageclientsuitetestdore?restype=container&se=2050-12-20T21%3A55%3A06Z&sig=anFBh1cx4yvNQR7UnWhLHBl41qTZupiG2q42jBA7NVY%3D&sp=racwdl&spr=https%2Chttp&sr=c&sv=2016-05-31
    method: HEAD
  response:
    body: ""
    headers:
      X-Ms-Version:
      - 2016-05-31
    status: 403 This request is not authorized to perform this operation.
    code: 403
[...]
- request:
    body: ""
    form: {}
    headers:
      X-Ms-Date:
      - Thu, 01 Jun 2017 21:59:33 GMT
      X-Ms-Version:
      - 2016-05-31
    url: https://golangrocksonazure.blob.core.windows.net/cnt-31storageclientsuitetestdore?restype=container&se=2050-12-20&sig=H47yV%2BBZqUb6EMXkxCwBoRUjUuBNbwqnUdArMgO3agQ%3D&sp=rwdlacup&spr=https&srt=sco&ss=b&sv=2016-05-31
    method: HEAD
  response:
    body: ""
    headers:
      X-Ms-Version:
      - 2016-05-31
    status: 404 The specified container does not exist.
    code: 404
[...]
