// Copyright (c) Microsoft Corporation. All rights reserved.
// Licensed under the MIT License. See License.txt in the project root for license information.
// Code generated by Microsoft (R) AutoRest Code Generator. DO NOT EDIT.
// Changes may cause incorrect behavior and will be lost if the code is regenerated.

package armpostgresqlflexibleservers

import (
	"context"
	"github.com/Azure/azure-sdk-for-go/sdk/azcore"
	"github.com/Azure/azure-sdk-for-go/sdk/azcore/arm"
	"github.com/Azure/azure-sdk-for-go/sdk/azcore/policy"
	"github.com/Azure/azure-sdk-for-go/sdk/azcore/runtime"
	"net/http"
)

// PrivateDNSZoneSuffixClient contains the methods for the PrivateDNSZoneSuffix group.
// Don't use this type directly, use NewPrivateDNSZoneSuffixClient() instead.
type PrivateDNSZoneSuffixClient struct {
	internal *arm.Client
}

// NewPrivateDNSZoneSuffixClient creates a new instance of PrivateDNSZoneSuffixClient with the specified values.
//   - credential - used to authorize requests. Usually a credential from azidentity.
//   - options - Contains optional client configuration. Pass nil to accept the default values.
func NewPrivateDNSZoneSuffixClient(credential azcore.TokenCredential, options *arm.ClientOptions) (*PrivateDNSZoneSuffixClient, error) {
	cl, err := arm.NewClient(moduleName, moduleVersion, credential, options)
	if err != nil {
		return nil, err
	}
	client := &PrivateDNSZoneSuffixClient{
		internal: cl,
	}
	return client, nil
}

// Get - Gets the private DNS zone suffix.
// If the operation fails it returns an *azcore.ResponseError type.
//
// Generated from API version 2025-08-01
//   - options - PrivateDNSZoneSuffixClientGetOptions contains the optional parameters for the PrivateDNSZoneSuffixClient.Get
//     method.
func (client *PrivateDNSZoneSuffixClient) Get(ctx context.Context, options *PrivateDNSZoneSuffixClientGetOptions) (PrivateDNSZoneSuffixClientGetResponse, error) {
	var err error
	const operationName = "PrivateDNSZoneSuffixClient.Get"
	ctx = context.WithValue(ctx, runtime.CtxAPINameKey{}, operationName)
	ctx, endSpan := runtime.StartSpan(ctx, operationName, client.internal.Tracer(), nil)
	defer func() { endSpan(err) }()
	req, err := client.getCreateRequest(ctx, options)
	if err != nil {
		return PrivateDNSZoneSuffixClientGetResponse{}, err
	}
	httpResp, err := client.internal.Pipeline().Do(req)
	if err != nil {
		return PrivateDNSZoneSuffixClientGetResponse{}, err
	}
	if !runtime.HasStatusCode(httpResp, http.StatusOK) {
		err = runtime.NewResponseError(httpResp)
		return PrivateDNSZoneSuffixClientGetResponse{}, err
	}
	resp, err := client.getHandleResponse(httpResp)
	return resp, err
}

// getCreateRequest creates the Get request.
func (client *PrivateDNSZoneSuffixClient) getCreateRequest(ctx context.Context, _ *PrivateDNSZoneSuffixClientGetOptions) (*policy.Request, error) {
	urlPath := "/providers/Microsoft.DBforPostgreSQL/getPrivateDnsZoneSuffix"
	req, err := runtime.NewRequest(ctx, http.MethodPost, runtime.JoinPaths(client.internal.Endpoint(), urlPath))
	if err != nil {
		return nil, err
	}
	reqQP := req.Raw().URL.Query()
	reqQP.Set("api-version", "2025-08-01")
	req.Raw().URL.RawQuery = reqQP.Encode()
	req.Raw().Header["Accept"] = []string{"application/json"}
	return req, nil
}

// getHandleResponse handles the Get response.
func (client *PrivateDNSZoneSuffixClient) getHandleResponse(resp *http.Response) (PrivateDNSZoneSuffixClientGetResponse, error) {
	result := PrivateDNSZoneSuffixClientGetResponse{}
	if err := runtime.UnmarshalAsJSON(resp, &result.Value); err != nil {
		return PrivateDNSZoneSuffixClientGetResponse{}, err
	}
	return result, nil
}
