{
  "Entries": [
    {
      "RequestUri": "https://fakestorageaccount.table.core.windows.net/Tables",
      "RequestMethod": "POST",
      "RequestHeaders": {
        ":authority": "localhost:5001",
        ":method": "POST",
        ":path": "/Tables",
        ":scheme": "https",
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "dataserviceversion": "3.0",
        "x-ms-date": "Mon, 02 Aug 2021 18:01:48 GMT",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": {
        "TableName": "tableName774266614"
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata=minimalmetadata; streaming=true; charset=utf-8",
        "Location": "https://seankaneprim.table.core.windows.net/Tables(\u0027tableName774266614\u0027)",
        "x-ms-version": "2019-02-02"
      },
      "ResponseBody": {
        "odata.metadata": "https://seankaneprim.table.core.windows.net/$metadata#Tables/@Element",
        "TableName": "tableName774266614"
      }
    },
    {
      "RequestUri": "https://fakestorageaccount.table.core.windows.net/tableName774266614",
      "RequestMethod": "POST",
      "RequestHeaders": {
        ":authority": "localhost:5001",
        ":method": "POST",
        ":path": "/tableName774266614",
        ":scheme": "https",
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "dataserviceversion": "3.0",
        "prefer": "return-no-content",
        "x-ms-date": "Mon, 02 Aug 2021 18:01:48 GMT",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": {
        "Bool": true,
        "Integer": 1,
        "PartitionKey": "partition",
        "RowKey": "1",
        "String": "some string 1",
        "Timestamp": "0001-01-01T00:00:00Z"
      },
      "StatusCode": 204,
      "ResponseHeaders": {
        "DataServiceId": "https://seankaneprim.table.core.windows.net/tableName774266614(PartitionKey=\u0027partition\u0027,RowKey=\u00271\u0027)",
        "ETag": "W/\u0022datetime\u00272021-08-02T18%3A01%3A48.2241869Z\u0027\u0022",
        "Location": "https://seankaneprim.table.core.windows.net/tableName774266614(PartitionKey=\u0027partition\u0027,RowKey=\u00271\u0027)",
        "Preference-Applied": "return-no-content",
        "x-ms-version": "2019-02-02"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakestorageaccount.table.core.windows.net/Tables(\u0027tableName774266614\u0027)",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        ":authority": "localhost:5001",
        ":method": "DELETE",
        ":path": "/Tables(\u0027tableName774266614\u0027)",
        ":scheme": "https",
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 02 Aug 2021 18:01:49 GMT",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
        "x-ms-version": "2019-02-02"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {}
}