{
  "Entries": [
    {
      "RequestUri": "https://fakekvurl.vault.azure.net/keys/key2367977013/create?api-version=7.3-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        ":authority": "localhost:5001",
        ":method": "POST",
        ":path": "/keys/key2367977013/create?api-version=7.3-preview",
        ":scheme": "https",
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "x-ms-date": "Mon, 25 Oct 2021 15:43:28 GMT"
      },
      "RequestBody": {
        "key_ops": [],
        "kty": "RSA"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "key": {
          "kid": "https://rosebud.vault.azure.net/keys/key2367977013/84abedad6e7d472cb79b40a58477fc58",
          "kty": "RSA",
          "key_ops": [
            "encrypt",
            "decrypt",
            "sign",
            "verify",
            "wrapKey",
            "unwrapKey"
          ],
          "n": "ldxgeA_GmT2WdymOX6ZWAvNHeUQqWXBgSDGxdrIDihTn8E4RxDluZ-ExGcMxpcNmnaRVVF01Pw3vmgikODnQwKn0PpUfAQ0p5lEgAPbQplAnyJJax5HGp9igrWKOx7VKtYPfYonm-xy2OETuDwXr6M5T4Wap4CgFqHtxUihCqyRwIM5sMboltCwf99keUtFzdVQW7TEk6yL637dcsNmU15O5TO8yuaOmVOZt-pjDcuVQfE9k_xcdzndtVifAY-9K8JWfA90ZR-mNug6HsbvkmFqRGQoG1EzuKo6sphcDJtCfZrZahUTBocl2i8kmaJBY00tw-NzK-Zo7QymD4eZvVQ",
          "e": "AQAB"
        },
        "attributes": {
          "enabled": true,
          "created": 1635176607,
          "updated": 1635176607,
          "recoveryLevel": "Recoverable\u002BPurgeable",
          "recoverableDays": 90
        }
      }
    },
    {
      "RequestUri": "https://fakekvurl.vault.azure.net/keys/key2367977013?api-version=7.3-preview",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        ":authority": "localhost:5001",
        ":method": "DELETE",
        ":path": "/keys/key2367977013?api-version=7.3-preview",
        ":scheme": "https",
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 25 Oct 2021 15:43:30 GMT"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "recoveryId": "https://rosebud.vault.azure.net/deletedkeys/key2367977013",
        "deletedDate": 1635176610,
        "scheduledPurgeDate": 1642952610,
        "key": {
          "kid": "https://rosebud.vault.azure.net/keys/key2367977013/84abedad6e7d472cb79b40a58477fc58",
          "kty": "RSA",
          "key_ops": [
            "encrypt",
            "decrypt",
            "sign",
            "verify",
            "wrapKey",
            "unwrapKey"
          ],
          "n": "ldxgeA_GmT2WdymOX6ZWAvNHeUQqWXBgSDGxdrIDihTn8E4RxDluZ-ExGcMxpcNmnaRVVF01Pw3vmgikODnQwKn0PpUfAQ0p5lEgAPbQplAnyJJax5HGp9igrWKOx7VKtYPfYonm-xy2OETuDwXr6M5T4Wap4CgFqHtxUihCqyRwIM5sMboltCwf99keUtFzdVQW7TEk6yL637dcsNmU15O5TO8yuaOmVOZt-pjDcuVQfE9k_xcdzndtVifAY-9K8JWfA90ZR-mNug6HsbvkmFqRGQoG1EzuKo6sphcDJtCfZrZahUTBocl2i8kmaJBY00tw-NzK-Zo7QymD4eZvVQ",
          "e": "AQAB"
        },
        "attributes": {
          "enabled": true,
          "created": 1635176607,
          "updated": 1635176607,
          "recoveryLevel": "Recoverable\u002BPurgeable",
          "recoverableDays": 90
        }
      }
    },
    {
      "RequestUri": "https://fakekvurl.vault.azure.net/deletedkeys/key2367977013?api-version=7.3-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        ":authority": "localhost:5001",
        ":method": "GET",
        ":path": "/deletedkeys/key2367977013?api-version=7.3-preview",
        ":scheme": "https",
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 25 Oct 2021 15:43:30 GMT"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "error": {
          "code": "KeyNotFound",
          "message": "Deleted Key not found: key2367977013"
        }
      }
    },
[...]
    {
      "RequestUri": "https://fakekvurl.vault.azure.net/keys/key2367977013/?api-version=7.3-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        ":authority": "localhost:5001",
        ":method": "GET",
        ":path": "/keys/key2367977013/?api-version=7.3-preview",
        ":scheme": "https",
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 25 Oct 2021 15:43:33 GMT"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "error": {
          "code": "KeyNotFound",
          "message": "A key with (name/id) key2367977013 was not found in this key vault. If you recently deleted this key you may be able to recover it using the correct recovery command. For help resolving this issue, please see https://go.microsoft.com/fwlink/?linkid=2125182"
        }
      }
    },
[...]
    {
      "RequestUri": "https://fakekvurl.vault.azure.net/keys/key2367977013?api-version=7.3-preview",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        ":authority": "localhost:5001",
        ":method": "DELETE",
        ":path": "/keys/key2367977013?api-version=7.3-preview",
        ":scheme": "https",
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 25 Oct 2021 15:43:35 GMT"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "error": {
          "code": "KeyNotFound",
          "message": "A key with (name/id) key2367977013 was not found in this key vault. If you recently deleted this key you may be able to recover it using the correct recovery command. For help resolving this issue, please see https://go.microsoft.com/fwlink/?linkid=2125182"
        }
      }
    }
  ],
  "Variables": {}
}
