{
  "Entries": [
    {
      "RequestUri": "https://fakekvurl.managedhsm.azure.net/keys/key1365154215/create?api-version=7.3-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        ":authority": "localhost:5001",
        ":method": "POST",
        ":path": "/keys/key1365154215/create?api-version=7.3-preview",
        ":scheme": "https",
        "Content-Type": "application/json"
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\u0022https://login.microsoftonline.com/00000000-0000-0000-0000-000000000000\u0022, resource=\u0022https://managedhsm.azure.net\u0022",
        "x-ms-server-latency": "0"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakekvurl.managedhsm.azure.net/keys/key1365154215/create?api-version=7.3-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        ":authority": "localhost:5001",
        ":method": "POST",
        ":path": "/keys/key1365154215/create?api-version=7.3-preview",
        ":scheme": "https",
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "key_ops": [],
        "kty": "RSA"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-server-latency": "302"
      },
      "ResponseBody": {
        "attributes": {
          "created": 1635445344,
          "enabled": true,
          "exportable": false,
          "recoverableDays": 7,
          "recoveryLevel": "CustomizedRecoverable\u002BPurgeable",
          "updated": 1635445344
        },
        "key": {
          "e": "AQAB",
          "key_ops": [
            "wrapKey",
            "decrypt",
            "encrypt",
            "unwrapKey",
            "sign",
            "verify"
          ],
          "kid": "https://fakekvurl.managedhsm.azure.net/keys/key1365154215/d89e96afea7d086c00ca23800c622f85",
          "kty": "RSA-HSM",
          "n": "tRPAzdmTjaCn51SNNYJEpNbYM3qJVMRxHZ0pw_QpO0Vdjn1mCx7u3fpsDudRqg3ElzONd3qn7FMQFABATHiQU8Qz-yvc7ZarKJK-KDw5wA5UB8dU2rzuCseVgorKrs9cWC3S60m3e40OYkRcpE9nmcwE0kjHvPSXWnnP_UVVioaZiYW1E8iQ124GpavbBEFlARU-B-WbsXHWuvAwQdkBmp_mPEPkHb3Nuy8LeI07_ioZ7TuwkBW6qqeCmucNFRA-8_l9usvRYVdtJA4dTfGz_QF-qpFcm5HJVZtlK0nvIbV0K5mVaIy1Dax6NwMK4A2p5nAstM5ubQgvHehI60ogKw"
        }
      }
    },
    {
      "RequestUri": "https://fakekvurl.managedhsm.azure.net/keys/key1365154215?api-version=7.3-preview",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        ":authority": "localhost:5001",
        ":method": "DELETE",
        ":path": "/keys/key1365154215?api-version=7.3-preview",
        ":scheme": "https"
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\u0022https://login.microsoftonline.com/00000000-0000-0000-0000-000000000000\u0022, resource=\u0022https://managedhsm.azure.net\u0022",
        "x-ms-server-latency": "0"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakekvurl.managedhsm.azure.net/keys/key1365154215?api-version=7.3-preview",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        ":authority": "localhost:5001",
        ":method": "DELETE",
        ":path": "/keys/key1365154215?api-version=7.3-preview",
        ":scheme": "https",
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-server-latency": "180"
      },
      "ResponseBody": {
        "attributes": {
          "created": 1635445344,
          "enabled": true,
          "exportable": false,
          "recoverableDays": 7,
          "recoveryLevel": "CustomizedRecoverable\u002BPurgeable",
          "updated": 1635445344
        },
        "deletedDate": 1635445345,
        "key": {
          "e": "AQAB",
          "key_ops": [
            "wrapKey",
            "encrypt",
            "decrypt",
            "unwrapKey",
            "sign",
            "verify"
          ],
          "kid": "https://fakekvurl.managedhsm.azure.net/keys/key1365154215/d89e96afea7d086c00ca23800c622f85",
          "kty": "RSA-HSM",
          "n": "tRPAzdmTjaCn51SNNYJEpNbYM3qJVMRxHZ0pw_QpO0Vdjn1mCx7u3fpsDudRqg3ElzONd3qn7FMQFABATHiQU8Qz-yvc7ZarKJK-KDw5wA5UB8dU2rzuCseVgorKrs9cWC3S60m3e40OYkRcpE9nmcwE0kjHvPSXWnnP_UVVioaZiYW1E8iQ124GpavbBEFlARU-B-WbsXHWuvAwQdkBmp_mPEPkHb3Nuy8LeI07_ioZ7TuwkBW6qqeCmucNFRA-8_l9usvRYVdtJA4dTfGz_QF-qpFcm5HJVZtlK0nvIbV0K5mVaIy1Dax6NwMK4A2p5nAstM5ubQgvHehI60ogKw"
        },
        "recoveryId": "https://fakekvurl.managedhsm.azure.net/deletedkeys/key1365154215",
        "scheduledPurgeDate": 1636050145
      }
    },
    {
      "RequestUri": "https://fakekvurl.managedhsm.azure.net/deletedkeys/key1365154215?api-version=7.3-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        ":authority": "localhost:5001",
        ":method": "GET",
        ":path": "/deletedkeys/key1365154215?api-version=7.3-preview",
        ":scheme": "https"
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\u0022https://login.microsoftonline.com/00000000-0000-0000-0000-000000000000\u0022, resource=\u0022https://managedhsm.azure.net\u0022",
        "x-ms-build-version": "1.0.20210929-1-5b78c022-develop",
        "x-ms-server-latency": "0"
      },
      "ResponseBody": "OK"
    },
[...]
    {
      "RequestUri": "https://fakekvurl.managedhsm.azure.net/keys/key1365154215/?api-version=7.3-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        ":authority": "localhost:5001",
        ":method": "GET",
        ":path": "/keys/key1365154215/?api-version=7.3-preview",
        ":scheme": "https"
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\u0022https://login.microsoftonline.com/00000000-0000-0000-0000-000000000000\u0022, resource=\u0022https://managedhsm.azure.net\u0022",
        "x-ms-build-version": "1.0.20210929-1-5b78c022-develop",
        "x-ms-server-latency": "0"
      },
      "ResponseBody": "OK"
    },
    {
      "RequestUri": "https://fakekvurl.managedhsm.azure.net/keys/key1365154215/?api-version=7.3-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        ":authority": "localhost:5001",
        ":method": "GET",
        ":path": "/keys/key1365154215/?api-version=7.3-preview",
        ":scheme": "https",
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-build-version": "1.0.20210929-1-5b78c022-develop",
        "x-ms-server-latency": "21"
      },
      "ResponseBody": {
        "error": {
          "code": "KeyNotFound",
          "message": "Key not found: https://fakekvurl.managedhsm.azure.net/keys/key1365154215 (Activity ID: 00806a00-381c-11ec-8f32-000d3aed998e)"
        }
      }
    },
[...]
    {
      "RequestUri": "https://fakekvurl.managedhsm.azure.net/keys/key1365154215?api-version=7.3-preview",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        ":authority": "localhost:5001",
        ":method": "DELETE",
        ":path": "/keys/key1365154215?api-version=7.3-preview",
        ":scheme": "https",
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-server-latency": "18"
      },
      "ResponseBody": {
        "error": {
          "code": "KeyNotFound",
          "message": "Key not found: https://fakekvurl.managedhsm.azure.net/keys/key1365154215 (Activity ID: 015062be-381c-11ec-8f32-000d3aed998e)"
        }
      }
    }
  ],
  "Variables": {}
}
