{
  "Entries": [
    {
      "RequestUri": "https://fakekvurl.vault.azure.net/keys/key2367977013/create?api-version=7.3-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        ":method": "POST"
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\u0022https://login.windows.net/00000000-0000-0000-0000-000000000000\u0022, resource=\u0022https://vault.azure.net\u0022"
      },
      "ResponseBody": {
        "error": {
          "code": "Unauthorized",
          "message": "AKV10000: Request is missing a Bearer or PoP token."
        }
      }
    },
    {
      "RequestUri": "https://fakekvurl.vault.azure.net/keys/key2367977013/create?api-version=7.3-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        ":method": "POST",
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "kty": "RSA"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "key": {
          "kid": "https://fakekvurl.vault.azure.net/keys/key2367977013/664427385eb546e2b1fd517a490d2458",
          "kty": "RSA",
          "key_ops": [
            "encrypt",
            "decrypt",
            "sign",
            "verify",
            "wrapKey",
            "unwrapKey"
          ],
          "n": "yEjTZuIkdtFFFySZq6tkToK7VA1PgNNgyaxnhYnVgpr5uF8l0rTd8Z1_RKS8fzFzgdplj8uKyV1WCVDt_Qzjy83GgPCRXmhLsZKgkIsjjSkuW5XXvRq_j0aQv6zbfXr-Oz0nVTqgRODQ98ZPVy2KhgHv18X8zgCj3tbI-SCL7ARSQyIpIdgoXHxzqAUDsDc2u1ojqf_J7LEFqOhQ_MoZoXTR2NJzU-K3NN204rVoeB_2u3XKnHy4UlLF5lhHkCwTKGXlulr6q22h3xXcgnZ6xLZ3ow1p79q4eTWv6rtAokTUF9c3Ki3MaIAKEPTsCQful8dL-i260vxp2zl6-2rZJQ",
          "e": "AQAB"
        },
        "attributes": {
          "enabled": true,
          "created": 1643129795,
          "updated": 1643129795,
          "recoveryLevel": "CustomizedRecoverable\u002BPurgeable",
          "recoverableDays": 7
        }
      }
    },
    {
      "RequestUri": "https://fakekvurl.vault.azure.net/keys/key2367977013?api-version=7.3-preview",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "recoveryId": "https://fakekvurl.vault.azure.net/deletedkeys/key2367977013",
        "deletedDate": 1643129796,
        "scheduledPurgeDate": 1643734596,
        "key": {
          "kid": "https://fakekvurl.vault.azure.net/keys/key2367977013/664427385eb546e2b1fd517a490d2458",
          "kty": "RSA",
          "key_ops": [
            "encrypt",
            "decrypt",
            "sign",
            "verify",
            "wrapKey",
            "unwrapKey"
          ],
          "n": "yEjTZuIkdtFFFySZq6tkToK7VA1PgNNgyaxnhYnVgpr5uF8l0rTd8Z1_RKS8fzFzgdplj8uKyV1WCVDt_Qzjy83GgPCRXmhLsZKgkIsjjSkuW5XXvRq_j0aQv6zbfXr-Oz0nVTqgRODQ98ZPVy2KhgHv18X8zgCj3tbI-SCL7ARSQyIpIdgoXHxzqAUDsDc2u1ojqf_J7LEFqOhQ_MoZoXTR2NJzU-K3NN204rVoeB_2u3XKnHy4UlLF5lhHkCwTKGXlulr6q22h3xXcgnZ6xLZ3ow1p79q4eTWv6rtAokTUF9c3Ki3MaIAKEPTsCQful8dL-i260vxp2zl6-2rZJQ",
          "e": "AQAB"
        },
        "attributes": {
          "enabled": true,
          "created": 1643129795,
          "updated": 1643129795,
          "recoveryLevel": "CustomizedRecoverable\u002BPurgeable",
          "recoverableDays": 7
        }
      }
    },
    {
      "RequestUri": "https://fakekvurl.vault.azure.net/deletedkeys/key2367977013?api-version=7.3-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        ":method": "GET",
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "error": {
          "code": "KeyNotFound",
          "message": "Deleted Key not found: key2367977013"
        }
      }
    },
[...]
    {
      "RequestUri": "https://fakekvurl.vault.azure.net/keys/key2367977013/?api-version=7.3-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        ":method": "GET",
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "error": {
          "code": "KeyNotFound",
          "message": "A key with (name/id) key2367977013 was not found in this key vault. If you recently deleted this key you may be able to recover it using the correct recovery command. For help resolving this issue, please see https://go.microsoft.com/fwlink/?linkid=2125182"
        }
      }
    },
[...]
    {
      "RequestUri": "https://fakekvurl.vault.azure.net/keys/nonexistent?api-version=7.3-preview",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "error": {
          "code": "KeyNotFound",
          "message": "A key with (name/id) nonexistent was not found in this key vault. If you recently deleted this key you may be able to recover it using the correct recovery command. For help resolving this issue, please see https://go.microsoft.com/fwlink/?linkid=2125182"
        }
      }
    },
    {
      "RequestUri": "https://fakekvurl.vault.azure.net/keys/key2367977013?api-version=7.3-preview",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "error": {
          "code": "KeyNotFound",
          "message": "A key with (name/id) key2367977013 was not found in this key vault. If you recently deleted this key you may be able to recover it using the correct recovery command. For help resolving this issue, please see https://go.microsoft.com/fwlink/?linkid=2125182"
        }
      }
    }
  ],
  "Variables": {}
}
