//go:build go1.16
// +build go1.16

// Copyright (c) Microsoft Corporation. All rights reserved.
// Licensed under the MIT License. See License.txt in the project root for license information.
// Code generated by Microsoft (R) AutoRest Code Generator.
// Changes may cause incorrect behavior and will be lost if the code is regenerated.

package armsaas

import (
	"context"
	"errors"
	"fmt"
	"github.com/Azure/azure-sdk-for-go/sdk/azcore"
	"github.com/Azure/azure-sdk-for-go/sdk/azcore/arm"
	armruntime "github.com/Azure/azure-sdk-for-go/sdk/azcore/arm/runtime"
	"github.com/Azure/azure-sdk-for-go/sdk/azcore/policy"
	"github.com/Azure/azure-sdk-for-go/sdk/azcore/runtime"
	"net/http"
	"net/url"
	"strings"
)

// SaaSOperationClient contains the methods for the SaaSOperation group.
// Don't use this type directly, use NewSaaSOperationClient() instead.
type SaaSOperationClient struct {
	ep string
	pl runtime.Pipeline
}

// NewSaaSOperationClient creates a new instance of SaaSOperationClient with the specified values.
func NewSaaSOperationClient(credential azcore.TokenCredential, options *arm.ClientOptions) *SaaSOperationClient {
	cp := arm.ClientOptions{}
	if options != nil {
		cp = *options
	}
	if len(cp.Host) == 0 {
		cp.Host = arm.AzurePublicCloud
	}
	return &SaaSOperationClient{ep: string(cp.Host), pl: armruntime.NewPipeline(module, version, credential, &cp)}
}

// BeginGet - Gets information about the specified operation progress.
// If the operation fails it returns the *ErrorResponse error type.
func (client *SaaSOperationClient) BeginGet(ctx context.Context, operationID string, options *SaaSOperationBeginGetOptions) (SaaSOperationGetPollerResponse, error) {
	resp, err := client.get(ctx, operationID, options)
	if err != nil {
		return SaaSOperationGetPollerResponse{}, err
	}
	result := SaaSOperationGetPollerResponse{
		RawResponse: resp,
	}
	pt, err := armruntime.NewPoller("SaaSOperationClient.Get", "location", resp, client.pl, client.getHandleError)
	if err != nil {
		return SaaSOperationGetPollerResponse{}, err
	}
	result.Poller = &SaaSOperationGetPoller{
		pt: pt,
	}
	return result, nil
}

// Get - Gets information about the specified operation progress.
// If the operation fails it returns the *ErrorResponse error type.
func (client *SaaSOperationClient) get(ctx context.Context, operationID string, options *SaaSOperationBeginGetOptions) (*http.Response, error) {
	req, err := client.getCreateRequest(ctx, operationID, options)
	if err != nil {
		return nil, err
	}
	resp, err := client.pl.Do(req)
	if err != nil {
		return nil, err
	}
	if !runtime.HasStatusCode(resp, http.StatusOK, http.StatusAccepted) {
		return nil, client.getHandleError(resp)
	}
	return resp, nil
}

// getCreateRequest creates the Get request.
func (client *SaaSOperationClient) getCreateRequest(ctx context.Context, operationID string, options *SaaSOperationBeginGetOptions) (*policy.Request, error) {
	urlPath := "/providers/Microsoft.SaaS/operationResults/{operationId}"
	if operationID == "" {
		return nil, errors.New("parameter operationID cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{operationId}", url.PathEscape(operationID))
	req, err := runtime.NewRequest(ctx, http.MethodGet, runtime.JoinPaths(client.ep, urlPath))
	if err != nil {
		return nil, err
	}
	reqQP := req.Raw().URL.Query()
	reqQP.Set("api-version", "2018-03-01-beta")
	req.Raw().URL.RawQuery = reqQP.Encode()
	req.Raw().Header.Set("Accept", "application/json")
	return req, nil
}

// getHandleError handles the Get error response.
func (client *SaaSOperationClient) getHandleError(resp *http.Response) error {
	body, err := runtime.Payload(resp)
	if err != nil {
		return runtime.NewResponseError(err, resp)
	}
	errType := ErrorResponse{raw: string(body)}
	if err := runtime.UnmarshalAsJSON(resp, &errType); err != nil {
		return runtime.NewResponseError(fmt.Errorf("%s\n%s", string(body), err), resp)
	}
	return runtime.NewResponseError(&errType, resp)
}
