{
  "Entries": [
    {
      "RequestUri": "https://fakeaccount.table.core.windows.net/Tables",
      "RequestMethod": "POST",
      "RequestHeaders": {
        ":method": "POST",
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "dataserviceversion": "3.0",
        "x-ms-date": "Mon, 24 Jan 2022 20:59:19 GMT",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": {
        "TableName": "tableName1579840566"
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata=minimalmetadata; streaming=true; charset=utf-8",
        "Location": "https://rosebudprim.table.core.windows.net/Tables(\u0027tableName1579840566\u0027)",
        "x-ms-version": "2019-02-02"
      },
      "ResponseBody": {
        "odata.metadata": "https://rosebudprim.table.core.windows.net/$metadata#Tables/@Element",
        "TableName": "tableName1579840566"
      }
    },
    {
      "RequestUri": "https://fakeaccount.table.core.windows.net/tableName1579840566",
      "RequestMethod": "POST",
      "RequestHeaders": {
        ":method": "POST",
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "dataserviceversion": "3.0",
        "prefer": "return-no-content",
        "x-ms-date": "Mon, 24 Jan 2022 20:59:19 GMT",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": {
        "Bool": true,
        "Integer": 1,
        "PartitionKey": "partition",
        "RowKey": "1",
        "String": "some string 1",
        "Timestamp": "0001-01-01T00:00:00Z"
      },
      "StatusCode": 204,
      "ResponseHeaders": {
        "DataServiceId": "https://rosebudprim.table.core.windows.net/tableName1579840566(PartitionKey=\u0027partition\u0027,RowKey=\u00271\u0027)",
        "ETag": "W/\u0022datetime\u00272022-01-24T20%3A59%3A20.3037806Z\u0027\u0022",
        "Location": "https://rosebudprim.table.core.windows.net/tableName1579840566(PartitionKey=\u0027partition\u0027,RowKey=\u00271\u0027)",
        "Preference-Applied": "return-no-content",
        "x-ms-version": "2019-02-02"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://fakeaccount.table.core.windows.net/tableName1579840566(PartitionKey=\u0027partition\u0027,RowKey=\u00272\u0027)",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "dataserviceversion": "3.0",
        "If-Match": "W/\u0022datetime\u00272022-01-24T20%3A59%3A20.3037806Z\u0027\u0022",
        "x-ms-date": "Mon, 24 Jan 2022 20:59:19 GMT",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": null,
      "StatusCode": 412,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata=minimalmetadata; streaming=true; charset=utf-8",
        "x-ms-version": "2019-02-02"
      },
      "ResponseBody": {
        "odata.error": {
          "code": "UpdateConditionNotSatisfied",
          "message": {
            "lang": "en-US",
            "value": "The update condition specified in the request was not satisfied.\nRequestId:f99172c0-b002-0054-7f65-11ec4e000000\nTime:2022-01-24T20:59:20.5206562Z"
          }
        }
      }
    },
[...]
    {
      "RequestUri": "https://fakeaccount.table.core.windows.net/Tables(\u0027tableName1579840566\u0027)",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 24 Jan 2022 20:59:19 GMT",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
        "x-ms-version": "2019-02-02"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {}
}
