{
  "Entries": [
    {
      "RequestUri": "https://fakeaccount.table.cosmos.azure.com/Tables",
      "RequestMethod": "POST",
      "RequestHeaders": {
        ":method": "POST",
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "dataserviceversion": "3.0",
        "x-ms-date": "Mon, 24 Jan 2022 20:59:19 GMT",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": {
        "TableName": "tableName1201627205"
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata=minimalmetadata",
        "ETag": "W/\u0022datetime\u00272022-01-24T20%3A59%3A21.0905608Z\u0027\u0022",
        "Location": "https://rosebudprim.table.cosmos.azure.com/Tables(\u0027tableName1201627205\u0027)"
      },
      "ResponseBody": {
        "TableName": "tableName1201627205",
        "odata.metadata": "https://rosebudprim.table.cosmos.azure.com/$metadata#Tables/@Element"
      }
    },
    {
      "RequestUri": "https://fakeaccount.table.cosmos.azure.com/tableName1201627205",
      "RequestMethod": "POST",
      "RequestHeaders": {
        ":method": "POST",
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "dataserviceversion": "3.0",
        "prefer": "return-no-content",
        "x-ms-date": "Mon, 24 Jan 2022 20:59:20 GMT",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": {
        "Bool": true,
        "Integer": 1,
        "PartitionKey": "partition",
        "RowKey": "1",
        "String": "some string 1",
        "Timestamp": "0001-01-01T00:00:00Z"
      },
      "StatusCode": 204,
      "ResponseHeaders": {
        "ETag": "W/\u0022datetime\u00272022-01-24T20%3A59%3A21.5002632Z\u0027\u0022",
        "Location": "https://rosebudprim.table.cosmos.azure.com/tableName1201627205(PartitionKey=\u0027partition\u0027,RowKey=\u00271\u0027)",
        "Preference-Applied": "return-no-content"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://fakeaccount.table.cosmos.azure.com/tableName1201627205(PartitionKey=\u0027partition\u0027,RowKey=\u00272\u0027)",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "dataserviceversion": "3.0",
        "If-Match": "W/\u0022datetime\u00272022-01-24T20%3A59%3A21.5002632Z\u0027\u0022",
        "x-ms-date": "Mon, 24 Jan 2022 20:59:20 GMT",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": null,
      "StatusCode": 412,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata=fullmetadata"
      },
      "ResponseBody": {
        "odata.error": {
          "code": "UpdateConditionNotSatisfied",
          "message": {
            "lang": "en-us",
            "value": "The update condition specified in the request was not satisfied.\nRequestID:63cb42a6-5b0a-4415-b79b-69b3352c85d6\n"
          }
        }
      }
    },
[...]
    {
      "RequestUri": "https://fakeaccount.table.cosmos.azure.com/Tables(\u0027tableName1201627205\u0027)",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 24 Jan 2022 20:59:20 GMT",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
      },
      "ResponseBody": null
    }
  ],
  "Variables": {}
}
