//go:build go1.16
// +build go1.16

// Copyright (c) Microsoft Corporation. All rights reserved.
// Licensed under the MIT License. See License.txt in the project root for license information.
// Code generated by Microsoft (R) AutoRest Code Generator.
// Changes may cause incorrect behavior and will be lost if the code is regenerated.

package armfrontdoor

import (
	"context"
	"errors"
	"fmt"
	"github.com/Azure/azure-sdk-for-go/sdk/azcore"
	"github.com/Azure/azure-sdk-for-go/sdk/azcore/arm"
	armruntime "github.com/Azure/azure-sdk-for-go/sdk/azcore/arm/runtime"
	"github.com/Azure/azure-sdk-for-go/sdk/azcore/policy"
	"github.com/Azure/azure-sdk-for-go/sdk/azcore/runtime"
	"net/http"
	"net/url"
	"strings"
)

// FrontDoorNameAvailabilityWithSubscriptionClient contains the methods for the FrontDoorNameAvailabilityWithSubscription group.
// Don't use this type directly, use NewFrontDoorNameAvailabilityWithSubscriptionClient() instead.
type FrontDoorNameAvailabilityWithSubscriptionClient struct {
	ep             string
	pl             runtime.Pipeline
	subscriptionID string
}

// NewFrontDoorNameAvailabilityWithSubscriptionClient creates a new instance of FrontDoorNameAvailabilityWithSubscriptionClient with the specified values.
func NewFrontDoorNameAvailabilityWithSubscriptionClient(subscriptionID string, credential azcore.TokenCredential, options *arm.ClientOptions) *FrontDoorNameAvailabilityWithSubscriptionClient {
	cp := arm.ClientOptions{}
	if options != nil {
		cp = *options
	}
	if len(cp.Host) == 0 {
		cp.Host = arm.AzurePublicCloud
	}
	return &FrontDoorNameAvailabilityWithSubscriptionClient{subscriptionID: subscriptionID, ep: string(cp.Host), pl: armruntime.NewPipeline(module, version, credential, &cp)}
}

// Check - Check the availability of a Front Door subdomain.
// If the operation fails it returns the *ErrorResponse error type.
func (client *FrontDoorNameAvailabilityWithSubscriptionClient) Check(ctx context.Context, checkFrontDoorNameAvailabilityInput CheckNameAvailabilityInput, options *FrontDoorNameAvailabilityWithSubscriptionCheckOptions) (FrontDoorNameAvailabilityWithSubscriptionCheckResponse, error) {
	req, err := client.checkCreateRequest(ctx, checkFrontDoorNameAvailabilityInput, options)
	if err != nil {
		return FrontDoorNameAvailabilityWithSubscriptionCheckResponse{}, err
	}
	resp, err := client.pl.Do(req)
	if err != nil {
		return FrontDoorNameAvailabilityWithSubscriptionCheckResponse{}, err
	}
	if !runtime.HasStatusCode(resp, http.StatusOK) {
		return FrontDoorNameAvailabilityWithSubscriptionCheckResponse{}, client.checkHandleError(resp)
	}
	return client.checkHandleResponse(resp)
}

// checkCreateRequest creates the Check request.
func (client *FrontDoorNameAvailabilityWithSubscriptionClient) checkCreateRequest(ctx context.Context, checkFrontDoorNameAvailabilityInput CheckNameAvailabilityInput, options *FrontDoorNameAvailabilityWithSubscriptionCheckOptions) (*policy.Request, error) {
	urlPath := "/subscriptions/{subscriptionId}/providers/Microsoft.Network/checkFrontDoorNameAvailability"
	if client.subscriptionID == "" {
		return nil, errors.New("parameter client.subscriptionID cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{subscriptionId}", url.PathEscape(client.subscriptionID))
	req, err := runtime.NewRequest(ctx, http.MethodPost, runtime.JoinPaths(client.ep, urlPath))
	if err != nil {
		return nil, err
	}
	reqQP := req.Raw().URL.Query()
	reqQP.Set("api-version", "2020-05-01")
	req.Raw().URL.RawQuery = reqQP.Encode()
	req.Raw().Header.Set("Accept", "application/json")
	return req, runtime.MarshalAsJSON(req, checkFrontDoorNameAvailabilityInput)
}

// checkHandleResponse handles the Check response.
func (client *FrontDoorNameAvailabilityWithSubscriptionClient) checkHandleResponse(resp *http.Response) (FrontDoorNameAvailabilityWithSubscriptionCheckResponse, error) {
	result := FrontDoorNameAvailabilityWithSubscriptionCheckResponse{RawResponse: resp}
	if err := runtime.UnmarshalAsJSON(resp, &result.CheckNameAvailabilityOutput); err != nil {
		return FrontDoorNameAvailabilityWithSubscriptionCheckResponse{}, runtime.NewResponseError(err, resp)
	}
	return result, nil
}

// checkHandleError handles the Check error response.
func (client *FrontDoorNameAvailabilityWithSubscriptionClient) checkHandleError(resp *http.Response) error {
	body, err := runtime.Payload(resp)
	if err != nil {
		return runtime.NewResponseError(err, resp)
	}
	errType := ErrorResponse{raw: string(body)}
	if err := runtime.UnmarshalAsJSON(resp, &errType); err != nil {
		return runtime.NewResponseError(fmt.Errorf("%s\n%s", string(body), err), resp)
	}
	return runtime.NewResponseError(&errType, resp)
}
