---
version: 1
interactions:
- request:
    body: |-
      <?xml version="1.0" encoding="UTF-8"?>
      <StorageServiceProperties><DeleteRetentionPolicy><Enabled>true</Enabled><Days>5</Days></DeleteRetentionPolicy></StorageServiceProperties>
    form: {}
    headers:
      Authorization:
      - sanitized
      Content-Type:
      - application/xml
      X-Ms-Date:
      - Mon, 25 Jul 2022 11:40:07 GMT
      x-ms-version:
      - "2020-10-02"
    url: https://azureblobstoragecanada.blob.core.windows.net/?comp=properties&restype=service
    method: PUT
  response:
    body: ""
    headers:
      X-Ms-Version:
      - "2020-10-02"
    status: 202 Accepted
    code: 202
    duration: ""
[...]
