---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
      Authorization:
      - sanitized
      X-Ms-Date:
      - Tue, 07 Sep 2021 17:25:46 GMT
      X-Ms-Version:
      - "2019-12-12"
    url: https://azureblobstoragecanada.blob.core.windows.net/goccontainersetpermissionsinvalidpolicytimes?restype=container
    method: PUT
  response:
    body: ""
    headers:
      Etag:
      - '"0x8D972248753F77B"'
      Last-Modified:
      - Tue, 07 Sep 2021 17:25:46 GMT
      X-Ms-Version:
      - "2019-12-12"
    status: 201 Created
    code: 201
    duration: ""
- request:
    body: <SignedIdentifiers><SignedIdentifier><AccessPolicy><Permission>r</Permission><Expiry>2021-06-11T20:00:00Z</Expiry><Start>2049-06-11T20:00:00Z</Start></AccessPolicy><Id>0000</Id></SignedIdentifier><SignedIdentifier><AccessPolicy><Permission>r</Permission><Expiry>2021-06-11T20:00:00Z</Expiry><Start>2049-06-11T20:00:00Z</Start></AccessPolicy><Id>0001</Id></SignedIdentifier></SignedIdentifiers>
    form: {}
    headers:
      Authorization:
      - sanitized
      Content-Type:
      - application/xml
      X-Ms-Blob-Public-Access:
      - blob
      X-Ms-Date:
      - Tue, 07 Sep 2021 17:25:46 GMT
      X-Ms-Version:
      - "2019-12-12"
    url: https://azureblobstoragecanada.blob.core.windows.net/goccontainersetpermissionsinvalidpolicytimes?comp=acl&restype=container
    method: PUT
  response:
    body: ""
    headers:
      Etag:
      - '"0x8D9722487789B79"'
      Last-Modified:
      - Tue, 07 Sep 2021 17:25:46 GMT
      X-Ms-Version:
      - "2019-12-12"
    status: 200 OK
    code: 200
    duration: ""
[...]
