---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
      Authorization:
      - sanitized
      X-Ms-Date:
      - Mon, 09 Aug 2021 07:17:23 GMT
      X-Ms-Version:
      - "2019-12-12"
    url: https://azureblobstoragecanada.blob.core.windows.net/gocpageblobsetblobtagforsnapshot?restype=container
    method: PUT
  response:
    body: ""
    headers:
      Etag:
      - '"0x8D95B05BB5995AB"'
      Last-Modified:
      - Mon, 09 Aug 2021 07:17:22 GMT
      X-Ms-Version:
      - "2019-12-12"
    status: 201 Created
    code: 201
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Authorization:
      - sanitized
      X-Ms-Blob-Content-Length:
      - "5120"
      X-Ms-Blob-Type:
      - PageBlob
      X-Ms-Date:
      - Mon, 09 Aug 2021 07:17:23 GMT
      X-Ms-Version:
      - "2019-12-12"
    url: https://azureblobstoragecanada.blob.core.windows.net/gocpageblobsetblobtagforsnapshot/gotestblobpageblobsetblobtagforsnapshot
    method: PUT
  response:
    body: ""
    headers:
      Etag:
      - '"0x8D95B05BB7E931E"'
      Last-Modified:
      - Mon, 09 Aug 2021 07:17:22 GMT
      X-Ms-Request-Server-Encrypted:
      - "true"
      X-Ms-Version:
      - "2019-12-12"
      X-Ms-Version-Id:
      - "2021-08-09T07:17:22.8234526Z"
    status: 201 Created
    code: 201
    duration: ""
- request:
    body: <Tags><TagSet><Tag><Key>Microsoft Azure</Key><Value>Azure Storage</Value></Tag><Tag><Key>Storage+SDK</Key><Value>SDK/GO</Value></Tag><Tag><Key>GO
      </Key><Value>.Net</Value></Tag><Tag><Key>+-./:=_ </Key><Value>firsttag</Value></Tag><Tag><Key>tag2</Key><Value>+-./:=_</Value></Tag><Tag><Key>+-./:=_1</Key><Value>+-./:=_</Value></Tag></TagSet></Tags>
    form: {}
    headers:
      Authorization:
      - sanitized
      Content-Type:
      - application/xml
      X-Ms-Date:
      - Mon, 09 Aug 2021 07:17:23 GMT
      X-Ms-Version:
      - "2019-12-12"
    url: https://azureblobstoragecanada.blob.core.windows.net/gocpageblobsetblobtagforsnapshot/gotestblobpageblobsetblobtagforsnapshot?comp=tags
    method: PUT
  response:
    body: ""
    headers:
      X-Ms-Version:
      - "2019-12-12"
    status: 204 No Content
    code: 204
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Authorization:
      - sanitized
      X-Ms-Date:
      - Mon, 09 Aug 2021 07:17:23 GMT
      X-Ms-Version:
      - "2019-12-12"
    url: https://azureblobstoragecanada.blob.core.windows.net/gocpageblobsetblobtagforsnapshot/gotestblobpageblobsetblobtagforsnapshot?comp=snapshot
    method: PUT
  response:
    body: ""
    headers:
      Etag:
      - '"0x8D95B05BB7E931E"'
      Last-Modified:
      - Mon, 09 Aug 2021 07:17:22 GMT
      X-Ms-Request-Server-Encrypted:
      - "false"
      X-Ms-Snapshot:
      - "2021-08-09T07:17:23.3058531Z"
      X-Ms-Version:
      - "2019-12-12"
      X-Ms-Version-Id:
      - "2021-08-09T07:17:23.3068531Z"
    status: 201 Created
    code: 201
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Authorization:
      - sanitized
      X-Ms-Date:
      - Mon, 09 Aug 2021 07:17:24 GMT
      X-Ms-Version:
      - "2019-12-12"
    url: https://azureblobstoragecanada.blob.core.windows.net/gocpageblobsetblobtagforsnapshot/gotestblobpageblobsetblobtagforsnapshot?snapshot=2021-08-09T07%3A17%3A23.3058531Z
    method: HEAD
  response:
    body: ""
    headers:
      Content-Type:
      - application/octet-stream
      Etag:
      - '"0x8D95B05BB7E931E"'
      Last-Modified:
      - Mon, 09 Aug 2021 07:17:22 GMT
      X-Ms-Blob-Sequence-Number:
      - "0"
      X-Ms-Blob-Type:
      - PageBlob
      X-Ms-Creation-Time:
      - Mon, 09 Aug 2021 07:17:22 GMT
      X-Ms-Server-Encrypted:
      - "true"
      X-Ms-Tag-Count:
      - "6"
      X-Ms-Version:
      - "2019-12-12"
    status: 200 OK
    code: 200
    duration: ""
[...]
