---
version: 1
interactions:
- request:
    body: <StorageServiceProperties><DeleteRetentionPolicy><Days>1</Days><Enabled>true</Enabled></DeleteRetentionPolicy></StorageServiceProperties>
    form: {}
    headers:
      Authorization:
      - sanitized
      Content-Type:
      - application/xml
      X-Ms-Date:
      - Thu, 17 Jun 2021 04:29:37 GMT
      X-Ms-Version:
      - "2019-12-12"
    url: https://azureblobstoragecanada.blob.core.windows.net/?comp=properties&restype=service
    method: PUT
  response:
    body: ""
    headers:
      X-Ms-Version:
      - "2019-12-12"
    status: 202 Accepted
    code: 202
    duration: ""
[...]
