---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
      Authorization:
      - sanitized
      X-Ms-Date:
      - Tue, 09 Aug 2022 06:57:10 GMT
      x-ms-version:
      - "2020-10-02"
    url: https://azureblobstoragecanada.blob.core.windows.net/gocsettieronblobupload?restype=container
    method: PUT
  response:
    body: ""
    headers:
      Etag:
      - '"0x8DA79D460954A94"'
      Last-Modified:
      - Tue, 09 Aug 2022 06:57:08 GMT
      X-Ms-Version:
      - "2020-10-02"
    status: 201 Created
    code: 201
    duration: ""
- request:
    body: GoBlockBlobData
    form: {}
    headers:
      Authorization:
      - sanitized
      Content-Type:
      - application/octet-stream
      X-Ms-Date:
      - Tue, 09 Aug 2022 06:57:10 GMT
      x-ms-access-tier:
      - Archive
      x-ms-blob-cache-control:
      - control
      x-ms-blob-content-disposition:
      - my_disposition
      x-ms-blob-content-encoding:
      - my_encoding
      x-ms-blob-content-language:
      - my_language
      x-ms-blob-content-type:
      - my_type
      x-ms-blob-type:
      - BlockBlob
      x-ms-version:
      - "2020-10-02"
    url: https://azureblobstoragecanada.blob.core.windows.net/gocsettieronblobupload/archivegotestblobsettieronblobupload
    method: PUT
  response:
    body: ""
    headers:
      Content-Md5:
      - ebncwguMQu9sgPmr0GazhA==
      Etag:
      - '"0x8DA79D460BBAD92"'
      Last-Modified:
      - Tue, 09 Aug 2022 06:57:08 GMT
      X-Ms-Content-Crc64:
      - +JGsS7CR5kg=
      X-Ms-Request-Server-Encrypted:
      - "true"
      X-Ms-Version:
      - "2020-10-02"
      X-Ms-Version-Id:
      - "2022-08-09T06:57:08.9286546Z"
    status: 201 Created
    code: 201
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Authorization:
      - sanitized
      X-Ms-Date:
      - Tue, 09 Aug 2022 06:57:11 GMT
      x-ms-version:
      - "2020-10-02"
    url: https://azureblobstoragecanada.blob.core.windows.net/gocsettieronblobupload/archivegotestblobsettieronblobupload
    method: HEAD
  response:
    body: ""
    headers:
      Content-Disposition:
      - my_disposition
      Content-Language:
      - my_language
      Content-Md5:
      - ebncwguMQu9sgPmr0GazhA==
      Content-Type:
      - my_type
      Etag:
      - '"0x8DA79D460BBAD92"'
      Last-Modified:
      - Tue, 09 Aug 2022 06:57:08 GMT
      X-Ms-Access-Tier:
      - Archive
      X-Ms-Access-Tier-Change-Time:
      - Tue, 09 Aug 2022 06:57:08 GMT
      X-Ms-Blob-Type:
      - BlockBlob
      X-Ms-Creation-Time:
      - Tue, 09 Aug 2022 06:57:08 GMT
      X-Ms-Is-Current-Version:
      - "true"
      X-Ms-Lease-State:
      - available
      X-Ms-Lease-Status:
      - unlocked
      X-Ms-Server-Encrypted:
      - "true"
      X-Ms-Version:
      - "2020-10-02"
      X-Ms-Version-Id:
      - "2022-08-09T06:57:08.9286546Z"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: GoBlockBlobData
    form: {}
    headers:
      Authorization:
      - sanitized
      Content-Type:
      - application/octet-stream
      X-Ms-Date:
      - Tue, 09 Aug 2022 06:57:11 GMT
      x-ms-access-tier:
      - Cool
      x-ms-blob-cache-control:
      - control
      x-ms-blob-content-disposition:
      - my_disposition
      x-ms-blob-content-encoding:
      - my_encoding
      x-ms-blob-content-language:
      - my_language
      x-ms-blob-content-type:
      - my_type
      x-ms-blob-type:
      - BlockBlob
      x-ms-version:
      - "2020-10-02"
    url: https://azureblobstoragecanada.blob.core.windows.net/gocsettieronblobupload/coolgotestblobsettieronblobupload
    method: PUT
  response:
    body: ""
    headers:
      Content-Md5:
      - ebncwguMQu9sgPmr0GazhA==
      Etag:
      - '"0x8DA79D4610814C2"'
      Last-Modified:
      - Tue, 09 Aug 2022 06:57:09 GMT
      X-Ms-Content-Crc64:
      - +JGsS7CR5kg=
      X-Ms-Request-Server-Encrypted:
      - "true"
      X-Ms-Version:
      - "2020-10-02"
      X-Ms-Version-Id:
      - "2022-08-09T06:57:09.4293698Z"
    status: 201 Created
    code: 201
    duration: ""
[...]
- request:
    body: GoBlockBlobData
    form: {}
    headers:
      Authorization:
      - sanitized
      Content-Type:
      - application/octet-stream
      X-Ms-Date:
      - Tue, 09 Aug 2022 06:57:11 GMT
      x-ms-access-tier:
      - Hot
      x-ms-blob-cache-control:
      - control
      x-ms-blob-content-disposition:
      - my_disposition
      x-ms-blob-content-encoding:
      - my_encoding
      x-ms-blob-content-language:
      - my_language
      x-ms-blob-content-type:
      - my_type
      x-ms-blob-type:
      - BlockBlob
      x-ms-version:
      - "2020-10-02"
    url: https://azureblobstoragecanada.blob.core.windows.net/gocsettieronblobupload/hotgotestblobsettieronblobupload
    method: PUT
  response:
    body: ""
    headers:
      Content-Md5:
      - ebncwguMQu9sgPmr0GazhA==
      Etag:
      - '"0x8DA79D4615454E4"'
      Last-Modified:
      - Tue, 09 Aug 2022 06:57:09 GMT
      X-Ms-Content-Crc64:
      - +JGsS7CR5kg=
      X-Ms-Request-Server-Encrypted:
      - "true"
      X-Ms-Version:
      - "2020-10-02"
      X-Ms-Version-Id:
      - "2022-08-09T06:57:09.9300844Z"
    status: 201 Created
    code: 201
    duration: ""
[...]
