---
version: 1
interactions:
  - request:
      body: <StorageServiceProperties><DeleteRetentionPolicy><Enabled>true</Enabled><Days>366</Days></DeleteRetentionPolicy></StorageServiceProperties>
      form: { }
      headers:
        Authorization:
          - sanitized
        Content-Type:
          - application/xml
        X-Ms-Date:
          - Wed, 11 Aug 2021 18:49:28 GMT
        X-Ms-Version:
          - "2020-02-10"
      url: https://azureblobstoragecanada.blob.core.windows.net/?comp=properties&restype=service
      method: PUT
    response:
      body: "\uFEFF\x3C\x3F\x78\x6D\x6C\x20\x76\x65\x72\x73\x69\x6F\x6E\x3D\"\x31\x2E\x30\"\x20\x65\x6E\x63\x6F\x64\x69\x6E\x67\x3D\"\x75\x74\x66\x2D\x38\"\x3F\x3E\x3C\x45\x72\x72\x6F\x72\x3E\x3C\x43\x6F\x64\x65\x3E\x49\x6E\x76\x61\x6C\x69\x64\x58\x6D\x6C\x44\x6F\x63\x75\x6D\x65\x6E\x74\x3C\x2F\x43\x6F\x64\x65\x3E\x3C\x4D\x65\x73\x73\x61\x67\x65\x3E\x58\x4D\x4C\x20\x73\x70\x65\x63\x69\x66\x69\x65\x64\x20\x69\x73\x20\x6E\x6F\x74\x20\x73\x79\x6E\x74\x61\x63\x74\x69\x63\x61\x6C\x6C\x79\x20\x76\x61[...]
