---
version: 1
interactions:
- request:
    body: <StorageServiceProperties><DeleteRetentionPolicy><Enabled>true</Enabled><Days>1</Days></DeleteRetentionPolicy></StorageServiceProperties>
    form: {}
    headers:
      Authorization:
      - sanitized
      Content-Type:
      - application/xml
      X-Ms-Date:
      - Wed, 11 Aug 2021 10:06:49 GMT
      X-Ms-Version:
      - "2020-02-10"
    url: https://azureblobstoragecanada.blob.core.windows.net/?comp=properties&restype=service
    method: PUT
  response:
    body: ""
    headers:
      X-Ms-Version:
      - "2020-02-10"
    status: 202 Accepted
    code: 202
    duration: ""
[...]
