---
version: 1
interactions:
  - request:
      body: ""
      form: { }
      headers:
        Authorization:
          - sanitized
        X-Ms-Date:
          - Wed, 11 Aug 2021 18:57:17 GMT
        X-Ms-Version:
          - "2020-02-10"
      url: https://azureblobstoragecanada.blob.core.windows.net/goccontainersetpermissionssignedidentifiertoolong?restype=container
      method: PUT
    response:
      body: ""
      headers:
        Etag:
          - '"0x8D95CF9D6BCD043"'
        Last-Modified:
          - Wed, 11 Aug 2021 18:57:16 GMT
        X-Ms-Version:
          - "2020-02-10"
      status: 201 Created
      code: 201
      duration: ""
  - request:
      body: <SignedIdentifiers><SignedIdentifier><AccessPolicy><Permission>r</Permission><Expiry>2021-06-11T20:00:00Z</Expiry><Start>2021-06-11T20:05:00Z</Start></AccessPolicy><Id>aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa</Id></SignedIdentifier><SignedIdentifier><AccessPolicy><Permission>r</Permission><Expiry>2021-06-11T20:00:00Z</Expiry><Start>2021-06-11T20:05:00Z</Start></AccessPolicy><Id>aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa</Id></SignedIdentifier></SignedIdentifiers>
      form: { }
      headers:
        Authorization:
          - sanitized
        Content-Type:
          - application/xml
        X-Ms-Blob-Public-Access:
          - blob
        X-Ms-Date:
          - Wed, 11 Aug 2021 18:57:18 GMT
        X-Ms-Version:
          - "2020-02-10"
      url: https://azureblobstoragecanada.blob.core.windows.net/goccontainersetpermissionssignedidentifiertoolong?comp=acl&restype=container
      method: PUT
    response:
      body: "\uFEFF\x3C\x3F\x78\x6D\x6C\x20\x76\x65\x72\x73\x69\x6F\x6E\x3D\"\x31\x2E\x30\"\x20\x65\x6E\x63\x6F\x64\x69\x6E\x67\x3D\"\x75\x74\x66\x2D\x38\"\x3F\x3E\x3C\x45\x72\x72\x6F\x72\x3E\x3C\x43\x[...]
[...]
