---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
      Authorization:
      - sanitized
      X-Ms-Date:
      - Thu, 07 Apr 2022 12:25:16 GMT
      X-Ms-Version:
      - "2020-10-02"
    url: https://azureblobstoragecanada.blob.core.windows.net/goccontainergetsetpermissionsmultiplepolicies?restype=container
    method: PUT
  response:
    body: ""
    headers:
      Etag:
      - '"0x8DA1891AC9564BE"'
      Last-Modified:
      - Thu, 07 Apr 2022 12:25:17 GMT
      X-Ms-Version:
      - "2020-10-02"
    status: 201 Created
    code: 201
    duration: ""
- request:
    body: <SignedIdentifiers><SignedIdentifier><AccessPolicy><Permission>rw</Permission><Expiry>2021-06-11T20:05:00Z</Expiry><Start>2021-06-11T20:00:00Z</Start></AccessPolicy><Id>0000</Id></SignedIdentifier><SignedIdentifier><AccessPolicy><Permission>r</Permission><Expiry>2021-06-11T20:01:00Z</Expiry><Start>2021-06-11T20:00:00Z</Start></AccessPolicy><Id>0001</Id></SignedIdentifier></SignedIdentifiers>
    form: {}
    headers:
      Authorization:
      - sanitized
      Content-Type:
      - application/xml
      X-Ms-Date:
      - Thu, 07 Apr 2022 12:25:16 GMT
      X-Ms-Version:
      - "2020-10-02"
    url: https://azureblobstoragecanada.blob.core.windows.net/goccontainergetsetpermissionsmultiplepolicies?comp=acl&restype=container
    method: PUT
  response:
    body: ""
    headers:
      Etag:
      - '"0x8DA1891ACD3C363"'
      Last-Modified:
      - Thu, 07 Apr 2022 12:25:17 GMT
      X-Ms-Version:
      - "2020-10-02"
    status: 200 OK
    code: 200
    duration: ""
[...]
