---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
      Authorization:
      - sanitized
      X-Ms-Date:
      - Mon, 25 Jul 2022 11:47:02 GMT
      x-ms-version:
      - "2020-10-02"
    url: https://azureblobstoragecanada.blob.core.windows.net/gocblobstartcopydestifmatchtrue?restype=container
    method: PUT
  response:
    body: ""
    headers:
      Etag:
      - '"0x8DA6E336375C133"'
      Last-Modified:
      - Mon, 25 Jul 2022 11:47:01 GMT
      X-Ms-Version:
      - "2020-10-02"
    status: 201 Created
    code: 201
    duration: ""
- request:
    body: GoBlockBlobData
    form: {}
    headers:
      Authorization:
      - sanitized
      Content-Type:
      - application/octet-stream
      X-Ms-Date:
      - Mon, 25 Jul 2022 11:47:02 GMT
      x-ms-blob-type:
      - BlockBlob
      x-ms-version:
      - "2020-10-02"
    url: https://azureblobstoragecanada.blob.core.windows.net/gocblobstartcopydestifmatchtrue/gotestblobblobstartcopydestifmatchtrue
    method: PUT
  response:
    body: ""
    headers:
      Content-Md5:
      - ebncwguMQu9sgPmr0GazhA==
      Etag:
      - '"0x8DA6E3363AA485C"'
      Last-Modified:
      - Mon, 25 Jul 2022 11:47:02 GMT
      X-Ms-Content-Crc64:
      - +JGsS7CR5kg=
      X-Ms-Request-Server-Encrypted:
      - "true"
      X-Ms-Version:
      - "2020-10-02"
      X-Ms-Version-Id:
      - "2022-07-25T11:47:02.0847977Z"
    status: 201 Created
    code: 201
    duration: ""
- request:
    body: GoBlockBlobData
    form: {}
    headers:
      Authorization:
      - sanitized
      Content-Type:
      - application/octet-stream
      X-Ms-Date:
      - Mon, 25 Jul 2022 11:47:03 GMT
      x-ms-blob-type:
      - BlockBlob
      x-ms-version:
      - "2020-10-02"
    url: https://azureblobstoragecanada.blob.core.windows.net/gocblobstartcopydestifmatchtrue/destgotestblobblobstartcopydestifmatchtrue
    method: PUT
  response:
    body: ""
    headers:
      Content-Md5:
      - ebncwguMQu9sgPmr0GazhA==
      Etag:
      - '"0x8DA6E3363CF7E36"'
      Last-Modified:
      - Mon, 25 Jul 2022 11:47:02 GMT
      X-Ms-Content-Crc64:
      - +JGsS7CR5kg=
      X-Ms-Request-Server-Encrypted:
      - "true"
      X-Ms-Version:
      - "2020-10-02"
      X-Ms-Version-Id:
      - "2022-07-25T11:47:02.3276598Z"
    status: 201 Created
    code: 201
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Authorization:
      - sanitized
      X-Ms-Date:
      - Mon, 25 Jul 2022 11:47:03 GMT
      x-ms-version:
      - "2020-10-02"
    url: https://azureblobstoragecanada.blob.core.windows.net/gocblobstartcopydestifmatchtrue/destgotestblobblobstartcopydestifmatchtrue
    method: HEAD
  response:
    body: ""
    headers:
      Content-Md5:
      - ebncwguMQu9sgPmr0GazhA==
      Content-Type:
      - application/octet-stream
      Etag:
      - '"0x8DA6E3363CF7E36"'
      Last-Modified:
      - Mon, 25 Jul 2022 11:47:02 GMT
      X-Ms-Access-Tier:
      - Hot
      X-Ms-Access-Tier-Inferred:
      - "true"
      X-Ms-Blob-Type:
      - BlockBlob
      X-Ms-Creation-Time:
      - Mon, 25 Jul 2022 11:47:02 GMT
      X-Ms-Is-Current-Version:
      - "true"
      X-Ms-Lease-State:
      - available
      X-Ms-Lease-Status:
      - unlocked
      X-Ms-Server-Encrypted:
      - "true"
      X-Ms-Version:
      - "2020-10-02"
      X-Ms-Version-Id:
      - "2022-07-25T11:47:02.3276598Z"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Authorization:
      - sanitized
      If-Match:
      - '"0x8DA6E3363CF7E36"'
      X-Ms-Date:
      - Mon, 25 Jul 2022 11:47:03 GMT
      x-ms-copy-source:
      - https://azureblobstoragecanada.blob.core.windows.net/gocblobstartcopydestifmatchtrue/gotestblobblobstartcopydestifmatchtrue
      x-ms-version:
      - "2020-10-02"
    url: https://azureblobstoragecanada.blob.core.windows.net/gocblobstartcopydestifmatchtrue/destgotestblobblobstartcopydestifmatchtrue
    method: PUT
  response:
    body: ""
    headers:
      Etag:
      - '"0x8DA6E33643EF8B3"'
      Last-Modified:
      - Mon, 25 Jul 2022 11:47:03 GMT
      X-Ms-Copy-Id:
      - ad16b0a8-de74-4bc6-957f-9297b4a29fe1
      X-Ms-Copy-Status:
      - success
      X-Ms-Version:
      - "2020-10-02"
      X-Ms-Version-Id:
      - "2022-07-25T11:47:03.0592451Z"
    status: 202 Accepted
    code: 202
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Authorization:
      - sanitized
      X-Ms-Date:
      - Mon, 25 Jul 2022 11:47:04 GMT
      x-ms-version:
      - "2020-10-02"
    url: https://azureblobstoragecanada.blob.core.windows.net/gocblobstartcopydestifmatchtrue/destgotestblobblobstartcopydestifmatchtrue
    method: HEAD
  response:
    body: ""
    headers:
      Content-Md5:
      - ebncwguMQu9sgPmr0GazhA==
      Content-Type:
      - application/octet-stream
      Etag:
      - '"0x8DA6E33643EF8B3"'
      Last-Modified:
      - Mon, 25 Jul 2022 11:47:03 GMT
      X-Ms-Access-Tier:
      - Hot
      X-Ms-Access-Tier-Inferred:
      - "true"
      X-Ms-Blob-Type:
      - BlockBlob
      X-Ms-Copy-Completion-Time:
      - Mon, 25 Jul 2022 11:47:03 GMT
      X-Ms-Copy-Id:
      - ad16b0a8-de74-4bc6-957f-9297b4a29fe1
      X-Ms-Copy-Progress:
      - 15/15
      X-Ms-Copy-Source:
      - https://azureblobstoragecanada.blob.core.windows.net/gocblobstartcopydestifmatchtrue/gotestblobblobstartcopydestifmatchtrue
      X-Ms-Copy-Status:
      - success
      X-Ms-Creation-Time:
      - Mon, 25 Jul 2022 11:47:02 GMT
      X-Ms-Is-Current-Version:
      - "true"
      X-Ms-Lease-State:
      - available
      X-Ms-Lease-Status:
      - unlocked
      X-Ms-Server-Encrypted:
      - "true"
      X-Ms-Version:
      - "2020-10-02"
      X-Ms-Version-Id:
      - "2022-07-25T11:47:03.0592451Z"
    status: 200 OK
    code: 200
    duration: ""
[...]
