---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
      Authorization:
      - sanitized
      X-Ms-Date:
      - Mon, 25 Jul 2022 20:45:23 GMT
      x-ms-version:
      - "2020-10-02"
    url: https://azureblobstoragecanada.blob.core.windows.net/gocblobcreatepageifnonematchtrue?restype=container
    method: PUT
  response:
    body: ""
    headers:
      Etag:
      - '"0x8DA6E7E98F1DCA8"'
      Last-Modified:
      - Mon, 25 Jul 2022 20:45:23 GMT
      X-Ms-Version:
      - "2020-10-02"
    status: 201 Created
    code: 201
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Authorization:
      - sanitized
      X-Ms-Date:
      - Mon, 25 Jul 2022 20:45:24 GMT
      x-ms-blob-content-length:
      - "5120"
      x-ms-blob-type:
      - PageBlob
      x-ms-version:
      - "2020-10-02"
    url: https://azureblobstoragecanada.blob.core.windows.net/gocblobcreatepageifnonematchtrue/gotestblobblobcreatepageifnonematchtrue
    method: PUT
  response:
    body: ""
    headers:
      Etag:
      - '"0x8DA6E7E991AB855"'
      Last-Modified:
      - Mon, 25 Jul 2022 20:45:23 GMT
      X-Ms-Request-Server-Encrypted:
      - "true"
      X-Ms-Version:
      - "2020-10-02"
      X-Ms-Version-Id:
      - "2022-07-25T20:45:23.9946325Z"
    status: 201 Created
    code: 201
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Authorization:
      - sanitized
      If-None-Match:
      - garbage
      X-Ms-Date:
      - Mon, 25 Jul 2022 20:45:24 GMT
      x-ms-blob-cache-control:
      - control
      x-ms-blob-content-disposition:
      - my_disposition
      x-ms-blob-content-encoding:
      - my_encoding
      x-ms-blob-content-language:
      - my_language
      x-ms-blob-content-length:
      - "512"
      x-ms-blob-content-type:
      - my_type
      x-ms-blob-sequence-number:
      - "0"
      x-ms-blob-type:
      - PageBlob
      x-ms-meta-Foo:
      - bar
      x-ms-version:
      - "2020-10-02"
    url: https://azureblobstoragecanada.blob.core.windows.net/gocblobcreatepageifnonematchtrue/gotestblobblobcreatepageifnonematchtrue
    method: PUT
  response:
    body: ""
    headers:
      Etag:
      - '"0x8DA6E7E993FEE28"'
      Last-Modified:
      - Mon, 25 Jul 2022 20:45:24 GMT
      X-Ms-Request-Server-Encrypted:
      - "true"
      X-Ms-Version:
      - "2020-10-02"
      X-Ms-Version-Id:
      - "2022-07-25T20:45:24.2394936Z"
    status: 201 Created
    code: 201
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Authorization:
      - sanitized
      X-Ms-Date:
      - Mon, 25 Jul 2022 20:45:24 GMT
      x-ms-version:
      - "2020-10-02"
    url: https://azureblobstoragecanada.blob.core.windows.net/gocblobcreatepageifnonematchtrue/gotestblobblobcreatepageifnonematchtrue
    method: HEAD
  response:
    body: ""
    headers:
      Content-Disposition:
      - my_disposition
      Content-Language:
      - my_language
      Content-Type:
      - my_type
      Etag:
      - '"0x8DA6E7E993FEE28"'
      Last-Modified:
      - Mon, 25 Jul 2022 20:45:24 GMT
      X-Ms-Blob-Sequence-Number:
      - "0"
      X-Ms-Blob-Type:
      - PageBlob
      X-Ms-Creation-Time:
      - Mon, 25 Jul 2022 20:45:24 GMT
      X-Ms-Is-Current-Version:
      - "true"
      X-Ms-Lease-State:
      - available
      X-Ms-Lease-Status:
      - unlocked
      X-Ms-Meta-Foo:
      - bar
      X-Ms-Server-Encrypted:
      - "true"
      X-Ms-Version:
      - "2020-10-02"
      X-Ms-Version-Id:
      - "2022-07-25T20:45:24.2394936Z"
    status: 200 OK
    code: 200
    duration: ""
[...]
