---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
      Authorization:
      - sanitized
      X-Ms-Date:
      - Mon, 25 Jul 2022 20:48:39 GMT
      x-ms-version:
      - "2020-10-02"
    url: https://azureblobstoragecanada.blob.core.windows.net/gocblobstartcopysourceifunmodifiedsincetrue?restype=container
    method: PUT
  response:
    body: ""
    headers:
      Etag:
      - '"0x8DA6E7F0DB6DA7B"'
      Last-Modified:
      - Mon, 25 Jul 2022 20:48:39 GMT
      X-Ms-Version:
      - "2020-10-02"
    status: 201 Created
    code: 201
    duration: ""
- request:
    body: GoBlockBlobData
    form: {}
    headers:
      Authorization:
      - sanitized
      Content-Type:
      - application/octet-stream
      X-Ms-Date:
      - Mon, 25 Jul 2022 20:48:40 GMT
      x-ms-blob-type:
      - BlockBlob
      x-ms-version:
      - "2020-10-02"
    url: https://azureblobstoragecanada.blob.core.windows.net/gocblobstartcopysourceifunmodifiedsincetrue/gotestblobblobstartcopysourceifunmodifiedsincetrue
    method: PUT
  response:
    body: ""
    headers:
      Content-Md5:
      - ebncwguMQu9sgPmr0GazhA==
      Etag:
      - '"0x8DA6E7F0DDE04BC"'
      Last-Modified:
      - Mon, 25 Jul 2022 20:48:39 GMT
      X-Ms-Content-Crc64:
      - +JGsS7CR5kg=
      X-Ms-Request-Server-Encrypted:
      - "true"
      X-Ms-Version:
      - "2020-10-02"
      X-Ms-Version-Id:
      - "2022-07-25T20:48:39.8902460Z"
    status: 201 Created
    code: 201
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Authorization:
      - sanitized
      X-Ms-Date:
      - Mon, 25 Jul 2022 20:48:40 GMT
      x-ms-copy-source:
      - https://azureblobstoragecanada.blob.core.windows.net/gocblobstartcopysourceifunmodifiedsincetrue/gotestblobblobstartcopysourceifunmodifiedsincetrue
      x-ms-source-if-unmodified-since:
      - Mon, 25 Jul 2022 20:48:49 GMT
      x-ms-version:
      - "2020-10-02"
    url: https://azureblobstoragecanada.blob.core.windows.net/gocblobstartcopysourceifunmodifiedsincetrue/dstgotestblobblobstartcopysourceifunmodifiedsincetrue
    method: PUT
  response:
    body: ""
    headers:
      Etag:
      - '"0x8DA6E7F0E0472F5"'
      Last-Modified:
      - Mon, 25 Jul 2022 20:48:40 GMT
      X-Ms-Copy-Id:
      - 6b1d231c-e4ed-43cd-b788-52419a3d8997
      X-Ms-Copy-Status:
      - success
      X-Ms-Version:
      - "2020-10-02"
      X-Ms-Version-Id:
      - "2022-07-25T20:48:40.1431043Z"
    status: 202 Accepted
    code: 202
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Authorization:
      - sanitized
      X-Ms-Date:
      - Mon, 25 Jul 2022 20:48:40 GMT
      x-ms-version:
      - "2020-10-02"
    url: https://azureblobstoragecanada.blob.core.windows.net/gocblobstartcopysourceifunmodifiedsincetrue/dstgotestblobblobstartcopysourceifunmodifiedsincetrue
    method: HEAD
  response:
    body: ""
    headers:
      Content-Md5:
      - ebncwguMQu9sgPmr0GazhA==
      Content-Type:
      - application/octet-stream
      Etag:
      - '"0x8DA6E7F0E0472F5"'
      Last-Modified:
      - Mon, 25 Jul 2022 20:48:40 GMT
      X-Ms-Access-Tier:
      - Hot
      X-Ms-Access-Tier-Inferred:
      - "true"
      X-Ms-Blob-Type:
      - BlockBlob
      X-Ms-Copy-Completion-Time:
      - Mon, 25 Jul 2022 20:48:40 GMT
      X-Ms-Copy-Id:
      - 6b1d231c-e4ed-43cd-b788-52419a3d8997
      X-Ms-Copy-Progress:
      - 15/15
      X-Ms-Copy-Source:
      - https://azureblobstoragecanada.blob.core.windows.net/gocblobstartcopysourceifunmodifiedsincetrue/gotestblobblobstartcopysourceifunmodifiedsincetrue
      X-Ms-Copy-Status:
      - success
      X-Ms-Creation-Time:
      - Mon, 25 Jul 2022 20:48:40 GMT
      X-Ms-Is-Current-Version:
      - "true"
      X-Ms-Lease-State:
      - available
      X-Ms-Lease-Status:
      - unlocked
      X-Ms-Server-Encrypted:
      - "true"
      X-Ms-Version:
      - "2020-10-02"
      X-Ms-Version-Id:
      - "2022-07-25T20:48:40.1431043Z"
    status: 200 OK
    code: 200
    duration: ""
[...]
