---
version: 1
interactions:
  - request:
      body: ""
      form: { }
      headers:
        Authorization:
          - sanitized
        X-Ms-Date:
          - Sat, 12 Jun 2021 19:17:10 GMT
        X-Ms-Version:
          - "2019-12-12"
      url: https://azureblobstrgmohitcanada.blob.core.windows.net/goccontainersetpermissionsinvalidpolicytimes?restype=container
      method: PUT
    response:
      body: ""
      headers:
        Etag:
          - '"0x8D92DD6ADC83BF6"'
        Last-Modified:
          - Sat, 12 Jun 2021 19:17:11 GMT
        X-Ms-Version:
          - "2019-12-12"
      status: 201 Created
      code: 201
      duration: ""
  - request:
      body: <SignedIdentifiers><SignedIdentifier><AccessPolicy><Permission>r</Permission><Expiry>2021-06-11T20:00:00Z</Expiry><Start>2049-06-11T20:00:00Z</Start></AccessPolicy><Id>0000</Id></SignedIdentifier><SignedIdentifier><AccessPolicy><Permission>r</Permission><Expiry>2021-06-11T20:00:00Z</Expiry><Start>2049-06-11T20:00:00Z</Start></AccessPolicy><Id>0001</Id></SignedIdentifier></SignedIdentifiers>
      form: { }
      headers:
        Authorization:
          - sanitized
        Content-Type:
          - application/xml
        X-Ms-Blob-Public-Access:
          - blob
        X-Ms-Date:
          - Sat, 12 Jun 2021 19:17:11 GMT
        X-Ms-Version:
          - "2019-12-12"
      url: https://azureblobstrgmohitcanada.blob.core.windows.net/goccontainersetpermissionsinvalidpolicytimes?comp=acl&restype=container
      method: PUT
    response:
      body: ""
      headers:
        Etag:
          - '"0x8D92DD6ADECC338"'
        Last-Modified:
          - Sat, 12 Jun 2021 19:17:11 GMT
        X-Ms-Version:
          - "2019-12-12"
      status: 200 OK
      code: 200
      duration: ""
[...]
