---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
      Authorization:
      - sanitized
      X-Ms-Date:
      - Mon, 09 Aug 2021 07:17:41 GMT
      X-Ms-Version:
      - "2019-12-12"
    url: https://azureblobstoragecanada.blob.core.windows.net/gocsetblobtagswithvid?restype=container
    method: PUT
  response:
    body: ""
    headers:
      Etag:
      - '"0x8D95B05C692295C"'
      Last-Modified:
      - Mon, 09 Aug 2021 07:17:41 GMT
      X-Ms-Version:
      - "2019-12-12"
    status: 201 Created
    code: 201
    duration: ""
- request:
    body: data
    form: {}
    headers:
      Authorization:
      - sanitized
      Content-Type:
      - application/octet-stream
      X-Ms-Blob-Type:
      - BlockBlob
      X-Ms-Date:
      - Mon, 09 Aug 2021 07:17:42 GMT
      X-Ms-Version:
      - "2019-12-12"
    url: https://azureblobstoragecanada.blob.core.windows.net/gocsetblobtagswithvid/gotestblobsetblobtagswithvid
    method: PUT
  response:
    body: ""
    headers:
      Content-Md5:
      - jXd/OF09/siBXSD3SWAm3A==
      Etag:
      - '"0x8D95B05C6B723D9"'
      Last-Modified:
      - Mon, 09 Aug 2021 07:17:41 GMT
      X-Ms-Content-Crc64:
      - gCf8jkNhru0=
      X-Ms-Request-Server-Encrypted:
      - "true"
      X-Ms-Version:
      - "2019-12-12"
      X-Ms-Version-Id:
      - "2021-08-09T07:17:41.6490969Z"
    status: 201 Created
    code: 201
    duration: ""
[...]
- request:
    body: <Tags><TagSet><Tag><Key>Python</Key><Value>CSharp</Value></Tag><Tag><Key>Javascript</Key><Value>Android</Value></Tag><Tag><Key>Go</Key><Value>CPlusPlus</Value></Tag></TagSet></Tags>
    form: {}
    headers:
      Authorization:
      - sanitized
      Content-Type:
      - application/xml
      X-Ms-Date:
      - Mon, 09 Aug 2021 07:17:42 GMT
      X-Ms-Version:
      - "2019-12-12"
    url: https://azureblobstoragecanada.blob.core.windows.net/gocsetblobtagswithvid/gotestblobsetblobtagswithvid?comp=tags&versionid=2021-08-09T07%3A17%3A41.6490969Z
    method: PUT
  response:
    body: ""
    headers:
      X-Ms-Version:
      - "2019-12-12"
    status: 204 No Content
    code: 204
    duration: ""
[...]
