---
version: 1
interactions:
  - request:
      body: ""
      form: { }
      headers:
        Authorization:
          - sanitized
        X-Ms-Date:
          - Wed, 11 Aug 2021 18:57:07 GMT
        X-Ms-Version:
          - "2020-02-10"
      url: https://azureblobstoragecanada.blob.core.windows.net/goccontainersetpermissionsdeleteallpolicies?restype=container
      method: PUT
    response:
      body: ""
      headers:
        Etag:
          - '"0x8D95CF9D0E82C03"'
        Last-Modified:
          - Wed, 11 Aug 2021 18:57:07 GMT
        X-Ms-Version:
          - "2020-02-10"
      status: 201 Created
      code: 201
      duration: ""
  - request:
      body: <SignedIdentifiers><SignedIdentifier><AccessPolicy><Permission>r</Permission><Expiry>2049-06-11T20:00:00Z</Expiry><Start>2021-06-11T20:00:00Z</Start></AccessPolicy><Id>0000</Id></SignedIdentifier><SignedIdentifier><AccessPolicy><Permission>r</Permission><Expiry>2049-06-11T20:00:00Z</Expiry><Start>2021-06-11T20:00:00Z</Start></AccessPolicy><Id>0001</Id></SignedIdentifier></SignedIdentifiers>
      form: { }
      headers:
        Authorization:
          - sanitized
        Content-Type:
          - application/xml
        X-Ms-Blob-Public-Access:
          - blob
        X-Ms-Date:
          - Wed, 11 Aug 2021 18:57:08 GMT
        X-Ms-Version:
          - "2020-02-10"
      url: https://azureblobstoragecanada.blob.core.windows.net/goccontainersetpermissionsdeleteallpolicies?comp=acl&restype=container
      method: PUT
    response:
      body: ""
      headers:
        Etag:
          - '"0x8D95CF9D10D8DBA"'
        Last-Modified:
          - Wed, 11 Aug 2021 18:57:07 GMT
        X-Ms-Version:
          - "2020-02-10"
      status: 200 OK
      code: 200
      duration: ""
[...]
