---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
      Authorization:
      - sanitized
      X-Ms-Date:
      - Wed, 11 Aug 2021 10:09:28 GMT
      X-Ms-Version:
      - "2020-02-10"
    url: https://azureblobstoragecanada.blob.core.windows.net/gocgetpropertiesreturnstagscount?restype=container
    method: PUT
  response:
    body: ""
    headers:
      Etag:
      - '"0x8D95CB01A32EAA0"'
      Last-Modified:
      - Wed, 11 Aug 2021 10:09:27 GMT
      X-Ms-Version:
      - "2020-02-10"
    status: 201 Created
    code: 201
    duration: ""
- request:
    body: data
    form: {}
    headers:
      Authorization:
      - sanitized
      Content-Type:
      - application/octet-stream
      X-Ms-Blob-Cache-Control:
      - control
      X-Ms-Blob-Content-Disposition:
      - my_disposition
      X-Ms-Blob-Content-Encoding:
      - my_encoding
      X-Ms-Blob-Content-Language:
      - my_language
      X-Ms-Blob-Content-Type:
      - my_type
      X-Ms-Blob-Type:
      - BlockBlob
      X-Ms-Date:
      - Wed, 11 Aug 2021 10:09:28 GMT
      X-Ms-Meta-Foo:
      - bar
      X-Ms-Tags:
      - azure=blob&blob=sdk&sdk=go
      X-Ms-Version:
      - "2020-02-10"
    url: https://azureblobstoragecanada.blob.core.windows.net/gocgetpropertiesreturnstagscount/gotestblobgetpropertiesreturnstagscount
    method: PUT
  response:
    body: ""
    headers:
      Content-Md5:
      - jXd/OF09/siBXSD3SWAm3A==
      Etag:
      - '"0x8D95CB01A57F414"'
      Last-Modified:
      - Wed, 11 Aug 2021 10:09:27 GMT
      X-Ms-Content-Crc64:
      - gCf8jkNhru0=
      X-Ms-Request-Server-Encrypted:
      - "true"
      X-Ms-Version:
      - "2020-02-10"
      X-Ms-Version-Id:
      - "2021-08-11T10:09:27.5607060Z"
    status: 201 Created
    code: 201
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Authorization:
      - sanitized
      X-Ms-Date:
      - Wed, 11 Aug 2021 10:09:28 GMT
      X-Ms-Version:
      - "2020-02-10"
    url: https://azureblobstoragecanada.blob.core.windows.net/gocgetpropertiesreturnstagscount/gotestblobgetpropertiesreturnstagscount
    method: HEAD
  response:
    body: ""
    headers:
      Content-Disposition:
      - my_disposition
      Content-Language:
      - my_language
      Content-Md5:
      - jXd/OF09/siBXSD3SWAm3A==
      Content-Type:
      - my_type
      Etag:
      - '"0x8D95CB01A57F414"'
      Last-Modified:
      - Wed, 11 Aug 2021 10:09:27 GMT
      X-Ms-Access-Tier:
      - Hot
      X-Ms-Access-Tier-Inferred:
      - "true"
      X-Ms-Blob-Type:
      - BlockBlob
      X-Ms-Creation-Time:
      - Wed, 11 Aug 2021 10:09:27 GMT
      X-Ms-Is-Current-Version:
      - "true"
      X-Ms-Lease-State:
      - available
      X-Ms-Lease-Status:
      - unlocked
      X-Ms-Meta-Foo:
      - bar
      X-Ms-Server-Encrypted:
      - "true"
      X-Ms-Tag-Count:
      - "3"
      X-Ms-Version:
      - "2020-02-10"
      X-Ms-Version-Id:
      - "2021-08-11T10:09:27.5607060Z"
    status: 200 OK
    code: 200
    duration: ""
[...]
