---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
      Authorization:
      - sanitized
      X-Ms-Date:
      - Mon, 25 Jul 2022 11:47:59 GMT
      x-ms-version:
      - "2020-10-02"
    url: https://azureblobstoragecanada.blob.core.windows.net/goccontainergetsetpermissionsmultiplepolicies?restype=container
    method: PUT
  response:
    body: ""
    headers:
      Etag:
      - '"0x8DA6E33852B1FCD"'
      Last-Modified:
      - Mon, 25 Jul 2022 11:47:58 GMT
      X-Ms-Version:
      - "2020-10-02"
    status: 201 Created
    code: 201
    duration: ""
- request:
    body: |-
      <?xml version="1.0" encoding="UTF-8"?>
      <SignedIdentifiers><SignedIdentifier><AccessPolicy><Permission>rw</Permission><Expiry>2021-06-11T20:05:00Z</Expiry><Start>2021-06-11T20:00:00Z</Start></AccessPolicy><Id>0000</Id></SignedIdentifier><SignedIdentifier><AccessPolicy><Permission>r</Permission><Expiry>2021-06-11T20:01:00Z</Expiry><Start>2021-06-11T20:00:00Z</Start></AccessPolicy><Id>0001</Id></SignedIdentifier></SignedIdentifiers>
    form: {}
    headers:
      Authorization:
      - sanitized
      Content-Type:
      - application/xml
      X-Ms-Date:
      - Mon, 25 Jul 2022 11:47:59 GMT
      x-ms-version:
      - "2020-10-02"
    url: https://azureblobstoragecanada.blob.core.windows.net/goccontainergetsetpermissionsmultiplepolicies?comp=acl&restype=container
    method: PUT
  response:
    body: ""
    headers:
      Etag:
      - '"0x8DA6E33854F8157"'
      Last-Modified:
      - Mon, 25 Jul 2022 11:47:58 GMT
      X-Ms-Version:
      - "2020-10-02"
    status: 200 OK
    code: 200
    duration: ""
[...]
