---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
      Authorization:
      - sanitized
      X-Ms-Date:
      - Mon, 25 Jul 2022 18:32:59 GMT
      x-ms-version:
      - "2020-10-02"
    url: https://azureblobstoragecanada.blob.core.windows.net/gocblobcreatepageifmatchtrue?restype=container
    method: PUT
  response:
    body: ""
    headers:
      Etag:
      - '"0x8DA6E6C196FF69D"'
      Last-Modified:
      - Mon, 25 Jul 2022 18:32:58 GMT
      X-Ms-Version:
      - "2020-10-02"
    status: 201 Created
    code: 201
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Authorization:
      - sanitized
      X-Ms-Date:
      - Mon, 25 Jul 2022 18:32:59 GMT
      x-ms-blob-content-length:
      - "5120"
      x-ms-blob-type:
      - PageBlob
      x-ms-version:
      - "2020-10-02"
    url: https://azureblobstoragecanada.blob.core.windows.net/gocblobcreatepageifmatchtrue/gotestblobblobcreatepageifmatchtrue
    method: PUT
  response:
    body: ""
    headers:
      Etag:
      - '"0x8DA6E6C1995741D"'
      Last-Modified:
      - Mon, 25 Jul 2022 18:32:59 GMT
      X-Ms-Request-Server-Encrypted:
      - "true"
      X-Ms-Version:
      - "2020-10-02"
      X-Ms-Version-Id:
      - "2022-07-25T18:32:59.1094813Z"
    status: 201 Created
    code: 201
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Authorization:
      - sanitized
      X-Ms-Date:
      - Mon, 25 Jul 2022 18:32:59 GMT
      x-ms-version:
      - "2020-10-02"
    url: https://azureblobstoragecanada.blob.core.windows.net/gocblobcreatepageifmatchtrue/gotestblobblobcreatepageifmatchtrue
    method: HEAD
  response:
    body: ""
    headers:
      Content-Type:
      - application/octet-stream
      Etag:
      - '"0x8DA6E6C1995741D"'
      Last-Modified:
      - Mon, 25 Jul 2022 18:32:59 GMT
      X-Ms-Blob-Sequence-Number:
      - "0"
      X-Ms-Blob-Type:
      - PageBlob
      X-Ms-Creation-Time:
      - Mon, 25 Jul 2022 18:32:59 GMT
      X-Ms-Is-Current-Version:
      - "true"
      X-Ms-Lease-State:
      - available
      X-Ms-Lease-Status:
      - unlocked
      X-Ms-Server-Encrypted:
      - "true"
      X-Ms-Version:
      - "2020-10-02"
      X-Ms-Version-Id:
      - "2022-07-25T18:32:59.1094813Z"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Authorization:
      - sanitized
      If-Match:
      - '"0x8DA6E6C1995741D"'
      X-Ms-Date:
      - Mon, 25 Jul 2022 18:32:59 GMT
      x-ms-blob-cache-control:
      - control
      x-ms-blob-content-disposition:
      - my_disposition
      x-ms-blob-content-encoding:
      - my_encoding
      x-ms-blob-content-language:
      - my_language
      x-ms-blob-content-length:
      - "512"
      x-ms-blob-content-type:
      - my_type
      x-ms-blob-sequence-number:
      - "0"
      x-ms-blob-type:
      - PageBlob
      x-ms-meta-Foo:
      - bar
      x-ms-version:
      - "2020-10-02"
    url: https://azureblobstoragecanada.blob.core.windows.net/gocblobcreatepageifmatchtrue/gotestblobblobcreatepageifmatchtrue
    method: PUT
  response:
    body: ""
    headers:
      Etag:
      - '"0x8DA6E6C19DE807A"'
      Last-Modified:
      - Mon, 25 Jul 2022 18:32:59 GMT
      X-Ms-Request-Server-Encrypted:
      - "true"
      X-Ms-Version:
      - "2020-10-02"
      X-Ms-Version-Id:
      - "2022-07-25T18:32:59.5892106Z"
    status: 201 Created
    code: 201
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Authorization:
      - sanitized
      X-Ms-Date:
      - Mon, 25 Jul 2022 18:33:00 GMT
      x-ms-version:
      - "2020-10-02"
    url: https://azureblobstoragecanada.blob.core.windows.net/gocblobcreatepageifmatchtrue/gotestblobblobcreatepageifmatchtrue
    method: HEAD
  response:
    body: ""
    headers:
      Content-Disposition:
      - my_disposition
      Content-Language:
      - my_language
      Content-Type:
      - my_type
      Etag:
      - '"0x8DA6E6C19DE807A"'
      Last-Modified:
      - Mon, 25 Jul 2022 18:32:59 GMT
      X-Ms-Blob-Sequence-Number:
      - "0"
      X-Ms-Blob-Type:
      - PageBlob
      X-Ms-Creation-Time:
      - Mon, 25 Jul 2022 18:32:59 GMT
      X-Ms-Is-Current-Version:
      - "true"
      X-Ms-Lease-State:
      - available
      X-Ms-Lease-Status:
      - unlocked
      X-Ms-Meta-Foo:
      - bar
      X-Ms-Server-Encrypted:
      - "true"
      X-Ms-Version:
      - "2020-10-02"
      X-Ms-Version-Id:
      - "2022-07-25T18:32:59.5892106Z"
    status: 200 OK
    code: 200
    duration: ""
[...]
