---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
      Authorization:
      - sanitized
      X-Ms-Date:
      - Tue, 26 Jul 2022 08:22:07 GMT
      x-ms-version:
      - "2020-10-02"
    url: https://azureblobstoragecanada.blob.core.windows.net/goccopyblobwithrehydratepriority?restype=container
    method: PUT
  response:
    body: ""
    headers:
      Etag:
      - '"0x8DA6EDFED6158C4"'
      Last-Modified:
      - Tue, 26 Jul 2022 08:22:06 GMT
      X-Ms-Version:
      - "2020-10-02"
    status: 201 Created
    code: 201
    duration: ""
- request:
    body: GoBlockBlobData
    form: {}
    headers:
      Authorization:
      - sanitized
      Content-Type:
      - application/octet-stream
      X-Ms-Date:
      - Tue, 26 Jul 2022 08:22:07 GMT
      x-ms-blob-type:
      - BlockBlob
      x-ms-version:
      - "2020-10-02"
    url: https://azureblobstoragecanada.blob.core.windows.net/goccopyblobwithrehydratepriority/gotestblobcopyblobwithrehydratepriority
    method: PUT
  response:
    body: ""
    headers:
      Content-Md5:
      - ebncwguMQu9sgPmr0GazhA==
      Etag:
      - '"0x8DA6EDFED873074"'
      Last-Modified:
      - Tue, 26 Jul 2022 08:22:06 GMT
      X-Ms-Content-Crc64:
      - +JGsS7CR5kg=
      X-Ms-Request-Server-Encrypted:
      - "true"
      X-Ms-Version:
      - "2020-10-02"
      X-Ms-Version-Id:
      - "2022-07-26T08:22:06.8168820Z"
    status: 201 Created
    code: 201
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Authorization:
      - sanitized
      X-Ms-Date:
      - Tue, 26 Jul 2022 08:22:07 GMT
      x-ms-access-tier:
      - Archive
      x-ms-copy-source:
      - https://azureblobstoragecanada.blob.core.windows.net/goccopyblobwithrehydratepriority/gotestblobcopyblobwithrehydratepriority
      x-ms-rehydrate-priority:
      - High
      x-ms-version:
      - "2020-10-02"
    url: https://azureblobstoragecanada.blob.core.windows.net/goccopyblobwithrehydratepriority/copygotestblobcopyblobwithrehydratepriority
    method: PUT
  response:
    body: ""
    headers:
      Etag:
      - '"0x8DA6EDFEDAE13CF"'
      Last-Modified:
      - Tue, 26 Jul 2022 08:22:07 GMT
      X-Ms-Copy-Id:
      - db679aba-aa1b-4747-9c92-577d61102923
      X-Ms-Copy-Status:
      - success
      X-Ms-Version:
      - "2020-10-02"
      X-Ms-Version-Id:
      - "2022-07-26T08:22:07.0717391Z"
    status: 202 Accepted
    code: 202
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Authorization:
      - sanitized
      X-Ms-Date:
      - Tue, 26 Jul 2022 08:22:07 GMT
      x-ms-version:
      - "2020-10-02"
    url: https://azureblobstoragecanada.blob.core.windows.net/goccopyblobwithrehydratepriority/copygotestblobcopyblobwithrehydratepriority
    method: HEAD
  response:
    body: ""
    headers:
      Content-Md5:
      - ebncwguMQu9sgPmr0GazhA==
      Content-Type:
      - application/octet-stream
      Etag:
      - '"0x8DA6EDFEDAE13CF"'
      Last-Modified:
      - Tue, 26 Jul 2022 08:22:07 GMT
      X-Ms-Access-Tier:
      - Archive
      X-Ms-Access-Tier-Change-Time:
      - Tue, 26 Jul 2022 08:22:07 GMT
      X-Ms-Blob-Type:
      - BlockBlob
      X-Ms-Copy-Completion-Time:
      - Tue, 26 Jul 2022 08:22:07 GMT
      X-Ms-Copy-Id:
      - db679aba-aa1b-4747-9c92-577d61102923
      X-Ms-Copy-Progress:
      - 15/15
      X-Ms-Copy-Source:
      - https://azureblobstoragecanada.blob.core.windows.net/goccopyblobwithrehydratepriority/gotestblobcopyblobwithrehydratepriority
      X-Ms-Copy-Status:
      - success
      X-Ms-Creation-Time:
      - Tue, 26 Jul 2022 08:22:07 GMT
      X-Ms-Is-Current-Version:
      - "true"
      X-Ms-Lease-State:
      - available
      X-Ms-Lease-Status:
      - unlocked
      X-Ms-Server-Encrypted:
      - "true"
      X-Ms-Version:
      - "2020-10-02"
      X-Ms-Version-Id:
      - "2022-07-26T08:22:07.0717391Z"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Authorization:
      - sanitized
      X-Ms-Date:
      - Tue, 26 Jul 2022 08:22:08 GMT
      x-ms-access-tier:
      - Hot
      x-ms-version:
      - "2020-10-02"
    url: https://azureblobstoragecanada.blob.core.windows.net/goccopyblobwithrehydratepriority/copygotestblobcopyblobwithrehydratepriority?comp=tier
    method: PUT
  response:
    body: ""
    headers:
      X-Ms-Version:
      - "2020-10-02"
    status: 202 Accepted
    code: 202
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Authorization:
      - sanitized
      X-Ms-Date:
      - Tue, 26 Jul 2022 08:22:08 GMT
      x-ms-version:
      - "2020-10-02"
    url: https://azureblobstoragecanada.blob.core.windows.net/goccopyblobwithrehydratepriority/copygotestblobcopyblobwithrehydratepriority
    method: HEAD
  response:
    body: ""
    headers:
      Content-Md5:
      - ebncwguMQu9sgPmr0GazhA==
      Content-Type:
      - application/octet-stream
      Etag:
      - '"0x8DA6EDFEDAE13CF"'
      Last-Modified:
      - Tue, 26 Jul 2022 08:22:07 GMT
      X-Ms-Access-Tier:
      - Archive
      X-Ms-Access-Tier-Change-Time:
      - Tue, 26 Jul 2022 08:22:07 GMT
      X-Ms-Archive-Status:
      - rehydrate-pending-to-hot
      X-Ms-Blob-Type:
      - BlockBlob
      X-Ms-Copy-Completion-Time:
      - Tue, 26 Jul 2022 08:22:07 GMT
      X-Ms-Copy-Id:
      - db679aba-aa1b-4747-9c92-577d61102923
      X-Ms-Copy-Progress:
      - 15/15
      X-Ms-Copy-Source:
      - https://azureblobstoragecanada.blob.core.windows.net/goccopyblobwithrehydratepriority/gotestblobcopyblobwithrehydratepriority
      X-Ms-Copy-Status:
      - success
      X-Ms-Creation-Time:
      - Tue, 26 Jul 2022 08:22:07 GMT
      X-Ms-Is-Current-Version:
      - "true"
      X-Ms-Lease-State:
      - available
      X-Ms-Lease-Status:
      - unlocked
      X-Ms-Rehydrate-Priority:
      - Standard
      X-Ms-Server-Encrypted:
      - "true"
      X-Ms-Version:
      - "2020-10-02"
      X-Ms-Version-Id:
      - "2022-07-26T08:22:07.0717391Z"
    status: 200 OK
    code: 200
    duration: ""
[...]
