---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
      Authorization:
      - sanitized
      X-Ms-Date:
      - Sat, 11 Sep 2021 08:51:43 GMT
      X-Ms-Version:
      - "2019-12-12"
    url: https://azureblobstoragecanada.blob.core.windows.net/goccontainergetsetpermissionsmultiplepolicies?restype=container
    method: PUT
  response:
    body: ""
    headers:
      Etag:
      - '"0x8D9750161344B94"'
      Last-Modified:
      - Sat, 11 Sep 2021 08:51:43 GMT
      X-Ms-Version:
      - "2019-12-12"
    status: 201 Created
    code: 201
    duration: ""
- request:
    body: <SignedIdentifiers><SignedIdentifier><AccessPolicy><Permission>rw</Permission><Expiry>2021-06-11T20:05:00Z</Expiry><Start>2021-06-11T20:00:00Z</Start></AccessPolicy><Id>0000</Id></SignedIdentifier><SignedIdentifier><AccessPolicy><Permission>r</Permission><Expiry>2021-06-11T20:01:00Z</Expiry><Start>2021-06-11T20:00:00Z</Start></AccessPolicy><Id>0001</Id></SignedIdentifier></SignedIdentifiers>
    form: {}
    headers:
      Authorization:
      - sanitized
      Content-Type:
      - application/xml
      X-Ms-Date:
      - Sat, 11 Sep 2021 08:51:43 GMT
      X-Ms-Version:
      - "2019-12-12"
    url: https://azureblobstoragecanada.blob.core.windows.net/goccontainergetsetpermissionsmultiplepolicies?comp=acl&restype=container
    method: PUT
  response:
    body: ""
    headers:
      Etag:
      - '"0x8D97501615A1E42"'
      Last-Modified:
      - Sat, 11 Sep 2021 08:51:43 GMT
      X-Ms-Version:
      - "2019-12-12"
    status: 200 OK
    code: 200
    duration: ""
[...]
