{
  "Entries": [
    {
      "RequestUri": "https://seankaneprim.table.core.windows.net/Tables",
      "RequestMethod": "POST",
      "RequestHeaders": {
        ":authority": "localhost:5001",
        ":method": "POST",
        ":path": "/Tables",
        ":scheme": "https",
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "dataserviceversion": "3.0",
        "x-ms-date": "Fri, 30 Jul 2021 16:42:51 GMT",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": {
        "TableName": "tableName4103702124"
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata=minimalmetadata; streaming=true; charset=utf-8",
        "Location": "https://seankaneprim.table.core.windows.net/Tables(\u0027tableName4103702124\u0027)",
        "x-ms-version": "2019-02-02"
      },
      "ResponseBody": {
        "odata.metadata": "https://seankaneprim.table.core.windows.net/$metadata#Tables/@Element",
        "TableName": "tableName4103702124"
      }
    },
    {
      "RequestUri": "https://seankaneprim.table.core.windows.net/tableName4103702124(PartitionKey=\u0027partition\u0027,RowKey=\u00271\u0027)",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        ":authority": "localhost:5001",
        ":method": "PUT",
        ":path": "/tableName4103702124(PartitionKey=\u0027partition\u0027,RowKey=\u00271\u0027)",
        ":scheme": "https",
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "dataserviceversion": "3.0",
        "x-ms-date": "Fri, 30 Jul 2021 16:42:51 GMT",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": {
        "Bool": true,
        "Integer": 1,
        "PartitionKey": "partition",
        "RowKey": "1",
        "String": "some string 1",
        "Timestamp": "0001-01-01T00:00:00Z"
      },
      "StatusCode": 204,
      "ResponseHeaders": {
        "ETag": "W/\u0022datetime\u00272021-07-30T16%3A42%3A52.7756547Z\u0027\u0022",
        "x-ms-version": "2019-02-02"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seankaneprim.table.core.windows.net/tableName4103702124(PartitionKey=\u0027partition\u0027,RowKey=\u00271\u0027)",
      "RequestMethod": "GET",
      "RequestHeaders": {
        ":authority": "localhost:5001",
        ":method": "GET",
        ":path": "/tableName4103702124(PartitionKey=\u0027partition\u0027,RowKey=\u00271\u0027)",
        ":scheme": "https",
        "Authorization": "Sanitized",
        "dataserviceversion": "3.0",
        "x-ms-date": "Fri, 30 Jul 2021 16:42:51 GMT",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata=minimalmetadata; streaming=true; charset=utf-8",
        "ETag": "W/\u0022datetime\u00272021-07-30T16%3A42%3A52.7756547Z\u0027\u0022",
        "x-ms-version": "2019-02-02"
      },
      "ResponseBody": {
        "odata.metadata": "https://seankaneprim.table.core.windows.net/$metadata#tableName4103702124/@Element",
        "odata.etag": "W/\u0022datetime\u00272021-07-30T16%3A42%3A52.7756547Z\u0027\u0022",
        "PartitionKey": "partition",
        "RowKey": "1",
        "Timestamp": "2021-07-30T16:42:52.7756547Z",
        "Bool": true,
        "Integer": 1,
        "String": "some string 1"
      }
    },
    {
      "RequestUri": "https://seankaneprim.table.core.windows.net/tableName4103702124(PartitionKey=\u0027partition\u0027,RowKey=\u00271\u0027)",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        ":authority": "localhost:5001",
        ":method": "PUT",
        ":path": "/tableName4103702124(PartitionKey=\u0027partition\u0027,RowKey=\u00271\u0027)",
        ":scheme": "https",
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "dataserviceversion": "3.0",
        "x-ms-date": "Fri, 30 Jul 2021 16:42:52 GMT",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": {
        "Integer": 1,
        "MergeProperty": "foo",
        "PartitionKey": "partition",
        "RowKey": "1",
        "String": "some string 1"
      },
      "StatusCode": 204,
      "ResponseHeaders": {
        "ETag": "W/\u0022datetime\u00272021-07-30T16%3A42%3A52.9968103Z\u0027\u0022",
        "x-ms-version": "2019-02-02"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seankaneprim.table.core.windows.net/tableName4103702124()?%24filter=RowKey\u002Beq\u002B%271%27",
      "RequestMethod": "GET",
      "RequestHeaders": {
        ":authority": "localhost:5001",
        ":method": "GET",
        ":path": "/tableName4103702124()?%24filter=RowKey\u002Beq\u002B%271%27",
        ":scheme": "https",
        "Authorization": "Sanitized",
        "dataserviceversion": "3.0",
        "x-ms-date": "Fri, 30 Jul 2021 16:42:52 GMT",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata=minimalmetadata; streaming=true; charset=utf-8",
        "x-ms-version": "2019-02-02"
      },
      "ResponseBody": {
        "odata.metadata": "https://seankaneprim.table.core.windows.net/$metadata#tableName4103702124",
        "value": [
          {
            "odata.etag": "W/\u0022datetime\u00272021-07-30T16%3A42%3A52.9968103Z\u0027\u0022",
            "PartitionKey": "partition",
            "RowKey": "1",
            "Timestamp": "2021-07-30T16:42:52.9968103Z",
            "Integer": 1,
            "MergeProperty": "foo",
            "String": "some string 1"
          }
        ]
      }
    },
    {
      "RequestUri": "https://seankaneprim.table.core.windows.net/Tables(\u0027tableName4103702124\u0027)",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        ":authority": "localhost:5001",
        ":method": "DELETE",
        ":path": "/Tables(\u0027tableName4103702124\u0027)",
        ":scheme": "https",
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 30 Jul 2021 16:42:52 GMT",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
        "x-ms-version": "2019-02-02"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {}
}