// +build go1.13

// Copyright (c) Microsoft Corporation. All rights reserved.
// Licensed under the MIT License. See License.txt in the project root for license information.
// Code generated by Microsoft (R) AutoRest Code Generator.
// Changes may cause incorrect behavior and will be lost if the code is regenerated.

package armauthorization

import (
	"context"
	"errors"
	"fmt"
	"github.com/Azure/azure-sdk-for-go/sdk/armcore"
	"github.com/Azure/azure-sdk-for-go/sdk/azcore"
	"net/http"
	"net/url"
	"strings"
)

// RoleAssignmentScheduleInstancesClient contains the methods for the RoleAssignmentScheduleInstances group.
// Don't use this type directly, use NewRoleAssignmentScheduleInstancesClient() instead.
type RoleAssignmentScheduleInstancesClient struct {
	con *armcore.Connection
}

// NewRoleAssignmentScheduleInstancesClient creates a new instance of RoleAssignmentScheduleInstancesClient with the specified values.
func NewRoleAssignmentScheduleInstancesClient(con *armcore.Connection) *RoleAssignmentScheduleInstancesClient {
	return &RoleAssignmentScheduleInstancesClient{con: con}
}

// Get - Gets the specified role assignment schedule instance.
// If the operation fails it returns the *CloudError error type.
func (client *RoleAssignmentScheduleInstancesClient) Get(ctx context.Context, scope string, roleAssignmentScheduleInstanceName string, options *RoleAssignmentScheduleInstancesGetOptions) (RoleAssignmentScheduleInstanceResponse, error) {
	req, err := client.getCreateRequest(ctx, scope, roleAssignmentScheduleInstanceName, options)
	if err != nil {
		return RoleAssignmentScheduleInstanceResponse{}, err
	}
	resp, err := client.con.Pipeline().Do(req)
	if err != nil {
		return RoleAssignmentScheduleInstanceResponse{}, err
	}
	if !resp.HasStatusCode(http.StatusOK) {
		return RoleAssignmentScheduleInstanceResponse{}, client.getHandleError(resp)
	}
	return client.getHandleResponse(resp)
}

// getCreateRequest creates the Get request.
func (client *RoleAssignmentScheduleInstancesClient) getCreateRequest(ctx context.Context, scope string, roleAssignmentScheduleInstanceName string, options *RoleAssignmentScheduleInstancesGetOptions) (*azcore.Request, error) {
	urlPath := "/{scope}/providers/Microsoft.Authorization/roleAssignmentScheduleInstances/{roleAssignmentScheduleInstanceName}"
	if scope == "" {
		return nil, errors.New("parameter scope cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{scope}", scope)
	if roleAssignmentScheduleInstanceName == "" {
		return nil, errors.New("parameter roleAssignmentScheduleInstanceName cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{roleAssignmentScheduleInstanceName}", url.PathEscape(roleAssignmentScheduleInstanceName))
	req, err := azcore.NewRequest(ctx, http.MethodGet, azcore.JoinPaths(client.con.Endpoint(), urlPath))
	if err != nil {
		return nil, err
	}
	req.Telemetry(telemetryInfo)
	reqQP := req.URL.Query()
	reqQP.Set("api-version", "2020-10-01-preview")
	req.URL.RawQuery = reqQP.Encode()
	req.Header.Set("Accept", "application/json")
	return req, nil
}

// getHandleResponse handles the Get response.
func (client *RoleAssignmentScheduleInstancesClient) getHandleResponse(resp *azcore.Response) (RoleAssignmentScheduleInstanceResponse, error) {
	var val *RoleAssignmentScheduleInstance
	if err := resp.UnmarshalAsJSON(&val); err != nil {
		return RoleAssignmentScheduleInstanceResponse{}, err
	}
	return RoleAssignmentScheduleInstanceResponse{RawResponse: resp.Response, RoleAssignmentScheduleInstance: val}, nil
}

// getHandleError handles the Get error response.
func (client *RoleAssignmentScheduleInstancesClient) getHandleError(resp *azcore.Response) error {
	body, err := resp.Payload()
	if err != nil {
		return azcore.NewResponseError(err, resp.Response)
	}
	errType := CloudError{raw: string(body)}
	if err := resp.UnmarshalAsJSON(&errType); err != nil {
		return azcore.NewResponseError(fmt.Errorf("%s\n%s", string(body), err), resp.Response)
	}
	return azcore.NewResponseError(&errType, resp.Response)
}

// ListForScope - Gets role assignment schedule instances of a role assignment schedule.
// If the operation fails it returns the *CloudError error type.
func (client *RoleAssignmentScheduleInstancesClient) ListForScope(scope string, options *RoleAssignmentScheduleInstancesListForScopeOptions) RoleAssignmentScheduleInstanceListResultPager {
	return &roleAssignmentScheduleInstanceListResultPager{
		pipeline: client.con.Pipeline(),
		requester: func(ctx context.Context) (*azcore.Request, error) {
			return client.listForScopeCreateRequest(ctx, scope, options)
		},
		responder: client.listForScopeHandleResponse,
		errorer:   client.listForScopeHandleError,
		advancer: func(ctx context.Context, resp RoleAssignmentScheduleInstanceListResultResponse) (*azcore.Request, error) {
			return azcore.NewRequest(ctx, http.MethodGet, *resp.RoleAssignmentScheduleInstanceListResult.NextLink)
		},
		statusCodes: []int{http.StatusOK},
	}
}

// listForScopeCreateRequest creates the ListForScope request.
func (client *RoleAssignmentScheduleInstancesClient) listForScopeCreateRequest(ctx context.Context, scope string, options *RoleAssignmentScheduleInstancesListForScopeOptions) (*azcore.Request, error) {
	urlPath := "/{scope}/providers/Microsoft.Authorization/roleAssignmentScheduleInstances"
	if scope == "" {
		return nil, errors.New("parameter scope cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{scope}", scope)
	req, err := azcore.NewRequest(ctx, http.MethodGet, azcore.JoinPaths(client.con.Endpoint(), urlPath))
	if err != nil {
		return nil, err
	}
	req.Telemetry(telemetryInfo)
	reqQP := req.URL.Query()
	if options != nil && options.Filter != nil {
		reqQP.Set("$filter", *options.Filter)
	}
	reqQP.Set("api-version", "2020-10-01-preview")
	req.URL.RawQuery = reqQP.Encode()
	req.Header.Set("Accept", "application/json")
	return req, nil
}

// listForScopeHandleResponse handles the ListForScope response.
func (client *RoleAssignmentScheduleInstancesClient) listForScopeHandleResponse(resp *azcore.Response) (RoleAssignmentScheduleInstanceListResultResponse, error) {
	var val *RoleAssignmentScheduleInstanceListResult
	if err := resp.UnmarshalAsJSON(&val); err != nil {
		return RoleAssignmentScheduleInstanceListResultResponse{}, err
	}
	return RoleAssignmentScheduleInstanceListResultResponse{RawResponse: resp.Response, RoleAssignmentScheduleInstanceListResult: val}, nil
}

// listForScopeHandleError handles the ListForScope error response.
func (client *RoleAssignmentScheduleInstancesClient) listForScopeHandleError(resp *azcore.Response) error {
	body, err := resp.Payload()
	if err != nil {
		return azcore.NewResponseError(err, resp.Response)
	}
	errType := CloudError{raw: string(body)}
	if err := resp.UnmarshalAsJSON(&errType); err != nil {
		return azcore.NewResponseError(fmt.Errorf("%s\n%s", string(body), err), resp.Response)
	}
	return azcore.NewResponseError(&errType, resp.Response)
}
