// +build go1.13

// Copyright (c) Microsoft Corporation. All rights reserved.
// Licensed under the MIT License. See License.txt in the project root for license information.
// Code generated by Microsoft (R) AutoRest Code Generator.
// Changes may cause incorrect behavior and will be lost if the code is regenerated.

package armauthorization

import (
	"context"
	"errors"
	"fmt"
	"github.com/Azure/azure-sdk-for-go/sdk/armcore"
	"github.com/Azure/azure-sdk-for-go/sdk/azcore"
	"net/http"
	"net/url"
	"strings"
)

// RoleAssignmentSchedulesClient contains the methods for the RoleAssignmentSchedules group.
// Don't use this type directly, use NewRoleAssignmentSchedulesClient() instead.
type RoleAssignmentSchedulesClient struct {
	con *armcore.Connection
}

// NewRoleAssignmentSchedulesClient creates a new instance of RoleAssignmentSchedulesClient with the specified values.
func NewRoleAssignmentSchedulesClient(con *armcore.Connection) *RoleAssignmentSchedulesClient {
	return &RoleAssignmentSchedulesClient{con: con}
}

// Get - Get the specified role assignment schedule for a resource scope
// If the operation fails it returns the *CloudError error type.
func (client *RoleAssignmentSchedulesClient) Get(ctx context.Context, scope string, roleAssignmentScheduleName string, options *RoleAssignmentSchedulesGetOptions) (RoleAssignmentScheduleResponse, error) {
	req, err := client.getCreateRequest(ctx, scope, roleAssignmentScheduleName, options)
	if err != nil {
		return RoleAssignmentScheduleResponse{}, err
	}
	resp, err := client.con.Pipeline().Do(req)
	if err != nil {
		return RoleAssignmentScheduleResponse{}, err
	}
	if !resp.HasStatusCode(http.StatusOK) {
		return RoleAssignmentScheduleResponse{}, client.getHandleError(resp)
	}
	return client.getHandleResponse(resp)
}

// getCreateRequest creates the Get request.
func (client *RoleAssignmentSchedulesClient) getCreateRequest(ctx context.Context, scope string, roleAssignmentScheduleName string, options *RoleAssignmentSchedulesGetOptions) (*azcore.Request, error) {
	urlPath := "/{scope}/providers/Microsoft.Authorization/roleAssignmentSchedules/{roleAssignmentScheduleName}"
	if scope == "" {
		return nil, errors.New("parameter scope cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{scope}", scope)
	if roleAssignmentScheduleName == "" {
		return nil, errors.New("parameter roleAssignmentScheduleName cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{roleAssignmentScheduleName}", url.PathEscape(roleAssignmentScheduleName))
	req, err := azcore.NewRequest(ctx, http.MethodGet, azcore.JoinPaths(client.con.Endpoint(), urlPath))
	if err != nil {
		return nil, err
	}
	req.Telemetry(telemetryInfo)
	reqQP := req.URL.Query()
	reqQP.Set("api-version", "2020-10-01-preview")
	req.URL.RawQuery = reqQP.Encode()
	req.Header.Set("Accept", "application/json")
	return req, nil
}

// getHandleResponse handles the Get response.
func (client *RoleAssignmentSchedulesClient) getHandleResponse(resp *azcore.Response) (RoleAssignmentScheduleResponse, error) {
	var val *RoleAssignmentSchedule
	if err := resp.UnmarshalAsJSON(&val); err != nil {
		return RoleAssignmentScheduleResponse{}, err
	}
	return RoleAssignmentScheduleResponse{RawResponse: resp.Response, RoleAssignmentSchedule: val}, nil
}

// getHandleError handles the Get error response.
func (client *RoleAssignmentSchedulesClient) getHandleError(resp *azcore.Response) error {
	body, err := resp.Payload()
	if err != nil {
		return azcore.NewResponseError(err, resp.Response)
	}
	errType := CloudError{raw: string(body)}
	if err := resp.UnmarshalAsJSON(&errType); err != nil {
		return azcore.NewResponseError(fmt.Errorf("%s\n%s", string(body), err), resp.Response)
	}
	return azcore.NewResponseError(&errType, resp.Response)
}

// ListForScope - Gets role assignment schedules for a resource scope.
// If the operation fails it returns the *CloudError error type.
func (client *RoleAssignmentSchedulesClient) ListForScope(scope string, options *RoleAssignmentSchedulesListForScopeOptions) RoleAssignmentScheduleListResultPager {
	return &roleAssignmentScheduleListResultPager{
		pipeline: client.con.Pipeline(),
		requester: func(ctx context.Context) (*azcore.Request, error) {
			return client.listForScopeCreateRequest(ctx, scope, options)
		},
		responder: client.listForScopeHandleResponse,
		errorer:   client.listForScopeHandleError,
		advancer: func(ctx context.Context, resp RoleAssignmentScheduleListResultResponse) (*azcore.Request, error) {
			return azcore.NewRequest(ctx, http.MethodGet, *resp.RoleAssignmentScheduleListResult.NextLink)
		},
		statusCodes: []int{http.StatusOK},
	}
}

// listForScopeCreateRequest creates the ListForScope request.
func (client *RoleAssignmentSchedulesClient) listForScopeCreateRequest(ctx context.Context, scope string, options *RoleAssignmentSchedulesListForScopeOptions) (*azcore.Request, error) {
	urlPath := "/{scope}/providers/Microsoft.Authorization/roleAssignmentSchedules"
	if scope == "" {
		return nil, errors.New("parameter scope cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{scope}", scope)
	req, err := azcore.NewRequest(ctx, http.MethodGet, azcore.JoinPaths(client.con.Endpoint(), urlPath))
	if err != nil {
		return nil, err
	}
	req.Telemetry(telemetryInfo)
	reqQP := req.URL.Query()
	if options != nil && options.Filter != nil {
		reqQP.Set("$filter", *options.Filter)
	}
	reqQP.Set("api-version", "2020-10-01-preview")
	req.URL.RawQuery = reqQP.Encode()
	req.Header.Set("Accept", "application/json")
	return req, nil
}

// listForScopeHandleResponse handles the ListForScope response.
func (client *RoleAssignmentSchedulesClient) listForScopeHandleResponse(resp *azcore.Response) (RoleAssignmentScheduleListResultResponse, error) {
	var val *RoleAssignmentScheduleListResult
	if err := resp.UnmarshalAsJSON(&val); err != nil {
		return RoleAssignmentScheduleListResultResponse{}, err
	}
	return RoleAssignmentScheduleListResultResponse{RawResponse: resp.Response, RoleAssignmentScheduleListResult: val}, nil
}

// listForScopeHandleError handles the ListForScope error response.
func (client *RoleAssignmentSchedulesClient) listForScopeHandleError(resp *azcore.Response) error {
	body, err := resp.Payload()
	if err != nil {
		return azcore.NewResponseError(err, resp.Response)
	}
	errType := CloudError{raw: string(body)}
	if err := resp.UnmarshalAsJSON(&errType); err != nil {
		return azcore.NewResponseError(fmt.Errorf("%s\n%s", string(body), err), resp.Response)
	}
	return azcore.NewResponseError(&errType, resp.Response)
}
