{
  "Entries": [
    {
      "RequestUri": "https://fakeaccount.table.cosmos.azure.com/Tables",
      "RequestMethod": "POST",
      "RequestHeaders": {
        ":method": "POST",
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "dataserviceversion": "3.0",
        "x-ms-date": "Mon, 24 Jan 2022 21:03:16 GMT",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": {
        "TableName": "tableName1939530605"
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata=minimalmetadata",
        "ETag": "W/\u0022datetime\u00272022-01-24T21%3A03%3A18.1220872Z\u0027\u0022",
        "Location": "https://rosebudprim.table.cosmos.azure.com/Tables(\u0027tableName1939530605\u0027)"
      },
      "ResponseBody": {
        "TableName": "tableName1939530605",
        "odata.metadata": "https://rosebudprim.table.cosmos.azure.com/$metadata#Tables/@Element"
      }
    },
    {
      "RequestUri": "https://fakeaccount.table.cosmos.azure.com/$batch",
      "RequestMethod": "POST",
      "RequestHeaders": {
        ":method": "POST",
        "Authorization": "Sanitized",
        "Content-Type": "multipart/mixed; boundary=batch_8b709dc5-16e9-46a6-50db-d74d34052e96",
        "dataserviceversion": "3.0",
        "x-ms-date": "Mon, 24 Jan 2022 21:03:17 GMT",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": "LS1iYXRjaF84YjcwOWRjNS0xNmU5LTQ2YTYtNTBkYi1k[...]
    {
      "RequestUri": "https://fakeaccount.table.cosmos.azure.com/tableName1939530605()?%24format=application%2Fjson%3Bodata%3Dminimalmetadata",
      "RequestMethod": "GET",
      "RequestHeaders": {
        ":method": "GET",
        "Authorization": "Sanitized",
        "dataserviceversion": "3.0",
        "x-ms-date": "Mon, 24 Jan 2022 21:03:17 GMT",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata=minimalmetadata"
      },
      "ResponseBody": {
        "value": [
          {
            "odata.etag": "W/\u0022datetime\u00272022-01-24T21%3A03%3A18.6306056Z\u0027\u0022",
            "PartitionKey": "partition",
            "RowKey": "1",
            "Bool": true,
            "Byte": "c29tZWJ5dGVz",
            "DateTime": "2021-07-13T00:00:00Z",
            "Float": 3.14159,
            "Integer": 1,
            "String": "someString",
            "Timestamp": "2022-01-24T21:03:18.6306056Z"
          }
        ],
        "odata.metadata": "https://rosebudprim.table.cosmos.azure.com/$metadata#tableName1939530605"
      }
    },
    {
      "RequestUri": "https://fakeaccount.table.cosmos.azure.com/Tables(\u0027tableName1939530605\u0027)",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 24 Jan 2022 21:03:17 GMT",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
      },
      "ResponseBody": null
    }
  ],
  "Variables": {}
}
