{
  "Entries": [
    {
      "RequestUri": "https://fakeaccount.table.core.windows.net/Tables",
      "RequestMethod": "POST",
      "RequestHeaders": {
        ":authority": "localhost:5001",
        ":method": "POST",
        ":path": "/Tables",
        ":scheme": "https",
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "dataserviceversion": "3.0",
        "x-ms-date": "Mon, 08 Nov 2021 18:48:00 GMT",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": {
        "TableName": "tableName2396278222"
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata=minimalmetadata; streaming=true; charset=utf-8",
        "Location": "https://rosebudprim.table.core.windows.net/Tables(\u0027tableName2396278222\u0027)",
        "x-ms-version": "2019-02-02"
      },
      "ResponseBody": {
        "odata.metadata": "https://rosebudprim.table.core.windows.net/$metadata#Tables/@Element",
        "TableName": "tableName2396278222"
      }
    },
    {
      "RequestUri": "https://fakeaccount.table.core.windows.net/$batch",
      "RequestMethod": "POST",
      "RequestHeaders": {
        ":authority": "localhost:5001",
        ":method": "POST",
        ":path": "/$batch",
        ":scheme": "https",
        "Authorization": "Sanitized",
        "Content-Type": "multipart/mixed; boundary=batch_52733869-ce88-491f-750e-172f5053a9c1",
        "dataserviceversion": "3.0",
        "x-ms-date": "Mon, 08 Nov 2021 18:48:00 GMT",
        "x-ms-ve[...]
    {
      "RequestUri": "https://fakeaccount.table.core.windows.net/tableName2396278222()?%24format=application%2Fjson%3Bodata%3Dminimalmetadata",
      "RequestMethod": "GET",
      "RequestHeaders": {
        ":authority": "localhost:5001",
        ":method": "GET",
        ":path": "/tableName2396278222()?%24format=application%2Fjson%3Bodata%3Dminimalmetadata",
        ":scheme": "https",
        "Authorization": "Sanitized",
        "dataserviceversion": "3.0",
        "x-ms-date": "Mon, 08 Nov 2021 18:48:00 GMT",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata=minimalmetadata; streaming=true; charset=utf-8",
        "x-ms-version": "2019-02-02"
      },
      "ResponseBody": {
        "odata.metadata": "https://rosebudprim.table.core.windows.net/$metadata#tableName2396278222",
        "value": [
          {
            "odata.etag": "W/\u0022datetime\u00272021-11-08T18%3A48%3A02.0145043Z\u0027\u0022",
            "PartitionKey": "partition",
            "RowKey": "1",
            "Timestamp": "2021-11-08T18:48:02.0145043Z",
            "Bool": true,
            "Byte": "c29tZWJ5dGVz",
            "DateTime": "2021-07-13T00:00:00Z",
            "Float": 3.14159,
            "Integer": 1,
            "String": "someString"
          }
        ]
      }
    },
    {
      "RequestUri": "https://fakeaccount.table.core.windows.net/Tables(\u0027tableName2396278222\u0027)",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        ":authority": "localhost:5001",
        ":method": "DELETE",
        ":path": "/Tables(\u0027tableName2396278222\u0027)",
        ":scheme": "https",
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 08 Nov 2021 18:48:00 GMT",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
        "x-ms-version": "2019-02-02"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {}
}
