// Copyright (c) Microsoft Corporation. All rights reserved.
// Licensed under the MIT License. See License.txt in the project root for license information.
// Code generated by Microsoft (R) AutoRest Code Generator. DO NOT EDIT.
// Changes may cause incorrect behavior and will be lost if the code is regenerated.

package armservicegroups

import (
	"context"
	"errors"
	"github.com/Azure/azure-sdk-for-go/sdk/azcore"
	"github.com/Azure/azure-sdk-for-go/sdk/azcore/arm"
	"github.com/Azure/azure-sdk-for-go/sdk/azcore/policy"
	"github.com/Azure/azure-sdk-for-go/sdk/azcore/runtime"
	"net/http"
	"net/url"
	"strings"
)

// GroupsRPAPIsClient contains the methods for the GroupsRPAPIs group.
// Don't use this type directly, use NewGroupsRPAPIsClient() instead.
type GroupsRPAPIsClient struct {
	internal *arm.Client
}

// NewGroupsRPAPIsClient creates a new instance of GroupsRPAPIsClient with the specified values.
//   - credential - used to authorize requests. Usually a credential from azidentity.
//   - options - Contains optional client configuration. Pass nil to accept the default values.
func NewGroupsRPAPIsClient(credential azcore.TokenCredential, options *arm.ClientOptions) (*GroupsRPAPIsClient, error) {
	cl, err := arm.NewClient(moduleName, moduleVersion, credential, options)
	if err != nil {
		return nil, err
	}
	client := &GroupsRPAPIsClient{
		internal: cl,
	}
	return client, nil
}

// BeginCreateOrUpdateServiceGroup - Create or Update a serviceGroup
// If the operation fails it returns an *azcore.ResponseError type.
//
// Generated from API version 2024-02-01-preview
//   - serviceGroupName - ServiceGroup Name.
//   - createServiceGroupRequest - ServiceGroup creation parameters
//   - options - GroupsRPAPIsClientBeginCreateOrUpdateServiceGroupOptions contains the optional parameters for the GroupsRPAPIsClient.BeginCreateOrUpdateServiceGroup
//     method.
func (client *GroupsRPAPIsClient) BeginCreateOrUpdateServiceGroup(ctx context.Context, serviceGroupName string, createServiceGroupRequest ServiceGroup, options *GroupsRPAPIsClientBeginCreateOrUpdateServiceGroupOptions) (*runtime.Poller[GroupsRPAPIsClientCreateOrUpdateServiceGroupResponse], error) {
	if options == nil || options.ResumeToken == "" {
		resp, err := client.createOrUpdateServiceGroup(ctx, serviceGroupName, createServiceGroupRequest, options)
		if err != nil {
			return nil, err
		}
		poller, err := runtime.NewPoller(resp, client.internal.Pipeline(), &runtime.NewPollerOptions[GroupsRPAPIsClientCreateOrUpdateServiceGroupResponse]{
			FinalStateVia: runtime.FinalStateViaAzureAsyncOp,
			Tracer:        client.internal.Tracer(),
		})
		return poller, err
	} else {
		return runtime.NewPollerFromResumeToken(options.ResumeToken, client.internal.Pipeline(), &runtime.NewPollerFromResumeTokenOptions[GroupsRPAPIsClientCreateOrUpdateServiceGroupResponse]{
			Tracer: client.internal.Tracer(),
		})
	}
}

// CreateOrUpdateServiceGroup - Create or Update a serviceGroup
// If the operation fails it returns an *azcore.ResponseError type.
//
// Generated from API version 2024-02-01-preview
func (client *GroupsRPAPIsClient) createOrUpdateServiceGroup(ctx context.Context, serviceGroupName string, createServiceGroupRequest ServiceGroup, options *GroupsRPAPIsClientBeginCreateOrUpdateServiceGroupOptions) (*http.Response, error) {
	var err error
	const operationName = "GroupsRPAPIsClient.BeginCreateOrUpdateServiceGroup"
	ctx = context.WithValue(ctx, runtime.CtxAPINameKey{}, operationName)
	ctx, endSpan := runtime.StartSpan(ctx, operationName, client.internal.Tracer(), nil)
	defer func() { endSpan(err) }()
	req, err := client.createOrUpdateServiceGroupCreateRequest(ctx, serviceGroupName, createServiceGroupRequest, options)
	if err != nil {
		return nil, err
	}
	httpResp, err := client.internal.Pipeline().Do(req)
	if err != nil {
		return nil, err
	}
	if !runtime.HasStatusCode(httpResp, http.StatusOK, http.StatusCreated) {
		err = runtime.NewResponseError(httpResp)
		return nil, err
	}
	return httpResp, nil
}

// createOrUpdateServiceGroupCreateRequest creates the CreateOrUpdateServiceGroup request.
func (client *GroupsRPAPIsClient) createOrUpdateServiceGroupCreateRequest(ctx context.Context, serviceGroupName string, createServiceGroupRequest ServiceGroup, _ *GroupsRPAPIsClientBeginCreateOrUpdateServiceGroupOptions) (*policy.Request, error) {
	urlPath := "/providers/Microsoft.Management/serviceGroups/{serviceGroupName}"
	if serviceGroupName == "" {
		return nil, errors.New("parameter serviceGroupName cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{serviceGroupName}", url.PathEscape(serviceGroupName))
	req, err := runtime.NewRequest(ctx, http.MethodPut, runtime.JoinPaths(client.internal.Endpoint(), urlPath))
	if err != nil {
		return nil, err
	}
	reqQP := req.Raw().URL.Query()
	reqQP.Set("api-version", "2024-02-01-preview")
	req.Raw().URL.RawQuery = reqQP.Encode()
	req.Raw().Header["Accept"] = []string{"application/json"}
	if err := runtime.MarshalAsJSON(req, createServiceGroupRequest); err != nil {
		return nil, err
	}
	return req, nil
}

// BeginDeleteServiceGroup - Delete a ServiceGroup
// If the operation fails it returns an *azcore.ResponseError type.
//
// Generated from API version 2024-02-01-preview
//   - serviceGroupName - ServiceGroup Name.
//   - options - GroupsRPAPIsClientBeginDeleteServiceGroupOptions contains the optional parameters for the GroupsRPAPIsClient.BeginDeleteServiceGroup
//     method.
func (client *GroupsRPAPIsClient) BeginDeleteServiceGroup(ctx context.Context, serviceGroupName string, options *GroupsRPAPIsClientBeginDeleteServiceGroupOptions) (*runtime.Poller[GroupsRPAPIsClientDeleteServiceGroupResponse], error) {
	if options == nil || options.ResumeToken == "" {
		resp, err := client.deleteServiceGroup(ctx, serviceGroupName, options)
		if err != nil {
			return nil, err
		}
		poller, err := runtime.NewPoller(resp, client.internal.Pipeline(), &runtime.NewPollerOptions[GroupsRPAPIsClientDeleteServiceGroupResponse]{
			FinalStateVia: runtime.FinalStateViaLocation,
			Tracer:        client.internal.Tracer(),
		})
		return poller, err
	} else {
		return runtime.NewPollerFromResumeToken(options.ResumeToken, client.internal.Pipeline(), &runtime.NewPollerFromResumeTokenOptions[GroupsRPAPIsClientDeleteServiceGroupResponse]{
			Tracer: client.internal.Tracer(),
		})
	}
}

// DeleteServiceGroup - Delete a ServiceGroup
// If the operation fails it returns an *azcore.ResponseError type.
//
// Generated from API version 2024-02-01-preview
func (client *GroupsRPAPIsClient) deleteServiceGroup(ctx context.Context, serviceGroupName string, options *GroupsRPAPIsClientBeginDeleteServiceGroupOptions) (*http.Response, error) {
	var err error
	const operationName = "GroupsRPAPIsClient.BeginDeleteServiceGroup"
	ctx = context.WithValue(ctx, runtime.CtxAPINameKey{}, operationName)
	ctx, endSpan := runtime.StartSpan(ctx, operationName, client.internal.Tracer(), nil)
	defer func() { endSpan(err) }()
	req, err := client.deleteServiceGroupCreateRequest(ctx, serviceGroupName, options)
	if err != nil {
		return nil, err
	}
	httpResp, err := client.internal.Pipeline().Do(req)
	if err != nil {
		return nil, err
	}
	if !runtime.HasStatusCode(httpResp, http.StatusAccepted, http.StatusNoContent) {
		err = runtime.NewResponseError(httpResp)
		return nil, err
	}
	return httpResp, nil
}

// deleteServiceGroupCreateRequest creates the DeleteServiceGroup request.
func (client *GroupsRPAPIsClient) deleteServiceGroupCreateRequest(ctx context.Context, serviceGroupName string, _ *GroupsRPAPIsClientBeginDeleteServiceGroupOptions) (*policy.Request, error) {
	urlPath := "/providers/Microsoft.Management/serviceGroups/{serviceGroupName}"
	if serviceGroupName == "" {
		return nil, errors.New("parameter serviceGroupName cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{serviceGroupName}", url.PathEscape(serviceGroupName))
	req, err := runtime.NewRequest(ctx, http.MethodDelete, runtime.JoinPaths(client.internal.Endpoint(), urlPath))
	if err != nil {
		return nil, err
	}
	reqQP := req.Raw().URL.Query()
	reqQP.Set("api-version", "2024-02-01-preview")
	req.Raw().URL.RawQuery = reqQP.Encode()
	req.Raw().Header["Accept"] = []string{"application/json"}
	return req, nil
}

// BeginUpdateServiceGroup - Update a serviceGroup
// If the operation fails it returns an *azcore.ResponseError type.
//
// Generated from API version 2024-02-01-preview
//   - serviceGroupName - ServiceGroup Name.
//   - updateServiceGroupRequest - ServiceGroup update parameters
//   - options - GroupsRPAPIsClientBeginUpdateServiceGroupOptions contains the optional parameters for the GroupsRPAPIsClient.BeginUpdateServiceGroup
//     method.
func (client *GroupsRPAPIsClient) BeginUpdateServiceGroup(ctx context.Context, serviceGroupName string, updateServiceGroupRequest ServiceGroup, options *GroupsRPAPIsClientBeginUpdateServiceGroupOptions) (*runtime.Poller[GroupsRPAPIsClientUpdateServiceGroupResponse], error) {
	if options == nil || options.ResumeToken == "" {
		resp, err := client.updateServiceGroup(ctx, serviceGroupName, updateServiceGroupRequest, options)
		if err != nil {
			return nil, err
		}
		poller, err := runtime.NewPoller(resp, client.internal.Pipeline(), &runtime.NewPollerOptions[GroupsRPAPIsClientUpdateServiceGroupResponse]{
			FinalStateVia: runtime.FinalStateViaLocation,
			Tracer:        client.internal.Tracer(),
		})
		return poller, err
	} else {
		return runtime.NewPollerFromResumeToken(options.ResumeToken, client.internal.Pipeline(), &runtime.NewPollerFromResumeTokenOptions[GroupsRPAPIsClientUpdateServiceGroupResponse]{
			Tracer: client.internal.Tracer(),
		})
	}
}

// UpdateServiceGroup - Update a serviceGroup
// If the operation fails it returns an *azcore.ResponseError type.
//
// Generated from API version 2024-02-01-preview
func (client *GroupsRPAPIsClient) updateServiceGroup(ctx context.Context, serviceGroupName string, updateServiceGroupRequest ServiceGroup, options *GroupsRPAPIsClientBeginUpdateServiceGroupOptions) (*http.Response, error) {
	var err error
	const operationName = "GroupsRPAPIsClient.BeginUpdateServiceGroup"
	ctx = context.WithValue(ctx, runtime.CtxAPINameKey{}, operationName)
	ctx, endSpan := runtime.StartSpan(ctx, operationName, client.internal.Tracer(), nil)
	defer func() { endSpan(err) }()
	req, err := client.updateServiceGroupCreateRequest(ctx, serviceGroupName, updateServiceGroupRequest, options)
	if err != nil {
		return nil, err
	}
	httpResp, err := client.internal.Pipeline().Do(req)
	if err != nil {
		return nil, err
	}
	if !runtime.HasStatusCode(httpResp, http.StatusOK, http.StatusAccepted) {
		err = runtime.NewResponseError(httpResp)
		return nil, err
	}
	return httpResp, nil
}

// updateServiceGroupCreateRequest creates the UpdateServiceGroup request.
func (client *GroupsRPAPIsClient) updateServiceGroupCreateRequest(ctx context.Context, serviceGroupName string, updateServiceGroupRequest ServiceGroup, _ *GroupsRPAPIsClientBeginUpdateServiceGroupOptions) (*policy.Request, error) {
	urlPath := "/providers/Microsoft.Management/serviceGroups/{serviceGroupName}"
	if serviceGroupName == "" {
		return nil, errors.New("parameter serviceGroupName cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{serviceGroupName}", url.PathEscape(serviceGroupName))
	req, err := runtime.NewRequest(ctx, http.MethodPatch, runtime.JoinPaths(client.internal.Endpoint(), urlPath))
	if err != nil {
		return nil, err
	}
	reqQP := req.Raw().URL.Query()
	reqQP.Set("api-version", "2024-02-01-preview")
	req.Raw().URL.RawQuery = reqQP.Encode()
	req.Raw().Header["Accept"] = []string{"application/json"}
	if err := runtime.MarshalAsJSON(req, updateServiceGroupRequest); err != nil {
		return nil, err
	}
	return req, nil
}
