//go:build go1.13
// +build go1.13

// Copyright (c) Microsoft Corporation. All rights reserved.
// Licensed under the MIT License. See License.txt in the project root for license information.
// Code generated by Microsoft (R) AutoRest Code Generator.
// Changes may cause incorrect behavior and will be lost if the code is regenerated.

package armdatafactory

import (
	"context"
	"errors"
	"fmt"
	"github.com/Azure/azure-sdk-for-go/sdk/armcore"
	"github.com/Azure/azure-sdk-for-go/sdk/azcore"
	"net/http"
	"net/url"
	"strings"
)

// ExposureControlClient contains the methods for the ExposureControl group.
// Don't use this type directly, use NewExposureControlClient() instead.
type ExposureControlClient struct {
	con            *armcore.Connection
	subscriptionID string
}

// NewExposureControlClient creates a new instance of ExposureControlClient with the specified values.
func NewExposureControlClient(con *armcore.Connection, subscriptionID string) *ExposureControlClient {
	return &ExposureControlClient{con: con, subscriptionID: subscriptionID}
}

// GetFeatureValue - Get exposure control feature for specific location.
// If the operation fails it returns the *CloudError error type.
func (client *ExposureControlClient) GetFeatureValue(ctx context.Context, locationID string, exposureControlRequest ExposureControlRequest, options *ExposureControlGetFeatureValueOptions) (ExposureControlGetFeatureValueResponse, error) {
	req, err := client.getFeatureValueCreateRequest(ctx, locationID, exposureControlRequest, options)
	if err != nil {
		return ExposureControlGetFeatureValueResponse{}, err
	}
	resp, err := client.con.Pipeline().Do(req)
	if err != nil {
		return ExposureControlGetFeatureValueResponse{}, err
	}
	if !resp.HasStatusCode(http.StatusOK) {
		return ExposureControlGetFeatureValueResponse{}, client.getFeatureValueHandleError(resp)
	}
	return client.getFeatureValueHandleResponse(resp)
}

// getFeatureValueCreateRequest creates the GetFeatureValue request.
func (client *ExposureControlClient) getFeatureValueCreateRequest(ctx context.Context, locationID string, exposureControlRequest ExposureControlRequest, options *ExposureControlGetFeatureValueOptions) (*azcore.Request, error) {
	urlPath := "/subscriptions/{subscriptionId}/providers/Microsoft.DataFactory/locations/{locationId}/getFeatureValue"
	if client.subscriptionID == "" {
		return nil, errors.New("parameter client.subscriptionID cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{subscriptionId}", url.PathEscape(client.subscriptionID))
	if locationID == "" {
		return nil, errors.New("parameter locationID cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{locationId}", url.PathEscape(locationID))
	req, err := azcore.NewRequest(ctx, http.MethodPost, azcore.JoinPaths(client.con.Endpoint(), urlPath))
	if err != nil {
		return nil, err
	}
	req.Telemetry(telemetryInfo)
	reqQP := req.URL.Query()
	reqQP.Set("api-version", "2018-06-01")
	req.URL.RawQuery = reqQP.Encode()
	req.Header.Set("Accept", "application/json")
	return req, req.MarshalAsJSON(exposureControlRequest)
}

// getFeatureValueHandleResponse handles the GetFeatureValue response.
func (client *ExposureControlClient) getFeatureValueHandleResponse(resp *azcore.Response) (ExposureControlGetFeatureValueResponse, error) {
	result := ExposureControlGetFeatureValueResponse{RawResponse: resp.Response}
	if err := resp.UnmarshalAsJSON(&result.ExposureControlResponse); err != nil {
		return ExposureControlGetFeatureValueResponse{}, err
	}
	return result, nil
}

// getFeatureValueHandleError handles the GetFeatureValue error response.
func (client *ExposureControlClient) getFeatureValueHandleError(resp *azcore.Response) error {
	body, err := resp.Payload()
	if err != nil {
		return azcore.NewResponseError(err, resp.Response)
	}
	errType := CloudError{raw: string(body)}
	if err := resp.UnmarshalAsJSON(&errType.InnerError); err != nil {
		return azcore.NewResponseError(fmt.Errorf("%s\n%s", string(body), err), resp.Response)
	}
	return azcore.NewResponseError(&errType, resp.Response)
}

// GetFeatureValueByFactory - Get exposure control feature for specific factory.
// If the operation fails it returns the *CloudError error type.
func (client *ExposureControlClient) GetFeatureValueByFactory(ctx context.Context, resourceGroupName string, factoryName string, exposureControlRequest ExposureControlRequest, options *ExposureControlGetFeatureValueByFactoryOptions) (ExposureControlGetFeatureValueByFactoryResponse, error) {
	req, err := client.getFeatureValueByFactoryCreateRequest(ctx, resourceGroupName, factoryName, exposureControlRequest, options)
	if err != nil {
		return ExposureControlGetFeatureValueByFactoryResponse{}, err
	}
	resp, err := client.con.Pipeline().Do(req)
	if err != nil {
		return ExposureControlGetFeatureValueByFactoryResponse{}, err
	}
	if !resp.HasStatusCode(http.StatusOK) {
		return ExposureControlGetFeatureValueByFactoryResponse{}, client.getFeatureValueByFactoryHandleError(resp)
	}
	return client.getFeatureValueByFactoryHandleResponse(resp)
}

// getFeatureValueByFactoryCreateRequest creates the GetFeatureValueByFactory request.
func (client *ExposureControlClient) getFeatureValueByFactoryCreateRequest(ctx context.Context, resourceGroupName string, factoryName string, exposureControlRequest ExposureControlRequest, options *ExposureControlGetFeatureValueByFactoryOptions) (*azcore.Request, error) {
	urlPath := "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DataFactory/factories/{factoryName}/getFeatureValue"
	if client.subscriptionID == "" {
		return nil, errors.New("parameter client.subscriptionID cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{subscriptionId}", url.PathEscape(client.subscriptionID))
	if resourceGroupName == "" {
		return nil, errors.New("parameter resourceGroupName cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{resourceGroupName}", url.PathEscape(resourceGroupName))
	if factoryName == "" {
		return nil, errors.New("parameter factoryName cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{factoryName}", url.PathEscape(factoryName))
	req, err := azcore.NewRequest(ctx, http.MethodPost, azcore.JoinPaths(client.con.Endpoint(), urlPath))
	if err != nil {
		return nil, err
	}
	req.Telemetry(telemetryInfo)
	reqQP := req.URL.Query()
	reqQP.Set("api-version", "2018-06-01")
	req.URL.RawQuery = reqQP.Encode()
	req.Header.Set("Accept", "application/json")
	return req, req.MarshalAsJSON(exposureControlRequest)
}

// getFeatureValueByFactoryHandleResponse handles the GetFeatureValueByFactory response.
func (client *ExposureControlClient) getFeatureValueByFactoryHandleResponse(resp *azcore.Response) (ExposureControlGetFeatureValueByFactoryResponse, error) {
	result := ExposureControlGetFeatureValueByFactoryResponse{RawResponse: resp.Response}
	if err := resp.UnmarshalAsJSON(&result.ExposureControlResponse); err != nil {
		return ExposureControlGetFeatureValueByFactoryResponse{}, err
	}
	return result, nil
}

// getFeatureValueByFactoryHandleError handles the GetFeatureValueByFactory error response.
func (client *ExposureControlClient) getFeatureValueByFactoryHandleError(resp *azcore.Response) error {
	body, err := resp.Payload()
	if err != nil {
		return azcore.NewResponseError(err, resp.Response)
	}
	errType := CloudError{raw: string(body)}
	if err := resp.UnmarshalAsJSON(&errType.InnerError); err != nil {
		return azcore.NewResponseError(fmt.Errorf("%s\n%s", string(body), err), resp.Response)
	}
	return azcore.NewResponseError(&errType, resp.Response)
}

// QueryFeatureValuesByFactory - Get list of exposure control features for specific factory.
// If the operation fails it returns the *CloudError error type.
func (client *ExposureControlClient) QueryFeatureValuesByFactory(ctx context.Context, resourceGroupName string, factoryName string, exposureControlBatchRequest ExposureControlBatchRequest, options *ExposureControlQueryFeatureValuesByFactoryOptions) (ExposureControlQueryFeatureValuesByFactoryResponse, error) {
	req, err := client.queryFeatureValuesByFactoryCreateRequest(ctx, resourceGroupName, factoryName, exposureControlBatchRequest, options)
	if err != nil {
		return ExposureControlQueryFeatureValuesByFactoryResponse{}, err
	}
	resp, err := client.con.Pipeline().Do(req)
	if err != nil {
		return ExposureControlQueryFeatureValuesByFactoryResponse{}, err
	}
	if !resp.HasStatusCode(http.StatusOK) {
		return ExposureControlQueryFeatureValuesByFactoryResponse{}, client.queryFeatureValuesByFactoryHandleError(resp)
	}
	return client.queryFeatureValuesByFactoryHandleResponse(resp)
}

// queryFeatureValuesByFactoryCreateRequest creates the QueryFeatureValuesByFactory request.
func (client *ExposureControlClient) queryFeatureValuesByFactoryCreateRequest(ctx context.Context, resourceGroupName string, factoryName string, exposureControlBatchRequest ExposureControlBatchRequest, options *ExposureControlQueryFeatureValuesByFactoryOptions) (*azcore.Request, error) {
	urlPath := "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DataFactory/factories/{factoryName}/queryFeaturesValue"
	if client.subscriptionID == "" {
		return nil, errors.New("parameter client.subscriptionID cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{subscriptionId}", url.PathEscape(client.subscriptionID))
	if resourceGroupName == "" {
		return nil, errors.New("parameter resourceGroupName cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{resourceGroupName}", url.PathEscape(resourceGroupName))
	if factoryName == "" {
		return nil, errors.New("parameter factoryName cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{factoryName}", url.PathEscape(factoryName))
	req, err := azcore.NewRequest(ctx, http.MethodPost, azcore.JoinPaths(client.con.Endpoint(), urlPath))
	if err != nil {
		return nil, err
	}
	req.Telemetry(telemetryInfo)
	reqQP := req.URL.Query()
	reqQP.Set("api-version", "2018-06-01")
	req.URL.RawQuery = reqQP.Encode()
	req.Header.Set("Accept", "application/json")
	return req, req.MarshalAsJSON(exposureControlBatchRequest)
}

// queryFeatureValuesByFactoryHandleResponse handles the QueryFeatureValuesByFactory response.
func (client *ExposureControlClient) queryFeatureValuesByFactoryHandleResponse(resp *azcore.Response) (ExposureControlQueryFeatureValuesByFactoryResponse, error) {
	result := ExposureControlQueryFeatureValuesByFactoryResponse{RawResponse: resp.Response}
	if err := resp.UnmarshalAsJSON(&result.ExposureControlBatchResponse); err != nil {
		return ExposureControlQueryFeatureValuesByFactoryResponse{}, err
	}
	return result, nil
}

// queryFeatureValuesByFactoryHandleError handles the QueryFeatureValuesByFactory error response.
func (client *ExposureControlClient) queryFeatureValuesByFactoryHandleError(resp *azcore.Response) error {
	body, err := resp.Payload()
	if err != nil {
		return azcore.NewResponseError(err, resp.Response)
	}
	errType := CloudError{raw: string(body)}
	if err := resp.UnmarshalAsJSON(&errType.InnerError); err != nil {
		return azcore.NewResponseError(fmt.Errorf("%s\n%s", string(body), err), resp.Response)
	}
	return azcore.NewResponseError(&errType, resp.Response)
}
