//go:build go1.13
// +build go1.13

// Copyright (c) Microsoft Corporation. All rights reserved.
// Licensed under the MIT License. See License.txt in the project root for license information.
// Code generated by Microsoft (R) AutoRest Code Generator.
// Changes may cause incorrect behavior and will be lost if the code is regenerated.

package armdatafactory

import (
	"context"
	"errors"
	"fmt"
	"github.com/Azure/azure-sdk-for-go/sdk/armcore"
	"github.com/Azure/azure-sdk-for-go/sdk/azcore"
	"net/http"
	"net/url"
	"strings"
)

// ActivityRunsClient contains the methods for the ActivityRuns group.
// Don't use this type directly, use NewActivityRunsClient() instead.
type ActivityRunsClient struct {
	con            *armcore.Connection
	subscriptionID string
}

// NewActivityRunsClient creates a new instance of ActivityRunsClient with the specified values.
func NewActivityRunsClient(con *armcore.Connection, subscriptionID string) *ActivityRunsClient {
	return &ActivityRunsClient{con: con, subscriptionID: subscriptionID}
}

// QueryByPipelineRun - Query activity runs based on input filter conditions.
// If the operation fails it returns the *CloudError error type.
func (client *ActivityRunsClient) QueryByPipelineRun(ctx context.Context, resourceGroupName string, factoryName string, runID string, filterParameters RunFilterParameters, options *ActivityRunsQueryByPipelineRunOptions) (ActivityRunsQueryByPipelineRunResponse, error) {
	req, err := client.queryByPipelineRunCreateRequest(ctx, resourceGroupName, factoryName, runID, filterParameters, options)
	if err != nil {
		return ActivityRunsQueryByPipelineRunResponse{}, err
	}
	resp, err := client.con.Pipeline().Do(req)
	if err != nil {
		return ActivityRunsQueryByPipelineRunResponse{}, err
	}
	if !resp.HasStatusCode(http.StatusOK) {
		return ActivityRunsQueryByPipelineRunResponse{}, client.queryByPipelineRunHandleError(resp)
	}
	return client.queryByPipelineRunHandleResponse(resp)
}

// queryByPipelineRunCreateRequest creates the QueryByPipelineRun request.
func (client *ActivityRunsClient) queryByPipelineRunCreateRequest(ctx context.Context, resourceGroupName string, factoryName string, runID string, filterParameters RunFilterParameters, options *ActivityRunsQueryByPipelineRunOptions) (*azcore.Request, error) {
	urlPath := "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DataFactory/factories/{factoryName}/pipelineruns/{runId}/queryActivityruns"
	if client.subscriptionID == "" {
		return nil, errors.New("parameter client.subscriptionID cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{subscriptionId}", url.PathEscape(client.subscriptionID))
	if resourceGroupName == "" {
		return nil, errors.New("parameter resourceGroupName cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{resourceGroupName}", url.PathEscape(resourceGroupName))
	if factoryName == "" {
		return nil, errors.New("parameter factoryName cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{factoryName}", url.PathEscape(factoryName))
	if runID == "" {
		return nil, errors.New("parameter runID cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{runId}", url.PathEscape(runID))
	req, err := azcore.NewRequest(ctx, http.MethodPost, azcore.JoinPaths(client.con.Endpoint(), urlPath))
	if err != nil {
		return nil, err
	}
	req.Telemetry(telemetryInfo)
	reqQP := req.URL.Query()
	reqQP.Set("api-version", "2018-06-01")
	req.URL.RawQuery = reqQP.Encode()
	req.Header.Set("Accept", "application/json")
	return req, req.MarshalAsJSON(filterParameters)
}

// queryByPipelineRunHandleResponse handles the QueryByPipelineRun response.
func (client *ActivityRunsClient) queryByPipelineRunHandleResponse(resp *azcore.Response) (ActivityRunsQueryByPipelineRunResponse, error) {
	result := ActivityRunsQueryByPipelineRunResponse{RawResponse: resp.Response}
	if err := resp.UnmarshalAsJSON(&result.ActivityRunsQueryResponse); err != nil {
		return ActivityRunsQueryByPipelineRunResponse{}, err
	}
	return result, nil
}

// queryByPipelineRunHandleError handles the QueryByPipelineRun error response.
func (client *ActivityRunsClient) queryByPipelineRunHandleError(resp *azcore.Response) error {
	body, err := resp.Payload()
	if err != nil {
		return azcore.NewResponseError(err, resp.Response)
	}
	errType := CloudError{raw: string(body)}
	if err := resp.UnmarshalAsJSON(&errType.InnerError); err != nil {
		return azcore.NewResponseError(fmt.Errorf("%s\n%s", string(body), err), resp.Response)
	}
	return azcore.NewResponseError(&errType, resp.Response)
}
