{
  "Entries": [
    {
      "RequestUri": "https://fakekvurl.vault.azure.net/keys/backup-key564789157/create?api-version=7.3-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        ":method": "POST"
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\u0022https://login.windows.net/00000000-0000-0000-0000-000000000000\u0022, resource=\u0022https://vault.azure.net\u0022"
      },
      "ResponseBody": {
        "error": {
          "code": "Unauthorized",
          "message": "AKV10000: Request is missing a Bearer or PoP token."
        }
      }
    },
    {
      "RequestUri": "https://fakekvurl.vault.azure.net/keys/backup-key564789157/create?api-version=7.3-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        ":method": "POST",
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "kty": "RSA"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "key": {
          "kid": "https://fakekvurl.vault.azure.net/keys/backup-key564789157/8d851a02cefb4b119ab91f1354ff5f0f",
          "kty": "RSA",
          "key_ops": [
            "encrypt",
            "decrypt",
            "sign",
            "verify",
            "wrapKey",
            "unwrapKey"
          ],
          "n": "wdW_EPGfIp681BE7SNan5WLT4f93_hqOQ7aUo7yh-V6XFGABsnqRT81Hv1y4yN5d3SyGm5EkF0gT4Wiunicec365fQ35ZtzMNfVlyh0z0Rqnvd8245Tk49V1nVJiaY9yqeNATUBjuVFDP6zi7NDm00XcA3T7TdVoSEOhlM9an3JGzKCdi1_K6SHo9sglWFp2-mYMGWjP6Z2DYR_Acp8fjWFR1P4yprHTIYa75SkhaP6LD93ufKnTxk8Mzgaer6YHFKHYY1yO8ZnLrtgSusKvmUy_Q24SLYnS13tgLK0y2POaBo0O74SM1-EmQDbuC7nLyRKoObZIAJycex1E-FQVgQ",
          "e": "AQAB"
        },
        "attributes": {
          "enabled": true,
          "created": 1643129801,
          "updated": 1643129801,
          "recoveryLevel": "CustomizedRecoverable\u002BPurgeable",
          "recoverableDays": 7
        }
      }
    },
    {
      "RequestUri": "https://fakekvurl.vault.azure.net/keys/backup-key564789157/backup?api-version=7.3-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        ":method": "POST",
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "value": "JkF6dXJlS2V5VmF1bHRLZXlCYWNrdXBWMS5taWNyb3NvZnQuY29tZXlKcmFXUWlPaUl5WVdabU5tRmhNUzAzTm1Ka0xUUTBZVGN0WVRjek5DMDJaalZoWkRCaU5XRTRPVGdpTENKaGJHY2lPaUpTVTBFdFQwRkZVQzB5TlRZaUxDSmxibU1pT2lKQk1qVTJRMEpETFVoVE5URXlJbjAuT1Q4dlJ6OGlyUWNYaGlFYzRybVRLZ1k4RHJPSWZySmJmNFZRVndoUmVsemtQLV85M3RYY0NNdE1yZDBuMWQxR3diek1JMUpDUzZ4Z0pJaG1CYmpLRjBXdU9DaTJnTmdZbkFZS2VqSUhkTENZTU9TekxZUjRIUnhKTXVkQUh4Y21wRm5tRWZGM1V0RzhCeXZ4X0hPQUhRN3ZFUXF2SlM0VGJNR2ZPbHU1TC1UMDF2MVl6ZWlVRUk5ZnE1M3BEdFBRTTFvV2k0WmVheS1uQ2lpMGp4UloyTV[...]
    {
      "RequestUri": "https://fakekvurl.vault.azure.net/keys/backup-key564789157?api-version=7.3-preview",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "recoveryId": "https://fakekvurl.vault.azure.net/deletedkeys/backup-key564789157",
        "deletedDate": 1643129801,
        "scheduledPurgeDate": 1643734601,
        "key": {
          "kid": "https://fakekvurl.vault.azure.net/keys/backup-key564789157/8d851a02cefb4b119ab91f1354ff5f0f",
          "kty": "RSA",
          "key_ops": [
            "encrypt",
            "decrypt",
            "sign",
            "verify",
            "wrapKey",
            "unwrapKey"
          ],
          "n": "wdW_EPGfIp681BE7SNan5WLT4f93_hqOQ7aUo7yh-V6XFGABsnqRT81Hv1y4yN5d3SyGm5EkF0gT4Wiunicec365fQ35ZtzMNfVlyh0z0Rqnvd8245Tk49V1nVJiaY9yqeNATUBjuVFDP6zi7NDm00XcA3T7TdVoSEOhlM9an3JGzKCdi1_K6SHo9sglWFp2-mYMGWjP6Z2DYR_Acp8fjWFR1P4yprHTIYa75SkhaP6LD93ufKnTxk8Mzgaer6YHFKHYY1yO8ZnLrtgSusKvmUy_Q24SLYnS13tgLK0y2POaBo0O74SM1-EmQDbuC7nLyRKoObZIAJycex1E-FQVgQ",
          "e": "AQAB"
        },
        "attributes": {
          "enabled": true,
          "created": 1643129801,
          "updated": 1643129801,
          "recoveryLevel": "CustomizedRecoverable\u002BPurgeable",
          "recoverableDays": 7
        }
      }
    },
    {
      "RequestUri": "https://fakekvurl.vault.azure.net/deletedkeys/backup-key564789157?api-version=7.3-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        ":method": "GET",
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "error": {
          "code": "KeyNotFound",
          "message": "Deleted Key not found: backup-key564789157"
        }
      }
    },
[...]
    {
      "RequestUri": "https://fakekvurl.vault.azure.net/keys/backup-key564789157/?api-version=7.3-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        ":method": "GET",
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "error": {
          "code": "KeyNotFound",
          "message": "A key with (name/id) backup-key564789157 was not found in this key vault. If you recently deleted this key you may be able to recover it using the correct recovery command. For help resolving this issue, please see https://go.microsoft.com/fwlink/?linkid=2125182"
        }
      }
    },
[...]
    {
      "RequestUri": "https://fakekvurl.vault.azure.net/keys/restore?api-version=7.3-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        ":method": "POST",
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "value": "JkF6dXJlS2V5VmF1bHRLZXlCYWNrdXBWMS5taWNyb3NvZnQuY29tZXlKcmFXUWlPaUl5WVdabU5tRmhNUzAzTm1Ka0xUUTBZVGN0WVRjek5DMDJaalZoWkRCaU5XRTRPVGdpTENKaGJHY2lPaUpTVTBFdFQwRkZVQzB5TlRZaUxDSmxibU1pT2lKQ[...]
[...]
    {
      "RequestUri": "https://fakekvurl.vault.azure.net/keys/key%21@%23$%25/backup?api-version=7.3-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        ":method": "POST",
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 400,
      "ResponseHeaders": {
        "Content-Type": "text/html; charset=utf-8"
      },
      "ResponseBody": [
        "\u003C!DOCTYPE html\u003E\r\n",
        "\u003Chtml\u003E\r\n",
        "    \u003Ch[...]
[...]
    {
      "RequestUri": "https://fakekvurl.vault.azure.net/deletedkeys/backup-key564789157?api-version=7.3-preview",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
      },
      "ResponseBody": null
    }
  ],
  "Variables": {}
}
