//go:build go1.16
// +build go1.16

// Copyright (c) Microsoft Corporation. All rights reserved.
// Licensed under the MIT License. See License.txt in the project root for license information.
// Code generated by Microsoft (R) AutoRest Code Generator.
// Changes may cause incorrect behavior and will be lost if the code is regenerated.

package armpowerbiembedded

import (
	"context"
	"fmt"
	"github.com/Azure/azure-sdk-for-go/sdk/azcore"
	"github.com/Azure/azure-sdk-for-go/sdk/azcore/arm"
	armruntime "github.com/Azure/azure-sdk-for-go/sdk/azcore/arm/runtime"
	"github.com/Azure/azure-sdk-for-go/sdk/azcore/policy"
	"github.com/Azure/azure-sdk-for-go/sdk/azcore/runtime"
	"net/http"
)

// PowerBIEmbeddedManagementClient contains the methods for the PowerBIEmbeddedManagementClient group.
// Don't use this type directly, use NewPowerBIEmbeddedManagementClient() instead.
type PowerBIEmbeddedManagementClient struct {
	ep string
	pl runtime.Pipeline
}

// NewPowerBIEmbeddedManagementClient creates a new instance of PowerBIEmbeddedManagementClient with the specified values.
func NewPowerBIEmbeddedManagementClient(credential azcore.TokenCredential, options *arm.ClientOptions) *PowerBIEmbeddedManagementClient {
	cp := arm.ClientOptions{}
	if options != nil {
		cp = *options
	}
	if len(cp.Host) == 0 {
		cp.Host = arm.AzurePublicCloud
	}
	return &PowerBIEmbeddedManagementClient{ep: string(cp.Host), pl: armruntime.NewPipeline(module, version, credential, &cp)}
}

// GetAvailableOperations - Indicates which operations can be performed by the Power BI Resource Provider.
// If the operation fails it returns the *Error error type.
func (client *PowerBIEmbeddedManagementClient) GetAvailableOperations(ctx context.Context, options *PowerBIEmbeddedManagementClientGetAvailableOperationsOptions) (PowerBIEmbeddedManagementClientGetAvailableOperationsResponse, error) {
	req, err := client.getAvailableOperationsCreateRequest(ctx, options)
	if err != nil {
		return PowerBIEmbeddedManagementClientGetAvailableOperationsResponse{}, err
	}
	resp, err := client.pl.Do(req)
	if err != nil {
		return PowerBIEmbeddedManagementClientGetAvailableOperationsResponse{}, err
	}
	if !runtime.HasStatusCode(resp, http.StatusOK) {
		return PowerBIEmbeddedManagementClientGetAvailableOperationsResponse{}, client.getAvailableOperationsHandleError(resp)
	}
	return client.getAvailableOperationsHandleResponse(resp)
}

// getAvailableOperationsCreateRequest creates the GetAvailableOperations request.
func (client *PowerBIEmbeddedManagementClient) getAvailableOperationsCreateRequest(ctx context.Context, options *PowerBIEmbeddedManagementClientGetAvailableOperationsOptions) (*policy.Request, error) {
	urlPath := "/providers/Microsoft.PowerBI/operations"
	req, err := runtime.NewRequest(ctx, http.MethodGet, runtime.JoinPaths(client.ep, urlPath))
	if err != nil {
		return nil, err
	}
	reqQP := req.Raw().URL.Query()
	reqQP.Set("api-version", "2016-01-29")
	req.Raw().URL.RawQuery = reqQP.Encode()
	req.Raw().Header.Set("Accept", "application/json")
	return req, nil
}

// getAvailableOperationsHandleResponse handles the GetAvailableOperations response.
func (client *PowerBIEmbeddedManagementClient) getAvailableOperationsHandleResponse(resp *http.Response) (PowerBIEmbeddedManagementClientGetAvailableOperationsResponse, error) {
	result := PowerBIEmbeddedManagementClientGetAvailableOperationsResponse{RawResponse: resp}
	if err := runtime.UnmarshalAsJSON(resp, &result.OperationList); err != nil {
		return PowerBIEmbeddedManagementClientGetAvailableOperationsResponse{}, runtime.NewResponseError(err, resp)
	}
	return result, nil
}

// getAvailableOperationsHandleError handles the GetAvailableOperations error response.
func (client *PowerBIEmbeddedManagementClient) getAvailableOperationsHandleError(resp *http.Response) error {
	body, err := runtime.Payload(resp)
	if err != nil {
		return runtime.NewResponseError(err, resp)
	}
	errType := Error{raw: string(body)}
	if err := runtime.UnmarshalAsJSON(resp, &errType); err != nil {
		return runtime.NewResponseError(fmt.Errorf("%s\n%s", string(body), err), resp)
	}
	return runtime.NewResponseError(&errType, resp)
}
