{
  "Entries": [
    {
      "RequestUri": "https://fakekvurl.vault.azure.net/keys/key89075156/create?api-version=7.2",
      "RequestMethod": "POST",
      "RequestHeaders": {
        ":authority": "localhost:5001",
        ":method": "POST",
        ":path": "/keys/key89075156/create?api-version=7.2",
        ":scheme": "https",
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "x-ms-date": "Thu, 21 Oct 2021 19:05:11 GMT"
      },
      "RequestBody": {
        "kty": "RSA"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "key": {
          "kid": "https://seankane.vault.azure.net/keys/key89075156/a72d13975ad348d995359db2e850b59a",
          "kty": "RSA",
          "key_ops": [
            "encrypt",
            "decrypt",
            "sign",
            "verify",
            "wrapKey",
            "unwrapKey"
          ],
          "n": "ygHgbT-HIZyjoWTuk6Uzq-UBhAo6v4i2K1SwhHghX0XLMk_-lSx6iPslYuxPT2flv6hkxEeO3UcWoVwHMTqt4Fnq2e5v2Ldh8-oqCfAgUhxn1ZzRSJycQRJiF0Th5Hx5asHOz0WL-RhsV5as5Q6iD4_UZIQuwz3mtv7f5urXqdlE05tHU87IXo_HJ6CIQ8yDnlk7qcpYEg-HUsEHcJ3YEfBNq3i2w9so-oQtvs-91aaxF5DAgnrSJb0XOVwJsrXJs3tpkQYsN6UqRc3fXu7524GQL8HJAHXCw_H9lMH7Chp_w8uxPpT-iTwcRIzFJg7Mb4ebGY3E1iVACKOC5WV3ZQ",
          "e": "AQAB"
        },
        "attributes": {
          "enabled": true,
          "created": 1634843112,
          "updated": 1634843112,
          "recoveryLevel": "CustomizedRecoverable\u002BPurgeable",
          "recoverableDays": 7
        }
      }
    },
    {
      "RequestUri": "https://fakekvurl.vault.azure.net/keys/key89075156/a72d13975ad348d995359db2e850b59a/encrypt?api-version=7.2",
      "RequestMethod": "POST",
      "RequestHeaders": {
        ":authority": "localhost:5001",
        ":method": "POST",
        ":path": "/keys/key89075156/a72d13975ad348d995359db2e850b59a/encrypt?api-version=7.2",
        ":scheme": "https",
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "x-ms-date": "Thu, 21 Oct 2021 19:05:11 GMT"
      },
      "RequestBody": {
        "alg": "RSA-OAEP",
        "value": "cGxhaW50ZXh0"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "kid": "https://seankane.vault.azure.net/keys/key89075156/a72d13975ad348d995359db2e850b59a",
        "value": "u0GKVtocfrrjHxap049dW3oc3FcE7dVZcPxjzj5DbW76LFLuaL9WxyXAUkPP5kbf9LgerMw77wic5TBvfagpS-sOrNojHQ_UOotn6yRswcdILDQmJ1Vw62a0czwoEa90mFDRNDqIzfpJ1COvRq3xjk-9xZPzblr8aWTGQXWo2obYGZNJcyHbku5B-W497CM2uSYxfdGOqqKv5wrt3tUELrGVuNyH6fBhPtxYTm82lFVcBTdVkNO8kKUZ00ZsfI-aumz3qY4DViDcOtIGcKQ8Z2N-wlaXs_tAMVldxTRSj5sF1E0zWwkIxHO5_yaLSvwXdmAxuuptz1Z4r3VISoCahg"
      }
    },
    {
      "RequestUri": "https://fakekvurl.vault.azure.net/keys/key89075156/a72d13975ad348d995359db2e850b59a/decrypt?api-version=7.2",
      "RequestMethod": "POST",
      "RequestHeaders": {
        ":authority": "localhost:5001",
        ":method": "POST",
        ":path": "/keys/key89075156/a72d13975ad348d995359db2e850b59a/decrypt?api-version=7.2",
        ":scheme": "https",
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "x-ms-date": "Thu, 21 Oct 2021 19:05:12 GMT"
      },
      "RequestBody": {
        "alg": "RSA-OAEP",
        "value": "u0GKVtocfrrjHxap049dW3oc3FcE7dVZcPxjzj5DbW76LFLuaL9WxyXAUkPP5kbf9LgerMw77wic5TBvfagpS-sOrNojHQ_UOotn6yRswcdILDQmJ1Vw62a0czwoEa90mFDRNDqIzfpJ1COvRq3xjk-9xZPzblr8aWTGQXWo2obYGZNJcyHbku5B-W497CM2uSYxfdGOqqKv5wrt3tUELrGVuNyH6fBhPtxYTm82lFVcBTdVkNO8kKUZ00ZsfI-aumz3qY4DViDcOtIGcKQ8Z2N-wlaXs_tAMVldxTRSj5sF1E0zWwkIxHO5_yaLSvwXdmAxuuptz1Z4r3VISoCahg"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "kid": "https://seankane.vault.azure.net/keys/key89075156/a72d13975ad348d995359db2e850b59a",
        "value": "cGxhaW50ZXh0"
      }
    }
  ],
  "Variables": {}
}
