package containerinstance

// Copyright (c) Microsoft and contributors.  All rights reserved.
//
// Licensed under the Apache License, Version 2.0 (the "License");
// you may not use this file except in compliance with the License.
// You may obtain a copy of the License at
// http://www.apache.org/licenses/LICENSE-2.0
//
// Unless required by applicable law or agreed to in writing, software
// distributed under the License is distributed on an "AS IS" BASIS,
// WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
//
// See the License for the specific language governing permissions and
// limitations under the License.
//
// Code generated by Microsoft (R) AutoRest Code Generator.
// Changes may cause incorrect behavior and will be lost if the code is regenerated.

import (
	"context"
	"github.com/Azure/go-autorest/autorest"
	"github.com/Azure/go-autorest/autorest/azure"
	"net/http"
)

// AsyncContainerGroupOperationClient is the client for the AsyncContainerGroupOperation methods of the
// Containerinstance service.
type AsyncContainerGroupOperationClient struct {
	BaseClient
}

// NewAsyncContainerGroupOperationClient creates an instance of the AsyncContainerGroupOperationClient client.
func NewAsyncContainerGroupOperationClient(subscriptionID string) AsyncContainerGroupOperationClient {
	return NewAsyncContainerGroupOperationClientWithBaseURI(DefaultBaseURI, subscriptionID)
}

// NewAsyncContainerGroupOperationClientWithBaseURI creates an instance of the AsyncContainerGroupOperationClient
// client.
func NewAsyncContainerGroupOperationClientWithBaseURI(baseURI string, subscriptionID string) AsyncContainerGroupOperationClient {
	return AsyncContainerGroupOperationClient{NewWithBaseURI(baseURI, subscriptionID)}
}

// Get get the container group async operation status.
//
// location is the identifier for the physical azure location. operationID is the operation Id.
func (client AsyncContainerGroupOperationClient) Get(ctx context.Context, location string, operationID string) (result AsyncOperation, err error) {
	req, err := client.GetPreparer(ctx, location, operationID)
	if err != nil {
		err = autorest.NewErrorWithError(err, "containerinstance.AsyncContainerGroupOperationClient", "Get", nil, "Failure preparing request")
		return
	}

	resp, err := client.GetSender(req)
	if err != nil {
		result.Response = autorest.Response{Response: resp}
		err = autorest.NewErrorWithError(err, "containerinstance.AsyncContainerGroupOperationClient", "Get", resp, "Failure sending request")
		return
	}

	result, err = client.GetResponder(resp)
	if err != nil {
		err = autorest.NewErrorWithError(err, "containerinstance.AsyncContainerGroupOperationClient", "Get", resp, "Failure responding to request")
	}

	return
}

// GetPreparer prepares the Get request.
func (client AsyncContainerGroupOperationClient) GetPreparer(ctx context.Context, location string, operationID string) (*http.Request, error) {
	pathParameters := map[string]interface{}{
		"location":       autorest.Encode("path", location),
		"operationId":    autorest.Encode("path", operationID),
		"subscriptionId": autorest.Encode("path", client.SubscriptionID),
	}

	const APIVersion = "2018-02-01-preview"
	queryParameters := map[string]interface{}{
		"api-version": APIVersion,
	}

	preparer := autorest.CreatePreparer(
		autorest.AsGet(),
		autorest.WithBaseURL(client.BaseURI),
		autorest.WithPathParameters("/subscriptions/{subscriptionId}/providers/Microsoft.ContainerInstance/locations/{location}/operations/{operationId}", pathParameters),
		autorest.WithQueryParameters(queryParameters))
	return preparer.Prepare((&http.Request{}).WithContext(ctx))
}

// GetSender sends the Get request. The method will close the
// http.Response Body if it receives an error.
func (client AsyncContainerGroupOperationClient) GetSender(req *http.Request) (*http.Response, error) {
	return autorest.SendWithSender(client, req,
		azure.DoRetryWithRegistration(client.Client))
}

// GetResponder handles the response to the Get request. The method always
// closes the http.Response Body.
func (client AsyncContainerGroupOperationClient) GetResponder(resp *http.Response) (result AsyncOperation, err error) {
	err = autorest.Respond(
		resp,
		client.ByInspecting(),
		azure.WithErrorUnlessStatusCode(http.StatusOK),
		autorest.ByUnmarshallingJSON(&result),
		autorest.ByClosing())
	result.Response = autorest.Response{Response: resp}
	return
}
