---
version: 1
interactions:
- request:
    body: '{"TableName":"gotable5hickrxl8lpbo"}'
    form: {}
    headers:
      Authorization:
      - sanitized
      Content-Type:
      - application/json
      Dataserviceversion:
      - "3.0"
      X-Ms-Date:
      - Sun, 04 Apr 2021 21:59:10 GMT
      X-Ms-Version:
      - "2019-02-02"
    url: https://chrisstablesprim.table.core.windows.net/Tables
    method: POST
  response:
    body: '{"odata.metadata":"https://chrisstablesprim.table.core.windows.net/$metadata#Tables/@Element","TableName":"gotable5hickrxl8lpbo"}'
    headers:
      Content-Type:
      - application/json;odata=minimalmetadata;streaming=true;charset=utf-8
      Location:
      - https://chrisstablesprim.table.core.windows.net/Tables('gotable5hickrxl8lpbo')
      X-Ms-Version:
      - "2019-02-02"
    status: 201 Created
    code: 201
    duration: ""
- request:
    body: '{"TableName":"gotable5hickrxl8lpbo"}'
    form: {}
    headers:
      Authorization:
      - sanitized
      Content-Type:
      - application/json
      Dataserviceversion:
      - "3.0"
      X-Ms-Date:
      - Sun, 04 Apr 2021 21:59:10 GMT
      X-Ms-Version:
      - "2019-02-02"
    url: https://chrisstablesprim.table.core.windows.net/Tables
    method: POST
  response:
    body: '{"odata.error":{"code":"TableAlreadyExists","message":{"lang":"en-US","value":"The
      table specified already exists.\nRequestId:a5bfa358-3002-0057-259d-299a27000000\nTime:2021-04-04T21:59:10.6883876Z"}}}'
    headers:
      Content-Type:
      - application/json;odata=minimalmetadata;streaming=true;charset=utf-8
      X-Ms-Version:
      - "2019-02-02"
    status: 409 Conflict
    code: 409
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Authorization:
      - sanitized
      X-Ms-Date:
      - Sun, 04 Apr 2021 21:59:10 GMT
      X-Ms-Version:
      - "2019-02-02"
    url: https://chrisstablesprim.table.core.windows.net/Tables('gotable5hickrxl8lpbo')
    method: DELETE
  response:
    body: ""
    headers:
      X-Ms-Version:
      - "2019-02-02"
    status: 204 No Content
    code: 204
    duration: ""
