// +build go1.13

// Copyright (c) Microsoft Corporation. All rights reserved.
// Licensed under the MIT License. See License.txt in the project root for license information.
// Code generated by Microsoft (R) AutoRest Code Generator.
// Changes may cause incorrect behavior and will be lost if the code is regenerated.

package armmonitor

import (
	"context"
	"errors"
	"github.com/Azure/azure-sdk-for-go/sdk/armcore"
	"github.com/Azure/azure-sdk-for-go/sdk/azcore"
	"net/http"
	"net/url"
	"strings"
)

// PrivateLinkScopeOperationStatusClient contains the methods for the PrivateLinkScopeOperationStatus group.
// Don't use this type directly, use NewPrivateLinkScopeOperationStatusClient() instead.
type PrivateLinkScopeOperationStatusClient struct {
	con            *armcore.Connection
	subscriptionID string
}

// NewPrivateLinkScopeOperationStatusClient creates a new instance of PrivateLinkScopeOperationStatusClient with the specified values.
func NewPrivateLinkScopeOperationStatusClient(con *armcore.Connection, subscriptionID string) *PrivateLinkScopeOperationStatusClient {
	return &PrivateLinkScopeOperationStatusClient{con: con, subscriptionID: subscriptionID}
}

// Get - Get the status of an azure asynchronous operation associated with a private link scope operation.
// If the operation fails it returns a generic error.
func (client *PrivateLinkScopeOperationStatusClient) Get(ctx context.Context, asyncOperationID string, resourceGroupName string, options *PrivateLinkScopeOperationStatusGetOptions) (OperationStatusResponse, error) {
	req, err := client.getCreateRequest(ctx, asyncOperationID, resourceGroupName, options)
	if err != nil {
		return OperationStatusResponse{}, err
	}
	resp, err := client.con.Pipeline().Do(req)
	if err != nil {
		return OperationStatusResponse{}, err
	}
	if !resp.HasStatusCode(http.StatusOK) {
		return OperationStatusResponse{}, client.getHandleError(resp)
	}
	return client.getHandleResponse(resp)
}

// getCreateRequest creates the Get request.
func (client *PrivateLinkScopeOperationStatusClient) getCreateRequest(ctx context.Context, asyncOperationID string, resourceGroupName string, options *PrivateLinkScopeOperationStatusGetOptions) (*azcore.Request, error) {
	urlPath := "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/microsoft.insights/privateLinkScopeOperationStatuses/{asyncOperationId}"
	if asyncOperationID == "" {
		return nil, errors.New("parameter asyncOperationID cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{asyncOperationId}", url.PathEscape(asyncOperationID))
	if resourceGroupName == "" {
		return nil, errors.New("parameter resourceGroupName cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{resourceGroupName}", url.PathEscape(resourceGroupName))
	if client.subscriptionID == "" {
		return nil, errors.New("parameter client.subscriptionID cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{subscriptionId}", url.PathEscape(client.subscriptionID))
	req, err := azcore.NewRequest(ctx, http.MethodGet, azcore.JoinPaths(client.con.Endpoint(), urlPath))
	if err != nil {
		return nil, err
	}
	req.Telemetry(telemetryInfo)
	reqQP := req.URL.Query()
	reqQP.Set("api-version", "2019-10-17-preview")
	req.URL.RawQuery = reqQP.Encode()
	req.Header.Set("Accept", "application/json")
	return req, nil
}

// getHandleResponse handles the Get response.
func (client *PrivateLinkScopeOperationStatusClient) getHandleResponse(resp *azcore.Response) (OperationStatusResponse, error) {
	var val *OperationStatus
	if err := resp.UnmarshalAsJSON(&val); err != nil {
		return OperationStatusResponse{}, err
	}
	return OperationStatusResponse{RawResponse: resp.Response, OperationStatus: val}, nil
}

// getHandleError handles the Get error response.
func (client *PrivateLinkScopeOperationStatusClient) getHandleError(resp *azcore.Response) error {
	body, err := resp.Payload()
	if err != nil {
		return azcore.NewResponseError(err, resp.Response)
	}
	if len(body) == 0 {
		return azcore.NewResponseError(errors.New(resp.Status), resp.Response)
	}
	return azcore.NewResponseError(errors.New(string(body)), resp.Response)
}
