// +build go1.13

// Copyright (c) Microsoft Corporation. All rights reserved.
// Licensed under the MIT License. See License.txt in the project root for license information.
// Code generated by Microsoft (R) AutoRest Code Generator.
// Changes may cause incorrect behavior and will be lost if the code is regenerated.

package armmonitor

import (
	"context"
	"fmt"
	"github.com/Azure/azure-sdk-for-go/sdk/armcore"
	"github.com/Azure/azure-sdk-for-go/sdk/azcore"
	"net/http"
)

// EventCategoriesClient contains the methods for the EventCategories group.
// Don't use this type directly, use NewEventCategoriesClient() instead.
type EventCategoriesClient struct {
	con *armcore.Connection
}

// NewEventCategoriesClient creates a new instance of EventCategoriesClient with the specified values.
func NewEventCategoriesClient(con *armcore.Connection) *EventCategoriesClient {
	return &EventCategoriesClient{con: con}
}

// List - Get the list of available event categories supported in the Activity Logs Service. The current list includes the following: Administrative, Security,
// ServiceHealth, Alert, Recommendation, Policy.
// If the operation fails it returns the *ErrorResponse error type.
func (client *EventCategoriesClient) List(ctx context.Context, options *EventCategoriesListOptions) (EventCategoryCollectionResponse, error) {
	req, err := client.listCreateRequest(ctx, options)
	if err != nil {
		return EventCategoryCollectionResponse{}, err
	}
	resp, err := client.con.Pipeline().Do(req)
	if err != nil {
		return EventCategoryCollectionResponse{}, err
	}
	if !resp.HasStatusCode(http.StatusOK) {
		return EventCategoryCollectionResponse{}, client.listHandleError(resp)
	}
	return client.listHandleResponse(resp)
}

// listCreateRequest creates the List request.
func (client *EventCategoriesClient) listCreateRequest(ctx context.Context, options *EventCategoriesListOptions) (*azcore.Request, error) {
	urlPath := "/providers/Microsoft.Insights/eventcategories"
	req, err := azcore.NewRequest(ctx, http.MethodGet, azcore.JoinPaths(client.con.Endpoint(), urlPath))
	if err != nil {
		return nil, err
	}
	req.Telemetry(telemetryInfo)
	reqQP := req.URL.Query()
	reqQP.Set("api-version", "2015-04-01")
	req.URL.RawQuery = reqQP.Encode()
	req.Header.Set("Accept", "application/json")
	return req, nil
}

// listHandleResponse handles the List response.
func (client *EventCategoriesClient) listHandleResponse(resp *azcore.Response) (EventCategoryCollectionResponse, error) {
	var val *EventCategoryCollection
	if err := resp.UnmarshalAsJSON(&val); err != nil {
		return EventCategoryCollectionResponse{}, err
	}
	return EventCategoryCollectionResponse{RawResponse: resp.Response, EventCategoryCollection: val}, nil
}

// listHandleError handles the List error response.
func (client *EventCategoriesClient) listHandleError(resp *azcore.Response) error {
	body, err := resp.Payload()
	if err != nil {
		return azcore.NewResponseError(err, resp.Response)
	}
	errType := ErrorResponse{raw: string(body)}
	if err := resp.UnmarshalAsJSON(&errType); err != nil {
		return azcore.NewResponseError(fmt.Errorf("%s\n%s", string(body), err), resp.Response)
	}
	return azcore.NewResponseError(&errType, resp.Response)
}
