//go:build go1.18
// +build go1.18

// Copyright (c) Microsoft Corporation. All rights reserved.
// Licensed under the MIT License. See License.txt in the project root for license information.
// Code generated by Microsoft (R) AutoRest Code Generator.
// Changes may cause incorrect behavior and will be lost if the code is regenerated.
// DO NOT EDIT.

package internal

import (
	"context"
	"github.com/Azure/azure-sdk-for-go/sdk/azcore/policy"
	"github.com/Azure/azure-sdk-for-go/sdk/azcore/runtime"
	"github.com/Azure/azure-sdk-for-go/sdk/azcore/streaming"
	"net/http"
	"net/url"
	"strings"
)

// AuthenticationClient contains the methods for the Authentication group.
// Don't use this type directly, use NewAuthenticationClient() instead.
type AuthenticationClient struct {
	endpoint string
	pl       runtime.Pipeline
}

// NewAuthenticationClient creates a new instance of AuthenticationClient with the specified values.
//   - endpoint - Registry login URL
//   - pl - the pipeline used for sending requests and handling responses.
func NewAuthenticationClient(endpoint string, pl runtime.Pipeline) *AuthenticationClient {
	client := &AuthenticationClient{
		endpoint: endpoint,
		pl:       pl,
	}
	return client
}

// ExchangeAADAccessTokenForAcrRefreshToken - Exchange AAD tokens for an ACR refresh Token
// If the operation fails it returns an *azcore.ResponseError type.
//
// Generated from API version 2021-07-01
//   - grantType - Can take a value of accesstokenrefreshtoken, or accesstoken, or refresh_token
//   - service - Indicates the name of your Azure container registry.
//   - options - AuthenticationClientExchangeAADAccessTokenForAcrRefreshTokenOptions contains the optional parameters for the
//     AuthenticationClient.ExchangeAADAccessTokenForAcrRefreshToken method.
func (client *AuthenticationClient) ExchangeAADAccessTokenForAcrRefreshToken(ctx context.Context, grantType PostContentSchemaGrantType, service string, options *AuthenticationClientExchangeAADAccessTokenForAcrRefreshTokenOptions) (AuthenticationClientExchangeAADAccessTokenForAcrRefreshTokenResponse, error) {
	req, err := client.exchangeAADAccessTokenForAcrRefreshTokenCreateRequest(ctx, grantType, service, options)
	if err != nil {
		return AuthenticationClientExchangeAADAccessTokenForAcrRefreshTokenResponse{}, err
	}
	resp, err := client.pl.Do(req)
	if err != nil {
		return AuthenticationClientExchangeAADAccessTokenForAcrRefreshTokenResponse{}, err
	}
	if !runtime.HasStatusCode(resp, http.StatusOK) {
		return AuthenticationClientExchangeAADAccessTokenForAcrRefreshTokenResponse{}, runtime.NewResponseError(resp)
	}
	return client.exchangeAADAccessTokenForAcrRefreshTokenHandleResponse(resp)
}

// exchangeAADAccessTokenForAcrRefreshTokenCreateRequest creates the ExchangeAADAccessTokenForAcrRefreshToken request.
func (client *AuthenticationClient) exchangeAADAccessTokenForAcrRefreshTokenCreateRequest(ctx context.Context, grantType PostContentSchemaGrantType, service string, options *AuthenticationClientExchangeAADAccessTokenForAcrRefreshTokenOptions) (*policy.Request, error) {
	urlPath := "/oauth2/exchange"
	req, err := runtime.NewRequest(ctx, http.MethodPost, runtime.JoinPaths(client.endpoint, urlPath))
	if err != nil {
		return nil, err
	}
	reqQP := req.Raw().URL.Query()
	reqQP.Set("api-version", "2021-07-01")
	req.Raw().URL.RawQuery = reqQP.Encode()
	req.Raw().Header["Accept"] = []string{"application/json"}
	formData := url.Values{}
	formData.Set("grant_type", string(grantType))
	formData.Set("service", service)
	if options != nil && options.Tenant != nil {
		formData.Set("tenant", *options.Tenant)
	}
	if options != nil && options.RefreshToken != nil {
		formData.Set("refresh_token", *options.RefreshToken)
	}
	if options != nil && options.AccessToken != nil {
		formData.Set("access_token", *options.AccessToken)
	}
	body := streaming.NopCloser(strings.NewReader(formData.Encode()))
	return req, req.SetBody(body, "application/x-www-form-urlencoded")
}

// exchangeAADAccessTokenForAcrRefreshTokenHandleResponse handles the ExchangeAADAccessTokenForAcrRefreshToken response.
func (client *AuthenticationClient) exchangeAADAccessTokenForAcrRefreshTokenHandleResponse(resp *http.Response) (AuthenticationClientExchangeAADAccessTokenForAcrRefreshTokenResponse, error) {
	result := AuthenticationClientExchangeAADAccessTokenForAcrRefreshTokenResponse{}
	if err := runtime.UnmarshalAsJSON(resp, &result.AcrRefreshToken); err != nil {
		return AuthenticationClientExchangeAADAccessTokenForAcrRefreshTokenResponse{}, err
	}
	return result, nil
}

// ExchangeAcrRefreshTokenForAcrAccessToken - Exchange ACR Refresh token for an ACR Access Token
// If the operation fails it returns an *azcore.ResponseError type.
//
// Generated from API version 2021-07-01
//   - service - Indicates the name of your Azure container registry.
//   - scope - Which is expected to be a valid scope, and can be specified more than once for multiple scope requests. You obtained
//     this from the Www-Authenticate response header from the challenge.
//   - refreshToken - Must be a valid ACR refresh token
//   - options - AuthenticationClientExchangeAcrRefreshTokenForAcrAccessTokenOptions contains the optional parameters for the
//     AuthenticationClient.ExchangeAcrRefreshTokenForAcrAccessToken method.
func (client *AuthenticationClient) ExchangeAcrRefreshTokenForAcrAccessToken(ctx context.Context, service string, scope string, refreshToken string, options *AuthenticationClientExchangeAcrRefreshTokenForAcrAccessTokenOptions) (AuthenticationClientExchangeAcrRefreshTokenForAcrAccessTokenResponse, error) {
	req, err := client.exchangeAcrRefreshTokenForAcrAccessTokenCreateRequest(ctx, service, scope, refreshToken, options)
	if err != nil {
		return AuthenticationClientExchangeAcrRefreshTokenForAcrAccessTokenResponse{}, err
	}
	resp, err := client.pl.Do(req)
	if err != nil {
		return AuthenticationClientExchangeAcrRefreshTokenForAcrAccessTokenResponse{}, err
	}
	if !runtime.HasStatusCode(resp, http.StatusOK) {
		return AuthenticationClientExchangeAcrRefreshTokenForAcrAccessTokenResponse{}, runtime.NewResponseError(resp)
	}
	return client.exchangeAcrRefreshTokenForAcrAccessTokenHandleResponse(resp)
}

// exchangeAcrRefreshTokenForAcrAccessTokenCreateRequest creates the ExchangeAcrRefreshTokenForAcrAccessToken request.
func (client *AuthenticationClient) exchangeAcrRefreshTokenForAcrAccessTokenCreateRequest(ctx context.Context, service string, scope string, refreshToken string, options *AuthenticationClientExchangeAcrRefreshTokenForAcrAccessTokenOptions) (*policy.Request, error) {
	urlPath := "/oauth2/token"
	req, err := runtime.NewRequest(ctx, http.MethodPost, runtime.JoinPaths(client.endpoint, urlPath))
	if err != nil {
		return nil, err
	}
	reqQP := req.Raw().URL.Query()
	reqQP.Set("api-version", "2021-07-01")
	req.Raw().URL.RawQuery = reqQP.Encode()
	req.Raw().Header["Accept"] = []string{"application/json"}
	formData := url.Values{}
	formData.Set("service", service)
	formData.Set("scope", scope)
	formData.Set("refresh_token", refreshToken)
	if options != nil && options.GrantType != nil {
		formData.Set("grant_type", string(*options.GrantType))
	}
	body := streaming.NopCloser(strings.NewReader(formData.Encode()))
	return req, req.SetBody(body, "application/x-www-form-urlencoded")
}

// exchangeAcrRefreshTokenForAcrAccessTokenHandleResponse handles the ExchangeAcrRefreshTokenForAcrAccessToken response.
func (client *AuthenticationClient) exchangeAcrRefreshTokenForAcrAccessTokenHandleResponse(resp *http.Response) (AuthenticationClientExchangeAcrRefreshTokenForAcrAccessTokenResponse, error) {
	result := AuthenticationClientExchangeAcrRefreshTokenForAcrAccessTokenResponse{}
	if err := runtime.UnmarshalAsJSON(resp, &result.AcrAccessToken); err != nil {
		return AuthenticationClientExchangeAcrRefreshTokenForAcrAccessTokenResponse{}, err
	}
	return result, nil
}
