//go:build go1.16
// +build go1.16

// Copyright (c) Microsoft Corporation. All rights reserved.
// Licensed under the MIT License. See License.txt in the project root for license information.
// Code generated by Microsoft (R) AutoRest Code Generator.
// Changes may cause incorrect behavior and will be lost if the code is regenerated.

package armbotservice

import (
	"context"
	"errors"
	"fmt"
	"net/http"
	"net/url"
	"strings"

	"github.com/Azure/azure-sdk-for-go/sdk/azcore/arm"
	armruntime "github.com/Azure/azure-sdk-for-go/sdk/azcore/arm/runtime"
	"github.com/Azure/azure-sdk-for-go/sdk/azcore/policy"
	"github.com/Azure/azure-sdk-for-go/sdk/azcore/runtime"
)

// OperationResultsClient contains the methods for the OperationResults group.
// Don't use this type directly, use NewOperationResultsClient() instead.
type OperationResultsClient struct {
	ep             string
	pl             runtime.Pipeline
	subscriptionID string
}

// NewOperationResultsClient creates a new instance of OperationResultsClient with the specified values.
func NewOperationResultsClient(con *arm.Connection, subscriptionID string) *OperationResultsClient {
	return &OperationResultsClient{ep: con.Endpoint(), pl: con.NewPipeline(module, version), subscriptionID: subscriptionID}
}

// BeginGet - Get the operation result for a long running operation.
// If the operation fails it returns the *Error error type.
func (client *OperationResultsClient) BeginGet(ctx context.Context, operationResultID string, options *OperationResultsBeginGetOptions) (OperationResultsGetPollerResponse, error) {
	resp, err := client.get(ctx, operationResultID, options)
	if err != nil {
		return OperationResultsGetPollerResponse{}, err
	}
	result := OperationResultsGetPollerResponse{
		RawResponse: resp,
	}
	pt, err := armruntime.NewPoller("OperationResultsClient.Get", "", resp, client.pl, client.getHandleError)
	if err != nil {
		return OperationResultsGetPollerResponse{}, err
	}
	result.Poller = &OperationResultsGetPoller{
		pt: pt,
	}
	return result, nil
}

// Get - Get the operation result for a long running operation.
// If the operation fails it returns the *Error error type.
func (client *OperationResultsClient) get(ctx context.Context, operationResultID string, options *OperationResultsBeginGetOptions) (*http.Response, error) {
	req, err := client.getCreateRequest(ctx, operationResultID, options)
	if err != nil {
		return nil, err
	}
	resp, err := client.pl.Do(req)
	if err != nil {
		return nil, err
	}
	if !runtime.HasStatusCode(resp, http.StatusOK, http.StatusAccepted) {
		return nil, client.getHandleError(resp)
	}
	return resp, nil
}

// getCreateRequest creates the Get request.
func (client *OperationResultsClient) getCreateRequest(ctx context.Context, operationResultID string, options *OperationResultsBeginGetOptions) (*policy.Request, error) {
	urlPath := "/subscriptions/{subscriptionId}/providers/Microsoft.BotService/operationresults/{operationResultId}"
	if client.subscriptionID == "" {
		return nil, errors.New("parameter client.subscriptionID cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{subscriptionId}", url.PathEscape(client.subscriptionID))
	if operationResultID == "" {
		return nil, errors.New("parameter operationResultID cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{operationResultId}", url.PathEscape(operationResultID))
	req, err := runtime.NewRequest(ctx, http.MethodGet, runtime.JoinPaths(client.ep, urlPath))
	if err != nil {
		return nil, err
	}
	reqQP := req.Raw().URL.Query()
	reqQP.Set("api-version", "2021-05-01-preview")
	req.Raw().URL.RawQuery = reqQP.Encode()
	req.Raw().Header.Set("Accept", "application/json")
	return req, nil
}

// getHandleError handles the Get error response.
func (client *OperationResultsClient) getHandleError(resp *http.Response) error {
	body, err := runtime.Payload(resp)
	if err != nil {
		return runtime.NewResponseError(err, resp)
	}
	errType := Error{raw: string(body)}
	if err := runtime.UnmarshalAsJSON(resp, &errType); err != nil {
		return runtime.NewResponseError(fmt.Errorf("%s\n%s", string(body), err), resp)
	}
	return runtime.NewResponseError(&errType, resp)
}
