{
  "Entries": [
    {
      "RequestUri": "https://fakestorageaccount.table.cosmos.azure.com/Tables",
      "RequestMethod": "POST",
      "RequestHeaders": {
        ":authority": "localhost:5001",
        ":method": "POST",
        ":path": "/Tables",
        ":scheme": "https",
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "dataserviceversion": "3.0",
        "x-ms-date": "Tue, 31 Aug 2021 15:40:02 GMT",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": {
        "TableName": "tableName4275288239"
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata=minimalmetadata",
        "ETag": "W/\u0022datetime\u00272021-08-31T15%3A40%3A03.9576584Z\u0027\u0022",
        "Location": "https://seankaneprim.table.cosmos.azure.com/Tables(\u0027tableName4275288239\u0027)"
      },
      "ResponseBody": {
        "TableName": "tableName4275288239",
        "odata.metadata": "https://seankaneprim.table.cosmos.azure.com/$metadata#Tables/@Element"
      }
    },
    {
      "RequestUri": "https://fakestorageaccount.table.cosmos.azure.com/tableName4275288239",
      "RequestMethod": "POST",
      "RequestHeaders": {
        ":authority": "localhost:5001",
        ":method": "POST",
        ":path": "/tableName4275288239",
        ":scheme": "https",
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "dataserviceversion": "3.0",
        "prefer": "return-no-content",
        "x-ms-date": "Tue, 31 Aug 2021 15:40:03 GMT",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": {
        "Bool": true,
        "Integer": 10,
        "PartitionKey": "pk001",
        "RowKey": "rk001",
        "String": "abcdef",
        "Timestamp": "0001-01-01T00:00:00Z"
      },
      "StatusCode": 204,
      "ResponseHeaders": {
        "ETag": "W/\u0022datetime\u00272021-08-31T15%3A40%3A04.4942344Z\u0027\u0022",
        "Location": "https://seankaneprim.table.cosmos.azure.com/tableName4275288239(PartitionKey=\u0027pk001\u0027,RowKey=\u0027rk001\u0027)",
        "Preference-Applied": "return-no-content"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakestorageaccount.table.cosmos.azure.com/tableName4275288239(PartitionKey=\u0027pk001\u0027,RowKey=\u0027rk001\u0027)?%24format=application%2Fjson%3Bodata%3Dminimalmetadata",
      "RequestMethod": "GET",
      "RequestHeaders": {
        ":authority": "localhost:5001",
        ":method": "GET",
        ":path": "/tableName4275288239(PartitionKey=\u0027pk001\u0027,RowKey=\u0027rk001\u0027)?%24format=application%2Fjson%3Bodata%3Dminimalmetadata",
        ":scheme": "https",
        "Authorization": "Sanitized",
        "dataserviceversion": "3.0",
        "x-ms-date": "Tue, 31 Aug 2021 15:40:04 GMT",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata=minimalmetadata",
        "ETag": "W/\u0022datetime\u00272021-08-31T15%3A40%3A04.4942344Z\u0027\u0022"
      },
      "ResponseBody": {
        "odata.metadata": "https://seankaneprim.table.cosmos.azure.com/tableName4275288239/$metadata#tableName4275288239/@Element",
        "odata.etag": "W/\u0022datetime\u00272021-08-31T15%3A40%3A04.4942344Z\u0027\u0022",
        "Bool": true,
        "Integer": 10,
        "PartitionKey": "pk001",
        "RowKey": "rk001",
        "String": "abcdef",
        "Timestamp": "2021-08-31T15:40:04.4942344Z"
      }
    },
    {
      "RequestUri": "https://fakestorageaccount.table.cosmos.azure.com/tableName4275288239()?%24filter=PartitionKey\u002Beq\u002B%27pk001%27\u0026%24format=application%2Fjson%3Bodata%3Dminimalmetadata",
      "RequestMethod": "GET",
      "RequestHeaders": {
        ":authority": "localhost:5001",
        ":method": "GET",
        ":path": "/tableName4275288239()?%24filter=PartitionKey\u002Beq\u002B%27pk001%27\u0026%24format=application%2Fjson%3Bodata%3Dminimalmetadata",
        ":scheme": "https",
        "Authorization": "Sanitized",
        "dataserviceversion": "3.0",
        "x-ms-date": "Tue, 31 Aug 2021 15:40:04 GMT",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata=minimalmetadata"
      },
      "ResponseBody": {
        "value": [
          {
            "odata.etag": "W/\u0022datetime\u00272021-08-31T15%3A40%3A04.4942344Z\u0027\u0022",
            "Bool": true,
            "Integer": 10,
            "PartitionKey": "pk001",
            "RowKey": "rk001",
            "String": "abcdef",
            "Timestamp": "2021-08-31T15:40:04.4942344Z"
          }
        ],
        "odata.metadata": "https://seankaneprim.table.cosmos.azure.com/$metadata#tableName4275288239"
      }
    },
    {
      "RequestUri": "https://fakestorageaccount.table.cosmos.azure.com/Tables(\u0027tableName4275288239\u0027)",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        ":authority": "localhost:5001",
        ":method": "DELETE",
        ":path": "/Tables(\u0027tableName4275288239\u0027)",
        ":scheme": "https",
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 31 Aug 2021 15:40:04 GMT",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
      },
      "ResponseBody": null
    }
  ],
  "Variables": {}
}