{
  "Entries": [
    {
      "RequestUri": "https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/go-sdk-test-rg?api-version=2021-04-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "location": "eastus"
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-writes": "1175"
      },
      "ResponseBody": {
        "id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/go-sdk-test-rg",
        "name": "go-sdk-test-rg",
        "type": "Microsoft.Resources/resourceGroups",
        "location": "eastus",
        "properties": {
          "provisioningState": "Succeeded"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/go-sdk-test-rg/providers/Microsoft.Resources/deployments/WorkSpace_Create?api-version=2021-04-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "properties": {
          "mode": "Incremental",
          "parameters": {
            "location": {
              "value": "eastus"
            }
          },
          "template": {
            "$schema": "https://schema.management.azure.com/schemas/2019-04-01/deploymentTemplate.json#",
            "contentVersion": "1.0.0.0",
            "outputs": {
              "workspaceId": {
                "type": "string",
                "value": "[resourceId(\u0027Microsoft.OperationalInsights/workspaces\u0027,\u0027workspacena\u0027)]"
              }
            },
            "parameters": {
              "location": {
                "defaultValue": "$(location)",
                "type": "string"
              }
            },
            "resources": [
              {
                "apiVersion": "2021-12-01-preview",
                "location": "[parameters(\u0027location\u0027)]",
                "name": "workspacena",
                "properties": {
                  "retentionInDays": 30,
                  "sku": {
                    "name": "PerNode"
                  }
                },
                "tags": {
                  "tag1": "value1"
                },
                "type": "Microsoft.OperationalInsights/workspaces"
              }
            ]
          }
        }
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Azure-AsyncOperation": "https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/go-sdk-test-rg/providers/Microsoft.Resources/deployments/WorkSpace_Create/operationStatuses/08585360491994687978?api-version=2021-04-01",
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-writes": "1174"
      },
      "ResponseBody": {
        "id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/go-sdk-test-rg/providers/Microsoft.Resources/deployments/WorkSpace_Create",
        "name": "WorkSpace_Create",
        "type": "Microsoft.Resources/deployments",
        "properties": {
          "templateHash": "4923452057577046661",
          "parameters": {
            "location": {
              "type": "String",
              "value": "eastus"
            }
          },
          "mode": "Incremental",
          "provisioningState": "Accepted",
          "timestamp": "2022-10-12T06:54:46.5999775Z",
          "duration": "PT0.0006454S",
          "correlationId": "00000000-0000-0000-0000-000000000000",
          "providers": [
            {
              "namespace": "Microsoft.OperationalInsights",
              "resourceTypes": [
                {
                  "resourceType": "workspaces",
                  "locations": [
                    "eastus"
                  ]
                }
              ]
            }
          ],
          "dependencies": []
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/go-sdk-test-rg/providers/Microsoft.Resources/deployments/WorkSpace_Create/operationStatuses/08585360491994687978?api-version=2021-04-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-reads": "11919"
      },
      "ResponseBody": {
        "status": "Running"
      }
    },
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/go-sdk-test-rg/providers/Microsoft.Insights/scheduledQueryRules/schedulequeryrulenaEpxQjq?api-version=2018-04-16",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "location": "eastus",
        "properties": {
          "action": {
            "odata.type": "Microsoft.WindowsAzure.Management.Monitoring.Alerts.Models.Microsoft.AppInsights.Nexus.DataContracts.Resources.ScheduledQueryRules.AlertingAction",
            "severity": "1",
            "trigger": {
              "threshold": 3,
              "thresholdOperator": "GreaterThan",
              "metricTrigger": {
                "metricColumn": "Computer",
                "metricTriggerType": "Consecutive",
                "threshold": 5,
                "thresholdOperator": "GreaterThan"
              }
            }
          },
          "description": "log search rule description",
          "enabled": "true",
          "schedule": {
            "frequencyInMinutes": 15,
            "timeWindowInMinutes": 15
          },
          "source": {
            "dataSourceId": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/go-sdk-test-rg/providers/Microsoft.OperationalInsights/workspaces/workspacena",
            "query": "Heartbeat | summarize AggregatedValue = count() by bin(TimeGenerated, 5m)",
            "queryType": "ResultCount"
          }
        }
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-writes": "1173",
        "X-Rate-Limit-Limit": "1m",
        "X-Rate-Limit-Remaining": "14",
        "X-Rate-Limit-Reset": "2022-10-12T06:56:20.5202669Z"
      },
      "ResponseBody": {
        "id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/go-sdk-test-rg/providers/microsoft.insights/scheduledqueryrules/schedulequeryrulenaEpxQjq",
        "name": "schedulequeryrulenaEpxQjq",
        "type": "microsoft.insights/scheduledqueryrules",
        "location": "eastus",
        "etag": "\u002200000000-0000-0000-0000-000000000000\u0022",
        "properties": {
          "description": "log search rule description",
          "displayName": "schedulequeryrulenaEpxQjq",
          "enabled": "true",
          "lastUpdatedTime": "2022-10-12T06:55:31Z",
          "provisioningState": "Succeeded",
          "source": {
            "query": "Heartbeat | summarize AggregatedValue = count() by bin(TimeGenerated, 5m)",
            "dataSourceId": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/go-sdk-test-rg/providers/Microsoft.OperationalInsights/workspaces/workspacena",
            "queryType": "ResultCount"
          },
          "schedule": {
            "frequencyInMinutes": 15,
            "timeWindowInMinutes": 15
          },
          "action": {
            "severity": "1",
            "trigger": {
              "thresholdOperator": "GreaterThan",
              "threshold": 3,
              "metricTrigger": {
                "thresholdOperator": "GreaterThan",
                "threshold": 5,
                "metricTriggerType": "Consecutive",
                "metricColumn": "Computer"
              }
            },
            "odata.type": "Microsoft.WindowsAzure.Management.Monitoring.Alerts.Models.Microsoft.AppInsights.Nexus.DataContracts.Resources.ScheduledQueryRules.AlertingAction"
          }
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Insights/scheduledQueryRules?api-version=2018-04-16",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-reads": "11916"
      },
      "[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/go-sdk-test-rg/providers/Microsoft.Insights/scheduledQueryRules?api-version=2018-04-16",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-re[...]
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/go-sdk-test-rg?api-version=2021-04-01",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "Location": "https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/operationresults/eyJqb2JJZCI6IlJFU09VUkNFR1JPVVBERUxFVElPTkpPQi1HTzoyRFNESzoyRFRFU1Q6MkQ0MjMtRUFTVFVTIiwiam9iTG9jYXRpb24iOiJlYXN0dXMifQ?api-version=2021-04-01",
        "Retry-After": "15",
        "x-ms-ratelimit-remaining-subscription-deletes": "14981"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "recordingRandomSeed": "1665556303"
  }
}
