{
  "Entries": [
    {
      "RequestUri": "https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/go-sdk-test-rg?api-version=2021-04-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "location": "eastus"
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-writes": "1182"
      },
      "ResponseBody": {
        "id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/go-sdk-test-rg",
        "name": "go-sdk-test-rg",
        "type": "Microsoft.Resources/resourceGroups",
        "location": "eastus",
        "properties": {
          "provisioningState": "Succeeded"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/go-sdk-test-rg/providers/Microsoft.Resources/deployments/VirtualNetwork_Create?api-version=2021-04-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "properties": {
          "mode": "Incremental",
          "parameters": {
            "location": {
              "value": "eastus"
            }
          },
          "template": {
            "$schema": "https://schema.management.azure.com/schemas/2019-04-01/deploymentTemplate.json#",
            "contentVersion": "1.0.0.0",
            "outputs": {
              "subnetId": {
                "type": "string",
                "value": "[resourceId(\u0027Microsoft.Network/virtualNetworks/subnets\u0027, parameters(\u0027virtualNetworksName\u0027), \u0027vmsssubnet\u0027)]"
              }
            },
            "parameters": {
              "location": {
                "defaultValue": "$(location)",
                "type": "string"
              },
              "virtualNetworksName": {
                "defaultValue": "vmssvnet",
                "type": "string"
              }
            },
            "resources": [
              {
                "apiVersion": "2021-05-01",
                "location": "[parameters(\u0027location\u0027)]",
                "name": "[parameters(\u0027virtualNetworksName\u0027)]",
                "properties": {
                  "addressSpace": {
                    "addressPrefixes": [
                      "10.0.0.0/16"
                    ]
                  },
                  "subnets": [
                    {
                      "name": "vmsssubnet",
                      "properties": {
                        "addressPrefix": "10.0.0.0/24"
                      }
                    }
                  ]
                },
                "tags": {},
                "type": "Microsoft.Network/virtualNetworks"
              }
            ]
          }
        }
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Azure-AsyncOperation": "https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/go-sdk-test-rg/providers/Microsoft.Resources/deployments/VirtualNetwork_Create/operationStatuses/08585384613170588194?api-version=2021-04-01",
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-writes": "1181"
      },
      "ResponseBody": {
        "id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/go-sdk-test-rg/providers/Microsoft.Resources/deployments/VirtualNetwork_Create",
        "name": "VirtualNetwork_Create",
        "type": "Microsoft.Resources/deployments",
        "properties": {
          "templateHash": "13411785402429260850",
          "parameters": {
            "location": {
              "type": "String",
              "value": "eastus"
            },
            "virtualNetworksName": {
              "type": "String",
              "value": "vmssvnet"
            }
          },
          "mode": "Incremental",
          "provisioningState": "Accepted",
          "timestamp": "2022-09-14T08:52:49.2834882Z",
          "duration": "PT0.0001642S",
          "correlationId": "00000000-0000-0000-0000-000000000000",
          "providers": [
            {
              "namespace": "Microsoft.Network",
              "resourceTypes": [
                {
                  "resourceType": "virtualNetworks",
                  "locations": [
                    "eastus"
                  ]
                }
              ]
            }
          ],
          "dependencies": []
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/go-sdk-test-rg/providers/Microsoft.Resources/deployments/VirtualNetwork_Create/operationStatuses/08585384613170588194?api-version=2021-04-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-reads": "11941"
      },
      "ResponseBody": {
        "status": "Running"
      }
    },
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/go-sdk-test-rg/providers/Microsoft.Resources/deployments/NetworkInterface_Create?api-version=2021-04-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "properties": {
          "mode": "Incremental",
          "parameters": {
            "location": {
              "value": "eastus"
            },
            "subnetId": {
              "value": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/go-sdk-test-rg/providers/Microsoft.Network/virtualNetworks/vmssvnet/subnets/vmsssubnet"
            }
          },
          "template": {
            "$schema": "https://schema.management.azure.com/schemas/2019-04-01/deploymentTemplate.json#",
            "contentVersion": "1.0.0.0",
            "outputs": {
              "vnicId": {
                "type": "string",
                "value": "[resourceId(\u0027Microsoft.Network/networkInterfaces\u0027, \u0027vmnic\u0027)]"
              }
            },
            "parameters": {
              "location": {
                "defaultValue": "$(location)",
                "type": "string"
              },
              "subnetId": {
                "defaultValue": "$(subnetId)",
                "type": "string"
              }
            },
            "resources": [
              {
                "apiVersion": "2021-08-01",
                "location": "[parameters(\u0027location\u0027)]",
                "name": "vmnic",
                "properties": {
                  "ipConfigurations": [
                    {
                      "name": "Ipv4config",
                      "properties": {
                        "subnet": {
                          "id": "[parameters(\u0027subnetId\u0027)]"
                        }
                      }
                    }
                  ]
                },
                "tags": {},
                "type": "Microsoft.Network/networkInterfaces"
              }
            ]
          }
        }
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Azure-AsyncOperation": "https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/r[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/go-sdk-test-rg/providers/Microsoft.Resources/deployments/NetworkInterface_Create/operationStatuses/08585384612823851617?api-version=2021-04-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-reads": "11938"
      },
      "ResponseBody": {
        "status": "Running"
      }
    },
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/go-sdk-test-rg/providers/Microsoft.Resources/deployments/VirtualMachine_Create?api-version=2021-04-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "properties": {
          "mode": "Incremental",
          "parameters": {
            "adminPassword": {
              "value": "Password01!@#"
            },
            "location": {
              "value": "eastus"
            },
            "vnicId": {
              "value": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/go-sdk-test-rg/providers/Microsoft.Network/networkInterfaces/vmnic"
            }
          },
          "template": {
            "$schema": "http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
            "contentVersion": "1.0.0.0",
            "outputs": {
              "virtualMachineId": {
                "type": "string",
                "value": "[resourceId(\u0027Microsoft.Compute/virtualMachines\u0027, \u0027scenariovm\u0027)]"
              }
            },
            "parameters": {
              "adminPassword": {
                "defaultValue": "$(adminPassword)",
                "type": "securestring"
              },
              "location": {
                "defaultValue": "$(location)",
                "type": "string"
              },
              "vnicId": {
                "defaultValue": "$(vnicId)",
                "type": "string"
              }
            },
            "resources": [
              {
                "apiVersion": "2022-03-01",
                "location": "[parameters(\u0027location\u0027)]",
                "name": "scenariovm",
                "properties": {
                  "diagnosticsProfile": {
                    "bootDiagnostics": {
                      "enabled": true
                    }
                  },
                  "hardwareProfile": {
                    "vmSize": "Standard_DS1_v2"
                  },
                  "networkProfile": {
                    "networkInterfaces": [
                      {
                        "id": "[parameters(\u0027vnicId\u0027)]",
                        "properties": {
                          "deleteOption": "Detach",
                          "primary": true
                        }
                      }
                    ]
                  },
                  "osProfile": {
                    "adminPassword": "[parameters(\u0027adminPassword\u0027)]",
                    "adminUsername": "azureuser",
                    "allowExtensionOperations": true,
                    "computerName": "scenariovm",
                    "secrets": [],
                    "windowsConfiguration": {
                      "enableAutomaticUpdates": true,
                      "patchSettings": {
                        "assessmentMode": "ImageDefault",
                        "enableHotpatching": false,
                        "patchMode": "AutomaticByOS"
                      },
                      "provisionVMAgent": true
                    }
                  },
                  "storageProfile": {
                    "dataDisks": [],
                    "imageReference": {
                      "offer": "WindowsServer",
                      "publisher": "MicrosoftWindowsServer",
                      "sku": "2019-Datacenter",
                      "version": "latest"
                    },
                    "osDisk": {
                      "caching": "ReadWrite",
                      "createOption": "FromImage",
                      "deleteOption": "Delete",
                      "diskSizeGB": 127,
                      "managedDisk": {
                        "storageAccountType": "Premium_LRS"
                      },
                      "name": "[concat(\u0027scenariovm\u0027, \u0027osDisk\u0027)]",
                      "osType": "Windows"
                    }
                  }
                },
                "type": "Microsoft.Compute/virtualMachines",
                "zones": [
                  "1"
                ]
              }
            ],
            "variables": {}
          }
        }
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Azure-AsyncOperation": "https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/go-sdk-test-rg/providers/Microsoft.Resources/deployments/VirtualMachine_Create/operationStatuses/08585384612450342468?api-version=2021-04-01",
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-writes": "1179"
      },
      "Resp[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/go-sdk-test-rg/providers/Microsoft.Resources/deployments/VirtualMachine_Create/operationStatuses/08585384612450342468?api-version=2021-04-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-reads": "11935"
      },
      "ResponseBody": {
        "status": "Running"
      }
    },
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/go-sdk-test-rg/providers/Microsoft.Insights/metricAlerts/metricalertnayO5y0R?api-version=2018-03-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "location": "global",
        "properties": {
          "autoMitigate": true,
          "criteria": {
            "allOf": [
              {
                "alertSensitivity": "Medium",
                "criterionType": "DynamicThresholdCriterion",
                "failingPeriods": {
                  "minFailingPeriodsToAlert": 4,
                  "numberOfEvaluationPeriods": 4
                },
                "metricName": "Percentage CPU",
                "metricNamespace": "microsoft.compute/virtualmachines",
                "name": "High_CPU_80",
                "operator": "GreaterOrLessThan",
                "timeAggregation": "Average"
              }
            ],
            "odata.type": "Microsoft.Azure.Monitor.MultipleResourceMultipleMetricCriteria"
          },
          "description": "This is the description of the rule1",
          "enabled": true,
          "evaluationFrequency": "PT1M",
          "scopes": [
            "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/go-sdk-test-rg/providers/Microsoft.Compute/virtualMachines/scenariovm"
          ],
          "severity": 3,
          "targetResourceRegion": "eastus",
          "targetResourceType": "Microsoft.Compute/virtualMachines",
          "windowSize": "PT15M"
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2017-09-01-preview, 2018-03-01",
        "Arr-Disable-Session-Affinity": "true",
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-resource-requests": "299"
      },
      "ResponseBody": {
        "id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/go-sdk-test-rg/providers/Microsoft.Insights/metricAlerts/metricalertnayO5y0R",
        "name": "metricalertnayO5y0R",
        "type": "Microsoft.Insights/metricAlerts",
        "location": "global",
        "properties": {
          "descriptio[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Insights/metricAlerts?api-version=2018-03-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2017-09-01-preview, 2018-03-01",
        "Arr-Disable-Session-Affinity": "true",
        "Content-Type": "appl[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/go-sdk-test-rg/providers/Microsoft.Insights/metricAlerts?api-version=2018-03-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2017-09-01-preview, 2018-03-01",
        "Arr-Disable-Session-Affinity": "true",[...]
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/go-sdk-test-rg/providers/Microsoft.Insights/metricAlerts/metricalertnayO5y0R?api-version=2018-03-01",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "tags": {
          "tag1": "value1"
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2017-09-01-preview, 2018-03-01",
        "Arr-Disable-Session-Affinity": "true",
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-resource-requests": "298"
      },
      "ResponseBody": {
        "id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/go-sdk-test-rg/providers/Microsoft.Insights/metricAlerts[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/go-sdk-test-rg/providers/Microsoft.Insights/metricAlerts/metricalertnayO5y0R/status?api-version=2018-03-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2017-09-01-preview, 2018-03-01",
        "Arr-Disable-Session-Affinity": "true",
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-reads": "11926"
      },
      "ResponseBody": {
        "value": [
          {
            "id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/go-sdk-test-rg/providers/Microsoft.Insights/metricAlerts/metricalertnayO5y0R/status/Y3VycmVudFN0YXR1cw==",
            "name": "Y3VycmVudFN0YXR1cw==",
            "type": "Microsoft.Insights/metricAlerts/status",
            "properties": {
              "dimensions": {},
              "status": "Unknown",
              "timestamp": "2022-09-14T08:56:20.4109911Z"
            }
          }
        ]
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/go-sdk-test-rg/providers/Microsoft.Insights/metricAlerts/metricalertnayO5y0R/status/Y3VycmVudFN0YXR1cw==?api-version=2018-03-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2017-09-01-preview, 2018-03-01",
        "Arr-Disable-Session-Affinity": "true",
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-reads": "11925"
      },
      "ResponseBody": {
        "value": [
          {
            "id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/go-sdk-test-rg/providers/Microsoft.Insights/metricAlerts/metricalertnayO5y0R",
            "name": "Y3VycmVudFN0YXR1cw==",
            "type": "Microsoft.Insights/metricAlerts/status",
            "properties": {
              "dimensions": {},
              "status": "Healthy",
              "timestamp": "2022-09-14T08:56:22.1155571Z"
            }
          }
        ]
      }
    },
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/go-sdk-test-rg?api-version=2021-04-01",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "Location": "https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/operationresults/eyJqb2JJZCI6IlJFU09VUkNFR1JPVVBERUxFVElPTkpPQi1HTzoyRFNESzoyRFRFU1Q6MkQzNjMtRUFTVFVTIiwiam9iTG9jYXRpb24iOiJlYXN0dXMifQ?api-version=2021-04-01",
        "Retry-After": "15",
        "x-ms-ratelimit-remaining-subscription-deletes": "14985"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "recordingRandomSeed": "1663144525"
  }
}
