{
  "Entries": [
    {
      "RequestUri": "https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/go-sdk-test-rg?api-version=2021-04-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "location": "eastus"
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-writes": "1198"
      },
      "ResponseBody": {
        "id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/go-sdk-test-rg",
        "name": "go-sdk-test-rg",
        "type": "Microsoft.Resources/resourceGroups",
        "location": "eastus",
        "properties": {
          "provisioningState": "Succeeded"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/go-sdk-test-rg/providers/Microsoft.Insights/activityLogAlerts/activitylogalertnaEpxQjq?api-version=2020-10-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "location": "Global",
        "properties": {
          "condition": {
            "allOf": [
              {
                "equals": "Administrative",
                "field": "category"
              },
              {
                "equals": "Error",
                "field": "level"
              }
            ]
          },
          "scopes": [
            "/subscriptions/00000000-0000-0000-0000-000000000000"
          ]
        }
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "api-supported-versions": "2017-03-01-preview, 2017-04-01, 2020-10-01",
        "Arr-Disable-Session-Affinity": "true",
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-writes": "1197"
      },
      "ResponseBody": {
        "id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/go-sdk-test-rg/providers/microsoft.insights/activityLogAlerts/activitylogalertnaEpxQjq",
        "name": "activitylogalertnaEpxQjq",
        "type": "Microsoft.Insights/ActivityLogAlerts",
        "location": "Global",
        "properties": {
          "scopes": [
            "/subscriptions/00000000-0000-0000-0000-000000000000"
          ],
          "condition": {
            "allOf": [
              {
                "field": "category",
                "equals": "Administrative"
              },
              {
                "field": "level",
                "equals": "Error"
              }
            ]
          },
          "enabled": false
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Insights/activityLogAlerts?api-version=2020-10-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2017-03-01-preview, 2017-04-01, 2020-10-01",
        "Arr-Disable-Session-Affinity": "true",
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-reads": "11998"
      },
      "ResponseBody": {
        "value": [
          {
            "id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/go-sdk-test-rg/providers/microsoft.insights/activityLogAlerts/activitylogalertnaEpxQjq",
            "name": "activitylogalertnaEpxQjq",
            "type": "Microsoft.Insights/ActivityLogAlerts",
            "location": "Global",
            "tags": {},
            "properties": {
              "scopes": [
                "/subscriptions/00000000-0000-0000-0000-000000000000"
              ],
              "condition": {
                "allOf": [
                  {
                    "field": "category",
                    "equals": "Administrative"
                  },
                  {
                    "field": "level",
                    "equals": "Error"
                  }
                ]
              },
              "ena[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/go-sdk-test-rg/providers/Microsoft.Insights/activityLogAlerts?api-version=2020-10-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2017-03-01-preview, 2017-04-01, 2020-10-01",
        "Arr-Disable-Session-A[...]
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/go-sdk-test-rg/providers/Microsoft.Insights/activityLogAlerts/activitylogalertnaEpxQjq?api-version=2020-10-01",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "properties": {
          "enabled": false
        },
        "tags": {
          "key1": "value1",
          "key2": "value2"
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2017-03-01-preview, 2017-04-01, 2020-10-01",
        "Arr-Disable-Session-Affinity": "true",
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-writes": "1196"
      },
      "ResponseBody": {
        "id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/go-sdk-test-rg/providers/microsoft.insights/activityLogAlerts/activitylogalertnaEpxQjq",
        "name": "activitylogalertnaEpxQjq",
        "type": "Microsoft.Insights/ActivityLogAlerts",
        "location": "Global",
        "tags": {
          "key1": "value1",
          "key2": "value2"
        },
        "properties": {
          "scopes": [
            "/subscriptions/00000000-0000-0000-0000-000000000000"
          ],
          "condition": {
            "allOf": [
              {
                "field": "category",
                "equals": "Administrative"
              },
              {
                "field": "level",
                "equals": "Error"
              }
            ]
          },
          "enabled": false
        }
      }
    },
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/go-sdk-test-rg?api-version=2021-04-01",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "Location": "https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/operationresults/eyJqb2JJZCI6IlJFU09VUkNFR1JPVVBERUxFVElPTkpPQi1HTzoyRFNESzoyRFRFU1Q6MkQzMjYtRUFTVFVTIiwiam9iTG9jYXRpb24iOiJlYXN0dXMifQ?api-version=2021-04-01",
        "Retry-After": "15",
        "x-ms-ratelimit-remaining-subscription-deletes": "14996"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "recordingRandomSeed": "1665556303"
  }
}
