// Copyright (c) Microsoft Corporation. All rights reserved.
// Licensed under the MIT License. See License.txt in the project root for license information.
// Code generated by Microsoft (R) AutoRest Code Generator. DO NOT EDIT.
// Changes may cause incorrect behavior and will be lost if the code is regenerated.

package armpreviewalertrule

import (
	"context"
	"github.com/Azure/azure-sdk-for-go/sdk/azcore"
	"github.com/Azure/azure-sdk-for-go/sdk/azcore/arm"
	"github.com/Azure/azure-sdk-for-go/sdk/azcore/policy"
	"github.com/Azure/azure-sdk-for-go/sdk/azcore/runtime"
	"net/http"
	"strings"
)

// Client contains the methods for the PreviewAlertRuleClient group.
// Don't use this type directly, use NewClient() instead.
type Client struct {
	internal *arm.Client
}

// NewClient creates a new instance of Client with the specified values.
//   - credential - used to authorize requests. Usually a credential from azidentity.
//   - options - Contains optional client configuration. Pass nil to accept the default values.
func NewClient(credential azcore.TokenCredential, options *arm.ClientOptions) (*Client, error) {
	cl, err := arm.NewClient(moduleName, moduleVersion, credential, options)
	if err != nil {
		return nil, err
	}
	client := &Client{
		internal: cl,
	}
	return client, nil
}

// PreviewAlertRule - Retrieves the results of a simulated historical execution of an alert rule
// If the operation fails it returns an *azcore.ResponseError type.
//
// Generated from API version 2025-07-01-preview
//   - resourceID - The identifier of the resource.
//   - parameters - The alert rule to preview.
//   - options - ClientPreviewAlertRuleOptions contains the optional parameters for the Client.PreviewAlertRule method.
func (client *Client) PreviewAlertRule(ctx context.Context, resourceID string, parameters Request, options *ClientPreviewAlertRuleOptions) (ClientPreviewAlertRuleResponse, error) {
	var err error
	const operationName = "Client.PreviewAlertRule"
	ctx = context.WithValue(ctx, runtime.CtxAPINameKey{}, operationName)
	ctx, endSpan := runtime.StartSpan(ctx, operationName, client.internal.Tracer(), nil)
	defer func() { endSpan(err) }()
	req, err := client.previewAlertRuleCreateRequest(ctx, resourceID, parameters, options)
	if err != nil {
		return ClientPreviewAlertRuleResponse{}, err
	}
	httpResp, err := client.internal.Pipeline().Do(req)
	if err != nil {
		return ClientPreviewAlertRuleResponse{}, err
	}
	if !runtime.HasStatusCode(httpResp, http.StatusOK) {
		err = runtime.NewResponseError(httpResp)
		return ClientPreviewAlertRuleResponse{}, err
	}
	resp, err := client.previewAlertRuleHandleResponse(httpResp)
	return resp, err
}

// previewAlertRuleCreateRequest creates the PreviewAlertRule request.
func (client *Client) previewAlertRuleCreateRequest(ctx context.Context, resourceID string, parameters Request, _ *ClientPreviewAlertRuleOptions) (*policy.Request, error) {
	urlPath := "/{resourceId}/providers/Microsoft.AlertsManagement/previewAlertRule"
	urlPath = strings.ReplaceAll(urlPath, "{resourceId}", resourceID)
	req, err := runtime.NewRequest(ctx, http.MethodPost, runtime.JoinPaths(client.internal.Endpoint(), urlPath))
	if err != nil {
		return nil, err
	}
	reqQP := req.Raw().URL.Query()
	reqQP.Set("api-version", "2025-07-01-preview")
	req.Raw().URL.RawQuery = reqQP.Encode()
	req.Raw().Header["Accept"] = []string{"application/json"}
	if err := runtime.MarshalAsJSON(req, parameters); err != nil {
		return nil, err
	}
	return req, nil
}

// previewAlertRuleHandleResponse handles the PreviewAlertRule response.
func (client *Client) previewAlertRuleHandleResponse(resp *http.Response) (ClientPreviewAlertRuleResponse, error) {
	result := ClientPreviewAlertRuleResponse{}
	if err := runtime.UnmarshalAsJSON(resp, &result.Response); err != nil {
		return ClientPreviewAlertRuleResponse{}, err
	}
	return result, nil
}
