{
  "Entries": [
    {
      "RequestUri": "https://rosebudprim.table.core.windows.net/Tables",
      "RequestMethod": "POST",
      "RequestHeaders": {
        ":authority": "localhost:5001",
        ":method": "POST",
        ":path": "/Tables",
        ":scheme": "https",
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "dataserviceversion": "3.0",
        "x-ms-date": "Thu, 16 Dec 2021 19:54:04 GMT",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": {
        "TableName": "randomTableName"
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata=minimalmetadata; streaming=true; charset=utf-8",
        "Location": "https://rosebudprim.table.core.windows.net/Tables(\u0027randomTableName\u0027)",
        "x-ms-version": "2019-02-02"
      },
      "ResponseBody": {
        "odata.metadata": "https://rosebudprim.table.core.windows.net/$metadata#Tables/@Element",
        "TableName": "randomTableName"
      }
    },
    {
      "RequestUri": "https://rosebudprim.table.core.windows.net/randomTableName(PartitionKey=\u0027pk001\u0027,RowKey=\u0027rk001\u0027)",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        ":authority": "localhost:5001",
        ":method": "PATCH",
        ":path": "/randomTableName(PartitionKey=\u0027pk001\u0027,RowKey=\u0027rk001\u0027)",
        ":scheme": "https",
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "dataserviceversion": "3.0",
        "x-ms-date": "Thu, 16 Dec 2021 19:54:05 GMT",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": {
        "BinaryTypeProperty": "QmluYXJ5VHlwZVByb3BlcnR5",
        "BinaryTypeProperty@odata.type": "Edm.Binary",
        "BoolTypeProperty": true,
        "DateTimeProperty": "1970-10-04T00:00:00Z",
        "DateTimeProperty@odata.type": "Edm.DateTime",
        "DoubleTypeProperty": 200.23,
        "GuidProperty": "673f2ae2-de5d-4e18-8946-37699c36eb73",
        "GuidProperty@odata.type": "Edm.Guid",
        "Int64TypeProperty": "8589934592",
        "Int64TypeProperty@odata.type": "Edm.Int64",
        "IntTypeProperty": 5,
        "PartitionKey": "pk001",
        "RowKey": "rk001",
        "StringTypeProperty": "StringTypeProperty"
      },
      "StatusCode": 204,
      "ResponseHeaders": {
        "ETag": "W/\u0022datetime\u00272021-12-16T19%3A54%3A04.812782Z\u0027\u0022",
        "x-ms-version": "2019-02-02"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://rosebudprim.table.core.windows.net/Tables(\u0027randomTableName\u0027)",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        ":authority": "localhost:5001",
        ":method": "DELETE",
        ":path": "/Tables(\u0027randomTableName\u0027)",
        ":scheme": "https",
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 16 Dec 2021 19:54:35 GMT",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
        "x-ms-version": "2019-02-02"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {}
}
