//go:build go1.18
// +build go1.18

// Copyright (c) Microsoft Corporation. All rights reserved.
// Licensed under the MIT License. See License.txt in the project root for license information.
// Code generated by Microsoft (R) AutoRest Code Generator.
// Changes may cause incorrect behavior and will be lost if the code is regenerated.
// DO NOT EDIT.

package armauthorization

import (
	"context"
	"github.com/Azure/azure-sdk-for-go/sdk/azcore"
	"github.com/Azure/azure-sdk-for-go/sdk/azcore/arm"
	armruntime "github.com/Azure/azure-sdk-for-go/sdk/azcore/arm/runtime"
	"github.com/Azure/azure-sdk-for-go/sdk/azcore/cloud"
	"github.com/Azure/azure-sdk-for-go/sdk/azcore/policy"
	"github.com/Azure/azure-sdk-for-go/sdk/azcore/runtime"
	"net/http"
	"strings"
)

// AlertOperationClient contains the methods for the AlertOperation group.
// Don't use this type directly, use NewAlertOperationClient() instead.
type AlertOperationClient struct {
	host string
	pl   runtime.Pipeline
}

// NewAlertOperationClient creates a new instance of AlertOperationClient with the specified values.
// credential - used to authorize requests. Usually a credential from azidentity.
// options - pass nil to accept the default values.
func NewAlertOperationClient(credential azcore.TokenCredential, options *arm.ClientOptions) (*AlertOperationClient, error) {
	if options == nil {
		options = &arm.ClientOptions{}
	}
	ep := cloud.AzurePublic.Services[cloud.ResourceManager].Endpoint
	if c, ok := options.Cloud.Services[cloud.ResourceManager]; ok {
		ep = c.Endpoint
	}
	pl, err := armruntime.NewPipeline(moduleName, moduleVersion, credential, runtime.PipelineOptions{}, options)
	if err != nil {
		return nil, err
	}
	client := &AlertOperationClient{
		host: ep,
		pl:   pl,
	}
	return client, nil
}

// Get - Get the specified alert operation.
// If the operation fails it returns an *azcore.ResponseError type.
// Generated from API version 2022-08-01-preview
// scope - The scope of the alert operation.
// operationID - The id of the alert operation.
// options - AlertOperationClientGetOptions contains the optional parameters for the AlertOperationClient.Get method.
func (client *AlertOperationClient) Get(ctx context.Context, scope string, operationID string, options *AlertOperationClientGetOptions) (AlertOperationClientGetResponse, error) {
	req, err := client.getCreateRequest(ctx, scope, operationID, options)
	if err != nil {
		return AlertOperationClientGetResponse{}, err
	}
	resp, err := client.pl.Do(req)
	if err != nil {
		return AlertOperationClientGetResponse{}, err
	}
	if !runtime.HasStatusCode(resp, http.StatusOK) {
		return AlertOperationClientGetResponse{}, runtime.NewResponseError(resp)
	}
	return client.getHandleResponse(resp)
}

// getCreateRequest creates the Get request.
func (client *AlertOperationClient) getCreateRequest(ctx context.Context, scope string, operationID string, options *AlertOperationClientGetOptions) (*policy.Request, error) {
	urlPath := "/{scope}/providers/Microsoft.Authorization/roleManagementAlerts/operations/{operationId}"
	urlPath = strings.ReplaceAll(urlPath, "{scope}", scope)
	urlPath = strings.ReplaceAll(urlPath, "{operationId}", operationID)
	req, err := runtime.NewRequest(ctx, http.MethodGet, runtime.JoinPaths(client.host, urlPath))
	if err != nil {
		return nil, err
	}
	reqQP := req.Raw().URL.Query()
	reqQP.Set("api-version", "2022-08-01-preview")
	req.Raw().URL.RawQuery = reqQP.Encode()
	req.Raw().Header["Accept"] = []string{"application/json"}
	return req, nil
}

// getHandleResponse handles the Get response.
func (client *AlertOperationClient) getHandleResponse(resp *http.Response) (AlertOperationClientGetResponse, error) {
	result := AlertOperationClientGetResponse{}
	if err := runtime.UnmarshalAsJSON(resp, &result.AlertOperationResult); err != nil {
		return AlertOperationClientGetResponse{}, err
	}
	return result, nil
}

// ListForScope - Gets alert operations for a resource scope.
// If the operation fails it returns an *azcore.ResponseError type.
// Generated from API version 2022-08-01-preview
// scope - The scope of the alert operation.
// options - AlertOperationClientListForScopeOptions contains the optional parameters for the AlertOperationClient.ListForScope
// method.
func (client *AlertOperationClient) ListForScope(ctx context.Context, scope string, options *AlertOperationClientListForScopeOptions) (AlertOperationClientListForScopeResponse, error) {
	req, err := client.listForScopeCreateRequest(ctx, scope, options)
	if err != nil {
		return AlertOperationClientListForScopeResponse{}, err
	}
	resp, err := client.pl.Do(req)
	if err != nil {
		return AlertOperationClientListForScopeResponse{}, err
	}
	if !runtime.HasStatusCode(resp, http.StatusOK) {
		return AlertOperationClientListForScopeResponse{}, runtime.NewResponseError(resp)
	}
	return client.listForScopeHandleResponse(resp)
}

// listForScopeCreateRequest creates the ListForScope request.
func (client *AlertOperationClient) listForScopeCreateRequest(ctx context.Context, scope string, options *AlertOperationClientListForScopeOptions) (*policy.Request, error) {
	urlPath := "/{scope}/providers/Microsoft.Authorization/roleManagementAlerts/operations"
	urlPath = strings.ReplaceAll(urlPath, "{scope}", scope)
	req, err := runtime.NewRequest(ctx, http.MethodGet, runtime.JoinPaths(client.host, urlPath))
	if err != nil {
		return nil, err
	}
	reqQP := req.Raw().URL.Query()
	reqQP.Set("api-version", "2022-08-01-preview")
	req.Raw().URL.RawQuery = reqQP.Encode()
	req.Raw().Header["Accept"] = []string{"application/json"}
	return req, nil
}

// listForScopeHandleResponse handles the ListForScope response.
func (client *AlertOperationClient) listForScopeHandleResponse(resp *http.Response) (AlertOperationClientListForScopeResponse, error) {
	result := AlertOperationClientListForScopeResponse{}
	if err := runtime.UnmarshalAsJSON(resp, &result.AlertOperationListResult); err != nil {
		return AlertOperationClientListForScopeResponse{}, err
	}
	return result, nil
}
