//go:build go1.16
// +build go1.16

// Copyright (c) Microsoft Corporation. All rights reserved.
// Licensed under the MIT License. See License.txt in the project root for license information.
// Code generated by Microsoft (R) AutoRest Code Generator.
// Changes may cause incorrect behavior and will be lost if the code is regenerated.

package armauthorization

import (
	"context"
	"errors"
	"github.com/Azure/azure-sdk-for-go/sdk/azcore"
	"github.com/Azure/azure-sdk-for-go/sdk/azcore/arm"
	armruntime "github.com/Azure/azure-sdk-for-go/sdk/azcore/arm/runtime"
	"github.com/Azure/azure-sdk-for-go/sdk/azcore/policy"
	"github.com/Azure/azure-sdk-for-go/sdk/azcore/runtime"
	"net/http"
	"net/url"
	"strings"
)

// RoleAssignmentMetricsClient contains the methods for the RoleAssignmentMetrics group.
// Don't use this type directly, use NewRoleAssignmentMetricsClient() instead.
type RoleAssignmentMetricsClient struct {
	host           string
	subscriptionID string
	pl             runtime.Pipeline
}

// NewRoleAssignmentMetricsClient creates a new instance of RoleAssignmentMetricsClient with the specified values.
// subscriptionID - The ID of the target subscription.
// credential - used to authorize requests. Usually a credential from azidentity.
// options - pass nil to accept the default values.
func NewRoleAssignmentMetricsClient(subscriptionID string, credential azcore.TokenCredential, options *arm.ClientOptions) *RoleAssignmentMetricsClient {
	cp := arm.ClientOptions{}
	if options != nil {
		cp = *options
	}
	if len(cp.Endpoint) == 0 {
		cp.Endpoint = arm.AzurePublicCloud
	}
	client := &RoleAssignmentMetricsClient{
		subscriptionID: subscriptionID,
		host:           string(cp.Endpoint),
		pl:             armruntime.NewPipeline(moduleName, moduleVersion, credential, runtime.PipelineOptions{}, &cp),
	}
	return client
}

// GetMetricsForSubscription - Get role assignment usage metrics for a subscription
// If the operation fails it returns an *azcore.ResponseError type.
// options - RoleAssignmentMetricsClientGetMetricsForSubscriptionOptions contains the optional parameters for the RoleAssignmentMetricsClient.GetMetricsForSubscription
// method.
func (client *RoleAssignmentMetricsClient) GetMetricsForSubscription(ctx context.Context, options *RoleAssignmentMetricsClientGetMetricsForSubscriptionOptions) (RoleAssignmentMetricsClientGetMetricsForSubscriptionResponse, error) {
	req, err := client.getMetricsForSubscriptionCreateRequest(ctx, options)
	if err != nil {
		return RoleAssignmentMetricsClientGetMetricsForSubscriptionResponse{}, err
	}
	resp, err := client.pl.Do(req)
	if err != nil {
		return RoleAssignmentMetricsClientGetMetricsForSubscriptionResponse{}, err
	}
	if !runtime.HasStatusCode(resp, http.StatusOK) {
		return RoleAssignmentMetricsClientGetMetricsForSubscriptionResponse{}, runtime.NewResponseError(resp)
	}
	return client.getMetricsForSubscriptionHandleResponse(resp)
}

// getMetricsForSubscriptionCreateRequest creates the GetMetricsForSubscription request.
func (client *RoleAssignmentMetricsClient) getMetricsForSubscriptionCreateRequest(ctx context.Context, options *RoleAssignmentMetricsClientGetMetricsForSubscriptionOptions) (*policy.Request, error) {
	urlPath := "/subscriptions/{subscriptionId}/providers/Microsoft.Authorization/roleAssignmentsUsageMetrics"
	if client.subscriptionID == "" {
		return nil, errors.New("parameter client.subscriptionID cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{subscriptionId}", url.PathEscape(client.subscriptionID))
	req, err := runtime.NewRequest(ctx, http.MethodGet, runtime.JoinPaths(client.host, urlPath))
	if err != nil {
		return nil, err
	}
	reqQP := req.Raw().URL.Query()
	reqQP.Set("api-version", "2019-08-01-preview")
	req.Raw().URL.RawQuery = reqQP.Encode()
	req.Raw().Header.Set("Accept", "application/json")
	return req, nil
}

// getMetricsForSubscriptionHandleResponse handles the GetMetricsForSubscription response.
func (client *RoleAssignmentMetricsClient) getMetricsForSubscriptionHandleResponse(resp *http.Response) (RoleAssignmentMetricsClientGetMetricsForSubscriptionResponse, error) {
	result := RoleAssignmentMetricsClientGetMetricsForSubscriptionResponse{RawResponse: resp}
	if err := runtime.UnmarshalAsJSON(resp, &result.RoleAssignmentMetricsResult); err != nil {
		return RoleAssignmentMetricsClientGetMetricsForSubscriptionResponse{}, err
	}
	return result, nil
}
