{
  "Entries": [
    {
      "RequestUri": "https://fakekvurl.vault.azure.net/keys/key1507363465/create?api-version=7.3-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        ":authority": "localhost:5001",
        ":method": "POST",
        ":path": "/keys/key1507363465/create?api-version=7.3-preview",
        ":scheme": "https",
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "x-ms-date": "Mon, 25 Oct 2021 15:44:18 GMT"
      },
      "RequestBody": {
        "kty": "RSA"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "key": {
          "kid": "https://rosebud.vault.azure.net/keys/key1507363465/62483ad3c4164057900cd63ca52895e5",
          "kty": "RSA",
          "key_ops": [
            "encrypt",
            "decrypt",
            "sign",
            "verify",
            "wrapKey",
            "unwrapKey"
          ],
          "n": "2S9pAZdwDllBpITJv3nVU6pacBjZx9WXRnW958D_Oez9J67vAGQB98ukgGAzYl8Qmp81Xtw0slyOe3vQhr8qNG0KL2EYYpPKsXr5n_KrXJyv-3T5_1vnCnWY4yk4MGtvFXe7KofIoxcdjRKlbd8zsKb2XqiCeXgfs4BeE_R48nkGCiAwbNppAsE9xIX-JpikqWx8AJpVS5H5e57C1JBflSWE--ItsUBe-s2IjGMBOrkHSN2EXQbBtVMUUIQo2cQfgaYXokyHmLC9LEardlnKgjAkcYFPwDhmCNce0kCO08THRZ825ImfP_eifqX4SVFVe0K1hSL882sLle0ZfUuSdQ",
          "e": "AQAB"
        },
        "attributes": {
          "enabled": true,
          "created": 1635176658,
          "updated": 1635176658,
          "recoveryLevel": "Recoverable\u002BPurgeable",
          "recoverableDays": 90
        }
      }
    },
    {
      "RequestUri": "https://fakekvurl.vault.azure.net/keys/key1507363465/rotationpolicy?api-version=7.3-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        ":authority": "localhost:5001",
        ":method": "GET",
        ":path": "/keys/key1507363465/rotationpolicy?api-version=7.3-preview",
        ":scheme": "https",
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 25 Oct 2021 15:44:19 GMT"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "lifetimeActions": [
          {
            "trigger": {
              "timeBeforeExpiry": "P30D"
            },
            "action": {
              "type": "Notify"
            }
          }
        ],
        "attributes": null
      }
    },
    {
      "RequestUri": "https://fakekvurl.vault.azure.net/keys/key1507363465?api-version=7.3-preview",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        ":authority": "localhost:5001",
        ":method": "DELETE",
        ":path": "/keys/key1507363465?api-version=7.3-preview",
        ":scheme": "https",
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 25 Oct 2021 15:44:19 GMT"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "recoveryId": "https://rosebud.vault.azure.net/deletedkeys/key1507363465",
        "deletedDate": 1635176658,
        "scheduledPurgeDate": 1642952658,
        "key": {
          "kid": "https://rosebud.vault.azure.net/keys/key1507363465/62483ad3c4164057900cd63ca52895e5",
          "kty": "RSA",
          "key_ops": [
            "encrypt",
            "decrypt",
            "sign",
            "verify",
            "wrapKey",
            "unwrapKey"
          ],
          "n": "2S9pAZdwDllBpITJv3nVU6pacBjZx9WXRnW958D_Oez9J67vAGQB98ukgGAzYl8Qmp81Xtw0slyOe3vQhr8qNG0KL2EYYpPKsXr5n_KrXJyv-3T5_1vnCnWY4yk4MGtvFXe7KofIoxcdjRKlbd8zsKb2XqiCeXgfs4BeE_R48nkGCiAwbNppAsE9xIX-JpikqWx8AJpVS5H5e57C1JBflSWE--ItsUBe-s2IjGMBOrkHSN2EXQbBtVMUUIQo2cQfgaYXokyHmLC9LEardlnKgjAkcYFPwDhmCNce0kCO08THRZ825ImfP_eifqX4SVFVe0K1hSL882sLle0ZfUuSdQ",
          "e": "AQAB"
        },
        "attributes": {
          "enabled": true,
          "created": 1635176658,
          "updated": 1635176658,
          "recoveryLevel": "Recoverable\u002BPurgeable",
          "recoverableDays": 90
        }
      }
    },
    {
      "RequestUri": "https://fakekvurl.vault.azure.net/deletedkeys/key1507363465?api-version=7.3-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        ":authority": "localhost:5001",
        ":method": "GET",
        ":path": "/deletedkeys/key1507363465?api-version=7.3-preview",
        ":scheme": "https",
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 25 Oct 2021 15:44:19 GMT"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "error": {
          "code": "KeyNotFound",
          "message": "Deleted Key not found: key1507363465"
        }
      }
    },
[...]
    {
      "RequestUri": "https://fakekvurl.vault.azure.net/deletedkeys/key1507363465?api-version=7.3-preview",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        ":authority": "localhost:5001",
        ":method": "DELETE",
        ":path": "/deletedkeys/key1507363465?api-version=7.3-preview",
        ":scheme": "https",
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 25 Oct 2021 15:44:21 GMT"
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
      },
      "ResponseBody": null
    }
  ],
  "Variables": {}
}
