{
  "Entries": [
    {
      "RequestUri": "https://fakekvurl.vault.azure.net/keys/key1507363465/create?api-version=7.3-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        ":authority": "localhost:5001",
        ":method": "POST",
        ":path": "/keys/key1507363465/create?api-version=7.3-preview",
        ":scheme": "https",
        "Content-Type": "application/json"
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\u0022https://login.windows.net/72f988bf-86f1-41af-91ab-2d7cd011db47\u0022, resource=\u0022https://vault.azure.net\u0022"
      },
      "ResponseBody": {
        "error": {
          "code": "Unauthorized",
          "message": "AKV10000: Request is missing a Bearer or PoP token."
        }
      }
    },
    {
      "RequestUri": "https://fakekvurl.vault.azure.net/keys/key1507363465/create?api-version=7.3-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        ":authority": "localhost:5001",
        ":method": "POST",
        ":path": "/keys/key1507363465/create?api-version=7.3-preview",
        ":scheme": "https",
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "kty": "RSA"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "key": {
          "kid": "https://rosebud.vault.azure.net/keys/key1507363465/43b40769da80419095ab3c32c6a8fa0d",
          "kty": "RSA",
          "key_ops": [
            "encrypt",
            "decrypt",
            "sign",
            "verify",
            "wrapKey",
            "unwrapKey"
          ],
          "n": "pENd8mVBdsaJpXj5YzBxqVr190cP4NzZitQugMYTL3YzbF8UJ5SMvVBssCCd1C1FmZXwhUVoIbKXVIuK8e2g0ILXjY-Y6jsBfLu5BaPGuyqLdAeu-CPeNtEsflP22s59aSqKgMyZ5Loya9PEoIrZe8qztgQmWc_CtNaWr1Wfniausg8eTam-D3iyQZT2-f258mRqC2ZauZEwMYxjYImouA0Az5RpDu4QOkB5bxsRnBJDu8lnl0kSlFVGxbudcQU6FYldlsVWCrcqYPEiYR6pvDgaf93fEr-EnnMv-xWYvrULAbQRga74roZND5FZ7Nbve3c4vWHfAhG5b-qj0zG4XQ",
          "e": "AQAB"
        },
        "attributes": {
          "enabled": true,
          "created": 1635460168,
          "updated": 1635460168,
          "recoveryLevel": "CustomizedRecoverable\u002BPurgeable",
          "recoverableDays": 7
        }
      }
    },
    {
      "RequestUri": "https://fakekvurl.vault.azure.net/keys/key1507363465/rotationpolicy?api-version=7.3-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        ":authority": "localhost:5001",
        ":method": "GET",
        ":path": "/keys/key1507363465/rotationpolicy?api-version=7.3-preview",
        ":scheme": "https",
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "lifetimeActions": [
          {
            "trigger": {
              "timeBeforeExpiry": "P30D"
            },
            "action": {
              "type": "Notify"
            }
          }
        ],
        "attributes": null
      }
    },
    {
      "RequestUri": "https://fakekvurl.vault.azure.net/keys/key1507363465?api-version=7.3-preview",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        ":authority": "localhost:5001",
        ":method": "DELETE",
        ":path": "/keys/key1507363465?api-version=7.3-preview",
        ":scheme": "https",
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "recoveryId": "https://rosebud.vault.azure.net/deletedkeys/key1507363465",
        "deletedDate": 1635460169,
        "scheduledPurgeDate": 1636064969,
        "key": {
          "kid": "https://rosebud.vault.azure.net/keys/key1507363465/43b40769da80419095ab3c32c6a8fa0d",
          "kty": "RSA",
          "key_ops": [
            "encrypt",
            "decrypt",
            "sign",
            "verify",
            "wrapKey",
            "unwrapKey"
          ],
          "n": "pENd8mVBdsaJpXj5YzBxqVr190cP4NzZitQugMYTL3YzbF8UJ5SMvVBssCCd1C1FmZXwhUVoIbKXVIuK8e2g0ILXjY-Y6jsBfLu5BaPGuyqLdAeu-CPeNtEsflP22s59aSqKgMyZ5Loya9PEoIrZe8qztgQmWc_CtNaWr1Wfniausg8eTam-D3iyQZT2-f258mRqC2ZauZEwMYxjYImouA0Az5RpDu4QOkB5bxsRnBJDu8lnl0kSlFVGxbudcQU6FYldlsVWCrcqYPEiYR6pvDgaf93fEr-EnnMv-xWYvrULAbQRga74roZND5FZ7Nbve3c4vWHfAhG5b-qj0zG4XQ",
          "e": "AQAB"
        },
        "attributes": {
          "enabled": true,
          "created": 1635460168,
          "updated": 1635460168,
          "recoveryLevel": "CustomizedRecoverable\u002BPurgeable",
          "recoverableDays": 7
        }
      }
    },
    {
      "RequestUri": "https://fakekvurl.vault.azure.net/deletedkeys/key1507363465?api-version=7.3-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        ":authority": "localhost:5001",
        ":method": "GET",
        ":path": "/deletedkeys/key1507363465?api-version=7.3-preview",
        ":scheme": "https",
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "error": {
          "code": "KeyNotFound",
          "message": "Deleted Key not found: key1507363465"
        }
      }
    },
[...]
    {
      "RequestUri": "https://fakekvurl.vault.azure.net/deletedkeys/key1507363465?api-version=7.3-preview",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        ":authority": "localhost:5001",
        ":method": "DELETE",
        ":path": "/deletedkeys/key1507363465?api-version=7.3-preview",
        ":scheme": "https",
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
      },
      "ResponseBody": null
    }
  ],
  "Variables": {}
}
