{
  "Entries": [
    {
      "RequestUri": "https://fakekvurl.vault.azure.net/keys/key1507363465/create?api-version=7.3-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        ":authority": "localhost:5001",
        ":method": "POST",
        ":path": "/keys/key1507363465/create?api-version=7.3-preview",
        ":scheme": "https",
        "Content-Type": "application/json"
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\u0022https://login.windows.net/00000000-0000-0000-0000-000000000000\u0022, resource=\u0022https://vault.azure.net\u0022"
      },
      "ResponseBody": {
        "error": {
          "code": "Unauthorized",
          "message": "AKV10000: Request is missing a Bearer or PoP token."
        }
      }
    },
    {
      "RequestUri": "https://fakekvurl.vault.azure.net/keys/key1507363465/create?api-version=7.3-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        ":authority": "localhost:5001",
        ":method": "POST",
        ":path": "/keys/key1507363465/create?api-version=7.3-preview",
        ":scheme": "https",
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "kty": "RSA"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "key": {
          "kid": "https://fakekvurl.vault.azure.net/keys/key1507363465/77154594f74447a5bfcb54d096889a9f",
          "kty": "RSA",
          "key_ops": [
            "encrypt",
            "decrypt",
            "sign",
            "verify",
            "wrapKey",
            "unwrapKey"
          ],
          "n": "4ZfoPFoP672fwD2PdP6WxFNS1O9Ir7RF_0lQEucivAjC8UtGXES4x-_KzP3YNtNPmQ4mVtBIvA6-4s37eEUeuMXKLXB6LuQNOCxmuezADzJCZsYN-LMFETZSmsrky4T3BRJTYWOgS6hiqAwFg6hFdseMNBPplJbomJTrqww4aWTbmS8_1Fbdz1qHFnv0rUBdxfscehtKgewT1sARBgLu9Nszj0fUmHAZCxD2rlI4etLbsF4UGxZL3_U7EKcXrKuaXM9u0eVRg9l5Gvw3sYMWUNt3qP74PIv2GwNiwrwQ9cx7lXxa6f5x8IJB9hejhxQBjwZC6h0B4gGirTuynhZp3Q",
          "e": "AQAB"
        },
        "attributes": {
          "enabled": true,
          "created": 1635456441,
          "updated": 1635456441,
          "recoveryLevel": "CustomizedRecoverable\u002BPurgeable",
          "recoverableDays": 7
        }
      }
    },
    {
      "RequestUri": "https://fakekvurl.vault.azure.net/keys/key1507363465/rotationpolicy?api-version=7.3-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        ":authority": "localhost:5001",
        ":method": "GET",
        ":path": "/keys/key1507363465/rotationpolicy?api-version=7.3-preview",
        ":scheme": "https",
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "lifetimeActions": [
          {
            "trigger": {
              "timeBeforeExpiry": "P30D"
            },
            "action": {
              "type": "Notify"
            }
          }
        ],
        "attributes": null
      }
    },
    {
      "RequestUri": "https://fakekvurl.vault.azure.net/keys/key1507363465?api-version=7.3-preview",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        ":authority": "localhost:5001",
        ":method": "DELETE",
        ":path": "/keys/key1507363465?api-version=7.3-preview",
        ":scheme": "https",
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "recoveryId": "https://fakekvurl.vault.azure.net/deletedkeys/key1507363465",
        "deletedDate": 1635456442,
        "scheduledPurgeDate": 1636061242,
        "key": {
          "kid": "https://fakekvurl.vault.azure.net/keys/key1507363465/77154594f74447a5bfcb54d096889a9f",
          "kty": "RSA",
          "key_ops": [
            "encrypt",
            "decrypt",
            "sign",
            "verify",
            "wrapKey",
            "unwrapKey"
          ],
          "n": "4ZfoPFoP672fwD2PdP6WxFNS1O9Ir7RF_0lQEucivAjC8UtGXES4x-_KzP3YNtNPmQ4mVtBIvA6-4s37eEUeuMXKLXB6LuQNOCxmuezADzJCZsYN-LMFETZSmsrky4T3BRJTYWOgS6hiqAwFg6hFdseMNBPplJbomJTrqww4aWTbmS8_1Fbdz1qHFnv0rUBdxfscehtKgewT1sARBgLu9Nszj0fUmHAZCxD2rlI4etLbsF4UGxZL3_U7EKcXrKuaXM9u0eVRg9l5Gvw3sYMWUNt3qP74PIv2GwNiwrwQ9cx7lXxa6f5x8IJB9hejhxQBjwZC6h0B4gGirTuynhZp3Q",
          "e": "AQAB"
        },
        "attributes": {
          "enabled": true,
          "created": 1635456441,
          "updated": 1635456441,
          "recoveryLevel": "CustomizedRecoverable\u002BPurgeable",
          "recoverableDays": 7
        }
      }
    },
    {
      "RequestUri": "https://fakekvurl.vault.azure.net/deletedkeys/key1507363465?api-version=7.3-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        ":authority": "localhost:5001",
        ":method": "GET",
        ":path": "/deletedkeys/key1507363465?api-version=7.3-preview",
        ":scheme": "https",
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "error": {
          "code": "KeyNotFound",
          "message": "Deleted Key not found: key1507363465"
        }
      }
    },
[...]
    {
      "RequestUri": "https://fakekvurl.vault.azure.net/deletedkeys/key1507363465?api-version=7.3-preview",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        ":authority": "localhost:5001",
        ":method": "DELETE",
        ":path": "/deletedkeys/key1507363465?api-version=7.3-preview",
        ":scheme": "https",
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
      },
      "ResponseBody": null
    }
  ],
  "Variables": {}
}
