// Copyright (c) Microsoft Corporation. All rights reserved.
// Licensed under the MIT License. See License.txt in the project root for license information.
// Code generated by Microsoft (R) AutoRest Code Generator. DO NOT EDIT.
// Changes may cause incorrect behavior and will be lost if the code is regenerated.

package armdevhub

import (
	"context"
	"errors"
	"github.com/Azure/azure-sdk-for-go/sdk/azcore"
	"github.com/Azure/azure-sdk-for-go/sdk/azcore/arm"
	"github.com/Azure/azure-sdk-for-go/sdk/azcore/policy"
	"github.com/Azure/azure-sdk-for-go/sdk/azcore/runtime"
	"net/http"
	"net/url"
	"strings"
)

// ADOOAuthClient contains the methods for the ADOOAuth group.
// Don't use this type directly, use NewADOOAuthClient() instead.
type ADOOAuthClient struct {
	internal       *arm.Client
	subscriptionID string
}

// NewADOOAuthClient creates a new instance of ADOOAuthClient with the specified values.
//   - subscriptionID - The ID of the target subscription. The value must be an UUID.
//   - credential - used to authorize requests. Usually a credential from azidentity.
//   - options - Contains optional client configuration. Pass nil to accept the default values.
func NewADOOAuthClient(subscriptionID string, credential azcore.TokenCredential, options *arm.ClientOptions) (*ADOOAuthClient, error) {
	cl, err := arm.NewClient(moduleName, moduleVersion, credential, options)
	if err != nil {
		return nil, err
	}
	client := &ADOOAuthClient{
		subscriptionID: subscriptionID,
		internal:       cl,
	}
	return client, nil
}

// Get - Callback URL to hit once authenticated with Entra ID to have the service store the OAuth token.
// If the operation fails it returns an *azcore.ResponseError type.
//
// Generated from API version 2025-03-01-preview
//   - location - The name of the Azure region.
//   - options - ADOOAuthClientGetOptions contains the optional parameters for the ADOOAuthClient.Get method.
func (client *ADOOAuthClient) Get(ctx context.Context, location string, options *ADOOAuthClientGetOptions) (ADOOAuthClientGetResponse, error) {
	var err error
	const operationName = "ADOOAuthClient.Get"
	ctx = context.WithValue(ctx, runtime.CtxAPINameKey{}, operationName)
	ctx, endSpan := runtime.StartSpan(ctx, operationName, client.internal.Tracer(), nil)
	defer func() { endSpan(err) }()
	req, err := client.getCreateRequest(ctx, location, options)
	if err != nil {
		return ADOOAuthClientGetResponse{}, err
	}
	httpResp, err := client.internal.Pipeline().Do(req)
	if err != nil {
		return ADOOAuthClientGetResponse{}, err
	}
	if !runtime.HasStatusCode(httpResp, http.StatusOK) {
		err = runtime.NewResponseError(httpResp)
		return ADOOAuthClientGetResponse{}, err
	}
	resp, err := client.getHandleResponse(httpResp)
	return resp, err
}

// getCreateRequest creates the Get request.
func (client *ADOOAuthClient) getCreateRequest(ctx context.Context, location string, _ *ADOOAuthClientGetOptions) (*policy.Request, error) {
	urlPath := "/subscriptions/{subscriptionId}/providers/Microsoft.DevHub/locations/{location}/adooauth/default"
	if client.subscriptionID == "" {
		return nil, errors.New("parameter client.subscriptionID cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{subscriptionId}", url.PathEscape(client.subscriptionID))
	if location == "" {
		return nil, errors.New("parameter location cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{location}", url.PathEscape(location))
	req, err := runtime.NewRequest(ctx, http.MethodGet, runtime.JoinPaths(client.internal.Endpoint(), urlPath))
	if err != nil {
		return nil, err
	}
	reqQP := req.Raw().URL.Query()
	reqQP.Set("api-version", "2025-03-01-preview")
	req.Raw().URL.RawQuery = reqQP.Encode()
	req.Raw().Header["Accept"] = []string{"application/json"}
	return req, nil
}

// getHandleResponse handles the Get response.
func (client *ADOOAuthClient) getHandleResponse(resp *http.Response) (ADOOAuthClientGetResponse, error) {
	result := ADOOAuthClientGetResponse{}
	if err := runtime.UnmarshalAsJSON(resp, &result.ADOOAuthResponse); err != nil {
		return ADOOAuthClientGetResponse{}, err
	}
	return result, nil
}

// NewListPager - Callback URL to hit once authenticated with ADO to have the service store the OAuth token.
//
// Generated from API version 2025-03-01-preview
//   - location - The name of the Azure region.
//   - options - ADOOAuthClientListOptions contains the optional parameters for the ADOOAuthClient.NewListPager method.
func (client *ADOOAuthClient) NewListPager(location string, options *ADOOAuthClientListOptions) *runtime.Pager[ADOOAuthClientListResponse] {
	return runtime.NewPager(runtime.PagingHandler[ADOOAuthClientListResponse]{
		More: func(page ADOOAuthClientListResponse) bool {
			return page.NextLink != nil && len(*page.NextLink) > 0
		},
		Fetcher: func(ctx context.Context, page *ADOOAuthClientListResponse) (ADOOAuthClientListResponse, error) {
			ctx = context.WithValue(ctx, runtime.CtxAPINameKey{}, "ADOOAuthClient.NewListPager")
			nextLink := ""
			if page != nil {
				nextLink = *page.NextLink
			}
			resp, err := runtime.FetcherForNextLink(ctx, client.internal.Pipeline(), nextLink, func(ctx context.Context) (*policy.Request, error) {
				return client.listCreateRequest(ctx, location, options)
			}, nil)
			if err != nil {
				return ADOOAuthClientListResponse{}, err
			}
			return client.listHandleResponse(resp)
		},
		Tracer: client.internal.Tracer(),
	})
}

// listCreateRequest creates the List request.
func (client *ADOOAuthClient) listCreateRequest(ctx context.Context, location string, _ *ADOOAuthClientListOptions) (*policy.Request, error) {
	urlPath := "/subscriptions/{subscriptionId}/providers/Microsoft.DevHub/locations/{location}/adooauth"
	if client.subscriptionID == "" {
		return nil, errors.New("parameter client.subscriptionID cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{subscriptionId}", url.PathEscape(client.subscriptionID))
	if location == "" {
		return nil, errors.New("parameter location cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{location}", url.PathEscape(location))
	req, err := runtime.NewRequest(ctx, http.MethodGet, runtime.JoinPaths(client.internal.Endpoint(), urlPath))
	if err != nil {
		return nil, err
	}
	reqQP := req.Raw().URL.Query()
	reqQP.Set("api-version", "2025-03-01-preview")
	req.Raw().URL.RawQuery = reqQP.Encode()
	req.Raw().Header["Accept"] = []string{"application/json"}
	return req, nil
}

// listHandleResponse handles the List response.
func (client *ADOOAuthClient) listHandleResponse(resp *http.Response) (ADOOAuthClientListResponse, error) {
	result := ADOOAuthClientListResponse{}
	if err := runtime.UnmarshalAsJSON(resp, &result.ADOOAuthListResponse); err != nil {
		return ADOOAuthClientListResponse{}, err
	}
	return result, nil
}
