// Package speechservices implements the Azure ARM Speechservices service API version v2.0.
//
// Speech Services API v2.0.
package speechservices

// Copyright (c) Microsoft and contributors.  All rights reserved.
//
// Licensed under the Apache License, Version 2.0 (the "License");
// you may not use this file except in compliance with the License.
// You may obtain a copy of the License at
// http://www.apache.org/licenses/LICENSE-2.0
//
// Unless required by applicable law or agreed to in writing, software
// distributed under the License is distributed on an "AS IS" BASIS,
// WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
//
// See the License for the specific language governing permissions and
// limitations under the License.
//
// Code generated by Microsoft (R) AutoRest Code Generator.
// Changes may cause incorrect behavior and will be lost if the code is regenerated.

import (
	"context"
	"github.com/Azure/go-autorest/autorest"
	"github.com/Azure/go-autorest/autorest/azure"
	"github.com/Azure/go-autorest/autorest/validation"
	"github.com/Azure/go-autorest/tracing"
	"github.com/satori/go.uuid"
	"io"
	"net/http"
)

const (
	// DefaultBaseURI is the default URI used for the service Speechservices
	DefaultBaseURI = "https://westus.cris.ai"
)

// BaseClient is the base client for Speechservices.
type BaseClient struct {
	autorest.Client
	BaseURI string
}

// New creates an instance of the BaseClient client.
func New() BaseClient {
	return NewWithBaseURI(DefaultBaseURI)
}

// NewWithBaseURI creates an instance of the BaseClient client.
func NewWithBaseURI(baseURI string) BaseClient {
	return BaseClient{
		Client:  autorest.NewClientWithUserAgent(UserAgent()),
		BaseURI: baseURI,
	}
}

// CreateAccuracyTest sends the create accuracy test request.
// Parameters:
// testDefinition - the details of the new accuracy test.
func (client BaseClient) CreateAccuracyTest(ctx context.Context, testDefinition TestDefinition) (result ErrorContent, err error) {
	if tracing.IsEnabled() {
		ctx = tracing.StartSpan(ctx, fqdn+"/BaseClient.CreateAccuracyTest")
		defer func() {
			sc := -1
			if result.Response.Response != nil {
				sc = result.Response.Response.StatusCode
			}
			tracing.EndSpan(ctx, sc, err)
		}()
	}
	if err := validation.Validate([]validation.Validation{
		{TargetValue: testDefinition,
			Constraints: []validation.Constraint{{Target: "testDefinition.Dataset", Name: validation.Null, Rule: true,
				Chain: []validation.Constraint{{Target: "testDefinition.Dataset.ID", Name: validation.Null, Rule: true, Chain: nil}}},
				{Target: "testDefinition.ModelsProperty", Name: validation.Null, Rule: true, Chain: nil},
				{Target: "testDefinition.Name", Name: validation.Null, Rule: true, Chain: nil}}}}); err != nil {
		return result, validation.NewError("speechservices.BaseClient", "CreateAccuracyTest", err.Error())
	}

	req, err := client.CreateAccuracyTestPreparer(ctx, testDefinition)
	if err != nil {
		err = autorest.NewErrorWithError(err, "speechservices.BaseClient", "CreateAccuracyTest", nil, "Failure preparing request")
		return
	}

	resp, err := client.CreateAccuracyTestSender(req)
	if err != nil {
		result.Response = autorest.Response{Response: resp}
		err = autorest.NewErrorWithError(err, "speechservices.BaseClient", "CreateAccuracyTest", resp, "Failure sending request")
		return
	}

	result, err = client.CreateAccuracyTestResponder(resp)
	if err != nil {
		err = autorest.NewErrorWithError(err, "speechservices.BaseClient", "CreateAccuracyTest", resp, "Failure responding to request")
	}

	return
}

// CreateAccuracyTestPreparer prepares the CreateAccuracyTest request.
func (client BaseClient) CreateAccuracyTestPreparer(ctx context.Context, testDefinition TestDefinition) (*http.Request, error) {
	preparer := autorest.CreatePreparer(
		autorest.AsContentType("application/json; charset=utf-8"),
		autorest.AsPost(),
		autorest.WithBaseURL(client.BaseURI),
		autorest.WithPath("/api/speechtotext/v2.0/accuracytests"),
		autorest.WithJSON(testDefinition))
	return preparer.Prepare((&http.Request{}).WithContext(ctx))
}

// CreateAccuracyTestSender sends the CreateAccuracyTest request. The method will close the
// http.Response Body if it receives an error.
func (client BaseClient) CreateAccuracyTestSender(req *http.Request) (*http.Response, error) {
	return autorest.SendWithSender(client, req,
		autorest.DoRetryForStatusCodes(client.RetryAttempts, client.RetryDuration, autorest.StatusCodesForRetry...))
}

// CreateAccuracyTestResponder handles the response to the CreateAccuracyTest request. The method always
// closes the http.Response Body.
func (client BaseClient) CreateAccuracyTestResponder(resp *http.Response) (result ErrorContent, err error) {
	err = autorest.Respond(
		resp,
		client.ByInspecting(),
		azure.WithErrorUnlessStatusCode(http.StatusOK, http.StatusUnauthorized, http.StatusForbidden, http.StatusUnsupportedMediaType, http.StatusTooManyRequests),
		autorest.ByUnmarshallingJSON(&result),
		autorest.ByClosing())
	result.Response = autorest.Response{Response: resp}
	return
}

// CreateEndpoint sends the create endpoint request.
// Parameters:
// endpointDefinition - the details of the endpoint.
func (client BaseClient) CreateEndpoint(ctx context.Context, endpointDefinition SpeechEndpointDefinition) (result ErrorContent, err error) {
	if tracing.IsEnabled() {
		ctx = tracing.StartSpan(ctx, fqdn+"/BaseClient.CreateEndpoint")
		defer func() {
			sc := -1
			if result.Response.Response != nil {
				sc = result.Response.Response.StatusCode
			}
			tracing.EndSpan(ctx, sc, err)
		}()
	}
	if err := validation.Validate([]validation.Validation{
		{TargetValue: endpointDefinition,
			Constraints: []validation.Constraint{{Target: "endpointDefinition.ConcurrentRecognitions", Name: validation.Null, Rule: false,
				Chain: []validation.Constraint{{Target: "endpointDefinition.ConcurrentRecognitions", Name: validation.InclusiveMaximum, Rule: int64(20), Chain: nil},
					{Target: "endpointDefinition.ConcurrentRecognitions", Name: validation.InclusiveMinimum, Rule: 1, Chain: nil},
				}},
				{Target: "endpointDefinition.ModelsProperty", Name: validation.Null, Rule: true, Chain: nil},
				{Target: "endpointDefinition.Name", Name: validation.Null, Rule: true, Chain: nil}}}}); err != nil {
		return result, validation.NewError("speechservices.BaseClient", "CreateEndpoint", err.Error())
	}

	req, err := client.CreateEndpointPreparer(ctx, endpointDefinition)
	if err != nil {
		err = autorest.NewErrorWithError(err, "speechservices.BaseClient", "CreateEndpoint", nil, "Failure preparing request")
		return
	}

	resp, err := client.CreateEndpointSender(req)
	if err != nil {
		result.Response = autorest.Response{Response: resp}
		err = autorest.NewErrorWithError(err, "speechservices.BaseClient", "CreateEndpoint", resp, "Failure sending request")
		return
	}

	result, err = client.CreateEndpointResponder(resp)
	if err != nil {
		err = autorest.NewErrorWithError(err, "speechservices.BaseClient", "CreateEndpoint", resp, "Failure responding to request")
	}

	return
}

// CreateEndpointPreparer prepares the CreateEndpoint request.
func (client BaseClient) CreateEndpointPreparer(ctx context.Context, endpointDefinition SpeechEndpointDefinition) (*http.Request, error) {
	preparer := autorest.CreatePreparer(
		autorest.AsContentType("application/json; charset=utf-8"),
		autorest.AsPost(),
		autorest.WithBaseURL(client.BaseURI),
		autorest.WithPath("/api/speechtotext/v2.0/endpoints"),
		autorest.WithJSON(endpointDefinition))
	return preparer.Prepare((&http.Request{}).WithContext(ctx))
}

// CreateEndpointSender sends the CreateEndpoint request. The method will close the
// http.Response Body if it receives an error.
func (client BaseClient) CreateEndpointSender(req *http.Request) (*http.Response, error) {
	return autorest.SendWithSender(client, req,
		autorest.DoRetryForStatusCodes(client.RetryAttempts, client.RetryDuration, autorest.StatusCodesForRetry...))
}

// CreateEndpointResponder handles the response to the CreateEndpoint request. The method always
// closes the http.Response Body.
func (client BaseClient) CreateEndpointResponder(resp *http.Response) (result ErrorContent, err error) {
	err = autorest.Respond(
		resp,
		client.ByInspecting(),
		azure.WithErrorUnlessStatusCode(http.StatusOK, http.StatusAccepted, http.StatusBadRequest, http.StatusUnauthorized, http.StatusForbidden, http.StatusUnsupportedMediaType, http.StatusTooManyRequests, http.StatusServiceUnavailable),
		autorest.ByUnmarshallingJSON(&result),
		autorest.ByClosing())
	result.Response = autorest.Response{Response: resp}
	return
}

// CreateEndpointDataExport sends the create endpoint data export request.
// Parameters:
// endpointID - the identifier of the endpoint.
// endpointDataDefinition - the details of the new endpoint data export.
func (client BaseClient) CreateEndpointDataExport(ctx context.Context, endpointID uuid.UUID, endpointDataDefinition EndpointDataDefinition) (result ErrorContent, err error) {
	if tracing.IsEnabled() {
		ctx = tracing.StartSpan(ctx, fqdn+"/BaseClient.CreateEndpointDataExport")
		defer func() {
			sc := -1
			if result.Response.Response != nil {
				sc = result.Response.Response.StatusCode
			}
			tracing.EndSpan(ctx, sc, err)
		}()
	}
	if err := validation.Validate([]validation.Validation{
		{TargetValue: endpointDataDefinition,
			Constraints: []validation.Constraint{{Target: "endpointDataDefinition.StartDate", Name: validation.Null, Rule: true, Chain: nil},
				{Target: "endpointDataDefinition.EndDate", Name: validation.Null, Rule: true, Chain: nil}}}}); err != nil {
		return result, validation.NewError("speechservices.BaseClient", "CreateEndpointDataExport", err.Error())
	}

	req, err := client.CreateEndpointDataExportPreparer(ctx, endpointID, endpointDataDefinition)
	if err != nil {
		err = autorest.NewErrorWithError(err, "speechservices.BaseClient", "CreateEndpointDataExport", nil, "Failure preparing request")
		return
	}

	resp, err := client.CreateEndpointDataExportSender(req)
	if err != nil {
		result.Response = autorest.Response{Response: resp}
		err = autorest.NewErrorWithError(err, "speechservices.BaseClient", "CreateEndpointDataExport", resp, "Failure sending request")
		return
	}

	result, err = client.CreateEndpointDataExportResponder(resp)
	if err != nil {
		err = autorest.NewErrorWithError(err, "speechservices.BaseClient", "CreateEndpointDataExport", resp, "Failure responding to request")
	}

	return
}

// CreateEndpointDataExportPreparer prepares the CreateEndpointDataExport request.
func (client BaseClient) CreateEndpointDataExportPreparer(ctx context.Context, endpointID uuid.UUID, endpointDataDefinition EndpointDataDefinition) (*http.Request, error) {
	pathParameters := map[string]interface{}{
		"endpointId": autorest.Encode("path", endpointID),
	}

	preparer := autorest.CreatePreparer(
		autorest.AsContentType("application/json; charset=utf-8"),
		autorest.AsPost(),
		autorest.WithBaseURL(client.BaseURI),
		autorest.WithPathParameters("/api/speechtotext/v2.0/endpoints/{endpointId}/data", pathParameters),
		autorest.WithJSON(endpointDataDefinition))
	return preparer.Prepare((&http.Request{}).WithContext(ctx))
}

// CreateEndpointDataExportSender sends the CreateEndpointDataExport request. The method will close the
// http.Response Body if it receives an error.
func (client BaseClient) CreateEndpointDataExportSender(req *http.Request) (*http.Response, error) {
	return autorest.SendWithSender(client, req,
		autorest.DoRetryForStatusCodes(client.RetryAttempts, client.RetryDuration, autorest.StatusCodesForRetry...))
}

// CreateEndpointDataExportResponder handles the response to the CreateEndpointDataExport request. The method always
// closes the http.Response Body.
func (client BaseClient) CreateEndpointDataExportResponder(resp *http.Response) (result ErrorContent, err error) {
	err = autorest.Respond(
		resp,
		client.ByInspecting(),
		azure.WithErrorUnlessStatusCode(http.StatusOK, http.StatusAccepted, http.StatusBadRequest, http.StatusUnauthorized, http.StatusForbidden, http.StatusNotFound, http.StatusTooManyRequests),
		autorest.ByUnmarshallingJSON(&result),
		autorest.ByClosing())
	result.Response = autorest.Response{Response: resp}
	return
}

// CreateLanguageGenerationEndpoint sends the create language generation endpoint request.
func (client BaseClient) CreateLanguageGenerationEndpoint(ctx context.Context, endpointDefinition EndpointDefinition) (result ErrorContent, err error) {
	if tracing.IsEnabled() {
		ctx = tracing.StartSpan(ctx, fqdn+"/BaseClient.CreateLanguageGenerationEndpoint")
		defer func() {
			sc := -1
			if result.Response.Response != nil {
				sc = result.Response.Response.StatusCode
			}
			tracing.EndSpan(ctx, sc, err)
		}()
	}
	if err := validation.Validate([]validation.Validation{
		{TargetValue: endpointDefinition,
			Constraints: []validation.Constraint{{Target: "endpointDefinition.ConcurrentRecognitions", Name: validation.Null, Rule: false,
				Chain: []validation.Constraint{{Target: "endpointDefinition.ConcurrentRecognitions", Name: validation.InclusiveMaximum, Rule: int64(20), Chain: nil},
					{Target: "endpointDefinition.ConcurrentRecognitions", Name: validation.InclusiveMinimum, Rule: 1, Chain: nil},
				}},
				{Target: "endpointDefinition.ModelsProperty", Name: validation.Null, Rule: true, Chain: nil},
				{Target: "endpointDefinition.Name", Name: validation.Null, Rule: true, Chain: nil}}}}); err != nil {
		return result, validation.NewError("speechservices.BaseClient", "CreateLanguageGenerationEndpoint", err.Error())
	}

	req, err := client.CreateLanguageGenerationEndpointPreparer(ctx, endpointDefinition)
	if err != nil {
		err = autorest.NewErrorWithError(err, "speechservices.BaseClient", "CreateLanguageGenerationEndpoint", nil, "Failure preparing request")
		return
	}

	resp, err := client.CreateLanguageGenerationEndpointSender(req)
	if err != nil {
		result.Response = autorest.Response{Response: resp}
		err = autorest.NewErrorWithError(err, "speechservices.BaseClient", "CreateLanguageGenerationEndpoint", resp, "Failure sending request")
		return
	}

	result, err = client.CreateLanguageGenerationEndpointResponder(resp)
	if err != nil {
		err = autorest.NewErrorWithError(err, "speechservices.BaseClient", "CreateLanguageGenerationEndpoint", resp, "Failure responding to request")
	}

	return
}

// CreateLanguageGenerationEndpointPreparer prepares the CreateLanguageGenerationEndpoint request.
func (client BaseClient) CreateLanguageGenerationEndpointPreparer(ctx context.Context, endpointDefinition EndpointDefinition) (*http.Request, error) {
	preparer := autorest.CreatePreparer(
		autorest.AsContentType("application/json; charset=utf-8"),
		autorest.AsPost(),
		autorest.WithBaseURL(client.BaseURI),
		autorest.WithPath("/api/languagegeneration/v2.0/Endpoints"),
		autorest.WithJSON(endpointDefinition))
	return preparer.Prepare((&http.Request{}).WithContext(ctx))
}

// CreateLanguageGenerationEndpointSender sends the CreateLanguageGenerationEndpoint request. The method will close the
// http.Response Body if it receives an error.
func (client BaseClient) CreateLanguageGenerationEndpointSender(req *http.Request) (*http.Response, error) {
	return autorest.SendWithSender(client, req,
		autorest.DoRetryForStatusCodes(client.RetryAttempts, client.RetryDuration, autorest.StatusCodesForRetry...))
}

// CreateLanguageGenerationEndpointResponder handles the response to the CreateLanguageGenerationEndpoint request. The method always
// closes the http.Response Body.
func (client BaseClient) CreateLanguageGenerationEndpointResponder(resp *http.Response) (result ErrorContent, err error) {
	err = autorest.Respond(
		resp,
		client.ByInspecting(),
		azure.WithErrorUnlessStatusCode(http.StatusOK, http.StatusAccepted, http.StatusNoContent, http.StatusBadRequest, http.StatusUnauthorized, http.StatusForbidden, http.StatusTooManyRequests),
		autorest.ByUnmarshallingJSON(&result),
		autorest.ByClosing())
	result.Response = autorest.Response{Response: resp}
	return
}

// CreateLanguageGenerationModel sends the create language generation model request.
func (client BaseClient) CreateLanguageGenerationModel(ctx context.Context, modelDefinition ModelDefinition) (result ErrorContent, err error) {
	if tracing.IsEnabled() {
		ctx = tracing.StartSpan(ctx, fqdn+"/BaseClient.CreateLanguageGenerationModel")
		defer func() {
			sc := -1
			if result.Response.Response != nil {
				sc = result.Response.Response.StatusCode
			}
			tracing.EndSpan(ctx, sc, err)
		}()
	}
	if err := validation.Validate([]validation.Validation{
		{TargetValue: modelDefinition,
			Constraints: []validation.Constraint{{Target: "modelDefinition.BaseModel", Name: validation.Null, Rule: false,
				Chain: []validation.Constraint{{Target: "modelDefinition.BaseModel.ID", Name: validation.Null, Rule: true, Chain: nil}}},
				{Target: "modelDefinition.Name", Name: validation.Null, Rule: true, Chain: nil}}}}); err != nil {
		return result, validation.NewError("speechservices.BaseClient", "CreateLanguageGenerationModel", err.Error())
	}

	req, err := client.CreateLanguageGenerationModelPreparer(ctx, modelDefinition)
	if err != nil {
		err = autorest.NewErrorWithError(err, "speechservices.BaseClient", "CreateLanguageGenerationModel", nil, "Failure preparing request")
		return
	}

	resp, err := client.CreateLanguageGenerationModelSender(req)
	if err != nil {
		result.Response = autorest.Response{Response: resp}
		err = autorest.NewErrorWithError(err, "speechservices.BaseClient", "CreateLanguageGenerationModel", resp, "Failure sending request")
		return
	}

	result, err = client.CreateLanguageGenerationModelResponder(resp)
	if err != nil {
		err = autorest.NewErrorWithError(err, "speechservices.BaseClient", "CreateLanguageGenerationModel", resp, "Failure responding to request")
	}

	return
}

// CreateLanguageGenerationModelPreparer prepares the CreateLanguageGenerationModel request.
func (client BaseClient) CreateLanguageGenerationModelPreparer(ctx context.Context, modelDefinition ModelDefinition) (*http.Request, error) {
	preparer := autorest.CreatePreparer(
		autorest.AsContentType("application/json; charset=utf-8"),
		autorest.AsPost(),
		autorest.WithBaseURL(client.BaseURI),
		autorest.WithPath("/api/languagegeneration/v2.0/Models"),
		autorest.WithJSON(modelDefinition))
	return preparer.Prepare((&http.Request{}).WithContext(ctx))
}

// CreateLanguageGenerationModelSender sends the CreateLanguageGenerationModel request. The method will close the
// http.Response Body if it receives an error.
func (client BaseClient) CreateLanguageGenerationModelSender(req *http.Request) (*http.Response, error) {
	return autorest.SendWithSender(client, req,
		autorest.DoRetryForStatusCodes(client.RetryAttempts, client.RetryDuration, autorest.StatusCodesForRetry...))
}

// CreateLanguageGenerationModelResponder handles the response to the CreateLanguageGenerationModel request. The method always
// closes the http.Response Body.
func (client BaseClient) CreateLanguageGenerationModelResponder(resp *http.Response) (result ErrorContent, err error) {
	err = autorest.Respond(
		resp,
		client.ByInspecting(),
		azure.WithErrorUnlessStatusCode(http.StatusOK, http.StatusAccepted, http.StatusNoContent, http.StatusBadRequest, http.StatusUnauthorized, http.StatusForbidden, http.StatusTooManyRequests),
		autorest.ByUnmarshallingJSON(&result),
		autorest.ByClosing())
	result.Response = autorest.Response{Response: resp}
	return
}

// CreateModel sends the create model request.
// Parameters:
// modelDefinition - the details of the new model.
func (client BaseClient) CreateModel(ctx context.Context, modelDefinition SpeechModelDefinition) (result ErrorContent, err error) {
	if tracing.IsEnabled() {
		ctx = tracing.StartSpan(ctx, fqdn+"/BaseClient.CreateModel")
		defer func() {
			sc := -1
			if result.Response.Response != nil {
				sc = result.Response.Response.StatusCode
			}
			tracing.EndSpan(ctx, sc, err)
		}()
	}
	if err := validation.Validate([]validation.Validation{
		{TargetValue: modelDefinition,
			Constraints: []validation.Constraint{{Target: "modelDefinition.BaseModel", Name: validation.Null, Rule: false,
				Chain: []validation.Constraint{{Target: "modelDefinition.BaseModel.ID", Name: validation.Null, Rule: true, Chain: nil}}},
				{Target: "modelDefinition.Name", Name: validation.Null, Rule: true, Chain: nil}}}}); err != nil {
		return result, validation.NewError("speechservices.BaseClient", "CreateModel", err.Error())
	}

	req, err := client.CreateModelPreparer(ctx, modelDefinition)
	if err != nil {
		err = autorest.NewErrorWithError(err, "speechservices.BaseClient", "CreateModel", nil, "Failure preparing request")
		return
	}

	resp, err := client.CreateModelSender(req)
	if err != nil {
		result.Response = autorest.Response{Response: resp}
		err = autorest.NewErrorWithError(err, "speechservices.BaseClient", "CreateModel", resp, "Failure sending request")
		return
	}

	result, err = client.CreateModelResponder(resp)
	if err != nil {
		err = autorest.NewErrorWithError(err, "speechservices.BaseClient", "CreateModel", resp, "Failure responding to request")
	}

	return
}

// CreateModelPreparer prepares the CreateModel request.
func (client BaseClient) CreateModelPreparer(ctx context.Context, modelDefinition SpeechModelDefinition) (*http.Request, error) {
	preparer := autorest.CreatePreparer(
		autorest.AsContentType("application/json; charset=utf-8"),
		autorest.AsPost(),
		autorest.WithBaseURL(client.BaseURI),
		autorest.WithPath("/api/speechtotext/v2.0/models"),
		autorest.WithJSON(modelDefinition))
	return preparer.Prepare((&http.Request{}).WithContext(ctx))
}

// CreateModelSender sends the CreateModel request. The method will close the
// http.Response Body if it receives an error.
func (client BaseClient) CreateModelSender(req *http.Request) (*http.Response, error) {
	return autorest.SendWithSender(client, req,
		autorest.DoRetryForStatusCodes(client.RetryAttempts, client.RetryDuration, autorest.StatusCodesForRetry...))
}

// CreateModelResponder handles the response to the CreateModel request. The method always
// closes the http.Response Body.
func (client BaseClient) CreateModelResponder(resp *http.Response) (result ErrorContent, err error) {
	err = autorest.Respond(
		resp,
		client.ByInspecting(),
		azure.WithErrorUnlessStatusCode(http.StatusOK, http.StatusAccepted, http.StatusBadRequest, http.StatusUnauthorized, http.StatusForbidden, http.StatusUnsupportedMediaType, http.StatusTooManyRequests),
		autorest.ByUnmarshallingJSON(&result),
		autorest.ByClosing())
	result.Response = autorest.Response{Response: resp}
	return
}

// CreateTranscription sends the create transcription request.
// Parameters:
// transcription - the details of the new transcription.
func (client BaseClient) CreateTranscription(ctx context.Context, transcription TranscriptionDefinition) (result ErrorContent, err error) {
	if tracing.IsEnabled() {
		ctx = tracing.StartSpan(ctx, fqdn+"/BaseClient.CreateTranscription")
		defer func() {
			sc := -1
			if result.Response.Response != nil {
				sc = result.Response.Response.StatusCode
			}
			tracing.EndSpan(ctx, sc, err)
		}()
	}
	if err := validation.Validate([]validation.Validation{
		{TargetValue: transcription,
			Constraints: []validation.Constraint{{Target: "transcription.RecordingsURL", Name: validation.Null, Rule: true, Chain: nil},
				{Target: "transcription.Name", Name: validation.Null, Rule: true, Chain: nil}}}}); err != nil {
		return result, validation.NewError("speechservices.BaseClient", "CreateTranscription", err.Error())
	}

	req, err := client.CreateTranscriptionPreparer(ctx, transcription)
	if err != nil {
		err = autorest.NewErrorWithError(err, "speechservices.BaseClient", "CreateTranscription", nil, "Failure preparing request")
		return
	}

	resp, err := client.CreateTranscriptionSender(req)
	if err != nil {
		result.Response = autorest.Response{Response: resp}
		err = autorest.NewErrorWithError(err, "speechservices.BaseClient", "CreateTranscription", resp, "Failure sending request")
		return
	}

	result, err = client.CreateTranscriptionResponder(resp)
	if err != nil {
		err = autorest.NewErrorWithError(err, "speechservices.BaseClient", "CreateTranscription", resp, "Failure responding to request")
	}

	return
}

// CreateTranscriptionPreparer prepares the CreateTranscription request.
func (client BaseClient) CreateTranscriptionPreparer(ctx context.Context, transcription TranscriptionDefinition) (*http.Request, error) {
	preparer := autorest.CreatePreparer(
		autorest.AsContentType("application/json; charset=utf-8"),
		autorest.AsPost(),
		autorest.WithBaseURL(client.BaseURI),
		autorest.WithPath("/api/speechtotext/v2.0/transcriptions"),
		autorest.WithJSON(transcription))
	return preparer.Prepare((&http.Request{}).WithContext(ctx))
}

// CreateTranscriptionSender sends the CreateTranscription request. The method will close the
// http.Response Body if it receives an error.
func (client BaseClient) CreateTranscriptionSender(req *http.Request) (*http.Response, error) {
	return autorest.SendWithSender(client, req,
		autorest.DoRetryForStatusCodes(client.RetryAttempts, client.RetryDuration, autorest.StatusCodesForRetry...))
}

// CreateTranscriptionResponder handles the response to the CreateTranscription request. The method always
// closes the http.Response Body.
func (client BaseClient) CreateTranscriptionResponder(resp *http.Response) (result ErrorContent, err error) {
	err = autorest.Respond(
		resp,
		client.ByInspecting(),
		azure.WithErrorUnlessStatusCode(http.StatusOK, http.StatusAccepted, http.StatusBadRequest, http.StatusUnauthorized, http.StatusForbidden, http.StatusUnsupportedMediaType, http.StatusTooManyRequests, http.StatusServiceUnavailable),
		autorest.ByUnmarshallingJSON(&result),
		autorest.ByClosing())
	result.Response = autorest.Response{Response: resp}
	return
}

// CreateVoiceDeployment sends the create voice deployment request.
func (client BaseClient) CreateVoiceDeployment(ctx context.Context, endpoint EndpointDefinition) (result ErrorContent, err error) {
	if tracing.IsEnabled() {
		ctx = tracing.StartSpan(ctx, fqdn+"/BaseClient.CreateVoiceDeployment")
		defer func() {
			sc := -1
			if result.Response.Response != nil {
				sc = result.Response.Response.StatusCode
			}
			tracing.EndSpan(ctx, sc, err)
		}()
	}
	if err := validation.Validate([]validation.Validation{
		{TargetValue: endpoint,
			Constraints: []validation.Constraint{{Target: "endpoint.ConcurrentRecognitions", Name: validation.Null, Rule: false,
				Chain: []validation.Constraint{{Target: "endpoint.ConcurrentRecognitions", Name: validation.InclusiveMaximum, Rule: int64(20), Chain: nil},
					{Target: "endpoint.ConcurrentRecognitions", Name: validation.InclusiveMinimum, Rule: 1, Chain: nil},
				}},
				{Target: "endpoint.ModelsProperty", Name: validation.Null, Rule: true, Chain: nil},
				{Target: "endpoint.Name", Name: validation.Null, Rule: true, Chain: nil}}}}); err != nil {
		return result, validation.NewError("speechservices.BaseClient", "CreateVoiceDeployment", err.Error())
	}

	req, err := client.CreateVoiceDeploymentPreparer(ctx, endpoint)
	if err != nil {
		err = autorest.NewErrorWithError(err, "speechservices.BaseClient", "CreateVoiceDeployment", nil, "Failure preparing request")
		return
	}

	resp, err := client.CreateVoiceDeploymentSender(req)
	if err != nil {
		result.Response = autorest.Response{Response: resp}
		err = autorest.NewErrorWithError(err, "speechservices.BaseClient", "CreateVoiceDeployment", resp, "Failure sending request")
		return
	}

	result, err = client.CreateVoiceDeploymentResponder(resp)
	if err != nil {
		err = autorest.NewErrorWithError(err, "speechservices.BaseClient", "CreateVoiceDeployment", resp, "Failure responding to request")
	}

	return
}

// CreateVoiceDeploymentPreparer prepares the CreateVoiceDeployment request.
func (client BaseClient) CreateVoiceDeploymentPreparer(ctx context.Context, endpoint EndpointDefinition) (*http.Request, error) {
	preparer := autorest.CreatePreparer(
		autorest.AsContentType("application/json; charset=utf-8"),
		autorest.AsPost(),
		autorest.WithBaseURL(client.BaseURI),
		autorest.WithPath("/api/texttospeech/v2.0/endpoints"),
		autorest.WithJSON(endpoint))
	return preparer.Prepare((&http.Request{}).WithContext(ctx))
}

// CreateVoiceDeploymentSender sends the CreateVoiceDeployment request. The method will close the
// http.Response Body if it receives an error.
func (client BaseClient) CreateVoiceDeploymentSender(req *http.Request) (*http.Response, error) {
	return autorest.SendWithSender(client, req,
		autorest.DoRetryForStatusCodes(client.RetryAttempts, client.RetryDuration, autorest.StatusCodesForRetry...))
}

// CreateVoiceDeploymentResponder handles the response to the CreateVoiceDeployment request. The method always
// closes the http.Response Body.
func (client BaseClient) CreateVoiceDeploymentResponder(resp *http.Response) (result ErrorContent, err error) {
	err = autorest.Respond(
		resp,
		client.ByInspecting(),
		azure.WithErrorUnlessStatusCode(http.StatusOK, http.StatusAccepted, http.StatusBadRequest, http.StatusUnauthorized, http.StatusForbidden, http.StatusTooManyRequests),
		autorest.ByUnmarshallingJSON(&result),
		autorest.ByClosing())
	result.Response = autorest.Response{Response: resp}
	return
}

// CreateVoiceModel sends the create voice model request.
func (client BaseClient) CreateVoiceModel(ctx context.Context, modelDefinition ModelDefinition) (result ErrorContent, err error) {
	if tracing.IsEnabled() {
		ctx = tracing.StartSpan(ctx, fqdn+"/BaseClient.CreateVoiceModel")
		defer func() {
			sc := -1
			if result.Response.Response != nil {
				sc = result.Response.Response.StatusCode
			}
			tracing.EndSpan(ctx, sc, err)
		}()
	}
	if err := validation.Validate([]validation.Validation{
		{TargetValue: modelDefinition,
			Constraints: []validation.Constraint{{Target: "modelDefinition.BaseModel", Name: validation.Null, Rule: false,
				Chain: []validation.Constraint{{Target: "modelDefinition.BaseModel.ID", Name: validation.Null, Rule: true, Chain: nil}}},
				{Target: "modelDefinition.Name", Name: validation.Null, Rule: true, Chain: nil}}}}); err != nil {
		return result, validation.NewError("speechservices.BaseClient", "CreateVoiceModel", err.Error())
	}

	req, err := client.CreateVoiceModelPreparer(ctx, modelDefinition)
	if err != nil {
		err = autorest.NewErrorWithError(err, "speechservices.BaseClient", "CreateVoiceModel", nil, "Failure preparing request")
		return
	}

	resp, err := client.CreateVoiceModelSender(req)
	if err != nil {
		result.Response = autorest.Response{Response: resp}
		err = autorest.NewErrorWithError(err, "speechservices.BaseClient", "CreateVoiceModel", resp, "Failure sending request")
		return
	}

	result, err = client.CreateVoiceModelResponder(resp)
	if err != nil {
		err = autorest.NewErrorWithError(err, "speechservices.BaseClient", "CreateVoiceModel", resp, "Failure responding to request")
	}

	return
}

// CreateVoiceModelPreparer prepares the CreateVoiceModel request.
func (client BaseClient) CreateVoiceModelPreparer(ctx context.Context, modelDefinition ModelDefinition) (*http.Request, error) {
	preparer := autorest.CreatePreparer(
		autorest.AsContentType("application/json; charset=utf-8"),
		autorest.AsPost(),
		autorest.WithBaseURL(client.BaseURI),
		autorest.WithPath("/api/texttospeech/v2.0/models"),
		autorest.WithJSON(modelDefinition))
	return preparer.Prepare((&http.Request{}).WithContext(ctx))
}

// CreateVoiceModelSender sends the CreateVoiceModel request. The method will close the
// http.Response Body if it receives an error.
func (client BaseClient) CreateVoiceModelSender(req *http.Request) (*http.Response, error) {
	return autorest.SendWithSender(client, req,
		autorest.DoRetryForStatusCodes(client.RetryAttempts, client.RetryDuration, autorest.StatusCodesForRetry...))
}

// CreateVoiceModelResponder handles the response to the CreateVoiceModel request. The method always
// closes the http.Response Body.
func (client BaseClient) CreateVoiceModelResponder(resp *http.Response) (result ErrorContent, err error) {
	err = autorest.Respond(
		resp,
		client.ByInspecting(),
		azure.WithErrorUnlessStatusCode(http.StatusOK, http.StatusAccepted, http.StatusBadRequest, http.StatusUnauthorized, http.StatusForbidden, http.StatusTooManyRequests),
		autorest.ByUnmarshallingJSON(&result),
		autorest.ByClosing())
	result.Response = autorest.Response{Response: resp}
	return
}

// CreateVoiceTest sends the create voice test request.
func (client BaseClient) CreateVoiceTest(ctx context.Context, voiceTestDefinition VoiceTestDefinition) (result ErrorContent, err error) {
	if tracing.IsEnabled() {
		ctx = tracing.StartSpan(ctx, fqdn+"/BaseClient.CreateVoiceTest")
		defer func() {
			sc := -1
			if result.Response.Response != nil {
				sc = result.Response.Response.StatusCode
			}
			tracing.EndSpan(ctx, sc, err)
		}()
	}
	if err := validation.Validate([]validation.Validation{
		{TargetValue: voiceTestDefinition,
			Constraints: []validation.Constraint{{Target: "voiceTestDefinition.Text", Name: validation.Null, Rule: true, Chain: nil},
				{Target: "voiceTestDefinition.Model", Name: validation.Null, Rule: true,
					Chain: []validation.Constraint{{Target: "voiceTestDefinition.Model.ID", Name: validation.Null, Rule: true, Chain: nil}}}}}}); err != nil {
		return result, validation.NewError("speechservices.BaseClient", "CreateVoiceTest", err.Error())
	}

	req, err := client.CreateVoiceTestPreparer(ctx, voiceTestDefinition)
	if err != nil {
		err = autorest.NewErrorWithError(err, "speechservices.BaseClient", "CreateVoiceTest", nil, "Failure preparing request")
		return
	}

	resp, err := client.CreateVoiceTestSender(req)
	if err != nil {
		result.Response = autorest.Response{Response: resp}
		err = autorest.NewErrorWithError(err, "speechservices.BaseClient", "CreateVoiceTest", resp, "Failure sending request")
		return
	}

	result, err = client.CreateVoiceTestResponder(resp)
	if err != nil {
		err = autorest.NewErrorWithError(err, "speechservices.BaseClient", "CreateVoiceTest", resp, "Failure responding to request")
	}

	return
}

// CreateVoiceTestPreparer prepares the CreateVoiceTest request.
func (client BaseClient) CreateVoiceTestPreparer(ctx context.Context, voiceTestDefinition VoiceTestDefinition) (*http.Request, error) {
	preparer := autorest.CreatePreparer(
		autorest.AsContentType("application/json; charset=utf-8"),
		autorest.AsPost(),
		autorest.WithBaseURL(client.BaseURI),
		autorest.WithPath("/api/texttospeech/v2.0/tests"),
		autorest.WithJSON(voiceTestDefinition))
	return preparer.Prepare((&http.Request{}).WithContext(ctx))
}

// CreateVoiceTestSender sends the CreateVoiceTest request. The method will close the
// http.Response Body if it receives an error.
func (client BaseClient) CreateVoiceTestSender(req *http.Request) (*http.Response, error) {
	return autorest.SendWithSender(client, req,
		autorest.DoRetryForStatusCodes(client.RetryAttempts, client.RetryDuration, autorest.StatusCodesForRetry...))
}

// CreateVoiceTestResponder handles the response to the CreateVoiceTest request. The method always
// closes the http.Response Body.
func (client BaseClient) CreateVoiceTestResponder(resp *http.Response) (result ErrorContent, err error) {
	err = autorest.Respond(
		resp,
		client.ByInspecting(),
		azure.WithErrorUnlessStatusCode(http.StatusOK, http.StatusAccepted, http.StatusBadRequest, http.StatusUnauthorized, http.StatusForbidden, http.StatusTooManyRequests),
		autorest.ByUnmarshallingJSON(&result),
		autorest.ByClosing())
	result.Response = autorest.Response{Response: resp}
	return
}

// DeleteAccuracyTest sends the delete accuracy test request.
// Parameters:
// ID - the identifier of the accuracy test.
func (client BaseClient) DeleteAccuracyTest(ctx context.Context, ID uuid.UUID) (result ErrorContent, err error) {
	if tracing.IsEnabled() {
		ctx = tracing.StartSpan(ctx, fqdn+"/BaseClient.DeleteAccuracyTest")
		defer func() {
			sc := -1
			if result.Response.Response != nil {
				sc = result.Response.Response.StatusCode
			}
			tracing.EndSpan(ctx, sc, err)
		}()
	}
	req, err := client.DeleteAccuracyTestPreparer(ctx, ID)
	if err != nil {
		err = autorest.NewErrorWithError(err, "speechservices.BaseClient", "DeleteAccuracyTest", nil, "Failure preparing request")
		return
	}

	resp, err := client.DeleteAccuracyTestSender(req)
	if err != nil {
		result.Response = autorest.Response{Response: resp}
		err = autorest.NewErrorWithError(err, "speechservices.BaseClient", "DeleteAccuracyTest", resp, "Failure sending request")
		return
	}

	result, err = client.DeleteAccuracyTestResponder(resp)
	if err != nil {
		err = autorest.NewErrorWithError(err, "speechservices.BaseClient", "DeleteAccuracyTest", resp, "Failure responding to request")
	}

	return
}

// DeleteAccuracyTestPreparer prepares the DeleteAccuracyTest request.
func (client BaseClient) DeleteAccuracyTestPreparer(ctx context.Context, ID uuid.UUID) (*http.Request, error) {
	pathParameters := map[string]interface{}{
		"id": autorest.Encode("path", ID),
	}

	preparer := autorest.CreatePreparer(
		autorest.AsDelete(),
		autorest.WithBaseURL(client.BaseURI),
		autorest.WithPathParameters("/api/speechtotext/v2.0/accuracytests/{id}", pathParameters))
	return preparer.Prepare((&http.Request{}).WithContext(ctx))
}

// DeleteAccuracyTestSender sends the DeleteAccuracyTest request. The method will close the
// http.Response Body if it receives an error.
func (client BaseClient) DeleteAccuracyTestSender(req *http.Request) (*http.Response, error) {
	return autorest.SendWithSender(client, req,
		autorest.DoRetryForStatusCodes(client.RetryAttempts, client.RetryDuration, autorest.StatusCodesForRetry...))
}

// DeleteAccuracyTestResponder handles the response to the DeleteAccuracyTest request. The method always
// closes the http.Response Body.
func (client BaseClient) DeleteAccuracyTestResponder(resp *http.Response) (result ErrorContent, err error) {
	err = autorest.Respond(
		resp,
		client.ByInspecting(),
		azure.WithErrorUnlessStatusCode(http.StatusOK, http.StatusNoContent, http.StatusUnauthorized, http.StatusForbidden, http.StatusTooManyRequests),
		autorest.ByUnmarshallingJSON(&result),
		autorest.ByClosing())
	result.Response = autorest.Response{Response: resp}
	return
}

// DeleteDataset sends the delete dataset request.
// Parameters:
// ID - the identifier of the dataset.
func (client BaseClient) DeleteDataset(ctx context.Context, ID uuid.UUID) (result ErrorContent, err error) {
	if tracing.IsEnabled() {
		ctx = tracing.StartSpan(ctx, fqdn+"/BaseClient.DeleteDataset")
		defer func() {
			sc := -1
			if result.Response.Response != nil {
				sc = result.Response.Response.StatusCode
			}
			tracing.EndSpan(ctx, sc, err)
		}()
	}
	req, err := client.DeleteDatasetPreparer(ctx, ID)
	if err != nil {
		err = autorest.NewErrorWithError(err, "speechservices.BaseClient", "DeleteDataset", nil, "Failure preparing request")
		return
	}

	resp, err := client.DeleteDatasetSender(req)
	if err != nil {
		result.Response = autorest.Response{Response: resp}
		err = autorest.NewErrorWithError(err, "speechservices.BaseClient", "DeleteDataset", resp, "Failure sending request")
		return
	}

	result, err = client.DeleteDatasetResponder(resp)
	if err != nil {
		err = autorest.NewErrorWithError(err, "speechservices.BaseClient", "DeleteDataset", resp, "Failure responding to request")
	}

	return
}

// DeleteDatasetPreparer prepares the DeleteDataset request.
func (client BaseClient) DeleteDatasetPreparer(ctx context.Context, ID uuid.UUID) (*http.Request, error) {
	pathParameters := map[string]interface{}{
		"id": autorest.Encode("path", ID),
	}

	preparer := autorest.CreatePreparer(
		autorest.AsDelete(),
		autorest.WithBaseURL(client.BaseURI),
		autorest.WithPathParameters("/api/speechtotext/v2.0/datasets/{id}", pathParameters))
	return preparer.Prepare((&http.Request{}).WithContext(ctx))
}

// DeleteDatasetSender sends the DeleteDataset request. The method will close the
// http.Response Body if it receives an error.
func (client BaseClient) DeleteDatasetSender(req *http.Request) (*http.Response, error) {
	return autorest.SendWithSender(client, req,
		autorest.DoRetryForStatusCodes(client.RetryAttempts, client.RetryDuration, autorest.StatusCodesForRetry...))
}

// DeleteDatasetResponder handles the response to the DeleteDataset request. The method always
// closes the http.Response Body.
func (client BaseClient) DeleteDatasetResponder(resp *http.Response) (result ErrorContent, err error) {
	err = autorest.Respond(
		resp,
		client.ByInspecting(),
		azure.WithErrorUnlessStatusCode(http.StatusOK, http.StatusNoContent, http.StatusUnauthorized, http.StatusForbidden, http.StatusMethodNotAllowed, http.StatusTooManyRequests),
		autorest.ByUnmarshallingJSON(&result),
		autorest.ByClosing())
	result.Response = autorest.Response{Response: resp}
	return
}

// DeleteDeployment sends the delete deployment request.
// Parameters:
// ID - the id of voice endpoint.
func (client BaseClient) DeleteDeployment(ctx context.Context, ID uuid.UUID) (result ErrorContent, err error) {
	if tracing.IsEnabled() {
		ctx = tracing.StartSpan(ctx, fqdn+"/BaseClient.DeleteDeployment")
		defer func() {
			sc := -1
			if result.Response.Response != nil {
				sc = result.Response.Response.StatusCode
			}
			tracing.EndSpan(ctx, sc, err)
		}()
	}
	req, err := client.DeleteDeploymentPreparer(ctx, ID)
	if err != nil {
		err = autorest.NewErrorWithError(err, "speechservices.BaseClient", "DeleteDeployment", nil, "Failure preparing request")
		return
	}

	resp, err := client.DeleteDeploymentSender(req)
	if err != nil {
		result.Response = autorest.Response{Response: resp}
		err = autorest.NewErrorWithError(err, "speechservices.BaseClient", "DeleteDeployment", resp, "Failure sending request")
		return
	}

	result, err = client.DeleteDeploymentResponder(resp)
	if err != nil {
		err = autorest.NewErrorWithError(err, "speechservices.BaseClient", "DeleteDeployment", resp, "Failure responding to request")
	}

	return
}

// DeleteDeploymentPreparer prepares the DeleteDeployment request.
func (client BaseClient) DeleteDeploymentPreparer(ctx context.Context, ID uuid.UUID) (*http.Request, error) {
	pathParameters := map[string]interface{}{
		"id": autorest.Encode("path", ID),
	}

	preparer := autorest.CreatePreparer(
		autorest.AsDelete(),
		autorest.WithBaseURL(client.BaseURI),
		autorest.WithPathParameters("/api/texttospeech/v2.0/endpoints/{id}", pathParameters))
	return preparer.Prepare((&http.Request{}).WithContext(ctx))
}

// DeleteDeploymentSender sends the DeleteDeployment request. The method will close the
// http.Response Body if it receives an error.
func (client BaseClient) DeleteDeploymentSender(req *http.Request) (*http.Response, error) {
	return autorest.SendWithSender(client, req,
		autorest.DoRetryForStatusCodes(client.RetryAttempts, client.RetryDuration, autorest.StatusCodesForRetry...))
}

// DeleteDeploymentResponder handles the response to the DeleteDeployment request. The method always
// closes the http.Response Body.
func (client BaseClient) DeleteDeploymentResponder(resp *http.Response) (result ErrorContent, err error) {
	err = autorest.Respond(
		resp,
		client.ByInspecting(),
		azure.WithErrorUnlessStatusCode(http.StatusOK, http.StatusNoContent, http.StatusUnauthorized, http.StatusForbidden, http.StatusMethodNotAllowed, http.StatusTooManyRequests),
		autorest.ByUnmarshallingJSON(&result),
		autorest.ByClosing())
	result.Response = autorest.Response{Response: resp}
	return
}

// DeleteEndpoint sends the delete endpoint request.
// Parameters:
// ID - the identifier of the endpoint.
func (client BaseClient) DeleteEndpoint(ctx context.Context, ID uuid.UUID) (result ErrorContent, err error) {
	if tracing.IsEnabled() {
		ctx = tracing.StartSpan(ctx, fqdn+"/BaseClient.DeleteEndpoint")
		defer func() {
			sc := -1
			if result.Response.Response != nil {
				sc = result.Response.Response.StatusCode
			}
			tracing.EndSpan(ctx, sc, err)
		}()
	}
	req, err := client.DeleteEndpointPreparer(ctx, ID)
	if err != nil {
		err = autorest.NewErrorWithError(err, "speechservices.BaseClient", "DeleteEndpoint", nil, "Failure preparing request")
		return
	}

	resp, err := client.DeleteEndpointSender(req)
	if err != nil {
		result.Response = autorest.Response{Response: resp}
		err = autorest.NewErrorWithError(err, "speechservices.BaseClient", "DeleteEndpoint", resp, "Failure sending request")
		return
	}

	result, err = client.DeleteEndpointResponder(resp)
	if err != nil {
		err = autorest.NewErrorWithError(err, "speechservices.BaseClient", "DeleteEndpoint", resp, "Failure responding to request")
	}

	return
}

// DeleteEndpointPreparer prepares the DeleteEndpoint request.
func (client BaseClient) DeleteEndpointPreparer(ctx context.Context, ID uuid.UUID) (*http.Request, error) {
	pathParameters := map[string]interface{}{
		"id": autorest.Encode("path", ID),
	}

	preparer := autorest.CreatePreparer(
		autorest.AsDelete(),
		autorest.WithBaseURL(client.BaseURI),
		autorest.WithPathParameters("/api/speechtotext/v2.0/endpoints/{id}", pathParameters))
	return preparer.Prepare((&http.Request{}).WithContext(ctx))
}

// DeleteEndpointSender sends the DeleteEndpoint request. The method will close the
// http.Response Body if it receives an error.
func (client BaseClient) DeleteEndpointSender(req *http.Request) (*http.Response, error) {
	return autorest.SendWithSender(client, req,
		autorest.DoRetryForStatusCodes(client.RetryAttempts, client.RetryDuration, autorest.StatusCodesForRetry...))
}

// DeleteEndpointResponder handles the response to the DeleteEndpoint request. The method always
// closes the http.Response Body.
func (client BaseClient) DeleteEndpointResponder(resp *http.Response) (result ErrorContent, err error) {
	err = autorest.Respond(
		resp,
		client.ByInspecting(),
		azure.WithErrorUnlessStatusCode(http.StatusOK, http.StatusNoContent, http.StatusUnauthorized, http.StatusForbidden, http.StatusTooManyRequests),
		autorest.ByUnmarshallingJSON(&result),
		autorest.ByClosing())
	result.Response = autorest.Response{Response: resp}
	return
}

// DeleteEndpointData deletion will happen in the background and can take up to a day.
// Parameters:
// endpointID - the identifier of the endpoint.
func (client BaseClient) DeleteEndpointData(ctx context.Context, endpointID uuid.UUID) (result ErrorContent, err error) {
	if tracing.IsEnabled() {
		ctx = tracing.StartSpan(ctx, fqdn+"/BaseClient.DeleteEndpointData")
		defer func() {
			sc := -1
			if result.Response.Response != nil {
				sc = result.Response.Response.StatusCode
			}
			tracing.EndSpan(ctx, sc, err)
		}()
	}
	req, err := client.DeleteEndpointDataPreparer(ctx, endpointID)
	if err != nil {
		err = autorest.NewErrorWithError(err, "speechservices.BaseClient", "DeleteEndpointData", nil, "Failure preparing request")
		return
	}

	resp, err := client.DeleteEndpointDataSender(req)
	if err != nil {
		result.Response = autorest.Response{Response: resp}
		err = autorest.NewErrorWithError(err, "speechservices.BaseClient", "DeleteEndpointData", resp, "Failure sending request")
		return
	}

	result, err = client.DeleteEndpointDataResponder(resp)
	if err != nil {
		err = autorest.NewErrorWithError(err, "speechservices.BaseClient", "DeleteEndpointData", resp, "Failure responding to request")
	}

	return
}

// DeleteEndpointDataPreparer prepares the DeleteEndpointData request.
func (client BaseClient) DeleteEndpointDataPreparer(ctx context.Context, endpointID uuid.UUID) (*http.Request, error) {
	pathParameters := map[string]interface{}{
		"endpointId": autorest.Encode("path", endpointID),
	}

	preparer := autorest.CreatePreparer(
		autorest.AsDelete(),
		autorest.WithBaseURL(client.BaseURI),
		autorest.WithPathParameters("/api/speechtotext/v2.0/endpoints/{endpointId}/data", pathParameters))
	return preparer.Prepare((&http.Request{}).WithContext(ctx))
}

// DeleteEndpointDataSender sends the DeleteEndpointData request. The method will close the
// http.Response Body if it receives an error.
func (client BaseClient) DeleteEndpointDataSender(req *http.Request) (*http.Response, error) {
	return autorest.SendWithSender(client, req,
		autorest.DoRetryForStatusCodes(client.RetryAttempts, client.RetryDuration, autorest.StatusCodesForRetry...))
}

// DeleteEndpointDataResponder handles the response to the DeleteEndpointData request. The method always
// closes the http.Response Body.
func (client BaseClient) DeleteEndpointDataResponder(resp *http.Response) (result ErrorContent, err error) {
	err = autorest.Respond(
		resp,
		client.ByInspecting(),
		azure.WithErrorUnlessStatusCode(http.StatusOK, http.StatusNoContent, http.StatusUnauthorized, http.StatusForbidden, http.StatusTooManyRequests),
		autorest.ByUnmarshallingJSON(&result),
		autorest.ByClosing())
	result.Response = autorest.Response{Response: resp}
	return
}

// DeleteEndpointDataExport sends the delete endpoint data export request.
// Parameters:
// endpointID - the identifier of the endpoint.
// ID - the identifier of the endpoint data export.
func (client BaseClient) DeleteEndpointDataExport(ctx context.Context, endpointID uuid.UUID, ID uuid.UUID) (result ErrorContent, err error) {
	if tracing.IsEnabled() {
		ctx = tracing.StartSpan(ctx, fqdn+"/BaseClient.DeleteEndpointDataExport")
		defer func() {
			sc := -1
			if result.Response.Response != nil {
				sc = result.Response.Response.StatusCode
			}
			tracing.EndSpan(ctx, sc, err)
		}()
	}
	req, err := client.DeleteEndpointDataExportPreparer(ctx, endpointID, ID)
	if err != nil {
		err = autorest.NewErrorWithError(err, "speechservices.BaseClient", "DeleteEndpointDataExport", nil, "Failure preparing request")
		return
	}

	resp, err := client.DeleteEndpointDataExportSender(req)
	if err != nil {
		result.Response = autorest.Response{Response: resp}
		err = autorest.NewErrorWithError(err, "speechservices.BaseClient", "DeleteEndpointDataExport", resp, "Failure sending request")
		return
	}

	result, err = client.DeleteEndpointDataExportResponder(resp)
	if err != nil {
		err = autorest.NewErrorWithError(err, "speechservices.BaseClient", "DeleteEndpointDataExport", resp, "Failure responding to request")
	}

	return
}

// DeleteEndpointDataExportPreparer prepares the DeleteEndpointDataExport request.
func (client BaseClient) DeleteEndpointDataExportPreparer(ctx context.Context, endpointID uuid.UUID, ID uuid.UUID) (*http.Request, error) {
	pathParameters := map[string]interface{}{
		"endpointId": autorest.Encode("path", endpointID),
		"id":         autorest.Encode("path", ID),
	}

	preparer := autorest.CreatePreparer(
		autorest.AsDelete(),
		autorest.WithBaseURL(client.BaseURI),
		autorest.WithPathParameters("/api/speechtotext/v2.0/endpoints/{endpointId}/data/{id}", pathParameters))
	return preparer.Prepare((&http.Request{}).WithContext(ctx))
}

// DeleteEndpointDataExportSender sends the DeleteEndpointDataExport request. The method will close the
// http.Response Body if it receives an error.
func (client BaseClient) DeleteEndpointDataExportSender(req *http.Request) (*http.Response, error) {
	return autorest.SendWithSender(client, req,
		autorest.DoRetryForStatusCodes(client.RetryAttempts, client.RetryDuration, autorest.StatusCodesForRetry...))
}

// DeleteEndpointDataExportResponder handles the response to the DeleteEndpointDataExport request. The method always
// closes the http.Response Body.
func (client BaseClient) DeleteEndpointDataExportResponder(resp *http.Response) (result ErrorContent, err error) {
	err = autorest.Respond(
		resp,
		client.ByInspecting(),
		azure.WithErrorUnlessStatusCode(http.StatusOK, http.StatusNoContent, http.StatusUnauthorized, http.StatusForbidden, http.StatusMethodNotAllowed, http.StatusTooManyRequests),
		autorest.ByUnmarshallingJSON(&result),
		autorest.ByClosing())
	result.Response = autorest.Response{Response: resp}
	return
}

// DeleteLanguageGenerationEndpoint sends the delete language generation endpoint request.
// Parameters:
// ID - the identifier of the language generation model endpoint.
func (client BaseClient) DeleteLanguageGenerationEndpoint(ctx context.Context, ID uuid.UUID) (result ErrorContent, err error) {
	if tracing.IsEnabled() {
		ctx = tracing.StartSpan(ctx, fqdn+"/BaseClient.DeleteLanguageGenerationEndpoint")
		defer func() {
			sc := -1
			if result.Response.Response != nil {
				sc = result.Response.Response.StatusCode
			}
			tracing.EndSpan(ctx, sc, err)
		}()
	}
	req, err := client.DeleteLanguageGenerationEndpointPreparer(ctx, ID)
	if err != nil {
		err = autorest.NewErrorWithError(err, "speechservices.BaseClient", "DeleteLanguageGenerationEndpoint", nil, "Failure preparing request")
		return
	}

	resp, err := client.DeleteLanguageGenerationEndpointSender(req)
	if err != nil {
		result.Response = autorest.Response{Response: resp}
		err = autorest.NewErrorWithError(err, "speechservices.BaseClient", "DeleteLanguageGenerationEndpoint", resp, "Failure sending request")
		return
	}

	result, err = client.DeleteLanguageGenerationEndpointResponder(resp)
	if err != nil {
		err = autorest.NewErrorWithError(err, "speechservices.BaseClient", "DeleteLanguageGenerationEndpoint", resp, "Failure responding to request")
	}

	return
}

// DeleteLanguageGenerationEndpointPreparer prepares the DeleteLanguageGenerationEndpoint request.
func (client BaseClient) DeleteLanguageGenerationEndpointPreparer(ctx context.Context, ID uuid.UUID) (*http.Request, error) {
	pathParameters := map[string]interface{}{
		"id": autorest.Encode("path", ID),
	}

	preparer := autorest.CreatePreparer(
		autorest.AsDelete(),
		autorest.WithBaseURL(client.BaseURI),
		autorest.WithPathParameters("/api/languagegeneration/v2.0/Endpoints/{id}", pathParameters))
	return preparer.Prepare((&http.Request{}).WithContext(ctx))
}

// DeleteLanguageGenerationEndpointSender sends the DeleteLanguageGenerationEndpoint request. The method will close the
// http.Response Body if it receives an error.
func (client BaseClient) DeleteLanguageGenerationEndpointSender(req *http.Request) (*http.Response, error) {
	return autorest.SendWithSender(client, req,
		autorest.DoRetryForStatusCodes(client.RetryAttempts, client.RetryDuration, autorest.StatusCodesForRetry...))
}

// DeleteLanguageGenerationEndpointResponder handles the response to the DeleteLanguageGenerationEndpoint request. The method always
// closes the http.Response Body.
func (client BaseClient) DeleteLanguageGenerationEndpointResponder(resp *http.Response) (result ErrorContent, err error) {
	err = autorest.Respond(
		resp,
		client.ByInspecting(),
		azure.WithErrorUnlessStatusCode(http.StatusOK, http.StatusNoContent, http.StatusUnauthorized, http.StatusForbidden, http.StatusMethodNotAllowed, http.StatusTooManyRequests),
		autorest.ByUnmarshallingJSON(&result),
		autorest.ByClosing())
	result.Response = autorest.Response{Response: resp}
	return
}

// DeleteLanguageGenerationModel sends the delete language generation model request.
// Parameters:
// ID - the identifier of the language generation model.
func (client BaseClient) DeleteLanguageGenerationModel(ctx context.Context, ID uuid.UUID) (result ErrorContent, err error) {
	if tracing.IsEnabled() {
		ctx = tracing.StartSpan(ctx, fqdn+"/BaseClient.DeleteLanguageGenerationModel")
		defer func() {
			sc := -1
			if result.Response.Response != nil {
				sc = result.Response.Response.StatusCode
			}
			tracing.EndSpan(ctx, sc, err)
		}()
	}
	req, err := client.DeleteLanguageGenerationModelPreparer(ctx, ID)
	if err != nil {
		err = autorest.NewErrorWithError(err, "speechservices.BaseClient", "DeleteLanguageGenerationModel", nil, "Failure preparing request")
		return
	}

	resp, err := client.DeleteLanguageGenerationModelSender(req)
	if err != nil {
		result.Response = autorest.Response{Response: resp}
		err = autorest.NewErrorWithError(err, "speechservices.BaseClient", "DeleteLanguageGenerationModel", resp, "Failure sending request")
		return
	}

	result, err = client.DeleteLanguageGenerationModelResponder(resp)
	if err != nil {
		err = autorest.NewErrorWithError(err, "speechservices.BaseClient", "DeleteLanguageGenerationModel", resp, "Failure responding to request")
	}

	return
}

// DeleteLanguageGenerationModelPreparer prepares the DeleteLanguageGenerationModel request.
func (client BaseClient) DeleteLanguageGenerationModelPreparer(ctx context.Context, ID uuid.UUID) (*http.Request, error) {
	pathParameters := map[string]interface{}{
		"id": autorest.Encode("path", ID),
	}

	preparer := autorest.CreatePreparer(
		autorest.AsDelete(),
		autorest.WithBaseURL(client.BaseURI),
		autorest.WithPathParameters("/api/languagegeneration/v2.0/Models/{id}", pathParameters))
	return preparer.Prepare((&http.Request{}).WithContext(ctx))
}

// DeleteLanguageGenerationModelSender sends the DeleteLanguageGenerationModel request. The method will close the
// http.Response Body if it receives an error.
func (client BaseClient) DeleteLanguageGenerationModelSender(req *http.Request) (*http.Response, error) {
	return autorest.SendWithSender(client, req,
		autorest.DoRetryForStatusCodes(client.RetryAttempts, client.RetryDuration, autorest.StatusCodesForRetry...))
}

// DeleteLanguageGenerationModelResponder handles the response to the DeleteLanguageGenerationModel request. The method always
// closes the http.Response Body.
func (client BaseClient) DeleteLanguageGenerationModelResponder(resp *http.Response) (result ErrorContent, err error) {
	err = autorest.Respond(
		resp,
		client.ByInspecting(),
		azure.WithErrorUnlessStatusCode(http.StatusOK, http.StatusNoContent, http.StatusUnauthorized, http.StatusForbidden, http.StatusMethodNotAllowed, http.StatusTooManyRequests),
		autorest.ByUnmarshallingJSON(&result),
		autorest.ByClosing())
	result.Response = autorest.Response{Response: resp}
	return
}

// DeleteModel sends the delete model request.
// Parameters:
// ID - the identifier of the model.
func (client BaseClient) DeleteModel(ctx context.Context, ID uuid.UUID) (result ErrorContent, err error) {
	if tracing.IsEnabled() {
		ctx = tracing.StartSpan(ctx, fqdn+"/BaseClient.DeleteModel")
		defer func() {
			sc := -1
			if result.Response.Response != nil {
				sc = result.Response.Response.StatusCode
			}
			tracing.EndSpan(ctx, sc, err)
		}()
	}
	req, err := client.DeleteModelPreparer(ctx, ID)
	if err != nil {
		err = autorest.NewErrorWithError(err, "speechservices.BaseClient", "DeleteModel", nil, "Failure preparing request")
		return
	}

	resp, err := client.DeleteModelSender(req)
	if err != nil {
		result.Response = autorest.Response{Response: resp}
		err = autorest.NewErrorWithError(err, "speechservices.BaseClient", "DeleteModel", resp, "Failure sending request")
		return
	}

	result, err = client.DeleteModelResponder(resp)
	if err != nil {
		err = autorest.NewErrorWithError(err, "speechservices.BaseClient", "DeleteModel", resp, "Failure responding to request")
	}

	return
}

// DeleteModelPreparer prepares the DeleteModel request.
func (client BaseClient) DeleteModelPreparer(ctx context.Context, ID uuid.UUID) (*http.Request, error) {
	pathParameters := map[string]interface{}{
		"id": autorest.Encode("path", ID),
	}

	preparer := autorest.CreatePreparer(
		autorest.AsDelete(),
		autorest.WithBaseURL(client.BaseURI),
		autorest.WithPathParameters("/api/speechtotext/v2.0/models/{id}", pathParameters))
	return preparer.Prepare((&http.Request{}).WithContext(ctx))
}

// DeleteModelSender sends the DeleteModel request. The method will close the
// http.Response Body if it receives an error.
func (client BaseClient) DeleteModelSender(req *http.Request) (*http.Response, error) {
	return autorest.SendWithSender(client, req,
		autorest.DoRetryForStatusCodes(client.RetryAttempts, client.RetryDuration, autorest.StatusCodesForRetry...))
}

// DeleteModelResponder handles the response to the DeleteModel request. The method always
// closes the http.Response Body.
func (client BaseClient) DeleteModelResponder(resp *http.Response) (result ErrorContent, err error) {
	err = autorest.Respond(
		resp,
		client.ByInspecting(),
		azure.WithErrorUnlessStatusCode(http.StatusOK, http.StatusNoContent, http.StatusUnauthorized, http.StatusForbidden, http.StatusMethodNotAllowed, http.StatusTooManyRequests),
		autorest.ByUnmarshallingJSON(&result),
		autorest.ByClosing())
	result.Response = autorest.Response{Response: resp}
	return
}

// DeleteTranscription sends the delete transcription request.
// Parameters:
// ID - the identifier of the transcription.
func (client BaseClient) DeleteTranscription(ctx context.Context, ID uuid.UUID) (result ErrorContent, err error) {
	if tracing.IsEnabled() {
		ctx = tracing.StartSpan(ctx, fqdn+"/BaseClient.DeleteTranscription")
		defer func() {
			sc := -1
			if result.Response.Response != nil {
				sc = result.Response.Response.StatusCode
			}
			tracing.EndSpan(ctx, sc, err)
		}()
	}
	req, err := client.DeleteTranscriptionPreparer(ctx, ID)
	if err != nil {
		err = autorest.NewErrorWithError(err, "speechservices.BaseClient", "DeleteTranscription", nil, "Failure preparing request")
		return
	}

	resp, err := client.DeleteTranscriptionSender(req)
	if err != nil {
		result.Response = autorest.Response{Response: resp}
		err = autorest.NewErrorWithError(err, "speechservices.BaseClient", "DeleteTranscription", resp, "Failure sending request")
		return
	}

	result, err = client.DeleteTranscriptionResponder(resp)
	if err != nil {
		err = autorest.NewErrorWithError(err, "speechservices.BaseClient", "DeleteTranscription", resp, "Failure responding to request")
	}

	return
}

// DeleteTranscriptionPreparer prepares the DeleteTranscription request.
func (client BaseClient) DeleteTranscriptionPreparer(ctx context.Context, ID uuid.UUID) (*http.Request, error) {
	pathParameters := map[string]interface{}{
		"id": autorest.Encode("path", ID),
	}

	preparer := autorest.CreatePreparer(
		autorest.AsDelete(),
		autorest.WithBaseURL(client.BaseURI),
		autorest.WithPathParameters("/api/speechtotext/v2.0/transcriptions/{id}", pathParameters))
	return preparer.Prepare((&http.Request{}).WithContext(ctx))
}

// DeleteTranscriptionSender sends the DeleteTranscription request. The method will close the
// http.Response Body if it receives an error.
func (client BaseClient) DeleteTranscriptionSender(req *http.Request) (*http.Response, error) {
	return autorest.SendWithSender(client, req,
		autorest.DoRetryForStatusCodes(client.RetryAttempts, client.RetryDuration, autorest.StatusCodesForRetry...))
}

// DeleteTranscriptionResponder handles the response to the DeleteTranscription request. The method always
// closes the http.Response Body.
func (client BaseClient) DeleteTranscriptionResponder(resp *http.Response) (result ErrorContent, err error) {
	err = autorest.Respond(
		resp,
		client.ByInspecting(),
		azure.WithErrorUnlessStatusCode(http.StatusOK, http.StatusNoContent, http.StatusUnauthorized, http.StatusForbidden, http.StatusMethodNotAllowed, http.StatusTooManyRequests),
		autorest.ByUnmarshallingJSON(&result),
		autorest.ByClosing())
	result.Response = autorest.Response{Response: resp}
	return
}

// DeleteVoiceDataset sends the delete voice dataset request.
// Parameters:
// ID - the identifier of the voice dataset
func (client BaseClient) DeleteVoiceDataset(ctx context.Context, ID uuid.UUID) (result ErrorContent, err error) {
	if tracing.IsEnabled() {
		ctx = tracing.StartSpan(ctx, fqdn+"/BaseClient.DeleteVoiceDataset")
		defer func() {
			sc := -1
			if result.Response.Response != nil {
				sc = result.Response.Response.StatusCode
			}
			tracing.EndSpan(ctx, sc, err)
		}()
	}
	req, err := client.DeleteVoiceDatasetPreparer(ctx, ID)
	if err != nil {
		err = autorest.NewErrorWithError(err, "speechservices.BaseClient", "DeleteVoiceDataset", nil, "Failure preparing request")
		return
	}

	resp, err := client.DeleteVoiceDatasetSender(req)
	if err != nil {
		result.Response = autorest.Response{Response: resp}
		err = autorest.NewErrorWithError(err, "speechservices.BaseClient", "DeleteVoiceDataset", resp, "Failure sending request")
		return
	}

	result, err = client.DeleteVoiceDatasetResponder(resp)
	if err != nil {
		err = autorest.NewErrorWithError(err, "speechservices.BaseClient", "DeleteVoiceDataset", resp, "Failure responding to request")
	}

	return
}

// DeleteVoiceDatasetPreparer prepares the DeleteVoiceDataset request.
func (client BaseClient) DeleteVoiceDatasetPreparer(ctx context.Context, ID uuid.UUID) (*http.Request, error) {
	pathParameters := map[string]interface{}{
		"id": autorest.Encode("path", ID),
	}

	preparer := autorest.CreatePreparer(
		autorest.AsDelete(),
		autorest.WithBaseURL(client.BaseURI),
		autorest.WithPathParameters("/api/texttospeech/v2.0/datasets/{id}", pathParameters))
	return preparer.Prepare((&http.Request{}).WithContext(ctx))
}

// DeleteVoiceDatasetSender sends the DeleteVoiceDataset request. The method will close the
// http.Response Body if it receives an error.
func (client BaseClient) DeleteVoiceDatasetSender(req *http.Request) (*http.Response, error) {
	return autorest.SendWithSender(client, req,
		autorest.DoRetryForStatusCodes(client.RetryAttempts, client.RetryDuration, autorest.StatusCodesForRetry...))
}

// DeleteVoiceDatasetResponder handles the response to the DeleteVoiceDataset request. The method always
// closes the http.Response Body.
func (client BaseClient) DeleteVoiceDatasetResponder(resp *http.Response) (result ErrorContent, err error) {
	err = autorest.Respond(
		resp,
		client.ByInspecting(),
		azure.WithErrorUnlessStatusCode(http.StatusOK, http.StatusNoContent, http.StatusUnauthorized, http.StatusForbidden, http.StatusMethodNotAllowed, http.StatusTooManyRequests),
		autorest.ByUnmarshallingJSON(&result),
		autorest.ByClosing())
	result.Response = autorest.Response{Response: resp}
	return
}

// DeleteVoiceModel sends the delete voice model request.
// Parameters:
// ID - the identifier of the voice model
func (client BaseClient) DeleteVoiceModel(ctx context.Context, ID uuid.UUID) (result ErrorContent, err error) {
	if tracing.IsEnabled() {
		ctx = tracing.StartSpan(ctx, fqdn+"/BaseClient.DeleteVoiceModel")
		defer func() {
			sc := -1
			if result.Response.Response != nil {
				sc = result.Response.Response.StatusCode
			}
			tracing.EndSpan(ctx, sc, err)
		}()
	}
	req, err := client.DeleteVoiceModelPreparer(ctx, ID)
	if err != nil {
		err = autorest.NewErrorWithError(err, "speechservices.BaseClient", "DeleteVoiceModel", nil, "Failure preparing request")
		return
	}

	resp, err := client.DeleteVoiceModelSender(req)
	if err != nil {
		result.Response = autorest.Response{Response: resp}
		err = autorest.NewErrorWithError(err, "speechservices.BaseClient", "DeleteVoiceModel", resp, "Failure sending request")
		return
	}

	result, err = client.DeleteVoiceModelResponder(resp)
	if err != nil {
		err = autorest.NewErrorWithError(err, "speechservices.BaseClient", "DeleteVoiceModel", resp, "Failure responding to request")
	}

	return
}

// DeleteVoiceModelPreparer prepares the DeleteVoiceModel request.
func (client BaseClient) DeleteVoiceModelPreparer(ctx context.Context, ID uuid.UUID) (*http.Request, error) {
	pathParameters := map[string]interface{}{
		"id": autorest.Encode("path", ID),
	}

	preparer := autorest.CreatePreparer(
		autorest.AsDelete(),
		autorest.WithBaseURL(client.BaseURI),
		autorest.WithPathParameters("/api/texttospeech/v2.0/models/{id}", pathParameters))
	return preparer.Prepare((&http.Request{}).WithContext(ctx))
}

// DeleteVoiceModelSender sends the DeleteVoiceModel request. The method will close the
// http.Response Body if it receives an error.
func (client BaseClient) DeleteVoiceModelSender(req *http.Request) (*http.Response, error) {
	return autorest.SendWithSender(client, req,
		autorest.DoRetryForStatusCodes(client.RetryAttempts, client.RetryDuration, autorest.StatusCodesForRetry...))
}

// DeleteVoiceModelResponder handles the response to the DeleteVoiceModel request. The method always
// closes the http.Response Body.
func (client BaseClient) DeleteVoiceModelResponder(resp *http.Response) (result ErrorContent, err error) {
	err = autorest.Respond(
		resp,
		client.ByInspecting(),
		azure.WithErrorUnlessStatusCode(http.StatusOK, http.StatusNoContent, http.StatusUnauthorized, http.StatusForbidden, http.StatusMethodNotAllowed, http.StatusTooManyRequests),
		autorest.ByUnmarshallingJSON(&result),
		autorest.ByClosing())
	result.Response = autorest.Response{Response: resp}
	return
}

// DeleteVoiceTest sends the delete voice test request.
// Parameters:
// ID - the identifier of the voice test.
func (client BaseClient) DeleteVoiceTest(ctx context.Context, ID uuid.UUID) (result ErrorContent, err error) {
	if tracing.IsEnabled() {
		ctx = tracing.StartSpan(ctx, fqdn+"/BaseClient.DeleteVoiceTest")
		defer func() {
			sc := -1
			if result.Response.Response != nil {
				sc = result.Response.Response.StatusCode
			}
			tracing.EndSpan(ctx, sc, err)
		}()
	}
	req, err := client.DeleteVoiceTestPreparer(ctx, ID)
	if err != nil {
		err = autorest.NewErrorWithError(err, "speechservices.BaseClient", "DeleteVoiceTest", nil, "Failure preparing request")
		return
	}

	resp, err := client.DeleteVoiceTestSender(req)
	if err != nil {
		result.Response = autorest.Response{Response: resp}
		err = autorest.NewErrorWithError(err, "speechservices.BaseClient", "DeleteVoiceTest", resp, "Failure sending request")
		return
	}

	result, err = client.DeleteVoiceTestResponder(resp)
	if err != nil {
		err = autorest.NewErrorWithError(err, "speechservices.BaseClient", "DeleteVoiceTest", resp, "Failure responding to request")
	}

	return
}

// DeleteVoiceTestPreparer prepares the DeleteVoiceTest request.
func (client BaseClient) DeleteVoiceTestPreparer(ctx context.Context, ID uuid.UUID) (*http.Request, error) {
	pathParameters := map[string]interface{}{
		"id": autorest.Encode("path", ID),
	}

	preparer := autorest.CreatePreparer(
		autorest.AsDelete(),
		autorest.WithBaseURL(client.BaseURI),
		autorest.WithPathParameters("/api/texttospeech/v2.0/tests/{id}", pathParameters))
	return preparer.Prepare((&http.Request{}).WithContext(ctx))
}

// DeleteVoiceTestSender sends the DeleteVoiceTest request. The method will close the
// http.Response Body if it receives an error.
func (client BaseClient) DeleteVoiceTestSender(req *http.Request) (*http.Response, error) {
	return autorest.SendWithSender(client, req,
		autorest.DoRetryForStatusCodes(client.RetryAttempts, client.RetryDuration, autorest.StatusCodesForRetry...))
}

// DeleteVoiceTestResponder handles the response to the DeleteVoiceTest request. The method always
// closes the http.Response Body.
func (client BaseClient) DeleteVoiceTestResponder(resp *http.Response) (result ErrorContent, err error) {
	err = autorest.Respond(
		resp,
		client.ByInspecting(),
		azure.WithErrorUnlessStatusCode(http.StatusOK, http.StatusNoContent, http.StatusBadRequest, http.StatusUnauthorized, http.StatusForbidden, http.StatusMethodNotAllowed, http.StatusTooManyRequests),
		autorest.ByUnmarshallingJSON(&result),
		autorest.ByClosing())
	result.Response = autorest.Response{Response: resp}
	return
}

// GetAccuracyTest sends the get accuracy test request.
// Parameters:
// ID - the identifier of the accuracy test.
func (client BaseClient) GetAccuracyTest(ctx context.Context, ID uuid.UUID) (result SetObject, err error) {
	if tracing.IsEnabled() {
		ctx = tracing.StartSpan(ctx, fqdn+"/BaseClient.GetAccuracyTest")
		defer func() {
			sc := -1
			if result.Response.Response != nil {
				sc = result.Response.Response.StatusCode
			}
			tracing.EndSpan(ctx, sc, err)
		}()
	}
	req, err := client.GetAccuracyTestPreparer(ctx, ID)
	if err != nil {
		err = autorest.NewErrorWithError(err, "speechservices.BaseClient", "GetAccuracyTest", nil, "Failure preparing request")
		return
	}

	resp, err := client.GetAccuracyTestSender(req)
	if err != nil {
		result.Response = autorest.Response{Response: resp}
		err = autorest.NewErrorWithError(err, "speechservices.BaseClient", "GetAccuracyTest", resp, "Failure sending request")
		return
	}

	result, err = client.GetAccuracyTestResponder(resp)
	if err != nil {
		err = autorest.NewErrorWithError(err, "speechservices.BaseClient", "GetAccuracyTest", resp, "Failure responding to request")
	}

	return
}

// GetAccuracyTestPreparer prepares the GetAccuracyTest request.
func (client BaseClient) GetAccuracyTestPreparer(ctx context.Context, ID uuid.UUID) (*http.Request, error) {
	pathParameters := map[string]interface{}{
		"id": autorest.Encode("path", ID),
	}

	preparer := autorest.CreatePreparer(
		autorest.AsGet(),
		autorest.WithBaseURL(client.BaseURI),
		autorest.WithPathParameters("/api/speechtotext/v2.0/accuracytests/{id}", pathParameters))
	return preparer.Prepare((&http.Request{}).WithContext(ctx))
}

// GetAccuracyTestSender sends the GetAccuracyTest request. The method will close the
// http.Response Body if it receives an error.
func (client BaseClient) GetAccuracyTestSender(req *http.Request) (*http.Response, error) {
	return autorest.SendWithSender(client, req,
		autorest.DoRetryForStatusCodes(client.RetryAttempts, client.RetryDuration, autorest.StatusCodesForRetry...))
}

// GetAccuracyTestResponder handles the response to the GetAccuracyTest request. The method always
// closes the http.Response Body.
func (client BaseClient) GetAccuracyTestResponder(resp *http.Response) (result SetObject, err error) {
	err = autorest.Respond(
		resp,
		client.ByInspecting(),
		azure.WithErrorUnlessStatusCode(http.StatusOK, http.StatusUnauthorized, http.StatusForbidden, http.StatusNotFound, http.StatusTooManyRequests),
		autorest.ByUnmarshallingJSON(&result.Value),
		autorest.ByClosing())
	result.Response = autorest.Response{Response: resp}
	return
}

// GetAccuracyTests sends the get accuracy tests request.
func (client BaseClient) GetAccuracyTests(ctx context.Context) (result SetObject, err error) {
	if tracing.IsEnabled() {
		ctx = tracing.StartSpan(ctx, fqdn+"/BaseClient.GetAccuracyTests")
		defer func() {
			sc := -1
			if result.Response.Response != nil {
				sc = result.Response.Response.StatusCode
			}
			tracing.EndSpan(ctx, sc, err)
		}()
	}
	req, err := client.GetAccuracyTestsPreparer(ctx)
	if err != nil {
		err = autorest.NewErrorWithError(err, "speechservices.BaseClient", "GetAccuracyTests", nil, "Failure preparing request")
		return
	}

	resp, err := client.GetAccuracyTestsSender(req)
	if err != nil {
		result.Response = autorest.Response{Response: resp}
		err = autorest.NewErrorWithError(err, "speechservices.BaseClient", "GetAccuracyTests", resp, "Failure sending request")
		return
	}

	result, err = client.GetAccuracyTestsResponder(resp)
	if err != nil {
		err = autorest.NewErrorWithError(err, "speechservices.BaseClient", "GetAccuracyTests", resp, "Failure responding to request")
	}

	return
}

// GetAccuracyTestsPreparer prepares the GetAccuracyTests request.
func (client BaseClient) GetAccuracyTestsPreparer(ctx context.Context) (*http.Request, error) {
	preparer := autorest.CreatePreparer(
		autorest.AsGet(),
		autorest.WithBaseURL(client.BaseURI),
		autorest.WithPath("/api/speechtotext/v2.0/accuracytests"))
	return preparer.Prepare((&http.Request{}).WithContext(ctx))
}

// GetAccuracyTestsSender sends the GetAccuracyTests request. The method will close the
// http.Response Body if it receives an error.
func (client BaseClient) GetAccuracyTestsSender(req *http.Request) (*http.Response, error) {
	return autorest.SendWithSender(client, req,
		autorest.DoRetryForStatusCodes(client.RetryAttempts, client.RetryDuration, autorest.StatusCodesForRetry...))
}

// GetAccuracyTestsResponder handles the response to the GetAccuracyTests request. The method always
// closes the http.Response Body.
func (client BaseClient) GetAccuracyTestsResponder(resp *http.Response) (result SetObject, err error) {
	err = autorest.Respond(
		resp,
		client.ByInspecting(),
		azure.WithErrorUnlessStatusCode(http.StatusOK, http.StatusUnauthorized, http.StatusForbidden, http.StatusTooManyRequests),
		autorest.ByUnmarshallingJSON(&result.Value),
		autorest.ByClosing())
	result.Response = autorest.Response{Response: resp}
	return
}

// GetDataset sends the get dataset request.
// Parameters:
// ID - the identifier of the dataset.
func (client BaseClient) GetDataset(ctx context.Context, ID uuid.UUID) (result SetObject, err error) {
	if tracing.IsEnabled() {
		ctx = tracing.StartSpan(ctx, fqdn+"/BaseClient.GetDataset")
		defer func() {
			sc := -1
			if result.Response.Response != nil {
				sc = result.Response.Response.StatusCode
			}
			tracing.EndSpan(ctx, sc, err)
		}()
	}
	req, err := client.GetDatasetPreparer(ctx, ID)
	if err != nil {
		err = autorest.NewErrorWithError(err, "speechservices.BaseClient", "GetDataset", nil, "Failure preparing request")
		return
	}

	resp, err := client.GetDatasetSender(req)
	if err != nil {
		result.Response = autorest.Response{Response: resp}
		err = autorest.NewErrorWithError(err, "speechservices.BaseClient", "GetDataset", resp, "Failure sending request")
		return
	}

	result, err = client.GetDatasetResponder(resp)
	if err != nil {
		err = autorest.NewErrorWithError(err, "speechservices.BaseClient", "GetDataset", resp, "Failure responding to request")
	}

	return
}

// GetDatasetPreparer prepares the GetDataset request.
func (client BaseClient) GetDatasetPreparer(ctx context.Context, ID uuid.UUID) (*http.Request, error) {
	pathParameters := map[string]interface{}{
		"id": autorest.Encode("path", ID),
	}

	preparer := autorest.CreatePreparer(
		autorest.AsGet(),
		autorest.WithBaseURL(client.BaseURI),
		autorest.WithPathParameters("/api/speechtotext/v2.0/datasets/{id}", pathParameters))
	return preparer.Prepare((&http.Request{}).WithContext(ctx))
}

// GetDatasetSender sends the GetDataset request. The method will close the
// http.Response Body if it receives an error.
func (client BaseClient) GetDatasetSender(req *http.Request) (*http.Response, error) {
	return autorest.SendWithSender(client, req,
		autorest.DoRetryForStatusCodes(client.RetryAttempts, client.RetryDuration, autorest.StatusCodesForRetry...))
}

// GetDatasetResponder handles the response to the GetDataset request. The method always
// closes the http.Response Body.
func (client BaseClient) GetDatasetResponder(resp *http.Response) (result SetObject, err error) {
	err = autorest.Respond(
		resp,
		client.ByInspecting(),
		azure.WithErrorUnlessStatusCode(http.StatusOK, http.StatusUnauthorized, http.StatusForbidden, http.StatusNotFound, http.StatusTooManyRequests),
		autorest.ByUnmarshallingJSON(&result.Value),
		autorest.ByClosing())
	result.Response = autorest.Response{Response: resp}
	return
}

// GetDatasets sends the get datasets request.
func (client BaseClient) GetDatasets(ctx context.Context) (result SetObject, err error) {
	if tracing.IsEnabled() {
		ctx = tracing.StartSpan(ctx, fqdn+"/BaseClient.GetDatasets")
		defer func() {
			sc := -1
			if result.Response.Response != nil {
				sc = result.Response.Response.StatusCode
			}
			tracing.EndSpan(ctx, sc, err)
		}()
	}
	req, err := client.GetDatasetsPreparer(ctx)
	if err != nil {
		err = autorest.NewErrorWithError(err, "speechservices.BaseClient", "GetDatasets", nil, "Failure preparing request")
		return
	}

	resp, err := client.GetDatasetsSender(req)
	if err != nil {
		result.Response = autorest.Response{Response: resp}
		err = autorest.NewErrorWithError(err, "speechservices.BaseClient", "GetDatasets", resp, "Failure sending request")
		return
	}

	result, err = client.GetDatasetsResponder(resp)
	if err != nil {
		err = autorest.NewErrorWithError(err, "speechservices.BaseClient", "GetDatasets", resp, "Failure responding to request")
	}

	return
}

// GetDatasetsPreparer prepares the GetDatasets request.
func (client BaseClient) GetDatasetsPreparer(ctx context.Context) (*http.Request, error) {
	preparer := autorest.CreatePreparer(
		autorest.AsGet(),
		autorest.WithBaseURL(client.BaseURI),
		autorest.WithPath("/api/speechtotext/v2.0/datasets"))
	return preparer.Prepare((&http.Request{}).WithContext(ctx))
}

// GetDatasetsSender sends the GetDatasets request. The method will close the
// http.Response Body if it receives an error.
func (client BaseClient) GetDatasetsSender(req *http.Request) (*http.Response, error) {
	return autorest.SendWithSender(client, req,
		autorest.DoRetryForStatusCodes(client.RetryAttempts, client.RetryDuration, autorest.StatusCodesForRetry...))
}

// GetDatasetsResponder handles the response to the GetDatasets request. The method always
// closes the http.Response Body.
func (client BaseClient) GetDatasetsResponder(resp *http.Response) (result SetObject, err error) {
	err = autorest.Respond(
		resp,
		client.ByInspecting(),
		azure.WithErrorUnlessStatusCode(http.StatusOK, http.StatusUnauthorized, http.StatusForbidden, http.StatusTooManyRequests),
		autorest.ByUnmarshallingJSON(&result.Value),
		autorest.ByClosing())
	result.Response = autorest.Response{Response: resp}
	return
}

// GetEndpoint sends the get endpoint request.
// Parameters:
// ID - the identifier of the endpoint.
func (client BaseClient) GetEndpoint(ctx context.Context, ID uuid.UUID) (result SetObject, err error) {
	if tracing.IsEnabled() {
		ctx = tracing.StartSpan(ctx, fqdn+"/BaseClient.GetEndpoint")
		defer func() {
			sc := -1
			if result.Response.Response != nil {
				sc = result.Response.Response.StatusCode
			}
			tracing.EndSpan(ctx, sc, err)
		}()
	}
	req, err := client.GetEndpointPreparer(ctx, ID)
	if err != nil {
		err = autorest.NewErrorWithError(err, "speechservices.BaseClient", "GetEndpoint", nil, "Failure preparing request")
		return
	}

	resp, err := client.GetEndpointSender(req)
	if err != nil {
		result.Response = autorest.Response{Response: resp}
		err = autorest.NewErrorWithError(err, "speechservices.BaseClient", "GetEndpoint", resp, "Failure sending request")
		return
	}

	result, err = client.GetEndpointResponder(resp)
	if err != nil {
		err = autorest.NewErrorWithError(err, "speechservices.BaseClient", "GetEndpoint", resp, "Failure responding to request")
	}

	return
}

// GetEndpointPreparer prepares the GetEndpoint request.
func (client BaseClient) GetEndpointPreparer(ctx context.Context, ID uuid.UUID) (*http.Request, error) {
	pathParameters := map[string]interface{}{
		"id": autorest.Encode("path", ID),
	}

	preparer := autorest.CreatePreparer(
		autorest.AsGet(),
		autorest.WithBaseURL(client.BaseURI),
		autorest.WithPathParameters("/api/speechtotext/v2.0/endpoints/{id}", pathParameters))
	return preparer.Prepare((&http.Request{}).WithContext(ctx))
}

// GetEndpointSender sends the GetEndpoint request. The method will close the
// http.Response Body if it receives an error.
func (client BaseClient) GetEndpointSender(req *http.Request) (*http.Response, error) {
	return autorest.SendWithSender(client, req,
		autorest.DoRetryForStatusCodes(client.RetryAttempts, client.RetryDuration, autorest.StatusCodesForRetry...))
}

// GetEndpointResponder handles the response to the GetEndpoint request. The method always
// closes the http.Response Body.
func (client BaseClient) GetEndpointResponder(resp *http.Response) (result SetObject, err error) {
	err = autorest.Respond(
		resp,
		client.ByInspecting(),
		azure.WithErrorUnlessStatusCode(http.StatusOK, http.StatusUnauthorized, http.StatusForbidden, http.StatusNotFound, http.StatusTooManyRequests),
		autorest.ByUnmarshallingJSON(&result.Value),
		autorest.ByClosing())
	result.Response = autorest.Response{Response: resp}
	return
}

// GetEndpointDataExport sends the get endpoint data export request.
// Parameters:
// endpointID - the identifier of the endpoint.
// ID - the identifier of the data export.
func (client BaseClient) GetEndpointDataExport(ctx context.Context, endpointID uuid.UUID, ID uuid.UUID) (result SetObject, err error) {
	if tracing.IsEnabled() {
		ctx = tracing.StartSpan(ctx, fqdn+"/BaseClient.GetEndpointDataExport")
		defer func() {
			sc := -1
			if result.Response.Response != nil {
				sc = result.Response.Response.StatusCode
			}
			tracing.EndSpan(ctx, sc, err)
		}()
	}
	req, err := client.GetEndpointDataExportPreparer(ctx, endpointID, ID)
	if err != nil {
		err = autorest.NewErrorWithError(err, "speechservices.BaseClient", "GetEndpointDataExport", nil, "Failure preparing request")
		return
	}

	resp, err := client.GetEndpointDataExportSender(req)
	if err != nil {
		result.Response = autorest.Response{Response: resp}
		err = autorest.NewErrorWithError(err, "speechservices.BaseClient", "GetEndpointDataExport", resp, "Failure sending request")
		return
	}

	result, err = client.GetEndpointDataExportResponder(resp)
	if err != nil {
		err = autorest.NewErrorWithError(err, "speechservices.BaseClient", "GetEndpointDataExport", resp, "Failure responding to request")
	}

	return
}

// GetEndpointDataExportPreparer prepares the GetEndpointDataExport request.
func (client BaseClient) GetEndpointDataExportPreparer(ctx context.Context, endpointID uuid.UUID, ID uuid.UUID) (*http.Request, error) {
	pathParameters := map[string]interface{}{
		"endpointId": autorest.Encode("path", endpointID),
		"id":         autorest.Encode("path", ID),
	}

	preparer := autorest.CreatePreparer(
		autorest.AsGet(),
		autorest.WithBaseURL(client.BaseURI),
		autorest.WithPathParameters("/api/speechtotext/v2.0/endpoints/{endpointId}/data/{id}", pathParameters))
	return preparer.Prepare((&http.Request{}).WithContext(ctx))
}

// GetEndpointDataExportSender sends the GetEndpointDataExport request. The method will close the
// http.Response Body if it receives an error.
func (client BaseClient) GetEndpointDataExportSender(req *http.Request) (*http.Response, error) {
	return autorest.SendWithSender(client, req,
		autorest.DoRetryForStatusCodes(client.RetryAttempts, client.RetryDuration, autorest.StatusCodesForRetry...))
}

// GetEndpointDataExportResponder handles the response to the GetEndpointDataExport request. The method always
// closes the http.Response Body.
func (client BaseClient) GetEndpointDataExportResponder(resp *http.Response) (result SetObject, err error) {
	err = autorest.Respond(
		resp,
		client.ByInspecting(),
		azure.WithErrorUnlessStatusCode(http.StatusOK, http.StatusUnauthorized, http.StatusForbidden, http.StatusNotFound, http.StatusTooManyRequests),
		autorest.ByUnmarshallingJSON(&result.Value),
		autorest.ByClosing())
	result.Response = autorest.Response{Response: resp}
	return
}

// GetEndpointDataExports sends the get endpoint data exports request.
// Parameters:
// endpointID - the identifier of the endpoint.
func (client BaseClient) GetEndpointDataExports(ctx context.Context, endpointID uuid.UUID) (result SetObject, err error) {
	if tracing.IsEnabled() {
		ctx = tracing.StartSpan(ctx, fqdn+"/BaseClient.GetEndpointDataExports")
		defer func() {
			sc := -1
			if result.Response.Response != nil {
				sc = result.Response.Response.StatusCode
			}
			tracing.EndSpan(ctx, sc, err)
		}()
	}
	req, err := client.GetEndpointDataExportsPreparer(ctx, endpointID)
	if err != nil {
		err = autorest.NewErrorWithError(err, "speechservices.BaseClient", "GetEndpointDataExports", nil, "Failure preparing request")
		return
	}

	resp, err := client.GetEndpointDataExportsSender(req)
	if err != nil {
		result.Response = autorest.Response{Response: resp}
		err = autorest.NewErrorWithError(err, "speechservices.BaseClient", "GetEndpointDataExports", resp, "Failure sending request")
		return
	}

	result, err = client.GetEndpointDataExportsResponder(resp)
	if err != nil {
		err = autorest.NewErrorWithError(err, "speechservices.BaseClient", "GetEndpointDataExports", resp, "Failure responding to request")
	}

	return
}

// GetEndpointDataExportsPreparer prepares the GetEndpointDataExports request.
func (client BaseClient) GetEndpointDataExportsPreparer(ctx context.Context, endpointID uuid.UUID) (*http.Request, error) {
	pathParameters := map[string]interface{}{
		"endpointId": autorest.Encode("path", endpointID),
	}

	preparer := autorest.CreatePreparer(
		autorest.AsGet(),
		autorest.WithBaseURL(client.BaseURI),
		autorest.WithPathParameters("/api/speechtotext/v2.0/endpoints/{endpointId}/data", pathParameters))
	return preparer.Prepare((&http.Request{}).WithContext(ctx))
}

// GetEndpointDataExportsSender sends the GetEndpointDataExports request. The method will close the
// http.Response Body if it receives an error.
func (client BaseClient) GetEndpointDataExportsSender(req *http.Request) (*http.Response, error) {
	return autorest.SendWithSender(client, req,
		autorest.DoRetryForStatusCodes(client.RetryAttempts, client.RetryDuration, autorest.StatusCodesForRetry...))
}

// GetEndpointDataExportsResponder handles the response to the GetEndpointDataExports request. The method always
// closes the http.Response Body.
func (client BaseClient) GetEndpointDataExportsResponder(resp *http.Response) (result SetObject, err error) {
	err = autorest.Respond(
		resp,
		client.ByInspecting(),
		azure.WithErrorUnlessStatusCode(http.StatusOK, http.StatusUnauthorized, http.StatusForbidden, http.StatusNotFound, http.StatusTooManyRequests),
		autorest.ByUnmarshallingJSON(&result.Value),
		autorest.ByClosing())
	result.Response = autorest.Response{Response: resp}
	return
}

// GetEndpoints sends the get endpoints request.
func (client BaseClient) GetEndpoints(ctx context.Context) (result SetObject, err error) {
	if tracing.IsEnabled() {
		ctx = tracing.StartSpan(ctx, fqdn+"/BaseClient.GetEndpoints")
		defer func() {
			sc := -1
			if result.Response.Response != nil {
				sc = result.Response.Response.StatusCode
			}
			tracing.EndSpan(ctx, sc, err)
		}()
	}
	req, err := client.GetEndpointsPreparer(ctx)
	if err != nil {
		err = autorest.NewErrorWithError(err, "speechservices.BaseClient", "GetEndpoints", nil, "Failure preparing request")
		return
	}

	resp, err := client.GetEndpointsSender(req)
	if err != nil {
		result.Response = autorest.Response{Response: resp}
		err = autorest.NewErrorWithError(err, "speechservices.BaseClient", "GetEndpoints", resp, "Failure sending request")
		return
	}

	result, err = client.GetEndpointsResponder(resp)
	if err != nil {
		err = autorest.NewErrorWithError(err, "speechservices.BaseClient", "GetEndpoints", resp, "Failure responding to request")
	}

	return
}

// GetEndpointsPreparer prepares the GetEndpoints request.
func (client BaseClient) GetEndpointsPreparer(ctx context.Context) (*http.Request, error) {
	preparer := autorest.CreatePreparer(
		autorest.AsGet(),
		autorest.WithBaseURL(client.BaseURI),
		autorest.WithPath("/api/speechtotext/v2.0/endpoints"))
	return preparer.Prepare((&http.Request{}).WithContext(ctx))
}

// GetEndpointsSender sends the GetEndpoints request. The method will close the
// http.Response Body if it receives an error.
func (client BaseClient) GetEndpointsSender(req *http.Request) (*http.Response, error) {
	return autorest.SendWithSender(client, req,
		autorest.DoRetryForStatusCodes(client.RetryAttempts, client.RetryDuration, autorest.StatusCodesForRetry...))
}

// GetEndpointsResponder handles the response to the GetEndpoints request. The method always
// closes the http.Response Body.
func (client BaseClient) GetEndpointsResponder(resp *http.Response) (result SetObject, err error) {
	err = autorest.Respond(
		resp,
		client.ByInspecting(),
		azure.WithErrorUnlessStatusCode(http.StatusOK, http.StatusUnauthorized, http.StatusForbidden, http.StatusTooManyRequests),
		autorest.ByUnmarshallingJSON(&result.Value),
		autorest.ByClosing())
	result.Response = autorest.Response{Response: resp}
	return
}

// GetHealthStatus sends the get health status request.
func (client BaseClient) GetHealthStatus(ctx context.Context) (result HealthStatusResponse, err error) {
	if tracing.IsEnabled() {
		ctx = tracing.StartSpan(ctx, fqdn+"/BaseClient.GetHealthStatus")
		defer func() {
			sc := -1
			if result.Response.Response != nil {
				sc = result.Response.Response.StatusCode
			}
			tracing.EndSpan(ctx, sc, err)
		}()
	}
	req, err := client.GetHealthStatusPreparer(ctx)
	if err != nil {
		err = autorest.NewErrorWithError(err, "speechservices.BaseClient", "GetHealthStatus", nil, "Failure preparing request")
		return
	}

	resp, err := client.GetHealthStatusSender(req)
	if err != nil {
		result.Response = autorest.Response{Response: resp}
		err = autorest.NewErrorWithError(err, "speechservices.BaseClient", "GetHealthStatus", resp, "Failure sending request")
		return
	}

	result, err = client.GetHealthStatusResponder(resp)
	if err != nil {
		err = autorest.NewErrorWithError(err, "speechservices.BaseClient", "GetHealthStatus", resp, "Failure responding to request")
	}

	return
}

// GetHealthStatusPreparer prepares the GetHealthStatus request.
func (client BaseClient) GetHealthStatusPreparer(ctx context.Context) (*http.Request, error) {
	preparer := autorest.CreatePreparer(
		autorest.AsGet(),
		autorest.WithBaseURL(client.BaseURI),
		autorest.WithPath("/api/common/v2.0/healthstatus"))
	return preparer.Prepare((&http.Request{}).WithContext(ctx))
}

// GetHealthStatusSender sends the GetHealthStatus request. The method will close the
// http.Response Body if it receives an error.
func (client BaseClient) GetHealthStatusSender(req *http.Request) (*http.Response, error) {
	return autorest.SendWithSender(client, req,
		autorest.DoRetryForStatusCodes(client.RetryAttempts, client.RetryDuration, autorest.StatusCodesForRetry...))
}

// GetHealthStatusResponder handles the response to the GetHealthStatus request. The method always
// closes the http.Response Body.
func (client BaseClient) GetHealthStatusResponder(resp *http.Response) (result HealthStatusResponse, err error) {
	err = autorest.Respond(
		resp,
		client.ByInspecting(),
		azure.WithErrorUnlessStatusCode(http.StatusOK),
		autorest.ByUnmarshallingJSON(&result),
		autorest.ByClosing())
	result.Response = autorest.Response{Response: resp}
	return
}

// GetLanguageGenerationEndpoint sends the get language generation endpoint request.
func (client BaseClient) GetLanguageGenerationEndpoint(ctx context.Context, ID uuid.UUID) (result SetObject, err error) {
	if tracing.IsEnabled() {
		ctx = tracing.StartSpan(ctx, fqdn+"/BaseClient.GetLanguageGenerationEndpoint")
		defer func() {
			sc := -1
			if result.Response.Response != nil {
				sc = result.Response.Response.StatusCode
			}
			tracing.EndSpan(ctx, sc, err)
		}()
	}
	req, err := client.GetLanguageGenerationEndpointPreparer(ctx, ID)
	if err != nil {
		err = autorest.NewErrorWithError(err, "speechservices.BaseClient", "GetLanguageGenerationEndpoint", nil, "Failure preparing request")
		return
	}

	resp, err := client.GetLanguageGenerationEndpointSender(req)
	if err != nil {
		result.Response = autorest.Response{Response: resp}
		err = autorest.NewErrorWithError(err, "speechservices.BaseClient", "GetLanguageGenerationEndpoint", resp, "Failure sending request")
		return
	}

	result, err = client.GetLanguageGenerationEndpointResponder(resp)
	if err != nil {
		err = autorest.NewErrorWithError(err, "speechservices.BaseClient", "GetLanguageGenerationEndpoint", resp, "Failure responding to request")
	}

	return
}

// GetLanguageGenerationEndpointPreparer prepares the GetLanguageGenerationEndpoint request.
func (client BaseClient) GetLanguageGenerationEndpointPreparer(ctx context.Context, ID uuid.UUID) (*http.Request, error) {
	pathParameters := map[string]interface{}{
		"id": autorest.Encode("path", ID),
	}

	preparer := autorest.CreatePreparer(
		autorest.AsGet(),
		autorest.WithBaseURL(client.BaseURI),
		autorest.WithPathParameters("/api/languagegeneration/v2.0/Endpoints/{id}", pathParameters))
	return preparer.Prepare((&http.Request{}).WithContext(ctx))
}

// GetLanguageGenerationEndpointSender sends the GetLanguageGenerationEndpoint request. The method will close the
// http.Response Body if it receives an error.
func (client BaseClient) GetLanguageGenerationEndpointSender(req *http.Request) (*http.Response, error) {
	return autorest.SendWithSender(client, req,
		autorest.DoRetryForStatusCodes(client.RetryAttempts, client.RetryDuration, autorest.StatusCodesForRetry...))
}

// GetLanguageGenerationEndpointResponder handles the response to the GetLanguageGenerationEndpoint request. The method always
// closes the http.Response Body.
func (client BaseClient) GetLanguageGenerationEndpointResponder(resp *http.Response) (result SetObject, err error) {
	err = autorest.Respond(
		resp,
		client.ByInspecting(),
		azure.WithErrorUnlessStatusCode(http.StatusOK, http.StatusUnauthorized, http.StatusForbidden, http.StatusTooManyRequests),
		autorest.ByUnmarshallingJSON(&result.Value),
		autorest.ByClosing())
	result.Response = autorest.Response{Response: resp}
	return
}

// GetLanguageGenerationEndpoints sends the get language generation endpoints request.
func (client BaseClient) GetLanguageGenerationEndpoints(ctx context.Context) (result SetObject, err error) {
	if tracing.IsEnabled() {
		ctx = tracing.StartSpan(ctx, fqdn+"/BaseClient.GetLanguageGenerationEndpoints")
		defer func() {
			sc := -1
			if result.Response.Response != nil {
				sc = result.Response.Response.StatusCode
			}
			tracing.EndSpan(ctx, sc, err)
		}()
	}
	req, err := client.GetLanguageGenerationEndpointsPreparer(ctx)
	if err != nil {
		err = autorest.NewErrorWithError(err, "speechservices.BaseClient", "GetLanguageGenerationEndpoints", nil, "Failure preparing request")
		return
	}

	resp, err := client.GetLanguageGenerationEndpointsSender(req)
	if err != nil {
		result.Response = autorest.Response{Response: resp}
		err = autorest.NewErrorWithError(err, "speechservices.BaseClient", "GetLanguageGenerationEndpoints", resp, "Failure sending request")
		return
	}

	result, err = client.GetLanguageGenerationEndpointsResponder(resp)
	if err != nil {
		err = autorest.NewErrorWithError(err, "speechservices.BaseClient", "GetLanguageGenerationEndpoints", resp, "Failure responding to request")
	}

	return
}

// GetLanguageGenerationEndpointsPreparer prepares the GetLanguageGenerationEndpoints request.
func (client BaseClient) GetLanguageGenerationEndpointsPreparer(ctx context.Context) (*http.Request, error) {
	preparer := autorest.CreatePreparer(
		autorest.AsGet(),
		autorest.WithBaseURL(client.BaseURI),
		autorest.WithPath("/api/languagegeneration/v2.0/Endpoints"))
	return preparer.Prepare((&http.Request{}).WithContext(ctx))
}

// GetLanguageGenerationEndpointsSender sends the GetLanguageGenerationEndpoints request. The method will close the
// http.Response Body if it receives an error.
func (client BaseClient) GetLanguageGenerationEndpointsSender(req *http.Request) (*http.Response, error) {
	return autorest.SendWithSender(client, req,
		autorest.DoRetryForStatusCodes(client.RetryAttempts, client.RetryDuration, autorest.StatusCodesForRetry...))
}

// GetLanguageGenerationEndpointsResponder handles the response to the GetLanguageGenerationEndpoints request. The method always
// closes the http.Response Body.
func (client BaseClient) GetLanguageGenerationEndpointsResponder(resp *http.Response) (result SetObject, err error) {
	err = autorest.Respond(
		resp,
		client.ByInspecting(),
		azure.WithErrorUnlessStatusCode(http.StatusOK, http.StatusUnauthorized, http.StatusForbidden, http.StatusTooManyRequests),
		autorest.ByUnmarshallingJSON(&result.Value),
		autorest.ByClosing())
	result.Response = autorest.Response{Response: resp}
	return
}

// GetLanguageGenerationModel sends the get language generation model request.
func (client BaseClient) GetLanguageGenerationModel(ctx context.Context, ID uuid.UUID) (result SetObject, err error) {
	if tracing.IsEnabled() {
		ctx = tracing.StartSpan(ctx, fqdn+"/BaseClient.GetLanguageGenerationModel")
		defer func() {
			sc := -1
			if result.Response.Response != nil {
				sc = result.Response.Response.StatusCode
			}
[...]
