{
  "Entries": [
    {
      "RequestUri": "https://fakeaccount.table.cosmos.azure.com/Tables",
      "RequestMethod": "POST",
      "RequestHeaders": {
        ":authority": "localhost:5001",
        ":method": "POST",
        ":path": "/Tables",
        ":scheme": "https",
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "dataserviceversion": "3.0",
        "x-ms-date": "Wed, 10 Nov 2021 21:52:08 GMT",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": {
        "TableName": "tableName4195371965"
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata=minimalmetadata",
        "ETag": "W/\u0022datetime\u00272021-11-10T21%3A52%3A10.3886856Z\u0027\u0022",
        "Location": "https://rosebudprim.table.cosmos.azure.com/Tables(\u0027tableName4195371965\u0027)"
      },
      "ResponseBody": {
        "TableName": "tableName4195371965",
        "odata.metadata": "https://rosebudprim.table.cosmos.azure.com/$metadata#Tables/@Element"
      }
    },
    {
      "RequestUri": "https://fakeaccount.table.cosmos.azure.com/tableName4195371965",
      "RequestMethod": "POST",
      "RequestHeaders": {
        ":authority": "localhost:5001",
        ":method": "POST",
        ":path": "/tableName4195371965",
        ":scheme": "https",
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "dataserviceversion": "3.0",
        "prefer": "return-no-content",
        "x-ms-date": "Wed, 10 Nov 2021 21:52:10 GMT",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": {
        "PartitionKey": "contToken",
        "RowKey": "0",
        "Value": 1
      },
      "StatusCode": 204,
      "ResponseHeaders": {
        "ETag": "W/\u0022datetime\u00272021-11-10T21%3A52%3A11.1114248Z\u0027\u0022",
        "Location": "https://rosebudprim.table.cosmos.azure.com/tableName4195371965(PartitionKey=\u0027contToken\u0027,RowKey=\u00270\u0027)",
        "Preference-Applied": "return-no-content"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://fakeaccount.table.cosmos.azure.com/tableName4195371965()?%24filter=Value\u002Ble\u002B5\u0026%24format=application%2Fjson%3Bodata%3Dminimalmetadata\u0026%24top=1",
      "RequestMethod": "GET",
      "RequestHeaders": {
        ":authority": "localhost:5001",
        ":method": "GET",
        ":path": "/tableName4195371965()?%24filter=Value\u002Ble\u002B5\u0026%24format=application%2Fjson%3Bodata%3Dminimalmetadata\u0026%24top=1",
        ":scheme": "https",
        "Authorization": "Sanitized",
        "dataserviceversion": "3.0",
        "x-ms-date": "Wed, 10 Nov 2021 21:52:11 GMT",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata=minimalmetadata",
        "x-ms-continuation-NextPartitionKey": "{\u0022token\u0022:\u0022\u002BRID:~qys0AOV2L2EBAAAAAAAAAA==#RT:1#TRC:1#ISV:2#IEO:65567#QCF:4#FPC:AQEAAAAAAAAABQAAAAAAAAA=\u0022,\u0022range\u0022:{\u0022min\u0022:\u0022\u0022,\u0022max\u0022:\u0022FF\u0022}}",
        "x-ms-continuation-NextRowKey": "NA"
      },
      "ResponseBody": {
        "value": [
          {
            "odata.etag": "W/\u0022datetime\u00272021-11-10T21%3A52%3A11.1114248Z\u0027\u0022",
            "PartitionKey": "contToken",
            "RowKey": "0",
            "Value": 1,
            "Timestamp": "2021-11-10T21:52:11.1114248Z"
          }
        ],
        "odata.metadata": "https://rosebudprim.table.cosmos.azure.com/$metadata#tableName4195371965"
      }
    },
    {
      "RequestUri": "https://fakeaccount.table.cosmos.azure.com/tableName4195371965()?%24format=application%2Fjson%3Bodata%3Dminimalmetadata\u0026%24top=1",
      "RequestMethod": "GET",
      "RequestHeaders": {
        ":authority": "localhost:5001",
        ":method": "GET",
        ":path": "/tableName4195371965()?%24format=application%2Fjson%3Bodata%3Dminimalmetadata\u0026%24top=1",
        ":scheme": "https",
        "Authorization": "Sanitized",
        "dataserviceversion": "3.0",
        "x-ms-date": "Wed, 10 Nov 2021 21:52:11 GMT",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata=minimalmetadata",
        "x-ms-continuation-NextPartitionKey": "{\u0022token\u0022:\u0022qys0AOV2L2EBAAAAAAAAAA==\u0022,\u0022range\u0022:{\u0022min\u0022:\u0022\u0022,\u0022max\u0022:\u0022FF\u0022}}",
        "x-ms-continuation-NextRowKey": "NA"
      },
      "ResponseBody": {
        "value": [
          {
            "odata.etag": "W/\u0022datetime\u00272021-11-10T21%3A52%3A11.1114248Z\u0027\u0022",
            "PartitionKey": "contToken",
            "RowKey": "0",
            "Value": 1,
            "Timestamp": "2021-11-10T21:52:11.1114248Z"
          }
        ],
        "odata.metadata": "https://rosebudprim.table.cosmos.azure.com/$metadata#tableName4195371965"
      }
    },
    {
      "RequestUri": "https://fakeaccount.table.cosmos.azure.com/tableName4195371965()?%24format=application%2Fjson%3Bodata%3Dminimalmetadata\u0026%24top=1\u0026NextPartitionKey={\u0022token\u0022%3A\u0022qys0AOV2L2EBAAAAAAAAAA%3D%3D\u0022%2C\u0022range\u0022%3A{\u0022min\u0022%3A\u0022\u0022%2C\u0022max\u0022%3A\u0022FF\u0022}}\u0026NextRowKey=NA",
      "RequestMethod": "GET",
      "RequestHeaders": {
        ":authority": "localhost:5001",
        ":method": "GET",
        ":path": "/ta[...]
    {
      "RequestUri": "https://fakeaccount.table.cosmos.azure.com/tableName4195371965()?%24format=application%2Fjson%3Bodata%3Dminimalmetadata\u0026%24top=1\u0026NextPartitionKey=%5B{\u0022token\u0022%3A\u0022qys0AOV2L2ECAAAAAAAAAA%3D%3D\u0022%2C\u0022range\u0022%3A{\u0022min\u0022%3A\u0022\u0022%2C\u0022max\u0022%3A\u0022FF\u0022}}%5D\u0026NextRowKey=NA",
      "RequestMethod": "GET",
      "RequestHeaders": {
        ":authority": "localhost:5001",
        ":method": "GET",
        ":path"[...]
[...]
    {
      "RequestUri": "https://fakeaccount.table.cosmos.azure.com/tableName4195371965()?%24format=application%2Fjson%3Bodata%3Dminimalmetadata\u0026%24top=1\u0026NextPartitionKey=%5B{\u0022token\u0022%3A\u0022qys0AOV2L2EGAAAAAAAAAA%3D%3D\u0022%2C\u0022range\u0022%3A{\u0022min\u0022%3A\u0022\u0022%2C\u0022max\u0022%3A\u0022FF\u0022}}%5D\u0026NextRowKey=NA",
      "RequestMethod": "GET",
      "RequestHeaders": {
        ":authority": "localhost:5001",
        ":method": "GET",
        ":path"[...]
    {
      "RequestUri": "https://fakeaccount.table.cosmos.azure.com/tableName4195371965()?%24format=application%2Fjson%3Bodata%3Dminimalmetadata\u0026%24top=1\u0026NextPartitionKey=%5B{\u0022token\u0022%3A\u0022qys0AOV2L2EHAAAAAAAAAA%3D%3D\u0022%2C\u0022range\u0022%3A{\u0022min\u0022%3A\u0022\u0022%2C\u0022max\u0022%3A\u0022FF\u0022}}%5D\u0026NextRowKey=NA",
      "RequestMethod": "GET",
      "RequestHeaders": {
        ":authority": "localhost:5001",
        ":method": "GET",
        ":path"[...]
    {
      "RequestUri": "https://fakeaccount.table.cosmos.azure.com/tableName4195371965()?%24format=application%2Fjson%3Bodata%3Dminimalmetadata\u0026%24top=1\u0026NextPartitionKey=%5B{\u0022token\u0022%3A\u0022qys0AOV2L2EIAAAAAAAAAA%3D%3D\u0022%2C\u0022range\u0022%3A{\u0022min\u0022%3A\u0022\u0022%2C\u0022max\u0022%3A\u0022FF\u0022}}%5D\u0026NextRowKey=NA",
      "RequestMethod": "GET",
      "RequestHeaders": {
        ":authority": "localhost:5001",
        ":method": "GET",
        ":path"[...]
    {
      "RequestUri": "https://fakeaccount.table.cosmos.azure.com/tableName4195371965()?%24format=application%2Fjson%3Bodata%3Dminimalmetadata\u0026%24top=1\u0026NextPartitionKey=%5B{\u0022token\u0022%3A\u0022qys0AOV2L2EJAAAAAAAAAA%3D%3D\u0022%2C\u0022range\u0022%3A{\u0022min\u0022%3A\u0022\u0022%2C\u0022max\u0022%3A\u0022FF\u0022}}%5D\u0026NextRowKey=NA",
      "RequestMethod": "GET",
      "RequestHeaders": {
        ":authority": "localhost:5001",
        ":method": "GET",
        ":path"[...]
    {
      "RequestUri": "https://fakeaccount.table.cosmos.azure.com/tableName4195371965()?%24filter=Value\u002Bge\u002B5\u0026%24format=application%2Fjson%3Bodata%3Dminimalmetadata\u0026NextPartitionKey={\u0022token\u0022%3A\u0022%2BRID%3A~qys0AOV2L2EBAAAAAAAAAA%3D%3D%23RT%3A1%23TRC%3A1%23ISV%3A2%23IEO%3A65567%23QCF%3A4%23FPC%3AAQEAAAAAAAAABQAAAAAAAAA%3D\u0022%2C\u0022range\u0022%3A{\u0022min\u0022%3A\u0022\u0022%2C\u0022max\u0022%3A\u0022FF\u0022}}\u0026NextRowKey=NA",
      "RequestMethod": [...]
    {
      "RequestUri": "https://fakeaccount.table.cosmos.azure.com/Tables(\u0027tableName4195371965\u0027)",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        ":authority": "localhost:5001",
        ":method": "DELETE",
        ":path": "/Tables(\u0027tableName4195371965\u0027)",
        ":scheme": "https",
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 10 Nov 2021 21:52:12 GMT",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
      },
      "ResponseBody": null
    }
  ],
  "Variables": {}
}
