//go:build go1.16
// +build go1.16

// Copyright (c) Microsoft Corporation. All rights reserved.
// Licensed under the MIT License. See License.txt in the project root for license information.
// Code generated by Microsoft (R) AutoRest Code Generator.
// Changes may cause incorrect behavior and will be lost if the code is regenerated.

package armdataprotection

import (
	"context"
	"errors"
	"fmt"
	"github.com/Azure/azure-sdk-for-go/sdk/azcore"
	"github.com/Azure/azure-sdk-for-go/sdk/azcore/arm"
	armruntime "github.com/Azure/azure-sdk-for-go/sdk/azcore/arm/runtime"
	"github.com/Azure/azure-sdk-for-go/sdk/azcore/policy"
	"github.com/Azure/azure-sdk-for-go/sdk/azcore/runtime"
	"net/http"
	"net/url"
	"strings"
)

// DataProtectionClient contains the methods for the DataProtection group.
// Don't use this type directly, use NewDataProtectionClient() instead.
type DataProtectionClient struct {
	ep             string
	pl             runtime.Pipeline
	subscriptionID string
}

// NewDataProtectionClient creates a new instance of DataProtectionClient with the specified values.
func NewDataProtectionClient(subscriptionID string, credential azcore.TokenCredential, options *arm.ClientOptions) *DataProtectionClient {
	cp := arm.ClientOptions{}
	if options != nil {
		cp = *options
	}
	if len(cp.Host) == 0 {
		cp.Host = arm.AzurePublicCloud
	}
	return &DataProtectionClient{subscriptionID: subscriptionID, ep: string(cp.Host), pl: armruntime.NewPipeline(module, version, credential, &cp)}
}

// CheckFeatureSupport - Validates if a feature is supported
// If the operation fails it returns the *CloudError error type.
func (client *DataProtectionClient) CheckFeatureSupport(ctx context.Context, location string, parameters FeatureValidationRequestBaseClassification, options *DataProtectionCheckFeatureSupportOptions) (DataProtectionCheckFeatureSupportResponse, error) {
	req, err := client.checkFeatureSupportCreateRequest(ctx, location, parameters, options)
	if err != nil {
		return DataProtectionCheckFeatureSupportResponse{}, err
	}
	resp, err := client.pl.Do(req)
	if err != nil {
		return DataProtectionCheckFeatureSupportResponse{}, err
	}
	if !runtime.HasStatusCode(resp, http.StatusOK) {
		return DataProtectionCheckFeatureSupportResponse{}, client.checkFeatureSupportHandleError(resp)
	}
	return client.checkFeatureSupportHandleResponse(resp)
}

// checkFeatureSupportCreateRequest creates the CheckFeatureSupport request.
func (client *DataProtectionClient) checkFeatureSupportCreateRequest(ctx context.Context, location string, parameters FeatureValidationRequestBaseClassification, options *DataProtectionCheckFeatureSupportOptions) (*policy.Request, error) {
	urlPath := "/subscriptions/{subscriptionId}/providers/Microsoft.DataProtection/locations/{location}/checkFeatureSupport"
	if client.subscriptionID == "" {
		return nil, errors.New("parameter client.subscriptionID cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{subscriptionId}", url.PathEscape(client.subscriptionID))
	if location == "" {
		return nil, errors.New("parameter location cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{location}", url.PathEscape(location))
	req, err := runtime.NewRequest(ctx, http.MethodPost, runtime.JoinPaths(client.ep, urlPath))
	if err != nil {
		return nil, err
	}
	reqQP := req.Raw().URL.Query()
	reqQP.Set("api-version", "2021-07-01")
	req.Raw().URL.RawQuery = reqQP.Encode()
	req.Raw().Header.Set("Accept", "application/json")
	return req, runtime.MarshalAsJSON(req, parameters)
}

// checkFeatureSupportHandleResponse handles the CheckFeatureSupport response.
func (client *DataProtectionClient) checkFeatureSupportHandleResponse(resp *http.Response) (DataProtectionCheckFeatureSupportResponse, error) {
	result := DataProtectionCheckFeatureSupportResponse{RawResponse: resp}
	if err := runtime.UnmarshalAsJSON(resp, &result); err != nil {
		return DataProtectionCheckFeatureSupportResponse{}, runtime.NewResponseError(err, resp)
	}
	return result, nil
}

// checkFeatureSupportHandleError handles the CheckFeatureSupport error response.
func (client *DataProtectionClient) checkFeatureSupportHandleError(resp *http.Response) error {
	body, err := runtime.Payload(resp)
	if err != nil {
		return runtime.NewResponseError(err, resp)
	}
	errType := CloudError{raw: string(body)}
	if err := runtime.UnmarshalAsJSON(resp, &errType); err != nil {
		return runtime.NewResponseError(fmt.Errorf("%s\n%s", string(body), err), resp)
	}
	return runtime.NewResponseError(&errType, resp)
}
