//go:build go1.18
// +build go1.18

// Copyright (c) Microsoft Corporation. All rights reserved.
// Licensed under the MIT License. See License.txt in the project root for license information.
// Code generated by Microsoft (R) AutoRest Code Generator. DO NOT EDIT.
// Changes may cause incorrect behavior and will be lost if the code is regenerated.

package armresourcegraph

import (
	"context"
	"github.com/Azure/azure-sdk-for-go/sdk/azcore"
	"github.com/Azure/azure-sdk-for-go/sdk/azcore/arm"
	"github.com/Azure/azure-sdk-for-go/sdk/azcore/policy"
	"github.com/Azure/azure-sdk-for-go/sdk/azcore/runtime"
	"net/http"
)

// QueryClient contains the methods for the Query group.
// Don't use this type directly, use NewQueryClient() instead.
type QueryClient struct {
	internal *arm.Client
}

// NewQueryClient creates a new instance of QueryClient with the specified values.
//   - credential - used to authorize requests. Usually a credential from azidentity.
//   - options - pass nil to accept the default values.
func NewQueryClient(credential azcore.TokenCredential, options *arm.ClientOptions) (*QueryClient, error) {
	cl, err := arm.NewClient(moduleName, moduleVersion, credential, options)
	if err != nil {
		return nil, err
	}
	client := &QueryClient{
		internal: cl,
	}
	return client, nil
}

// GenerateQuery - Generates ARG query for a given user prompt.
// If the operation fails it returns an *azcore.ResponseError type.
//
// Generated from API version 2023-09-01-preview
//   - options - QueryClientGenerateQueryOptions contains the optional parameters for the QueryClient.GenerateQuery method.
func (client *QueryClient) GenerateQuery(ctx context.Context, body QueryGenerationRequest, options *QueryClientGenerateQueryOptions) (QueryClientGenerateQueryResponse, error) {
	var err error
	const operationName = "QueryClient.GenerateQuery"
	ctx = context.WithValue(ctx, runtime.CtxAPINameKey{}, operationName)
	ctx, endSpan := runtime.StartSpan(ctx, operationName, client.internal.Tracer(), nil)
	defer func() { endSpan(err) }()
	req, err := client.generateQueryCreateRequest(ctx, body, options)
	if err != nil {
		return QueryClientGenerateQueryResponse{}, err
	}
	httpResp, err := client.internal.Pipeline().Do(req)
	if err != nil {
		return QueryClientGenerateQueryResponse{}, err
	}
	if !runtime.HasStatusCode(httpResp, http.StatusOK) {
		err = runtime.NewResponseError(httpResp)
		return QueryClientGenerateQueryResponse{}, err
	}
	resp, err := client.generateQueryHandleResponse(httpResp)
	return resp, err
}

// generateQueryCreateRequest creates the GenerateQuery request.
func (client *QueryClient) generateQueryCreateRequest(ctx context.Context, body QueryGenerationRequest, options *QueryClientGenerateQueryOptions) (*policy.Request, error) {
	urlPath := "/providers/Microsoft.ResourceGraph/generateQuery"
	req, err := runtime.NewRequest(ctx, http.MethodPost, runtime.JoinPaths(client.internal.Endpoint(), urlPath))
	if err != nil {
		return nil, err
	}
	reqQP := req.Raw().URL.Query()
	reqQP.Set("api-version", "2023-09-01-preview")
	req.Raw().URL.RawQuery = reqQP.Encode()
	req.Raw().Header["Accept"] = []string{"application/json"}
	if err := runtime.MarshalAsJSON(req, body); err != nil {
		return nil, err
	}
	return req, nil
}

// generateQueryHandleResponse handles the GenerateQuery response.
func (client *QueryClient) generateQueryHandleResponse(resp *http.Response) (QueryClientGenerateQueryResponse, error) {
	result := QueryClientGenerateQueryResponse{}
	if err := runtime.UnmarshalAsJSON(resp, &result.QueryGenerationResponse); err != nil {
		return QueryClientGenerateQueryResponse{}, err
	}
	return result, nil
}
