{
  "Entries": [
    {
      "RequestUri": "https://rosebud.vault.azure.net/keys/myKeyName0/create?api-version=7.3-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        ":authority": "localhost:5001",
        ":method": "POST",
        ":path": "/keys/myKeyName0/create?api-version=7.3-preview",
        ":scheme": "https",
        "Content-Type": "application/json"
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\u0022https://login.windows.net/72f988bf-86f1-41af-91ab-2d7cd011db47\u0022, resource=\u0022https://vault.azure.net\u0022"
      },
      "ResponseBody": {
        "error": {
          "code": "Unauthorized",
          "message": "AKV10000: Request is missing a Bearer or PoP token."
        }
      }
    },
    {
      "RequestUri": "https://rosebud.vault.azure.net/keys/myKeyName0/create?api-version=7.3-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        ":authority": "localhost:5001",
        ":method": "POST",
        ":path": "/keys/myKeyName0/create?api-version=7.3-preview",
        ":scheme": "https",
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "kty": "RSA"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "key": {
          "kid": "https://rosebud.vault.azure.net/keys/myKeyName0/1eab7b2d8bde457db163100916c8aaeb",
          "kty": "RSA",
          "key_ops": [
            "encrypt",
            "decrypt",
            "sign",
            "verify",
            "wrapKey",
            "unwrapKey"
          ],
          "n": "sdVLEjGeZEltUoQQR62YLZuRLBTX_IdbTxp5zYTAoDhaTOjESlvJrRsOt98dpqbGZotfYs0G8x8vNPPXRa7IFwhldIq0g7h64YFwiPnLvyuGpFBydd3rlkcIjtEE_H_X8mZjO9jd7ureRjBEV80f9vSCppdUrwU7WVudtuV_nIgy2w_EZq0qL_EZotg2CNqxiDwBF6jkV-pYj9NZjmFx583bZJJ7ea7bfxXEHTECLSaKqgXbuGCO2GWdb08Gmv7n7QbfEw0P5-uH9rgyebE4jrp695G9rVVneIdZJNrvvb54HPZZJ8T4v-rceWiM_tB0ZSNzmcV8G24GsPxpRphZ5Q",
          "e": "AQAB"
        },
        "attributes": {
          "enabled": true,
          "created": 1639683427,
          "updated": 1639683427,
          "recoveryLevel": "CustomizedRecoverable\u002BPurgeable",
          "recoverableDays": 7
        }
      }
    },
    {
      "RequestUri": "https://rosebud.vault.azure.net/keys/myKeyName0/?api-version=7.3-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        ":authority": "localhost:5001",
        ":method": "GET",
        ":path": "/keys/myKeyName0/?api-version=7.3-preview",
        ":scheme": "https",
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "key": {
          "kid": "https://rosebud.vault.azure.net/keys/myKeyName0/1eab7b2d8bde457db163100916c8aaeb",
          "kty": "RSA",
          "key_ops": [
            "encrypt",
            "decrypt",
            "sign",
            "verify",
            "wrapKey",
            "unwrapKey"
          ],
          "n": "sdVLEjGeZEltUoQQR62YLZuRLBTX_IdbTxp5zYTAoDhaTOjESlvJrRsOt98dpqbGZotfYs0G8x8vNPPXRa7IFwhldIq0g7h64YFwiPnLvyuGpFBydd3rlkcIjtEE_H_X8mZjO9jd7ureRjBEV80f9vSCppdUrwU7WVudtuV_nIgy2w_EZq0qL_EZotg2CNqxiDwBF6jkV-pYj9NZjmFx583bZJJ7ea7bfxXEHTECLSaKqgXbuGCO2GWdb08Gmv7n7QbfEw0P5-uH9rgyebE4jrp695G9rVVneIdZJNrvvb54HPZZJ8T4v-rceWiM_tB0ZSNzmcV8G24GsPxpRphZ5Q",
          "e": "AQAB"
        },
        "attributes": {
          "enabled": true,
          "created": 1639683427,
          "updated": 1639683427,
          "recoveryLevel": "CustomizedRecoverable\u002BPurgeable",
          "recoverableDays": 7
        }
      }
    },
[...]
    {
      "RequestUri": "https://rosebud.vault.azure.net/keys/myKeyName0?api-version=7.3-preview",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        ":authority": "localhost:5001",
        ":method": "DELETE",
        ":path": "/keys/myKeyName0?api-version=7.3-preview",
        ":scheme": "https",
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "recoveryId": "https://rosebud.vault.azure.net/deletedkeys/myKeyName0",
        "deletedDate": 1639683458,
        "scheduledPurgeDate": 1640288258,
        "key": {
          "kid": "https://rosebud.vault.azure.net/keys/myKeyName0/1eab7b2d8bde457db163100916c8aaeb",
          "kty": "RSA",
          "key_ops": [
            "encrypt",
            "decrypt",
            "sign",
            "verify",
            "wrapKey",
            "unwrapKey"
          ],
          "n": "sdVLEjGeZEltUoQQR62YLZuRLBTX_IdbTxp5zYTAoDhaTOjESlvJrRsOt98dpqbGZotfYs0G8x8vNPPXRa7IFwhldIq0g7h64YFwiPnLvyuGpFBydd3rlkcIjtEE_H_X8mZjO9jd7ureRjBEV80f9vSCppdUrwU7WVudtuV_nIgy2w_EZq0qL_EZotg2CNqxiDwBF6jkV-pYj9NZjmFx583bZJJ7ea7bfxXEHTECLSaKqgXbuGCO2GWdb08Gmv7n7QbfEw0P5-uH9rgyebE4jrp695G9rVVneIdZJNrvvb54HPZZJ8T4v-rceWiM_tB0ZSNzmcV8G24GsPxpRphZ5Q",
          "e": "AQAB"
        },
        "attributes": {
          "enabled": true,
          "created": 1639683427,
          "updated": 1639683427,
          "recoveryLevel": "CustomizedRecoverable\u002BPurgeable",
          "recoverableDays": 7
        }
      }
    },
    {
      "RequestUri": "https://rosebud.vault.azure.net/deletedkeys/myKeyName0?api-version=7.3-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        ":authority": "localhost:5001",
        ":method": "GET",
        ":path": "/deletedkeys/myKeyName0?api-version=7.3-preview",
        ":scheme": "https",
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "error": {
          "code": "KeyNotFound",
          "message": "Deleted Key not found: myKeyName0"
        }
      }
    }
  ],
  "Variables": {}
}
