{
  "Entries": [
    {
      "RequestUri": "https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/rg2466190086?api-version=2021-04-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        ":authority": "localhost:5001",
        ":method": "PUT",
        ":path": "/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/rg2466190086?api-version=2021-04-01",
        ":scheme": "https",
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "location": "westus"
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-writes": "1182"
      },
      "ResponseBody": {
        "id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/rg2466190086",
        "name": "rg2466190086",
        "type": "Microsoft.Resources/resourceGroups",
        "location": "westus",
        "properties": {
          "provisioningState": "Succeeded"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/rg2466190086/providers/Microsoft.Resources/templateSpecs/ts2466190086?api-version=2021-05-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        ":authority": "localhost:5001",
        ":method": "PUT",
        ":path": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/rg2466190086/providers/Microsoft.Resources/templateSpecs/ts2466190086?api-version=2021-05-01",
        ":scheme": "https",
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "location": "westus",
        "properties": {
          "description": "template spec properties description."
        }
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-writes": "1181"
      },
      "ResponseBody": [
        "{\r\n",
        "  \u0022location\u0022: \u0022westus\u0022,\r\n",
        "  \u0022properties\u0022: {\r\n",
        "    \u0022description\u0022: \u0022template spec properties description.\u0022\r\n",
        "  },\r\n",
        "  \u0022systemData\u0022: {\r\n",
        "    \u0022createdBy\u0022: \u0022a1fc368b-7f40-4802-8fa1-260d3a6ec34b\u0022,\r\n",
        "    \u0022createdByType\u0022: \u0022Application\u0022,\r\n",
        "    \u0022createdAt\u0022: \u00222022-02-14T08:11:46.8196249Z\u0022,\r\n",
        "    \u0022lastModifiedBy\u0022: \u0022a1fc368b-7f40-4802-8fa1-260d3a6ec34b\u0022,\r\n",
        "    \u0022lastModifiedByType\u0022: \u0022Application\u0022,\r\n",
        "    \u0022lastModifiedAt\u0022: \u00222022-02-14T08:11:46.8196249Z\u0022\r\n",
        "  },\r\n",
        "  \u0022id\u0022: \u0022/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/rg2466190086/providers/Microsoft.Resources/templateSpecs/ts2466190086\u0022,\r\n",
        "  \u0022type\u0022: \u0022Microsoft.Resources/templateSpecs\u0022,\r\n",
        "  \u0022name\u0022: \u0022ts2466190086\u0022\r\n",
        "}"
      ]
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/rg2466190086/providers/Microsoft.Resources/templateSpecs/ts2466190086/versions/version2466190086?api-version=2021-05-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        ":authority": "localhost:5001",
        ":method": "PUT",
        ":path": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/rg2466190086/providers/Microsoft.Resources/templa[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/rg2466190086/providers/Microsoft.Resources/templateSpecs/ts2466190086/versions/version2466190086?api-version=2021-05-01",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        ":authority": "localhost:5001",
        ":method": "PATCH",
        ":path": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/rg2466190086/providers/Microsoft.Resources/templateSpecs/ts2466190086/versions/version2466190086?api-version=2021-05-01",
        ":scheme": "https",
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "tags": {
          "test": "recording"
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-writes": "1179"
      },
      "ResponseBody": [
        "{\r\n",
        "  \u0022location\u0022: \u0022westus\u0022,\r\n",
        "  \u0022tags\u0022: {\r\n",
        "    \u0022test\u0022: \u0022recording\u0022\r\n",
        "  },\r\n",
        "  \u0022properties\u0022: {\r\n",
        "    \u0022descrip[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/rg2466190086?api-version=2021-04-01",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        ":authority": "localhost:5001",
        ":method": "DELETE",
        ":path": "/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/rg2466190086?api-version=2021-04-01",
        ":scheme": "https",
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "Location": "https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/operationresults/eyJqb2JJZCI6IlJFU09VUkNFR1JPVVBERUxFVElPTkpPQi1SRzI0NjYxOTAwODYtV0VTVFVTIiwiam9iTG9jYXRpb24iOiJ3ZXN0dXMifQ?api-version=2021-04-01",
        "Retry-After": "15",
        "x-ms-ratelimit-remaining-subscription-deletes": "14990"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {}
}
