//go:build go1.18
// +build go1.18

// Copyright (c) Microsoft Corporation. All rights reserved.
// Licensed under the MIT License. See License.txt in the project root for license information.
// Code generated by Microsoft (R) AutoRest Code Generator.
// Changes may cause incorrect behavior and will be lost if the code is regenerated.
// DO NOT EDIT.

package armazurestack

import (
	"context"
	"errors"
	"github.com/Azure/azure-sdk-for-go/sdk/azcore"
	"github.com/Azure/azure-sdk-for-go/sdk/azcore/arm"
	armruntime "github.com/Azure/azure-sdk-for-go/sdk/azcore/arm/runtime"
	"github.com/Azure/azure-sdk-for-go/sdk/azcore/cloud"
	"github.com/Azure/azure-sdk-for-go/sdk/azcore/policy"
	"github.com/Azure/azure-sdk-for-go/sdk/azcore/runtime"
	"net/http"
	"net/url"
	"strings"
)

// DeploymentLicenseClient contains the methods for the DeploymentLicense group.
// Don't use this type directly, use NewDeploymentLicenseClient() instead.
type DeploymentLicenseClient struct {
	host           string
	subscriptionID string
	pl             runtime.Pipeline
}

// NewDeploymentLicenseClient creates a new instance of DeploymentLicenseClient with the specified values.
// subscriptionID - Subscription credentials that uniquely identify Microsoft Azure subscription. The subscription ID forms
// part of the URI for every service call.
// credential - used to authorize requests. Usually a credential from azidentity.
// options - pass nil to accept the default values.
func NewDeploymentLicenseClient(subscriptionID string, credential azcore.TokenCredential, options *arm.ClientOptions) (*DeploymentLicenseClient, error) {
	if options == nil {
		options = &arm.ClientOptions{}
	}
	ep := cloud.AzurePublic.Services[cloud.ResourceManager].Endpoint
	if c, ok := options.Cloud.Services[cloud.ResourceManager]; ok {
		ep = c.Endpoint
	}
	pl, err := armruntime.NewPipeline(moduleName, moduleVersion, credential, runtime.PipelineOptions{}, options)
	if err != nil {
		return nil, err
	}
	client := &DeploymentLicenseClient{
		subscriptionID: subscriptionID,
		host:           ep,
		pl:             pl,
	}
	return client, nil
}

// Create - Creates a license that can be used to deploy an Azure Stack device.
// If the operation fails it returns an *azcore.ResponseError type.
// Generated from API version 2022-06-01
// deploymentLicenseRequest - Request body for creating a deployment license.
// options - DeploymentLicenseClientCreateOptions contains the optional parameters for the DeploymentLicenseClient.Create
// method.
func (client *DeploymentLicenseClient) Create(ctx context.Context, deploymentLicenseRequest DeploymentLicenseRequest, options *DeploymentLicenseClientCreateOptions) (DeploymentLicenseClientCreateResponse, error) {
	req, err := client.createCreateRequest(ctx, deploymentLicenseRequest, options)
	if err != nil {
		return DeploymentLicenseClientCreateResponse{}, err
	}
	resp, err := client.pl.Do(req)
	if err != nil {
		return DeploymentLicenseClientCreateResponse{}, err
	}
	if !runtime.HasStatusCode(resp, http.StatusOK) {
		return DeploymentLicenseClientCreateResponse{}, runtime.NewResponseError(resp)
	}
	return client.createHandleResponse(resp)
}

// createCreateRequest creates the Create request.
func (client *DeploymentLicenseClient) createCreateRequest(ctx context.Context, deploymentLicenseRequest DeploymentLicenseRequest, options *DeploymentLicenseClientCreateOptions) (*policy.Request, error) {
	urlPath := "/subscriptions/{subscriptionId}/providers/Microsoft.AzureStack/generateDeploymentLicense"
	if client.subscriptionID == "" {
		return nil, errors.New("parameter client.subscriptionID cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{subscriptionId}", url.PathEscape(client.subscriptionID))
	req, err := runtime.NewRequest(ctx, http.MethodPost, runtime.JoinPaths(client.host, urlPath))
	if err != nil {
		return nil, err
	}
	reqQP := req.Raw().URL.Query()
	reqQP.Set("api-version", "2022-06-01")
	req.Raw().URL.RawQuery = reqQP.Encode()
	req.Raw().Header["Accept"] = []string{"application/json"}
	return req, runtime.MarshalAsJSON(req, deploymentLicenseRequest)
}

// createHandleResponse handles the Create response.
func (client *DeploymentLicenseClient) createHandleResponse(resp *http.Response) (DeploymentLicenseClientCreateResponse, error) {
	result := DeploymentLicenseClientCreateResponse{}
	if err := runtime.UnmarshalAsJSON(resp, &result.DeploymentLicenseResponse); err != nil {
		return DeploymentLicenseClientCreateResponse{}, err
	}
	return result, nil
}
