//go:build go1.16
// +build go1.16

// Copyright (c) Microsoft Corporation. All rights reserved.
// Licensed under the MIT License. See License.txt in the project root for license information.
// Code generated by Microsoft (R) AutoRest Code Generator.
// Changes may cause incorrect behavior and will be lost if the code is regenerated.

package armazurestack

import (
	"context"
	"errors"
	"fmt"
	"github.com/Azure/azure-sdk-for-go/sdk/azcore"
	"github.com/Azure/azure-sdk-for-go/sdk/azcore/arm"
	armruntime "github.com/Azure/azure-sdk-for-go/sdk/azcore/arm/runtime"
	"github.com/Azure/azure-sdk-for-go/sdk/azcore/policy"
	"github.com/Azure/azure-sdk-for-go/sdk/azcore/runtime"
	"net/http"
	"net/url"
	"strings"
)

// CloudManifestFileClient contains the methods for the CloudManifestFile group.
// Don't use this type directly, use NewCloudManifestFileClient() instead.
type CloudManifestFileClient struct {
	ep string
	pl runtime.Pipeline
}

// NewCloudManifestFileClient creates a new instance of CloudManifestFileClient with the specified values.
func NewCloudManifestFileClient(credential azcore.TokenCredential, options *arm.ClientOptions) *CloudManifestFileClient {
	cp := arm.ClientOptions{}
	if options != nil {
		cp = *options
	}
	if len(cp.Host) == 0 {
		cp.Host = arm.AzurePublicCloud
	}
	return &CloudManifestFileClient{ep: string(cp.Host), pl: armruntime.NewPipeline(module, version, credential, &cp)}
}

// Get - Returns a cloud specific manifest JSON file.
// If the operation fails it returns the *ErrorResponse error type.
func (client *CloudManifestFileClient) Get(ctx context.Context, verificationVersion string, options *CloudManifestFileGetOptions) (CloudManifestFileGetResponse, error) {
	req, err := client.getCreateRequest(ctx, verificationVersion, options)
	if err != nil {
		return CloudManifestFileGetResponse{}, err
	}
	resp, err := client.pl.Do(req)
	if err != nil {
		return CloudManifestFileGetResponse{}, err
	}
	if !runtime.HasStatusCode(resp, http.StatusOK) {
		return CloudManifestFileGetResponse{}, client.getHandleError(resp)
	}
	return client.getHandleResponse(resp)
}

// getCreateRequest creates the Get request.
func (client *CloudManifestFileClient) getCreateRequest(ctx context.Context, verificationVersion string, options *CloudManifestFileGetOptions) (*policy.Request, error) {
	urlPath := "/providers/Microsoft.AzureStack/cloudManifestFiles/{verificationVersion}"
	if verificationVersion == "" {
		return nil, errors.New("parameter verificationVersion cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{verificationVersion}", url.PathEscape(verificationVersion))
	req, err := runtime.NewRequest(ctx, http.MethodGet, runtime.JoinPaths(client.ep, urlPath))
	if err != nil {
		return nil, err
	}
	reqQP := req.Raw().URL.Query()
	if options != nil && options.VersionCreationDate != nil {
		reqQP.Set("versionCreationDate", *options.VersionCreationDate)
	}
	reqQP.Set("api-version", "2020-06-01-preview")
	req.Raw().URL.RawQuery = reqQP.Encode()
	req.Raw().Header.Set("Accept", "application/json")
	return req, nil
}

// getHandleResponse handles the Get response.
func (client *CloudManifestFileClient) getHandleResponse(resp *http.Response) (CloudManifestFileGetResponse, error) {
	result := CloudManifestFileGetResponse{RawResponse: resp}
	if err := runtime.UnmarshalAsJSON(resp, &result.CloudManifestFileResponse); err != nil {
		return CloudManifestFileGetResponse{}, runtime.NewResponseError(err, resp)
	}
	return result, nil
}

// getHandleError handles the Get error response.
func (client *CloudManifestFileClient) getHandleError(resp *http.Response) error {
	body, err := runtime.Payload(resp)
	if err != nil {
		return runtime.NewResponseError(err, resp)
	}
	errType := ErrorResponse{raw: string(body)}
	if err := runtime.UnmarshalAsJSON(resp, &errType); err != nil {
		return runtime.NewResponseError(fmt.Errorf("%s\n%s", string(body), err), resp)
	}
	return runtime.NewResponseError(&errType, resp)
}

// List - Returns a cloud specific manifest JSON file with latest version.
// If the operation fails it returns the *ErrorResponse error type.
func (client *CloudManifestFileClient) List(ctx context.Context, options *CloudManifestFileListOptions) (CloudManifestFileListResponse, error) {
	req, err := client.listCreateRequest(ctx, options)
	if err != nil {
		return CloudManifestFileListResponse{}, err
	}
	resp, err := client.pl.Do(req)
	if err != nil {
		return CloudManifestFileListResponse{}, err
	}
	if !runtime.HasStatusCode(resp, http.StatusOK) {
		return CloudManifestFileListResponse{}, client.listHandleError(resp)
	}
	return client.listHandleResponse(resp)
}

// listCreateRequest creates the List request.
func (client *CloudManifestFileClient) listCreateRequest(ctx context.Context, options *CloudManifestFileListOptions) (*policy.Request, error) {
	urlPath := "/providers/Microsoft.AzureStack/cloudManifestFiles"
	req, err := runtime.NewRequest(ctx, http.MethodGet, runtime.JoinPaths(client.ep, urlPath))
	if err != nil {
		return nil, err
	}
	reqQP := req.Raw().URL.Query()
	reqQP.Set("api-version", "2020-06-01-preview")
	req.Raw().URL.RawQuery = reqQP.Encode()
	req.Raw().Header.Set("Accept", "application/json")
	return req, nil
}

// listHandleResponse handles the List response.
func (client *CloudManifestFileClient) listHandleResponse(resp *http.Response) (CloudManifestFileListResponse, error) {
	result := CloudManifestFileListResponse{RawResponse: resp}
	if err := runtime.UnmarshalAsJSON(resp, &result.CloudManifestFileResponse); err != nil {
		return CloudManifestFileListResponse{}, runtime.NewResponseError(err, resp)
	}
	return result, nil
}

// listHandleError handles the List error response.
func (client *CloudManifestFileClient) listHandleError(resp *http.Response) error {
	body, err := runtime.Payload(resp)
	if err != nil {
		return runtime.NewResponseError(err, resp)
	}
	errType := ErrorResponse{raw: string(body)}
	if err := runtime.UnmarshalAsJSON(resp, &errType); err != nil {
		return runtime.NewResponseError(fmt.Errorf("%s\n%s", string(body), err), resp)
	}
	return runtime.NewResponseError(&errType, resp)
}
