---
version: 1
interactions:
- request:
    body: '{"TableName":"gotable7ws4xms1mzf9z"}'
    form: {}
    headers:
      Authorization:
      - sanitized
      Content-Type:
      - application/json
      Dataserviceversion:
      - "3.0"
      X-Ms-Date:
      - Mon, 05 Apr 2021 00:00:56 GMT
      X-Ms-Version:
      - "2019-02-02"
    url: https://chrisstablesprim.table.cosmos.azure.com/Tables
    method: POST
  response:
    body: '{"TableName":"gotable7ws4xms1mzf9z","odata.metadata":"https://chrisstablesprim.table.cosmos.azure.com/$metadata#Tables/@Element"}'
    headers:
      Content-Type:
      - application/json;odata=minimalmetadata
      Etag:
      - W/"datetime'2021-04-05T00%3A00%3A56.5521416Z'"
      Location:
      - https://chrisstablesprim.table.cosmos.azure.com/Tables('gotable7ws4xms1mzf9z')
    status: 201 Created
    code: 201
    duration: ""
- request:
    body: '{"BoolProp":true,"IntProp":1,"PartitionKey":"partition","RowKey":"1","StringProp":"some
      string 1"}'
    form: {}
    headers:
      Authorization:
      - sanitized
      Content-Type:
      - application/json
      Dataserviceversion:
      - "3.0"
      Prefer:
      - return-no-content
      X-Ms-Date:
      - Mon, 05 Apr 2021 00:00:57 GMT
      X-Ms-Version:
      - "2019-02-02"
    url: https://chrisstablesprim.table.cosmos.azure.com/gotable7ws4xms1mzf9z
    method: POST
  response:
    body: ""
    headers:
      Etag:
      - W/"datetime'2021-04-05T00%3A00%3A57.0277896Z'"
      Location:
      - https://chrisstablesprim.table.cosmos.azure.com/gotable7ws4xms1mzf9z(PartitionKey='partition',RowKey='1')
      Preference-Applied:
      - return-no-content
    status: 204 No Content
    code: 204
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Authorization:
      - sanitized
      X-Ms-Date:
      - Mon, 05 Apr 2021 00:00:57 GMT
      X-Ms-Version:
      - "2019-02-02"
    url: https://chrisstablesprim.table.cosmos.azure.com/Tables('gotable7ws4xms1mzf9z')
    method: DELETE
  response:
    body: ""
    headers:
    status: 204 No Content
    code: 204
    duration: ""
