//go:build go1.18
// +build go1.18

// Copyright (c) Microsoft Corporation. All rights reserved.
// Licensed under the MIT License. See License.txt in the project root for license information.
// Code generated by Microsoft (R) AutoRest Code Generator.
// Changes may cause incorrect behavior and will be lost if the code is regenerated.
// DO NOT EDIT.

package azquery

import (
	"context"
	"errors"
	"github.com/Azure/azure-sdk-for-go/sdk/azcore/policy"
	"github.com/Azure/azure-sdk-for-go/sdk/azcore/runtime"
	"net/http"
	"net/url"
	"strings"
)

// Client contains the methods for the Query group.
// Don't use this type directly, use NewClient() instead.
type Client struct {
	pl runtime.Pipeline
}

// NewClient creates a new instance of Client with the specified values.
// pl - the pipeline used for sending requests and handling responses.
func NewClient(pl runtime.Pipeline) *Client {
	client := &Client{
		pl: pl,
	}
	return client
}

// Batch - Executes a batch of Analytics queries for data. Here [https://dev.loganalytics.io/documentation/Using-the-API]
// is an example for using POST with an Analytics query.
// If the operation fails it returns an *azcore.ResponseError type.
// Generated from API version 2021-05-19_Preview
// body - The batch request body
// options - ClientBatchOptions contains the optional parameters for the Client.Batch method.
func (client *Client) Batch(ctx context.Context, body BatchRequest, options *ClientBatchOptions) (ClientBatchResponse, error) {
	req, err := client.batchCreateRequest(ctx, body, options)
	if err != nil {
		return ClientBatchResponse{}, err
	}
	resp, err := client.pl.Do(req)
	if err != nil {
		return ClientBatchResponse{}, err
	}
	if !runtime.HasStatusCode(resp, http.StatusOK) {
		return ClientBatchResponse{}, runtime.NewResponseError(resp)
	}
	return client.batchHandleResponse(resp)
}

// batchCreateRequest creates the Batch request.
func (client *Client) batchCreateRequest(ctx context.Context, body BatchRequest, options *ClientBatchOptions) (*policy.Request, error) {
	urlPath := "/$batch"
	req, err := runtime.NewRequest(ctx, http.MethodPost, runtime.JoinPaths(	host, urlPath))
	if err != nil {
		return nil, err
	}
	req.Raw().Header["Accept"] = []string{"application/json"}
	return req, runtime.MarshalAsJSON(req, body)
}

// batchHandleResponse handles the Batch response.
func (client *Client) batchHandleResponse(resp *http.Response) (ClientBatchResponse, error) {
	result := ClientBatchResponse{}
	if err := runtime.UnmarshalAsJSON(resp, &result.BatchResponse); err != nil {
		return ClientBatchResponse{}, err
	}
	return result, nil
}

// Execute - Executes an Analytics query for data. Here [https://dev.loganalytics.io/documentation/Using-the-API] is an example
// for using POST with an Analytics query.
// If the operation fails it returns an *azcore.ResponseError type.
// Generated from API version 2021-05-19_Preview
// workspaceID - ID of the workspace. This is Workspace ID from the Properties blade in the Azure portal.
// body - The Analytics query. Learn more about the Analytics query syntax [https://azure.microsoft.com/documentation/articles/app-insights-analytics-reference/]
// options - ClientExecuteOptions contains the optional parameters for the Client.Execute method.
func (client *Client) Execute(ctx context.Context, workspaceID string, body Body, options *ClientExecuteOptions) (ClientExecuteResponse, error) {
	req, err := client.executeCreateRequest(ctx, workspaceID, body, options)
	if err != nil {
		return ClientExecuteResponse{}, err
	}
	resp, err := client.pl.Do(req)
	if err != nil {
		return ClientExecuteResponse{}, err
	}
	if !runtime.HasStatusCode(resp, http.StatusOK) {
		return ClientExecuteResponse{}, runtime.NewResponseError(resp)
	}
	return client.executeHandleResponse(resp)
}

// executeCreateRequest creates the Execute request.
func (client *Client) executeCreateRequest(ctx context.Context, workspaceID string, body Body, options *ClientExecuteOptions) (*policy.Request, error) {
	urlPath := "/workspaces/{workspaceId}/query"
	if workspaceID == "" {
		return nil, errors.New("parameter workspaceID cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{workspaceId}", url.PathEscape(workspaceID))
	req, err := runtime.NewRequest(ctx, http.MethodPost, runtime.JoinPaths(	host, urlPath))
	if err != nil {
		return nil, err
	}
	if options != nil && options.Prefer != nil {
		req.Raw().Header["Prefer"] = []string{*options.Prefer}
	}
	req.Raw().Header["Accept"] = []string{"application/json"}
	return req, runtime.MarshalAsJSON(req, body)
}

// executeHandleResponse handles the Execute response.
func (client *Client) executeHandleResponse(resp *http.Response) (ClientExecuteResponse, error) {
	result := ClientExecuteResponse{}
	if err := runtime.UnmarshalAsJSON(resp, &result.Results); err != nil {
		return ClientExecuteResponse{}, err
	}
	return result, nil
}

// Get - Executes an Analytics query for data
// If the operation fails it returns an *azcore.ResponseError type.
// Generated from API version 2021-05-19_Preview
// workspaceID - ID of the workspace. This is Workspace ID from the Properties blade in the Azure portal.
// query - The Analytics query. Learn more about the Analytics query syntax [https://azure.microsoft.com/documentation/articles/app-insights-analytics-reference/]
// options - ClientGetOptions contains the optional parameters for the Client.Get method.
func (client *Client) Get(ctx context.Context, workspaceID string, query string, options *ClientGetOptions) (ClientGetResponse, error) {
	req, err := client.getCreateRequest(ctx, workspaceID, query, options)
	if err != nil {
		return ClientGetResponse{}, err
	}
	resp, err := client.pl.Do(req)
	if err != nil {
		return ClientGetResponse{}, err
	}
	if !runtime.HasStatusCode(resp, http.StatusOK) {
		return ClientGetResponse{}, runtime.NewResponseError(resp)
	}
	return client.getHandleResponse(resp)
}

// getCreateRequest creates the Get request.
func (client *Client) getCreateRequest(ctx context.Context, workspaceID string, query string, options *ClientGetOptions) (*policy.Request, error) {
	urlPath := "/workspaces/{workspaceId}/query"
	if workspaceID == "" {
		return nil, errors.New("parameter workspaceID cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{workspaceId}", url.PathEscape(workspaceID))
	req, err := runtime.NewRequest(ctx, http.MethodGet, runtime.JoinPaths(	host, urlPath))
	if err != nil {
		return nil, err
	}
	reqQP := req.Raw().URL.Query()
	reqQP.Set("query", query)
	if options != nil && options.Timespan != nil {
		reqQP.Set("timespan", *options.Timespan)
	}
	req.Raw().URL.RawQuery = reqQP.Encode()
	req.Raw().Header["Accept"] = []string{"application/json"}
	return req, nil
}

// getHandleResponse handles the Get response.
func (client *Client) getHandleResponse(resp *http.Response) (ClientGetResponse, error) {
	result := ClientGetResponse{}
	if err := runtime.UnmarshalAsJSON(resp, &result.Results); err != nil {
		return ClientGetResponse{}, err
	}
	return result, nil
}

