//go:build go1.16
// +build go1.16

// Copyright (c) Microsoft Corporation. All rights reserved.
// Licensed under the MIT License. See License.txt in the project root for license information.
// Code generated by Microsoft (R) AutoRest Code Generator.
// Changes may cause incorrect behavior and will be lost if the code is regenerated.

package armnetwork

import (
	"context"
	"errors"
	"fmt"
	"net/http"
	"net/url"
	"strings"

	"github.com/Azure/azure-sdk-for-go/sdk/azcore/arm"
	"github.com/Azure/azure-sdk-for-go/sdk/azcore/policy"
	"github.com/Azure/azure-sdk-for-go/sdk/azcore/runtime"
)

// PerimeterAssociableResourceTypesClient contains the methods for the PerimeterAssociableResourceTypes group.
// Don't use this type directly, use NewPerimeterAssociableResourceTypesClient() instead.
type PerimeterAssociableResourceTypesClient struct {
	ep             string
	pl             runtime.Pipeline
	subscriptionID string
}

// NewPerimeterAssociableResourceTypesClient creates a new instance of PerimeterAssociableResourceTypesClient with the specified values.
func NewPerimeterAssociableResourceTypesClient(con *arm.Connection, subscriptionID string) *PerimeterAssociableResourceTypesClient {
	return &PerimeterAssociableResourceTypesClient{ep: con.Endpoint(), pl: con.NewPipeline(module, version), subscriptionID: subscriptionID}
}

// Get - Gets the list of resources that are onboarded with NSP. These resources can be associated with a network security perimeter
// If the operation fails it returns the *CloudErrorAutoGenerated error type.
func (client *PerimeterAssociableResourceTypesClient) Get(ctx context.Context, location string, options *PerimeterAssociableResourceTypesGetOptions) (PerimeterAssociableResourceTypesGetResponse, error) {
	req, err := client.getCreateRequest(ctx, location, options)
	if err != nil {
		return PerimeterAssociableResourceTypesGetResponse{}, err
	}
	resp, err := client.pl.Do(req)
	if err != nil {
		return PerimeterAssociableResourceTypesGetResponse{}, err
	}
	if !runtime.HasStatusCode(resp, http.StatusOK) {
		return PerimeterAssociableResourceTypesGetResponse{}, client.getHandleError(resp)
	}
	return client.getHandleResponse(resp)
}

// getCreateRequest creates the Get request.
func (client *PerimeterAssociableResourceTypesClient) getCreateRequest(ctx context.Context, location string, options *PerimeterAssociableResourceTypesGetOptions) (*policy.Request, error) {
	urlPath := "/subscriptions/{subscriptionId}/providers/Microsoft.Network/locations/{location}/perimeterAssociableResourceTypes"
	if client.subscriptionID == "" {
		return nil, errors.New("parameter client.subscriptionID cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{subscriptionId}", url.PathEscape(client.subscriptionID))
	if location == "" {
		return nil, errors.New("parameter location cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{location}", url.PathEscape(location))
	req, err := runtime.NewRequest(ctx, http.MethodGet, runtime.JoinPaths(client.ep, urlPath))
	if err != nil {
		return nil, err
	}
	reqQP := req.Raw().URL.Query()
	reqQP.Set("api-version", "2021-02-01-preview")
	req.Raw().URL.RawQuery = reqQP.Encode()
	req.Raw().Header.Set("Accept", "application/json")
	return req, nil
}

// getHandleResponse handles the Get response.
func (client *PerimeterAssociableResourceTypesClient) getHandleResponse(resp *http.Response) (PerimeterAssociableResourceTypesGetResponse, error) {
	result := PerimeterAssociableResourceTypesGetResponse{RawResponse: resp}
	if err := runtime.UnmarshalAsJSON(resp, &result.PerimeterAssociableResourcesListResult); err != nil {
		return PerimeterAssociableResourceTypesGetResponse{}, err
	}
	return result, nil
}

// getHandleError handles the Get error response.
func (client *PerimeterAssociableResourceTypesClient) getHandleError(resp *http.Response) error {
	body, err := runtime.Payload(resp)
	if err != nil {
		return runtime.NewResponseError(err, resp)
	}
	errType := CloudErrorAutoGenerated{raw: string(body)}
	if err := runtime.UnmarshalAsJSON(resp, &errType); err != nil {
		return runtime.NewResponseError(fmt.Errorf("%s\n%s", string(body), err), resp)
	}
	return runtime.NewResponseError(&errType, resp)
}
