//go:build go1.16
// +build go1.16

// Copyright (c) Microsoft Corporation. All rights reserved.
// Licensed under the MIT License. See License.txt in the project root for license information.
// Code generated by Microsoft (R) AutoRest Code Generator.
// Changes may cause incorrect behavior and will be lost if the code is regenerated.

package armcustomerlockbox

import (
	"context"
	"fmt"
	"github.com/Azure/azure-sdk-for-go/sdk/azcore"
	"github.com/Azure/azure-sdk-for-go/sdk/azcore/arm"
	armruntime "github.com/Azure/azure-sdk-for-go/sdk/azcore/arm/runtime"
	"github.com/Azure/azure-sdk-for-go/sdk/azcore/policy"
	"github.com/Azure/azure-sdk-for-go/sdk/azcore/runtime"
	"net/http"
)

// PostClient contains the methods for the Post group.
// Don't use this type directly, use NewPostClient() instead.
type PostClient struct {
	ep string
	pl runtime.Pipeline
}

// NewPostClient creates a new instance of PostClient with the specified values.
func NewPostClient(credential azcore.TokenCredential, options *arm.ClientOptions) *PostClient {
	cp := arm.ClientOptions{}
	if options != nil {
		cp = *options
	}
	if len(cp.Host) == 0 {
		cp.Host = arm.AzurePublicCloud
	}
	return &PostClient{ep: string(cp.Host), pl: armruntime.NewPipeline(module, version, credential, &cp)}
}

// DisableLockbox - Disable Tenant for Lockbox
// If the operation fails it returns the *ErrorResponse error type.
func (client *PostClient) DisableLockbox(ctx context.Context, options *PostDisableLockboxOptions) (PostDisableLockboxResponse, error) {
	req, err := client.disableLockboxCreateRequest(ctx, options)
	if err != nil {
		return PostDisableLockboxResponse{}, err
	}
	resp, err := client.pl.Do(req)
	if err != nil {
		return PostDisableLockboxResponse{}, err
	}
	if !runtime.HasStatusCode(resp, http.StatusOK) {
		return PostDisableLockboxResponse{}, client.disableLockboxHandleError(resp)
	}
	return PostDisableLockboxResponse{RawResponse: resp}, nil
}

// disableLockboxCreateRequest creates the DisableLockbox request.
func (client *PostClient) disableLockboxCreateRequest(ctx context.Context, options *PostDisableLockboxOptions) (*policy.Request, error) {
	urlPath := "/providers/Microsoft.CustomerLockbox/disableLockbox"
	req, err := runtime.NewRequest(ctx, http.MethodPost, runtime.JoinPaths(client.ep, urlPath))
	if err != nil {
		return nil, err
	}
	reqQP := req.Raw().URL.Query()
	reqQP.Set("api-version", "2018-02-28-preview")
	req.Raw().URL.RawQuery = reqQP.Encode()
	req.Raw().Header.Set("Accept", "application/json")
	return req, nil
}

// disableLockboxHandleError handles the DisableLockbox error response.
func (client *PostClient) disableLockboxHandleError(resp *http.Response) error {
	body, err := runtime.Payload(resp)
	if err != nil {
		return runtime.NewResponseError(err, resp)
	}
	errType := ErrorResponse{raw: string(body)}
	if err := runtime.UnmarshalAsJSON(resp, &errType); err != nil {
		return runtime.NewResponseError(fmt.Errorf("%s\n%s", string(body), err), resp)
	}
	return runtime.NewResponseError(&errType, resp)
}

// EnableLockbox - Enable Tenant for Lockbox
// If the operation fails it returns the *ErrorResponse error type.
func (client *PostClient) EnableLockbox(ctx context.Context, options *PostEnableLockboxOptions) (PostEnableLockboxResponse, error) {
	req, err := client.enableLockboxCreateRequest(ctx, options)
	if err != nil {
		return PostEnableLockboxResponse{}, err
	}
	resp, err := client.pl.Do(req)
	if err != nil {
		return PostEnableLockboxResponse{}, err
	}
	if !runtime.HasStatusCode(resp, http.StatusOK) {
		return PostEnableLockboxResponse{}, client.enableLockboxHandleError(resp)
	}
	return PostEnableLockboxResponse{RawResponse: resp}, nil
}

// enableLockboxCreateRequest creates the EnableLockbox request.
func (client *PostClient) enableLockboxCreateRequest(ctx context.Context, options *PostEnableLockboxOptions) (*policy.Request, error) {
	urlPath := "/providers/Microsoft.CustomerLockbox/enableLockbox"
	req, err := runtime.NewRequest(ctx, http.MethodPost, runtime.JoinPaths(client.ep, urlPath))
	if err != nil {
		return nil, err
	}
	reqQP := req.Raw().URL.Query()
	reqQP.Set("api-version", "2018-02-28-preview")
	req.Raw().URL.RawQuery = reqQP.Encode()
	req.Raw().Header.Set("Accept", "application/json")
	return req, nil
}

// enableLockboxHandleError handles the EnableLockbox error response.
func (client *PostClient) enableLockboxHandleError(resp *http.Response) error {
	body, err := runtime.Payload(resp)
	if err != nil {
		return runtime.NewResponseError(err, resp)
	}
	errType := ErrorResponse{raw: string(body)}
	if err := runtime.UnmarshalAsJSON(resp, &errType); err != nil {
		return runtime.NewResponseError(fmt.Errorf("%s\n%s", string(body), err), resp)
	}
	return runtime.NewResponseError(&errType, resp)
}
