{
  "Entries": [
    {
      "RequestUri": "https://fakeaccount.table.cosmos.azure.com/Tables",
      "RequestMethod": "POST",
      "RequestHeaders": {
        ":method": "POST",
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "dataserviceversion": "3.0",
        "x-ms-date": "Wed, 13 Apr 2022 19:25:20 GMT",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": {
        "TableName": "tableName1856152197"
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata=minimalmetadata",
        "ETag": "W/\u0022datetime\u00272022-04-13T19%3A25%3A20.8217608Z\u0027\u0022",
        "Location": "https://fakeaccount.table.cosmos.azure.com/Tables(\u0027tableName1856152197\u0027)"
      },
      "ResponseBody": {
        "TableName": "tableName1856152197",
        "odata.metadata": "https://fakeaccount.table.cosmos.azure.com/$metadata#Tables/@Element"
      }
    },
    {
      "RequestUri": "https://fakeaccount.table.cosmos.azure.com/tableName1856152197",
      "RequestMethod": "POST",
      "RequestHeaders": {
        ":method": "POST",
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "dataserviceversion": "3.0",
        "prefer": "return-no-content",
        "x-ms-date": "Wed, 13 Apr 2022 19:25:21 GMT",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": {
        "Bool": true,
        "Integer": 1,
        "PartitionKey": "partition",
        "RowKey": "1",
        "String": "some string 1",
        "Timestamp": "0001-01-01T00:00:00Z"
      },
      "StatusCode": 204,
      "ResponseHeaders": {
        "Content-Type": "application/json",
        "ETag": "W/\u0022datetime\u00272022-04-13T19%3A25%3A21.2505096Z\u0027\u0022",
        "Location": "https://fakeaccount.table.cosmos.azure.com/tableName1856152197(PartitionKey=\u0027partition\u0027,RowKey=\u00271\u0027)",
        "Preference-Applied": "return-no-content"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakeaccount.table.cosmos.azure.com/tableName1856152197(PartitionKey=\u0027partition\u0027,RowKey=\u00271\u0027)?%24format=application%2Fjson%3Bodata%3Dminimalmetadata",
      "RequestMethod": "GET",
      "RequestHeaders": {
        ":method": "GET",
        "Authorization": "Sanitized",
        "dataserviceversion": "3.0",
        "x-ms-date": "Wed, 13 Apr 2022 19:25:21 GMT",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata=minimalmetadata",
        "ETag": "W/\u0022datetime\u00272022-04-13T19%3A25%3A21.2505096Z\u0027\u0022"
      },
      "ResponseBody": {
        "odata.metadata": "https://fakeaccount.table.cosmos.azure.com/tableName1856152197/$metadata#tableName1856152197/@Element",
        "odata.etag": "W/\u0022datetime\u00272022-04-13T19%3A25%3A21.2505096Z\u0027\u0022",
        "Bool": true,
        "Integer": 1,
        "PartitionKey": "partition",
        "RowKey": "1",
        "String": "some string 1",
        "Timestamp": "2022-04-13T19:25:21.2505096Z"
      }
    },
    {
      "RequestUri": "https://fakeaccount.table.cosmos.azure.com/tableName1856152197(PartitionKey=\u0027partition\u0027,RowKey=\u00271\u0027)",
      "RequestMethod": "POST",
      "RequestHeaders": {
        ":method": "POST",
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "dataserviceversion": "3.0",
        "If-Match": "*",
        "x-http-method": "MERGE",
        "x-ms-date": "Wed, 13 Apr 2022 19:25:21 GMT",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": {
        "Bool": true,
        "Integer": 1,
        "MergeProperty": "foo",
        "PartitionKey": "partition",
        "RowKey": "1",
        "String": "some string 1",
        "Timestamp": "0001-01-01T00:00:00Z"
      },
      "StatusCode": 204,
      "ResponseHeaders": {
        "Content-Type": "application/json",
        "ETag": "W/\u0022datetime\u00272022-04-13T19%3A25%3A21.3279240Z\u0027\u0022"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakeaccount.table.cosmos.azure.com/tableName1856152197()?%24filter=RowKey\u002Beq\u002B%271%27\u0026%24format=application%2Fjson%3Bodata%3Dminimalmetadata",
      "RequestMethod": "GET",
      "RequestHeaders": {
        ":method": "GET",
        "Authorization": "Sanitized",
        "dataserviceversion": "3.0",
        "x-ms-date": "Wed, 13 Apr 2022 19:25:21 GMT",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata=minimalmetadata"
      },
      "ResponseBody": {
        "value": [
          {
            "odata.etag": "W/\u0022datetime\u00272022-04-13T19%3A25%3A21.3279240Z\u0027\u0022",
            "Bool": true,
            "Integer": 1,
            "PartitionKey": "partition",
            "RowKey": "1",
            "String": "some string 1",
            "MergeProperty": "foo",
            "Timestamp": "2022-04-13T19:25:21.3279240Z"
          }
        ],
        "odata.metadata": "https://fakeaccount.table.cosmos.azure.com/$metadata#tableName1856152197"
      }
    },
    {
      "RequestUri": "https://fakeaccount.table.cosmos.azure.com/Tables(\u0027tableName1856152197\u0027)",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 13 Apr 2022 19:25:21 GMT",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
        "Content-Type": "application/json"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {}
}
