{
  "Entries": [
    {
      "RequestUri": "https://fakeaccount.table.cosmos.azure.com/Tables",
      "RequestMethod": "POST",
      "RequestHeaders": {
        ":method": "POST",
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "dataserviceversion": "3.0",
        "x-ms-date": "Tue, 01 Mar 2022 20:40:31 GMT",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": {
        "TableName": "tableName643547725"
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata=minimalmetadata",
        "ETag": "W/\u0022datetime\u00272022-03-01T20%3A40%3A32.0998408Z\u0027\u0022",
        "Location": "https://fakeaccount.table.cosmos.azure.com/Tables(\u0027tableName643547725\u0027)"
      },
      "ResponseBody": {
        "TableName": "tableName643547725",
        "odata.metadata": "https://fakeaccount.table.cosmos.azure.com/$metadata#Tables/@Element"
      }
    },
    {
      "RequestUri": "https://fakeaccount.table.cosmos.azure.com/tableName643547725",
      "RequestMethod": "POST",
      "RequestHeaders": {
        ":method": "POST",
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "dataserviceversion": "3.0",
        "prefer": "return-no-content",
        "x-ms-date": "Tue, 01 Mar 2022 20:40:32 GMT",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": {
        "PartitionKey": "contToken",
        "RowKey": "0",
        "Value": 1
      },
      "StatusCode": 204,
      "ResponseHeaders": {
        "ETag": "W/\u0022datetime\u00272022-03-01T20%3A40%3A32.4767752Z\u0027\u0022",
        "Location": "https://fakeaccount.table.cosmos.azure.com/tableName643547725(PartitionKey=\u0027contToken\u0027,RowKey=\u00270\u0027)",
        "Preference-Applied": "return-no-content"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://fakeaccount.table.cosmos.azure.com/tableName643547725()?%24filter=Value\u002Ble\u002B5\u0026%24format=application%2Fjson%3Bodata%3Dminimalmetadata\u0026%24top=1",
      "RequestMethod": "GET",
      "RequestHeaders": {
        ":method": "GET",
        "Authorization": "Sanitized",
        "dataserviceversion": "3.0",
        "x-ms-date": "Tue, 01 Mar 2022 20:40:33 GMT",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata=minimalmetadata",
        "x-ms-continuation-NextPartitionKey": "{\u0022token\u0022:\u0022\u002BRID:~XtgyAKAfxjABAAAAAAAAAA==#RT:1#TRC:1#ISV:2#IEO:65567#QCF:4#FPC:AQEAAAAAAAAABQAAAAAAAAA=\u0022,\u0022range\u0022:{\u0022min\u0022:\u0022\u0022,\u0022max\u0022:\u0022FF\u0022}}",
        "x-ms-continuation-NextRowKey": "NA"
      },
      "ResponseBody": {
        "value": [
          {
            "odata.etag": "W/\u0022datetime\u00272022-03-01T20%3A40%3A32.4767752Z\u0027\u0022",
            "PartitionKey": "contToken",
            "RowKey": "0",
            "Value": 1,
            "Timestamp": "2022-03-01T20:40:32.4767752Z"
          }
        ],
        "odata.metadata": "https://fakeaccount.table.cosmos.azure.com/$metadata#tableName643547725"
      }
    },
    {
      "RequestUri": "https://fakeaccount.table.cosmos.azure.com/tableName643547725()?%24filter=Value\u002Ble\u002B5\u0026%24format=application%2Fjson%3Bodata%3Dminimalmetadata\u0026NextPartitionKey={\u0022token\u0022%3A\u0022%2BRID%3A~XtgyAKAfxjABAAAAAAAAAA%3D%3D%23RT%3A1%23TRC%3A1%23ISV%3A2%23IEO%3A65567%23QCF%3A4%23FPC%3AAQEAAAAAAAAABQAAAAAAAAA%3D\u0022%2C\u0022range\u0022%3A{\u0022min\u0022%3A\u0022\u0022%2C\u0022max\u0022%3A\u0022FF\u0022}}\u0026NextRowKey=NA",
      "RequestMethod": "[...]
    {
      "RequestUri": "https://fakeaccount.table.cosmos.azure.com/Tables(\u0027tableName643547725\u0027)",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 01 Mar 2022 20:40:33 GMT",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
      },
      "ResponseBody": null
    }
  ],
  "Variables": {}
}
