// Copyright (c) Microsoft Corporation. All rights reserved.
// Licensed under the MIT License. See License.txt in the project root for license information.
// Code generated by Microsoft (R) AutoRest Code Generator. DO NOT EDIT.
// Changes may cause incorrect behavior and will be lost if the code is regenerated.

package armhybridcompute

import (
	"context"
	"errors"
	"github.com/Azure/azure-sdk-for-go/sdk/azcore"
	"github.com/Azure/azure-sdk-for-go/sdk/azcore/arm"
	"github.com/Azure/azure-sdk-for-go/sdk/azcore/policy"
	"github.com/Azure/azure-sdk-for-go/sdk/azcore/runtime"
	"net/http"
	"net/url"
	"strings"
)

// ExtensionTypeClient contains the methods for the ExtensionType group.
// Don't use this type directly, use NewExtensionTypeClient() instead.
type ExtensionTypeClient struct {
	internal *arm.Client
}

// NewExtensionTypeClient creates a new instance of ExtensionTypeClient with the specified values.
//   - credential - used to authorize requests. Usually a credential from azidentity.
//   - options - pass nil to accept the default values.
func NewExtensionTypeClient(credential azcore.TokenCredential, options *arm.ClientOptions) (*ExtensionTypeClient, error) {
	cl, err := arm.NewClient(moduleName, moduleVersion, credential, options)
	if err != nil {
		return nil, err
	}
	client := &ExtensionTypeClient{
		internal: cl,
	}
	return client, nil
}

// NewListPager - Gets all Extension types based on location and publisher
//
// Generated from API version 2025-02-19-preview
//   - location - The name of Azure region.
//   - publisher - The publisher of the Extension being received.
//   - options - ExtensionTypeClientListOptions contains the optional parameters for the ExtensionTypeClient.NewListPager method.
func (client *ExtensionTypeClient) NewListPager(location string, publisher string, options *ExtensionTypeClientListOptions) *runtime.Pager[ExtensionTypeClientListResponse] {
	return runtime.NewPager(runtime.PagingHandler[ExtensionTypeClientListResponse]{
		More: func(page ExtensionTypeClientListResponse) bool {
			return page.NextLink != nil && len(*page.NextLink) > 0
		},
		Fetcher: func(ctx context.Context, page *ExtensionTypeClientListResponse) (ExtensionTypeClientListResponse, error) {
			ctx = context.WithValue(ctx, runtime.CtxAPINameKey{}, "ExtensionTypeClient.NewListPager")
			nextLink := ""
			if page != nil {
				nextLink = *page.NextLink
			}
			resp, err := runtime.FetcherForNextLink(ctx, client.internal.Pipeline(), nextLink, func(ctx context.Context) (*policy.Request, error) {
				return client.listCreateRequest(ctx, location, publisher, options)
			}, nil)
			if err != nil {
				return ExtensionTypeClientListResponse{}, err
			}
			return client.listHandleResponse(resp)
		},
		Tracer: client.internal.Tracer(),
	})
}

// listCreateRequest creates the List request.
func (client *ExtensionTypeClient) listCreateRequest(ctx context.Context, location string, publisher string, _ *ExtensionTypeClientListOptions) (*policy.Request, error) {
	urlPath := "/providers/Microsoft.HybridCompute/locations/{location}/publishers/{publisher}/extensionTypes"
	if location == "" {
		return nil, errors.New("parameter location cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{location}", url.PathEscape(location))
	if publisher == "" {
		return nil, errors.New("parameter publisher cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{publisher}", url.PathEscape(publisher))
	req, err := runtime.NewRequest(ctx, http.MethodGet, runtime.JoinPaths(client.internal.Endpoint(), urlPath))
	if err != nil {
		return nil, err
	}
	reqQP := req.Raw().URL.Query()
	reqQP.Set("api-version", "2025-02-19-preview")
	req.Raw().URL.RawQuery = reqQP.Encode()
	req.Raw().Header["Accept"] = []string{"application/json"}
	return req, nil
}

// listHandleResponse handles the List response.
func (client *ExtensionTypeClient) listHandleResponse(resp *http.Response) (ExtensionTypeClientListResponse, error) {
	result := ExtensionTypeClientListResponse{}
	if err := runtime.UnmarshalAsJSON(resp, &result.ExtensionTypeListResult); err != nil {
		return ExtensionTypeClientListResponse{}, err
	}
	return result, nil
}
