// Copyright (c) Microsoft Corporation. All rights reserved.
// Licensed under the MIT License. See License.txt in the project root for license information.
// Code generated by Microsoft (R) AutoRest Code Generator. DO NOT EDIT.
// Changes may cause incorrect behavior and will be lost if the code is regenerated.

package armstoragecache

import (
	"context"
	"errors"
	"github.com/Azure/azure-sdk-for-go/sdk/azcore"
	"github.com/Azure/azure-sdk-for-go/sdk/azcore/arm"
	"github.com/Azure/azure-sdk-for-go/sdk/azcore/policy"
	"github.com/Azure/azure-sdk-for-go/sdk/azcore/runtime"
	"net/http"
	"net/url"
	"strings"
)

// ExpansionJobsClient contains the methods for the ExpansionJobs group.
// Don't use this type directly, use NewExpansionJobsClient() instead.
type ExpansionJobsClient struct {
	internal       *arm.Client
	subscriptionID string
}

// NewExpansionJobsClient creates a new instance of ExpansionJobsClient with the specified values.
//   - subscriptionID - The ID of the target subscription.
//   - credential - used to authorize requests. Usually a credential from azidentity.
//   - options - Contains optional client configuration. Pass nil to accept the default values.
func NewExpansionJobsClient(subscriptionID string, credential azcore.TokenCredential, options *arm.ClientOptions) (*ExpansionJobsClient, error) {
	cl, err := arm.NewClient(moduleName, moduleVersion, credential, options)
	if err != nil {
		return nil, err
	}
	client := &ExpansionJobsClient{
		subscriptionID: subscriptionID,
		internal:       cl,
	}
	return client, nil
}

// BeginCreateOrUpdate - Create or update an expansion job.
// If the operation fails it returns an *azcore.ResponseError type.
//
// Generated from API version 2026-01-01
//   - resourceGroupName - The name of the resource group. The name is case insensitive.
//   - amlFilesystemName - Name for the AML file system. Allows alphanumerics, underscores, and hyphens. Start and end with alphanumeric.
//   - expansionJobName - Name for the expansion job. Allows alphanumerics, underscores, and hyphens. Start and end with alphanumeric.
//   - expansionJob - Object containing the user-selectable properties of the expansion job. If read-only properties are included,
//     they must match the existing values of those properties.
//   - options - ExpansionJobsClientBeginCreateOrUpdateOptions contains the optional parameters for the ExpansionJobsClient.BeginCreateOrUpdate
//     method.
func (client *ExpansionJobsClient) BeginCreateOrUpdate(ctx context.Context, resourceGroupName string, amlFilesystemName string, expansionJobName string, expansionJob ExpansionJob, options *ExpansionJobsClientBeginCreateOrUpdateOptions) (*runtime.Poller[ExpansionJobsClientCreateOrUpdateResponse], error) {
	if options == nil || options.ResumeToken == "" {
		resp, err := client.createOrUpdate(ctx, resourceGroupName, amlFilesystemName, expansionJobName, expansionJob, options)
		if err != nil {
			return nil, err
		}
		poller, err := runtime.NewPoller(resp, client.internal.Pipeline(), &runtime.NewPollerOptions[ExpansionJobsClientCreateOrUpdateResponse]{
			FinalStateVia: runtime.FinalStateViaAzureAsyncOp,
			Tracer:        client.internal.Tracer(),
		})
		return poller, err
	} else {
		return runtime.NewPollerFromResumeToken(options.ResumeToken, client.internal.Pipeline(), &runtime.NewPollerFromResumeTokenOptions[ExpansionJobsClientCreateOrUpdateResponse]{
			Tracer: client.internal.Tracer(),
		})
	}
}

// CreateOrUpdate - Create or update an expansion job.
// If the operation fails it returns an *azcore.ResponseError type.
//
// Generated from API version 2026-01-01
func (client *ExpansionJobsClient) createOrUpdate(ctx context.Context, resourceGroupName string, amlFilesystemName string, expansionJobName string, expansionJob ExpansionJob, options *ExpansionJobsClientBeginCreateOrUpdateOptions) (*http.Response, error) {
	var err error
	const operationName = "ExpansionJobsClient.BeginCreateOrUpdate"
	ctx = context.WithValue(ctx, runtime.CtxAPINameKey{}, operationName)
	ctx, endSpan := runtime.StartSpan(ctx, operationName, client.internal.Tracer(), nil)
	defer func() { endSpan(err) }()
	req, err := client.createOrUpdateCreateRequest(ctx, resourceGroupName, amlFilesystemName, expansionJobName, expansionJob, options)
	if err != nil {
		return nil, err
	}
	httpResp, err := client.internal.Pipeline().Do(req)
	if err != nil {
		return nil, err
	}
	if !runtime.HasStatusCode(httpResp, http.StatusOK, http.StatusCreated) {
		err = runtime.NewResponseError(httpResp)
		return nil, err
	}
	return httpResp, nil
}

// createOrUpdateCreateRequest creates the CreateOrUpdate request.
func (client *ExpansionJobsClient) createOrUpdateCreateRequest(ctx context.Context, resourceGroupName string, amlFilesystemName string, expansionJobName string, expansionJob ExpansionJob, _ *ExpansionJobsClientBeginCreateOrUpdateOptions) (*policy.Request, error) {
	urlPath := "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.StorageCache/amlFilesystems/{amlFilesystemName}/expansionJobs/{expansionJobName}"
	if resourceGroupName == "" {
		return nil, errors.New("parameter resourceGroupName cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{resourceGroupName}", url.PathEscape(resourceGroupName))
	if client.subscriptionID == "" {
		return nil, errors.New("parameter client.subscriptionID cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{subscriptionId}", url.PathEscape(client.subscriptionID))
	if amlFilesystemName == "" {
		return nil, errors.New("parameter amlFilesystemName cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{amlFilesystemName}", url.PathEscape(amlFilesystemName))
	if expansionJobName == "" {
		return nil, errors.New("parameter expansionJobName cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{expansionJobName}", url.PathEscape(expansionJobName))
	req, err := runtime.NewRequest(ctx, http.MethodPut, runtime.JoinPaths(client.internal.Endpoint(), urlPath))
	if err != nil {
		return nil, err
	}
	reqQP := req.Raw().URL.Query()
	reqQP.Set("api-version", "2026-01-01")
	req.Raw().URL.RawQuery = reqQP.Encode()
	req.Raw().Header["Accept"] = []string{"application/json"}
	if err := runtime.MarshalAsJSON(req, expansionJob); err != nil {
		return nil, err
	}
	return req, nil
}

// BeginDelete - Schedules an expansion job for deletion.
// If the operation fails it returns an *azcore.ResponseError type.
//
// Generated from API version 2026-01-01
//   - resourceGroupName - The name of the resource group. The name is case insensitive.
//   - amlFilesystemName - Name for the AML file system. Allows alphanumerics, underscores, and hyphens. Start and end with alphanumeric.
//   - expansionJobName - Name for the expansion job. Allows alphanumerics, underscores, and hyphens. Start and end with alphanumeric.
//   - options - ExpansionJobsClientBeginDeleteOptions contains the optional parameters for the ExpansionJobsClient.BeginDelete
//     method.
func (client *ExpansionJobsClient) BeginDelete(ctx context.Context, resourceGroupName string, amlFilesystemName string, expansionJobName string, options *ExpansionJobsClientBeginDeleteOptions) (*runtime.Poller[ExpansionJobsClientDeleteResponse], error) {
	if options == nil || options.ResumeToken == "" {
		resp, err := client.deleteOperation(ctx, resourceGroupName, amlFilesystemName, expansionJobName, options)
		if err != nil {
			return nil, err
		}
		poller, err := runtime.NewPoller(resp, client.internal.Pipeline(), &runtime.NewPollerOptions[ExpansionJobsClientDeleteResponse]{
			FinalStateVia: runtime.FinalStateViaLocation,
			Tracer:        client.internal.Tracer(),
		})
		return poller, err
	} else {
		return runtime.NewPollerFromResumeToken(options.ResumeToken, client.internal.Pipeline(), &runtime.NewPollerFromResumeTokenOptions[ExpansionJobsClientDeleteResponse]{
			Tracer: client.internal.Tracer(),
		})
	}
}

// Delete - Schedules an expansion job for deletion.
// If the operation fails it returns an *azcore.ResponseError type.
//
// Generated from API version 2026-01-01
func (client *ExpansionJobsClient) deleteOperation(ctx context.Context, resourceGroupName string, amlFilesystemName string, expansionJobName string, options *ExpansionJobsClientBeginDeleteOptions) (*http.Response, error) {
	var err error
	const operationName = "ExpansionJobsClient.BeginDelete"
	ctx = context.WithValue(ctx, runtime.CtxAPINameKey{}, operationName)
	ctx, endSpan := runtime.StartSpan(ctx, operationName, client.internal.Tracer(), nil)
	defer func() { endSpan(err) }()
	req, err := client.deleteCreateRequest(ctx, resourceGroupName, amlFilesystemName, expansionJobName, options)
	if err != nil {
		return nil, err
	}
	httpResp, err := client.internal.Pipeline().Do(req)
	if err != nil {
		return nil, err
	}
	if !runtime.HasStatusCode(httpResp, http.StatusAccepted, http.StatusNoContent) {
		err = runtime.NewResponseError(httpResp)
		return nil, err
	}
	return httpResp, nil
}

// deleteCreateRequest creates the Delete request.
func (client *ExpansionJobsClient) deleteCreateRequest(ctx context.Context, resourceGroupName string, amlFilesystemName string, expansionJobName string, _ *ExpansionJobsClientBeginDeleteOptions) (*policy.Request, error) {
	urlPath := "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.StorageCache/amlFilesystems/{amlFilesystemName}/expansionJobs/{expansionJobName}"
	if resourceGroupName == "" {
		return nil, errors.New("parameter resourceGroupName cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{resourceGroupName}", url.PathEscape(resourceGroupName))
	if amlFilesystemName == "" {
		return nil, errors.New("parameter amlFilesystemName cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{amlFilesystemName}", url.PathEscape(amlFilesystemName))
	if client.subscriptionID == "" {
		return nil, errors.New("parameter client.subscriptionID cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{subscriptionId}", url.PathEscape(client.subscriptionID))
	if expansionJobName == "" {
		return nil, errors.New("parameter expansionJobName cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{expansionJobName}", url.PathEscape(expansionJobName))
	req, err := runtime.NewRequest(ctx, http.MethodDelete, runtime.JoinPaths(client.internal.Endpoint(), urlPath))
	if err != nil {
		return nil, err
	}
	reqQP := req.Raw().URL.Query()
	reqQP.Set("api-version", "2026-01-01")
	req.Raw().URL.RawQuery = reqQP.Encode()
	req.Raw().Header["Accept"] = []string{"application/json"}
	return req, nil
}

// Get - Returns an expansion job.
// If the operation fails it returns an *azcore.ResponseError type.
//
// Generated from API version 2026-01-01
//   - resourceGroupName - The name of the resource group. The name is case insensitive.
//   - amlFilesystemName - Name for the AML file system. Allows alphanumerics, underscores, and hyphens. Start and end with alphanumeric.
//   - expansionJobName - Name for the expansion job. Allows alphanumerics, underscores, and hyphens. Start and end with alphanumeric.
//   - options - ExpansionJobsClientGetOptions contains the optional parameters for the ExpansionJobsClient.Get method.
func (client *ExpansionJobsClient) Get(ctx context.Context, resourceGroupName string, amlFilesystemName string, expansionJobName string, options *ExpansionJobsClientGetOptions) (ExpansionJobsClientGetResponse, error) {
	var err error
	const operationName = "ExpansionJobsClient.Get"
	ctx = context.WithValue(ctx, runtime.CtxAPINameKey{}, operationName)
	ctx, endSpan := runtime.StartSpan(ctx, operationName, client.internal.Tracer(), nil)
	defer func() { endSpan(err) }()
	req, err := client.getCreateRequest(ctx, resourceGroupName, amlFilesystemName, expansionJobName, options)
	if err != nil {
		return ExpansionJobsClientGetResponse{}, err
	}
	httpResp, err := client.internal.Pipeline().Do(req)
	if err != nil {
		return ExpansionJobsClientGetResponse{}, err
	}
	if !runtime.HasStatusCode(httpResp, http.StatusOK) {
		err = runtime.NewResponseError(httpResp)
		return ExpansionJobsClientGetResponse{}, err
	}
	resp, err := client.getHandleResponse(httpResp)
	return resp, err
}

// getCreateRequest creates the Get request.
func (client *ExpansionJobsClient) getCreateRequest(ctx context.Context, resourceGroupName string, amlFilesystemName string, expansionJobName string, _ *ExpansionJobsClientGetOptions) (*policy.Request, error) {
	urlPath := "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.StorageCache/amlFilesystems/{amlFilesystemName}/expansionJobs/{expansionJobName}"
	if resourceGroupName == "" {
		return nil, errors.New("parameter resourceGroupName cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{resourceGroupName}", url.PathEscape(resourceGroupName))
	if amlFilesystemName == "" {
		return nil, errors.New("parameter amlFilesystemName cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{amlFilesystemName}", url.PathEscape(amlFilesystemName))
	if client.subscriptionID == "" {
		return nil, errors.New("parameter client.subscriptionID cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{subscriptionId}", url.PathEscape(client.subscriptionID))
	if expansionJobName == "" {
		return nil, errors.New("parameter expansionJobName cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{expansionJobName}", url.PathEscape(expansionJobName))
	req, err := runtime.NewRequest(ctx, http.MethodGet, runtime.JoinPaths(client.internal.Endpoint(), urlPath))
	if err != nil {
		return nil, err
	}
	reqQP := req.Raw().URL.Query()
	reqQP.Set("api-version", "2026-01-01")
	req.Raw().URL.RawQuery = reqQP.Encode()
	req.Raw().Header["Accept"] = []string{"application/json"}
	return req, nil
}

// getHandleResponse handles the Get response.
func (client *ExpansionJobsClient) getHandleResponse(resp *http.Response) (ExpansionJobsClientGetResponse, error) {
	result := ExpansionJobsClientGetResponse{}
	if err := runtime.UnmarshalAsJSON(resp, &result.ExpansionJob); err != nil {
		return ExpansionJobsClientGetResponse{}, err
	}
	return result, nil
}

// NewListByAmlFilesystemPager - Returns all the expansion jobs the user has access to under an AML File System.
//
// Generated from API version 2026-01-01
//   - resourceGroupName - The name of the resource group. The name is case insensitive.
//   - amlFilesystemName - Name for the AML file system. Allows alphanumerics, underscores, and hyphens. Start and end with alphanumeric.
//   - options - ExpansionJobsClientListByAmlFilesystemOptions contains the optional parameters for the ExpansionJobsClient.NewListByAmlFilesystemPager
//     method.
func (client *ExpansionJobsClient) NewListByAmlFilesystemPager(resourceGroupName string, amlFilesystemName string, options *ExpansionJobsClientListByAmlFilesystemOptions) *runtime.Pager[ExpansionJobsClientListByAmlFilesystemResponse] {
	return runtime.NewPager(runtime.PagingHandler[ExpansionJobsClientListByAmlFilesystemResponse]{
		More: func(page ExpansionJobsClientListByAmlFilesystemResponse) bool {
			return page.NextLink != nil && len(*page.NextLink) > 0
		},
		Fetcher: func(ctx context.Context, page *ExpansionJobsClientListByAmlFilesystemResponse) (ExpansionJobsClientListByAmlFilesystemResponse, error) {
			ctx = context.WithValue(ctx, runtime.CtxAPINameKey{}, "ExpansionJobsClient.NewListByAmlFilesystemPager")
			nextLink := ""
			if page != nil {
				nextLink = *page.NextLink
			}
			resp, err := runtime.FetcherForNextLink(ctx, client.internal.Pipeline(), nextLink, func(ctx context.Context) (*policy.Request, error) {
				return client.listByAmlFilesystemCreateRequest(ctx, resourceGroupName, amlFilesystemName, options)
			}, nil)
			if err != nil {
				return ExpansionJobsClientListByAmlFilesystemResponse{}, err
			}
			return client.listByAmlFilesystemHandleResponse(resp)
		},
		Tracer: client.internal.Tracer(),
	})
}

// listByAmlFilesystemCreateRequest creates the ListByAmlFilesystem request.
func (client *ExpansionJobsClient) listByAmlFilesystemCreateRequest(ctx context.Context, resourceGroupName string, amlFilesystemName string, _ *ExpansionJobsClientListByAmlFilesystemOptions) (*policy.Request, error) {
	urlPath := "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.StorageCache/amlFilesystems/{amlFilesystemName}/expansionJobs"
	if resourceGroupName == "" {
		return nil, errors.New("parameter resourceGroupName cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{resourceGroupName}", url.PathEscape(resourceGroupName))
	if client.subscriptionID == "" {
		return nil, errors.New("parameter client.subscriptionID cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{subscriptionId}", url.PathEscape(client.subscriptionID))
	if amlFilesystemName == "" {
		return nil, errors.New("parameter amlFilesystemName cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{amlFilesystemName}", url.PathEscape(amlFilesystemName))
	req, err := runtime.NewRequest(ctx, http.MethodGet, runtime.JoinPaths(client.internal.Endpoint(), urlPath))
	if err != nil {
		return nil, err
	}
	reqQP := req.Raw().URL.Query()
	reqQP.Set("api-version", "2026-01-01")
	req.Raw().URL.RawQuery = reqQP.Encode()
	req.Raw().Header["Accept"] = []string{"application/json"}
	return req, nil
}

// listByAmlFilesystemHandleResponse handles the ListByAmlFilesystem response.
func (client *ExpansionJobsClient) listByAmlFilesystemHandleResponse(resp *http.Response) (ExpansionJobsClientListByAmlFilesystemResponse, error) {
	result := ExpansionJobsClientListByAmlFilesystemResponse{}
	if err := runtime.UnmarshalAsJSON(resp, &result.ExpansionJobsListResult); err != nil {
		return ExpansionJobsClientListByAmlFilesystemResponse{}, err
	}
	return result, nil
}

// BeginUpdate - Update an expansion job instance.
// If the operation fails it returns an *azcore.ResponseError type.
//
// Generated from API version 2026-01-01
//   - resourceGroupName - The name of the resource group. The name is case insensitive.
//   - amlFilesystemName - Name for the AML file system. Allows alphanumerics, underscores, and hyphens. Start and end with alphanumeric.
//   - expansionJobName - Name for the expansion job. Allows alphanumerics, underscores, and hyphens. Start and end with alphanumeric.
//   - expansionJob - Object containing the user-selectable properties of the expansion job. If read-only properties are included,
//     they must match the existing values of those properties.
//   - options - ExpansionJobsClientBeginUpdateOptions contains the optional parameters for the ExpansionJobsClient.BeginUpdate
//     method.
func (client *ExpansionJobsClient) BeginUpdate(ctx context.Context, resourceGroupName string, amlFilesystemName string, expansionJobName string, expansionJob ExpansionJobUpdate, options *ExpansionJobsClientBeginUpdateOptions) (*runtime.Poller[ExpansionJobsClientUpdateResponse], error) {
	if options == nil || options.ResumeToken == "" {
		resp, err := client.update(ctx, resourceGroupName, amlFilesystemName, expansionJobName, expansionJob, options)
		if err != nil {
			return nil, err
		}
		poller, err := runtime.NewPoller(resp, client.internal.Pipeline(), &runtime.NewPollerOptions[ExpansionJobsClientUpdateResponse]{
			FinalStateVia: runtime.FinalStateViaAzureAsyncOp,
			Tracer:        client.internal.Tracer(),
		})
		return poller, err
	} else {
		return runtime.NewPollerFromResumeToken(options.ResumeToken, client.internal.Pipeline(), &runtime.NewPollerFromResumeTokenOptions[ExpansionJobsClientUpdateResponse]{
			Tracer: client.internal.Tracer(),
		})
	}
}

// Update - Update an expansion job instance.
// If the operation fails it returns an *azcore.ResponseError type.
//
// Generated from API version 2026-01-01
func (client *ExpansionJobsClient) update(ctx context.Context, resourceGroupName string, amlFilesystemName string, expansionJobName string, expansionJob ExpansionJobUpdate, options *ExpansionJobsClientBeginUpdateOptions) (*http.Response, error) {
	var err error
	const operationName = "ExpansionJobsClient.BeginUpdate"
	ctx = context.WithValue(ctx, runtime.CtxAPINameKey{}, operationName)
	ctx, endSpan := runtime.StartSpan(ctx, operationName, client.internal.Tracer(), nil)
	defer func() { endSpan(err) }()
	req, err := client.updateCreateRequest(ctx, resourceGroupName, amlFilesystemName, expansionJobName, expansionJob, options)
	if err != nil {
		return nil, err
	}
	httpResp, err := client.internal.Pipeline().Do(req)
	if err != nil {
		return nil, err
	}
	if !runtime.HasStatusCode(httpResp, http.StatusOK, http.StatusAccepted) {
		err = runtime.NewResponseError(httpResp)
		return nil, err
	}
	return httpResp, nil
}

// updateCreateRequest creates the Update request.
func (client *ExpansionJobsClient) updateCreateRequest(ctx context.Context, resourceGroupName string, amlFilesystemName string, expansionJobName string, expansionJob ExpansionJobUpdate, _ *ExpansionJobsClientBeginUpdateOptions) (*policy.Request, error) {
	urlPath := "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.StorageCache/amlFilesystems/{amlFilesystemName}/expansionJobs/{expansionJobName}"
	if resourceGroupName == "" {
		return nil, errors.New("parameter resourceGroupName cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{resourceGroupName}", url.PathEscape(resourceGroupName))
	if client.subscriptionID == "" {
		return nil, errors.New("parameter client.subscriptionID cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{subscriptionId}", url.PathEscape(client.subscriptionID))
	if amlFilesystemName == "" {
		return nil, errors.New("parameter amlFilesystemName cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{amlFilesystemName}", url.PathEscape(amlFilesystemName))
	if expansionJobName == "" {
		return nil, errors.New("parameter expansionJobName cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{expansionJobName}", url.PathEscape(expansionJobName))
	req, err := runtime.NewRequest(ctx, http.MethodPatch, runtime.JoinPaths(client.internal.Endpoint(), urlPath))
	if err != nil {
		return nil, err
	}
	reqQP := req.Raw().URL.Query()
	reqQP.Set("api-version", "2026-01-01")
	req.Raw().URL.RawQuery = reqQP.Encode()
	req.Raw().Header["Accept"] = []string{"application/json"}
	if err := runtime.MarshalAsJSON(req, expansionJob); err != nil {
		return nil, err
	}
	return req, nil
}
