// Copyright (c) Microsoft Corporation. All rights reserved.
// Licensed under the MIT License. See License.txt in the project root for license information.
// Code generated by Microsoft (R) AutoRest Code Generator. DO NOT EDIT.
// Changes may cause incorrect behavior and will be lost if the code is regenerated.

package fake

import (
	"context"
	"errors"
	"fmt"
	azfake "github.com/Azure/azure-sdk-for-go/sdk/azcore/fake"
	"github.com/Azure/azure-sdk-for-go/sdk/azcore/fake/server"
	"github.com/Azure/azure-sdk-for-go/sdk/azcore/runtime"
	"github.com/Azure/azure-sdk-for-go/sdk/azcore/to"
	"github.com/Azure/azure-sdk-for-go/sdk/resourcemanager/apimanagement/armapimanagement/v3"
	"net/http"
	"net/url"
	"regexp"
)

// APIGatewayHostnameBindingServer is a fake server for instances of the armapimanagement.APIGatewayHostnameBindingClient type.
type APIGatewayHostnameBindingServer struct {
	// BeginCreateOrUpdate is the fake for method APIGatewayHostnameBindingClient.BeginCreateOrUpdate
	// HTTP status codes to indicate success: http.StatusOK, http.StatusCreated
	BeginCreateOrUpdate func(ctx context.Context, resourceGroupName string, gatewayName string, hostnameBindingName string, parameters armapimanagement.GatewayHostnameBindingResource, options *armapimanagement.APIGatewayHostnameBindingClientBeginCreateOrUpdateOptions) (resp azfake.PollerResponder[armapimanagement.APIGatewayHostnameBindingClientCreateOrUpdateResponse], errResp azfake.ErrorResponder)

	// BeginDelete is the fake for method APIGatewayHostnameBindingClient.BeginDelete
	// HTTP status codes to indicate success: http.StatusOK, http.StatusAccepted, http.StatusNoContent
	BeginDelete func(ctx context.Context, resourceGroupName string, gatewayName string, hostnameBindingName string, ifMatch string, options *armapimanagement.APIGatewayHostnameBindingClientBeginDeleteOptions) (resp azfake.PollerResponder[armapimanagement.APIGatewayHostnameBindingClientDeleteResponse], errResp azfake.ErrorResponder)

	// Get is the fake for method APIGatewayHostnameBindingClient.Get
	// HTTP status codes to indicate success: http.StatusOK
	Get func(ctx context.Context, resourceGroupName string, gatewayName string, hostnameBindingName string, options *armapimanagement.APIGatewayHostnameBindingClientGetOptions) (resp azfake.Responder[armapimanagement.APIGatewayHostnameBindingClientGetResponse], errResp azfake.ErrorResponder)

	// NewListByGatewayPager is the fake for method APIGatewayHostnameBindingClient.NewListByGatewayPager
	// HTTP status codes to indicate success: http.StatusOK
	NewListByGatewayPager func(resourceGroupName string, gatewayName string, options *armapimanagement.APIGatewayHostnameBindingClientListByGatewayOptions) (resp azfake.PagerResponder[armapimanagement.APIGatewayHostnameBindingClientListByGatewayResponse])

	// BeginRefreshSecret is the fake for method APIGatewayHostnameBindingClient.BeginRefreshSecret
	// HTTP status codes to indicate success: http.StatusOK, http.StatusAccepted, http.StatusNoContent
	BeginRefreshSecret func(ctx context.Context, resourceGroupName string, gatewayName string, hostnameBindingName string, options *armapimanagement.APIGatewayHostnameBindingClientBeginRefreshSecretOptions) (resp azfake.PollerResponder[armapimanagement.APIGatewayHostnameBindingClientRefreshSecretResponse], errResp azfake.ErrorResponder)
}

// NewAPIGatewayHostnameBindingServerTransport creates a new instance of APIGatewayHostnameBindingServerTransport with the provided implementation.
// The returned APIGatewayHostnameBindingServerTransport instance is connected to an instance of armapimanagement.APIGatewayHostnameBindingClient via the
// azcore.ClientOptions.Transporter field in the client's constructor parameters.
func NewAPIGatewayHostnameBindingServerTransport(srv *APIGatewayHostnameBindingServer) *APIGatewayHostnameBindingServerTransport {
	return &APIGatewayHostnameBindingServerTransport{
		srv:                   srv,
		beginCreateOrUpdate:   newTracker[azfake.PollerResponder[armapimanagement.APIGatewayHostnameBindingClientCreateOrUpdateResponse]](),
		beginDelete:           newTracker[azfake.PollerResponder[armapimanagement.APIGatewayHostnameBindingClientDeleteResponse]](),
		newListByGatewayPager: newTracker[azfake.PagerResponder[armapimanagement.APIGatewayHostnameBindingClientListByGatewayResponse]](),
		beginRefreshSecret:    newTracker[azfake.PollerResponder[armapimanagement.APIGatewayHostnameBindingClientRefreshSecretResponse]](),
	}
}

// APIGatewayHostnameBindingServerTransport connects instances of armapimanagement.APIGatewayHostnameBindingClient to instances of APIGatewayHostnameBindingServer.
// Don't use this type directly, use NewAPIGatewayHostnameBindingServerTransport instead.
type APIGatewayHostnameBindingServerTransport struct {
	srv                   *APIGatewayHostnameBindingServer
	beginCreateOrUpdate   *tracker[azfake.PollerResponder[armapimanagement.APIGatewayHostnameBindingClientCreateOrUpdateResponse]]
	beginDelete           *tracker[azfake.PollerResponder[armapimanagement.APIGatewayHostnameBindingClientDeleteResponse]]
	newListByGatewayPager *tracker[azfake.PagerResponder[armapimanagement.APIGatewayHostnameBindingClientListByGatewayResponse]]
	beginRefreshSecret    *tracker[azfake.PollerResponder[armapimanagement.APIGatewayHostnameBindingClientRefreshSecretResponse]]
}

// Do implements the policy.Transporter interface for APIGatewayHostnameBindingServerTransport.
func (a *APIGatewayHostnameBindingServerTransport) Do(req *http.Request) (*http.Response, error) {
	rawMethod := req.Context().Value(runtime.CtxAPINameKey{})
	method, ok := rawMethod.(string)
	if !ok {
		return nil, nonRetriableError{errors.New("unable to dispatch request, missing value for CtxAPINameKey")}
	}

	return a.dispatchToMethodFake(req, method)
}

func (a *APIGatewayHostnameBindingServerTransport) dispatchToMethodFake(req *http.Request, method string) (*http.Response, error) {
	resultChan := make(chan result)
	defer close(resultChan)

	go func() {
		var intercepted bool
		var res result
		if apiGatewayHostnameBindingServerTransportInterceptor != nil {
			res.resp, res.err, intercepted = apiGatewayHostnameBindingServerTransportInterceptor.Do(req)
		}
		if !intercepted {
			switch method {
			case "APIGatewayHostnameBindingClient.BeginCreateOrUpdate":
				res.resp, res.err = a.dispatchBeginCreateOrUpdate(req)
			case "APIGatewayHostnameBindingClient.BeginDelete":
				res.resp, res.err = a.dispatchBeginDelete(req)
			case "APIGatewayHostnameBindingClient.Get":
				res.resp, res.err = a.dispatchGet(req)
			case "APIGatewayHostnameBindingClient.NewListByGatewayPager":
				res.resp, res.err = a.dispatchNewListByGatewayPager(req)
			case "APIGatewayHostnameBindingClient.BeginRefreshSecret":
				res.resp, res.err = a.dispatchBeginRefreshSecret(req)
			default:
				res.err = fmt.Errorf("unhandled API %s", method)
			}

		}
		select {
		case resultChan <- res:
		case <-req.Context().Done():
		}
	}()

	select {
	case <-req.Context().Done():
		return nil, req.Context().Err()
	case res := <-resultChan:
		return res.resp, res.err
	}
}

func (a *APIGatewayHostnameBindingServerTransport) dispatchBeginCreateOrUpdate(req *http.Request) (*http.Response, error) {
	if a.srv.BeginCreateOrUpdate == nil {
		return nil, &nonRetriableError{errors.New("fake for method BeginCreateOrUpdate not implemented")}
	}
	beginCreateOrUpdate := a.beginCreateOrUpdate.get(req)
	if beginCreateOrUpdate == nil {
		const regexStr = `/subscriptions/(?P<subscriptionId>[!#&$-;=?-\[\]_a-zA-Z0-9~%@]+)/resourceGroups/(?P<resourceGroupName>[!#&$-;=?-\[\]_a-zA-Z0-9~%@]+)/providers/Microsoft\.ApiManagement/gateways/(?P<gatewayName>[!#&$-;=?-\[\]_a-zA-Z0-9~%@]+)/hostnameBindings/(?P<hostnameBindingName>[!#&$-;=?-\[\]_a-zA-Z0-9~%@]+)`
		regex := regexp.MustCompile(regexStr)
		matches := regex.FindStringSubmatch(req.URL.EscapedPath())
		if len(matches) < 5 {
			return nil, fmt.Errorf("failed to parse path %s", req.URL.Path)
		}
		body, err := server.UnmarshalRequestAsJSON[armapimanagement.GatewayHostnameBindingResource](req)
		if err != nil {
			return nil, err
		}
		resourceGroupNameParam, err := url.PathUnescape(matches[regex.SubexpIndex("resourceGroupName")])
		if err != nil {
			return nil, err
		}
		gatewayNameParam, err := url.PathUnescape(matches[regex.SubexpIndex("gatewayName")])
		if err != nil {
			return nil, err
		}
		hostnameBindingNameParam, err := url.PathUnescape(matches[regex.SubexpIndex("hostnameBindingName")])
		if err != nil {
			return nil, err
		}
		ifMatchParam := getOptional(getHeaderValue(req.Header, "If-Match"))
		var options *armapimanagement.APIGatewayHostnameBindingClientBeginCreateOrUpdateOptions
		if ifMatchParam != nil {
			options = &armapimanagement.APIGatewayHostnameBindingClientBeginCreateOrUpdateOptions{
				IfMatch: ifMatchParam,
			}
		}
		respr, errRespr := a.srv.BeginCreateOrUpdate(req.Context(), resourceGroupNameParam, gatewayNameParam, hostnameBindingNameParam, body, options)
		if respErr := server.GetError(errRespr, req); respErr != nil {
			return nil, respErr
		}
		beginCreateOrUpdate = &respr
		a.beginCreateOrUpdate.add(req, beginCreateOrUpdate)
	}

	resp, err := server.PollerResponderNext(beginCreateOrUpdate, req)
	if err != nil {
		return nil, err
	}

	if !contains([]int{http.StatusOK, http.StatusCreated}, resp.StatusCode) {
		a.beginCreateOrUpdate.remove(req)
		return nil, &nonRetriableError{fmt.Errorf("unexpected status code %d. acceptable values are http.StatusOK, http.StatusCreated", resp.StatusCode)}
	}
	if !server.PollerResponderMore(beginCreateOrUpdate) {
		a.beginCreateOrUpdate.remove(req)
	}

	return resp, nil
}

func (a *APIGatewayHostnameBindingServerTransport) dispatchBeginDelete(req *http.Request) (*http.Response, error) {
	if a.srv.BeginDelete == nil {
		return nil, &nonRetriableError{errors.New("fake for method BeginDelete not implemented")}
	}
	beginDelete := a.beginDelete.get(req)
	if beginDelete == nil {
		const regexStr = `/subscriptions/(?P<subscriptionId>[!#&$-;=?-\[\]_a-zA-Z0-9~%@]+)/resourceGroups/(?P<resourceGroupName>[!#&$-;=?-\[\]_a-zA-Z0-9~%@]+)/providers/Microsoft\.ApiManagement/gateways/(?P<gatewayName>[!#&$-;=?-\[\]_a-zA-Z0-9~%@]+)/hostnameBindings/(?P<hostnameBindingName>[!#&$-;=?-\[\]_a-zA-Z0-9~%@]+)`
		regex := regexp.MustCompile(regexStr)
		matches := regex.FindStringSubmatch(req.URL.EscapedPath())
		if len(matches) < 5 {
			return nil, fmt.Errorf("failed to parse path %s", req.URL.Path)
		}
		resourceGroupNameParam, err := url.PathUnescape(matches[regex.SubexpIndex("resourceGroupName")])
		if err != nil {
			return nil, err
		}
		gatewayNameParam, err := url.PathUnescape(matches[regex.SubexpIndex("gatewayName")])
		if err != nil {
			return nil, err
		}
		hostnameBindingNameParam, err := url.PathUnescape(matches[regex.SubexpIndex("hostnameBindingName")])
		if err != nil {
			return nil, err
		}
		respr, errRespr := a.srv.BeginDelete(req.Context(), resourceGroupNameParam, gatewayNameParam, hostnameBindingNameParam, getHeaderValue(req.Header, "If-Match"), nil)
		if respErr := server.GetError(errRespr, req); respErr != nil {
			return nil, respErr
		}
		beginDelete = &respr
		a.beginDelete.add(req, beginDelete)
	}

	resp, err := server.PollerResponderNext(beginDelete, req)
	if err != nil {
		return nil, err
	}

	if !contains([]int{http.StatusOK, http.StatusAccepted, http.StatusNoContent}, resp.StatusCode) {
		a.beginDelete.remove(req)
		return nil, &nonRetriableError{fmt.Errorf("unexpected status code %d. acceptable values are http.StatusOK, http.StatusAccepted, http.StatusNoContent", resp.StatusCode)}
	}
	if !server.PollerResponderMore(beginDelete) {
		a.beginDelete.remove(req)
	}

	return resp, nil
}

func (a *APIGatewayHostnameBindingServerTransport) dispatchGet(req *http.Request) (*http.Response, error) {
	if a.srv.Get == nil {
		return nil, &nonRetriableError{errors.New("fake for method Get not implemented")}
	}
	const regexStr = `/subscriptions/(?P<subscriptionId>[!#&$-;=?-\[\]_a-zA-Z0-9~%@]+)/resourceGroups/(?P<resourceGroupName>[!#&$-;=?-\[\]_a-zA-Z0-9~%@]+)/providers/Microsoft\.ApiManagement/gateways/(?P<gatewayName>[!#&$-;=?-\[\]_a-zA-Z0-9~%@]+)/hostnameBindings/(?P<hostnameBindingName>[!#&$-;=?-\[\]_a-zA-Z0-9~%@]+)`
	regex := regexp.MustCompile(regexStr)
	matches := regex.FindStringSubmatch(req.URL.EscapedPath())
	if len(matches) < 5 {
		return nil, fmt.Errorf("failed to parse path %s", req.URL.Path)
	}
	resourceGroupNameParam, err := url.PathUnescape(matches[regex.SubexpIndex("resourceGroupName")])
	if err != nil {
		return nil, err
	}
	gatewayNameParam, err := url.PathUnescape(matches[regex.SubexpIndex("gatewayName")])
	if err != nil {
		return nil, err
	}
	hostnameBindingNameParam, err := url.PathUnescape(matches[regex.SubexpIndex("hostnameBindingName")])
	if err != nil {
		return nil, err
	}
	respr, errRespr := a.srv.Get(req.Context(), resourceGroupNameParam, gatewayNameParam, hostnameBindingNameParam, nil)
	if respErr := server.GetError(errRespr, req); respErr != nil {
		return nil, respErr
	}
	respContent := server.GetResponseContent(respr)
	if !contains([]int{http.StatusOK}, respContent.HTTPStatus) {
		return nil, &nonRetriableError{fmt.Errorf("unexpected status code %d. acceptable values are http.StatusOK", respContent.HTTPStatus)}
	}
	resp, err := server.MarshalResponseAsJSON(respContent, server.GetResponse(respr).GatewayHostnameBindingResource, req)
	if err != nil {
		return nil, err
	}
	return resp, nil
}

func (a *APIGatewayHostnameBindingServerTransport) dispatchNewListByGatewayPager(req *http.Request) (*http.Response, error) {
	if a.srv.NewListByGatewayPager == nil {
		return nil, &nonRetriableError{errors.New("fake for method NewListByGatewayPager not implemented")}
	}
	newListByGatewayPager := a.newListByGatewayPager.get(req)
	if newListByGatewayPager == nil {
		const regexStr = `/subscriptions/(?P<subscriptionId>[!#&$-;=?-\[\]_a-zA-Z0-9~%@]+)/resourceGroups/(?P<resourceGroupName>[!#&$-;=?-\[\]_a-zA-Z0-9~%@]+)/providers/Microsoft\.ApiManagement/gateways/(?P<gatewayName>[!#&$-;=?-\[\]_a-zA-Z0-9~%@]+)/hostnameBindings`
		regex := regexp.MustCompile(regexStr)
		matches := regex.FindStringSubmatch(req.URL.EscapedPath())
		if len(matches) < 4 {
			return nil, fmt.Errorf("failed to parse path %s", req.URL.Path)
		}
		resourceGroupNameParam, err := url.PathUnescape(matches[regex.SubexpIndex("resourceGroupName")])
		if err != nil {
			return nil, err
		}
		gatewayNameParam, err := url.PathUnescape(matches[regex.SubexpIndex("gatewayName")])
		if err != nil {
			return nil, err
		}
		resp := a.srv.NewListByGatewayPager(resourceGroupNameParam, gatewayNameParam, nil)
		newListByGatewayPager = &resp
		a.newListByGatewayPager.add(req, newListByGatewayPager)
		server.PagerResponderInjectNextLinks(newListByGatewayPager, req, func(page *armapimanagement.APIGatewayHostnameBindingClientListByGatewayResponse, createLink func() string) {
			page.NextLink = to.Ptr(createLink())
		})
	}
	resp, err := server.PagerResponderNext(newListByGatewayPager, req)
	if err != nil {
		return nil, err
	}
	if !contains([]int{http.StatusOK}, resp.StatusCode) {
		a.newListByGatewayPager.remove(req)
		return nil, &nonRetriableError{fmt.Errorf("unexpected status code %d. acceptable values are http.StatusOK", resp.StatusCode)}
	}
	if !server.PagerResponderMore(newListByGatewayPager) {
		a.newListByGatewayPager.remove(req)
	}
	return resp, nil
}

func (a *APIGatewayHostnameBindingServerTransport) dispatchBeginRefreshSecret(req *http.Request) (*http.Response, error) {
	if a.srv.BeginRefreshSecret == nil {
		return nil, &nonRetriableError{errors.New("fake for method BeginRefreshSecret not implemented")}
	}
	beginRefreshSecret := a.beginRefreshSecret.get(req)
	if beginRefreshSecret == nil {
		const regexStr = `/subscriptions/(?P<subscriptionId>[!#&$-;=?-\[\]_a-zA-Z0-9~%@]+)/resourceGroups/(?P<resourceGroupName>[!#&$-;=?-\[\]_a-zA-Z0-9~%@]+)/providers/Microsoft\.ApiManagement/gateways/(?P<gatewayName>[!#&$-;=?-\[\]_a-zA-Z0-9~%@]+)/hostnameBindings/(?P<hostnameBindingName>[!#&$-;=?-\[\]_a-zA-Z0-9~%@]+)/refreshSecret`
		regex := regexp.MustCompile(regexStr)
		matches := regex.FindStringSubmatch(req.URL.EscapedPath())
		if len(matches) < 5 {
			return nil, fmt.Errorf("failed to parse path %s", req.URL.Path)
		}
		resourceGroupNameParam, err := url.PathUnescape(matches[regex.SubexpIndex("resourceGroupName")])
		if err != nil {
			return nil, err
		}
		gatewayNameParam, err := url.PathUnescape(matches[regex.SubexpIndex("gatewayName")])
		if err != nil {
			return nil, err
		}
		hostnameBindingNameParam, err := url.PathUnescape(matches[regex.SubexpIndex("hostnameBindingName")])
		if err != nil {
			return nil, err
		}
		respr, errRespr := a.srv.BeginRefreshSecret(req.Context(), resourceGroupNameParam, gatewayNameParam, hostnameBindingNameParam, nil)
		if respErr := server.GetError(errRespr, req); respErr != nil {
			return nil, respErr
		}
		beginRefreshSecret = &respr
		a.beginRefreshSecret.add(req, beginRefreshSecret)
	}

	resp, err := server.PollerResponderNext(beginRefreshSecret, req)
	if err != nil {
		return nil, err
	}

	if !contains([]int{http.StatusOK, http.StatusAccepted, http.StatusNoContent}, resp.StatusCode) {
		a.beginRefreshSecret.remove(req)
		return nil, &nonRetriableError{fmt.Errorf("unexpected status code %d. acceptable values are http.StatusOK, http.StatusAccepted, http.StatusNoContent", resp.StatusCode)}
	}
	if !server.PollerResponderMore(beginRefreshSecret) {
		a.beginRefreshSecret.remove(req)
	}

	return resp, nil
}

// set this to conditionally intercept incoming requests to APIGatewayHostnameBindingServerTransport
var apiGatewayHostnameBindingServerTransportInterceptor interface {
	// Do returns true if the server transport should use the returned response/error
	Do(*http.Request) (*http.Response, error, bool)
}
