// Copyright (c) Microsoft Corporation. All rights reserved.
// Licensed under the MIT License. See License.txt in the project root for license information.
// Code generated by Microsoft (R) AutoRest Code Generator. DO NOT EDIT.
// Changes may cause incorrect behavior and will be lost if the code is regenerated.

package fake

import (
	"context"
	"errors"
	"fmt"
	azfake "github.com/Azure/azure-sdk-for-go/sdk/azcore/fake"
	"github.com/Azure/azure-sdk-for-go/sdk/azcore/fake/server"
	"github.com/Azure/azure-sdk-for-go/sdk/azcore/runtime"
	"github.com/Azure/azure-sdk-for-go/sdk/azcore/to"
	"github.com/Azure/azure-sdk-for-go/sdk/resourcemanager/apimanagement/armapimanagement/v3"
	"net/http"
	"net/url"
	"regexp"
	"strconv"
)

// ClientApplicationProductLinkServer is a fake server for instances of the armapimanagement.ClientApplicationProductLinkClient type.
type ClientApplicationProductLinkServer struct {
	// Create is the fake for method ClientApplicationProductLinkClient.Create
	// HTTP status codes to indicate success: http.StatusOK, http.StatusCreated
	Create func(ctx context.Context, resourceGroupName string, serviceName string, clientApplicationID string, clientApplicationProductLinkID string, parameters armapimanagement.ClientApplicationProductLinkContract, options *armapimanagement.ClientApplicationProductLinkClientCreateOptions) (resp azfake.Responder[armapimanagement.ClientApplicationProductLinkClientCreateResponse], errResp azfake.ErrorResponder)

	// Delete is the fake for method ClientApplicationProductLinkClient.Delete
	// HTTP status codes to indicate success: http.StatusOK, http.StatusNoContent
	Delete func(ctx context.Context, resourceGroupName string, serviceName string, clientApplicationID string, clientApplicationProductLinkID string, options *armapimanagement.ClientApplicationProductLinkClientDeleteOptions) (resp azfake.Responder[armapimanagement.ClientApplicationProductLinkClientDeleteResponse], errResp azfake.ErrorResponder)

	// Get is the fake for method ClientApplicationProductLinkClient.Get
	// HTTP status codes to indicate success: http.StatusOK
	Get func(ctx context.Context, resourceGroupName string, serviceName string, clientApplicationID string, clientApplicationProductLinkID string, options *armapimanagement.ClientApplicationProductLinkClientGetOptions) (resp azfake.Responder[armapimanagement.ClientApplicationProductLinkClientGetResponse], errResp azfake.ErrorResponder)

	// NewListByClientApplicationsPager is the fake for method ClientApplicationProductLinkClient.NewListByClientApplicationsPager
	// HTTP status codes to indicate success: http.StatusOK
	NewListByClientApplicationsPager func(resourceGroupName string, serviceName string, clientApplicationID string, options *armapimanagement.ClientApplicationProductLinkClientListByClientApplicationsOptions) (resp azfake.PagerResponder[armapimanagement.ClientApplicationProductLinkClientListByClientApplicationsResponse])
}

// NewClientApplicationProductLinkServerTransport creates a new instance of ClientApplicationProductLinkServerTransport with the provided implementation.
// The returned ClientApplicationProductLinkServerTransport instance is connected to an instance of armapimanagement.ClientApplicationProductLinkClient via the
// azcore.ClientOptions.Transporter field in the client's constructor parameters.
func NewClientApplicationProductLinkServerTransport(srv *ClientApplicationProductLinkServer) *ClientApplicationProductLinkServerTransport {
	return &ClientApplicationProductLinkServerTransport{
		srv:                              srv,
		newListByClientApplicationsPager: newTracker[azfake.PagerResponder[armapimanagement.ClientApplicationProductLinkClientListByClientApplicationsResponse]](),
	}
}

// ClientApplicationProductLinkServerTransport connects instances of armapimanagement.ClientApplicationProductLinkClient to instances of ClientApplicationProductLinkServer.
// Don't use this type directly, use NewClientApplicationProductLinkServerTransport instead.
type ClientApplicationProductLinkServerTransport struct {
	srv                              *ClientApplicationProductLinkServer
	newListByClientApplicationsPager *tracker[azfake.PagerResponder[armapimanagement.ClientApplicationProductLinkClientListByClientApplicationsResponse]]
}

// Do implements the policy.Transporter interface for ClientApplicationProductLinkServerTransport.
func (c *ClientApplicationProductLinkServerTransport) Do(req *http.Request) (*http.Response, error) {
	rawMethod := req.Context().Value(runtime.CtxAPINameKey{})
	method, ok := rawMethod.(string)
	if !ok {
		return nil, nonRetriableError{errors.New("unable to dispatch request, missing value for CtxAPINameKey")}
	}

	return c.dispatchToMethodFake(req, method)
}

func (c *ClientApplicationProductLinkServerTransport) dispatchToMethodFake(req *http.Request, method string) (*http.Response, error) {
	resultChan := make(chan result)
	defer close(resultChan)

	go func() {
		var intercepted bool
		var res result
		if clientApplicationProductLinkServerTransportInterceptor != nil {
			res.resp, res.err, intercepted = clientApplicationProductLinkServerTransportInterceptor.Do(req)
		}
		if !intercepted {
			switch method {
			case "ClientApplicationProductLinkClient.Create":
				res.resp, res.err = c.dispatchCreate(req)
			case "ClientApplicationProductLinkClient.Delete":
				res.resp, res.err = c.dispatchDelete(req)
			case "ClientApplicationProductLinkClient.Get":
				res.resp, res.err = c.dispatchGet(req)
			case "ClientApplicationProductLinkClient.NewListByClientApplicationsPager":
				res.resp, res.err = c.dispatchNewListByClientApplicationsPager(req)
			default:
				res.err = fmt.Errorf("unhandled API %s", method)
			}

		}
		select {
		case resultChan <- res:
		case <-req.Context().Done():
		}
	}()

	select {
	case <-req.Context().Done():
		return nil, req.Context().Err()
	case res := <-resultChan:
		return res.resp, res.err
	}
}

func (c *ClientApplicationProductLinkServerTransport) dispatchCreate(req *http.Request) (*http.Response, error) {
	if c.srv.Create == nil {
		return nil, &nonRetriableError{errors.New("fake for method Create not implemented")}
	}
	const regexStr = `/subscriptions/(?P<subscriptionId>[!#&$-;=?-\[\]_a-zA-Z0-9~%@]+)/resourceGroups/(?P<resourceGroupName>[!#&$-;=?-\[\]_a-zA-Z0-9~%@]+)/providers/Microsoft\.ApiManagement/service/(?P<serviceName>[!#&$-;=?-\[\]_a-zA-Z0-9~%@]+)/clientApplications/(?P<clientApplicationId>[!#&$-;=?-\[\]_a-zA-Z0-9~%@]+)/productLinks/(?P<clientApplicationProductLinkId>[!#&$-;=?-\[\]_a-zA-Z0-9~%@]+)`
	regex := regexp.MustCompile(regexStr)
	matches := regex.FindStringSubmatch(req.URL.EscapedPath())
	if len(matches) < 6 {
		return nil, fmt.Errorf("failed to parse path %s", req.URL.Path)
	}
	body, err := server.UnmarshalRequestAsJSON[armapimanagement.ClientApplicationProductLinkContract](req)
	if err != nil {
		return nil, err
	}
	resourceGroupNameParam, err := url.PathUnescape(matches[regex.SubexpIndex("resourceGroupName")])
	if err != nil {
		return nil, err
	}
	serviceNameParam, err := url.PathUnescape(matches[regex.SubexpIndex("serviceName")])
	if err != nil {
		return nil, err
	}
	clientApplicationIDParam, err := url.PathUnescape(matches[regex.SubexpIndex("clientApplicationId")])
	if err != nil {
		return nil, err
	}
	clientApplicationProductLinkIDParam, err := url.PathUnescape(matches[regex.SubexpIndex("clientApplicationProductLinkId")])
	if err != nil {
		return nil, err
	}
	respr, errRespr := c.srv.Create(req.Context(), resourceGroupNameParam, serviceNameParam, clientApplicationIDParam, clientApplicationProductLinkIDParam, body, nil)
	if respErr := server.GetError(errRespr, req); respErr != nil {
		return nil, respErr
	}
	respContent := server.GetResponseContent(respr)
	if !contains([]int{http.StatusOK, http.StatusCreated}, respContent.HTTPStatus) {
		return nil, &nonRetriableError{fmt.Errorf("unexpected status code %d. acceptable values are http.StatusOK, http.StatusCreated", respContent.HTTPStatus)}
	}
	resp, err := server.MarshalResponseAsJSON(respContent, server.GetResponse(respr).ClientApplicationProductLinkContract, req)
	if err != nil {
		return nil, err
	}
	return resp, nil
}

func (c *ClientApplicationProductLinkServerTransport) dispatchDelete(req *http.Request) (*http.Response, error) {
	if c.srv.Delete == nil {
		return nil, &nonRetriableError{errors.New("fake for method Delete not implemented")}
	}
	const regexStr = `/subscriptions/(?P<subscriptionId>[!#&$-;=?-\[\]_a-zA-Z0-9~%@]+)/resourceGroups/(?P<resourceGroupName>[!#&$-;=?-\[\]_a-zA-Z0-9~%@]+)/providers/Microsoft\.ApiManagement/service/(?P<serviceName>[!#&$-;=?-\[\]_a-zA-Z0-9~%@]+)/clientApplications/(?P<clientApplicationId>[!#&$-;=?-\[\]_a-zA-Z0-9~%@]+)/productLinks/(?P<clientApplicationProductLinkId>[!#&$-;=?-\[\]_a-zA-Z0-9~%@]+)`
	regex := regexp.MustCompile(regexStr)
	matches := regex.FindStringSubmatch(req.URL.EscapedPath())
	if len(matches) < 6 {
		return nil, fmt.Errorf("failed to parse path %s", req.URL.Path)
	}
	resourceGroupNameParam, err := url.PathUnescape(matches[regex.SubexpIndex("resourceGroupName")])
	if err != nil {
		return nil, err
	}
	serviceNameParam, err := url.PathUnescape(matches[regex.SubexpIndex("serviceName")])
	if err != nil {
		return nil, err
	}
	clientApplicationIDParam, err := url.PathUnescape(matches[regex.SubexpIndex("clientApplicationId")])
	if err != nil {
		return nil, err
	}
	clientApplicationProductLinkIDParam, err := url.PathUnescape(matches[regex.SubexpIndex("clientApplicationProductLinkId")])
	if err != nil {
		return nil, err
	}
	respr, errRespr := c.srv.Delete(req.Context(), resourceGroupNameParam, serviceNameParam, clientApplicationIDParam, clientApplicationProductLinkIDParam, nil)
	if respErr := server.GetError(errRespr, req); respErr != nil {
		return nil, respErr
	}
	respContent := server.GetResponseContent(respr)
	if !contains([]int{http.StatusOK, http.StatusNoContent}, respContent.HTTPStatus) {
		return nil, &nonRetriableError{fmt.Errorf("unexpected status code %d. acceptable values are http.StatusOK, http.StatusNoContent", respContent.HTTPStatus)}
	}
	resp, err := server.NewResponse(respContent, req, nil)
	if err != nil {
		return nil, err
	}
	return resp, nil
}

func (c *ClientApplicationProductLinkServerTransport) dispatchGet(req *http.Request) (*http.Response, error) {
	if c.srv.Get == nil {
		return nil, &nonRetriableError{errors.New("fake for method Get not implemented")}
	}
	const regexStr = `/subscriptions/(?P<subscriptionId>[!#&$-;=?-\[\]_a-zA-Z0-9~%@]+)/resourceGroups/(?P<resourceGroupName>[!#&$-;=?-\[\]_a-zA-Z0-9~%@]+)/providers/Microsoft\.ApiManagement/service/(?P<serviceName>[!#&$-;=?-\[\]_a-zA-Z0-9~%@]+)/clientApplications/(?P<clientApplicationId>[!#&$-;=?-\[\]_a-zA-Z0-9~%@]+)/productLinks/(?P<clientApplicationProductLinkId>[!#&$-;=?-\[\]_a-zA-Z0-9~%@]+)`
	regex := regexp.MustCompile(regexStr)
	matches := regex.FindStringSubmatch(req.URL.EscapedPath())
	if len(matches) < 6 {
		return nil, fmt.Errorf("failed to parse path %s", req.URL.Path)
	}
	resourceGroupNameParam, err := url.PathUnescape(matches[regex.SubexpIndex("resourceGroupName")])
	if err != nil {
		return nil, err
	}
	serviceNameParam, err := url.PathUnescape(matches[regex.SubexpIndex("serviceName")])
	if err != nil {
		return nil, err
	}
	clientApplicationIDParam, err := url.PathUnescape(matches[regex.SubexpIndex("clientApplicationId")])
	if err != nil {
		return nil, err
	}
	clientApplicationProductLinkIDParam, err := url.PathUnescape(matches[regex.SubexpIndex("clientApplicationProductLinkId")])
	if err != nil {
		return nil, err
	}
	respr, errRespr := c.srv.Get(req.Context(), resourceGroupNameParam, serviceNameParam, clientApplicationIDParam, clientApplicationProductLinkIDParam, nil)
	if respErr := server.GetError(errRespr, req); respErr != nil {
		return nil, respErr
	}
	respContent := server.GetResponseContent(respr)
	if !contains([]int{http.StatusOK}, respContent.HTTPStatus) {
		return nil, &nonRetriableError{fmt.Errorf("unexpected status code %d. acceptable values are http.StatusOK", respContent.HTTPStatus)}
	}
	resp, err := server.MarshalResponseAsJSON(respContent, server.GetResponse(respr).ClientApplicationProductLinkContract, req)
	if err != nil {
		return nil, err
	}
	if val := server.GetResponse(respr).ETag; val != nil {
		resp.Header.Set("ETag", *val)
	}
	return resp, nil
}

func (c *ClientApplicationProductLinkServerTransport) dispatchNewListByClientApplicationsPager(req *http.Request) (*http.Response, error) {
	if c.srv.NewListByClientApplicationsPager == nil {
		return nil, &nonRetriableError{errors.New("fake for method NewListByClientApplicationsPager not implemented")}
	}
	newListByClientApplicationsPager := c.newListByClientApplicationsPager.get(req)
	if newListByClientApplicationsPager == nil {
		const regexStr = `/subscriptions/(?P<subscriptionId>[!#&$-;=?-\[\]_a-zA-Z0-9~%@]+)/resourceGroups/(?P<resourceGroupName>[!#&$-;=?-\[\]_a-zA-Z0-9~%@]+)/providers/Microsoft\.ApiManagement/service/(?P<serviceName>[!#&$-;=?-\[\]_a-zA-Z0-9~%@]+)/clientApplications/(?P<clientApplicationId>[!#&$-;=?-\[\]_a-zA-Z0-9~%@]+)/productLinks`
		regex := regexp.MustCompile(regexStr)
		matches := regex.FindStringSubmatch(req.URL.EscapedPath())
		if len(matches) < 5 {
			return nil, fmt.Errorf("failed to parse path %s", req.URL.Path)
		}
		qp := req.URL.Query()
		resourceGroupNameParam, err := url.PathUnescape(matches[regex.SubexpIndex("resourceGroupName")])
		if err != nil {
			return nil, err
		}
		serviceNameParam, err := url.PathUnescape(matches[regex.SubexpIndex("serviceName")])
		if err != nil {
			return nil, err
		}
		clientApplicationIDParam, err := url.PathUnescape(matches[regex.SubexpIndex("clientApplicationId")])
		if err != nil {
			return nil, err
		}
		topUnescaped, err := url.QueryUnescape(qp.Get("$top"))
		if err != nil {
			return nil, err
		}
		topParam, err := parseOptional(topUnescaped, func(v string) (int32, error) {
			p, parseErr := strconv.ParseInt(v, 10, 32)
			if parseErr != nil {
				return 0, parseErr
			}
			return int32(p), nil
		})
		if err != nil {
			return nil, err
		}
		skipUnescaped, err := url.QueryUnescape(qp.Get("$skip"))
		if err != nil {
			return nil, err
		}
		skipParam, err := parseOptional(skipUnescaped, func(v string) (int32, error) {
			p, parseErr := strconv.ParseInt(v, 10, 32)
			if parseErr != nil {
				return 0, parseErr
			}
			return int32(p), nil
		})
		if err != nil {
			return nil, err
		}
		var options *armapimanagement.ClientApplicationProductLinkClientListByClientApplicationsOptions
		if topParam != nil || skipParam != nil {
			options = &armapimanagement.ClientApplicationProductLinkClientListByClientApplicationsOptions{
				Top:  topParam,
				Skip: skipParam,
			}
		}
		resp := c.srv.NewListByClientApplicationsPager(resourceGroupNameParam, serviceNameParam, clientApplicationIDParam, options)
		newListByClientApplicationsPager = &resp
		c.newListByClientApplicationsPager.add(req, newListByClientApplicationsPager)
		server.PagerResponderInjectNextLinks(newListByClientApplicationsPager, req, func(page *armapimanagement.ClientApplicationProductLinkClientListByClientApplicationsResponse, createLink func() string) {
			page.NextLink = to.Ptr(createLink())
		})
	}
	resp, err := server.PagerResponderNext(newListByClientApplicationsPager, req)
	if err != nil {
		return nil, err
	}
	if !contains([]int{http.StatusOK}, resp.StatusCode) {
		c.newListByClientApplicationsPager.remove(req)
		return nil, &nonRetriableError{fmt.Errorf("unexpected status code %d. acceptable values are http.StatusOK", resp.StatusCode)}
	}
	if !server.PagerResponderMore(newListByClientApplicationsPager) {
		c.newListByClientApplicationsPager.remove(req)
	}
	return resp, nil
}

// set this to conditionally intercept incoming requests to ClientApplicationProductLinkServerTransport
var clientApplicationProductLinkServerTransportInterceptor interface {
	// Do returns true if the server transport should use the returned response/error
	Do(*http.Request) (*http.Response, error, bool)
}
