---
version: 1
interactions:
- request:
    body: '{"TableName":"gotablee1ndt6xm7zubo"}'
    form: {}
    headers:
      Authorization:
      - sanitized
      Content-Type:
      - application/json
      Dataserviceversion:
      - "3.0"
      X-Ms-Date:
      - Thu, 20 May 2021 22:46:41 GMT
      X-Ms-Version:
      - "2019-02-02"
    url: https://chrisstablesprim.table.core.windows.net/Tables
    method: POST
  response:
    body: '{"odata.metadata":"https://chrisstablesprim.table.core.windows.net/$metadata#Tables/@Element","TableName":"gotablee1ndt6xm7zubo"}'
    headers:
      Content-Type:
      - application/json;odata=minimalmetadata;streaming=true;charset=utf-8
      Location:
      - https://chrisstablesprim.table.core.windows.net/Tables('gotablee1ndt6xm7zubo')
      X-Ms-Version:
      - "2019-02-02"
    status: 201 Created
    code: 201
    duration: ""
- request:
    body: "--batch_7d1ab458-cebe-4852-5182-f2b844f623a0\r\nContent-Type: multipart/mixed;
      boundary=changeset_be1008bf-6b11-4d5e-5b27-4e96add8f587\r\n\r\n--changeset_be1008bf-6b11-4d5e-5b27-4e96add8f587\r\nContent-Transfer-Encoding:
      binary\r\nContent-Type: application/http\r\n\r\nPOST https://chrisstablesprim.table.core.windows.net/gotablee1ndt6xm7zubo?%24format=application%2Fjson%3Bodata%3Dminimalmetadata
      HTTP/1.1\r\nAccept: application/json;odata=minimalmetadata\r\nContent-Length:
      663\r\nContent-Type: application/json\r\nDataserviceversion: 3.0\r\nPrefer:
      return-no-content\r\nX-Ms-Version: 2019-02-02\r\n\r\n{\"BoolProp\":true,\"IntProp\":1,\"PartitionKey\":\"partition\",\"RowKey\":\"1\",\"SomeBinaryProperty\":\"c29tZSBieXRlcw==\",\"SomeBinaryProperty@odata.type\":\"Edm.Binary\",\"SomeDateProperty\":\"2021-05-20T22:46:42.7684712Z\",\"SomeDateProperty@odata.type\":\"Edm.DateTime\",\"SomeDoubleProperty0\":1,\"SomeDoubleProperty0@odata.type\":\"Edm.Double\",\"SomeDoubleProperty1\":1.2345,\"SomeDoubleProperty1@odata.type\":\"Edm.Double\",\"SomeGuidProperty\":\"2ffbe1e2-edcf-4eee-6c0c-e13a80883cfe\",\"SomeGuidProperty@odata.type\":\"Edm.Guid\",\"SomeInt64Property\":\"9223372036854775807\",\"SomeInt64Property@odata.type\":\"Edm.Int64\",\"SomeIntProperty\":42,\"SomeStringProperty\":\"some
      string\",\"StringProp\":\"some string 1\"}\r\n--changeset_be1008bf-6b11-4d5e-5b27-4e96add8f587\r\nContent-Transfer-Encoding:
      binary\r\nContent-Type: application/http\r\n\r\nPOST https://chrisstablesprim.table.core.windows.net/gotablee1ndt6xm7zubo?%24format=application%2Fjson%3Bodata%3Dminimalmetadata
      HTTP/1.1\r\nAccept: application/json;odata=minimalmetadata\r\nContent-Length:
      663\r\nContent-Type: application/json\r\nDataserviceversion: 3.0\r\nPrefer:
      return-no-content\r\nX-Ms-Version: 2019-02-0[...]
- request:
    body: "--batch_b1ef9f8c-1c63-46fe-6145-8c4fb203a20b\r\nContent-Type: multipart/mixed;
      boundary=changeset_11ff47e1-14ef-4682-7d2a-88f540d3d126\r\n\r\n--changeset_11ff47e1-14ef-4682-7d2a-88f540d3d126\r\nContent-Transfer-Encoding:
      binary\r\nContent-Type: application/http\r\n\r\nPUT https://chrisstablesprim.table.core.windows.net/gotablee1ndt6xm7zubo(PartitionKey='partition',RowKey='1')?%24format=application%2Fjson%3Bodata%3Dminimalmetadata
      HTTP/1.1\r\nAccept: application/json\r\nContent-Length: 63\r\nContent-Type:
      application/json\r\nDataserviceversion: 3.0\r\nIf-Match: W/\"datetime'2021-05-20T22%3A46%3A43.1762114Z'\"\r\nX-Ms-Version:
      2019-02-02\r\n\r\n{\"MergeProperty\":\"foo\",\"PartitionKey\":\"partition\",\"RowKey\":\"1\"}\r\n--changeset_11ff47e1-14ef-4682-7d2a-88f540d3d126\r\nContent-Transfer-Encoding:
      binary\r\nContent-Type: application/http\r\n\r\nDELETE https://chrisstablesprim.table.core.windows.net/gotablee1ndt6xm7zubo(PartitionKey='partition',RowKey='2')?%24format=application%2Fjson%3Bodata%3Dminimalmetadata
      HTTP/1.1\r\nAccept: application/json;odata=minimalmetadata\r\nDataserviceversion:
      3.0\r\nIf-Match: \r\nX-Ms-Version: 2019-02-02\r\n\r\n\r\n--changeset_11ff47e1-14ef-4682-7d2a-88f540d3d126\r\nContent-Transfer-Encoding:
      binary\r\nContent-Type: application/http\r\n\r\nPATCH https://chrisstablesprim.table.core.windows.net/gotablee1ndt6xm7zubo(PartitionKey='partition',RowKey='3')?%24format=application%2Fjson%3Bodata%3Dminimalmetadata
      HTTP/1.1\r\nAccept: application/json\r\nContent-Length: 65\r\nContent-Type:
      application/json\r\nDataserviceversion: 3.0\r\nX-Ms-Version: 2019-02-02\r\n\r\n{\"PartitionKey\":\"partition\",\"ReplaceProperty\":\"foo\",\"RowKey\":\"3\"}\r\n--changeset_11ff47e1-14ef-4682-7d2a-88f540d3d126\r\nContent-Transfer-Encoding:
      binary\r\nContent-Type: application/http\r\n\r\nPOST https://chrisstablesprim.table.core.windows.net/gotablee1ndt6xm7zubo?%24format=application%2Fjson%3Bodata%3Dminimalmetadata
      HTTP/1.1\r\nAccept: application/json;odata=minimalmetadata\r\nContent-Length:
      663\r\nContent-Type: application/json\r\nDataserviceversion: 3.0\r\nPrefer:
      return-no-content\r\nX-Ms-Version: 20[...]
- request:
    body: ""
    form: {}
    headers:
      Authorization:
      - sanitized
      X-Ms-Date:
      - Thu, 20 May 2021 22:46:42 GMT
      X-Ms-Version:
      - "2019-02-02"
    url: https://chrisstablesprim.table.core.windows.net/Tables('gotablee1ndt6xm7zubo')
    method: DELETE
  response:
    body: ""
    headers:
      X-Ms-Version:
      - "2019-02-02"
    status: 204 No Content
    code: 204
    duration: ""
