// Copyright (c) Microsoft Corporation. All rights reserved.
// Licensed under the MIT License. See License.txt in the project root for license information.
// Code generated by Microsoft (R) AutoRest Code Generator. DO NOT EDIT.
// Changes may cause incorrect behavior and will be lost if the code is regenerated.

package armapimanagement

import (
	"context"
	"errors"
	"github.com/Azure/azure-sdk-for-go/sdk/azcore"
	"github.com/Azure/azure-sdk-for-go/sdk/azcore/arm"
	"github.com/Azure/azure-sdk-for-go/sdk/azcore/policy"
	"github.com/Azure/azure-sdk-for-go/sdk/azcore/runtime"
	"net/http"
	"net/url"
	"strconv"
	"strings"
)

// ClientApplicationProductLinkClient contains the methods for the ClientApplicationProductLink group.
// Don't use this type directly, use NewClientApplicationProductLinkClient() instead.
type ClientApplicationProductLinkClient struct {
	internal       *arm.Client
	subscriptionID string
}

// NewClientApplicationProductLinkClient creates a new instance of ClientApplicationProductLinkClient with the specified values.
//   - subscriptionID - The ID of the target subscription. The value must be an UUID.
//   - credential - used to authorize requests. Usually a credential from azidentity.
//   - options - Contains optional client configuration. Pass nil to accept the default values.
func NewClientApplicationProductLinkClient(subscriptionID string, credential azcore.TokenCredential, options *arm.ClientOptions) (*ClientApplicationProductLinkClient, error) {
	cl, err := arm.NewClient(moduleName, moduleVersion, credential, options)
	if err != nil {
		return nil, err
	}
	client := &ClientApplicationProductLinkClient{
		subscriptionID: subscriptionID,
		internal:       cl,
	}
	return client, nil
}

// Create - Adds an Product to the specified Client Application via link.
// If the operation fails it returns an *azcore.ResponseError type.
//
// Generated from API version 2025-03-01-preview
//   - resourceGroupName - The name of the resource group. The name is case insensitive.
//   - serviceName - The name of the API Management service.
//   - clientApplicationID - Client Application identifier. Must be unique in the current API Management service instance.
//   - clientApplicationProductLinkID - Client Application Product Link identifier. Must be unique in the current API Management
//     service instance.
//   - parameters - Create parameters.
//   - options - ClientApplicationProductLinkClientCreateOptions contains the optional parameters for the ClientApplicationProductLinkClient.Create
//     method.
func (client *ClientApplicationProductLinkClient) Create(ctx context.Context, resourceGroupName string, serviceName string, clientApplicationID string, clientApplicationProductLinkID string, parameters ClientApplicationProductLinkContract, options *ClientApplicationProductLinkClientCreateOptions) (ClientApplicationProductLinkClientCreateResponse, error) {
	var err error
	const operationName = "ClientApplicationProductLinkClient.Create"
	ctx = context.WithValue(ctx, runtime.CtxAPINameKey{}, operationName)
	ctx, endSpan := runtime.StartSpan(ctx, operationName, client.internal.Tracer(), nil)
	defer func() { endSpan(err) }()
	req, err := client.createCreateRequest(ctx, resourceGroupName, serviceName, clientApplicationID, clientApplicationProductLinkID, parameters, options)
	if err != nil {
		return ClientApplicationProductLinkClientCreateResponse{}, err
	}
	httpResp, err := client.internal.Pipeline().Do(req)
	if err != nil {
		return ClientApplicationProductLinkClientCreateResponse{}, err
	}
	if !runtime.HasStatusCode(httpResp, http.StatusOK, http.StatusCreated) {
		err = runtime.NewResponseError(httpResp)
		return ClientApplicationProductLinkClientCreateResponse{}, err
	}
	resp, err := client.createHandleResponse(httpResp)
	return resp, err
}

// createCreateRequest creates the Create request.
func (client *ClientApplicationProductLinkClient) createCreateRequest(ctx context.Context, resourceGroupName string, serviceName string, clientApplicationID string, clientApplicationProductLinkID string, parameters ClientApplicationProductLinkContract, _ *ClientApplicationProductLinkClientCreateOptions) (*policy.Request, error) {
	urlPath := "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ApiManagement/service/{serviceName}/clientApplications/{clientApplicationId}/productLinks/{clientApplicationProductLinkId}"
	if resourceGroupName == "" {
		return nil, errors.New("parameter resourceGroupName cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{resourceGroupName}", url.PathEscape(resourceGroupName))
	if serviceName == "" {
		return nil, errors.New("parameter serviceName cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{serviceName}", url.PathEscape(serviceName))
	if clientApplicationID == "" {
		return nil, errors.New("parameter clientApplicationID cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{clientApplicationId}", url.PathEscape(clientApplicationID))
	if clientApplicationProductLinkID == "" {
		return nil, errors.New("parameter clientApplicationProductLinkID cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{clientApplicationProductLinkId}", url.PathEscape(clientApplicationProductLinkID))
	if client.subscriptionID == "" {
		return nil, errors.New("parameter client.subscriptionID cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{subscriptionId}", url.PathEscape(client.subscriptionID))
	req, err := runtime.NewRequest(ctx, http.MethodPut, runtime.JoinPaths(client.internal.Endpoint(), urlPath))
	if err != nil {
		return nil, err
	}
	reqQP := req.Raw().URL.Query()
	reqQP.Set("api-version", "2025-03-01-preview")
	req.Raw().URL.RawQuery = reqQP.Encode()
	req.Raw().Header["Accept"] = []string{"application/json"}
	if err := runtime.MarshalAsJSON(req, parameters); err != nil {
		return nil, err
	}
	return req, nil
}

// createHandleResponse handles the Create response.
func (client *ClientApplicationProductLinkClient) createHandleResponse(resp *http.Response) (ClientApplicationProductLinkClientCreateResponse, error) {
	result := ClientApplicationProductLinkClientCreateResponse{}
	if err := runtime.UnmarshalAsJSON(resp, &result.ClientApplicationProductLinkContract); err != nil {
		return ClientApplicationProductLinkClientCreateResponse{}, err
	}
	return result, nil
}

// Delete - Deletes the specified Product from the specified client application.
// If the operation fails it returns an *azcore.ResponseError type.
//
// Generated from API version 2025-03-01-preview
//   - resourceGroupName - The name of the resource group. The name is case insensitive.
//   - serviceName - The name of the API Management service.
//   - clientApplicationID - Client Application identifier. Must be unique in the current API Management service instance.
//   - clientApplicationProductLinkID - Client Application Product Link identifier. Must be unique in the current API Management
//     service instance.
//   - options - ClientApplicationProductLinkClientDeleteOptions contains the optional parameters for the ClientApplicationProductLinkClient.Delete
//     method.
func (client *ClientApplicationProductLinkClient) Delete(ctx context.Context, resourceGroupName string, serviceName string, clientApplicationID string, clientApplicationProductLinkID string, options *ClientApplicationProductLinkClientDeleteOptions) (ClientApplicationProductLinkClientDeleteResponse, error) {
	var err error
	const operationName = "ClientApplicationProductLinkClient.Delete"
	ctx = context.WithValue(ctx, runtime.CtxAPINameKey{}, operationName)
	ctx, endSpan := runtime.StartSpan(ctx, operationName, client.internal.Tracer(), nil)
	defer func() { endSpan(err) }()
	req, err := client.deleteCreateRequest(ctx, resourceGroupName, serviceName, clientApplicationID, clientApplicationProductLinkID, options)
	if err != nil {
		return ClientApplicationProductLinkClientDeleteResponse{}, err
	}
	httpResp, err := client.internal.Pipeline().Do(req)
	if err != nil {
		return ClientApplicationProductLinkClientDeleteResponse{}, err
	}
	if !runtime.HasStatusCode(httpResp, http.StatusOK, http.StatusNoContent) {
		err = runtime.NewResponseError(httpResp)
		return ClientApplicationProductLinkClientDeleteResponse{}, err
	}
	return ClientApplicationProductLinkClientDeleteResponse{}, nil
}

// deleteCreateRequest creates the Delete request.
func (client *ClientApplicationProductLinkClient) deleteCreateRequest(ctx context.Context, resourceGroupName string, serviceName string, clientApplicationID string, clientApplicationProductLinkID string, _ *ClientApplicationProductLinkClientDeleteOptions) (*policy.Request, error) {
	urlPath := "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ApiManagement/service/{serviceName}/clientApplications/{clientApplicationId}/productLinks/{clientApplicationProductLinkId}"
	if resourceGroupName == "" {
		return nil, errors.New("parameter resourceGroupName cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{resourceGroupName}", url.PathEscape(resourceGroupName))
	if serviceName == "" {
		return nil, errors.New("parameter serviceName cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{serviceName}", url.PathEscape(serviceName))
	if clientApplicationID == "" {
		return nil, errors.New("parameter clientApplicationID cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{clientApplicationId}", url.PathEscape(clientApplicationID))
	if clientApplicationProductLinkID == "" {
		return nil, errors.New("parameter clientApplicationProductLinkID cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{clientApplicationProductLinkId}", url.PathEscape(clientApplicationProductLinkID))
	if client.subscriptionID == "" {
		return nil, errors.New("parameter client.subscriptionID cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{subscriptionId}", url.PathEscape(client.subscriptionID))
	req, err := runtime.NewRequest(ctx, http.MethodDelete, runtime.JoinPaths(client.internal.Endpoint(), urlPath))
	if err != nil {
		return nil, err
	}
	reqQP := req.Raw().URL.Query()
	reqQP.Set("api-version", "2025-03-01-preview")
	req.Raw().URL.RawQuery = reqQP.Encode()
	req.Raw().Header["Accept"] = []string{"application/json"}
	return req, nil
}

// Get - Gets the product link for the client application.
// If the operation fails it returns an *azcore.ResponseError type.
//
// Generated from API version 2025-03-01-preview
//   - resourceGroupName - The name of the resource group. The name is case insensitive.
//   - serviceName - The name of the API Management service.
//   - clientApplicationID - Client Application identifier. Must be unique in the current API Management service instance.
//   - clientApplicationProductLinkID - Client Application Product Link identifier. Must be unique in the current API Management
//     service instance.
//   - options - ClientApplicationProductLinkClientGetOptions contains the optional parameters for the ClientApplicationProductLinkClient.Get
//     method.
func (client *ClientApplicationProductLinkClient) Get(ctx context.Context, resourceGroupName string, serviceName string, clientApplicationID string, clientApplicationProductLinkID string, options *ClientApplicationProductLinkClientGetOptions) (ClientApplicationProductLinkClientGetResponse, error) {
	var err error
	const operationName = "ClientApplicationProductLinkClient.Get"
	ctx = context.WithValue(ctx, runtime.CtxAPINameKey{}, operationName)
	ctx, endSpan := runtime.StartSpan(ctx, operationName, client.internal.Tracer(), nil)
	defer func() { endSpan(err) }()
	req, err := client.getCreateRequest(ctx, resourceGroupName, serviceName, clientApplicationID, clientApplicationProductLinkID, options)
	if err != nil {
		return ClientApplicationProductLinkClientGetResponse{}, err
	}
	httpResp, err := client.internal.Pipeline().Do(req)
	if err != nil {
		return ClientApplicationProductLinkClientGetResponse{}, err
	}
	if !runtime.HasStatusCode(httpResp, http.StatusOK) {
		err = runtime.NewResponseError(httpResp)
		return ClientApplicationProductLinkClientGetResponse{}, err
	}
	resp, err := client.getHandleResponse(httpResp)
	return resp, err
}

// getCreateRequest creates the Get request.
func (client *ClientApplicationProductLinkClient) getCreateRequest(ctx context.Context, resourceGroupName string, serviceName string, clientApplicationID string, clientApplicationProductLinkID string, _ *ClientApplicationProductLinkClientGetOptions) (*policy.Request, error) {
	urlPath := "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ApiManagement/service/{serviceName}/clientApplications/{clientApplicationId}/productLinks/{clientApplicationProductLinkId}"
	if resourceGroupName == "" {
		return nil, errors.New("parameter resourceGroupName cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{resourceGroupName}", url.PathEscape(resourceGroupName))
	if serviceName == "" {
		return nil, errors.New("parameter serviceName cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{serviceName}", url.PathEscape(serviceName))
	if clientApplicationID == "" {
		return nil, errors.New("parameter clientApplicationID cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{clientApplicationId}", url.PathEscape(clientApplicationID))
	if clientApplicationProductLinkID == "" {
		return nil, errors.New("parameter clientApplicationProductLinkID cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{clientApplicationProductLinkId}", url.PathEscape(clientApplicationProductLinkID))
	if client.subscriptionID == "" {
		return nil, errors.New("parameter client.subscriptionID cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{subscriptionId}", url.PathEscape(client.subscriptionID))
	req, err := runtime.NewRequest(ctx, http.MethodGet, runtime.JoinPaths(client.internal.Endpoint(), urlPath))
	if err != nil {
		return nil, err
	}
	reqQP := req.Raw().URL.Query()
	reqQP.Set("api-version", "2025-03-01-preview")
	req.Raw().URL.RawQuery = reqQP.Encode()
	req.Raw().Header["Accept"] = []string{"application/json"}
	return req, nil
}

// getHandleResponse handles the Get response.
func (client *ClientApplicationProductLinkClient) getHandleResponse(resp *http.Response) (ClientApplicationProductLinkClientGetResponse, error) {
	result := ClientApplicationProductLinkClientGetResponse{}
	if val := resp.Header.Get("ETag"); val != "" {
		result.ETag = &val
	}
	if err := runtime.UnmarshalAsJSON(resp, &result.ClientApplicationProductLinkContract); err != nil {
		return ClientApplicationProductLinkClientGetResponse{}, err
	}
	return result, nil
}

// NewListByClientApplicationsPager - Lists a collection of product links associated with the specified client application.
//
// Generated from API version 2025-03-01-preview
//   - resourceGroupName - The name of the resource group. The name is case insensitive.
//   - serviceName - The name of the API Management service.
//   - clientApplicationID - Client Application identifier. Must be unique in the current API Management service instance.
//   - options - ClientApplicationProductLinkClientListByClientApplicationsOptions contains the optional parameters for the ClientApplicationProductLinkClient.NewListByClientApplicationsPager
//     method.
func (client *ClientApplicationProductLinkClient) NewListByClientApplicationsPager(resourceGroupName string, serviceName string, clientApplicationID string, options *ClientApplicationProductLinkClientListByClientApplicationsOptions) *runtime.Pager[ClientApplicationProductLinkClientListByClientApplicationsResponse] {
	return runtime.NewPager(runtime.PagingHandler[ClientApplicationProductLinkClientListByClientApplicationsResponse]{
		More: func(page ClientApplicationProductLinkClientListByClientApplicationsResponse) bool {
			return page.NextLink != nil && len(*page.NextLink) > 0
		},
		Fetcher: func(ctx context.Context, page *ClientApplicationProductLinkClientListByClientApplicationsResponse) (ClientApplicationProductLinkClientListByClientApplicationsResponse, error) {
			ctx = context.WithValue(ctx, runtime.CtxAPINameKey{}, "ClientApplicationProductLinkClient.NewListByClientApplicationsPager")
			nextLink := ""
			if page != nil {
				nextLink = *page.NextLink
			}
			resp, err := runtime.FetcherForNextLink(ctx, client.internal.Pipeline(), nextLink, func(ctx context.Context) (*policy.Request, error) {
				return client.listByClientApplicationsCreateRequest(ctx, resourceGroupName, serviceName, clientApplicationID, options)
			}, nil)
			if err != nil {
				return ClientApplicationProductLinkClientListByClientApplicationsResponse{}, err
			}
			return client.listByClientApplicationsHandleResponse(resp)
		},
		Tracer: client.internal.Tracer(),
	})
}

// listByClientApplicationsCreateRequest creates the ListByClientApplications request.
func (client *ClientApplicationProductLinkClient) listByClientApplicationsCreateRequest(ctx context.Context, resourceGroupName string, serviceName string, clientApplicationID string, options *ClientApplicationProductLinkClientListByClientApplicationsOptions) (*policy.Request, error) {
	urlPath := "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ApiManagement/service/{serviceName}/clientApplications/{clientApplicationId}/productLinks"
	if resourceGroupName == "" {
		return nil, errors.New("parameter resourceGroupName cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{resourceGroupName}", url.PathEscape(resourceGroupName))
	if serviceName == "" {
		return nil, errors.New("parameter serviceName cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{serviceName}", url.PathEscape(serviceName))
	if clientApplicationID == "" {
		return nil, errors.New("parameter clientApplicationID cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{clientApplicationId}", url.PathEscape(clientApplicationID))
	if client.subscriptionID == "" {
		return nil, errors.New("parameter client.subscriptionID cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{subscriptionId}", url.PathEscape(client.subscriptionID))
	req, err := runtime.NewRequest(ctx, http.MethodGet, runtime.JoinPaths(client.internal.Endpoint(), urlPath))
	if err != nil {
		return nil, err
	}
	reqQP := req.Raw().URL.Query()
	if options != nil && options.Skip != nil {
		reqQP.Set("$skip", strconv.FormatInt(int64(*options.Skip), 10))
	}
	if options != nil && options.Top != nil {
		reqQP.Set("$top", strconv.FormatInt(int64(*options.Top), 10))
	}
	reqQP.Set("api-version", "2025-03-01-preview")
	req.Raw().URL.RawQuery = reqQP.Encode()
	req.Raw().Header["Accept"] = []string{"application/json"}
	return req, nil
}

// listByClientApplicationsHandleResponse handles the ListByClientApplications response.
func (client *ClientApplicationProductLinkClient) listByClientApplicationsHandleResponse(resp *http.Response) (ClientApplicationProductLinkClientListByClientApplicationsResponse, error) {
	result := ClientApplicationProductLinkClientListByClientApplicationsResponse{}
	if err := runtime.UnmarshalAsJSON(resp, &result.ClientApplicationProductLinkCollection); err != nil {
		return ClientApplicationProductLinkClientListByClientApplicationsResponse{}, err
	}
	return result, nil
}
