//go:build go1.16
// +build go1.16

// Copyright (c) Microsoft Corporation. All rights reserved.
// Licensed under the MIT License. See License.txt in the project root for license information.
// Code generated by Microsoft (R) AutoRest Code Generator.
// Changes may cause incorrect behavior and will be lost if the code is regenerated.

package armapimanagement

import (
	"context"
	"errors"
	"fmt"
	"github.com/Azure/azure-sdk-for-go/sdk/azcore"
	"github.com/Azure/azure-sdk-for-go/sdk/azcore/arm"
	armruntime "github.com/Azure/azure-sdk-for-go/sdk/azcore/arm/runtime"
	"github.com/Azure/azure-sdk-for-go/sdk/azcore/policy"
	"github.com/Azure/azure-sdk-for-go/sdk/azcore/runtime"
	"net/http"
	"net/url"
	"strings"
)

// APIManagementServiceClient contains the methods for the APIManagementService group.
// Don't use this type directly, use NewAPIManagementServiceClient() instead.
type APIManagementServiceClient struct {
	ep             string
	pl             runtime.Pipeline
	subscriptionID string
}

// NewAPIManagementServiceClient creates a new instance of APIManagementServiceClient with the specified values.
func NewAPIManagementServiceClient(subscriptionID string, credential azcore.TokenCredential, options *arm.ClientOptions) *APIManagementServiceClient {
	cp := arm.ClientOptions{}
	if options != nil {
		cp = *options
	}
	if len(cp.Host) == 0 {
		cp.Host = arm.AzurePublicCloud
	}
	return &APIManagementServiceClient{subscriptionID: subscriptionID, ep: string(cp.Host), pl: armruntime.NewPipeline(module, version, credential, &cp)}
}

// BeginApplyNetworkConfigurationUpdates - Updates the Microsoft.ApiManagement resource running in the Virtual network to pick the updated DNS changes.
// If the operation fails it returns the *ErrorResponse error type.
func (client *APIManagementServiceClient) BeginApplyNetworkConfigurationUpdates(ctx context.Context, resourceGroupName string, serviceName string, options *APIManagementServiceBeginApplyNetworkConfigurationUpdatesOptions) (APIManagementServiceApplyNetworkConfigurationUpdatesPollerResponse, error) {
	resp, err := client.applyNetworkConfigurationUpdates(ctx, resourceGroupName, serviceName, options)
	if err != nil {
		return APIManagementServiceApplyNetworkConfigurationUpdatesPollerResponse{}, err
	}
	result := APIManagementServiceApplyNetworkConfigurationUpdatesPollerResponse{
		RawResponse: resp,
	}
	pt, err := armruntime.NewPoller("APIManagementServiceClient.ApplyNetworkConfigurationUpdates", "location", resp, client.pl, client.applyNetworkConfigurationUpdatesHandleError)
	if err != nil {
		return APIManagementServiceApplyNetworkConfigurationUpdatesPollerResponse{}, err
	}
	result.Poller = &APIManagementServiceApplyNetworkConfigurationUpdatesPoller{
		pt: pt,
	}
	return result, nil
}

// ApplyNetworkConfigurationUpdates - Updates the Microsoft.ApiManagement resource running in the Virtual network to pick the updated DNS changes.
// If the operation fails it returns the *ErrorResponse error type.
func (client *APIManagementServiceClient) applyNetworkConfigurationUpdates(ctx context.Context, resourceGroupName string, serviceName string, options *APIManagementServiceBeginApplyNetworkConfigurationUpdatesOptions) (*http.Response, error) {
	req, err := client.applyNetworkConfigurationUpdatesCreateRequest(ctx, resourceGroupName, serviceName, options)
	if err != nil {
		return nil, err
	}
	resp, err := client.pl.Do(req)
	if err != nil {
		return nil, err
	}
	if !runtime.HasStatusCode(resp, http.StatusOK, http.StatusAccepted) {
		return nil, client.applyNetworkConfigurationUpdatesHandleError(resp)
	}
	return resp, nil
}

// applyNetworkConfigurationUpdatesCreateRequest creates the ApplyNetworkConfigurationUpdates request.
func (client *APIManagementServiceClient) applyNetworkConfigurationUpdatesCreateRequest(ctx context.Context, resourceGroupName string, serviceName string, options *APIManagementServiceBeginApplyNetworkConfigurationUpdatesOptions) (*policy.Request, error) {
	urlPath := "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ApiManagement/service/{serviceName}/applynetworkconfigurationupdates"
	if resourceGroupName == "" {
		return nil, errors.New("parameter resourceGroupName cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{resourceGroupName}", url.PathEscape(resourceGroupName))
	if serviceName == "" {
		return nil, errors.New("parameter serviceName cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{serviceName}", url.PathEscape(serviceName))
	if client.subscriptionID == "" {
		return nil, errors.New("parameter client.subscriptionID cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{subscriptionId}", url.PathEscape(client.subscriptionID))
	req, err := runtime.NewRequest(ctx, http.MethodPost, runtime.JoinPaths(client.ep, urlPath))
	if err != nil {
		return nil, err
	}
	reqQP := req.Raw().URL.Query()
	reqQP.Set("api-version", "2021-08-01")
	req.Raw().URL.RawQuery = reqQP.Encode()
	req.Raw().Header.Set("Accept", "application/json")
	if options != nil && options.Parameters != nil {
		return req, runtime.MarshalAsJSON(req, *options.Parameters)
	}
	return req, nil
}

// applyNetworkConfigurationUpdatesHandleError handles the ApplyNetworkConfigurationUpdates error response.
func (client *APIManagementServiceClient) applyNetworkConfigurationUpdatesHandleError(resp *http.Response) error {
	body, err := runtime.Payload(resp)
	if err != nil {
		return runtime.NewResponseError(err, resp)
	}
	errType := ErrorResponse{raw: string(body)}
	if err := runtime.UnmarshalAsJSON(resp, &errType.InnerError); err != nil {
		return runtime.NewResponseError(fmt.Errorf("%s\n%s", string(body), err), resp)
	}
	return runtime.NewResponseError(&errType, resp)
}

// BeginBackup - Creates a backup of the API Management service to the given Azure Storage Account. This is long running operation and could take several
// minutes to complete.
// If the operation fails it returns the *ErrorResponse error type.
func (client *APIManagementServiceClient) BeginBackup(ctx context.Context, resourceGroupName string, serviceName string, parameters APIManagementServiceBackupRestoreParameters, options *APIManagementServiceBeginBackupOptions) (APIManagementServiceBackupPollerResponse, error) {
	resp, err := client.backup(ctx, resourceGroupName, serviceName, parameters, options)
	if err != nil {
		return APIManagementServiceBackupPollerResponse{}, err
	}
	result := APIManagementServiceBackupPollerResponse{
		RawResponse: resp,
	}
	pt, err := armruntime.NewPoller("APIManagementServiceClient.Backup", "location", resp, client.pl, client.backupHandleError)
	if err != nil {
		return APIManagementServiceBackupPollerResponse{}, err
	}
	result.Poller = &APIManagementServiceBackupPoller{
		pt: pt,
	}
	return result, nil
}

// Backup - Creates a backup of the API Management service to the given Azure Storage Account. This is long running operation and could take several minutes
// to complete.
// If the operation fails it returns the *ErrorResponse error type.
func (client *APIManagementServiceClient) backup(ctx context.Context, resourceGroupName string, serviceName string, parameters APIManagementServiceBackupRestoreParameters, options *APIManagementServiceBeginBackupOptions) (*http.Response, error) {
	req, err := client.backupCreateRequest(ctx, resourceGroupName, serviceName, parameters, options)
	if err != nil {
		return nil, err
	}
	resp, err := client.pl.Do(req)
	if err != nil {
		return nil, err
	}
	if !runtime.HasStatusCode(resp, http.StatusOK, http.StatusAccepted) {
		return nil, client.backupHandleError(resp)
	}
	return resp, nil
}

// backupCreateRequest creates the Backup request.
func (client *APIManagementServiceClient) backupCreateRequest(ctx context.Context, resourceGroupName string, serviceName string, parameters APIManagementServiceBackupRestoreParameters, options *APIManagementServiceBeginBackupOptions) (*policy.Request, error) {
	urlPath := "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ApiManagement/service/{serviceName}/backup"
	if resourceGroupName == "" {
		return nil, errors.New("parameter resourceGroupName cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{resourceGroupName}", url.PathEscape(resourceGroupName))
	if serviceName == "" {
		return nil, errors.New("parameter serviceName cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{serviceName}", url.PathEscape(serviceName))
	if client.subscriptionID == "" {
		return nil, errors.New("parameter client.subscriptionID cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{subscriptionId}", url.PathEscape(client.subscriptionID))
	req, err := runtime.NewRequest(ctx, http.MethodPost, runtime.JoinPaths(client.ep, urlPath))
	if err != nil {
		return nil, err
	}
	reqQP := req.Raw().URL.Query()
	reqQP.Set("api-version", "2021-08-01")
	req.Raw().URL.RawQuery = reqQP.Encode()
	req.Raw().Header.Set("Accept", "application/json")
	return req, runtime.MarshalAsJSON(req, parameters)
}

// backupHandleError handles the Backup error response.
func (client *APIManagementServiceClient) backupHandleError(resp *http.Response) error {
	body, err := runtime.Payload(resp)
	if err != nil {
		return runtime.NewResponseError(err, resp)
	}
	errType := ErrorResponse{raw: string(body)}
	if err := runtime.UnmarshalAsJSON(resp, &errType.InnerError); err != nil {
		return runtime.NewResponseError(fmt.Errorf("%s\n%s", string(body), err), resp)
	}
	return runtime.NewResponseError(&errType, resp)
}

// CheckNameAvailability - Checks availability and correctness of a name for an API Management service.
// If the operation fails it returns the *ErrorResponse error type.
func (client *APIManagementServiceClient) CheckNameAvailability(ctx context.Context, parameters APIManagementServiceCheckNameAvailabilityParameters, options *APIManagementServiceCheckNameAvailabilityOptions) (APIManagementServiceCheckNameAvailabilityResponse, error) {
	req, err := client.checkNameAvailabilityCreateRequest(ctx, parameters, options)
	if err != nil {
		return APIManagementServiceCheckNameAvailabilityResponse{}, err
	}
	resp, err := client.pl.Do(req)
	if err != nil {
		return APIManagementServiceCheckNameAvailabilityResponse{}, err
	}
	if !runtime.HasStatusCode(resp, http.StatusOK) {
		return APIManagementServiceCheckNameAvailabilityResponse{}, client.checkNameAvailabilityHandleError(resp)
	}
	return client.checkNameAvailabilityHandleResponse(resp)
}

// checkNameAvailabilityCreateRequest creates the CheckNameAvailability request.
func (client *APIManagementServiceClient) checkNameAvailabilityCreateRequest(ctx context.Context, parameters APIManagementServiceCheckNameAvailabilityParameters, options *APIManagementServiceCheckNameAvailabilityOptions) (*policy.Request, error) {
	urlPath := "/subscriptions/{subscriptionId}/providers/Microsoft.ApiManagement/checkNameAvailability"
	if client.subscriptionID == "" {
		return nil, errors.New("parameter client.subscriptionID cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{subscriptionId}", url.PathEscape(client.subscriptionID))
	req, err := runtime.NewRequest(ctx, http.MethodPost, runtime.JoinPaths(client.ep, urlPath))
	if err != nil {
		return nil, err
	}
	reqQP := req.Raw().URL.Query()
	reqQP.Set("api-version", "2021-08-01")
	req.Raw().URL.RawQuery = reqQP.Encode()
	req.Raw().Header.Set("Accept", "application/json")
	return req, runtime.MarshalAsJSON(req, parameters)
}

// checkNameAvailabilityHandleResponse handles the CheckNameAvailability response.
func (client *APIManagementServiceClient) checkNameAvailabilityHandleResponse(resp *http.Response) (APIManagementServiceCheckNameAvailabilityResponse, error) {
	result := APIManagementServiceCheckNameAvailabilityResponse{RawResponse: resp}
	if err := runtime.UnmarshalAsJSON(resp, &result.APIManagementServiceNameAvailabilityResult); err != nil {
		return APIManagementServiceCheckNameAvailabilityResponse{}, runtime.NewResponseError(err, resp)
	}
	return result, nil
}

// checkNameAvailabilityHandleError handles the CheckNameAvailability error response.
func (client *APIManagementServiceClient) checkNameAvailabilityHandleError(resp *http.Response) error {
	body, err := runtime.Payload(resp)
	if err != nil {
		return runtime.NewResponseError(err, resp)
	}
	errType := ErrorResponse{raw: string(body)}
	if err := runtime.UnmarshalAsJSON(resp, &errType.InnerError); err != nil {
		return runtime.NewResponseError(fmt.Errorf("%s\n%s", string(body), err), resp)
	}
	return runtime.NewResponseError(&errType, resp)
}

// BeginCreateOrUpdate - Creates or updates an API Management service. This is long running operation and could take several minutes to complete.
// If the operation fails it returns the *ErrorResponse error type.
func (client *APIManagementServiceClient) BeginCreateOrUpdate(ctx context.Context, resourceGroupName string, serviceName string, parameters APIManagementServiceResource, options *APIManagementServiceBeginCreateOrUpdateOptions) (APIManagementServiceCreateOrUpdatePollerResponse, error) {
	resp, err := client.createOrUpdate(ctx, resourceGroupName, serviceName, parameters, options)
	if err != nil {
		return APIManagementServiceCreateOrUpdatePollerResponse{}, err
	}
	result := APIManagementServiceCreateOrUpdatePollerResponse{
		RawResponse: resp,
	}
	pt, err := armruntime.NewPoller("APIManagementServiceClient.CreateOrUpdate", "", resp, client.pl, client.createOrUpdateHandleError)
	if err != nil {
		return APIManagementServiceCreateOrUpdatePollerResponse{}, err
	}
	result.Poller = &APIManagementServiceCreateOrUpdatePoller{
		pt: pt,
	}
	return result, nil
}

// CreateOrUpdate - Creates or updates an API Management service. This is long running operation and could take several minutes to complete.
// If the operation fails it returns the *ErrorResponse error type.
func (client *APIManagementServiceClient) createOrUpdate(ctx context.Context, resourceGroupName string, serviceName string, parameters APIManagementServiceResource, options *APIManagementServiceBeginCreateOrUpdateOptions) (*http.Response, error) {
	req, err := client.createOrUpdateCreateRequest(ctx, resourceGroupName, serviceName, parameters, options)
	if err != nil {
		return nil, err
	}
	resp, err := client.pl.Do(req)
	if err != nil {
		return nil, err
	}
	if !runtime.HasStatusCode(resp, http.StatusOK, http.StatusCreated, http.StatusAccepted) {
		return nil, client.createOrUpdateHandleError(resp)
	}
	return resp, nil
}

// createOrUpdateCreateRequest creates the CreateOrUpdate request.
func (client *APIManagementServiceClient) createOrUpdateCreateRequest(ctx context.Context, resourceGroupName string, serviceName string, parameters APIManagementServiceResource, options *APIManagementServiceBeginCreateOrUpdateOptions) (*policy.Request, error) {
	urlPath := "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ApiManagement/service/{serviceName}"
	if resourceGroupName == "" {
		return nil, errors.New("parameter resourceGroupName cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{resourceGroupName}", url.PathEscape(resourceGroupName))
	if serviceName == "" {
		return nil, errors.New("parameter serviceName cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{serviceName}", url.PathEscape(serviceName))
	if client.subscriptionID == "" {
		return nil, errors.New("parameter client.subscriptionID cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{subscriptionId}", url.PathEscape(client.subscriptionID))
	req, err := runtime.NewRequest(ctx, http.MethodPut, runtime.JoinPaths(client.ep, urlPath))
	if err != nil {
		return nil, err
	}
	reqQP := req.Raw().URL.Query()
	reqQP.Set("api-version", "2021-08-01")
	req.Raw().URL.RawQuery = reqQP.Encode()
	req.Raw().Header.Set("Accept", "application/json")
	return req, runtime.MarshalAsJSON(req, parameters)
}

// createOrUpdateHandleError handles the CreateOrUpdate error response.
func (client *APIManagementServiceClient) createOrUpdateHandleError(resp *http.Response) error {
	body, err := runtime.Payload(resp)
	if err != nil {
		return runtime.NewResponseError(err, resp)
	}
	errType := ErrorResponse{raw: string(body)}
	if err := runtime.UnmarshalAsJSON(resp, &errType.InnerError); err != nil {
		return runtime.NewResponseError(fmt.Errorf("%s\n%s", string(body), err), resp)
	}
	return runtime.NewResponseError(&errType, resp)
}

// BeginDelete - Deletes an existing API Management service.
// If the operation fails it returns the *ErrorResponse error type.
func (client *APIManagementServiceClient) BeginDelete(ctx context.Context, resourceGroupName string, serviceName string, options *APIManagementServiceBeginDeleteOptions) (APIManagementServiceDeletePollerResponse, error) {
	resp, err := client.deleteOperation(ctx, resourceGroupName, serviceName, options)
	if err != nil {
		return APIManagementServiceDeletePollerResponse{}, err
	}
	result := APIManagementServiceDeletePollerResponse{
		RawResponse: resp,
	}
	pt, err := armruntime.NewPoller("APIManagementServiceClient.Delete", "", resp, client.pl, client.deleteHandleError)
	if err != nil {
		return APIManagementServiceDeletePollerResponse{}, err
	}
	result.Poller = &APIManagementServiceDeletePoller{
		pt: pt,
	}
	return result, nil
}

// Delete - Deletes an existing API Management service.
// If the operation fails it returns the *ErrorResponse error type.
func (client *APIManagementServiceClient) deleteOperation(ctx context.Context, resourceGroupName string, serviceName string, options *APIManagementServiceBeginDeleteOptions) (*http.Response, error) {
	req, err := client.deleteCreateRequest(ctx, resourceGroupName, serviceName, options)
	if err != nil {
		return nil, err
	}
	resp, err := client.pl.Do(req)
	if err != nil {
		return nil, err
	}
	if !runtime.HasStatusCode(resp, http.StatusOK, http.StatusAccepted, http.StatusNoContent) {
		return nil, client.deleteHandleError(resp)
	}
	return resp, nil
}

// deleteCreateRequest creates the Delete request.
func (client *APIManagementServiceClient) deleteCreateRequest(ctx context.Context, resourceGroupName string, serviceName string, options *APIManagementServiceBeginDeleteOptions) (*policy.Request, error) {
	urlPath := "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ApiManagement/service/{serviceName}"
	if resourceGroupName == "" {
		return nil, errors.New("parameter resourceGroupName cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{resourceGroupName}", url.PathEscape(resourceGroupName))
	if serviceName == "" {
		return nil, errors.New("parameter serviceName cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{serviceName}", url.PathEscape(serviceName))
	if client.subscriptionID == "" {
		return nil, errors.New("parameter client.subscriptionID cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{subscriptionId}", url.PathEscape(client.subscriptionID))
	req, err := runtime.NewRequest(ctx, http.MethodDelete, runtime.JoinPaths(client.ep, urlPath))
	if err != nil {
		return nil, err
	}
	reqQP := req.Raw().URL.Query()
	reqQP.Set("api-version", "2021-08-01")
	req.Raw().URL.RawQuery = reqQP.Encode()
	req.Raw().Header.Set("Accept", "application/json")
	return req, nil
}

// deleteHandleError handles the Delete error response.
func (client *APIManagementServiceClient) deleteHandleError(resp *http.Response) error {
	body, err := runtime.Payload(resp)
	if err != nil {
		return runtime.NewResponseError(err, resp)
	}
	errType := ErrorResponse{raw: string(body)}
	if err := runtime.UnmarshalAsJSON(resp, &errType.InnerError); err != nil {
		return runtime.NewResponseError(fmt.Errorf("%s\n%s", string(body), err), resp)
	}
	return runtime.NewResponseError(&errType, resp)
}

// Get - Gets an API Management service resource description.
// If the operation fails it returns the *ErrorResponse error type.
func (client *APIManagementServiceClient) Get(ctx context.Context, resourceGroupName string, serviceName string, options *APIManagementServiceGetOptions) (APIManagementServiceGetResponse, error) {
	req, err := client.getCreateRequest(ctx, resourceGroupName, serviceName, options)
	if err != nil {
		return APIManagementServiceGetResponse{}, err
	}
	resp, err := client.pl.Do(req)
	if err != nil {
		return APIManagementServiceGetResponse{}, err
	}
	if !runtime.HasStatusCode(resp, http.StatusOK) {
		return APIManagementServiceGetResponse{}, client.getHandleError(resp)
	}
	return client.getHandleResponse(resp)
}

// getCreateRequest creates the Get request.
func (client *APIManagementServiceClient) getCreateRequest(ctx context.Context, resourceGroupName string, serviceName string, options *APIManagementServiceGetOptions) (*policy.Request, error) {
	urlPath := "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ApiManagement/service/{serviceName}"
	if resourceGroupName == "" {
		return nil, errors.New("parameter resourceGroupName cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{resourceGroupName}", url.PathEscape(resourceGroupName))
	if serviceName == "" {
		return nil, errors.New("parameter serviceName cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{serviceName}", url.PathEscape(serviceName))
	if client.subscriptionID == "" {
		return nil, errors.New("parameter client.subscriptionID cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{subscriptionId}", url.PathEscape(client.subscriptionID))
	req, err := runtime.NewRequest(ctx, http.MethodGet, runtime.JoinPaths(client.ep, urlPath))
	if err != nil {
		return nil, err
	}
	reqQP := req.Raw().URL.Query()
	reqQP.Set("api-version", "2021-08-01")
	req.Raw().URL.RawQuery = reqQP.Encode()
	req.Raw().Header.Set("Accept", "application/json")
	return req, nil
}

// getHandleResponse handles the Get response.
func (client *APIManagementServiceClient) getHandleResponse(resp *http.Response) (APIManagementServiceGetResponse, error) {
	result := APIManagementServiceGetResponse{RawResponse: resp}
	if err := runtime.UnmarshalAsJSON(resp, &result.APIManagementServiceResource); err != nil {
		return APIManagementServiceGetResponse{}, runtime.NewResponseError(err, resp)
	}
	return result, nil
}

// getHandleError handles the Get error response.
func (client *APIManagementServiceClient) getHandleError(resp *http.Response) error {
	body, err := runtime.Payload(resp)
	if err != nil {
		return runtime.NewResponseError(err, resp)
	}
	errType := ErrorResponse{raw: string(body)}
	if err := runtime.UnmarshalAsJSON(resp, &errType.InnerError); err != nil {
		return runtime.NewResponseError(fmt.Errorf("%s\n%s", string(body), err), resp)
	}
	return runtime.NewResponseError(&errType, resp)
}

// GetDomainOwnershipIdentifier - Get the custom domain ownership identifier for an API Management service.
// If the operation fails it returns the *ErrorResponse error type.
func (client *APIManagementServiceClient) GetDomainOwnershipIdentifier(ctx context.Context, options *APIManagementServiceGetDomainOwnershipIdentifierOptions) (APIManagementServiceGetDomainOwnershipIdentifierResponse, error) {
	req, err := client.getDomainOwnershipIdentifierCreateRequest(ctx, options)
	if err != nil {
		return APIManagementServiceGetDomainOwnershipIdentifierResponse{}, err
	}
	resp, err := client.pl.Do(req)
	if err != nil {
		return APIManagementServiceGetDomainOwnershipIdentifierResponse{}, err
	}
	if !runtime.HasStatusCode(resp, http.StatusOK) {
		return APIManagementServiceGetDomainOwnershipIdentifierResponse{}, client.getDomainOwnershipIdentifierHandleError(resp)
	}
	return client.getDomainOwnershipIdentifierHandleResponse(resp)
}

// getDomainOwnershipIdentifierCreateRequest creates the GetDomainOwnershipIdentifier request.
func (client *APIManagementServiceClient) getDomainOwnershipIdentifierCreateRequest(ctx context.Context, options *APIManagementServiceGetDomainOwnershipIdentifierOptions) (*policy.Request, error) {
	urlPath := "/subscriptions/{subscriptionId}/providers/Microsoft.ApiManagement/getDomainOwnershipIdentifier"
	if client.subscriptionID == "" {
		return nil, errors.New("parameter client.subscriptionID cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{subscriptionId}", url.PathEscape(client.subscriptionID))
	req, err := runtime.NewRequest(ctx, http.MethodPost, runtime.JoinPaths(client.ep, urlPath))
	if err != nil {
		return nil, err
	}
	reqQP := req.Raw().URL.Query()
	reqQP.Set("api-version", "2021-08-01")
	req.Raw().URL.RawQuery = reqQP.Encode()
	req.Raw().Header.Set("Accept", "application/json")
	return req, nil
}

// getDomainOwnershipIdentifierHandleResponse handles the GetDomainOwnershipIdentifier response.
func (client *APIManagementServiceClient) getDomainOwnershipIdentifierHandleResponse(resp *http.Response) (APIManagementServiceGetDomainOwnershipIdentifierResponse, error) {
	result := APIManagementServiceGetDomainOwnershipIdentifierResponse{RawResponse: resp}
	if err := runtime.UnmarshalAsJSON(resp, &result.APIManagementServiceGetDomainOwnershipIdentifierResult); err != nil {
		return APIManagementServiceGetDomainOwnershipIdentifierResponse{}, runtime.NewResponseError(err, resp)
	}
	return result, nil
}

// getDomainOwnershipIdentifierHandleError handles the GetDomainOwnershipIdentifier error response.
func (client *APIManagementServiceClient) getDomainOwnershipIdentifierHandleError(resp *http.Response) error {
	body, err := runtime.Payload(resp)
	if err != nil {
		return runtime.NewResponseError(err, resp)
	}
	errType := ErrorResponse{raw: string(body)}
	if err := runtime.UnmarshalAsJSON(resp, &errType.InnerError); err != nil {
		return runtime.NewResponseError(fmt.Errorf("%s\n%s", string(body), err), resp)
	}
	return runtime.NewResponseError(&errType, resp)
}

// GetSsoToken - Gets the Single-Sign-On token for the API Management Service which is valid for 5 Minutes.
// If the operation fails it returns the *ErrorResponse error type.
func (client *APIManagementServiceClient) GetSsoToken(ctx context.Context, resourceGroupName string, serviceName string, options *APIManagementServiceGetSsoTokenOptions) (APIManagementServiceGetSsoTokenResponse, error) {
	req, err := client.getSsoTokenCreateRequest(ctx, resourceGroupName, serviceName, options)
	if err != nil {
		return APIManagementServiceGetSsoTokenResponse{}, err
	}
	resp, err := client.pl.Do(req)
	if err != nil {
		return APIManagementServiceGetSsoTokenResponse{}, err
	}
	if !runtime.HasStatusCode(resp, http.StatusOK) {
		return APIManagementServiceGetSsoTokenResponse{}, client.getSsoTokenHandleError(resp)
	}
	return client.getSsoTokenHandleResponse(resp)
}

// getSsoTokenCreateRequest creates the GetSsoToken request.
func (client *APIManagementServiceClient) getSsoTokenCreateRequest(ctx context.Context, resourceGroupName string, serviceName string, options *APIManagementServiceGetSsoTokenOptions) (*policy.Request, error) {
	urlPath := "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ApiManagement/service/{serviceName}/getssotoken"
	if resourceGroupName == "" {
		return nil, errors.New("parameter resourceGroupName cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{resourceGroupName}", url.PathEscape(resourceGroupName))
	if serviceName == "" {
		return nil, errors.New("parameter serviceName cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{serviceName}", url.PathEscape(serviceName))
	if client.subscriptionID == "" {
		return nil, errors.New("parameter client.subscriptionID cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{subscriptionId}", url.PathEscape(client.subscriptionID))
	req, err := runtime.NewRequest(ctx, http.MethodPost, runtime.JoinPaths(client.ep, urlPath))
	if err != nil {
		return nil, err
	}
	reqQP := req.Raw().URL.Query()
	reqQP.Set("api-version", "2021-08-01")
	req.Raw().URL.RawQuery = reqQP.Encode()
	req.Raw().Header.Set("Accept", "application/json")
	return req, nil
}

// getSsoTokenHandleResponse handles the GetSsoToken response.
func (client *APIManagementServiceClient) getSsoTokenHandleResponse(resp *http.Response) (APIManagementServiceGetSsoTokenResponse, error) {
	result := APIManagementServiceGetSsoTokenResponse{RawResponse: resp}
	if err := runtime.UnmarshalAsJSON(resp, &result.APIManagementServiceGetSsoTokenResult); err != nil {
		return APIManagementServiceGetSsoTokenResponse{}, runtime.NewResponseError(err, resp)
	}
	return result, nil
}

// getSsoTokenHandleError handles the GetSsoToken error response.
func (client *APIManagementServiceClient) getSsoTokenHandleError(resp *http.Response) error {
	body, err := runtime.Payload(resp)
	if err != nil {
		return runtime.NewResponseError(err, resp)
	}
	errType := ErrorResponse{raw: string(body)}
	if err := runtime.UnmarshalAsJSON(resp, &errType.InnerError); err != nil {
		return runtime.NewResponseError(fmt.Errorf("%s\n%s", string(body), err), resp)
	}
	return runtime.NewResponseError(&errType, resp)
}

// List - Lists all API Management services within an Azure subscription.
// If the operation fails it returns the *ErrorResponse error type.
func (client *APIManagementServiceClient) List(options *APIManagementServiceListOptions) *APIManagementServiceListPager {
	return &APIManagementServiceListPager{
		client: client,
		requester: func(ctx context.Context) (*policy.Request, error) {
			return client.listCreateRequest(ctx, options)
		},
		advancer: func(ctx context.Context, resp APIManagementServiceListResponse) (*policy.Request, error) {
			return runtime.NewRequest(ctx, http.MethodGet, *resp.APIManagementServiceListResult.NextLink)
		},
	}
}

// listCreateRequest creates the List request.
func (client *APIManagementServiceClient) listCreateRequest(ctx context.Context, options *APIManagementServiceListOptions) (*policy.Request, error) {
	urlPath := "/subscriptions/{subscriptionId}/providers/Microsoft.ApiManagement/service"
	if client.subscriptionID == "" {
		return nil, errors.New("parameter client.subscriptionID cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{subscriptionId}", url.PathEscape(client.subscriptionID))
	req, err := runtime.NewRequest(ctx, http.MethodGet, runtime.JoinPaths(client.ep, urlPath))
	if err != nil {
		return nil, err
	}
	reqQP := req.Raw().URL.Query()
	reqQP.Set("api-version", "2021-08-01")
	req.Raw().URL.RawQuery = reqQP.Encode()
	req.Raw().Header.Set("Accept", "application/json")
	return req, nil
}

// listHandleResponse handles the List response.
func (client *APIManagementServiceClient) listHandleResponse(resp *http.Response) (APIManagementServiceListResponse, error) {
	result := APIManagementServiceListResponse{RawResponse: resp}
	if err := runtime.UnmarshalAsJSON(resp, &result.APIManagementServiceListResult); err != nil {
		return APIManagementServiceListResponse{}, runtime.NewResponseError(err, resp)
	}
	return result, nil
}

// listHandleError handles the List error response.
func (client *APIManagementServiceClient) listHandleError(resp *http.Response) error {
	body, err := runtime.Payload(resp)
	if err != nil {
		return runtime.NewResponseError(err, resp)
	}
	errType := ErrorResponse{raw: string(body)}
	if err := runtime.UnmarshalAsJSON(resp, &errType.InnerError); err != nil {
		return runtime.NewResponseError(fmt.Errorf("%s\n%s", string(body), err), resp)
	}
	return runtime.NewResponseError(&errType, resp)
}

// ListByResourceGroup - List all API Management services within a resource group.
// If the operation fails it returns the *ErrorResponse error type.
func (client *APIManagementServiceClient) ListByResourceGroup(resourceGroupName string, options *APIManagementServiceListByResourceGroupOptions) *APIManagementServiceListByResourceGroupPager {
	return &APIManagementServiceListByResourceGroupPager{
		client: client,
		requester: func(ctx context.Context) (*policy.Request, error) {
			return client.listByResourceGroupCreateRequest(ctx, resourceGroupName, options)
		},
		advancer: func(ctx context.Context, resp APIManagementServiceListByResourceGroupResponse) (*policy.Request, error) {
			return runtime.NewRequest(ctx, http.MethodGet, *resp.APIManagementServiceListResult.NextLink)
		},
	}
}

// listByResourceGroupCreateRequest creates the ListByResourceGroup request.
func (client *APIManagementServiceClient) listByResourceGroupCreateRequest(ctx context.Context, resourceGroupName string, options *APIManagementServiceListByResourceGroupOptions) (*policy.Request, error) {
	urlPath := "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ApiManagement/service"
	if resourceGroupName == "" {
		return nil, errors.New("parameter resourceGroupName cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{resourceGroupName}", url.PathEscape(resourceGroupName))
	if client.subscriptionID == "" {
		return nil, errors.New("parameter client.subscriptionID cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{subscriptionId}", url.PathEscape(client.subscriptionID))
	req, err := runtime.NewRequest(ctx, http.MethodGet, runtime.JoinPaths(client.ep, urlPath))
	if err != nil {
		return nil, err
	}
	reqQP := req.Raw().URL.Query()
	reqQP.Set("api-version", "2021-08-01")
	req.Raw().URL.RawQuery = reqQP.Encode()
	req.Raw().Header.Set("Accept", "application/json")
	return req, nil
}

// listByResourceGroupHandleResponse handles the ListByResourceGroup response.
func (client *APIManagementServiceClient) listByResourceGroupHandleResponse(resp *http.Response) (APIManagementServiceListByResourceGroupResponse, error) {
	result := APIManagementServiceListByResourceGroupResponse{RawResponse: resp}
	if err := runtime.UnmarshalAsJSON(resp, &result.APIManagementServiceListResult); err != nil {
		return APIManagementServiceListByResourceGroupResponse{}, runtime.NewResponseError(err, resp)
	}
	return result, nil
}

// listByResourceGroupHandleError handles the ListByResourceGroup error response.
func (client *APIManagementServiceClient) listByResourceGroupHandleError(resp *http.Response) error {
	body, err := runtime.Payload(resp)
	if err != nil {
		return runtime.NewResponseError(err, resp)
	}
	errType := ErrorResponse{raw: string(body)}
	if err := runtime.UnmarshalAsJSON(resp, &errType.InnerError); err != nil {
		return runtime.NewResponseError(fmt.Errorf("%s\n%s", string(body), err), resp)
	}
	return runtime.NewResponseError(&errType, resp)
}

// BeginRestore - Restores a backup of an API Management service created using the ApiManagementService_Backup operation on the current service. This is
// a long running operation and could take several minutes to
// complete.
// If the operation fails it returns the *ErrorResponse error type.
func (client *APIManagementServiceClient) BeginRestore(ctx context.Context, resourceGroupName string, serviceName string, parameters APIManagementServiceBackupRestoreParameters, options *APIManagementServiceBeginRestoreOptions) (APIManagementServiceRestorePollerResponse, error) {
	resp, err := client.restore(ctx, resourceGroupName, serviceName, parameters, options)
	if err != nil {
		return APIManagementServiceRestorePollerResponse{}, err
	}
	result := APIManagementServiceRestorePollerResponse{
		RawResponse: resp,
	}
	pt, err := armruntime.NewPoller("APIManagementServiceClient.Restore", "location", resp, client.pl, client.restoreHandleError)
	if err != nil {
		return APIManagementServiceRestorePollerResponse{}, err
	}
	result.Poller = &APIManagementServiceRestorePoller{
		pt: pt,
	}
	return result, nil
}

// Restore - Restores a backup of an API Management service created using the ApiManagementService_Backup operation on the current service. This is a long
// running operation and could take several minutes to
// complete.
// If the operation fails it returns the *ErrorResponse error type.
func (client *APIManagementServiceClient) restore(ctx context.Context, resourceGroupName string, serviceName string, parameters APIManagementServiceBackupRestoreParameters, options *APIManagementServiceBeginRestoreOptions) (*http.Response, error) {
	req, err := client.restoreCreateRequest(ctx, resourceGroupName, serviceName, parameters, options)
	if err != nil {
		return nil, err
	}
	resp, err := client.pl.Do(req)
	if err != nil {
		return nil, err
	}
	if !runtime.HasStatusCode(resp, http.StatusOK, http.StatusAccepted) {
		return nil, client.restoreHandleError(resp)
	}
	return resp, nil
}

// restoreCreateRequest creates the Restore request.
func (client *APIManagementServiceClient) restoreCreateRequest(ctx context.Context, resourceGroupName string, serviceName string, parameters APIManagementServiceBackupRestoreParameters, options *APIManagementServiceBeginRestoreOptions) (*policy.Request, error) {
	urlPath := "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ApiManagement/service/{serviceName}/restore"
	if resourceGroupName == "" {
		return nil, errors.New("parameter resourceGroupName cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{resourceGroupName}", url.PathEscape(resourceGroupName))
	if serviceName == "" {
		return nil, errors.New("parameter serviceName cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{serviceName}", url.PathEscape(serviceName))
	if client.subscriptionID == "" {
		return nil, errors.New("parameter client.subscriptionID cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{subscriptionId}", url.PathEscape(client.subscriptionID))
	req, err := runtime.NewRequest(ctx, http.MethodPost, runtime.JoinPaths(client.ep, urlPath))
	if err != nil {
		return nil, err
	}
	reqQP := req.Raw().URL.Query()
	reqQP.Set("api-version", "2021-08-01")
	req.Raw().URL.RawQuery = reqQP.Encode()
	req.Raw().Header.Set("Accept", "application/json")
	return req, runtime.MarshalAsJSON(req, parameters)
}

// restoreHandleError handles the Restore error response.
func (client *APIManagementServiceClient) restoreHandleError(resp *http.Response) error {
	body, err := runtime.Payload(resp)
	if err != nil {
		return runtime.NewResponseError(err, resp)
	}
	errType := ErrorResponse{raw: string(body)}
	if err := runtime.UnmarshalAsJSON(resp, &errType.InnerError); err != nil {
		return runtime.NewResponseError(fmt.Errorf("%s\n%s", string(body), err), resp)
	}
	return runtime.NewResponseError(&errType, resp)
}

// BeginUpdate - Updates an existing API Management service.
// If the operation fails it returns the *ErrorResponse error type.
func (client *APIManagementServiceClient) BeginUpdate(ctx context.Context, resourceGroupName string, serviceName string, parameters APIManagementServiceUpdateParameters, options *APIManagementServiceBeginUpdateOptions) (APIManagementServiceUpdatePollerResponse, error) {
	resp, err := client.update(ctx, resourceGroupName, serviceName, parameters, options)
	if err != nil {
		return APIManagementServiceUpdatePollerResponse{}, err
	}
	result := APIManagementServiceUpdatePollerResponse{
		RawResponse: resp,
	}
	pt, err := armruntime.NewPoller("APIManagementServiceClient.Update", "", resp, client.pl, client.updateHandleError)
	if err != nil {
		return APIManagementServiceUpdatePollerResponse{}, err
	}
	result.Poller = &APIManagementServiceUpdatePoller{
		pt: pt,
	}
	return result, nil
}

// Update - Updates an existing API Management service.
// If the operation fails it returns the *ErrorResponse error type.
func (client *APIManagementServiceClient) update(ctx context.Context, resourceGroupName string, serviceName string, parameters APIManagementServiceUpdateParameters, options *APIManagementServiceBeginUpdateOptions) (*http.Response, error) {
	req, err := client.updateCreateRequest(ctx, resourceGroupName, serviceName, parameters, options)
	if err != nil {
		return nil, err
	}
	resp, err := client.pl.Do(req)
	if err != nil {
		return nil, err
	}
	if !runtime.HasStatusCode(resp, http.StatusOK, http.StatusAccepted) {
		return nil, client.updateHandleError(resp)
	}
	return resp, nil
}

// updateCreateRequest creates the Update request.
func (client *APIManagementServiceClient) updateCreateRequest(ctx context.Context, resourceGroupName string, serviceName string, parameters APIManagementServiceUpdateParameters, options *APIManagementServiceBeginUpdateOptions) (*policy.Request, error) {
	urlPath := "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ApiManagement/service/{serviceName}"
	if resourceGroupName == "" {
		return nil, errors.New("parameter resourceGroupName cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{resourceGroupName}", url.PathEscape(resourceGroupName))
	if serviceName == "" {
		return nil, errors.New("parameter serviceName cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{serviceName}", url.PathEscape(serviceName))
	if client.subscriptionID == "" {
		return nil, errors.New("parameter client.subscriptionID cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{subscriptionId}", url.PathEscape(client.subscriptionID))
	req, err := runtime.NewRequest(ctx, http.MethodPatch, runtime.JoinPaths(client.ep, urlPath))
	if err != nil {
		return nil, err
	}
	reqQP := req.Raw().URL.Query()
	reqQP.Set("api-version", "2021-08-01")
	req.Raw().URL.RawQuery = reqQP.Encode()
	req.Raw().Header.Set("Accept", "application/json")
	return req, runtime.MarshalAsJSON(req, parameters)
}

// updateHandleError handles the Update error response.
func (client *APIManagementServiceClient) updateHandleError(resp *http.Response) error {
	body, err := runtime.Payload(resp)
	if err != nil {
		return runtime.NewResponseError(err, resp)
	}
	errType := ErrorResponse{raw: string(body)}
	if err := runtime.UnmarshalAsJSON(resp, &errType.InnerError); err != nil {
		return runtime.NewResponseError(fmt.Errorf("%s\n%s", string(body), err), resp)
	}
	return runtime.NewResponseError(&errType, resp)
}
