{
  "Entries": [
    {
      "RequestUri": "https://fakekvurl.vault.azure.net/keys/secret1452004750/create?api-version=7.2",
      "RequestMethod": "POST",
      "RequestHeaders": {
        ":authority": "localhost:5001",
        ":method": "POST",
        ":path": "/keys/secret1452004750/create?api-version=7.2",
        ":scheme": "https",
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "x-ms-date": "Mon, 11 Oct 2021 22:41:19 GMT"
      },
      "RequestBody": {
        "kty": "RSA"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "key": {
          "kid": "https://seankane.vault.azure.net/keys/secret1452004750/bab2ec71f6124aeaab11fd240101d71a",
          "kty": "RSA",
          "key_ops": [
            "encrypt",
            "decrypt",
            "sign",
            "verify",
            "wrapKey",
            "unwrapKey"
          ],
          "n": "55pjB9bAH92z4iVM8Vro1CbeeuHoHzBymvqNNvwY7xFkkMtNNjCZ0Cqr8fLdoNrY2C3qtWe72jN4Q_XdVNQZeSyMEvqZ_veNxY0jk-MV8VKNQZeg37ChQQqarPpbjXcqVSo0AebNW_0E_0m4hxo6tW1bCkBKQqkzoiMXcEs5vpVlOke5_hJA-V9r5nMK6wZXyJjSHTd-34cX7Eu5rV2cZpkhK5pmt3kMOgO21VRt4T9LSMti3LV9mg2T8jV-MKLDZz48Xd0z0-QUJdw5lqcYV6cqZQ1Q3fYj1JOroJ3bz-smCmtw9WEjC-K3fmRAH9Kl_IcDKDJcBEz35xKjyxlLAQ",
          "e": "AQAB"
        },
        "attributes": {
          "enabled": true,
          "created": 1633992080,
          "updated": 1633992080,
          "recoveryLevel": "CustomizedRecoverable\u002BPurgeable",
          "recoverableDays": 7
        }
      }
    },
    {
      "RequestUri": "https://fakekvurl.vault.azure.net/keys/secret1452004750/?api-version=7.2",
      "RequestMethod": "GET",
      "RequestHeaders": {
        ":authority": "localhost:5001",
        ":method": "GET",
        ":path": "/keys/secret1452004750/?api-version=7.2",
        ":scheme": "https",
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 11 Oct 2021 22:41:19 GMT"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "[...]
