{
  "Entries": [
    {
      "RequestUri": "https://fakekvurl.vault.azure.net/keys/key1452004750/create?api-version=7.2",
      "RequestMethod": "POST",
      "RequestHeaders": {
        ":authority": "localhost:5001",
        ":method": "POST",
        ":path": "/keys/key1452004750/create?api-version=7.2",
        ":scheme": "https",
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "x-ms-date": "Thu, 14 Oct 2021 16:01:19 GMT"
      },
      "RequestBody": {
        "key_ops": [],
        "kty": "RSA"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "key": {
          "kid": "https://seankane.vault.azure.net/keys/key1452004750/001d91b0ad024cd6a9e0e9c2f011f4ad",
          "kty": "RSA",
          "key_ops": [
            "encrypt",
            "decrypt",
            "sign",
            "verify",
            "wrapKey",
            "unwrapKey"
          ],
          "n": "-CORkYnm0OMVjapWmXh7eEJ4Ul4OYYQQyq6EcNOdAM93ndRJWCLUKajjo_Pwf0Kuwm6nppj-I4cJLkOm3lFBUH_mq6cW15s7nJjlQzEBT4ftKK_dNOEBM_i2Lhz1VYm-uOhqwiDKpef6-p0fO8j5kg1lUduKEcnjoZP_b4H3dZcMIfPc1GxJmcJ0XiUptJZPiAlHoxbelboUsV6UOTdUAQhAcE0S0nm5W8pMh7WyiF_burfAoArXowtUcOucipm3Vl2iMXUMzt9dtViZpLUp0n-Y-o5A6P8OdaXhHPWI9mAacxF7d_DDSTST59dNo8v8KSPOwQfH36kqvY2VTIhInQ",
          "e": "AQAB"
        },
        "attributes": {
          "enabled": true,
          "created": 1634227277,
          "updated": 1634227277,
          "recoveryLevel": "CustomizedRecoverable\u002BPurgeable",
          "recoverableDays": 7
        }
      }
    },
    {
      "RequestUri": "https://fakekvurl.vault.azure.net/keys/key1452004750/?api-version=7.2",
      "RequestMethod": "GET",
      "RequestHeaders": {
        ":authority": "localhost:5001",
        ":method": "GET",
        ":path": "/keys/key1452004750/?api-version=7.2",
        ":scheme": "https",
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 14 Oct 2021 16:01:19 GMT"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Conten[...]
