{
  "Entries": [
    {
      "RequestUri": "https://fakekvurl.vault.azure.net/keys/key-0778370593/create?api-version=7.3-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        ":authority": "localhost:5001",
        ":method": "POST",
        ":path": "/keys/key-0778370593/create?api-version=7.3-preview",
        ":scheme": "https",
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "x-ms-date": "Thu, 21 Oct 2021 21:10:04 GMT"
      },
      "RequestBody": {
        "key_ops": [],
        "kty": "RSA"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "key": {
          "kid": "https://seankane.vault.azure.net/keys/key-0778370593/7e4e6a6ac30f48a89a483626fc627968",
          "kty": "RSA",
          "key_ops": [
            "encrypt",
            "decrypt",
            "sign",
            "verify",
            "wrapKey",
            "unwrapKey"
          ],
          "n": "nX9wcCqUhXT-JfnvgR6y0Jp9qGGBmEfYQhI2LlPEgz1RIlMGBXI8pXZtfnjOv7_dRgtBd-zNCQ0nYG7mUIvqkVutmvwmP76EyxlGIDBLmoeyfSR3irTX_5sBSmo7L9Cru_QOLH3KFsj_OoSq6mCYXNFyFXwbuioEQdMXHYn_ZEhDzxp0uaTQ9OHkyQ-fZnGTPM4RWJvJJ9o5togEXMSsigwUVz0zrZa5huKIU_ebNvZdwCgNTbGVSzvaZaoNDg4kKxpe5jsaqjd-gOyeYptzHgb4DZeR1C9pTbkrsLgkskDPfO75vtXzwvnqnnZA7khPleIYykLI9K5xKQSsgcWHFQ",
          "e": "AQAB"
        },
        "attributes": {
          "enabled": true,
          "created": 1634850605,
          "updated": 1634850605,
          "recoveryLevel": "CustomizedRecoverable\u002BPurgeable",
          "recoverableDays": 7
        }
      }
    },
[...]
    {
      "RequestUri": "https://fakekvurl.vault.azure.net/keys?api-version=7.3-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        ":authority": "localhost:5001",
        ":method": "GET",
        ":path": "/keys?api-version=7.3-preview",
        ":scheme": "https",
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 21 Oct 2021 21:10:06 GMT"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "value": [
          {
            "kid": "https://seankane.vault.azure.net/keys/importedKey",
            "attributes": {
              "enabled": true,
              "created": 1634850196,
              "updated": 1634850196,
              "recoveryLevel": "CustomizedRecoverable\u002BPurgeable",
              "recoverableDays": 7
            }
          },
          {
            "kid": "https://seankane.vault.azure.net/keys/key-0778370593",
            "attributes": {
              "enabled": true,
 [...]
    {
      "RequestUri": "https://fakekvurl.vault.azure.net/keys/key-0778370593?api-version=7.3-preview",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        ":authority": "localhost:5001",
        ":method": "DELETE",
        ":path": "/keys/key-0778370593?api-version=7.3-preview",
        ":scheme": "https",
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 21 Oct 2021 21:10:06 GMT"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "recoveryId": "https://seankane.vault.azure.net/deletedkeys/key-0778370593",
        "deletedDate": 1634850607,
        "scheduledPurgeDate": 1635455407,
        "key": {
          "kid": "https://seankane.vault.azure.net/keys/key-0778370593/7e4e6a6ac30f48a89a483626fc627968",
          "kty": "RSA",
          "key_ops": [
            "encrypt",
            "decrypt",
            "sign",
            "verify",
            "wrapKey",
            "unwrapKey"
          ],
          "n": "nX9wcCqUhXT-JfnvgR6y0Jp9qGGBmEfYQhI2LlPEgz1RIlMGBXI8pXZtfnjOv7_dRgtBd-zNCQ0nYG7mUIvqkVutmvwmP76EyxlGIDBLmoeyfSR3irTX_5sBSmo7L9Cru_QOLH3KFsj_OoSq6mCYXNFyFXwbuioEQdMXHYn_ZEhDzxp0uaTQ9OHkyQ-fZnGTPM4RWJvJJ9o5togEXMSsigwUVz0zrZa5huKIU_ebNvZdwCgNTbGVSzvaZaoNDg4kKxpe5jsaqjd-gOyeYptzHgb4DZeR1C9pTbkrsLgkskDPfO75vtXzwvnqnnZA7khPleIYykLI9K5xKQSsgcWHFQ",
          "e": "AQAB"
        },
        "attributes": {
          "enabled": true,
          "created": 1634850605,
          "updated": 1634850605,
          "recoveryLevel": "CustomizedRecoverable\u002BPurgeable",
          "recoverableDays": 7
        }
      }
    },
    {
      "RequestUri": "https://fakekvurl.vault.azure.net/deletedkeys/key-0778370593?api-version=7.3-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        ":authority": "localhost:5001",
        ":method": "GET",
        ":path": "/deletedkeys/key-0778370593?api-version=7.3-preview",
        ":scheme": "https",
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 21 Oct 2021 21:10:06 GMT"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "error": {
          "code": "KeyNotFound",
          "message": "Deleted Key not found: key-0778370593"
        }
      }
    },
[...]
    {
      "RequestUri": "https://fakekvurl.vault.azure.net/deletedkeys/key-3778370593?api-version=7.3-preview",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        ":authority": "localhost:5001",
        ":method": "DELETE",
        ":path": "/deletedkeys/key-3778370593?api-version=7.3-preview",
        ":scheme": "https",
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 21 Oct 2021 21:10:31 GMT"
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
      },
      "ResponseBody": null
    }
  ],
  "Variables": {}
}
