{
  "Entries": [
    {
      "RequestUri": "https://fakekvurl.vault.azure.net/keys/secret1379313432/create?api-version=7.2",
      "RequestMethod": "POST",
      "RequestHeaders": {
        ":authority": "localhost:5001",
        ":method": "POST",
        ":path": "/keys/secret1379313432/create?api-version=7.2",
        ":scheme": "https",
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "x-ms-date": "Mon, 11 Oct 2021 17:21:20 GMT"
      },
      "RequestBody": {
        "kty": "EC"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "key": {
          "kid": "https://seankane.vault.azure.net/keys/secret1379313432/7070f4745c154da18a1aabd6505ba608",
          "kty": "EC",
          "key_ops": [
            "sign",
            "verify"
          ],
          "crv": "P-256",
          "x": "HayHLBybai2mJXSfnTH3InYvj4IlypY1FtF4dsYpIbg",
          "y": "8qi_P4akgehf36kZT0fXezBMqI_6rHeCR6Sg_UmchaI"
        },
        "attributes": {
          "enabled": true,
          "created": 1633972881,
          "updated": 1633972881,
          "recoveryLevel": "CustomizedRecoverable\u002BPurgeable",
          "recoverableDays": 7
        }
      }
    }
  ],
  "Variables": {}
}
