{
  "Entries": [
    {
      "RequestUri": "https://fakekvurl.vault.azure.net/keys/key1452004750/create?api-version=7.2",
      "RequestMethod": "POST",
      "RequestHeaders": {
        ":authority": "localhost:5001",
        ":method": "POST",
        ":path": "/keys/key1452004750/create?api-version=7.2",
        ":scheme": "https",
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "x-ms-date": "Tue, 12 Oct 2021 14:23:27 GMT"
      },
      "RequestBody": {
        "kty": "RSA"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "key": {
          "kid": "https://seankane.vault.azure.net/keys/key1452004750/1977c59a58ef4ce3b1c20df0e92b448e",
          "kty": "RSA",
          "key_ops": [
            "encrypt",
            "decrypt",
            "sign",
            "verify",
            "wrapKey",
            "unwrapKey"
          ],
          "n": "xvvogvwAL9QwraRnHkjzfyp6u_eZ2p0Ku_iZQ4x9lWKz3zRP3jINwU2HeQWMOJic0yuXdPMixvKEifJhJHf1w81aoibBbMhHKJNjQtm_WpUkMvXQX4qM_qcb2fzSi2cNlC-RnfxZGjkvDFxGkvuYGhiWIu2WuijwDTP5o7EbWCN6ubOAJrcGfu4t8gtPMA8PuREc4Xsfuo13APPdxP-z8k34sjEief2sDo0j4Kug8GJkRR4-ptStkZFvRbnr7ydAw4OJP-Le6eXqLk2LvbN1NJAgKDA-_8esa8g1nN_WQ6j0VbDogZ2VptPAeX0CgN2KpG96JLaf1ua0yWUtku0QxQ",
          "e": "AQAB"
        },
        "attributes": {
          "enabled": true,
          "created": 1634048608,
          "updated": 1634048608,
          "recoveryLevel": "CustomizedRecoverable\u002BPurgeable",
          "recoverableDays": 7
        }
      }
    },
    {
      "RequestUri": "https://fakekvurl.vault.azure.net/keys/key1452004750/?api-version=7.2",
      "RequestMethod": "GET",
      "RequestHeaders": {
        ":authority": "localhost:5001",
        ":method": "GET",
        ":path": "/keys/key1452004750/?api-version=7.2",
        ":scheme": "https",
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 12 Oct 2021 14:23:27 GMT"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Conten[...]
