{
  "Entries": [
    {
      "RequestUri": "https://fakekvurl.vault.azure.net/keys/secret1947311862/create?api-version=7.2",
      "RequestMethod": "POST",
      "RequestHeaders": {
        ":authority": "localhost:5001",
        ":method": "POST",
        ":path": "/keys/secret1947311862/create?api-version=7.2",
        ":scheme": "https",
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "x-ms-date": "Fri, 08 Oct 2021 20:15:15 GMT"
      },
      "RequestBody": {
        "kty": "RSA"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "key": {
          "kid": "https://seankane.vault.azure.net/keys/secret1947311862/c82aa913e9b34795a169c6c66de3034a",
          "kty": "RSA",
          "key_ops": [
            "encrypt",
            "decrypt",
            "sign",
            "verify",
            "wrapKey",
            "unwrapKey"
          ],
          "n": "5PWzN9CKEOvB6K6XAuBAR3eCltbMFSG5WLPwseu3hsps0Uixl2sBxYK-JNQN7PGaBASQBxz7fm17N1oaR6yvGNRBdvK2kSycouHW5WrLQM5iA6E5Noe6uuh_n_iDaOp7HLb4GldcJNoLKhcWaXSOgXLQiVRKWH4i0cYxqm43NAtqjYP33SGdvvFMRIIFGH3-DBjMax_Vc6GXK3MM_AuhIT5N9c1cLJRr9M1WT6tb9oyNCgImuDFX6FBww8amktWfeqCA1BYj8HWrmY2CmNjS9kY-rBMGr27GQRC1aBSzWL9L217c9tlbxV_Y5L2NyYVFdIZDfebemfGQLWYtUxd27Q",
          "e": "AQAB"
        },
        "attributes": {
          "enabled": true,
          "created": 1633724118,
          "updated": 1633724118,
          "recoveryLevel": "CustomizedRecoverable\u002BPurgeable",
          "recoverableDays": 7
        }
      }
    },
[...]
