{
  "Entries": [
    {
      "RequestUri": "https://fakekvurl.vault.azure.net/keys/secret1379313432/create?api-version=7.2",
      "RequestMethod": "POST",
      "RequestHeaders": {
        ":authority": "localhost:5001",
        ":method": "POST",
        ":path": "/keys/secret1379313432/create?api-version=7.2",
        ":scheme": "https",
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "x-ms-date": "Fri, 08 Oct 2021 20:15:18 GMT"
      },
      "RequestBody": {
        "kty": "EC"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "key": {
          "kid": "https://seankane.vault.azure.net/keys/secret1379313432/8a12e40628aa4148986ce5b518084b3e",
          "kty": "EC",
          "key_ops": [
            "sign",
            "verify"
          ],
          "crv": "P-256",
          "x": "8yTF9Y-uW2qmWkE_sXxFAdmyb6Jxy51cZBJMt14ok_k",
          "y": "ldwW8fJdLlA4OupGxhEzVBCF4q4Ug9Ej0b7dhpgyPio"
        },
        "attributes": {
          "enabled": true,
          "created": 1633724119,
          "updated": 1633724119,
          "recoveryLevel": "CustomizedRecoverable\u002BPurgeable",
          "recoverableDays": 7
        }
      }
    },
    {
      "RequestUri": "https://fakekvurl.vault.azure.net/keys/secret1379313432/create?api-version=7.2",
      "RequestMethod": "POST",
      "RequestHeaders": {
        ":authority": "localhost:5001",
        ":method": "POST",
        ":path": "/keys/secret1379313432/create?api-version=7.2",
        ":scheme": "https",
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "x-ms-date": "Fri, 08 Oct 2021 20:15:18 GMT"
      },
      "RequestBody": {
        "kty": "EC"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "key": {
          "kid": "https://seankane.vault.azure.net/keys/secret1379313432/52f47b06223640d294bb42044acbbaf9",
          "kty": "EC",
          "key_ops": [
            "sign",
            "verify"
          ],
          "crv": "P-256",
          "x": "RMj6wCCqXybneGG5T99cTwueNWyVOMjpvYdfHowArqA",
          "y": "BLSOlLXxdFOcWQ40TrflbNwaa9-FbnQcQooJ8517PnE"
        },
        "attributes": {
          "enabled": true,
          "created": 1633724119,
          "updated": 1633724119,
          "recoveryLevel": "CustomizedRecoverable\u002BPurgeable",
          "recoverableDays": 7
        }
      }
    }
  ],
  "Variables": {}
}
