{
  "Entries": [
    {
      "RequestUri": "https://fakekvurl.vault.azure.net/keys/key1634077861/create?api-version=7.2",
      "RequestMethod": "POST",
      "RequestHeaders": {
        ":authority": "localhost:5001",
        ":method": "POST",
        ":path": "/keys/key1634077861/create?api-version=7.2",
        ":scheme": "https",
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "x-ms-date": "Thu, 21 Oct 2021 19:17:46 GMT"
      },
      "RequestBody": {
        "kty": "RSA"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "key": {
          "kid": "https://seankane.vault.azure.net/keys/key1634077861/73bd5268175147f1bb766df4119155f7",
          "kty": "RSA",
          "key_ops": [
            "encrypt",
            "decrypt",
            "sign",
            "verify",
            "wrapKey",
            "unwrapKey"
          ],
          "n": "0XjtuKiZkfByLjBht3hIFrDyR2Y7lqpeOuYY7Aia_HMpLHEsvUr198SGgJXC5eDVsqmxzolGYOS3lBLa6HmjBuWIQqKavaM3Xmxn2MjMyieDV7g32XmBp64egh9BDutCjX5v5CcRJ5ToJhB5gPw-TpqioFE6SFkAFt2D56jx-IyQxKq2dKTqjzmTrbKD-DCwb3yF8jqDqQ8CGoeYAB3M60ErHAkfSZVNvX8kDyQORRP6xLb-qsMue-GYl8CA8kOcJj6dkH8Q_90BPD0h8T4Urtfb0Dthw3no_-8zUdG9iPo-xtkjeefhdb4pamLiqU-X41jWc3DLdQsfybDSo5YxxQ",
          "e": "AQAB"
        },
        "attributes": {
          "enabled": true,
          "created": 1634843867,
          "updated": 1634843867,
          "recoveryLevel": "CustomizedRecoverable\u002BPurgeable",
          "recoverableDays": 7
        }
      }
    },
[...]
    {
      "RequestUri": "https://fakekvurl.vault.azure.net/keys/key1634077861/versions?api-version=7.2",
      "RequestMethod": "GET",
      "RequestHeaders": {
        ":authority": "localhost:5001",
        ":method": "GET",
        ":path": "/keys/key1634077861/versions?api-version=7.2",
        ":scheme": "https",
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 21 Oct 2021 19:17:48 GMT"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "value": [
          {
            "kid": "https://seankane.vault.azure.net/keys/key1634077861/460c6617387e4f229d0209ed1ccf7ef2",
            "attributes": {
              "enabled": true,
              "created": 1634843869,
              "updated": 1634843869,
              "recoveryLevel": "CustomizedRecoverable\u002BPurgeable",
              "recoverableDays": 7
            }
          },
          {
            "kid": "https://seankane.vault.azure.net/keys/key1634077861/51fb36ab60544df98e04b56bac2d[...]
    {
      "RequestUri": "https://fakekvurl.vault.azure.net/keys/key1634077861?api-version=7.2",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        ":authority": "localhost:5001",
        ":method": "DELETE",
        ":path": "/keys/key1634077861?api-version=7.2",
        ":scheme": "https",
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 21 Oct 2021 19:17:49 GMT"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "recoveryId": "https://seankane.vault.azure.net/deletedkeys/key1634077861",
        "deletedDate": 1634843869,
        "scheduledPurgeDate": 1635448669,
        "key": {
          "kid": "https://seankane.vault.azure.net/keys/key1634077861/460c6617387e4f229d0209ed1ccf7ef2",
          "kty": "RSA",
          "key_ops": [
            "encrypt",
            "decrypt",
            "sign",
            "verify",
            "wrapKey",
            "unwrapKey"
          ],
          "n": "q_o8ZRfbZbNv1LWHGaiLciNRiE0YygXYEbZmEL3yhX6vi5MH0xYLRed0nftezm6OgBgkgtLHURz2qcDRuSEjvfDog5HbLHOenEr8B41fmSDMbG54K9qIhOYApSbUq-03tF8Trf2_1wSyRXvOlx7_kNRn5IPeEa1sBBXOYbUj6OH-yWsfeLUHUqX923ZYSG-l4JGvqmqNSPLu4jOnlPvsQRlLsUfDXWypelwNXSBn-1t8ZaDWlk_PWPz_KwLBn_PdfykurijIkQXNskBsSS3rhllI2soWW-Z94R16mgbZODQ-6fBA-36OAitHrRAeHKbkU6UR06KsfwFj2KHT5wbbVQ",
          "e": "AQAB"
        },
        "attributes": {
          "enabled": true,
          "created": 1634843869,
          "updated": 1634843869,
          "recoveryLevel": "CustomizedRecoverable\u002BPurgeable",
          "recoverableDays": 7
        }
      }
    },
    {
      "RequestUri": "https://fakekvurl.vault.azure.net/deletedkeys/key1634077861?api-version=7.2",
      "RequestMethod": "GET",
      "RequestHeaders": {
        ":authority": "localhost:5001",
        ":method": "GET",
        ":path": "/deletedkeys/key1634077861?api-version=7.2",
        ":scheme": "https",
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 21 Oct 2021 19:17:49 GMT"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "error": {
          "code": "KeyNotFound",
          "message": "Deleted Key not found: key1634077861"
        }
      }
    },
[...]
    {
      "RequestUri": "https://fakekvurl.vault.azure.net/deletedkeys/key1634077861?api-version=7.2",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        ":authority": "localhost:5001",
        ":method": "DELETE",
        ":path": "/deletedkeys/key1634077861?api-version=7.2",
        ":scheme": "https",
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 21 Oct 2021 19:17:52 GMT"
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
      },
      "ResponseBody": null
    }
  ],
  "Variables": {}
}
