{
  "Entries": [
    {
      "RequestUri": "https://fakekvurl.vault.azure.net/keys/key50499491/create?api-version=7.2",
      "RequestMethod": "POST",
      "RequestHeaders": {
        ":authority": "localhost:5001",
        ":method": "POST",
        ":path": "/keys/key50499491/create?api-version=7.2",
        ":scheme": "https",
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "x-ms-date": "Thu, 14 Oct 2021 16:02:06 GMT"
      },
      "RequestBody": {
        "kty": "RSA"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "key": {
          "kid": "https://seankane.vault.azure.net/keys/key50499491/2bbd20cfcec147de8ed0a45b37805a9f",
          "kty": "RSA",
          "key_ops": [
            "encrypt",
            "decrypt",
            "sign",
            "verify",
            "wrapKey",
            "unwrapKey"
          ],
          "n": "pD1tjMR61xSQdpgN7v46XMxntdyD6MpJFHQ7XxnWg5wuO_ffXnJxpuLFXEqpPlnZGC93vVh4DbMVF8RviOKb9TII11UKY28D5jMhZ_M8MseyXmLgKh74p2fp7Ki6iRkVFnWbmPVtAFrbhdKJUFto_gX_pFdCllB9qyA_OA12fHLwXpbtybjDtYoEp2I8U6A_M9sdw3UwLHQzmT99YYYjwvAUwf9asPGnHcasyC-0XfipMzBRrMcBR77h3aKpVdapT0hU6cj6tWPvsS7VUZexW9EEZmUkr3v9MhR9jGh-c2A4TdDvzD3hvPCGgOW8oZoPPcTikqkFpS-lmo2DK_ykFQ",
          "e": "AQAB"
        },
        "attributes": {
          "enabled": true,
          "created": 1634227325,
          "updated": 1634227325,
          "recoveryLevel": "CustomizedRecoverable\u002BPurgeable",
          "recoverableDays": 7
        }
      }
    },
    {
      "RequestUri": "https://fakekvurl.vault.azure.net/keys/key50499491?api-version=7.2",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        ":authority": "localhost:5001",
        ":method": "DELETE",
        ":path": "/keys/key50499491?api-version=7.2",
        ":scheme": "https",
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 14 Oct 2021 16:02:07 GMT"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "recoveryId": "https://seankane.vault.azure.net/deletedkeys/key50499491",
        "deletedDate": 1634227325,
        "scheduledPurgeDate": 1634832125,
        "key": {
          "kid": "https://seankane.vault.azure.net/keys/key50499491/2bbd20cfcec147de8ed0a45b37805a9f",
          "kty": "RSA",
          "key_ops": [
            "encrypt",
            "decrypt",
            "sign",
            "verify",
            "wrapKey",
            "unwrapKey"
          ],
          "n": "pD1tjMR61xSQdpgN7v46XMxntdyD6MpJFHQ7XxnWg5wuO_ffXnJxpuLFXEqpPlnZGC93vVh4DbMVF8RviOKb9TII11UKY28D5jMhZ_M8MseyXmLgKh74p2fp7Ki6iRkVFnWbmPVtAFrbhdKJUFto_gX_pFdCllB9qyA_OA12fHLwXpbtybjDtYoEp2I8U6A_M9sdw3UwLHQzmT99YYYjwvAUwf9asPGnHcasyC-0XfipMzBRrMcBR77h3aKpVdapT0hU6cj6tWPvsS7VUZexW9EEZmUkr3v9MhR9jGh-c2A4TdDvzD3hvPCGgOW8oZoPPcTikqkFpS-lmo2DK_ykFQ",
          "e": "AQAB"
        },
        "attributes": {
          "enabled": true,
          "created": 1634227325,
          "updated": 1634227325,
          "recoveryLevel": "CustomizedRecoverable\u002BPurgeable",
          "recoverableDays": 7
        }
      }
    },
    {
      "RequestUri": "https://fakekvurl.vault.azure.net/deletedkeys/key50499491?api-version=7.2",
      "RequestMethod": "GET",
      "RequestHeaders": {
        ":authority": "localhost:5001",
        ":method": "GET",
        ":path": "/deletedkeys/key50499491?api-version=7.2",
        ":scheme": "https",
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 14 Oct 2021 16:02:07 GMT"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "error": {
          "code": "KeyNotFound",
          "message": "Deleted Key not found: key50499491"
        }
      }
    },
[...]
    {
      "RequestUri": "https://fakekvurl.vault.azure.net/deletedkeys/key50499491/recover?api-version=7.2",
      "RequestMethod": "POST",
      "RequestHeaders": {
        ":authority": "localhost:5001",
        ":method": "POST",
        ":path": "/deletedkeys/key50499491/recover?api-version=7.2",
        ":scheme": "https",
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 14 Oct 2021 16:02:11 GMT"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseH[...]
    {
      "RequestUri": "https://fakekvurl.vault.azure.net/keys/key50499491/?api-version=7.2",
      "RequestMethod": "GET",
      "RequestHeaders": {
        ":authority": "localhost:5001",
        ":method": "GET",
        ":path": "/keys/key50499491/?api-version=7.2",
        ":scheme": "https",
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 14 Oct 2021 16:02:12 GMT"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "error": {
          "code": "KeyNotFound",
          "message": "A key with (name/id) key50499491 was not found in this key vault. If you recently deleted this key you may be able to recover it using the correct recovery command. For help resolving this issue, please see https://go.microsoft.com/fwlink/?linkid=2125182"
        }
      }
    },
[...]
    {
      "RequestUri": "https://fakekvurl.vault.azure.net/deletedkeys/key50499491?api-version=7.2",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        ":authority": "localhost:5001",
        ":method": "DELETE",
        ":path": "/deletedkeys/key50499491?api-version=7.2",
        ":scheme": "https",
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 14 Oct 2021 16:02:32 GMT"
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
      },
      "ResponseBody": null
    }
  ],
  "Variables": {}
}
