{
  "Entries": [
    {
      "RequestUri": "https://fakekvurl.vault.azure.net/keys/key223495041/create?api-version=7.2",
      "RequestMethod": "POST",
      "RequestHeaders": {
        ":authority": "localhost:5001",
        ":method": "POST",
        ":path": "/keys/key223495041/create?api-version=7.2",
        ":scheme": "https",
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "x-ms-date": "Thu, 21 Oct 2021 19:16:56 GMT"
      },
      "RequestBody": {
        "key_ops": [],
        "kty": "RSA"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "key": {
          "kid": "https://seankane.vault.azure.net/keys/key223495041/fdcd331b920548f2bf091b05b25e1d0e",
          "kty": "RSA",
          "key_ops": [
            "encrypt",
            "decrypt",
            "sign",
            "verify",
            "wrapKey",
            "unwrapKey"
          ],
          "n": "0jG3dSVBuHSu1f2_jyFnE1oZaNYP28oLEF9NJFlXYwQIXm5Shzs4tszXlUH5U9UI1u0uevL9KW_-jbCyJb1O5LRislmEgew1uguXu-l2f2S3ahwzwALT2HyqEylRPwyrEk0h9sCAiF4mOKaOTNqCRVvcnGn3n9o4yBsgTVJETKIZjnqujyBeJBkYGTii6rNdx7f6sI6PN-OaCaXl_Mz6Rx8hroNQKxEyifkuL5V91HLHqFa81D61gTC5nmOkemFJFT5_WH83aiH0lbNFP9iKpgKwj_lMpmGZKbaBwiGquks5Mvy3Y5pGYtsiY7R_NLMcifDrzSNOVtwO6eBZ1nTKDQ",
          "e": "AQAB"
        },
        "attributes": {
          "enabled": true,
          "created": 1634843817,
          "updated": 1634843817,
          "recoveryLevel": "CustomizedRecoverable\u002BPurgeable",
          "recoverableDays": 7
        }
      }
    },
    {
      "RequestUri": "https://fakekvurl.vault.azure.net/keys/key223495041?api-version=7.2",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        ":authority": "localhost:5001",
        ":method": "DELETE",
        ":path": "/keys/key223495041?api-version=7.2",
        ":scheme": "https",
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 21 Oct 2021 19:16:56 GMT"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "recoveryId": "https://seankane.vault.azure.net/deletedkeys/key223495041",
        "deletedDate": 1634843817,
        "scheduledPurgeDate": 1635448617,
        "key": {
          "kid": "https://seankane.vault.azure.net/keys/key223495041/fdcd331b920548f2bf091b05b25e1d0e",
          "kty": "RSA",
          "key_ops": [
            "encrypt",
            "decrypt",
            "sign",
            "verify",
            "wrapKey",
            "unwrapKey"
          ],
          "n": "0jG3dSVBuHSu1f2_jyFnE1oZaNYP28oLEF9NJFlXYwQIXm5Shzs4tszXlUH5U9UI1u0uevL9KW_-jbCyJb1O5LRislmEgew1uguXu-l2f2S3ahwzwALT2HyqEylRPwyrEk0h9sCAiF4mOKaOTNqCRVvcnGn3n9o4yBsgTVJETKIZjnqujyBeJBkYGTii6rNdx7f6sI6PN-OaCaXl_Mz6Rx8hroNQKxEyifkuL5V91HLHqFa81D61gTC5nmOkemFJFT5_WH83aiH0lbNFP9iKpgKwj_lMpmGZKbaBwiGquks5Mvy3Y5pGYtsiY7R_NLMcifDrzSNOVtwO6eBZ1nTKDQ",
          "e": "AQAB"
        },
        "attributes": {
          "enabled": true,
          "created": 1634843817,
          "updated": 1634843817,
          "recoveryLevel": "CustomizedRecoverable\u002BPurgeable",
          "recoverableDays": 7
        }
      }
    },
    {
      "RequestUri": "https://fakekvurl.vault.azure.net/deletedkeys/key223495041?api-version=7.2",
      "RequestMethod": "GET",
      "RequestHeaders": {
        ":authority": "localhost:5001",
        ":method": "GET",
        ":path": "/deletedkeys/key223495041?api-version=7.2",
        ":scheme": "https",
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 21 Oct 2021 19:16:57 GMT"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "error": {
          "code": "KeyNotFound",
          "message": "Deleted Key not found: key223495041"
        }
      }
    },
[...]
    {
      "RequestUri": "https://fakekvurl.vault.azure.net/keys/key223495041/?api-version=7.2",
      "RequestMethod": "GET",
      "RequestHeaders": {
        ":authority": "localhost:5001",
        ":method": "GET",
        ":path": "/keys/key223495041/?api-version=7.2",
        ":scheme": "https",
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 21 Oct 2021 19:17:05 GMT"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "error": {
          "code": "KeyNotFound",
          "message": "A key with (name/id) key223495041 was not found in this key vault. If you recently deleted this key you may be able to recover it using the correct recovery command. For help resolving this issue, please see https://go.microsoft.com/fwlink/?linkid=2125182"
        }
      }
    },
[...]
    {
      "RequestUri": "https://fakekvurl.vault.azure.net/keys/key223495041?api-version=7.2",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        ":authority": "localhost:5001",
        ":method": "DELETE",
        ":path": "/keys/key223495041?api-version=7.2",
        ":scheme": "https",
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 21 Oct 2021 19:17:05 GMT"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "error": {
          "code": "KeyNotFound",
          "message": "A key with (name/id) key223495041 was not found in this key vault. If you recently deleted this key you may be able to recover it using the correct recovery command. For help resolving this issue, please see https://go.microsoft.com/fwlink/?linkid=2125182"
        }
      }
    }
  ],
  "Variables": {}
}
