{
  "Entries": [
    {
      "RequestUri": "https://fakekvurl.vault.azure.net/keys/key223495041/create?api-version=7.2",
      "RequestMethod": "POST",
      "RequestHeaders": {
        ":authority": "localhost:5001",
        ":method": "POST",
        ":path": "/keys/key223495041/create?api-version=7.2",
        ":scheme": "https",
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "x-ms-date": "Tue, 12 Oct 2021 14:23:27 GMT"
      },
      "RequestBody": {
        "kty": "RSA"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "key": {
          "kid": "https://seankane.vault.azure.net/keys/key223495041/cedbf5db27134423b53872f4a59c579f",
          "kty": "RSA",
          "key_ops": [
            "encrypt",
            "decrypt",
            "sign",
            "verify",
            "wrapKey",
            "unwrapKey"
          ],
          "n": "oituEJJnmViZlUwiUNgSMmiKgmO1Khnxvoftqw2NgDTs7ASh2FbxfrqL5yPJUUODAC9_BvzPMCVUFHdQ1NIjkb9VD3Jq-392T-b4Bf4AQtu769m5NJBeHO9SOsnLLm0dEm8ahi3-0wuOjve5ywJ3lwiPOpOAZ8HecYvokMVhziqII8N_2QoQFKzSlofM6S6uqQk41TZ_SX8reuaSLWNwqwK6uHMNTB4eEvxJnpCU6MnbXk5Dc1HE6vsjNxgcxT4bv2bKcWPaTDD8dYL4XQ7f7TFj2C3DbhfEJoNqy_t-K1MzSFQfXaNbZ2-iawK-S-HG34PCmMI9a8SkhLoiz7hodQ",
          "e": "AQAB"
        },
        "attributes": {
          "enabled": true,
          "created": 1634048609,
          "updated": 1634048609,
          "recoveryLevel": "CustomizedRecoverable\u002BPurgeable",
          "recoverableDays": 7
        }
      }
    },
    {
      "RequestUri": "https://fakekvurl.vault.azure.net/keys/key223495041?api-version=7.2",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        ":authority": "localhost:5001",
        ":method": "DELETE",
        ":path": "/keys/key223495041?api-version=7.2",
        ":scheme": "https",
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 12 Oct 2021 14:23:28 GMT"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "recoveryId": "https://seankane.vault.azure.net/deletedkeys/key223495041",
        "deletedDate": 1634048609,
        "scheduledPurgeDate": 1634653409,
        "key": {
          "kid": "https://seankane.vault.azure.net/keys/key223495041/cedbf5db27134423b53872f4a59c579f",
          "kty": "RSA",
          "key_ops": [
            "encrypt",
            "decrypt",
            "sign",
            "verify",
            "wrapKey",
            "unwrapKey"
          ],
          "n": "oituEJJnmViZlUwiUNgSMmiKgmO1Khnxvoftqw2NgDTs7ASh2FbxfrqL5yPJUUODAC9_BvzPMCVUFHdQ1NIjkb9VD3Jq-392T-b4Bf4AQtu769m5NJBeHO9SOsnLLm0dEm8ahi3-0wuOjve5ywJ3lwiPOpOAZ8HecYvokMVhziqII8N_2QoQFKzSlofM6S6uqQk41TZ_SX8reuaSLWNwqwK6uHMNTB4eEvxJnpCU6MnbXk5Dc1HE6vsjNxgcxT4bv2bKcWPaTDD8dYL4XQ7f7TFj2C3DbhfEJoNqy_t-K1MzSFQfXaNbZ2-iawK-S-HG34PCmMI9a8SkhLoiz7hodQ",
          "e": "AQAB"
        },
        "attributes": {
          "enabled": true,
          "created": 1634048609,
          "updated": 1634048609,
          "recoveryLevel": "CustomizedRecoverable\u002BPurgeable",
          "recoverableDays": 7
        }
      }
    },
    {
      "RequestUri": "https://fakekvurl.vault.azure.net/deletedkeys/key223495041?api-version=7.2",
      "RequestMethod": "GET",
      "RequestHeaders": {
        ":authority": "localhost:5001",
        ":method": "GET",
        ":path": "/deletedkeys/key223495041?api-version=7.2",
        ":scheme": "https",
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 12 Oct 2021 14:23:28 GMT"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "error": {
          "code": "KeyNotFound",
          "message": "Deleted Key not found: key223495041"
        }
      }
    },
[...]
    {
      "RequestUri": "https://fakekvurl.vault.azure.net/keys/key223495041/?api-version=7.2",
      "RequestMethod": "GET",
      "RequestHeaders": {
        ":authority": "localhost:5001",
        ":method": "GET",
        ":path": "/keys/key223495041/?api-version=7.2",
        ":scheme": "https",
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 12 Oct 2021 14:23:33 GMT"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "error": {
          "code": "KeyNotFound",
          "message": "A key with (name/id) key223495041 was not found in this key vault. If you recently deleted this key you may be able to recover it using the correct recovery command. For help resolving this issue, please see https://go.microsoft.com/fwlink/?linkid=2125182"
        }
      }
    },
[...]
    {
      "RequestUri": "https://fakekvurl.vault.azure.net/keys/key223495041?api-version=7.2",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        ":authority": "localhost:5001",
        ":method": "DELETE",
        ":path": "/keys/key223495041?api-version=7.2",
        ":scheme": "https",
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 12 Oct 2021 14:23:33 GMT"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "error": {
          "code": "KeyNotFound",
          "message": "A key with (name/id) key223495041 was not found in this key vault. If you recently deleted this key you may be able to recover it using the correct recovery command. For help resolving this issue, please see https://go.microsoft.com/fwlink/?linkid=2125182"
        }
      }
    }
  ],
  "Variables": {}
}
