{
  "Entries": [
    {
      "RequestUri": "https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/go-sdk-test-rg?api-version=2021-04-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "location": "westus"
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-writes": "1184"
      },
      "ResponseBody": {
        "id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/go-sdk-test-rg",
        "name": "go-sdk-test-rg",
        "type": "Microsoft.Resources/resourceGroups",
        "location": "westus",
        "properties": {
          "provisioningState": "Succeeded"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/go-sdk-test-rg/providers/Microsoft.ApiManagement/service/serviceapiversionsetssdGYeN?api-version=2021-08-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "location": "westus",
        "properties": {
          "publisherEmail": "foo@contoso.com",
          "publisherName": "foo"
        },
        "sku": {
          "capacity": 1,
          "name": "Standard"
        },
        "tags": {
          "Name": "Contoso",
          "Test": "User"
        }
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u0022AAAAAAA90Ow=\u0022",
        "Location": "https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/go-sdk-test-rg/providers/Microsoft.ApiManagement/service/serviceapiversionsetssdGYeN/operationresults/d2VzdHVzOnNlcnZpY2VhcGl2ZXJzaW9uc2V0c3NkR1llTl9BY3RfY2QzNTYyZDk=?api-version=2021-08-01",
        "Retry-After": "60",
        "x-ms-ratelimit-remaining-subscription-writes": "1183"
      },
      "ResponseBody": {
        "id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/go-sdk-test-rg/providers/Microsoft.ApiManagement/service/serviceapiversionsetssdGYeN",
        "name": "serviceapiversionsetssdGYeN",
        "type": "Microsoft.ApiManagement/service",
        "tags": {
          "Name": "Contoso",
          "Test": "User"
        },
        "location": "West US",
        "etag": "AAAAAAA90Ow=",
        "properties": {
          "publisherEmail": "foo@contoso.com",
          "publisherName": "foo",
          "notificationSenderEmail": "apimgmt-noreply@mail.windowsazure.com",
          "provisioningState": "Created",
          "targetProvisioningState": "Activating",
          "createdAtUtc": "2022-10-21T09:38:12.1982513Z",
          "gatewayUrl": "https://serviceapiversionsetssdgyen.azure-api.net",
          "gatewayRegionalUrl": null,
          "portalUrl": null,
          "developerPortalUrl": null,
          "managementApiUrl": null,
          "scmUrl": null,
          "hostnameConfigurations": [
            {
              "type": "Proxy",
              "hostName": "serviceapiversionsetssdgyen.azure-api.net",
              "encodedCertificate": null,
              "keyVaultId": null,
              "certificatePassword": null,
              "negotiateClientCertificate": false,
              "certificate": null,
              "defaultSslBinding": true,
              "identityClientId": null,
              "certificateSource": "BuiltIn",
              "certificateStatus": null
            }
          ],
          "publicIPAddresses": null,
          "privateIPAddresses": null,
          "additionalLocations": null,
          "virtualNetworkConfiguration": null,
          "customProperties": null,
          "virtualNetworkType": "None",
          "certificates": null,
          "disableGateway": false,
          "apiVersionConstraint": {
            "minApiVersion": null
          },
          "publicIpAddressId": null,
          "publicNetworkAccess": "Enabled",
          "privateEndpointConnections": null,
          "platformVersion": "undetermined"
        },
        "sku": {
          "name": "Standard",
          "capacity": 1
        },
        "identity": null,
        "zones": null,
        "systemData": {
          "createdBy": "00000000-0000-0000-0000-000000000000",
          "createdByType": "Application",
          "createdAt": "2022-10-21T09:38:12.0740062Z",
          "lastModifiedBy": "00000000-0000-0000-0000-000000000000",
          "lastModifiedByType": "Application",
          "lastModifiedAt": "2022-10-21T09:38:12.0740062Z"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/go-sdk-test-rg/providers/Microsoft.ApiManagement/service/serviceapiversionsetssdGYeN/operationresults/d2VzdHVzOnNlcnZpY2VhcGl2ZXJzaW9uc2V0c3NkR1llTl9BY3RfY2QzNTYyZDk=?api-version=2021-08-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "Location": "https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/go-sdk-test-rg/providers/Microsoft.ApiManagement/service/serviceapiversionsetssdGYeN/operationresults/d2VzdHVzOnNlcnZpY2VhcGl2ZXJzaW9uc2V0c3NkR1llTl9BY3RfY2QzNTYyZDk=?api-version=2021-08-01",
        "Retry-After": "60",
        "x-ms-ratelimit-remaining-subscription-reads": "11933"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/go-sdk-test-rg/providers/Microsoft.ApiManagement/service/serviceapiversionsetssdGYeN/apiVersionSets/versionsetsdGYeN?api-version=2021-08-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "properties": {
          "displayName": "api set 1",
          "versioningScheme": "Segment",
          "description": "Version configuration"
        }
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u0022AAAAAAAACSE=\u0022",
        "x-ms-ratelimit-remaining-subscription-writes": "1182"
      },
      "ResponseBody": {
        "id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/go-sdk-test-rg/providers/Microsoft.ApiManagement/service/serviceapiversionsetssdGYeN/apiVersionSets/versionsetsdGYeN",
        "type": "Microsoft.ApiManagement/service/apiVersionSets",
        "name": "versionsetsdGYeN",
        "properties": {
          "displayName": "api set 1",
          "description": "Version configuration",
          "versioningScheme": "Segment",
          "versionQueryName": null,
          "versionHeaderName": null
        }
      }
    },
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/go-sdk-test-rg/providers/Microsoft.ApiManagement/service/serviceapiversionsetssdGYeN/apiVersionSets?api-version=2021-08-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-reads": "11914"
      },
      "ResponseBody": {
        "value": [
          {
            "id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/go-sdk-test-rg/providers/Microsoft.ApiManagement/service/serviceapiversionsetssdGYeN/apiVersionSets/versionsetsdGYeN",
            "type": "Microsoft.ApiManagement/service/apiVersionSets",
            "name": "versionsetsdGYeN",
            "properties": {
              "displayName": "api set 1",
              "description": "Version configuration",
              "versioningScheme": "Segment",
              "versionQueryName": null,
              "versionHeaderName": null
            }
          }
        ],
        "count": 1
      }
    },
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/go-sdk-test-rg/providers/Microsoft.ApiManagement/service/serviceapiversionsetssdGYeN/apiVersionSets/versionsetsdGYeN?api-version=2021-08-01",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "If-Match": "*"
      },
      "RequestBody": {
        "properties": {
          "description": "Version configuration",
          "displayName": "api set 1",
          "versioningScheme": "Segment"
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u0022AAAAAAAACSE=\u0022",
        "x-ms-ratelimit-remaining-subscription-writes": "1181"
      },
      "ResponseBody": {
        "id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/go-sdk-test-rg/providers/Microsoft.ApiManagement/service/serviceapiversionsetssdGYeN/apiVersionSets/versionsetsdGYeN",
        "type": "Microsoft.ApiManagement/service/apiVersionSets",
        "name": "versionsetsdGYeN",
        "properties": {
          "displayName": "api set 1",
          "description": "Version configuration",
          "versioningScheme": "Segment",
          "versionQueryName": null,
          "versionHeaderName": null
        }
      }
    },
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/go-sdk-test-rg?api-version=2021-04-01",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "Location": "https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/operationresults/eyJqb2JJZCI6IlJFU09VUkNFR1JPVVBERUxFVElPTkpPQi1HTzoyRFNESzoyRFRFU1Q6MkQ5NDItV0VTVFVTIiwiam9iTG9jYXRpb24iOiJ3ZXN0dXMifQ?api-version=2021-04-01",
        "Retry-After": "15",
        "x-ms-ratelimit-remaining-subscription-deletes": "14989"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "recordingRandomSeed": "1666342412"
  }
}
