{
  "Entries": [
    {
      "RequestUri": "https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/go-sdk-test-rg?api-version=2021-04-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "location": "westus"
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-writes": "1193"
      },
      "ResponseBody": {
        "id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/go-sdk-test-rg",
        "name": "go-sdk-test-rg",
        "type": "Microsoft.Resources/resourceGroups",
        "location": "westus",
        "properties": {
          "provisioningState": "Succeeded"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/providers/Microsoft.ApiManagement/operations?api-version=2021-08-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-tenant-reads": "11999"
      },
      "ResponseBody": {
        "value": [
          {
            "origin": null,
            "name": "Microsoft.ApiManagement/service/write",
            "isDataAction": false,
            "display": {
              "provider": "Microsoft API Management",
              "resource": "Service",
              "operation": "Create or Update API Management Service instance",
              "description": "Create or Update API Management Service instance"
            },
            "properties": null
          },
          {
            "origin": null,
            "name": "Microsoft.ApiManagement/service/read",
            "isDataAction": false,
            "display": {
              "provider": "Microsoft API Management",
              "resource": "Service",
              "operation": "Read metadata for an API Management Service instance",
              "description": "Read metadata for an API [...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.ApiManagement/checkNameAvailability?api-version=2021-08-01",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "name": "apimService1"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-reads": "11966"
      },
      "ResponseBody": {
        "nameAvailable": false,
        "reason": "AlreadyExists",
        "message": "apimService1 is already in use. Please select a different name."
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/go-sdk-test-rg/providers/Microsoft.ApiManagement/service/servicedeploysdGYeN?api-version=2021-08-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "location": "westus",
        "properties": {
          "publisherEmail": "foo@contoso.com",
          "publisherName": "foo"
        },
        "sku": {
          "capacity": 1,
          "name": "Standard"
        },
        "tags": {
          "Name": "Contoso",
          "Test": "User"
        }
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u0022AAAAAAA90jw=\u0022",
        "Location": "https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/go-sdk-test-rg/providers/Microsoft.ApiManagement/service/servicedeploysdGYeN/operationresults/d2VzdHVzOnNlcnZpY2VkZXBsb3lzZEdZZU5fQWN0X2UyZjk3ZWY1?api-version=2021-08-01",
        "Retry-After": "60",
        "x-ms-ratelimit-remaining-subscription-writes": "1192"
      },
      "ResponseBody": {
        "id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/go-sdk-test-rg/providers/Microsoft.ApiManagement/service/servicedeploysdGYeN",
        "name": "servicedeploysdGYeN",
        "type": "Microsoft.ApiManagement/service",
        "tags": {
          "Name": "Contoso",
          "Test": "User"
        },
        "location": "West US",
        "etag": "AAAAAAA90jw=",
        "properties": {
          "publisherEmail": "foo@contoso.com",
          "publisherName": "foo",
          "notificationSenderEmail": "apimgmt-noreply@mail.windowsazure.com",
          "provisioningState": "Created",
          "targetProvisioningState": "Activating",
          "createdAtUtc": "2022-10-21T11:52:05.2388663Z",
          "gatewayUrl": "https://servicedeploysdgyen.azure-api.net",
          "gatewayRegionalUrl": null,
          "portalUrl": null,
          "developerPortalUrl": null,
          "managementApiUrl": null,
          "scmUrl": null,
          "hostnameConfigurations": [
            {
              "type": "Proxy",
              "hostName": "servicedeploysdgyen.azure-api.net",
              "encodedCertificate": null,
              "keyVaultId": null,
              "certificatePassword": null,
              "negotiateClientCertificate": false,
              "certificate": null,
              "defaultSslBinding": true,
              "identityClientId": null,
              "certificateSource": "BuiltIn",
              "certificateStatus": null
            }
          ],
          "publicIPAddresses": null,
          "privateIPAddresses": null,
          "additionalLocations": null,
          "virtualNetworkConfiguration": null,
          "customProperties": null,
          "virtualNetworkType": "None",
          "certificates": null,
          "disableGateway": false,
          "apiVersionConstraint": {
            "minApiVersion": null
          },
          "publicIpAddressId": null,
          "publicNetworkAccess": "Enabled",
          "privateEndpointConnections": null,
          "platformVersion": "undetermined"
        },
        "sku": {
          "name": "Standard",
          "capacity": 1
        },
        "identity": null,
        "zones": null,
        "systemData": {
          "createdBy": "00000000-0000-0000-0000-000000000000",
          "createdByType": "Application",
          "createdAt": "2022-10-21T11:52:05.1439277Z",
          "lastModifiedBy": "00000000-0000-0000-0000-000000000000",
          "lastModifiedByType": "Application",
          "lastModifiedAt": "2022-10-21T11:52:05.1439277Z"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/go-sdk-test-rg/providers/Microsoft.ApiManagement/service/servicedeploysdGYeN/operationresults/d2VzdHVzOnNlcnZpY2VkZXBsb3lzZEdZZU5fQWN0X2UyZjk3ZWY1?api-version=2021-08-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "Location": "https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/go-sdk-test-rg/providers/Microsoft.ApiManagement/service/servicedeploysdGYeN/operationresults/d2VzdHVzOnNlcnZpY2VkZXBsb3lzZEdZZU5fQWN0X2UyZjk3ZWY1?api-version=2021-08-01",
        "Retry-After": "60",
        "x-ms-ratelimit-remaining-subscription-reads": "11965"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.ApiManagement/service?api-version=2021-08-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-reads": "11933"
      },
      "Respons[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/go-sdk-test-rg/providers/Microsoft.ApiManagement/service?api-version=2021-08-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-reads": "[...]
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.ApiManagement/getDomainOwnershipIdentifier?api-version=2021-08-01",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-reads": "11930"
      },
      "ResponseBody": {
        "domainOwnershipIdentifier": "/tN5JzqZL6a4z2rRq5IejqASoFz1P4BFDK91gGjXOo8="
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/go-sdk-test-rg/providers/Microsoft.ApiManagement/service/servicedeploysdGYeN/getssotoken?api-version=2021-08-01",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-writes": "1199"
      },
      "ResponseBody": {
        "redirectUri": "https://servicedeploysdgyen.portal.azure-api.net:443/signin-sso?token=1%26202210211243%26xXpY7ClrjqrKUsPmU6fqvREc5BubrPekFI7JzQ1F4wEMnqWf7DCC%2bernrE7uTtTx2IckgZdJFlPH%2fGSAYoK30Q%3d%3d"
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/go-sdk-test-rg/providers/Microsoft.ApiManagement/service/servicedeploysdGYeN/skus?api-version=2021-08-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-reads": "11929"
      },
      "ResponseBody": {
        "value": [
          {
            "resourceType": "Microsoft.ApiManagement/service",
            "sku": {
              "name": "Developer"
            },
            "capacity": {
              "minimum": 1,
              "maximum": 1,
              "default": 1,
              "scaleType": "none"
            }
          },
          {
            "resourceType": "Microsoft.ApiManagement/service",
            "sku": {
              "name": "Basic"
            },
            "capacity": {
              "minimum": 1,
              "maximum": 2,
              "default": 1,
              "scaleType": "manual"
            }
          },
          {
            "resourceType": "Microsoft.ApiManagement/service",
            "sku": {
              "name": "Standard"
            },
            "capacity": {
              "minimum": 1,
              "maximum": 4,
              "default": 1,
              "scaleType": "automatic"
            }
          },
          {
            "resourceType": "Microsoft.ApiManagement/service",
            "sku": {
              "name": "Premium"
            },
            "capacity": {
              "minimum": 1,
              "maximum": 12,
              "default": 1,
              "scaleType": "automatic"
            }
          }
        ],
        "nextLink": null
      }
    },
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/go-sdk-test-rg/providers/Microsoft.ApiManagement/service/servicedeploysdGYeN/operationresults/d2VzdHVzOnNlcnZpY2VkZXBsb3lzZEdZZU5fVGVybV82MTEwM2UyNw==?api-version=2021-08-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "Location": "https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/go-sdk-test-rg/providers/Microsoft.ApiManagement/service/servicedeploysdGYeN/operationresults/d2VzdHVzOnNlcnZpY2VkZXBsb3lzZEdZZU5fVGVybV82MTEwM2UyNw==?api-version=2021-08-01",
        "Retry-After": "60",
        "x-ms-ratelimit-remaining-subscription-reads": "11928"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.ApiManagement/deletedservices?api-version=2021-08-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-original-request-ids": [
          "00000000-0000-0000-0000-000000000000",
          "b7ddc8fc-eed6-4f5b-8ba3-47157e347605",
          "b7ddc8fc-eed6-4f5b-8ba3-47157e347605",
          "b7ddc8fc-eed6-4f5b-8ba3-47157e347605",
          "b7ddc8fc-eed6-4f5b-8ba3-47157e347605",
          "b7ddc8fc-eed6-4f5b-8ba3-47157e347605",
          "b7ddc8fc-eed6-4f5b-8ba3-47157e347605",
          "b7ddc8fc-eed6-4f5b-8ba3-47157e347605",
          "b7ddc8fc-eed6-4f5b-8ba3-47157e347605",
          "b7ddc8fc-eed6-4f5b-8ba3-47157e347605[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.ApiManagement/locations/westus/deletedservices/servicedeploysdGYeN?api-version=2021-08-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-reads": "11930"
      },
      "ResponseBody": {
        "id": "/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.ApiManagement/locations/westus/deletedservices/servicedeploysdGYeN",
        "name": "servicedeploysdGYeN",
        "type": "Microsoft.ApiManagement/deletedservices",
        "location": "West US",
        "properties": {
          "serviceId": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/go-sdk-test-rg/providers/Microsoft.ApiManagement/service/servicedeploysdGYeN",
          "scheduledPurgeDate": "2022-10-23T12:38:03.3300877Z",
          "deletionDate": "2022-10-21T12:39:12.3897946Z"
        }
      }
    },
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.ApiManagement/locations/westus/deletedservices/servicedeploysdGYeN/operationresults/d2VzdHVzOnNlcnZpY2VkZXBsb3lzZEdZZU5fVGVybV9jYWExYmU4Nw==?api-version=2021-08-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-reads": "11929"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/go-sdk-test-rg?api-version=2021-04-01",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "Location": "https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/operationresults/eyJqb2JJZCI6IlJFU09VUkNFR1JPVVBERUxFVElPTkpPQi1HTzoyRFNESzoyRFRFU1Q6MkQ1MzktV0VTVFVTIiwiam9iTG9jYXRpb24iOiJ3ZXN0dXMifQ?api-version=2021-04-01",
        "Retry-After": "15",
        "x-ms-ratelimit-remaining-subscription-deletes": "14995"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "recordingRandomSeed": "1666342412"
  }
}
