{
  "Entries": [
    {
      "RequestUri": "https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/go-sdk-test-rg?api-version=2021-04-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "location": "westus"
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-writes": "1193"
      },
      "ResponseBody": {
        "id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/go-sdk-test-rg",
        "name": "go-sdk-test-rg",
        "type": "Microsoft.Resources/resourceGroups",
        "location": "westus",
        "properties": {
          "provisioningState": "Succeeded"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/go-sdk-test-rg/providers/Microsoft.ApiManagement/service/serviceusersdGYeN?api-version=2021-08-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "location": "westus",
        "properties": {
          "publisherEmail": "foo@contoso.com",
          "publisherName": "foo"
        },
        "sku": {
          "capacity": 1,
          "name": "Standard"
        },
        "tags": {
          "Name": "Contoso",
          "Test": "User"
        }
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u0022AAAAAAA9288=\u0022",
        "Location": "https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/go-sdk-test-rg/providers/Microsoft.ApiManagement/service/serviceusersdGYeN/operationresults/d2VzdHVzOnNlcnZpY2V1c2Vyc2RHWWVOX0FjdF9mZmI5MGY2MQ==?api-version=2021-08-01",
        "Retry-After": "60",
        "x-ms-ratelimit-remaining-subscription-writes": "1192"
      },
      "ResponseBody": {
        "id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/go-sdk-test-rg/providers/Microsoft.ApiManagement/service/serviceusersdGYeN",
        "name": "serviceusersdGYeN",
        "type": "Microsoft.ApiManagement/service",
        "tags": {
          "Name": "Contoso",
          "Test": "User"
        },
        "location": "West US",
        "etag": "AAAAAAA9288=",
        "properties": {
          "publisherEmail": "foo@contoso.com",
          "publisherName": "foo",
          "notificationSenderEmail": "apimgmt-noreply@mail.windowsazure.com",
          "provisioningState": "Created",
          "targetProvisioningState": "Activating",
          "createdAtUtc": "2022-10-22T00:33:39.6318247Z",
          "gatewayUrl": "https://serviceusersdgyen.azure-api.net",
          "gatewayRegionalUrl": null,
          "portalUrl": null,
          "developerPortalUrl": null,
          "managementApiUrl": null,
          "scmUrl": null,
          "hostnameConfigurations": [
            {
              "type": "Proxy",
              "hostName": "serviceusersdgyen.azure-api.net",
              "encodedCertificate": null,
              "keyVaultId": null,
              "certificatePassword": null,
              "negotiateClientCertificate": false,
              "certificate": null,
              "defaultSslBinding": true,
              "identityClientId": null,
              "certificateSource": "BuiltIn",
              "certificateStatus": null
            }
          ],
          "publicIPAddresses": null,
          "privateIPAddresses": null,
          "additionalLocations": null,
          "virtualNetworkConfiguration": null,
          "customProperties": null,
          "virtualNetworkType": "None",
          "certificates": null,
          "disableGateway": false,
          "apiVersionConstraint": {
            "minApiVersion": null
          },
          "publicIpAddressId": null,
          "publicNetworkAccess": "Enabled",
          "privateEndpointConnections": null,
          "platformVersion": "undetermined"
        },
        "sku": {
          "name": "Standard",
          "capacity": 1
        },
        "identity": null,
        "zones": null,
        "systemData": {
          "createdBy": "00000000-0000-0000-0000-000000000000",
          "createdByType": "Application",
          "createdAt": "2022-10-22T00:33:39.5394568Z",
          "lastModifiedBy": "00000000-0000-0000-0000-000000000000",
          "lastModifiedByType": "Application",
          "lastModifiedAt": "2022-10-22T00:33:39.5394568Z"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/go-sdk-test-rg/providers/Microsoft.ApiManagement/service/serviceusersdGYeN/operationresults/d2VzdHVzOnNlcnZpY2V1c2Vyc2RHWWVOX0FjdF9mZmI5MGY2MQ==?api-version=2021-08-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "Location": "https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/go-sdk-test-rg/providers/Microsoft.ApiManagement/service/serviceusersdGYeN/operationresults/d2VzdHVzOnNlcnZpY2V1c2Vyc2RHWWVOX0FjdF9mZmI5MGY2MQ==?api-version=2021-08-01",
        "Retry-After": "60",
        "x-ms-ratelimit-remaining-subscription-reads": "11925"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/go-sdk-test-rg/providers/Microsoft.ApiManagement/service/serviceusersdGYeN/users/useridsdGYeN?api-version=2021-08-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "properties": {
          "confirmation": "signup",
          "email": "foobar@outlook.com",
          "firstName": "foo",
          "lastName": "bar"
        }
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u0022AAAAAAAACSQAAAAAAAAJJg==\u0022",
        "x-ms-ratelimit-remaining-subscription-writes": "1195"
      },
      "ResponseBody": {
        "id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/go-sdk-test-rg/providers/Microsoft.ApiManagement/service/serviceusersdGYeN/users/useridsdGYeN",
        "type": "Microsoft.ApiManagement/service/users",
        "name": "useridsdGYeN",
        "properties": {
          "firstName": "foo",
          "lastName": "bar",
          "email": "foobar@outlook.com",
          "state": "active",
          "registrationDate": "2022-10-22T01:16:32.867Z",
          "note": null,
          "groups": [
            {
              "id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/go-sdk-test-rg/providers/Microsoft.ApiManagement/service/serviceusersdGYeN/groups/developers",
              "name": "Developers",
              "description": "Developers is a built-in group. Its membership is managed by the system. Signed-in users fall into this group.",
              "builtIn": true,
              "type": "system",
              "externalId": null
            }
          ],
          "identities": [
            {
              "provider": "Basic",
              "id": "foobar@outlook.com"
            }
          ]
        }
      }
    },
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/go-sdk-test-rg/providers/Microsoft.ApiManagement/service/serviceusersdGYeN/users?api-version=2021-08-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-reads": "11929"
      },
      "ResponseBody": {
        "value": [
          {
            "id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/go-sdk-test-rg/providers/Microsoft.ApiManagement/service/serviceusersdGYeN/users/1",
            "type": "Microsoft.ApiManagement/service/users",
            "name": "1",
            "properties": {
              "firstName": "Administrator",
              "lastName": "",
              "email": "foo@contoso.com",
              "state": "active",
              "registrationDate": "2022-10-22T00:37:08.317Z",
              "note": null,
              "identities": [
                {
                  "provider": "Azure",
                  "id": "foo@contoso.com"
                }
              ]
            }
          },
          {
            "id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/go-sdk-test-rg/providers/Microsoft.ApiManagement/service/serviceusersdGYeN/users/useridsdGYeN",
            "type": "Microsoft.ApiManagement/service/users",
            "name": "useridsdGYeN",
            "properties": {
              "firstName": "foo",
              "lastName": "bar",
              "email": "foobar@outlook.com",
              "state": "active",
              "registrationDate": "2022-10-22T01:16:32.867Z",
              "note": null,
              "identities": [
                {
                  "provider": "Basic",
                  "id": "foobar@outlook.com"
                }
              ]
            }
          }
        ],
        "count": 2
      }
    },
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/go-sdk-test-rg/providers/Microsoft.ApiManagement/service/serviceusersdGYeN/users/useridsdGYeN?api-version=2021-08-01",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "If-Match": "*"
      },
      "RequestBody": {
        "properties": {
          "email": "foobar@outlook.com",
          "firstName": "foo",
          "lastName": "bar"
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u0022AAAAAAAACSQ=\u0022",
        "x-ms-ratelimit-remaining-subscription-writes": "1194"
      },
      "ResponseBody": {
        "id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/go-sdk-test-rg/providers/Microsoft.ApiManagement/service/serviceusersdGYeN/users/useridsdGYeN",
        "type": "Microsoft.ApiManagement/service/users",
        "name": "useridsdGYeN",
        "properties": {
          "firstName": "foo",
          "lastName": "bar",
          "email": "foobar@outlook.com",
          "state": "active",
          "registrationDate": "2022-10-22T01:16:32.867Z",
          "note": null,
          "groups": [],
          "identities": [
            {
              "provider": "Basic",
              "id": "foobar@outlook.com"
            }
          ]
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/go-sdk-test-rg/providers/Microsoft.ApiManagement/service/serviceusersdGYeN/users/useridsdGYeN/generateSsoUrl?api-version=2021-08-01",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-writes": "1191"
      },
      "ResponseBody": {
        "value": "https://serviceusersdgyen.portal.azure-api.net/signin-sso?token=useridsdGYeN%26202210220121%26eYDxN%2btFEYCR9DIDvzG7fcvqEFadpEgqtsKNaVbqwf2v1q9wLUdhpYxjs3qsIqUfINm99iBn2kGN97%2flO%2bE%2fZw%3d%3d"
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/go-sdk-test-rg/providers/Microsoft.ApiManagement/service/serviceusersdGYeN/users/useridsdGYeN/groups?api-version=2021-08-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-reads": "11927"
      },
      "ResponseBody": {
        "value": [
          {
            "id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/go-sdk-test-rg/providers/Microsoft.ApiManagement/service/serviceusersdGYeN/users/useridsdGYeN/groups/developers",
            "type": "Microsoft.ApiManagement/service/users/groups",
            "name": "developers",
            "properties": {
              "displayName": "Developers",
              "description": "Developers is a built-in group. Its membership is managed by the system. Signed-in users fall into this group.",
              "builtIn": true,
              "type": "system",
              "externalId": null
            }
          }
        ],
        "count": 1
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/go-sdk-test-rg/providers/Microsoft.ApiManagement/service/serviceusersdGYeN/users/useridsdGYeN/subscriptions?api-version=2021-08-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-reads": "11926"
      },
      "ResponseBody": {
        "value": [],
        "count": 0
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/go-sdk-test-rg/providers/Microsoft.ApiManagement/service/serviceusersdGYeN/users/useridsdGYeN/identities?api-version=2021-08-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-reads": "11925"
      },
      "ResponseBody": {
        "value": [
          {
            "provider": "Basic",
            "id": "foobar@outlook.com"
          }
        ],
        "count": 1,
        "nextLink": null
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/go-sdk-test-rg/providers/Microsoft.ApiManagement/service/serviceusersdGYeN/users/useridsdGYeN/confirmations/password/send?api-version=2021-08-01",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-writes": "1190"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/go-sdk-test-rg?api-version=2021-04-01",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "Location": "https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/operationresults/eyJqb2JJZCI6IlJFU09VUkNFR1JPVVBERUxFVElPTkpPQi1HTzoyRFNESzoyRFRFU1Q6MkQ5MjYtV0VTVFVTIiwiam9iTG9jYXRpb24iOiJ3ZXN0dXMifQ?api-version=2021-04-01",
        "Retry-After": "15",
        "x-ms-ratelimit-remaining-subscription-deletes": "14997"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "recordingRandomSeed": "1666342412"
  }
}
