{
  "Entries": [
    {
      "RequestUri": "https://management.azure.com/providers/Microsoft.Management/managementGroups/20000000-0001-0000-0000-000000000123456?api-version=2021-04-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        ":authority": "localhost:5001",
        ":method": "PUT",
        ":path": "/providers/Microsoft.Management/managementGroups/20000000-0001-0000-0000-000000000123456?api-version=2021-04-01",
        ":scheme": "https",
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "name": "20000000-0001-0000-0000-000000000123456"
      },
      "StatusCode": 202,
      "ResponseHeaders": {
        "Azure-AsyncOperation": "https://management.azure.com/providers/Microsoft.Management/operationResults/create/asyncOperation/status/managementGroups/20000000-0001-0000-0000-000000000123456?api-version=2021-04-01",
        "Content-Type": "application/json; charset=utf-8",
        "Location": "https://management.azure.com/providers/Microsoft.Management/operationResults/create/managementGroups/20000000-0001-0000-0000-000000000123456?api-version=2021-04-01",
        "Retry-After": "10",
        "x-ba-restapi": "0.0.0.0",
        "x-ms-ratelimit-remaining-managementgroups-requests": "58",
        "x-ms-ratelimit-remaining-tenant-writes": "1191"
      },
      "ResponseBody": {
        "id": "/providers/Microsoft.Management/managementGroups/20000000-0001-0000-0000-000000000123456",
        "type": "Microsoft.Management/managementGroups",
        "name": "20000000-0001-0000-0000-000000000123456",
        "status": "NotStarted"
      }
    },
    {
      "RequestUri": "https://management.azure.com/providers/Microsoft.Management/operationResults/create/asyncOperation/status/managementGroups/20000000-0001-0000-0000-000000000123456?api-version=2021-04-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        ":authority": "localhost:5001",
        ":method": "GET",
        ":path": "/providers/Microsoft.Management/operationResults/create/asyncOperation/status/managementGroups/20000000-0001-0000-0000-000000000123456?api-version=2021-04-01",
        ":scheme": "https",
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Azure-AsyncOperation": "https://management.azure.com/providers/Microsoft.Management/operationResults/create/asyncOperation/status/managementGroups/20000000-0001-0000-0000-000000000123456?api-version=2021-04-01",
        "Content-Type": "application/json; charset=utf-8",
        "Location": "https://management.azure.com/providers/Microsoft.Management/operationResults/create/managementGroups/20000000-0001-0000-0000-000000000123456?api-version=2021-04-01",
        "Retry-After": "10",
        "x-ba-restapi": "0.0.0.0",
        "x-ms-ratelimit-remaining-tenant-reads": "11975"
      },
      "ResponseBody": {
        "id": "/providers/Microsoft.Management/operationResults/create/asyncOperation/status/managementGroups/20000000-0001-0000-0000-000000000123456",
        "name": "20000000-0001-0000-0000-000000000123456",
        "status": "Running"
      }
    },
    {
      "RequestUri": "https://management.azure.com/providers/Microsoft.Management/operationResults/create/asyncOperation/status/managementGroups/20000000-0001-0000-0000-000000000123456?api-version=2021-04-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        ":authority": "localhost:5001",
        ":method": "GET",
        ":path": "/providers/Microsoft.Management/operationResults/create/asyncOperation/status/managementGroups/20000000-0001-0000-0000-000000000123456?api-version=2021-04-01",
        ":scheme": "https",
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ba-restapi": "0.0.0.0",
        "x-ms-ratelimit-remaining-tenant-reads": "11974"
      },
      "ResponseBody": {
        "id": "/providers/Microsoft.Management/operationResults/create/asyncOperation/status/managementGroups/20000000-0001-0000-0000-000000000123456",
        "name": "20000000-0001-0000-0000-000000000123456",
        "status": "Succeeded",
        "properties": {
          "tenantId": "72f988bf-86f1-41af-91ab-2d7cd011db47",
          "displayName": "20000000-0001-0000-0000-000000000123456",
          "details": {
            "version": 37,
            "updatedTime": "2022-02-15T03:44:09.9935738Z",
            "updatedBy": "81fa2eb4-9d84-4df5-ad32-6c22e2feb57e"
          }
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/providers/Microsoft.Management/managementGroups/20000000-0001-0000-0000-000000000123456?api-version=2021-04-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        ":authority": "localhost:5001",
        ":method": "GET",
        ":path": "/providers/Microsoft.Management/managementGroups/20000000-0001-0000-0000-000000000123456?api-version=2021-04-01",
        ":scheme": "https",
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ba-restapi": "0.0.0.0",
        "x-ms-ratelimit-remaining-tenant-reads": "11973"
      },
      "ResponseBody": {
        "id": "/providers/Microsoft.Management/managementGroups/20000000-0001-0000-0000-000000000123456",
        "type": "Microsoft.Management/managementGroups",
        "name": "20000000-0001-0000-0000-000000000123456",
        "properties": {
          "tenantId": "72f988bf-86f1-41af-91ab-2d7cd011db47",
          "displayName": "20000000-0001-0000-0000-000000000123456",
          "details": {
            "version": 37,
            "updatedTime": "2022-02-15T03:44:09.9935738Z",
            "updatedBy": "81fa2eb4-9d84-4df5-ad32-6c22e2feb57e",
            "parent": {
              "id": "/providers/Microsoft.Management/managementGroups/72f988bf-86f1-41af-91ab-2d7cd011db47",
              "name": "72f988bf-86f1-41af-91ab-2d7cd011db47",
              "displayName": "72f988bf-86f1-41af-91ab-2d7cd011db47"
            }
          }
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/providers/Microsoft.Management/managementGroups/20000000-0001-0000-0000-000000000123456/providers/Microsoft.Resources/deployments/rs1579434151?api-version=2021-04-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        ":authority": "localhost:5001",
        ":method": "PUT",
        ":path": "/providers/Microsoft.Management/managementGroups/20000000-0001-0000-0000-000000000123456/providers/Microsoft.Resources/deployments/rs1579434151?api-version=2021-04-01",
        ":scheme": "https",
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "location": "West US",
        "properties": {
          "mode": "Incremental",
          "parametersLink": {
            "uri": "https://raw.githubusercontent.com/Azure/azure-quickstart-templates/master/100-blank-template/azuredeploy.json"
          },
          "templateLink": {
            "uri": "https://raw.githubusercontent.com/Azure/azure-quickstart-templates/master/100-blank-template/azuredeploy.json"
          }
        }
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Azure-AsyncOperation": "https://management.azure.com/providers/Microsoft.Management/managementGroups/20000000-0001-0000-0000-000000000123456/providers/Microsoft.Resources/deployments/rs1579434151/operationStatuses/08585567102183695215?api-version=2021-04-01",
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-tenant-writes": "1190"
      },
      "ResponseBody": {
        "id": "/providers/Microsoft.Management/managementGroups/20000000-0001-0000-0000-000000000123456/providers/Microsoft.Resources/deployments/rs1579434151",
        "name": "rs1579434151",
        "type": "Microsoft.Resources/deployments",
        "location": "westus",
        "properties": {
          "templateLink": {
            "uri": "https://raw.githubusercontent.com/Azure/azure-quickstart-templates/master/100-blank-template/azuredeploy.json",
            "contentVersion": "1.0.0.0"
          },
          "templateHash": "653051900461279848",
          "parametersLink": {
            "uri": "https://raw.githubusercontent.com/Azure/azure-quickstart-templates/master/100-blank-template/azuredeploy.json"
          },
          "parameters": {},
          "mode": "Incremental",
          "provisioningState": "Accepted",
          "timestamp": "2022-02-15T03:44:28.3999629Z",
          "duration": "PT0.0005615S",
          "correlationId": "fc24cb04-70f7-45d8-bed9-3a0af6019b7b",
          "providers": [],
          "dependencies": []
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/providers/Microsoft.Management/managementGroups/20000000-0001-0000-0000-000000000123456/providers/Microsoft.Resources/deployments/rs1579434151/operationStatuses/08585567102183695215?api-version=2021-04-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        ":authority": "localhost:5001",
        ":method": "GET",
        ":path": "/providers/Microsoft.Management/managementGroups/20000000-0001-0000-0000-000000000123456/providers/Microsoft.Resources/deployments/rs1579434151/operationStatuses/08585567102183695215?api-version=2021-04-01",
        ":scheme": "https",
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-tenant-reads": "11972"
      },
      "ResponseBody": {
        "status": "Succeeded"
      }
    },
[...]
    {
      "RequestUri": "https://management.azure.com/providers/Microsoft.Management/managementGroups/20000000-0001-0000-0000-000000000123456/providers/Microsoft.Resources/deployments/rs1579434151/validate?api-version=2021-04-01",
      "RequestMethod": "POST",
      "RequestHeaders": {
        ":authority": "localhost:5001",
        ":method": "POST",
        ":path": "/providers/Microsoft.Management/managementGroups/20000000-0001-0000-0000-000000000123456/providers/Microsoft.Resources/deploy[...]
    {
      "RequestUri": "https://management.azure.com/providers/Microsoft.Management/managementGroups/20000000-0001-0000-0000-000000000123456?api-version=2021-04-01",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        ":authority": "localhost:5001",
        ":method": "DELETE",
        ":path": "/providers/Microsoft.Management/managementGroups/20000000-0001-0000-0000-000000000123456?api-version=2021-04-01",
        ":scheme": "https",
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "Azure-AsyncOperation": "https://management.azure.com/providers/Microsoft.Management/operationResults/delete/asyncOperation/status/managementGroups/20000000-0001-0000-0000-000000000123456?api-version=2021-04-01",
        "Content-Type": "application/json; charset=utf-8",
        "Location": "https://management.azure.com/providers/Microsoft.Management/operationResults/delete/managementGroups/20000000-0001-0000-0000-000000000123456?api-version=2021-04-01",
        "Retry-After": "10",
        "x-ba-restapi": "0.0.0.0",
        "x-ms-ratelimit-remaining-managementgroups-requests": "58",
        "x-ms-ratelimit-remaining-tenant-deletes": "14995"
      },
      "ResponseBody": {
        "id": "/providers/Microsoft.Management/managementGroups/20000000-0001-0000-0000-000000000123456",
        "type": "Microsoft.Management/managementGroups",
        "name": "20000000-0001-0000-0000-000000000123456",
        "status": "NotStarted"
      }
    }
  ],
  "Variables": {}
}
