{
  "Entries": [
    {
      "RequestUri": "https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/testRG-validate689507024?api-version=2021-04-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        ":authority": "localhost:5001",
        ":method": "PUT",
        ":path": "/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/testRG-validate689507024?api-version=2021-04-01",
        ":scheme": "https",
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "location": "westus"
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-writes": "1185"
      },
      "ResponseBody": {
        "id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/testRG-validate689507024",
        "name": "testRG-validate689507024",
        "type": "Microsoft.Resources/resourceGroups",
        "location": "westus",
        "properties": {
          "provisioningState": "Succeeded"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/testRG-validate689507024/providers/Microsoft.Resources/deployments/rs689507024?api-version=2021-04-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        ":authority": "localhost:5001",
        ":method": "PUT",
        ":path": "/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/testRG-validate689507024/providers/Microsoft.Resources/deployments/[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/testRG-validate689507024/providers/Microsoft.Resources/deployments/rs689507024/operationStatuses/08585567107272023075?api-version=2021-04-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        ":authority": "localhost:5001",
        ":method": "GET",
        ":path": "/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/testRG-validate689507024/providers/Microsoft.Resources/deployments/rs689507024/operationStatuses/08585567107272023075?api-version=2021-04-01",
        ":scheme": "https",
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-reads": "11965"
      },
      "ResponseBody": {
        "status": "Accepted"
      }
    },
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/testRG-validate689507024/providers/Microsoft.Resources/deployments/rs689507024?api-version=2021-04-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        ":authority": "localhost:5001",
        ":method": "GET",
        ":path": "/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/testRG-validate689507024/providers/Microsoft.Resources/deployments/rs689507024?api-version=2021-04-01",
        ":scheme": "https",
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-reads": "11963"
      },
      "ResponseBody": {
        "id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/testRG-validate689507024/providers/Microsoft.Resources/deployments/rs689507024",
        "name": "rs689507024",
        "type": "Microsoft.Resources/deployments",
        "properties": {
          "templateHash": "3315814388681758746",
          "parameters": {
            "location": {
              "type": "String",
              "value": "West US"
            }
          },
          "mode": "Incremental",
          "provisioningState": "Succeeded",
          "timestamp": "2022-02-15T03:36:09.9299753Z",
          "duration": "PT10.7909567S",
          "correlationId": "1be1d631-2fb8-4b8e-af32-95738cf4e7f9",
          "providers": [
            {
              "namespace": "Microsoft.Compute",
              "resourceTypes": [
                {
                  "resourceType": "availabilitySets",
                  "locations": [
                    "westus"
                  ]
                }
              ]
            }
          ],
          "dependencies": [],
          "outputs": {
            "myparameter": {
              "type": "Object",
              "value": {
                "platformUpdateDomainCount": 5,
                "platformFaultDomainCount": 3
              }
            }
          },
          "outputResources": [
            {
              "id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/testRG-validate689507024/providers/Microsoft.Compute/availabilitySets/availabilitySet1"
            }
          ]
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/testRG-validate689507024/providers/Microsoft.Resources/deployments/rs689507024/validate?api-version=2021-04-01",
      "RequestMethod": "POST",
      "RequestHeaders": {
        ":authority": "localhost:5001",
        ":method": "POST",
        ":path": "/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/testRG-validate689507024/providers/Microsoft.Resources/d[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/testRG-validate689507024?api-version=2021-04-01",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        ":authority": "localhost:5001",
        ":method": "DELETE",
        ":path": "/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/testRG-validate689507024?api-version=2021-04-01",
        ":scheme": "https",
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "Location": "https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/operationresults/eyJqb2JJZCI6IlJFU09VUkNFR1JPVVBERUxFVElPTkpPQi1URVNUUkc6MkRWQUxJREFURTY4OTUwNzAyNC1XRVNUVVMiLCJqb2JMb2NhdGlvbiI6Indlc3R1cyJ9?api-version=2021-04-01",
        "Retry-After": "15",
        "x-ms-ratelimit-remaining-subscription-deletes": "14992"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {}
}
