{
  "Entries": [
    {
      "RequestUri": "https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/testRG-get700935126?api-version=2021-04-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        ":authority": "localhost:5001",
        ":method": "PUT",
        ":path": "/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/testRG-get700935126?api-version=2021-04-01",
        ":scheme": "https",
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "location": "westus"
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-writes": "1175"
      },
      "ResponseBody": {
        "id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/testRG-get700935126",
        "name": "testRG-get700935126",
        "type": "Microsoft.Resources/resourceGroups",
        "location": "westus",
        "properties": {
          "provisioningState": "Succeeded"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/testRG-get700935126/providers/Microsoft.Resources/deployments/rs700935126?api-version=2021-04-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        ":authority": "localhost:5001",
        ":method": "PUT",
        ":path": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/testRG-get700935126/providers/Microsoft.Resources/deployments/rs70093512[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/testRG-get700935126/providers/Microsoft.Resources/deployments/rs700935126/operationStatuses/08585559350037161039?api-version=2021-04-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        ":authority": "localhost:5001",
        ":method": "GET",
        ":path": "/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/testRG-get700935126/providers/Microsoft.Resources/deployments/rs700935126/operationStatuses/08585559350037161039?api-version=2021-04-01",
        ":scheme": "https",
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-reads": "11948"
      },
      "ResponseBody": {
        "status": "Accepted"
      }
    },
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/testRG-get700935126/providers/Microsoft.Resources/deployments/rs700935126?api-version=2021-04-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        ":authority": "localhost:5001",
        ":method": "GET",
        ":path": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/testRG-get700935126/providers/Microsoft.Resources/deployments/rs700935126?api-version=2021-04-01",
        ":scheme": "https",
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-reads": "11945"
      },
      "ResponseBody": {
        "id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/testRG-get700935126/providers/Microsoft.Resources/deployments/rs700935126",
        "name": "rs700935126",
        "type": "Microsoft.Resources/deployments",
        "properties": {
          "templateHash": "3315814388681758746",
          "parameters": {
            "location": {
              "type": "String",
              "value": "West US"
            }
          },
          "mode": "Incremental",
          "provisioningState": "Succeeded",
          "timestamp": "2022-02-24T03:04:54.9329117Z",
          "duration": "PT12.1210173S",
          "correlationId": "2d1eda42-49bf-4337-b75c-a568e3d24dc2",
          "providers": [
            {
              "namespace": "Microsoft.Compute",
              "resourceTypes": [
                {
                  "resourceType": "availabilitySets",
                  "locations": [
                    "westus"
                  ]
                }
              ]
            }
          ],
          "dependencies": [],
          "outputs": {
            "myparameter": {
              "type": "Object",
              "value": {
                "platformUpdateDomainCount": 5,
                "platformFaultDomainCount": 3
              }
            }
          },
          "outputResources": [
            {
              "id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/testRG-get700935126/providers/Microsoft.Compute/availabilitySets/availabilitySet1"
            }
          ]
        }
      }
    },
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/testRG-get700935126?api-version=2021-04-01",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        ":authority": "localhost:5001",
        ":method": "DELETE",
        ":path": "/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/testRG-get700935126?api-version=2021-04-01",
        ":scheme": "https",
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "Location": "https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/operationresults/eyJqb2JJZCI6IlJFU09VUkNFR1JPVVBERUxFVElPTkpPQi1URVNUUkc6MkRHRVQ3MDA5MzUxMjYtV0VTVFVTIiwiam9iTG9jYXRpb24iOiJ3ZXN0dXMifQ?api-version=2021-04-01",
        "Retry-After": "15",
        "x-ms-ratelimit-remaining-subscription-deletes": "14985"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {}
}
