{
  "Entries": [
    {
      "RequestUri": "https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/tagNames/tag529323608?api-version=2021-04-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        ":authority": "localhost:5001",
        ":method": "PUT",
        ":path": "/subscriptions/00000000-0000-0000-0000-000000000000/tagNames/tag529323608?api-version=2021-04-01",
        ":scheme": "https",
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-writes": "1196"
      },
      "ResponseBody": {
        "id": "/subscriptions/00000000-0000-0000-0000-000000000000/tagNames/tag529323608",
        "tagName": "tag529323608",
        "count": {
          "type": "Total",
          "value": 0
        },
        "values": []
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/tagNames?api-version=2021-04-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        ":authority": "localhost:5001",
        ":method": "GET",
        ":path": "/subscriptions/00000000-0000-0000-0000-000000000000/tagNames?api-version=2021-04-01",
        ":scheme": "https",
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-reads": "11998"
      },
      "ResponseBody": {
        "value": [
          {
            "id": "/subscriptions/00000000-0000-0000-0000-000000000000/tagNames/tag1",
            "tagName": "tag1",
            "count": {
              "type": "Total",
              "value": 1
            },
            "values": [
              {
                "id": "/subscriptions/00000000-0000-0000-0000-000000000000/tagNames/tag1/tagValues/value1",
                "tagValue": "value1",
                "count": {
                  "type": "Total",
                  "value": 1
                }
              }
            ]
          },
          {
            "id": "/subscriptions/00000000-0000-0000-0000-000000000000/tagNames/tag2",
            "tagName": "tag2",
            "count": {
              "type": "Total",
              "value": 1
            },
            "values": [
              {
                "id": "/subscriptions/00000000-0000-0000-0000-00000000000[...]
