{
  "Entries": [
    {
      "RequestUri": "https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Resources/deployments/rs284275121?api-version=2021-04-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        ":authority": "localhost:5001",
        ":method": "PUT",
        ":path": "/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Resources/deployments/rs284275121?api-version=2021-04-01",
        ":scheme": "https",
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "location": "West US",
        "properties": {
          "mode": "Incremental",
          "parametersLink": {
            "uri": "https://raw.githubusercontent.com/Azure/azure-quickstart-templates/master/100-blank-template/azuredeploy.json"
          },
          "templateLink": {
            "uri": "https://raw.githubusercontent.com/Azure/azure-quickstart-templates/master/100-blank-template/azuredeploy.json"
          }
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Azure-AsyncOperation": "https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Resources/deployments/rs284275121/operationStatuses/08585559344558130126?api-version=2021-04-01",
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-writes": "1163"
      },
      "ResponseBody": {
        "id": "/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Resources/deployments/rs284275121",
        "name": "rs284275121",
        "type": "Microsoft.Resources/deployments",
        "location": "westus",
        "properties": {
          "templateLink": {
            "uri": "https://raw.githubusercontent.com/Azure/azure-quickstart-templates/master/100-blank-template/azuredeploy.json",
            "contentVersion": "1.0.0.0"
          },
          "templateHash": "653051900461279848",
          "parametersLink": {
            "uri": "https://raw.githubusercontent.com/Azure/azure-quickstart-templates/master/100-blank-template/azuredeploy.json"
          },
          "parameters": {},
          "mode": "Incremental",
          "provisioningState": "Accepted",
          "timestamp": "2022-02-24T03:13:52.6723142Z",
          "duration": "PT0.0003971S",
          "correlationId": "7c4dffe6-cb7a-4e4d-95f4-19481e1ad18a",
          "providers": [],
          "dependencies": []
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Resources/deployments/rs284275121/operationStatuses/08585559344558130126?api-version=2021-04-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        ":authority": "localhost:5001",
        ":method": "GET",
        ":path": "/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Resources/deployments/rs284275121/operationStatuses/08585559344558130126?api-version=2021-04-01",
        ":scheme": "https",
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-reads": "11917"
      },
      "ResponseBody": {
        "status": "Accepted"
      }
    },
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Resources/deployments/rs284275121/whatIf?api-version=2021-04-01",
      "RequestMethod": "POST",
      "RequestHeaders": {
        ":authority": "localhost:5001",
        ":method": "POST",
        ":path": "/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Resources/deployments/rs284275121/whatIf?api-version=2021-04-01",
        ":scheme": "https",
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "properties": {
          "mode": "Incremental",
          "parametersLink": {
            "uri": "https://raw.githubusercontent.com/Azure/azure-quickstart-templates/master/100-blank-template/azuredeploy.json"
          },
          "templateLink": {
            "uri": "https://raw.githubusercontent.com/Azure/azure-quickstart-templates/master/100-blank-template/azuredeploy.json"
          }
        },
        "location": "West US"
      },
      "StatusCode": 202,
      "ResponseHeaders": {
        "Location": "https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/operationresults/eyJqb2JJZCI6IkRlcGxveW1lbnRXaGF0SWZKb2ItLVJTMjg0Mjc1MTIxLTAwODk4QjVCOjJEQjZCQzoyRDQ1MDY6MkRCNDYzOjJENUVEM0ZGRTIwQ0U3Iiwiam9iTG9jYXRpb24iOiJXZXN0IFVTIn0?api-version=2021-04-01",
        "Retry-After": "15",
        "x-ms-ratelimit-remaining-subscription-writes": "1194"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/operationresults/eyJqb2JJZCI6IkRlcGxveW1lbnRXaGF0SWZKb2ItLVJTMjg0Mjc1MTIxLTAwODk4QjVCOjJEQjZCQzoyRDQ1MDY6MkRCNDYzOjJENUVEM0ZGRTIwQ0U3Iiwiam9iTG9jYXRpb24iOiJXZXN0IFVTIn0?api-version=2021-04-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        ":authority": "localhost:5001",
        ":method": "GET",
        ":path": "/subscriptions/00000000-0000-0000-0000-000000000000/operationresults/eyJqb2JJZCI6IkRlcGxveW1lbnRXaGF0SWZKb2ItLVJTMjg0Mjc1MTIxLTAwODk4QjVCOjJEQjZCQzoyRDQ1MDY6MkRCNDYzOjJENUVEM0ZGRTIwQ0U3Iiwiam9iTG9jYXRpb24iOiJXZXN0IFVTIn0?api-version=2021-04-01",
        ":scheme": "https",
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-reads": "11914"
      },
      "ResponseBody": {
        "status": "Succeeded",
        "properties": {
          "correlationId": "00898b5b-b6bc-4506-b463-5ed3ffe20ce7",
          "changes": []
        }
      }
    }
  ],
  "Variables": {}
}
