{
  "Entries": [
    {
      "RequestUri": "https://fakekvurl.managedhsm.azure.net/keys/key3028589187/create?api-version=7.3-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        ":authority": "localhost:5001",
        ":method": "POST",
        ":path": "/keys/key3028589187/create?api-version=7.3-preview",
        ":scheme": "https"
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\u0022https://login.microsoftonline.com/00000000-0000-0000-0000-000000000000\u0022, resource=\u0022https://managedhsm.azure.net\u0022",
        "x-ms-server-latency": "1"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakekvurl.managedhsm.azure.net/keys/key3028589187/create?api-version=7.3-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        ":authority": "localhost:5001",
        ":method": "POST",
        ":path": "/keys/key3028589187/create?api-version=7.3-preview",
        ":scheme": "https",
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "kty": "RSA"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-server-latency": "223"
      },
      "ResponseBody": {
        "attributes": {
          "created": 1640018470,
          "enabled": true,
          "exportable": false,
          "recoverableDays": 7,
          "recoveryLevel": "CustomizedRecoverable\u002BPurgeable",
          "updated": 1640018470
        },
        "key": {
          "e": "AQAB",
          "key_ops": [
            "wrapKey",
            "decrypt",
            "encrypt",
            "unwrapKey",
            "sign",
            "verify"
          ],
          "kid": "https://rosebudhsm.managedhsm.azure.net/keys/key3028589187/9e6e9ae53d25079fbfc7b2dbe3b7c762",
          "kty": "RSA-HSM",
          "n": "qqojvO5U8v8XzOU2-jjeU3e9E5z59GIP46hbQ7paD0diahaS_S6I0Wuw7upfGYg0r_bzdRnDV_euhkARKuwTg_aR-9inBDDh-VJYdY7mb5L8UZLN_UZ5y80NQAuAQuo1NkLqaE3mMBdFp5RJpwphJlQ-e58jSPWI3xiDBs-tz65078xfRPwuWDJ6yvInSaAqrL0uieDbArwDmTmbzMZwzztmjq1vPvAsLE-Pp-Fe2sWltLK2KaaHQx9fBMgk3sXxxL5m70wYHgdbUewt00nu-lvotrk-_jVYDJFmPUeNS9Wr7_q676dl5FaojB1yw0SY9s_aXSEAmWuzKAPirtRXOQ"
        }
      }
    },
    {
      "RequestUri": "https://fakekvurl.managedhsm.azure.net/keys/key3028589187/?api-version=7.3-preview",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        ":authority": "localhost:5001",
        ":method": "PATCH",
        ":path": "/keys/key3028589187/?api-version=7.3-preview",
        ":scheme": "https",
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "attributes": {
          "exp": 1671554471
        },
        "key_ops": [],
        "tags": {
          "Tag1": "Val1"
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-server-latency": "140"
      },
      "ResponseBody": {
        "attributes": {
          "created": 1640018470,
          "enabled": true,
          "exp": 1671554471,
          "exportable": false,
          "recoverableDays": 7,
          "recoveryLevel": "CustomizedRecoverable\u002BPurgeable",
          "updated": 1640018471
        },
        "key": {
          "e": "AQAB",
          "kid": "https://rosebudhsm.managedhsm.azure.net/keys/key3028589187/9e6e9ae53d25079fbfc7b2dbe3b7c762",
          "kty": "RSA-HSM",
          "n": "qqojvO5U8v8XzOU2-jjeU3e9E5z59GIP46hbQ7paD0diahaS_S6I0Wuw7upfGYg0r_bzdRnDV_euhkARKuwTg_aR-9inBDDh-VJYdY7mb5L8UZLN_UZ5y80NQAuAQuo1NkLqaE3mMBdFp5RJpwphJlQ-e58jSPWI3xiDBs-tz65078xfRPwuWDJ6yvInSaAqrL0uieDbArwDmTmbzMZwzztmjq1vPvAsLE-Pp-Fe2sWltLK2KaaHQx9fBMgk3sXxxL5m70wYHgdbUewt00nu-lvotrk-_jVYDJFmPUeNS9Wr7_q676dl5FaojB1yw0SY9s_aXSEAmWuzKAPirtRXOQ"
        },
        "tags": {
          "Tag1": "Val1"
        }
      }
    },
    {
      "RequestUri": "https://fakekvurl.managedhsm.azure.net/keys/doesnotexist/?api-version=7.3-preview",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        ":authority": "localhost:5001",
        ":method": "PATCH",
        ":path": "/keys/doesnotexist/?api-version=7.3-preview",
        ":scheme": "https",
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "key_ops": []
      },
      "StatusCode": 404,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-server-latency": "18"
      },
      "ResponseBody": {
        "error": {
          "code": "KeyNotFound",
          "message": "Key not found: https://rosebudhsm.managedhsm.azure.net/keys/doesnotexist (Activity ID: a3a5d448-61b3-11ec-985f-000d3aec06d7)"
        }
      }
    },
    {
      "RequestUri": "https://fakekvurl.managedhsm.azure.net/keys/key3028589187?api-version=7.3-preview",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        ":authority": "localhost:5001",
        ":method": "DELETE",
        ":path": "/keys/key3028589187?api-version=7.3-preview",
        ":scheme": "https",
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-server-latency": "92"
      },
      "ResponseBody": {
        "attributes": {
          "created": 1640018470,
          "enabled": true,
          "exp": 1671554471,
          "exportable": false,
          "recoverableDays": 7,
          "recoveryLevel": "CustomizedRecoverable\u002BPurgeable",
          "updated": 1640018471
        },
        "deletedDate": 1640018471,
        "key": {
          "e": "AQAB",
          "kid": "https://rosebudhsm.managedhsm.azure.net/keys/key3028589187/9e6e9ae53d25079fbfc7b2dbe3b7c762",
          "kty": "RSA-HSM",
          "n": "qqojvO5U8v8XzOU2-jjeU3e9E5z59GIP46hbQ7paD0diahaS_S6I0Wuw7upfGYg0r_bzdRnDV_euhkARKuwTg_aR-9inBDDh-VJYdY7mb5L8UZLN_UZ5y80NQAuAQuo1NkLqaE3mMBdFp5RJpwphJlQ-e58jSPWI3xiDBs-tz65078xfRPwuWDJ6yvInSaAqrL0uieDbArwDmTmbzMZwzztmjq1vPvAsLE-Pp-Fe2sWltLK2KaaHQx9fBMgk3sXxxL5m70wYHgdbUewt00nu-lvotrk-_jVYDJFmPUeNS9Wr7_q676dl5FaojB1yw0SY9s_aXSEAmWuzKAPirtRXOQ"
        },
        "recoveryId": "https://rosebudhsm.managedhsm.azure.net/deletedkeys/key3028589187",
        "scheduledPurgeDate": 1640623271,
        "tags": {
          "Tag1": "Val1"
        }
      }
    },
    {
      "RequestUri": "https://fakekvurl.managedhsm.azure.net/deletedkeys/key3028589187?api-version=7.3-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        ":authority": "localhost:5001",
        ":method": "GET",
        ":path": "/deletedkeys/key3028589187?api-version=7.3-preview",
        ":scheme": "https",
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-build-version": "1.0.20211206-1-be739728-develop",
        "x-ms-server-latency": "35"
      },
      "ResponseBody": {
        "attributes": {
          "created": 1640018470,
          "enabled": true,
          "exp": 1671554471,
          "exportable": false,
          "recoverableDays": 7,
          "recoveryLevel": "CustomizedRecoverable\u002BPurgeable",
          "updated": 1640018471
        },
        "deletedDate": 1640018471,
        "key": {
          "e": "AQAB",
          "kid": "https://rosebudhsm.managedhsm.azure.net/keys/key3028589187/9e6e9ae53d25079fbfc7b2dbe3b7c762",
          "kty": "RSA-HSM",
          "n": "qqojvO5U8v8XzOU2-jjeU3e9E5z59GIP46hbQ7paD0diahaS_S6I0Wuw7upfGYg0r_bzdRnDV_euhkARKuwTg_aR-9inBDDh-VJYdY7mb5L8UZLN_UZ5y80NQAuAQuo1NkLqaE3mMBdFp5RJpwphJlQ-e58jSPWI3xiDBs-tz65078xfRPwuWDJ6yvInSaAqrL0uieDbArwDmTmbzMZwzztmjq1vPvAsLE-Pp-Fe2sWltLK2KaaHQx9fBMgk3sXxxL5m70wYHgdbUewt00nu-lvotrk-_jVYDJFmPUeNS9Wr7_q676dl5FaojB1yw0SY9s_aXSEAmWuzKAPirtRXOQ"
        },
        "recoveryId": "https://rosebudhsm.managedhsm.azure.net/deletedkeys/key3028589187",
        "scheduledPurgeDate": 1640623271,
        "tags": {
          "Tag1": "Val1"
        }
      }
    },
[...]
    {
      "RequestUri": "https://fakekvurl.managedhsm.azure.net/deletedkeys/key3028589187?api-version=7.3-preview",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        ":authority": "localhost:5001",
        ":method": "DELETE",
        ":path": "/deletedkeys/key3028589187?api-version=7.3-preview",
        ":scheme": "https",
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-server-latency": "114"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {}
}
