{
  "Entries": [
    {
      "RequestUri": "https://fakekvurl.vault.azure.net/keys/key3533325025/create?api-version=7.3",
      "RequestMethod": "POST",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\u0022https://login.windows.net/72f988bf-86f1-41af-91ab-2d7cd011db47\u0022, resource=\u0022https://vault.azure.net\u0022"
      },
      "ResponseBody": {
        "error": {
          "code": "Unauthorized",
          "message": "AKV10000: Request is missing a Bearer or PoP token."
        }
      }
    },
    {
      "RequestUri": "https://fakekvurl.vault.azure.net/keys/key3533325025/create?api-version=7.3",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "kty": "RSA"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "key": {
          "kid": "https://fakekvurl.vault.azure.net/keys/key3533325025/f05649e4956f48709edf1c175ceb0e65",
          "kty": "RSA",
          "key_ops": [
            "encrypt",
            "decrypt",
            "sign",
            "verify",
            "wrapKey",
            "unwrapKey"
          ],
          "n": "vOn5uQvPz_Vc2uyyDpaO-BVMgXHDZRnSTOEnmS6zA1WMN5HGQWlnJwyjQfrOre91dtBZxcCPp7W3XqtASCqrcPjTzYn6GWPLUMjO3swLRA0DBQDluqZFyKrLRiwxc-i6xw7fmqSPFIxkCJGDcfXky9vg49Hyu2Y0Mg5EQcZ5rgj2O8rIohGrfE-L4ilfi1K-lgB_d0VWpcKhQENJR47h3azXmrUbhA0P-d3Sa6p4bCWGwYBb2UiSCZRjP-OX-KQUn6tBlvv8TmqHKelcgkQudvCufPblIJvNkDvHFLlanNb4yeeFeLls7ADkGA5IxiOZlAu3qGI3mLEoRGqUIIcaGQ",
          "e": "AQAB"
        },
        "attributes": {
          "enabled": true,
          "created": 1653347215,
          "updated": 1653347215,
          "recoveryLevel": "CustomizedRecoverable\u002BPurgeable",
          "recoverableDays": 7
        }
      }
    },
    {
      "RequestUri": "https://fakekvurl.vault.azure.net/keys/key3533325025/f05649e4956f48709edf1c175ceb0e65?api-version=7.3",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "attributes": {
          "enabled": true,
          "exp": 1684883218
        },
        "tags": {
          "Tag1": "Val1"
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "key": {
          "kid": "https://fakekvurl.vault.azure.net/keys/key3533325025/f05649e4956f48709edf1c175ceb0e65",
          "kty": "RSA",
          "key_ops": [
            "encrypt",
            "decrypt",
            "sign",
            "verify",
            "wrapKey",
            "unwrapKey"
          ],
          "n": "vOn5uQvPz_Vc2uyyDpaO-BVMgXHDZRnSTOEnmS6zA1WMN5HGQWlnJwyjQfrOre91dtBZxcCPp7W3XqtASCqrcPjTzYn6GWPLUMjO3swLRA0DBQDluqZFyKrLRiwxc-i6xw7fmqSPFIxkCJGDcfXky9vg49Hyu2Y0Mg5EQcZ5rgj2O8rIohGrfE-L4ilfi1K-lgB_d0VWpcKhQENJR47h3azXmrUbhA0P-d3Sa6p4bCWGwYBb2UiSCZRjP-OX-KQUn6tBlvv8TmqHKelcgkQudvCufPblIJvNkDvHFLlanNb4yeeFeLls7ADkGA5IxiOZlAu3qGI3mLEoRGqUIIcaGQ",
          "e": "AQAB"
        },
        "attributes": {
          "enabled": true,
          "exp": 1684883218,
          "created": 1653347215,
          "updated": 1653347216,
          "recoveryLevel": "CustomizedRecoverable\u002BPurgeable",
          "recoverableDays": 7
        },
        "tags": {
          "Tag1": "Val1"
        }
      }
    },
    {
      "RequestUri": "https://fakekvurl.vault.azure.net/keys/doesnotexist/f05649e4956f48709edf1c175ceb0e65?api-version=7.3",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "attributes": {
          "enabled": true,
          "exp": 1684883218
        },
        "tags": {
          "Tag1": "Val1"
        }
      },
      "StatusCode": 404,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "error": {
          "code": "KeyNotFound",
          "message": "A key with (name/id) doesnotexist was not found in this key vault. If you recently deleted this key you may be able to recover it using the correct recovery command. For help resolving this issue, please see https://go.microsoft.com/fwlink/?linkid=2125182"
        }
      }
    },
    {
      "RequestUri": "https://fakekvurl.vault.azure.net/keys/key3533325025?api-version=7.3",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "recoveryId": "https://fakekvurl.vault.azure.net/deletedkeys/key3533325025",
        "deletedDate": 1653347216,
        "scheduledPurgeDate": 1653952016,
        "key": {
          "kid": "https://fakekvurl.vault.azure.net/keys/key3533325025/f05649e4956f48709edf1c175ceb0e65",
          "kty": "RSA",
          "key_ops": [
            "encrypt",
            "decrypt",
            "sign",
            "verify",
            "wrapKey",
            "unwrapKey"
          ],
          "n": "vOn5uQvPz_Vc2uyyDpaO-BVMgXHDZRnSTOEnmS6zA1WMN5HGQWlnJwyjQfrOre91dtBZxcCPp7W3XqtASCqrcPjTzYn6GWPLUMjO3swLRA0DBQDluqZFyKrLRiwxc-i6xw7fmqSPFIxkCJGDcfXky9vg49Hyu2Y0Mg5EQcZ5rgj2O8rIohGrfE-L4ilfi1K-lgB_d0VWpcKhQENJR47h3azXmrUbhA0P-d3Sa6p4bCWGwYBb2UiSCZRjP-OX-KQUn6tBlvv8TmqHKelcgkQudvCufPblIJvNkDvHFLlanNb4yeeFeLls7ADkGA5IxiOZlAu3qGI3mLEoRGqUIIcaGQ",
          "e": "AQAB"
        },
        "attributes": {
          "enabled": true,
          "exp": 1684883218,
          "created": 1653347215,
          "updated": 1653347216,
          "recoveryLevel": "CustomizedRecoverable\u002BPurgeable",
          "recoverableDays": 7
        },
        "tags": {
          "Tag1": "Val1"
        }
      }
    },
    {
      "RequestUri": "https://fakekvurl.vault.azure.net/deletedkeys/key3533325025?api-version=7.3",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "error": {
          "code": "KeyNotFound",
          "message": "Deleted Key not found: key3533325025"
        }
      }
    },
[...]
    {
      "RequestUri": "https://fakekvurl.vault.azure.net/deletedkeys/key3533325025?api-version=7.3",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
      },
      "ResponseBody": null
    }
  ],
  "Variables": {}
}
