//go:build go1.16
// +build go1.16

// Copyright (c) Microsoft Corporation. All rights reserved.
// Licensed under the MIT License. See License.txt in the project root for license information.
// Code generated by Microsoft (R) AutoRest Code Generator.
// Changes may cause incorrect behavior and will be lost if the code is regenerated.

package armsoftwareplan

import (
	"context"
	"errors"
	"fmt"
	"github.com/Azure/azure-sdk-for-go/sdk/azcore"
	"github.com/Azure/azure-sdk-for-go/sdk/azcore/arm"
	armruntime "github.com/Azure/azure-sdk-for-go/sdk/azcore/arm/runtime"
	"github.com/Azure/azure-sdk-for-go/sdk/azcore/policy"
	"github.com/Azure/azure-sdk-for-go/sdk/azcore/runtime"
	"net/http"
	"net/url"
	"strings"
)

// SoftwarePlanClient contains the methods for the SoftwarePlan group.
// Don't use this type directly, use NewSoftwarePlanClient() instead.
type SoftwarePlanClient struct {
	ep             string
	pl             runtime.Pipeline
	subscriptionID string
}

// NewSoftwarePlanClient creates a new instance of SoftwarePlanClient with the specified values.
func NewSoftwarePlanClient(subscriptionID string, credential azcore.TokenCredential, options *arm.ClientOptions) *SoftwarePlanClient {
	cp := arm.ClientOptions{}
	if options != nil {
		cp = *options
	}
	if len(cp.Host) == 0 {
		cp.Host = arm.AzurePublicCloud
	}
	return &SoftwarePlanClient{subscriptionID: subscriptionID, ep: string(cp.Host), pl: armruntime.NewPipeline(module, version, credential, &cp)}
}

// Register - Register to Microsoft.SoftwarePlan resource provider.
// If the operation fails it returns the *Error error type.
func (client *SoftwarePlanClient) Register(ctx context.Context, options *SoftwarePlanRegisterOptions) (SoftwarePlanRegisterResponse, error) {
	req, err := client.registerCreateRequest(ctx, options)
	if err != nil {
		return SoftwarePlanRegisterResponse{}, err
	}
	resp, err := client.pl.Do(req)
	if err != nil {
		return SoftwarePlanRegisterResponse{}, err
	}
	if !runtime.HasStatusCode(resp, http.StatusNoContent) {
		return SoftwarePlanRegisterResponse{}, client.registerHandleError(resp)
	}
	return SoftwarePlanRegisterResponse{RawResponse: resp}, nil
}

// registerCreateRequest creates the Register request.
func (client *SoftwarePlanClient) registerCreateRequest(ctx context.Context, options *SoftwarePlanRegisterOptions) (*policy.Request, error) {
	urlPath := "/subscriptions/{subscriptionId}/providers/Microsoft.SoftwarePlan/register"
	if client.subscriptionID == "" {
		return nil, errors.New("parameter client.subscriptionID cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{subscriptionId}", url.PathEscape(client.subscriptionID))
	req, err := runtime.NewRequest(ctx, http.MethodPost, runtime.JoinPaths(client.ep, urlPath))
	if err != nil {
		return nil, err
	}
	reqQP := req.Raw().URL.Query()
	reqQP.Set("api-version", "2019-12-01")
	req.Raw().URL.RawQuery = reqQP.Encode()
	req.Raw().Header.Set("Accept", "application/json")
	return req, nil
}

// registerHandleError handles the Register error response.
func (client *SoftwarePlanClient) registerHandleError(resp *http.Response) error {
	body, err := runtime.Payload(resp)
	if err != nil {
		return runtime.NewResponseError(err, resp)
	}
	errType := Error{raw: string(body)}
	if err := runtime.UnmarshalAsJSON(resp, &errType); err != nil {
		return runtime.NewResponseError(fmt.Errorf("%s\n%s", string(body), err), resp)
	}
	return runtime.NewResponseError(&errType, resp)
}
