//go:build go1.16
// +build go1.16

// Copyright (c) Microsoft Corporation. All rights reserved.
// Licensed under the MIT License. See License.txt in the project root for license information.
// Code generated by Microsoft (R) AutoRest Code Generator.
// Changes may cause incorrect behavior and will be lost if the code is regenerated.

package armsoftwareplan

import (
	"context"
	"errors"
	"fmt"
	"github.com/Azure/azure-sdk-for-go/sdk/azcore"
	"github.com/Azure/azure-sdk-for-go/sdk/azcore/arm"
	armruntime "github.com/Azure/azure-sdk-for-go/sdk/azcore/arm/runtime"
	"github.com/Azure/azure-sdk-for-go/sdk/azcore/policy"
	"github.com/Azure/azure-sdk-for-go/sdk/azcore/runtime"
	"net/http"
	"net/url"
	"strings"
)

// HybridUseBenefitRevisionClient contains the methods for the HybridUseBenefitRevision group.
// Don't use this type directly, use NewHybridUseBenefitRevisionClient() instead.
type HybridUseBenefitRevisionClient struct {
	ep string
	pl runtime.Pipeline
}

// NewHybridUseBenefitRevisionClient creates a new instance of HybridUseBenefitRevisionClient with the specified values.
func NewHybridUseBenefitRevisionClient(credential azcore.TokenCredential, options *arm.ClientOptions) *HybridUseBenefitRevisionClient {
	cp := arm.ClientOptions{}
	if options != nil {
		cp = *options
	}
	if len(cp.Host) == 0 {
		cp.Host = arm.AzurePublicCloud
	}
	return &HybridUseBenefitRevisionClient{ep: string(cp.Host), pl: armruntime.NewPipeline(module, version, credential, &cp)}
}

// List - Gets the version history of a hybrid use benefit
// If the operation fails it returns the *Error error type.
func (client *HybridUseBenefitRevisionClient) List(scope string, planID string, options *HybridUseBenefitRevisionListOptions) *HybridUseBenefitRevisionListPager {
	return &HybridUseBenefitRevisionListPager{
		client: client,
		requester: func(ctx context.Context) (*policy.Request, error) {
			return client.listCreateRequest(ctx, scope, planID, options)
		},
		advancer: func(ctx context.Context, resp HybridUseBenefitRevisionListResponse) (*policy.Request, error) {
			return runtime.NewRequest(ctx, http.MethodGet, *resp.HybridUseBenefitListResult.NextLink)
		},
	}
}

// listCreateRequest creates the List request.
func (client *HybridUseBenefitRevisionClient) listCreateRequest(ctx context.Context, scope string, planID string, options *HybridUseBenefitRevisionListOptions) (*policy.Request, error) {
	urlPath := "/{scope}/providers/Microsoft.SoftwarePlan/hybridUseBenefits/{planId}/revisions"
	if scope == "" {
		return nil, errors.New("parameter scope cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{scope}", url.PathEscape(scope))
	if planID == "" {
		return nil, errors.New("parameter planID cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{planId}", url.PathEscape(planID))
	req, err := runtime.NewRequest(ctx, http.MethodGet, runtime.JoinPaths(client.ep, urlPath))
	if err != nil {
		return nil, err
	}
	reqQP := req.Raw().URL.Query()
	reqQP.Set("api-version", "2019-12-01")
	req.Raw().URL.RawQuery = reqQP.Encode()
	req.Raw().Header.Set("Accept", "application/json")
	return req, nil
}

// listHandleResponse handles the List response.
func (client *HybridUseBenefitRevisionClient) listHandleResponse(resp *http.Response) (HybridUseBenefitRevisionListResponse, error) {
	result := HybridUseBenefitRevisionListResponse{RawResponse: resp}
	if err := runtime.UnmarshalAsJSON(resp, &result.HybridUseBenefitListResult); err != nil {
		return HybridUseBenefitRevisionListResponse{}, runtime.NewResponseError(err, resp)
	}
	return result, nil
}

// listHandleError handles the List error response.
func (client *HybridUseBenefitRevisionClient) listHandleError(resp *http.Response) error {
	body, err := runtime.Payload(resp)
	if err != nil {
		return runtime.NewResponseError(err, resp)
	}
	errType := Error{raw: string(body)}
	if err := runtime.UnmarshalAsJSON(resp, &errType); err != nil {
		return runtime.NewResponseError(fmt.Errorf("%s\n%s", string(body), err), resp)
	}
	return runtime.NewResponseError(&errType, resp)
}
