---
version: 1
interactions:
- request:
    body: '{"TableName":"gotabled7jd6vj608h1o"}'
    form: {}
    headers:
      Authorization:
      - sanitized
      Content-Type:
      - application/json
      Dataserviceversion:
      - "3.0"
      X-Ms-Date:
      - Tue, 03 Aug 2021 15:24:57 GMT
      X-Ms-Version:
      - "2019-02-02"
    url: https://seankaneprim.table.core.windows.net/Tables
    method: POST
  response:
    body: '{"odata.metadata":"https://seankaneprim.table.core.windows.net/$metadata#Tables/@Element","TableName":"gotabled7jd6vj608h1o"}'
    headers:
      Content-Type:
      - application/json;odata=minimalmetadata;streaming=true;charset=utf-8
      Location:
      - https://seankaneprim.table.core.windows.net/Tables('gotabled7jd6vj608h1o')
      X-Ms-Version:
      - "2019-02-02"
    status: 201 Created
    code: 201
    duration: ""
- request:
    body: '{"Bool":true,"Integer":1,"PartitionKey":"partition","RowKey":"1","String":"some
      string 1","Timestamp":"0001-01-01T00:00:00Z"}'
    form: {}
    headers:
      Authorization:
      - sanitized
      Content-Type:
      - application/json
      Dataserviceversion:
      - "3.0"
      Prefer:
      - return-no-content
      X-Ms-Date:
      - Tue, 03 Aug 2021 15:24:57 GMT
      X-Ms-Version:
      - "2019-02-02"
    url: https://seankaneprim.table.core.windows.net/gotabled7jd6vj608h1o
    method: POST
  response:
    body: ""
    headers:
      Dataserviceid:
      - https://seankaneprim.table.core.windows.net/gotabled7jd6vj608h1o(PartitionKey='partition',RowKey='1')
      Etag:
      - W/"datetime'2021-08-03T15%3A24%3A57.081626Z'"
      Location:
      - https://seankaneprim.table.core.windows.net/gotabled7jd6vj608h1o(PartitionKey='partition',RowKey='1')
      Preference-Applied:
      - return-no-content
      X-Ms-Version:
      - "2019-02-02"
    status: 204 No Content
    code: 204
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Authorization:
      - sanitized
      X-Ms-Date:
      - Tue, 03 Aug 2021 15:24:57 GMT
      X-Ms-Version:
      - "2019-02-02"
    url: https://seankaneprim.table.core.windows.net/Tables('gotabled7jd6vj608h1o')
    method: DELETE
  response:
    body: ""
    headers:
      X-Ms-Version:
      - "2019-02-02"
    status: 204 No Content
    code: 204
    duration: ""
