---
version: 1
interactions:
- request:
    body: '{"TableName":"gotable1aw91yk4gnxsv"}'
    form: {}
    headers:
      Authorization:
      - sanitized
      Content-Type:
      - application/json
      Dataserviceversion:
      - "3.0"
      X-Ms-Date:
      - Thu, 15 Jul 2021 21:50:30 GMT
      X-Ms-Version:
      - "2019-02-02"
    url: https://seankaneprim.table.core.windows.net/Tables
    method: POST
  response:
    body: '{"odata.metadata":"https://seankaneprim.table.core.windows.net/$metadata#Tables/@Element","TableName":"gotable1aw91yk4gnxsv"}'
    headers:
      Content-Type:
      - application/json;odata=minimalmetadata;streaming=true;charset=utf-8
      Location:
      - https://seankaneprim.table.core.windows.net/Tables('gotable1aw91yk4gnxsv')
      X-Ms-Version:
      - "2019-02-02"
    status: 201 Created
    code: 201
    duration: ""
- request:
    body: "--batch_517517d3-328a-434c-6249-4c7147146920\r\nContent-Type: multipart/mixed;
      boundary=changeset_a8e2d1d0-0d7b-4c37-7399-f96e348a8270\r\n\r\n--changeset_a8e2d1d0-0d7b-4c37-7399-f96e348a8270\r\nContent-Transfer-Encoding:
      binary\r\nContent-Type: application/http\r\n\r\nPOST https://seankaneprim.table.core.windows.net/gotable1aw91yk4gnxsv?%24format=application%2Fjson%3Bodata%3Dminimalmetadata
      HTTP/1.1\r\nAccept: application/json;odata=minimalmetadata\r\nContent-Length:
      260\r\nContent-Type: application/json\r\nDataserviceversion: 3.0\r\nPrefer:
      return-no-content\r\nX-Ms-Version: 2019-02-02\r\n\r\n{\"Bool\":true,\"Byte\":\"c29tZWJ5dGVz\",\"DateTime\":\"2021-07-13T00:00:00Z\",\"Float\":3.14159,\"Float@odata.type\":\"Edm.Double\",\"Integer\":1,\"Integer@odata.type\":\"Edm.Double\",\"PartitionKey\":\"partition\",\"RowKey\":\"1\",\"String\":\"someString\",\"Timestamp\":\"0001-01-01T00:00:00Z\"}\r\n--changeset_a8e2d1d0-0d7b-4c37-7399-f96e348a8270\r\nContent-Transfer-Encoding:
      binary\r\nContent-Type: application/http\r\n\r\nPOST https://seankaneprim.table.core.windows.net/gotable1aw91yk4gnxsv?%24format=application%2Fjson%3Bodata%3Dminimalmetadata
      HTTP/1.1\r\nAccept: application/json;odata=minimalmetadata\r\nContent-Length:
      260\r\nContent-Type: application/json\r\nDataserviceversion: 3.0\r\nPrefer:
      return-no-content\r\nX-Ms-Version: 2019-0[...]
- request:
    body: ""
    form: {}
    headers:
      Authorization:
      - sanitized
      Dataserviceversion:
      - "3.0"
      X-Ms-Date:
      - Thu, 15 Jul 2021 21:50:31 GMT
      X-Ms-Version:
      - "2019-02-02"
    url: https://seankaneprim.table.core.windows.net/gotable1aw91yk4gnxsv()
    method: GET
  response:
    body: '{"odata.metadata":"https://seankaneprim.table.core.windows.net/$metadata#gotable1aw91yk4gnxsv","value":[{"odata.etag":"W/\"datetime''2021-07-15T21%3A50%3A30.5388809Z''\"","PartitionKey":"partition","RowKey":"1","Timestamp":"2021-07-15T21:50:30.5388809Z","Bool":true,"Byte":"c29tZWJ5dGVz","DateTime":"2021-07-13T00:00:00Z","Float":3.14159,"Integer":1.0,"String":"someString"},{"odata.etag":"W/\"datetime''2021-07-15T21%3A50%3A30.5388809Z''\"","PartitionKey":"partition","RowKey":"10","Timestamp":"2021-07-15T21:50:30.5388809Z","Bool":true,"Byte":"c29tZWJ5dGVz","DateTime":"2021-07-13T00:00:00Z","Float":3.14159,"Integer[...]
- request:
    body: ""
    form: {}
    headers:
      Authorization:
      - sanitized
      X-Ms-Date:
      - Thu, 15 Jul 2021 21:50:32 GMT
      X-Ms-Version:
      - "2019-02-02"
    url: https://seankaneprim.table.core.windows.net/Tables('gotable1aw91yk4gnxsv')
    method: DELETE
  response:
    body: ""
    headers:
      X-Ms-Version:
      - "2019-02-02"
    status: 204 No Content
    code: 204
    duration: ""
