---
version: 1
interactions:
- request:
    body: '{"TableName":"gotable4rpn1oqouhbus"}'
    form: {}
    headers:
      Authorization:
      - sanitized
      Content-Type:
      - application/json
      Dataserviceversion:
      - "3.0"
      X-Ms-Date:
      - Fri, 09 Jul 2021 16:48:35 GMT
      X-Ms-Version:
      - "2019-02-02"
    url: https://seankaneprim.table.core.windows.net/Tables
    method: POST
  response:
    body: '{"odata.metadata":"https://seankaneprim.table.core.windows.net/$metadata#Tables/@Element","TableName":"gotable4rpn1oqouhbus"}'
    headers:
      Content-Type:
      - application/json;odata=minimalmetadata;streaming=true;charset=utf-8
      Location:
      - https://seankaneprim.table.core.windows.net/Tables('gotable4rpn1oqouhbus')
      X-Ms-Version:
      - "2019-02-02"
    status: 201 Created
    code: 201
    duration: ""
- request:
    body: <SignedIdentifiers><SignedIdentifier><Id>empty</Id></SignedIdentifier><SignedIdentifier><AccessPolicy><Permission>r</Permission></AccessPolicy><Id>partial</Id></SignedIdentifier><SignedIdentifier><AccessPolicy><Permission>r</Permission><Expiry>2021-06-08T02:10:09Z</Expiry><Start>2021-06-08T02:10:09Z</Start></AccessPolicy><Id>full</Id></SignedIdentifier></SignedIdentifiers>
    form: {}
    headers:
      Authorization:
      - sanitized
      Content-Type:
      - application/xml
      X-Ms-Date:
      - Fri, 09 Jul 2021 16:48:35 GMT
      X-Ms-Version:
      - "2019-02-02"
    url: https://seankaneprim.table.core.windows.net/gotable4rpn1oqouhbus?comp=acl
    method: PUT
  response:
    body: ""
    headers:
      X-Ms-Version:
      - "2019-02-02"
    status: 204 No Content
    code: 204
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
      Authorization:
      - sanitized
      X-Ms-Date:
      - Fri, 09 Jul 2021 16:48:36 GMT
      X-Ms-Version:
      - "2019-02-02"
    url: https://seankaneprim.table.core.windows.net/Tables('gotable4rpn1oqouhbus')
    method: DELETE
  response:
    body: ""
    headers:
      X-Ms-Version:
      - "2019-02-02"
    status: 204 No Content
    code: 204
    duration: ""
