---
version: 1
interactions:
- request:
    body: '{"TableName":"gotablexid33pehnvw6r"}'
    form: {}
    headers:
      Authorization:
      - sanitized
      Content-Type:
      - application/json
      Dataserviceversion:
      - "3.0"
      X-Ms-Date:
      - Thu, 15 Jul 2021 21:38:10 GMT
      X-Ms-Version:
      - "2019-02-02"
    url: https://seankaneprim.table.core.windows.net/Tables
    method: POST
  response:
    body: '{"odata.metadata":"https://seankaneprim.table.core.windows.net/$metadata#Tables/@Element","TableName":"gotablexid33pehnvw6r"}'
    headers:
      Content-Type:
      - application/json;odata=minimalmetadata;streaming=true;charset=utf-8
      Location:
      - https://seankaneprim.table.core.windows.net/Tables('gotablexid33pehnvw6r')
      X-Ms-Version:
      - "2019-02-02"
    status: 201 Created
    code: 201
    duration: ""
- request:
    body: '{"BigInt":1844674403709551600,"BigInt@odata.type":"Edm.Int64","FloatType":8589934592,"FloatType@odata.type":"Edm.Double","PartitionKey":"partition","RowKey":"1","Timestamp":"0001-01-01T00:00:00Z"}'
    form: {}
    headers:
      Authorization:
      - sanitized
      Content-Type:
      - application/json
      Dataserviceversion:
      - "3.0"
      Prefer:
      - return-no-content
      X-Ms-Date:
      - Thu, 15 Jul 2021 21:38:11 GMT
      X-Ms-Version:
      - "2019-02-02"
    url: https://seankaneprim.table.core.windows.net/gotablexid33pehnvw6r
    method: POST
  response:
    body: '{"odata.error":{"code":"InvalidInput","message":{"lang":"en-US","value":"An
      error occurred while processing this request.\nRequestId:3f6092fb-5002-0005-13c1-793aae000000\nTime:2021-07-15T21:38:10.4093340Z"}}}'
    headers:
      Content-Type:
      - application/json;odata=minimalmetadata;streaming=true;charset=utf-8
      X-Ms-Version:
      - "2019-02-02"
    status: 400 Bad Request
    code: 400
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Authorization:
      - sanitized
      Dataserviceversion:
      - "3.0"
      X-Ms-Date:
      - Thu, 15 Jul 2021 21:38:11 GMT
      X-Ms-Version:
      - "2019-02-02"
    url: https://seankaneprim.table.core.windows.net/gotablexid33pehnvw6r(PartitionKey='pk001',RowKey='1')
    method: GET
  response:
    body: '{"odata.error":{"code":"ResourceNotFound","message":{"lang":"en-US","value":"The
      specified resource does not exist.\nRequestId:3f609329-5002-0005-40c1-793aae000000\nTime:2021-07-15T21:38:10.5194119Z"}}}'
    headers:
      Content-Type:
      - application/json;odata=minimalmetadata;streaming=true;charset=utf-8
      X-Ms-Version:
      - "2019-02-02"
    status: 404 Not Found
    code: 404
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Authorization:
      - sanitized
      Dataserviceversion:
      - "3.0"
      X-Ms-Date:
      - Thu, 15 Jul 2021 21:38:11 GMT
      X-Ms-Version:
      - "2019-02-02"
    url: https://seankaneprim.table.core.windows.net/gotablexid33pehnvw6r()?%24filter=PartitionKey+eq+%27partition%27
    method: GET
  response:
    body: '{"odata.metadata":"https://seankaneprim.table.core.windows.net/$metadata#gotablexid33pehnvw6r","value":[]}'
    headers:
      Content-Type:
      - application/json;odata=minimalmetadata;streaming=true;charset=utf-8
      X-Ms-Version:
      - "2019-02-02"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Authorization:
      - sanitized
      X-Ms-Date:
      - Thu, 15 Jul 2021 21:38:11 GMT
      X-Ms-Version:
      - "2019-02-02"
    url: https://seankaneprim.table.core.windows.net/Tables('gotablexid33pehnvw6r')
    method: DELETE
  response:
    body: ""
    headers:
      X-Ms-Version:
      - "2019-02-02"
    status: 204 No Content
    code: 204
    duration: ""
