---
version: 1
interactions:
- request:
    body: '{"TableName":"gotablemhr5jkk1y0d72"}'
    form: {}
    headers:
      Authorization:
      - sanitized
      Content-Type:
      - application/json
      Dataserviceversion:
      - "3.0"
      X-Ms-Date:
      - Thu, 15 Jul 2021 21:47:25 GMT
      X-Ms-Version:
      - "2019-02-02"
    url: https://seankaneprim.table.core.windows.net/Tables
    method: POST
  response:
    body: '{"odata.metadata":"https://seankaneprim.table.core.windows.net/$metadata#Tables/@Element","TableName":"gotablemhr5jkk1y0d72"}'
    headers:
      Content-Type:
      - application/json;odata=minimalmetadata;streaming=true;charset=utf-8
      Location:
      - https://seankaneprim.table.core.windows.net/Tables('gotablemhr5jkk1y0d72')
      X-Ms-Version:
      - "2019-02-02"
    status: 201 Created
    code: 201
    duration: ""
- request:
    body: '{"Bool":true,"Integer":1,"PartitionKey":"partition","RowKey":"1","String":"some
      string 1","Timestamp":"0001-01-01T00:00:00Z"}'
    form: {}
    headers:
      Authorization:
      - sanitized
      Content-Type:
      - application/json
      Dataserviceversion:
      - "3.0"
      X-Ms-Date:
      - Thu, 15 Jul 2021 21:47:26 GMT
      X-Ms-Version:
      - "2019-02-02"
    url: https://seankaneprim.table.core.windows.net/gotablemhr5jkk1y0d72(PartitionKey='partition',RowKey='1')
    method: PUT
  response:
    body: ""
    headers:
      Etag:
      - W/"datetime'2021-07-15T21%3A47%3A25.2690439Z'"
      X-Ms-Version:
      - "2019-02-02"
    status: 204 No Content
    code: 204
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Authorization:
      - sanitized
      Dataserviceversion:
      - "3.0"
      X-Ms-Date:
      - Thu, 15 Jul 2021 21:47:26 GMT
      X-Ms-Version:
      - "2019-02-02"
    url: https://seankaneprim.table.core.windows.net/gotablemhr5jkk1y0d72(PartitionKey='partition',RowKey='1')
    method: GET
  response:
    body: '{"odata.metadata":"https://seankaneprim.table.core.windows.net/$metadata#gotablemhr5jkk1y0d72/@Element","odata.etag":"W/\"datetime''2021-07-15T21%3A47%3A25.2690439Z''\"","PartitionKey":"partition","RowKey":"1","Timestamp":"2021-07-15T21:47:25.2690439Z","Bool":true,"Integer":1,"String":"some
      string 1"}'
    headers:
      Content-Type:
      - application/json;odata=minimalmetadata;streaming=true;charset=utf-8
      Etag:
      - W/"datetime'2021-07-15T21%3A47%3A25.2690439Z'"
      X-Ms-Version:
      - "2019-02-02"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"Integer":1,"MergeProperty":"foo","PartitionKey":"partition","RowKey":"1","String":"some
      string 1"}'
    form: {}
    headers:
      Authorization:
      - sanitized
      Content-Type:
      - application/json
      Dataserviceversion:
      - "3.0"
      X-Ms-Date:
      - Thu, 15 Jul 2021 21:47:26 GMT
      X-Ms-Version:
      - "2019-02-02"
    url: https://seankaneprim.table.core.windows.net/gotablemhr5jkk1y0d72(PartitionKey='partition',RowKey='1')
    method: PUT
  response:
    body: ""
    headers:
      Etag:
      - W/"datetime'2021-07-15T21%3A47%3A25.4922034Z'"
      X-Ms-Version:
      - "2019-02-02"
    status: 204 No Content
    code: 204
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Authorization:
      - sanitized
      Dataserviceversion:
      - "3.0"
      X-Ms-Date:
      - Thu, 15 Jul 2021 21:47:26 GMT
      X-Ms-Version:
      - "2019-02-02"
    url: https://seankaneprim.table.core.windows.net/gotablemhr5jkk1y0d72()?%24filter=RowKey+eq+%271%27
    method: GET
  response:
    body: '{"odata.metadata":"https://seankaneprim.table.core.windows.net/$metadata#gotablemhr5jkk1y0d72","value":[{"odata.etag":"W/\"datetime''2021-07-15T21%3A47%3A25.4922034Z''\"","PartitionKey":"partition","RowKey":"1","Timestamp":"2021-07-15T21:47:25.4922034Z","Integer":1,"MergeProperty":"foo","String":"some
      string 1"}]}'
    headers:
      Content-Type:
      - application/json;odata=minimalmetadata;streaming=true;charset=utf-8
      X-Ms-Version:
      - "2019-02-02"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Authorization:
      - sanitized
      X-Ms-Date:
      - Thu, 15 Jul 2021 21:47:26 GMT
      X-Ms-Version:
      - "2019-02-02"
    url: https://seankaneprim.table.core.windows.net/Tables('gotablemhr5jkk1y0d72')
    method: DELETE
  response:
    body: ""
    headers:
      X-Ms-Version:
      - "2019-02-02"
    status: 204 No Content
    code: 204
    duration: ""
