---
version: 1
interactions:
- request:
    body: '{"TableName":"gotablerfy2ek8lw8uew"}'
    form: {}
    headers:
      Authorization:
      - sanitized
      Content-Type:
      - application/json
      Dataserviceversion:
      - "3.0"
      X-Ms-Date:
      - Thu, 22 Jul 2021 21:22:59 GMT
      X-Ms-Version:
      - "2019-02-02"
    url: https://seankaneprim.table.core.windows.net/Tables
    method: POST
  response:
    body: '{"odata.metadata":"https://seankaneprim.table.core.windows.net/$metadata#Tables/@Element","TableName":"gotablerfy2ek8lw8uew"}'
    headers:
      Content-Type:
      - application/json;odata=minimalmetadata;streaming=true;charset=utf-8
      Location:
      - https://seankaneprim.table.core.windows.net/Tables('gotablerfy2ek8lw8uew')
      X-Ms-Version:
      - "2019-02-02"
    status: 201 Created
    code: 201
    duration: ""
- request:
    body: '{"Bool":true,"Byte":"c29tZWJ5dGVz","DateTime":"2021-07-13T00:00:00Z","Float":3.14159,"Integer":3,"PartitionKey":"partition","RowKey":"3","String":"someString","Timestamp":"0001-01-01T00:00:00Z"}'
    form: {}
    headers:
      Authorization:
      - sanitized
      Content-Type:
      - application/json
      Dataserviceversion:
      - "3.0"
      Prefer:
      - return-no-content
      X-Ms-Date:
      - Thu, 22 Jul 2021 21:23:00 GMT
      X-Ms-Version:
      - "2019-02-02"
    url: https://seankaneprim.table.core.windows.net/gotablerfy2ek8lw8uew
    method: POST
  response:
    body: ""
    headers:
      Dataserviceid:
      - https://seankaneprim.table.core.windows.net/gotablerfy2ek8lw8uew(PartitionKey='partition',RowKey='3')
      Etag:
      - W/"datetime'2021-07-22T21%3A23%3A00.9506221Z'"
      Location:
      - https://seankaneprim.table.core.windows.net/gotablerfy2ek8lw8uew(PartitionKey='partition',RowKey='3')
      Preference-Applied:
      - return-no-content
      X-Ms-Version:
      - "2019-02-02"
    status: 204 No Content
    code: 204
    duration: ""
- request:
    body: "--batch_03a5c976-870c-49ec-47de-f8324b3c9011\r\nContent-Type: multipart/mixed;
      boundary=changeset_eef20793-2df9-4971-6bd0-39b9d205d863\r\n\r\n--changeset_eef20793-2df9-4971-6bd0-39b9d205d863\r\nContent-Transfer-Encoding:
      binary\r\nContent-Type: application/http\r\n\r\nPOST https://seankaneprim.table.core.windows.net/gotablerfy2ek8lw8uew?%24format=application%2Fjson%3Bodata%3Dminimalmetadata
      HTTP/1.1\r\nAccept: application/json;odata=minimalmetadata\r\nCont[...]
- request:
    body: ""
    form: {}
    headers:
      Authorization:
      - sanitized
      X-Ms-Date:
      - Thu, 22 Jul 2021 21:23:00 GMT
      X-Ms-Version:
      - "2019-02-02"
    url: https://seankaneprim.table.core.windows.net/Tables('gotablerfy2ek8lw8uew')
    method: DELETE
  response:
    body: ""
    headers:
      X-Ms-Version:
      - "2019-02-02"
    status: 204 No Content
    code: 204
    duration: ""
