---
version: 1
interactions:
- request:
    body: '{"TableName":"gotablery1a087nlomyo"}'
    form: {}
    headers:
      Authorization:
      - sanitized
      Content-Type:
      - application/json
      Dataserviceversion:
      - "3.0"
      X-Ms-Date:
      - Wed, 14 Jul 2021 18:33:54 GMT
      X-Ms-Version:
      - "2019-02-02"
    url: https://seankaneprim.table.core.windows.net/Tables
    method: POST
  response:
    body: '{"odata.metadata":"https://seankaneprim.table.core.windows.net/$metadata#Tables/@Element","TableName":"gotablery1a087nlomyo"}'
    headers:
      Content-Type:
      - application/json;odata=minimalmetadata;streaming=true;charset=utf-8
      Location:
      - https://seankaneprim.table.core.windows.net/Tables('gotablery1a087nlomyo')
      X-Ms-Version:
      - "2019-02-02"
    status: 201 Created
    code: 201
    duration: ""
- request:
    body: '{"Bool":true,"Integer":1,"PartitionKey":"partition","RowKey":"1","String":"some
      string 1","TimeStamp":"0001-01-01T00:00:00Z"}'
    form: {}
    headers:
      Authorization:
      - sanitized
      Content-Type:
      - application/json
      Dataserviceversion:
      - "3.0"
      Prefer:
      - return-no-content
      X-Ms-Date:
      - Wed, 14 Jul 2021 18:33:54 GMT
      X-Ms-Version:
      - "2019-02-02"
    url: https://seankaneprim.table.core.windows.net/gotablery1a087nlomyo
    method: POST
  response:
    body: ""
    headers:
      Dataserviceid:
      - https://seankaneprim.table.core.windows.net/gotablery1a087nlomyo(PartitionKey='partition',RowKey='1')
      Etag:
      - W/"datetime'2021-07-14T18%3A33%3A54.4578454Z'"
      Location:
      - https://seankaneprim.table.core.windows.net/gotablery1a087nlomyo(PartitionKey='partition',RowKey='1')
      Preference-Applied:
      - return-no-content
      X-Ms-Version:
      - "2019-02-02"
    status: 204 No Content
    code: 204
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Authorization:
      - sanitized
      Dataserviceversion:
      - "3.0"
      X-Ms-Date:
      - Wed, 14 Jul 2021 18:33:55 GMT
      X-Ms-Version:
      - "2019-02-02"
    url: https://seankaneprim.table.core.windows.net/gotablery1a087nlomyo()?%24filter=RowKey+eq+%271%27
    method: GET
  response:
    body: '{"odata.metadata":"https://seankaneprim.table.core.windows.net/$metadata#gotablery1a087nlomyo","value":[{"odata.etag":"W/\"datetime''2021-07-14T18%3A33%3A54.4578454Z''\"","PartitionKey":"partition","RowKey":"1","Timestamp":"2021-07-14T18:33:54.4578454Z","Bool":true,"Integer":1,"String":"some
      string 1","TimeStamp":"0001-01-01T00:00:00Z"}]}'
    headers:
      Content-Type:
      - application/json;odata=minimalmetadata;streaming=true;charset=utf-8
      X-Ms-Version:
      - "2019-02-02"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Authorization:
      - sanitized
      Dataserviceversion:
      - "3.0"
      X-Ms-Date:
      - Wed, 14 Jul 2021 18:33:55 GMT
      X-Ms-Version:
      - "2019-02-02"
    url: https://seankaneprim.table.core.windows.net/gotablery1a087nlomyo(PartitionKey='partition',RowKey='1')
    method: GET
  response:
    body: '{"odata.metadata":"https://seankaneprim.table.core.windows.net/$metadata#gotablery1a087nlomyo/@Element","odata.etag":"W/\"datetime''2021-07-14T18%3A33%3A54.4578454Z''\"","PartitionKey":"partition","RowKey":"1","Timestamp":"2021-07-14T18:33:54.4578454Z","Bool":true,"Integer":1,"String":"some
      string 1","TimeStamp":"0001-01-01T00:00:00Z"}'
    headers:
      Content-Type:
      - application/json;odata=minimalmetadata;streaming=true;charset=utf-8
      Etag:
      - W/"datetime'2021-07-14T18%3A33%3A54.4578454Z'"
      X-Ms-Version:
      - "2019-02-02"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"Bool":true,"Integer":1,"MergeProperty":"foo","PartitionKey":"partition","RowKey":"1","String":"some
      string 1","TimeStamp":"0001-01-01T00:00:00Z"}'
    form: {}
    headers:
      Authorization:
      - sanitized
      Content-Type:
      - application/json
      Dataserviceversion:
      - "3.0"
      If-Match:
      - '*'
      X-Ms-Date:
      - Wed, 14 Jul 2021 18:33:55 GMT
      X-Ms-Version:
      - "2019-02-02"
    url: https://seankaneprim.table.core.windows.net/gotablery1a087nlomyo(PartitionKey='partition',RowKey='1')
    method: PATCH
  response:
    body: ""
    headers:
      Etag:
      - W/"datetime'2021-07-14T18%3A33%3A54.8502178Z'"
      X-Ms-Version:
      - "2019-02-02"
    status: 204 No Content
    code: 204
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
      Authorization:
      - sanitized
      X-Ms-Date:
      - Wed, 14 Jul 2021 18:33:55 GMT
      X-Ms-Version:
      - "2019-02-02"
    url: https://seankaneprim.table.core.windows.net/Tables('gotablery1a087nlomyo')
    method: DELETE
  response:
    body: ""
    headers:
      X-Ms-Version:
      - "2019-02-02"
    status: 204 No Content
    code: 204
    duration: ""
