---
version: 1
interactions:
- request:
    body: '{"TableName":"gotabledhho2vetd9pvf"}'
    form: {}
    headers:
      Authorization:
      - sanitized
      Content-Type:
      - application/json
      Dataserviceversion:
      - "3.0"
      X-Ms-Date:
      - Tue, 13 Jul 2021 19:45:56 GMT
      X-Ms-Version:
      - "2019-02-02"
    url: https://seankaneprim.table.core.windows.net/Tables
    method: POST
  response:
    body: '{"odata.metadata":"https://seankaneprim.table.core.windows.net/$metadata#Tables/@Element","TableName":"gotabledhho2vetd9pvf"}'
    headers:
      Content-Type:
      - application/json;odata=minimalmetadata;streaming=true;charset=utf-8
      Location:
      - https://seankaneprim.table.core.windows.net/Tables('gotabledhho2vetd9pvf')
      X-Ms-Version:
      - "2019-02-02"
    status: 201 Created
    code: 201
    duration: ""
- request:
    body: '{"Float":3.14159,"Integer":10,"PartitionKey":"pk001","RowKey":"rk001","String":"abcdef","TimeStamp":"0001-01-01T00:00:00Z"}'
    form: {}
    headers:
      Authorization:
      - sanitized
      Content-Type:
      - application/json
      Dataserviceversion:
      - "3.0"
      Prefer:
      - return-no-content
      X-Ms-Date:
      - Tue, 13 Jul 2021 19:45:57 GMT
      X-Ms-Version:
      - "2019-02-02"
    url: https://seankaneprim.table.core.windows.net/gotabledhho2vetd9pvf
    method: POST
  response:
    body: ""
    headers:
      Dataserviceid:
      - https://seankaneprim.table.core.windows.net/gotabledhho2vetd9pvf(PartitionKey='pk001',RowKey='rk001')
      Etag:
      - W/"datetime'2021-07-13T19%3A45%3A56.6831415Z'"
      Location:
      - https://seankaneprim.table.core.windows.net/gotabledhho2vetd9pvf(PartitionKey='pk001',RowKey='rk001')
      Preference-Applied:
      - return-no-content
      X-Ms-Version:
      - "2019-02-02"
    status: 204 No Content
    code: 204
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Authorization:
      - sanitized
      Dataserviceversion:
      - "3.0"
      X-Ms-Date:
      - Tue, 13 Jul 2021 19:45:57 GMT
      X-Ms-Version:
      - "2019-02-02"
    url: https://seankaneprim.table.core.windows.net/gotabledhho2vetd9pvf(PartitionKey='pk001',RowKey='rk001')
    method: GET
  response:
    body: '{"odata.metadata":"https://seankaneprim.table.core.windows.net/$metadata#gotabledhho2vetd9pvf/@Element","odata.etag":"W/\"datetime''2021-07-13T19%3A45%3A56.6831415Z''\"","PartitionKey":"pk001","RowKey":"rk001","Timestamp":"2021-07-13T19:45:56.6831415Z","Float":3.14159,"Integer":10,"String":"abcdef","TimeStamp":"0001-01-01T00:00:00Z"}'
    headers:
      Content-Type:
      - application/json;odata=minimalmetadata;streaming=true;charset=utf-8
      Etag:
      - W/"datetime'2021-07-13T19%3A45%3A56.6831415Z'"
      X-Ms-Version:
      - "2019-02-02"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Authorization:
      - sanitized
      Dataserviceversion:
      - "3.0"
      X-Ms-Date:
      - Tue, 13 Jul 2021 19:45:57 GMT
      X-Ms-Version:
      - "2019-02-02"
    url: https://seankaneprim.table.core.windows.net/gotabledhho2vetd9pvf()?%24filter=PartitionKey+eq+%27pk001%27
    method: GET
  response:
    body: '{"odata.metadata":"https://seankaneprim.table.core.windows.net/$metadata#gotabledhho2vetd9pvf","value":[{"odata.etag":"W/\"datetime''2021-07-13T19%3A45%3A56.6831415Z''\"","PartitionKey":"pk001","RowKey":"rk001","Timestamp":"2021-07-13T19:45:56.6831415Z","Float":3.14159,"Integer":10,"String":"abcdef","TimeStamp":"0001-01-01T00:00:00Z"}]}'
    headers:
      Content-Type:
      - application/json;odata=minimalmetadata;streaming=true;charset=utf-8
      X-Ms-Version:
      - "2019-02-02"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Authorization:
      - sanitized
      X-Ms-Date:
      - Tue, 13 Jul 2021 19:45:57 GMT
      X-Ms-Version:
      - "2019-02-02"
    url: https://seankaneprim.table.core.windows.net/Tables('gotabledhho2vetd9pvf')
    method: DELETE
  response:
    body: ""
    headers:
      X-Ms-Version:
      - "2019-02-02"
    status: 204 No Content
    code: 204
    duration: ""
