---
version: 1
interactions:
- request:
    body: '{"TableName":"gotableraqpgqhkeopde"}'
    form: {}
    headers:
      Authorization:
      - sanitized
      Content-Type:
      - application/json
      Dataserviceversion:
      - "3.0"
      X-Ms-Date:
      - Fri, 16 Jul 2021 18:15:36 GMT
      X-Ms-Version:
      - "2019-02-02"
    url: https://seankaneprim.table.core.windows.net/Tables
    method: POST
  response:
    body: '{"odata.metadata":"https://seankaneprim.table.core.windows.net/$metadata#Tables/@Element","TableName":"gotableraqpgqhkeopde"}'
    headers:
      Content-Type:
      - application/json;odata=minimalmetadata;streaming=true;charset=utf-8
      Location:
      - https://seankaneprim.table.core.windows.net/Tables('gotableraqpgqhkeopde')
      X-Ms-Version:
      - "2019-02-02"
    status: 201 Created
    code: 201
    duration: ""
- request:
    body: '{"BigInt":"1125899906842624","Bool":true,"Bytes":"c29tZWJ5dGVz","Guid":"abcd-efgh-ijkl","PartitionKey":"partition","RowKey":"1","SmallInt":10,"Time":"2021-1-2T3:4:5.6Z","Timestamp":"0001-01-01T00:00:00Z"}'
    form: {}
    headers:
      Authorization:
      - sanitized
      Content-Type:
      - application/json
      Dataserviceversion:
      - "3.0"
      Prefer:
      - return-no-content
      X-Ms-Date:
      - Fri, 16 Jul 2021 18:15:36 GMT
      X-Ms-Version:
      - "2019-02-02"
    url: https://seankaneprim.table.core.windows.net/gotableraqpgqhkeopde
    method: POST
  response:
    body: ""
    headers:
      Dataserviceid:
      - https://seankaneprim.table.core.windows.net/gotableraqpgqhkeopde(PartitionKey='partition',RowKey='1')
      Etag:
      - W/"datetime'2021-07-16T18%3A15%3A35.9299982Z'"
      Location:
      - https://seankaneprim.table.core.windows.net/gotableraqpgqhkeopde(PartitionKey='partition',RowKey='1')
      Preference-Applied:
      - return-no-content
      X-Ms-Version:
      - "2019-02-02"
    status: 204 No Content
    code: 204
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Authorization:
      - sanitized
      Dataserviceversion:
      - "3.0"
      X-Ms-Date:
      - Fri, 16 Jul 2021 18:15:37 GMT
      X-Ms-Version:
      - "2019-02-02"
    url: https://seankaneprim.table.core.windows.net/gotableraqpgqhkeopde(PartitionKey='partition',RowKey='1')?%24format=application%2Fjson%3Bodata%3Dfullmetadata
    method: GET
  response:
    body: '{"odata.metadata":"https://seankaneprim.table.core.windows.net/$metadata#gotableraqpgqhkeopde/@Element","odata.type":"seankaneprim.gotableraqpgqhkeopde","odata.id":"https://seankaneprim.table.core.windows.net/gotableraqpgqhkeopde(PartitionKey=''partition'',RowKey=''1'')","odata.etag":"W/\"datetime''2021-07-16T18%3A15%3A35.9299982Z''\"","odata.editLink":"gotableraqpgqhkeopde(PartitionKey=''partition'',RowKey=''1'')","PartitionKey":"partition","RowKey":"1","Timestamp@odata.type":"Edm.DateTime","Timestamp":"2021-07-16T18:15:35.9299982Z","BigInt":"1125899906842624","Bool":true,"Bytes":"c29tZWJ5dGVz","Guid":"abcd-efgh-ijkl","SmallInt":10,"Time":"2021-1-2T3:4:5.6Z"}'
    headers:
      Content-Type:
      - application/json;odata=fullmetadata;streaming=true;charset=utf-8
      Etag:
      - W/"datetime'2021-07-16T18%3A15%3A35.9299982Z'"
      X-Ms-Version:
      - "2019-02-02"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Authorization:
      - sanitized
      X-Ms-Date:
      - Fri, 16 Jul 2021 18:15:37 GMT
      X-Ms-Version:
      - "2019-02-02"
    url: https://seankaneprim.table.core.windows.net/Tables('gotableraqpgqhkeopde')
    method: DELETE
  response:
    body: ""
    headers:
      X-Ms-Version:
      - "2019-02-02"
    status: 204 No Content
    code: 204
    duration: ""
