---
version: 1
interactions:
- request:
    body: '{"TableName":"gotabler50ulgi64r43f"}'
    form: {}
    headers:
      Authorization:
      - sanitized
      Content-Type:
      - application/json
      Dataserviceversion:
      - "3.0"
      X-Ms-Date:
      - Fri, 21 May 2021 21:59:36 GMT
      X-Ms-Version:
      - "2019-02-02"
    url: https://chrisstablesprim.table.core.windows.net/Tables
    method: POST
  response:
    body: '{"odata.metadata":"https://chrisstablesprim.table.core.windows.net/$metadata#Tables/@Element","TableName":"gotabler50ulgi64r43f"}'
    headers:
      Content-Type:
      - application/json;odata=minimalmetadata;streaming=true;charset=utf-8
      Location:
      - https://chrisstablesprim.table.core.windows.net/Tables('gotabler50ulgi64r43f')
      X-Ms-Version:
      - "2019-02-02"
    status: 201 Created
    code: 201
    duration: ""
- request:
    body: '{"BoolProp":true,"IntProp":1,"PartitionKey":"partition","RowKey":"1","StringProp":"some
      string 1"}'
    form: {}
    headers:
      Authorization:
      - sanitized
      Content-Type:
      - application/json
      Dataserviceversion:
      - "3.0"
      Prefer:
      - return-no-content
      X-Ms-Date:
      - Fri, 21 May 2021 21:59:38 GMT
      X-Ms-Version:
      - "2019-02-02"
    url: https://chrisstablesprim.table.core.windows.net/gotabler50ulgi64r43f
    method: POST
  response:
    body: ""
    headers:
      Dataserviceid:
      - https://chrisstablesprim.table.core.windows.net/gotabler50ulgi64r43f(PartitionKey='partition',RowKey='1')
      Etag:
      - W/"datetime'2021-05-21T21%3A59%3A39.1154205Z'"
      Location:
      - https://chrisstablesprim.table.core.windows.net/gotabler50ulgi64r43f(PartitionKey='partition',RowKey='1')
      Preference-Applied:
      - return-no-content
      X-Ms-Version:
      - "2019-02-02"
    status: 204 No Content
    code: 204
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Authorization:
      - sanitized
      Dataserviceversion:
      - "3.0"
      X-Ms-Date:
      - Fri, 21 May 2021 21:59:38 GMT
      X-Ms-Version:
      - "2019-02-02"
    url: https://chrisstablesprim.table.core.windows.net/gotabler50ulgi64r43f(PartitionKey='partition',RowKey='1')
    method: GET
  response:
    body: '{"odata.metadata":"https://chrisstablesprim.table.core.windows.net/$metadata#gotabler50ulgi64r43f/@Element","odata.etag":"W/\"datetime''2021-05-21T21%3A59%3A39.1154205Z''\"","PartitionKey":"partition","RowKey":"1","Timestamp":"2021-05-21T21:59:39.1154205Z","BoolProp":true,"IntProp":1,"StringProp":"some
      string 1"}'
    headers:
      Content-Type:
      - application/json;odata=minimalmetadata;streaming=true;charset=utf-8
      Etag:
      - W/"datetime'2021-05-21T21%3A59%3A39.1154205Z'"
      X-Ms-Version:
      - "2019-02-02"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Authorization:
      - sanitized
      X-Ms-Date:
      - Fri, 21 May 2021 21:59:39 GMT
      X-Ms-Version:
      - "2019-02-02"
    url: https://chrisstablesprim.table.core.windows.net/Tables('gotabler50ulgi64r43f')
    method: DELETE
  response:
    body: ""
    headers:
      X-Ms-Version:
      - "2019-02-02"
    status: 204 No Content
    code: 204
    duration: ""
