---
version: 1
interactions:
- request:
    body: '{"TableName":"gotablekhgp20ptp7ecl"}'
    form: {}
    headers:
      Authorization:
      - sanitized
      Content-Type:
      - application/json
      Dataserviceversion:
      - "3.0"
      X-Ms-Date:
      - Wed, 14 Jul 2021 19:00:22 GMT
      X-Ms-Version:
      - "2019-02-02"
    url: https://seankaneprim.table.core.windows.net/Tables
    method: POST
  response:
    body: '{"odata.metadata":"https://seankaneprim.table.core.windows.net/$metadata#Tables/@Element","TableName":"gotablekhgp20ptp7ecl"}'
    headers:
      Content-Type:
      - application/json;odata=minimalmetadata;streaming=true;charset=utf-8
      Location:
      - https://seankaneprim.table.core.windows.net/Tables('gotablekhgp20ptp7ecl')
      X-Ms-Version:
      - "2019-02-02"
    status: 201 Created
    code: 201
    duration: ""
- request:
    body: '{"Bool":true,"Integer":1,"PartitionKey":"partition","RowKey":"1","String":"some
      string 1","TimeStamp":"0001-01-01T00:00:00Z"}'
    form: {}
    headers:
      Authorization:
      - sanitized
      Content-Type:
      - application/json
      Dataserviceversion:
      - "3.0"
      X-Ms-Date:
      - Wed, 14 Jul 2021 19:00:22 GMT
      X-Ms-Version:
      - "2019-02-02"
    url: https://seankaneprim.table.core.windows.net/gotablekhgp20ptp7ecl(PartitionKey='partition',RowKey='1')
    method: PUT
  response:
    body: ""
    headers:
      Etag:
      - W/"datetime'2021-07-14T19%3A00%3A22.2654532Z'"
      X-Ms-Version:
      - "2019-02-02"
    status: 204 No Content
    code: 204
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Authorization:
      - sanitized
      Dataserviceversion:
      - "3.0"
      X-Ms-Date:
      - Wed, 14 Jul 2021 19:00:22 GMT
      X-Ms-Version:
      - "2019-02-02"
    url: https://seankaneprim.table.core.windows.net/gotablekhgp20ptp7ecl(PartitionKey='partition',RowKey='1')
    method: GET
  response:
    body: '{"odata.metadata":"https://seankaneprim.table.core.windows.net/$metadata#gotablekhgp20ptp7ecl/@Element","odata.etag":"W/\"datetime''2021-07-14T19%3A00%3A22.2654532Z''\"","PartitionKey":"partition","RowKey":"1","Timestamp":"2021-07-14T19:00:22.2654532Z","Bool":true,"Integer":1,"String":"some
      string 1","TimeStamp":"0001-01-01T00:00:00Z"}'
    headers:
      Content-Type:
      - application/json;odata=minimalmetadata;streaming=true;charset=utf-8
      Etag:
      - W/"datetime'2021-07-14T19%3A00%3A22.2654532Z'"
      X-Ms-Version:
      - "2019-02-02"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"Integer":1,"MergeProperty":"foo","PartitionKey":"partition","RowKey":"1","String":"some
      string 1"}'
    form: {}
    headers:
      Authorization:
      - sanitized
      Content-Type:
      - application/json
      Dataserviceversion:
      - "3.0"
      X-Ms-Date:
      - Wed, 14 Jul 2021 19:00:22 GMT
      X-Ms-Version:
      - "2019-02-02"
    url: https://seankaneprim.table.core.windows.net/gotablekhgp20ptp7ecl(PartitionKey='partition',RowKey='1')
    method: PUT
  response:
    body: ""
    headers:
      Etag:
      - W/"datetime'2021-07-14T19%3A00%3A22.4806075Z'"
      X-Ms-Version:
      - "2019-02-02"
    status: 204 No Content
    code: 204
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Authorization:
      - sanitized
      Dataserviceversion:
      - "3.0"
      X-Ms-Date:
      - Wed, 14 Jul 2021 19:00:23 GMT
      X-Ms-Version:
      - "2019-02-02"
    url: https://seankaneprim.table.core.windows.net/gotablekhgp20ptp7ecl()?%24filter=RowKey+eq+%271%27
    method: GET
  response:
    body: '{"odata.metadata":"https://seankaneprim.table.core.windows.net/$metadata#gotablekhgp20ptp7ecl","value":[{"odata.etag":"W/\"datetime''2021-07-14T19%3A00%3A22.4806075Z''\"","PartitionKey":"partition","RowKey":"1","Timestamp":"2021-07-14T19:00:22.4806075Z","Integer":1,"MergeProperty":"foo","String":"some
      string 1"}]}'
    headers:
      Content-Type:
      - application/json;odata=minimalmetadata;streaming=true;charset=utf-8
      X-Ms-Version:
      - "2019-02-02"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Authorization:
      - sanitized
      X-Ms-Date:
      - Wed, 14 Jul 2021 19:00:23 GMT
      X-Ms-Version:
      - "2019-02-02"
    url: https://seankaneprim.table.core.windows.net/Tables('gotablekhgp20ptp7ecl')
    method: DELETE
  response:
    body: ""
    headers:
      X-Ms-Version:
      - "2019-02-02"
    status: 204 No Content
    code: 204
    duration: ""
