---
version: 1
interactions:
- request:
    body: '{"TableName":"gotable3cdz8jxllhlrx"}'
    form: {}
    headers:
      Authorization:
      - sanitized
      Content-Type:
      - application/json
      Dataserviceversion:
      - "3.0"
      X-Ms-Date:
      - Fri, 02 Jul 2021 16:41:27 GMT
      X-Ms-Version:
      - "2019-02-02"
    url: https://seankaneprim.table.core.windows.net/Tables
    method: POST
  response:
    body: '{"odata.error":{"code":"TableBeingDeleted","message":{"lang":"en-US","value":"The
      specified table is being deleted. Try operation later.\nRequestId:2c372f12-9002-0035-3f61-6f8461000000\nTime:2021-07-02T16:41:27.9766306Z"}}}'
    headers:
      Content-Type:
      - application/json;odata=minimalmetadata;streaming=true;charset=utf-8
      X-Ms-Version:
      - "2019-02-02"
    status: 409 Conflict
    code: 409
    duration: ""
